[2018-08-03 13:51] iDemonix commented on #4392
Hi @simonpasquier, requested output below.

[code]

My Prom1 box is just sat with a failed Prometheus that won't start anymore due to mmap issues, my Prom2 box I installed Docker on instead and so far, so good (using an external data volume).

I'll rebuild the Prom1 box soon in to a Docker host, if you'd like any more diagnostics over the weekend, let me know! I tried a few more vm.X and similar s

[2018-08-03 14:28] brian-brazil commented on #4456
This is not a sane setup. Remote storage is meant to be an extension of local storage, not to replace it.

[2018-08-03 14:41] brian-brazil commented on #4456
To expand a bit, Prometheus is explicitly not meant to be a clustered system as that has complexity and reliability implications. Accordingly we aren't going to add features to allow users to try and make it one, as that'd end us up in the situation we want to avoid.

You should probably look at Cortex rather than trying to create one of these yourself.

[2018-08-03 15:55] valyala commented on #4456
The clustered system is already there - almost all the [existing remote storage integrations](https://prometheus.io/docs/operating/integrations/#remote-endpoints-and-storage) are clustered in the reality. But it remains outside the Prometheus. The Prometheus just pushes data into these system and may query it back via remote storage API.

There is also [Thanos](https://github.com/improbable-eng/th

[2018-08-03 16:12] brian-brazil commented on #4456
Yes, but always using the local storage as the primary.

It works in a different way.

[2018-08-03 17:30] Bplotka commented on #4456
Thanos does not use any of remote read/write features, except maybe direct usage of `/api/v1/read` protobuf enabled endpoint to fetch data required for global query. Actually local storage is extremely important for Thanos, since we use it as local persistent metric buffer. You can look in details how Thanos is designed here: https://improbable.io/games/blog/thanos-prometheus-at-scale (:

[2018-08-03 19:22] FUSAKLA commented on #3876
@simonpasquier Hi, definitely. I had working version based on the Krasi's branch with updated client-go, so hopefully it will be easy to port after those major updates in k8s SD.

I'll get to it during this weekend hopefully.

[2018-08-04 04:39] noqcks commented on #4446
/assign

[2018-08-04 13:41] FUSAKLA commented on #3876
so there it is
https://github.com/prometheus/prometheus/pull/4458

[2018-08-06 05:52] identificator1 opened #4466 "Promtool 2.3.2 fails if adding sample_limit in "global" section"
promtool, version 2.3.2
If to add sample_limit in global section
[code]
 it fails:
`promtool we get an error: field sample_limit not found in type config.plain`

Running promtheus:
`load configuration (--config.file=/etc/prometheus/prometheus.yml): parsing YAML file /etc/prometheus/prometheus.yml: unknown fields in global config: sample_limit"`

If to add in scrape_configs section in job - works f

[2018-08-06 08:15] simonpasquier commented on #4466
This is working as expected: there's no global `sample_limit` parameter.

https://prometheus.io/docs/prometheus/latest/configuration/configuration/#configuration-file

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-08-06 08:15] #4466 closed

[2018-08-06 16:59] swtch1 opened #4468 "Prometheus Golang Dependency Resolution"
## Bug Report
**What did you do?**
I tried to use [dep](https://github.com/golang/dep) to resolve dependencies, and also tried to use [go modules](https://research.swtch.com/vgo-module) with the [go1.11 beta 3](https://golang.org/dl/#go1.11beta3) to get the code.

In trying to use Prometheus as a library (using data structures and methods for [config](https://github.com/prometheus/prometheus/blob/

[2018-08-06 22:27] juliusv commented on #4468
This is why we vendor - because external dependencies can change vanish at any time ;)

For example, the `github.com/Azure/azure-sdk-for-go/arm/compute` package does exist, but in that repository, the current master version does not contain that package anymore. However, it still exists at the revision we vendored it at (the revision is in `vendor/vendor.json`): https://github.com/Azure/azure-sdk-

[2018-08-06 22:28] juliusv commented on #4468
Closing this as it seems to be answered and is not a Prometheus issue. Please reopen if you think this was a mistake.

[2018-08-06 22:28] #4468 closed

[2018-08-06 22:33] #4446 closed

[2018-08-07 03:52] rainpavilion opened #4470 "discovery.Manager.runUpdater() only needs to run once"
A provider runs runUpdater()，but they do same things, it maybe a bug.

[2018-08-07 07:35] #4441 closed

[2018-08-07 08:58] simonpasquier commented on #4470
Ah, you might have spotted "interesting"... I agree that a new `runUpdater()` goroutine is spawned for every SD provider while only one instance is needed AFAICT. This could explain SD issues like #4124.

https://github.com/prometheus/prometheus/blob/46fb4078a6bbf98732a9c9016a0104829b33ed99/discovery/manager.go#L127-L136

@krasi-georgiev?

[2018-08-07 12:32] TroubleshooteRJ opened #4475 "keep on getting "disk quota exceeded" Log on wal file"
hello team,

I am running **prometheus, version 2.3.1** (branch: HEAD, revision: 188ca45bd85ce843071e768d855722a9d9dabe03)

Running prometheus on an LXC container on Proxmox VE. was getting the following error ->
**WAL log samples: log series: write /var/lib/prometheus/wal/001530: disk quota exceeded**

Because the disk was actually full. Later I increased the container size to 80GB from 32GB. and

[2018-08-07 12:58] simonpasquier commented on #4475
Thanks for your report. It looks as if this is actually a question about usage and not development because you're experiencing a file system problem with the underlying system.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more inte

[2018-08-07 12:58] #4475 closed

[2018-08-07 13:09] simonpasquier opened #4476 "Flaky TestForStateRestore test"
`make test` has failed on my local machine with:

[code]

[2018-08-07 13:10] TroubleshooteRJ commented on #4475
Sure. Thanks simonpasquier.

[2018-08-07 13:53] simonpasquier opened #4477 "Flaky "invalid memory address or nil pointer" error in rules package's tests"
Spotted in https://travis-ci.org/prometheus/prometheus/builds/413101424

[code]

[2018-08-07 14:02] simonpasquier commented on #4393
_I've edited the original description to fix the formatting_

[2018-08-07 14:40] #4112 closed

[2018-08-07 14:43] simonpasquier commented on #4089
Many TSDB bugs have been fixed between v2.2.1 and now. I didn't find any other report of a similar issue. I'm closing it for now. Feel free to reopen if you're still having the problem with Prometheus v2.3.2.

[2018-08-07 14:43] #4089 closed

[2018-08-07 15:05] simonpasquier commented on #3947
Closed by #4211 regarding the Contributing guide.

[2018-08-07 15:05] #3947 closed

[2018-08-07 16:07] simonpasquier commented on #4003
I'm closing this issue as it seems to have been a flaky error. Feel free to reopen if this is still a problem for you.

[2018-08-07 16:07] #4003 closed

[2018-08-07 16:09] simonpasquier commented on #3932
Fixed by #4106

[2018-08-07 16:09] #3932 closed

[2018-08-07 16:30] auhlig commented on #4003
Haven't seen it since running v2.2.3

[2018-08-07 16:31] simonpasquier commented on #3566
This issue being reported against v2.0.0, can you reproduce it with the latest Prometheus version (v2.3.2)?

[2018-08-07 16:33] simonpasquier commented on #4003
thanks for the heads-up @auhlig

[2018-08-07 18:18] dfredell commented on #3781
@simonpasquier
I'm no longer having this issue. I don't remember what exactly fixed it, it was either https://smartos.org/bugview/OS-6467 or https://github.com/joyent/containerpilot/issues/536 I think.

[2018-08-07 20:16] TroubleshooteRJ commented on #4028
hey mattouille, Did you find the root cause ?? I am scared to restart the prometheus after my changes of increasing the disk size.
https://github.com/prometheus/prometheus/issues/4475

[2018-08-07 20:27] TroubleshooteRJ commented on #3283
My running prometheus, version 2.3.1. I keep on getting the following error -> WAL log samples: log series: write /var/lib/prometheus/wal/001530: disk quota exceeded
after increasing the lxc size to 80GB from 32GB we still get the same error for the same old wal file

msg="append failed" err="WAL log samples: log series: write /var/lib/prometheus/wal/001530: disk quota exceeded"

`rakesh.jain@labs

[2018-08-08 06:32] simonpasquier commented on #3781
@dfredell thanks!

[2018-08-08 06:32] #3781 closed

[2018-08-08 10:50] jojohappy commented on #4477
I can not reproduce this test failed and the link seems to be passed. I would love to fix this bug.

[2018-08-08 12:17] sl4dy opened #4480 "Support optional ConfigMap volumes for alerting rules"
## Proposal
**Support optional ConfigMap volumes for alerting rules**

We provide ConfigMaps with alerting rules in Helm chart of particular application. However, we need to make Prometheus aware of such ConfigMaps prior to creating the particular Helm chart containing the given ConfigMap. I have tried to mark the ConfigMap volume as optional:

[code]

However Prometheus fails to start:

[code]

I

[2018-08-08 16:17] ealexhaywood commented on #1570
@amaury-d yes, but that only returns **firing** alerts.  People here want inactive and pending alerts as well

[2018-08-08 17:06] fr0stbyte opened #4481 "Adding a new relabel_config action: 'translate'"
## Proposal
**Use case. Why is this important?**

Add a new relabel_config action that will convert a substring from the target label into another substring for all occurrences.

The most obvious use case is when a certain characters from a metric names need to change in order to adjust to the exported store format, or user's preference.

I have seen that the general recommended approach is to add

[2018-08-08 17:09] gajus opened #4482 "/metrics does not respect --web.external-url configuration"
## Bug Report

**What did you do?**

I have configured `--web.external-url=http://gajus.com/prometheus/`.

**What did you expect to see?**

All Prometheus service endpoints to be prefixed with a path that is part of the `--web.external-url`.

**What did you see instead? Under which circumstances?**

The host is respected, but the path is not respected, i.e. Prometheus attempts to look for http://g

[2018-08-08 17:09] gajus commented on #4482
I have raised an issue with Helm charts too, just in case this is a configuration error.

https://github.com/helm/charts/issues/7088

[2018-08-09 01:09] ntindall commented on #4420
I wrote this to convert logfmt to json .... https://github.com/ntindall/logfmt2json
but can we just merge  prometheus/common#136 to bring back the json support?

[2018-08-09 01:13] ntindall commented on #4388
@krasi-georgiev can you point me to the source code / documentation for the tsdb scan tool?

I don't think it is this, is it? https://github.com/prometheus/tsdb/blob/master/cmd/tsdb/main.go

[2018-08-09 02:31] leejones92 opened #4483 "delta(risk_gateway_count[5m]) why value is double? shouldn't be int?"
`"metric":{
                    "bizMethod":"m.api.risk.magic.tags",
                    "code":"0000",
                    "fee":"Y",
                    "handler":"RiskGatewayController.riskGateway",
                    "httpMethod":"GET",
                    "instance":"10.29.180.203:4089",
                    "job":"monitor_interfaces",
                    "msg":"操作成功",
                    "pa

[2018-08-09 02:37] leejones92 commented on #4483
and "8.187257142857142" what's its unit?

[2018-08-09 06:44] brian-brazil commented on #4481
Thanks for you suggestion. Can you explain more about your use case?

It is the responsibility of an exporter to produce valid and useful Prometheus metrics, and that include providing good metric names. This sort of thing should only be the case when you have no control over the code, which is not the case with an exporter.

[2018-08-09 06:46] brian-brazil commented on #4482
Can you share your configuration file?

This setting configures the Prometheus http server, it has no effect on the scrape logic.

[2018-08-09 06:47] brian-brazil commented on #4483
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-08-09 06:47] #4483 closed

[2018-08-09 06:54] leejones92 commented on #4483
oh,sorry,ths u

[2018-08-09 09:46] gajus commented on #4482
Using the default configuration (https://github.com/helm/charts/blob/master/stable/prometheus/values.yaml) extended with the earlier mentioned configuration.

Point is that the http://gajus.com/prometheus/metrics endpoint exists and http://gajus.com/metrics does not. Since I have configured `baseURL` / `prefixURL`, I expect the checker to use the correct endpoint.

By the way, Prometheus does actu

[2018-08-09 11:09] simonpasquier commented on #4477
@jojohappy right the failed build log has been overwritten. I don't know how to reproduce it unfortunately.

[2018-08-09 12:32] brian-brazil commented on #4482
That sounds like an issue with the Helm chart, Prometheus is working as documented.

[2018-08-09 13:05] veox commented on #4392
@iDemonix sorry for the "long reply"; I'm running this on a Raspberry Pi 3, Model B v1.2 - so, this is not limited to VPS setups with any particular virtualisation stack, or `x86_64` architectures.

The OS in my case is an Arch Linux Arm 32-bit.

It was using Prometheus v2.2.1 since 2018-03-20, built locally on the same board; with just 3-4 monitored systems - the issue wasn't present then.

My [e

[2018-08-09 13:27] gajus commented on #4482
Which part of Prometheus is working as expected... ?

<img width="1444" alt="screen shot 2018-08-09 at 14 25 54" src="https://user-images.githubusercontent.com/973543/43901750-2939cae4-9be0-11e8-9afe-11dd077233d7.png">

If by `baseURL` is https://gajus.com/prometheus/, then the above should query http://localhost:9090/prometheus/metrics or this assumption flawed?

[2018-08-09 13:49] brian-brazil commented on #4482
Prometheus has no notion of baseURL, that's a Helm thing.

[2018-08-09 13:52] gajus commented on #4482
`--web.external-url`, sorry.

https://github.com/helm/charts/blob/333bdfb086f70f4e8c3fe6f1c239418d6ff1e653/stable/prometheus/templates/server-deployment.yaml#L90-L92

Doesn't change the question.

[2018-08-09 15:04] simonpasquier commented on #4392
@veox can you paste `/proc/meminfo` too? If you could share the output of the `tsdb` tool on your `data` directory it would be great also (same for @iDemonix). `go get github.com/prometheus/tsdb/cmd/tsdb` should do the trick but if needed I can provide the binary.

[2018-08-09 16:14] veox commented on #4392
@simonpasquier Sure!

Although, I've just (accidentally) wiped the `data` dir, so this might take a while to re-surface.

As a sort of "baseline" for a "working fine" state:

* [`cat /proc/meminfo` gist](https://gist.github.com/veox/c983f2b104134391a4faf5e84d6c1c2f).
* [`sudo ~/go/bin/tsdb ls -h /home/prometheus/data` gist](https://gist.github.com/veox/4e964f6e241d0cb20d2851cc6edc9054).

[2018-08-10 07:48] schweikert opened #4484 "Removal of "prometheus.io/scrape", etc. from kubernetes example"
I am a bit puzzled by this commit:
https://github.com/prometheus/prometheus/commit/03a9e7f72e072c6d29f422425d8acd91a957836b

Is there a reference where this was discussed? Even though this is a convention and not something that needs to be done that way, I fail to see how completely removing this and replacing it with pseudo code is helping users. Even though it wasn't formalized, having a sort-of

[2018-08-10 07:49] schweikert commented on #4484
@Bplotka : maybe you could comment?

[2018-08-10 08:04] Bplotka commented on #4484
@schweikert sure, can comment. (:

Here is the reference for the discussion and *ALL* the reasons and pros & cons of that change in examples: https://github.com/prometheus/prometheus/pull/4131

Let us know if something needs to be explained in further details.

[2018-08-10 08:05] Bplotka commented on #4484
I don't know why commit does not reference the PR ):

[2018-08-10 09:37] schweikert commented on #4484
Thanks for the link to that github issue. That's what I was looking for. I searched for it, but failed to find it :)

Anyway, personally I think that this is a bit of a shame. I think the old suggested way has the advantage of being very simple and I find it to be very useful for most of my use cases. I don't have often the problem of having two containers that need scraping in the same pod. Even

[2018-08-10 09:45] Bplotka commented on #4484
I agree that you can still use annotation if your use case is simple. In fact, what we did in this PR we just tried to make it clear and explain more how to use simple annotations and how it works. We did not remove any example. We just made it clear that this is only an example and not "recommended" and "golden" way for doing this.

The main reason of the change is the fact that people were refer

[2018-08-10 09:50] schweikert commented on #4484
The change removed for example prometheus.io/scrape and replaced with example.io/should_be_scraped. I think that's a bit too drastic and means that all users that want to configure this, need also to think about how to name that annotation. Having a sort-of-standard for that simple use case was useful.

[2018-08-10 09:56] schweikert commented on #4484
I have added a reply to this google groups thread:
https://groups.google.com/forum/#!topic/prometheus-users/ihMUWtX477Q

[2018-08-10 10:05] schweikert commented on #4484
This issue probably can be closed, considering that the change was reviewed and agreed on. Move the discussion to prometheus-users. Thanks again Bplotka for your answer. Also, I learned today about how to find a pull request related to a certain github commit (there is actually a link to #4131 when looking at the commit: https://github.com/prometheus/prometheus/commit/03a9e7f72e072c6d29f422425d8ac

[2018-08-10 10:05] #4484 closed

[2018-08-10 11:50] ijonsnow commented on #3632
Hi,
 is this issue resolved?
Am facing data loss in prometheus 2.1 version. Have data loss points in grafana dashboards.
Reload configuration issue, results in data loss points.

https://www.robustperception.io/reloading-prometheus-configuration

[2018-08-10 15:43] #4425 closed

[2018-08-11 06:17] brian-brazil commented on #4482
Yes, Prometheus is working as expected. You told it to scrape /metrics so that's what it tried to do.

[2018-08-11 06:29] krasi-georgiev commented on #4388
https://github.com/prometheus/tsdb/pull/320

it is still WIP

[2018-08-11 07:28] gajus commented on #4482
Which part of configuration is that?

[2018-08-11 13:41] hoffie commented on #4482
I am not familiar with helm/charts at all, but if I were to guess, this is the place where another metrics path would have to be configured:
https://github.com/helm/charts/blob/4728544e0556cac4e52c70691f60c4ba31e36231/stable/prometheus/values.yaml#L789

No metrics_path is configured there, which means Prometheus takes the default of /metrics. This works as long as --web.external-url is not set. Bu

[2018-08-12 05:24] krasi-georgiev commented on #4311
@dhbarman did you get this resolved so I can close the issue?

[2018-08-12 14:44] krasi-georgiev commented on #2935
I would say good to close as well

for SD we have an issue on prombench
https://github.com/prometheus/prombench/issues/133

[2018-08-12 14:50] krasi-georgiev commented on #4440
not a big fan of auto refresh.  a bit annoying especially when you try to copy something from the page.

Don't see a big problem to hit refresh when you expect that something should have changed.

[2018-08-12 20:42] roidelapluie opened #4490 "Add hidden labels for outgoing alerts"
As part of the alerts metrics relabelling,

I would like to have access to a hidden field

__for

which would be the "for" clause of the alert.

Then I can do:

[code]

[2018-08-12 20:55] roidelapluie commented on #4490
The challenge will be that that __for duration: should it part of the fingerprint of the labelset they correspond to ?

[2018-08-12 21:26] roidelapluie commented on #4490
some of our notifiers are graphing the alerts and other promql that we pass as annotations; but getting the "for" information once for all the alerts would be a nice shortcut versus needed to ensure that he "for" label is aligned with the "for" duration of the alert. I propose a hidden label by default so that people who have no interest in that are not affected.

[2018-08-12 21:29] roidelapluie commented on #4490
[code]

[2018-08-12 21:34] brian-brazil commented on #4490
In alerting terms, we already have annotations for the role of non-identifying labels. I don't think this is something that we should be sending by default as it'd pollute the default notifications and others that list all annotations - and thus is also a breaking change. I think this is better served by being handled in configuration management.

[2018-08-13 03:36] Misterhex commented on #3191
Using 2.3.2 but still getting the same issue.

`goroutine profile: total 42
5 @ 0x1532162 0x155ef66 0x155977f 0x1570230 0x459d11
#	0x1532161	github.com/prometheus/prometheus/vendor/github.com/prometheus/tsdb/chunkenc.(*xorAppender).Append+0x891	/go/src/github.com/prometheus/prometheus/vendor/github.com/prometheus/tsdb/chunkenc/xor.go:131
#	0x155ef65	github.com/prometheus/prometheus/vendor/github.c

[2018-08-13 06:00] zjwzte opened #4491 "Proposal: more flexible token configure in scrape_config"
## Proposal
**Use case. **
in our exist system, we'd like to provide  restful api for prometheus to scripe metrics;
however,in our system we use self-define http head "Access-Token" to take token info, to use prometheus
we have to resolve http head "Authorization" used in prometheus scripe http request;

Can more flexible token configure  in scrape_config be provided to specify use which http head

[2018-08-13 06:46] roidelapluie commented on #4490
ack

[2018-08-13 06:46] #4490 closed

[2018-08-13 06:50] brian-brazil commented on #4491
Thanks for your suggestion. We purposefully avoid supporting non-standard auth mechanisms, as that would be challenging to maintain and be a rabbit hole feature wise. In addition allowing arbitrary headers to be passed would make debugging for users quite a bit more difficult, as it wouldn't be possible to look at a /metrics in a browser.

If you have a system that doesn't support basic auth, bear

[2018-08-13 07:30] zjwzte commented on #4491
Thanks for your reply；
maybe proxy_url is a better way;

thanks

[2018-08-13 07:40] brian-brazil commented on #4491
Something else to consider is if you really need to tie into your existing rest setup. Metrics is more an admin/debug endpoint, so you may wish to handle it however you usually handle those.

[2018-08-13 08:13] brancz commented on #4124
I think I may have finally been able to reproduce this to some degree. I created 200 Kubernetes SD entries in my config which discovers one service in a Kubernetes cluster and I scale the monitored service up and down a couple of times from 25 to 12 to 35 pods, and I can see that there are large amounts of timeouts, no route to host, etc. errors. I have yet to debug this more but here are the mani

[2018-08-13 08:35] mxinden commented on #1570
@ealexhaywood https://github.com/prometheus/prometheus/pull/4318 exposes pending alerts via `api/v1/alerts` as well. Inactive alerts are not exposed.

@juliusv as the initial issue is about getting alerts in general, should we close here with https://github.com/prometheus/prometheus/pull/4318 being merged?

[2018-08-13 08:41] juliusv commented on #1570
@mxinden Yes, thank you! Closing.

[2018-08-13 08:41] #1570 closed

[2018-08-13 08:47] mxinden commented on #2467
With https://github.com/prometheus/prometheus/pull/4318 merged, I updated the top level issue:

[2018-08-13 08:58] roidelapluie commented on #394
can we move this one step further and agree on a design?

[code]

- The timestamp would be the timestamp of the recording rule, *not* the scrape
- This would be done after the scrape is written to TSDB, so this would be independant from the scrape, therefore not guaranteed to run after each scrape
- This would not run on failed scrapes
- We would not guarantee that they would not run on parallel,

[2018-08-13 09:08] brian-brazil commented on #394
It would be of the scrape. Why would you want a less accurate timestamp?

We should be trying to run after each scrape. The question is more how does this interact with the scrape timeout.

It would, just like recording rules do.

[2018-08-13 09:10] brian-brazil commented on #394
That would be very difficult for a user to use. The PromQL would be tweaked in the background. This prevents anyone using honor_labels/metric_relabel_configs to take in samples that don't match the target labels - but that's I think a fundamental issue here. Such a rule can only access data from its target.

[2018-08-13 09:16] roidelapluie commented on #394
honor_labels/metric_relabel_configs must be out of scope because with them you can get metrics that have no common labels.

Or are we ready to limit the scope of the rules to exactly the series of the job/target (and then forbid the usage of, e.g. stddev)?

[2018-08-13 09:18] brian-brazil commented on #394
Scrape-time rules are per-target, so if you want to do stddev across targets you still need a recording rule. Stddev within a target would still work.

[2018-08-13 09:27] roidelapluie commented on #394
We set the "  job: snmp" at the group level, which implies it will run after each scrape of a target in that job

[2018-08-13 09:28] roidelapluie commented on #394
That is then ignoring relabeling/honor_labels ?

[2018-08-13 09:32] krasi-georgiev commented on #3191
@Misterhex would you mind opening a new issue and include a more detailed report with minimal config and  steps to reproduce and I can look into it.

[2018-08-13 09:33] brian-brazil commented on #394
Why is the job label special here, or do you mean the scrape config name?

It's more that the labels of the scraped data may not match the target labels.

[2018-08-13 09:37] roidelapluie commented on #394
Yes scrape config name, so job_name would be better.

So what would be the solution here?

[2018-08-13 09:38] krasi-georgiev commented on #4124
Great I will deploy and troubleshoot.

[2018-08-13 09:40] brian-brazil commented on #394
That could be an entire k8 cluster, of which you only want to apply the rule to one service. I think this should work off target labels.

I don't think there is one, it'd just be a known limitation.

[2018-08-13 09:43] roidelapluie commented on #394
groups:
- name: example
  target_labels:
  - job: [snmp]
  - zone: [dmz,internet]
  rules:
  - record: ifHCInOctets:irate6m
    expr: irate(ifHCInOctets{ {{range $k, $v := $scrapeLabels}}{{$k}}=\"{{$v}}\",{{end}} }[6m])

[2018-08-13 09:48] roidelapluie commented on #394
Without a limitation also on job_name, there would be a penalty on every scrape

[2018-08-13 09:48] brian-brazil commented on #394
Not really, targets aren't created often.

Templating should also not be in the expr.

[2018-08-13 09:51] roidelapluie commented on #394
Okay so, we would scan the targets when they are created and also when rules are changed/deleted.

[2018-08-13 12:05] krasi-georgiev opened #4493 "Breaking files of the main package makes it difficult to test using `go run`"
## Proposal
**Use case. Why is this important?**
Run and debug Prometheus locally.
It is important so that we can debug quickly :)

I wish we could organise the files so that the `cmd/prometheus/` contains only `main.go` and `main_test.go` so that I can run and debug only using `go run main.go`.

currently we have so many files in there so that it  is no easy to follow which files need to be passe

[2018-08-13 13:08] roidelapluie commented on #4493
is `go run *.go` such a big deal?

[2018-08-13 13:14] csmarchbanks commented on #4169
@shubheksha Are you still planning to work on this? If not I would like to pick it up.

[2018-08-13 13:34] krasi-georgiev commented on #4493
I wish it was that easy :)
 this picks up the `main_test.go` and fails. I tried many different combinations and nothing worked.

opening a PR in a sec as this was very easy to fix by moving these in a dedicated package.

[2018-08-13 13:49] simonpasquier commented on #4480
In general the project prefers to fail hard on configuration errors (such as using a directory where the application expects a file) rather than silently catching the error and expecting the user to notice it.

[2018-08-13 15:54] simonpasquier commented on #4124
I deployed @brancz's configuration to my local machine (equivalent of `minikube`). Even without scaling up/down the pods, I can't get Prometheus to discover all the pods if I start with 4 replicas (x 200 jobs = 800 targets in theory, I reach about 600 in practice). After a few minutes, the number of targets increases slowly but I haven't waited enough to see if it reaches the expected number.
With

[2018-08-13 21:30] cstyan commented on #4414
Picking this up.

Just having a read over the discussion (here, the other PR, mailing list) and trying to get up to speed with the code in `/promql`.

@brian-brazil are there any docs for the promql internals similar to what you wrote for discovery, or Julius' internal arch. doc?

[2018-08-13 21:41] brian-brazil commented on #4414
There are not, Tom's post has the code points you need to touch.

[2018-08-13 21:48] cstyan commented on #4414
:+1: I'll start there.

[2018-08-14 09:54] krasi-georgiev commented on #3690
after the dev discussions at Promcon there are no objections that there would be no benefits from streaming in remote read and too complicated to be worth it in the promql.

[2018-08-14 09:54] #3690 closed

[2018-08-14 10:00] crosbymichael opened #4498 "Leaking fds until rlimits reached"
## Bug Report
**What did you do?**

Run prom with consul discovery

**What did you expect to see?**

Prom not become unresponsive and eat fds.

**What did you see instead? Under which circumstances?**

![image](https://user-images.githubusercontent.com/749551/44085345-35e14696-9f87-11e8-9d15-90e93cacdcdb.png)

**Environment**

* System information:

	`Linux 4.15.0-30-generic x86_64`

* Prometheus

[2018-08-14 10:11] krasi-georgiev commented on #1789
@brian-brazil was this done in the promql refactoring?

[2018-08-14 10:25] brian-brazil commented on #1789
No, I didn't change this.

[2018-08-14 11:04] garbamoussa commented on #397
Hi all,

I have integrated an ARIMA forecast into kapacitor by udf.

It starts and works fine, calculates forecast for each batch and writes back to influx. But always after 6 batches it stops writing, throwing error:

read error: proto: can’t skip unknown wire type 7 for agent.Response

Looking at the series that it should write, its not any different in batch 7. So i really have no idea.

Has an

[2018-08-14 11:17] himanshub16 commented on #3690
Wise discussions and not getting too excited saved us from technical debt.

[2018-08-14 12:00] krasi-georgiev commented on #3690
a short version of the discussion will be published soon.

https://github.com/prometheus/prometheus/pull/3443#issuecomment-412838281
@brancz and @brian-brazil just corrected me so It seems I missed some of the main points.

[2018-08-14 15:28] vjagadeesan commented on #1573
Am considering Prometheus for monitoring system and application level metrics for a Java based back-office classic 3-tier system. A few questions in this regard -
1.  Does Prometheus itself introduce any performance degradation on the system that it monitors? If so, is there a published ballpark on what the level of degradation could be? Can consider the recommended approach of "pull" for everythi

[2018-08-14 15:43] sl4dy commented on #4480
Understood, but the optional volume is a great feature which cannot be used right now. Anyway, I get your point and I have handled the situation by ensuring that the rules configMap shall exist before mounting it.

[2018-08-14 20:18] roidelapluie commented on #394
Proposed design, after this discussion:

[code]

- groups' interval and [target_labels, target_labels_re] are mutually exclusive.
- when a target is scraped, rules are scanned for rule groups that matches target_labels and target_labels_re, and rule of these groups are executed, sequentially within each grouop
- (target_labels or target_labels) must have at least 1 non empty label
- rules are not

[2018-08-15 00:33] anumercian opened #4502 "Compatible Versions. Prometheus DB will not be removed."
Hello, I was using the 1.8 version of Prometheus, I used to encounter the issue of corrupted data and I used storage.local.dirty=true flag to resolve this problem. After upgrading to version 2.3, this flag is no more supported, but I sometimes still get the corrupt data issue. What could I do in version 2.3 to avoid this problem? Attached are the logs. Could this be happening because of failed upg

[2018-08-15 07:43] brian-brazil commented on #394
This is inventing a new way to do label matching, which is already a bit icky for the alertmanager which is similar. How about using selectors?

Rules must be evaluated after every scrape, rules can produce results when a scrape fails. This is the same as recording rules.

I don't see why this is required.

[2018-08-15 07:52] #4169 closed

[2018-08-15 08:14] roidelapluie commented on #394
so ..
[code]

The reasoning about having at least one metric is to be sure that the scope of the recording rule can be limited. But indeed you are right it should not be mandatory.

One other question: Do we want to add the target labels to the resulting metrics?

[2018-08-15 08:17] brian-brazil commented on #394
Yes, otherwise we couldn't ensure that that the labels were present.

[2018-08-15 09:49] sachaarbonel opened #4504 "Feature request : variation value"
## Proposal
**Use case. Why is this important?**

Hi guys great project :) I'm using prometheus collectors and prometheus to create alerts on financial data and the variation is quite useful to calculate the percent change of a value. I've implemented here https://github.com/Sach97/prometheus/tree/percent-change it needs some work as I've never programmed in go before but it doesn't change a lot f

[2018-08-15 10:00] brian-brazil commented on #4504
Thanks for your PR. This seems like a fairly niche use case outside of our scope. It would be quite susceptible to noise, and we also encourage alerting on state rather than transitions, as it's more resilient generally.

I'm presuming you have completely regular data, could you use something like `idelta(x[1m]) / x offset 1m` or `idelta(x[1m]) / (x - idelta(x[1m]))` ?

[2018-08-15 10:11] Sach97 commented on #4504
I did'nt see the offset in the documentation and it does the job thank's or the hint

[2018-08-15 10:57] krasi-georgiev commented on #4124
@brancz in my case it gets stuck at some point when I change the replicas, but in 2-3mins latter it picks up again. Can you please confirm that in your case it stays stuck even when you leave it for 5-10min?

The SD manager in prom is ok and the delay comes either from the k8s provider or k8s api server so will  keep digging.

[2018-08-15 11:26] brancz commented on #4124
I think the back-pressure could come just as easily from the SD infrastructure itself, only profiling will tell, but yes I did see it catch up eventually, but only when I actually stopped scaling up and down, the report from @grobie was in production system, that simply doesn't stop, so I can see how the lag would just become larger and larger and it would seem like it just never changes.

[2018-08-15 11:34] rainoko opened #4505 "PROPOSAL: add official docker image for remote storage adapter"
## Proposal
**Use case. Why is this important?**

In enterprise we cant use non official images. Yes we can build our own but it is useful for other also to have official image in docker hub.

[2018-08-15 17:39] krasi-georgiev opened #4506 "bug in SD k8s missing wg.Wait."
https://github.com/prometheus/prometheus/blob/0b4d22b245bb3c3ad7076876970d5b4b7c3efc69/discovery/kubernetes/kubernetes.go#L363-L370

this is missing wg.Wait so looks like a bug.

ping @cofyc

[2018-08-15 22:28] propertone commented on #2697
I stumbled upon this issue as well. In case this is still relevant to anyone, you can work around this issue with a single job using the following relabel config:
[code]

[2018-08-16 03:56] cofyc commented on #4506
sorry, my mistake, ctx.Done() notifies all goroutines to exit, but it's better to wait all goroutines are done before exiting in `Discovery.Run`. Created a fix PR: https://github.com/prometheus/prometheus/pull/4508

[2018-08-16 07:45] gouthamve commented on #4476
/cc @codesome

Though tbh, I see exp and got to be the same thing according the log above :)

[2018-08-16 08:06] gouthamve opened #4509 "PROPOSAL: Add tracing backend support"
Now that we have some spans in prometheus now, I think it's time we added some backend support to prometheus. This would help people see how each of their query performs. We run cortex-querier with sampling rate as `1` and make sure to get a trace for every query.

As the number of queries hitting prometheus would be fairly low, it works and also gives us an insight into which queries take how lon

[2018-08-16 08:33] brian-brazil commented on #4509
I think it'd be useful to have an in-memory backend so users could view both recent and long queries. I'm not sure at all about remote backends, as that seems like we'd end up having to support a pile of systems.

[2018-08-16 09:09] roidelapluie opened #4510 "Distinguish not+yet-evaluated alert from empty alert"
Like we do for targets (UNKNOWN) I'd like to see alerts that have mnot yet been evaluated (after a restart or  new alerts) marked as unknown.

![ne](https://user-images.githubusercontent.com/291750/44199590-df3d8880-a144-11e8-90f8-ec55e79adf3d.png)

[2018-08-16 09:14] brian-brazil commented on #4510
Hmm, what happens if there's two alerting rules with the same name?

[2018-08-16 09:32] gouthamve commented on #4509
Hmm, fair point. Could we just support jaeger and stop at that? Seems implausible but would be great. Implementing an in-memory backend looks a lot more complex, but would be great to have. @tom_wilkie, you were looking into this last, how complex is the in-mem backend?

We could also support OpenCensus, which should solve the too many backends problem, but would require instrumenting everything a

[2018-08-16 09:36] zhangjianweibj opened #4511 "Instant vector selectors regular expressions bug"
version:2.2.1

Instant vector selectors regular expressions use '{__name__=~".+"}' get nothing
![image](https://user-images.githubusercontent.com/18585129/44200957-96082b80-a17a-11e8-8397-1fbd2a6b3f47.png)

use rexpression '{__name__=~"c.*"}' get results.
![image](https://user-images.githubusercontent.com/18585129/44201036-c2bc4300-a17a-11e8-9d54-1061f95812b8.png)

[2018-08-16 09:37] brian-brazil commented on #4509
Why should we support jaeger and not anything else? Is there some generic protocol we can support?

Given that OpenTracing is a code-level API, we may have to leave this up to users to compile in themselves as needed.

[2018-08-16 09:39] brian-brazil commented on #4511
That's not right. Does the same happen with 2.3.2?

[2018-08-16 10:10] tomwilkie commented on #4509
Non-trivial, but not hard.  We really just want enough to render a simple /tracez style page.  I have a branch somewhere, but realistically I won't have time to see this through.

There was some movement a while back on an opentracing to opencensus bridge, that would allow us to stick with opentracing and get the z pages from opencensus.  Don't know where it went though: https://github.com/census-

[2018-08-16 10:17] brian-brazil commented on #4509
That'd be handy, I'd like requestz in particular as it solves #1315.

It does, unfortunately the tracing world doesn't seem to be in a place where we can do much better in a sane way. Not offering a generic interface would also suck, and given our experience with SD and notifiers I'd be for only supporting a generic interface.

I'd presume that doesn't help for the same reasons it doesn't help wit

[2018-08-16 11:26] codesome commented on #4476
I think I found what is the bug: The alerts in `got` and `exp` should be sorted w.r.t the `Labels` before comparing, which is not being done right now. I will open a PR on this.

[2018-08-16 11:53] zhangjianweibj commented on #4511
![image](https://user-images.githubusercontent.com/18585129/44206787-79c1ba00-a18d-11e8-9fc3-438b12ee8033.png)

![image](https://user-images.githubusercontent.com/18585129/44206817-9eb62d00-a18d-11e8-9f99-7688d068536a.png)

same problem with 2.3.2.i prepare to use prometheus federate function,but get no metrics

![image](https://user-images.githubusercontent.com/18585129/44206880-cf966200-a18d-11e

[2018-08-16 11:55] brian-brazil commented on #4511
`%2b` is not the same as `+`, try `.+`.

[2018-08-16 12:04] zhangjianweibj commented on #4511
![image](https://user-images.githubusercontent.com/18585129/44207347-716a7e80-a18f-11e8-8289-17faa7192ed8.png)

no metrics as well.....

[2018-08-16 12:06] zhangjianweibj commented on #4511
![image](https://user-images.githubusercontent.com/18585129/44207416-bf7f8200-a18f-11e8-9da5-14937e6cedf0.png)

with expression '.%2b' in postman works well,but in prometheus not works neither '.+' nor '.%2b'

[2018-08-16 12:36] brian-brazil commented on #4511
`+` in a URL is parsed as a space. You need to use `+` in your prometheus.yml.

Also, https://www.robustperception.io/federation-what-is-it-good-for

[2018-08-16 12:47] omerlin commented on #535
Any new on this feature ?
A good example of usage : data analysis
I have done a bad histogram split of my data with the statsd_exporter ... so i would like to re-import my past raw data changing the format ...
The only way i have is to start an influxdb, push the data and define a dedicated connection to these data ... quite heavy process.
Would be so simple to re-generate the good metrics data us

[2018-08-16 17:26] #4476 closed

[2018-08-17 02:46] infa-ddeore commented on #2083
`-storage.local.engine=none` is removed in 2.x versions, seems there is no alternate option in 2.x

[2018-08-17 08:53] maurorappa commented on #4440
you could have a checkbox like "Enable query history" in the Graph page... but anyway it's not having success, close it :)

[2018-08-17 11:52] sipian commented on #4498
@crosbymichael
Let me try to replicate this locally. Then I'll look at what's going wrong here.

[2018-08-17 13:55] gouthamve commented on #4477
To reproduce, run it enough times and grab popcorn :)

[code]

[code]

[2018-08-17 15:42] lainekendall commented on #2507
I ran into this problem too. However, after reading the Prometheus Configuration docs it seems this is the intended behavior:
`The endpoints role discovers targets from listed endpoints of a service. For each endpoint address one target is discovered per port. If the endpoint is backed by a pod, all additional container ports of the pod, not bound to an endpoint port, are discovered as targets as

[2018-08-17 16:55] corey-hammerton opened #4515 "Feature Request: Web API Endpoint for Rules"
## Proposal
**Use case. Why is this important?**
Our enterprise monitoring system needs to be connected to Prometheus by querying a Rules or Alerting Rules API in order to make it possible for alerts in Prometheus to trigger or reset in a remote monitoring system simultaneously.

There is currently no good API to fulfill this requirement.

[2018-08-17 17:31] dhbarman commented on #4311
@krasi-georgiev Have not resolved it completely. We will keep monitoring our servers. We plan to upgrade to a newer version of Prometheus too. You may close the ticket for now.

[2018-08-17 18:16] krasi-georgiev commented on #4311
ok, thanks. Feel free to add more updates.

[2018-08-17 18:16] #4311 closed

[2018-08-17 20:29] gouthamve commented on #4515
This has been implemented here: https://github.com/prometheus/prometheus/pull/4318 and will be out in the next release :)

[2018-08-17 20:33] gouthamve commented on #4515
https://github.com/prometheus/prometheus/blob/master/docs/querying/api.md#rules and https://github.com/prometheus/prometheus/blob/master/docs/querying/api.md#alerts

I'm closing this issue as I think the existing feature set covers your requirements, but if there is anything missing, please feel free to reopen the issue.

[2018-08-17 20:33] #4515 closed

[2018-08-18 09:45] crosbymichael commented on #4498
@sipian thanks!

[2018-08-19 06:59] gouthamve opened #4517 "Add streaming to Remote Read endpoint"
Remote read is quite inefficient right now and could be made much better through streaming. This has been discussed in the dev-summit: https://docs.google.com/document/d/1-C5PycocOZEVIPrmM1hn8fBelShqtqiAmFptoG4yK70/edit#heading=h.5d2mc4i0bnnp

[2018-08-19 11:58] lnformer commented on #2430
i think the documentation is laking of how to monitor externally kubernetes with prometheus.

[2018-08-19 12:49] roidelapluie commented on #1227
In https://docs.google.com/document/d/1-C5PycocOZEVIPrmM1hn8fBelShqtqiAmFptoG4yK70/edit# the consensus is to adopt option 1.

Some notes:

I think it is fine to default the subquery evaluation to the global evaluation, but I would rather still keep the ":" separator:

`rate(sum(foo)[5m:])` rather than `rate(sum(foo)[5m])`; for 2 reasons:

- the : would mean that you know what you are doing; most o

[2018-08-19 12:51] roidelapluie commented on #3806
ping @free #1227 might solve this

[2018-08-19 16:59] sipian commented on #4498
@crosbymichael
I didn't get this error when I set up a consul cluster (a small one though :)).
Can you give me an idea about the number of targets/services that the prometheus-server was scraping?
Also it would we helpful if you could give some details of the consul setup

[2018-08-19 19:03] free commented on #3806
Thanks for the heads-up, @roidelapluie.

#1227 might fix this, AFAICT, at least to some extent. It wouldn't be the best solution, though: low evaluation resolution will underestimate counter resets (as the samples right before or after the reset might not be selected), or even miss them altogether (e.g. if a counter resets twice within an interval); too high resolution would generate unnecessary d

[2018-08-19 19:32] sipian commented on #4498
Yeah looks like repeated SIGHUP is causing this.
@gouthamve @brian-brazil Can you confirm that this is the expected behaviour?

[2018-08-19 19:34] krasi-georgiev commented on #4124
after a long weekend of troubleshooting I finally figured the culprit.

When scaling down or removing targets the receiving channel is blocked untill all old scrape loops are stopped.
https://github.com/prometheus/prometheus/blob/8fbe1b5133c768fbe3be3c5ce57cdadfc9aa80ca/scrape/scrape.go#L197-L208

this also blocks the receiving channel
https://github.com/prometheus/prometheus/blob/8fbe1b5133c768fb

[2018-08-19 19:40] crosbymichael commented on #4498
Well I can tell you that it isn't expected ;)

Probably just a small bug somewhere on reload not causing old conns or clients to be closed before creating new ones.

[2018-08-19 21:17] sipian commented on #4498
@brian-brazil
After doing some digging in [consul.go](https://github.com/prometheus/prometheus/blob/master/discovery/consul/consul.go), I found that new [http.Transport](https://github.com/prometheus/prometheus/blob/master/discovery/consul/consul.go#L171) & [http.Client](https://github.com/prometheus/prometheus/blob/master/discovery/consul/consul.go#L179) structs are made when [NewDiscovery](https

[2018-08-20 07:42] gouthamve commented on #4498
Does this fix it: https://github.com/prometheus/prometheus/commit/1cd29f782cd0643a85c6167740a1ae3bc32abc8d
?

[2018-08-20 09:04] #4511 closed

[2018-08-20 10:26] krasi-georgiev opened #4518 "k8s Discoverer never stops sending updates even when there are no changes."
as part of troubleshooting https://github.com/prometheus/prometheus/issues/4124 I figred that the k8s provider never stops sending updates.

if you put some printf's you will see that it keeps sending updated even when there are no changes in the k8s cluster.

https://github.com/prometheus/prometheus/blob/f571b69010d8ea4a9a4c8ecb3a3c07096c7b0238/discovery/manager.go#L143-L153

if you add some prin

[2018-08-20 10:51] krasi-georgiev commented on #4518
note: to replicate you need to remove the locking as there is another bug that blocks there.
[code]

[2018-08-20 11:42] sipian commented on #4498
Yeah the above commit fixes it in my consul setup.
@crosbymichael Can you test this on your setup?

[2018-08-20 11:53] sipian commented on #4498
@gouthamve
I noticed that a similar use of `http.Client` & `http.Transport` is used for triton & marathon service discovery.
Although, I haven't tested them, I suspect these might also have the same problem.

What are your views on this?
If such a behaviour is expected on them too, I will open a PR to fix it.

[2018-08-20 12:42] gouthamve commented on #4498
Try to replicate it before patching it? In general it is a bad idea to fix code that you haven't run. You could test it, but sadly I don't think any SD mechanisms have tests :(

[2018-08-20 12:42] simonpasquier commented on #4498
Yes it seems identical to #4425. Hopefully @crosbymichael will confirm that it fixes the problem.

[2018-08-20 12:51] #4477 closed

[2018-08-20 13:01] ijonsnow opened #4519 "Data loss in grafana dashboard on prometheus safe reload"
## Proposal
**Use case. Why is this important?**
We find data point loss in grafana dashboards and prometheus dashboard after normal reload of the prometheus.

Note: we did not have this issue in 1.7 or 1.8 prometheus versions.

*Nice to have' is not a good use case :)*

## Bug Report
**What did you do?**
On reloading Prometheus with below approaches. Data loss in Prometheus dashboard / Grafana

*

[2018-08-20 13:03] sipian commented on #4498
@gouthamve
That's why we have https://github.com/prometheus/prombench/issues/133 :)

[2018-08-20 14:04] crosbymichael commented on #4498
Thanks, i'll build and deploy master and let you know if that commit fixes it.

[2018-08-20 20:01] cstyan commented on #4414
Running some tests to confirm which types would have to be limited by input samples to expressions/functions, but it may just be NumberLiteral or other types that are limited by the max # of steps limit.

If we're going to set a default value for the max # of samples and (or) make that value configurable, we should provide an explanation of how we get to the number and how people should go about c

[2018-08-21 06:48] duane-ibm opened #4521 "Extending support for creating binaries for s390x (IBM Z)"
We are able to build Prometheus 2.3.2 from source on s390x (IBM Z) using `make build`.

We are planning to add s390x (IBM Z) support to build binaries for Prometheus. We see multi-arch support for Prometheus building binaries for IBM ppcle64.

We had also started a discussion [here](https://groups.google.com/forum/#!topic/prometheus-developers/ZjWZR1kVMbg)
According to the response received we nee

[2018-08-21 07:35] simonpasquier commented on #4521
I'm not sure what is your question exactly but the discussion should really happen on the developer mailing list. I suggest that you follow up on the existing thread.

[2018-08-21 08:02] alburthoffman opened #4522 "any way to support external user defined functions"
## Proposal
**Use case. Why is this important?**
We has to support some validation functions, which are limited to our company only.
like the metrics will be ignored if the host is in maintenance mode, and will be used when host is back.
We also have other private requirements.

it's not a good idea to add those functions to functions.go. communicate does-not need them and we will have to maintain

[2018-08-21 08:12] brian-brazil commented on #4522
Thank you for your suggestion. I don't think it's wise to allow any external code inside the Prometheus process, as that'll lead to bug reports caused by code in a non-standard setup which we have little to know ability to debug.

The use case you describe is already possible within PromQL.

[2018-08-21 08:51] brian-brazil commented on #4522
Yes, expose a metric indicating it's in maintenance. Then whatever in PromQL to use that.

That doesn't make a difference, it's still arbitrary code outside our control.

Go plugins don't help for the above reasons. We already have a number of integration points.

[2018-08-21 09:00] brian-brazil commented on #4414
It's 16 bytes per sample, multiplied by 3 giving ~1GB with 20M points.

[2018-08-21 09:14] tejaswiniVadlamudi commented on #4301
Hi,
We too get the same problem. Is this solved with your latest version? Do we have any updates on this case?

Thanks,
Teja

[2018-08-21 09:35] krasi-georgiev commented on #4301
I am working on a PR that will speed up the reloading quite a bit. The problem is that stopping scraping loops for running target is now executed in serial and I am updating the code to stop these in parallel.

Will link the pr when ready.

[2018-08-21 10:30] duane-ibm commented on #4521
@simonpasquier my question is how do we go about adding support for s390x to make prometheus binaries available, as available for other architectures/platforms on [https://prometheus.io/download](https://prometheus.io/download)?

[2018-08-21 12:13] simonpasquier commented on #4521
@duane-ibm since the discussion is happening at https://groups.google.com/d/msg/prometheus-developers/ZjWZR1kVMbg/_WqEdVkMCwAJ, I'm closing your issue for now.

[2018-08-21 12:13] #4521 closed

[2018-08-21 12:40] simonpasquier commented on #4519
_edited the description to fix the formatting_

This looks similar to #4301. How many targets are they in Prometheus? Can you measure how long it takes for Prometheus to reload (see https://github.com/prometheus/prometheus/issues/4301#issuecomment-399481981)?

[2018-08-21 13:02] gouthamve commented on #4510
This should be easy to fix as there is already a [Health()](https://github.com/prometheus/prometheus/blob/master/rules/alerting.go#L165-L170) that will return [HealthUknown](https://github.com/prometheus/prometheus/blob/master/rules/manager.go#L47) if the rule is not yet evaluated.

[2018-08-21 13:34] RichiH commented on #4510
@brian-brazil valid concern; no matter how many alerting rules share the name there are always a sum of n active alerts plus m alert defintions with unknown state.

`(n active and m alerting rules unknown)` sounds a bit kludgy, but it would fit the intention exactly.

[2018-08-21 17:48] brian-brazil commented on #4414
When using range vector functions, we don't load in all the data at once - just one window at a time.

[2018-08-21 20:02] cstyan commented on #4414
Sorry I still don't entirely understand. Are your saying that we only ever
load the samples for a single timestamp into memory at a time? So in the
situation with 20m samples for about 1GB we have 20m series as well.

On Tuesday, August 21, 2018, Brian Brazil <notifications@github.com> wrote:

[2018-08-22 00:49] #4491 closed

[2018-08-22 06:21] zjwzte opened #4527 "Bug: stddev_over_time returns NaN for constant series; floating point inaccuracy"
## Bug Report
In our production ,we use stddev_over_time to aggregate metric series, because the samples of metric series are constant, the aggregate result may be NaN;
because in function funcStddevOverTime :

[code]

`squaredSum/count - avg*avg`  is Negative Value;

**What did you expect to see?**

we expect the result is 0;

* Prometheus version:

we use prometheus  2.1

* Logs:
we add logs to

[2018-08-22 08:15] brian-brazil commented on #4527
Do you have a suggestion on how to better deal with this? There's generally not much we can do about floating point inaccuracy.

[2018-08-22 08:36] parserpro commented on #535
One more use case - I have to setup Grafana on my local computer and I need to imitate real data for this, but real data comes once per day...
So, it will take a lot of time to waiting for this. I want to load sample data into Prometheus, then setup Grafana dashboard, export it and save into Grafana config file. And then use it in production environment.

[2018-08-22 10:41] #4493 closed

[2018-08-22 10:45] gouthamve commented on #4527
@tomwilkie suggests sticking in an `Abs` there. It makes sense.

[2018-08-22 10:52] brian-brazil commented on #4527
Stddev doesn't include an `abs`, so I don't see how that makes sense mathematically.

[2018-08-22 11:04] gouthamve commented on #4527
Stddev is the root of variance, and variance is a sum of squares, which is always positive.

[2018-08-22 11:25] brian-brazil commented on #4527
That doesn't mean that you can add in an arbitrary mathematical operation that will produces a non-negative number - the answer will still be wrong.

[2018-08-22 11:47] brian-brazil commented on #4414
That was the old design. In the new design things like rate() work time series by time series, and within that iterate over the data. So a 5m rate only needs 5m worth of samples from one time series in memory at a time - plus space for the output.

The space taken by series themselves and their labels is not being taken into consideration here, we're just focusing on samples as that should be good

[2018-08-22 13:50] simonpasquier commented on #4502
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2018-08-22 15:54] cstyan commented on #4414
So in the case of range vector were you referring to a single timestamp step when you said 'one window'?

[2018-08-22 16:01] brian-brazil commented on #4414
Yes.

[2018-08-22 16:25] sipian commented on #3632
Looks similar to #4519

[2018-08-22 16:29] cstyan commented on #4414
Okay that makes sense, thanks. So then I guess I'm just back to the question of what seems reasonable for a default `maxSamples` values. You're saying the default should be 20M which results in ~1GB of memory?

[2018-08-22 16:31] brian-brazil commented on #4414
I'm saying that we should have a default setting that allows `sum by job({__name__=~".+"})` to work on a Prometheus with 20M active series, whatever that setting is.

[2018-08-22 17:08] krasi-georgiev opened #4528 "the k8s client hits some concurrent connections limit and it takes very long time to send all updates to the discovery manager"
There was an update in the golang/net/http2 package that causes the k8s to hit some connection limit and ~NOT~ takes very long time to  send full targerts update to the discovery manager.

Might be related to https://github.com/prometheus/prometheus/issues/4518
Found while troubleshooting https://github.com/prometheus/prometheus/issues/4124

the http2  update in Prometheus happened in https://gith

[2018-08-22 17:47] cstyan commented on #4414
Okay, that makes sense. I'd like to have a test for this in my PR. I'll have a look around but not really seeing any examples of queries for `__name__=~".+"` in `engine_test` or `parse_test`.

[2018-08-22 18:47] DanCech commented on #4527
http://www.volkerschatz.com/science/float.html
[code]

[2018-08-23 00:21] fedya opened #4529 "Support tls_config section for OpenStack SD"
## Bug Report
**What did you do?**
Tryint to collect openstack data with self-signed cert
and i got
`could not create OpenStack session: Post https://123.123.123.123:5000/v3/auth/tokens: x509: certificate signed by unknown authority"`

**Environment**
centos7
* System information:

	Linux 4.17.11-desktop-1omv x86_64

* Prometheus version:

	prometheus, version 2.3.2

* Alertmanager version:

	aler

[2018-08-23 02:30] zjwzte commented on #4527
I tested method provided by DanCech , with metrics we logged previously;
func stdDevCalc() {
        values := []struct{ T, V float64 }{
                {T: 1534906200000, V: 1.5990505637277868},
                {T: 1534906500000, V: 1.5990505637277868},
                {T: 1534906800000, V: 1.5990505637277868},
        }
        var aux, count, mean float64
        for _, v := range values {

[2018-08-23 03:55] cofyc commented on #4528
I'm looking into this.

[2018-08-23 04:47] jiananjiang opened #4530 "I can`t add label (inorder to aggregate the data by this label ) when node_exporter 's role is endpoints"
I want add label  like  kubernet-nodes's  type  to "kubernet-service-endpoints",inorder to aggregate the data by this label ,As shown below:

![a](https://user-images.githubusercontent.com/30279340/44504731-f0037680-a6cf-11e8-85fd-5fff75967a7c.png)

but I according this  configuration file, I can not  accomplish.

![ee](https://user-images.githubusercontent.com/30279340/44505143-45d91e00-a6d2-11e8

[2018-08-23 04:59] jiananjiang commented on #4530
this label of "type" is kubernet set for each node's  label, like mark this node belongs which group。

[2018-08-23 08:52] brancz commented on #4528
@sttts is it possible to set the max number of concurrent streams through client-go?

[2018-08-23 09:34] simonpasquier commented on #3632
If anything please retest with the latest Prometheus version (v2.3.2) that includes many bug fixes for tsdb. Also it doesn't look exactly like #4519 to me as this one is about restarting Prometheus (not reloading).

[2018-08-23 09:43] simonpasquier commented on #4529
What you're looking for is a `tls_config` section that doesn't exist (yet) for the OpenStack SD. I've rephrased the description accordingly.

IIUC it is somehow possible to override the default HTTP client used by `gophercloud` (see https://github.com/gophercloud/gophercloud/issues/311)

[2018-08-23 12:44] ijonsnow commented on #4519
@simonpasquier  targets is only one. as mentioned in the prometheys.yaml config.
This is the minimal config we have for which Prometheus reload having data loss in grafana dashboard.

[2018-08-23 14:58] DanCech commented on #4527
It's taken from the second example in the "Correlation and compensation" section of the page I linked.  This is attributed to Welford and described in http://webmail.cs.yale.edu/publications/techreports/tr222.pdf (also linked from that page).

[2018-08-23 14:58] ManCon opened #4531 "Configure Prometheus to send a seperat message for every "Label"..."
Hi

I think it is not a issue. It is just a question for the Prometheus configuration.
I have installed Prometheus and it works fine.

But in my case I like to receive for every "Label" a own "eMail".

For example:
3 Servers have a high CPU load.
At the moment I get one eMail with the information about the 3 servers who have the problem.

But:
I like to receive for every Lable a own eMail. (In thi

[2018-08-23 15:13] brian-brazil commented on #4527
Equation 1.3b there is the equation I from Welford, but it is not the algorithm you have suggested. Where can I find a derivation of what you're suggesting?

[2018-08-23 15:13] brian-brazil commented on #4531
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-08-23 15:13] #4531 closed

[2018-08-23 15:28] simonpasquier commented on #4530
`__meta_kubernetes_node_label_type` is only present for `role: node`. For the list of labels associated to `role: endpoint`, see https://prometheus.io/docs/prometheus/latest/configuration/configuration/#endpoints.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-08-23 15:28] #4530 closed

[2018-08-23 15:30] simonpasquier commented on #4519
Please run with `--log.level=debug`, do a few reloads and share the logs.

[2018-08-23 16:09] DanCech commented on #4527
As far as I can tell that is the standard implementation of Welford, the code I provided is taken directly from the example on http://www.volkerschatz.com/science/float.html#corr

[code]

I updated my original comment to use `+=` notation, mathematically it is the same though.

You can find the same approach used in the python example at https://en.wikipedia.org/wiki/Algorithms_for_calculating_var

[2018-08-23 16:29] brian-brazil commented on #4527
It's not though, the Welford implementation would be

[code]

So where does this other algorithm come from, and is it actually a standard deviation?

[2018-08-23 17:01] DanCech commented on #4527
![](https://farm8.staticflickr.com/7767/16739757863_6d2a6feef2_o.png)

I'm not sure where your code came from either, but it doesn't correlate with what's described in Knuth (above), which is the algorithm implemented in my original comment, where in each iteration `delta` is `x[k] - M[k-1]`, `mean` is `M[k]` and `aux` is `S[k]`.

In your code you end up with `S[k] = S[k-1] + (k - 1) * (x[k] - M[k

[2018-08-23 17:07] brian-brazil commented on #4527
I haven't dug into West/Hanson, only so much math one can do in a day. Do you have the exact reference for that?

So who wants to claim the cheque from Knuth for the incorrect reference?

[2018-08-23 19:15] DanCech commented on #4527
The way it's derived is:

`S[n] = S[n-1] + (n - 1)/n * (x[n] - M[n-1]) * (x[n] - M[n-1])` per Welford pg. 420 fig. _I_

`x[n] - M[n] = (n - 1)/n * (x[n] - M[n-1])` per Welford pg. 419 fig. _(3)_

So by substitution: `S[n] = S[n-1] + (x[n] - M[n]) * (x[n] - M[n-1])`

As outlined above, `mean` is `M[n]` and `delta` is `x[n] - M[n-1]`, so now we have:

`S[n] = S[n-1] + (x[n] - mean) * delta`

`v.V` i

[2018-08-24 01:49] krasi-georgiev commented on #4528
I have narrowed it down to the changes in the canTakeNewRequestLocked logic.
https://github.com/golang/net/blob/1c05540f6879653db88113bc4a2b70aec4bd491f/http2/transport.go#L621

my feeling is that the ClientConn reports that it can handle more connections, but when the caller actually executes the RoundTrip it fails somewhere.

[2018-08-24 07:03] #2411 closed

[2018-08-24 08:49] brian-brazil commented on #4527
Okay, that match checks out. Would you like to send a PR?

[2018-08-24 14:18] sipian commented on #4510
Mentioning `(n active and m alerting rules unknown)` sounds like a good idea.
If there is an approval, I can open PR for this

[2018-08-24 15:25] RichiH commented on #4510
No need for approval, go ahead :)

Sent by mobile; please excuse my brevity.

On Fri, Aug 24, 2018, 16:19 Harsh Agarwal <notifications@github.com> wrote:

[2018-08-24 20:25] Bplotka commented on #4517
I can take it if no one started working on this.

Design doc: https://docs.google.com/document/d/1JqrU3NjM9HoGLSTPYOvR217f5HBKBiJTqikEB9UiJL0/edit?usp=sharing

Dev-mailing topic: https://groups.google.com/forum/#!topic/prometheus-developers/79b6j_6F_Vc

[2018-08-24 21:58] krasi-georgiev commented on #3566
since it is such an old issue and haven't received a reply lets close and will revisit if needed.

[2018-08-24 21:58] #3566 closed

[2018-08-24 22:07] krasi-georgiev commented on #3782
duplicate of https://github.com/prometheus/prometheus/issues/4200
and fixed in https://github.com/prometheus/tsdb/pull/341

new blocks will be deleted on failure to allow a clean start of Prometheus.

[2018-08-24 22:07] #3782 closed

[2018-08-25 03:10] ijonsnow commented on #4519
Command
-------------
/opt/prometheus/prometheus-2.3/prometheus --web.enable-admin-api --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/libprometheus/db --web.enable-lifecycle --web.console.templates=/opt/prometheus/prometheus-2.3/consoles --web.console.libraries=/opt/prometheus/prometheus-2.3/console_libraries --log.level=debug

Log output
-----------
level=info ts=2018-08-25

[2018-08-25 07:17] damien-roche commented on #2430
Utterly confused this hasn't been addressed yet. Everybody is monitoring Kube from inside Kube?

I have multiple Kube clusters and I have random nodes dotted around (apps, postgres, rabbitmq, etc). I have a central Prometheus server which pulls in metrics from my nodes no problem. I don't want another Prometheus instance chewing up ram on every Kube cluster; I already have an instance.

Can somebo

[2018-08-26 09:28] #4527 closed

[2018-08-26 10:03] fchiorascu opened #4535 "Repository vs Watch button on GitHub to track and be notified on new releases"
## Proposal
Is very important to have a ftp/http/https repo forthis pkg or if not to make a modification on "Watch" button in order to be able to follow the new releases for: prometheus/ node_exporter/alertmanager not to enter from time to time to check this.

**What did you expect to see?**
"Watch" button from here in GitHub to have the possibility to be notified on new releases.
Also a great ide

[2018-08-26 12:55] krasi-georgiev commented on #4518
the change happened in https://github.com/prometheus/prometheus/pull/3660/files so that we get updates even when the  deployment is scaled to 0. In other words so that we send an update when all pods have been deleted.

The k8s klient keeps sending updates for the `kube-controller-manager` and the only change is that the `ResourceVersion` has changed.

old
[code]
new
[code]

There are 2 options to

[2018-08-26 13:41] prasenforu commented on #2430
But anyway we have to run Prometheus in each cluster. Basically I want run Prometheus completely out of kubernetes cluster.

[2018-08-26 15:34] codesome commented on #835
I have done some similar checks in https://github.com/prometheus/prometheus/pull/4277. Only catch is that it wont detect `$labels.something_wrong`, but would detect `$something_wrong`, and the one mentioned in the issue description.

I will open a PR for this.

[2018-08-26 16:19] Kevin-P-Huang opened #4536 "How to specify the host of k8s apiserver"
**What did you expect to see?**

Specify the host of k8s apiserver

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

$  uname -srm
Linux 3.10.0-862.3.2.el7.x86_64 x86_64

* Prometheus version:

quay.io/prometheus/prometheus:v2.0.0

* Alertmanager version:

	insert output of `alertmanager --version` here (if relevant to the issue)

* Prometheus confi

[2018-08-26 16:35] veox commented on #4392
@simonpasquier On encountering the issue, the `tsdb` tool also doesn't work:

[code]

Notice that the block is not the same across runs.

-----

It took a while for the issue to re-surface, perhaps since I had 2 machines unreachable to the collector in the past few weeks. Not _sure_ if relevant to the bug.

This time, I'm "backing up" the "strange" blocks to my workstation instead of deleting them

[2018-08-27 08:10] simonpasquier commented on #4519
@ijonsnow I'd like to see more logs with `msg="Loading configuration file" ` followed by `msg="Loading configuration file" `.

[2018-08-27 08:41] simonpasquier commented on #4536
You can use the `api_server` key in the Kubernetes SD configuration to pass the URL of the API server. From the [docs](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#%3Ckubernetes_sd_config%3E):
[code]

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also se

[2018-08-27 08:41] #4536 closed

[2018-08-27 08:42] arunkumarmurugesan opened #4540 "Unable to get http_requests_total metrics from latest version of the images"
## Proposal
**Use case. Why is this important?**
*Nice to have' is not a good use case :)*

## Bug Report
**What did you do?**
I have tried to configure the k8s HPA using Prometheus http_request metrics.

**What did you expect to see?**
Here the issue is, I can able to get the http_request metrics from Prometheus image v2.1.0. When pulled the latest version. i could not able to get the http_reques

[2018-08-27 08:48] brian-brazil commented on #4540
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-08-27 08:48] #4540 closed

[2018-08-27 08:49] earthdiaosi opened #4541 "file_sd never stop update 'custom_sd.json' file"
## Proposal
**Use case. Why is this important?**
  I want to implement custom service discovery, so i read the follow blog and wirte a demo;
  *  https://prometheus.io/blog/2018/07/05/implementing-custom-sd/

  but i found "custom_sd.json" file was updated each time. so i debug the follow [code](https://github.com/prometheus/prometheus/blob/master/documentation/examples/custom-sd/adapter/adapter.g

[2018-08-27 08:55] gouthamve commented on #4541
/cc @cstyan

[2018-08-27 08:59] earthdiaosi commented on #4541
I would like to submit this PR

[2018-08-27 09:04] gouthamve commented on #4541
Hi, thanks a lot for offering, please go ahead. I just linked Callum as he was the one who wrote the code and has most context.

[2018-08-27 13:30] krasi-georgiev commented on #4528
the limitation is from the server. It all works as expected. when I start minikube with
[code]

[2018-08-27 15:12] #4470 closed

[2018-08-27 15:35] aurrelhebert opened #4543 "[PromQL] Percentile parsing"
## Proposal
**Use case. Why is this important?**
When add an incorrect parameter for quantile function, a result is loaded

*Nice to have' is not a good use case :)*
You can test it with: "percentile(2.0, metric...)

## Bug Report
**What did you do?**
Just execute command below on Prometheus

**What did you expect to see?**
An error message

**What did you see instead? Under which circumstances?**

[2018-08-27 15:40] brian-brazil commented on #4543
May I ask why this makes a difference to you? Changing this would be a breaking change, as it is the documented behaviour of our quantile functions.

[2018-08-27 16:36] brian-brazil commented on #4543
This is valid, though not particularly sane, PromQL.

[2018-08-27 16:41] #2585 closed

[2018-08-27 17:32] fchiorascu commented on #4535
Ok, thank you. But in my opinion there must be an improvement on this aspect. The community for prometheus is growing and there is only this **prometheus-users mailing list** that I sincerely don't like, is a  big thing difficult to track and usually I've solved by myself the problems instead of asking or taking something from there.

But in any case thank you for the support.
Kind Regards,
Floria

[2018-08-27 17:38] cstyan commented on #4541
Hi @earthdiaosi can you show us what your `main.go` looks like for your custom-sd? The adapter code is written to specifically avoid this case of rewriting `custom-sd.json` if there were no changes to the targets, and I'm not able to reproduce what you're seeing. The index and key you pointed out do not change.

Additionally, if there is a bug it's in the adapter code. Discovery manager should not

[2018-08-27 19:34] brancz opened #4547 "Add ability to track series churn"
## Proposal
**Use case. Why is this important?**

In order to identify targets producing high series-churn it would be good to track the number of time-series appearing/disappearing across scrapes of a target. I haven't looked into an implementation too much, but I think this is relatively close to the staleness tracking, so we could use those existing mechanisms to produce this metric.

I'd propo

[2018-08-27 20:04] brian-brazil commented on #4547
Per-target information doesn't belong on /metrics, anything like that would need to be one of the scrape_ gauges.

If piggy backing on existing logic, this will underestimate as it'll missing data around failed scraped.

[2018-08-27 20:33] brancz commented on #4547
Can you be more specific what you mean by "scrape_ gauges"?

Yes that's what I could tell from the code as well, I think an estimation is better than nothing and while it seems a little more complicated I think it might also be possible to get the exact value.

[2018-08-27 20:43] etsangsplk opened #4548 "Are these MetaLablels like service_name all hardcoded?"
Are metalabels like "service_name", " "service_port_name" etc, all hard coded as conventions?
Found at https://github.com/prometheus/prometheus/blob/2236bb6c59b98f74dd84688815f2154b1cdf1dc0/discovery/kubernetes/service.go#L138
        serviceNameLabel         = metaLabelPrefix + "service_name"
	serviceLabelPrefix       = metaLabelPrefix + "service_label_"
	serviceAnnotationPrefix  = metaLabelPrefi

[2018-08-27 20:45] brian-brazil commented on #4547
Things like scrape_samples_scraped.

[2018-08-27 21:02] brancz commented on #4547
Got it, that makes sense and works just as well. Just for my own understanding and for anyone else reading this, the "report metrics" are written directly to tsdb upon scrapes of a target. This is more suitable in this case, because this is actually information of the target and therefore does not belong in the metrics exposed by Prometheus itself. Right?

[2018-08-27 21:16] brian-brazil commented on #4547
Yes.

[2018-08-27 21:28] rusbob opened #4549 "Prometheus got error "no token found" while scrape data from Zipkin"
## Bug Report
**What did you do?**
Run `Prometheus` to scrape `Zipkin` data.

**What did you expect to see?**
Successful data scraping from Zipkin by `Prometheus`.

**What did you see instead? Under which circumstances?**
Multiple error entries in log file:
[code]
UI error of unavailable Target:
![Prometheus Web](https://i.imgur.com/cwcIx60.png)

**Environment**

* System information:
[code]
* Pro

[2018-08-28 03:48] csmarchbanks opened #4551 "Race condition starting HEAD prometheus with static scrape configs"
## Bug Report
**What did you do?**
Ran prometheus locally, with some basic static configs

**What did you expect to see?**
Prometheus comes up and my targets are scraped.

**What did you see instead? Under which circumstances?**
Most of the time none of my static targets are scraped. Approximately 5-10% of the time my targets are scraped properly.

**Environment**

* System information:

	Darwin 1

[2018-08-28 03:53] brancz commented on #4551
cc @krasi-georgiev

[2018-08-28 07:10] karunchinna opened #4552 "How Prometheus server will collect counters (metrics)form application(if two instances of an application are running)"
hi team,
i have some Prometheus counter metrics from an application. and in Kubernetes i made two instances(pods) an application. now Prometheus Server is not collecting form two pods. it is collecting only form one Pod.  how to solve this issue.

thanks

[2018-08-28 07:45] brian-brazil commented on #4552
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-08-28 07:45] #4552 closed

[2018-08-28 08:11] niravshah2705 commented on #2882
This would help you : -
https://niravshah2705-software-engineering.blogspot.com/2018/08/prometheus-monitoring.html

Recording rule:
- record: stackdriver_pubsub:scraptime
    expr: timestamp(stackdriver_pubsub_topic_pubsub_googleapis_com_topic_send_request_count)

Alert rule:
time() - max_over_time(stackdriver_pubsub:scraptime[5h]) > 3600 or sum_over_time(stackdriver_pubsub_topic_pubsub_googleapis

[2018-08-28 08:22] Ehekatl opened #4553 "heavy memory usage, keep getting OOM killed with data scrape only"
I'm running a prom instance with average of 100K ingested samples/s, 7 days rotation period, scrape from 4 targets every 15s, even without any query/rules running it still use 50% of system memory upon start, and memory usage is keep climbing till it get killed by OS.

![screencapture-grafana-ops-agoralab-co-d-ahsfzfpmk-netdata-prometheus-perf-2018-08-28-15_36_17](https://user-images.githubusercon

[2018-08-28 08:27] krasi-georgiev commented on #4551
at the moment this is to be expected. The main issue is that  the Scrape manager blocks the Discovery manager's channel. Reverting the commit only removes the logging, otherwise the problem is still there.
Will be fixed in https://github.com/prometheus/prometheus/pull/4526

@csmarchbanks btw why do you think this is a Race condition?

[2018-08-28 08:34] simonpasquier commented on #4553
Thanks for your report. It looks as if this is actually a question about usage and not development. If I read correctly, Prometheus is using roughly 10GB of memory for 1.5M series in the head. This is in line with the empirical rule of requiring 8kB per active serie. Notet that the rule doesn't take into account query usage.

I'm closing it for now. If you have further questions, please use our [u

[2018-08-28 08:34] #4553 closed

[2018-08-28 08:56] karunchinna commented on #4552
thanks. i posted in prometheus-users mailing list.

[2018-08-28 09:26] gouthamve commented on #4548
Hi, yes. These correspond to kubernetes service abstraction. This doesn't look like a bug report or feature request, but more like a question.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC cha

[2018-08-28 09:26] #4548 closed

[2018-08-28 10:06] henridf commented on #4456
Fwiw I have one use case for this - using a Prometheus server solely as a query engine that reads from long-term storage via RR. This server doesn't do any scraping and so it doesn't write any samples to TSDB (unless I'm missing something).

In this setup, it would be convenient to disable local storage altogether. But I do understand that this is far enough from the regular path that a fair answe

[2018-08-28 11:48] earthdiaosi commented on #4541
i write a demo to reproduce the bug:
[code]
ouput:
first:
![image](https://user-images.githubusercontent.com/10106196/44720880-c8ab1000-aafa-11e8-8c63-f1306f5fe66a.png)
second:
![image](https://user-images.githubusercontent.com/10106196/44720939-f42dfa80-aafa-11e8-9336-ce3ccf020021.png)
third:
![image](https://user-images.githubusercontent.com/10106196/44720987-16277d00-aafb-11e8-82b3-427267051677

[2018-08-28 12:06] Ehekatl commented on #4553
@simonpasquier I don't think this is just usage question, please consider reopen my issue

1. to demonstrate why the memory consumption is abnormal, I split same amount of workload from 4 targets to 9 targets. With the same ingested samples rate and same number of active series, the total memory consumption had a significant drop.

![screencapture-grafana-ops-agoralab-co-d-ahsfzfpmk-netdata-promet

[2018-08-28 12:37] gouthamve commented on #4553
@Ehekatl What do you mean the memory usage dropped for 4 targets --> 9 targets? From what I see, a compaction was triggered which wrote a bunch of data to disk causing memory to drop.

Due to the architecture of the new TSDB, we keep 2hours of data in-memory and then compact it to disk. You could read about it here: https://fabxc.org/tsdb/

As @simonpasquier mentioned, I too think 10G for 1.5Mil s

[2018-08-28 15:11] krasi-georgiev commented on #4551
yeah this change shouldn't change the old behaviour just add this additional debug logging.

how do you know that the config didn't load?

In general until #4526 is tested and merged any scaling down of targets would be slow as it goes in serial instead of parallel as in #4526

[2018-08-28 16:01] csmarchbanks commented on #4551
I am pretty sure that by adding the default cases, behavior is changed:
Old way: Block until it is possible to write to the syncCh so the update is done eventually.
New way: Log a message and drop the update.

I know the scrape config didn't load properly because my /targets page is completely empty even though there should be two targets (prometheus and node-exporter). Since these are static targ

[2018-08-28 18:19] cstyan commented on #4541
Thanks for the example! I was able to find and fix the bug.

See: https://github.com/prometheus/prometheus/pull/4555

[2018-08-28 19:42] krasi-georgiev commented on #4551
yes, I see what you mean.

Here is a PR https://github.com/prometheus/prometheus/pull/4556 that improves the behaviour.

I will look at it again tomorrow with fresh eyes, but will free to comment if you see anything suspicious :+1:

[2018-08-28 20:40] Wenzil opened #4557 "Proposal: Client-side metric aggregation"
## Proposal

Prometheus seems to be missing a way to report the maximum observed value in a sample of observations (instant vector) where the cardinality would be too high for each observation to have a unique label set.

Replace *maximum* with any type of aggregation (e.g. minimum, average, median, etc.) in the previous sentence.

My first thought was to use a `Summary` metric with only e.g. `0`,

[2018-08-28 20:43] brian-brazil commented on #4557
Thank you for your proposal. One of the principles of the Prometheus evaluation model is that you can calculate a given statistic over an arbitrary time window, and there is no efficient way to do that with a min or max. If you need this, you should probably look at a log-based solution.

[2018-08-28 21:01] Wenzil commented on #4557
Could you clarify why it wouldn't be efficient to calculate the min or max over an arbitrary time window? Intuition tells me it would be at least as efficient as estimating quantiles over a time window, which is already supported per the [docs](https://prometheus.io/docs/concepts/metric_types/#summary)

[2018-08-28 21:12] brian-brazil commented on #4557
For an arbitrary time window you'd basically need to remember every single point. Client-side quantiles aren't exact a good place to start if you care about efficiency.

Ultimately this is not something we can do within the Prometheus evaluation and data models.

[2018-08-28 22:18] Wenzil commented on #4557
Do you? Seems like you only need to maintain the min and the max for the time window. To implement a sliding window you can split it in `n` buckets and keep a min/max for each bucket, and evict the oldest bucket as time goes on.

Seems pretty efficient. In fact I could this as being an extension to the `Summary` metric type rather than a completely new metric type.

[2018-08-29 02:55] csmarchbanks commented on #4551
👍 Thanks!

[2018-08-29 06:39] Armatorix opened #4558 "Proposal: scalar functions similar to vector"
## Proposal
Now when you want to make some functions like `floor`, `round`, `ceil`, etc. on scalar you've got to firstly change it to vector than make some functions on it and change it back to scalar. IMO it would be better to have also functions directly on scalars.
Example:
 - now: `scalar(round(vector(time())))`
 - request: `round(time())`
Or I'm missing some feature or concept?

[2018-08-29 06:45] brian-brazil commented on #4558
This was something I specifically avoided when considering PromQL changes, as overloading functions makes them harder to understand - particularly if the output type varies too as you seem to be proposing. Instead if you've a different type of input, you get a different function (e.g. avg_over_time vs avg). Once you do that any benefits are quite a bit smaller.

[2018-08-29 06:48] brian-brazil commented on #4557
Yes, I said any arbitrary time window - not bucketed/sliding time windows. The person using PromQL need to be able to select the window on the fly, with no coordination with the client library. We actually recommend dropping min/max from any system that exposes them: https://prometheus.io/docs/instrumenting/writing_exporters/#drop-less-useful-statistics

We already provide average via _sum and _co

[2018-08-29 07:17] Armatorix commented on #4558
You're probably right with overloading.
Maybe referring to existing functions, prometheus could have `floor_scalar`, `round_scalar`, etc. ? Then there will be no overloading, also  in some cases sytax should be less complex and ofc performance benefits.

[2018-08-29 07:40] brian-brazil commented on #4558
That seems like it'd be a bit much clutter in the language for something that's already possible. The performance differences here are negligible, we're only talking doing math on a single value.

[2018-08-29 07:44] sipian commented on #4509
What's the status of this proposal? I would like to take this up.

[2018-08-29 07:50] brian-brazil commented on #4509
We seem okay with an in-memory only backend to serve up traces on our web UI.

Full opentracing backend support does not seem viable at this time.

[2018-08-29 07:57] sipian commented on #4509
@brian-brazil
From the discussion, it looks like jaeger is preferred.
@tomwilkie
You mentioned that you have a branch somewhere. It'll be great if you could point that out.
Will help in getting things started.

[2018-08-29 08:08] brian-brazil commented on #4509
No, one person so far has requested that we support one particular backend with no generic integration. I believe this is not acceptable or sustainable, and is not in line with decisions and experience elsewhere in the project.

Separately we're talking about how we could use the tracing instrumentation we have, but this would be purely internal to the Prometheus process and not involve something

[2018-08-29 08:17] ijonsnow commented on #4519
@simonpasquier
Sample federated cluster Prometheus config and Loglines are given below. Issues not only persist here but for configuration mentioned in the first issue case. Loglines given in previous comments and now (except last post) are a full list which generated during restart.

Prometheus.yml file
---------------------
global:
  scrape_interval:     1m # By default, scrape targets every 15

[2018-08-29 08:21] waldauf opened #4560 "Prometheus sends packages with different Content-Type in HTTP header"
## Proposal
Globaly Promehteus supports [*remote_write*](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#%3Cremote_write%3E) to InfluxDB. If I use direct write into InfluxDB everything works great. Scheme:
[code]
I captured sent packages by Prometheus to InfluxDB by `tcpdump`. All packages are sent wiht *Context-Type: text/plain* in HTTP header.

Example of one captured p

[2018-08-29 08:33] gouthamve commented on #4509
Ideally, we would need an in-mem backend which uses something like a ring-buffer to store the traces and shows them via a UI.

I was talking to Tom yesterday about this. This is the branch he is referring to: https://github.com/weaveworks-experiments/loki/commits/protos mainly this commit: https://github.com/weaveworks-experiments/loki/commit/0d0f2b3133c7fd95ce8d1bb0d438c0514243bd17

He thinks the

[2018-08-29 08:48] #4480 closed

[2018-08-29 09:51] brian-brazil commented on #4560
Remote write doesn't use gzip or text/plain, that's some other packet you've captured. All remote write is via snappy-compressed protobufs, and if you're using remote write then https://github.com/prometheus/prometheus/tree/master/documentation/examples/remote_storage/example_write_adapter will help you get going.

[2018-08-29 09:52] brian-brazil commented on #4509
If we can re-use OpenCensus to produce zPages that'd be handy, and save us work.

That wouldn't help with us having to compile in all possible backends.

These are orthogonal. As are OpenTracing and OpenCensus.

[2018-08-29 09:55] waldauf commented on #4560
Hello Brian,

yes, you're right. Right now I found out that my `tcpdump` captured packages from another source.

I'll check your link. Thx for your answer.

[2018-08-29 09:58] gouthamve commented on #4509
What I meant was that if someone was using promql as a library, they should be able to hookup their tracing backend too. And if it allows to have both the in-mem backend and whatever people want to hook up (only when using it as a library), it'll be better.

If we're going to move to OpenCensus from OpenTracing, isn't doing a comparison ideal to know what it offers us beyond just the zPages and wh

[2018-08-29 12:42] frittentheke opened #4561 "PROPOSAL: Allow scrape_timeout and scrape_interval to be configured via relabeling (i.e. based on kubernetes_sd annotations)"
## Proposal
Prometheus allows to configure a global _scrape_timeout_ value but also allows to set an override for each job - https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config
This allows to only selectively set higher timeouts, i.e. if there is a rather slow target somewhere. Also running with different _scrape_intervals_ makes sense and is easily configurable

[2018-08-29 12:54] Wenzil commented on #4557
Fair enough. Still would prefer to have them reported to Prometheus rather than a logging system so that we can have alerting based on *approximate* state of the system over the sliding window.

[2018-08-29 12:58] brian-brazil commented on #4561
Can you clarify what exactly you're asking for here? Multiple scrape intervals per Prometheus is discouraged for sanity, and is thus not something we're going to make easier.

What's the problem with the timeout being too high?

As was discussed in the issue you linked, there are limits to what we're going to accept in Prometheus - at some point needs are sufficiently complex that you need a prope

[2018-08-29 13:02] brian-brazil commented on #4557
The best we can offer there are quantiles, which are approximate by their nature when dealing with metrics.

[2018-08-29 13:34] #4560 closed

[2018-08-29 13:35] roidelapluie opened #4562 "PromQL bug with query_range and metrics name change"
## Bug Report
**What did you do?**

* Upgrade node_exporter
* run with query_range: `sum(rate({__name__=~'node_network_receive_drop_total|node_network_receive_drop',env='prod',instance="nip-beprd51"}[5m]) > 0) by(instance,cluster)`

**What did you expect to see?**

a constant result

**What did you see instead? Under which circumstances?**

when the query range overlaps the metric name change, I g

[2018-08-29 13:45] nim-nim opened #4563 "Prometheus third-party javascript is stale and vulnerable"
For example

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-18214

(prometheus bundles  2.16.0)

The javascript vendoring needs a refresh, and probably a switch to a build process that uses npm or yarn (like grafana)

[2018-08-29 13:57] brian-brazil commented on #4562
For anyone looking at this later, note that this type of query is non-advised due to a) using a regex on name rather than specifying names directly which is inefficient and indicates data model issues (use `or` for this sort of use case) and b) filtering in a graph, as this may return no results where a 0 was expected.

However an instant query and a range query step should always return the same

[2018-08-29 15:39] brian-brazil commented on #4562
The issue here is the duplicate timestamp that happens when the `>` is applied to the duplicately named vector coming back from `rate` due to using a regex against name, which throws off the input-collecting logic in rangeEval.

The best course of action here is likely to forbid such expressions, that is to make it so that a given instant/range vector cannot contain two metrics with the same label

[2018-08-30 10:49] hanbaga commented on #535
+1

[2018-08-30 11:50] codesome commented on #4356
Adding to above description, this happens not only for `-`, but also for `+`.  `'1 +1'` would also error out.

Basically for `-` or `+`, the parser is expecting notation like `1 -1x3`, `1 +1x4` (except for the first number).

[2018-08-30 13:44] tangxuye commented on #2204
I wonder if some scenes that we need add some labels to the metrics of the third-exporter.For example, the node_exporter,if I want to add one or more labels to the metrics.What should I do?

[2018-08-30 15:35] tomwilkie commented on #3043
I think there are some valid use cases where doing this with alert notification templates isn't desirable.  For instance, consider dashboard URLs that might contain the datacenter (an external label).  Some alerts might include dashboard URLs with datacenter, some might not.   And it would be super usefule for the URLs that appear in the Prometheus to contain correct datacenters, and not contain p

[2018-08-30 17:55] deeTEEcee commented on #3697
I figure I'd just add to this for more syntax/documentation-related issues. So we had just started using prometheus and I added a few alerts, one of the using multiple conditoins with the AND keyword. Then we started having magical alert issues and I wasn't sure why. After analyzing graphs for days, I realized that queries were mixed with the labels (but I had wrongfully assumed that Prometheus al

[2018-08-30 19:45] freddy4711 commented on #535
+1

[2018-08-30 19:56] brian-brazil commented on #4562
Yes, that should render an error. There may be users depending on this, which is why it's potentially breaking, however it is not a sane query as it's semantics are undefined. Using regexes on metric names is very strongly discouraged, outside of debugging Prometheus performance issues.

[2018-08-30 20:02] brian-brazil commented on #3043
If you've that complex a setup, you're getting into configuration management at that point. In practice you can probably always append the datacenter in the AM, if it's not used it'll be ignored.

This has been discussed previously, the answer at the time was notification templates (which were yet to be implemented back then). In general the point stands that an alert should not care about the Pro

[2018-08-30 20:06] brian-brazil commented on #3697
Yip, looks like we forgot to document many-to-many matching.

[2018-08-30 20:15] roidelapluie commented on #4562
Strangely enough I have not seen that in the doc:

[code]

Maybe we should add a warning?

In our case the metric names change of the exporter were converted by __name__=~"old|new" on every dashboard.

[2018-08-30 21:30] krasi-georgiev opened #4565 "Make the Discovery throtling configurable to allow easier testing."
https://github.com/prometheus/prometheus/blob/75bd348135019c6bf5bee4350a339964e62f2d8a/discovery/manager.go#L134

Sending the discovery updates are hard coded to throttle at 5 seconds.
This makes creaating test for these parts of the code needing to wait 5 seconds so not good for unit testing. We need to make this somehow configurable so that we can adjust when creating unit tests.

With this chan

[2018-08-30 22:41] Jake-Smullin commented on #2357
Env variables make so much sense here... Can't check in my AWS creds for an ec2_sd scrape job, and mounting them in as secrets to ENV vars and then leaving in the scrape config $ACCESS_KEY for example would be perfect.

[2018-08-31 00:44] poblahblahblah commented on #3043
I think the point, at least for us, is that humans do care about the Prometheus that alerts are generated from even if you don't or you don't think they should. Even if we ignore this specific scenario the fact remains that there can be external labels or alert label rewrites that can add contextual information for humans that are receiving the alerts which can be helpful. If you are taking a quic

[2018-08-31 04:10] cstyan commented on #4541
Yeah! So I'm not sure if there's a workaround for that, or if the fix is to just vendor that package. Depends what the team wants to do.

Are you able to check out my changes and try them with your custom SD implementation? Let me know if they don't work for you and we can look at it more together!

[2018-08-31 05:38] brian-brazil commented on #3043
I agree that this is useful, but alert templates is the wrong place to put it. This is all possible if you use notification templates, in addition to being more succinct.

[2018-08-31 05:40] brian-brazil commented on #4541
I'd avoid using that package, it's not something we use elsewhere and we should try to keep this example reasonably standard.

[2018-08-31 06:26] sipian commented on #4509
@gouthamve
I did some study about opencensus and opentracing.
The way opentracing is used in prometheus can be easily transformed to opencensus.

[2018-08-31 11:10] veox commented on #4392
Doesn't seem to show anything useful... I'm taking a different approach: inspecting the "broken" database on my workstation, which has much more memory.

Currently, it's failing with "too many open files", so I'll "truncate" the database...

[2018-08-31 11:38] krasi-georgiev opened #4566 "Add more useful grafana dashboards to the prombench tests"
http://prombench.prometheus.io/grafana
Currently we use the  https://grafana.com/dashboards/6725 Prometheus Benchmark - 2.3.x by Robust Perception.

The most useful metrics I see here are RAM allocations and CPU utilisation.

Looking to add more so any input  from people that use Prometheus in production and know where it brakes will be very useful.

Current deployment file: https://github.com/pro

[2018-08-31 11:41] codesome commented on #535
I would like to work on this. This will be done after https://github.com/prometheus/tsdb/issues/90 and https://github.com/prometheus/tsdb/issues/24 are addressed, and I am on them now.

[2018-08-31 11:48] veox commented on #4392
Yup, I know how to deal with that. Just wanted to give an interim result while I'm inspecting this...

[2018-08-31 12:03] veox commented on #4392
BTW, here's the node-exporter view (of the occurence today, not the earlier one in the gist above) - this time with memory.

I had a thought that this might be happening due to the memory being already filled by disk cache, but that seems false.

![](https://veox.pw/dump/node-view-mem-and-disk.png)

(Tried taking a screenshot of _all_ the graphs, but Grafana has them in an `iframe`, so Firefox can

[2018-08-31 14:02] simonpasquier commented on #3109
@fish IIUC this issue isn't relevant anymore. Do you think it can be closed?

[2018-08-31 21:12] fr0stbyte commented on #4481
Thanks for the prompt response and sorry for the delay in my response, I was in vacation.
It seems like a common pattern among the exporters to change the metric name in a form or another to adjust for their backend requirements. My proposal is to lift some of that in a transform so that will help
a) with some of the more basic transformations that aren't covered by the other relabel functions
b)

[2018-08-31 22:49] cstyan commented on #4541
@earthdiaosi if you'd like, you could take my open PR and make the changes to make the hashing of the structures that contain maps consistent without using the `hashstructure` library (see: https://github.com/mitchellh/hashstructure/blob/master/hashstructure.go#L177-L214), or if you can find another way to check if things have changed and only send updates if they have then go for it!

Changes sho

[2018-09-01 03:05] lsowen commented on #2353
@brian-brazil I have the same use case.  I want to decrease the `scrape_interval` for the cloudwatch_exporter to something like every 5m, but keep the rest of the on cluster intervals to 60s.

It looks like a custom `scrape_interval` is supported for [scrape_config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config), just not exposed as a `relabel_configs` tar

[2018-09-01 07:29] brian-brazil commented on #4481
The primary purpose of metric_relabel_configs is to fix bad metrics that you don't have an alternative for. Having to use it out of the box would be a bad user experience, especially if you have a (recommended) setup where you're trying to use one scrape config for many many different types of applications.

If there's a transform that should be done across all metrics coming from an exporter by a

[2018-09-01 07:33] brian-brazil commented on #2353
For slow exporters like cloudwatch and certain JMX uses the recommendation is to have a separate scrape config (don't go over 2m). These cases are (thankfully) fairly rare though. This does not require relabelling.

Delay and precision are different things, so this is not true.

[2018-09-01 07:51] #2191 closed

[2018-09-01 12:10] earthdiaosi commented on #4541
@cstyan I debug the code of [hashstructure.go](https://github.com/mitchellh/hashstructure/blob/master/hashstructure.go#L107),  but the code is too heavy. So I wrote a simplified version of the hash function for customSD。

Algorithm logic：

- 1 targetsHash = init ^ hash(targets[0]) ^ hash(targets[1]) ^ ... ^ hash(targets[n-1])
- 2 sort labels
- 3 labelsHash = init ^ hash(labels[0].(k:v)) ^ hash(lab

[2018-09-02 08:47] discordianfish commented on #3109
@simonpasquier Ah, yah I think this can be closed. Thanks for the ping!

[2018-09-02 08:47] #3109 closed

[2018-09-03 03:14] dophinlife opened #4570 "increase() not return back correct value"
## Bug Report
**What did you do?**
 Calculates the increase in the time series in the range vector
**What did you expect to see?**
The increase in the time series in the range vector
**What did you see instead? Under which circumstances?**
As shown in the figure below, the increase curve has a jump
![image](https://user-images.githubusercontent.com/8785975/44965674-62464780-af69-11e8-89a9-78cecbfe

[2018-09-03 11:12] Bplotka commented on #4551
I can repro same thing, from current master. (sha 674c76adb8a0842de6358ee3c701434332a5e1f5)

[code]

And no "Target" for my static, local scrape target. Any progress on this?

[2018-09-03 11:13] Bplotka commented on #4551
Ah, we need this potentially? https://github.com/prometheus/prometheus/pull/4526 Will help with review

[2018-09-03 14:59] krasoffski opened #4571 "Alert labels are not changed after update rule file and reloading prometheus."
## Bug Report
1. Download prometheus version v2.0.0 and v2.3.2 (reproduced on both).
2. Extract these version to /tmp directory
[code]
3. Create new prometheus configuration file `/tmp/prometheus.yml` with following content:

[code]
4. Start simple metric generator like bellow:

[code]

5. Start dummy alert manager like bellow (you can use nc linux utility for this):
[code]
6. Create directory `/t

[2018-09-03 15:17] simonpasquier commented on #4570
You'd need to provide the [raw data](https://www.robustperception.io/extracting-raw-samples-from-prometheus) for better understanding.

You might want to test with v2.3.2 (the latest stable).

[2018-09-03 15:27] simonpasquier commented on #4505
The [remote storage adapter](https://github.com/prometheus/prometheus/tree/master/documentation/examples/remote_storage/remote_storage_adapter) is provided as an example and the Prometheus team can't really commit maintaining it. If you're using InfluxDB, the latest versions have built-in support for the remote read/write APIs.

I'm closing the issue for now. If you have further questions, please

[2018-09-03 15:27] #4505 closed

[2018-09-04 02:29] cstyan commented on #4541
@earthdiaosi awesome, can you add that functionality to `adapter.go`? feel free to create a new branch off mine from #4555.

[2018-09-04 04:58] earthdiaosi commented on #4541
@cstyan   I have submitted the PR.

See: https://github.com/prometheus/prometheus/pull/4567

[2018-09-04 08:44] brian-brazil commented on #4571
This sounds like #4169. Can you try at master?

[2018-09-04 09:28] krasoffski commented on #4571
@brian-brazil, thank you for quick replay.
Will to reproduce today/tomorrow using latest master and post results here.

[2018-09-04 13:33] simonpasquier commented on #3067
@gouthamve what do you think of closing this issue? The scope being unclear, it is impossible to declare that it is done.

[2018-09-04 14:02] krasoffski commented on #4571
@brian-brazil am not able to get working configuration using Prometheus from master now (using the same configs and setups).
It seems like Prometheus does not see/use targets and alert managers from `prometheus.yml` configuration file (no targets alert managers via WEB UI).
It is possible workaround with `absent` missing targets, but it would be great to have JSON alert sent to dummy alert manager

[2018-09-04 14:10] simonpasquier commented on #4571
@krasoffski you're probably hitting https://github.com/prometheus/prometheus/issues/4551 (in short master is currently broken for SD). https://github.com/prometheus/prometheus/pull/4556 should fix it so you may want to build from there.

[2018-09-04 14:29] civik commented on #3007
I've changed positions so I lost my testbed for this issue. However, I am planning a new deployment that will leverage Consul SD extensively so I should know more very soon.  Just curious what we currently know about scale around Consul services? How many clients have been tested?

[2018-09-04 14:59] simonpasquier commented on #3007
Thanks for the heads-up. @iksaif might have some information regarding your questions.

[2018-09-04 15:04] Nexucis opened #4573 "[Custom_sd] Impossible to remove targets from the discovery"
## Bug Report

**What did you do?**
Write code to implement custom service discovery;

**What did you expect to see?**
I expect that the targets that don't exist are removed in the custom_sd.json.

**What did you see instead? Under which circumstances?**
When a target is removed in the custom discovery, there is no way to remove the targetGroup in the updated channel

**Environment**

* System inf

[2018-09-04 15:14] simonpasquier commented on #3708
@gouthamve can we close this? I don't see that it's relevant as of today.

[2018-09-04 15:15] simonpasquier commented on #3730
Thanks for the report, it is indeed a bug. #4572 should fix it.

[2018-09-04 15:36] Nexucis commented on #4573
Thanks for replying.

Does it mean that the custom_sd.json file will grow indefinitely everytime a source disappears ? Something like that :

[code]

Would it be possible to create a function to unregister a source in the manager?

[2018-09-04 17:12] dankohn opened #4574 "Please update the maintainers file"
https://github.com/prometheus/prometheus/blob/master/MAINTAINERS.md only lists 3 people, but there are 17 listed at https://github.com/cncf/toc/blob/master/reviews/graduation-prometheus.md#have-committers-from-at-least-two-organizations

CNCF would appreciate if the MAINTAINERS.md can be the canonical source of currently active maintainers/committers.

If you want to have categories (or focuses),

[2018-09-04 17:28] beorn7 commented on #4574
We have one MAINTAINERS.md file per repo, and each lists at least one maintainer for that repo.

I'm not sure what's a good place for the union of all those files. There is a list of "team members" in https://prometheus.io/governance/#team-members , BTW.

[2018-09-04 17:33] dankohn commented on #4574
We're not trying to impost a process on you. We're happy to use https://prometheus.io/governance/#team-members as CNCF's canonical list of Prometheus maintainers if there are no objections.

[2018-09-04 17:42] juliusv commented on #4574
@dankohn Yes, please use https://prometheus.io/governance/#team-members for that. Those are the overall project maintainers, and they are all owners on GitHub.

[2018-09-04 17:49] dankohn commented on #4574
Great, thanks.

[2018-09-04 17:49] #4574 closed

[2018-09-05 07:02] simonpasquier commented on #4573
Indeed it might create several items with empty target lists if `source` varies. But there's nothing wrong with the manager, it should be fixed in the adapter code instead.

[2018-09-05 11:32] #4551 closed

[2018-09-05 14:47] Nexucis commented on #4573
I'm not saying that the manager is wrong. I'm just saying, since the manager is responsible to keep in memory the different target retrieved, it should be the responsibility of the manager to unregister the target.

And it's with this logic that I create a light pull request to "fix" the bug.  :)

[2018-09-05 15:41] Bplotka commented on #4551
Can anyone confirm this is not happening on master?

[2018-09-05 16:07] csmarchbanks commented on #4551
@Bplotka master is working great for me now.

[2018-09-05 17:35] gouthamve opened #4577 "nil pointer dereference in web stack"
Launched the current master and saw these:
[code]

Cannot replicate these anymore after starting though.

Full logs:
[code]

[2018-09-05 17:37] gouthamve commented on #4577
One more popped up:
[code]

So this seems to be fairly common, will investigate tomorrow.

[2018-09-05 17:53] beorn7 opened #4578 "WAL truncation fails in weird ways under load"
## Bug Report
**What did you do?**

Ran a beefy Prometheus (128GiB RAM) under high load (15M head series and in particular two rules that aggregated 5.5M time series into a still quite large number of new serios).

**What did you expect to see?**

Overload/degradation is probably expected in that case, but I would like to see some metrics suggesting that, and I would like to not see data corruptio

[2018-09-05 18:05] gouthamve commented on #4577
Triggered by: `curl 'http://localhost:9090/api/v1/series?match\[\]=\{le!=%22%22\}'`

[2018-09-05 23:29] bobrik opened #4580 "Float rounding in recording doesn't match runtime"
## Bug Report

**What did you do?**

I added a recording rule:

[code]

**What did you expect to see?**

Recording rule matches expression at run time, counter never goes back.

**What did you see instead? Under which circumstances?**

Runtime calculation:

[code]

Rule based calculation:

[code]

As you can see, there's some rounding error. Specifically, this causes counter to jump back:

[code]

[2018-09-06 02:12] baifeg commented on #2286
@zerthimon The following expr works for me
count(ALERTS) or (1-absent(ALERTS))

[2018-09-06 09:40] simonpasquier commented on #4577
Want to try https://github.com/prometheus/prometheus/pull/4221?

[2018-09-06 09:45] gouthamve commented on #4577
On it.

[2018-09-06 10:03] gouthamve commented on #4577
Hmm, thanks for that PR! super weird error:

[code]

[2018-09-06 10:38] #4577 closed

[2018-09-06 14:04] #4502 closed

[2018-09-06 14:08] simonpasquier commented on #3708
Closing for now.

[2018-09-06 14:08] #3708 closed

[2018-09-06 14:14] simonpasquier commented on #3684
Relates to https://github.com/prometheus/tsdb/pull/343

[2018-09-06 15:08] simonpasquier commented on #3196
The code has been there since the inception of the DNS SD [1] but I agree that it should be removed. Maybe @juliusv has some opinion?

[1] https://github.com/prometheus/prometheus/pull/297/files#diff-de6c481fa836cf8897a7b6d1ae60e5d5R74

[2018-09-06 15:30] simonpasquier commented on #3858
Closing it as a duplicate of #3112.

[2018-09-06 15:30] #3858 closed

[2018-09-06 17:50] beorn7 opened #4584 "`count_values` doesn't validate the provided label name"
## Bug Report
**What did you do?**

Evaluated the following expression in the expression browser:
[code]

**What did you expect to see?**

Error: Invalid label name "is it up?".

**What did you see instead? Under which circumstances?**

[code]

In short, `count_values` accepts label values that are not valid.

[2018-09-07 00:40] poblahblahblah commented on #3043
Bump on this.

How can notification templates be used when pulling alerts via the AlertManager API?

I'll point out that [we're not the only ones](https://github.com/cloudflare/unsee) using the AlertManager API.

[2018-09-07 05:26] dophinlife commented on #4570
After careful debugging, I found out that it was my problem. Sorry, I'll close this issue.

[2018-09-07 05:26] #4570 closed

[2018-09-07 06:18] iksaif commented on #3007
I've seen prometheus instances scrapping thousands of consul targets (the limit really is the memory necessary for metric names and points, not consul here). For a consul cluster itself I've seen 5+ datacenter together with tens of thousands of nodes. Most of the patches to achieve that are upstream, some are on https://github.com/criteo-forks/consul/tree/1.2.2-criteo

[2018-09-07 07:11] brian-brazil commented on #3043
They can't, as the Alertmanager design revolves around sending notifications. Just like the webhook, if you're doing something like that you'll need to do your own templating.

[2018-09-07 11:53] frittentheke commented on #4561
I initially just ran into the issue of having different timeouts for very slow responding exporters.
Raising the scrape interval for just those was just a second idea. But I guess you are right this makes things A LOT more complex (having different sampling / scraping rates)

My thought here was, that a timeout should somehow help the overall system stability and performance, but it would also all

[2018-09-07 12:13] gouthamve opened #4587 "Flaky shutdown test"
This failed on travis:

[code]

[2018-09-07 15:31] poblahblahblah commented on #3043
So much for the pull method.

[2018-09-07 16:44] sipian commented on #4587
I also got this error when I was building the open census zpages.

[2018-09-07 17:51] sipian commented on #4562
@brian-brazil
I'm a bit confused on where to add this check. Could you tell where should this test be added in promql?
`instant/range vector cannot contain two metrics with the same labelset `

[2018-09-07 18:19] brian-brazil commented on #4562
There's three places: range vector functions, range Eval, and the unary minus. We may also be able to remove the existing check from label_replace.

[2018-09-10 08:42] AKYD commented on #3806
Wouldn't "faking" the interval in the `xrate() ` function solve this without any changes to other Prometheus areas? Basically if you want to do xrate[5m], just ask for a range of 5m+50% - so 450s, and only keep the 5m range + 1 extra point just before the range. This could be mentioned in **bold** in the documentation.

[2018-09-10 09:07] free commented on #3806
Well, that's pretty much what it does. Except it asks for 5m extra instead of 50% extra. The reason for that is that 5m is a "magical" constant for how far back Prometheus will look for a "current value" before considering a timeseries "stale".

(And, of course, there is the issue of extrapolation, which is, in my view, unnecessary in this brave new world.)

But Brian's argument is that any change

[2018-09-10 10:51] AKYD commented on #3806
Well if you just use the new range logic for the new function and don't change the range for any other functions, what's the harm? Users can then choose which rate()/increase() version to use. I personally would choose the more exact version even if it consumes some extra resources (by requesting more points than actually requested by the user); it would also not break existing rules/dashboards.

[2018-09-10 17:43] codesome commented on #1227
@brian-brazil I would like to work on this if we are keen on adding it now.

[2018-09-11 11:27] logemann commented on #535
@parserpro thats nearly the same use case i have. We are thinking about bundling Prometheus/Grafana into our docker-compose product stack. For selling and demo reasons, its quite necessary to have demo data before any real data enters the system, which will be never the case on a demo notebook of a sales rep.

[2018-09-12 05:02] janickic commented on #3242
I have started working on the discovery package.

[2018-09-12 06:27] alexandrul opened #4596 "windows: UI error reading base template"
## Bug Report
**What did you do?**
Upgraded to 2.4.0 and opened http://localhost:9090 in Chrome

**What did you expect to see?**
The web UI

**What did you see instead? Under which circumstances?**
error reading base template: open /\templates\_base.html: file does not exist

**Environment**

* System information:
Windows Server 2008 R2

* Prometheus version:
prometheus, version 2.4.0 (branch: HEA

[2018-09-12 06:31] alexandrul commented on #4596
stderr:

[code]

[2018-09-12 06:52] AlekSi opened #4597 "Backward vs forward compatibility"
[CHANGELOG.md](https://github.com/prometheus/prometheus/blob/v2.4.0/CHANGELOG.md#240--2018-09-11) currently says:

The first sentence there contradicts the second one. Wikipedia explains [Backward compatibility](https://en.wikipedia.org/wiki/Backward_compatibility#Software) as

So storage _is_ backward compatible.

[2018-09-12 07:37] haraldschilly opened #4598 "crash during startup"
**What did you do?**

starting prometheus, with some data back from version 2.3.1. then I tried 2.4.0 rc0, which did crash, and today I saw this release and it also crashed.

I fear my problem report isn't helping at all, though, and I can't really share the data files. I've deleted them and so far it looks good. In case this happens again I'll amend this with more information.

**What did you exp

[2018-09-12 08:27] simonpasquier commented on #4598
Can you share the flags used to start Prometheus?

It looks like you've set `storage.tsdb.min-block-duration` and/or `storage.tsdb.max-block-duration` since the logs show that your block interval is 10 minutes.

[2018-09-12 08:28] simonpasquier commented on #4596
This is probably related to #4430. I'll have a look at it.

[2018-09-12 09:09] tom932 opened #4599 "Remember choice "Unhealthy" on target-overview when reloading page"
## Proposal

Not really a big problem, but nice if it is easy and fast to accomplish:

Today, I analyzed and tried to fix problems with some scrapes. Therefore, to see all the problematic scrape-targets, I used the UI: Status -> Targets.

There, I clicked on `Unhealthy`, which showed the sections where the `State` is `DOWN`.
When I refresh the page, it again shows `All`, and I have to click `Unhea

[2018-09-12 09:37] gouthamve commented on #4597
Ooops, will fix. I updated the releases page, now will open a PR to the changelog.

[2018-09-12 13:16] simonpasquier commented on #3446
@theonlydoo specifically you need to increase `max_user_instances` and/or `max_user_watches`. See https://linux.die.net/man/7/inotify

Closing this issue since the panic doesn't seem to happen anymore.

[2018-09-12 13:16] #3446 closed

[2018-09-12 13:28] theonlydoo commented on #3446
done, I'll keep u posted on this issue if it ever comes back again (testing on 2 different versions)

[2018-09-12 15:18] forging2012 opened #4601 "caller=scrape.go:819 component="scrape manager" scrape_pool=prometheus target=http://localhost:9090/metrics msg="appending scrape report failed" err="out of bounds""
## Bug Report

I run Prometheus docker images:
docker run -d --restart=always -p 9090:9090 -v /root/prometheus:/etc/prometheus --network host prom/prometheus

http://192.168.2.201:9090/targets
State is UP. But
/graph?g0.range_input=1h&g0.expr=go_info&g0.tab=1  ...
all query is 'no data'.
The logs as follower.

* System information:

[code]

* Prometheus version:
[code]

* Prometheus configuration

[2018-09-13 00:12] speedooo commented on #2357
Is it possible use the same way as file_sd_configs reading details fromm external file for external_labels?

[2018-09-13 06:23] benclapp opened #4602 "Invalid metric type error for metric types containing capitals"
## Bug Report
**What did you do?**
Upgraded from 2.3.2 to 2.4.0

**What did you expect to see?**
New features, and existing targets still being scraped successfully.

**What did you see instead? Under which circumstances?**
It appears all targets that have any capitals in the metric type cause the scrape for this target to fail. For example:

Metric Type | Scrape Success
--- | ---
counter | Yes
Co

[2018-09-13 07:13] benclapp commented on #4602
Also worth mentioning, checking the metrics with promtool packaged with 2.4.0 says all is well.

[2018-09-13 07:15] brian-brazil commented on #4602
That's invalid output, only `counter` is valid. The client library will need to be fixed.

[2018-09-13 08:08] #4356 closed

[2018-09-13 09:57] #4584 closed

[2018-09-13 10:34] Eric-Fontana-Bose opened #4603 "Migrated to 2.4.0 - Crash during startup corrupted WAL "opening storage failed: read WAL: repair corrupted WAL: cannot handle error""
Crashing on startup after moving to 2.4.0

## Bug Report
**What did you do?**

* Prometheus version:

	2.4.0

* Prometheus configuration file:
[code]
* Logs:
[code]

[2018-09-13 12:55] #835 closed

[2018-09-13 14:01] danielfm commented on #4602
Shouldn't the promtool check detect this then?

[2018-09-13 14:41] brian-brazil commented on #4602
It should, that's a bug in promtool.

[2018-09-13 14:55] gouthamve commented on #4602
See: https://github.com/prometheus/common/issues/143

[2018-09-13 15:09] alfonz19 opened #4604 "scraping metrics from URL requiring basic authentication"
## Bug Report
**What did you do?**
I tried to configure scrape config using metrics resource requiring basic auth

**What did you expect to see?**

working prometheus.

**What did you see instead? Under which circumstances?**

actually nothing. I'd at least expect log message with http 403 or something

**Environment**
linux

* System information:

Linux 4.16.11-100.fc26.x86_64 x86_64

* Prometheu

[2018-09-13 18:28] nadilas commented on #4596
+1

[2018-09-13 21:27] benclapp commented on #4602
Sounds fair, I'll close this issue and let the issues raised against the client library and promtool be fixed instead.

[2018-09-13 21:27] #4602 closed

[2018-09-14 04:10] codesome commented on #4603
What was the version before migrating to 2.4.0?

[2018-09-14 07:43] krasi-georgiev commented on #4603
@Eric-Fontana-Bose thanks for the report.

Can you send me the corrupted WAL privetely at kgeorgi at redhat.com so I can reproduce locally and find the culprit.

[2018-09-14 09:03] rgl opened #4606 "2.4.0 on windows fails due to /\templates\_base.html: file does not exist"
with prometheus 2.4.0 on windows, the default web page, http://localhost:9090/graph, fails with:

[code]

any idea how to fix this?

to reproduce, just unpack the binaries, start prometheus, and access the [default web page](http://localhost:9090).

[2018-09-14 09:05] gouthamve commented on #4597
Closed in #4600

[2018-09-14 09:05] #4597 closed

[2018-09-14 09:06] gouthamve commented on #4606
Dupe of https://github.com/prometheus/prometheus/issues/4596 Fix will be out soon, sorry!

[2018-09-14 09:06] #4606 closed

[2018-09-14 09:55] Eric-Fontana-Bose commented on #4603
Is this the contents of the /data dir? Where is it

[2018-09-14 10:30] krasi-georgiev commented on #4603
yes in `/data/wal`

[2018-09-14 12:07] #2988 closed

[2018-09-14 15:17] matthiasr opened #4608 "Show offending labels in many-to-many error"
## Proposal

When showing the error message

[code]

include the labels, and potentially even the whole metric, that caused it.

**Use case. Why is this important?**

I just spent half an hour staring at a query trying to fix this issue; sometimes a very large set of time series has duplication in only a handful of them. Knowing more about the reason for the many-to-many error would have helped a

[2018-09-14 23:55] PeterZaitsev opened #4609 "Prometheus Crash Recovery Consumes Excessive Amount of Memory"
As Of Prometheus 2.3.2  Crash recovery can be excessively memory important leading to the case when normally running system is unable to ever recover after abnormal reboot.

How to repeat:

Run prometheus with high ingest rate, consuming  60% of memory
Kill -9  prometheus

If auto-restart is configured Prometheus may enter crash loop running out of memory during crash recovery and restarting again

[2018-09-15 11:41] haha541514 opened #4610 "ERRO[0000] invalid Prometheus URL: http://localhost.localdomain.:9090/ source=main.go:75"
[root@localhost local]# cd prometheus-1.6.2.linux-amd64
[root@localhost prometheus-1.6.2.linux-amd64]# ./prometheus --config.file=prometheus.yml
ERRO[0000] invalid Prometheus URL: http://localhost.localdomain.:9090/  source=main.go:75

configuration environment ：VMware,NAT schema，centos6.5 ，prometheus-1.6.2.linux-amd64，

Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address

[2018-09-16 13:40] mdyring opened #4611 "Support for IPv6 in EC2 service discovery"
## Proposal
EC2 instances might not be reachable via private IPv4 addresses (if scraping is done remotely), and might not have public IPv4 addresses.

It would be a very nice addition to expand service discovery to include IPv6 addresses, if possible.

Thank you for your consideration.

[2018-09-17 01:43] haha541514 commented on #4610
...

[2018-09-17 01:43] #4610 closed

[2018-09-17 03:59] D-PENG opened #4613 "How do I change the time zone of prometheus, please"
Is it configured in `prometheus.yml` ?

[2018-09-17 04:03] gaopeiliang opened #4614 "large scope alert rule overlay with small scope alert rule question !"
I have add one alert rule about one timeseries ..   it will notify something when match , like
[code]
but when I want know more detail about it , I add another alert rule , like:
[code]

so that , when ```prometheus_notifications_sent_total(environment="dev")  == 10``` matched,
I will received alert Y and alert X ...  but alert Y is no need and meanless .. now we only want alert X.

the best is to

[2018-09-17 05:45] viciss opened #4615 "[Proposal] Allow UTF8 string to be metric and label name"
## Proposal
For now, the metric and label name meets the regex expression `[a-zA-Z_:][a-zA-Z0-9_:]*`,
but sometimes it is not enough for some cases, like:

* 5xx_http_response to indicate a metric for all http response with 5xx error,
* Some non ASCII letters to be a metric name will be more meaningful for localization

So, would it be possible to extend the metric and label name to support UTF8 s

[2018-09-17 08:17] simonpasquier commented on #4596
@alexandrul and @nadilas it would be great if you could test https://github.com/prometheus/prometheus/pull/4616

[2018-09-17 09:39] AndorCS commented on #4613
Prometheus always keep data in UTC timezone.

However, you can use timezone-related settings in Grafana.

[2018-09-17 10:01] ckyx opened #4618 "why do i get different numbers of values using page queries and api queries?"
i have a metric named 'test'  with  a  scrape_interval : 2s .  and  i get differrent numbers of values when using page queries and api queries .

like this "test[30s]" , i get only 3 values when using page queries but get 15 values when using api queries .

Why do I get different numbers of values ​​using page queries and api queries?

[2018-09-17 10:32] D-PENG commented on #4613
@AndorCS The time zone of Grafana can be set, but it is inconvenient to view. It is more flexible and convenient to check on Prometheus.

[2018-09-17 10:37] Andor commented on #4613
Check what? What exactly are you trying to do when you need timezones?

[2018-09-17 10:44] krasi-georgiev commented on #4603
did you find it? it should be some files in a format of 0000001 , 0000002 (numbering is not important)

[2018-09-17 10:49] D-PENG commented on #4613
For example, I want to see the data of an index, (such as `((sum by(pod_name) (rate(container_network_receive_bytes_total{pod_name="alertmanager-wechat-5b665cdbc7-bbsqx"}[1m]))) / 1024) `.)
On the graph of Prometheus, I can quickly get the historical data of the index, which is very flexible.

[2018-09-17 10:50] alexandrul commented on #4596
@simonpasquier seems fine on my PC (using go 1.11 and latest cygwin64).

[2018-09-17 10:56] gouthamve commented on #4613
This is dupe of #500 See https://prometheus.io/docs/introduction/faq/#can-i-change-the-timezone?-why-is-everything-in-utc? for reasoning.

[2018-09-17 12:00] FireDrunk opened #4621 "Error connecting Prometheus to Alertmanager when both are running behind reverse proxies."
## Bug Report
**What did you do?**
Configure Prometheus & Alertmanager to work behind a reverse proxy.

**What did you expect to see?**
Working prometheus -> Alertmanager connection, and alert pushing.

**What did you see instead? Under which circumstances?**
Prometheus crashes :'(

**Environment**

* System information:

	Docker EE (UCP 3.0.1)

* Prometheus version:

prom/prometheus:latest

* Ale

[2018-09-17 13:43] gouthamve opened #4622 "Run tests on Windows"
So, we had windows break a bunch of times before and while we could add tests to check that, we never really run the tests on Windows. Like this test proposed here: https://github.com/prometheus/prometheus/pull/4616#issuecomment-421932402 would never catch itself breaking because Travis and Circle run on Linux and while the test breaks on windows.

[2018-09-17 20:55] brian-brazil commented on #4618
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-09-17 20:55] #4618 closed

[2018-09-17 20:56] geekdave opened #4624 "/graph returns 503 but /-/healthy returns 200"
## Bug Report
**What did you do?**

I started up a new Prometheus server, and copied over snapshot data from an old server.  It ran fine for about a day, and then started crashlooping with:

[code]

I understand that I probably did something wrong, procedure-wise, with how I copied historical snapshot data into an existing Prometheus server.  I started [a thread on the mailing list](https://groups

[2018-09-17 22:04] simonpasquier commented on #4622
At the minimum, we need to check that the current tests are passing on Windows and fix them if not.

[2018-09-17 22:12] simonpasquier commented on #4624
Probably `curl -v localhost:9090/-/healthy` would have returned `503` as it waits for the TSDB to be started and the configuration to be fully loaded. Looking at the code, `/-/healthy` endpoint always returns `200`.

[2018-09-18 07:01] grobie commented on #4624
See #3650 and #3816.

[2018-09-18 09:46] #4562 closed

[2018-09-18 10:18] D-PENG commented on #4613
thx

[2018-09-18 10:35] lostick commented on #4603
@krasi-georgiev Seeing a similar issue since the we bumped from `2.3.2` to `2.4.0`
[code]
I've sent you the corrupted `00000024` WAL binary on your email in case you want to have a look

[2018-09-18 10:45] krasi-georgiev commented on #4603
@lostick haven't received it. Maybe too big to send over an email. maybe upload somewhere and send me an invitation.

btw why do you think the issue is the same?
The logs indicate that the system doesn't have enough memory.

[2018-09-18 11:06] lostick commented on #4603
@krasi-georgiev yes i'm unable to send it, redhat rejects the file (whether it's attached or as a wetransfer link).

We had no memory issues when previously running on `2.3.x`, so I'd be more inclined towards an issue since the latest WAL implementation.

[2018-09-18 12:27] VR6Pete commented on #4603
I am also seeing this issue and as a result have lost one of my servers in my environment.

Is there anything I can do to assist resolution of the issue?

[2018-09-18 12:29] krasi-georgiev commented on #4603
@VR6Pete open an issue and steps to reproduce :stuck_out_tongue_winking_eye:  and ping me.

[2018-09-18 12:30] krasi-georgiev commented on #4603
or if you are sure it is the same as the original one reported here please add steps to reproduce and send me the WAL

[2018-09-18 13:00] VR6Pete commented on #4603
How do i determine which is the corrupted WAL, nothing in the logs to state which one is at  fault.

caller=head.go:415 component=tsdb msg="encountered WAL error, attempting repair" err="read records: corruption in segment 573 at 64205313: unexpected checksum 5327a8, expected 970642dd"

caller=main.go:617 err="opening storage failed: read WAL: repair corrupted WAL: cannot handle error"

Happy to o

[2018-09-18 13:48] Eric-Fontana-Bose commented on #4603
I'm trying to get the WAL, but the issue is I can't get into the pod long enough to get it, prometheus
crashes and K8s restarts is.

[2018-09-18 14:15] lostick commented on #4603
Thanks, we have already doubled the memory, to no luck so far as it keeps growing.
I'll investigate some more and will open a separate issue if needed 👍

[2018-09-18 14:41] stefancrain commented on #4603
We've also ran into a similar issue. This morning we went to restart the Prometheus container and we're faced with the issue.

Prometheus version:
- 2.4.0

Previous version:
- 2.3.2

Prometheus configuration file:
[code]

Logs:
[code]

Directory:
[code]

[2018-09-18 14:48] krasi-georgiev commented on #4603
@stefancrain please send me the wal files.

Ping to @fabxc who can probably fix this a lot quicker with his magic ;)

[2018-09-18 15:29] kiefersmith opened #4627 "Page Not Found on prometheus.io"
## Proposal
This is important because documentation is missing.

## Bug Report
I clicked this link titled TSDB format:
https://prometheus.io/docs/prometheus/latest/https://github.com/prometheus/tsdb/blob/master/docs/format/README/

On this page:
https://prometheus.io/docs/prometheus/latest/storage/

**Environment**
NA

* Logs:
NA

[2018-09-18 17:07] snguyen-ith commented on #2912
@drewandersen Did you ever resolve this issue?

[2018-09-18 17:46] sc250024 commented on #4603
Same issue here. Using `kube-prometheus` based installation.

Previous Prometheus version: 2.3.2

[2018-09-18 17:56] stefancrain commented on #4603
This is causing a production monitoring outage for us. Could you suggest a fix to get back online? Would deleting the content of the **wal** folder and restarting resolve this?

[2018-09-18 17:59] gouthamve commented on #4603
@stefancrain Sorry that is the case. Deleting the WAL and restarting would fix it.

Now that we have an offending WAL, we'll have a fix quite soon, hopefully by tomorrow. It'll also help if you could forward the mail to krasi to me also at (gouthamve [at] gmail.com)

[2018-09-18 18:08] stefancrain commented on #4603
@gouthamve Deleting the wal files allowed prometheus to come back online. Thanks for that!

[2018-09-18 19:58] bboreham opened #4629 "All errors come back as internal errors from api.query()"
[This type assertion](https://github.com/prometheus/prometheus/blob/3e87c04/web/api/v1/api.go#L265-L271) matches `ErrorStorage` for all types of error, because `ErrorStorage` is an alias to the error interface.

https://golang.org/ref/spec#Type_assertions

~~I believe this is the cause of https://github.com/weaveworks/cortex/issues/780~~, though I actually found it while chasing something else.

[2018-09-18 20:42] bboreham commented on #4629
While I'm here, why does `query` make a storage error into an internal error while [`queryRange` does not?](https://github.com/prometheus/prometheus/blob/3e87c04/web/api/v1/api.go#L339-L345)

[2018-09-19 06:14] gouthamve commented on #4603
Hi, thanks for sending the WALs everyone, it made finding and fixing the issue very easy. The fix is out here: https://github.com/prometheus/tsdb/pull/389 and will make it into the `2.4.1` release hopefully today.

[2018-09-19 06:29] oscarkim007 opened #4630 "Azure Virtual Machine Scrape Failed"
## Proposal
**Use case. Why is this important?**

*Nice to have' is not a good use case :)*

## Bug Report
**What did you do?**
I have setup prometheus 2.4.0 on Azure.
I want to monitoring Azure vm with Prometheus.

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**
Linux 3.10.0-862.11.6.el7.x86_64 x86_64

* System information:

	insert outpu

[2018-09-19 06:47] #4603 closed

[2018-09-19 10:01] notOccupanther commented on #4596
Still having this issue.  Just downloaded 2.4 this morn. (Windows 10)

Accessing localhost:9090/metrics shows detail,

but localhost:9090 shows:
"error reading base template: open /\templates\_base.html: file does not exist"

[2018-09-19 10:04] simonpasquier commented on #4596
@notOccupanther you'll have to wait for v2.4.1 (see https://github.com/prometheus/prometheus/pull/4632).

[2018-09-19 10:23] mardicas opened #4633 "Monitoring kubernetes with prometheus from outside of k8s cluster."
## Proposal
**The goal of this ticket is to understand how it would be possible or correct way to run prometheus outside of the k8s cluster being monitored. Or what kind of additonal development this would require.**

## Background
It is a common practice to not run the monitoring software on the stack that is being monitored.
It is important because during outages/problems with the cluster, prome

[2018-09-19 10:39] mardicas commented on #4633
There is some discussion here: https://stackoverflow.com/questions/41845307/prometheus-cannot-export-metrics-from-connected-kubernetes-cluster/47643005
I am already using:
https://github.com/kubernetes/kube-state-metrics , but it is not providing cpu/memory usage of pods and so on.

[2018-09-19 10:51] gouthamve commented on #3242
So there are still some places which need to be update, namely:

- [ ] scrape/scrape_test.go
- [ ] storage/fanout_test.go
- [ ] storage/buffer_test.go
- [ ] storage/remote/codec_test.go
- [ ] promql/parse_test.go
- [ ] pkg/textparse/parse_test.go

Almost there :)

[2018-09-19 10:52] gouthamve commented on #4630
Hi, this looks more like a configuration issue rather than a bug.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomnick=1&channels=prometheus), #prome

[2018-09-19 10:52] #4630 closed

[2018-09-19 11:03] gouthamve commented on #4614
Hi, this looks more like a question rather than a bug/issue. Have you tried: https://prometheus.io/docs/alerting/alertmanager/#inhibition

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel]

[2018-09-19 11:03] #4614 closed

[2018-09-19 11:13] juliantaylor opened #4634 "add metric for alertrule template rendering failure"
The alertrules can have templated values which can be filled out based on metric labels for summaries.
This template rendering can fail due to typos in the template. In that case no alert is sent to the alertmanager which can be a major problem.

E.g. forgetting the `.Labels` causes:

[code]

There should be a metric that is increased on rule template rendering failures similar to prometheus_rule_

[2018-09-19 11:14] gouthamve commented on #4601
Hi, we don't accept writes that are more than `1hr` old. Why do you need to ingest something that is that old?

[2018-09-19 12:07] navi86 commented on #2507
is it possible to get all nodePort value from kubernetes service for scrapping automatically?
I can only get port of pods:(.

[2018-09-19 15:35] violenti commented on #4609
Hi, I have the same problem with prometheus 2.3.2 but in kubernetes. Create a cluster federate and the principal nodo consumed 5 gb of memory ram. Is normal is performance?

The configure of the scrape federate is :
  - job_name: 'federate'
        scrape_interval: 60s
        honor_labels: true
        metrics_path: '/federate'

        params:
          'match[]':
             - '{__name__=~"job

[2018-09-19 15:54] mohr-michael-adam commented on #2357
Is it safe to launch Prometheus (or AlertManager) then erase the config file after it is running?  This way the sensitive data only exists on disk in plaintext for a brief moment.  Not claiming this to be secure but it helps.

[2018-09-19 15:54] timlharrison opened #4635 "Upgrade to 2.4.1 on Windows Failed from 2.3.2"
I started at 2.3.2 and have about a weeks' worth of data.  Trying to upgrade to 2.4.1, I get the following error:

level=error ts=2018-09-19T15:50:57.3030419Z caller=main.go:617 err="opening storage failed: open e:\\prometheus-data\\wal\\00000146: The system cannot find the file specified."

This is strange because while it is right, the file isn't there, there is a "E:\prometheus-data\wal\000146"

[2018-09-19 16:01] timlharrison commented on #4635
I also just quickly tried to do the same upgrade on a new storage target to make sure I didn't have some weird corruption... I ran 2.3.2 for a few minutes to get some data, stopped it, replaced all the 2.3.2 files with 2.4.1 files and got the same result.

[2018-09-19 16:14] MoSunDay opened #4637 "Error on ingesting samples with different value but same timestamp"
We not only make P8S alarm system, at the same time also wants to use it as a temporal database, all work is good, but there is such a demand I hope with the new time-stamped data to cover the old data, as far as I know InfluxDB is support the operation, I'm not miss, please let us know.

I now think of benzene HTTP API method is invoked P8S delete old data, and then to collect new time-stamped ol

[2018-09-19 17:02] narciero commented on #535
whats a realistic ETA for this feature to make it into a release?

[2018-09-19 18:55] codesome commented on #535
@narciero
This PR https://github.com/prometheus/tsdb/pull/370 is required to be merged for bulk import. But as this is not a small change in TSDB which has potential of breaking things, it would take some time to verify and test and iterate on possible improvements.

You can safely assume that it will be *at least* 1-2 months (including the time for deciding on design of bulk import).

[2018-09-19 19:28] narciero commented on #535
understood, thanks for the update!

[2018-09-20 06:02] vjsamuel opened #4640 "Allow Prometheus to start up with a remote storage as primary fanout storage"
## Proposal
We the monitoring team at eBay are interested in seeing if it is possible to use the Prometheus server in a mode where a remote store is the primary storage so that we can leverage the power of PromQL. In its current state the prometheus server bootstrap doesn't allow that. Would it be acceptable in the eyes of the community to be able to spin up the Prometheus server in a more flexibl

[2018-09-20 06:46] mardicas commented on #4633
In this issue there is a comment of how to get cadvisor stats into prometheus - works from external prometheus.
https://github.com/giantswarm/kubernetes-prometheus/issues/89#issuecomment-406613268

If I combine this with kube-state-metrics, then I have what is needed.
Now only thing that would be nice to add is how to get the node hostnames using kubernetes_sd_configs.

1) Could it support client-

[2018-09-20 09:08] zicklam commented on #4627
#4402

[2018-09-20 09:28] bjornea opened #4641 "Problem with access rights on data subdirectory on Windows"
I installed version 2.4.1 for Windows and tried to start the server. It fails with the following error msg:

C:\Programs\prometheus-2.4.1.windows-amd64>prometheus.exe --config.file=prometheus.yml
....
level=error ts=2018-09-20T08:55:41.614057Z caller=main.go:617 err="opening storage failed: list block dirs in \"data/\": open data/: Access is denied."

Access rights for data directory:
PS C:\Progra

[2018-09-20 09:33] gouthamve commented on #4641
Hi, I'm fixing a bunch of things with `2.4.x` on Windows, but this doesn't look like any of them. I'm not a Windows user so this is a little alien to me.

Having said that, could you try `2.3.2` and report if the same issue exists there?

[2018-09-20 09:37] brian-brazil commented on #4640
This has come up before, and it's not something we plan on supporting as you should always have a local database.

For this sort of use case you're usually best using Prometheus as a library, rather than using the official binaries.

[2018-09-20 10:28] bjornea commented on #4641
C:\Programs\prometheus-2.3.2.windows-amd64>prometheus.exe --config.file=prometheus.yml
level=info ts=2018-09-20T10:27:02.3933269Z caller=main.go:222 msg="Starting Prometheus" version="(version=2.3.2, branch=HEAD, revision=71af5e29e815795e9dd14742ee7725682fa14b7b)"
...
level=error ts=2018-09-20T10:27:02.4517488Z caller=main.go:596 err="Opening storage failed open data/: Access is denied."

It looks

[2018-09-20 10:33] bjornea commented on #4641
I got it up and running with this fix.

$ cd prometheus-2.3.2.windows-amd64
$ mv data data1
$ mkdir data
$ chmod 777 data

[2018-09-20 14:11] Eric-Fontana-Bose commented on #4603
This did NOT! make it into 2.4.1 . when will it get fixed? We're busted.

[2018-09-20 14:55] brian-brazil commented on #4640
That'd end up being a new API we have to support, and in general we don't permit code to exist that the project itself doesn't need, nor containing custom code - as that ends up being a maintenance problem. This is something you'd have to maintain yourself in your own repo. Be aware we offer no stability guarantees on internal libraries.

[2018-09-20 19:59] ryanisroot opened #4643 "prometheus is not stable after restoring a snapshot."
## Proposal
**Use case. Why is this important?**
Snapshots should be restorable.

## Bug Report
**What did you do?**

Trigger a snapshot, tar it up, then try to restore to an identical server.
snapshot is triggered with http://localhost:9090/api/v1/admin/tsdb/snapshot?skip_head=false

**What did you expect to see?**

1. old data from the snapshot - passed
2. new data being collected after the snap

[2018-09-21 06:04] codesome commented on #4596
@simonpasquier I think this can be closed now.

[2018-09-21 06:05] gouthamve commented on #4596
Closed in #4616

[2018-09-21 06:05] #4596 closed

[2018-09-21 07:35] simonpasquier commented on #4596
however the change isn't on master yet which is probably why GitHub didn't auto-close this issue.

[2018-09-21 07:43] knightXun opened #4644 "[Proposal]: collect kubernetes events, and provide related alert rules"
For now, promethues can use events to discover node, pod ,endpoints,ingress, then add the target into the monitor list.I plan to make prometheus walk further that collect kubernetes events then add the related rules to alert.
I notice heapster can collect these events,but it should config some place to sink, for example elasticsearch, then use some trick to alert them for users. I don't think this

[2018-09-21 07:44] knightXun commented on #4644
/assign gouthamve

[2018-09-21 08:27] krasi-georgiev commented on #4348
as per the discussion in https://github.com/prometheus/tsdb/pull/357 it works as expected.

[2018-09-21 08:27] #4348 closed

[2018-09-21 09:05] gouthamve commented on #4644
Hi, have you taken a look at https://github.com/kubernetes/kube-state-metrics? We essentially alert on those situations using the above.

Having said that what you need is an exporter like `kube-state-metrics` to do the metric exposing which prometheus can scrape to ingest data.

I'm closing this as a usage question. To make your question, and all replies, easier to find, we suggest you move this

[2018-09-21 09:05] #4644 closed

[2018-09-21 09:56] #4627 closed

[2018-09-21 12:02] FUSAKLA commented on #3876
Ok, it took bit longer but it should be in master now.

@JosephSalisbury  could you look at it if it satisfies your needs for alerting?

[2018-09-21 12:20] augmenter opened #4646 "Prometheus not scraping all subdomains correctly?"
Prometheus 2.3.2 (tried 2.4.2 which did not scrape any of the below).

I have 3 identical jobs, all connecting to a working product but a different instance.
See configuration below to see Job settings.
- Job1 works perfectly
- Job2 shows up as 'UP' in the Targets GUI, but data does not show in Graph Gui.
- Job3 is the scrape data from Job3 downloaded by hand and saved to a local server as a .txt

[2018-09-21 13:12] simonpasquier commented on #4646
Prometheus doesn't do anything fancy with respect to DNS lookups. You can have a look at the targets page in the UI to get more information. Also running the server with `--log.level=debug`.

[2018-09-21 13:18] augmenter commented on #4646
@simonpasquier: Log file
`level=info ts=2018-09-21T13:17:05.72614Z caller=main.go:543 msg="TSDB started"
level=info ts=2018-09-21T13:17:05.72614Z caller=main.go:603 msg="Loading configuration file" filename=prometheus.yml
level=info ts=2018-09-21T13:17:05.7291404Z caller=main.go:629 msg="Completed loading of configuration file" filename=prometheus.yml
level=info ts=2018-09-21T13:17:05.7291404Z cal

[2018-09-21 13:35] simonpasquier commented on #4646
What does `{job="job2"}` return?

[2018-09-21 13:38] augmenter commented on #4646
`
scrape_duration_seconds{instance="api.example2.com:443",job="job2"}	0.1509415

scrape_samples_post_metric_relabeling{instance="in.game-program.com:443",job="job2"}	0

scrape_samples_scraped{instance="api.example2.com:443",job="job2"}	0

up{instance="api.example2.com:443",job="job2"}	1

`

[2018-09-21 13:41] simonpasquier commented on #4646
hmm, why is it that the instance label has changed for `scrape_samples_post_metric_relabeling`? Have you pasted the full scrape configuration?

[2018-09-21 13:44] augmenter commented on #4646
Yes this is it:

`
global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
  - static_configs:
    - targets: []
    scheme: http
    timeout: 10s
scrape_configs:
- job_name: job2
  scrape_interval: 15s
  scrape_timeout: 10s
  metrics_path: /prom/?txt
  scheme: https
  static_configs:
  - targets:
    - api.example.com
`

[2018-09-21 13:56] simonpasquier commented on #4646
Really Prometheus doesn't have special requirements on DNS names. If `scrape_samples_scraped{instance="api.example2.com:443",job="job2"}` is 0 and `up` is 1 for the same job/instance then it means that the endpoint didn't expose any metric.

[2018-09-21 13:59] simonpasquier commented on #4637
I'm not sure exactly what you are asking for or if there's even a question. For what is worth, Prometheus will refuse to scrape samples with identical labels and timestamp.

[2018-09-21 14:02] #4613 closed

[2018-09-21 14:10] augmenter commented on #4646
But if i point my browser to the same url, or curl the url, I can download the scrape contents fine. I put them in Job3 and they work. Can I somehow enable more logging by editing the source code and trying that?

[2018-09-21 16:00] stefancrain commented on #4603
[2.4.2](https://github.com/prometheus/prometheus/releases) looks to have been released ~7 hours ago with the fix for this issue. Our team has upgraded and will report back if we run into this issue again.

[2018-09-21 18:58] sumkincpp commented on #4603
Hit the same problem on 2.4.0, 2.4.2 repaired DB and fixed the issue repairing corrupted block :
[code]

[2018-09-21 19:55] timlharrison commented on #4635
FYI, this is resolved for me with 2.4.2

[2018-09-22 11:15] gouthamve commented on #4635
Thanks! Closing!

[2018-09-22 11:15] #4635 closed

[2018-09-24 07:25] chester89 opened #4648 "Compaction failed - access to data directory denied on Windows 7"
## Bug Report
**What did you do?**
Ran prometheus on a Windows machine with ```prometheus.exe --config.file=..\config\prometheus.yml --storage.tsdb.retention=16w --storage.tsdb.path=..\data --web.enable-admin-api```
Prometheus is fetching data from local 2 instances of [wmi_exporter](https://github.com/martinlindhe/wmi_exporter)
**What did you expect to see?**
No errors in the logs

**What did you

[2018-09-24 07:28] gouthamve commented on #4648
Hi, this is `2.3.2` and we've done a bunch of fixes regarding Windows filehandling in `2.4.2`. Could you upgrade and let us know if the problem persists?

[2018-09-24 07:45] chester89 commented on #4648
sure, I'll update today and let you know

[2018-09-24 12:47] sevagh opened #4650 "Poller crash - "morestack on g0""
## Bug Report
**What did you do?**

Running the Prometheus poller which crashed overnight. It seems to crash regularly (this poller in particular has more scrape targets than my other pollers, it's in a higher-traffic DC).

Some grafana graphs on the performance characteristics:

![prometheus-bug](https://user-images.githubusercontent.com/8574092/45952885-44df2900-bfbd-11e8-9719-90098c065047.png)

[2018-09-24 14:07] simonpasquier commented on #4650
Hmm, this is weird... One possibility is a data race in the code so it would be good if you could run the binary compiled with `-race`. Would you be able to?

[2018-09-24 14:13] sevagh commented on #4650
Sure - would that solve anything, or create more informative logs for the next crash? I can run a `-race` binary on this poller.

[2018-09-24 14:36] simonpasquier commented on #4650
Additional information as it would log the data race if any is detected. The counter part is that the program will be slower and use more memory.

[2018-09-24 14:48] sevagh commented on #4650
Having some trouble with `promu build --cgo` and `-race`. In `promu.yml`:

[code]

In Makefile.common build target:

[code]

Doesn't seem to propagate CGO_ENABLED=1 to the go build:

[code]

[2018-09-24 15:00] simonpasquier commented on #4650
You need to add this to `.promu.yml` too:

[code]

[2018-09-24 15:05] sevagh commented on #4650
Thanks, that worked. I'll report back with the new logs from the race binary (when it happens again).

[2018-09-24 15:33] vishksaj commented on #3314
facing same issue in 2.2.1
level=error ts=2018-09-24T15:16:31.126666572Z caller=consul.go:326 component="discovery manager scrape" discovery=consul msg="Error refreshing service" err="Get http://consul:8500/v1/catalog/service/######?index=55173847&wait=30000ms: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"

[2018-09-24 15:33] vishksaj commented on #3413
facing same issue in 2.2.1

facing same issue in 2.2.1
level=error ts=2018-09-24T15:16:31.126666572Z caller=consul.go:326 component="discovery manager scrape" discovery=consul msg="Error refreshing service" err="Get http://consul:8500/v1/catalog/service/######?index=55173847&wait=30000ms: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"

[2018-09-24 23:11] dswarbrick opened #4651 "Proposal: collect mdraid metrics from sysfs instead of parsing /proc/mdstat"
## Proposal
I just discovered the that `node_md_blocks_synced` metric, which is currently parsed from `/proc/mdstat` is not very useful in trying to determine resync / check progress percentage of an array. To be honest, I'm not really sure what it can be used for, because the way in which it is parsed has little bearing to the other metrics that are parsed from `/proc/mdstat`.

Take the following

[2018-09-25 00:04] sipian commented on #4509
I have opened a proposal for this project. Feedback is welcome :)
https://docs.google.com/document/d/1NpfEkXRswmhcuh-BsmtfOVRJ0r7Ft7S9_JIo0NWYoGk/edit?usp=sharing

[2018-09-25 02:56] dominikh commented on #3632
I've hit the same issue with 2.4.2 (`version="(version=2.4.2, branch=HEAD, revision=c305ffaa092e94e9d2dbbddf8226c4813b1190a0)"`).

I wonder if there's any connection to https://github.com/prometheus/tsdb/issues/21

<details>
<summary>Prometheus log</summary>
<pre>
server1# ./prometheus
level=info ts=2018-09-25T02:38:29.526367852Z caller=main.go:238 msg="Starting Prometheus" version="(version=2.4.2

[2018-09-25 03:51] MoSunDay commented on #4637
Thank you for your recovery. I know from the log of P8S that P8S rejects the indicators with the same timestamp. In fact, I want to know whether there is a switch that can make P8S accept the indicators with the same timestamp and cover the old data. There seems to be none. The current approach is to clean up old data through the HTTP API.

[2018-09-25 07:27] dlazerka commented on #4420
@brian-brazil

Actually, prometheus 2.2.1 writes to STDERR, not STDOUT. How to make it write to stdout when I don't have shell access? E.g. I'm running official vanilla `prom/prometheus` docker image on k8s. And by default, my logging collectors mark all the normal logs as errors because STDERR.

[2018-09-25 09:25] Teriand opened #4652 "Alert always update Active Since date to current time and cant fire"
## Bug Report
**What did you do?**
After upgrade 2.3.2 ->2.4.2
Alert always update Active Since date to current time and cant fire:

![image](https://user-images.githubusercontent.com/26705069/46004770-5c510b80-c0bc-11e8-85c0-8d092581efe0.png)
ex on screen
alert: IgnoreAlert
expr: vector(1)
for: 10s

cant fire. Before update i use him for tesing and it fire work.
"Active Since" always set after re

[2018-09-25 09:57] grobie commented on #4651
I think you want to move this issue to prometheus/node_exporter. This repo is about the Prometheus server, not about the sub-project to collect metrics from operating systems.

[2018-09-25 09:59] dswarbrick commented on #4651
@grobie Ah, I'm so sorry. It was extremely late (or early, depending on your viewpoint) when I wrote this. You're absolutely right, I meant to create it in the node_exporter repo. Is it possible to move it, or should I close and re-create?

[2018-09-25 12:51] simonpasquier commented on #4652
This is because your `grafana` label value is changing everytime Prometheus evaluates the alert. It was a bug (https://github.com/prometheus/prometheus/issues/4169) in the alerting code and it has been fixed in 2.4.x. You should store this value as an annotation instead.

[2018-09-25 12:51] #4652 closed

[2018-09-25 14:03] Teriand commented on #4652
but #4169 closed and #4500 merget, next #4571 track it ?

ps
move grafana from labels to annotations work fine. thx

[2018-09-25 14:08] simonpasquier commented on #4652
#4571 can be closed too if it is really a duplicate of #4169.

[2018-09-25 14:09] simonpasquier commented on #4571
Can you retest with the latest v2.4.2 release as it should be fixed now?

[2018-09-25 14:10] Teriand commented on #4652
and mb open my issue to track fix alerting code in 2.4.x?

[2018-09-25 14:18] simonpasquier commented on #4646
Yes additional logs is your best bet. You can look here: https://github.com/prometheus/prometheus/blob/b75ec7e6ef3666695edfa7bc1d9fccd1fdaae82a/scrape/scrape.go#L782

[2018-09-25 16:35] codesome commented on #1695
Got added in https://github.com/prometheus/prometheus/pull/4350.
@brian-brazil I think we can close this.

[2018-09-25 16:46] #1695 closed

[2018-09-25 17:51] fedya commented on #4529
Patch working fine.
Now i need some user guide, hot to connect prometheus and openstack.
At this moment i got
![screenshot_20180925_205059](https://user-images.githubusercontent.com/598477/46032591-be356380-c104-11e8-9445-88911ab19030.png)

[2018-09-25 18:16] flaviostutz commented on #1888
I wanted to create an alert that compares the current metrics to another in a specific point in time. In this case, this specific point in time was a time when I determined everything was normal. How would I do this in a query? Any ideas?

[2018-09-25 18:59] juliusv commented on #1888
@flaviostutz I don't think there's a way to do that in a single PromQL alerting rule as long as it's about an absolute time and not a relative one.

[2018-09-26 02:43] fumanne opened #4658 "alert rule can use defined value?"
My one metrics looks like this:
[code]

first metrics have cluster label, second have not cluster label
When I configure alert rule. I want to show cluster in every metrics (but the second rule have not cluster label).
Whether alert rule can support the default label value which I can defined (if metrics have no this label).
I mean alert rule looks like this:
`description: {{ $labels.ceph_daemon }

[2018-09-26 05:44] augmenter opened #4659 "Prom using up all available socket connections after a few days"
Windows Version using up all available socket connections after a long time it seems.
I'm running it fine for a few days, then I am hit with log messages:  _dial tcp 127.0.0.1:3000: bind: An operation on a socket could not be performed because the system lacked sufficient buffer space or because a queue was full._ When this happens, I am unable to open any browser webpages, or do any new connectio

[2018-09-26 05:57] augmenter commented on #4659
It might be connected to my other issue, https://github.com/prometheus/prometheus/issues/4646 . Where some domains are not scraped, but data is valid, some error might not be freeing up the connections. (Just throwing an idea out there...)

[2018-09-26 07:37] SuperQ commented on #4658
You can fix this in your query with `label_replace()`.

[code]

[2018-09-26 07:37] SuperQ commented on #4658
For usage questions/help, please use our [community](https://prometheus.io/community/). On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-09-26 07:38] #4658 closed

[2018-09-26 07:39] brancz commented on #4658
This would be an issue for the upstream project. You want to set external labels on your prometheus server then alerts always have that label.

[2018-09-26 07:47] fumanne commented on #4658
@SuperQ
Wow..... wonderful!!!.... thanks you very much

[2018-09-26 07:58] #4385 closed

[2018-09-26 08:29] RalphSu commented on #4522
Hmm, probably related, i had some function want it available to my user in PromQL, since i'm exposing the PromQL to them.
It's something like do calculation similiar https://en.wikipedia.org/wiki/Bollinger_Bands which sound like https://prometheus.io/docs/prometheus/latest/querying/functions/#holt_winters(), expecting syntax like bolling_band() that user can use.

Currently, it looks i had to fork

[2018-09-26 08:38] brian-brazil commented on #4522
That's already possible within PromQL.

[2018-09-26 08:40] gitchander opened #4660 "bad compile"
$ make build

GOOS= GOARCH= go get -u github.com/prometheus/promu

/home/chander/work/langs/golang/path/bin/promu build --prefix /home/chander/work/langs/golang/path/src/github.com/prometheus/prometheus

# github.com/prometheus/prometheus/discovery/targetgroup
discovery/targetgroup/targetgroup.go:81:5: dec.DisallowUnknownFields undefined (type *json.Decoder has no field or method DisallowUnknownFi

[2018-09-26 08:46] RalphSu commented on #4522
Do you mean extension is already possible? That would be cool, can you point me a bit of reference? Not find in site docs if i don't miss anything

[2018-09-26 08:56] gouthamve commented on #4660
To build Prometheus from the source code yourself you need to have a working Go environment with version 1.10 or greater installed.

Looks like the go version being used is not the latest. Please upgrade and try again.

[2018-09-26 08:56] #4660 closed

[2018-09-26 09:28] simonpasquier commented on #4529
This means that either your endpoint takes too much time to reply or there's some firewall/security group blocking the traffic. What if you do a `curl` to this URL from the Prometheus server.

[2018-09-26 09:39] simonpasquier commented on #4652
I'm not sure to understand your last question but there's no bug to be fixed. The alert's identity is defined by its labels. If the labels aren't constant over time then they are different alerts.

[2018-09-26 09:46] simonpasquier commented on #4659
This is probably a Windows-specific issue as it hasn't been reported for other systems. How many targets do you scrape?

[2018-09-26 09:55] gitchander commented on #4660
Bingo! It is has already compiled.
But there is no default config file here.

[2018-09-26 10:07] gouthamve commented on #4393
This is a bug and not an enhancement. If there is no memory, the kernel should ideally be freeing it or OOMing.

Now, having said that, I've checked the RSS when this happened, and there was 600M available to the container :/

[2018-09-26 10:12] fedya commented on #4529
@simonpasquier
`curl http://192.168.1.12:80/metrics`
same, just timeout

[code]

it is internal ip of virtual machine
there is no 80 port available and it is okay.

My config:
[code]

[2018-09-26 10:49] simonpasquier commented on #4393
I've tagged it as enhancement because of this remark from @iksaif

[2018-09-26 11:14] gouthamve commented on #4393
After some debugging it turns out, the node ran out of memory. But kubernetes killed a pod to make some memory, and everything came back to normal, except Prometheus. It just continued dropping samples :/ Not sure if the new WAL fixes it.

[2018-09-26 11:43] dano-o commented on #4314
I know this is a closed thread but wanted to point it out regardless that it is possible to ping OpsGenie from the AlertManager without custom headers.

1.) You can simply use the apiKey in the target URL:

https://api.opsgenie.com/v2/heartbeats/heartbeatname/ping?apiKey=XXXX

2.) You can use the Basic authentication method in AlertManager. OpsGenie will accept the following:

Header Key: Authoriz

[2018-09-26 13:11] Teriand commented on #4652
ok, i mistake u message: " It was a bug (#4169) in the alerting code and it has been fixed in 2.4.x."
I change all my alert-rule files for annotatons.
thx.

[2018-09-26 13:51] gouthamve opened #4661 "Metric for number of remote_read queries in-flight"
We have a metric that shows the number in-flight queries on the promql engine: `prometheus_engine_queries`, with the introduction of the concurrency limits #4656, a similar metric should be added for in-flight remote-read queries.

[2018-09-26 16:03] hbagdi commented on #3413
Facing the same issue as posted by @vishksaj  with 2.2.1 with no apparent pattern

[2018-09-26 16:10] JasonZhang1991 opened #4662 "file_sd_config: Support custom scrape_timeout"
how to config the targets.json  to custom scrape_timeout for  every  taget json?
 and  why  the label_name in targets.json is different from prometheus.yml,eg. methric_name in prometheus.yml but _ _metric_name_ _ in targets.json? why? why ? why?

[2018-09-26 18:10] augmenter commented on #4659
About 20. Some of the targets are still enabled even though they're down. About 5 are Up. Should I try running only with targets that are UP and see if there's a difference?

[2018-09-26 19:56] henridf commented on #1227
@juliusv catching up and trying to understand option 1. So for the use case from the above-linked discussion (https://groups.google.com/d/msg/prometheus-users/JOVfqQsVRl8/PLA0hGAMCgAJ), would the query in option 1 syntax be this? :

`min_over_time( rate(mysql_global_status_questions[2s])[60s])`

And returning to your example, is it correct that `rate(foo[1m])[10m:15s]` would give the same result a

[2018-09-26 20:11] juliusv commented on #1227
@henridf I think yes, pretty much.

[2018-09-26 20:28] brian-brazil commented on #1227
Almost, to preserve the invariant that query_range is syntactic sugar on top of query the start time should be aligned with the step.

[2018-09-26 20:30] henridf commented on #1227
so in theory at least, this could eventually remove the need for `query_range`?
(not sure about others but I was confused by the existence and role of `query_range` when first discovering the http api)

[2018-09-26 21:43] brian-brazil commented on #1227
No, I'd expect instant queries to still not return range vector and subqueries don't support arbitrary start points.

[2018-09-26 23:50] hayalci opened #4665 "Choose quay.io or docker hub and use it in docs & readme"
The [README.md](https://github.com/prometheus/prometheus/blob/master/README.md#docker-images) points to quay.io for docker images, while the [installation page](https://github.com/prometheus/prometheus/blob/master/docs/installation.md#using-docker) points to Docker Hub.

As a person who is not familiar with whole docker image ecosystem it took me a while to figure out which one was the up-to-date

[2018-09-27 05:28] gouthamve commented on #4641
Hi, this should be fixed in `2.4.2` could you try and check?

[2018-09-27 07:12] #4573 closed

[2018-09-27 07:47] henridf commented on #1227
Instant queries can already return range vectors...

[2018-09-27 07:52] simonpasquier commented on #4662
Thanks for the report, this is a duplicate of #4561 so I'm closing it. See also https://www.robustperception.io/keep-it-simple-scrape_interval-id

[2018-09-27 07:52] #4662 closed

[2018-09-27 08:31] wanghonglei5181 opened #4666 "is there a example which include from install prometheus to alertmanager"

[2018-09-27 08:47] jpalczewski commented on #3485
In
[code]
It might be again the case: I got
[code]
When I mounted volume from alpine container it seems like it where mounted as root:root.

Applicable fragments from docker-compose:
[code]

[2018-09-27 11:19] therealgambo commented on #4314
Thanks for this @dano-o. I can confirm your first solution worked, however when I tried the second option I could not get that working.

[2018-09-27 12:45] simonpasquier commented on #4571
Thanks @krasoffski

[2018-09-27 12:45] #4571 closed

[2018-09-27 13:18] #4565 closed

[2018-09-27 14:02] giusyfruity commented on #2573
In order for us to move Prometheus into production, it is critical that this issue be fixed first!

[2018-09-27 14:09] chester89 commented on #4648
@gouthamve so far no errors. I'll let it run for a week just to be sure.
I also noticed snapshot API no longer works without a `skip_head` parameter (but it did in 2.3.2)

[2018-09-27 14:11] gouthamve commented on #4648
@chester89 Cool, I'll close this for now. Can re-open if the issue persists. Could you open a new issue for the snapshot API issue?

[2018-09-27 14:13] chester89 commented on #4648
Sure, a bit later in the day

[2018-09-27 16:07] sevagh commented on #4624
Just adding my two cents here. `/-/healthy` is OK, but really `/graph` is the only accurate measure. Here's a log from a very slow poller startup:

Starting `08:37:38`, the moment the poller was running (and doing some tsdb crunching), it was `/-/healthy`:

[code]

It's only at `09:04:30` that it was truly healthy.

[2018-09-27 16:43] sevagh commented on #4650
The poller crashes after a long startup when `-race` is enabled:

[code]

[2018-09-27 18:56] augmenter commented on #4659
Having all targets in UP state does not help. Will try running PROM from docker and will update here.

[2018-09-27 21:10] dcmspe commented on #2459
I am experiencing the same issue.

`CONTAINER ID        NAME                CPU %               MEM USAGE / LIMIT     MEM %               NET I/O             BLOCK I/O           PIDS
c4120abe7244        prometheus          0.03%               21.57MiB / 15.58GiB   0.14%               44.7kB / 128kB      393kB / 0B          21
`

My docker has 15GB of limit, adding more memory could solve the issue

[2018-09-28 04:29] gouthamve commented on #4659
Hmm, this is concerning. Could you see if prometheus is holding files or network sockets? I am not familiar with Windows to see how to do it, but in linux, I'd use `lsof`.

Further, if it is indeed files, using `2.4.2` would help a lot because we've handled some issues regarding filehandling in Windows in that release.

[2018-09-28 07:48] wenfei3 opened #4668 "Zookeeper discovery has an exception"
## Bug Report
**What did you do?**
Added a serverset_sd_configs job in prometheus.yml and reloaded the prometheus.

**What did you expect to see?**
I would expect to see the prometheus could read the services which were registerd to zookeeper cluster.

**What did you see instead? Under which circumstances?**
When I reloaded the prometheus.yml, the  prometheus stopped working and I found some error

[2018-09-28 09:32] yasongxu commented on #1813
some project is open  [cortex](https://github.com/cortexproject/cortex)

[2018-09-28 09:41] wenfei3 commented on #4668
I thought I found my problem.

[2018-09-28 09:47] simonpasquier commented on #4668
Reopening as there's indeed a problem with the Zookeeper SD when it can't connect to the servers.

[2018-09-28 10:09] simonpasquier commented on #4624
@sevagh in your case, `/-/ready` should return the same status as `/graph`.

[2018-09-28 10:20] fengyuceNv opened #4670 "remote_storage affect local_storage performance"

[2018-09-28 10:31] wenfei3 commented on #4668
@simonpasquier
Thanks for your reply! There was another problem.My prometheus connected ZK servers successfully , but it couldn't get any services' address and port.

**Here is my prometheus log about ZK connection success**

[code]

**and here is the service in ZK**

[code]

**and here is my prom ui**

![image](https://user-images.githubusercontent.com/25998180/46203194-9f74de00-c34b-11e8-8594-4c

[2018-09-28 10:32] chester89 opened #4671 "Snapshot API no longer works without a `skip_head` parameter"
## Bug Report
**What did you do?**
Run `curl -XPOST http://localhost:9090/api/v1/admin/tsdb/snapshot`
**What did you expect to see?**
No errors, this worked ok in 2.3.2. Adding `?skip_head=false` to the query fixed the problem
**What did you see instead? Under which circumstances?**
`{"status":"error","errorType":"unavailable","error":"unable to parse boolean 'skip_head' argument: strconv.ParseBoo

[2018-09-28 10:33] chester89 commented on #4648
@gouthamve just filed #4671

[2018-09-28 10:35] chester89 commented on #4671
I think it'd be best to add a default value for `skip_head` parameter

[2018-09-28 11:44] Kilgaloon opened #4673 "Typo, saw this by accident"
`iff`

https://github.com/prometheus/prometheus/blob/f2d43af820468e3a47585ee1c1f18cf6ebf5888f/notifier/notifier.go#L90

[2018-09-28 12:10] simonpasquier commented on #4673
Not a typo, iff = "if and only if" https://en.wikipedia.org/wiki/Iff

[2018-09-28 12:10] #4673 closed

[2018-09-28 12:13] simonpasquier commented on #4668
Unfortunately I'm not a ZooKeeper SD expert. Which system does provision the serversets in your ZooKeeper cluster?

[2018-09-28 12:53] arnaudlemaignen opened #4675 "Instant Query not returning the right value"
## Bug Report
**What did you do?**
Launch a correct instant query
**What did you expect to see?**
Always return a value (that should be the last one)
**What did you see instead? Under which circumstances?**
it returns no data sometimes

My case is not really standard.
I am querying a DB every 20 min (scrape_interval) with a timeout bit less than 20 min .
Those queries are really long to execute so

[2018-09-28 13:15] simonpasquier commented on #4675
The maximum recommended value for `scrape_interval` is 2m because of staleness.

See https://prometheus.io/docs/prometheus/latest/querying/basics/#staleness

[2018-09-28 13:15] #4675 closed

[2018-09-28 15:13] SpoorthyB commented on #997
@guoshimin: I’m interested to know how you are handling this as of today as I have the same scenario as yours. Are you still using shell redirection or do you have an alternative ?

[2018-09-28 21:10] guoshimin commented on #997
@SpoorthyB I no longer need to do this. I simply let docker capture the stdout/stderr and from there I also set up logstash to ship the logs to elasticsearch. If I needed to do it today I would run prometheus under supervisord: http://supervisord.org/configuration.html#program-x-section-example

[2018-09-28 22:00] muralikanagala opened #4676 "Prometheus Crash on Querying a Specific Metric"
Hello There,

We are  using below version of Prometheus.
`prometheus, version 2.2.1 (branch: HEAD, revision: bc6058c81272a8d938c05e75607371284236aadc)
  build user:       root@149e5b3f0829
  build date:       20180314-14:15:45
  go version:       go1.10
`
We have recently added a new metric for netstat connections and gathering it using textfile_collector on wmi_exporter. We are able to see the me

[2018-09-29 05:32] tariq1890 commented on #4661
I can take this up

[2018-09-29 08:49] kamaradclimber commented on #4393
Had the same issue last night.

When it happened prometheus container was only using 1.6G out of the 2G allocated to the container.
See https://snapshot.raintank.io/dashboard/snapshot/P39ucxFdCl7ObNfpXc6gX8db1EN44xHj?orgId=2 for graph (memory is on the top right).

Details on the prometheus instance:
Version: 2.3.1
Revision: 188ca45bd85ce843071e768d855722a9d9dabe03
GoVersion: go1.10.3

I agree wit

[2018-09-29 12:36] xiaoxi1989 opened #4678 "kubernetes Failed to list *v1.Endpoints: Get https://xxxx:6443/api/v1/endpoints?limit=500&resourceVersion=0: x509: certificate signed by unknown authority""
## Bug Report
**What did you do?**
configuration in outside kubernetes cluster

[code]

**What did you expect to see?**
it can get entpoints info.

**What did you see instead? Under which circumstances?**
[code]

**Environment**
* System information:
Darwin 17.3.0 x86_64

* Prometheus version:
prometheus, version 2.4.2 (branch: HEAD, revision: c305ffaa092e94e9d2dbbddf8226c4813b1190a0)
  build user

[2018-09-29 12:39] xiaoxi1989 commented on #4678
it work by
`curl -k -H "Authorization: Bearer $(cat ../kubernetes/token)" 'https://xxx:6443/api/v1/endpoints?limit=500&resourceVersion=0' `

[2018-09-29 13:50] augmenter commented on #4659
I have been running Prometheus inside docker for a few days and it seems better. I cant use 2.4.2 I receive this error "INVALID is not a valid start token". I will try to run the windows version and check using tips found here to find if Prometheus is holding the connections open - https://stackoverflow.com/questions/8902136/how-to-find-a-list-of-sockets-held-by-a-process-in-windows

[2018-09-30 03:04] fengyuceNv commented on #4670
t.shardsMtx.Lock()
	enqueued := t.shards.enqueue(&snew)
	t.shardsMtx.Unlock()

I think this is the root cause，at storage/romote/storage.go line 221

[2018-09-30 06:17] gouthamve commented on #4676
Hi, could you try the latest version `2.4.2`. There were some issues with the delete API that were already fixed.

[2018-09-30 06:39] wenfei3 commented on #4668
Thanks for your reply!
I think I know where my problem is.I use the spring-cloud to implement services discovery, and the prometheus doesn't support it.It only support the finagle .

[2018-09-30 16:49] bcochofel opened #4680 "Write only record rules to remote write backend"
Hi,

Is there a way to only send to remote write (like Inluxdb) some metrics? I want to only send the record rules I've created, is this possible?

Thanks,
Bruno

[2018-09-30 19:37] roidelapluie opened #4681 "Support Sub Alerts"
In order to have better alerting, I would like to have prometheus support for «sub alerts»:

Example(Pseudo Code):

- Alert when disk usage > 95%
  - Until: disk usage > 90%

It means that the alert fires when the main alert is firing, and keeps firing until all the subalerts and the main one are solved.

Sub alerts are only computed when the first alert is firing or all the sub alerts are not res

[2018-10-01 06:34] chester89 commented on #4648
@gouthamve I'm seeing the same errors:
[code]

[2018-10-01 08:21] austin987 opened #4683 "Allow customizing the server name"
Currently, it's hardcoded:
https://github.com/prometheus/prometheus/blob/9ee4b05d16de0b1ecd8bdaa644c2d72cdb8e41ee/web/ui/templates/_base.html#L6

as `Prometheus Time Series Collection and Processing Server`

I'd like the ability to customize it with my own title. In particular, I'd like to show the current environment, so I can distinguish between different instances.

So for example:
`'Dev Promet

[2018-10-01 09:34] simonpasquier commented on #4678
I've tested on my local environment and it works fine with `insecure_skip_verify: true`. Can you paste the full configuration as displayed in the Prometheus UI (Status > Configuration menu)?

[2018-10-01 09:40] simonpasquier commented on #4680
You can probably use [`write_relabel_configs`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write) for this use case.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-10-01 09:40] #4680 closed

[2018-10-01 12:28] simonpasquier opened #4684 "EC2 service discovery panics when OwnerID is nil"
_This only affects installations specifying the `endpoint` parameter in the EC2 SD configuration which means it doesn't concern users on AWS EC2._

https://github.com/prometheus/prometheus/blob/1c89984778fa78eda1b89d7fc2d30e025c7d3b9a/discovery/ec2/ec2.go#L243-L246

When `r.OwnerId` is `nil`, the server will crash.

[2018-10-01 12:29] simonpasquier commented on #4684
Associated PR https://github.com/prometheus/prometheus/pull/4672

[2018-10-01 12:35] krasi-georgiev commented on #4629
@simonpasquier I think this is related to the promql so updated the labels.

[2018-10-01 12:44] krasi-georgiev commented on #4598
ping @haraldschilly

[2018-10-01 12:47] simonpasquier commented on #4019
@tomwilkie are you still seeing this issue? v2.4.x included lots of ~~improvements~~ fixes on the SD side and in particular, the annoying https://github.com/prometheus/prometheus/issues/4124 should :tm: be fixed.

[2018-10-01 12:48] simonpasquier commented on #3664
@moshebs any update?

[2018-10-01 12:49] simonpasquier commented on #2876
Closing as it relates to Prometheus 1.x. Feel free to (re)open the issue if it happens with the latest stable version too.

[2018-10-01 12:49] #2876 closed

[2018-10-01 12:57] haraldschilly commented on #4598
We downgraded back to version 2.3.2. However, yes, the block durations aren't the defaults.
Right now it's
[code]
and well, previously, the max block duration was `2h`. Maybe there is some mixup when the max block duration parameter is different from the one on disk? I didn't spend any time in testing this for reporting something reproducible. Hence I'm not sure how valuable this info is.

[2018-10-01 13:07] brian-brazil commented on #4681
In Prometheus our philosophy is that alerts should be symptom based rather than cause based, and require intelligent human action (see https://prometheus.io/docs/practices/alerting/). If you're depending on hysteresis or other logic to indicate that a problem is "fixed", then that is an indication that you're probably doing cause-based alerting and trying to deal with the noisiness of that tactic

[2018-10-01 13:42] krasi-georgiev commented on #4598
yeah without steps to reproduce It would be  time consuming to troubleshoot this so I wouldn't have the time to take this road.

the logs show that all overlapping blocks have the same time ranges so  it probably went into some sort of a dead loop maybe caused by some edge case with your settings and the upgrade path.

If you don't think we can figure out the steps to reproduce now, my suggestion

[2018-10-01 14:12] simonpasquier commented on #4659
can you paste the metrics output from the target that generates this error?

[2018-10-01 14:32] skristallidis opened #7339 "v2 snapshots folder location"
It would be very helpful to be able to modify the output of POST /api/v1/admin/tsdb/snapshot?skip_head=<bool> to a custom location and not the <data-dir>. Using a flag maybe?

The reason for this feature suggestion is that somebody needs 2x bigger disk in order to keep a full snapshot. By providing a configurable location for the snapshot the users will be able to keep snapshots to a network share

[2018-10-01 16:07] muralikanagala commented on #4676
Thank you! We will try the upgrade.

[2018-10-01 18:52] roidelapluie commented on #4681
We have lots of alerts targetted at automation systems for healing ; not just people.

[2018-10-01 19:16] DrHashi opened #4686 "Service Discovery on AWS API denied using EC2 role"
## Proposal
Fix AWS api calls to describe instance while using ec2_profile/role

## Bug Report

**What did you expect to see?**
nodes being automatically propagated

* System information:
[code]
* Prometheus version:
[code]
* Prometheus configuration file:
[code]

* EC2 Trust relationship:

[code]

* EC2 Instance Profile configuration:

[code]

* Logs:
[code]

[2018-10-01 21:44] haraldschilly commented on #4598
Yes, I fully understand :-)

Just as an additional datapoint, before I close this, I experimented around with the older version `2.3.2` (not the one I was originally reporting) and also changing these min/max intervals from 2h → 1h and 10m → 5m. This is the last line before the crash, which happened during startup in the first couple of minutes:

These `mint` are almost everywhere the same. Is tha

[2018-10-01 21:44] #4598 closed

[2018-10-01 22:33] krasi-georgiev commented on #4598
there was one specific fix that prevent crash loops after OOM so chances are this should be fine in 2.4

[2018-10-02 06:05] moshebs commented on #3664
@simonpasquier no, not yet, but I hope I will have an update soon.

[2018-10-02 09:16] omegarus commented on #4392
I don't know if it's relevant but I had similar problem. I change binary to amd64 and problem disappeared.

[2018-10-02 09:35] simonpasquier commented on #4392
@omegarus what do you mean exactly by "change binary to amd64"? What was the architecture before?

[2018-10-02 12:29] tariq1890 commented on #4661
Hi @gouthamve . To continue the discussion, I had created the other PR based on how other metrics were tracked in prometheus.

If I understand correctly, We want a remote read metric at the api module level regardless of the underlying remote storage implementation used. Please correct me If I am wrong.

[2018-10-02 12:52] Dominik-K commented on #3566
It didn't occur again, currently running on v2.3.0. It wasn't reproducible, either. So, it's fine that you closed it 👍

[2018-10-02 14:16] bmihaescu commented on #4058
I faced this problem also today.
Finding and deleting the folder with the empty json solved the issue.

[code]

[2018-10-02 14:39] krasi-georgiev commented on #4058
do you by any chance use NFS?

There was some discussion in the past and NFS sometimes behaves weird and I don't think there was  anything we could do to prevent this sp for this reason NFS is considered unsupported.

[2018-10-02 14:40] krasi-georgiev commented on #3566
thanks, appreciated the update!

[2018-10-02 15:09] kentsanggds opened #4689 "Unit testing for alert rules are not working as expected"
## Bug Report
**What did you do?**

I'm trying to set up the unit testing for alert rules according to these docs - https://github.com/prometheus/prometheus/blob/master/docs/configuration/unit_testing_rules.md#testyml

I had to fix the yaml by using `- alert_rule_test` rather than `alert_rule_test` to get it running

**What did you expect to see?**

The example alert rule test to work and report s

[2018-10-02 15:15] gouthamve commented on #4689
/cc @codesome

[2018-10-02 15:46] codesome commented on #4689
@kentsanggds Thanks for this, looks like docs are not clear.

In the docs I missed the indentation (it should be lined with `input_series`). Can you try with this (same thing with proper indentation): https://gist.github.com/codesome/f4426d28244ee9fac128031ed2f9af70?

I will update the docs with clear instructions. `alerts.yml` is inputed in `test.yml`. So the command should be `promtool test rule

[2018-10-02 20:16] kentsanggds commented on #4689
Thanks, I tried that out and that fixed it.
Strange that the `yaml` appeared to be acceptable, perhaps there should be additional checks for input series?

[2018-10-02 21:09] augmenter commented on #4659
@simonpasquier: I can't really share the whole output due to privacy reasons, here's a piece of it. Would it be possible to add more detail to the parsing error?
`# HELP api_response_average api_response_average
# TYPE api_response_average counter
api_response_average{group="giveMoney",server="web03"} 0
api_response_average{group="giveMoney",server="web04"} 0
# HELP api_response_seconds api_respon

[2018-10-03 07:51] riconnon opened #4691 "Hosts file service discovery"
## Proposal
Support service discovery through monitoring for a hostname in hosts file or hosts nameservice.
This would allow for a discovery of services within a shared docker network.

[2018-10-03 08:11] #4691 closed

[2018-10-03 08:15] simonpasquier commented on #4659
You can check the metrics with `promtool`:

[code]

[2018-10-03 08:53] simonpasquier commented on #4661
@tariq1890 this metric applies to the `/api/v1/read` endpoint which can be used by external systems to read samples from Prometheus. One use case is described here: https://www.robustperception.io/accessing-data-from-prometheus-1-x-in-prometheus-2-0

[2018-10-03 09:34] codesome commented on #4689
I am not clear what are we referring to.

I did not quite understand this, can you give an example?

[2018-10-03 12:05] augmenter commented on #4646
I don't know how to build Prometheus on Go. However I tried the proomtool to check the metrics. And it gives the following output:
`error while linting: text format parsing error in line 1955: invalid metric name`
Which is unfortunately the last line of the metric (followed by 4 newlines x0D00 x0A00):
`telemetry_kafka_total{group="raw_bets",server="ca-v2"} 171
telemetry_kafka_total{group="raw_play

[2018-10-03 13:20] kentsanggds commented on #4689
I managed to get what I thought was a working `yaml` file by adding a `-` to the `alert_rule_test`, so the test ran but didn't have any `input_series`, would be nice if there are no series data for the test to be flagged up.

Regarding missing metrics it would be nice if we could simulate when at particular data points the metric was missing, perhaps something like this -

`100 101 100 - - - 120 1

[2018-10-03 14:19] codesome commented on #4689
No `input_series` would indicate the situation where none of the exporters are up. So I would like to keep it the way it is now.

And regarding having missing metrics, it is already supported. You use `_` for that. You can refer [this example from code](https://github.com/prometheus/prometheus/blob/9bca041285e226410809b64ce2d178bc4ccabbcf/promql/parse_test.go#L1734) to know more.

[2018-10-03 14:28] augmenter commented on #4646
Ok, until I removed the trailing \r I was recieving errors like "error while linting: text format parsing error in line 1731: invalid metric name", and "api_response_average counter metrics should have "_total" suffix". When I fixed those, the promtool stop returning errors. However the scraping still does not work. When I curl the metric output to a txt file, the contents are visible.

[code]
Odd

[2018-10-03 15:18] kentsanggds commented on #4689
Thanks, ok I understand the reason for the `input_series`.

With the missing metrics, I'm not sure it is working as expected as it doesn't trigger the alert, can you tell me how I would run the test so that I can modify the existing test to try things out.

[2018-10-03 15:27] simonpasquier commented on #4393
Can you share more information about this? AFAIK there's no way to do it in Go (I've only found https://github.com/golang/go/issues/16843).

2.4.x has a new implementation of the WAL and since your original error was related to the WAL, it might be worth testing again with an newer version. It would be interesting to capture the `go_memstats_*` metrics when it happens.

[2018-10-03 16:08] iksaif commented on #4393
See `*.failcnt` in https://www.kernel.org/doc/Documentation/cgroup-v1/memory.txt

[2018-10-04 04:03] pramodhkp commented on #2119
Hi, I'd like to pick this up and give it a try. Any pointers or suggestions as to things to keep in mind and where to start?

Thanks!

[2018-10-04 08:52] simonpasquier commented on #4578
It should be fixed by #4692 that includes https://github.com/prometheus/tsdb/pull/396 and adds the following metrics:

* prometheus_tsdb_head_truncations_failed_total
* prometheus_tsdb_head_truncations_total
* prometheus_tsdb_checkpoint_creations_failed_total
* prometheus_tsdb_checkpoint_creations_total
* prometheus_tsdb_checkpoint_deletions_failed_total
* prometheus_tsdb_checkpoint_deletions_tota

[2018-10-04 09:59] trnl opened #4695 "WAL files are not truncated after upgrade to 2.4.2, caused by `unexpected gap to last checkpoint`"
## Bug Report
Updated from v2.2.1 to v2.4.2

We have 2 setups:
- Prometheus writing to AWS EBS mount
- Prometheus writing to NFS mount

Both running inside Docker/Kubernetes.

We see that with 2.4.2 Prometheus stopped truncating WAL files and thus the disc usage growths and at some moment process stops. Repair is problematic. `prometheus_tsdb_wal_truncate_duration_seconds_count` is 0, 'prometheus_

[2018-10-04 10:06] gouthamve commented on #4695
This looks serious, could you share the logs for the EBS setup before the log line you shared?

It could have been there was an error prior to this that could have triggered this. Sharing all the logs helps us debug the issue faster.

Also, is it the same case with NFS? We're not truncating the WAL there too? That would be surprising as we should be logging all the errors in that case.

[2018-10-04 10:08] gouthamve commented on #4689
@kentsanggds Please compile `promtool` from `master` and run `./promtool test rules test.yml`

[2018-10-04 10:09] gouthamve commented on #4684
Closed in #4672

[2018-10-04 10:09] #4684 closed

[2018-10-04 10:10] gouthamve commented on #4671
Closed in #4674 and out in `2.4.3`

[2018-10-04 10:10] #4671 closed

[2018-10-04 10:20] trnl commented on #4695
@gouthamve, I've pasted the full output since the last restart.

[2018-10-04 10:37] gouthamve commented on #4498
I'm closing this as it is most probably fixed in #4443 Please let me know if it's otherwise.

[2018-10-04 10:37] #4498 closed

[2018-10-04 10:38] trnl commented on #4695
@gouthamve, yes. Nothing in the logs of NFS one. We just started it at 10:30, but I'm not sure how often compaction happens

[code]
What we also see on NFS - ammount of `prometheus_tsdb_head_series` constantly growing without any leaking metrics on the back
![image](https://user-images.githubusercontent.com/429240/46468962-476a2b80-c7d2-11e8-985e-8c1917c4bf16.png)

[2018-10-04 11:15] kentsanggds commented on #4689
I was actually referring to the tests here - https://github.com/prometheus/prometheus/blob/9bca041285e226410809b64ce2d178bc4ccabbcf/promql/parse_test.go#L1734, in the end I sorted it out and managed to get the alerting rule tests working as I would like, but it would be nice also to be able to run those tests to try things out without having to set up the tests.

One thing which I find odd is that

[2018-10-04 13:34] simonpasquier commented on #4646
Very weird... Would you be able to run the same configuration on a Linux box so that we can ensure whether it is a platform issue or a more general one?

[2018-10-04 14:20] trnl commented on #4695
After some time. Check the length of head block which is calculated like:
[code]

![image](https://user-images.githubusercontent.com/429240/46480304-3e3c8700-c7f1-11e8-87da-90e41ec518bc.png)

[2018-10-04 14:57] simonpasquier commented on #4695
From your logs, it seems that the WAL directory was corrupted and had been repaired:

[code]
It might be why the head truncation failed subsequently with `reload blocks: head truncate failed: create checkpoint: unexpected gap to last checkpoint`. Can you list the files in the `wal/` directory?

[2018-10-04 15:02] simonpasquier commented on #4615
I'm closing this request as in the near future, Prometheus aims at being compliant with [OpenMetrics](https://openmetrics.io/) which will be the source of truth for the exposition format.

[2018-10-04 15:02] #4615 closed

[2018-10-04 15:39] trnl commented on #4695
@simonpasquier, please see below:

[code]

[2018-10-04 17:36] augmenter commented on #4646
Tried running it in Docker for Mac, same result. Retried on windows again with 2.4.2 after fixing scraping errors from promtool, still no scraping is being done. Ran promtool on both 2.3.2 and 2.4.2 gave no errors.

[2018-10-04 22:39] cstyan commented on #4695
From the timestamps it looks like the first checkpoint was created at the expected time. That 2nd set of logs you pasted shows that.

Do you happen to have the wal directory for the instance using EBS? As @simonpasquier pointed out, the corruption of segment 396 and deletion of segments after that is probably what's happened.