[2018-10-05 03:02] gouthamve commented on #4695
@trnl Looks like the WAL directory you shared belongs to the NFS one, could you share the contents for the EBS one?

[2018-10-05 06:07] chester89 commented on #4648
@gouthamve I think you should reopen the issue

[2018-10-05 07:00] alevchuk opened #4697 "Possible Bug: runtime error: invalid memory address or nil pointer dereference"
## Bug Report

Highlight: `panic: runtime error: invalid memory address or nil pointer dereference. created by github.com/prometheus/prometheus/vendor/github.com/prometheus/tsdb.Open /home/prometheus/gocode/src/github.com/prometheus/prometheus/vendor/github.com/prometheus/tsdb/db.go:272 +0x468`

**What did you do?**
Used https://github.com/prometheus/prometheus#building-from-source
to build Promet

[2018-10-05 10:55] codesome commented on #4689
Can you share your test files so that I can dig in more?

[2018-10-05 11:00] beorn7 commented on #4697
I'll take this. We simply have to update the vendoring for client_golang to include https://github.com/prometheus/client_golang/commit/7973e4709d98873b5b5bb9776a13156277c30dc5 .

**Note: This is _not_ in the release-2.4 brunch, but only in master.**

[2018-10-05 12:10] #4697 closed

[2018-10-05 16:11] #4529 closed

[2018-10-06 11:38] davidkarlsen opened #4703 "consul-sd started failing with 2.4.3"
## Bug Report
**What did you do?**
Upgrade from v2.4.2 to v2.4.3

**What did you expect to see?**
That consul sd kept on working

**What did you see instead? Under which circumstances?**
The targets found through consul disappeared

**Environment**

* System information:
N/A

* Prometheus version:
v2.4.3

* Prometheus configuration file:
[code]

[2018-10-06 15:17] juliusv commented on #4703
Can you confirm that it's still working with 2.4.2? These are all code changes from 2.4.2 -> 2.4.3:

https://github.com/prometheus/prometheus/compare/v2.4.2...v2.4.3

It's really few changes and I have a hard time seeing how anything in there could have affected Consul SD...

[2018-10-06 15:47] davidkarlsen commented on #4703
Yes - works fine if I downgrade

[2018-10-06 15:49] juliusv commented on #4703
@davidkarlsen So strange - do you see any pre-relabeling targets being discovered under http://demo.robustperception.io:9090/service-discovery with 2.4.3?

[2018-10-06 16:04] davidkarlsen commented on #4703
Ah - I see what's going on now - it has trouble resolving the name of my consul server.
Did the base-image change in any way?

[2018-10-06 16:14] davidkarlsen commented on #4703
ah - now this is embarrassing - docker adds the hostname to /etc/hosts which messes things up - something has changed here - but it's a docker problem at my side. Sorry for the noise!

[2018-10-06 16:14] #4703 closed

[2018-10-07 01:50] lambertjosh opened #4704 "Appending text to a subgroup"
It does not appear possible to append text directly to a subgroup, without introducing characters in between.

I have a metric that outputs the exact HTTP return codes, and I'd like to instead view these as their groups. (e.g. 2xx, 4xx, 5xx)

I can do this with some very ugly nested label_replace's:
`sum(label_replace(label_replace(label_replace(label_replace(rate(nginx_ingress_controller_requests

[2018-10-07 02:44] Place1 commented on #4603
I've hit this as well on `prom/prometheus:v2.4.3`
[code]

[2018-10-07 02:47] gouthamve opened #4705 "WAL requires more robust corruption handling"
From https://github.com/prometheus/prometheus/issues/4603#issuecomment-427621182

We should be able to handle errors of the form:
[code]

[2018-10-07 02:49] gouthamve commented on #4603
Hi @Place1, I've opened a new issue for it here: https://github.com/prometheus/prometheus/issues/4705

In the meantime while we fix it, you could delete the contents of the WAL directory to unblock prometheus. Please note that there will be loss of some data (upto 2hrs).

[2018-10-07 06:53] brian-brazil commented on #4704
Try `${1}`.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-10-07 06:53] #4704 closed

[2018-10-08 06:20] kdada opened #4706 "Show last execution time of rules"
## Proposal
**Use case. Why is this important?**

In the page of '/rules', there is only `EvaluationDuration` of groups and rules. `LastExecutionTime` is required to show the last execution time a group. Then we can check if rules are executing normally. This field is like `LastScrapeTime`.

Also `/targets` could have a filed to show the scrape duration of a target. Then we can see if a target hav

[2018-10-08 06:33] #4670 closed

[2018-10-08 09:33] junneyang commented on #3169
+1

[2018-10-08 10:04] Betula-L opened #4707 "Support OpenTSDB remote read"
## Proposal

There have been several back-end storage supported remote read, such as InfluxDB, as described in https://prometheus.io/docs/operating/integrations.

But why is there no remote read adaptor for OpenTSDB now?

Is it due to the limitation of  OpenTSDB read API or just because no one implement it?

I wanna implement it if possible.

[2018-10-08 10:14] VR6Pete commented on #4314
Hi @dano-o - Are you setting this up as a Prometheus job in Prometheus.yml? How have you implemented this server side?

[2018-10-08 11:35] Vlaaaaaaad commented on #4058
@krasi-georgiev: working with @bmihaescu so I can comment on this. The error is from a kops-deployed cluster running on AWS using EBS.

[2018-10-08 12:37] simonpasquier commented on #4703
This has been introduced by https://github.com/prometheus/busybox/pull/16

[2018-10-08 12:48] steffkes opened #4708 "Old Dockerfile shown on docker hub"
https://github.com/prometheus/prometheus/commit/377a549fe6e262286bea5b9ce933d5cae6504031 fixed the command line flags over a year ago - i've realized that the ["Dockerfile" Tab on docker hub](https://hub.docker.com/r/prom/prometheus/~/dockerfile/) still shows the old/previous version.

I'm not sure this repository is the right entrypoint for hints like this? if not, please let me know where else t

[2018-10-08 12:53] simonpasquier commented on #4708
Dupe of #3778

[2018-10-08 12:53] #4708 closed

[2018-10-08 13:09] steffkes commented on #4708
Ouch, thanks for the heads up Simon - i didn't see any open issues about it.

[2018-10-08 13:11] simonpasquier commented on #4708
No problem, thanks for taking the time to open an issue!

[2018-10-08 14:51] #4646 closed

[2018-10-08 14:55] augmenter commented on #4659
@simonpasquier Seems the issue is gone in v2.4.2!! I will report back if it reoccurs. Thanks a lot for the help!

[2018-10-08 14:55] #4659 closed

[2018-10-08 16:44] kentsanggds commented on #4689
Sure, I am working on a branch in github, have a look here for the test file -

https://github.com/alphagov/prometheus-aws-configuration-beta/blob/add-rules-tests/terraform/projects/app-ecs-services/config/alerts/test-observe-alerts.yml

[2018-10-08 16:51] krasi-georgiev commented on #4058
That would be hard to troubleshoot. I would need some specific steps to know how to replicate.

How often does it happen and can you replicate with latest release?

[2018-10-08 19:52] krasi-georgiev commented on #4058
@Vlaaaaaaad , @bmihaescu are you sure you have enough free space?. (suggested by Brian on IRC so worth checking.)
During compaction it needs a bit for temporary holder during the joining.

[2018-10-08 23:49] sdazzo opened #4709 "Prometheus doesn't appear to actually scrape pushgateway"
## Bug Report
**What did you do?**
We have a set of ephemeral batch jobs that push their metrics to a pushgateway (v0.5.2). The jobs successfully push to the pushgateway and we can see them on the pushgateway gui and when we scrape the endpoint manually (localhost:9091/metrics).

**What did you expect to see?**
We expected prometheus (v2.4.0) to scrape the pushgateway.

**What did you see instead?

[2018-10-09 07:13] Toriniasty opened #4710 "Provide a way to insert random uuidv4 in alert definition."
## Proposal
**Use case. Why is this important?**
We have a 4 non clustered alartmanagers setup with custom written http webhook server.

We have also custom written clients(except prometheus) which submit payload via alertmanager api, but when they do we insert there uuidv4 to deduplicate the messages in our mysql instance by providing unique key on the column.

Where the setup works perfectly fin

[2018-10-09 08:04] simonpasquier commented on #4710
Not sure that I fully understand what you're looking for so let me try to rephrase your use case. When an alert is firing in Prometheus, you want to add a label with a random value that will remain constant as long as the alert is active. If the same alert gets resolved and fires again then you want the label value to be regenerated. Is that correct?

There's no way I know that it would work out o

[2018-10-09 08:06] simonpasquier commented on #4709
You can check the status of the target in the Targets page of the Prometheus UI. You can also check the `up{job="pushgateway"}` metric: 1 means that the scrape was successful, 0 otherwise.

[2018-10-09 08:13] Toriniasty commented on #4710
Not sure that I fully understand what you're looking for so let me try to rephrase your use case. When an alert is firing in Prometheus, you want to add a label with a random value that will remain constant as long as the alert is active. If the same alert gets resolved and fires again then you want the label value to be regenerated. Is that correct?
**Yes**

Problem with insertion on uuid on the

[2018-10-09 09:15] Vlaaaaaaad commented on #4058
@krasi-georgiev oh, that is likely to be the issue. We do have some free space, but not much. Is there some documentation on how much space should be free( a certain value, a percentage)?
@bmihaescu will have more details as he was the one who did the investigation and fix.

This is happening on two older clusters( k8s 1.10.3 and 1.9.6), with prometheus-operator v0.17.0 and prometheus v2.2.1 so th

[2018-10-09 09:28] krasi-georgiev commented on #4058
I am not 100% sure, but logically I would say at least 5 times your biggest block.
Maybe a bit less will do, but storage is not expensive these days so better be on the safe side.

btw there are plans to add storage based retention so should help  use cases where storage is limited. https://github.com/prometheus/tsdb/pull/343

[2018-10-09 09:51] kentsanggds opened #4711 "Not able to run promtool tests without cloning the repo"
## Bug Report
**What did you do?**

I tried to use homebrew to install the latest version of the promtool, but although I managed to upgrade to 2.4.2 promtool test would fail. I eventually got it working by cloning the repo and building it on my machine.

However I would also like to run the alert tests on Travis using wget to download the release -

https://github.com/prometheus/prometheus/releas

[2018-10-09 15:04] simonpasquier commented on #4711
The `promtool test` command isn't part of any official release yet. You have to compile the binary from the `master` branch.

[2018-10-09 15:04] #4711 closed

[2018-10-09 15:06] kentsanggds commented on #4711
Thanks, any timescale on when it will be released?

[2018-10-09 15:17] #4339 closed

[2018-10-09 15:21] simonpasquier commented on #3876
Closed by #4458

[2018-10-09 15:21] #3876 closed

[2018-10-09 15:29] simonpasquier commented on #3007
@civik I'm closing it for now. Feel free to reopen if you face the issue again.

[2018-10-09 15:29] #3007 closed

[2018-10-09 15:38] simonpasquier commented on #4711
Sure. The project has recently opted for a 6 weeks release cadence. Since 2.4.0 has been released 4 weeks ago, 2.5.0 should be there in 2 weeks.

[2018-10-09 19:02] sdazzo commented on #4709
Hi, pushgateway is shown as up:
![screen shot 2018-10-09 at 11 56 55 am](https://user-images.githubusercontent.com/20912574/46691759-7ad5fd00-cbba-11e8-820d-37c1cd657173.png)

However, the following metric is not getting pulled into prometheus:
![screen shot 2018-10-09 at 11 57 55 am](https://user-images.githubusercontent.com/20912574/46691808-95a87180-cbba-11e8-8bf1-e38e5a537384.png)
As you can s

[2018-10-09 21:32] brian-brazil commented on #3632
I've also gotten a report of this with a 2.4.2, which is OOMing.

[2018-10-10 07:43] simonpasquier commented on #3778
@kristaxox I'd rather remove the Dockerfile from Docker Hub as it is easy to get it from GitHub. I'm trying to get that done btw.

[2018-10-10 07:54] simonpasquier commented on #4709
`ctan_test2_job` is the name of the job in the PushGateway, not a metric name. From the second screenshot, it looks like there's no metric for `ctan_test2_job` (probably you deleted all metrics associated to the job). If you query `{exported_job="ctan_test2_job"}` in Prometheus, you'll get the same result as what the PushGateway UI displays.

I'm closing it for now. If you have further questions,

[2018-10-10 07:54] #4709 closed

[2018-10-10 08:48] #4563 closed

[2018-10-10 09:17] nikopen commented on #3043
@brian-brazil if I understand correctly, `externalLabels: "monitor: <foobar>"` cannot be used directly on an alert with {{ $labels.monitor }}, but only works as {{ .GroupLabels.monitor }} on the alertmanager configuration? or does one need something extra called a notification template using something else?

Why is the one '$<lowercase>' and the other '.<CamelCase>'?
What's difference between $lab

[2018-10-10 09:38] beorn7 commented on #3399
Any executive decision on this from the maintainers? @brian-brazil @fabxc @juliusv

From the above, it looks we are in breach of the Apache license if we don't keep the NOTICE file up to date.

[2018-10-10 09:49] beorn7 opened #4714 "Update MAINTAINERS.md"
@fabxc 's email address (fabian.reinartz@coreos.com) seems outdated.

Beyond that formally required update, does the current state of MAINTAINERS.md still represent reality?

Local storage is still just missing here (which is worse in combination with https://github.com/prometheus/tsdb/issues/403 ).

Do the other focus areas still make sense? Both their layout as well as the maintainers assigned.

[2018-10-10 10:05] krasi-georgiev commented on #4578
@beorn7 the new wal metrics are added.
Shall I try and replicate this to find the culprit or we will revisit if we get another report?

[2018-10-10 10:13] krasi-georgiev commented on #4393
@gouthamve  at the end do you think  this is a problem with tsdb ?

did you mean that Prometheus was restarted, but continued dropping samples?

[2018-10-10 10:28] krasi-georgiev commented on #4695
btw I will also check if there could be any way to handle this more gracefully.

[2018-10-10 11:19] beorn7 commented on #4578
I'm happy to report if I run into the issue again. Once I get to it, I'll add alerts for the new metrics. (That's yet another "ASAP" on my growing list...)
I don't think I'll find time soon to deliberately create the same overload situation again.

[2018-10-10 11:47] nim-nim commented on #4563
Thanks a lot !

[2018-10-10 12:10] lgogolin commented on #3351
Any update on this ?

Getting labels from remote_read would be really helpful

[2018-10-10 12:40] beorn7 commented on #4578
Sure. Whatever helps bookkeeping most...

[2018-10-10 12:40] #4578 closed

[2018-10-10 13:25] xiyanxiyan10 opened #4716 "bugs with timezone"
There is no parameter to set the timezone and not use the computer’s timezone, so alert with wrong timestamp will send to the alertmanager.

[2018-10-10 14:01] simonpasquier commented on #4716
All times are in UTC. See https://prometheus.io/docs/introduction/faq/#can-i-change-the-timezone?-why-is-everything-in-utc?

See https://github.com/prometheus/prometheus/issues/500 which is about adding timezone awareness to the UI part.

[2018-10-10 14:01] #4716 closed

[2018-10-10 16:30] sdazzo commented on #4709
Does the Value field not represent the metric value? Sorry, I missed that part of the screenshot.

![screen shot 2018-10-10 at 9 27 35 am](https://user-images.githubusercontent.com/20912574/46751294-f09ba080-cc6e-11e8-99bd-04711de31335.png)

[2018-10-10 17:02] vishksaj opened #4717 "kubernetes prometheus.io/path is not changing metric path in service endpoint."
What did you do?

Annotations configured for my service

      "prometheus.io/path": "/exporter",
      "prometheus.io/port": "9913",
      "prometheus.io/scrape": "true"

What did you expect to see?

As per relabel config the service endpoint should be /exporter

    - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_metric_path]
      action: replace
      target_label: __metri

[2018-10-10 17:10] fabxc commented on #3399
If our chosen license requires it, I guess no contrary opinions are really relevant – we have to do it.

[2018-10-10 17:23] simplytunde opened #4718 "Prometheus Community Slack Channel"
## Proposal
**Use case. Why is this important?**
This is a community channel for those who are heavy on slack where you get support on questions and also discuss events going on in prometheus ecosystem. To join on slack, go to https://joinprometheus.herokuapp.com/

[2018-10-10 17:47] wbh1 commented on #4706
I'd like to work on adding this, if that's okay.

[2018-10-10 19:56] juliusv commented on #3399
To me this isn't 100% clear-cut yet. We do need to distribute the original license notices somewhere, but according to my reading, not necessarily in a central NOTICE file. The relevant section 4.d. in https://www.apache.org/licenses/LICENSE-2.0.html#redistribution says:

...with the most relevant part being: "[...] in at least one of the following places: within a NOTICE text file distributed as

[2018-10-10 21:30] krasi-georgiev commented on #4695
that is a good idea,
I will test it and if it takes the same time and resource we can  do this be default and not only when there are missing segments.

[2018-10-10 23:09] #4661 closed

[2018-10-11 00:03] gouthamve commented on #4718
Well, while a community Slack would be good, we already have a platform, i.e, IRC / Riot, see: https://prometheus.io/community/ that we're not fully able to keep up with. Adding another platform would only add to the confusion.

[2018-10-11 00:10] gouthamve commented on #4717
Hi, it should be `__meta_kubernetes_service_annotation_prometheus_io_path` not `__meta_kubernetes_service_annotation_prometheus_io_metric_path`.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your q

[2018-10-11 00:10] #4717 closed

[2018-10-11 00:39] kkotamar commented on #3351
This feature will be very  useful, if prometheus data is read from remote completely.

[2018-10-11 03:53] vishksaj commented on #4717
Thanks @gouthamve

[2018-10-11 06:51] lgogolin commented on #3351
@kkotamar don't know what You mean, You can do remote_read from prometheus

Anyway, there was already a PR adding this feature:
https://github.com/prometheus/prometheus/pull/3620

But was closed, because someone said "it would be nice to have gRPC", ok nice but this is opened for almost a year a nothing happened

[2018-10-11 07:29] pulord opened #4724 "How to config alert that can immediately trigger to firing states"
## Bug Report
**What did you do?**
want config an alert which can immediately trgger and send to alertmanager

**What did you expect to see?**
alretmanager receive alert immediately

**What did you see instead? Under which circumstances?**
sometime works,but Sometimes not works

**Environment**
docker
* Prometheus version:

prometheus, version 2.4.0-rc.0 (branch: master, revision: d075d78bfd5d37cc

[2018-10-11 07:40] pulord commented on #4724
@fabxc @brian-brazil

[2018-10-11 09:05] simonpasquier commented on #4724
Setting evaluation_interval to zero won't work as it will default to 1 minute. You can set it to `scrape_interval / 2` (anything lower doesn't make sense as the value won't change between scrape). But in general it isn't a recommended approach as it will generate lots of noise.

[2018-10-11 09:41] liuzhen opened #4725 "silencer "recreate" does not remember matching with "regex""
## Bug Report
**What did you do?**

receate an expired "silencer" with matching of 'regex'

**What did you expect to see?**
the to be created new silencer have all the properties derived from the old one, including the checked 'regex'

**What did you see instead? Under which circumstances?**

the 'regex' checkbox is cleared within the matching rule

**Environment**

* System information:

	Linux 3

[2018-10-11 09:47] simonpasquier commented on #4725
Thanks for filling the issue! Can you copy the information to https://github.com/prometheus/alertmanager/issues/new instead?

[2018-10-11 09:51] liuzhen commented on #4725
sure, my bad.

[2018-10-11 09:51] #4725 closed

[2018-10-11 10:53] beorn7 commented on #4718
AFAIK Slack has become a walled garden like all the other IM silos.
I don't see any place for it in support of open-source communities.

[2018-10-11 13:18] depeele opened #4726 "dns discovery should expose the resolved name of each record"
## Proposal
For DNS discovery, when multiple records are returned, currently the `name` entry of each record is ignored, losing information that would be very useful in relabeling.

For example, using a prometheus configuration like:
[code]

In a setup where a DNS query for A records with the name `tasks.controller` returns:
[code]

All metrics for `controller` jobs will be given an `instance` lab

[2018-10-11 13:33] brian-brazil commented on #4726
A records only contain IPv4 addresses, they don't have names.

[2018-10-11 16:58] depeele commented on #4726
According to the [DNS RFC](https://tools.ietf.org/html/rfc1035#page-11), "All RRs have the same top level format", which includes `NAME` where:

                resource record pertains.

Defining a DNS A record within a DNS configuration follows the form:
[code]
Here, `<host>` will be the value reported in the `NAME` portion of the RR representing that DNS entry.

[2018-10-11 20:27] SpencerMalone opened #4727 "Proposal: A way to determine rule group order for important rule groups"
## Proposal
**Use case. Why is this important?**
We have some core rule groups that help define common functionality to be shared between services. This gives us a shared place to have and work with our core common rules. For example:

All of our web apps use traefik, we can create one set of rules for defining a web application's general availability that takes in a service specification, and eac

[2018-10-11 20:33] brian-brazil commented on #4727
I'd suggest duplicating the rules, with each scoped to the relevant service within its group. This has the advantage of spreading the CPU load around.
https://www.robustperception.io/using-time-series-as-alert-thresholds
You might also want to look at

You can already do this by putting all the constituent rules in one group.

[2018-10-11 20:37] SpencerMalone commented on #4727
But if we duplicate the rules everywhere, when the time comes to change them (we find a better model, the data changes, etc.) we'd have to do it in many rule groups all together at once, which can be daunting as the # of rule groups grows. I guess that's my biggest goal, is avoiding that scenario.

[2018-10-11 20:42] brian-brazil commented on #4727
That's a configuration management problem, and I'm afraid those are out of scope for Prometheus.

[2018-10-11 20:48] SpencerMalone commented on #4727
I... Don't entirely feel satisfied by that answer, but that's fair enough. Thanks for your time! My preference would be to leave this issue open for a few days to hear other peep's input (or workarounds) if they exist, but I'll leave it to y'all to tell me if you'd prefer this issue be closed.

[2018-10-11 21:39] krasi-georgiev commented on #4695
@tml although I am unable to replicate locally and can't see what might cause this I opened a [PR](https://github.com/prometheus/tsdb/pull/407) to unblock the WAL truncation.
This way if a wal segment is missing you might loose some data, but at least it will not grow indefinitely or cause a crash.

[2018-10-11 21:54] tml commented on #4695
I appreciate the heads-up, but you wanted @trnl not @tml. :)

[2018-10-11 22:28] krasi-georgiev commented on #4695
dam , autocomplete :) thanks.

[2018-10-11 23:08] fusionswap commented on #4392
I have been running to this issue now. ulimit -v unlimited and increasing vm.max_map_count doesnt help. is there any workaround for this other than deleting data directory.

We are running on RHEL 7.5 (kernel 3.10.0-862.11.6.el7.x86_64)

[2018-10-12 05:58] rmeleromira opened #4729 "Multiplication between two series returns no values"
## Bug Report
**What did you do?**

Try to multiply two time series.

**What did you expect to see?**

The first value multiplied by the second value and then a final value.

**What did you see instead? Under which circumstances?**

I get no records back, if I hard code the multiplication it works.

**Environment**

* System information:

[code]

* Prometheus version:

[code]

* Alertmanager versi

[2018-10-12 06:54] henridf commented on #4729
You have no results because the two metrics have different names, so there is no pair of entries that matches. Try something like

`zen_usd_price{instance="localhost:7981",job="secure_nodes_exporter"} * ignoring(__name__) secure_nodes_last_earn{instance="localhost:7980",job="secure_nodes_exporter"}`

or
`zen_usd_price{instance="localhost:7981",job="secure_nodes_exporter"}* on(instance, job) secure

[2018-10-12 07:04] henridf commented on #4707
I don't know why there isn't an OpenTSDB remote read adapter, you might get better feedback by asking on the relevant OpenTSDB channels.

(But in any case, the implementation would live outside of this repo and org).

[2018-10-12 07:20] krasi-georgiev commented on #4392
@fusionswap what is the error message you are getting?

[2018-10-12 07:37] henridf commented on #4640
@vjsamuel it sounds like the Prometheus server in this case is being used read only, is that correct? If so you can just run it without any scraping jobs configured and your local TSDB will stay empty. (You'll still need to provide a volume for it, even if no samples are written to it)

[2018-10-12 08:15] simonpasquier commented on #4392
@fusionswap can you upgrade to 2.4.3 and share the configuration + log files? Also `/proc/sys/kernel/shm{mni,max,all}` and `/proc/meminfo` might be useful.

[2018-10-12 08:42] simonpasquier commented on #4729
Label names need to match on both sides, use `ignoring`/`on` to specify on which labels you want to join:
[code]

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-10-12 08:42] #4729 closed

[2018-10-12 09:49] #4707 closed

[2018-10-12 14:42] beorn7 opened #4732 "Storage snapshot: optional skipHead parameter not optional"
## Bug Report
**What did you do?**

[code]

**What did you expect to see?**

[code]

**What did you see instead? Under which circumstances?**

[code]

**Work around**

Explicitly specify the "optional" parameter:

[code]

**Environment**

* Prometheus version:

[code]

[2018-10-12 14:58] brian-brazil commented on #4732
Dupe of #4671, this is fixed in 2.4.3.

[2018-10-12 14:58] #4732 closed

[2018-10-12 15:04] juliusv opened #4733 "Switch away from rawgit links in documentation"
We use rawgit to link to certain assets in the README.md of Prometheus and probably in other places/repos. But it's shutting down:

https://rawgit.com/

We should switch to one of the alternatives.

[2018-10-12 15:08] juliusv commented on #4727
I was expecting @brian-brazil to give that answer, though I can see how that wasn't the one you hoped for :)

I also don't think introducing the extra level of complexity in Prometheus would be justified quite yet. It's the first time I'm hearing about this need, so I'm not sure how common it is (and then if it's not super common, but solvable with configuration management)...

[2018-10-12 15:40] codesome opened #4735 "Expected different result from count()"
## Bug Report
**What did you do?**
Spin up prometheus (with config at the end). All the targets are down.

[code]

Ran the query `count(up{test=~".*tst.*"} == 1) by (test)`

**What did you expect to see?**
A series/sample with count (value) as 0.

**What did you see instead? Under which circumstances?**
`No data` as output. This happens only when all the `up` series are `0`.
This comes as `nil` in

[2018-10-12 15:47] brian-brazil commented on #4735
See https://www.robustperception.io/why-can-countx-5-not-return-0

[2018-10-12 15:50] codesome commented on #4735
/cc @metalmatze

[2018-10-12 17:01] fusionswap commented on #4392
@krasi-georgiev its the same error.
Oct 11 11:16:01 prometheus: level=error ts=2018-10-11T18:16:01.794464676Z caller=main.go:579 err=“Opening storage failed open block /prometheus/data/01CS1S8AA6170FV8Z0E516YZEE: mmap: cannot allocate memory”

[2018-10-12 17:08] codesome commented on #4735
Thanks @brian-brazil for the blog post!

[2018-10-12 17:08] #4735 closed

[2018-10-12 17:16] metalmatze commented on #4735
Thanks for further looking into at @codesome. 💯

[2018-10-12 17:34] xyr115 commented on #2546
Any movement on this?

[2018-10-12 18:07] fusionswap commented on #4392
@simonpasquier

config gist: https://gist.github.com/fusionswap/427b45be82de6a05d76fee8e8dcdc18a
prometheus startup logs gist: https://gist.github.com/fusionswap/1ac0365b7f90d6f89a824d669eeb11a1

/proc details are below.

sh-4.2# cat /proc/sys/kernel/shmmni
4096

sh-4.2# cat /proc/sys/kernel/shmmax
18446744073692774399

sh-4.2# cat /proc/sys/kernel/shmall
18446744073692774399

sh-4.2# cat /proc/me

[2018-10-12 18:59] lambertjosh commented on #4704
Thanks, for anyone searching this does resolve the problem I was having.

[2018-10-12 23:34] beorn7 commented on #4718
I think Kubernetes and Gophers Slack should have been switched off the moment Slack dropped the IRC gateway and XMPP support.

See also https://drewdevault.com/2015/11/01/Please-stop-using-slack.html , which was written at the time when the IRC gateway still existed.

[2018-10-13 05:37] smelchior opened #4736 "Scraping of metrics stops"
## Proposal
The prometheus process stops to collect metrics after a while silently.

## Bug Report
**What did you do?**
Run prometheus in our kubernetes cluster, scapring stops after some days of runtime
**What did you expect to see?**
Prometheus to collect my metrics :-)
**What did you see instead? Under which circumstances?**
Prometheus stops to collect metrics after a while. The process still r

[2018-10-13 17:03] juliusv commented on #4733
It seems like Prometheus's README.md was the only place where we used rawgit, so closing this issue.

[2018-10-13 17:03] #4733 closed

[2018-10-13 20:38] brian-brazil commented on #4732
Don't worry about it, it happens to us all.

[2018-10-14 01:12] gouthamve commented on #4736
Hi, could you share a screenshot of the targets page (with the URLs redacted)? This is a serious issue if reproducible but you're the only one to report it which makes me wonder if it's a config issue.

You could send the profiles to gouthamve [at] gmail.com and I'll make sure to forward to other maintainers.

[2018-10-14 17:52] gouthamve commented on #4718
Further, we do have a public slack-channel (#prometheus) in the CNCF slack: cloud-native.slack.com But it is disfunctional and any requests there are ideally routed to existing channels. If you'd like to lead a community slack group, it should ideally be that channel which already exists instead of a new Slack altogether.

re: channels, we don't see the big need for channels per-se as the IRC disc

[2018-10-14 17:52] #4718 closed

[2018-10-15 03:19] chenxu1990 opened #4739 "prometheus read remote influxdb Invalid after a period of time"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**
Two prometheus write data to influxdb.
An other prometheus read data from influxdb by influxdb's api and grafana generates charts.
**What did you expect to see?**
Prometheus can get data from influxdb.

**What did you see instead? Under which circumstances?**
It worked

[2018-10-15 08:30] simonpasquier commented on #4739
Please share the logs of the Prometheus server. Anything relevant in the InfluxDB logs?

[2018-10-15 09:03] pulord commented on #4724
As you said, if set evaluation_interval=scrape_interval / 2, it will generate lots of noise.
So any good idear?

Otherwise，the alert should be fired immediately, don't need any evaluation and  Prometheus support it?

[2018-10-15 09:07] cxhuawei commented on #4739
@simonpasquier Hi simon, there is no obvious error logs and the grafana chart is below
![image](https://user-images.githubusercontent.com/22869623/46940898-669f6d80-d09c-11e8-9d18-83ee8fca303f.png)
As the picture shows, prometheus can not get the data after 20:00. If I restart it , the picture will be ok

[2018-10-15 09:17] simonpasquier commented on #4724
I don't get what you mean. What is your use case for having an alert firing immediately? In general Prometheus alerting is defined in https://prometheus.io/docs/practices/alerting/, in particular this excerpt: "Allow for slack in alerting to accommodate small blips".

[2018-10-15 09:57] brian-brazil commented on #586
This is possible in Grafana 5.3.0: https://www.robustperception.io/graph-top-n-time-series-in-grafana

[2018-10-15 11:43] vaibhavkhurana2018 opened #4740 "High Resource Utilisation on Prometheus"
## Proposal
**Use case. Why is this important?**

The prometheus app is crashing at regular intervals.

## Bug Report
**What did you do?**
I'm running prometheus inside kubernetes cluster, but the prometheus-app keeps on crashing as the utilisation exceeds the node resources.

prometheus deployment config:

[code]

**What did you see instead? Under which circumstances?**
The app is crashing at reg

[2018-10-15 12:28] cxhuawei commented on #4739
@simonpasquier
logs:
pro_prometheus-front.1.2tw5pr40pqrz@rokid-ops-1.hz.rokid.com    | level=info ts=2018-10-15T08:26:15.762344509Z caller=main.go:523 msg="Server is ready to receive web requests."
pro_prometheus-front.1.2tw5pr40pqrz@rokid-ops-1.hz.rokid.com    | level=debug ts=2018-10-15T08:26:15.762769295Z caller=manager.go:183 component="discovery manager notify" msg="discoverer exited" provide

[2018-10-15 12:45] cxhuawei commented on #4739
![image](https://user-images.githubusercontent.com/22869623/46951661-387d5600-d0bb-11e8-9f96-2719ffff5c73.png)

@simonpasquier

[2018-10-15 13:39] cxhuawei commented on #4739
Hi simon, I check the influxdb logs

172.18.0.12,172.16.68.221 - - [15/Oct/2018:21:30:52 +0800] "POST /query?db=prometheus&epoch=ms&params=%7B%7D&q=SELECT+value+FROM+%22autogen%22.%2F%5Enet_conntrack.%2B%24%2F+WHERE+%22dialer_name%22+%3D+%27remote_storage%27+AND+time+%3E%3D+1539566700000ms+AND+time+%3C%3D+1539604800000ms+GROUP+BY+%2A HTTP/1.1" 200 4285 "-" "InfluxDBClient" 8950769b-d07e-11e8-ba06-

[2018-10-15 14:04] simonpasquier commented on #4739
You may need to tweak the `read_recent` flag.

https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_read

[2018-10-15 15:13] cxhuawei commented on #4739
The parameter means to qeury data from remote storage each time ,but I don't have local storage ..
What is the impact of this parameter, I am a bit confused ?    Thanks  : )

[2018-10-15 15:30] simonpasquier commented on #4739
Which flags do you use to start Prometheus?

[2018-10-15 15:46] cxhuawei commented on #4739
@simonpasquier

      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.enable-lifecycle'
      - '--log.level=debug'

[2018-10-15 15:58] simonpasquier commented on #4739
There's always local storage.

[2018-10-15 16:07] cxhuawei commented on #4739
You means prometheus get data and cache them into memory. But when I refresh grafana, I always can  see a read request to influxdb and the time of intercepting the data is not correct just like above log.  @simonpasquier

[2018-10-15 17:22] spirrello opened #4741 "Prometheus Alerting on Pods with HTTPS Scheme"
## Bug Report
**What did you do?**

Apply a job to monitor pods over HTTP and HTTPS.

**What did you expect to see?**

To be able to monitor pods with HTTP and HTTPS endpoints without alerting when pods are up.

**What did you see instead? Under which circumstances?**

All pods that are using HTTPS for a metric endpoint are in an Up state but are alerting as down as well.

**Environment**

* Syste

[2018-10-15 18:30] spirrello commented on #4740
Are you doing any top n dashboards?  I was previously and this was tanking our Prometheus instance causing it to hit the memory limits.

[2018-10-15 21:05] dmajere opened #4744 "[Proposal] Allow to use evaluation_interval for alert FOR calculation"
## Allow to use evaluation_interval for alert FOR calculation

It's a common problem to find a right value for alerts **FOR** parameter.
In general you want your alert rule to be evaluated for N evaluation periods, so you have to manually calculate FOR: N * evaluation_interval, which is error prone due to possible changes of a prometheus server that would lead to necessity to change [possibly] eve

[2018-10-15 23:15] beorn7 commented on #4744
Does #4277 help with this?
Also, see #1154.

[2018-10-16 01:09] pulord commented on #4724
My case is:
I monitor the logs of production system  from nginx .  we expect to send alert which http status_code is 500,  and Developer can get the alert info (such as interface name , environment and service) and fix it quickly ，So Expect  **Http-Request-Status-Code-500** send immediately。

the expr:
`expr: nginx_http_request_status_seconds{status_code="500",interface_name!~".*/check(/)?$"} >= 1

[2018-10-16 07:40] simonpasquier commented on #4739
Can you confirm that you use the native [InfluxDB remote read](https://docs.influxdata.com/influxdb/v1.6/supported_protocols/prometheus/#prometheus-remote-read-and-write-api-support) endpoint?
Can you check that all clocks are synchronized?
Have you tried setting `read_recent` to true?
When I say that there's always local storage, it means that Prometheus will always write the samples to its local

[2018-10-16 08:03] simonpasquier commented on #4741
You probably have a mismatch between your kubernetes annotations and the relabeling configuration. Can you share the Targets page?

It looks as if this is actually a question about usage and not development. For the future, I suggest that you use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join o

[2018-10-16 08:18] vaibhavkhurana2018 commented on #4740
Thanks @spirrello for the response. i think you are referring to [topk](https://prometheus.io/docs/prometheus/latest/querying/operators/#aggregation-operators), please correct me if i am wrong. And, yes we are using `topk` in one of our dashboards, will try excluding that and check.

But, still it is used only in 3 queries and should not effect that much in my opinion. Any other thoughts that you

[2018-10-16 08:38] simonpasquier commented on #4724
This isn't exactly what Prometheus is meant for but you can try that:

`max_over_time(nginx_http_request_status_seconds{status_code="500",interface_name!~".*/check(/)?$"}|5m]) >= 1`

This would fire the alert immediately and keep it firing for 5 minutes. You can obviously adjust the 5 minutes interval to your needs.

[2018-10-16 08:42] mucahitkurt commented on #4634
@simonpasquier I would like to help about this issue. I think, a metric like `prometheus_template_expand_failures_total` will be added and increased when a parse error ocured at methods [Expand()](https://github.com/prometheus/prometheus/blob/c4a6acfb1e4f11244db3cbe8d777d249304a6ecf/template/template.go#L266) and [ExpandHTML()](https://github.com/prometheus/prometheus/blob/c4a6acfb1e4f11244db3cbe8

[2018-10-16 08:43] simonpasquier commented on #4744
This is more a job for your configuration management system which Prometheus doesn't attempt to replicate.

[2018-10-16 08:45] pulord commented on #4724
good idea !!!!!
let me try !!!

[2018-10-16 09:15] simonpasquier commented on #4634
@mucahitkurt sure you're more than welcome! You're mostly correct. Maybe we can limit the counter to `Expand()` as `ExpandHTML` is only used for rendering web pages, not alerts.

[2018-10-16 11:47] cxhuawei commented on #4739
All clocks are synchronized but they are in different time zones. One write prometheus is in UTC time zone and others in UTC + 8:00 timezone.  @simonpasquier 

[2018-10-16 13:08] Aracki opened #4748 "Is there a way Prometheus can pass cookie in each scrape request to Spring Boot"
I'm trying to scrape Spring Boot service running in production. We are using micrometer with prometheus registry:

[code]

**Environment**

* Prometheus version:

	I am running Prometheus in docker. Image: ***prom/prometheus:v2.4.2***

* Prometheus configuration file:
[code]

* Logs:
[code]

What is the proper way to pass through Spring Security? Is there a way for a Prometheus to send cookie with

[2018-10-16 13:16] cxhuawei commented on #4739
It shouldn't matter for InfluxDB because writring to InfluxDB is totally OK . The error is that the time period for fetching data is incorrect when remote_read and remote_write are assigned to different machines.

[2018-10-16 13:22] mbeltre opened #4749 "unittest does not work with complex expressions"
## Bug Report
**What did you do?**
I have the following rules file:
[code]

And the following unit test file
[code]

**What did you expect to see?**
I was expecting the `TestAlertComplex` to be triggered in this case.

**What did you see instead? Under which circumstances?**
[code]
**Environment**

* System information:
   - Darwin 17.7.0 x86_64

* Prometheus version:

[code]

[2018-10-16 13:40] spirrello commented on #4741
@simonpasquier Thanks for responding.  Do you want a private email with a PDF of the targets page?  I originally tried asking the question in the user mail list but never heard back from anyone.

Here's my post in the user list.

https://mail.google.com/mail/u/0/#search/prometheus/WhctKJTzzZLrqxbGPwkqScFRGcLTMVQwNrDmkXtGsBsFMXXTPPhNtBFBnfPDbKXsZrdtnbv

[2018-10-16 13:58] simonpasquier commented on #4741
The correct link https://groups.google.com/d/msg/prometheus-users/UPCau6BB4AQ/Ex2tLYzyAgAJ ;-)
I've replied there.

[2018-10-16 14:06] simonpasquier commented on #4748
Prometheus supports basic HTTP, X509 client and bearer token authentications.

[2018-10-16 14:06] simonpasquier commented on #4748
Also to make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomnick=1&channels=prometheus), #prometheus on irc.freenode.net. Please be aware that our IRC channe

[2018-10-16 14:17] simonpasquier commented on #4740
From your dashboards, your Prometheus holds almost 2M series in the head. A rough estimate is to consider that every series needs 8kB of memory. In your case it would be 16GB. You need to add some room for handling queries too.
If you want to get a better picture of where the memory is spent, check https://www.robustperception.io/analysing-prometheus-memory-usage

As for how to deal with the situa

[2018-10-16 20:49] DrHashi commented on #4686
I already gave it access as per the following:

`

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": "ec2:Describe*",
            "Resource": "*"
        },
        {
            "Effect": "Allow",
            "Action": "elasticloadbalancing:Describe*",
            "Resource": "*"
        },
        {
            "Effect": "Allow",

[2018-10-16 21:19] trnl commented on #4695
@krasi-georgiev, thank you. We'll try with 2.4.3 later and get back to you.

[2018-10-17 06:42] pulord commented on #4724
thanks @simonpasquier
its work perfectly, although the alert be fired after 2m
but any alert dose not miss anymore！

[2018-10-17 07:01] vaibhavkhurana2018 commented on #4740
Have removed the panels using `topk` as suggested by @spirrello, but still no luck. The utilization is still high.

@simonpasquier Thanks for the response, will run the profiler and share the results.

[2018-10-17 10:37] Aracki commented on #4748
After further research I have found out that there's no current way to set cookies via the scrape config.

Prometheus supports only HTTP Authorization headers like **_Basic_** and **_Bearer tokens_**.

[2018-10-17 10:37] #4748 closed

[2018-10-17 15:33] simonpasquier commented on #4749
I'm not super familiar with this new feature but I suspect that the problem is because the metric doesn't increase. If I change the input series to this, the alert fires:

[code]

cc @codesome

[2018-10-18 00:07] gouthamve commented on #4414
Closed in #4532

[2018-10-18 00:07] #4414 closed

[2018-10-18 03:41] harche opened #4754 "XSS vulnerable bootstrap version needs to be upgraded to 4.0.0"
## Proposal
**Use case. Why is this important?**

Bootstrap version included is vulnerable for XSS attack, https://snyk.io/test/npm/bootstrap/3.3.1

It needs to be upgraded to 4.0.0

## Bug Report
**What did you do?**
Everything works fine but the bootstrap js lib included has XSS vulnerability so needs to be upgraded

**What did you expect to see?**
N/A

**What did you see instead? Under which ci

[2018-10-18 06:52] piotrkochan commented on #2356
[code]

[code]

[2018-10-18 07:15] piotrkochan opened #4755 "Deleted scrape target is always recreated"
**Use case. Why is this important?**

There is no really a way to stop prometheus from scraping previously defined target.

## Bug Report
**What did you do?**

1. I removed scrape config from prometheus.yml
2. I ran:

[code]

**What did you expect to see?**
I expect that if there is no config for this target and data then prometheus forget about that target, and do not try to scrape it in the futu

[2018-10-18 09:09] simonpasquier commented on #4755
You need to reload the configuration using `kill -SIGHUP <pid>` for instance.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-10-18 09:09] #4755 closed

[2018-10-18 09:11] yanivroz opened #4756 "[__meta_azure_machine_resource_group] returns the value in lowercase"
## Bug Report
**What did you do?**
Tried to scrape instances from a specific resource group in azure that contains uppercase characters in the resource group name

**What did you expect to see?**
Intances in the resource group are discovered

**What did you see instead? Under which circumstances?**
Instances were not discovered.
Only when I typed the resource group in all lowercase under the regex

[2018-10-18 09:13] piotrkochan commented on #4755
@simonpasquier please reopen, because `kill -SIGHUP` does not work, as full prometheus restart.

[2018-10-18 09:15] piotrkochan commented on #4755
On the mailing list there is same issue and it is no resolved so I assume it is a bug.

https://groups.google.com/forum/#!searchin/prometheus-users/sighup%7Csort:date/prometheus-users/K4Q1ToxhwYw/EBNRvLKPBgAJ

[2018-10-18 09:50] simonpasquier commented on #4755
`kill -SIGHUP ...` works for me and I would be surprised if it was broken for everybody. Double check that you don't have a mismatch between the file used by Prometheus and the file you're modifying.

[2018-10-18 10:13] ashepelev opened #4757 "TSDB Compaction failures bring to OOM shutdown"
## Bug Report
**What did you do?**
Using prometheus with 2000+ targets, 41k+ samples/sec, 10Mbit/s downlink

**What did you expect to see?**
Stable work

**What did you see instead? Under which circumstances?**
Compaction failures, increasing RAM consuming, wal log growth, OOM error shutdown

**Environment**
* System information:
[code]
* Prometheus version:
[code]
* TSDB launch arguments
[code]

[2018-10-18 10:37] yanivroz commented on #4756
Thanks for your quick response.

It’s not clear to me why the resource group is explicitly lower-cased.
Other meta labels such as __meta_azure_machine_name are not explicitly lower-cased, so why treat resource group differently?
Seems like a bug to me.
(Although Azure doesn’t let you create 2 resource groups with same name but different case. for example if I have a resource group named “test” I c

[2018-10-18 12:29] mbeltre commented on #4749
thanks, that did actually work. I suppose it's using the first value as a baseline, i din't think about that.

[2018-10-18 12:29] #4749 closed

[2018-10-18 12:36] codesome commented on #4749
@mbeltre The first value from input is at timestamp `0`. So did you miss this point?

[2018-10-18 13:52] simonpasquier commented on #4756
It's been like that since the Azure SD support has been added to Prometheus: https://github.com/prometheus/prometheus/commit/0988e3b93710cff1d293dfa33aeb925ebde51be0#diff-7e618b6815f2ec80ed046c215305bb13R131

Again I can't explain why it is this way but changing it might have side effects.

[2018-10-18 13:56] simonpasquier commented on #4650
@sevagh ping

[2018-10-18 13:57] brian-brazil commented on #4756
We are permitted to make breaking changes to SDs such as if we discover we didn't get something right, or the underlying SD has changed in some way.

[2018-10-18 14:49] sevagh commented on #4650
Oops, so what happened is, I was running the poller 2.3.2 (where promtool doesn't have debug). I upgraded to 2.4.2.

At the same time, somebody reduced the amount of metrics by around 12x (there was an application bug where many scrape targets were exposing duplicate metrics).

I haven't seen any crashes since.

[2018-10-18 15:03] simonpasquier commented on #4650
Thanks for the follow-up! I'm closing it now, feel free to reopen if it crashes again but the system was probably unstable because of the too many metrics.

[2018-10-18 15:03] #4650 closed

[2018-10-18 15:55] thomschke opened #4759 "scrape: configurable startTimeMargin"
## Proposal
**Use case. Why is this important?**

Sometimes I'm using Prom/Grafana to persist/visualize historical timeseries data
with the help of a stateful metric-exporter that provide data step-by-step (include timestamp)

For this use case I have to increase "maxAheadTime"
but in the moment it's a fixed value of 10s.

https://github.com/prometheus/prometheus/blob/105ed5c1125b125d80ed4671165e6

[2018-10-18 16:01] brian-brazil commented on #4759
maxAheadTime is from now, not the TSDB's last ingested timestamp. It only prevents you ingesting data from the future, as a safeguard.

[2018-10-18 20:03] fusionswap commented on #4392
Well, this was stupid mistake on our side. We were running linux-386 (32 bit) binaries on our X86-64 servers. So, it was limited to 4G possible memory utilization.

However, it seems still a bug where after certain failures in compacting block directories due to memory allocation issues, it starts duplicating directories every 1 min until it stops running.

[2018-10-18 20:28] Trivikramreddy opened #4761 "Opening storage failed lock DB directory: resource temporarily unavailable"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	inser

[2018-10-18 20:30] Trivikramreddy commented on #4761
I'm new to prometheus. This is the error i see in the logs. prometheus is running fine but want to know what does it mean by that error. Any help on this is appreciated. Thanks !!

[2018-10-18 20:54] iDemonix commented on #4392
@krasi-georgiev It is 100% possible but I can't check now as the box was trashed and I went with a Dockerised install instead! I'm not sure why I would have got the wrong arch, but again, could have accidentally pulled the wrong one!

I'll try a rebuild at some point on the same CentOS release on a vanilla install, to see if it happens again.

[2018-10-18 21:07] krasi-georgiev commented on #4392
since 2 people confirmed, shall we close it and reopen if we get other reports?

[2018-10-18 21:09] iDemonix commented on #4392
I'm happy to close until I get chance to re-test! If anyone confirms that using the correct binary fixes this, they can reopen. Thanks for the help.

[2018-10-18 21:09] #4392 closed

[2018-10-18 23:03] shane-axiom commented on #2347
Since this is the only open issue referencing the inability to use YAML anchors and map merging, I'll add my +1 for prometheus support of those features here. I've seen recommendations by devs to use external configuration management tools such as Viper in other issues, but IMO that approach is overkill for many use cases and some areas of config (e.g. alert rules) would benefit greatly from the a

[2018-10-18 23:04] shane-axiom commented on #1884
@benkeil It appears there was no resolution, but you may comment on this related thread: https://github.com/prometheus/prometheus/issues/2347

[2018-10-19 06:40] thomschke commented on #4759
Sure, the lower bound of TSDB (startTimeMargin) is the problem - sorry :-)

https://github.com/prometheus/prometheus/blob/3241c527d05dc2a370dbe3a903f8ef8de1d62a04/cmd/prometheus/main.go#L574-L575

[2018-10-19 07:10] thomschke commented on #4759
A workaround is by increasing `storage.tsdb.min-block-duration` (but this has sideeffects)

[2018-10-19 08:53] thxCode commented on #1583
Follow @sylr 's comment, using nginx as proxy, without setting `--web.external-url` and `--web.route-prefix`:

[2018-10-19 09:11] SuperQ commented on #4757
This seems related to https://github.com/prometheus/prometheus/issues/4110.  Getting pprof heap profiles during the compaction would help to debug the issues.

[2018-10-19 09:19] ashepelev commented on #4757
@SuperQ Hello, thanks for your answer. Generally we detect compaction failures at about 16Gb ram consuming (50% of total). Do you think it might need **so** much memory for compaction process?

[2018-10-19 09:34] simonpasquier commented on #4761
It means that Prometheus can't lock access to the data directory. Either

* Prometheus doesn't permissions to write this directory.
* Or another process is running in parallel and already acquired the lock.
* Or you're using a file system (such as NFS) which isn't fully supported by Prometheus.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://group

[2018-10-19 09:34] #4761 closed

[2018-10-19 11:15] SuperQ commented on #4757
Yes, right now compactions do need quite a lot of memory.

One thing you're doing that's making it worse is setting the `--storage.tsdb.min-block-duration=30m`. I suggest you remove this flag and using the default 2h. Sample chunks are 120 samples long. Your scrape_interval is 30s, which means your writing out 60 samples in a 120 sample chunk, which wastes a ton of memory and storage space.

Also,

[2018-10-19 12:48] kdada commented on #1246
Anything updated?

I think a time picker for console is useful. It is not only for querying in ui, but also support alerting callback.

If we received an alert from prometheus/alertmanager, we click `generatorURL` to redirect to prometheus ui. But sometimes we find nothing in `Console` because the alert has been resolved.

So if prometheus ui supports `g0.time=xxxx` and a time picker, it will be m

[2018-10-19 12:53] grobie commented on #1246
@kdada We all agree. Feel free to open a pull request :-)

[2018-10-19 12:59] kdada commented on #1246
@grobie I'm working on it.

[2018-10-19 14:45] veox commented on #4392
@krasi-georgiev No, I'm running a 64-bit local build on a local machine.

It's OK for the issue to be closed as far as I'm concerned, because (apparently) it's expected that Prometheus should be allowed by the system to allocate as much memory as it wants. This is at the core of the issue, and a design choice that I'm not willing to argue.

Especially since I'm not contributing any code that will

[2018-10-19 18:13] krasi-georgiev commented on #4392
@veox does it mean you upgraded the OS?  One of you comments mentioned 32bit ?

In summary:

 - It is NOT expected to see `mmap: cannot allocate memory` errors on a 64 bit OS when the system has some free memory
 - it is expected to see increased memory usage during compaction and even more at higher retention period since it will compact larger blocks. So if the system doesn't have enough memory

[2018-10-19 20:07] bamb00 commented on #3653
Hi @krasi-georgiev,

What is the best way to reproduce this error with prometheus server?

Thanks.

[2018-10-19 21:37] krasi-georgiev commented on #3653
@bamb00  first time someone wants to know a best way to  reproduce a bug  :smile:

you should be able to reproduce the bug by using the config form the first comment and build the ec94df49d45baa8e680d81e732294eb04fff00de Prometheus revision.

[2018-10-19 21:39] sbilello commented on #771
Let's suppose you have a service `A` tagged with `my-test-service` and it has been discovered via consul and used as target from Prometheus.
If the service now it is ready for production and you want to re-tag it with `service-production-ready` how can you do that?
I would like to set up some alerts on particular time series and I don't want that the alerts will evaluate test machines.

[2018-10-20 15:48] zhsj commented on #4587
I also meet this failure when I rebuild the prometheus debian package.
https://bugs.debian.org/911434

The simple workaround is to insert a `time.Sleep`.

[code]

But it looks unreliable and ugly...

[2018-10-20 19:15] veox commented on #4392
@krasi-georgiev Sorry; that means I'm talking nonsense, or otherwise out of my mind. X_X

Edited the comment: running a _32-bit_ local build, on a _32-bit_ machine (as compared to 32-bit on 64-bit). An embarrassing brain-fart, no less.

Thank you for your patience. I'll open a PR if I have something concrete.

[2018-10-20 19:39] TheTincho commented on #4587
There is already a 10 second wait in the for loop, so this seems excessive.. Also, this was not happening a few days ago when I uploaded 2.4.3 to debian (https://buildd.debian.org/status/package.php?p=prometheus&suite=sid), so there is something fishy..

[2018-10-20 19:47] TheTincho commented on #4587
By stracing this test, I see prometheus taking exactly 20 seconds to shutdown, with no messages explaining why:

[code]

[2018-10-20 19:56] TheTincho commented on #4587
Definitely, this is something in gRPC. I have just rebuilt prometheus with gRPC 1.6.0, and that test finished in less than a second:
[code]

[2018-10-20 20:16] potomak commented on #2119
In #4765 I limited the number of items in the `allMetrics` array to be less than 10k. If the number of items gotten from the HTTP response body is more than the 10k threshold a warning message is prepended to the first graph wrapper element.

I'm not sure about this implementation of the warning message thought. I was going to add an _alert-warning_ element right after the _alert-error_ element in

[2018-10-20 22:31] TheTincho commented on #4587
After some debugging, I've found the cause for this hang: the http.DefaultTransport is caching open connections, including the one used to check health, and prometheus does not exit until that connection is closed. Adding this line makes the test finish immediately:
[code]

[2018-10-20 23:57] TheTincho commented on #4587
Scratch that. I had misread the straces (and the test was passing who knows why). The hang is due to a HTTP/2 connection between prometheus threads kept open and idle for 20s, but I haven't yet found where or why this happens, although gRPC would be the prime suspect. Any ideas/pointers welcomed.

[code]

[2018-10-21 05:58] yanivroz commented on #4756
@simonpasquier
I did as you suggested and changed:
[code]
To:
[code]
But that didn't work, the instances were not discovered regardless which case I used in the regex (not sure why)

So to work around this problem I just added the case-insensitive flag into the regex:
`regex: '(?i:(myResourceGroupName))'`
and that did the trick.

[2018-10-21 19:05] TheTincho commented on #4587
I have found the hang happens during the call to `grpcSrv.GracefulStop()` in the web handler, replacing it with `grpcSrv.Stop()` does not change the behaviour, contrary to what the documentation implies. Running with `GRPC_GO_LOG_SEVERITY_LEVEL=info` I see these messages:

[code]

[2018-10-22 05:46] harche commented on #4754
Duplicate of #3494?

[2018-10-22 14:45] metri commented on #4757
@SuperQ , hi! I am a colleague of @ashepelev .

How can I give you the archive with pproff debug?

[2018-10-22 14:49] SuperQ commented on #4757
The easiest way is to attach it as a file to this issue.

[2018-10-22 16:24] valyala opened #4769 "Proposal: expose `/api/v1/write` enpoint for remote_write storage API"
## Proposal

Sometimes is is useful to have a single big Prometheus instance with all the data from other Prometheus instances located in different networks / datacenters.

## Solution
The most straightforward solution for this use case is to expose `/api/v1/write` endpoint for [remote_write storage API](https://prometheus.io/docs/prometheus/latest/storage/#remote-storage-integrations) on the big

[2018-10-22 21:10] BertHartm opened #4771 "prometheus 2.4.3 not increasing shards to match remote write capacity"
## Bug Report
**What did you do?**
I upgraded from prometheus 2.2.1 to 2.4.3 while using the remote write endpoint

**What did you expect to see?**
I was using 3 remote_write shards before and not dropping metrics. I expected that to continue. I write about 30k metrics/s, and the scrape interval is 15s.

**What did you see instead? Under which circumstances?**
Remote storage shards goes to 3 on th

[2018-10-23 04:08] #4756 closed

[2018-10-23 05:00] jdickey opened #4773 "Prometheus cannot start if local host name contains whitespace"
## Proposal

It's fairly common on Macs (at least) to have spaces embedded in the host name. During system setup, mine got set as "Jeff's iMac", for example; I've seen this on many other Macs with many other people over the years. I would expect that a significant number of your candidate users are on Macs, at least for development; therefore, as things now stand, they cannot even run the [_Gettin

[2018-10-23 06:19] metri commented on #4757
[prom_debug.tar.gz](https://github.com/prometheus/prometheus/files/2504728/prom_debug.tar.gz)
Here pprof debug for two nodes.

[2018-10-23 08:16] brian-brazil commented on #4773
Per RFCs 1123 2.2.1 and RFC 952 1 which it references, it is not valid to have spaces in a hostname. This is a bug in your OS that it permits you to set an invalid hostname.

[2018-10-23 10:39] brian-brazil commented on #4773
Prometheus needs a valid external URL to work, and the usual default isn't working due to the invalid hostname. I'd suggest trying setting --web.external-url manually.

[2018-10-23 11:50] jdickey commented on #4773
Ah. Thanks; that helps. I'll poke at that, then 👍

[2018-10-23 12:52] ksherryBAE commented on #4754
Does this issue still require fixing?

[2018-10-23 12:57] mrsiano opened #4774 "promethues 2.3.2 memory leakage"
**Background**
We identified some sort of memory leakage for a populated cluster, in steady state (same scale for continues hours operation) using prometheus 2.3.2.

**Cluster distribution:**
2 compute nodes
2 infra nodes
250 pods
83 namespaces

**Summary bullets**
-A memory leakage were found in the prometheus component, around ~100MB per day for 500 pods.
-Currently we can’t tell if the leakage

[2018-10-23 12:57] Starefossen commented on #4624
Same issue here using Promethues v2.4.3; `/graph` and `/-/ready` returns 503 while `/-/healthy` returns 200. This is what I get from the log:

[code]

[2018-10-23 13:39] harche commented on #4754
@ksherryBAE yes, very much. It's the known vulnerability that's getting shipped with Prometheus.

[2018-10-23 14:12] BertHartm commented on #4771
I just noticed that 2.4.3 seems to have changed the default for `remote_write` -> `queue_config` -> `capacity` from 100k to 10k. It also seems to have changed `max_retries` from 10 to 3.
This doesn't jive with the documentation: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#%3Cremote_write%3E

Bumping my 2.4.3 instance to the higher capacity and retry count seems to fix

[2018-10-23 14:25] ksherryBAE commented on #4754
Ok, I will have a look at it.

[2018-10-23 14:33] harche commented on #4754
@ksherryBAE thanks.

[2018-10-23 14:45] SuperQ opened #4776 "Use Docker ENTRYPOINT"
## Proposal

Use Docker `ENTRYPOINT`[0] rather than `CMD` for setting the default command line flag values.

When CMD is used, any additional flags cause the default flags to be dropped.

This makes starting up Prometheus with a simple additional flag like `--storage.tsdb.retention=15d` to need the full list of flags added.

**Environment**

Docker

[0]: https://docs.docker.com/develop/develop-ima

[2018-10-23 15:18] jpds opened #4777 "Server metric for scrape interval exceeded"
## Proposal
**Use case. Why is this important?**

I'm looking for a metric in Prometheus for when a "context deadline exceeded" is encountered for a target.

I'm monitoring SNMP devices, some of which live on the other side of an unreliable connection and on occasion it takes longer than my `scrape_timeout` to query these devices and I would like to graph this out to spot them.

[2018-10-23 16:15] brian-brazil commented on #4777
You can use `up` and `scrape_duration_seconds` for this.

[2018-10-23 16:19] AmandaHassoun opened #4778 "Inconsistency in the configuration documentation"
## Proposal
**Use case. Why is this important?**

Could save potential users a lot of time!

## Bug Report
**What did you do?**

Added `gce_sd_config` to the configuration file

**What did you expect to see?**

No configuration errors!

**What did you see instead? Under which circumstances?**

Prometheus was not able to load the configuration file because it couldn't recognize `gce_sd_config` as a

[2018-10-24 06:13] mblaschke opened #4779 "Panic using Azure service discovery"
## Bug Report
Panic using Azure service discovery

**Environment**

* System information:
Linux 4.15.0-1021-azure x86_64
Docker version 18.06.1-ce, build e68fc7a

* Prometheus version:
image: prom/prometheus:v2.4.3

* Prometheus configuration file:
[code]

* Logs:
[code]

[2018-10-24 07:48] sylr commented on #4779
I've got exactly the same issue (same prometheus version) :

[code]

[2018-10-24 08:34] juzhao opened #4780 "kube_pod_status_phase treats Completed pod as Running"
## Bug Report
pods under openshift-infra project
NAME                            READY     STATUS      RESTARTS   AGE
hawkular-cassandra-1-d9cq5      1/1       Running     0          5h
hawkular-cassandra-2-clwx8      1/1       Running     1          5h
hawkular-metrics-9l2ws          1/1       Running     0          5h
hawkular-metrics-schema-g2k48   0/1       Completed   1          5h
heapster-7

[2018-10-24 08:44] spirrello commented on #4741
Looks like the root cause is how Prometheus reports the uptime for these pods.  I tested this by querying for pods via "up == 0".  This does seem like a bug though I haven't dug into the code to solidify this theory but from a user perspective it's not working as one would think.

For the time being, I've refactored my alerting to use this instead and so far so good:

expr: kube_deployment_status_

[2018-10-24 09:33] krasi-georgiev commented on #4774
@krasi-georgiev  reminder to myself.

[2018-10-24 10:05] simonpasquier commented on #4778
`gce_sd_configs` is correctly documented in [`scrape_config`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config).

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-10-24 10:05] #4778 closed

[2018-10-24 10:17] simonpasquier commented on #4779
It is crashing here:

https://github.com/prometheus/prometheus/blob/167a4b4e73a8eca8df648d2d2043e21bdb9a7449/discovery/azure/azure.go#L322-L326

This part of the code hasn't changed recently so it is likely that the Azure API is returning something different.

@mblaschke and/or @sylr can you test with changing the code to `if networkInterface.Properties == nil || networkInterface.Properties.Primar

[2018-10-24 10:29] bboreham commented on #3196
Can we start by agreeing on the nature of the problem, which I think is something like:

“Prometheus alters the SD results it gets from a DNS SRV lookup by removing any final dot, transforming fully-qualified names into relative names. Removing this artefact proved to inconvenience some users, so we choose to retain it”

If we agree on this, I think my suggestion would be to add another Prometheus

[2018-10-24 13:42] juzhao commented on #4780
@simonpasquier
Thanks, it moved to https://github.com/kubernetes/kube-state-metrics

[2018-10-24 13:42] #4780 closed

[2018-10-24 13:47] juliusv commented on #3196
@bboreham Fully agreed on the problem description. We probably wouldn't need a completely new SD type, but just add an option to the DNS SD?

[2018-10-24 14:18] lgogolin opened #4782 "Labels are overwritten even if honor_labels set to true"
## Bug Report
**What did you do?**

Having 2 prometheus instances:
1) instance in us-east-1 region with external_labels set:

[code]

2) instance in eu-central-1 region with external_labels set:

[code]

Instance no.2 has also configured federate job, that scrape us-east-1 region prometheus.

[code]

**What did you expect to see?**

Metrics with both labels:
[code]

and

[code]

**What did you see

[2018-10-24 15:46] harche commented on #4754
@ksherryBAE thanks, that sounds awesome. Also, would it be possible to backport the fix to release [2.3.1](https://github.com/prometheus/prometheus/releases/tag/v2.3.1 )?

[2018-10-25 06:03] moshebs commented on #3664
I can confirm that using filters resolved the issue for me, haven't seen it since I started filters.

I am leaving the issue open since it might still happen if you use relabel config, but for me the issue is resolved.

[2018-10-25 10:15] simonpasquier commented on #3664
Thanks for the heads-up!

[2018-10-25 12:35] ajinkyagit opened #4784 "Uninstall Prometheus completely from CentOS"
## Proposal
**Use case. Why is this important?**

Uninstall Prometheus completely from CentOS

## Bug Report
**What did you do?**
I have Installed Prometheus using Puppet and now I can't find a way to uninstall it So that I can upgrade it to the latest version

**What did you expect to see?**
Prometheus Completely removed from CentOS
**What did you see instead? Under which circumstances?**

**Envi

[2018-10-25 12:57] simonpasquier commented on #4784
You should ask the question to the project maintaining the Puppet module.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-10-25 12:57] #4784 closed

[2018-10-25 13:05] simonpasquier commented on #4754
@harche FYI we may only backport patches to the current stable release.

[2018-10-25 13:13] simonpasquier commented on #4771
It was and has been fixed by https://github.com/prometheus/prometheus/pull/4715. It will appear correctly once v2.5.0 is out.

[2018-10-25 13:47] geekodour commented on #4482
I got it working after setting the correct `metric_path` . Here are my configurations:

apache virtualhost
[code]

prometheus.yml
[code]

prometheus.service (systemd)
[code]

Now I can get the prometheus explorer at `https://servername.org/prom/` (the tailing slash is important here)

[2018-10-25 14:18] BertHartm commented on #4771
Thanks,

So my original issue comes down to a lack of tuning of the remote storage queue on my part then. I'm happy to close out the issue on that basis, or leave open if we believe the default behavior should be better.

[2018-10-25 14:51] simonpasquier commented on #4771
I think we can close this issue. The rationale for changing the defaults were detailed [here](https://github.com/prometheus/prometheus/pull/4279#issuecomment-399068160): the new defaults minimize the risk of Prometheus being OOM-killed when the remote write is down.

[2018-10-25 15:00] harche commented on #4754
@simonpasquier No problem. Thanks.

[2018-10-25 15:43] #4771 closed

[2018-10-25 16:28] ashepelev opened #4786 "Several tags for filtering targets in consul_sd_config"
## Proposal
According to documentation,
[code]
it is not possible to specify several tags to filter targets in consul_sd_config. One can use relabel_configs with action keep or drop but anyway it causes metrics to be pulled.

According to consul documentation it is possible to specify multiple tags in request:
[code]

[2018-10-25 23:19] lagunabeach opened #4787 "Move all recording rules to be in a subdirectory in Prometheus"
Hi All,

I have been assigned a task in Prometheus to move all recording rules to be in a subdirectory rather than directly in /etc/prometheus. How can this be done. Any help on this would be greatly appreciate it.

Thank you!

[2018-10-26 06:08] wolfzhaoshuai opened #4788 "New retention config not working for old metrics?"
I set --storage.tsdb.retention=7d months ago, but this does not met our new need, so I adjusted --storage.tsdb.retention=15d. But when I queried metrics today, I can only find metrics of 7 days.
My config:
/data/apps/prometheus-2.1.0/prometheus --config.file="/data/apps/prometheus-2.1.0/prometheus.yml" --storage.tsdb.path=/data/data/prometheus --storage.tsdb.retention=15d --log.level=debug --stora

[2018-10-26 06:38] yaminisridaran opened #4789 "Can prometheus configuration be updated remotely"
Environment: k8s clusters
I have a remote prometheus which I will not have access to configure it. Can I create configuration and push the configuration to the remote prometheus.

[2018-10-26 07:58] simonpasquier commented on #4789
There's no HTTP API to update the configuration if this is what you're asking for. Prometheus takes its configuration from the file system (this is the `--config.file` CLI flag). You can also use service discovery mechanisms to let Prometheus discover targets from external services (eg Kubernetes API).

I'm closing it for now. If you have further questions, please use our [user mailing list](https

[2018-10-26 07:58] #4789 closed

[2018-10-26 08:01] simonpasquier commented on #4787
You want to use the `rule_files:` parameter in the Prometheus configuraiton (eg `rule_files: [ "/some/directory/with/rules/*.yml", "/another/directory/*.yml"]`, see https://prometheus.io/docs/prometheus/latest/configuration/configuration/#configuration-file

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-

[2018-10-26 08:01] #4787 closed

[2018-10-26 09:33] simonpasquier commented on #4788
When have you changed `--storage.tsdb.retention`? Are you running version 2.1.0? If yes, I would recommend to upgrade to v2.4.3.

Also with 15-days retention, you shouldn't have to change `--storage.tsdb.min-block-duration`/`--storage.tsdb.max-block-duration`.

[2018-10-26 10:52] lgogolin opened #4790 "Matching labels with remote_read does not work"
## Bug Report
**What did you do?**
Having prometheus-proxy with remote_read configuration that read data from two other prometheus.

**What works ?**
[code]

**What does not work?**
[code]

**Environment**

* Prometheus version:
[code]

* Prometheus configuration file:
prometheus-proxy
[code]
prometheus-eu-central-1:

[code]

prometheus us-east-1:
[code]

[2018-10-26 11:06] brian-brazil commented on #4790
The issue here is that the data inside the readee has no region label, it's only removed/added by the remote read logic and that can only deal with exact matches.

Federation is probably a better choice here.

[2018-10-26 12:47] lgogolin commented on #4790
It's even weirder. After I restart POD with prometheus-proxy, first query works:

[code]

But trying next even with other label, like:

[code]

is not returning data anymore

[2018-10-26 13:01] ksherryBAE commented on #4754
Just to quickly check, glyphicons are no longer supported in bootstrap 4.0.0 however there is a work around utilising https://github.com/Darkseal/bootstrap4-glyphicons
Would it be suitable to use this? Or would something else be more appropriate?

[2018-10-26 17:22] geekofalltrades opened #4795 "Prometheus crashes if it can't write logs to /tmp"
## Bug Report
**What did you do?**

We copy the Prometheus binary into a from-scratch Docker container and run it as a non-root user to reduce our footprint and threat surface. This is a practice we follow with all applications we run in our Kubernetes environment. Recently we upgraded to prometheus v2.4.2 from v2.3.0, where in both cases we were running in containers using this method.

**What di

[2018-10-26 20:41] geekofalltrades commented on #4795
Related issue: https://github.com/kubernetes/kubernetes/issues/61006

[2018-10-27 04:40] DrakeW commented on #4776
@simonpasquier I would like to help with this issue :)

[2018-10-28 15:58] klaper commented on #4392
I'm experiencing same issue here.
My configuration:
- Raspberry PI 3 B+
- Raspbian Stretch Lite October 2018
- prometheus, version 2.4.3+ds (branch: debian/sid, revision: 2.4.3+ds-2) installed from armhf deb package (https://packages.debian.org/sid/net/prometheus) (so I guess no 64bit on 32bit)
- `--storage.tsdb.retention=15y --storage.tsdb.min-block-duration=2h --storage.tsdb.max-block-duration=2

[2018-10-28 16:48] krasi-georgiev commented on #4392
I am pretty sure that the problem is when the compaction expand the block and probably can be fixed with some workaround but i  personally don't think it is worth the trouble supporting 32 bit systems.

Would be interested to see what @fabxc and @gouthamve have to say about this.

[2018-10-28 20:01] klaper commented on #4392
[Stacktrace](https://gist.github.com/klaper/ae4476c5398ec458efa9cbacd7c98b8f) of dying prometheus. I guess it might be helpfull, in case you decided it's worth fixing for 32bit.

[2018-10-28 23:39] satterly commented on #2818
Thought I should note here that the suggested fix by @brian-brazil to use [notification templates in alertmanager](https://prometheus.io/blog/2016/03/03/custom-alertmanager-templates/#customize) is not supported for webhooks. Hopefully this will save others a lot of confusion and wasted time.

[2018-10-29 12:04] brancz commented on #4795
It is possible to set the flag programmatically, so we should look into doing that, I think.

[2018-10-29 12:08] simonpasquier commented on #4795
Ah, glog :roll_eyes:
FWIW I'm working on moving Prometheus to use Go modules and it should be possible then to replace the use of glog by https://github.com/kubermatic/glog-gokit hopefully

[2018-10-29 12:12] brancz commented on #4795
Just a painkiller instead of a cure, but it will take a long time until we actually get to remove glog from Kubernetes, so a good option I think @simonpasquier. I'm all for doing that.

[2018-10-29 13:40] elluvium commented on #2146
I'm using `openshift/prometheus:v2.2.1` image with local target and there is no such metric `prometheus_local_storage_ingested_samples_total`. What I'm doing wrong?

[2018-10-29 14:05] beorn7 commented on #2146
You are using Prometheus 2.x, which is _very_ different from Prometheus 1.x. Remember, this ticket was closed 2 years ago. I guess now you would use `prometheus_tsdb_head_samples_appended_total`.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. (A _closed_ GitHub issue is

[2018-10-29 14:13] elluvium commented on #2146
Ok, got it. Much appreciated for your answer even on closed ticket.

[2018-10-29 16:41] krasi-georgiev commented on #4757
@SuperQ I think the problem here is different.

The error is when trying to persist the head into a block and not when trying to join 2 or more blocks together.

`Oct 18 09:16:52 vm-prometheus-prod-app01 prometheus[17227]: level=error ts=2018-10-18T06:16:52.967557383Z caller=db.go:305 component=tsdb msg="compaction failed" err="persist head block: write compaction: add series: symbol entry for \"s

[2018-10-29 16:45] dmitriy-lukyanchikov opened #4801 "Metric with 1h scrape_interval do not shown on graphs"
## Bug Report
**What did you do?**
Hello i configure scraping with long scrape_interval=1h
Run query over metric that scraped every 1 hour.
**What did you expect to see?**
i expected to see graphs with small resolution on 24 hour prometheus graph
**What did you see instead? Under which circumstances?**
i see only couple of dots other is empty, if i set custom resolution to 100s than all dots appea

[2018-10-29 16:54] krasi-georgiev commented on #4757
If that is the case please let me know the series label that caused this so we can add some sanitization somewhere.

[2018-10-29 17:09] simonpasquier commented on #4801
You've been hit by staleness handling. See https://prometheus.io/docs/prometheus/latest/querying/basics/#staleness
In practice you need to scrape your targets every 2 minutes at most to deal with potentially failed scrapes.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-10-29 17:09] #4801 closed

[2018-10-29 17:09] krasi-georgiev commented on #4788
Could you run the `tsdb cli` so we can see the time ranges of all blocks. this will help narrow down the issue.

https://github.com/prometheus/tsdb/tree/master/cmd/tsdb

`tsdb ls`

also double check in  `...:9090/flags` that the retention is indeed set to 15d.

[2018-10-29 18:57] roganartu commented on #4383
Related: #4513 (in v2.5.0-rc.0). Can probably achieve a sufficient approximation of this behaviour using this config setting.

[2018-10-30 05:48] thomschke commented on #4759
Hi @brian-brazil, can you explain a little bit the drawbacks of increasing `storage.tsdb.min-block-duration` in production?

https://github.com/prometheus/prometheus/blob/f34b2602e1208b75dfa9ab17c81dd086fc92f54a/cmd/prometheus/main.go#L156-L157

[2018-10-30 05:59] metri commented on #4757
@krasi-georgiev hi!

The fact that this happens at different labels. Eg, yesterday:

` prometheus[9131]: level=error ts=2018-10-29T15:47:27.462714041Z caller=db.go:305 component=tsdb msg="compaction failed" err="persist head block: write compaction: add series: symbol entry for \"/var/lib/docker/overlay2/ea206854728cc1ff29dfc5a6f7c7b2e5cb98dd767c96cef3ba1b6481371070b2/merged\" does not exist"`

Th

[2018-10-30 06:01] jakirpatel opened #4803 "Invalid UTF-8 label - VTS Nginx Exporter"
Prometheus Version : v2.4.3
VTS module: https://github.com/vozlt/nginx-module-vts
Error message :

`
error while linting: text format parsing error in line 501: invalid label value "\xfftest-api"
`

Problem information:

We are having 10 nginx servers with VTS module enabled. Somehow the client is making the wrong http request and nginx is throwing 502 error. In this scenario VTS is capturing the

[2018-10-30 06:29] justlooks opened #4804 "how to delete all metrics belong to one exporter when a target machine is dismissed"
i am working for build a auto-discovery target system ,the system monitor all application pods in k8s,due to the born and die of pods is very frequently ,i need delete all metrics which the dead pods pumped to prometheus, how to do this ?

[2018-10-30 07:17] justlooks commented on #4804
not implemented ?
# curl -XDELETE -g 'http://192.168.216.130:9090/api/v1/series?match[]={pod_name="mysql-copy-76b856cdb6-4lcvv"}'
{"status":"error","errorType":"internal","error":"not implemented"}

[2018-10-30 07:39] zhangjie2012 opened #4805 "CentOS 7 docker prometheus volume error "open /prometheus/lock: permission denied""
I want mount `/prometheus` to host path `/data/prometheus`，so I create container like this:

`docker run -it -d -p 9090:9090 --restart=always -v /data/prometheus:/prometheus -v /data/conf/prometheus.yml:/etc/prometheus/prometheus.yml docker.io/prom/prometheus`

start failure, docker logs show :

[code]

I had change host `/data/prometheus` dir owner and group to `nobody:nobody`.

[2018-10-30 08:08] #4804 closed

[2018-10-30 08:51] brian-brazil commented on #4803
You'll need to take this up with the VTS Nginx exporter, as it is not producing valid text format. There's nothing we or you can do here on the Prometheus side.

[2018-10-30 09:13] simonpasquier commented on #4805
You are probably hitting the issue because of SELinux. See https://stackoverflow.com/questions/24288616/permission-denied-on-accessing-host-directory-in-docker

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-10-30 09:13] #4805 closed

[2018-10-30 10:31] ashepelev commented on #4757
@krasi-georgiev, hello,

I guess that compaction failed errors is not the root but the consequence of the problem. We detected that theoretically we should be fine with 32GB RAM installation for our amount of metrics (30m min/max block, 1d retention, 60s global scrape interval). But the truth is we cannot make any more pressure on prometheus. Changing any of this settings causes OOM. After restart

[2018-10-30 11:10] krasi-georgiev commented on #4757
The problem I see is completely different.

The head is the in memory holder of the ingested metrics and these are flushed to disk periodically to free up the memory.
Now this flush fails so the `head` grows indefinitely until eventually it eats all the memory and gets killed.

We need to figure out why are you getting the `symbol entry` error.

Back to my original question, did you change anythin

[2018-10-30 11:14] krasi-georgiev commented on #4757
adding an additional series label/name pair to an existing application could also cause this.

[2018-10-30 11:35] krasi-georgiev commented on #4757
Another thing that can help if you could upload the `data/wal` folder somewhere and share the link with me privately kgeorgie at redhat.com

[2018-10-30 11:38] krasi-georgiev commented on #4757
@fabxc 	, @gouthamve 	any other suggestion that might cause this?

[2018-10-30 13:28] lgogolin commented on #4790
Any update regarding this bug ?

[2018-10-30 18:36] arunkumarpro1 opened #4807 "Unusual peak in recording rule for rate"
## Bug Report
**What did you do?**
Used a recording rule as shown below:

[code]

**What did you expect to see?**

The metric in the recording rule is nearly constant around a particular value (around 15 k). Expected to see graph around a constant value in the same way as I see when I query the underlying expression(rate (Interface_statistics{map_key='rx_packets'}[20s])).

**What did you see inste

[2018-10-31 00:43] dhbarman opened #4808 "Error: Expanding alert template failed"
## Proposal
**Use case. Why is this important?**
This error is preventing us from upgrading Prometheus to 2.3.0 from 2.2.1.

## Bug Report
**What did you do?**

Upgraded Prometheus to 2.3.0 which was earlier running 2.2.1. Config file and rules are as used before.

**What did you expect to see?**

No error or warning messages on the config parsing.

**What did you see instead? Under which circumst

[2018-10-31 00:53] jakirpatel commented on #4803
@brian-brazil This make sense that this problem must be solved at exporter level. But for quick workaround, can't we do anything at prometheus level ??

[2018-10-31 01:11] DrakeW commented on #4776
@simonpasquier PR submitted, let me know if there's anything else that you would like me to add

[2018-10-31 02:10] zhangjie2012 commented on #4805
I had fix it.

1. create a `prometheus` container , `cat /etc/passwd` => `nobody:x:65534:65534:nobody:/home:/bin/false`
2. host set `/data/prometheus` owner and group to `65534`

[2018-10-31 08:58] brian-brazil commented on #4808
This is the better error checking added in 2.3, you've missing a `$` on the description which means this alert is currently broken.

[2018-10-31 08:58] brian-brazil commented on #4803
No, there's nothing you can do in Prometheus. Invalid output will be rejected before it gets to anything you can control.

[2018-10-31 09:07] dhbarman commented on #4808
Thanks @brian-brazil . You may close the ticket.

[2018-10-31 09:22] #4808 closed

[2018-10-31 11:04] candlerb opened #4811 "Better error reporting for missing query string parameters"
## Proposal
**Use case. Why is this important?**

Currently a missing query parameter is reported as if the query parameter was present with empty string.  Furthermore, the error message does not include the *name* of the faulty parameter.  This makes it hard to identify the problem with the query.

This affects people experimenting with the API for the first time.

## Bug Report
**What did you do

[2018-10-31 15:04] grobie opened #4812 "Prometheus continues to scrape removed targets from empty scrape configs"
## Bug Report

**What did you do?**

Removed last entry of a `static_configs` directive. Our template generator omits empty config blocks from being written out to disk. The written out scrape configuration didn't have any `*_sd_configs` or `static_configs` configuration block.

**What did you expect to see?**

Either Prometheus rejects scrape configurations without a single discovery config (neit

[2018-10-31 16:00] simonpasquier commented on #4668
Closed by #4669

[2018-10-31 16:00] #4668 closed

[2018-10-31 16:06] simonpasquier commented on #4812
I'll have a look at it.

[2018-10-31 16:30] semyonslepov commented on #4769
Have you tried Prometheus federation mechanism for this purpose yet?

[2018-10-31 16:32] simonpasquier commented on #4812
Hmm it seems even worse with master (and the future 2.5) as it doesn't even remove the last target.

[2018-10-31 20:06] duhang commented on #4695
Sure. Will enter a new issue about our case, once I get a chance.

Thanks,

________________________________
From: Krasi Georgiev <notifications@github.com>
Sent: Wednesday, October 31, 2018 2:24 AM
To: prometheus/prometheus
Cc: Hang Du; Mention
Subject: Re: [prometheus/prometheus] WAL files are not truncated after upgrade to 2.4.2 (#4695)

@duhang<https://github.com/duhang> that is a separate, I

[2018-11-01 01:45] pulord commented on #2430
[kube-state-metrics](https://github.com/kubernetes/kube-state-metrics#kube-state-metrics-vs-heapstermetrics-server) can not replace [Heapster Metrics](https://github.com/kubernetes-incubator/metrics-server)

[2018-11-01 08:33] zegl commented on #4705
I have seen two new WAL corruption errors (both of these are from the same instance) since upgrading to Prometheus 2.4.3.

The only fix for the following two situations has been to delete the WAL and restart Prometheus.

Both errors have been happening during (re)boot, and causes Prometheus to crash/stop.

[code]

[code]

[2018-11-01 09:59] achiuBAE commented on #4754
Hi, i've also been contributing to this with ksherryBAE; i'll be making the pull request soon.

[2018-11-01 10:53] krasoffski opened #4813 "Alert labels are not updated for annotation templates after rule label changes"
Please see #4571 for more info for preconfiguration.
[code]
Only changes comparing with #4571  that labels within alert are changed but within alert manager template engine seem like not.

After changing original alert and reloading Prometheus I got following (pay attention on annotation section and $labels).
[code]
After adding updating with rule file above alerts are following (old version and n

[2018-11-01 11:53] krasoffski commented on #4813
After a few hour alert looks like:
[code]

If you take a look at alert rule `annotation` section and templates
[code]
I did not use specific label but prints all existing, for example `olabel: olabel '{{ $labels }}'`.
I expect to get all labels as a map for `olabel` like `map[alertname:_alert_name lkey1:lval1 lkey2:lval2 lkey3:lval3 role:role severity:High]`. But instead `$labels` contains only ol

[2018-11-01 12:39] krasoffski commented on #4813
After creating new alert rule I got alert with empty `$labels`.

Alert:
[code]
Especially annotations with empty `$labels` map:
[code]

I use following alert rule:
[code]

[2018-11-01 13:34] brian-brazil commented on #4813
You only have access to the labels from the alert expression, otherwise you'd have a circular dependency.

[2018-11-01 13:44] ashepelev commented on #4757
I guess we figured out the problem.
After long investigation over scraping metrics and prometheus metrics we've looked inside data/<block_id>/index and found out that it is 3x size comparing with chunks size which is abnormal. Thanks to it's text format we were able to inspect the contents. We've found out that some labels have lots of values (hash sums, ids, etc.). Also we've found metrics coming

[2018-11-01 13:52] krasoffski commented on #4813
@brian-brazil
Thank you, got this.

[2018-11-01 13:52] #4813 closed

[2018-11-01 14:57] krasi-georgiev commented on #4757
increased memory usage is expected, but not the original error you have posted so I still think that some sanitization is missing somewhere.

can you maybe post a sample of a scrape in the text format (removing all confidential info) so It gives me some starting point to dig deeper into this?

[2018-11-01 15:58] naseemkullah opened #4815 "different results: kube_pod_container_status_waiting_reason VS kube_pod_container_status_waiting"
## Proposal
**Use case. Why is this important?**

*Set up alerts when pod is not starting due to **CreateContainerConfigError**, generally alert is set based off **kube_pod_container_status_waiting_reason** metric

## Bug Report
**What did you do?**

Had a pod with **CreateContainerConfigError**, setup an alert for  **kube_pod_container_status_waiting_reason > 0** for 10m, but it did not catch it.

[2018-11-01 16:30] semyonslepov commented on #4769
I'm not sure if anybody goes to allow direct writing to Prometheus TSDB apart from Prometheus server on the same machine itself and it seems as quite a bad idea to me too.
What might work as a workaround - set up all the Prometheus servers writing via `remote write` to a local TSDBs (InfluxDB, CrateDB, whatever) and then set up writing data from that "small" TSDB instances to a "single big" one. S

[2018-11-01 21:20] lucasgameiro commented on #3714
I had the same issue in windows environment with 2.3.*. I updated to 2.4.3 version and still didn't work.
The only solution to me was changing the storage.tsdb.path attribute, even deleting the data folder didn't solve it.

[2018-11-01 22:44] BrianHa94 commented on #4811
@brian-brazil I would like to take this one up

[2018-11-02 06:39] kevindwei commented on #4633
who can solve this problem？？

[2018-11-02 07:17] jakirpatel commented on #4803
Thanks @brian-brazil for your reply.. I ll check the exporter upstream...

[2018-11-02 07:19] FUSAKLA commented on #4633
You can set up k8s SD for nodes and using relabeling access the cAdvisor data via kubernetes API.

[code]

[2018-11-02 07:19] #4803 closed

[2018-11-02 10:49] sbueringer opened #4817 "promtool unittests fail with rate() & time()"
## Bug Report
**What did you do?**

I executed promtool in a dir with the following 2 files:
[code]
github.rules
[code]
github.rules.test.yaml
[code]

**What did you expect to see?**

I expected the unit test to succeed.

**What did you see instead? Under which circumstances?**

The unit test failed.

**Environment**

Linux Fedora with promtool 2.5.0-rc2

* Logs:
[code]

[2018-11-02 11:11] Winael opened #4818 "Error 500 when querying prometheus with "~" character in filters"
## Bug Report
**What did you do?**

I set up Grafana to be able to query prometheus. I use grafana's variables in my query

[code]

**What did you expect to see?**

A grapsh, and the ability to change filters with grafana

**What did you see instead? Under which circumstances?**

Request error:

*Request*
Request details
Url | /api/datasources/proxy/2/api/v1/query_range?query=60*rate(kong_hit%7Bap

[2018-11-02 11:19] brian-brazil commented on #4818
It looks like you've a remote read backend that doesn't support that matcher.

[2018-11-02 15:04] mzupan commented on #2356
@piotrkochan

[code]

[2018-11-05 06:37] cyriac24 commented on #4299
@sanjay2916 you may try setting JVM_OPTS as "-Xms64M -Xmx256M" if you're running prometheus in a container.

[2018-11-05 09:16] logemann commented on #2357
I think its obvious for several reasons to have that feature. For me, i want to have a more dynamic way of definiting ports of targets depending on the docker-compose.yml file.  But i could think of thousands more.

[2018-11-05 09:28] logemann opened #4820 "reevaluate #2357"
Given all the feedback after the close, mostly arguing in one direction, how about re-evaluating #2357 ? Given the fact that a lot of mainstream open source frameworks have no problems with env var substitution, it still puzzles me why this should be a problem at all. There are most likely 1000 use cases for a feature like that. Especially in the docker context. Spring Boot wouldnt be so popular w

[2018-11-05 09:37] brian-brazil commented on #4820
We've discussed this many times, and there are no plans to change this. This is a configuration management issue, which is out of scope for Prometheus.

Dupe of #2357

[2018-11-05 09:37] #4820 closed

[2018-11-05 12:39] Winael commented on #4818
@brian-brazil Thx, for your answer I will look on that way

[2018-11-05 12:39] #4818 closed

[2018-11-05 14:07] theonlydoo opened #4822 "remote_read returning 2 times the same value"
## Bug Report
**What did you do?**
This type of remote_read
![untitled diagram 2](https://user-images.githubusercontent.com/1903124/48002459-eeacec00-e10b-11e8-8d25-85f196b335f3.png)

each of the 2 serverA and serverB have the same metrics scraped, but not on all jobs.
some jobs are only on 1 server, some jobs are on both

**What did you expect to see?**
a single metric returned

**What did you se

[2018-11-05 14:18] simonpasquier commented on #4815
Thanks for your report. It looks as if this is actually a question about kube-state-metrics and Prometheus usage.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenod

[2018-11-05 15:16] naseemkullah commented on #4815
Thank you!
https://groups.google.com/forum/#!topic/prometheus-users/Y5W-rckh-Jo created

[2018-11-05 15:52] johannesfrey commented on #4817
Just to verify that `rate` is correctly evaluated in the unit tests I used following values:
[code]
So the initial values seem to be wrong, in order to trigger the alert.

[2018-11-05 16:23] bboreham opened #4823 "Please add __meta_kubernetes_pod_status so 'completed' pods can be dropped from scrape"
## Proposal
**Use case. Why is this important?**

Pods that are created by Kubernetes Job objects will go to `Completed` state if they finish without error.
Without a way to stop scraping, the Prometheus `up` state goes to 0 and (in my current environment) this triggers an alert.

The Kubernetes SD inserts various labels such as `__meta_kubernetes_pod_annotation...` which allow relabel config to d

[2018-11-05 16:35] brian-brazil commented on #4823
We'll generally accept any metadata that's available, so feel free to send a PR.

[2018-11-05 17:54] bboreham commented on #4823
Looking more closely, I find `"Completed"` comes from the (multiple) `container.State.Terminated.Reason` field, and requires gymnastics to obtain.
There is a simpler [`PodPhase`](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase) field which will say `Running`, `Succeeded`, etc., and I propose to implement that.

[2018-11-05 23:15] arunkumarpro1 commented on #4807
Any help with this issue?

[2018-11-06 00:02] dhbarman opened #4825 "Promtool does not catch error"
## Proposal
**Use case. Why is this important?**

While upgrading Prometheus to 2.3.0 from 2.2.1, promtool does not catch the error.

## Bug Report
**What did you do?**

Upgraded Prometheus to 2.3.0 which was earlier running 2.2.1. Config file and rules are as used before.

**What did you expect to see?**

Promtool should have caught the error.

**What did you see instead? Under which circumstance

[2018-11-06 10:33] efahale opened #4827 "add possibilty to set server_name through relabel config"
Hi,

## Proposal

Would it be possible to request that server_name in the tls config can be set through relabel config.
I was told in it is not possible to do this when asked in prometheus-users mailing list.
https://groups.google.com/forum/#!searchin/prometheus-users/efahale%7Csort:date/prometheus-users/Ca4pE5MEC8g/xxJtXg5qAwAJ

This will simplify the prometheus configuration where the certitific

[2018-11-06 10:42] brian-brazil commented on #4827
Can you explain more about why you want this?

[2018-11-06 12:45] efahale commented on #4827
Thank you for fast reply, Brian

The use case for this is in kubernetes and I guess other cloud platform where the tls certificate is not issued for the ip address but hostname. if you want to have tls connection to several targets which are using different certificates and you don't want to use the insecure_skip_verify=true then you need to create to job for each target where you set the server_n

[2018-11-06 13:41] simonpasquier commented on #4807
It can be a counter value that reset briefly to 0. To get more insights you would need to share the [raw samples](https://www.robustperception.io/extracting-raw-samples-from-prometheus) around the blip.

In general such questions are better answered on our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-11-06 13:52] jsravn commented on #3441
The main problem w/ running containers as non-root is K8s. How do you guys solve the fact that k8s persistent volumes are generally mounted as root-writeable only? `fsGroup` is not an option for me either - Openshift, for example, doesn't allow setting fsGroup (to `65543` in this case).

It seems to me that the general trend is to let users specify their UIDs, either via remapping in docker, or `r

[2018-11-06 13:53] twforeman commented on #4643
This is still happening on version 2.4.3. After about four hours the logs start complaining about data compaction errors due to time stamp issues and then a few hours later prometheus locks up.

This really needs to be addressed.

[2018-11-06 13:59] nrvnrvn commented on #3441
Setting `runAsUser` and `fsGroup` to the same values has always worked for me in GKE. It works even with those images where no `USER` is defined in Dockerfile. Use any `UID` in range `1-2147483647`.

Can't say anything for openshift though. I hope they have got some solution for that anyway.

[2018-11-06 14:39] #4634 closed

[2018-11-06 14:40] #4823 closed

[2018-11-06 14:42] jcollie commented on #3441
The solution that I've seen/used is to use an init container. Perhaps not ideal but it works.

[code]

[2018-11-06 14:53] #3818 closed

[2018-11-06 15:09] brancz commented on #4827
I think this can be argumented in a few directions:

1) TLS certificates should have the IP as a Subject Alternative Name, this is more difficult though in a whitebox monitoring setting, as it would mean a new and signed certificate needs to be generated, signed and distributed for each target.

2) Similar to 1 but a single certificate is re-issued every time a group of targets that logically belo

[2018-11-06 15:38] naseemkullah commented on #4815
https://github.com/kubernetes/kube-state-metrics/pull/578 created!

[2018-11-06 15:45] brancz commented on #4815
I think this can be closed here, as it's not an issue with Prometheus but needs a small patch in kube-state-metrics itself. Closing.

[2018-11-06 15:45] #4815 closed

[2018-11-06 15:52] keithf4 commented on #3728
I understand this is "not-as-easy-as-it-looks" but this now 3 minor version releases with no updates or fixes to this. Any word on when we can finally be able to clear out old job names for things like Grafana or anything that scrapes that info to make dynamic interfaces?

[2018-11-06 16:12] codesome commented on #3728
@keithf4
https://github.com/prometheus/tsdb/pull/270 has been active again recently, it will be fixed once this is merged.
On a side note, for now, the old label names should be cleared once the head is persisted, if not immediately.

[2018-11-06 16:18] obeyler opened #4830 "probe prometheus server failed"
## Bug Report
**What did you do?**
I install prometheus with helm chart and with an ingress rule with path.

helm install --name prometheus stable/prometheus --namespace prometheus -f values.yaml

I set inside default values.yaml:
server:
  prefixURL: "/"
  baseURL: "https://ingress-ops.nd-int-opmydomain/prometheus"
  extraArgs : {"web.route-prefix: "/"}

**What did you expect to see?**
prometheus

[2018-11-06 16:42] krasi-georgiev commented on #4643
could you also add the logs showing the  block overlaps errors or if possible the full log

[2018-11-06 17:32] obeyler commented on #4830
please note that if server.prefixURL="" and server.baseURL="" the pod run well

![image](https://user-images.githubusercontent.com/23224162/48082205-3c038900-e1f2-11e8-91c3-7f8f29beb160.png)

But in our case we need to be under a ingress rule with path

[2018-11-06 18:21] twforeman commented on #4643
I paste the logs in the issue I raised in the tsdb sub-project, but I'll paste them here too:

`level=info ts=2018-11-06T18:16:23.804510458Z caller=compact.go:398 component=tsdb msg="write block" mint=1541512800000 maxt=1541520000000 ulid=01CVN3R6Y2BVRX3FTM1NSTZ0WG
level=error ts=2018-11-06T18:16:35.898970177Z caller=db.go:305 component=tsdb msg="compaction failed" err="reload blocks: invalid bloc

[2018-11-06 18:49] hhoffstaette commented on #3632
Still happens with 2.4.3/2.5.0.

[2018-11-06 20:01] dswarbrick commented on #4609
I'm also running into this problem quite frequently, with Prometheus 2.4.3. We have some moderately large instances, with about 2.8 M series and about 45k samples / sec. They are VMs, so it's relatively easy to add more memory to them, but one is already spec'd with 24 GB, and I'm getting a little nervous how much higher it's going to go.

The RAM usage settles down after about 20 minutes, but you

[2018-11-06 23:54] estahn commented on #4047
@brian-brazil We have this issue again. The container is getting OOM killed upon start.

![image](https://user-images.githubusercontent.com/362174/48101517-60577800-e27b-11e8-8ad0-17aa364615a0.png)

You see it is reaching its 30GB limit and then it goes down due to OOM kill.

Logs:
[code]

[2018-11-07 00:33] estahn opened #4833 "Crash recovery OOM kills prometheus-server container"
![image](https://user-images.githubusercontent.com/362174/48101517-60577800-e27b-11e8-8ad0-17aa364615a0.png)

You see it is reaching its 30GB limit and then it goes down due to OOM kill.

**Logs:**
[code]

Configuration:
![image](https://user-images.githubusercontent.com/362174/48101990-140d3780-e27d-11e8-8015-edfee8d97dd7.png)

**WAL:**
[code]

**Remediation:**
Removing `wal` and restarting conta

[2018-11-07 10:38] achiuBAE commented on #4683
Hi, is anyone working on this one? If not, could I work on it?

[2018-11-07 10:50] lijieki126 commented on #4139
@ahrtr How do you solve this problem?
 “You need to add it to each alert specifically”，how to do this？

[2018-11-07 11:51] achiuBAE commented on #4683
What would be the optimal way to implement this? Through the config file, or through the flag? I see the flags are purely for configuring immutable system parameters, so i'm guessing the flag wouldn't be the way?
Or even through the front end?

Thanks

[2018-11-07 14:05] simonpasquier commented on #4830
Can you try not setting `extraArgs` to `{"web.route-prefix: "/"}`?

[2018-11-07 14:16] simonpasquier commented on #4825
This is fixed in 2.5.0 (see https://github.com/prometheus/prometheus/pull/4537).

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-11-07 14:16] #4825 closed

[2018-11-07 14:21] chlunde commented on #4695
We're hitting this on an prometheus in a test environment with low retention time (2h), prometheus_tsdb_head_series around 800k-1000k.  First it got OOM killed, then the disk fills up with WAL files, and finally we get crashes because of the full disk.  I will try to reproduce it on 2.5.0.  The data disk is an emptyDir volume on XFS with a 20 GB quota.  Memory limit is set to 10GiB.  @trnl did you

[2018-11-07 14:51] obeyler commented on #4830
Same result :-(

[2018-11-07 14:57] codwu commented on #4811
@BrianHa94  Are you still working on it?  I would like to open a PR for this issue.

[2018-11-07 15:06] dswarbrick commented on #4695
I've also seen v2.4.3 appear to exhibit this issue. I suspect that we had a few unclean shutdowns, and after the crash recovery (which incidentally eats a LOT of memory), things _seemed_ to be back to normal, until the first WAL checkpoint.

We run retention=30d, min-block-duration=1h, max-block-duration=24h. For some strange reason, the default min-block-duration=2h triggers a checkpoint every 2h

[2018-11-07 15:44] simonpasquier commented on #4830
Have you tried with `prefixURL: "/prometheus"`? Also please share the actual CLI flags and the Prometheus deployment configuration.

For future questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-11-07 17:45] austin987 commented on #4683
IMO config file or flag is fine. Front end would not be preferred, as that's harder to automate ;)

[2018-11-07 21:47] BrianHa94 commented on #4811
@codwu Yes, I have a fix. I just need to test before opening a PR.

[2018-11-08 07:59] pulord opened #4836 "why the alert always pending but not firing"
![image](https://user-images.githubusercontent.com/15811706/48184981-a6d9cf00-e36e-11e8-8f4b-b4f3806e0bc0.png)
**Query**
`sum by(errCode) (sum_over_time(weixin_biz_errs[5m])) > 60`
**Alert Rules**

![image](https://user-images.githubusercontent.com/15811706/48185302-89593500-e36f-11e8-8bd7-212ae3c4e42b.png)

![image](https://user-images.githubusercontent.com/15811706/48185166-2ebfd900-e36f-11e8-9a

[2018-11-08 08:37] pulord commented on #4836
delete currnet_value from labels， its works！

[2018-11-08 10:09] simonpasquier commented on #4836
Yes, label values shouldn't change between evaluations otherwise it is equivalent to new alerts.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-11-08 10:09] #4836 closed

[2018-11-08 10:45] foosinn commented on #2573
Seems like it is being worked on #4832

[2018-11-08 12:42] bititanb opened #4838 "`promtool test rules` fails for alerts composed of recorded metrics with heavy input_series"
## Bug Report
**What did you do?**

Executing `promtool test rules` for alerts composed of recorded (record rules) metrics that use timeseries with many values

**What did you expect to see?**
[code]

**What did you see instead? Under which circumstances?**

I get:

[code]

When:

[code]

[code]

**Environment**

* System information:

`Linux 4.15.0-36-generic x86_64`

* promtool version:
[code]

[2018-11-08 13:25] davidkarlsen opened #4839 "Upgrade from 2.4.3 to 2.5.0 fails"
## Bug Report
**What did you do?**
Upgrade from 2.4.3 to 2.5.0

**What did you expect to see?**
Startup OK as before.

**What did you see instead? Under which circumstances?**
prometheus answer with HTTP500

**Environment**
docker - using your image of docker-hub

* System information:

uname -srm
Linux 3.10.0-862.14.4.el7.x86_64 x86_64

* Prometheus version:

2.5.0

* Prometheus configuration fil

[2018-11-08 13:29] simonpasquier commented on #4839
You've got a rule that is invalid:

[code]

Since v2.5.0, this is a hard fail of Prometheus. This is noted in the changelog: "Rules: Error out at load time for invalid templates, rather than at evaluation time. #4537".

[2018-11-08 13:56] krasi-georgiev commented on #4788
@wolfzhaoshuai any progress with this?

[2018-11-08 14:12] krasi-georgiev commented on #4695
@chlunde unfortunately I don't see anything in the logs to help troubleshoot the issue.

@dswarbrick

I didn't quite understand why did you need to lower the default block duration?

any unusual log messages when this happens?

can you try to describe a minimal setup and step to reproduce this so I can spend some time to find the culprit for this weird behaviour.

[2018-11-08 14:35] dswarbrick commented on #4695
@krasi-georgiev

This was partly motivated after reading the article written by @PeterZaitsev (https://www.percona.com/blog/2018/09/20/prometheus-2-times-series-storage-performance-analyses/). We found that the RAM usage was about 10-20% lower using the fixed, lower max-block-duration=24h, instead of the 10% calculated from our retention period. The cold startup time also appeared to be lower.

Th

[2018-11-08 14:49] krasi-georgiev commented on #4695
@dswarbrick 	thanks for the update. Would you mind moving your comments to a new issues and ping me there as if you don't have the error logs reported in the first comment (`unexpected gap to last checkpoint`) this is likely a separate issue.

btw attaching the output of  the `promtool debug` command (inside the same release folder as the Prometheus binary)  when this happens will give us a clue w

[2018-11-08 14:59] krasi-georgiev commented on #4695
@trnl any more pointers how to replicate?

[2018-11-08 15:29] dswarbrick opened #4842 "Apparent memory leak & WAL file accumulation after unclean shutdown"
## Bug Report
**What did you do?**
Reboot host running Prometheus.

**What did you expect to see?**
Normal operation.

**What did you see instead? Under which circumstances?**
Apparent memory leak, WAL files accumulation.

I suspect that we had a few unclean shutdowns, and after the crash recovery (which incidentally eats a LOT of memory), things _seemed_ to be back to normal, until the first WAL

[2018-11-08 18:45] beorn7 opened #4844 "promtool: rule update doesn't preserve escaping as needed"
## Bug Report
**What did you do?**

Converted 1.x rules to 2.x YAML format with `promtool update rules`.

**What did you expect to see?**

Working 1.x rules resulting in working 2.x rules.

**What did you see instead? Under which circumstances?**

A double-backslash in an annotation got reduced to single-backslash, while a double-backslash in an `expr` field was preserved.

This had the effect tha

[2018-11-08 19:59] theRealAJR opened #4845 "reference sequence 0 out of range"
**What did you do?**
I executed a query

**What did you expect to see?**
the result of the query

**What did you see instead? Under which circumstances?**
error message "reference sequence 0 out of range"

I have been running two Prometheus instances in Docker containers for about 2 years.
Since the end of August 2018 Prometheus starts to produce the error "reference sequence 0 out of range" frequ

[2018-11-08 20:03] theRealAJR commented on #4845
this is the docker-compose.yml used to start all the dockers:
[code]

[2018-11-08 20:32] krasi-georgiev commented on #4842
Thanks, it would really help to get the output of the promtool debug command (inside the same release folder as the Prometheus binary) run at the time this happens. This  will give us a clue what starts consuming so much memory.

[2018-11-09 02:55] kaihendry opened #4846 "YAML configuration output is not correctly indented"
## Proposal
I'm often terrorised by incorrect YAML indentation and I noticed what Prometheus outputs in /config isn't perfect strictly speaking.

## Bug Report

* What I did: Copy the configuration shown on /config
* Expected: A valid YAML document
* What happened instead: yamllint 1.12.1 strictly complain about the document

* Prometheus version: 2.5

https://s.natalian.org/2018-11-09/yaml-indent

[2018-11-09 09:00] brian-brazil commented on #4846
Is it invalid YAML, or is the linter being over-sensitive?

[2018-11-09 09:06] davidkarlsen commented on #4839
You're right - the failing rule was it.

[2018-11-09 09:06] #4839 closed

[2018-11-09 10:21] obeyler commented on #4830
It works thanks

[2018-11-09 10:21] #4830 closed

[2018-11-09 11:13] codesome commented on #4838
@bititanb Thanks for reporting this, I will have a look.

[2018-11-09 11:54] roidelapluie commented on #4839
Can we reopen this?

It was a problem for us too. That should be checked BEFORE loading the TSDB, so that is errors nicely and not after 5 minutes.

[2018-11-09 13:10] krasi-georgiev commented on #4705
@gouthamve 	what is your idea to handle these?
I think even when a single record is corrupted we don't know its length so wouldn't know how to skip and continue reading any non corrupted records.
The only way to NOT shutdown would be to ignore or delete any data after this point.

Or the data wipe of corrupted records can be implemented in the tsdb scan cli tool.

I am undecided whether a hard fai

[2018-11-09 13:11] krasi-georgiev commented on #4757
ping @ashepelev

[2018-11-09 13:13] brian-brazil commented on #4705
Our general approach to WAL corruption is to ignore everything after the corruption.

[2018-11-09 13:17] krasi-georgiev commented on #4705
@gouthamve 	, @fabxc 	do we agree with that so I can work on a fix?

[2018-11-09 13:29] brian-brazil commented on #4110
With the PRs I've sent out, it's already as efficient as it's going to get. It seems that @SuperQ's issue was likely cardinality, which my PRs should address.

[2018-11-09 13:31] krasi-georgiev commented on #4058
anyone else wants to add anything else before we marked as resolved?

@haraldschilly did you find the cause for your case?

This is implemented as part of the [tsdb cli scan tool](https://github.com/prometheus/tsdb/pull/320) which is still in review.

[2018-11-09 13:48] krasi-georgiev commented on #4110
looking at one bench results the wors memory jump I found is from 30 to 40gb for a week run with the default settings which doesn't seem so bad.

http://prombench.prometheus.io/grafana/d/7gmLoNDmz/prombench?orgId=1&var-RuleGroup=All&var-pr-number=4816&from=1541709439128&to=1541714031412

@SuperQ do you see any bigger jumps?

[2018-11-09 13:53] SuperQ commented on #4110
@krasi-georgiev The issues we saw were with the default 10% max block size when compacting long retention times (365d). We tun our max block size to 7d, which helps. Once we have Brian's memory use optimizations in a release, I can do some re-testing.

[2018-11-09 14:00] krasi-georgiev commented on #4057
@juliusv does anything need to be done on the tsdb side?
If not would you mind removing the local storage label so that it doesn't appear i my queue :stuck_out_tongue_winking_eye:

[2018-11-09 14:03] krasi-georgiev commented on #3924
@mlanner after some discussion in https://github.com/prometheus/tsdb/pull/283 It was decided to implement this as part of the `tsdb cli tool`.

Closing now, but feel free to reopen if need to add more details to the issue.

[2018-11-09 14:03] #3924 closed

[2018-11-09 14:09] krasi-georgiev commented on #3807
I think `tsdb` is out of scope here so removed the local storage label.

[2018-11-09 14:29] krasi-georgiev commented on #2651
Since the PR referencing this issue in tsdb is merged I assume the work on the tsdb side is done? so I can remove the local_storage label?

[2018-11-09 14:31] krasi-georgiev commented on #2038
the work on tsdb side is done so removed the `local storage` label.

[2018-11-09 14:34] brian-brazil commented on #2651
The tsdb issue is unrelated (and in fact can be reverted, it's dead code).

[2018-11-09 14:37] krasi-georgiev commented on #1381
don't think anything can be done on the tsdb side for this so removed the `local storage` label.

Doesn't seem there is a big demand for such a use case and since the issue is so old maybe should close it and revisit if it comes up again or if @taviLaies is still interested in this.

[2018-11-09 14:40] krasi-georgiev commented on #2651
just to be clear you are talking about https://github.com/prometheus/tsdb/pull/111 right?

Is there anything that needs to be done on the tsdb side?

[2018-11-09 14:51] krasi-georgiev commented on #535
@codesome 	why do you need prometheus/tsdb#370 for the bulk import?
Quickly reading trough the comments this relates to bulk imports to a new Prometheus server without any data in it so it will import data in order(ordered timestamps and nothing in the past) which should be possible even with the current tsdb package.

[2018-11-09 14:53] brian-brazil commented on #2651
Yes.

Personally I think this should be implemented entirely in the TSDB.

[2018-11-09 15:03] codesome commented on #535
If we are allowing bulk import, I think we need to support for every case and not only for empty storage. We need https://github.com/prometheus/tsdb/pull/370 to allow import of any time range.

But yes, valid point. We can do bulk import even with current tsdb packages, but we need to implement that part in prometheus/prometheus. I would like to do it after the above mentioned PR so that import is

[2018-11-09 15:34] ashepelev commented on #4757
@krasi-georgiev
Sorry for not answering.
As I've said before we have resolved a problem by blacklisting metrics with lots of label values.
Here's an example:
[code]
As you can see the label `name` is filled with metric value.
This happend because of wrong jmx_exporter config:
[code]
We had lots of such samples in scrape. That lead to incredible block index-file growing.
That correlates with initia

[2018-11-09 15:46] simonpasquier commented on #4845
There's been numerous problems reported due to NFS. The fact that the issue vanishes after restarting the machine seems to indicate that the data on disk isn't corrupted.

[2018-11-09 15:49] codesome commented on #4838
After digging a bit I found that the reason is _not_ `minValidTime`. The number that you saw is normal, also `maxTime: 54900000` means there are 916 samples.

But, I haven't found the actual issue. Still checking.

[2018-11-09 15:54] simonpasquier commented on #4833
Do you have any logs before the crash? Do you have a copy of the `wal` directory that crashed the Prometheus server?

[2018-11-09 15:58] codesome commented on #4838
Sorry, my bad, you are right. Recording rules are evaluated after `minValidTime` is already incremented.

[2018-11-09 16:15] simonpasquier commented on #4757
Closing at it was due to unbounded label cardinality.

[2018-11-09 16:15] #4757 closed

[2018-11-09 16:19] simonpasquier commented on #4741
Closing for now as you've found an alternative approach.

[2018-11-09 16:19] #4741 closed

[2018-11-09 16:37] theRealAJR commented on #4845
I forgot to mention, that data is stored correctly while the problem exists i.e. after I restart the machine, I can see data from the time period, where queries returned the "reference sequence 0 out of range" error.

[2018-11-09 16:49] brian-brazil commented on #4705
That could result in partial data, which can be very messy for the user and
we could miss a series creation too. I don't think it's safe to use
anything after a corruption.

On Fri 9 Nov 2018, 15:28 Krasi Georgiev <notifications@github.com wrote:

[2018-11-09 17:00] simonpasquier commented on #4740
@vaibhavkhurana2018 any news?

[2018-11-09 17:11] juliusv commented on #4057
@krasi-georgiev I changed the labels from local to remote storage.

[2018-11-09 20:29] krasi-georgiev commented on #4057
thanks

[2018-11-10 17:59] raypettersen opened #4853 "Consul job rename/relabel not working with 2.5.0"
## Proposal
**Use case. Why is this important?**
Grouping of exporters when using consul is broken for job rename.

## Bug Report
**What did you do?**
Upgraded to latest 2.5 version. All exporters discovered with consul ended up with a single job name instead of rename for each exporter which was working flawlessly with 1.8.0

**What did you expect to see?**
Continued renaming of job name, so all

[2018-11-10 18:28] dims commented on #4795
@brancz fyi, we have `klog` now in main k/k repo (fork of glog with some stuff fixed)

[2018-11-10 18:42] raypettersen commented on #4853
[code]

[2018-11-11 07:18] hoffie commented on #4853
Do you see any actual problems (i.e. unexpected changes in the database) or could this be just explained by the [announced](https://github.com/prometheus/prometheus/blob/master/CHANGELOG.md), changed UI grouping in 2.5.0?

[2018-11-11 15:15] raypettersen commented on #4853
It's just the gui as far as I can see. Likely related to the announcement. What's the fix for getting proper grouping when using consul/sd? Right now everything is grouped under "consul". I'd like to get the old behavior which lets me get exporters grouped by name.

[2018-11-11 20:36] juliusv commented on #4714
@fabxc Could you provide an updated email address (and confirm whether you area of maintainership is still ok)?

[2018-11-12 01:33] estahn commented on #4833
@simonpasquier Please find all logs for that day attached.

[search-results-2018-11-11T17_32_02.549-0800.csv.zip](https://github.com/prometheus/prometheus/files/2570165/search-results-2018-11-11T17_32_02.549-0800.csv.zip)

[2018-11-12 05:09] 249510573 opened #4854 "reload promethues config"
What about the impact of   reloading the promethues config?  without any interruption of service?

[2018-11-12 08:31] smelchior commented on #4736
The issue occurred again today and i was able to get the screenshot. I also send you another email with the traces of today. I would really appreciate if someone could look into this. I will update to the latest version now to see if this fixes it, but i did not see anything in the changelog that might suggest that.
![target_list](https://user-images.githubusercontent.com/801781/48335345-b7839100-

[2018-11-12 09:55] rjanovski opened #4855 "marathon_sd_config broken in 2.5.0 (using servicePort instead of actual port)"
## Bug Report
**What did you do?**
tried to configure prometheus to scan marathon services

**What did you expect to see?**
services being scanned on their correct port

**What did you see instead? Under which circumstances?**
services were scanned using their "servicePort" with is not exposed and hence did not return any result

**Environment**
dcos 2.10.2

* System information:

        docker p

[2018-11-12 10:11] simonpasquier commented on #4854
Thanks for your report. It looks as if this is actually a question about usage and not development. When reloading itself, Prometheus minimizes the interruption but depending on the concrete setup, we cannot guarantee that a few scrapes won't be missed.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/

[2018-11-12 10:11] #4854 closed

[2018-11-12 10:21] simonpasquier commented on #4853
Indeed the UI layout for targets has changed in 2.5.0. To be honest, it wasn't really intentional but positively welcomed by users that noticed the new layout. On the other hand, I see how the change can be annoying for you. What if targets inside a scrape configuration were grouped by `job`?

[2018-11-12 10:57] simonpasquier commented on #4736
@smelchior I'd be interested to look at the debugging info. You can send me the output of the `promtool debug all` command by email (address on my GitHub profile).

[2018-11-12 11:01] smelchior commented on #4736
@simonpasquier i send you an email with the details i have, this includes the pprof debug info i retrieved via the /debug/.. endpoints. Thanks!

[2018-11-12 11:12] simonpasquier commented on #4855
#4499 is probably the culprit but I'm not familiar enough with Marathon to understand what can/should be done.

[2018-11-12 11:19] rjanovski commented on #4855
Reverting to v2.4.3 solves this, btw.

On Mon, Nov 12, 2018, 1:12 PM Simon Pasquier <notifications@github.com>
wrote:

[2018-11-12 13:43] krasi-georgiev commented on #4788
@wolfzhaoshuai closing for no activity. Please reopen if you are still facing this and will continue the troubleshooting.

[2018-11-12 13:43] #4788 closed

[2018-11-12 13:57] bititanb commented on #4838
Checked #4851. Works fine for me even with much more complex expressions. Thank you, this really helped me!
Should I close?

[2018-11-12 14:02] codesome commented on #4838
Don't close till that PR is merged.

[2018-11-12 14:05] simonpasquier commented on #4845
You can try to run `promtool debug all ...` and attach the output here. But as I wrote in my first comment, running Prometheus on top of NFS isn't recommended.

[2018-11-12 14:17] simonpasquier commented on #4736
I've had a quick look at the pprof data shared by @smelchior and I suspect that one scrape appended is stuck and it is blocking the other appenders. @krasi-georgiev thoughts?

Complete graph of goroutines:

![fullprofile](https://user-images.githubusercontent.com/2587585/48352728-db5ecb00-e68d-11e8-8eb8-420971bd26b6.png)

Graph of goroutines matching on `scrape`:

![scrapeprofile](https://user-ima

[2018-11-12 15:48] krasi-georgiev commented on #4833
I don't see any errors in the logs indicating a bug.
The only reason for this  I can think for this OOM kill is if your scraping load has increased or have some problems with high cardinality(large labels value variations.)

the WAL is almost an exact copy of the data currently loaded in the RAM so increased scraping load or high cardinality would cause an increased memory usage and larger WAL siz

[2018-11-12 15:54] gouthamve opened #4856 "UI page for the last /metrics per target"
I think we can have a new button for every target on the targets page that would show us the `/metrics` page for the last scrape given we are storing the metadata now.

https://prometheus.io/docs/prometheus/latest/querying/api/#querying-target-metadata
This should give ONLY the last scraped metrics right?

[2018-11-12 16:07] brian-brazil commented on #4856
Having metadata is different from having the exact last scrape.

[2018-11-12 16:10] yanivroz opened #4857 "Read Azure credentials from environment variable"
## Proposal
I saw in the documentation that you can obtain AWS credentials from environment varaibles:
[code]
Any plan to support the same for Azure?
something like this:
[code]

[2018-11-12 16:12] brian-brazil commented on #4857
We recommend against using environment variables for secrets as they aren't designed for it. We also want to have just one place that configuration comes from. If the client we're using happens to this under the covers that's it's own business though.

[2018-11-12 16:19] yanivroz commented on #4857
@brian-brazil I understand your point but isn't this kind of inconsistent to have it for one type of service discovery and not for another?
Also, I believe the security issues should be left for the user to decide. After all, putting the secret in the prometheus.yml file as plain text is just as bad as keeping it as an environment variable in clear text, no? (or am I missing something?)

[2018-11-12 17:34] theRealAJR commented on #4845
Thanks for the tip with NFS. I have switched back from NFS 4 to NFS 3 for now (tried CIFS, but the permissions drove me crazy).
I'll test it for some time and will report back.

[2018-11-12 17:35] krasi-georgiev commented on #4842
when it reaches this state no errors in the logs? I suspect some WAL checkpointing loop

[2018-11-12 18:27] mkadin opened #4859 "Alerting rules docs reference $labels, but only .Labels appear to work"
# Bug Report
**What did you do?**
I set up a rule that looks like this:
[code]

**What did you expect to see?**
For this configuration to be valid, based on the docs at https://github.com/prometheus/prometheus/blob/master/docs/configuration/alerting_rules.md

**What did you see instead? Under which circumstances?**
Prometheus crashed on startup:
[code]
**Environment**
ubuntu 16.04

* System inform

[2018-11-12 18:58] brian-brazil commented on #4859
That's a YAML issue, try quoting the template string.

[2018-11-12 19:12] dswarbrick commented on #4842
The only log output is what I've already posted in this ticket. I have not had time yet to provoke the issue on a test system, and have just been extremely cautious about ensuring that instances are cleanly shut down in the meantime. This seems to avoid the issue.

[2018-11-12 19:24] kminehart opened #4860 "[Bug] Some values produced by recording rules are inaccurate."
## Bug Report
**What did you do?**

One metric I've been collecting via. rules has been inaccurate by up to 500. (in this case, seconds), which is a pretty big difference.

The rule is taking less than 10 ms to complete, so I don't think there's much of a "time drift" issue happening here.

This is the difference between the value in the rule, and the query the rule uses. Since these are, to my un

[2018-11-12 19:32] krasi-georgiev commented on #4842
That is weird. Any corruptions should be detected and repaired at start-up.

Ok i will try to replicate by many dirty shutdowns.

[2018-11-12 22:06] estahn commented on #4833
@krasi-georgiev @simonpasquier Indeed, I don't see any errors either. So the only thought I had was maybe the data in WAL is expanding to more than 6 times its size.

After deleting the WAL directory it recovered nicely and we haven't had the issue since.

I don't remember making any changes affecting label cardinality.

If this can not be solved or investigated with the current information I will

[2018-11-13 00:42] skonto commented on #3441
supplementalGroups will not help on Openshift?

[2018-11-13 00:55] #4859 closed, assigned to nobody

[2018-11-13 08:32] simonpasquier commented on #4833
Closing it for now to keep the backlog manageable. Reopen if it happens again (having a copy of the buggy `wal` directory would be good).

[2018-11-13 08:32] #4833 closed

[2018-11-13 08:59] roidelapluie opened #4862 "Add a meta metric about the scrape format"
With the same labels as up, I'd like to have a metric called:

scrape_format{name="openmetrics",transport="http",job="node",instance="srv01"} 1

That could ease the migration to openmetrics

[2018-11-13 12:35] gouthamve commented on #4856
Hmm, how is it different, curious? Is it due to `metric_relabelling`?

[2018-11-13 12:41] brian-brazil commented on #4856
And you'll lose the ordering, any extra data, could get mixed up if there's multiple scrapers for a series etc.

[2018-11-13 13:42] #3730 closed

[2018-11-13 15:17] fabxc commented on #4714
That should be freinartz@google.com.

Realistically, there are people who are more involved with most areas assigned to me right now. Happy to transfer those.
Retrieval is very performance sensitive and thus easy to regress in. There I'd like to stay on top of things.

[2018-11-13 15:56] zakkg3 commented on #2357
This should be a must-have, not a nice to have.
@brian-brazil what's the problem on having 2 different ways of configuring things? Like ELK, grafana, and.. proabbly most of the things :D

[2018-11-13 16:08] simonpasquier commented on #4855
ping @ti-mo that worked on #4499

[2018-11-13 16:09] logemann commented on #2357
@zakkg3 you wont get any positive feedback from the author regarding that. As you see in my closed reminder case. Sad but true. He dont mind that any other framework/product has such a mechanism.

[2018-11-13 16:41] ti-mo commented on #4855
hi @rjanovski, thanks for the report.

This is indeed related to #4499. I'm missing some info in your report, but I can take a good guess at the cause of the problem: before 2.5.0, only services using host networking were discovered. 2.5.0 introduced support for all currently possible network configurations: host, bridge and container networking, using both `portDefinitions` and `portMappings`.

Y

[2018-11-13 17:51] mml opened #4863 "Add non-cumulative distribution type"
## Proposal

Sometimes it's valuable to report a distribution that's not cumulative.  Typical cumulative distributions aggregate approximately all observations since start time, and provide ways for us to examine rates and deltas to figure out things like QPS or "99th percentile latency in the last 30m".

Non-cumulative distribution types are like gauges.  Example usages/observations:  heap charac

[2018-11-13 17:52] cheftako commented on #4863
+1

[2018-11-13 17:52] logicalhan commented on #4863
+1

[2018-11-13 18:15] lavalamp commented on #4863
Additional color: you can *almost* do this with the existing summary in two different ways:
1. Use the MaxAge feature
2. Use a vector, with a fresh index each time (deleting the prior one)

Unfortunately neither of these (afaict) allow for concurrency guarantees around making observations, so the monitoring software could well take a reading while you're halfway through adding observations.

[2018-11-13 22:04] harshal-shah commented on #4517
According to https://github.com/prometheus/prometheus/pull/4655 it seems this has been resolved in prometheus 2.5.0

[2018-11-14 06:53] vaibhavkhurana2018 commented on #4740
@simonpasquier Apologies for the late revert here. Didn't get anything specific with the profiler as the app was going down every time the profiler was run.

One observation, have seen CPU spike up whenever a query is performed from the grafana dashboard,  which results in increase of memory utilisation and finally the app being unresponsive.

Anyways, have segregated the prom app for multiple app

[2018-11-14 08:51] simonpasquier commented on #4740
Unfortunately there's no general formula to assess the amount of memory that will be used by Prometheus as it depends on too many factors. When you reach the limits of a single process, the right thing to do is indeed splitting targets across multiple Prometheus servers. Note that some TSDB improvements are in development which should eventually reduce a bit the memory usage (especially when compa

[2018-11-14 08:51] #4740 closed

[2018-11-14 09:33] MustaphaB1 commented on #4853
Also having this same issue.. will this be fixed or is downgrading to 2.4.3 the only option.

[2018-11-14 09:39] #4629 closed

[2018-11-14 09:44] brian-brazil commented on #4863
PromQL already supports this via the `histogram` function. You will need to write a custom collector to expose data for this (which you'd need to do anyway). OpenMetrics has a GaugeHistogram type, which you can already use in custom collectors in client_python.

[2018-11-14 12:02] zakkg3 commented on #2357
I see @logemann I ve made a custom image with confd to workaround, feel free to fork:
https://github.com/zakkg3/Prometheus-confd

[2018-11-14 12:03] zakkg3 commented on #4820
workaround using confd, feel free to fork / use as inspiration :D
https://github.com/zakkg3/Prometheus-confd

[2018-11-14 12:18] rshivane commented on #4517
I would like to add that, as a vendor implementing the server-side of remote read API, the lack of streaming adds similar memory pressure on the marshaling side.

@bwplotka I notice that your already have a PR for streaming support in #4591. Whenever this is approved for merge, we would be happy to implement it on our storage and validate.

[2018-11-14 12:33] bwplotka commented on #4517
Yes. This is working code for streaming with raw samples, but we have some internal discussion how it should be done. I closed it to reduce confusion for now: https://github.com/prometheus/prometheus/pull/4591

TL;DR: It would be nice to have remote read stream with Prometheus chunk encoded samples (instead of row samples), to avoid unnecessary decoding & encoding. Does it
The plan is to:
1. Chang

[2018-11-14 12:51] rshivane commented on #4517
Is that essentially ["Alternative 1" in the design doc](https://docs.google.com/document/d/1JqrU3NjM9HoGLSTPYOvR217f5HBKBiJTqikEB9UiJL0/edit#heading=h.12fpmrn0ayj) ?

[2018-11-14 15:39] nodox commented on #4705
What is the progress on this issue as we are experiencing this problem as well.

[2018-11-14 15:52] krasi-georgiev commented on #4705
@nodox 	the exact same error log?

any pointers on how to replicate?

[2018-11-15 09:54] smelchior commented on #4736
The issue occured again, also after the upgrade to 2.5.0:
[code]

The log messages are the last ones. Sometime after that the scraping started to hang. I emailed the debug details to @simonpasquier.
The `promtool debug all` output is included, but the tool did hang at the end, so the output is probably not complete.

[2018-11-15 21:51] nodox commented on #4705
@krasi-georgiev I've encountered this in a kubernetes environment FYI. After a bit of analysis it seems the issue is caused because the rentention window is longer than the available storage. After we did some capacity planning based on the formula provided in the documentation we were in fact under the required capacity. After making the adjustment the problem seemed solved. However making the st

[2018-11-15 21:59] brian-brazil commented on #4705
Our general stance is that capacity planning is the user's responsibility, even detecting that we're in this situation isn't possible in the general case and not all users would want silent data loss to occur if it happens.

[2018-11-15 22:08] krasi-georgiev commented on #4705
@nodox 	on top of what Brian said we are working on a size based retention options in  Prometheus which should address your issue.

I have already opened a PR that improves the repair handling so lets merge that and will revisit.

[2018-11-15 22:10] dhbarman opened #4871 "Recording Rules take more time in Prometheus 2.3.0 after upgrade"
## Proposal
**Use case. Why is this important?**

*Prometheus recording rules should not take more time*

## Bug Report
**What did you do?**

Upgraded Prometheus 2.2.1 to 2.3.0. The same set of recording rules were taking less time with previous version.

**What did you expect to see?**

Alarms based on metrics (recording rule evaluation) should not have gotten fired.

**What did you see instead?

[2018-11-15 22:48] anshulshrivastava commented on #4686
Same issue for me.
I created an IAM role (ROLE-1) which has EC2 Read-only Access. And then attach a policy to the Prometheus server's IAM role (ROLE-2) to assume ROLE-1.

prometheus.yml file
[code]

logs from Prometheus container -
[code]

I am not sure what I am missing here.

[2018-11-16 06:30] heayin opened #4872 "Prometheus-master can not query any metrics when labelmap and hashmod are both configured in Prometheus-slave"
I am using Prometheus Federation in k8s.

The master configuration is as follows：
[code]

"10.181.12.19:30093" is the ip-address of slave1.
"10.181.12.19:30092" is the ip-address of slave0.

The slave1 configuration is as follows:
[code]

I can query metrics successfully in slave1. But I can query nothing in master.
When querying in master, I tcpdumped "10.181.12.19:30093" . It showed that the sla

[2018-11-16 08:17] #4776 closed

[2018-11-16 09:41] simonpasquier commented on #4871
Can you share the recording rules and the definition of the firing alerts?

[2018-11-16 13:04] simonpasquier commented on #4855
@rjanovski: are you able to update your configuration with the details provided by @ti-mo?

Regarding release notes, it was mentioned as `[CHANGE] Marathon SD: Various changes to adapt to Marathon 1.5+`. While it isn't very detailed, it was there and it is worth noting that we don't guarantee the stability of the service discovery mechanisms (though we attempt to minimize disruption).

[2018-11-16 13:52] bititanb opened #4874 "promtool test rules: off-by-one bug for functions applied to range vectors"
## Bug Report
**What did you do?**

`promtool test rules test.yml`

**What did you expect to see?**

[code]

**What did you see instead?**

[code]

**Under which circumstances?**

[code]
[code]

**Environment**

* System information:

[code]

* Prometheus version:

[code]

* Promtool version:

[code]

* alerts and tests configuration files:

Modified example configs from docs:
https://gist.github.

[2018-11-16 13:57] brian-brazil commented on #4874
I don't see a problem here. Why do you think this is wrong?

[2018-11-16 14:04] bititanb commented on #4874
@brian-brazil Same expression `sum_over_time(up[2m])` returns different results in prometheus web expression  browser (returns `2`) and `promtool test rules` (returns `3`) for same set of data, so alerts that passed tests do not work with actual prometheus instance and vice versa. Maybe I'm missing something?

[2018-11-16 14:10] brian-brazil commented on #4874
Are you running exact the same query with exact the same time offsets relative to the data?

[2018-11-16 14:20] bititanb commented on #4874
Yep, identical — same data, same query (and same range), no offsets or anything. I was investigating why alerts which passed tests don't work in production, and looks like they do work in production now after I tuned them according to this `-1` strange behavior, but now my tests fail.

[2018-11-16 14:55] bititanb commented on #4874
Not sure I got the point.

For example, how can I test some really simple expression (just for the purpose of testing, it could be more complex and useful, but the problem will stay) like `sum_over_time(metric_name[10m])`?

It's true that it is not resilient to `NaN` in some timeseries in this range (though I did not find a way to filter `NaN` in range vectors) and it always returns `NaN` in this

[2018-11-16 15:00] brian-brazil commented on #4874
Depending on races and what not, you might get anywhere between 0 and 11 points for the sum.

[2018-11-16 15:16] bititanb commented on #4874
Wow, OK. So my tests basically test nothing.

From UX perspective I don't see any value in such tests though, because I'm not sure I can write alerts that will work reliably in both testing and production environments for such inconsistent data ranges. It doesn't work even with simplest expressions and inputs and prometheus instance with almost zero load and 1m scrape/eval intervals.

You can clos

[2018-11-16 15:18] bwplotka commented on #4517
Exactly, but need to reorder ;p

[2018-11-16 20:53] bititanb commented on #4874
Checked again on clean install of prometheus and it still seems weird. No exporters besides of prometheus itself on :9090, so very low load. Eval/scrape intervals 1min for both prometheus and promtool unittests.

From prometheus `sum_over_time(up[1m])` **always** returns 1 result, very consistently, I can see it in Graph view, just a straight line for 30m already.  `promtool test rules` **always**

[2018-11-17 16:43] sbueringer commented on #4817
What kind of information is needed?

[2018-11-18 21:36] dswarbrick commented on #4842
@krasi-georgiev I just upgraded a test instance to v2.5.0, which recently landed as a package in debian/sid. Within a couple of hours it was exhibiting the familiar symptoms I've described above. I grabbed the debug info you requested from promtool.
[debug.tar.gz](https://github.com/prometheus/prometheus/files/2593261/debug.tar.gz)

[2018-11-18 21:43] dswarbrick commented on #4842
Additionally, trying to do a clean shutdown of this "bugged" instance is failing. It is ignoring further sigterms, and the web UI is still reachable. Logs below, and another debug pprof taken whilst it was in that state:
[code]
[debug-wont-shutdown.tar.gz](https://github.com/prometheus/prometheus/files/2593269/debug-wont-shutdown.tar.gz)

[2018-11-19 02:34] UnicornSymbol opened #4877 "How much memory does Prometheus need at least?"
When I use 4G memory to run, prometheus2.0 memory usage has been increasing until it dies.

`- "--config.file=/etc/prometheus/prometheus.yml"
- "--storage.tsdb.path=/prometheus"
- "--storage.tsdb.retention=6h"
- "--storage.tsdb.max-block-duration=1h"
- "--web.enable-lifecycle"`

[2018-11-19 03:16] kdada commented on #4877
In our case, a prometheus instance with about 200 targets and 5 seconds scrape interval, uses 4G ~ 5G memory.

What's scale of your prometheus?

[2018-11-19 03:42] kdada commented on #4877
Do you have some queries/alerts/rules which fetch two many metrics?

[2018-11-19 03:53] UnicornSymbol commented on #4877
I use Prometheus to collect data and grafana to display.I'm not sure is grafana showing too many queries.Do you use grafana?

[2018-11-19 04:03] kdada commented on #4877
We use grafana too. Our dashboards shows metrics about 30min~6h.

[2018-11-19 09:01] steven-aerts commented on #4860
We are seeing a similar problem on prometheus 2.4.3.

We have a recording rule:
[code]

Where the current value of `beagle_register:consumer_in_sync_duration:max_week{}` is '152849271.75363848' while if we run the `expr` directly the value we get is `68.377`.

We have two prometheus servers running in parallel, and they both give exactly the same values for both queries.

We never saw a deviation

[2018-11-19 09:02] AashishChughHome opened #4880 "How to make ecs discovery auto start"
Hi,

How to make prometheus ecs discovery auto start , i try to change in /etc/init file and crontab. but no use.

[2018-11-19 10:06] simonpasquier commented on #4880
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2018-11-19 10:06] #4880 closed

[2018-11-19 10:08] simonpasquier commented on #4877
Thanks for your report. It looks as if this is actually a question about usage and not development. BTW You shouldn't need to tweak the `storage.tsdb.max-block-duration` flag, it is only required for testing and benchmarking.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), w

[2018-11-19 10:08] #4877 closed

[2018-11-19 10:21] #2038 closed

[2018-11-19 10:21] krasi-georgiev commented on #4842
thanks that should help I will look into these today.

[2018-11-19 10:41] suanziliu commented on #2936
Hi @MihaMarkic ,

[2018-11-19 10:45] suanziliu commented on #2936
Hi @MihaMarkic ,
I almost met the same issue and fixing method with you, I was using v1.8.2.
I used to use `storage.local.memory-chunks` but now still using `-storage.local.target-heap-size`.
It's always crasing these days and tells me OOM.

Can I ask:

Which one did you remove and what is the configuration you are using?

Thanks,

[2018-11-19 10:46] suanziliu opened #4881 "prometheus OOM"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	inser

[2018-11-19 10:57] #4881 closed

[2018-11-19 10:58] krasi-georgiev commented on #4842
unfortunately the block and mutex profiles are empty as these are enabled only in debug mode.

https://github.com/prometheus/prometheus/blob/ca93fd544b76d1abf3922cc54295549b9c06e62c/cmd/prometheus/main.go#L79-L82

I will continue looking into the other profiles, but if you can start another instance and gather the profiles with "DEBUG" enabled it will also help.

[2018-11-19 11:31] AndorCS commented on #4842
The same issue happens to us.
After some chunks removal rest of WAL logs was checkpointed and prometheus works smoothly for ~4 days until it happens again.

We have `--min-block-duration=30m` and `storage.tsdb.max-block-duration=24h`

[https://i.imgur.com/207elUK.png](https://i.imgur.com/207elUK.png)

[2018-11-19 11:33] simonpasquier commented on #4846
Though not complying with the linter's rules, the YAML exposed by Prometheus is perfectly valid. There isn't much we can do here as we rely on an [external library](https://gopkg.in/yaml.v2) for YAML serialization/deserialization.

[2018-11-19 11:33] #4846 closed

[2018-11-19 11:45] simonpasquier commented on #4528
FTR the root issue is the Go HTTP2 library and tracked at https://github.com/golang/go/issues/27044. It might be addressed in go 1.12.

[2018-11-19 11:52] #3664 closed

[2018-11-19 11:58] AndorCS opened #4882 "prometheus_tsdb_head_max_time and prometheus_tsdb_head_min_time values is milliseconds"
## Proposal
**Use case. Why is this important?**
Since prometheus use standard values in seconds, having `prometheus_tsdb_head_max_time` and `prometheus_tsdb_head_min_time` in milliseconds is a bit confusing.

## Bug Report
**What did you do?**
Query `prometheus_tsdb_head_max_time - prometheus_tsdb_head_min_time`
**What did you expect to see?**
`1339.077`
**What did you see instead? Under which ci

[2018-11-19 12:06] raypettersen opened #4883 "GUI freezes when querying prometheus instance with large set of exporters."
## Bug Report
**What did you do?**
Upgraded prometheus in environment A, queries work as expected with ~50 exporters.
Updated in environment B, typing one letter in the GUI freezes the browser. Only difference is a larger number of exporters.

**What did you expect to see?**
Expected to see query work even with a large number of exporters.

**Environment**
Apache proxy in front of apache. Identica

[2018-11-19 12:40] krasi-georgiev commented on #4842
Looking at the profile before the shutdown it seems that there is some silent panic in
`github.com/modern-go/reflect2`

caused somewhere in the k8s Service discovery.
most likely in `k8s.io/apimachinery/pkg/runtime/serializer/json/json.go`

the `reflect2` package is used in the [Promeetheus API](github.com/prometheus/prometheus/web/api/v1/api.go
) as well, but the profile doesn't show anything abo

[2018-11-19 12:50] simonpasquier commented on #4883
Which page is failing for you exactly?

[2018-11-19 12:53] dswarbrick commented on #4842
That's odd. I don't use k8s SD, although I am using Consul SD.

[2018-11-19 12:55] raypettersen commented on #4883
/graph. Just typing a single letter sends chrome and firefox into some sort of loop in the environment with plenty of exporters. In our other environment it works fine. Also, grafana lookup succeeds with autocomplete. So we're quite puzzled.

[2018-11-19 13:18] raypettersen commented on #4883
I could also mention that grafana query works like a charm. It's only prometheus frontend /graph that kills the browser.

![image](https://user-images.githubusercontent.com/7197374/48709536-0acd8480-ec06-11e8-9901-e6c5e9bf968b.png)

[2018-11-19 13:31] krasi-georgiev commented on #4842
@AndorCS can you help with steps to reproduce?

chunks are inside the actual blocks. Are you sure that you actually removed chunks as these are not related to the WAL.

Could you post the full logs to check if there is anything unusual.

it would help if you could run  `promtool debug all` when it happens(before shutting it down) to see  if it looks similar to the one posted by @dswarbrick

[2018-11-19 13:34] dswarbrick commented on #4842
@krasi-georgiev Here is the config from the instance where I ran `promtool debug`. Nothing too exotic, it's simply a test instance. File renamed to *.yml.txt because github doesn't support attaching .yml files.

[prometheus.yml.txt](https://github.com/prometheus/prometheus/files/2595453/prometheus.yml.txt)

[2018-11-19 13:39] krasi-georgiev commented on #4842
I find the collapsible block a good way to add long text directly in the comment.

<details>
  <summary>Config</summary>

[code]
</details>

[2018-11-19 13:39] AndorCS commented on #4842
It happens again right now, trying to profile.

Yes, I'm sure, I removed some chunks, not WAL.

Will try right now.

[2018-11-19 13:45] AndorCS commented on #4842
[debug.tar.gz](https://github.com/prometheus/prometheus/files/2595499/debug.tar.gz)

[2018-11-19 13:45] krasi-georgiev commented on #4842
@AndorCS  it is good that it happened again , this should help track down the culprit.
Mind posting the logs? Also maybe posting the config should help. Or any other info that might be relevant.

hm , that is strange, wal checkpointing involves only the files in the data/wal dir. Which dir did you remove these chunks from?

[2018-11-19 13:49] AndorCS commented on #4842
Logs do not exist anymore. That happened ~1 week ago last time. Sorry.
Right now I have last messages in logs:
[code]
And graph
![screenshot 2018-11-19 at 15 49 01](https://user-images.githubusercontent.com/35036033/48710981-a8c74c00-ec12-11e8-87b8-11ac1d241567.png)

[2018-11-19 13:51] krasi-georgiev commented on #4842
@AndorCS I am unable to open the archive.

[2018-11-19 13:55] AndorCS commented on #4842
Sorry, that archive is broken
[debug.tar.gz](https://github.com/prometheus/prometheus/files/2595529/debug.tar.gz)

[2018-11-19 14:02] krasi-georgiev commented on #4842
@AndorCS 	any way to save the logs for the next time? Seeing some errors in the the logs would be the easiest way to troubleshoot this.

The WAL graph shows that something happened between 13.30-14.00. Do you know what was it?

Do you  know if this container was OOM killed at some point? I already fixed a bug casued by this in https://github.com/prometheus/tsdb/pull/451

Can you share the actual f

[2018-11-19 14:07] dabear commented on #4883
So I'm working with @raypettersen. It seems the amount of metrics loaded into typeahead is the problem. I changed /js/graph/index.js in-flight in the browser as a test, and now it's smooth again (but obviously this isn't even valid as a workaround):

![image](https://user-images.githubusercontent.com/442324/48711619-f7251c80-ec0b-11e8-8dd4-dd5fe86556b8.png)

I also did these changes:
[code]
toggli

[2018-11-19 14:11] krasi-georgiev commented on #4842
your profiles looks normal so these won't help to troubleshoot your issue.

Anyway if these were taken at the time when the  wal started misbehaving please open a new issue and ping me there as this most likely caused by a different issue than the one we are troubleshooting here.

[2018-11-19 14:22] krasi-georgiev commented on #4842
@dswarbrick can you ping me on the @prometheus-dev IRC channel , it might be quicker that way.

[2018-11-19 14:32] dswarbrick commented on #4842
@krasi-georgiev tried to, but I seem to be read-only in that channel.

[2018-11-19 14:49] krasi-georgiev commented on #4842
I think it requires a registration.
https://freenode.net/kb/answer/registration

[2018-11-19 15:22] adrien-f commented on #4855
Greetings,

Upgraded to 2.5 today expecting nothing to change even with those changes but the SD picks up the wrong port and uses the ServicePort instead of the task's. We're using Marathon 1.5.6.

[2018-11-19 15:45] mrsiano commented on #4774
looks like the leakage is gone in prometheus 2.5.0
after a 24 hours of populated system with 250 nodes and 10K pods, we can't identify any leakage anymore.

![image](https://user-images.githubusercontent.com/13570786/48717363-ec758200-ec21-11e8-9bd0-e43676d9eaa2.png)

it will be nice to have some sort of GC'ed objects over time printouts to logs.
![image](https://user-images.githubusercontent.com/

[2018-11-19 15:45] #4774 closed

[2018-11-19 15:49] krasi-georgiev commented on #4774
thanks for the update!

[2018-11-19 16:06] simonpasquier commented on #4855
@adrien-f thanks for the report! As I wrote before, I'm not using Marathon and I don't think that any of the Prometheus maintainers is familiar with it either. Maybe you can share the output of `<marathon API>/v2/apps/?embed=apps.tasks` as this is what the SD queries from Marathon?

@ti-mo any thouhgts?

[2018-11-19 16:11] adrien-f commented on #4855
@simonpasquier ofc, this was my next step as I was looking through the PR to see what could be done !

Here's one task:

[code]
I would expect to have a target of http://$SLAVEHOST:31978/metrics with this task.

Marathon is a weird beast I agree, let me know if you need more info from me, I'll also keep looking into the code.

[2018-11-19 17:03] AndorCS commented on #4842
I checked, there was nothing suspicious in logs

It was some restarts related to configuration changes, not related to the current issue.

Unfortunately, I didn't save it.

There is fresh data:
*nothing* new in logs, no any line of logs at all

<img width="1341" alt="screenshot 2018-11-19 at 19 00 55" src="https://user-images.githubusercontent.com/35036033/48722762-8262da00-ec2d-11e8-9254-8e398e02

[2018-11-19 20:40] ti-mo commented on #4855
@adrien-f Thanks for the report, this is indeed a significant case I've overlooked. I'll come with a fix tomorrow.

Turns out `servicePort` is only used by eg. marathon-lb to expose a service **at the edge**, while `hostPort` is used in the Docker port mapping on the host like `-p $hostPort:$containerPort`. If it's set to 0 in the app, it needs to be fetched from the task's `ports` array at the co

[2018-11-20 01:08] hehnope opened #4885 "Need a way to treat `params` as a list for scrape definitions"
## Proposal
The primary use case is when combining `blackbox_exporter` and `dns_sd_config`; the `__address__`.

Another use case is if you're working with `cloudwatch_exporter` and specifying the `region` via HTTP param. If you have presence in more than one region, then you need a scrape definition for each region; instead, it's just "nicer" to create a list of http `params` that are scraped and

[2018-11-20 07:06] MihaMarkic commented on #2936
@suanziliu Probably I just removed -storage.local.target-heap-size.

[2018-11-20 09:44] rjanovski commented on #4855
no worries @ti-mo :)

@simonpasquier ,
Here's a more robust sample data of marathon API /v1/apps?embed=apps.tasks
(from dcos-marathon version 0.5.10)

Thanks for getting this fixed, guys!

<details>
  <summary>Click to expand</summary>

[code]

</details>

[2018-11-20 11:13] AndorCS commented on #4842
Today we faced the same issue again:
Red annotations are `"unknown series references"` in logs.

![screenshot 2018-11-20 at 13 13 13](https://user-images.githubusercontent.com/35036033/48770106-108a9f00-ecc6-11e8-99f5-e33af950d5aa.png)

[2018-11-20 11:30] krasi-georgiev commented on #4842
it looks like the head is not truncated.
Can you add the details from `...:9090/flags`

[2018-11-20 11:32] krasi-georgiev commented on #4842
could you also ping me on IRC for a quick chat.

[2018-11-20 14:07] dabear commented on #4883
So we've implemented a fix(workaround) in our systems.

We assume the prometheus endpoint in /api/v1/label/__name__/values returns more values in prometheus2 than it did in prometheus1.8 and this is why we discovered the following problem:

During debugging, we discovered that one of our apps had been incorrectly writing unlabeled metrics with dynamic names. This led the allMetrics array variable

[2018-11-20 14:16] brian-brazil commented on #4883
Dupe of #2119. Looks like a 10k limit is what we'll want.

[2018-11-20 14:16] #4883 closed

[2018-11-20 16:54] xocasdashdash opened #4889 "Panic when using empty relabel config"
## Bug Report
**What did you do?**
I added an empty relabel config like so:
[code]
**What did you expect to see?**
Prometheus not to panic.
**What did you see instead? Under which circumstances?**
It panics. ie: https://imgur.com/a/aFSiz5V
**Environment**

* System information:

Linux 3.10.0-862.el7.x86_64 x86_64

* Prometheus version:

	prometheus, version 2.5.0 (branch: HEAD, revision: 67dc912ac

[2018-11-21 03:13] deeTEEcee commented on #2671
working with rabbitmq + kubernetes and a specific queue, the pod names are switching. I'd like to use `avg_over_time` with a certain time period but that leads to a result dependent on how many times the pod switched, so id like to ignore that pod name somehow.

[2018-11-21 09:02] juliusv opened #4890 "prometheus_sd_configs_failed_total is not actionable, gauge would be better"
The metric `prometheus_sd_configs_failed_total` (https://github.com/prometheus/prometheus/blob/a9050c45f68f00cd9907df9bab96afd1908db934/discovery/manager.go#L44-L49) currently tracks the total number of SD configurations that were not able to be applied during configuration (re)load. However, the actual rate of that counter depends highly on the configuration reload rate, so a bad SD config might

[2018-11-21 09:04] juliusv commented on #4889
Thanks for the report, looking into it!

[2018-11-21 09:09] juliusv commented on #4889
https://github.com/prometheus/prometheus/blob/master/relabel/relabel.go#L41 accesses `cfg.SourceLabels`, but `cfg` is a pointer that can actually become `nil` when initialized from an empty YAML object (an empty relabeling rule in this case). Either the list elements should not be pointers or we should check for `nil` values.

[2018-11-21 09:44] simonpasquier commented on #4885
With blackbox_exporter, the service discovery usually discover the endpoints to probe and the address of the exporter is set via relabeling so I don't see the need for this use case. See https://github.com/prometheus/blackbox_exporter#prometheus-configuration. I'm not sure about what is missing for cloudwatch_exoprter either.

[2018-11-21 09:53] simonpasquier commented on #4889
I would lean towards rejecting any empty relabeling rule at load time since it isn't a useful configuration AFAICT.

[2018-11-21 10:44] krasi-georgiev commented on #4354
this is the same as https://github.com/prometheus/prometheus/issues/4757 which was caused by unbounded label cardinality. Misconfigured exporter.
Feel free to reopen if you think the cause for this one is different.

[2018-11-21 10:44] #4354 closed

[2018-11-21 10:57] #4882 closed

[2018-11-21 11:43] juliusv commented on #4889
@simonpasquier Good point, that would be even better :)

[2018-11-21 12:11] AashishChughHome opened #4892 "How to change default path of ecs_file_sd.yml."
Hi,

I am unable to change the path of ecs_file_sd.yml , currently this file is stored in root directory but i want to change this location from command line. I read the docs and found that need to pass some parameter -config.write-to = "file_location" .

Could you please look into this.

[2018-11-21 12:13] #4892 closed

[2018-11-21 14:17] infoverload commented on #4889
I am interested in working on this!

[2018-11-21 14:18] infoverload commented on #4890
I would like to work on this

[2018-11-21 14:21] krasi-georgiev commented on #4842
the stuck shutdown is most likely a side effect of the wal issue so I wouldn't focus too much on that yet.

I am still waiting for the other maintainers to have a look at some PRs for  WAL fixes and once we merge these can make another release and test it again.

[2018-11-21 14:41] dswarbrick commented on #4842
`debug pprof` from latest instance to exhibit symptom, as discussed in irc.
[debug.tar.gz](https://github.com/prometheus/prometheus/files/2604610/debug.tar.gz)

[2018-11-21 15:15] bentsi commented on #3632
Using official Prometheus docker v.2.3.2 [prom/prometheus:v2.3.2] with data directory mounted outside the container.
After restarting the container (docker kill and docker start commands) and when GC process
runs the sample data got truncated to the `mint` time that is close to the start time of the container.
Container log:
[code]
One can see that data was truncated till 20:00, as the value `mint

[2018-11-21 15:58] nmaupu commented on #2357
I am also surprised not be capable of doing that. I would rather prefer using http_proxy environment variable instead of having to put this in `global/http_config/proxy_url` while it's already available and configured elsewhere. Those configurations are environment dependent and should be easily replaced in the same base code...
[code]
would be much much better.

By the way, _alertmanager_ doesn't

[2018-11-21 19:17] kminehart commented on #4860
Would also like to know. I'd be happy to debug it if I knew where to start.

[2018-11-21 21:29] dswarbrick commented on #4842
@krasi-georgiev I finally managed to get a debug stack pprof from an instance with DEBUG=1. This instance was only setup for the first time yesterday - it has only ever run v2.5.0. I nuked the DB earlier today, so it started with a fresh DB, and within a few hours was showing the deadlock-like symptoms.
[debug.tar.gz](https://github.com/prometheus/prometheus/files/2605835/debug.tar.gz)

[2018-11-22 05:39] deep7710 opened #4893 "how to configure data compaction in prometheus server. i want to compact per second data to 1 min after 1 month then to 1h after 3 months and so on"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	inser

[2018-11-22 08:31] simonpasquier commented on #4893
Downsampling isn't currently supported by Prometheus. You might want to look at [Thanos](https://github.com/improbable-eng/thanos#features) that already supports it.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-11-22 08:31] #4893 closed

[2018-11-22 08:51] #4838 closed

[2018-11-22 09:09] dswarbrick commented on #4842
A couple more details about the aforementioned instance: despite several attempts, I was not able to get it to shut down cleanly. Every time I attempted this, it would hang during the shutdown. It appeared that it was simply not going to do a WAL checkpoint, and in the end I just left it running for several hours. When I checked back later, it has indeed performed a checkpoint, but they are not oc

[2018-11-22 09:54] Sebubu commented on #1673
Isn't it just possible to implement an additional function like `zero_increase()` which starts at zero unlike `increase()`?

Then the user can decide what behavior he likes to have.

[2018-11-22 10:18] deep7710 commented on #4893
1)is there any setup or configuration guide available for thanos?
2)how stable is thanos?

[2018-11-22 11:35] dswarbrick commented on #4842
Logs from aforementioned hanging instance:
[txl-prom1.log.gz](https://github.com/prometheus/prometheus/files/2607852/txl-prom1.log.gz)

[2018-11-22 11:55] marioanton opened #4896 "TSDB error restarting prometheus"
## Bug Report
**What did you do?**
Just restarted the service.

**What did you expect to see?**
No errors restarting the service
**What did you see instead? Under which circumstances?**
Check logs.
**Environment**

* System information:

Linux 3.10.0-862.11.6.el7.x86_64 x86_64
* Prometheus version:

/usr/local/bin/prometheus --version
prometheus, version 2.4.3 (branch: HEAD, revision: 167a4b4e73a8

[2018-11-22 11:57] marioanton commented on #4896
- We've got a cpl of nodes with the same config and the other one is no having that issue. Same OS,arch etc...
- We've got a massive difference of disk usage between one and the other. (around 100G)

[2018-11-22 13:04] mohammedali-kadri commented on #2088
i am facing same issue,, my prometheus is outside of k8s cluster..
[code]

[2018-11-22 14:33] AndorCS commented on #4776
Guys, this change brokes deployment which was works for years:
[code]
and
[code]

I have this in my deployment manifest:
[code]

[2018-11-22 15:06] simonpasquier commented on #4853
I've sent https://github.com/prometheus/prometheus/pull/4898 that will at least sort targets by job then instance labels.

[2018-11-22 17:14] deep7710 opened #4899 "I am trying to set up Prometheus for monitoring. How can I scale Prometheus to handle 1000 machines and maintain data for 1 year. Also i want to setup HA for my prometheus."
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	inser

[2018-11-22 17:33] dswarbrick commented on #4842
I will most likely have to defer to others who know the tsdb code much better, but I have so far traced the bug as far as the pendingReaders waitgroup in [block.go](https://github.com/prometheus/tsdb/blob/master/block.go):

[code]

I have see goroutines hang there indefinitely. It seems to be more likely to occur at shutdown, possibly due to blocks being closed whilst reads are still pending. It c

[2018-11-23 08:47] SuperQ commented on #4776
@AndorCS You will have to update your configuration.

[2018-11-23 08:49] AndorCS commented on #4776
@SuperQ sure I can do it, but I really don't see any real reason for breaking what works for years.

[2018-11-23 08:53] SuperQ commented on #4776
This was done to make deployment easier for everyone. You don't have to copy-and-paste all flags to add one additional flag change.

[2018-11-23 09:03] sw-samuraj commented on #4322
I've posted a question to the developer mailing list: [Is it a service discovery via file_sd efficient enough to handle hundreds of instances](https://groups.google.com/forum/#!topic/prometheus-developers/EbLFqoXIjJg).

[2018-11-23 09:06] simonpasquier commented on #4899
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2018-11-23 09:06] #4899 closed

[2018-11-23 09:21] simonpasquier opened #4900 "Prometheus should fail if Azure authentication parameters are missing"
Follow up of #4590

Prometheus starts with the following configuration snippet but the Azure SD mechanism will fail to run (log: `"Unable to refresh during Azure discovery" err="could not create Azure client: parameter 'clientID' cannot be empty"`). It would be better for Prometheus to fail hard.

[code]

[2018-11-23 09:30] AndorCS commented on #4776
In this case, it's better for me to override `entrypoint` in case you will break something else in the future releases.

I'm not against this change, but I don't like you kinda breaking what works for a long time even it was not the best way to run the application.

[2018-11-23 11:09] marioanton opened #4901 "Renaming label ends up deleting all labels with the replacement label target"
[code]

[2018-11-23 11:10] marioanton commented on #4896
- Sorted by moving data files for last day to anohter folder.
- INcreased open files for prometheus.

[2018-11-23 11:10] #4896 closed

[2018-11-23 14:07] simonpasquier opened #4902 "Prometheus crashes when service discovery configuration is nil/null"
Prometheus panics with the following configuration snippets:

[code]

[code]

Logs:

[code]

[2018-11-23 14:19] simonpasquier commented on #4901
Not sure I understand what your problem is. Can you be more concrete?

[2018-11-24 14:04] supernan1994 commented on #4900
I'm working on it

[2018-11-25 18:26] sedan07 opened #4911 "Custom Collector with timestamp producing exposition prometheus cannot parse"
I have an external system which doesn't directly expose metrics in prometheus format. To get these metrics into prometheus I'm attempting to write a custom collector in Python which scrapes the external system and publishes them in prometheus format. However the metrics from the external system are delayed by 30 minutes. Looking at the source code for the `GaugeMetricFamily` class it's possible to

[2018-11-26 04:56] lxkaka commented on #4603
same issue with version 2.5.0

[2018-11-26 06:41] krasi-georgiev commented on #4603
@lxkaka you need to open a new issue with some details , error message and how to replicate.
Thanks.

[2018-11-26 11:50] gjcarneiro commented on #2204
I have the same problem, I need to join `kube_pod_labels`, which has a `pod` label containing the pod name, with the cAdvisor metrics such as `container_cpu_usage_seconds_total`, which has a `pod_name` label, same value but different label name.

[2018-11-26 12:39] #4855 closed

[2018-11-26 13:05] #4911 closed

[2018-11-26 13:10] lxkaka commented on #4603
@krasi-georgiev ok, for now I delete WAL directory to resolve this issue

[2018-11-26 15:29] johnskopis opened #4914 "Buggy Discovery behavior"
Sorry for the terrible bug report. I don't have more time to spend on this and it's not incredibly critical.

1. Seems the Discovery instance (at least for marathon) does not close response so underlying transport leaks sockets. This was observed on a server trying to scrape an endpoint returning 5xx errors. After some period of time you can observe many sockets in CLOSE_WAIT state

2. After remov

[2018-11-26 15:39] simonpasquier commented on #4914
Which version of Prometheus is it?

[2018-11-26 15:45] xjewer commented on #4914
prometheus 2.4.3, but it's actual in master

https://github.com/prometheus/prometheus/blob/master/discovery/marathon/marathon.go#L352

[2018-11-26 15:47] simonpasquier commented on #4914
Yep I see the bug now.

[2018-11-26 16:05] nfrush opened #4917 "custom labels and up timeseries"
## Bug Report
**What did you do?**
Added a metric_relabel_config to take values out of my instance name corresponding to the relative location and though it into a "rack" and "server" tag. When I queries the up timeseries, there is no such label on the series (on any sampling series provided by Prometheus). Not sure if this is intended behavior.  Note ona ny other collected metrics, these labels a

[2018-11-26 16:36] simonpasquier commented on #4917
Please share your configuration.

[2018-11-26 17:10] nfrush commented on #4917
@simonpasquier That's not exactly possible. I can provide you a configuration that is "like" what I'm using in the codebase.

[2018-11-26 22:56] dbambro opened #4919 "Prometheus/Premethous Alertmanager 4th Party Vulnerabilities"
<!--

   For Prometheus 2.5.0, there are vulnerabilities associated with the 4P libraries (bootstrap, moment, mustache).  Can anyone tell me whether these have been addressed?

bootstrap 3.3.1: 3 CVEs, CVE-2018-14042, CVE-2018-14041, CVE-2018-14040
moment  2.16.0: 1 CVE, CVE-2017-18214
mustache.js; 1 CVE, CVE 2015-8862

bootstrap is being addressed.  I did not find any reference to moment or musta

[2018-11-26 23:06] tariq1890 commented on #4566
@krasi-georgiev I am interested in taking this up. Did you happen to have any other useful dashboards in mind?

[2018-11-26 23:14] krasi-georgiev commented on #4566
we haven't been using it long enough to decide what other dashboards we would need.

One dashboard that is currently broken and it would be useful to have is the  `Disk Space Used Basic`

I would advise to ping @sipian 	on the prometheus-dev channel for some more info on what needs doing there.

[2018-11-27 05:48] sipian commented on #4566
@tariq1890
This is the issue https://github.com/prometheus/prombench/issues/159 being referred to.
Currently the `Disk I/O Utilisation`, `Disk Space Used Basic`, `Filesystem Fullness` [graphs](http://prombench.prometheus.io/grafana/d/7gmLoNDmz/prombench?orgId=1&from=1543126229657&to=1543137359149)
are not showing the metrics of the SSD.
The relevant queries need to be updated in [grafana_dashboard

[2018-11-27 06:56] tariq1890 commented on #4566
@sipian Thanks for the info :). Will start looking into this

[2018-11-27 08:21] simonpasquier commented on #4917
@nfrush sure

[2018-11-27 10:09] krasi-georgiev commented on #4566
I am closing this one as it is too broad so will continue to track in https://github.com/prometheus/prombench/issues/159

[2018-11-27 10:09] #4566 closed

[2018-11-27 13:58] #4914 closed

[2018-11-27 14:56] dbambro commented on #4754
The following are bootstrap 3.3.1 XSS vulnerabilities:
CVE-2018-14042: In Bootstrap before 4.1.2, XSS is possible in the data-container property of tooltip.
CVE-2018-14041: In Bootstrap before 4.1.2, XSS is possible in the data-target property of scrollspy.
CVE-2108-14040: In Bootstrap before 4.1.2, XSS is possible in the collapse data-parent attribute.
The bootstrap version needs to be upgraded t

[2018-11-27 21:37] weeco opened #4923 "Debugging cause of high CPU usage queries"
I am reposting my issue of debugging high cpu usage queries here, since I haven't got any responses/ideas on stackoverflow, nor from colleagues who also run prometheus clusters. I want to figure out how I could log prometheus queries which cause high cpu usage.

The use case and more details are given in this stackoverflow post: https://stackoverflow.com/questions/53432660/figuring-out-high-cpu-us

[2018-11-28 06:44] krasi-georgiev commented on #4736
hi @smelchior 	I can now start looking into this. Can you ping me on the prometheus-dev channel to see if you can help me replicate this.

[2018-11-28 08:41] pdambrauskas commented on #1673
I agree. We cannot have alerts configured, based on `increase()` function result, since we lose big chunk of data.
It makes Prometheus not an option for us :(

Wouldn't that be possible to have some other method for that purpose `increase_with_default(default_value, ...)` or similar, to fill in missing gaps with default value?

by providing some `increase` alternative, we would leave this responsi

[2018-11-28 09:06] krasi-georgiev commented on #4115
seems stale, feel free to reopen if you think we should revisit.

[2018-11-28 09:06] #4115 closed

[2018-11-28 09:21] fchiorascu opened #4925 "[Prometheus] Configure --web.external-url --web.route-prefix= and having a problem: Error loading available metrics!"
## Proposal
**Use case. Why is this important?**
Because is something very used and there is a need of having secure under nginx.

## Bug Report
Tested all possible options from internet, the only that not gives a 404 is the below one till now.

**What did you expect to see?**
I'd expect to have the web interface GUI for prometheus and to be able to see the metrics, right now i have an message: Er

[2018-11-28 10:11] foscoj commented on #2193
Thanks, still working for prometheus via nginx!

[2018-11-28 12:20] efahale commented on #4827
Hi,
would it be ok if I make a pull request for adding the possibilty to set server_name through relabel config ?

[2018-11-28 12:37] simonpasquier commented on #4925
@lucperkins has done a tremendous job at documenting this part and there are even ready-to-go [examples](https://github.com/prometheus-community/prometheus-playground/tree/master/nginx). In your case, I suspect that `--web.route-prefix` should be `/` instead of `/prometheus`.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/

[2018-11-28 12:37] #4925 closed

[2018-11-28 12:40] daenney commented on #4925
You shouldn't use `--web.route-prefix` if `--web.external-url` already includes a path:

[code]

So either use a `--web.external-url` without `/prometheus` or drop the `--web.router-prefix`. Using both results in URLs like `/prometheus/prometheus` and you'll need to adapt your proxy config to account for that.

[2018-11-28 12:46] fchiorascu commented on #4925
Ok, thank you, i'll make a try.

[2018-11-28 13:31] krasi-georgiev commented on #4842
fixed in https://github.com/prometheus/prometheus/pull/4922

@dswarbrick, @AndorCS 	thanks for the team work!

[2018-11-28 13:31] #4842 closed

[2018-11-28 13:42] krasi-georgiev commented on #4518
when I fixed this the changes didn't decrease

[2018-11-28 13:42] #4518 closed

[2018-11-28 13:49] krasi-georgiev commented on #3416
the last dev summit it was decided to try open api for the alertmanager and it all good will consider it for Prometheus as well.

[2018-11-28 13:49] #3416 closed

[2018-11-29 07:11] fchiorascu commented on #4925
Doesn't make the things to work, still the same error and the I think I miss something.
What I need too correct here in **prometheus.yml**?

Prometheus.yml:

$ cat /opt/prometheus/prometheus.yml
global:
  scrape_interval:     15s
  scrape_timeout:      10s
  evaluation_interval: 15s

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - localhost:9093

rule_files:
  - all.rules

sc

[2018-11-29 07:57] petarkozic commented on #4925
This works for me. I have HA setup with two alertmanager also behind Nginx with acme Let’s encrypt

[code]

Nginx:

[code]

And ywhen access, you access with:

https://example.com/prometheus

[2018-11-29 08:56] fchiorascu commented on #4925
Not working for me, Thank you.
$ curl http://localhost:9090/
<a href="/&#34;/&#34;">Found</a>.

[2018-11-29 09:01] petarkozic commented on #4925
You don't have anything on
`http://localhost:9090/ `
if you setup web-url as I sent you.

Web external is:
`--web.external-url=https://localhost:9090/prometheus/`

[2018-11-29 09:08] fchiorascu commented on #4925
**Prometheus:**
$ cat /usr/lib/systemd/system/prometheus.service
[Unit]
Description=Prometheus Server
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/opt/prometheus/prometheus --config.file /opt/prometheus/prometheus.yml --storage.tsdb.path=/data/prometheus --web.console.templates=/opt/prometheus/consoles --web.console.libr

[2018-11-29 09:08] fchiorascu commented on #4925
What i need to change in prometheus.yml?

[2018-11-29 09:09] simonpasquier commented on #4925
Nothing has to be changed in prometheus.yml. Try with `--web.route-prefix=/` (unquoted).

[2018-11-29 09:13] fchiorascu commented on #4925
Yes it seems that behavior is strange changed the --web.route-prefix=/ (unquoted):

[2018-11-29 09:15] fchiorascu commented on #4925
But still the same thing, this was the reason for asking about prometheus.yml:

![image](https://user-images.githubusercontent.com/18328353/49211352-0e13fd80-f3c8-11e8-8f2a-0f40d6b18c3b.png)

[2018-11-29 09:20] fchiorascu commented on #4925
I've tried all the proposed configurations one by one till now...
Nothing is working when is about doing the query in GUI.

[2018-11-29 09:39] juliusv commented on #4860
Weird.

@steven-aerts Do you know if there was anything special happening around the timestamp where the rule and normal expression evaluation started diverging? Like a Prometheus version upgrade?

[2018-11-29 09:43] fchiorascu commented on #4925
Do has someone the best configuration and simple that must work for prometheus.service and nginx?

[2018-11-29 10:03] steven-aerts commented on #4860
@juliusv 2.4.3 was already running for 3 days when we saw this issue.

After four days the issue disappeared again, and the diff became again 0:
![image](https://user-images.githubusercontent.com/1381633/49213827-72818d80-f3c5-11e8-88f1-3ae08967a5cf.png)

As this is our only recording rule I cannot compare the behaviour of other rules at that moment in time.

I do not think it is related to server

[2018-11-29 10:10] steven-aerts commented on #4860
@juliusv I am now seeing that the diff has shifted over time.  As in the graph I posted 10 days ago, the diff starts at 2018-11-15 06-18-54 UTC.
While when I look now on the same servers, the diff has shifted three days to: 2018-11-12 06-51-50 UTC.

That moment is exactly the moment when we upgraded our servers.  (verified by looking at `prometheus_build_info`).

So you are probably right with you

[2018-11-29 10:17] brian-brazil commented on #4860
The original issue has a sum before rate, so that's likely it.

For the second issue, what does the raw data say?

[2018-11-29 10:50] fchiorascu commented on #4925
I have changed the /data directory 2 days ago as path from /data2 stopped prometheus and moved. Could be this a reason?

[2018-11-29 11:16] steven-aerts commented on #4860
Looking at the raw data for the recording rule I, I get the following when I query `beagle_register:consumer_in_sync_duration:max_week[1h] offset 409h`:
[code]

I looked at the raw data for the underlying series by querying `beagle_register_consumer_in_sync_duration_seconds{type="effective"}[1h] offset 409h`.

I see at the time the recording rule breaks, two new series start publishing data (some

[2018-11-29 13:00] intelfx commented on #3746
What good do they do?

If those "constraints" come into a disagreement with real-world usecases, you'd think it's time to reconsider the "constraints".

[2018-11-29 13:30] fchiorascu commented on #2193
For me this is not working at all.

[2018-11-29 13:31] fchiorascu commented on #2193
https://github.com/prometheus/prometheus/issues/4925

[2018-11-29 13:53] fchiorascu opened #4930 "[Prometheus] Kindly could you detail better: --web.external-url --web.route-prefix nginx"
- Proposal
Use case. Why is this important?
It's a good practice to have something well defined, I'we noticed around internet multiple configurations ~ 15 different ones, maybe will be best to detail how is recommended.

Because is confusing and I think there is a bug in new version of prometheus 2.5.0.
Or is something related to migration, I've moved the data and put it again in the new partition

[2018-11-29 15:48] #4900 closed

[2018-11-29 19:32] kminehart commented on #4860
@brian-brazil

Can you elaborate on this?

[2018-11-29 19:38] tsaarni commented on #4827
Using IP address as subject for a certificate is problematic in Kubernetes since pod IPs are ephemeral.  Consider an example:

1. Pod A is created and it gets assigned address 10.1.0.24. We issue certificate with SAN IP:10.1.0.24
2. Container in pod A exits and pod is recreated with new IP address 10.1.0.25. New certificate is issued with SAN IP:10.1.0.25.
3. Pod B is created and it could get recy

[2018-11-29 19:53] svend opened #4933 "Export value of sample_limit"
## Proposal

This is a feature request.

Export value of `sample_limit` so that alerts can be set for scrapes that are approaching the limit without hard-coding the limit in the alert.

I checked the exported metrics on Prometheus 2.3.2 and didn't see this currently exported.

[2018-11-29 20:41] brian-brazil commented on #4933
This would be a new additional sample for every single target, which is not something to add lightly from a resource usage standpoint. It's expected that you'd know the values you're using, and not have many of them, so this could be handled fairly sanely via configuration management.

[2018-11-29 21:00] steven-aerts commented on #4860
@kminehart I think he refers to https://www.robustperception.io/rate-then-sum-never-sum-then-rate

[2018-11-29 21:07] svend commented on #4933
That's a good point. I had forgotten that the limit was set per scape config, not globally.

[2018-11-29 22:09] krasi-georgiev commented on #4845
@theRealAJR still facing any issues after switching?

[2018-11-29 22:10] krasi-georgiev commented on #4736
ping @smelchior

[2018-11-29 22:34] kminehart commented on #4860
oh that makes sense, but I don't think that applies in my case.

In my example, my recording rule is recorded as:

[code]

and records the value of,

[code]

[2018-11-30 03:53] wjwinner opened #4934 "Feature request: Filter queries on metric value in a time interval"
Starting using Prometheus I'm looking for a way to filter some of my queries on the metric value  in a time interval.

for example:

http_duration==200[5m]

Error executing query: parse error at char 24: range specification must be preceded by a metric selector, but follows a *promql.NumberLiteral instead

[2018-11-30 06:58] gouthamve opened #4935 "Flake in TestHandlerQueueing"
[code]

Observed here: https://travis-ci.org/prometheus/prometheus/builds/461645082

[2018-11-30 08:35] theRealAJR commented on #4845
no - but I need to run it for a little longer to be sure.
I had one instance running with NFS V3 and one with NFS V4 and the V4 instance had the problem again this week, but the V3 instance did not. So switched the all instances to V3. Now I have to let it run for two weeks or so, to be sure it's working with NFS V3.

[2018-11-30 09:19] craph opened #4936 "Issue "divide by zero" on Prometheus 1.x during migration to Prometheus 2.x after file system full"
Hello,

I post this issue because I have a major issue with Prometheus 1.x after a file system full.

I am using GitLab-ce docker image in production and on monday morning we had a file system full and the GitLab instance including Prometheus inside break down.

After adding some space  I tried to do the migration to Prometheus 2.x.

I have open an issue here : https://gitlab.com/gitlab-org/gitlab

[2018-11-30 09:32] #4541 closed

[2018-11-30 10:12] simonpasquier commented on #4845
Closing for now. Note that using NFS for storing Prometheus data is inherently buggy.

[2018-11-30 10:12] #4845 closed

[2018-11-30 11:08] simonpasquier commented on #4934
I presume that you want to filter `http_series` series for . The expression should be something like `http_duration{code="200"}`. See https://prometheus.io/docs/prometheus/latest/querying/basics/

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2018-11-30 11:08] #4934 closed

[2018-11-30 11:37] #4705 closed

[2018-11-30 12:35] smelchior commented on #4736
Sorry i was busy the last days. I am not sure if i can help you in this regard as i have no way to really reproduce this. It just happens in our env from time to time. We now have been without an issue for over 2 weeks, but i guess it might happen again anytime :-(

[2018-11-30 13:07] krasi-georgiev commented on #4736
@smelchior 	thanks for the update. Would you mind to still ping me on irc as I might ask some additional detail and clues to try and replicate it myself.

The profiles show that it locks when writing to the WAL file so the first logical question is what is the storage type used for the WAL files.

[2018-11-30 13:28] zstyblik opened #4937 "Scrape target returns Empty body/Content-Lenght: 0, but no target error is raised"
## Proposal

Prometheus should raise/show error for targets which return either empty body or `Content-Lenght: 0`. Such condition doesn't seem like a valid state to me. Also, it'd help to identify targets which don't produce metrics for one reason or another(I guess counter to this is "add alert rule which is going to check whether metrics X is present").

I remember I had to deal with validation

[2018-11-30 13:33] brian-brazil commented on #4937
An empty result is valid. OpenMetrics handles this. Dupe of #1169

[2018-11-30 13:33] #4937 closed

[2018-11-30 13:37] zstyblik commented on #4937
@brian-brazil sorry for the noise. I just couldn't find any issue that would match this description. Thanks.

[2018-11-30 13:42] brian-brazil commented on #4937
No problem.

[2018-11-30 14:24] #4853 closed

[2018-11-30 15:59] simonpasquier commented on #4936
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2018-11-30 15:59] #4936 closed

[2018-11-30 16:59] #4812 closed

[2018-12-01 06:49] Hacky-DH opened #4938 "Prometheus hangs and generates too much ps processes"
The Prometheus main process hangs
[code]
kill -9 not work!!!
and it generates many ps processes, on my host has 5912 ps processes, the process stat is D, and also can't kill by kill -9
[code]
this cause high load

how to fix this? and is there a bug in Prometheus ?

[2018-12-01 08:09] hoffie commented on #4938
Is this system still hanging? Can you please provide some more context like distribution, kernel version, Prometheus version, `dmesg`? Can you reproduce this issue? If you have kernel crashdumps configured, it may help to generate one by deliberately crashing the system so that someone (e.g. your OS vendor) can analyze this (for this step, maybe wait until one of the maintainers has commented; kee

[2018-12-01 14:51] dernasherbrezon opened #4939 "invalid timeseries aggregation for range_query"
## Bug Report

When I execute range_query I'm getting 1millisecond mismatch in the response.

[code]

Start is 1543578564.705. Values in the result are xxxx.704. This makes impossible to generate gaps in the sparse data.

[code]

I guess double is incorrectly rounded somewhere inside.

* System information:

	Darwin 18.2.0 x86_64

* Prometheus version:

	prometheus, version 2.5.0 (branch: HEAD, re

[2018-12-03 02:38] juliusv commented on #4939
In the API code we do:

https://github.com/prometheus/prometheus/blob/8b91d39c43f09776dcadf8bbfa28f4e58319c829/web/api/v1/api.go#L1150-L1159

This takes the string `1543578564.705` and makes the `time.Time` `2018-11-30 11:49:24.704999923 +0000 UTC` out of it. Then later, in the query layer, we convert that `time.Time` into an `int64` TSDB timestamp by simply cutting off any sub-milliseconds digits

[2018-12-03 02:40] juliusv commented on #4939
Minimal reproduction case: https://play.golang.org/p/rhOD8UUdkwY

[2018-12-03 02:58] Hacky-DH commented on #4938
Thanks for your reply.
[code]
The system halt, and not boot so far.  dmesg has't any information from Prometheus. And there is no crash messages.

we suspect that Prometheus generates many ps processes because all the ps processes open a file fd=6
6 -> /proc/170606/cmdline ,  170606 is Prometheus's pid.

The other information is that Prometheus use a storage volume in k8s.  Prometheus probably stu

[2018-12-03 03:40] juliusv commented on #4902
The same happens for an empty `scrape_config` section and probably other sections as well.

[2018-12-03 05:08] juliusv commented on #4902
Heads-up: I'm fixing all the slice-of-pointers config `nil` pointer crashes in one go, so this will be covered by that.

[2018-12-03 05:08] juliusv commented on #4889
Heads-up: I'm fixing all the slice-of-pointers config `nil` pointer crashes in one go, so this will be covered by that.

[2018-12-03 05:31] gouthamve commented on #4938
Huh, I would wonder if kubernetes could be spawning those. `/proc/<pid>/cmdline` has the path to the binary of the process which AFAICS Prometheus never accesses. I'd tend to agree with @hoffie that this is unlikely to be a problem caused by Prometheus itself.

[2018-12-03 06:50] gouthamve commented on #4874
Hi, for the values you posted above:
[code]
If `sum_over_time(up[1m])` aligns with any of the timestamps, i.e, is issued at `1542400209.131`, you will have the query return `2`. Any other timestamp even on millisecond off would give `1`. So you can see why Prometheus always returns `1` because you need to be incredibly lucky to get `2`.

Having said that, Prometheus can return `2` and your query i