[2021-02-23 08:44] asaf1602 commented on #8533
Hi,
Below is content of the data & data/wal directories.
The prometheus scarping data from the following sources:
Node exporters
JMX exporters
PG exporters
Airflow

And federate metrics from K8S

Asaf

-bash-4.2$ cd /spotdatafiles6/TC_MON_17_P8S
-bash-4.2$ ll
total 184
drwxr-xr-x 3 prometheus prometheus  1024 Feb  5 23:07 01EXSZZZN9TPCC6K1XTCMER6VS
drwxr-xr-x 3 prometheus prometheus  1024 Feb  8 0

[2021-02-23 08:45] roidelapluie commented on #8530
What filesystem are you using? Can you paste us the logs of the Prometheus server start?

[2021-02-23 08:52] asaf1602 commented on #8533
More information:
CPU:
$ cat /proc/cpuinfo | grep processor | wc -l
4
$
Server memory:
$ vmstat -s
     65789484 K total memory
     14795236 K used memory
     11922472 K active memory
      2416136 K inactive memory
     50004460 K free memory
          616 K buffer memory
       989172 K swap cache
     12287992 K total swap
      9272772 K used swap
      3015220 K free swap
     43868783 non-

[2021-02-23 08:54] codesome commented on #8403
The files are preallocated in Windows but the file might not be full. So all 0 header marks the end of the file.

[2021-02-23 08:56] roidelapluie commented on #8403
This is not the same files. Those specific files are also preallocated on linux.

[2021-02-23 08:58] roidelapluie commented on #8533
Your Prometheus server seems fine, it just looks like you will need to provide it more ram. Can you share screenshots of the Prometheus benchmark dashboard? https://grafana.com/grafana/dashboards/12054

[2021-02-23 09:45] bwplotka commented on #8403
Ack, I can take a look

[2021-02-23 10:09] asaf1602 commented on #8533
Hi,
10x for the quick response
We are running in the same server also Grafana & Elasticsearch
Before upgrade the prometheus version (old version was v2.21) we work with 32GB RAM
After 1st failed we increate the memory to 64GB and we still failed from time to time
I found similar issue in GitHub (https://github.com/prometheus/prometheus/issues/8310)
Do you think that upgrade to higher version (I se

[2021-02-23 10:44] gouthamve opened #8534 "[tsdb] Support ingesting data out of order"
## Proposal

Prometheus now supports remote-write and I can see people using Prometheus for some push based use-cases. I am not yet sure we want to make Prometheus a full push based system. Having said that, there are other downstream projects like Thanos and Cortex which use TSDB and want to support out of order ingest for various use-cases.

We are working on adding more protocols in front of Co

[2021-02-23 10:53] gouthamve opened #8535 "[tsdb] Ingest out of order samples and samples from a few hours ago"
## Proposal

Prometheus now accepts remote write data. But it can't ingest data more than an hour old reliably. This means if there is an outage or network partition and the downstream Prometheus has issues with pushing for more than an hour, it is likely that there will be data loss after the issues are resolved. Cortex and Thanos, which consume TSDB have the same limitation.

We should solve thi

[2021-02-23 12:34] bwplotka commented on #8518
Yea I think this is broken on Kubernete's side, so let's make sure we are tracking the progress there.

### Some thoughts:

1. Let's reuse Thanos/Cortex code (or actually port and import Thanos/Cortex one from Prom).
2. Let's not modify meta.json. It's a very tricky topic that can go sideways easily. We don't need persistence for this.

[2021-02-23 12:59] pracucci commented on #8518
Yesterday we tried to switch a Cortex cluster back to `GODEBUG=madvdontneed=1` and, from preliminary results, look like the workingset memory issue has been solved. Go 1.16 may solve the workingset memory issue which originated this issue, but doesn't mean lazy loading blocks would be a bad idea (eg. would reduce the number of memory map areas, which has a per-process limit on Linux).

[2021-02-23 14:58] bwplotka commented on #8518
Nice!

Cool, yes, so in order to make Prometheus bit more scalable, such improvement would be nice - but not high priority though.

[2021-02-23 15:02] bwplotka commented on #8535
I love this trade-off: It's enough for our use cases.

I think there is also an opportunity to take it even further and periodically create new blocks if those are before WAL time completely. 🤔 It does not make sense to tie this to the WAL cycle in that sense.

[2021-02-23 18:10] bwplotka commented on #1381
It would be nice to revisit this 🤗

There are big wins if we have something like this: Prioritizing, Aggregations, satisfying data for alert only and discard etc

cc @csmarchbanks wonder if it's time resurrect your proposal (:

[2021-02-23 18:20] csmarchbanks commented on #1381
If it doesn't get discussed at the upcoming dev summit, perhaps let's get a few interested parties together to get it moving without a dev summit? It's been on the agenda with a fair number of votes for quite awhile now so I hope it gets discussed.

[2021-02-23 19:29] bwplotka commented on #8403
Fixed https://github.com/prometheus/prometheus/pull/8538

Rest of tsdb tests passed for me on Go1.6

[2021-02-23 19:37] roidelapluie commented on #8527
The switch has been done.

[2021-02-24 15:24] roidelapluie commented on #3650
I would love to have something relevant in /-/healthy.

Just do a commit to TSDB if there are len(scrape_configs/rules) > 0 ?

[2021-02-25 09:08] #8403 closed

[2021-02-25 15:20] UAnton opened #8541 "Can't clean database"
**What did you do?**

curl -X POST -g 'http://localhost:9090/api/v1/admin/tsdb/delete_series?match[]={__name__=~".+"}'
curl -X POST -g 'http://localhost:9090/api/v1/admin/tsdb/clean_tombstones'

**What did you expect to see?**

Clean database

**What did you see instead? Under which circumstances?**

Nothing happens

**Environment**

* System information:

	Linux 5.4.0-65-generic x86_64

* Prometh

[2021-02-25 16:26] beorn7 commented on #5721
The [dev summit on 2021-02-25](https://docs.google.com/document/d/11LC3wJcVk00l8w5P3oLQ-m3Y37iom6INAMEu2ZAGIIE/edit) expressed a consensus that "results of explicit user actions like --help and --version should go to STDOUT". We also agreed that we do not consider changing the output from stderr to stdout a sufficiently invasive change to require a major version bump.

In other words: This issue i

[2021-02-25 17:00] abangser commented on #8521
Thanks for the update. This is slightly confusing for me as I now need to pin releases but actually just want to follow along head. This will require more work to make sure I continue to pull in latest but of course is doable and automatable. Based on your response though it sounds like I should close this since it is working as intended?

[2021-02-25 17:05] roidelapluie commented on #8521
GO111MODULE=on go get github.com/prometheus/prometheus/cmd/promtool@master

will work too.

[2021-02-25 18:52] #5721 closed

[2021-02-25 21:13] roidelapluie opened #8543 "Load scrape configs from multiple files"
This issue is about providing the ability to split Prometheus scrape configs into multiple files.

Design doc: https://docs.google.com/document/d/1bSehbL_Rzx9_guVgISmara-Ft_FB57q_YxEZtwxE3C8/edit#heading=h.bupciudrwmna

Add a new parameter `scrape_config_files: [ - <filepath_glob> ... ]`.

The files in the scrape_config_files are read, and may contain one or multiple files. The filenames can conta

[2021-02-25 21:23] csmarchbanks commented on #1381
Good news!

There was consensus in today's [dev summit](https://docs.google.com/document/d/11LC3wJcVk00l8w5P3oLQ-m3Y37iom6INAMEu2ZAGIIE/edit#) that we would like to implement dynamic retention inside of the Prometheus server. The next step is to decide how we would like to implement this feature. Right now it looks like there are two proposals in the [document](https://docs.google.com/document/d/1

[2021-02-25 21:49] roidelapluie commented on #8541
Can you please provide more details? What does curl respond? Do you still see old metrics?

[2021-02-25 22:09] UAnton commented on #8541
Curl response is empty. All old metrics are present.

[2021-02-25 22:14] roidelapluie commented on #8541
curl response should not be empty. can you paste the output of the `curl -v` commands?

[2021-02-25 22:20] UAnton commented on #8541
[code]
Maybe the curl query is wrong?

[2021-02-25 22:24] roidelapluie commented on #8541
Do you still see metrics values? What makes you think the database is not empty?

[2021-02-25 22:29] UAnton commented on #8541
Because I see all metrics for the last 30 days

[2021-02-25 22:33] roidelapluie commented on #8541
Thanks, I can reproduce this.

[2021-02-25 22:38] roidelapluie commented on #8541
Workaround: curl -X POST -g 'http://localhost:9090/api/v1/admin/tsdb/delete_series?match[]={nonexistent=""}'

[2021-02-25 22:40] roidelapluie commented on #8541
I see 2 issues here:

1. Maybe it's a bug we should address
2. Maybe it is a safeguard we have, in which case we probably should return 400 to the caller.

[2021-02-25 22:41] UAnton commented on #8541
Metrics still present
[code]

[2021-02-25 22:42] roidelapluie commented on #8541
The {nonexistent=""} trick definitevely works in my test env..

[2021-02-25 22:43] UAnton commented on #8541
Works after a service restart. Thanks!

[2021-02-25 22:48] #8541 closed

[2021-02-26 06:14] Choogster1 commented on #8530
After running v2.25.0 I'm running into the same problem. It seems that prometheus is quitting for no particular reason.

prom/prometheus:v2.25.0                       "/bin/prometheus --c…"   3 seconds ago   Created
prom/prometheus:v2.25.0                       "/bin/prometheus --c…"   3 minutes ago   Exited (137) 4 seconds ago
prom/prometheus:v2.25.0                       "/bin/prometheus --c…"

[2021-02-26 06:50] roidelapluie commented on #8530
Thanks for the logs. It seems that at some point your wal got corrupted/checkpoints were not created.  Having 1000 segments in the wal is not normal. Do you have any clue about what happened?

The way forward is to delete (or move) your data/wal directory.

[2021-02-26 06:51] roidelapluie commented on #8530
Cc @codesome

[2021-02-26 06:54] Choogster1 commented on #8530
I have absolutely no idea what happened. The error even appeared once when I was watching the grafana screen, one minute the dashboard was fine, the next minute it was full of red error messages.

[2021-02-26 07:50] mark4z commented on #7539
Here is the go client for nacos

[2021-02-26 10:21] abangser commented on #8521
Ah fantastic. Thanks for that update. I definitely understand the risks of master and am happier dealing with those. Thank you for being so responsive!

[2021-02-26 10:21] #8521 closed

[2021-02-26 13:04] beorn7 commented on #6669
I think we should fix this better sooner than later. This continues to come up, and it [continues to be used as an argument why OpenMetrics has to ban negative observations](https://github.com/OpenObservability/OpenMetrics/issues/188).

I'm afraid the next thing that happens is that OpenMetrics will be used as an argument why we cannot change the behavior in Prometheus.

[2021-02-26 15:55] vsliouniaev commented on #8198
+1 This is a good idea. Ran into a badly behaved exporter that proved to be difficult to track down because it was only intermittently exhibiting this behavior.

[2021-02-26 16:55] #8503 closed

[2021-02-26 16:58] Harkishen-Singh commented on #7912
For those following this discussion, here is the [design doc](https://docs.google.com/document/d/1pC5GjMkSe4YHFqVMp0ZX9C1Iih8QLOnnBG-HguKzwrM/edit?usp=sharing) on solving this issue. Please feel free to comment on your suggestions/views/feedbacks.

[2021-02-26 22:04] psalaberria002 commented on #5222
As an ugly workaround we are running `sed -i.bak '/bearer_token_file/d' config.yaml` in CI. It works.

[2021-02-27 10:10] tomwilkie commented on #8307
This was implemented in #8424 and released in 2.25.0.

@valdemarpavesi this change is unrelated to HA setup, and you're still expect to run a pair of Prometheus.  @brancz I suggest we have a separate discussion about HA pair handling and deduplication - there are pros and cons to both approaches.

I'd like to close this ticket and not piggy back that discussion here, if that okay?

[2021-02-27 19:41] evtimmy commented on #8243
Same issue with running in minikube on Mac OS. It will be nice to fix this so that makes it easier to experiment with Prometheus stack developing in local clusters

[2021-02-27 23:25] dns2utf8 commented on #6188
For me there is another important reason pro config file:

The config file is already in the CI, but the arguments are not.

For now, that information is just in the running configuration because on my system is unscriptable ...

[2021-02-28 20:26] #8527 closed

[2021-03-01 08:52] slovdahl commented on #8243
Same issue experienced on Ubuntu 20.04 running Prometheus in Docker for a development environment that is suspended outside office hours. A restart of the container seems to have fixed it this time.

[code]

[code]

[2021-03-01 10:11] lonewolf3739 commented on #8543
@roidelapluie I would like to pick this up.

[2021-03-01 10:23] roidelapluie commented on #8543
Welcome! Right, I will assign it to you. If you seek help, please reach out to https://prometheus.io/community/ ; we have  multiple channels / mailing list, and also contributors office hours accross multiple timezones. Also happy to help here on github.

[2021-03-01 10:28] lorenzo-biava opened #8548 "React UI: Alerts page stuck loading (100% CPU usage)"
**What did you do?**

Open the Alerts page.

**What did you expect to see?**

The list of Alerts.

**What did you see instead? Under which circumstances?**

The page is stuck, showing the loading spinner, but never displaying any content.
At the same time it uses 100% CPU (tested with Chrome/Firefox/Edge).
No relevant logs are displayed in the browser's console, even though the data has been fetch

[2021-03-01 12:27] brancz commented on #8307
I agree there are pros and cons of either, I could even see us allowing either as they essentially just choose different trade-offs.

Agreed! Feel free to close.

[2021-03-01 12:28] #8307 closed

[2021-03-01 12:42] roidelapluie opened #8550 "react ui: gracefully handle restarts"
When we restart Prometheus, we have this during the WAL replay:

![unr](https://user-images.githubusercontent.com/291750/109498251-8419da00-7a93-11eb-8066-f43de737d1b3.png)

Previous UI was just showing '503 not available' message.

I think we could have something better, a nice "landing page" like what Jenkins has, which would refresh when Prometheus is ready:

<img width="404" alt="exportjenkins

[2021-03-01 12:43] roidelapluie commented on #8548
Thanks for your report.

cc  @juliusv

[2021-03-01 15:36] roidelapluie commented on #8499
We have looked at this during our bug scrub. I think we don't have the info with the current way the SD is written but I would encourage azure users to try this and see if we can get that information without extra RPC calls.

[2021-03-01 15:43] beorn7 commented on #8513
Last week's dev summit didn't get far enough through the agenda to cover this, but I expect it to be handled soon at one of the upcoming summits (happen monthly at the moment).

Relevant previous discussions:
https://groups.google.com/g/prometheus-developers/c/F1Vp0rLk3TQ/m/TyF2WxlkBgAJ
https://groups.google.com/g/prometheus-developers/c/DY88o6yOg28/m/Bzc7E0x9BgAJ

[2021-03-01 15:45] roidelapluie commented on #8514
We have looked at this during the bug scrub. Did you have any chance to upgrade?

Also, which filesystem are you using?
You can see that by the log line `fs_type=`, e.g. `level=info ts=2021-03-01T15:44:47.192Z caller=main.go:799 fs_type=EXT4_SUPER_MAGIC`.

[2021-03-01 15:50] roidelapluie commented on #8525
The intention is that the default regex catches the new lines, but because of the widespread use of relabeling, we would prefer to delay this until prometheus 3.x.

[2021-03-01 15:56] bboreham commented on #8418
Yes, it could be a server that hasn't been updated to send this info yet.

Yes, that can be caused by network delay on the return path.  If it is a long way in the past, perhaps more interesting, but I can't see it as worth adding complexity for.

Like if the retry-after is ten years into the future?  Yes, I think it would be worth capping it at the max block duration, which is when the WAL will g

[2021-03-01 15:59] beorn7 commented on #8525
And once this is fixed, we can allow the `regex` field on relabeling in mode `hashmod`.

[2021-03-01 16:04] roidelapluie commented on #8528
We have looked at that during our bug scrub and it seems that indeed we don't return any information about scrape pools, but we would accept a pull request that includes the list of scrape pools and includes empty scrape pools in the UI.
Adding a field in the API was not considered a breaking change in the past.

[2021-03-01 16:07] roidelapluie commented on #8530
Which kind of filesystem are you using? You can see that in the `fs_type` log line, e.g. `level=info ts=2021-03-01T16:06:30.639Z caller=main.go:799 fs_type=EXT4_SUPER_MAGIC`.
This is not a known bug with Prometheus 2.25 so far.

Can you please also provide the full logs, with the reason of the exit ? Is it killed by the OOM-Killer (you can see that by running `dmesg`)?

Thanks again!

[2021-03-01 16:10] roidelapluie commented on #8533
Did you by any chance monitor that prometheus server with another prometheus server , so we could still see the dashboard?

If you clean start and don't have the issue anymore, please close this issue until you have a way to reproduce or provide the dashboards.

[2021-03-01 18:06] beorn7 opened #8551 "Generally enable reading secrets from files"
For a bunch of secrets in the config file, we already allow to alternatively read it from a file, e.g. if there is a `password` field, there is also a `password_file` field. Only one of those may be used.

However, we do not offer this behavior consistently. Occasionally, we get feature requests to allow it for particular fields. This issue proposes to just consistently offer the feature for all s

[2021-03-01 18:07] beorn7 commented on #6140
Closing this as it is now superseded by #8551

[2021-03-01 18:07] #6140 closed

[2021-03-01 18:40] juliusv commented on #8550
Yep, definitely makes sense. I might get to this at some point, but happy to take contributions as well.

[2021-03-01 19:31] juliusv commented on #8548
Thanks for the report! I can totally reproduce this by generating an alerts file like this:

[code]

The problem at least in my case is the React performance in the inner-most loop (https://github.com/prometheus/prometheus/blob/646556a2632700f7fca42cec51d0100294d43c52/web/ui/react-app/src/pages/alerts/CollapsibleAlertPanel.tsx#L26-L108) where it renders the individual alert detail panels. This is

[2021-03-01 20:00] roidelapluie commented on #8550
The idea would be to use the /-/ready endpoint.

[2021-03-01 21:03] bwplotka commented on #8475
Cool, no worries.

Hm, let's maybe close this for now and bring this discussion back when we will work on importing Prometheus React UI directly on Thanos. Then it will be more important 🤗

[2021-03-01 21:03] #8475 closed

[2021-03-02 05:03] Choogster1 commented on #8530
I refreshed the deployment again yesterday and today grafana is giving a screenfull of errors again, and I noticed Prometheus has quit multiple times.  There is nothing in the log mentioning fs_type. Only OS type  host_details="(Linux 4.18.0-240.15.1.el8_3.x86_64 #1 SMP Wed Feb 3 03:12:15 EST 2021 x86_64 e7633e4dd973 (none))

The log only shows the following, there is no reason for the exit includ

[2021-03-02 05:48] roidelapluie commented on #8530
Do you have the looks of the previous run?

[2021-03-02 05:54] Choogster1 commented on #8530
They're the same as this. It ends on a maxSegment= line, no termination message

[2021-03-02 05:58] asaf1602 commented on #8533
Hi Julien,
No, I didn't but since I found similar issue in GitHub (#8310<https://github.com/prometheus/prometheus/issues/8310>) I decide to upgrade the prometheus version to v2.25.0. the Out of Memory issue repeat.
Mean will, I also install the dashboard you suggest and I didn't see any strange behavior

But I put the same dashboard also in another environment where Prometheus is still in v2.23. B

[2021-03-02 06:05] asaf1602 commented on #8533
Hi Julien,
No, I didn’t, but since I found similar issue in GitHub (#8310) I decide to upgrade the prometheus version to v2.25.0. the Out of Memory issue repeat.
Mean will, I also install the dashboard you suggest and I didn’t see any strange behavior

But I put the same dashboard also in another environment where Prometheus is still in v2.23.  attached are 2 files with resources panels from:
1. E

[2021-03-02 08:11] roidelapluie commented on #8530
Something prevents prometheus to checkpoints and it is unclear what. Maybe the logs of the first run after the cleanup would help.

[2021-03-02 09:14] Choogster1 commented on #8530
Ah. I found this after refresh in the log, which could have a bearing on it.

fs_type=NFS_SUPER_MAGIC msg="This filesystem is not supported and may lead to data corruption and data loss. Please carefully read https://prometheus.io/docs/prometheus/latest/storage/ to learn more about supported filesystems.

[2021-03-02 09:28] roidelapluie commented on #8530
Okay, as stated in the error message, we do not support NFS. The kind of errors you are seeing are common with NFS.

I'd recommend to use a local posix-compliant filesystem instead.

[2021-03-02 12:17] vvdvortsova opened #8554 "Issue found by Svace static analyzer"
Hello
This warning found with the Svace.

It may cause unforeseen problems.
https://github.com/prometheus/prometheus/blob/77e648534e2f716cc3cf090eadf009d4c37d0dbf/scrape/scrape.go#L508
Usage of variable l is found in goroutine while its value may be changed by one of outer loops before this goroutine's execution (race condition).
https://github.com/prometheus/prometheus/blob/77e648534e2f716cc3cf09

[2021-03-02 14:33] prymitive commented on #8548
When some elements re-renders react needs to re-render everything underneath it just to check if there are any DOM updates to apply, which often is expensive.
You could try to improve it with [React.memo()](https://reactjs.org/docs/react-api.html#reactmemo) and/or [useMemo](https://reactjs.org/docs/hooks-reference.html#usememo) if there are any expensive calls. It does help a lot if component can

[2021-03-02 15:39] beorn7 commented on #8551
@mem wants to work on this, at least on a few secrets, so assigning to him.

[2021-03-02 16:50] juliusv commented on #8548
@prymitive As far as I understand the issue here is really already the initial render (not re-rendering) taking so long that things just seem stuck.

[2021-03-02 18:19] nikobearrr opened #8557 "Running the basic "try prometheus" crashes"
**What did you do?**

I followed the guide on the prometheus github page to run and check out prometheus:

`$ docker run --name prometheus -d -p 127.0.0.1:9090:9090 prom/prometheus`

However it crashes and it does not start

**What did you expect to see?**

I expected prometheus to run

**What did you see instead? Under which circumstances?**

[code]

**Environment**

* System information:

[code]

[2021-03-02 18:29] hedeesaa commented on #6630
I have faced this problem too, How can we prevent it? is there any flag or something?
because after loading wal files, it frees memory. which means just for starting it needs this huge memory.

[2021-03-03 06:01] wangzhao765 opened #8558 "A bug which may cause series data points duplicate"
We found that series returned by API /api/v1/query may sometimes have duplicate data points.

After carefully reading the code, we think that https://github.com/prometheus/prometheus/blob/main/storage/merge.go#L469  should be the root cause.

In the function func (c *chainSampleIterator) Seek(t int64) bool, after poping the current point from the heap, the last timestamp don't refresh. So if the s

[2021-03-03 08:10] pstibrany opened #8559 "Clarification on `(*tsdb.DB).ChunkQuerier` and populated chunks."
Hello, I'm looking for clarification about `(*tsdb.DB).ChunkQuerier`. When iterating over series and chunks returned by `(*tsdb.DB).ChunkQuerier`, I'm using `chunks.Iterator`, which has following comment for its `At()` method:

[code]

(https://github.com/prometheus/prometheus/blob/77e648534e2f716cc3cf090eadf009d4c37d0dbf/tsdb/chunks/chunks.go#L75)

My question is if it is possible for returned ch

[2021-03-03 08:11] roidelapluie commented on #8559
I have moved the issue to prometheus.

cc @codesome @bwplotka

[2021-03-03 08:13] roidelapluie commented on #8530
Based on my last reply, I am going to close this issue.

If you have more questions about this, please reach the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users).

Thanks!!

[2021-03-03 08:13] #8530 closed

[2021-03-03 08:14] pstibrany commented on #8559
Oh, thanks :) I looked at AM PR before and opened this at wrong place. 🤦

[2021-03-03 19:14] xperimental commented on #8173
This might be useful for doing small demo deployments or for my small server at home. If no-one else is volunteering, I can take a stab at this, probably starting next weekend.

[2021-03-03 20:27] roidelapluie commented on #8557
hello @tomwilkie, as you also run darwin, could you have a look at this one? Thanks!

[2021-03-03 20:28] roidelapluie commented on #8558
cc @bwplotka can you have a look at this one?

[2021-03-03 21:11] roidelapluie commented on #8554
I don't think this is an issue in practice because that variable is local and we don't have other pull requests which could change it.

We could rewrite it as `go func(sl scrapeLoop) { sl.run(interval, timeout, nil)  }(l)` but i don't know if that brings any benefit.

[2021-03-04 11:11] codesome commented on #8559
When the querier is on > 1 blocks, I don't see an easy way to only have the `Ref` since the definition of the `Ref` only contains the chunk files and not block info (and cant?). I think it should be the populated chunk always. @pstibrany by any chance have you come across any implementation that returns `Ref`? I am happy to change the comments on this if not.

[2021-03-04 11:18] pstibrany commented on #8559
I haven't come across such implementation yet, but I suspect that I may eventually, given the comment :)

[2021-03-04 11:22] codesome commented on #8559
Considering the multiple block scenario, I would be happy to change the comment then :) WDYT @bwplotka?

[2021-03-04 15:15] vvdvortsova commented on #8554
By adding **l** as a parameter to the closure, **l** is evaluated at each iteration and placed on the stack for the goroutine, so each **uniqueLoops** element is available to the goroutine when it is eventually executed.

[code]
May I contribute to fix this issue with a pull request?

[2021-03-04 15:16] roidelapluie commented on #8554
yes

[2021-03-04 15:18] roidelapluie commented on #8554
Before we can put the function to the go routine stack, we must know l, so I am not sure that this is an actual bug ? we would not go to the next iteration of the loop before getting the function in the stack?

[2021-03-04 15:46] roidelapluie commented on #8554
https://play.golang.org/p/yz_ifHC-Hut -> does not seem to cause issues

[2021-03-04 15:59] vvdvortsova commented on #8554
The for loop might not do what you expect because their **l** variable is actually a single variable that takes on the value of each **uniqueLoops** element. Because the closures are all only bound to that one variable, there is a very good chance that when you run this code you will see the last element printed for every iteration instead of each value in sequence, because the goroutines will pro

[2021-03-04 16:48] roidelapluie commented on #8554
I have asked this question in golang-nuts and got a reply: https://groups.google.com/g/golang-nuts/c/2vZ0IBm3Q18

The provider answer, which I invite you to read, points at https://golang.org/ref/spec#Go_statements

As the function value is evaluated in the calling go routing, I expect this to just work as expected, and to be a false positive of your static analyzer.

[2021-03-04 17:57] beorn7 commented on #8554
I agree with @roidelapluie here. What your static analyzer should flag is something like this:

[code]

However, we never access `l` from the goroutine that is started here. On the contrary, we are retrieving the method to call from `l` and _then_ start it as a goroutine.

[2021-03-04 17:57] #8554 closed

[2021-03-04 18:25] vvdvortsova commented on #8554
You are right. I agree with you. I misunderstood. Sorry. It's FP. On your case we'll fix it.

[2021-03-04 18:50] pbasetty opened #8562 "Support additional formats for offset and time range"
Currently offset values can only be specified in single units (2h, 75m, 10s, etc). Would like to request support for multi unit values such as 1h15m, etc.

The same applies for time-range values, for example, would like support for increase(up[1h15m])

**Background**
When a user query is pre-processed using Prometheus query parsing library, these fields are parsed into "time.Duration" and printed

[2021-03-04 18:52] roidelapluie commented on #8562
This is supported as of Prometheus 2.21.

[2021-03-04 18:52] #8562 closed

[2021-03-05 06:57] codesome commented on #8318
This is likely an issue with queries on Head vs Head compaction that truncates the m-mapped files. See https://github.com/cortexproject/cortex/issues/3907#issuecomment-790746934 for more details.

This was an issue with blocks too before but now [we are keeping track of pending readers before closing the blocks](https://github.com/prometheus/prometheus/blob/266e5e6c6c314fd3bf14658516b222663c3b7080

[2021-03-05 09:32] fcddk commented on #8514
level=info ts=2021-03-05T08:31:38.866Z caller=main.go:684 fs_type=EXT4_SUPER_MAGIC

[2021-03-05 14:18] roidelapluie opened #8564 "Improve wording in rules page: never ago -> never"
In the web ui, when a rule has not been run, it is displaying "Never ago". It should display "Never".

![neverago](https://user-images.githubusercontent.com/291750/110127549-0ffa7180-7dc6-11eb-96ac-61b5ab798c7d.png)

[2021-03-05 15:42] ties opened #8565 "humanizeDuration for floats/parsing floats to ints in templates"
## Proposal
As a user, I would like to either:
  * `humanizeDuration` a float
  * have a template method for getting the integer value from a float string.

Either would allow me to implement what I want.

#### Use case
I am alerting when newly encountered objects have a time to live that is too short (e.g. `increase(metric_expiration_seconds_bucket{le="54611.0"}[15m] > 0`). When alerting for this

[2021-03-05 16:33] BogusDude99 commented on #6353
Any updates?

[2021-03-05 16:40] roidelapluie commented on #8565
Thank you! This has been proposed already.
I am closing this as a duplicate of  #8303.
Note that a pull request exists but would require more work (someone could pick this up again: #8339)

[2021-03-05 16:40] #8565 closed

[2021-03-05 16:48] ties commented on #8565
Oops. Thanks for cleaning up the duplicate (I did not find it somehow).

[2021-03-05 16:51] ties commented on #8303
I am alerting when newly encountered objects have a time to live that is too short (e.g. `increase(metric_expiration_seconds_bucket{le="54611.0"}[15m] > 0`). When alerting for this, it is useful that the alert contains a readable amount of time such as by `humanizeDuration`: 56411.0s is not readable, 15h10m is.

[2021-03-05 17:55] jaimegago commented on #7384
How about augmenting the `up` scrape metric with the HTTP response status code? It obviously isn't the full log but at least as an operator I'd get a little bit more insight into an error rate spike event straight out of the builtin scraping metrics.

For instance:
`up{job="foo", instance="bar", status="200"} 1`
`up{job="fiz", instance="bar", status="404"} 0`

[2021-03-06 05:57] fcddk opened #8567 "Remote read: The remote endpoint is down, causing the overall query to use timeout blocking"
**What did you do?**
   Remote read is configured for rules evaluation and queries.

  **What did you expect to see?**
    Once the remote enpoint is unavailable once, the endpoint will be marked as unavailable and ignored within a certain period of time
  **What did you see instead? Under which circumstances?**
   When a remote endpoint is unavailable, it will increase the time consumption for su

[2021-03-06 06:08] Harkishen-Singh commented on #8567
If `read_recent` is true, then ignoring even if storage is down might be wrong. However, if that's false, then Prometheus has a choice of local too.

[2021-03-06 16:29] mem commented on #8551
For prometheus in particular, these are the config entries specifying file paths to obtain secrets.

These are part of [TLSConfig](https://github.com/prometheus/common/blob/47ee79a16821e03c31ca741659d4f7919aed91c1/config/http_config.go#L436):

* CAFile, from github.com/prometheus/common/config/http_config.go
* CertFile, from github.com/prometheus/common/config/http_config.go
* KeyFile, from github

[2021-03-06 20:17] roidelapluie commented on #8551
￼ CAFile, from github.com/prometheus/common/config/http_config.go
￼ CertFile, from github.com/prometheus/common/config/http_config.go
￼ KeyFile, from github.com/prometheus/common/config/http_config.go

Are already files

￼ TLSCertPath
￼ TLSKeyPath
￼ ClientCAs

Are already files

[2021-03-06 21:09] roidelapluie commented on #8551
I think the main goal here is to be able to read secrets from external files, not to load certificates from primary file.

[2021-03-06 22:12] mem commented on #8551
The agreement in the linked discussion is to make this consistent, so those options which only offer the possibility of reading a file should have the inline form added.

I was actually looking for the options where the user can only specify inline secrets, and I haven't found any, but I have only looked at the mentioned packages.

[2021-03-06 22:16] roidelapluie commented on #8551
here are the secrets I think we can't read from files:

- azure sd's client secret
- consul token
- aws secret key
- openstack password
- openstak application_credential_secret

[2021-03-07 02:10] AdamSLevy opened #8568 "promtool test rules: nil pointer dereference on range w/o resolution"
**What did you do?**

Try to use `promtool test rules` on the following rules:

alerts.yaml
[code]

test.yaml
[code]

**What did you expect to see?**

[code]

**What did you see instead? Under which circumstances?**

[code]
Please note that only NoResolution has an error. If I explicitly set a resolution it goes away.
**Environment**

* System information:
[code]

* Prometheus version:

[code]

[2021-03-07 08:21] roidelapluie commented on #8568
Thanks! I have filled #8569 to address this.

[2021-03-07 17:03] mem commented on #8551
ah, thanks!

[2021-03-07 20:05] mem commented on #8551
Prometheus
----------------

- [ ] [Azure SD's client secret](https://github.com/prometheus/prometheus/blob/main/discovery/azure/azure.go#L79)
- [ ] [Consul SD's token](https://github.com/prometheus/prometheus/blob/main/discovery/consul/consul.go#L112)
- [ ] [Consul SD's password](https://github.com/prometheus/prometheus/blob/main/discovery/consul/consul.go#L117)
- [ ] [EC2 SD's secret key](https:

[2021-03-07 21:56] roidelapluie commented on #8567
I am not sure that it makes sense to mark remote reads as 'offline' or 'defunct', because you would want your prometheus to catch up as fast as possible when it comes back up. I think a better approach would be to lower your timeout.

[2021-03-08 02:02] AdamSLevy commented on #8568
Thanks!

[2021-03-08 02:47] fcddk commented on #8567
I think the mark is useful. It can be used to judge whether the endpoint is online and available when performing remote read to avoid an endpoint being unavailable and all queries will wait for timeout.

[2021-03-08 02:50] fcddk commented on #8567
I tried to add a mark to the read client, the effect is still significant, at least it will only affect one query within the expiration time.

[2021-03-08 02:51] fcddk commented on #8567
`// Client allows reading and writing from/to a remote HTTP endpoint.
type Client struct {
	remoteName string // Used to differentiate clients in metrics.
	url        *config_util.URL
	Client     *http.Client
	timeout    time.Duration
	able       bool       // able mark

	readQueries         prometheus.Gauge
	readQueriesTotal    *prometheus.CounterVec
	readQueriesDuration prometheus.Observer
	expi

[2021-03-08 08:49] fcddk commented on #8567
`// Client allows reading and writing from/to a remote HTTP endpoint.
type Client struct {
	remoteName string // Used to differentiate clients in metrics.
	url        *config_util.URL
	Client     *http.Client
	timeout    time.Duration
	able       bool       // able mark

	readQueries         prometheus.Gauge
	readQueriesTotal    *prometheus.CounterVec
	readQueriesDuration prometheus.Observer
	expi

[2021-03-08 08:53] fcddk commented on #8567
`
// Read reads from a remote endpoint.
func (c *Client) Read(ctx context.Context, query *prompb.Query) (*prompb.QueryResult, error) {
	if !c.able {
		if !time.Now().After(c.expire) {
			return nil, fmt.Errorf("endpoint[%s] is unavailable", c.url.String())
		}
	}
	oldAbleState := c.able
......
	start := time.Now()
	httpResp, err := c.Client.Do(httpReq)
	if err != nil {
		c.expire = time.Now().Add(

[2021-03-08 09:11] roidelapluie commented on #8567
I don't think that timeouts are significant to know if a remote read is available. It is very well possible that you reach a timeout if you ask for a query which is too expansive. It could also be that for some queries, the data is not available at the remote read (which often would be distributed systems).

Therefore, timeouts are not a good way to know if a remote read is available or not, and b

[2021-03-08 10:44] akamensky opened #8572 "Prometheus 2.25 does not start up (upgrade from 2.19)"
**What did you do?**

* Existing 2.19 prometheus system with a VERY large amount of metrics
* Upgrade to 2.25.0

**What did you expect to see?**

* Prometheus loads ALL WAL and starts up

**What did you see instead? Under which circumstances?**

* Prometheus loads WAL files to a certain point and then hangs doing nothing for hours. Last log entry is `WAL segment loaded segment=14381 maxSegment=156

[2021-03-08 10:47] akamensky commented on #8572
Noticed that it loads from beginning very fast, the more segments are loaded the slower it becomes. Not sure if it is related.

[2021-03-08 19:44] #8568 closed

[2021-03-09 12:35] Patryk803 opened #8576 "Prometheus on Ubuntu inside the vagrant err="Opening storage failed open DB in /var/lib/prometheus/: Locked by other process""
Hey,

I am getting the following error while trying to start the prometheus on ubuntu 18.04 running inside the Vagrant. Could you help?

[code]

[2021-03-09 14:01] clienthax opened #8577 "Builds for Apple Silicon"
## Proposal
**Use case. Why is this important?**
New platform now supported in go 1.16 for apple silicon (darwin/arm64)

[2021-03-09 14:05] anubhav21sharma commented on #8550
Would it make sense to also show the progress of WAL replay or mmap chunks replay in the UI while it's happening?

[2021-03-09 14:56] #8576 closed

[2021-03-09 15:44] iwctwbai opened #8578 "Using the HTTP query_range API, the start,end parameters are changed when passed to remote storage"
**What did you do?**
I use post to request /api/v1/query_range the start / end parameter passed to the remote storage in range will be changed

For the start parameter, the time becomes start-300 seconds

For the end parameter, it changes over time

I think the problem may have been before Prometheus was delivered to remote storage（/promql/engine.go，func (ng *Engine) execEvalStmt(ctx context.Conte

[2021-03-09 16:01] roidelapluie commented on #8578
Thank you for raising this issue.

This works as expected, the -300 seconds are the lookback delta. Prometheus will look for sample up to "loopback delta" in the past to look for the samples. Once that toopback delta is over, a metric is marked as "stale" and no longer taken into consideration for the current query.

[2021-03-09 16:47] xkilian commented on #966
Having a silence link on the Prometheus page is nice to have and makes it easier to silence new rules that are being tested. But this is by no means the actual answer to the business need to put devices in various "states" and be able to reflect them n dashboard, not just in AlertManager/Karma and notifications.

Alerts need to take into account this state, same as dashboards and finally alertMana

[2021-03-09 17:59] ehashman opened #8579 "Prometheus should have the ability to rename metrics"
## Proposal

**Use case. Why is this important?**

In projects like Kubernetes, it is common for hundreds of metrics that end users rely on to be created inconsistently. It is very difficult and disruptive to standardize these metrics right now as there is no means of renaming a metric in Prometheus, so we follow a multi-release deprecation cycle for end users to update all their use cases. This i

[2021-03-09 18:22] roidelapluie commented on #8579
Thank you.

I have read your issue with attention, and it is something that indeed can't be achieved by targets. There are multiple ways to do this on the server side, but not something that can be done at the exposer side.

Prometheus currently uses OpenMetrics as standards for the exposition format, and I think this issue could be discussed better in the OpenMetrics project.

Would you mind open

[2021-03-09 21:29] juliusv commented on #6282
Can this issue be closed now, now that this is implemented (albeit behind a flag)?

[2021-03-09 21:39] roidelapluie commented on #6282
Let's close it when your comments are addressed here: https://github.com/prometheus/prometheus/pull/8487

[2021-03-09 22:02] roidelapluie commented on #8577
Thank you! I have opened #8580.

[2021-03-09 22:04] roidelapluie commented on #8564
#8566 was merged.

[2021-03-09 22:04] #8564 closed

[2021-03-09 22:06] roidelapluie commented on #8558
Let's bring more storage people to the discussion: @codesome did you see this ?

[2021-03-09 22:10] roidelapluie commented on #8514
Upgrading should get rid of those files, which were created in August.

[2021-03-09 23:41] csmarchbanks commented on #8567
Thank you for your request! I do not think a naive marker implementation such as the example where a single timeout/5xx error would cause all requests to fail for a minute would work well in practice. Transient failures happen, and having a minute of degraded responses for one 5xx seems extreme and not the behavior I would expect.

Having a remote client health check endpoints in the background to

[2021-03-10 01:38] iwctwbai commented on #8578
@roidelapluie Yes, I have specified the actual start and end time
If I specify a specific time, will the result also be affected by loopback Delta?
My request is like this
[code]

[2021-03-10 01:48] iwctwbai commented on #8578
@roidelapluie
It's an incredible question

My exporter has been working all day. At the same time yesterday, I specified start = the first minute of the day and end = the last minute of the day. Prometheus would deliver the query request to the remote storage adapter. But at the moment I query today's (query yesterday's data request can be delivered at the moment) request will not be delivered to

[2021-03-10 09:30] iwctwbai commented on #8578
@roidelapluie
Everything works fine after I set "read_recent: true".
I think there might be some bugs here.
Also, how can the start parameter of the remote storage adapter be consistent with the start parameter passed by the HTTP API? (The end parameter is now the same as the HTTP API after setting "read_recent: true ").
Do I need to provide more information? Please let me know if you need to.

[2021-03-10 09:34] roidelapluie commented on #8578
It can not be consistent, this works as designed. We need to have access to the samples 300s before the query.

[2021-03-10 09:37] iwctwbai commented on #8578
@roidelapluie
I understand
If you do not set the "read_recent: true" parameter, the problem that will change dynamically is a bug. Do you need any information to help you troubleshoot this problem

[2021-03-10 09:40] roidelapluie commented on #8578
It is not a bug, we not not want to read the recent data by default. As I said, remote read is meant to read data that was previously sent by prometheus to a remote. Because we have still the data in the local prometheus server, we do not ask for this data twice.

It seems that overall you are trying to use remote read in a way that we do not support. It is fine, but calling our behaviour a bug is

[2021-03-10 10:10] iwctwbai commented on #8578
No offense

According to your saying, "remote read is mean to read data that was previously sent by Prometheus to a remote", but for example, if I query the data of 0-24 hours today, there is no problem not through remote storage, but the HTTP API does not return any data. Does this mean that the local database of Prometheus does not work properly? Because only through the local database, we shoul

[2021-03-10 10:19] roidelapluie commented on #8578
I think that you are confused about the Prometheus data model.

To  get data into its local database, Prometheus is scraping targets. It means it will get metrics from HTTP apis, which are exposing metrics. We fetch the data at regular intervals. This is configured under `scrape_configs`.
e.g. if you go to https://prometheus.demo.do.prometheus.io/metrics you will see the metrics of a prometheus se

[2021-03-10 11:22] iwctwbai commented on #8578
@roidelapluie
Thank you very much. Could you please kindly tell me the principle of changing the parameter of end time

[2021-03-10 14:49] #8578 closed

[2021-03-10 14:57] roidelapluie commented on #8578
I'd encourage you to join the [prometheus-developers mailing list](https://groups.google.com/forum/#!forum/prometheus-developers) if you have further questions. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2021-03-10 15:01] roidelapluie commented on #8579
As an additional note, you can also use metrics relabeling to change metrics name at scrape time: https://alexandrev.medium.com/how-to-change-the-names-of-your-metrics-in-prometheus-b78497efb5de but it requires configuration in the prometheus server itself.

[2021-03-11 01:31] timofey-barmin commented on #8243
I experience the same issue (on various environments). Looks like restart of prometheus helps, but it's not clear how big the time jump must be to trigger the problem.
@brian-brazil @roidelapluie Any suggestions on that? Asking because I plan to do an automatic restart of prometheus in case of a time change, so I need to know the time difference my script should react to.
Maybe there is another wa

[2021-03-11 10:45] ahurtaud opened #8584 "Feature proposal: Expose TSDB Stats as metrics?"
## Proposal
I would like to know if it would be accepted to expose the TSDB Stats as metrics exposed by prometheus:
https://prometheus.io/docs/prometheus/latest/querying/api/#tsdb-stats

I would like to have a view of my top TSDB consumers and being able to alert on increase.

We are thinking of implementing it, but we would like to know if it can be accepted as part of prometheus code or if we s

[2021-03-11 11:15] roidelapluie commented on #8584
Hello, this would indeed not be accepted as such in prometheus itself as you pointed out. This seems pretty advance and would produce potentially high churn.

I would suggest that you try to leverage the json_exporter for this use case. If you do so, it would be nice if you could share your json_exporter config file so other with that use case could benefir from it: https://github.com/prometheus-c

[2021-03-11 12:43] #8584 closed

[2021-03-11 14:06] jgehrcke commented on #8418
Yes. An invalid `retry-after` value should be treated as non-existing.

A non-existing `retry-after` should result in the "standard retry strategy" to apply, which should _eventually_ come to an end (defined by [`batch_send_deadline`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write)?).

(I have never contributed to Prometheus before, so take my input with a g

[2021-03-11 14:14] knrybarczyk opened #8586 "Cannot install with go anymore"
I used to be able to install promtool using go:

[code]

This is what I can still see in the README.md

Instead my terminal now hangs indefinitely not getting a response.

Here is my go version: `go version go1.14.4 darwin/amd64`

[2021-03-11 14:18] RichiH commented on #8579
The overhead in the index seems manageable if we decided to support this.

With my OpenMetrics hat on, `# ALIAS` seems cleaner.

This does not solve potential changes and migrations in labelset, though.

Overall, I think something of this depth needs long thought and discussion in -team; personally, I am intrigued but not sold.

[2021-03-11 14:20] roidelapluie commented on #8586
Can you please tell me in which readme you are seeing this?

Can you try:

`GO111MODULE=on go get github.com/prometheus/prometheus/cmd/promtool`

[2021-03-11 14:30] knrybarczyk commented on #8586
This README here: https://github.com/prometheus/prometheus
<img width="747" alt="image" src="https://user-images.githubusercontent.com/981627/110802280-55171b80-827e-11eb-805e-b3f67908cd04.png">

The above works, thanks 😄 Could you just explain real quick why `GO111MODULE=on` is required?

[2021-03-11 14:57] roidelapluie commented on #8586
Because we have removed our `vendor/` directory recently. Therefore you have to fetch the modules.

Would you want to submit a pull request to improve the readme?

[2021-03-11 15:00] knrybarczyk commented on #8586
For sure, with pleasure 😄 Thanks for the explanation!

[2021-03-11 15:53] roidelapluie commented on #8586
Closing as #8587 was merged.

[2021-03-11 15:53] #8586 closed

[2021-03-11 16:38] rubbish commented on #8586
I'm still seeing an issue like this using go 1.16 and do a naive go get:

[code]

But when I give it the specific commit, it works:
[code]

But `@latest` does not work:
[code]

I'm hoping someone with bit more go module knowledge can help me understand what's going on. Thanks.

[2021-03-11 16:49] ehashman commented on #8579
Done: https://github.com/OpenObservability/OpenMetrics/issues/189

[2021-03-11 19:13] roidelapluie commented on #8586
Can you please try `@main` ?

[2021-03-11 22:36] sashasimkin opened #8589 "unexpected fault address on raspberry pi4 and openwrt"
**What did you do?**
Installed prometheus from openwrt repositories.
Running /etc/init.d/prometheus didn't yield expected results and I couldn't find any logs, so I inspected the script and started it manually as:
[code]

**What did you expect to see?**
Running prometheus instance, metrics in grafana cloud.

**What did you see instead? Under which circumstances?**
Prometheus is crashing with segfa

[2021-03-11 23:18] sdhoward commented on #8256
Just to further confirm, I did not have this issue in the classic UI. In the new UI it impacts me quite often, especially when graphing metrics that have more than 10 or 20 different vectors.

[2021-03-12 00:28] volgar1x commented on #8589
Same problem on `FreeBSD 14.0-CURRENT`

[2021-03-12 06:27] roidelapluie commented on #8589
Could you try with a prometheus built with go 1.15?

[2021-03-12 07:44] volgar1x commented on #8589
Cross-building from linux/amd64 into freebsd/arm64 with Go 1.15 fixed the problem. Many thanks!

[2021-03-12 08:38] roidelapluie commented on #8589
Does it happen all the time? Could you try go.16.2 to see if that has been fixed?

[2021-03-12 09:52] juliusv commented on #8550
That would be cool. It would require more work of course. You would have to add code to the TSDB to expose that initial loading state, and then make it available via the HTTP API to the web app somehow. But generally, I'm for such features from a user's POV.

[2021-03-12 09:57] juliusv commented on #7384
@jaimegago That isn't doable unfortunately, for a number of reasons:

- It would be an important breaking change.
- `up` time series would lose their continuity when you introduce labels that are purely informational and whose purpose is not to identify the target. That is, if the error switches from 404 to 500, it would now be a new time series instead of the same one as before, breaking queries,

[2021-03-12 10:25] juliusv commented on #8215
@codesome Interesting. I still would have assumed that if there were overlapping / duplicate samples between the data from remote + local storage, that they would be deduplicated in the merge process.

[2021-03-12 10:30] roidelapluie commented on #8215
While you are still here, we have this to investigate and it could be related to this issue: https://github.com/prometheus/prometheus/issues/8558

[2021-03-12 10:36] juliusv commented on #7735
@prymitive Thanks for those good points! Yeah, I would imagine that themeing would use a mix of a React context that is wrapped around the whole app (for the more Reacty styles), plus a theme-specific CSS class on a root element (for the pure CSS styles).

It'll also be an interesting challenge in itself to make sure that all possible UI elements are really supported in both themes, as certain war

[2021-03-12 10:56] juliusv commented on #6881
Yes, sorry! It's definitely a React render speed issue, similar to the one we have with https://github.com/prometheus/prometheus/issues/8548. But this one here is probably even more urgent, as thousands of targets are more common than thousands of alerts. There's probably no way around doing pagination and/or virtualized lists (although those seem to get more complicated in code when you don't kno

[2021-03-12 11:12] roidelapluie commented on #6881
@juliusv could we collapse by default when there is a huge list of targets?

[2021-03-12 11:25] juliusv commented on #8558
I am not a specialist in that piece of code anymore, but it seems like a plausible explanation, and I just managed to reproduce the problem in a new test case. Turns out, nobody actually wrote a test to test this prominent feature of that iterator (skipping over duplicate samples) yet :)

[2021-03-12 11:25] juliusv commented on #8558
Will send a PR.

[2021-03-12 11:28] juliusv commented on #6881
@roidelapluie That's an option too. It wouldn't help if someone then wanted to expand everything of course, but it would be a good stop-gap to make that page work again for people in the meantime.

[2021-03-12 11:35] juliusv commented on #8558
https://github.com/prometheus/prometheus/pull/8591

[2021-03-12 11:41] prymitive commented on #7735
I think it's not that much work as long as you re-use a ready made theme (like bootswatch) or a customised bootstrap variant, since it doesn't seem like bootstrap will get a native dark mode anytime soon (https://github.com/twbs/bootstrap/issues/31175).

Overall I don't think there is a huge amount of maintenance required after the initial effort to add theming and storybook can be a great and eas

[2021-03-12 11:56] juliusv commented on #7735
@prymitive Ok, that sounds fair enough to me, so feel free to go ahead! :) Maybe if you start implementing it in Prometheus, you will discover some new aspects of the problem of course. In that case, it would be good to hear about those...

[2021-03-12 13:12] prymitive commented on #7735
Sure, I'll look into that over the weekend, feel free to assign me this ticket. Thanks!

[2021-03-12 13:26] peter-turner-hcl commented on #8256
Sorry for the silence - this was side-lined but picking it up again. Managed to get some data into Prometheus and can now generate the metrics required to trigger x graphs and therefore the full range of colours.

[2021-03-12 16:04] rfratto opened #8592 "SigV4, EC2 SD: use shared config file by default"
#8509 introduced support for SigV4, where most of the logic configuring the AWS SDK (v1) was copied from the EC2 SD code. A [comment](https://github.com/prometheus/prometheus/pull/8509#discussion_r581366746) from @rakyll noted that by default, the configuration in `~/.aws/config` is not loaded unless `AWS_SDK_LOAD_CONFIG` is set to a non-empty string in the environment variables.

The dependency o

[2021-03-12 17:13] roidelapluie commented on #8592
This would be a big change in the way we deal with service discovery credentials/configuration. I think we should wait enough time to let people express their interest or cons.

[2021-03-12 17:47] rfratto commented on #8592
Good point, I'll hold off for a while. Any concerns about getting this change into the upcoming release? (with the consideration that the workaround is to supply `AWS_SDK_LOAD_CONFIG`)

[2021-03-12 18:56] roidelapluie commented on #8592
I see two challenges:
-  be careful about the priority of existing env variables regarding this, to not break users
- find a good source of documentation for this

[2021-03-12 19:03] morremeyer commented on #7735
@bwplotka I get that your "we could drop the light theme then" was not too serious, but I just want to document it here for anyone not aware of it:

Light text on dark background is pretty hard to read for people with astigmatism as it "glows".

Therefore, dropping a light theme in favor of a dark theme would make the UI less accessible and should definitely not be done.

[2021-03-12 21:35] matthiasr commented on #8592
My understanding of the behavior so far has been that, if no authentication information is given in the configuration file, we defer to the SDK. Since this is the default SDK behavior in the latest version, we should not get in the way of it. Upgrading the SDK, if feasible, deems like the cleanest option – Prometheus continues to not have an opinion on where the SDK gets its configuration, users g

[2021-03-12 23:45] roidelapluie commented on #8592
I am wondering if the file would override env variables or not. I agree we don't need to duplicate the docs, but we need to find and link to accurate docs for ursers.

[2021-03-13 08:34] matthiasr commented on #8592
Is this the right one?

https://docs.aws.amazon.com/credref/latest/refdocs/overview.html

On Sat, Mar 13, 2021, 00:46 Julien Pivotto ***@***.***> wrote:

[2021-03-13 12:52] Sebi2020 opened #8596 "Web UI: TSDB Configuration - Blank Page"
**What did you do?**
I tried to open the TSDB Status in the status menu (New UI)

**What did you expect to see?**
Status information about TSDB

**What did you see instead? Under which circumstances?**

A blank white page.

**Environment**
- Docker (prom/prometheus image)
- Traefik (with SSL Termination)
- Chrome Browser (latest)
- Windows 10 (Browser environment)

**System information**
    - pro

[2021-03-13 15:53] sashasimkin commented on #8589
Happened all the time for me w/ go 1.16. I've downloaded `prometheus-2.22.0.linux-arm64.tar.gz` from releases page, and it works well now!
[code]
Sorry, I'm not sure how to compile it with go 1.16.2 :(

[2021-03-13 17:02] roidelapluie commented on #8589
You could get a fresh binary for our main branch, in our ci, e.g.

https://app.circleci.com/pipelines/github/prometheus/prometheus/11251/workflows/0203e33d-4d95-42dc-a8ba-e08b7f07e8a1/jobs/49308/artifacts

(Remember that this is a test build)

[2021-03-13 17:04] roidelapluie commented on #8589
I suspect that https://github.com/prometheus/prometheus/pull/8593 did fix this issue. cc @prymitive

[2021-03-13 17:27] #8558 closed

[2021-03-13 17:52] roidelapluie commented on #8592
Yesssss thanks

[2021-03-13 20:19] roidelapluie commented on #8596
Can you please share your requests/responses (from the developers tools)? And look for errors in the javascript console? Thanks!

cc @juliusv FYI

[2021-03-14 14:01] xperimental commented on #8173
Unfortunately I forgot to push the state from last sunday, but I had a few hours on the train this week to start again properly.

The current state is in [the `feature/docker-discovery` branch](https://github.com/xperimental/prometheus/tree/feature/docker-discovery) in my repo, I have not created a pull-request yet, because, for example, the updated documentation is still missing, but the current

[2021-03-14 19:08] roidelapluie commented on #8589
I will close this as we have released v2.25.1 with a fix.

[2021-03-14 19:08] #8589 closed

[2021-03-14 21:34] roidelapluie commented on #8173
@xperimental I had a look and it looks good, it is the direction I wanted this to go. Feel free to open the pull request when you feel like you want an in-depth review! Thanks!

[2021-03-14 22:49] prymitive commented on #7735
The good news is that there's a good dark variant for the default bootstrap theme - ForEvolve/bootstrap-dark
Latest one is for bootstrap 4.6 so I'll bump both bootstrap and reactstrap to avoid any glitches and bring us to the latest version.

After initial effort to find a dark variant it was very easy to add a context driven dynamic theme loader:

<img width="1041" alt="Screenshot 2021-03-14 at 2

[2021-03-15 01:27] Hangzhi commented on #2392
Hi! I'm interested in working on this as a part of GSoC. I'd appreciate it if you can point me to where I can start (codes I should read or re-write) to get a better understanding of how things work.

[2021-03-15 07:24] vsile commented on #6282
Hi! Is it implemented at 2.25.1?
There is no information about it in [releases page](https://github.com/prometheus/prometheus/releases).
I added the flag
--enable-feature=promql-negative-offset
to the docker-compose file with prometheus:
![изображение](https://user-images.githubusercontent.com/9244347/111117100-16cc7580-8578-11eb-9771-a6eeaee258de.png)

But no effect. I get parse error:
![изображе

[2021-03-15 08:09] roidelapluie commented on #6282
This will be in Prometheus 2.26.0.

if you want to test, you can use `prom/prometheus:main`, our development docker image. Please be aware that this is from our development tree, therefore it is not a image recommended for production.

[2021-03-15 09:05] juliusv commented on #7735
@prymitive Great! I hadn't heard of storybook before, it looks like a really awesome tool, and I guess https://storybook.js.org/docs/react/workflows/visual-testing is what we will need from it.

The rest sounds good, including the 3 states.

Regarding Percy: in 2018 we actually got an offer from them to get free hosting for Prometheus, but back then we really didn't need it yet (this was pre-React

[2021-03-15 09:57] w4rgrum commented on #8584
FYI here is the configuration we created

[code]

Example of output:
[code]
[code]

[2021-03-15 10:25] wangzhao765 commented on #8558
Really thank you for your works. @roidelapluie @juliusv

[2021-03-15 11:32] SuperQ commented on #8584
`_count` is redundant, and not a unit. It's also reserved for histograms and summaries.

For example:

`prometheus_status_tsdb_series_by_metric_count` should be `prometheus_tsdb_metric_name_series{metric_name="..."}`.

[2021-03-15 11:41] w4rgrum commented on #8584
New conf
[code]

Should output this list of metrics
[code]

For now left 'metric' instead of 'metric_name' in metric name and label name (seems kube exporters all went from 'pod_name' to 'pod' so keeping this kind of formatting if it is ok)

[2021-03-15 13:39] wfelipew commented on #8526
This problem occurs because the "time.Duration" on Go is limited to 290 years. When you exceed this limit you get unexpected behaviours.
In this case "1000y" will be parsed as "-5357488147419103232".
I will try to fix this by validating if the input range exceeds 290 years on "func ParseDuration(durationStr string) (Duration, error)".

[2021-03-15 13:58] dgl commented on #8243
I'm hopeful the linked PR #8601 will fix this. (Note if you want to test it, you likely need to suspend for >10 minutes).

[2021-03-15 19:46] prymitive commented on #7735
Drafted #8604 with initial implementation, it includes a working dark theme but needs some more work and testing

[2021-03-15 20:33] roidelapluie commented on #8557
Hello, sorry that no one could get back to you in this timeframe.

I'd suggest as next step to ask your question in the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2021-03-15 23:52] timofey-barmin commented on #8243
@dgl Thanks
I can confirm it helps me on mac (vsn 10.15.7). Haven't tested on other platforms yet.

[2021-03-16 09:35] roidelapluie opened #8606 "Unit testing for relabeling rules"
## Proposal
**Use case. Why is this important?**

It would be great to have unit testing for relabeling configs.

We already have unit testing for rules, but I'd like to have something to test relabeling rules inside promtool.

Ideas welcome.

[2021-03-16 09:37] roidelapluie opened #8607 "Add feature flags to promtool"
Promtool can validate rules, but it does not support the feature flags, like start(), end(), negative offset..

While those feature are not really important in recording rules, we should still support them here.

[2021-03-16 11:43] pracucci commented on #8318
Is this issue related to https://github.com/prometheus/prometheus/issues/8217 too?

[2021-03-16 11:47] roidelapluie commented on #8318
yes it seems like it might be the same issue.

[2021-03-16 14:59] jrddunbr commented on #6188
I want to +1 this, because in my case the best way to do this is to override the systemd unit file provided by my operating system, which I want to avoid where possible as it prevents the file from being updated as the operating system updates. This should definitely be in a configuration file, just like all of the other options I get such as how long to query data from various sources, hot reload

[2021-03-16 15:00] #8243 closed

[2021-03-16 15:15] roidelapluie commented on #8243
This will be released in the Prometheus 2.26 series.

A workaround if you run an earlier version is to use the `--no-scrape.adjust-timestamps` flag.

[2021-03-16 16:24] alexandruluca opened #8611 "Remote storage adapter for nodejs backend"
I am currently trying to write a storage adapter for a nodejs backend.

I have setup a http server and I am trying to read the request body.
I am trying to read the body by using following body parser, however I am getting an error message

[code]

[code]

All remote exporters are written in golang, I would like to use nodejs for several reasons. Is there any documentation on how to parse the inco

[2021-03-16 16:46] roidelapluie commented on #8611
Hello,

Thanks for your interest in Prometheus.

In addition to protobuf, the requests are also compressed with Snappy. There seem to be snappy libraries for nodejs:
https://www.npmjs.com/package/snappy

It is better to ask questions like this on the [prometheus-developers mailing list](https://groups.google.com/forum/#!forum/prometheus-developers) rather than in a GitHub issue. On the mailing lis

[2021-03-16 17:08] alexandruluca commented on #8611
@roidelapluie Thank you for the answer. I had a look over that before posting the issue but I didn't really try to uncompress the request as it looked too cumbersome to start with.

I gave it now a try and it seems to work. I am working on an example right now. When I'm finished, if you want, I can post an example for nodejs, maybe other users find it useful as well since I didn't find any useful

[2021-03-16 17:44] stevekuznetsov commented on #8256
Love to see this! Right now the "default" color for me in a graph with one time series seems to be an ugly and hard-to-read yellow :)
![Screenshot from 2021-03-16 10-28-23](https://user-images.githubusercontent.com/7328370/111355457-9f184c80-8644-11eb-8a0f-24d3351c88b1.png)

[2021-03-16 17:45] stevekuznetsov commented on #8256
I guess I'd note - even if this yellow is not pale, perhaps it would be good not to use it against a white background anyway.

[2021-03-16 19:12] roidelapluie commented on #8611
Hello,

We are not able to keep examples up to date, but you are very welcome to host your example code in a public github repository. If your final product is public, we can also link it from our documentation.

Thanks.

[2021-03-16 19:20] #8611 closed

[2021-03-16 20:53] roidelapluie commented on #8243
I have changed my mind and released v2.25.2 with this fix. Thanks all!

[2021-03-17 18:28] dgl opened #8613 "promtool: Support some kind of “lint” for rules"
`promtool check rules` currently is [documented](https://prometheus.io/docs/prometheus/latest/configuration/recording_rules/#syntax-checking-rules) as a way to syntax check rules. However it also checks for duplicate rules, which is closer to a lint check.

There are some features in PromQL that are potentially problematic to use in recording rules now:
- Negative offset is likely incorrect in rec

[2021-03-17 21:34] csmarchbanks commented on #8418
I generally agree with the above couple of replies. If retry-after is missing or in the past I think we should just use the default backoff.

One note, `batch_send_deadline` is not actually how long we allow a batch to be sent, it is how long we wait to put together a batch of samples (500 by default). That way low traffic Prometheus instances will still send their samples relatively quickly rathe

[2021-03-18 03:41] iwctwbai opened #8615 "remote raed too much data fetched"
**What did you do?**
I use remote reading to query data.

Promql is similar to ``` sum (rate (...)) ```

There are only about 1000 promql results

But the remote query adapter called the 100W data in the database to Prometheus（Prometheus completes aggregation operation）

Is it normal to retrieve so much data?

I think it is reasonable to convert Promql to SQL with the same meaning, instead of quer

[2021-03-18 10:54] bboreham commented on #8418
We had our staging Cortex system down for several hours, and I believe what I observed is that Prometheus will drop data from the WAL after two hours, so that data is never sent over remote-write.

Maybe we don't need any limit on retries beyond that?

[2021-03-18 11:13] TunaBozkirr opened #8617 "How can I scrape my virtual machine's ip address from prometheus ?"

[2021-03-18 11:53] gouthamve opened #8618 "Per rule evaluation duration metric"
## Proposal

Currently we provide metrics (duration and success) at a rule-group level. But a group can have 10s of rules inside it. If a rule_group is skipping iterations, then its likely caused by a few rules inside the group. Today, we can easily find the culprit rules by looking at the UI.

Having said that, we are seeing some groups slowly creeping up in evaluation duration and knowing the hi

[2021-03-18 14:39] Sebi2020 commented on #8596
This only happens with new Prometheus instances that have not created any time series yet

[2021-03-18 15:52] roidelapluie commented on #8596
Oh, so it is not really a bug, is it ? If we have no time series, we have to tsdb, we have no stats.

[2021-03-18 15:53] roidelapluie commented on #8617
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2021-03-18 15:53] #8617 closed

[2021-03-18 16:44] Sebi2020 commented on #8596
I think it's a bug because if there is nothing the web ui should display something like "No TSDB stats available yet" or something equal. But you get a blank page (not even a navigation bar is shown).

[2021-03-18 18:33] #8615 closed

[2021-03-18 21:56] roidelapluie commented on #8596
Thanks, I will mark as a bug (must have nav page, should have a message)

[2021-03-18 23:21] aned opened #8623 "Cosmetic bug when scraping IPv6 addresses containing double colons ::"
In v2.23.0 when I have a scraping endpoint IPv6 address such as 2a03:f347:40:1::4f, I see an error on the web UI
[code]
The scrape does happen and the "State" is showing as up.

[2021-03-18 23:33] roidelapluie commented on #8623
I think this was fixed in 2.25 (#8359).

Can you please upgrade to 2.25.2 and verify the fix?

Thanks!

[2021-03-19 02:29] aned commented on #8623
Just checked, 2.25.2 still has this issue.

![image](https://user-images.githubusercontent.com/2947691/111723062-3980b780-8820-11eb-94c2-11b4257ef7e2.png)

[2021-03-19 13:02] Zheaoli commented on #8623
I think I have figured out the reason

In IPV6, the host:port syntax has been changed. Here's the detail in [rfc3986]

So "xxx:xx:xx:xx:port" is not right, it will cause error here https://github.com/prometheus/prometheus/blob/main/web/api/v1/api.go#L795

I'll try to make a PR for this.

[2021-03-19 13:05] roidelapluie commented on #8623
I am surprised that Prometheus can scrape `2a03:f347:40:1::6d:9100` in the first place. It should scrape `[2a03:f347:40:1::6d]:9100`.

[2021-03-19 13:08] Zheaoli commented on #8623
@roidelapluie yes, I'm surprised there's not error when Go access the 2a03:f347:40:1::6d:9100 too.

Anyway, I'm working on a PR for this issue

[2021-03-19 15:17] iwctwbai opened #8625 "The sampling frequency is changed"
**What did you do?**
The sampling frequency is changed and automatically resumes after a day
The frequency was set at 1 minute, which suddenly changed to 5 minutes after a few days of operation, and then resumed a day later. This happened twice in 10 days, both of which were automatically resumed one day after the sampling frequency was changed

**What did you expect to see?**

**What did you see

[2021-03-19 15:20] roidelapluie commented on #8625
Can you please provide:

- More information about the issue (what is sampling?, why do you think it has changed?)
- The information requested in the message above (prometheus version, relevant logs, platform)

[2021-03-19 22:55] rakyll commented on #3008
This is now available via https://github.com/prometheus/prometheus/pull/8509.

[2021-03-19 23:20] roidelapluie commented on #3008
Not quite, we have added support for it in remote write only, not scrape. I don't know how common it is to use this with scrape, but as you are responsible for the endpoint to scrape, you can opt for an already supported auth scheme, like tls certificates. I don't think amazon offers natively sigv4 endpoints. We could reconsider this if/when this happens, e.g. if cloudwatch starts natively exporti

[2021-03-19 23:44] rakyll commented on #3008
Right, people keep pointing me to this issue about the lack of SigV4 support but probably no one is reading the description that the issue is about scraping and not remote write -- neither I read the description.

[2021-03-19 23:48] roidelapluie commented on #3008
The first version of Prometheus to support SIGv4 will be the release 2.26. The first release candidate is planned next week around Wednesday.

[2021-03-20 07:26] Zheaoli commented on #8623
@aned Hello, Would you mind introducing what's kind of discovery method you use?

I think it will help to find out the root cause?

[2021-03-20 07:46] iwctwbai commented on #8625
I'm sorry I didn't express myself correctly
"sampling frequency" means scrape interval
I use remote writes, where data is written to the data warehouse synchronously.
I observed the data and found that the frequency of data insertion would suddenly change from 1 minute I set to 5 minutes. A day later, it would automatically change to 1 minute (the frequency of data insertion was all 5 minutes this

[2021-03-21 02:31] aned commented on #8623
@Zheaoli we query internal DB and generate yaml files for prometheus.

[2021-03-21 08:28] buggithubs opened #8630 "last page of the wal is torn, filling it with zeros"
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

[code]

[code]

* Prometheus version:

	insert output of `prometheus --version` here

[code]

[code]

* Alertmanager version:

	insert output of `alertmanager --version` here (if relevant to the issue)

* Prome

[2021-03-21 09:00] roidelapluie commented on #8630
Thank you for this report. 2.8 is very old and many bug fixes and improvements have happened over the last two years. Can you please upgrade to the latest release and let us know if you can reproduce this? Thanks!

[2021-03-21 09:08] buggithubs commented on #8630
OK, I'll test the startup with the new version on the old data later

[2021-03-21 09:47] roidelapluie commented on #8630
I don't remember seeing such an error message.

cc @codesome @bwplotka can you answer those questions maybe?

[2021-03-21 11:30] roidelapluie commented on #8630
Be careful that if you might want to use --no-storage.tsdb.wal-compression if you want to be able to come back to a version pre-2.20

[2021-03-21 22:23] #8526 closed

[2021-03-22 01:53] buggithubs commented on #8630
**After I use the new version to start the service on the old data, the information is as follows**

[code]

`component=tsdb msg="WAL segment loaded"` Information is constantly printing

![image](https://user-images.githubusercontent.com/11624213/111930678-6e2c9180-8af4-11eb-80cf-dfd2e86ae57d.png)

[2021-03-22 01:58] buggithubs commented on #8630
![image](https://user-images.githubusercontent.com/11624213/111930803-b51a8700-8af4-11eb-90af-2360441bd864.png)

Use the new version（2.25.2 / 2021-03-16 ） to start the damaged data。

again ：： how much monitoring will be lost ?

[code]

[2021-03-22 02:02] buggithubs commented on #8630
**I got bad data; thanks for the new version**

![image](https://user-images.githubusercontent.com/11624213/111931194-a84a6300-8af5-11eb-9e57-dd2c7825b62d.png)

[2021-03-22 06:58] akamensky commented on #7669
We experience the same issue with 2.25.0.

[2021-03-22 10:54] #8461 closed

[2021-03-22 12:54] fishhead108 commented on #2347
Any news\plans here?

[2021-03-22 15:48] skiransk opened #8632 "Prometheus targets are not being updated when I change the targets.json file."
I am trying to update targets.json file with new targets and  restart docker compose or live reload prometheus.
But, I do see the old targets in prometheus targets. Is there any option to resolve this issue.

Prometheus latest version
Docker

[2021-03-22 15:58] skiransk commented on #8632
Hello, I was able to find the issue. The issue was in my prometheus.yml file. Closing the issue. Thanks

[2021-03-22 16:13] #8632 closed

[2021-03-22 16:15] roidelapluie commented on #8630
The "last page of the wal is torn, filling it with zeros" message is probably because Prometheus is killed abruptly.

[2021-03-22 16:59] roidelapluie commented on #8625
What is your prometheus config?

[2021-03-22 19:13] roidelapluie commented on #8630
Considering that your issue is fixed, I will close this.

Note that you can ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users). On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2021-03-22 19:13] #8630 closed

[2021-03-22 23:44] roidelapluie commented on #8618
This seems like something for the query_log > loki.

A label with the rule ID would just be too much cardinality here. As you say, you can have 10s of rules inside a group.

Note that you would probably not need to write an exporter, you could simply use the json_exporter.

[2021-03-23 16:25] dgl commented on #6282
Closing this now as it is implemented in main, once 2.26.0 is released the details for enabling the feature will be at: https://prometheus.io/docs/prometheus/latest/disabled_features/

[2021-03-23 16:25] #6282 closed

[2021-03-23 20:53] juliusv commented on #6155
This issue has been fixed a while ago by adding a new metric name selector modal dialog.

[2021-03-23 20:53] #6155 closed

[2021-03-23 22:56] #5421 closed

[2021-03-23 22:56] #6160 closed

[2021-03-23 22:59] austince commented on #7919
Hi there, writing to give you an update on the status of this. I've implemented a base xDS HTTP discovery mechanism using `refresh`, as well as the `kuma_sd` using that base, in [austince/prometheus/discovery-xds](https://github.com/austince/prometheus/tree/discovery-xds/discovery/xds). A docker image is available at `docker.io/austince/prometheus:kuma-xds-sd` built from this branch as well. The o

[2021-03-24 02:00] iwctwbai commented on #8625
@roidelapluie
[code]

[2021-03-24 02:21] yxyx520 commented on #6934
same problem. version prometheus v2.25.2

[2021-03-24 03:36] liuyanmei069 opened #8635 "Whether it is possible to configure the duration of the alarm to the present in the alarm rules"
是否可以实现在告警规则上配置发出告警到目前的持续时间，如何在rule文件配置去获取当前时间并减去触发时间
Whether it is possible to configure the duration of the alarm to the present in the alarm rules, and how to obtain the current time and subtract the trigger time in the rule file configuration

[2021-03-24 10:30] bboreham opened #8638 "Idea to speed up WAL loading"
I observe that WAL loading can spend a lot of CPU time rejecting samples as already in chunks.
Would it be reasonable to cache `s.mmappedChunks[len(s.mmappedChunks)-1].maxTime` in `Head.processWALSamples()` , and thereby avoid calling and re-computing it?

[code]

(This profile is from Cortex built with Prometheus code from commit c7e525bc6ba0ea6ef032f84279f73fae86d4143f)

[2021-03-24 12:37] moix commented on #8572
Hi @akamensky , while planing an upgrade to 2.25 I found this issue. A couple of my prometheus servers have also large amount of metrics and historical data so wanted to check if you finally fixed it.
Thanks

[2021-03-24 18:23] bwplotka commented on #8638
I think it makes sense to me. cc @codesome

[2021-03-24 22:30] roidelapluie commented on #8625
Are you sure that your targets are up all the time? You are limiting a lot the metrics you send to the remote_write. Can you check the `up` metrics?

[2021-03-25 01:34] danthegoodman1 commented on #2204
Any update on this? I want to divide 2 metrics where one is `exported_pod`, and another uses `name` but am unable to.

[2021-03-25 07:43] #8533 closed

[2021-03-25 07:43] asaf1602 commented on #8533
I found similar issue in GitHub (#8310) I decide to upgrade the prometheus version to v2.25.0. the Out of Memory issue repeat.

[2021-03-25 13:24] bharangit commented on #7299
Hi, I am getting slightly different error but related to permission denied.. anyone faced this before? please help. thanks.
_level=error ts=2021-03-25T13:04:26.263Z caller=db.go:377 component=tsdb msg="compaction failed" err="persist head block: mkdir /prometheus/01F1MQRW4QTJ12KYV6TRXZKWMD.tmp: permission denied"_

[2021-03-25 14:21] bharangit opened #8646 "component=tsdb msg="compaction failed" err="persist head block: mkdir /prometheus/01F1MQRW4QTJ12KYV6TRXZKWMD.tmp: permission denied""
Hi,

Prometheus configured on AKS cluster in two namespaces (dev, stage). It is working in dev but not in stage.

If i go to stage prometheus portal and check status-> Targets I all are targets are unhealthy in stage but works in dev.

stage target error : _level=warn ts=2021-03-25T12:48:27.946Z caller=manager.go:572 component="rule manager" group=./stage.rules msg="rule sample appending failed" e

[2021-03-25 16:23] nikobearrr commented on #8557
When I run the same command now it works. Perhaps something on master was broken? Anyway, I will close the issue. Thanks for the support @roidelapluie

[2021-03-25 16:23] #8557 closed

[2021-03-25 16:49] appleciderjack opened #8647 "prometheus.io is down"
Checked with downfor.io

Hope it comes back online soon!
Thanks

<img width="1440" alt="Screen Shot 2021-03-25 at 9 45 19 AM" src="https://user-images.githubusercontent.com/66964580/112511129-5735ab80-8d4f-11eb-9604-1304e08c03cf.png">
<img width="1367" alt="Screen Shot 2021-03-25 at 9 48 00 AM" src="https://user-images.githubusercontent.com/66964580/112511145-5ac93280-8d4f-11eb-942b-24c658cd5cd1.p

[2021-03-25 17:00] metalmatze commented on #8647
Netlify is having problems and it should resolve itself once they are back to normal operation:
https://www.netlifystatus.com/

[2021-03-25 17:04] roidelapluie commented on #8647
This is hosted by netlify. You can check their status at https://www.netlifystatus.com/

I will close this issue as it does not seem to be on us.

[2021-03-25 17:04] #8647 closed

[2021-03-25 17:04] roidelapluie commented on #8646
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2021-03-25 17:04] #8646 closed

[2021-03-25 17:04] roidelapluie commented on #8635
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2021-03-25 17:04] #8635 closed

[2021-03-25 17:20] beorn7 commented on #6669
To wrap this up one way or another, we discussed this today at the dev summit. The result is that there is no real appetite to change the behavior of PromQL at this point. So we have to defer the solution for this problem to a future Prometheus version with a data model that treats complex metric types as first class citizens.

As a consequence, the current behavior needs to be documented more cle

[2021-03-25 17:20] #6669 closed

[2021-03-25 21:05] roidelapluie opened #8648 "Document exemplars"
The exemplars feature is under-documented.
I would appreciate documentation in the release-2.26 branch, notably how to enable them (add to the `disable feature page`).

cc @cstyan

[2021-03-25 21:29] cstyan commented on #8648
It's documented in the `enable-feature` flag but I can add it to that docs page as well.

[2021-03-25 21:33] roidelapluie commented on #8648
We made the feature flag a lot shorter unfortunately because it was unreadable, and it points to the disabled features page.Sorry about that, I did not realize it was not documented on the page.

[2021-03-26 00:23] sashasimkin commented on #8589
2.25.2 confirmed working well on OpenWrt snapshot, build with go 1.16, ref: https://github.com/openwrt/packages/issues/15236#issuecomment-807802776

thank you!

[2021-03-26 03:24] liguozhong opened #8650 "Wrong CHANGELOG link in release notifications"
![image](https://user-images.githubusercontent.com/9583245/112572725-bcf46700-8e25-11eb-8f95-4cfe33e0a0f1.png)

[2021-03-26 03:25] liguozhong commented on #8650
@bwplotka

[FEATURE] Scaleway Discovery: Add Scaleway Service Discovery. #8555
[FEATURE] PromQL: Allow negative offsets. Behind --enable-feature=promql-negative-offset flag. #8555

[2021-03-26 06:24] iwctwbai commented on #8625
Yes, the target is always executed, because the data is collected at a steady frequency of 5 minutes
I limited the ```up``` metric, it doesn't exist
Whether ```up``` metrics should not be restricted？

[2021-03-26 07:47] roidelapluie commented on #8625
The configuration shows that you scrape every 1 minute.

I have not enough data to see that this is a bug in prometheus. It also seems that it could be related to the number of shards you have, but even then, Prometheus should send the data at frequent intervals anyway. Why do you have 86 maximum shards? how many targets are you scraping?

[2021-03-26 08:56] roidelapluie opened #8652 "React UI: graph does from 8w to 1y"
When we click on "+" here: https://prometheus.demo.do.prometheus.io/graph?g0.expr=&g0.tab=0&g0.stacked=0&g0.range_input=8w

The duration jumps from 8 weeks to 1 year.

It looks like we could have more jumps in-between, e.g 16 weeks.

[2021-03-26 19:15] LeviHarrison commented on #8652
Maybe `8w => 26w => 1y` or even `8w => 16y => 26w => 1y`?

[2021-03-26 19:17] roidelapluie commented on #8652
I don't know which logic to follow but I oomed by prometheus over this :)

[2021-03-26 19:30] LeviHarrison commented on #8652
Not exactly sure what "oomed" means 🤣, but I'll go ahead and open a PR :)

[2021-03-26 19:40] ArthurSens commented on #8652
OOM kill = Out Of Memory kill.

Maybe because querying 1y was too much 🙂

[2021-03-26 19:47] #8596 closed

[2021-03-26 20:46] #8652 closed

[2021-03-26 23:14] roidelapluie commented on #8650
Thank you, I have fixed the issue in README and in the release page.

[2021-03-26 23:14] #8650 closed

[2021-03-26 23:14] #8648 closed

[2021-03-27 02:53] FujishigeTemma commented on #1381
Hi, I would like to tackle this issue as my GSoC'21 project.
For now, I've read through the discussions and docs noted below.
- This thread and links
    - #398
    - #10
    - thanos-io/thanos#903
    - https://groups.google.com/d/topic/prometheus-users/PhGs6luJWYs/discussion
- Design Doc and comments: https://docs.google.com/document/d/1Dvn7GjUtjFlBnxCD8UWI2Q0EiCcBEx_j9eodfUkE8vg
- TSDB formats:

[2021-03-27 05:35] aleskandro commented on #7119
Hi all, I needed to implement a back-filling job to import data from different sources (parquet files and mysql databases). I released it as a Golang library that can be easily used by providing (1) model structs with specific tags to convert them into TSDB and (2) a Go routing to send slices of models instances to a channel in order to be processed by the job. Here a link, if anyone is interested

[2021-03-27 10:31] SuperQ opened #8657 "Add distroless containers"
## Proposal

Per the discussion on various issues relating to busybox security, and the resolution from the 2020-03-25 Developer Summit, we want to add "distroless" containers as an option for Prometheus and related components.

* Add additional `-busybox` tags to existing containers.
* Create "distroless" containers tagged with `-distroless`.
* Announce deprecation of busybox containers for Prome

[2021-03-27 14:20] LeviHarrison commented on #8550
I think we could just write messages like this to an array, and hook it up to an endpoint like `/api/v1/walreplay` (or maybe even `/-/walreplay`, not sure if this would constitute as a management endpoint). Then fetch that endpoint every 1-2 seconds on the startup screen until `/-/ready` is true.

https://github.com/prometheus/prometheus/blob/b3feb2c2aed8cd27f69613985ad7ddcab2cb1e6c/tsdb/head.go#L

[2021-03-27 16:26] roidelapluie commented on #8657
for Prometheus 3.0.

[2021-03-28 07:40] iwctwbai commented on #8625
About 3000 @roidelapluie

[2021-03-28 07:46] roidelapluie commented on #8550
This is pretty structured data, I would prefer to return the numbers so that we can have a progressbar or so.

[2021-03-28 07:50] roidelapluie commented on #8625
I think you might see a difference because of the resharding happening. Which remote write do you use? Can you set the min and max shards too the same value?

[2021-03-28 08:16] iwctwbai commented on #8625
Do you mean what storage engine I use?

[2021-03-28 08:16] iwctwbai commented on #8625
min_shards: 96

[2021-03-28 09:08] Harkishen-Singh commented on #8625
Yes @iwctwbai. I am not sure if the count of min_shards should be that high. Moreover, since you have 3000 targets, I think you should increase the `max_samples_per_send: 500` to a higher value, like 3k or 5k.

[2021-03-28 10:53] vonProteus opened #8661 "rpi4 docker panic: mmap, size 134217728: cannot allocate memory"
**What did you do?**
i updated docker image

**What did you expect to see?**
that it would continue to working as usual

**What did you see instead? Under which circumstances?**
[code]
**Environment**

* System information:
`Linux 5.4.83-v8+ aarch64`
im using raspberry pi 4 with 8gb ram and docker
[code]

[code]

* Prometheus version:
[code]

* Prometheus configuration file:
[code]

* Logs:
[code]

[2021-03-28 12:48] roidelapluie commented on #8661
[code]

I see that your system is aarch64, can you please try with the arm64 version of the prometheus server? Thanks.

[2021-03-28 14:16] vonProteus commented on #8661
as far i am aware rpi has only docker available in 32 bits
and all my images are 32bits armv7
when i forced arm64 image `prom/prometheus@sha256:3605367c692243924ef2a25bdd9daa258eb9b5a950a19e2c46069ce6906a955b`
service won't start

[2021-03-28 14:57] LeviHarrison commented on #8550
How about having something like this:

[code]

https://github.com/prometheus/prometheus/blob/b3feb2c2aed8cd27f69613985ad7ddcab2cb1e6c/tsdb/head.go#L754

[2021-03-28 15:20] roidelapluie commented on #8550
We probably also want the startFrom exposed as First, and the total should probably be called Last.

[2021-03-28 15:21] roidelapluie commented on #8661
Which version are you updating from?

[2021-03-28 15:25] LeviHarrison commented on #8550
Ok, will do! And should this be a management endpoint or just a regular API one?

[2021-03-28 15:36] vonProteus commented on #8661
to be honest i'm not sure
because i use latest tag

[2021-03-28 18:55] roidelapluie commented on #8550
This is a regular API endpoint. Note that there might be some time before we even start replaying the wal that we would need t handle as well.

[2021-03-28 18:57] LeviHarrison commented on #8550
So you're saying that we should add other indications of activity?

[2021-03-28 19:21] roidelapluie commented on #8550
Somehow I just want to make sure that you know we can spend up to a few seconds before we actually replay the wal. I think  we can zero all the wall replay info during that moment.

[2021-03-28 20:46] roidelapluie commented on #8661
mmh do you still have the previous logs maybe? the version should be shown here.

In the meantime, you could move the WAL to get going again.

[2021-03-29 03:59] vonProteus commented on #8661
removing of wal helped (it works now and i cam connect to it)
i don't have previews logs :(
logs from 5 minuts of work without wal
[code]

[2021-03-29 04:33] vonProteus commented on #8661
that’s new
after ~30m of removing wal i get something like this
[code]

[2021-03-29 09:17] RichiH commented on #2204
The status we have is in the design doc. Anyone willing to help with a PR, please contact us.

[2021-03-29 09:57] roidelapluie opened #8663 "Experimental editor does not wrap"
I opened a rule in the graph expression and started expanding it for debugging.

It turns out the input became wider and wider, to the point where the page itself expanded.

I think the behavior should be to wrap the queries.

![wrap](https://user-images.githubusercontent.com/291750/112820282-c24fec80-9085-11eb-95d6-54174112a7b2.png)

cc @Nexucis @juliusv @bwplotka

[2021-03-29 09:58] roidelapluie commented on #8663
This is the classic editor:
![wrap2](https://user-images.githubusercontent.com/291750/112820650-19ee5800-9086-11eb-9fe0-8815900b50e8.png)

[2021-03-29 10:00] roidelapluie commented on #8663
Note: this is not the actual query I used to test 🤣

[2021-03-29 10:00] juliusv commented on #8663
Haha! Luckily we already know how to add wrapping (I didn't want it in PromLens though (maybe I should?)) :) Will send a PR.

[2021-03-29 10:17] Nexucis commented on #8663
oh you definitely should @juliusv :D. try PromLens on a small laptop (like 11") you will be annoyed quite quickly

[2021-03-29 10:31] Nexucis commented on #8663
but if you don't want to wrap it @juliusv, the other way to do it is to force the editor to have a fixed width, so it can pop up an horizontal scroll bar.

[2021-03-29 10:33] roidelapluie commented on #8663
My preference is to wrap.

[2021-03-29 10:40] Nexucis commented on #8663
oh yeah me too. horizontal scroll bar is annoying as well after using it multiple time. But well when you are talking about responsive issue, you don't have so many way to solve it. Or use an horizontal bar, or wrap the text.

Wondering if you can use a combination of both actually.

Note that I was more talking for PromLens.

[2021-03-29 10:47] juliusv commented on #8663
Yeah, I'll look into wrapping. It won't be possible for the tree view though :) Anyway, not Prometheus-specific.

[2021-03-29 10:55] roidelapluie commented on #8663
fixed by #8665

[2021-03-29 10:56] #8663 closed

[2021-03-29 10:59] roidelapluie commented on #8661
Mmh it seems prometheus restarted again. What is the size of your wal?

[2021-03-29 11:18] RichiH commented on #8543
We are exploring similar in prometheus/snmp_exporter and would like to keep the approaches aligned. Ben and my current thinking there was to go through CLI parameters. We will think about this and update.

For reference, see
* https://github.com/prometheus/snmp_exporter/issues/628
* https://github.com/prometheus/snmp_exporter/issues/625
* https://docs.google.com/document/d/1McJJIiJfHgoecVrVNXx4ABJ

[2021-03-29 11:37] roidelapluie commented on #8543
I have added the "flag" alternative to the considered options in our design doc.

[2021-03-29 11:59] SuperQ commented on #8543
One question, do we need a top-level `scrape_configs:` key in the example of the `blackbox.yml`? The top-level of the file could simply be a list.

[2021-03-29 12:05] roidelapluie commented on #8543
We have a top level `groups` in the rules, that is why I ketps the top level scrape_configs, for consistency.

[2021-03-29 12:07] SuperQ commented on #8543
Maybe it would be simpler to make this a much more generic `include_files:` directive, then included files could contain `scrape_configs` and/or `rules`.

We would need a recursive depth handler, but it would be much more generic.

[2021-03-29 12:08] RichiH commented on #8543
Julien, look into IRC, we shared a Meet URL :p

[2021-03-29 12:37] vonProteus commented on #8661
[code]

[2021-03-29 14:59] RichiH commented on #8543
Our current thinking is at https://docs.google.com/document/d/1BK_Gc3ixoWyxr9F5qGC07HEcfDPtb6z96mfqoGyz52Y and I will open a thread on prometheus-developers to make people aware of it, as well.

[2021-03-29 17:31] JessicaGreben opened #8667 "Remaining tasks for rule backfiller"
The main [PR](https://github.com/prometheus/prometheus/pull/7675) that implements retroactive rule backfiller (ref: Issue #11) is now merged, but there are a few final tasks that need to be completed. This issue tracks those issues:

- [ ] add documentation in the "storage" page  ([ref](https://github.com/prometheus/prometheus/blob/main/docs/storage.md#backfilling-from-openmetrics-format))
- [ ] a

[2021-03-29 19:46] tsibley opened #8668 "Maintaining free range markers on the the default port allocations page"
:wave: I noticed the [default port allocations](https://github.com/prometheus/prometheus/wiki/Default-port-allocations) wiki page was missing some markers for free ranges, so I [wrote a little program](https://gist.github.com/tsibley/8a705ba15fef4bc03d833f424419237b) to keep them up-to-date (mostly so I could myself easily see what ranges were free :-). I don't know if there's any interest in maki

[2021-03-29 21:43] #7692 closed

[2021-03-30 01:57] gupf0719 opened #8670 "prometheus runtime.sigpanic() signal SIGBUS: bus error"
**Environment**

* System information:

[code]
* Prometheus version:

[code]

* Prometheus configuration file:
[code]

* Prometheus deployment file:
[code]

* Logs:
[code]

had similar problems before

https://github.com/prometheus/prometheus/issues/3375
https://github.com/prometheus/prometheus/issues/3781

[2021-03-30 04:32] Harkishen-Singh commented on #8567
For this issue, will having a background routine that does a periodic scan of all remote read endpoints, by evaluating with a light promql expression, like `1` and then wait for the actual remote-read timeout to occur. If the timeout occurs, mark that DOWN otherwise if it succeeds within the timeout, mark as UP. Meanwhile, the PromQL evaluation from secondary storages will happen only on UP marked

[2021-03-30 04:35] Harkishen-Singh commented on #8613
This was planned was part of #7779 but that's inactive at the moment for the reviewing process. If we can resume work there, then I can extend the pretty process as described here.

[2021-03-30 08:10] codesome commented on #6038
Still relevant, hence reopening

[2021-03-30 10:36] hdost opened #8673 "remote_write discovery functionality."
## Proposal
**Use case. Why is this important?**
Similar to https://prometheus.io/docs/prometheus/latest/configuration/configuration/#alertmanager_config
the use of remote_write resources being available via consul has (to me obvious advantages)

[2021-03-30 10:58] beorn7 commented on #5865
@krasi-georgiev why did you close this? It contains a lot of meat still to explore.

[2021-03-30 10:58] beorn7 commented on #5865
Reopening for now, to not lose track, and assigning to myself.

[2021-03-30 11:12] roidelapluie commented on #8673
We would need to discuss between this and #8402

[2021-03-30 11:16] roidelapluie commented on #8670
Thanks for this. It might be https://github.com/prometheus/prometheus/issues/8318, because it seems it happened around 10:00, so when we change the head.

[2021-03-30 11:16] roidelapluie commented on #8670
cc @codesome WDYT?

[2021-03-30 11:20] hdost commented on #8673
Indeed this seems a duplicate, will close and have conversation there.

[2021-03-30 11:20] #8673 closed

[2021-03-30 11:26] roidelapluie commented on #8668
Thank you for this. The default port allocation page is mainly community maintained, and the format is quite fragile. I am unsure we should "automate" it in its current form.

I have added this topic to the discussion topic we have at our montly public developers summits: https://prometheus.io/community to see if we need have a better solution than a wiki page.

[2021-03-30 12:16] hdost commented on #8402
So based on https://github.com/prometheus/prometheus/blob/df80dc4d3970121f2f76cba79050983ffb3cdbb0/notifier/notifier.go#L451
It appears that in alertmanager attempts to send to all and then succeeds if it is received on >=1 alertmanager.
This seems fine for alert manager, trying to push this conversation along, would a simple round robin work?

[2021-03-30 12:46] SuperQ commented on #8668
Yes, we didn't imagine needing thousands of individual port allocations when we first created the page. :joy_cat:

[2021-03-30 16:34] gupf0719 commented on #8670
Is this bug solved?

[2021-03-31 01:28] MrYueQ commented on #8357
Hi. I also encountered this kind of problem. It was found that the cache was not released. It's easy to get OOM from the kernel。
![image](https://user-images.githubusercontent.com/14846522/113077164-3237b180-9203-11eb-9b42-ab42fcf396c9.png)

[2021-03-31 08:16] roidelapluie commented on #7895
@Antiarchitect Starting Prometheus 2.27, we will be able to substitute env variables in external labels if you use `--enable-feature=expand-external-labels`

This can be tested  with the `main` docker image.

[2021-03-31 08:17] roidelapluie commented on #6376
@mojo-zd   Starting Prometheus 2.27, we will be able to substitute env variables in external labels if you use `--enable-feature=expand-external-labels`

This can be tested  with the `main` docker image.

[2021-03-31 08:17] roidelapluie commented on #6047
@weeco  Starting Prometheus 2.27, we will be able to substitute env variables in external labels if you use `--enable-feature=expand-external-labels`

This can be tested  with the `main` docker image.

[2021-03-31 08:18] Antiarchitect commented on #7895
@roidelapluie Great news. I have fought this problem by turning off autorefresh of prometheus configs and some bash + sed magic. Will try as soon as I update the chart.

[2021-03-31 08:20] roidelapluie commented on #2357
A second vote happened this week and the special use-case of external labels was considered for env variable substitution.

Starting Prometheus 2.27, we will be able to substitute env variables in external labels if you use `--enable-feature=expand-external-labels`

This can be tested  with the `main` docker image.

[2021-03-31 08:24] roidelapluie commented on #7895
2.27 is scheduled in 5 weeks, the doc is here if you want to test with the main docker image : https://github.com/prometheus/prometheus/blob/main/docs/disabled_features.md

[2021-03-31 08:43] jasonrosy opened #8677 "The number of series returned by up or probe_success queries do not match the number of targets"
**What did you do?**

I am running blackbox_icmp checks against 3279 targets.   All checks are running fine and all targets state are showing as "UP".

    blackbox_icmp (3279/3279 up)

**What did you expect to see?**

When I run the query "up" or "probe_success" it should return all 3279 entries.

**What did you see instead? Under which circumstances?**

Queries only return +- 600 entries:

    c

[2021-03-31 08:52] roidelapluie commented on #8677
This is because your scrape interval is higher that the lookback delta. In an instant selector, you would only have the metrics from the last 5 minutes. 30 minutes is quite high, are you sure it is not a typo?

[2021-03-31 09:12] jasonrosy commented on #8677
Thanks for the quick reply and solution.  The scrape interval is intentionally set high.

I have increased the query.lookback-delta and I now see the expected result:

[code]

[2021-03-31 09:12] #8677 closed

[2021-03-31 16:35] Talador12 commented on #7735
Request: could we update the dark mode page load order to show a dark screen while the page is loading? If you have it set to dark mode and it takes a minute to load, it shows a blinding white screen until the page is loaded.

[2021-03-31 22:04] roidelapluie commented on #8670
That but is not yet solved.

[2021-04-01 03:01] gupf0719 commented on #8670
Is there any way to circumvent this problem temporarily? Our prometheus always restarts

[2021-04-01 05:00] swapnilmsurve commented on #4633
we built a proxy solution for this case
https://github.com/americanexpress/k8s-prometheus-proxy

[2021-04-01 06:30] roidelapluie commented on #8670
If you know the rule group that causes this you can change the rule group name slightly.

[2021-04-01 08:55] gupf0719 commented on #8670
Means caused by the alert rule or recording rule ？

[2021-04-01 17:41] cstyan commented on #8625
You can check the metric `prometheus_remote_storage_shards_desired` to see how many shards remote write wants to run. I wouldn't necessarily recommend increasing `max_samples_per_send` just yet.

[2021-04-01 18:40] jemag commented on #8586
I had the same error, but it did work using @main. I do not know much about golang, but shouldn't it use the default branch of the repository?

Not sure if the requirement for @main is for everyone or just a particularity of mine and rubbish setup. If it is the former, it might be work documenting in the README.

[2021-04-01 21:12] roidelapluie commented on #7500
I am closing this due to lack of feedback.

[2021-04-01 21:12] #7500 closed

[2021-04-01 21:52] roidelapluie commented on #6836
This is fixed by #7950 @dipack95

Can you confirm?

[2021-04-01 21:55] roidelapluie commented on #6814
Can you please try Prometheus 2.26?

The help is present in the new experimental editor:
![help](https://user-images.githubusercontent.com/291750/113358253-bdb95b80-9345-11eb-80f3-2fc3da187b38.png)

[2021-04-02 01:31] Hangzhi commented on #2392
I found this "[Port the Prometheus API to OpenAPI](https://github.com/cncf/mentoring/blob/master/summerofcode/2021.md#port-the-prometheus-api-to-openapi)" in the GSoC project idea list for this issue.

Here are some questions about the goal of this project and how to achieve this.

What API should be ported?
I found the [web API](https://github.com/prometheus/prometheus/blob/main/web/api/v1/api.go

[2021-04-02 03:36] coury-clark commented on #8548
I've been looking to contribute for a while and I thought this looked interesting, so I spent some time on a possible intermediate solution. Following the lines of the discussion in #6881 I tried out adding a search field to this page, which would allow the filter checkboxes to default to disabled if the counts are too high to render. The results seem ok with a few thoughts:
1. Using local storage

[2021-04-02 17:39] csmarchbanks commented on #1381
@FujishigeTemma Those are great discussions to start, if you have questions about GSoC feel free to reach out to me via [email](mailto:csmarchbanks@gmail.com) or in the CNCF slack. Otherwise, part of the GSoC project will be to make sure a design is accepted and then start implementing it.

[2021-04-02 21:22] Nexucis opened #8685 "Customize through the flags the configuration of the new PromQL editor"
the lib `codemirror-promql` has different parameters that defines:
*  the amount of time to consider when retrieving the metric. By default the interval is 12h. So currently when the new PromQL editor is autocompleting the metric, it is retrieving the metric existing since 12h.
* the maximum number of metrics in Prometheus for which metadata is fetched. If the number of metrics exceeds this limit,

[2021-04-02 21:26] Nexucis commented on #8685
and I forgot also there is a LRU cache embedded into the lib where there is a maxAge which is the maximum amount of time that a cached completion item is valid before it needs to be refreshed. By default it's 5min

Maybe for this one, it's not really important, but I guess it won't hurt if it's possible to change as well it's default value.

[2021-04-02 21:28] Nexucis commented on #8685
aaand if Thanos is going to integrate the new PromQL editor, maybe it would be interesting to have these flags as well in Thanos.

[2021-04-02 21:32] roidelapluie commented on #8685
I don't have an opinion here.

cc @juliusv

[2021-04-02 22:50] Nexucis opened #8686 "Use a common TS PrometheusClient between codemirror-promql and prometheus"
I just noticed that in https://github.com/prometheus/prometheus/blob/main/web/ui/react-app/src/pages/graph/PanelList.tsx#L134 there is a way to retrieve the list of the metric.

Do you think it would be a good idea to actually use the PrometheusClient that has been implemented here: https://github.com/prometheus-community/codemirror-promql/blob/master/src/lang-promql/client/prometheus.ts#L83

I ho

[2021-04-03 12:24] apeksharma opened #8687 "rate() function giving spurious peak"
**What did you do?**
Plotting graph of a metric (say M) and the rate of that metric.

**What did you expect to see?**
No deviation in normal graph of rate(M)

**What did you see instead? Under which circumstances?**
Unexpected spike in the graph

![image](https://user-images.githubusercontent.com/4148936/113478185-e015bb00-94a4-11eb-9b2a-43321e1e0b2e.png)

Data points for that duration
![image](ht

[2021-04-03 15:06] neredera commented on #3806
It would be nice to have a rate function, that gives a result that can be consistent summed.

This would have the nice property that the area under a diagram stays the same when changing the display resolution/interval.

I think in PromQL terms this would mean that the following invariant always holds:

rate(metric[$long_interval]) =
  sum_over_time(rate(metric[$short_interval})[$long_interval:$sh

[2021-04-03 20:43] roidelapluie commented on #8687
You probably have resets.

Can you please provide the raw metrics?

to do that, run `mymetric{label="a"}[3h]` in the "console" tabs.

[2021-04-04 07:24] Harkishen-Singh commented on #8567
Will be happy to work on this if the approach is good.

[2021-04-04 07:27] HelloKunal commented on #2392
Hey, @roidelapluie

I am also interested in this project as a part of GSoC! I'd appreciate it if you would answer Hangzhi's questions as well as mine

1. There are currently two major OpenAPI releases, 2.0 and 3.0. Version 3.1 was  on June 18, 2020, as an initial release candidate. While it takes some important steps forward, it adds to the confusion over which version to use?
2. Are there any enh

[2021-04-04 07:42] roidelapluie commented on #8567
This would add a lot of complexity, and we also guarantee to always send the external labels as selectors for remote reads, so we can not do simple queries. Additionally I expect most queries not needing to go to remote storage because in happy paths read_recent should be false.

I think the behavior of Prometheus is simple and correct, as I explained above, and that this issue is not actionable.

[2021-04-04 07:43] roidelapluie commented on #8577
Prometheus 2.26 binaries for Apple Silicon are released.

[2021-04-04 07:43] #8577 closed

[2021-04-04 07:56] Harkishen-Singh commented on #8418
I think the current code handles that?

That looks like work for #8549

Do we have anything else left in this issue?

[2021-04-04 08:26] apeksharma commented on #8687
Thanks Julien for responding.

PFA raw metrics.
Also, adding graphs from the exact same duration for easy correlation.
![image](https://user-images.githubusercontent.com/4148936/113503133-7bfb0180-954d-11eb-8f31-8ea8e58dd900.png)
[raw_metrics.txt](https://github.com/prometheus/prometheus/files/6254176/raw_metrics.txt)

[2021-04-04 08:49] roidelapluie commented on #8687
You have a counter reset:

439 @1617442554.304
439 @1617442554.315
440 @1617442564.304
439 @1617442564.315
440 @1617442574.33
440 @1617442584.297

[2021-04-04 08:51] roidelapluie commented on #8687
It might be a bug in prometheus. Why is that scraped twice at the same time?

Can you are more about your configuration?

[2021-04-04 09:14] apeksharma commented on #8687
cc: @sanjeevpandey19: Sanjeev, would you be able to help with above questions?

[2021-04-04 10:25] roidelapluie commented on #2392
- We will want to support the latest openapi out there - by using go libraries. I am not sure about the state of the upstream go libraries - that will need to be checked upfront. @bwplotka seems to have good ideas around working with protobuf definitions.
- The libraries on /api/v1 are in scope and will be "recreated" under /api/v2
- The /api/v1/read and /api/v1/write endpoints are out of scope as

[2021-04-04 16:30] conorevans commented on #8528
Hi @roidelapluie I've been looking at issues for a first contribution. This looks pretty reasonable to me - can you assign me in accordance with [« steps to contribute »](https://github.com/prometheus/prometheus/blob/main/CONTRIBUTING.md#steps-to-contribute).

I have just one question on functionality.

The default call to `/targets` has the `active` query param set to true. Are you saying that th

[2021-04-04 18:02] conorevans opened #8689 "CHANGELOG: hyperlink PRs"
## Proposal

I find the Prometheus CHANGELOG to be quite unfriendly - hyperlinking the PRs would make things a lot nicer, imo.

Happy to do this once given the go-ahead, so assign to me if you're happy for me to do this. Thanks

[2021-04-04 18:18] roidelapluie commented on #8689
Sounds like a good idea to me. Thanks!

[2021-04-05 10:40] #8689 closed

[2021-04-05 11:53] codesome commented on #6836
Not fixed because the new block writer uses the Head internally. But I don't think we ever faced any issue yet using the Head block, especially with m-mapping now there is not much memory requirement. So I would say this is no longer required until we face any limitations with current approach.

[2021-04-05 11:55] juliusv commented on #8528
@conorevans So `active` / `dropped` refers to individual targets that were kept or dropped during relabeling. If all targets for a scrape pool were dropped *or* there were 0 targets to begin with in a pool, then the old UI still shows the empty pool, while the new one doesn't. The tricky bit is that pools are only contained in the API response (e.g. https://demo.promlabs.com/api/v1/targets) as par

[2021-04-05 11:58] juliusv commented on #8528
Sorry, for the Go interface I meant to link https://github.com/prometheus/prometheus/blob/431ea75a11ca165dad9dd5d629b3cf975f4c186b/web/api/v1/api.go#L91-L95, which actually does group by scrape pool on the first level, so that part is good.

[2021-04-05 15:54] Tanemahuta commented on #5926
Hello there,

I have an implementation ready for which I refactored to ReadClient as follows:
[code]

[2021-04-06 08:19] Nexucis opened #8694 "As a third party, I can't validate the Rule using the package rulefmt"
Hello,

Through the PR #6533, the package `rulefmt` doesn't expose anymore a way to validate a single rule when using the struct `Rule`.

Before it was possible and useful. Because when you are wrapping the `Rule` in a third component that would like to expose this struct before deploying it into Prometheus, then it was possible to ensure that the `Rule` is valid in the Prometheus terme.

I know i

[2021-04-06 08:56] roidelapluie opened #8695 "Access external address in alerts"
It would be useful to access the external address in alerts annotations, like we currently access the external labels.

[2021-04-06 10:35] Nexucis commented on #8686
I guess the answer should come from you @juliusv ^^ (following the code ownership)

[2021-04-06 10:59] marcoboffi commented on #6934
+1

[2021-04-06 11:07] juliusv commented on #8686
@Nexucis We use the `useFetch()` hook on every page to fetch info from the API (not just data-related info), which I think is a fine and React-ish way of doing things, and doesn't need features such as client-side caching (since it's always just a single request upon page / component load). The Prometheus client in cm-promql is focused around metadata querying only, and currently I don't see a goo

[2021-04-06 11:30] Nexucis commented on #8686
mmm ok. So you are more thinking about injecting a list of data into the promClient of cm-promql ?

Well we could think about creating a TS lib that would contains a complete Prometheus Client covering the whole API like it has been done in Golang and other language.

[2021-04-06 11:44] bwplotka commented on #5926
It looks great @Tanemahuta, but we already have another PR https://github.com/prometheus/prometheus/pull/8351#pullrequestreview-628870312

Maybe you can help us review it and maybe give your design as suggestions in the comments? 🤗

[2021-04-06 14:34] Tanemahuta commented on #5926
Will do. This changes the complete design and breaks the API though.

[2021-04-06 17:11] jsoref commented on #39
I'm trying to deal w/ the fact that alertmanager likes to send queries to prometheus of the form:

[code]

I'd really prefer alertmanager to be able to send this query to prometheus of the form:

[code]

the difference being w/ `>`, I can't see where the data was outside the clipped window.

[2021-04-06 19:12] luigisainini opened #8696 "msg="Error sending alert" err="bad response status 404 Not Found""
Deploying a monitoring stack with prom\prometheus:latest and prom/alertmanager:v0.12.0 i received the error:

`prometheus_1         | level=error ts=2021-04-06T14:58:25.808Z caller=notifier.go:527 component=notifier alertmanager=http://alertmanager:9093/api/v2/alerts count=1 msg="Error sending alert" err="bad response status 404 Not Found"`

I expected to have no problem with the latest version. I

[2021-04-06 20:24] csmarchbanks commented on #8418
Depending on the implementation #8549 can likely close this if it is agreed as a path forward. If not then some other work specific to 429s may need to be done.

[2021-04-06 20:45] roidelapluie commented on #8696
Hello,

Prometheus 2.26 has switched to alertmanager API v2 as announced in the release notes of 2.25 and 2.26. That API was release 2 years ago.

You version of Alertmanager is very old. You could update alertmanager or set `api_version` to `v1` in your prometheus configuration:
https://prometheus.io/docs/prometheus/latest/configuration/configuration/#alertmanager_config

[2021-04-06 20:45] #8696 closed

[2021-04-07 05:58] jingyic commented on #2392
Hello, @roidelapluie

I also found this project in GSoC and am very interested in it. After a preliminary understanding and testing of prometheus and swagger, I have some ideas and questions for the project.

I think the goal is to autogenerate swagger docs for APIs. For that, there are two go libraries to choose, one is swaggo/swag, and the other is go-swagger. Through simple tests,  I prefer to

[2021-04-07 07:35] juliusv commented on #39
@jsoref I assume you are talking about the links back from Alertmanager to the generator of an alert (usually Prometheus), or generally being able to graph alert rule expressions with thresholds extracted somehow into their own visual indicator (vs. filtering).

Prometheus does not have a concept of a "threshold" per se, it just accepts arbitrary PromQL expressions in alerting rules, and those may

[2021-04-07 08:16] jsoref commented on #39
@juliusv: yes, those. I'm not defining `trigger_threshold` as a magic concept for prometheus

`super_impose_all_of_these{metric{something=...}, metric{something_else=...}}` would be just as useful to me.

It's possible for some reason that I'd want the second line to have a slope, or a quadratic, or a cubic, or a logarithmic function instead of a constant value.

It just happens that for the avera

[2021-04-07 08:27] roidelapluie commented on #39
If the labels are  different you can use `or`

[2021-04-07 09:01] jsoref commented on #39
@juliusv: so, I see this as having these pieces:

1. prometheus rules (which may contain something threshold like)
2. a link to alert manager
3. a link back to prometheus
4. prometheus offering a way to graph two things as i'm imagining them (which seems to be this issue)

If my magical `super_impose_all_of_these{..., ...}` existed (4), then (3) could be adjusted to use it. And (2) could be adjust

[2021-04-07 09:05] roidelapluie commented on #39
You can try `or vector(500)`

[2021-04-07 09:12] jsoref commented on #39
That works. (Could the error suggest that?)

[2021-04-07 09:33] Nexucis opened #8699 "add the new promQL editor"
Hello,

a new PromQL editor has been added into the webapp of Prometheus in v2.26.

Do you think it would be a good idea to have it as well ? Also as an experimental editor ? Or directly as the main editor ?

[2021-04-07 09:34] Nexucis commented on #8699
ooups wrong repo .... Sorry for the noise

[2021-04-07 09:34] #8699 closed

[2021-04-07 11:33] roidelapluie commented on #8699
:)

[2021-04-07 14:56] beorn7 commented on #8689
As said in the PR, I think this is a bad idea. It also affects all repos and should be decided collectively.

[2021-04-07 21:05] vsliouniaev commented on #8687
Reminds me a bit of this issue: https://github.com/prometheus/prometheus/issues/6894

[2021-04-07 23:33] roidelapluie commented on #8687
I totally agree and I digged multiple times in the codebase without finding the bug yet...

[2021-04-08 08:10] Harkishen-Singh commented on #3351
I was thinking to take this, but it seems like #7078 does the work. A gentle reminder to @bwplotka for review.

[2021-04-08 09:23] wangzhao765 opened #8702 "Metric "up" may miss when error in scrape"
Prometheus version: 2.19.2
We found that if the scrape returns an error "upstream connect error or disconnect/reset before headers. reset reason: connection termination", the metric "up" will miss the data point (instead of a value of 0 or 1). However, scrape_duration_seconds and scrape_samples_scraped keep normal.

[2021-04-08 09:49] chrishyc opened #8703 "$labels.__name__ not work"
in alertmanager my-rule.yaml
[code]
order_amount_sum_total.'{{$labels.\_\_name\_\_}}' can get the metric name,but
dubbo_invoke_exception can not get {{ $labels.\_\_name\_\_ }} the metric name

but all can get series
[code]
[code]

[2021-04-08 10:58] ngocketit commented on #6654
Got the same issue. Tried to change https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml#L636 and https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml#L640 but still no luck. @smirnov-mi Have you managed to fix it?

[2021-04-08 12:13] Harkishen-Singh commented on #6124
I think this is a duplicate of #3351

[2021-04-08 12:20] Harkishen-Singh commented on #4057
@juliusv I was looking into this issue, but I couldn't understand how is `querier.Select()` used to query only metadata. Can you please say about that?

[2021-04-08 15:40] apeksharma commented on #8687
I see. Can close this in favor of earlier one then.
Thanks Julien and Vasily

[2021-04-08 15:51] julienmary opened #8704 "False Duplicate Rules"
promtool find some duplicates rules, which indeed are not.

The example of rules.yml file below will help to reproduce the problem : The label site is fixed at different values, however, rules are detected as duplicated.

**What did you do?**
promtool check rules rules.yml
**What did you expect to see?**
  SUCCESS: 2 rules found
**What did you see instead? Under which circumstances?**
1 duplicate

[2021-04-08 18:02] roidelapluie commented on #8687
Can you still provide the requested info please?

[2021-04-08 18:13] roidelapluie commented on #8704
Thank you for this. `avg()` will not return the label site, you must use `avg({site="xx"}) by (site)` otherwise the rule is indeed a duplicate.

I am closing this, feel free to reopen if I missed something.

[2021-04-08 18:13] #8704 closed

[2021-04-08 18:17] roidelapluie commented on #8703
Hello,
`rate({__name__=~'dubbo_.*_fail_.*'}[5m])` is not a valid PromQL expression. It should return an error `Error executing query: vector cannot contain metrics with the same labelset`.

It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometh

[2021-04-08 18:17] #8703 closed

[2021-04-08 18:19] roidelapluie commented on #8702
Thank you for your issue. The logic for this has changed in Prometheus 2.20. Can you please try to reproduce with a higher version and provide us more data to better understand what is going on?

[2021-04-09 02:57] chrishyc commented on #8703
i find the reason why __name__ is removed after the metrics compute.
[code]
[__name__ remove](https://www.robustperception.io/whats-in-a-__name__)

there is some doc to learn the logic what happens when the metric compute?

[2021-04-09 05:31] sanjeevpandey19 commented on #8687
@roidelapluie what sort of specific information you need here.

Do you want to know if we have setup using operator or vanila Prometheus or you would need Prometheus.yaml itself  ?

[2021-04-09 10:44] Harkishen-Singh commented on #3696
Is this still valid? The `TestSampleDelivery` now uses the NewStorage way as we expect. Plus, the test in TestSampleDelivery uses custom queueConfig, which means issues like config not being copied from yaml will now be caught. Moreover, other tests in queue_manager_test seem to be good with NewQueueManager based on their aim (except TestShouldReshard, but that is fine).

So should we close this?

[2021-04-09 12:05] Harkishen-Singh commented on #4184
If we want the read when `read_recent: false`, to read from remote-storages only when the data does not exist in local storage, then wouldn't we change the secondary storage-querier's mint to be `startTime + 1` (only when read_recent is false) so that only those sample are queried from remote that are not present in the local. Then read_recent will no longer be misleading (afaik, right now it read

[2021-04-09 12:07] Tafsiralam commented on #7955
From above comment

Should I upgrade to the latest stable version v2.26 to fix the WAL size issue? or should I go for v2.21?

[2021-04-09 13:01] rizerzero opened #8705 "Service Discovery not displaying correct informations"
**What did you do?**
Installed prometheus (docker)  but did not yet install the nodeexporter,
when go the prometheus interface if I click on Service Direcotry I can't see that nodeexporter is not up, but when I go to target I get the correct information
nodeexporter (0/1 up)
**What did you expect to see?**

Service Discovery
nodeexporter (**0 / 1**active targets)
prometheus (1 / 1 active targets)

[2021-04-11 10:06] bwplotka opened #8707 "Instrument Exemplar Storage and Scraping"
It would be amazing to know more about what is happening with exemplars in Promethus based on metrics.

AC:
* Prometheus exposes metrics on:
   *  how many exemplars were scraped
   * how many we hold in queue
   *  the oldest exemplar in queue etc

cc @cstyan   (Unless I missed something and we have those already - could not find though)

[2021-04-11 16:01] yeya24 opened #8708 "Possible duplicate out of order exemplars metrics"
**What did you do?**
I am looking at the existing exemplar metrics.

[code]

I found that [prometheus_tsdb_exemplar_out_of_order_exemplars_total](https://github.com/prometheus/prometheus/blob/289ba11b79a4ddc02a5566f6344dd33533dfeb2f/tsdb/exemplar.go#L61) and [prometheus_tsdb_out_of_order_exemplars_total](https://github.com/prometheus/prometheus/blob/c7a62b95cea098b677a958bf4e20084bc427aad5/tsdb/he

[2021-04-12 03:17] gupf0719 commented on #8670
Is there any progress on this issue?

[2021-04-12 04:58] RajeshDasari opened #8710 "Error on ingesting out-of-order samples is noticed when time shifts by 10 min ahead"
when our system is booted up , system time was in sync with ntpd service, and prometheus also started running at that time(08:51 AM), after some 5 minutes, system time got in  sync with GNSS receiver and time was advanced by 10 mins(09:16 AM).
we have  noticed  the below error logs  from prometheus.

14:24:41.837951 info CONTROLLER prometheus[1343]: level=warn
ts=2021-03-31T08:54:41.837Z caller=sc

[2021-04-12 07:44] lilic commented on #8291
Sadly I never got the time to work on this, due to other higher priority tasks. Now since leaving the team, I have handed the task over to @dgrisonnet.

But thank you @roidelapluie for pinging me on it! 🙇‍♀️

[2021-04-12 07:45] roidelapluie commented on #8705
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-04-12 07:46] roidelapluie commented on #8708
Thank you for your report.

cc @cstyan

[2021-04-12 07:48] roidelapluie commented on #8710
We have fixed time-jump related fixes in Prometheus 2.25.2. Can you please upgrade and test again?

[2021-04-12 07:52] rizerzero commented on #8705
@roidelapluie this is not a question, it's a bug on the Service Discovery page that does not show correct information about active targets.

[2021-04-12 08:24] roidelapluie commented on #8705
Thanks for clarifying. Can you please provide the responses sent by the API ?

[2021-04-12 08:32] rizerzero commented on #8705
The API response seems to be correct but not the UI
![image](https://user-images.githubusercontent.com/1518379/114364920-34422e80-9b7a-11eb-85d9-1c218717fd2c.png)

[code]

[2021-04-12 08:34] roidelapluie commented on #8705
This is not a but, in the service discovery page, it means that the target is not dropped by relabeling. It is not a a bug.

[2021-04-12 08:36] rizerzero commented on #8705
Ok, then this is very confusing I'm not sure in which case there will be 0/1 on the service discovery page.
Thank you.

[2021-04-12 08:45] roidelapluie commented on #8705
If you have a relabellong rule with `action: drop` or `action: keep` you can dismiss targets.

[2021-04-12 08:47] #8705 closed

[2021-04-12 08:47] rizerzero commented on #8705
Thank you

[2021-04-12 09:11] roidelapluie commented on #8687
I'd like the prometheus.yml to see the relabeling rules and the jobs, if possible.

[2021-04-12 09:14] dgrisonnet commented on #8291
Happy to take over @lilic's work on this feature :slightly_smiling_face:

[2021-04-12 09:34] HelloKunal commented on #2392
can I also use Redoc, its very simple to implement and the result is much cleaner to read

only swagger : https://petstore.swagger.io/#/pet/uploadFile
swagger with Redoc : https://redocly.github.io/redoc/

[2021-04-12 10:08] roidelapluie commented on #2392
It would need to be nicely integrated in the https://prometheus.io/docs website.

Also, choosing the correct library would probably be part of the gsoc time.

[2021-04-12 11:58] bwplotka commented on #8708
Found confusing too, fixing attempt: https://github.com/prometheus/prometheus/pull/8712

[2021-04-12 11:58] bwplotka commented on #8707
Fixing attempt: https://github.com/prometheus/prometheus/pull/8712

[2021-04-12 18:09] Harkishen-Singh commented on #8312
I wonder when you restarted after decreasing the system time (and prometheus was running by then), there were blocks in the tsdb dir such that the minvalidTime of head is still higher than 1pm. Maybe that is why it was saying out of order. Might be, deleting few recent blocks (along with wal) would have brought the minValidTime below 1pm and that should have been fine.

[2021-04-12 22:30] clux commented on #8707
Just spotted this issue. Does this mean that scraping of exemplars currently does not work?

[2021-04-12 22:40] roidelapluie commented on #8707
It means that we could have more metrics to get more insights, but yes examplars do work in Prometheus 2.26.

[2021-04-12 23:06] roidelapluie commented on #8394
This is probably a duplicate of #8243 fixed by #8601.

[2021-04-12 23:06] roidelapluie commented on #8312
This is probably a duplicate of #8243 fixed by #8601. @liuliqiang can you update to 2.25.2 or 2.26.0 to test the fix? Thanks!

[2021-04-13 01:03] Drugoy opened #8715 "Hide target's basic_auth from Prometheus Web UI"
**What did you do?**
I've created a json_exporter job with a target with `basic_auth` block (for target, not for exporter!).

**What did you expect to see?**
I expect Web UI NOT to expose target's basic_auth access.

**What did you see instead? Under which circumstances?**
Prometheus Web UI (`/targets` endpoint) exposed target's host in `uri://login:password@host/` format as the value for label `t

[2021-04-13 01:53] Drugoy commented on #8715
Edit: I've noticed I can't actually use `basic_auth` there.
This issue is probably local to just json_exporter.

[2021-04-13 01:53] #8715 closed

[2021-04-13 03:15] Harkishen-Singh commented on #8198
Should we implement this safety check?
We can add a parameter in scrape configs that takes care while we scrape the labelsets and report error on violation.

WDYT @beorn7 @matttproud

[2021-04-13 05:36] Harkishen-Singh commented on #8198
Ah, this seems like a duplicate of #8291.

[2021-04-13 09:26] RyanW8 opened #8717 "VMWare Discovery"
## Proposal
**Use case. Why is this important?**

We would like to monitor all ESXI hosts and also all virtual machines in a VMWare vCenter environment; however since VMs and ESXI hosts are so dynamic (they come and go super often) it seems silly to define them statically.

We could use `dns_sd_configs` however that doesn't seem right as there would be no distinction between ESXI hosts for example

[2021-04-13 09:54] Harkishen-Singh commented on #8312
I hope it's fixed. However, does anyone think

https://github.com/prometheus/prometheus/blob/d1ced85d7a259250a36eaf0c47266e2c3c9ea00c/scrape/scrape.go#L592

can be a reason?

[2021-04-13 10:17] SuperQ commented on #8717
There are a vmware file_sd config generator that could be used as a basis for implementing this.

https://github.com/AppliedTrust/vmware-filesd

[2021-04-13 12:49] beorn7 commented on #8198
Yes, I think this is very clearly a duplicate of #8291. Let's close this one.

And BTW, Matt T. Proud has been an alumnus of the project for quite some time. It's probably very confusing for him if he gets @-mentioned.

[2021-04-13 12:49] #8198 closed

[2021-04-13 12:54] Harkishen-Singh commented on #8198
Ahh, my keyboard's autocorrection. I aimed to tag Julien but it ended up with Matt proud. Sorry for that.

[2021-04-13 13:52] SuperQ opened #8718 "Metrics with naming issues"
* Prometheus version:

2.26.0

* Problem

There appear to be some metrics that don't follow the [metric naming best practices](https://prometheus.io/docs/practices/naming/#metric-names).

Most of these appear to be related to `_failed_total` vs `failed_unit_total`. The best practices doc, and the consensus has been that the unit should be the last word in the metric name (besides total/count/sum).

[2021-04-13 22:30] #8303 closed

[2021-04-14 05:30] c16a opened #8720 "Implicit proxies are not respected in remote_write and remote_read configuration"
**What did you do?**
Passed HTTP_PROXY, HTTPS_PROXY, and NO_PROXY to Prometheus docker container on EC2.

**What did you expect to see?**
Outbound proxy is enabled for service discovery of targets. Outbound proxy should not be enabled for remote write storage since it's an another ELB in the same VPC.

**What did you see instead? Under which circumstances?**
Outbound proxy is enabled for both targ

[2021-04-14 06:46] c16a commented on #8720
Found that this is an issue in https://github.com/prometheus/common

https://github.com/prometheus/common/blob/4240322d2138024beddb57544851d77a08afe19c/config/http_config.go#L220

[2021-04-14 07:33] c16a commented on #8720
After verification, this seems to add be the case for target scraping as well.

[2021-04-14 09:15] roidelapluie commented on #8720
Prometheus should not respect HTTP_PROXY environment variables. Please use `proxy_url` for where you need to use a proxy.

[2021-04-14 09:23] deesejohn commented on #8499
I believe this value is exposed as `vm.VirtualMachineProperties.OsProfile.ComputerName` in:

https://github.com/prometheus/prometheus/blob/ea6f6bba74dec06dd7a439304d6187f3b193e112/discovery/azure/azure.go#L448-L473

If that is correct, then would the meta tag `__meta_azure_machine_properties_os_profile_computer_name` be appropriate or too verbose?

[2021-04-14 23:21] #8686 closed

[2021-04-15 04:40] f4t opened #8724 "Data compression on vmagent scraped data buffer"
## Proposal
As vmagent documentation highlights, the scraped data buffer directory (from `-remoteWrite.tmpDataPath`) can grow large when remote storage is unavailable for extended periods of time, or scraping large numbers of targets.

Having an option to enable compression on this temporary data buffer would be helpful to accomodate for cases where storage resource is limited on hosts running vma

[2021-04-15 05:16] RajeshDasari commented on #8710
Hi ,

Thanks for the response, i had upgraded to 2.25.2 and the time jump issue is fixed. I mean when current team is shifted 10 mins ahead and prometheus is able to scrape now.

but when time shifts backwards, the symptom is still seen. In my case time shifted 15 min backwards, and during that time the below errors are seen, after 15 mins once the time is recovered, prometheus was able to scrape

[2021-04-15 05:42] RajeshDasari commented on #8710
is there any way to override the above behaviour?

[2021-04-15 06:39] c16a commented on #8720
By what we observe, Prometheus does route all traffic via proxy even if just the HTTP_PROXY is set.

@roidelapluie what if I need a proxy for target scraping, but no proxy for remote writes and reads?

[2021-04-15 10:45] diaosichen opened #8725 "remote_url influxdb prometheus"
i need to use influxdb to store prometheus data on the remote_url:
but i only store some metrics data to A database，store some other metrics data to B database，how can i config the remote_url?

[2021-04-15 14:15] BeniaminK opened #8726 "Recording rule adds an empty 'instance' label."
**What did you do?**

1. Edit `prometheus.yaml` file:
[code]
2. Edit `rules_1.yml` file
[code]
3. Run prometheus
4. Go into ```http://localhost:9090/federate?match[]={__name__=~%22rule:.*%22}```

**What did you expect to see?**
[code]

**What did you see instead? Under which circumstances?**
[code]

Problem is with additional instance label that shouldn't be there and is added.
rule:by_slice{slice

[2021-04-15 14:43] beorn7 commented on #8726
This is deliberate. The label is not coming from the rules, but is added when metrics are exposed via the federation endpoint.

The reason is that scraping a federation endpoint should happen [with `honor_labels` set](https://prometheus.io/docs/prometheus/latest/federation/#configuring-federation). This would, however, still add an instance label (with the Prometheus server exposing the federated

[2021-04-15 14:43] #8726 closed

[2021-04-15 14:54] BeniaminK commented on #8726
Very weird explanation. Do you add a label because it's not used anyway? So why adding this? It clearly looks like some concept is  wrong there and when you have 50 rules with an empty label looks simple bad.

Getting rid of this using `label_replace` has the same impact as if there was no instance label - everything works as expected but wrapping all the recording rules in `label_replace` also lo

[2021-04-15 14:58] beorn7 commented on #8726
May I recommend that you ask for a more detailed explanation on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users)? On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2021-04-15 15:21] psvmcc commented on #8702
Hi, I see similar issue with version 2.26.0 with dns-sd discovery, one of targets in down state on targets page, with error:
[code]

And on same time query `up` returns 1 for this target, when it should return 0.

[2021-04-15 15:26] Nick-Triller opened #8727 "consul_sd_configs "tags" requires restart before taking effect"
**What did you do?**

I added "tags" to `consul_sd_configs` items to filter the discovered targets. Afterwards, I triggered a config reload with `kill -s SIGHUP`. The updated config was visible in the Prometheus UI.

**What did you expect to see?**

I expected the number of discovered targets for this job to be reduced to the consul services with the tag "PrometheusSlowScrape". There were no servi

[2021-04-15 15:43] SuperQ commented on #8726
Without the `instance=""`, what you would end up with in the federating server is `rule:by_slice{slice="result_sort",instance="downstream-prometheus:9090"}`.

By exposing an empty label, you get exactly what you want in the federating job, no need to label_replace or anything like that.

[2021-04-15 16:04] BeniaminK commented on #8726
@SuperQ thanks for an explanation

[2021-04-15 16:22] juliusv commented on #7735
Dark mode was implemented & merged in https://github.com/prometheus/prometheus/pull/8604 now.

Closing this, for any follow-up improvements, please file follow-up PRs & issues.

[2021-04-15 16:22] #7735 closed

[2021-04-15 16:35] Nexucis commented on #7735
awesome !! Thanks @prymitive !!

[2021-04-16 04:54] #8724 closed

[2021-04-16 12:44] #8707 closed

[2021-04-16 12:44] #8708 closed

[2021-04-16 13:24] bwplotka opened #8728 "Proposal: Move `storage.tsdb.retention.size` out of experimental mode."
Hi All,

I would propose to move our retention by size flag out of the experimental stage. Do we know any major issues that we have seen so far with this feature?

I know the issue of users trying to limit the size of WAL itself, which I don't think works now. Anything else that could block adding stability guarantees to this?

Ref: https://github.com/prometheus/prometheus/blob/main/cmd/prometheus

[2021-04-16 17:05] valdemarpavesi commented on #5938
thanks @roidelapluie
![image](https://user-images.githubusercontent.com/10376101/115059282-f6ac1100-9eab-11eb-992c-5b3f319f30de.png)

[2021-04-16 17:10] valdemarpavesi commented on #5938
now, golang have default http2 into  "net/http"

not required:

"golang.org/x/net/http2"
"golang.org/x/net/http2/h2c"

[2021-04-16 20:54] vanugrah opened #8730 "Promtool test rule failing on expression with `group()` function."
Hey folks, ran into a small issue with promtool when testing rules using the `group()` function.

**What did you do?**
I created the following alert rule (alert.yaml):
[code]

I created the following test file (test.yaml):
[code]

**What did you expect to see?**
When running the unit test I expected the test to pass:
[code]

**What did you see instead? Under which circumstances?**
Running the foll

[2021-04-17 00:14] roidelapluie commented on #8730
group always return 1. It can't return zero.

[2021-04-17 20:07] vanugrah commented on #8730
You are absolutely right. Sorry for the false alarm :)

Best, Anugrah
On Apr 16, 2021, 5:15 PM -0700, Julien Pivotto ***@***.***>, wrote:

[2021-04-18 00:50] #8730 closed

[2021-04-18 15:05] urfin78 opened #8732 "Build from source fails on system without python2 installed since 850dbda"
Hello,

since commit 850dbda5c374defe3cdafb17941888b90362ab52 build from source is broken on newer systems without python2 installed.

This is probably because node-sass is depending on node-gyp v3.8.0 which doesn't support python3 (https://github.com/sass/node-sass/issues/3013).

It is possible to install python2 on most systems, but it's EOL and deprecated for over a year now!
So better solution

[2021-04-18 22:20] roidelapluie commented on #8732
Thank you for your report. Could you try #8733 ?

[2021-04-18 22:23] roidelapluie commented on #8727
Thank you. This is quite strange, but not impossible. Maybe we do not kill the watches. @simonpasquier could you look at this?

[2021-04-18 22:23] roidelapluie commented on #8725
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-04-18 22:23] #8725 closed

[2021-04-18 22:24] roidelapluie commented on #8720
I can not reproduce this. When I set an HTTP_PROXY env variable, prometheus does not use it.

[2021-04-18 22:26] roidelapluie commented on #8710
When time shifts backwards, Prometheus can not write because there is more recent data. This is not a bug I'd say. What should we do? Write twice the data with different timestamp? Any solution like this would be disturbing and produce strange results, so I think while we should do a reasonable effort to support time catching up, e.g. after a suspend, time going backward is something which should

[2021-04-18 23:48] roidelapluie commented on #8728
LGTM.

[2021-04-19 07:01] #8732 closed

[2021-04-19 07:30] urfin78 commented on #8732
First try on my x86_64 machine worked without a problem, but failed on my i386 machine with segmentation fault.
I didn't find a compatibility chart for the `sass` package in a hurry, so I'm not sure if it's supported?

[2021-04-19 08:58] Nexucis opened #8734 "Proposal: Alert Simulation"
The idea would be in the Prometheus UI to have a sort of playground where you could create an alertRule and then to see when it would have been fired with which label value.

Today with the graph page, you are just able to run the PromQL query and then you have to deduce by yourself when the alertRule would have been fired specially when you have `for` condition. Same for the label value that coul

[2021-04-19 09:08] roidelapluie commented on #8732
While it makes sense to be able to build Prometheus without Python2, it is not my goal to make building prometheus supported in i386, as even using it on this architecture is discouraged.

[2021-04-19 10:27] valyala commented on #8710
If you need backfilling support, then take a look at VictoriaMetrics - see
https://victoriametrics.github.io/#backfilling

On Thu, Apr 15, 2021 at 8:42 AM RajeshDasari ***@***.***>
wrote:

--
Best Regards,

Aliaksandr Valialkin, CTO VictoriaMetrics

[2021-04-19 10:50] sirkubax commented on #2204
any chance we could have a regex on the on() join mathing?

my example
[code]
combine with:
[code]

The only aligning match I could have in second query is

index="k8s-namespace-**cards-dev**-2021.04.16"

and I want to match it with
namespace="cards-dev" from the first query

so I'd expect sth like a label_replace or label_copy
or
(pseudocode):

on(namespace == ($1 of index{k8s-namespace-(.*)-[0-9

[2021-04-19 10:52] sirkubax commented on #3094
I'd comment here, as I feel like we are missing regex in many places
Any chance of adding a regex to label queries ?

example presented:
https://github.com/prometheus/prometheus/issues/2204#issuecomment-822374059

[2021-04-19 10:56] sirkubax commented on #2204
https://devops.stackexchange.com/questions/10941/prometheus-join-series-based-on-the-key-part-of-a-label
related to partial label match

[2021-04-19 11:39] manuelpolacek commented on #6241
Maybe this helps someone. We run into this issue today and had the following scenario:

We're using the prometheus operator and set up two servicemonitor resources with match labels. Both servicemonitor were pointing to the same svc instances, so they were scraped two or even many times. After fixing the servicemonitor issue, the error was gone as well.

Regards,
Manuel

[2021-04-19 13:36] LeviHarrison commented on #8717
https://github.com/vmware/govmomi/blob/master/examples/virtualmachines/main.go is be the Go equivalent of this, and adding in https://pkg.go.dev/github.com/vmware/govmomi@v0.25.0/vapi/tags#Manager.ListAttachedTags would allow you to get the tags.

[2021-04-19 13:45] urfin78 commented on #8732
Ok, that was new to me. I will keep that in mind.
The last release provided a [binary for linux-386](https://github.com/prometheus/prometheus/releases/download/v2.26.0/prometheus-2.26.0.linux-386.tar.gz) as usual, so I assumed, that is just one of the supported architectures.

Thanks anyway for the quick fix.

[2021-04-19 13:54] ncook-hxgn opened #8735 "Include apk tools in Prometheus docker container so I can install update-ca-certificates"
## Proposal
I need to be able to add self-signed certificates to prom/prometheus so that I can get metrics from a server behind https with a self signed certificate.

This is currently difficult because
1) apk is not installed, which doesn't help with 2)
2) update-ca-certificates is not installed

Generally I would add certificates to the /usr/share/ca-certificates/extra/ directory and then run up

[2021-04-19 15:27] sdurrheimer opened #8736 "scaleway_sd_configs: invalid memory address or nil pointer dereference panic"
**What did you do?**

Add a new scrape config using the new Scaleway discovery.

**What did you expect to see?**

My Scaleway `fr-par-1` instances being scraped.

**What did you see instead? Under which circumstances?**

My Prometheus server panicking right after loading the configuration.

**Environment**

* System information:

`quay.io/prometheus/prometheus:v2.26.0` using the prometheus-operato

[2021-04-19 18:43] roidelapluie commented on #8735
We plan to *remove things* from the docker image, not adding things. In your case, it seems like you could just add the ca somewhere and point to the single ca with the ca_file parameter.

[2021-04-19 19:56] valdemarpavesi commented on #5938
Hello @roidelapluie

testing http2

not http2 enable:

`
level=info ts=2021-04-19T18:03:48.071Z caller=tls_config.go:191 component=web msg="TLS is disabled." http2=false
`

testing with curl, trying http2 and establish with to http/1.1

`
$ curl -kvso /dev/null --http2 http://localhost:9091/federate?match%5B%5D=%7B__name__%3D~%22.%2A%22%7D
*   Trying ::1:9091...
* TCP_NODELAY set
* Connected to lo

[2021-04-19 20:09] valdemarpavesi commented on #7237
there is an update here:
https://github.com/prometheus/prometheus/issues/5938

[2021-04-19 22:38] BentCoder opened #8739 "Getting rid of default metrics"
Hi,

I am not sure if I am missing something in the documentation but is there a way of getting rid of default metrics such as `coredns_*`, `go_*`, `process_*` and `scrape_*` while using Prometheus in Kubernetes? My current config is below as follows.

Thanks

[code]

[code]

[2021-04-20 02:01] isodude opened #8741 "Add support for environment variable expansion inside tls_config"
## Proposal
Add support for environment variable expansion inside tls_config

**Use case. Why is this important?**
To add support for SystemD's LoadCredential directive. This means that one can safely put the certificates in a directory with root-permissions but still run Prometheus with DynamicUser=true.

With DynamicUser=true, there will be a user created for Prometheus that can be quite limited

[2021-04-20 09:03] ncook-hxgn commented on #8735
I did not know there was a ca_file parameter.. I assume I can set that in the container startup somewhere, would you be so kind as to link me to some docs on ca_file parameter? I've been using Prometheus only a day or so, I don't know where anything is..

[2021-04-20 09:06] ncook-hxgn commented on #8735
I mean, having docs doesn't help with using prom/prometheus as a base image as described in the prometheus docs 2nd page, [here](https://prometheus.io/docs/prometheus/latest/installation/#custom-image), where it is hard to customise without package management.

[2021-04-20 09:41] ncook-hxgn commented on #8735
I found the tls_config -docs- snippet [here].

OK.

Awesome. I just made it insecure_skip_verify - even easier. Nice!

[2021-04-20 09:41] #8735 closed

[2021-04-20 10:07] #8736 closed

[2021-04-21 09:37] hadjiski commented on #5514
pls pls rethink it, 27 users seem to be awaiting it

[2021-04-21 10:06] Ruppsn commented on #8185
Following the dokumenation stated above and there is still not one line in the documenation that gives a hint...Why? You just have to add one line like: Mounting docker sock is not possible at the moment becouse prometheus is not running as root in standard configuration....

[2021-04-21 11:29] iwctwbai opened #8745 "Dropping metrics by metrics value at scrape time"
The metrics looks like this
[code]

I want to filter all data with a value of 0
[code]

it doesn't work

[2021-04-21 11:30] iwctwbai commented on #8745
@Harkishen-Singh  can you help me

[2021-04-21 11:57] Harkishen-Singh commented on #8745
I am not strong in relabel configs, but I think the regex part corresponds to the value in a label. I can be very wrong.

[2021-04-21 12:50] roidelapluie commented on #8185
It depends what is a standard configuration. I works for me with the socket and I do not run Prometheus as root. Any improvement to the documentation is welcome.

[2021-04-21 12:53] roidelapluie commented on #8745
You can not drop metrics by value.

It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), mor

[2021-04-21 12:53] #8745 closed

[2021-04-21 12:54] roidelapluie commented on #8739
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-04-21 12:54] #8739 closed

[2021-04-21 12:56] roidelapluie commented on #8734
Duplicate of #1154 #1220

See also https://github.com/prometheus/prometheus/pull/4277 https://ganeshvernekar.com/gsoc-2018/alert-rule-testing-ui/

[2021-04-21 12:56] #8734 closed

[2021-04-21 12:58] Ruppsn commented on #8185
It depends what is a standard configuration means (for me) that i followed your documentation without any extra.
----

I am doing exactly what is described at https://prometheus.io/docs/guides/dockerswarm/

Setting up Prometheus

For this guide, you need to setup Prometheus. We will assume that Prometheus runs on a Docker Swarm manager node and has access to the Docker socket at /var/run/docker.so

[2021-04-21 13:04] roidelapluie commented on #8741
We do not plan to support this at this moment. You could load the configuration as a credential and use `ca_file: ca`. Prometheus resolves the certs relatively to the configuration file.

[2021-04-21 13:05] Nexucis commented on #8734
ah cool, thanks !

[2021-04-21 13:06] roidelapluie commented on #8728
It seems we have passed the lazy consensus timeout.

[2021-04-21 13:08] roidelapluie commented on #8185
Here is how this happens on my machine:

[code]
and my prometheus user belongs to the docker group.

[2021-04-21 13:18] Ruppsn commented on #8185
So your prometheus user (nobody) is part of the docker group. The docker group  which grants them the ability to run containers which can be used to obtain root privileges on the Docker host. This is not possible in our production environment. But thank your for clearing things up for me.
Have a nice day/night wherever your are.

[2021-04-21 13:30] roidelapluie commented on #8185
I don't run prometheus as nobody or in docker.

[2021-04-21 14:42] roidelapluie commented on #5097
Thank you for taking the time to explain your usecase, @grandich . Prometheus provides a better way to deal with your issue than the blog post you have linked:
https://prometheus.io/blog/2021/02/18/introducing-the-@-modifier/

[code]

See in action: https://prometheus.demo.do.prometheus.io/graph?g0.expr=rate(process_cpu_seconds_total%5B5m%5D)%20and%20topk(5%2Crate(process_cpu_seconds_total%5B5m%5D

[2021-04-21 15:21] grandich commented on #5097
Thanks @roidelapluie

The conceptual misstep for a PromQL newbie like me, which made me stumble upon this issue is:

Can a function output be filtered with an instant vector selector? i.e.

   <function>(){<selector>}

As in https://github.com/prometheus/prometheus/issues/5097#issuecomment-554097299, I was also assuming that every intermediate result that "has labels" was "filterable" through an i

[2021-04-21 18:38] 4s3ti commented on #8185
"works on my machine therefore its fine" .. sounds about right! i am with @Ruppsn some warning or info in the documentation page would be of really good help.

[2021-04-21 18:49] isodude commented on #8741
Interesting.

[code]

A bit hacky, but not too awful.

[2021-04-21 20:12] grandich commented on #5097
@roidelapluie regarding the top N query, in cases of high cardinality, the approach of Grafana templating is more performant. The regex match is better in that case than the "and", and avoids "too many samples into memory in query execution".

[2021-04-21 20:12] roidelapluie commented on #8185
As I said we accept PR to improve the documentation.

[2021-04-21 21:56] 4s3ti commented on #8185
will see if i have some time to go around it during weekend and get that PR up :)

[2021-04-22 10:31] agoloAbbas commented on #6241
For me issue was caused due to relabeling.  I dropped pod name and instance labels for some metrics, which caused the pods report the metric with different values at the same time which caused Prometheus to drop them.
for example
[code]
before my labeling ( it was unique so Prometheus accepted it)
[code]

 more explanation about this is [here](https://www.robustperception.io/debugging-out-of-order

[2021-04-22 14:19] alexandrovas opened #8749 "[feature] Complex filters for Consul discovery"
## Proposal

In current Consul SD configuration there ability to filter services by tags or node metadata. Fragment of docs:
[code]

I have some metadata keys on which I want to do discovery at the same time. For example, I have key `env` with values `dev` and `stage`. How I can filter this services in one Prometheus job? I am forced to use 2 jobs with different filters.

First job:
[code]

Second

[2021-04-22 15:40] bwplotka commented on #8291
Nice, some follow up question regarding:

Do we mean per single metrics or per job or overall in Prometheus?

[2021-04-22 15:43] roidelapluie commented on #8291
this is a scrape job setting that applies to any metric post relabelling

[2021-04-22 21:56] roidelapluie commented on #8749
Prometheus enables you to do this in multiple ways. Can you please provide me the relevant part of your config so I can help you and explain.

[2021-04-23 04:16] mohanagandlla opened #8750 "Time calulation for probe_success 0"
HI let we take an example like the probe_success metrics here the promethes can able to show the values 1 or 0 for a probe so I want to display like if the probe_success is 0 over a time of last 5 min then only it should be display other wise nothing to show. So may i konw how to calulate this measuremnt.

[2021-04-23 08:55] sdurrheimer commented on #8736
Thanks @roidelapluie.

I tested the fix with the `:main` docker image, it's working fine, a `2.26.1` release would be welcome.

[2021-04-23 08:58] roidelapluie opened #8751 "Prometheus 2.26.1"
here is a list of bug fixes that could make it into a 2.26.1 release

#8748
#8723
#8746
#8737

[2021-04-23 12:12] alexandrovas commented on #8749
[code]

[code]

[2021-04-23 12:53] roidelapluie commented on #8749
## Option 1

[code]

## Option 2

[code]

Oooops

The prefered way would be option 2 but we do not expose the node metadata as labels. I think we should look into supporting that if that does not require new API calls.

[2021-04-23 12:54] roidelapluie commented on #8749
So option 2 was what I was mainly thinking about but we miss some labels :)

[2021-04-23 12:54] roidelapluie commented on #8750
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-04-23 12:54] #8750 closed

[2021-04-23 18:41] ihcsim opened #8753 "Feedback on kubectl plugin to dump data blocks"
I am hoping to get a sense of whether the community will be interested in a
kubectl plugin that I wrote, that can be used to dump the Prometheus TSDB
head and persistent blocks, where the persistent blocks can be filtered by time
range. If there is enough interest, I have some specific questions about the
correctness of my implementation.

Link to repo: https://github.com/ihcsim/promdump

(Apologi

[2021-04-24 06:29] after99 opened #8755 "Prometheus icon"
have u [icon for homer](https://github.com/NX211/homer-icons)?

[2021-04-24 08:31] alexandrovas commented on #8749
@roidelapluie
Thank you very much! I will use option 2 :)

[2021-04-24 08:38] roidelapluie commented on #8749
But it does need not work. I think we do not have the labels required yet.

[2021-04-24 09:21] alexandrovas commented on #8749
It,s working :) You have a typo in the label name.
My config:
[code]

[2021-04-24 10:15] roidelapluie commented on #8749
`__meta_consul_metadata_<key>: each node metadata key value of the target`

Indeed you are correct.

I will close this issue then, as this is better than two separate scrape configs - because it lessens the load on consul.

[2021-04-24 10:15] #8749 closed

[2021-04-24 16:01] LeviHarrison commented on #8606
I think this could be pretty easily added to the existing test file by doing the following:

- Adding a `config_files` field, where a user could specify the Prometheus config file their relabeling configs are in.
- Adding an `input_labels` field, which holds further labels and their values, besides the ones that can already be gathered from `input_series`.
- Then we could add a `relabel_rule_test`

[2021-04-25 07:20] xibei316 opened #8758 "support aliyun ecs scrape"
we have many aliyun_ecs instance and hope they are monitored.

https://www.alibabacloud.com/product/ecs?spm=a3c0i.267727.6791778070.dnavproductelastic1.376a5258DZMQe1

[2021-04-25 17:21] Nick-Triller commented on #8727
I created a script to reproduce this bug comfortably: https://github.com/Nick-Triller/prometheus-bug-repro
This might be a good opportunity to learn more about the Prometheus codebase, I will try to solve this myself :)

[2021-04-26 01:40] gupf0719 commented on #8751
when will it be released

[2021-04-26 06:25] srinivasev commented on #8310
Hi @codesome, is there any update on this issue. We observed similar behavior when adopted 2.23.0 Prometheus.

[2021-04-26 07:18] roidelapluie commented on #8753
Thank you for this.

cc @brancz @bwplotka @simonpasquier

[2021-04-26 07:19] roidelapluie commented on #8755
I do not know this project but I see they have https://github.com/NX211/homer-icons/blob/master/prometheus.png

[2021-04-26 07:19] #8755 closed

[2021-04-26 07:34] roidelapluie commented on #8718
This needs more discussion.

I think that  prometheus_tsdb_head_truncations_failed_total is better than prometheus_tsdb_head_failed_truncations_total.

I just see a gap in the docs to document the as-is situation.

[2021-04-26 08:08] roidelapluie commented on #8718
It also occurs to me that it is easier to compare:

net_conntrack_dialer_conn_failed_total
net_conntrack_dialer_conn_established_total
net_conntrack_dialer_conn_closed_total
net_conntrack_dialer_conn_attempted_total

Than

net_conntrack_dialer_failed_conn_total
net_conntrack_dialer_established_conn_total
net_conntrack_dialer_closed_conn_total
net_conntrack_dialer_attempted_conn_total

[2021-04-26 08:09] roidelapluie commented on #8718
Same with

prometheus_target_scrape_pools_failed_total
prometheus_target_scrape_pools_total

and

prometheus_target_scrape_failed_pools_total
prometheus_target_scrape_pools_total

It is easier to work with the first ones.

[2021-04-26 13:15] roidelapluie commented on #8727
Nice! If you need help we host contributor hours every monday: https://prometheus.io/community

[2021-04-26 15:50] grobie commented on #8718
Thanks for starting this discussion and providing these examples @roidelapluie. This Github issue is the result of a similar discussion @SuperQ and I had in https://github.com/prometheus/memcached_exporter/pull/109. I was surprised to learn that there was apparently a consensus for a new metric naming pattern as Ben states, I hadn't heard of such discussion before. I have always chosen metric name

[2021-04-26 16:10] SuperQ commented on #8718
I don't remember. Basically, there's a lack of consistency in how to deal with these cases. My understanding was we settled on unit as the most-right word within the metric. But is `foo_failed` a composite unit? I don't know.

[2021-04-26 17:31] juliusv commented on #8718
As the one who wrote the naming conventions page, I'm for keeping the metrics grouped as they are in this case, because I don't see e.g. `truncations` as a unit, but more as a dimension (not in the sense that it needs to be a label, but in the sense that it describes what is being measured, and not which units it's being measured in). The grouping might be awkward to read initially, but it keeps m

[2021-04-27 06:15] Harkishen-Singh commented on #8753
This looks cool. Thank you for this.

[2021-04-27 07:11] haowells opened #8762 "Prometheus v2.26.0 go panic frequently"
**What did you do?**
I use version v2.26.0 to start up a prometheus pod in k8s cluster

**What did you expect to see?**
I expect prometheus pod can keep running and generate blocks in path specified in storage.tsdb.path

**What did you see instead? Under which circumstances?**
pod keep crash due to same golang panic,  paste logs below

**Environment**

* System information:
[code]
* Prometheus ver

[2021-04-27 07:22] roidelapluie commented on #8762
Can we know more about the targets you scrape? Are you scraping targets with a very very huge number of labels/metrics or very long label value?

[2021-04-27 07:41] tcolgate opened #8763 "count_values to use OpenMetrics string format"
## Proposal

It would be useful/consistent if count_values used %g formatting, consistent with the le bucket label in histograms. It is useful to be able to assume the two are consistent. This is of practical use when calculating a true apdex as it permits the application to expose a numeric apdex target value, which we can then translate into a bucket name for matching purposes.

The numeric valu

[2021-04-27 09:30] roidelapluie commented on #8763
hello,

I think this is a breaking change in Prometheus, so not doable as-is in Prometheus 2.x. We would need to think about alternatives, like adding an extra "formatting" parameter for the count_values.

I would also need to check what the openmetrics spec for formatting is and what the actual implementation is to see the better solution.

Why do you speak about %g but your proposed code does no

[2021-04-27 09:33] roidelapluie commented on #8763
Your application could maybe also expose http_apdex_target_seconds with the correct label.

[2021-04-27 09:33] tcolgate commented on #8763
The "%g" terminology came from some previous bug reports around different bucket le labels in different clients. Before I found the actual code. It's also referenced in the OpenMetrics spec.
```The target rendering is equivalent to the default Go rendering of float64 values (i.e. %g), with a .0 appended in case there is no decimal point or exponent to make clear that they are floats.```

[2021-04-27 09:34] roidelapluie commented on #8763
Okay, would not %g render +inf, Nan etc out of the box as we would expect?

[2021-04-27 09:38] tcolgate commented on #8763
The advantage with using a numeric , instead of a hard coded label, is that I can use max/min to pick if two different versions of the same app happen to provide different values. (I could expose the metrics with both the value and the bucket, I'd actually have to recreate the openmetrics string code in my own app to know how the thing would be rendered).

Hopefully it makes sense that my example

[2021-04-27 09:39] tcolgate commented on #8763
The code in the PR is taken from the prom/common repo so does handle rendering +/-Inf and NaN, and enforces the .0 suffix.

[2021-04-27 09:46] roidelapluie commented on #8763
You can use 1topk(1, http_apdex_target_seconds) without(le)`

[2021-04-27 09:59] tcolgate commented on #8763
The exact choice of how to pick the highest isn't super relevant (we just use min at present I think). When generating the metric I'd have to generate...
[code]
And have to be confident that I'm rendering the le label in the same way that the client library does.
That's doable, but not as convenient. as being able to just do the maths on `http_apdex_target_seconds` and convert the value into a lab

[2021-04-27 11:22] haowells commented on #8762
@roidelapluie  I think targets indeed huge. I don't have exactly number, but this problem instance scraping around 3000+ k8s nodes + pods on them.
I do a testing today, if I disable WAL compress feature. use option --no-storage.tsdb.wal-compression.  this golang panic never appear again.
but I do want to take advantage WAL compress feature. How can I let pod running without crash ? thanks

[2021-04-27 11:22] roidelapluie commented on #8763
I will ping @juliusv and @beorn7 for their opinion on this.

[2021-04-27 13:08] gotjosh commented on #8398
I think we can close this at this point @roidelapluie, given #8484 was merged and released.

[2021-04-27 13:20] beorn7 commented on #8763
The original sin here is that we (ab-)use label values (which are strings) as numbers (in this case bucket boundaries).

The most striking dissonance here comes from the different formatting conventions in different languages, mostly that Go doesn't append a `.0`, while Java or Python do. While Prometheus itself is just Go, instrumentation libraries are in different languages. So a Python or Java

[2021-04-27 13:31] tcolgate commented on #8763
FWIW, I decided to "bite the bullet" and switch to OpenMetrics for our Go apps, and that is what brought me to this. The decision  was based entirely on it being the only way to get exemplar support, and I can imagine *a lot* of people will likely do the same. It is worth a few days of broken heat maps. I've not seen any discussion of introducing exemplars in the non-OM expfmt (though I get if pro

[2021-04-27 13:53] tcolgate commented on #8763
I'll crack on with the regexp.

[2021-04-27 18:25] cardosocristian commented on #6934
+1

[2021-04-27 21:10] austince commented on #7919
I was not able to just use a simple JSON struct, unfortunately, as protobuf-encoded JSON is a special form that must be parsed with a protobuf lib. `gogo/protobuf` is still used here (though the official `golang/protobuf` is used by vendored packages), which makes consuming external protos difficult. I've raised a discussion on the dev mailing list here, to see what the community thinks/ would be

[2021-04-27 21:36] roidelapluie commented on #8762
Now I am wondering if you had some kind of disk corruption. Checkpointing from 0 to 348 does not feel right.

cc @codesome @bwplotka do you have any idea what is going on here?

[2021-04-27 22:00] roidelapluie commented on #8763
It feels like this is easily done (text format -> openmetrics):

[code]

The other way around (openmetrics -> text format):

[code]

[2021-04-27 22:57] beorn7 commented on #8763
Cool. Just that it is the other way around, isn't it? The first relabels OM into the old (client_golang) behavior, while the second relabels old (client_golang) behavior into OM. (Note that the old text format didn't specify any particular float format. Prometheus 1.x was sanitizing the floats-as-string anyway.)

[2021-04-27 23:00] roidelapluie commented on #8763
Thanks, I have updated my comment.

[2021-04-28 03:23] cstyan commented on #6934
Hi everyone. I appreciate that it is probably frustrating to be running into this problem and see an open issue for it that hasn't been fully fixed, but multiple +1 comments aren't useful on our end.

If you've updated to a more recent version of Prometheus than anyone else in this thread has mentioned or can provide additional information such as memory profiles that would be useful. Otherwise pl

[2021-04-28 07:06] tcolgate commented on #8763
Thanks for the tips. I didn't raise this to fix an unresolvable problem though, if count_values is going to convert numbers to strings, it seems like it should do so in a "known way". I appreciate @beorn7 points, though I would say that there is, so far as I can see, a 1 <-> 1 mapping of the OpenMetrics "%g with trailing .0", and the behaviour should be reproducable by clients, so it seemed like a

[2021-04-28 08:33] haowells commented on #8762
@roidelapluie  could you explain more what make you feel not right for checkpoint from 0 to 348 ?
attach again all the logs
[code]

[2021-04-28 08:37] codesome commented on #8762
It just looks like a big environment from the logs. I don't think the panic implies a disk corruption.

Seems like some limitation in snappy? I will be able to look at it only after a few weeks.

[2021-04-28 08:39] codesome commented on #8762
Looking at https://github.com/golang/snappy/blob/674baa8c7fc30da5df3074a459494a7e6b427dff/decode.go#L30-L43 and I think we _cannot_ rule out disk corruption yet :)

[2021-04-28 08:47] codesome commented on #8762
Ignore my previous comment, I was looking at the wrong thing. It is checked even before we touch the disk https://github.com/golang/snappy/blob/674baa8c7fc30da5df3074a459494a7e6b427dff/encode.go#L21, so it is not a disk corruption.

It might be a matter of very large record. A very big scrape target. <disappearing for now>

[2021-04-28 08:55] roidelapluie commented on #8762
Thanks for checking this @codesome :) Indeed it seems a limitation in snappy.

Are you by any chance using prometheus federation with a lot of metrics? Or do you have an idea of the bigger scrape target?

[2021-04-28 09:53] roidelapluie commented on #8763
Saying that OM uses %g is incorrect. We are using %g in the text format too: https://github.com/prometheus/common/blob/main/expfmt/text_create.go#L449
Somehow %g does not add the .0 and we artificially add it in openmetrics.

[2021-04-28 09:53] roidelapluie commented on #8763
It should yes.

[2021-04-28 09:56] roidelapluie commented on #2204
Then label_replace seems your best option.

[2021-04-28 11:10] argvk commented on #6934
Hey there,

Also seeing this issue with prometheus 2.26.0 where the pod is stuck in OOM loop post restart. Attaching a pprof heap & profile.

[profile.zip](https://github.com/prometheus/prometheus/files/6391351/profile.zip)

[2021-04-28 12:58] tcolgate commented on #8763
I appreciate it does not use %g directly (the PR I've closed included the copied code from client_golang so that the behaviour would match, as mentioned above), the terminology was stuck in my head from reading previous PRs that referred to it as such. It's not terribly relevant to anything if this isn't going ahead.

[2021-04-28 12:58] beorn7 commented on #8763
What `%g` precisely does depends on the language/implementation. In Go, it does not add `.0` to floats with an integer value.

[2021-04-28 13:11] tcolgate commented on #8763
It would be worth OM documenting whatever it expects languages to do, probably without reference to "Go %g".
It would be worth Prom documenting what count_values does, without direct reference to %f (or at least linking to docs).
It might be worth mentioning that they aren't compatible.
People probably aren't tripping over this all that often, I was doing tricksy promql things, and someone that re

[2021-04-28 13:40] MartinEmrich commented on #5097
I have a similar request for this. My use case: Find all machines with "too old" kernels.

[code]
This transforms the (CentOS 7) kernel release string reported by node_exporter from 3.10.0-957.21.3.el7.x86_64 to just 957.

I then attempted to filter for

[code]

for an alert rule to quickly identify hosts with "too old" running kernels.

Note that a grafana-based approach would not help, as I prim

[2021-04-28 14:18] beorn7 commented on #8763
OM's formatting behavior is documented in their [draft spec](https://docs.google.com/document/d/1sFuesBxDl4XNWQfvg0IHaL9Lp0NCYU8CDL-Lu7wVsHs/edit#heading=h.slbs6ftdzbfp), and it's even discussing a number of more subtle issues with number formatting.

Definitely agree that the `count_values` documentation should mention how it formats the numerical value when it ends up as a string in the label. H

[2021-04-28 18:14] beorn7 commented on #8763
I've just checked it out: It uses `strconv.FormatFloat(s.V, 'f', -1, 64))`, which boils down to `%f` with as many significant digits to create a unique value. And that's rather unfortunate. It means that it won't use exponents for very large or very small values, which is different from both OpenMetrics as well as the usual (but not specified) behavior of instrumentation libraries when exposing th

[2021-04-28 19:12] tcolgate commented on #8763
That sounds like a good idea, though I'm not sure if there's literally a sprintf form that would be OM compatible. A reimplementation of a %.. formatter seems ideal but feels like a large job.

[2021-04-28 22:27] dhruvp-8 commented on #8687
@roidelapluie any update on this issue we are also facing the issue in Prometheus 2.25.0 where in the rate() function has unexpected spikes in the data

[2021-04-28 22:43] pballok-logmein opened #8768 "DNS discovery fails to sync if AlertManager has connection timeout"
**What did you do?**
Started Prometheus with two AlertManagers alive and receiving alerts. I have a DNS service that lists both AlertManager IPs for the url I'm using to connect to the AlertManager.
I then stopped one of the two AlertManagers, so only one left working. I confirmed that my DNS service now only lists only one IP, the one that was left active. So if Prometheus queries the DNS during

[2021-04-28 23:37] roidelapluie commented on #8768
thank you, it seems you have a patch, would you mind opening a pull request for further discussion? Thank you!

[2021-04-29 05:43] #8741 closed

[2021-04-29 10:59] beorn7 commented on #8763
We could use the Go formatter, but add another verb that would format in OpenMetrics style.

[2021-04-29 12:31] vgratian opened #8771 "Add Generic HTTP-based SD"
## Proposal
**Use case. Why is this important?**

This SD should look exactly the same as the file-based SD, except that it is fetched from an HTTP endpoint rather than the local fs.

I work on a large project for storage monitoring and I think many face the same issue that we do. We don't want to open a SD request for our own Project, but a generic HTTP-based would satisfy everyone.

I am also co

[2021-04-29 12:35] simonswine commented on #8386
Closed through #8770

[2021-04-29 12:35] #8386 closed

[2021-04-29 12:35] vgratian commented on #8771
I am also coding in Go, so if the community thinks this is a good idea, I could prepare a pull request!

[2021-04-29 12:48] roidelapluie commented on #8771
This is discussed here: https://docs.google.com/document/d/1tVeuzjpU4-TiYPNWJXKmcyIuZF6A2tUq270RbBT5zho/edit

[2021-04-29 12:51] vgratian commented on #8771
awesome, thanks for sharing the link

[2021-04-29 13:07] vgratian commented on #8771
is someone already working on this? should I go ahead and try to implement it myself?

[2021-04-29 14:01] tcolgate commented on #8763
Well today I learned of fmt.Formatter, though there is no obvious way to fall back, so this kind of thing doesn't look super performant. Fun though:
https://play.golang.org/p/Loj_KVLky1U

[2021-04-29 16:22] tcolgate commented on #8763
It's not obvious that the full power of a Printf strings makes that much sense (e.g., there's not much point in multiple values. so maybe it'd be better to just allow something like
`count_values("le,f.3",....)` to allow precision to be set? The we can use strconv.FormatFloat, with extra stuff done for some other verb?

[2021-04-29 16:33] beorn7 commented on #8763
Sounds good to me. We could use `o` for OpenMetrics.

[2021-04-29 16:56] tcolgate commented on #8763
`o` is already used for octal though, some poor soul might need that.

[2021-04-29 17:12] beorn7 commented on #8763
But if we use https://golang.org/pkg/strconv/#FormatFloat , we can stick to the letters allowed there, and there is no `o`, so we could use it.

[2021-04-29 18:22] sksingh20 opened #8772 "Prometheus negative cpu utilization with rate"
Prometheus reporting negative value of cpu utilization as taken with rate function.

Here is link of snapshots of error condition.
100 - (avg by (instance) (rate(node_cpu_seconds_total{mode="idle",instance=~"$host"}[1m])) * 100)
Response: attached snapshot link.

[http://skras.ddns.net/TI/Promcpu](http://skras.ddns.net/TI/Promcpu)

Troubleshooting Query: node_cpu_seconds_total{mode="idle",instance

[2021-04-29 18:29] sksingh20 commented on #8772
Not able to fix this issue even after putting so much hours. This is understood that this is causing due to missed scrap. But not sure how rate function actually normalizing values which end up having negative values for cpu utilization.

[2021-04-29 19:08] pballok-logmein commented on #8768
Sure, I'm preparing a PR

[2021-04-29 21:57] roidelapluie commented on #8772
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-04-29 21:57] #8772 closed

[2021-04-30 00:08] pballok-logmein commented on #8768
The patch I created for this issue fails one of the CI tests (ci/circleci: test_windows), but I'm unable to check the CircleCI results, since it wants access to all my repos, and this is a company account.
I'm also unable to run the tests locally, I'd need to put more time into creating a proper environment for this. Also, I only have access to macOS environment, and the test name "test_windows" s

[2021-04-30 02:41] tajchert commented on #8243
I'm on 2.26.0 and got that issue on Windows 10 after updating time.

[code]

[2021-04-30 08:27] #8727 closed

[2021-04-30 08:53] tpoindessous opened #8776 "Extend gce_sd_config for Managed Services"
## Proposal
**Use case. Why is this important?**

We use prometheus on GCP. We have exporters which support multi-targets pattern.
For example, we use redis-exporter for GCP Memorystore Redis (Managed Redis).

We would like to have automatic discover of all Memorystore instances and use this information for multi-targets configuration of redis-exporter.

For the moment, we must configure like this

[2021-04-30 08:54] Nick-Triller commented on #8768
Hi @pballok-logmein, if you press the arrow next to the "Log In with GitHub" button, there is a "Public Repos Only" option. Maybe logging in is acceptable to you if you don't have to grant access to private repos :)

[2021-04-30 08:56] tcolgate commented on #8763
@beorn7 I can have a go at implementing this, but would it be worth discussing on prometheus-dev? The use of "thing,soemthing" seem like the kind of thing that could prove contentious, and I'd rather not start if it's going to get shot down.

[2021-04-30 09:25] roidelapluie commented on #8776
I do not see how generic sd would be useful vs registering the services in an already-existing service discovery like consul.

[2021-04-30 09:30] roidelapluie commented on #8771
There are still disagreements over the design doc.

[2021-04-30 09:41] roidelapluie commented on #8768
I do not think that the fix is correct.

The fact that it is a sync channel means that it will block the go routine that sets the targets, but it will see the new targets eventually.

The fact that it is buffered or not should have very little impact here, it might even make the situation worse as the service discoveries would queue multiple updates at the same time.

[2021-04-30 09:51] roidelapluie commented on #8243
if you shift time backwards this is expected. There is no reasonable way we can deal with that I think.

[2021-04-30 10:39] tajchert commented on #8243
Yes, it was a backward change (BIOS update for some reason kicked the time 4h ahead). After passing the incorrectly set time data started to come normally.

[2021-04-30 10:43] tpoindessous commented on #8776
Hi @roidelapluie !

I don't want to install consul :)

It's really about extending gce_sd_config for Managed Services, sorry for the confusion !

For example, for a first step, I see a usage for
Cloud Memorystore
Cloud SQL

Thanks !

[2021-04-30 14:22] pballok-logmein commented on #8768
Hi @roidelapluie ,
The way I see it in the code is that the Discover Manager sends the targets here: https://github.com/prometheus/prometheus/blob/2a4b8e12bbf233a782c2d94ba3df480bf2aecbb2/discovery/manager.go#L242
It will not get blocked if the channel is not being waited on, because currently this is not a buffered channel. It will just jump to the default and try again in 5 seconds.

The receive

[2021-04-30 14:29] pballok-logmein commented on #8768
I think with a buffer size of 1, there won't be multiple updates waiting at the same time

[2021-04-30 14:43] roidelapluie commented on #8768
I missed a piece of the puzzle. Thanks for pointing me it out.

I think that this is still not the correct fix. The issue I see is that a service discovery can have a lot of target groups, therefore buffering could still have a huge delay if multiple groups are updated.

Maybe we could have a select in a loop and the send of the alerts in another go routine.

[2021-04-30 17:53] roidelapluie commented on #8768
They are uploaded one by one AFAIK unless on the first iteration of the SD.

[2021-04-30 21:01] cstyan opened #8779 "remote storage metrics audit"
Remote storage, particularly remote write, has a lot of metrics as it has grown organically. Some metrics have names or help text that aren't necessarily still accurate, and we have many metrics that are repeated per data type (sample, exemplar, metadata). This came up most recently here: https://github.com/prometheus/prometheus/pull/8296#discussion_r612872067

We should do an audit of the metrics

[2021-04-30 21:03] cstyan commented on #6333
https://github.com/prometheus/prometheus/issues/8779

[2021-05-01 03:24] LeviHarrison commented on #8695
By external address do you mean the address of the target?

[2021-05-02 03:23] ihcsim commented on #8753
Thanks for the interest so far! @bwplotka mentioned that the only part that is
tricky is dumping the WAL files, but the current approach should still work -
even with Thanos! So far, I have been testing with data directory of up to
about 5GB. If anyone else would like to try it out, I am more than happy to
help set you up.

Meanwhile, I have submitted https://github.com/kubernetes-sigs/krew-index/

[2021-05-03 07:44] Nexucis commented on #8548
Hi,

In order to solve this issue I think we could have:
* A scrolling loading, like that we are sure we have a limited number of element that would be loaded for the first time when coming on this page. For example, each scrolling loading could display 500 more elements.
If we don't like the srolling loading, the other solution is to create a pagination. Both are fine and it depends more on the t

[2021-05-03 07:50] Nexucis commented on #8548
and I think we can tackle these points in different PR (one for each). Like that we can benefits on what @coury-clark already did on his side (of course) if he is still ok to create the PR. It's a been a while afterall :/.

[2021-05-03 08:10] Siddharthav1 opened #8780 "level=warn ts=2021-05-03T02:26:16.735Z caller=scrape.go:1096 component="scrape manager" scrape_pool=LXC_inside target=http://10.203.1.183:9100/metrics msg="Appending scrape report failed" err="out of bounds""
Hello,

  I am using prometheus binary on my host to collect docker and LXC container metrics. I am using node_exporter and alert_manager for the data exporting.

Using below command to run the prometheus:

`sudo -u prometheus /usr/local/bin/prometheus         --config.file /etc/prometheus/prometheus.yml         --storage.tsdb.path /var/lib/prometheus/         --web.console.templates=/etc/promethe

[2021-05-03 08:43] Nexucis commented on #6881
Here we could have a different solution than the one proposed in #8548 (aka scrolling loading).

* Perhaps the UI should display the target list as closed by default
* But also what does it mean, it also required a lazy loading / rendering. Which means that the render of targets for the same job is not done until the user is clicking on `show more`.
* Like that you are able to load all target, but

[2021-05-03 08:52] Nexucis commented on #6881
and perhaps someone could add the label `component/react-ui` since it's more an UI issue.

[2021-05-03 09:55] c16a commented on #8720
Sorry my bad. Mismatched configurations. Closing this.

[2021-05-03 09:55] #8720 closed

[2021-05-03 11:17] romerod commented on #6353
As LCOW isn't developed anymore I've stopped trying to get it to run.
https://github.com/linuxkit/lcow
Would be nice if there would be an official docker image with the windows build.

[2021-05-03 11:17] #6353 closed

[2021-05-03 12:57] beorn7 commented on #8763
Yeah, this sounds like a good idea.

[2021-05-03 14:08] juliusv commented on #6881
@Nexucis Added the label!

I think we should only do the rendering lazily for now, not the loading (because the rendering seems to be taking most of the time, and adding lazy-loading may be hard for this). But I'm not sure if that would fully help on the level of a job / scrape pool, because all the targets could be in a single job (like in the original comment). So there may still have to be eith

[2021-05-03 14:15] Nexucis commented on #6881
yeah I think a pagination would be simple actually. Like that we will be sure it will limite the number of element to render.
Still I'm agree we should tackle first the lazy rendering and then (in an another PR) the pagination.

I think it would also be nice to have the same way to load element (loading scrolling vs pagination).

[2021-05-03 14:22] juliusv commented on #6881
@Nexucis I think normally we should just show everything (keeps the friction to look for something low), but only collapse individual scrape pools if there are too many targets in them, or if the total number of targets on the page (via too many scrape pools) would be very large. But at that point, it may make sense to only do the pagination and no closing-by-default?

[2021-05-03 14:24] roidelapluie commented on #6881
The more targets you have, the more likely they are changing a lot. As the API is not "transactional", pages are hard. So from the API I think we should still only  do one API call.

[2021-05-03 14:26] juliusv commented on #6881
@roidelapluie Yes, exactly.

[2021-05-03 14:27] Nexucis commented on #6881
oh from my point of view, the pagination is only on the UI side here (on this particular topic). So no pagination on the API side.

So basically the UI is downloading all the target, but then it creates a virtual pagination based on limit in the UI itself so it will avoid to display all targets at the same time and avoid to crash the browser because there are too many targets to display.

[2021-05-03 14:28] Nexucis commented on #6881
sorry for the bad explanation :/

[2021-05-03 20:58] pballok-logmein commented on #8768
Hi @roidelapluie,
I'm a bit confused about what the next step is. Do you still prefer a different solution that involves a separate loop / go-routine to listen to DNS discovery targets? Or is the current proposed solution ok?

The current proposed solution makes sure that the two channels (1. the one used to signal that there are alerts to be sent, 2. the one used to send DNS discovery targets) ha

[2021-05-03 21:02] roidelapluie commented on #8768
I need to dig into the code. I think that it might break other stuff in subtle ways, that I need to check. Did you look at the impact this would have on service discovery?

[2021-05-03 21:10] pballok-logmein commented on #8768
The only impact my proposal has for sure, that the current implementation only cares about DNS discovery results, if it's idle (ie has no alerts to send). With my proposed solution, the DNS discovery results (generated every 30s by default) will be taken into account, and updated even if there are alerts to be sent as well, and this might (slightly) disrupt the current timing. But I think this sam

[2021-05-03 21:12] pballok-logmein commented on #8768
I will look into possible impacts related to other service Discovery

[2021-05-04 07:39] roidelapluie commented on #8780
Do you have logs from before the incident?

[2021-05-04 08:46] tcolgate commented on #8763
Is prometheus-developers@googlegroups.com the right list?

[2021-05-04 10:19] beorn7 commented on #8763
yes.

[2021-05-04 13:29] codesome commented on #11
Closed by #7675

[2021-05-04 13:29] #11 closed

[2021-05-04 13:46] bboreham commented on #6333
@tomwilkie mentioned this again in his Promcon talk yesterday, and it triggered me to be pedantic...

If we are concerned about _network_ overhead we should use Zstd or even Gzip instead of Snappy; I project we would see 2x-4x reduction.

However the overhead in memory allocation and management of all those repeated strings at each end is considerable, and it would be more efficient in CPU to avoi

[2021-05-04 15:00] roidelapluie commented on #11
For the remaining tasks see #8667

[2021-05-04 22:26] 4s3ti commented on #8185
@roidelapluie where would be the best page to put a PR up to?

This? https://github.com/prometheus/docs/blob/master/content/docs/guides/dockerswarm.md

[2021-05-04 22:57] roidelapluie commented on #8185
Yes

[2021-05-04 22:58] roidelapluie commented on #8185
However I do not think we should recommend running Prometheus as root. but instead advising to adjust the socker permissions.

[2021-05-04 23:05] 4s3ti commented on #8185
[code]

Sounds good?

[2021-05-05 06:30] rapkalya commented on #8298
i got this error resolved by clearing space in root directory

[2021-05-05 06:51] tcolgate commented on #8763
Just for the record, conversation continued here:
https://groups.google.com/g/prometheus-developers/c/1OCdPPqGBuQ

[2021-05-05 07:32] Ruppsn commented on #8185
Just for information. If you change the permissions of the docker.sock it will be reseted evertime you restart docker or restart the host.

https://askubuntu.com/questions/1194205/why-var-run-docker-sock-permissions-are-changed-every-time-i-log-out-how-can-i

[2021-05-05 07:43] roidelapluie commented on #8185
Here is what the documentation of docker has to say:

https://docs.docker.com/engine/install/linux-postinstall/

We could link to that page, telling people to add the prometheus user to the docker group?

[2021-05-05 07:43] roidelapluie commented on #8185
Or we could advocate for http access but I am not an expert enough to know if you can restrict that to read access.

[2021-05-05 07:45] Ruppsn commented on #8185
If we want to restrict access to the docker.sock we use https://github.com/Tecnativa/docker-socket-proxy
There we can give only read access. So its more secure than giving the prometheus user access to the docker.sock

[2021-05-05 07:55] roidelapluie commented on #8185
I am not sure we should go that far, maybe we should stick to official docs/pointers in our documentation.

[2021-05-05 08:03] Ruppsn commented on #8185
I, as a user of prometheus, would be glad if there are just some information in the documentation about possible solutions to secure this setup. It took me about 3 days to do the research on my own and get my head around it. You could give possible solutions without recommendations and point to it without getting into details. I saw a lot of people recommending something like changing the docker.s

[2021-05-05 08:18] roidelapluie commented on #8185
ack, thanks for your input.

[2021-05-05 08:42] 4s3ti commented on #8185
I'd be glad to make that PR however I am not sure what solution is the most appropriate other than setting `user: root`

Changing the docker.sock permissions will not only reset but will leave it exposed for anything else on the docker node which is IMO is even worse to recommend.

another option would be to put something like i did above and point users to this thread so they can read and underst

[2021-05-05 08:45] roidelapluie commented on #8185
This is not true. The recommendation from docker ( https://docs.docker.com/engine/install/linux-postinstall/ ) is to create a docker group and add the user to the group. So only users in this group have access to the socket.

[2021-05-05 08:50] 4s3ti commented on #8185
This would force users to create a Prometheus user with the same uuid that Prometheus is using inside the container and add it to the docker group which might not be possible in many cases  ... not even sure how well this would work.

I don't see why running Prometheus **inside the container** as root is an issue since its such a common practice, cadvisor itself is running as root inside the conta

[2021-05-05 08:58] Ruppsn commented on #8185
Before you do that..just leave the documentation as it is...this would be a stupid suggestion.

This would basically gives everyone on your host access to the docker.sock and this is NOT what you want to recommend. Furthermore it will be reseted everytime you will restart your host or relog.

You really need to understand that this opens up your docker instance to everyone. For a thorough explanat