[2020-08-15 13:20] #7806 closed

[2020-08-16 08:53] roidelapluie commented on #6747
Here is a PR which might help: https://github.com/prometheus/prometheus/pull/7810

[2020-08-16 16:26] roidelapluie opened #7812 "npm_licenses.tar.bz2 is not shipped with the release tarballs"
We ship the NPM licenses with the docker image, but not in the tarball built by promu, even if the file is in the .promu.yml.

I think maybe we have a target missing the makefile.

[2020-08-16 18:45] mneverov commented on #7571
@codesome thanks for your help.
I've found that `curFileSequence` is also read in [IterateAllChunks method](https://github.com/prometheus/prometheus/blob/master/tsdb/chunks/head_chunks.go#L558) where it is protected by `writePathMtx`. Can it happen at the same time as `cut()` or [chunk](https://github.com/prometheus/prometheus/blob/master/tsdb/chunks/head_chunks.go#L445) or [truncate](https://gith

[2020-08-17 14:04] beorn7 commented on #7753
This is probably triggered by corruptions on disk or a full disk. But we should be able to recover from this.

@codesome do you have an idea?

[2020-08-17 14:10] beorn7 commented on #7760
Closing for now as a dupe #5519 (which also links to previous requests).

However, given that this topic comes up now and then again, we'll put it on the agenda of the Prometheus dev summit to discuss it in more detail.

[2020-08-17 14:10] #7760 closed

[2020-08-17 14:14] beorn7 commented on #7763
Most likely, your server is just overloaded, and you are seeing non-graceful degradation here.

This is not really a bug in Prometheus, but we could improve logging to be clearer about what's going on here.

[2020-08-17 14:22] beorn7 commented on #7781
This is an interesting discussion, but we are really discussing topics outside Prometheus. This could be in the Go runtime, in the Linux kernel, or a special property of the VMs Amazon uses.

Since we use GH issues to track actionable issues in Prometheus, we (in our weekly bug scrub) decided to close this. Feel free to continue discussing (on a forum of your choice, or if need be on this closed i

[2020-08-17 14:22] #7781 closed

[2020-08-17 14:24] beorn7 commented on #7786
Indeed, we currently have no plans to natively support other sources of configuration than the config file and the command line flags. Perhaps in the far future, but closing this for now (as per discussion during the bug scrub).

[2020-08-17 14:24] #7786 closed

[2020-08-17 14:27] beorn7 commented on #7802
During the bug scrub, we felt that this would gain us very little but adds some complications prone to be misunderstood.

If anyone feels this would be useful, please speak up. Otherwise, we'll close this.

[2020-08-17 14:41] #7802 closed

[2020-08-17 15:05] Tyrael commented on #7146
hi @roidelapluie , is there any reason why this change is not documented at all?
no mention in either https://github.com/prometheus/prometheus/blob/master/CHANGELOG.md or https://prometheus.io/docs/prometheus/latest/migration/

[2020-08-17 15:08] roidelapluie commented on #7146
In the migration I see:

[code]

[2020-08-17 15:32] trallnag opened #7816 "PromQL: Inconsistent / wrong behavior of boolean operator"
**What did you do?**

Boolean comparison of a histogram quantile against a gauge. I think it is best explained with the following queries / screenshits.

The following query works perfectly fine and just as I expected:

[code]

![image](https://user-images.githubusercontent.com/24834206/90413033-37018800-e0ae-11ea-883f-0bc4e5593464.png)

Now I want to do exactly the same but use a quantile instead

[2020-08-17 15:35] roidelapluie commented on #7816
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2020-08-17 15:35] #7816 closed

[2020-08-17 16:11] roidelapluie commented on #4543
Should it really be +Inf or NaN?

[2020-08-17 16:22] brian-brazil commented on #4543
+Inf, this is the documented behaviour in the code.

[2020-08-17 20:58] jsoref opened #7818 "Unchecked lines should remain unchecked when zooming out"
**What did you do?**
1. Visit /graph
1. Enter a query of the form `100 * (count by(job, namespace, service) (up == 0) / count by(job, namespace, service) (up)) > 10`
1. See a couple of lines that correspond to that query (?)
1. In the "legend rickshaw_legend", click the action (✔) for all but one of them
1. See that only one line remains
1. Click the "glyphicon glyphicon-plus" to change the zoom

[2020-08-17 21:01] roidelapluie commented on #7818
Changing the zoom changes the query, so possibly alter query results, so that would be difficult to put in place. Grafana does this (retain selected legend when time changes) and I quite do not like it.

Note that you can deselect just one in one click by clicking directly on the 'V'.

cc @juliusv WDYT?

[2020-08-18 06:54] mindw commented on #7753
Managed to recover by deleting the head blocks directory in the storage + restart. I was unable to deduce from the error logs which specific file was corrupt. Hope this helps.

[2020-08-18 18:31] jpdstan commented on #7669
@JensErat thanks for noticing! I wonder if that issue applies to us - our Prometheus stack doesn't do any federation. I'd also suspect larger gaps that parallel the 15 minute broken connections that you mentioned in your post (ours are a couple minutes at most)

[2020-08-18 18:36] roidelapluie commented on #7669
As I said a goroutine dump during one of those timeframes might help us.

[2020-08-18 20:39] roidelapluie opened #7824 "Prometheus v2 docker tag"
We should publish a docker image with a v2 tag, so people can chose to stick to that one.

Currenly, they can chose a latest (which will break in 3.x) or a very specific v1.2.3 tag.

[2020-08-19 09:23] obrienrobert commented on #4440
+ 1. Currently using a browser extension. It'd be nice to have a refresh checkbox or something similar.

[2020-08-19 09:41] feliu opened #7826 "Rate function is misbehaving"
**What did you do?**

I queried the following metric:
sum(rate(nginx_ingress_controller_requests{account="sre-adevinta-metrics-pro",exported_namespace="subito-pro",ingress=~"areariservata.*"}[2m]))

**What did you expect to see?**
I expect to see a rate of 24/25 request per seconds given the raw values of the counter metric.

**What did you see instead? Under which circumstances?**
I see a bump of

[2020-08-19 10:31] alburthoffman commented on #7595
@brian-brazil avg_over_time could not work well with alerting cases. for example:
`
groups:
- name: example
  rules:
  - alert: HighRequestLatency
    expr: job:request_latency_seconds:mean5m{job="myjob"} > 30
    for: 3/5
    labels:
      severity:"{{ if (gt $value 60) }}fatal{{ else if (gt $value 30) }}critical{{ end }}"
    annotations:
      summary: High request latency
`

[2020-08-19 18:22] amckinley commented on #7781
For future archeologists: we figured this out. It turns out we were running into the kernel limit `vm.max_map_count`, which controls how many memory map areas a process can request. The default limit of 65536 was too low, so doing `sysctl -w vm.max_map_count=262144` fixed our issue and allowed Prometheus to continue consuming memory. There's probably nothing you can do about this on the Prometheus

[2020-08-19 20:01] jpdstan commented on #7669
@roidelapluie sorry I just got a chance to get to this! these are goroutine dumps from this morning when we saw another gap from around **11:00 to 11:04**.

**11:01 dump**: [goroutine_dump_11_01.txt](https://github.com/prometheus/prometheus/files/5098932/goroutine_dump_11_01.txt)

**11:03 dump**:[goroutine_dump_11_03.txt](https://github.com/prometheus/prometheus/files/5098933/goroutine_dump_11_03.

[2020-08-19 20:02] jpdstan commented on #7669
The gaps still appear to be happening right on the dot every 2 hours at every odd hour (1:00, 3:00, etc). Though today we also noticed a smaller gap at around 9:40

[2020-08-19 20:04] Benjamintf1 commented on #7663
@roidelapluie `mistake people into believing that we follow Go conventions` If you are using go mod, you should be following go conventions. This makes it impossible for anyone else to use go mod to pull in prometheus. We followed the workaround, and it just does not work.

[2020-08-19 20:10] roidelapluie commented on #7663
Hi Benjamin,

We are happy to help you on the prometheus-developers mailing list about this matter, if you can provide us with more details there about what does not work.

[2020-08-19 20:15] Benjamintf1 commented on #7663
Use go (I believe) 1.14.x. Try and import promethues. See that it gives the following error `github.com/prometheus/prometheus@v2.19.3: invalid version: module contains a go.mod file, so major version must be compatible: should be v0 or v1, not v2`, even when imported using the former method.

[2020-08-19 20:18] roidelapluie commented on #7663
Yes, you need to

`go get github.com/prometheus/prometheus@657ba532e42f1db8d7c77bf802378643da0d3118`

[2020-08-19 20:21] Benjamintf1 commented on #7663
yeah, that doesn't work

[2020-08-19 20:27] roidelapluie commented on #7663
I am on go 1.15. It works for me:

[code]

[2020-08-19 20:28] roidelapluie commented on #7663
Note that you can ignore the v1.8.2, that does not reflect the reality.

[2020-08-19 20:43] Benjamintf1 commented on #7663
Hmm, I'm majorly confused. I was in a state where I was getting the error, now I'm suddenly not? I still have some major concerns about the workaround required to be functional with go mod(especially as it's been the very strong stance of go mod that users of go mod should use major versioning in their modules, and as they've reduced workarounds to do so, like removing +incompatible to do so. http

[2020-08-19 20:48] Benjamintf1 commented on #7663
go mod can be a frustrating mystery sometimes :/

[2020-08-19 20:52] jpdstan commented on #7669
Also something we just noted is that these gaps correlate with drops in `prometheus_remote_storage_samples_in_total` as well:
![image](https://user-images.githubusercontent.com/5893781/90688286-17d83700-e223-11ea-8dc7-b91fe11c81bf.png)

[2020-08-19 21:02] roidelapluie commented on #7669
Thank you, I have identified what is going on.

Every 2 hours, because of the `computeChunkEndTime` function, we recreate mmaped head chunks on disks for all the sries we `append()` to head. I am wondering how we could improve that behaviour.

cc @codesome

[2020-08-19 21:07] roidelapluie commented on #7669
Here is the code that decides + cuts the new head chunk after the max time of the head:
https://github.com/prometheus/prometheus/blob/cb830b0a9c7819c4784226f08fbac21741254f1d/tsdb/head.go#L2140-L2146
This function is the one with the lock:
https://github.com/prometheus/prometheus/blob/cb830b0a9c7819c4784226f08fbac21741254f1d/tsdb/head.go#L2144

Every 2 hours all the appenders' append() need to tak

[2020-08-19 21:08] roidelapluie commented on #7669
cc @pracucci maybe at a certain scale cortex/thanos might be affected by this? Do you see this as well?

[2020-08-19 21:23] BON4 commented on #6139
Had this on mux handlerfunc when I was using json.NewEncoder(w).Encode(...) and than  w.writeheader. Fixed by changing the order, first writeheader than json thing.

[2020-08-20 04:12] yeyudetiankon1 opened #7828 "Cloudwatch- Exporter cannot get data in rul.yml in a timely manner to generate alarms"
Hello, I am having an issue with some of the metrics having about a 7-8 minute delay.

For instance, I am looking to test CPU Usage over a certain amount, this will, of course, be raised, but as its down low (at about 1%) I have to set my equation to be very low for testing.

 - aws_namespace: AWS/ElastiCache
       aws_metric_name: CPUUtilization
       aws_dimensions: [CacheClusterId]
       aws

[2020-08-20 08:22] Harkishen-Singh commented on #5496
I think this involves changes in the react UI as well, hence it should be open for now. Once the react work is done, we can consider this closing.

[2020-08-20 09:35] beorn7 commented on #5496
Yes, you are right. This was auto-closed via #5990.

[2020-08-20 16:10] bwplotka commented on #7776
Looks like from all conversations: It works an intended.

I described this behavior better and added tests against it here: https://github.com/prometheus/prometheus/pull/7795 but overall this ready is good to be closed (:

[2020-08-20 16:10] #7776 closed

[2020-08-20 21:23] beorn7 commented on #7781
Yeah, Prometheus maps the TSDB block files into memory, and while it compacts multiple smaller blocks into bigger ones spanning longer timeframes, the total number of blocks is growing until the retention limit is reached. (Prometheus might also only map some older files for real once they are accessed, but I'm not sure about that one.)

In any case, congrats to the awesome troubleshooting. We sho

[2020-08-20 22:37] brian-brazil commented on #7781
Everything needed is mmapped in when we load the block, so it's basically proportional to the number of blocks you have.

[2020-08-20 22:41] roidelapluie commented on #7826
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2020-08-20 22:41] #7826 closed

[2020-08-20 23:39] amckinley commented on #7781
Let us know when you get around to that; we could help you write a book on the subject ;)

[2020-08-21 07:31] feliu commented on #7826
Hi @roidelapluie, I post it here because it looks like a misbehaviour of the rate function, given the raw data points. Using a monotonic counter should not be a misusage of the rate function.

Have you take the time to look at the examples provided? Thanks again.

[2020-08-22 21:39] Berbe opened #7835 "Wal corruption after manual recovery from running out of disk"
**What did you do?**
At ~13:36Z on 2020-08-22, a Prometheus instance ran out of disk.
On recovery, at ~16;15Z, disk space was restored, Prometheus started logging data points again and said data started to become usable again.

Suddenly, later on, data from ~16:15Z to 18:00Z vanished, seemingly because Prometheus detected corruption.

**What did you expect to see?**
Either:
- Safe atomic writes, l

[2020-08-23 10:29] roidelapluie opened #7836 "Update GRPC to latest release"
@beorn7 @codesome

In the latest release, we had to rollback the GRPC release.

Can we now update GRPC for v1.31.0? (see #7621)

It is annoying not to update it because in the last month some dependencies depend on newer releases.

[2020-08-24 07:27] codesome commented on #7753
_I will get to this either this week or next week, sorry for the delay_

[2020-08-24 08:26] showuon commented on #7812
@roidelapluie , I've investigated this issue, and found the root cause is that we didn't build the `npm_licenses.tar.bz2` before running `tarball` in `.promu.yml`. However, we currently don't support `make` command in the `promu`, nor customized commands to build the `npm_licenses.tar.bz2` (which is to yarn download modules and than tarball all the module license files). I suggest that we add the

[2020-08-24 08:29] showuon commented on #7801
@pracucci , if you don't have time to handle this issue, I can help! Thanks.

[2020-08-24 08:50] roidelapluie commented on #7812
From my 10,000 feet view, there are 2 issues:

- the file npm_licenses.tar.bz2 is in th promu.yml and promu does not complain that the file is not there
- there is a missing step in our release process to create that file (see https://app.circleci.com/pipelines/github/prometheus/prometheus/8468/workflows/c73170ea-191d-452b-a377-e334d420bd8c/jobs/37032 for our tests)

[2020-08-24 09:02] pracucci commented on #7801
_Sorry for the late reply._

Yes, please!

Fixing it is trivial, but I've found difficulties adding a test, because the fix is in the API logic.

[2020-08-24 09:23] codesome commented on #7836
And looks like it is going to take some time https://github.com/etcd-io/etcd/issues/12124#issuecomment-674368288, but I see some push there. Upgrading gRPC in Prometheus would entirely block Cortex from vendoring Prometheus :/

If the dependencies in Prometheus which depend on latest gRPC are not critical to be upgraded or not blocking any work, we could consider waiting for it to be upgraded in e

[2020-08-24 09:56] bmgeek opened #7840 "prometheus hight memory usage"
Hello

Prometheus consumes a lot of memory, with more and more every day.

pprof metrics:

inuse space:
[code]

alloc space:
[code]

* Prometheus version:

	version 2.20.1

* Prometheus configuration file:
[code]

[2020-08-24 09:58] brian-brazil commented on #7840
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-08-24 09:58] #7840 closed

[2020-08-24 10:00] showuon commented on #7812
@roidelapluie , thanks for your response. But I think you're wrong. I checked the release process. Promu indeed complained the that the file doesn't exist.
But thanks for the info, I found an easy fix is to make the `npm_licenses` as the `build` dependency in Makefile. I'll make more tests and make sure it works well for all OS. Thanks.
![image](https://user-images.githubusercontent.com/43372967/9

[2020-08-24 10:21] roidelapluie commented on #7828
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2020-08-24 10:21] #7828 closed

[2020-08-24 14:11] brian-brazil commented on #7835
It sounds like we might not be handling things correctly when a write to a WAL segment fails, we should ensure that if there is a partial write that fails then subsequent writes either also fail or that they work properly.

[2020-08-24 17:36] Berbe commented on #7835
In case this comment adds value, it seems data older than 4h (2x 2h?) is erased.

It seems writing to the same corrupted segment indeed continues. The proper behaviour would be to start a new one.

I would also stress that, despite the srgment being corrupted, data was exploitable from it. If compaction is not possible directly, would it be possible to rewrite readable data to an uncorrupted, temp

[2020-08-24 18:38] roidelapluie commented on #7835
Which filesytem are you using?

[2020-08-24 19:21] Berbe commented on #7835
`ext4` inside a Docker container

[2020-08-24 22:15] roidelapluie commented on #7824
Note for implementation that v2.19.3 was released after v2.20.0. In that case, we should not update the v2 tag.

[2020-08-25 04:42] Wander1024 commented on #7753
Same in 2.19.2

[2020-08-25 05:04] lentil1016 commented on #7753
Same in prometheus `2.20.1`, a data missing lead me to this error. There is some info I think might help:

- This is the first time that this instance have print an error log.
- That day I used to let two prometheus instance run on the same WAL file for a while, though one of them never finish the WAL loading stage.

![image](https://user-images.githubusercontent.com/12230071/91124675-48f8b180-e6d

[2020-08-25 05:22] lentil1016 commented on #7753
Update:

Just now, prometheus logged this error again, and it seems another 2h's data has missing as a consequence.

![image](https://user-images.githubusercontent.com/12230071/91126176-f9b48000-e6d5-11ea-9cf5-1f0ac8f5c281.png)

[code]

[2020-08-25 09:07] lentil1016 commented on #7753
Update:

Now I see it's not missing, it's just frozened and become unreadable due to compaction failed. And I found this https://github.com/prometheus/prometheus/issues/5617#issuecomment-656422029 to help me understand this problem better. But I still have no idea how to recover these "frozen" data segements.

[2020-08-25 09:49] Seitanas opened #7846 "Go regression creates jitter in the timer, creating less compressible timestamps, which grows TSDB data size across the board"
Hello,
we are having discussion on strange issue on data usage growth since upgrading Prometheus on victoria-metrics github page.
As it appeared at the beginning that it may be victoria-metrics problem, we saw that the downgrade to Prometheus 2.16.0 solves the issue. Perhaps you any ideas what is happening there?
Link to the discussin:
﻿https://github.com/VictoriaMetrics/VictoriaMetrics/issues/695

[2020-08-25 10:06] roidelapluie commented on #7846
We need more details about this setup, the versions, involved, the configs, to try to asses whether it is a regression of prometheus or not.

Also it seems that you have downgraded just 1 hour ago which might not be enough to show that it is enough.

[2020-08-25 10:42] juzhao opened #7847 ""opening storage failed" error for one prometheus pod"
prometheus version: 2.20.0
GCP platform, configured PVs for prometheus
[code]
the node where prometheus-k8s-1 hosted is NotReady, reboot it, then there is "opening storage failed" error in prometheus-k8s-1 pod, no such issue with prometheus-k8s-0
[code]

[2020-08-25 10:54] roidelapluie commented on #7847
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2020-08-25 10:55] bwplotka commented on #7847
Really? This feels like a bug TBH ):

[2020-08-25 11:03] roidelapluie commented on #7847
OK; it seems at first sight unsupported filesystem or problem in the kube storage layer.

[2020-08-25 15:42] franck102 commented on #7582
That is a useless suggestion, the obviously efficient approach is to have the scraping side - Prometheus - pick, aggregate and choose amongst the metrics exposed by sources; rather than expecting every source on the planet to provide fine-grained configurability as to what they expose; and every sysadmin to go configure 20 sources... that they often don't even control.

Anyway... this and similar

[2020-08-25 18:56] guidodobboletta commented on #6092
Should we close this issue then? @roidelapluie

[2020-08-26 04:10] roidelapluie commented on #6092
No, this feature request is valid. We should be able to validate the file. I will comment me in a few hours.

[2020-08-26 06:53] perlun opened #7852 "Recording rule displaying different results than ad-hoc querying"
**What did you do?**
Created a recording rule and used it in a Grafana dashboard

**What did you expect to see?**
Similar query results as when using ad-hoc querying

**What did you see instead? Under which circumstances?**
### Querying recording rule

(See included recording rules config later down in this issue.)

![image](https://user-images.githubusercontent.com/630613/91270551-7a7c8600-e781-1

[2020-08-26 07:46] codesome commented on #7571
Within Prometheus: no, but technically yes as the method is exposed and can be used in any way possible.

[2020-08-26 07:47] Seitanas commented on #7846
Waited for almost 24hours, still looks that storage usage has improved:
<img width="516" alt="Screenshot 2020-08-26 at 10 37 04" src="https://user-images.githubusercontent.com/6713389/91274916-1b6e3f80-e788-11ea-9ddf-dc26a7d08bf7.png">

The setup:
we are using two prometheus machines that are scraping and sending same data (for ha purposes) every 30s to 3 independent instances of victoria metrics.

[2020-08-26 07:55] brian-brazil commented on #7852
There's nowhere enough information here to indicate a bug. Can you share raw data for the relevant time period?

[2020-08-26 07:56] codesome commented on #7571
Checking once again, `curFileSequence` could only be changed with `writePathMtx` held. So I guess there is not issue here.

[2020-08-26 08:52] #7571 closed

[2020-08-26 10:14] mguthmuller opened #7854 "blackbox probe : x509: certificate signed by unknown authority even with insecure_skip_verify set to true"
**What did you do?**

Hello!

I'm trying to monitor a website with prometheus and blackbox exporter. Each of them are running inside a docker (images pulled from official docker hub https://hub.docker.com/r/prom/prometheus and https://hub.docker.com/r/prom/blackbox-exporter/).

My blackbox config:

[code]

My issue: the target that I'm trying to monitor is using a self-signed certificate. That's w

[2020-08-26 11:05] brian-brazil commented on #7854
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-08-26 11:05] #7854 closed

[2020-08-26 17:59] #7753 closed

[2020-08-26 20:56] AutonomicMattRoy opened #7858 "Allow Different Scrape Config Jobs to Write to Different Remote Write URLs"
## Proposal

You can currently configure multiple remote_write URLs/endpoints but only on a global level, meaning that all data/metrics scraped by your scrape config jobs will be written to all listed endpoints unless you have specific `write_relabel_configs` defined. If you only want certain data to go to one endpoint and certain scraped data to go to a different endpoint you have to configure yo

[2020-08-26 21:00] roidelapluie commented on #7858
Thank you for your proposal.

Based on your own message, this is possible to use `keep` on the job label in the write_relabel_configs.
I would expect that in the case of cortex, the most common usecase is to use one prometheus per tenant.

[2020-08-26 22:51] brian-brazil commented on #7858
Indeed, I'm not clear what you're actually asking for here. Multi-tenancy is out of scope for Prometheus itself, so this seems more like a Cortex usage question. As Cortex is multi-tenanted I'd expect everything to go to one Cortex, and if you have multiple Cortexes then it'd be best to also have multiple Prometheuses.

[2020-08-27 01:01] vjsamuel commented on #4522
@brian-brazil thank you for the clarity on publicly available maps to add in our own implementations. however `EvalNodeHelper` is largely unexported. is there scope to make few of the members like `ts` `out` `dmn` and `dropMetricName()` to be exported so that external implementations can use them?

[2020-08-27 02:30] abursavich commented on #7107
Fixed by #7701.

[2020-08-27 04:30] #7107 closed

[2020-08-27 05:47] codesome commented on #7753
The fix for this will be in 2.21.0 which will be released next week if no bugs found. I am not planning for a patch release for 2.19.x and 2.20.x as there are no major breaking changes in 2.20 and 2.21 except for few metric name changes and enable WAL compression by default which can be disabled via a flag. So it is recommended to upgrade to 2.21.0 when its out.

[2020-08-27 08:42] Betula-L opened #7859 "PromQL: Dot in regexp should also match newlines (which is less surprising to most users and also allows optimising the `.* `regexp)"
**What did you do?**

I found that wildcard label matcher such as `app=~".*"` impact on query performance significantly.

Then i tried to edit benchmark `BenchmarkPostingsForMatchers` as followed,

![image](https://user-images.githubusercontent.com/6059935/91417449-628d2b00-e883-11ea-8855-bb24a9344e1d.png)

The results is amazing!!!

The time consumption with wildcard is worser 100K times than wit

[2020-08-27 08:46] roidelapluie commented on #7859
Thank you.

This is equivalent in TSDB but not in PromQL, so the optimization could be done in tsdb. I think it would be great.

[2020-08-27 08:47] roidelapluie commented on #7859
Waiting for a tsdb maintainer to set P3 on this if they also find this useful.

[2020-08-27 08:51] roidelapluie commented on #7859
in promql:

- we need to send the matcher to remote reads
- `absent(foo{i=~".*",i="a"})` returns `{} 1` and `absent(foo{i="a"})` returns `{i="a"} 1`

[2020-08-27 09:19] codesome commented on #7859
Yeah it would be nice to have. We could also do it for `.+`.

[2020-08-27 09:24] brian-brazil commented on #4522
The general policy is to accept PRs to make things public.

[2020-08-27 09:29] roidelapluie commented on #7859
Didn't @pracucci made such optimizations already?

[2020-08-27 09:30] roidelapluie commented on #7859
I have found cef4dd6fff06198c61007211be460fb83cd708c1 and 2f6bf7de4c41015a9adeeb3e544766d61ec865eb.

[2020-08-27 09:46] codesome commented on #7859
That was for individual regex matchers

[2020-08-27 12:22] Betula-L commented on #7859
May i pick up this issue?

I wonder that maybe i can take part into prometheus contribution.

[2020-08-27 12:26] pracucci commented on #7859
I think we tried to do this optimisation in the past, but have been told by @brian-brazil that it's not safe to just skip it because of label values with newlines.

[2020-08-27 12:27] brian-brazil commented on #7859
Yes, this is not a safe optimisation.

[2020-08-27 12:29] roidelapluie commented on #7859
I remember now indeed :)

[2020-08-27 14:25] tiagomeireles commented on #7753
Thank you @codesome!

[2020-08-27 16:57] Kampe commented on #4739
Seeing some of the same issues here - how do you specify the specific measurement table to utilize within the database you supply for prometheus to read?

[2020-08-27 17:18] aqua-terra commented on #4739
@Kampe I gave up on this issue and ended up just using InfluxDB data source directly in Grafana instead of going through prometheus remote read.

[2020-08-27 19:44] michaelfward commented on #6092
Not sure if this is related, but I have a region defined in my configuration and am getting the same error re: requiring a region.

[code]

[2020-08-27 19:47] roidelapluie commented on #6092
Your configuration is invalid. Please see:

[code]

[2020-08-27 20:24] ctmuthu commented on #4739
Dear All,

Prometheus Config:

# Global config
global:
 scrape_interval: 15s # Set the scrape interval to every 15 seconds.
 evaluation_interval: 15s # Evaluate rules every 15 seconds.
 scrape_timeout: 15s # scrape_timeout is set to the global default (10s).
remote_read:
- url: http://xxx.xxx.xxx.xxx:8086/api/v1/prom/read?db=prometheus
  remote_timeout: 1m

(Please use proper indendation)

Influxd

[2020-08-27 20:26] ctmuthu commented on #4739
Hello all,

If nothing works. Then I can debug with you together over the weekend.

On Thu, Aug 27, 2020 at 10:24 PM Muthuraman Chidambaram <ctmuthu93@gmail.com>
wrote:

--
Thanks & Regards,
Muthuraman Chidambaram
Contact : +49 1625 93 99 01

[2020-08-27 21:04] csmarchbanks commented on #7858
As you pointed out, the supported way to do this is using `write_relabel_configs` combined with `keep` and `drop`. Though, it might be less error prone to separate the scrape jobs to different Prometheus instances based on tenant rather than mixing the data at all.

I am going to close this issue as we already support the behavior you are asking for. I am happy to reopen if we are misunderstanding

[2020-08-27 21:04] #7858 closed

[2020-08-28 02:30] johncming opened #7861 "Go 1.15 will break a test case about ssl SANs."
**What did you do?**

Commit PRs and found that `TestNewHTTPWithServerName ` failed in the windows environment in CI.

**What did you expect to see?**

No error for `TestNewHTTPWithServerName`.

**What did you see instead? Under which circumstances?**

I looked the last PR results, and there were some successes and some failures with this use case.

**Environment**

windows in ci

* System informa

[2020-08-28 03:03] Betula-L commented on #7859
It seems that we should use `!=""` rather use `.*` or `.+`  in the most situations now.

[2020-08-28 06:58] roidelapluie commented on #7861
Thanks. This has been fixed on master a few weeks ago.

[2020-08-28 06:58] #7861 closed

[2020-08-28 08:27] ClementIV commented on #7692
I want to fix this bug.
could you give more info about this issues？
Q1: How to get this error？
Q2: Which branch is used？

[2020-08-28 09:21] pracucci commented on #7859
If you're currently using `app=~".*"` it also matches metrics without the `app` label at all. On the contrary, if you use `app!=""` it will not match metrics without the `app` label. The two label selectors are not the same thing.

[2020-08-28 10:35] franck102 commented on #6282
Looking into the future may not make sense, but looking beyond "start" in range queries most definitely does!
`avg_over_time(gauge[1h])&start=<today 00:00:00>&end=...`

currently returns uses data from yesterday for the first sample.

[2020-08-28 15:25] roidelapluie commented on #3014
Fixed by #7701 I think .. cc @brian-brazil

[2020-08-28 15:41] jsoref commented on #7818
The problem is that I need to de-select all but one. Having to do that repeatedly is painful.

[2020-08-28 15:43] brian-brazil commented on #3014
Yeah, this can be closed.

[2020-08-28 15:43] #3014 closed

[2020-08-28 15:43] roidelapluie commented on #7818
Then you can click on the text of that one.

[2020-08-28 15:57] dinesh4747 opened #7866 "Demerits of federated prometheus with multiple shards"
Hi Team,

we have implemented huge number of shards in prometheus which scrapes 1000 target nodes across the enterprise

we are currently in process of running some load test and ascertain the unknowns one below and need some guidance on the same -

On what cases sharding approach can fail?

1. How do we quantify the load/scale requirements?
2. Is there any optimized settings/configurations or bes

[2020-08-28 16:00] brian-brazil commented on #7866
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-08-28 16:00] #7866 closed

[2020-08-28 23:45] roidelapluie commented on #7846
Like that I don't really have an idea, do you have node exporter reporting an increase of network traffic as well?

[2020-08-28 23:46] roidelapluie commented on #7846
Could you show us a printscreen of https://grafana.com/grafana/dashboards/12054 ?

[2020-08-29 05:38] dinesh4747 commented on #6139
Just curious does superfluous issue been fixed in any off the latest versions of Prometheus?

[2020-08-30 19:29] roidelapluie opened #7870 "Hetzner service discovery does not check the status code of the robot api"
**What did you do?**

Try  HZ robot against a local endpoint, which returns a 404

**What did you expect to see?**

Service discovery tries to unmarshal the response.

**What did you see instead? Under which circumstances?**

Only unmarshal if the answer is 200. it means that it will also do that for 403 (unauthorized).

cc @LKaemmerling

[2020-08-30 19:35] LKaemmerling commented on #7870
I will fix this tomorrow directly 👍🏻

[2020-08-30 19:37] roidelapluie commented on #7870
Can you fix it against the release-2.21 branch? Thanks!

[2020-08-31 06:07] Seitanas commented on #7846
<img width="1591" alt="Screenshot 2020-08-31 at 09 04 06" src="https://user-images.githubusercontent.com/6713389/91687669-f9e6cc80-eb68-11ea-9161-85bf8330395f.png">
And no - there was no traffic increase nor increase on datapoint count.

More interesting I've noticed - prometheus local sore also began to grow after upgrade. And when I've downgraded to 2.16.0  usage slowly began to drop (due retent

[2020-08-31 13:41] juliusv commented on #7781
@amckinley See also https://twitter.com/RealRockaut/status/1300425495008481281 - there's definitely interest in learning more about such a huge setup, maybe a PromCon talk next year, or something on your own earlier than that? :)

[2020-08-31 13:42] rockaut commented on #7781
I know this is closed already - and my comment is off-topic, sorry - but as a user and community-member I would love to see and hear more about this setup, the purpose and the challanges around it if its possible ;-)

[2020-08-31 13:53] RichiH commented on #7781
https://twitter.com/TwitchiH/status/1300373916951744512 is the root comment for the new-found publicity. A few thoughts that don't go out of my head:

1. Are you able to spin up a sacrificial instance which ingests the data twice to see if and how it explodes?
2. Would you be willing to write a use case report, case study, similar?
3. Can you share a pprof of a longer-running instance with us?

[2020-08-31 14:08] gouthamve commented on #7846
Hrm looking at this, this could be due to us mmap-ing headchunks to disk. But this would explain the slight increase in disk usage in Prometheus, but this should not affect the remote-write at all. Could you see if the data in VM is compressing just as well as it did when running with 2.16? Could you also check if the number of samples being sent is the same in both cases?

This looks like an issu

[2020-08-31 14:13] gouthamve commented on #7847
Hi, we've taken a look at this in the bug-scrub and this looks more like a bug. The Prometheus is starting and immediately printing stopping logs. And we need to check if the `00002` file is not an empty file. We should see if we can help make the messaging clear and if the failed TSDB opening is causing the stopping of other components.

[2020-08-31 14:14] gouthamve commented on #7847
@juzhao Could you check and let us know how big the `/prometheus/chunks_head/000002` file is. does it have data or is it empty?

[2020-08-31 14:17] gouthamve commented on #7847
Further, this looks like a dupe of https://github.com/prometheus/prometheus/issues/7469. If you find the `000002` to be an empty file, then please delete that file. If its not empty, and then this would be another bug, so please reopen the issue.

[2020-08-31 14:17] #7847 closed

[2020-08-31 14:19] gouthamve commented on #7852
This could also be caused by isolation issues which we fixed in the latest issues. Could you upgrade to the new versions and see if this is still reproducible?

[2020-08-31 14:21] gouthamve commented on #7859
Hrm, we've discussed this before and even sent a PR for this: https://github.com/prometheus/prometheus/pull/6996

This is not a safe optimisation with the current model, but something to consider for Prometheus 3.0. Will add this to the dev summit agenda and report back once we discuss this further!

[2020-08-31 14:22] gouthamve commented on #7870
Closed by #7872

[2020-08-31 14:22] #7870 closed

[2020-08-31 14:25] indavarapuaneesh commented on #7783
can I look into this?

[2020-08-31 14:51] Seitanas commented on #7846
I can see no visible effect on ingestion rate:
<img width="786" alt="Screenshot 2020-08-31 at 17 46 22" src="https://user-images.githubusercontent.com/6713389/91733205-ed3a9680-ebb1-11ea-95e5-f345d3e77c5b.png">
Nor in merge part:
<img width="1585" alt="Screenshot 2020-08-31 at 17 47 57" src="https://user-images.githubusercontent.com/6713389/91733404-2410ac80-ebb2-11ea-827e-847c937f3e64.png">
Can't

[2020-08-31 15:14] juzhao commented on #7847
sorry, the cluster was destroyed, will check the file if we meet it again

[2020-08-31 15:31] roidelapluie opened #7873 "TSDB performance regression in 2.21"
**What did you do?**

Run `sum(count_over_time(up[7d]))` ; takes `21s` in 2.21, `9s` in 2.20.

2.20:
[code]

2.21:

[code]

**Environment**

* Prometheus version:

[code]

[2020-08-31 16:37] roidelapluie commented on #7873
I have ran locally the query over a small tsdb, here are the response times:

28c5cfaf0d417d9bc2378f1e9838a15ebc76e6b8: 0.8
30e079bbd5cc72517f1ad51927d403010f4036ff: 0.10
a5366cb23667c623458f6a0f8fc67e10e10e01c1: 0.10
db7c5e204aeadf603ae8eacc9691326b1f188c7e: 0.04
e6d7cc5fa43716281bdf5d1cf40415f99a0e9623: 0.10

[2020-08-31 16:52] haarchri commented on #5776
@yeplaa  any progress ? can we support ? because we also need a feature like this - because we didn't have cluster scope rights ;/

[2020-08-31 18:20] krasi-georgiev commented on #5866
quite outdated now, closing

[2020-08-31 18:20] #5866 closed

[2020-08-31 18:20] krasi-georgiev commented on #5864
not relevant as the tsdb tool has been merged with the promtool

[2020-08-31 18:20] #5864 closed

[2020-08-31 18:56] amckinley opened #7874 "example_write_adapter out of date?"
I think the `example_write_adapter` might be missing some `remote_write` protocol changes from the last few years? In particular, I think maybe it needs to report back to the sender the number of successfully-received samples (just a guess since I've noticed Prometheus report on the number of failed samples when there was a problem with the `remote_write`).

**What did you do?**
Compiled and ran `

[2020-08-31 18:58] roidelapluie commented on #7874
Thanks for your report. cc @cstyan @csmarchbanks

[2020-08-31 19:42] amckinley commented on #7781
Those are great ideas! Our team is really bandwidth-constrained right now, but especially once the dust is settled migrating _away_ from our giant Prometheus, we'd definitely be interested in sharing more details with the community about how we got here.

We could try that, but FWIW we've seen our current 2TB instances still OOM when something like this slips by us:
![image](https://user-images.gi

[2020-08-31 19:47] RichiH commented on #7781
SVG sounds good, yes.

[2020-08-31 19:53] WoLpH commented on #7847
I just ran into the same issue and here's the results for me:
[code]

[2020-08-31 19:57] roidelapluie commented on #7847
Which version of prometheus are you running?

[2020-08-31 20:02] WoLpH commented on #7847
I'm currently running 2.19.0. But I'm not a 100% certain which version I was running before.

The whole story here:
1. prometheus crashed
2. I did a helm upgrade to see if that would fix it
3. prometheus still crashed, I found out that the disk was too small
4. I resized the disk
5. now prometheus crashed with the error this issue is about
6.. I deleted everything in chunks_head and restarted prom

[2020-08-31 20:05] roidelapluie commented on #7847
That bug is fixed in 2.19.3, 2.19.0 and 2.20.1

[2020-08-31 20:14] WoLpH commented on #7847
It seems that the helm chart fixes the version on install, so after the install it's never updated again. Not even with a `helm upgrade` command.

Thanks for the help!

[2020-08-31 20:15] roidelapluie commented on #7873
![profile001](https://user-images.githubusercontent.com/291750/91764379-7adcad00-ebd7-11ea-835d-7e4c0285bf13.png)
![profile002](https://user-images.githubusercontent.com/291750/91764380-7b754380-ebd7-11ea-96ec-920f5e7da923.png)

[2020-08-31 20:56] roidelapluie commented on #7873
![profile005](https://user-images.githubusercontent.com/291750/91767976-3f44e180-ebdd-11ea-8f3d-d4428ccfa896.png)
![profile006](https://user-images.githubusercontent.com/291750/91767980-40760e80-ebdd-11ea-9fdf-2dd681098f66.png)

[2020-08-31 21:45] csmarchbanks commented on #7874
Hello, the `example_write_adapter` is only an example, and not built for efficiency or scale, for example each request would generate a large amount of garbage to be collected due to decoding the snappy buffers and objects without any reuse. Is it possible you were overwhelming the example_write_adapter?

The metrics for number of sent samples and other similar metrics are entirely based on the ht

[2020-08-31 22:04] amckinley commented on #7874
To provide more context, we're currently load testing Cortex as a replacement for Prometheus in our environment. When we enable the `remote_write` from Prometheus to our Cortex cluster, we're observing that Prometheus maxes out at around 30MB/sec of `remote_write` traffic despite low load on the Cortex side. The `remote_write` WAL follower on our Prometheus server rapidly falls behind, and then we

[2020-08-31 22:19] hooten commented on #7546
I'm working on this one

[2020-09-01 03:10] csmarchbanks commented on #7874
Interesting, thank you for the context. The "dumbest" remote write receiver you could write is a simple http server that redirects all input to /dev/null and returns a 200. E.g.
[code]
The protocol sends the snappy compressed protobuf over http that you see in the `example_write_adapter`, but only checks the http response code upon return. You can find the logic in [client.go](https://github.com/p

[2020-09-01 03:29] amckinley commented on #7874
Thanks very much for the example implementation! We'll test that and report back when we have more information.

We've tried quite a few variations on our remote_write config, but this is what we're using currently:
[code]

We would love some guidance on how to tune this for extremely high-throughput Prometheus installs communicating over 10GE links to a Cortex cluster. You may remember us from su

[2020-09-01 06:54] yeplaa commented on #5776
@haarchri @beorn7 @030 sorry for the late return but on my side this project has been abandoned..

[2020-09-01 07:49] roidelapluie commented on #7873
It seems like the old code did not touch the heap package whereas the new one is taking a lot of time here.

[2020-09-01 08:37] #5567 closed

[2020-09-01 10:53] Harkishen-Singh commented on #5567
I guess, he means to say that all the data got deleted due to a large end value.

I do agree with what @brian-brazil said, but I think we can have `add check in prometheus to validate unix timestamp` as a sanitary check.

[2020-09-01 11:11] brian-brazil commented on #5567
I don't see how that'd help here, the timestamp was valid.

[2020-09-01 11:19] bwplotka commented on #7873
Yes, we had mergeSort instead of the heap - heap usually takes less memory, but looks like we are slower in this case.

Over what data you are running this query? Are you sure it's the same data? The same step?

Can we reproduce this with some of our benchmarks locally? :thinking:

[2020-09-01 11:19] bwplotka commented on #7873
I don't get also why it's over_time regression, if this is iterator part, then we should see similar on other queries as well, no?

[2020-09-01 11:23] roidelapluie commented on #7873
It just happens that I noticed it with _over_time, at that point I did not know exactly what was going on.

[2020-09-01 11:26] roidelapluie commented on #7873
There is a +100% performance degradation in my test queries - wheter they take 10ms or 9s, it ends up taking twice as much time.

The data of the bench is run over blocks I have dowloaded from demo.do.prometheus.io.

Same data, same step.

In prod, it is 2 tsdb of a HA prometheus pair, one 2.21 and one 2.20, for which the rule groups duration were the same, but some of them doubled when updated on

[2020-09-01 11:30] roidelapluie commented on #5567
On 01 Sep 04:11, Brian Brazil wrote:

We could refuse timestamps higher than

10000000000

date -d @10000000000
Sat Nov 20 18:46:40 CET 2286

to prevent people who think it is ms for doing so.

And we can revisit that in the year 2250.

--
 (o-    Julien Pivotto
 //\    Open-Source Consultant
 V_/_   Inuits - https://www.inuits.eu

[2020-09-01 12:13] Harkishen-Singh commented on #5567
that's what I meant as a sanitary check.

[2020-09-01 15:51] amckinley commented on #7781
GitHub won't let me embed SVGs, so here you go: https://pastebin.com/4RBu9HQ6

That server's been running for about 24hrs.

[2020-09-02 07:51] jirib opened #7877 "Improve logging of snapshot start and completion"
##  Proposal

Improve logging of snapshot. Right now it's not clear when exactly snapshot is called and when snapshot call is finished.

[code]

In the log below snapshot call was executed from a cronjob every 30 mins. Surprisingly some lines do not always appear, what always appears are `component=tsdb msg="Snapshotting block" ` lines, but what one can see first such line with 5 mins delay. We kn

[2020-09-02 09:37] codesome opened #7878 "Extend PromQL"
This issue is meant to gather the requirements and allow comments around extending PromQL.

Feel free to comment on this issue with your use cases which you are not able achieve currently with PromQL.

When we identify some use-cases that we want to solve, we can open dedicated GitHub issues for them.

I plan to keep this issue as the main spot for discussions (and not mailing list) as it's easier

[2020-09-02 11:50] bwplotka commented on #7873
Thanks, trying to repro locally.

[2020-09-02 12:08] bwplotka commented on #7873
Any differnce in CPU consumption? Maybe your CPU is throttled in the same time?

[2020-09-02 12:15] roidelapluie commented on #7873
The profile is on the same machine, and on prod the cpu usage is the same

[2020-09-02 14:06] bwplotka commented on #7873
[code]

[2020-09-02 14:09] bwplotka commented on #7873
Maybe this benchmark is not going through problematic parts? It shows a small regression only when selecting data from

sorted head:
[code]
I think if that would be the case you could reproduce it with instant query thas spans on head + at least one block.

Bench time `1m`

[2020-09-02 14:23] bwplotka commented on #7873
The problem is that this is for 1000000 series with just one sample, that's why it might be not showing all things. Extending this now.

[2020-09-02 14:29] bwplotka commented on #7873
Also @roidelapluie if you can describe the dataset returned by the query (number of series, scrape interval)

[2020-09-02 14:42] roidelapluie commented on #7873
423 series, over 7 days, scraped every 30s

[2020-09-02 17:23] bwplotka commented on #7873
Reverted to old merge Series Set, let's test it out: https://github.com/prometheus/prometheus/pull/7882

[2020-09-02 20:06] Cho1409 commented on #7878
Hey @codesome, thank you for the move

I'm struggling with a promql solution right now. I need to catch when there's two k8s deployment running with different builds. Example:
- microservice-build-1 is running
- just deployed the microservice-build-2
- both builds are running, which is bad, and they stay like that for 20-30 minutes, until the old one dies as expected

So how can I setup a promql/a

[2020-09-02 20:08] benclapp commented on #7878
One of the scenarios that is often quite hard to query for is an `increase()` or `delta()` since a specific point in time.

Some use cases I could imagine would be a range query on a dashboard, showing the cumulative increase over time for a counter. Also count of events since start of day/week/month as an instant query.

At least with my current understanding, it's not possible to query for cumul

[2020-09-03 02:03] BertHartm opened #7885 "Document remote_read protocol"
**What did you do?**

ran a query_range of `sum(increase(metric_name{label!="true"}[1m] offset 1w))` on a prometheus that remote reads for data

full path `/api/v1/query_range?query=sum(increase(metric_name%7Blabel!%3D%27true%27%7D%5B1m%5D%20offset%207d))&start=1599095850&end=1599097800&step=150`
(32.5 minutes between start and end)

**What did you expect to see?**

remote read would fetch 33.5m w

[2020-09-03 02:19] colltoaction opened #7887 "Unexpected behavior when using _ in alert unit test to generate a missing value"
**What did you do?**

I used `_` in an alert unit test to generate a missing value

**What did you expect to see?**

An alert being triggered

**What did you see instead? Under which circumstances?**

The alert was not triggered. However, I found a workaround that shows this is unexpected behavior.

**Environment**

I have a repro that I based off `master` a few minutes ago: https://github.com/col

[2020-09-03 02:46] BertHartm opened #7888 "Jaeger tracing broken in 2.20.1"
**What did you do?**

upgraded from prometheus 2.19.3 to 2.20.1

**What did you expect to see?**

parent / child trace relationships to continue working for remote read sources

**What did you see instead? Under which circumstances?**

the remote read sources were behaving as if no parent trace existed
also, sometimes seeing spans showing no context in the jaeger ui, but can't consistently reprodu

[2020-09-03 03:58] jclulow opened #7890 "minor fix for docker dependency to fix illumos build"
I deploy and use Prometheus on some illumos-based systems.  The build process has been working out of the box for a while, at least as of earlier this year.

Trying to build master now, though, and I hit this error:

[code]

This turns out to be because the `illumos` build tag is missing from `vendor/github.com/docker/docker/client/client_unix.go`.  Adding it in manually allows the build to comple

[2020-09-03 06:54] codesome commented on #7878
@Cho1409 I think that's already doable with current PromQL. You can do something like `count(some_metric{label=~"<relevant pattern>"}) > 1` where the label would be different for different builds.

[2020-09-03 07:55] brian-brazil commented on #7887
Thanks for your report, this is as expected. This is due to staleness handling, we look back for the last non-stale value. The issue here is that your test data is not quite realistic, try `stale` as the value instead - or evaluate it 5m later.

[2020-09-03 08:14] yuanyiran opened #7891 "The deleted indicator data cannot be completely cleared"
**What did you do? What did you see instead? Under which circumstances?**

I use Prometheus disk cleaning API to clean up the deleted index data. After successful execution, the data can be queried

Normal query results:
![image](https://user-images.githubusercontent.com/64528937/92088476-83173100-edff-11ea-8917-6141841e44bd.png)

After executing the delete index API, execute the clean disk API:
!

[2020-09-03 08:31] brian-brazil commented on #7891
I see nothing wrong here at all. You deleted the data, and it is no longer returning in queries.
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from

[2020-09-03 08:31] #7891 closed

[2020-09-03 08:36] showuon commented on #7877
Will work on this. Thanks.

[2020-09-03 09:13] codesome commented on #7878
@dykow

That sounds like something which can be done with PromQL for your example. You can use `delta(metric[1m]) < 0`.

Talking about detecting metrics disappearing, you can use `delta` over `count` on that specific metric (now that we have subqueries).

[2020-09-03 09:20] bwplotka commented on #7885
That's an interesting one, worth investigating.

[2020-09-03 09:36] codesome commented on #7878
Another thing we cannot do natively in PromQL is graphing top N time series. All the details [are in this blog post](https://www.robustperception.io/graph-top-n-time-series-in-grafana).

TL;DR is, if you use `topk` in query_range, you can get much more than `k` time series. We cannot graph just `k` metrics based on some condition (say sum, avg, etc is the highest for past x hours).

While it can b

[2020-09-03 10:50] dykow commented on #7878
@codesome  I can detect that value changed, but I won't be able to keep alert active for longer than 1m (according to Your example query), because after that time delta will be 0 if the value won't change again, so the alert will deactivate.

`delta` expects `range vector` and `count` expects `instant vector`, so I don't understand how to use them together.
Besides that, this solution won't provid

[2020-09-03 10:57] roidelapluie commented on #7878
#5094 could be interesting and not possible at the moment.

[2020-09-03 11:02] codesome commented on #7878
@dykow

`delta(metric[24h]) < 0`

Besides that, this solution won't provide labels, so I will know that some metric with specific name disappeared, but I won't know which exactly.

`delta(count(your_metric_name)[1h:]) < 0`.

`I won't know which exactly` - right. Can you give a specific use case where you want to use this?

[2020-09-03 11:48] prashantnitt07 opened #7892 "pod restart - prometheus PromQL"
please provide the POD restart Prometeus PromQL or Metrics Name

Prometheus version : 2.19.3

Grafana version : 7.0.3

[2020-09-03 12:02] dykow commented on #7878
@codesome
I use vmware_exporter, which provides metrics given below I want to use for alerting if VM went down (those metrics are the best fit for my taste). I also need the possibility to repeat  the alert until that VM comes up again. (I only want to alert if VM **went down**, not when it was down from the beginning)
[code]

I can came up with 2 approaches to solve this:
1.  Monitor if `vmware_v

[2020-09-03 12:31] jpVm5jYYRE1VIKL opened #7893 "metric returned to prometheus but not added to prometheus db"
**What did you do?**
Simple configuration to ping host

**What did you expect to see?**
i expect to see probe_success in query

**What did you see instead? Under which circumstances?**

i see "no data" as query result for query "probe_success"

* Prometheus version:
Version | 2.20.1
983ebb4a513302315a8117932ab832815f85e3d2
HEAD
root@7cbd4d1c15e0
20200805-17:26:58
go1.14.6

* Prometheus configurati

[2020-09-03 13:11] brian-brazil commented on #7892
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-09-03 13:11] #7892 closed

[2020-09-03 13:12] brian-brazil commented on #7893
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-09-03 13:15] jpVm5jYYRE1VIKL commented on #7893
nope it is no sense because it is not question it is bug report.

[2020-09-03 13:39] colltoaction commented on #7887
Thanks, I'll try that! Is there any resource I can use to learn more about these options for handling staleness? I haven't had a chance to watch [your talk](https://www.youtube.com/watch?v=GcTzd2CLH7I), but are there any written docs I can look into?

[2020-09-03 14:02] brian-brazil commented on #7887
It looks like we haven't actually documented `_` and `stale`, so we should fix that. We're not even using `_` anywhere in our own unittests that I can see.

[2020-09-03 14:24] NarendranathPanda opened #7894 "HTTP API | DELETE | all with time range not working"
**What did you do?**
I was trying to clean up all metrics  1599141970(GMT: Thursday, September 3, 2020 2:06:10 PM) time 1599142090(GMT: Thursday, September 3, 2020 2:08:10 PM)
# v1
`curl -X POST   -g 'http://localhost:9090/api/v1/admin/tsdb/delete_series?match[]={__name__=~".%2B"}&start=1599141970&end=1599142090'`

# v2
`
curl post -g 'http://localhost:9090/api/v2/admin/tsdb/delete_series' -d {"ma

[2020-09-03 14:27] colltoaction commented on #7887
I found this comment https://github.com/prometheus/prometheus/issues/4689#issuecomment-426655275 pointing to these tests https://github.com/prometheus/prometheus/blob/9bca041285e226410809b64ce2d178bc4ccabbcf/promql/parse_test.go#L1734.

[2020-09-03 14:41] codesome commented on #7669
(I have not gone thorough the entire discussion yet)

We are buffering m-map chunks and not flushing immediately. We flush and m-map it in batches. But when flushing is happening, the addition to the buffer will have to wait, that might be one of the reason for spending lot of time on the lock.

We could however do this m-mapping asynchronously by having a chunk buffer per memSeries which flushes

[2020-09-03 16:08] BertHartm commented on #7885
traced a little last night, and it seems like the engine doesn't even try to compute the right time, and just takes the query end time: https://github.com/prometheus/prometheus/blob/master/promql/engine.go#L479-L481

I'm assuming this needs a `findMaxTime` method, which will probably easier with the subquery improvements in the latest rc

[2020-09-03 16:21] brian-brazil commented on #7885
This behaviour is correct, and changing it would both be breaking and prevent more complex use cases. This values are the total time over which the query is looking.

The actual time it's asking for in particular is in the hints, if your remote storage doesn't take this in to account that's something to being up with them.

[2020-09-03 22:13] Antiarchitect opened #7895 "global.external_labels configuation"
## Proposal
**Use case. Why is this important?**
Kubernetes + Helm case.
When tried to make Prometheus + Thanos (thanos.io) integration inside the Kubernetes I've faced the fundamental configuration problem of Prometheus - there is no way to set unique global.external_labels per StatefulSet's pod - it is a requirement of Thanos (https://thanos.io/tip/operating/troubleshooting.md/#possible-solution

[2020-09-03 22:56] brian-brazil commented on #7895
This isn't possible, it's up to whatever is invoking Prometheus to provide the config file with the values you want. It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole commun

[2020-09-03 22:56] #7895 closed

[2020-09-04 00:40] freeseacher commented on #7878
Please add IN operator. recenlty playing with smart data and looking for outliers i found i have to write down
`metric != 10 and metric != 11 and metric != 17`
that should be relativly simple to implement and usefull

[2020-09-04 03:22] showuon commented on #7877
After investigation, the 5 mins delay could be the locks acquiring. I'll log the snapshot start before the lock acquiring. Thanks.

[2020-09-04 05:32] sergey-onanchenko opened #7897 "No "for" in new rules UI"
Dear Colleagues,

**What did you do?**
Open Rules via new UI

**What did you expect to see?**
Same details (presence of "for") as in old UI

**What did you see instead? Under which circumstances?**

Alert configurations are cut

* Prometheus version:

	2.20.1

![изображение](https://user-images.githubusercontent.com/38660869/92203175-35470b00-ee89-11ea-8346-a8ccf846a2d0.png)

[2020-09-04 06:35] bwplotka commented on #7873
Update:

I tried quite a lot and the results are quite confusing.

* Extended benchmark time
* Made sure we don't allow compiler optimizing away things.
* Actually using `At` and iterating over samples. This is quite important because new version of iterator actually populates chunks ONLY when you use `At` :facepalm:
* Actually added more samples to benchmark
* Ensured the benchmark output is roug

[2020-09-04 06:47] bwplotka commented on #7873
My suspicion is that we implemented SeriesSet one way, but PromQL is using it oddly with iterating through `Next` first and gathering all `At` first. We talked about this before with @brian-brazil to change it so trying this now (:

[2020-09-04 07:06] bwplotka commented on #7873
I changed this and it's not that, it must be select itself for certain data.

[2020-09-04 07:33] bwplotka commented on #7873
My attempt: https://github.com/prometheus/prometheus/compare/promselect?expand=1

[2020-09-04 07:33] roidelapluie commented on #7877
@jirib You should move your snapshot to minutes 15/45 as at 0 prometheus is compacting.

[2020-09-04 08:40] roidelapluie commented on #7897
This will be fixed in 2.21. Thanks.

[2020-09-04 08:40] #7897 closed

[2020-09-04 08:42] roidelapluie commented on #7897
Fixed in #7605 #7606

[2020-09-04 08:48] roidelapluie commented on #7890
It is not right to patch vendor, I recommend you to:

request moby to build for illumos in the 19.03 branch
add a issue there to see if we are willing to officially support illumos

alternatively you can:
clone the release-2.21 branch and comment dockerswarm in github.com/prometheus/prometheus/discovery/dockerswarm

[2020-09-04 08:58] jirib commented on #7877
OK, thx for tip.

[2020-09-04 09:26] jirib commented on #7877
I think there's misunderstanding. It is *our* cron job which calls `curl` to do snapshot.

[2020-09-04 09:29] showuon commented on #7877
Yes, I know. My bad. Please ignore my previous message.

[2020-09-04 10:04] bwplotka commented on #7873
Ok, finally repro in Select benchmark (using 1GB of real data).

Before my PR:
[code]

After:
[code]

Quite crazy! Now I can dig further what's up.

[2020-09-04 10:22] bwplotka commented on #7873
[code]

[2020-09-04 10:22] bwplotka commented on #7873
Lot's to improve ;p

[2020-09-04 10:37] bwplotka commented on #7873
Repro benchmark:
[code]
Data from @roidelapluie and I can send the tar if needed (1GB)

[2020-09-04 10:55] bwplotka commented on #7873
Profiles:

(With regrssion), CPU:

![image](https://user-images.githubusercontent.com/6950331/92231683-21110700-eea5-11ea-8c0a-f7399d5ec3ea.png)

Vs most of the old profile is on chunk iterating as expected:
![Uploading **image.png…]()**

[2020-09-04 11:15] bwplotka commented on #7873
I think I found something. We do 10x more chunk fetching than needed

[2020-09-04 12:12] bwplotka commented on #7873
[code]

[2020-09-04 12:14] bwplotka commented on #7873
So actually we were looking on wrong heap.. ;p

The reason is simple - we use vertical 'safe' merge even for series that does not overlap. Fix in progress.

[2020-09-04 17:33] dennybritz commented on #7500
I'm running into this problem as well. For the `some_query`, this is my resets graph that causes `rate` queries to return invalid results.

[code]

![image](https://user-images.githubusercontent.com/403133/92269470-833d2c80-eee4-11ea-87ed-5c1bb2cfc2bc.png)

Looking at only `some_query` I see the following increasing values, no decreases:

![image](https://user-images.githubusercontent.com/403133/9

[2020-09-04 20:41] bibarrav commented on #7469
Hi, I'm having the same issue with Prometheus v2.20.1... and try v2.20.0, v2.21.0-rc.0, master tag, and the issue still appearing

Here my logs:
level=info ts=2020-09-04T17:14:32.024Z caller=main.go:343 msg="Starting Prometheus" version="(version=2.20.1, branch=HEAD, revision=983ebb4a513302315a8117932ab832815f85e3d2)"
level=info ts=2020-09-04T17:14:32.024Z caller=main.go:344 build_context="(go=go1

[2020-09-04 20:45] roidelapluie commented on #7469
Is /data/chunks_head/000051 empty? If yes, can you delete it and use 2.19.3 or 2.20.1?

[2020-09-04 21:39] bibarrav commented on #7469
Ok, It was empty, so I deleted it and started Prometheus normally... But, this problem is not resolved?, I understand that was introduced an improvement (#7573) to use .tmp file to prevent this?

[2020-09-04 21:49] roidelapluie commented on #7469
2.19.3 and 2.20.0 will no longer *create* those files, but if they are present we do not delete them, to make sure we catch any other bug that might happen after those releases.

[2020-09-05 21:18] Harkishen-Singh commented on #7500
@akshayvijapur any updates? Maybe, you can send a range query for that particular query via HTTP request and mention the response for better understanding.

[2020-09-05 21:29] Harkishen-Singh commented on #5094
Do we plan to implement this?

[2020-09-05 22:00] brian-brazil commented on #5094
This would not be a simple function but rather creating a brand new language.

[2020-09-07 00:48] belm0 commented on #7878
I'll clarify the advantages of having topk_max() et. al. based on practical experience with the implementations in Victoria Metrics:
  * **more efficient** - the datapoints only need to be scanned once.  And in the case where the Grafana panel is below the fold or in a collapsed row, no query happens at all.
  * **easier to maintain** - rather than maintaining two similar queries (template var and

[2020-09-07 05:19] Harkishen-Singh commented on #6814
Do we have any plans on this? Like a design doc, or anything related.

[2020-09-07 08:17] codesome commented on #5094
Or a new option in the `query_range` API for post-processing with ASAP as one of the option (while also opening doors for other relevant ones to be implemented in future). I am just thinking out loud and this might not be a feasible option.

[2020-09-07 08:48] brian-brazil commented on #6814
There's no real need for a design doc for something like this, it's purely a UI feature.

[2020-09-07 08:50] brian-brazil commented on #5094
That is something that could in theory work, but that's still tending towards creating a brand new language.

[2020-09-07 10:07] codesome commented on #5094
I feel this could be done without a new language. It could be a list of post processors to be applied in sequence. The input to to API could be something like `post_processors: [ "postprocessor1", "postprocessor2", ... ]`, and if the post processors need any arguments, then `post_processors: [ "postprocessor1", "postprocessor2(10, 7)", ... ]` (this does assume that the post processing is on the fi

[2020-09-07 10:18] codesome opened #7903 "topk/bottomk X over time, X = [avg, sum, min, max, etc...]"
## Proposal
**Use case. Why is this important?**

Quoting [this comment](https://github.com/prometheus/prometheus/issues/7878#issuecomment-686373735) here

Implementing this would not be as simple as adding a new method because of the `query_range` semantics (it run's an instant query at all the timestamps in the range and is just a syntactic sugar over instant queries), as we need fixed set of me

[2020-09-07 10:25] brian-brazil commented on #5094
That smells suspiciously like a new language.

[2020-09-07 10:26] brian-brazil commented on #7894
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-09-07 10:26] #7894 closed

[2020-09-07 10:35] Harkishen-Singh opened #7904 "= is considered as EQL in lexer when used within braces"
**What did you do?**
I was working on developing [Prettier](https://github.com/prometheus/prometheus/pull/7779) for PromQL. While writing extensive unit tests, I came across this issue which was responsible for breaking the formatting at some places.

### Issue
`=` should be considered as ASSIGN item by the lexer. This happens as expected until it is used inside label_matchers. When in label_match

[2020-09-07 10:52] brian-brazil commented on #7904
This sounds vestigial, from before recording rules were in YAML.

[2020-09-07 10:54] beorn7 commented on #5776
If I understand things correctly, the state of this affair is the following:
- There is some need for this, but I'd say it's pretty niche.
- It is possible to solve this with the Prometheus operator.
- An implementation within Prometheus is not trivial.
- If this is really useful outside of a niche, it should be done in the same way for other SD mechanisms (i.e. we should at least have a plan how

[2020-09-07 10:54] #5776 closed

[2020-09-07 11:08] benitogf opened #7905 "Filter time series with delta 0"
## Proposal

Currently there's no querying option that could allow to filter time series with delta 0 (no change between start and end of the selected time range)

![image](https://user-images.githubusercontent.com/1633813/92379764-8cbfd200-f13a-11ea-8535-cc6546e9958f.png)

Adding a filter to: https://prometheus.io/docs/prometheus/latest/querying/operators/#logical-set-binary-operators
- by value

[2020-09-07 11:34] brian-brazil commented on #7905
This seems more like a usage question, and it makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-09-07 11:34] #7905 closed

[2020-09-07 12:05] roidelapluie commented on #7903
Well this sounds like sort + limit in the output modifiers that were accepted in the dev summit?

[2020-09-07 12:22] brian-brazil commented on #7903
Not quite, this use case was explicitly out of scope as it's trickier than it looks. For example when you're talking about a series rather than a sample, what does "top" mean?

[2020-09-07 12:33] codesome commented on #7903
Yeah, so, we need to be able to tell what to look for. For example: sum over time, min over time, max over time, etc is highest (or lowest for bottomk).

[2020-09-07 13:31] colltoaction commented on #7887
`stale` worked as expected. Thank you!

[2020-09-07 14:05] roidelapluie commented on #7874
@csmarchbanks @amckinley

Is the exemple remote write actually broken or can we close this issue?

Thanks!

[2020-09-07 14:10] roidelapluie commented on #7877
We have looked at this in the bug scrub, and as stated above, if you take snapshots out of the compaction time it should be pretty instant, so there is probably no added value in having extra log lines for this. Thanks!

[2020-09-07 14:10] #7877 closed

[2020-09-07 14:13] roidelapluie commented on #7885
We have discussed this at the bug scrub, and it looks like we lack proper documentation for remote_read. We should have in the future better documentation around it, that includes best practices as well.

[2020-09-07 14:17] roidelapluie commented on #7888
@csmarchbanks @bwplotka

Can you please triage this issue? Thanks!

[2020-09-07 14:19] roidelapluie commented on #7890
We have looked at this in the bug scrub and decided to keep this issue until the new docker release is out with official illumos support.

[2020-09-07 14:34] #6976 closed

[2020-09-07 14:42] roidelapluie commented on #6868
Duplicate of #7340, which was implemented in 2.21.

[2020-09-07 14:42] #6868 closed

[2020-09-07 14:54] #6127 closed

[2020-09-07 15:10] venkatbvc opened #7906 "storage.tsdb.retention.size usage is not properly updated in document"
**What did you do?**

In the https://prometheus.io/docs/prometheus/2.20/storage/ link, Following is mentioned regarding retention.size

--storage.tsdb.retention.size: [EXPERIMENTAL] This determines the maximum number of bytes that storage blocks can use (note that this does not include the WAL size, which can be substantial). The oldest data will be removed first. Defaults to 0 or disabled. This f

[2020-09-07 15:15] brian-brazil commented on #7906
Would you like to send a PR?

[2020-09-07 15:27] venkatbvc commented on #7906
@brian-brazil  yes.

[2020-09-07 17:10] beorn7 commented on #7895
Just in case others arrive here with a similar problem:

https://github.com/grafana/jsonnet-libs/blob/master/prometheus-ksonnet/lib/prometheus-ha-mixin.libsonnet demonstrates the Jsonnet mixin way of configuring different external labels for the different pods in a stateful set (our need comes from Cortex, not Thanos, but that's just a detail). It is essentially using the same idea that @Antiarchi

[2020-09-07 17:28] beorn7 commented on #6282
Since some discussions happened about this elsewhere, just wanted to add here that I'd like to see negative offsets. The use case is relatively niche, but often enough to get annoyed by working around the restriction by requesting a time in the future via the HTTP API and then use positive `offset`s on everything except where otherwise the negative `offset` would end up, rendering the PromQL query

[2020-09-07 17:57] brian-brazil commented on #6282
I think that's understating it a bit. Currently a cache only needs to look at the end timestamp to determine if it is "safe" to cache a result. If this were added then all caches would for the first time need to parse and understand PromQL, and any cache failing to do so would be incorrect.

[2020-09-07 18:28] amckinley commented on #7874
@roidelapluie depends on what you mean by "broken". It definitely stops responding pretty quickly after you begin to throw a non-trivial amount of traffic at it.

[2020-09-07 18:32] beorn7 commented on #6282
That's not true. A cache has to also know the retention time and determine if the cached query is touching data that is, by the time of the cache hit, already expired. To do that cleanly, it already has to parse and actually understand the PromQL query.

In the case of a negative offset, no real understanding of the query is required. The only thing to find out is the `offset` with the largest amo

[2020-09-08 04:51] Harkishen-Singh commented on #7904
Will take up this.

[2020-09-08 07:28] codesome commented on #7878
@freeseacher You could do `metric != 10 and metric != 11 and metric != 17` as `metric != 10 != 11 != 17` (Including `=` `<` `>` `<=` `>=` etc in the chain) , I don't see a strong requirement for a IN operator here.

[2020-09-08 09:03] perlun commented on #7852
Thanks for the feedback @gouthamve and @brian-brazil, sorry for the delay on my part. I did the following now:

- Ensured that I could still reproduce this with a local Docker container w/ 2.18.1 and customer-copied data. (it's 200 GiB that I rsynced from the customer server when I did the original research, so it's a bit bulky to say the least)
- Tried with 2.20.1 - with the _old_ data (recording

[2020-09-08 09:03] #7852 closed

[2020-09-08 09:14] gupf0719 opened #7909 "prometheus is always oom killed"
* System information:

	kubernetes v.1.11

* Prometheus version:

	v2.3

[heap-ha0(1).svg.zip](https://github.com/prometheus/prometheus/files/5187321/heap-ha0.1.svg.zip)

[2020-09-08 09:33] brian-brazil commented on #7909
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-09-08 09:33] #7909 closed

[2020-09-08 10:36] Fossil01 opened #7910 "Prometheus calls https when http is configured"
With the config below the Targets page of my main prometheus instance shows:

`Get "https://prometheus-swarm:80/federate?match%5B%5D=%7B__name__%3D~%22..%2A%22%7D": http: server gave HTTP response to HTTPS client`

It's configured as http so I don't get why it tries to open https. When I open a shell inside the prometheus container and ise wget (there is no curl in the container) to load that URL

[2020-09-08 11:02] brian-brazil commented on #7910
Can you share a tcpdump? There's probably a redirect.

See https://www.robustperception.io/federation-what-is-it-good-for

[2020-09-08 11:31] roidelapluie commented on #7904
Mmh this is not really correct, I think it is equal and not assign ?

[2020-09-08 11:42] Harkishen-Singh commented on #7904
You mean, in vector selectors, you use `metric_name{label==value}`? As far as I know, I don't think there's any such vector selector comparison. But yes, in terminology, we call that as equality.

[2020-09-08 11:55] Fossil01 commented on #7910
I'll have a look. Although wget inside the container and curl on the host don't show any redirects.

[2020-09-08 11:57] Harkishen-Singh commented on #7904
I think this is a bug not a cleanup.

[2020-09-08 11:58] roidelapluie commented on #7904
It is cleanup as there is no user impact.

[2020-09-08 12:02] vsliouniaev opened #7912 "Proposal: Automatically Drop Old Remote Write Samples Before Sending"
## Proposal
When a remote-write endpoint is unavailable for a long time and then comes back, the data prometheus has may be older than the endpoint will allow to be remote-written, due to various internal implementation reasons.

If this happens, prometheus will try to keep sending data that will never be accepted until it the endpoint returns, at which point it will be rejected. Due to the volume

[2020-09-08 13:07] brian-brazil commented on #7904
Yeah, nothing is actually broken here. It's just something vestigial from Prometheus 1.x days that's still lying around.

[2020-09-08 13:08] Antiarchitect commented on #7895
@beorn7 Fat chance: #2357 - cloud-native, you know.

[2020-09-08 14:48] cstyan commented on #7874
If someone wants to extend the existing example implementation they're free to open a PR, but the example isn't broken.

[2020-09-08 17:15] csmarchbanks commented on #7888
I reproduced this issue locally. The remote read client appears to not have a span on the context it receives, but I have not had time to trace through the code to find out where the span is dropped yet.

[2020-09-08 19:56] roidelapluie commented on #7912
Thanks.

cc @csmarchbanks @cstyan What do you think about this request?

[2020-09-09 01:21] csmarchbanks commented on #7912
Thanks for the proposal!

We just had a discussion around this topic in a Cortex community call as well. I would like a solution such as what is proposed here. I have had to manually restart Prometheus instances before to discard the backlog to avoid rate limits or other issues which is not fun. https://github.com/prometheus/prometheus/issues/7078 also discusses some issues around Cortex never bei

[2020-09-09 06:22] Harkishen-Singh commented on #7630
Not sure, but I think this involves updating querier from the tsdb as well, not just promql.
@bwplotka

[2020-09-09 07:44] brian-brazil commented on #7912
Is this a problem with Prometheus, or a problem with a particular remote storage? Prometheus doesn't seem to be doing anything wrong here so I'd not immediately jump to working around issues in remote storage by adding config and code complexity in Prometheus.

That sounds like negotiation, and remote-write is a stateless protocol.

[2020-09-09 09:08] #7873 closed

[2020-09-09 10:10] #7904 closed

[2020-09-09 10:39] Harkishen-Singh commented on #7575
Taking this up.

[2020-09-09 10:40] Harkishen-Singh commented on #7699
Taking up this.

[2020-09-09 10:59] vsliouniaev commented on #7912
The behaviour that we are looking for could be solved by adding a small proxy which would perform the operation, but I believe the case of samples not being accepted beyond a certain time is a universal one with remote storage systems, so it seemed like a reasonable configuration option. The scenario which prompted this proposal involved hundreds of prometheuses running in very resource-constraine

[2020-09-09 11:34] brian-brazil commented on #7912
It's Prometheus that defines the protocol, so if the remote storage breaks on valid input I'd suggest that in the first instance it is the remote storage which needs to change their behaviour.

[2020-09-09 11:36] csmarchbanks commented on #7912
The problem with Prometheus is that it can be hard to recover remote write after a significant period of downtime in the remote system, sometimes resulting in manual intervention to intentionally drop data. When trying to catch up it is very likely to come across rate limits, issues ingesting old data, timeouts as every Prometheus instance tries to catch up simultaneously, etc...

At a minimum, I

[2020-09-09 11:43] brian-brazil commented on #7912
I'm not seeing why you think this is a problem with Prometheus, all of the issues you list appear to be entirely on the remote storage end.

That doesn't sound completely unreasonable. Might the checkpoint stuff let us cheat there?

[2020-09-09 12:03] #7888 closed

[2020-09-09 12:19] csmarchbanks commented on #7912
Some yes, some no. Rate limiting could be considered a Prometheus issue that we don't handle well. Timeouts can come from either side, especially in resource constrained environments.

Which checkpoint stuff are you referring to? The remote write WAL location checkpoints, or the Chunk/WAL snapshots or something else?

[2020-09-09 13:06] huzhou520 opened #7917 "I wrote a webhook API interface, but I can't recive data."
The Alertmanager will send HTTP POST requests in the following JSON format to the configured endpoint:
reference: https://prometheus.io/docs/alerting/latest/configuration/

SO I wrote a webhook API interface, but I can't recive data.
<QueryDict: {}> <class 'django.http.request.QueryDict'>
[09/Sep/2020 12:41:39] "POST /hook/send HTTP/1.1" 200 2
POST
no post data..

alert version:
alertmanager, vers

[2020-09-09 13:13] brian-brazil commented on #7912
We retry, which seems reasonable to me - do we not have backoff there yet?

If you are getting a timeout on the Prometheus end that implies that the Prometheus is underprovisioned for CPU by a fair bit, so not something I'd worry about much as that Prometheus will already be unhealthy in more typical circumstances.

Yes, the remote write WAL location checkpoints.

[2020-09-09 13:13] brian-brazil commented on #7917
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-09-09 13:13] #7917 closed

[2020-09-09 14:10] MartinEmrich opened #7918 "How to keep data of removed target/instance?"
Our prometheus contains metrics of our kubernetes cluster.

Today, I wanted to look at data of a node (EC2 instance on AWS) that has been removed yesterday. But all the data regarding the VM is gone.
In contrast, data of a Kubernetes Pod that has been terminated is still visible later.

The nodes are discovered using ec2_sd_configs, the Kuberneted Pod data is scraped via federation from another pr

[2020-09-09 14:27] austince opened #7919 "Proposal: Add Kuma service mesh SD mechanism"
## Proposal: Add Kuma SD
**Use case. Why is this important?**

[Kuma](https://kuma.io/) is an Envoy-based service mesh and CNCF Sandbox project originally created at [Kong](https://konghq.com/). Kuma has been an implementor of the [`file_sd`-based SD mechanism for quite a while](https://prometheus.io/docs/operating/integrations/#file-service-discovery). This is implemented as a standalone adapter

[2020-09-09 15:03] cstyan commented on #7912
It's an issue for the remote storage system via reuse of Prometheus TSDB code, which blocks ingestion of samples older than max timestamp for the head block.

I agree with Chris that we should allow users to choose whether they want to attempt to recover all possible samples in the event of a long outage, or skip to newer samples and have a gap in their remote data.

[2020-09-09 15:08] brian-brazil commented on #7918
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-09-09 15:08] #7918 closed

[2020-09-09 20:00] #5166 closed

[2020-09-09 20:40] subnetmarco commented on #7919
👋 Marco from Kong.

As a maintainer myself I know that it's painful to maintain a third-party integration because there is always a risk that the original contributors stop investing into it, this is why I would like to let you know that we are fully committed to build and improve the Kuma native integration into Prometheus with our own resources since it is very strategic for the Kuma project its

[2020-09-09 20:53] roidelapluie commented on #7919
In general Prometheus should not work with service mesh as we should directly connect to the scrape services. We do not retry and we need to contact every target, and without load balancing.

[2020-09-09 21:27] freeseacher commented on #7878
@codesome yes i can. for me it's a simple spell but quite unbreakable (c)

[2020-09-09 22:41] midnightconman opened #7920 "Scrape Timeout Value Metric"
## Proposal
**Use case. Why is this important?**
At the moment we have a scrape duration metric, but unfortunately we don't have a metric for the scrape timeout value. If we had this value, we would be able to determine trending and thresholding around scrape duration vs timeout, which would allow us to determine if a timeout has been persistently occurring or if a timeout might occur in the futur

[2020-09-10 03:01] howardjohn commented on #7572
I think this is done now since https://github.com/prometheus/prometheus/pull/6838 is merged or is there other work to track?

[2020-09-10 05:34] roidelapluie commented on #7572
We need to add the warnings for the users when overcapacity labels are
present.

Le jeu. 10 sept. 2020 à 05:01, John Howard <notifications@github.com> a
écrit :

[2020-09-10 08:50] brian-brazil commented on #7920
This has been considered previously, and is not something that will be added as a per-scrape metric as it's of too little value considering the high cost of those. Plus you can already detect a timeout has been happening persistently plus all other scrape errors by checking if up is 0, and comparing against scrape_duration_seconds if you want to cross-check.

If you want to write recording rules f

[2020-09-10 09:16] MeenaAlfons opened #7922 "Add function: Ratio between two (label,value) sets on the same metric"
## Proposal
**Use case. Why is this important?**

Getting the ratio of two sets of (label,value) pairs for the same metric is common use case which can be implemented efficiently if it is natively supported by a function in prometheus.

**Example:**
We have a `requests_counter` metrics with one label `result` which takes one of two values `error` and `ok`. For the sake of finding out the percentag

[2020-09-10 09:24] roidelapluie commented on #7922
That is a good idea to reduce the amount of select we do.

How do you cover http_requests{code=~"5.."} type of selects?

[2020-09-10 09:25] roidelapluie commented on #7922
Note that we could optimize this use case in TSDB selcts out of the box but not in remote reads calls.

[2020-09-10 09:26] KlavsKlavsen opened #7923 "negative matching expression on alertrules ?"
We want to monitor diskspace on ALL our servers - and alert on 80% used disk space.
BUT we have certain partitions, where we want to alert differently on a few servers.

This CAN be done by modifying the rule with a lot of negations.. it just quickly becomes very ugly.

Others have implemented this, so you have "override rules" - which behind the scenes builds those (quickly huge) negation filters

[2020-09-10 09:35] brian-brazil commented on #7922
Functions don't do arbitrary label matching which is essential for this to be useful (that's what operators are for), and I don't think we should be making PromQL more complex for the sake of micro-optimising performance. If there's a performance optimisation that's possible here let's do it under the covers and not push that burden on to the user.

More generally, your examples and what your prop

[2020-09-10 09:50] roidelapluie commented on #7922
@brian-brazil

Do we do 2 selects in the local tsdb for:

[code]

?

[2020-09-10 10:00] brian-brazil commented on #7922
Yes, that's two selects. I'd suggest however that if doing common subexpression elimination here (the technical name for this optimisation) makes the difference in terms of a timeout, that the real problem is the amount of data being processed. A 28d rate is going to be slow generally, and at most a 2X improvement will in face of growth at most buy you a little time until you run into limits again

[2020-09-10 10:24] roidelapluie commented on #7923
On 10 Sep 02:26, Klavs Klavsen wrote:

Can you try such an approach?

- record: diskspace_override
  expr: vector(1)
  labels:
    mountpoint: /mnt/foo
- alert: disk full
  expr: disk_space_used > 0.8 unless on (mountpoint) diskspace_override

--
 (o-    Julien Pivotto
 //\    Open-Source Consultant
 V_/_   Inuits - https://www.inuits.eu

[2020-09-10 11:20] angulito commented on #7753
hey @codesome, I see version 2.21.0 is still not released (perhaps you found out some bugs), anyways I would like to ask if there are any plans to do it in the next days to get the fix, thank you so much!

[2020-09-10 11:32] roidelapluie commented on #7753
It will be released tomorrow.

[2020-09-10 15:30] jakubdyszkiewicz commented on #7919
Hey @roidelapluie

Kuma has a functionality to access instances directly without load balancing and still securing connections via TLS
https://kuma.io/docs/0.7.1/documentation/dps-and-data-model/#direct-access-to-services

[2020-09-10 22:04] roidelapluie commented on #5094
my opinion is that asap smoother should run on ALL samples (not limited to stepped samples)

[2020-09-10 22:08] roidelapluie commented on #7919
How does that compare to envoy's own api's? https://github.com/prometheus/prometheus/issues/6484 How many envoy-based Service meshes are out there?

[2020-09-10 22:10] roidelapluie commented on #7319
This should be fixed in 2.21.0.

[2020-09-10 22:48] austince commented on #7919
Here's a non-exhaustive list:
* [Open Service Mesh](https://openservicemesh.io/)
* [Istio](https://istio.io/latest/docs/ops/deployment/architecture/)
* [AWS App Mesh](https://aws.amazon.com/app-mesh/)

It looks like #6484 was actually filed by a Kuma contributor. Either he (@yskopets) @jakubdyszkiewicz should be able to comment on how it compares to the Envoy APIs.

[2020-09-11 07:08] jakubdyszkiewicz commented on #7919
Generic gRPC / HTTP SD mechanism should also work.

I see there was some discussion about http_sd here https://groups.google.com/g/prometheus-developers/c/3B3jBsErK5M/discussion is any work on this in-progress @roidelapluie ?

[2020-09-11 08:45] primeroz opened #7927 "remote_read : support hardcoding an extra label selector to add to each remote query"
## Proposal
**Use case. Why is this important?**
In my use case i have multiple k8s clusters running prometheus, all og them writing to a Cortex cluster.
All prometheus in the same environment ( dev for example ) will write to Cortex as the same tennant

When metrics are sent to Cortex the `external_labels` are added to every series to help identify which cluster the metrics belong to ( `env: dev`

[2020-09-11 08:52] roidelapluie commented on #7927
are you looking for `required_matchers` ?

[2020-09-11 09:01] brian-brazil commented on #7927
That doesn't sound right, this is meant to work out of the box. The external labels should be applied automatically to the remote read requests - unless you already have a matcher for the label name. Can you share the exact query you're using? Can you also share your config file?

[2020-09-11 09:04] primeroz commented on #7927
I guess I do ... and i can't really understand how i missed it in the configuration docs.

Interesting ... i have no remote_read anymore but i will re-enable and get some info for you.
The real pain was about `rules evaluation` ... is that supposed to automatically use the external labels as well ?

I will get the info by the end of they hopefully ... if you want i can close this ( since it seems

[2020-09-11 09:06] brian-brazil commented on #7927
Yes, query evaluation is the same everywhere.

This shouldn't have changed since 2.0 days.

[2020-09-11 09:08] primeroz commented on #7927
Ok , i will get more info for you ... it might just turn out i was doing something wrong!

thanks for the speedy feedback

[2020-09-11 09:18] kakkoyun commented on #6865
@bwplotka @JessicaGreben Do we miss anything for this issue? I suppose it's done by https://github.com/prometheus/prometheus/pull/7288. WDYT?

[2020-09-11 09:30] primeroz commented on #7927
Reading again I read this to mean "only query the remote endpoint if the query has these matchers" not "always apply these labels when querying remote endpoint"

But the `external_labels` is actually what i needed so will get back on that

[2020-09-11 22:23] valyala commented on #7878
On the other hand `metric in (10, 11, 17)` isn't equivalent to `metric == 10 == 11 == 17`

[2020-09-12 19:57] trallnag opened #7932 "Proposal: Completely remove series after deleting and cleaning (delete in-mem metadata)"
## Proposal

Completely remove time series including information about respective labels, label values etc. after using `/api/v1/admin/tsdb/delete_series` and `/api/v1/admin/tsdb/clean_tombstones` instead of still returning information about removed time series for example in calls to `/api/v1/label`.

**Use case. Why is this important?**

Currently deleted time series still show up (indefinitely)

[2020-09-13 03:55] timchenxiaoyu commented on #7460
any progress ?

[2020-09-13 09:32] hoffie commented on #7460
@timchenxiaoyu @gouthamve Can you share how to reproduce this issue?
Seems to work as expected with v2.19.1 on both Firefox (80.0.1) and Chromium (85.0.4183.102) for me.
Clicking `Firing` for the first time hides my only firing alert. Clicking it again makes it re-appear. Same for `Inactive` (currently don't have a `Pending` alert to test).

[2020-09-13 09:47] timchenxiaoyu commented on #7460
![image](https://user-images.githubusercontent.com/9782796/93015050-b0769280-f5e8-11ea-951c-775c04e944f8.png)
![image](https://user-images.githubusercontent.com/9782796/93015072-d308ab80-f5e8-11ea-83b8-312dc4443683.png)
![image](https://user-images.githubusercontent.com/9782796/93015086-0b0fee80-f5e9-11ea-8a76-2be062c1329a.png)

click firing no response ，still appear all alert

[2020-09-13 10:20] hoffie commented on #7460
Just to confirm: You are still seeing your 5 firing alerts in red with the current state (`Inactive` and `Pending` enabled in dark blue, `Firing` disabled in lighter blue), right?
The screenshot still looks as expected, but it obviously only contains a small part of your alerts.

What happens when hiding the large amount of Inactive alerts by clicking the `Inactive` button once?

(I think the butt

[2020-09-13 11:18] timchenxiaoyu commented on #7460
tks，i know。 it is not alert selection.

[2020-09-13 11:21] #7460 closed

[2020-09-13 16:59] liguozhong opened #7933 "sum_over_time should use semi-closed range interval"
To denote the subsequence of a time series, four conventions are open:
a) start_time <= t < end_time
b) start_time < t <= end_time
c) start_time <= t <= end_time
d) start_time < t < end_time

![image](https://user-images.githubusercontent.com/9583245/93023831-5e536280-f624-11ea-9064-0c8fbfaedc9e.png)
http://demo.robustperception.io:9090/graph?g0.range_input=1h&g0.moment_input=2019-12-06%2011%3A59%

[2020-09-13 17:21] Harkishen-Singh commented on #7642
Taking up this.

[2020-09-13 17:55] JessicaGreben commented on #6865
Oh yeah I think this issue should be considered done. There are a few outstanding comments on that PR #7288, but I can address those offline and we can close this. Thanks @kakkoyun

[2020-09-13 20:55] brian-brazil commented on #7933
This is duplicate of many of the issues you listed in particular #6414, so I'm going to close this. As you have already mention, this is working as designed and changing it would be breaking.

[2020-09-13 20:55] #7933 closed

[2020-09-14 04:07] teddylear commented on #5616
I can look into this.

[2020-09-14 05:44] Anhui-tqhuang opened #7938 "remote writer configuration: drop metrics whose timestamp is out of acceptance range"
## Proposal
**Use case. Why is this important?**

I configure remote writer to send metrics to sysdig, some metrics will be rejected by sysdig if the timestamp of the metrics is out of acceptance range like 10 minutes, we shouldn't retry to submit them and drop them.

So i want a option in remote-writer configurations like `acceptance time window`, if a metric's timestamp reaches the `acceptance t

[2020-09-14 06:08] Harkishen-Singh opened #7940 "WAL replay remote storage tailing error message after lagging behind"
Not sure if its a bug, but definitely some errors in log during wal replay when prometheus is started with remote storage (TimescaleDB).

**What did you do?**

Start Prometheus with remote-storage enabled.

**What did you expect to see?**
No errors while wal replay.

**What did you see instead? Under which circumstances?**
Errors during wal replay, but then says `wal replay done`. Seems like a mis

[2020-09-14 06:51] showuon commented on #7530
Will work on this. Thanks.

[2020-09-14 07:13] roidelapluie commented on #7938
Thanks! This is a duplicate of #7912 .

cc @csmarchbanks for awareness.

[2020-09-14 07:13] #7938 closed

[2020-09-14 07:14] roidelapluie commented on #7912
We have got a similar request in #7938.

[2020-09-14 08:09] Anhui-tqhuang commented on #7938
@roidelapluie thx!

[2020-09-14 08:54] Seitanas commented on #7846
We made a test environment consisting of 2 VM servers and 2 Prometheus servers to find out on which prometheus version this issue began. So it seems that all Prometheus versions prio to 2.18.0 are using normal amounts of space. We also noticed that not only VM storage grows, - prometheus storage grows also:

**Prometheus 2.16.0 VS prometheus 2.17.2:**

VM data usage:
<img width="1591" alt="2 16 0-

[2020-09-14 16:26] #6865 closed

[2020-09-15 08:08] codesome commented on #7940
cc @cstyan

[2020-09-15 12:35] primeroz commented on #7927
Ok finally i have an update for this and i Think there was an issue with 2.16 the same query to a local cluster with remote_read to cortex

**2.16**
![aW1hZ2UucG5n](https://user-images.githubusercontent.com/2085772/93210828-9d86ce00-f760-11ea-98f4-0461508341a8.png)

**2.17**
![aW1hZ2UucG5n 2 17](https://user-images.githubusercontent.com/2085772/93210872-b1323480-f760-11ea-8051-ba5e0d442d2d.png)

f

[2020-09-15 12:35] #7927 closed

[2020-09-15 12:51] akshaymankar commented on #6858
Hello, this is still a problem if I use the static binary for Prometheus from the latest github release.

[2020-09-15 14:46] roidelapluie commented on #7920
Thank you for your issue. I agree with brian that this is of little interest for most of our users.

In general I'd recommend you to use the same scrape interval and timeout for the same prometheus server, which would make that easier.

[2020-09-15 14:56] roidelapluie commented on #7932
Thank you for your issue. I think it is a duplicate, I will try to find the original issue and link it here.

[2020-09-15 15:01] austince commented on #7919
Hey @roidelapluie, sorry to ping you, just wondering if you have any places we can start looking at if we decide to go the gRPC/ HTTP SD route.

[2020-09-15 15:15] roidelapluie commented on #7919
So far there is no consensus for an agnostic "invented" HTTP/gRPC SD.

Concerning Kuma, it looks like you would need to find a sponsor within Prometheus-team to sponsor this service discovery.
I am not personally using Kuma and I am not sure it would fit as a service discovery - without doing to much business logic inside the discoverer, so I will pass.

I also note that even if that's not the cas

[2020-09-15 15:26] jloehel commented on #6858
I haven't tested it for a while but actually it's not a prometheus bug. You can find the patch here: https://go-review.googlesource.com/c/go/+/86115/

[2020-09-15 15:42] akshaymankar commented on #6858
But that patch has been applied 2 years ago and the [latest prometheus build](https://github.com/prometheus/prometheus/releases/tag/v2.21.0) claims to have been built with Go 1.15. So, this shouldn't show up anymore.

[2020-09-15 15:42] austince commented on #7919
Thanks for the quick reply and totally understand your position. One question: what's the best way to look for sponsorship? The mailing list? We've tried the IRC but didn't succeed in getting much conversation going.

Kubernetes might be an option, though Kuma is strongly targets being a universal mesh, so we'll need a solution for both either way.

I'm not sure about the DNS - initially I would g

[2020-09-15 15:45] roidelapluie commented on #7919
Yes, you can try the -developers mailing list.

[2020-09-15 15:46] jloehel commented on #6858
Sure, but I use a Debian build. It works with the official build. Because of this, I closed the bug.

[2020-09-15 16:57] akshaymankar commented on #6858
Interesting, this not working for me with the official build.

[2020-09-15 20:53] jloehel commented on #6858
Actually, I have never tested it with the official build. I just expected that it will work. Maybe I should do it now. ^^

[2020-09-15 21:02] bwplotka commented on #7903
Wonder what's the behaviour for worst edge cases for other systems like DataDog? :thinking:

[2020-09-15 22:04] cstyan commented on #7940
Well something strange is going on, there's 4 checkpoints created in the span of 2 seconds. Looks to me like the WAL watcher was replaying 5701 when the last checkpoint was happening, and when it finished 5702 no longer existed, so it moved on to 5703 and found sample with a timestamp > prometheus' start time, hence the `done replaying WAL` message.

This could have caused more problems if there w

[2020-09-16 05:38] codesome commented on #7940
@Harkishen-Singh did you restart the Prometheus after a few hours gap since it was down?

The initial checkpointing is not in yet (unless Head is getting compacted when TSDB opens), but after https://github.com/prometheus/prometheus/pull/7939, I would say let's checkpoint once and then start the remote storage because I would not prefer TSDB operations depend on remote-write. Does remote write WAL

[2020-09-16 05:45] Harkishen-Singh commented on #7940
Yes, in fact, anytime I start it with remote storage enabled, this happens. (Checked out just now and same thing)

I don't think so.

[2020-09-16 08:55] Betula-L commented on #7618
@brian-brazil Related to issues: https://github.com/prometheus/prometheus/pull/6890.

Any suggestion?

[2020-09-16 10:12] djablonski-moia opened #7944 "Time-series mixed up after Kubernetes node replacement"
**What did you do?**

We did an update the the Kubernetes setup (provisioned with Kops), which resulted in a rolling-update of the nodes.
Due to this, several pods of a DaemonSet (fluentd) were deleted one after the other when their node was stopped, and new ones were created on the new nodes.

**What did you expect to see?**

We expect to see the old pods (targets) to disappear, and new ones to b

[2020-09-16 16:51] cstyan commented on #7940
@codesome I also would prefer if TSDB did not depend on remote write, but yes there is the possibility of losing data because remote-write has not sent the samples from earlier WAL segments once we have the remote write checkpointing from #7710. Remote write WAL replay doesn't block startup, that replay is explicitly not started until after TSDB has started (in main.go).

[2020-09-16 20:17] roidelapluie commented on #7944
Thanks for your report. Did you also update the master endpoint?

You say that you did not find anything in the logs, even with debug, does that mean that even after a restart it was not correct? Or do you always have prometheus running with debug enabled?

cc @brancz

[2020-09-17 06:13] tr2vil opened #7945 "Remote storage queue full Error occured."
**What did you do?**
I was set remote_write config in the configuration, prometheus.yml, like this
[code]

**What did you expect to see?**
Using prometheus and influxdb, I was expected prometheus scraped metric will store into the tsdb(influx).

**What did you see instead? Under which circumstances?**

In the test-bed, fewer target exporter, it is work well, but In the real circumstances, 3000 nod

[2020-09-17 12:13] Harkishen-Singh commented on #7945
I guess the remote storage is not accepting metrics. Can you provide some logs from your remote storage?

[2020-09-17 12:24] djablonski-moia commented on #7944
Hi @roidelapluie!

Sorry, I'm not sure what you mean with "update the master endpoint". Could you please explain?

For the logging, I switched it on after a previous occurrence of this issue (happens not every time, but quite reliably).
After a restart everything is fine again, but I'd say restarting after each cluster node change is not a proper solution 😉

[2020-09-17 12:31] roidelapluie commented on #7944
I mean, did the API server get update, or was it just the kubelets?

[2020-09-17 13:17] macskay opened #7946 "node_exporter missing a partition"
**What did you do?**
I issued the metric `node_filesystem_size_bytes`
**What did you expect to see?**
To see all my partitions on my server
**What did you see instead? Under which circumstances?**
All partitions except /dev/sdb1
**Environment**
- Ubuntu 20.04
- Prometheus
* System information:

[code]

* Prometheus version:
[code]

* Prometheus configuration file:
[code]

* Logs:
The logs show onl

[2020-09-17 13:20] macskay commented on #7946
Following picture shows that /media is missing
![grafik](https://user-images.githubusercontent.com/8678523/93475730-41a37d00-f8f9-11ea-8e38-26159c741750.png)

[2020-09-17 13:26] macskay commented on #7946
Just saw, that node_exporter has its own project. Moved the issue over there.

[2020-09-17 13:26] #7946 closed

[2020-09-17 13:47] subnetmarco commented on #7919
Just to recap, today Prometheus can leverage Kubernetes or `file_sd` as the service discovery mechanism.

We are suggesting to introduce either a `http_sd` or `grpc_sd` discovery that points to a third-party server (in our case, the `kuma-cp` control plane) that can dynamically provide the most updated list of targets to Prometheus itself.

@austince maybe we can rename the title of this issue to:

[2020-09-17 13:59] austince commented on #7919
@subnetmarco, that proposal sounds good to me, though I think we should just close this issue if that's the route we're taking and move conversation back to #6484 where the `grpc_sd` is proposed. There's a conversation on the dev list we could try to revive as well [here](https://groups.google.com/g/prometheus-developers/c/w2F6gxYW8U8).

[2020-09-17 16:18] HMaker commented on #5976
That permission denied error happens because prometheus user has no permission to write on the data volume's mountpoint. Running the prometheus' container as root to bypass that error is the laziest and worst solution. Taking as example prometheus' [tutorial using docker](https://prometheus.io/docs/prometheus/latest/installation/), you can do the following to solve it:
1. Make a data volume with `

[2020-09-17 21:34] csmarchbanks commented on #7945
I agree, this sounds like an issue on the influx side where it cannot keep up with traffic. If you know that influx can keep up, Prometheus 2.4 is ancient at this point, and much of remote write has been rewritten since then. Would you be able to upgrade to a more recent version?

[2020-09-17 22:25] roidelapluie commented on #7944
Oooh waut. Can you try to explicitely set the kube API url and the tokens? Then you would use our own client, which does not have the different HTTP/2 bugs that the default go client has -  becase we disabled HTTP/2 in our own client.

Thanks.

[2020-09-18 00:12] tr2vil commented on #7945
@csmarchbanks,
Ok, I'll upgrade prometheus version. After then I'll check it up again.

[2020-09-18 05:52] djablonski-moia commented on #7944
Yes, the API server instances also got replaced (at least in the cases I remember). The whole master node was simply terminated (after a proper draining, which did not include the `fluentd` pod, as this is part of a `DaemonSet`). An autoscaling group then started a new node to replace the old one.

As for setting the kube API URL & tokens explicitly, I'll try that asap, and will give an update.

T

[2020-09-18 06:44] tr2vil commented on #7945
@csmarchbanks
Next tuesday, I'll upgrade my prometheus server cluster binary.

[2020-09-18 13:25] Harkishen-Singh commented on #7699
So, I was working on this and seems (since I didn't encounter a failure) that the tsdb.DefaultOptions is the culprit. The retention policy for teststorage is too short for that range. As I increased the retention policy, it worked and haven't faced failures till now. I tested with `1h` and `300000h` because what @johncming  said is out of range.

If this is the reason, then I don't think there is

[2020-09-18 13:33] brian-brazil commented on #7699
I'm confused, is there an issue here or not? It sounds to me like we need to adjust the tsdb options for promtool tests.

[2020-09-18 13:35] Harkishen-Singh commented on #7699
I don't think there's a bug. Its just related to tsdb options. Do you want a PR for this?

[2020-09-18 14:24] brian-brazil commented on #7699
If there's no bug, then there's no need for a PR.

[2020-09-18 15:37] bwplotka commented on #7903
We talked offline with @codesome  and TBH we feel like the best is to use post-processing/modifiers for that.

This can work as a sorting modifier + limit k. Obviously sorting has to have some aggregation (sometimes called rank method).

Since this fits into modifier/postprocessing work, we are referring this issue on our Community Bridge mentorship: https://github.com/cncf/mentoring/blob/master/c

[2020-09-18 15:58] codesome opened #7947 "Output modifiers for query/query_range API"
## Proposal
**Use case. Why is this important?**

As decided in the dev summit, we want to have sorting of instant query and range query results based on label-values and query result.

Additionally we could have more post processors than just sorting.

This is currently part of community bridge.

[2020-09-18 16:02] codesome opened #7948 "Ouput modifiers for query_range API"
## Proposal
**Use case. Why is this important?**

As decided in the dev summit, we want to have output modifiers for query_range. We still need to explore how the modifiers would like for query_range.

Some initial ideas are sorting based on some ranking (avg, sum, etc) and maybe limit on results after sorting on rank.

This is currently part of community bridge.

[2020-09-18 16:03] roidelapluie commented on #7948
Do we want to have the UI part of this included in the scope?

[2020-09-18 16:03] roidelapluie commented on #7947
Do we want to have the UI part of this included in the scope?

[2020-09-18 16:04] codesome commented on #7948
For the entire work, yes, for community bridge, maybe not, because the duration of program is short.

[2020-09-18 16:40] codesome commented on #7947
For the entire work, yes. And as this is the first thing to be done in the community bridge and should be a small addition, it might be in the scope of community bridge too.

[2020-09-18 16:58] codesome commented on #7903
I am still collecting and evaluating ideas to eliminate any edge cases and check it against use cases beyond topk itself. I should have something to show in a few weeks time.

[2020-09-18 22:48] aryan9600 commented on #7326
Hey everyone, a first time contributor here. I would like to work on this issue if no one else is already working on it.

Having gone through this issue and _some_ of the related code, I have a few doubts I was hoping to get cleared.

As far as I understand, we want to avoid using `checkAndExpandSeriesSet` and consequently `expandSeriesSet` in `eval()`.
If we don't expand the `SeriesSet`, how do w

[2020-09-19 09:58] brian-brazil commented on #7326
We do it as needed one by one, rather than in one big batch.

[2020-09-20 01:47] anukul commented on #7630
Hi, I would like to try this!

I'm looking in [`populateSeries`](https://github.com/prometheus/prometheus/blob/release-2.21/promql/engine.go#L620) to understand how hints are derived at the moment, and will start by finding / adding cases in [`TestSelectHintsSetCorrectly`](https://github.com/prometheus/prometheus/blob/release-2.21/promql/engine_test.go#L246) where they can be improved further for

[2020-09-20 10:10] Harkishen-Singh commented on #7922
As per the discussion, I guess we do not want to implement(atleast what Brian said). So, is this still a kind/feature in terms of Pmaybe?

[2020-09-20 10:13] Harkishen-Singh commented on #7699
Should we close this?

[2020-09-20 10:14] Harkishen-Singh commented on #7574
Will try to take up this.

[2020-09-20 10:20] rudo-thomas commented on #7699
This is definitely a bug: If a well-written test sometimes fails and sometimes succeeds, the test tool is buggy.

If there is an option to tweak, it should be documented in the promtool help.

I will re-test with 2.21.0 next week.

[2020-09-20 10:31] codesome commented on #7574
There is already https://github.com/prometheus/prometheus/pull/7579, maybe you could review it?

[2020-09-20 11:17] roidelapluie commented on #7922
I am waiting for input of the OP or the next bug scrub to close this.

[2020-09-20 11:32] djablonski-moia commented on #7944
Hi @roidelapluie,

either I'm just too blind to see it, but to me it seems I'm not able to set the apiServer specifically, since we use `prometheus-operator` with `ServiceMonitor`s most of the time. Unfortunately, that one does not allow to set the apiServer, just the `bearer_token_file` (as far as I can see). I'll try to circumvent this for the issue at hand, but that might take a while ☹️

[2020-09-20 14:34] AdaephonBen commented on #4611
@brian-brazil Although the PR seems to have resolved this issue, I noticed that it had not been merged, so I was curious about whether there's anything left to do here. Maybe some documentation? I'd like to pick up this issue, so please tell me there's more work to be done on it

[2020-09-20 15:06] brian-brazil commented on #4611
See https://github.com/prometheus/prometheus/pull/7086#discussion_r403448643

[2020-09-20 15:22] mdh67899 opened #7952 "why prometheus_tsdb_storage_blocks_bytes is greater than prometheus_tsdb_retention_limit_bytes?"
**What did you do?**

prometheus storage data is greater than storage.tsdb.retention.size，why prometheus don't clean the old data? thanks

[code]
**What did you expect to see?**

prometheus delete old data and prometheus_tsdb_storage_blocks_bytes less than prometheus_tsdb_retention_limit_bytes

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	Linux

[2020-09-21 07:32] Harkishen-Singh commented on #7940
Better if we have an issue for that.

[2020-09-21 07:33] codesome commented on #7952
The `prometheus_tsdb_storage_blocks_bytes` will go above `prometheus_tsdb_retention_limit_bytes` for a small while before the old data is deleted. The retention bytes is merely an indication of when to start deleting old data and not a strict boundary. Did it go down after some time?

This brings my attention to the checkpoints - we are not taking that into consideration when checking for retentio

[2020-09-21 07:41] codesome opened #7954 "Consider checkpoints for size based retention"
**Use case. Why is this important?**

Currently we are not considering checkpoints in the size based retention which could be significant at times (especially now that we are truncating a larger portion of WAL).

We need to consider it's size for the retention.

[2020-09-21 07:41] codesome commented on #7952
Opened https://github.com/prometheus/prometheus/issues/7954 for checkpoints in retention checks

[2020-09-21 09:03] wazery opened #7955 "Prometheus WAL Size Keeps Growing Indefinitely"
**What did you do?**

Currently, I have a Prometheus v2.20.0 running, and it has an issue that the WAL keeps on growing indefinitely and consuming disk space.

Actually the disk space is not the issue now, but that the WAL folder is not getting cleaned, so if any time Prometheus is restarted, it tries to load the entire WAL into memory.

So for example WAL is now 60GB, and memory is 32GB, so Prome

[2020-09-21 09:34] codesome commented on #7955
@wazery can you share the logs of Prometheus?

[2020-09-21 09:43] wazery commented on #7955
@codesome I've checked the logs and it's all internal logs, nothing is related to WAL or similar manners.

A snippet from it (which is repeated for similar issues and nothing else is there)
[code]

[2020-09-21 09:51] codesome commented on #7955
@wazery are there any error logs related to compaction or checkpointing? (or any warning/error)

[2020-09-21 09:58] wazery commented on #7955
@codesome Checked now, and it seems yes, there are some logs related to compaction:

[code]

[2020-09-21 09:59] wazery commented on #7955
Also checkointing:

[code]

[2020-09-21 10:03] roidelapluie commented on #7955
Can you upgrade to 2.21? Thanks!

[2020-09-21 10:05] wazery commented on #7955
@roidelapluie So it's a known bug and the upgrade will solve it?

[2020-09-21 10:05] Harkishen-Singh commented on #7954
I will like to take this up.

[2020-09-21 10:08] codesome commented on #7955
@wazery yes a known bug which is fixed in v2.21

[2020-09-21 10:08] wazery commented on #7955
@codesome and @roidelapluie many many thanks for your support. I will upgrade and report here then will close the issue.

Wish you both an awesome day!

[2020-09-21 10:09] roidelapluie commented on #7955
Here is the fix: #7856

[2020-09-21 13:53] codesome commented on #7954
Go ahead!

[2020-09-21 15:35] roidelapluie commented on #7910
We have looked at it during our bug scrub and determined that it is more than probably due to a redirect or a proxy.

Please reopen if that's not the case.

[2020-09-21 15:35] #7910 closed

[2020-09-21 15:39] roidelapluie commented on #7920
We have looked at it in our bug scrub and decided to close this as per above comments.

[2020-09-21 15:39] #7920 closed

[2020-09-21 15:41] roidelapluie commented on #7922
We have looked at it during our bug scrub and decided to close this as per above comments. Thanks!

[2020-09-21 15:41] #7922 closed

[2020-09-21 15:41] roidelapluie commented on #7923
We have looked at this issue during our bug scrub. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the w

[2020-09-21 15:41] #7923 closed

[2020-09-21 15:44] roidelapluie commented on #7932
We have looked at this during our bug scrub, can you please verify that you are no longer ingesting those labels?

Also, if the data is still in head (ingested in the last 2-3 hours), you will still see the labels. Can you please confirm that it's not the case?

[2020-09-21 15:45] roidelapluie commented on #7940
We have looked at this during our bug scrub and decided to close this based on above comments. Thanks!

[2020-09-21 15:50] roidelapluie commented on #7945
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2020-09-21 15:51] roidelapluie commented on #7945
Please

[2020-09-21 15:51] #7945 closed

[2020-09-21 16:24] roidelapluie commented on #6803
We have looked at this during our bug scrub and decided to close this, as adding that metric for every scrape it is pretty expensive. We also have metrics around metadata cache if that's the issue you try to address.

Thanks!

[2020-09-21 16:24] #6803 closed

[2020-09-21 16:25] #7703 closed

[2020-09-21 16:27] Harkishen-Singh commented on #7940
I think this requires work than closing it. @roidelapluie

[2020-09-21 16:37] trallnag commented on #7932
I will try it out in a reproducible setup once I get to it in the next few days and than come back to you / this issue

[2020-09-21 16:37] brian-brazil opened #7957 "Clean tombstones should not require more disk space than a normal compaction"
See #7545, it looks like if we're cleaning multiple blocks we only delete the old blocks when we reload at the very end. We should be smarter about that.

[2020-09-21 19:16] sploiselle opened #7958 "http API: Some query range step values return no results while others do"
**What did you do?**

I attempted to perform a `query_range` query of the HTTP API using the following values:

Field | Value
-----|------
start | 2020-01-01T18:00:00.123Z
end | 2021-01-01T20:00:00.781Z
step | 86400s (1 day)

Here's the exact command I ran:

[code]

**What did you expect to see?**

I expected the query to return some data from within my Prometheus instance

**What did you see inst

[2020-09-21 23:41] tr2vil commented on #7945
@roidelapluie , OK I see.

[2020-09-22 03:18] midnightconman commented on #7920
Thank you guys for looking at this... I think the recording rule is what I will go with.
Also, my main candidate for this was kube-state-metrics... After the auto sharding I don't have this issue as much.

[2020-09-22 03:43] mdh67899 commented on #7952
it's not go down after some time. I restart prometheus, prometheus_tsdb_storage_blocks_bytes go down immediately.

I think it may be the reason for this line of code, commenting it may solve the problem

https://github.com/prometheus/prometheus/blob/7aa5fb01bf4c71f0a29490f75f45e39356f4bb2c/tsdb/db.go#L1119

[2020-09-22 08:39] ddesna opened #7960 "Error refreshing target groups with Eureka SD"
**What did you do?**

Use Prometheus 2.21.0 with Spring Cloud Netflix Eureka SD.

**What did you expect to see?**

Successfully refreshed targets from Eureka SD.

**What did you see instead? Under which circumstances?**

Refresh error `strconv.ParseInt: parsing \"1600761615607\": value out of range`

**Environment**

* System information:

	Windows 10

* Prometheus version:

	prometheus, version 2

[2020-09-22 09:32] ddesna commented on #7960
I have seen that #3369 PR contains [test](https://github.com/prometheus/prometheus/pull/3369/files#diff-22e198a09e7b66d522024c862f920bceR26) with the same timestamp format response from Eureka API. So no idea if that test was ignored or something.

[2020-09-22 09:46] roidelapluie commented on #7960
You probably use a 32 bit binary, can you try with a 64 bit binary?

[2020-09-22 09:57] ddesna commented on #7960
@roidelapluie you are right ! Sorry 😬, closing this issue ...

Solution:
Use 64 bit binary on 64 bit OS 🙏

[2020-09-22 11:38] djablonski-moia commented on #7944
UPDATE:
I ran the test again, with the settings as you proposed, but the issue remains. But at least it seems to happen only on master nodes, as I could not see the effect when worker nodes were rotated.
Here are the additional data I gathered (also logs, although I find them quite meaningless):

<img width="1889" alt="prometheus-time-series-mixed-up" src="https://user-images.githubusercontent.com

[2020-09-22 14:10] roidelapluie opened #7962 "Prometheus version should include the GOOS / GOARCH"
Prometheus version currently prints:

prometheus, version 2.9.2 (branch: HEAD, revision: d3245f15022551c6fc8281766ea62db4d71e2747)
  build user:       root@1d43b6951e8f
  build date:       20190424-15:32:31
  go version:       go1.12.4

Having the OS/Arch in addition would be nice, as we already have the go version. Especially, detecting armv7 vs arm64, amd64 and i386.

[2020-09-22 14:53] codesome commented on #7940
Yeah lets keep this open until we are sure we cannot fix it.

@cstyan: is this error possible even when running normally but remote write lagging a lot? Hence rw lagging behind a few files and WAL truncation happens.

[2020-09-22 15:01] codesome commented on #7952
That line is actually not the problem because we collect all deletable blocks before breaking (else why would it work after a restart?)

Do you have the logs before the restart? I suspect either we are not updating prometheus_tsdb_storage_blocks_bytes properly or Prometheus faced issues deleting the blocks.

(Also, if you are seeing this again, can you check the actual size on disk?)

[2020-09-22 16:42] mdh67899 commented on #7952
sorry, the log level is not debug level when I restart prometheus, there is no special logs

I understand this way:  when writing a new block, the reload method will always be executed. The reload method will execute the BeyondSizeRetention method to get the blocks that needs to be deleted because the storage size exceeds the limit. If the block exceeds the size of prometheus_tsdb_retention_limit_

[2020-09-22 16:44] mdh67899 commented on #7952
I am not particularly familiar with the source code of prometheus, and it may be my misunderstanding

[2020-09-22 17:25] cstyan commented on #7940
In theory if remote write was very far behind you could see this error yes. But if it's just a few files behind during normal operation, successfully sending data still but just not able to keep up, it's not likely that checkpointing would delete a segment file that remote write hasn't already read.

Not sure what we can do in either case, as we don't want remote write to have a say in whether a s

[2020-09-22 18:29] dstdfx commented on #7962
Hi there, could I pick this one?

[2020-09-22 19:09] dstdfx commented on #7962
Hi there, I'll pick this one

[2020-09-22 19:49] dstdfx commented on #7962
Am I right that it requires some changes in https://github.com/prometheus/common at first?

[2020-09-22 22:52] aryan9600 commented on #7326
I think I understand the issue, but can't really seem to get a grasp on the solution. Where exactly do we determine that we need to move to the next Series?

[2020-09-22 22:53] roidelapluie commented on #7952
Hello,

https://github.com/prometheus/prometheus/blob/7aa5fb01bf4c71f0a29490f75f45e39356f4bb2c/tsdb/db.go#L1115-L1117

This means that we will return all the remaining blocks.

[2020-09-23 05:52] codesome commented on #7952
Any errors in compaction/checkpointing/etc will be an error and does not require debug logs. Do you have logs before you restarted?

+ What @roidelapluie said about the code above

[2020-09-23 06:03] codesome commented on #7940
If Prometheus is down for some time, then after a restart the data in the WAL could be technically considered as lagging behind. Nothing much we can do there when TSDB should not know about remote write and there would be loss of data in remote write anyway. So I propose wont-fix for this particular issue as it's a side affect of longer downtime of Prometheus.

[2020-09-23 07:33] Betula-L opened #7965 "Proposal: add metrics to expose scrape failed reasons of "down" target"
## Proposal
**Use case. Why is this important?**
For edge clusters/CDN, the network condition is complex and unstable. There are always hundreds of nodes scraped failed by  prometheus due to invalid network connection. We do not care about those "down" targets by "invalid network connection", but care about "down" targets returned abnormal HTTP status such as 500/401, which means bugs or configura

[2020-09-23 08:26] brian-brazil commented on #7965
I don't think this makes sense, as this has cardinality issues due to the unbounded number of potential error messages and this is also not relevant to the health of the Prometheus server itself so doesn't belong on /metrics - a failed scrape is perfectly normal from the Prometheus server standpoint.

If you need this level of detail I'd suggest using the blackbox exporter, as you're not doing whi

[2020-09-23 08:26] #7965 closed

[2020-09-23 08:35] brian-brazil commented on #7326
Anywhere we iterate over the slice today, instead we call next.

[2020-09-23 14:46] rudo-thomas commented on #7699
2.21.0 still has this bug.

After experimenting with the tsdb options, I agree with @brian-brazil when he said "sounds to me like we need to adjust the tsdb options for promtool tests". With the following patch, the 30000h test from the original report *always* succeeded:
[code]

I'm not partcularly familiar with the code, but could the RetentionDuration be just set to `math.MaxInt64`? :)
Maybe th

[2020-09-23 16:18] brian-brazil commented on #7699
If setting that really low breaks everything, then MaxInt would make sense.

[2020-09-23 16:38] beorn7 opened #7970 "PromQL: `histogram_quantile` has a possible off-by-one error"
https://linuxczar.net/blog/2020/08/13/histogram-error/ claims that the interpolation that the `histogram_quantile` function performs within a bucket overestimates, which becomes most prominent with low numbers of samples in the bucket. IIUC, the blog post claims `histogram_quantile` interpolates as

Q(p) = lower_bound + bucket_width * k / n

where it should do

Q(p) = lower_bound + bucket_width *

[2020-09-23 16:47] roidelapluie commented on #7970
Was it fixed by  #7393 ?

[2020-09-23 16:49] Harkishen-Singh commented on #7699
Yes, and that should solve all range concerns that promtool has with respect to rule tests. Sounds good @brian-brazil ? (PR?)

[2020-09-23 16:52] beorn7 commented on #7970
Maybe, but I'm not sure. Will have a thorough look once I find time.

[2020-09-23 16:52] roidelapluie commented on #7962
Fixed by #7968

Thanks!

[2020-09-23 16:52] #7962 closed

[2020-09-23 17:01] roidelapluie opened #7971 "Remote Write API"
## Proposal
**Use case. Why is this important?**

I am starting with remote_write, and from the Prometheus UI, all I can see is the URL.

I'd like new remote write users like me to easily find out in the UI:

- Does remote write work?
- What is the error message, if any?

It appears that we could also have the status of the queues: starting, resharding, ...

Let's brainstorm what would be the adde

[2020-09-23 18:56] cstyan commented on #7940
I agree. There's not much we can do in that case.

We can do the "TSDB doesn't say it's 'started' until it's checked if it should, and executed, checkpointing. And then remote write can start" for the particular case in this issue.

[2020-09-23 18:57] cstyan commented on #7971
Should be simple enough to display some of the common metrics for each queue on a page.

[2020-09-23 21:45] #7960 closed

[2020-09-23 22:40] csmarchbanks commented on #7971
Detail on the sharding calculations would be interesting, right now that information is only available in debug logs.

[2020-09-24 02:46] jjneely commented on #7970
#7393 does not fix this.  (Oh wow, that's a subtle bug...being I wrote the ensureMonotonic bits I guess I gotta own that one.)

My article was comparing the linear approximation Prometheus does with other algorithms other vendors use.  The code in question is here:

https://github.com/prometheus/prometheus/blob/master/promql/quantile.go#L114

[code]

There are fewer samples at the tails obviously,

[2020-09-24 05:57] apr1809 commented on #7753
@roidelapluie @codesome I upgraded to Prometheus: 2.20.1 in EKS yesterday using helm. After a restart I could find compaction failure errors:

level=info ts=2020-09-24T05:28:58.136Z caller=head.go:804 component=tsdb msg="Head GC completed" duration=159.163691ms
level=error ts=2020-09-24T05:28:58.136Z caller=db.go:685 component=tsdb msg="compaction failed" err="head truncate failed (in compact): tr

[2020-09-24 05:59] codesome commented on #7753
Delete the `chunks_head` directory and restart Prometheus.

[2020-09-24 08:34] roidelapluie opened #7972 "Improve promtool tsdb ls"
## Proposal
**Use case. Why is this important?**

When I run prometheus ls, I get the following information

[code]

It think it would be valuable and relevant to:
- have a size column
- dapth the CLI flag ``--human`` to have the size human-readable

[2020-09-24 08:41] brian-brazil commented on #7972
Keep in mind that the TSDB has no knowledge of what the units of the timestamps are, it's just arbitrary numbers to the TSDB.

[2020-09-24 08:44] roidelapluie commented on #7972
I would limit that in the cmd/promtool/ package and not in the tsdb/ package, and not default to it.

That would be a good compromise to me.

[2020-09-24 08:46] roidelapluie commented on #7972
Oooh there is a human readable flag already.

I guess the scope if this issue is just the size then.

[2020-09-24 08:46] brian-brazil commented on #7972
The tsdb subcommand is for tsdb stuff, so should work with any use of the tsdb and thus the same design principles apply.

[2020-09-24 08:47] roidelapluie commented on #7972
It seems like the human readable date already exists.

[2020-09-24 08:52] brian-brazil commented on #7972
That's a bug then, as it can produce incorrect values. At the least we should be documenting that it's assuming milliseconds in the flag help.

[2020-09-24 09:04] roidelapluie opened #7973 "Updating from 2.17.2 to 2.20.0 doubles the size of the blocks"
I updated Prometheus from 2.17.2 to 2.20.0 on August 11.

Since then, the size of the blocks made +50%.

[code]

[2020-09-24 09:07] roidelapluie commented on #7973
Second server, was updated July 22 to 2.20.0-rc.1.

[code]

[code]

[2020-09-24 09:10] roidelapluie commented on #7973
[code]

[2020-09-24 10:17] beorn7 commented on #7970
Thanks for the explanation. I'll have a closer look ASAP.

[2020-09-24 12:32] roidelapluie commented on #7973
cc @codesome

[2020-09-24 12:36] roidelapluie commented on #7973
Not sur if related, but the TSDB creates less segments after the upgrade:

![segm](https://user-images.githubusercontent.com/291750/94145806-60fb5680-fe73-11ea-88d9-1eedb1aa3a11.png)

[2020-09-24 12:51] roidelapluie commented on #7973
Less segments = wal compression I think

[2020-09-24 12:54] roidelapluie commented on #7846
Could you try running prometheus with --no-storage.tsdb.wal-compression and see if that makes a difference?

[2020-09-24 12:55] roidelapluie commented on #7846
oh 2.18 ..
thanks, in 2.18 there is no such comprssion by default

[2020-09-24 12:59] roidelapluie commented on #7973
I am wondering wheter cd73b3d33e064bbd846fc7a26dc8c313d46af382 could cause this

[2020-09-24 13:17] roidelapluie commented on #7846
Possible duplicate of #7973

[2020-09-24 14:40] IgorOhrimenko opened #7974 "Add refresh_interval to static_configs"
## Proposal
**Use case. Why is this important?**
Add refresh_interval to static_configs.

Now the logic behind static_configs is as follows:
- if DNS is not available, then request a new IP
- never again refresh IP from DNS

Now I have done on dns_sd_configs with relabel_configs, but this method seems redundant to me, periodically re-reading the DNS in static_configs seems logical and simple to me

[2020-09-24 14:57] roidelapluie commented on #7974
This is now how discovery works. If the targets are not changing, refreshing in the service discovery term would not disrupt  or update the scrapes.

dns_sd_configs seems the way to go.

[2020-09-24 18:43] roidelapluie commented on #7801
Closed by #7852

[2020-09-24 18:43] #7801 closed

[2020-09-24 18:44] #7642 closed

[2020-09-24 19:36] roidelapluie commented on #1506
Closed by  #3369

[2020-09-24 19:36] #1506 closed

[2020-09-24 21:57] roidelapluie commented on #6747
@heyitsmdr Can you try Prometheus 2.21 and see if it fixes it ?

[2020-09-25 01:33] kogent commented on #6139
We tracked down one cause of this today.

Not long after bringing up the prometheus process it would hang and sometimes flood with the error message in this thread.

Running the thanos sidecar seemed to accelerate the time to hanging.

However when we looked at the targets (before it hung) we noticed several jobs where thousands of targets were timed out.

We commented those jobs out, and that pro

[2020-09-25 11:18] roidelapluie commented on #7973
Block 01EBWEAYPQMV2YCXM274426XYV has 272702015 chunks, the size of the chunks is 35594494891, for 32284405076 samples
Block 01EHA8AQ8N2FASY502BS5XXXFX has 289530495 chunks, the size of the chunks is 52110367603, for 34241198162 samples

[2020-09-25 15:01] Harkishen-Singh commented on #7972
Should there be `K` or `M` if `--human` flag is used?

[2020-09-25 15:11] brian-brazil commented on #7972
That seems reasonable to me.

[2020-09-25 15:26] roidelapluie commented on #7972
I think we us this already: https://github.com/alecthomas/units

[2020-09-25 15:28] roidelapluie commented on #7973
This might a golang bug:
https://github.com/golang/go/issues/38860

[2020-09-25 15:29] roidelapluie commented on #7846
Hello,

This might be a bug in go, causing scrapes not to be aligned correctly:
https://github.com/golang/go/issues/38860

[2020-09-25 16:16] mewa opened #7978 "Add a mechanism to handle duplicate queries at metric relabeling / ingestion time"
## Proposal
**Use case. Why is this important?**
When ingesting metrics we're not always interested in keeping all the labels exported, however, dropping certain labels can cause the scrape to contain duplicate series.

Currently the workaround is to edit the metrics format of whatever is spitting them out - either by editing the application itself or by writing a metrics exporter that would aggre

[2020-09-25 18:10] brian-brazil commented on #7978
Thanks for your suggestion.This has come up numerous times before such as in #6352, and isn't workable. Reducing the cardinality in the target is the appropriate way to handle this.

[2020-09-25 18:10] #7978 closed

[2020-09-26 08:59] sannimichaelse commented on #7948
Hi @codesome, I would love to work on this task as part of the community bridge project.

How do I get started?

[2020-09-26 09:04] codesome commented on #7948
Hi @sannimichaelse, please apply on the community bridge platform and we will reach out in the next week.

[2020-09-26 09:09] sannimichaelse commented on #7948
Thanks for the prompt response @codesome. Will submit my application

[2020-09-26 10:24] andrey-admin commented on #7973
Hello,

So, used disk space doubles too after upgrade? Or database dir size is same?

[2020-09-27 03:50] TAYTS commented on #7296
Hi may I try on this issue?

[2020-09-27 11:48] nrchakradhar commented on #7906
Fixed by #7942

[2020-09-27 13:25] #7906 closed

[2020-09-28 02:00] zecke opened #7980 "Excessive memory usage on subqueries"
In the PR #6372 and #7930 we have seen problems resulting from massive memory (over) allocations and the handling of large objects in Go.

There are multiple issues at play and multiple changes are required to address them. Let's start with the original problem description:

[code]

What's out there and needed.

* The sync.Pool is used wrongly in getPointSlice (slices are of very different capacit

[2020-09-28 11:10] codesome commented on #7954
My bad. While talking to @Harkishen-Singh offline on unit tests in #7969, we realised it late that we are already counting the checkpoint. See: https://github.com/prometheus/prometheus/blob/19c190b406c992278aaade63be92ecc7bb6a4921/tsdb/wal/wal.go#L898

It takes the entire directory which includes even the checkpoint.

[2020-09-28 11:10] #7954 closed

[2020-09-28 15:35] beorn7 commented on #7955
Assuming that this is indeed fixed now, I'll close it. Please reopen if you continue to see this issue. Thank you!

[2020-09-28 15:37] beorn7 commented on #7958
With the query parameters given, the behavior doesn't seem irregular, as far as I can see. I'd be surprised if this is a bug.

To discuss this in more depth, I'll recommend to go to the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users). On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit

[2020-09-28 15:38] beorn7 commented on #7955
u

[2020-09-28 15:38] #7955 closed

[2020-09-28 15:43] beorn7 commented on #7973
Related to #7846 . I'll close this one and give #7846 a better name.

[2020-09-28 15:43] #7973 closed

[2020-09-28 15:49] beorn7 commented on #7974
We discussed this in our bug scrub and agree with @roidelapluie that this is most appropriately covered by dns_sd_configs.

[2020-09-28 15:49] #7974 closed

[2020-09-28 15:53] beorn7 commented on #1237
Just to be clear: This should only be added to the new React UI.

[2020-09-28 15:54] beorn7 commented on #39
At this point, we should only consider this for the new ReactUI.

[2020-09-28 15:56] beorn7 commented on #7572
@brancz Is this perhaps a good issue for Hacktoberfest to add this one remaining feature?

[2020-09-28 16:04] beorn7 commented on #7296
@TAYTS feel free to do so, but also note that this is in the old UI, which will be removed in the not too far future.

I'll also tag this with Hacktoberfest, just in case.

[2020-09-28 16:07] beorn7 commented on #6139
I'll tag this for Hacktoberfest, to get more eyes on it. But please note that his won't be easy to figure out.

[2020-09-28 16:10] beorn7 commented on #5861
@Transwert we haven't heard back from you so I remove you as the assignee. But feel free to chime in again.

[2020-09-28 16:14] beorn7 commented on #5469
There is another insightful blog post: https://www.robustperception.io/why-does-prometheus-use-so-much-ram

[2020-09-28 16:17] brian-brazil commented on #5048
#5277 changed this, are you still seeing issues?

[2020-09-28 16:27] beorn7 commented on #3155
Is this perhaps covered these days by the LSP implementation?

[2020-09-28 16:27] beorn7 commented on #3155
@juliusv WDYT about this from today's perspective?

[2020-09-28 16:31] beorn7 commented on #1481
Some thoughts about it:
- Let's only consider this for the new UI at this point.
- First we need a good framework for doing this, canarying it with one of the possible warnings.
- And then we can liberally add more and more of those.

[2020-09-28 17:40] yashrsharma44 commented on #7459
Some more resources -
* https://ganeshvernekar.com/blog/prometheus-tsdb-the-head-block
* https://ganeshvernekar.com/blog/prometheus-tsdb-wal-and-checkpoint

Thanks @codesome for the writeup! :tada:

[2020-09-28 17:56] codesome commented on #7459
I expect at least 5 more blog posts covering other parts :)

[2020-09-28 20:15] alvinlin123 opened #7982 "Increase value for `maxErrMsgLen` for remote write API"
## Proposal

Currently only 256 bytes is read upon non HTTP 200 from remote write server:https://github.com/prometheus/prometheus/blob/072b9649a30e06c71ddd1c64d25f71c4936e56ba/storage/remote/client.go#L41

256 bytes is quite short, and leads to error message being truncated, which may make operator's life hard.

As an example, I was remote writing to Cortex and saw the error message gets truncated

[2020-09-28 20:18] roidelapluie commented on #7982
cc @bwplotka WDYT about this proposal?

[2020-09-28 21:15] cstyan commented on #7982
I don't have an issue with increasing the size slightly, would also impact remote read so Bartek would need to be on board as well.

[2020-09-28 22:06] roidelapluie commented on #7846
[code]

should show a difference:

![compression](https://user-images.githubusercontent.com/291750/94490956-8ecffa80-01e7-11eb-9c58-559f5bb05607.png)

[2020-09-28 22:13] cstyan commented on #7971
@roidelapluie this feels like it could be a hacktoberfest task?

[2020-09-28 22:22] roidelapluie commented on #7971
Yes, indeed :)

[2020-09-28 22:33] roidelapluie commented on #7846
The small improvement in 2.21 can be explained by https://go-review.googlesource.com/c/go/+/216198/

[2020-09-29 02:11] Thor-wl opened #7985 "Question: how to get the value of a given label of a metric"
Hi, all!
I've get a metric through some experssions, for example, the expression is **discovering_paas_clusters{cluster_id="XXX",exporter_replica="XXX"}** ,
and the metric i get is
**discovering_paas_clusters{cluster_id="XXX",cluster_status="Hibernation",exporter_replica="XXX"}=1**.
Now what i want to get is the value of the label "cluster_status". How can it achieve the goal?
Thank you!

[2020-09-29 02:18] wangyuqing4 commented on #7985
I have the same problem :(

[2020-09-29 04:46] Seitanas commented on #7846
Hello,
I've  ran tests against https://github.com/prometheus/prometheus/pull/7976
and I can confirm, that the fix solves https://github.com/VictoriaMetrics/VictoriaMetrics/issues/695 problem:

Red line Prometheuss `2.21.0 / 2020-09-11`
Green line - `PR7976` compiled with `Go 1.15`
<img width="1614" alt="Screenshot 2020-09-29 at 07 38 24" src="https://user-images.githubusercontent.com/6713389/94513

[2020-09-29 05:35] roidelapluie commented on #7846
#7981 might help too, but I have still to test it.

[2020-09-29 06:17] pracucci commented on #7982
@cstyan What's the downside of significantly increasing it?

[2020-09-29 06:41] brancz commented on #7572
@beorn7 yes!

[2020-09-29 08:43] brian-brazil commented on #7985
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-09-29 08:43] #7985 closed

[2020-09-29 08:45] brian-brazil commented on #7982
It could lead to severe logspam, 10k is multiple screens worth of text.

[2020-09-29 10:00] CRASH-Tech opened #7986 "Allow alerts discovery"
I would like to be able to automatically add alert rules.
Something like endpoint /alerts
From where prometheus will pick up a list of alert rules for a specific service.

[2020-09-29 10:42] roidelapluie commented on #7986
Thank you for your proposal.

Personally, I think that this is against the principles of Prometheus labels, as it would prevent prometheus to reuse the same alert for multiple label sets, or potentially create duplicate or conflicting alerts. It also raises many questions, like, how often would we refresh them, how would we treat that API being down (even before first fetch), and many other issues

[2020-09-29 10:46] suveshmathur opened #7987 "prometheus 2.21: fatal error: runtime: out of memory or kernel: Out of memory: Kill process 15746 (prometheus) score 851 or sacrifice child"
**What did you do?**
Upgraded from 2.20.1 to 2.21.0

**What did you expect to see?**
Monitor 16 PG clusters with nearly 70 databases. It was running with with less pg clusters adding more and upgrading to latest version started causing the issue.

**What did you see instead? Under which circumstances?**
The process dies after a interval of time with  Out of memory: Kill process 15746 (prometheus)

[2020-09-29 10:57] pracucci commented on #7982
Agree about 10k, but I'm wondering if we could find a compromise. Does 1KB looks reasonable to you?

[2020-09-29 14:18] roidelapluie commented on #7987
Thanks for your issue.

Your prometheus server does not have enough memory. Please add more memory and try again.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole communit

[2020-09-29 14:18] #7987 closed

[2020-09-29 16:11] cstyan commented on #7982
512 or 1024 is reasonable IMO.

[2020-09-29 17:04] sshaikh commented on #500
Pardon my ignorance but isn't this something usually handled by the browser itself? IE the timestamps should remain in a consistent ISO/UTC/Linuxtime or whatever till the last moment, ie when the labels are rendered by the browser - so even the HTML source should still contain the same time for everyone.

I feel this is something that belongs in a stylesheet or something and set via a cookie. But

[2020-09-29 18:51] beorn7 commented on #7572
OK, added label. Hacktoberfest hackers (and hacksen, if you allow this weird Germanicism), note that here is just one piece of the puzzle missing. Might be easy points… (o:

[2020-09-29 18:55] hdost commented on #740
I believe my initial commit starts down the right path. I can continue the rest in a different PR, just want to make sure I get some feedback before going much further

[2020-09-29 19:44] hdost commented on #5862
So it looks like this is some sort of cursed issue. There have been multiple PRs all of which have been closed. Is the consensus still that the samples should be split into separate chunks?

[2020-09-29 20:05] #7546 closed

[2020-09-29 20:48] hdost commented on #740
Ok decided to just go all the way :man_shrugging: let me know what you think.

[2020-09-29 22:13] ArthurSens commented on #7972
Hi :wave:

I'd like to work on this issue, that will be my first code contribution :slightly_smiling_face:

[2020-09-30 09:06] #7296 closed

[2020-09-30 09:33] juliusv commented on #3155
The LSP can give you autocompletions, documentation hints, etc. for a given expression at a given cursor position, but not sure you could ask it "give me all function names", so I think the use case is related but a bit different.

The new text editor at https://github.com/prometheus-community/codemirror-promql uses a lezer-based grammar that has to know about all the function names when compiling

[2020-09-30 09:40] codesome commented on #5862
@hdost Consensus, yes. They were closed because of different reasons :). More than splitting, it's more about avoiding bigger chunks when merging (we can leave alone the already bigger chunks, not worth breaking them down now for the additional complexity that adds).

Now with some refactoring that @bwplotka did, it should be easier to do it now. I think the relevant code is in `storage/merge.go`

[2020-09-30 09:48] rybbchao opened #7990 "Histogram bucket value is greater than count"
**What did you do?**

Use fluentd to collect logs and export histogram metrics.

**What did you expect to see?**

Each value in buckets should be less than or equal to `count`.

**What did you see instead? Under which circumstances?**

Some values in buckets were greater than `count`.

![image](https://user-images.githubusercontent.com/17705238/94666300-e41f1f80-033f-11eb-8772-088bb0cfb11c.png)
![

[2020-09-30 10:00] Skarlso opened #7991 "Go mod file is invalid in v2"
https://github.com/prometheus/prometheus/blob/v2.21.0/go.mod

Is wrongly declaring the module. It's missing a `v2` from its end. Which makes the build fail:

[code]

[2020-09-30 10:15] bwplotka commented on #7991
Hi :wave:

Yes, and there is lot's of reasons why this is this way. You read all here: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/prometheus-developers/F1Vp0rLk3TQ/F412gRw0CAAJ

TL;DR: It's as easy as putting `GIT-SHA` or `v2.21.0` as version of module, run for Prometheus `go mod tidy` and it will work. The reason why it's confusing is that we introduced Go modules wh

[2020-09-30 10:15] #7991 closed

[2020-09-30 10:18] brian-brazil commented on #7990
This is an issue with your data source, and not Prometheus itself. You should file this against fluent-plugin-prometheus most likely.

[2020-09-30 10:56] codesome commented on #7903
Developers mailing list: https://groups.google.com/g/prometheus-developers/c/K8HUmH7t6hk
Design doc: https://docs.google.com/document/d/1uSbD3T2beM-iX4-Hp7V074bzBRiRNlqUdcWP6JTDQSs/edit?usp=sharing

[2020-09-30 10:57] johnnian commented on #5976
it works ...

[2020-09-30 11:08] Skarlso commented on #7991
@bwplotka
This would help if I would directly require Prometheus. But it's coming in as a dependency from something.

[2020-09-30 11:11] bwplotka commented on #7991
Hm. I would contact the dependency author and put desired Prometheus version in "replace" section of go mod file. See https://github.com/thanos-io/thanos/blob/830ac35a57602ae890dc195095bf58b831854bb7/go.mod#L80

[2020-09-30 11:12] Skarlso commented on #7991
Now to find, who the heck is the dependency which brings it in.... :))

[2020-09-30 11:14] Skarlso commented on #7991
Thanks, this worked btw->
[code]

Should be the right version...

[2020-09-30 11:21] roidelapluie commented on #7991
You can use `go mod why github.com/prometheus/prometheus`

[2020-09-30 11:31] Skarlso commented on #7991
[code]

:D

[2020-09-30 12:29] ArthurSens commented on #7972
Hello @codesome @bwplotka @krasi-georgiev

While trying to solve this issue, I noticed that the [Block struct](https://github.com/prometheus/prometheus/blob/master/tsdb/block.go#L246) has the [Size()](https://github.com/prometheus/prometheus/blob/master/tsdb/block.go#L358) function, making it easy to retrieve a block's size(duh :stuck_out_tongue:)

But at promtool [listBlock](https://github.com/pr

[2020-09-30 12:41] codesome commented on #7972
Adding Size() method to BlockReader sounds fine

[2020-09-30 12:59] dgl opened #7992 "Allow remote read to not add external labels"
**What did you do?**

Upgrading to Prometheus 2.20.0 our setup that makes use of [thanos-remote-read](https://github.com/g-research/thanos-remote-read) stopped working.

This is because now external labels are included in the request sent to remote read endpoints. It seems like this is a behaviour change over 2.16.0 which we were previously running.

c4eefd1b3aef4d2f557f67ffc7c192ba1a63937d appear

[2020-09-30 13:08] sylr opened #7994 "promql case insensitive regexp do not work anymore"
**What did you do?**

Upgraded from 2.19.2 to 2.21.0

**What did you expect to see?**

[code]

I expected this condition to still work.

**What did you see instead? Under which circumstances?**

No data.

**Environment**

* System information:

	Docker

* Prometheus version:

	v2.21.0

[2020-09-30 13:10] sylr commented on #7994
As noted by @kormat on IRC this does work however:

`kube_node_status_condition{condition="Ready",node=~"((?i).+-master-.+)"}`

[2020-09-30 13:13] dgl commented on #7994
Potentially due to https://github.com/prometheus/prometheus/pull/7503 -- https://github.com/prometheus/prometheus/pull/7503/files#diff-386e83803db9aa684313923bb1c147daR100 does not take Flags into account anywhere that I can see.

[2020-09-30 13:16] bwplotka commented on #7992
I think that is a fair point :+1:

cc @brian-brazil @roidelapluie WDYT?

[2020-09-30 13:42] roidelapluie commented on #7992
Yes, I like this.

Should it be a simple on/off flag or something more complex, along the lines of `relabel_configs`?

[2020-09-30 14:13] brian-brazil commented on #7992
What's the use case for this?

It has always been the intended since 2.0 that external labels are included in remote read requests (unless there's a matcher for one of them), it was indeed a bug if that was not happening.

Otherwise you'd pull in data from other Prometheus servers that wrote to the same remote storage system.

If you want data from a different Prometheus (i.e. one that hasn't the

[2020-09-30 14:15] roidelapluie commented on #7992
External labels are labels.

[2020-09-30 14:16] brian-brazil commented on #7994
That sounds like it alright. We should add some unittests for the various flags RE2 supports anyway.

@pracucci

[2020-09-30 14:28] dgl commented on #7992
https://github.com/G-Research/thanos-remote-read/blob/master/docs/ruler.md explains it, essentially bringing some data into a Prometheus setup, that comes from elsewhere in a Thanos setup.

(Once Thanos has offline duplication of Prometheus replica data -- very close! -- it could also be useful to query that data, as pure remote read wouldn't work anymore. Although that would likely need something

[2020-09-30 14:46] brian-brazil commented on #7992
That example isn't quite enough for me to figure out what's going on. What sort of data is it that is being pulled in?

It sounds to me like this this is all working exactly as intended, and its the PromQL query that needs altering if it wants to explicitly pull in data that was "meant for" a different Prometheus.

Also the recording rule there isn't following best practices, as `thanos` is (presu

[2020-09-30 15:05] djablonski-moia commented on #7944
@roidelapluie Have you already been able to take a look at the recently provided data?

[2020-09-30 15:36] sandeeprapido commented on #6222
I would like to contribute to this issue.

[2020-09-30 15:37] SandeepVaman commented on #6222
I would like to contribute to this issue.

[2020-09-30 15:45] dgl commented on #7992
Sorry, I can't really talk about specifics, but two more concrete use cases are:

- Calculating a total of something across sharded Prometheus instances, where we would like the alerts to not have a hard dependency on Thanos, but if we can add some annotations based on querying that data it is very helpful.

Imagine in a thanos-ruler a rule like:

[code]

Where `things_total` comes from several Pr

[2020-09-30 16:11] brian-brazil commented on #7992
That's enough to work from.

Okay, so in that case it's the query that needs adjusting. The required matchers is superfluous from a semantics standpoint (it's only an optimisation) this is normal reading global data back from remote storage.

It's not, it's primarily a way to read back the data that you have previously written via remote write. With an opt-in way to read data that other Prometheus

[2020-09-30 17:26] heyitsmdr commented on #6747
Just checked it out today, @roidelapluie.  And.. I'm happy to say I can't reproduce this anymore on 2.21!

Thank you so much 👏

[2020-09-30 17:38] roidelapluie commented on #6747
Thanks! I'll close this. Please reopen a new issue if that is not solved.

[2020-09-30 17:38] #6747 closed

[2020-09-30 19:47] hjkatz commented on #7063
👋  This exact issue has been happening to us as well so I decided to dig into the whole system (prometheus, config-reloader, client-go, informers, etc...) to try and figure out what's going on, and I have a hypothesis!

Sources:
* Prometheus RoleEndpoints informers: https://github.com/prometheus/prometheus/blob/c9d827c1d019c70adb2e0c6747d1695254ae175d/discovery/kubernetes/kubernetes.go#L378
* Shar

[2020-09-30 21:12] zuzzas commented on #7063
After pondering on this, I think the problem lies in Prometheus losing a stable connection to the apiserver. It's a problem of a particular cluster. You'll see a lot of `watch of *v1.Endpoints ended with: too old resource version: 154761215 (154764265)"`.

@hjkatz, a fine detective work, but the final clue is missing. Re-lists are not defined when working with Informers. They happen automatically

[2020-09-30 21:22] azimjohn commented on #7509
#hacktoberfest brought me here, I will be taking care of the issue

[2020-09-30 21:30] Hixon10 opened #7995 "Add labels to Selector by clicking on labels in result set [React UI]"
1. I open the Web UI - http://localhost:9090/new/graph
2. I enter a selector (for example, **go_memstats_alloc_bytes**)
3. I receive some results in table. For example:
[code]
4. I want to automatically change my selector to **go_memstats_alloc_bytes{instance="localhost:9090"}**, by click clicking on `instance="localhost:9090"` in result table.

![prom](https://user-images.githubusercontent.com/26

[2020-09-30 23:34] davepacheco commented on #7245
As another data point, I have also observed corruption after a system ran out of disk space.  This is on illumos using ZFS and ZFS did not report any filesystem corruption.  While it may technically be true that the problem is related to corruption and not running out of disk space, it seems that running out of disk space can cause Prometheus to corrupt its WAL.

[2020-10-01 07:28] p0lyn0mial opened #7996 "scraping doesn't respect HTTP 429 (StatusTooManyRequests) status code from server"
**What did you do?**  Recently I run into a situation in which the API server was overloaded and responded with HTTP 429 status code but the Prometheus kept sending the request at the defined interval. Unfortunately, I can't share any data so you would have to inspect the source code to confirm that.

**What did you expect to see?** I would like to see the Prometheus slowing down ideally at an exp

[2020-10-01 07:40] p0lyn0mial opened #7997 "no indication when scraping fails"
**What did you do?** Recently I run into a situation in which the API server was overloaded and didn't respond to scraping requests. As a result, some alerts failed to indicate that there we no metrics. It took me some time to figure out why the Prometheus wasn't able to get the metrics from the target server.

**What did you expect to see?** It would be nice if the Prometheus could expose some me

[2020-10-01 07:49] p0lyn0mial commented on #7996
/cc @paulfantom @s-urbaniak

[2020-10-01 07:49] p0lyn0mial commented on #7997
/cc @paulfantom @s-urbaniak

[2020-10-01 09:03] simonpasquier commented on #7996
I don't think that Prometheus should stop scraping the target because it replied with `429`. Scrapes are expected to happen at fixed intervals and a `429` response translates to the `up` metric being `0` which is the right thing to do.
Also https://tools.ietf.org/html/rfc6585#section-4 doesn't say anything about what the clients SHOULD/MAY do.

[2020-10-01 09:20] brian-brazil commented on #7996
As @simonpasquier says, we're already doing the right thing here. If you want scrapes to happen less frequently then change your scrape interval. Breaking your monitoring during an overload seems unwise however and I'd suggest ensuring that Prometheus is exempted from such limits.

[2020-10-01 09:24] brian-brazil commented on #7997
Scraping failing is indicated by up being 0, and  you can get more information from the UI. A metric with information has previously been disclosed and rejected as it would have unbounded cardinality, plus per-scrape metrics are really expensive. #7797 is the direction we're going with here.

[2020-10-01 12:33] Pokom commented on #7971
Would this be achievable to a new contributor? I'd like to take a shot at it once there's enough requirements.

[2020-10-01 17:04] ArthurSens commented on #7957
Hi, I think I can try this one.
From what I've read, the idea is to change when the clean up happens... Instead of doing it once at the end, we need to cleanup after every compaction, correct?

[2020-10-01 19:02] ldemailly opened #8001 "rate [1m] and 1m scraping interval == no data"
**What did you do?**
helm install --namespace istio-system prometheus \
	 --set server.nodeSelector.node_type=unity-autoscaler \
	 --set server.fullnameOverride=prometheus \
	 --set server.service.servicePort=9090 \
	 prometheus-community/prometheus
(installs prom/prometheus:v2.20.1)

This is with istio grafana dashboard and kiali but is not specific to them

Look at any 1minute or rate [1m] metri

[2020-10-01 19:12] brian-brazil commented on #8001
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-10-01 19:12] #8001 closed

[2020-10-01 19:16] ldemailly commented on #8001
example of effect:
"1 min"
<img width="988" alt="Screen Shot 2020-10-01 at 10 23 51 AM" src="https://user-images.githubusercontent.com/3664595/94852161-4cbcd980-03de-11eb-8bf8-d7bb286d0a2c.png">
"5 min"
<img width="866" alt="Screen Shot 2020-10-01 at 11 46 27 AM" src="https://user-images.githubusercontent.com/3664595/94852235-6bbb6b80-03de-11eb-9200-a9d198b28aec.png">

Query [1m]:
<img width="728"

[2020-10-01 19:23] ldemailly commented on #8001
it wasn't exactly a question but ok, sent it to
https://groups.google.com/g/prometheus-users/c/DV_Jbyh-zTM
as well

(why is [90s] working and [1m] not... how is it the most useful behavior that you go from data to no data on a scraping config interval change without changing anything else, clients or system)

[2020-10-01 22:52] roidelapluie opened #8002 "Eureka SD: Add a Prometheus User-agent on HTTP requests"
## Proposal
**Use case. Why is this important?**

In the service discoveries, we add a User-Agent to identify the prometheus server and its version to the HTTP requests.

We should do the same for the newly added Eureka SD.

Here is an exemple of user agent we use: https://github.com/prometheus/prometheus/blob/50ae4e298bbb7f8628b0ac01cdd5f7d328b46051/discovery/dockerswarm/dockerswarm.go#L38

[2020-10-01 22:57] roidelapluie opened #8003 "Hetzner Robot SD: Use the Prometheus User Agent in HTTP requests"
## Proposal
**Use case. Why is this important?**

In the service discoveries, we add a User-Agent to identify the prometheus server and its version to the HTTP requests.

We should do the same for the newly added Hetzner SD. **Note: only the Hetzner Robot calls role should have the user agent, as the hcloud already has a custom user agent set.**

Here is an exemple of user agent we use: https://gi

[2020-10-02 04:16] meetme2meat commented on #8002
@roidelapluie If this is open I can take this up and https://github.com/prometheus/prometheus/issues/8003 . Also, the test seems to be failing on local master copy

[2020-10-02 08:47] brian-brazil commented on #7957
Basically yes, do the reload after each block compaction.

[2020-10-02 11:20] roidelapluie commented on #8002
Can you reach out to our community: https://prometheus.io/community/ so we can see why that fails for you.

[2020-10-02 14:37] meetme2meat commented on #8002
So can I take these 2 issues?

If yes what I understand from the above description is we need to add a User-Agent Header for Eureka SD and Hetzner Robot SD, right?

[2020-10-02 15:30] roidelapluie commented on #8002
Yes, please comment on the other issue too

[2020-10-02 15:41] davidxianggao opened #8005 "Prometheus 2.19 retention not working"
**What did you do?**
Our Prometheus is running in a pod on a Kubernetes cluster

The current setting of Prometheus is

$ ps auxwww | grep prometheus
    1 nobody   40:40 /bin/prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --storage.tsdb.retention.size=40GB --log.level=info

Each time I just either extend with more disk space or recreate the brand new volume

[2020-10-02 16:57] meetme2meat commented on #8002
@roidelapluie  Thanks

[2020-10-02 17:28] meetme2meat commented on #8003
Will take this up once https://github.com/prometheus/prometheus/issues/8002 get accepted.

[2020-10-02 17:48] ysahil97 commented on #7824
Hi @roidelapluie

I believe this issue would be a good starting point for me in order to get hands-on with Prometheus and open source.
As per my understanding, we need to add a separate publish rule specifically for v2 releases so that the latest v2 release would be fetched from here directly. This should happen on the condition that the semantic version of the latest release should always be grea

[2020-10-02 17:55] SuperQ commented on #7824
It should only require an additional tag during the tagging process. See `common-docker-tag-latest` in the Makefile.common.

[2020-10-02 18:59] adrijshikhar commented on #7763
I would like to work on this issue. I am new to open source world. @beorn7 can you please guide me where and how logging should be implemented?
Thanks

[2020-10-02 19:09] #8002 closed

[2020-10-04 07:08] aryan9600 commented on #7326
Sorry for the inactivity, I have been trying to work on a patch, but can't get a few tests to pass (almost all of them pass), specifically some in `functions.test` and `subquery.test`. I replaced all for loops iterating over the slice, with a for loop which would expand the SeriesSet during eval time, but due to this a few Matrices (and consequently Vectors) are coming up empty, due to this change

[2020-10-04 09:00] brian-brazil commented on #7326
That's a bit weird, can you make a PR so we can have a look?

[2020-10-04 17:12] Harkishen-Singh commented on #8005
Maybe there is some link with this issue as well. https://github.com/prometheus/prometheus/issues/7952

[2020-10-05 03:28] chicknsoup opened #8010 "PromQL regexp takes forever"
**What did you do?**

Upgraded from v2.19 to v2.21

**What did you expect to see?**

[code]

Expected to see some results

**What did you see instead? Under which circumstances?**

Error executing query: Gateway Time-out

**Others**

This query works as expected
[code]

It is possibly related to this https://github.com/prometheus/prometheus/pull/7453 ?

Rolling back to 2.19 resolves the issue

[2020-10-05 08:45] brian-brazil commented on #8010
How long does the working query take, what sort of and how many values does `cmd` have?

@pracucci

[2020-10-05 08:57] chicknsoup commented on #8010
* The working query takes only around `600ms` and on v2.19 the query returns almost instantly even without `instance label`
* cmd is linux process' cmdline
* count(sd_process_cpu_system{instance="10.0.0.2:20100"} returns 50

[2020-10-05 09:30] cben commented on #39
There are two separate reasons this would be nice:

1. It's usually convenient to share horizontal axis — shifting/zooming time range in sync between all plots.

2. Overlaying different data on same plot and same vertical scale is sometimes desirable, sometimes confusing.

(1) is just UX convenience, you can simulate it now by copying same end time and range to all plots. But maybe it'd be accepta

[2020-10-05 11:34] #8003 closed

[2020-10-05 12:12] beorn7 commented on #7763
Logging should just work in the same way as all the other logging. It's all over the code, you can take any as an example to see how it goes. https://github.com/prometheus/prometheus/blob/073e93c76865ff39abccccd392d2111c56a3dc6d/tsdb/head.go#L809 , for example, is the line that has created one of the log entries in the original report above.

The more interesting question is on what condition we w

[2020-10-05 15:34] brian-brazil commented on #7986
We look at this in the bug scrub, and are closing per the above.

[2020-10-05 15:34] #7986 closed

[2020-10-05 15:35] brian-brazil commented on #7990
We looked at this in the bug scrub, and per the above this is not an issue in Prometheus so we're closing it.

[2020-10-05 15:35] #7990 closed

[2020-10-05 15:44] brian-brazil commented on #7992
We look at this in the bug scrub, and this does seem to be the correct and desired behaviour - if a user wants data that originates from another Prometheus via remote read they must explicitly request this to avoid confusion. To me it also sounds like you may wish to reconsider the layout of your external labels.

[2020-10-05 15:45] brian-brazil commented on #7996
We looked at this in the bug scrub, and are closing per the above.

[2020-10-05 15:45] #7996 closed

[2020-10-05 15:47] brian-brazil commented on #7997
We looked at this in the bug scrub, and are closing per the above.

[2020-10-05 15:47] #7997 closed

[2020-10-05 15:49] brian-brazil commented on #8005
@codesome Do you see a potential issue here, or is this just fallout from a disk filling up?

[2020-10-05 17:40] davidxianggao commented on #8005
My case sounds a bit different situation that the tsdb size never goes down, even after a few times of Prometheus restart.

Last week when tsdb size reached close to 50GB of FS size, the retention setting was "--storage.tsdb.retention=336h". I changed it to "--storage.tsdb.retention.time=14d" but the size kept growing after a few restarts.

Then I added "--storage.tsdb.retention.size=45GB" with "-

[2020-10-05 20:59] cstyan commented on #7971
@Pokom I would think so, I haven't done any work with any of the UI pages but it looks like the source is [here](https://github.com/prometheus/prometheus/tree/8c2bc2f57a4e01121dbe0377fbaa7805311afc8e/web/ui/react-app/src/pages), and you'd either just be pulling existing data from remote write or filing issues/opening additional PR's to make unavailable info available to the UI page.

[2020-10-06 10:28] Harkishen-Singh commented on #7230
Will take up this.

[2020-10-06 10:43] brian-brazil commented on #8010
I can't reproduce easily, what is the cardinality of `cmd`? `count (group by (cmd)(sd_process_cpu_system))`

[2020-10-06 12:16] #7994 closed

[2020-10-06 12:17] codesome commented on #7763
I am confused myself as to what we want to log here exactly :)

[2020-10-06 12:36] beorn7 commented on #7763
@codesome: If you don't know, then this might not have an easy solution after all…

You wrote:

I read this as "the head GC could run into a corner where it cannot finish with the given resources". The question is if there is a way to recognize that before simply OOMing and starting over again and again. Or even have a good guess at it based on some heuristics so that you can log something helpful

[2020-10-06 12:40] brian-brazil commented on #7763
The condition is if the GC+compaction takes longer than the minimum block size.

[2020-10-06 12:47] lorenzo-biava opened #8014 "High CPU usage (32 vCPUs) - looks due to targets discovery in K8s"
**What did you do?**

We're monitoring a Kubernetes cluster consisting of about 400 nodes and 4500 pods, leveraging a single Prometheus instance with 32 vCPUs (almost fully utilized, while memory hovers between 40-50Gi). The setup leverages Prometheus Operator and most of the targets come from Service Monitors definitions (shouldn't be too relevant for the issue though).
There are about 130 target

[2020-10-06 12:51] codesome commented on #7763
Now it makes sense to me. I would go with what Brian said and should be simple to check as compaction of Head and its GC happen in a single method `compactHead`. (@adrijshikhar: `head.Truncate` is the Head GC)

[2020-10-06 18:51] piroux opened #8016 "Tracking backfill/bulk-import feature progress"
## Proposal

As a Prometheus user ardently waiting for the backfilling / bulk-importing feature to be available, I try to keep track of the related Issues and PRs. :rocket:

But I think it would be easier to have something to track the different iterations to achieve this feature, in the upstream Github repo. For instance, it could be under a Project, or even a simple Milestone, or even with a sin

[2020-10-06 19:22] cstyan commented on #8016
cc @bwplotka @JessicaGreben @aSquare14

[2020-10-06 21:35] vears91 commented on #7824
Hi! How long until `3.x` is coming along? I'd like to help with this. Would tagging for v2 in `common-docker-tag-latest` when the latest release (as in the `VERSION` file) matches the `DOCKER_IMAGE_TAG` work for this purpose?

[2020-10-06 22:37] siddhant94 commented on #7982
hey @brian-brazil , if this is unassigned, can I raise the PR? And 512 or 1024, what would be the preference? maybe 1024?

[2020-10-06 23:25] brian-brazil commented on #7982
Feel free to raise a PR, let's go with say 512 for now.

[2020-10-07 01:41] siddhant94 commented on #7982
Here's the linked PR - #8017

[2020-10-07 02:33] chicknsoup commented on #8010
`count (group by (cmd)(sd_process_cpu_system))` returns 8701, is it too high?

Btw, after some new targets added, the same issue appears on the node with version 2.19. So this is not related to https://github.com/prometheus/prometheus/pull/7453. It seems that some generated `cmd` labels are causing bad regexp performance. Could be the size of the label?

[2020-10-07 08:41] roidelapluie opened #8018 "Promtool query should print error messages from upstream server"
## Proposal
**Use case. Why is this important?**

I was running `promtool query instant https://admin:$pw@cortex.inuits.eu/prometheus up` and got an error:

`query error: client_error: client error: 401`

It would have helped me if I would have got the error:

```no org id``` (which in this case is sent by cortex)

[code]

printed in the console too.

[2020-10-07 08:56] brian-brazil commented on #8010
9k isn't high, however given the name of the label I guess that you have really long label values. The limit on the commandline is 2MB on my machine, but I still can't see going through 18GB of text taking 2 minutes.

[2020-10-07 09:30] ivannpaz opened #8019 "Promtool promql unittests get slower the more there are of them"
## Proposal: Parallel test execution

**Total tests in suite increase testing time almost exponentially**

We are sitting at around 130 tests right now, and tests take 21 mins on our CI/CD pipeline (10 mins on my 8 core local machine)..

By adding a `--workers` or similar setting to `promtool test rules file.json` this could be reduced by a big margin.

Would this be suitable/possible to incorpora

[2020-10-07 09:38] brian-brazil commented on #8019
Unittest execution time should be measured in seconds, not minutes. For example the fairly exhaustive tests for PromQL itself take less than 10s.

It sounds like you've created some very expensive tests with far more data than is needed to test that your rules are working correctly, I'd suggest trimming them down.

[2020-10-07 10:16] hdost commented on #5862
So essentially at this point we just want to make sure we don't compact chunks such that they end up over 120 samples :heavy_check_mark:

[2020-10-07 10:22] ivannpaz commented on #8019
@brian-brazil Your comment sent me on the right direction for further research. However (and please excuse if this is not the place to ask) I'd like to understand why the following occurs:

**Some context:**

We have rules and tests grouped by "domains", written in jsonnet, which we compile together first:
[code]
And then we run the tests:
[code]
We found one specific test set, that if we remove f

[2020-10-07 10:57] brian-brazil commented on #8019
I'd have to see the actual tests, but I'm guessing that you're loading in all the data only once and then doing the testing. Each test suit should have its own input data.

For the rare case of a test that needs a day of data, make sure it's only got exactly the data it needs as those tend to be more expensive.

Splitting out your rule groups and thus tests as they're actually split in production

[2020-10-07 11:14] ivannpaz commented on #8019
For reference, one of the particular slow tests looks like this:
[code]
While the rule itself looks like:
[code]
On a side note, I will try spliting tests as you suggest as well.

[2020-10-07 11:48] brian-brazil commented on #8019
That only has 25 samples, it should be really fast to test. How long does it take to run on its own?

That's how it works. If you've tests using the same inputs it's fine to put them in the same set however, re-ingesting lots of data isn't free.

[2020-10-07 11:59] ivannpaz commented on #8019
That one alone on its own, 18s. The problem is when we have them all together...

I don't think we share input data from one alert_rule_set to the other, but perhaps that reingestion is killing us anyhow.

I will try spliting all test groups and run them on their own...

[2020-10-07 12:28] brian-brazil commented on #8019
That doesn't sound right at all, it should be measured in milliseconds.

[2020-10-07 12:38] ivannpaz commented on #8019
You are totally right. I ran that sole test, but again the full `rules.json` file. I now deactivated everything but that alert rule and that specific test and timing is `0.54s`

[2020-10-07 12:41] brian-brazil commented on #8019
That sounds more reasonable

[2020-10-07 12:50] ivannpaz commented on #8019
We have around 112 alerts, distributed in 20 groups. Dind't think that'd be too much.

What still throws me off, is that a certain group, if used in isolation, doesn't take much.
If the rest of the groups are tested at once, without the specific "expensive" one, it doesn't take much time either...
But when the specific one, and the rest, are tested at once... boom... 😢

[2020-10-07 12:52] brian-brazil commented on #8019
Hmm, sounds like we might not be cleaning up between tests properly.

[2020-10-07 16:01] ivannpaz commented on #8019
![image](https://user-images.githubusercontent.com/16879/95356084-9322a480-08c6-11eb-8cf7-25342eaca3a9.png)

Well, managed to bring tests to a total run time of  ~118s. Changed the pipeline to run `promtool test rules tests.json`, where `tests.json` is a rendered version of each `jsonnet` collector we have for each domain's tests. It's not pretty, but at least is 6X faster.

What should I do with

[2020-10-07 16:07] brian-brazil commented on #8019
Yeah, splitting up tests ascross different promtool invocations should only ever be (slightly) slower due to the overheads of starting up new processes so something is wrong here. This will need further investigation.

[2020-10-07 17:04] bradwood commented on #8005
I'm seeing this exact issue with 2.20.0 also. It seems as if retention is just completely ignored.

[2020-10-07 19:37] Harkishen-Singh commented on #8018
Will take this up.

[2020-10-07 23:13] #7982 closed

[2020-10-08 02:46] chicknsoup commented on #8010
You're right, I can see values with over 15k characters. Is there any way to improve the perf or I have to limit the length of label values to below 1k?

[2020-10-08 07:33] codesome opened #8028 "Close opened resources on TSDB startup error"
When there is an error on startup of TSDB, we don't close the open resources (files, especially m-mapped files). When TSDB is used externally, the resources stay open and can cause mmap explosion (see [cortex#3282](https://github.com/cortexproject/cortex/issues/3282)).

We should be gracefully closing the Head and open blocks on startup errors.

For anyone looking to tackle this: the fix would go

[2020-10-08 07:41] lorenzo-biava commented on #8014
Removing a few jobs that weren't scraping any targets (~20) did actually reduce the CPU load significantly (~3 vCPU)
![image](https://user-images.githubusercontent.com/5684713/95429284-75971e80-094a-11eb-9edb-3f97a85afd9a.png)

[2020-10-08 07:55] roidelapluie commented on #8014
Can we have the startup logs?

[2020-10-08 08:18] lorenzo-biava commented on #8014
Here's the log from the past few days, including startup (I'm seeing a lot of K8s API errors, which I believe are related to transient instability of that managed cluster).
[prod1c-prom-logs.zip](https://github.com/prometheus/prometheus/files/5346281/prod1c-prom-logs.zip)

This is a fresh start with debug level.
[prod1c-prom-logs-debug.zip](https://github.com/prometheus/prometheus/files/5346272/pr

[2020-10-08 08:33] roidelapluie commented on #8014
You are opening 28 different kubernetes connections. You could try to reuse the exact same service discoveries config and apply relabling per job to select which targets to monitor.

cat prod1c-prom-logs-debug.txt |grep subs |grep kuber -c
28

[2020-10-08 08:37] roidelapluie commented on #8014
Thanks for the logs anyway, I will try to have a look at the code as well.

[2020-10-08 09:28] lorenzo-biava commented on #8014
@roidelapluie thanks for the suggestion; can you point me to an example of such config? I then need to check if that's possible via PromOp ServiceMonitors or something similar...
I know the overall config could be way more efficient, though we're offering the Prometheus environment to multiple teams, each of which should be able to deploy the configuration needed.

[2020-10-08 09:39] roidelapluie commented on #7846
Encouraging results in prod too

![blocks](https://user-images.githubusercontent.com/291750/95441770-d4fd2a80-095a-11eb-8fa5-320b9549a2e5.png)

[2020-10-08 09:58] roidelapluie commented on #8010
It seems an issue within the exporter, which should crop those labels, or not expose them. We know that behind the scenes fuzzing Prometheus with long regexes is really slow.

[2020-10-08 10:04] roidelapluie opened #8030 "Display warning in the react UI"
## Proposal
**Use case. Why is this important?**

The Classic UI displays PromQL warning when running a query:

![class](https://user-images.githubusercontent.com/291750/95444710-66ba6700-095e-11eb-8ace-e922e335f84a.png)

We could have the same in the new UI:

![new](https://user-images.githubusercontent.com/291750/95444733-6ae68480-095e-11eb-938f-4e3d0cde88e1.png)

Prometheus.yml to reproduce:

[

[2020-10-08 10:16] brian-brazil commented on #8014
Basically if the bit under `kubernetes_sd_configs:` is identical then we'll only instantiate one k8s discovery.

[2020-10-08 10:49] lorenzo-biava commented on #8014
So basically I need to get rid of the namespace in the `kubernetes_sd_configs` and add a `relabel_configs` to filter the namespace.

I believe that's not (currently) possible with ServiceMonitors, not even with a more general `matchExpressions` (which is limited to the Service's label:
https://github.com/prometheus-operator/prometheus-operator/blob/v0.42.1/pkg/prometheus/promcfg.go#L911).

I'll as

[2020-10-08 10:56] brian-brazil commented on #8014
What's more efficient would depend on how many namespaces there are, and what proportion of them that this Prometheus is interested in. I'd expect specifying a namespace to always be more efficient though, so if this is the issue this smells like a performance issue in the k8s client code somewhere as the namespace filtering isn't happening properly on the server side.

[2020-10-08 11:24] codesome commented on #8016
I don't think #6282 is related

[2020-10-08 13:31] djsly commented on #8014
@brian-brazil  we have

[code]

and

[code]

[2020-10-08 15:10] Yash-Handa commented on #6222
Hi, @aditya-konarde
If no one is working on this issue I would love to work on it.
I am new to Prometheus eco-system, can you please guide me where to start : )

[2020-10-08 15:26] Harkishen-Singh commented on #6222
We have a PR open for this. If the author confirms that he does not have the bandwidth to do, you can work on this in that case.

[2020-10-08 15:29] roidelapluie opened #8032 "Proposal: Force the alignment of the scrape timestamps"
## Proposal

Prometheus' TSDB relies on timestamps to b equally distant for double delta compression.

We have introduced in Prometheus 2.22 a mechanism to align the timestamps due to a regression in golang that made the alignment unreliable.

Now, as this appears to be a big win in the block size with unaligned timestamps; +50% size was noticed in my production environment.

Now, we need to decid

[2020-10-08 15:54] beorn7 commented on #8032
To provide more context and thoughts (outside of the context of the Go bug and of the huge amount of text we collectively had to produce to decide if there should be an off-switch for a work-around to mitigate a Go regression):

I have seen identically configured servers with identical workload (in HA pairs) that produced significantly different TSDB sizes. My assumption was that one of the server

[2020-10-08 16:11] brian-brazil commented on #8032
I've too noticed this, and that was also my hypothesis - though also that the values mightn't compress as well either. For example a perfectly linearly increasing counter wouldn't have an identical increase from scrape to scrape anymore.

I agree, that's far from optimal.

That's true, however I wonder what the overall impact would be across an entire target. Not everything will be constant or con

[2020-10-08 19:23] beorn7 commented on #8032
Not rely on, of course, but with the adjustment feature in place, it is likely enough to happen that we can treat it as a special case during encoding (i.e. if there are irregularities, encode the timestamps as we do it now; if not, compress them into (almost) nothingness).

I guess (but it's only a guess at this point) that we spend quite a bit of time in the whole picking the right bits from the

[2020-10-09 07:27] codesome opened #8034 "Log when Head compaction results in an empty block"
We already do it when compacting multiple blocks
https://github.com/prometheus/prometheus/blob/3240cf83f08e448e0b96a4a1f96c0e8b2d51cf61/tsdb/compact.go#L433-L438

Compaction of Head block resulting in an empty blocks goes unnoticed currently. We should log that too.

For contributors, the log should go just before this return
https://github.com/prometheus/prometheus/blob/3240cf83f08e448e0b96a4a1f9

[2020-10-09 08:42] brian-brazil commented on #8034
Might this result in even more logspam when a Prometheus that hasn't run in a while is started back up?

[2020-10-09 09:10] Harkishen-Singh commented on #7230
@csmarchbanks @cstyan

How about creating new shards with the at the time of stopping the shards and let the incoming samples go in new shards while we wait in parallel for the old shards to get empty? And then eventually replace the old shards with the created shards that now already contain the samples (and possibly already sending to remote storage).

Also, Instead of dropping the samples durin

[2020-10-09 09:59] chicknsoup commented on #8010
Okay, I guess I have to trim down the length of the label values. We can close this issue.

[2020-10-09 09:59] #8010 closed

[2020-10-09 11:34] AllenzhLi opened #8035 "Prometheus crash when boot with a empty checkpoint dir"
**What did you do?**
bootstrap cortex 1.4

**What did you expect to see?**
running

**What did you see instead? Under which circumstances?**
[code]

**Environment**

	cortex 1.4

* System information:

	Darwin 19.6.0 x86_64

* Prometheus version:

	prometheus 2.20

[2020-10-09 11:41] roidelapluie commented on #8035
This should no longer happen with Prometheus 2.22. You will need to remove that empty dir manually.

Duplicate of https://github.com/prometheus/prometheus/issues/6976

[2020-10-09 11:41] #8035 closed

[2020-10-09 11:49] Harkishen-Singh commented on #8018
@roidelapluie do you have any endpoint which I can use? My test environment is not giving errors according to whats required here.

[2020-10-09 12:14] roidelapluie commented on #8018
Just do the query against https://prometheus.io

[2020-10-09 13:32] Harkishen-Singh commented on #8018
@roidelapluie could you give an example? That would be helpful.

[2020-10-09 19:47] csmarchbanks commented on #7230
Thanks for taking this up!

I don't think the new shards would be able to send anything until the old shards are shutdown. Sending from a new shard could cause out of order samples for a given series. For that reason, I don't think this will help all that much since the main throughput issues come from shards taking different amounts of time to complete; causing time where many of the shards are d

[2020-10-09 19:57] Harkishen-Singh commented on #7230
Why is that so? The newshards upon receiving incoming samples will take npending above one and that will trigger sendSamples by the timer.

 Do the remote storage expects us to send serially only?

Yes, if after stop, we first reappend the npending samples in the queues (which should be pretty quick) and then allow the incoming samples to get appended.

The newShards will be started as soon as the

[2020-10-09 20:15] cstyan commented on #7230
Yes, timestamps for a series must be received in increasing order. At least remote storage implementations I'm familiar with.

Yes, you just need a way to ensure all samples you take from existing shards are then appended in timestamp order.

[2020-10-09 20:27] Harkishen-Singh commented on #7230
@cstyan @csmarchbanks does the previous comment look satisfactory to begin the implementation?

[2020-10-09 20:53] csmarchbanks commented on #7230
Yep, I think the approach to reappend npending samples is reasonable to start an implementation!

[2020-10-10 02:10] frbimo commented on #8034
can i take this?

[2020-10-10 03:51] AllenzhLi opened #8038 "inhibit not work when two related alert first arrived at same time"
**What did you do?**

test inhibit rules

**What did you expect to see?**

severity 1 inhibit severity 4

**What did you see instead? Under which circumstances?**

I receive two alert which contains severity 1 and severity4

**Environment**

cortex 1.4

* System information:

	Darwin 19.6.0 x86_64

* Prometheus version:

	prometheus 2.20

* Alertmanager version:

	master branch

[2020-10-10 06:07] lcfang commented on #7090
Hi,@roidelapluie Is longhorn a supported filesystem?

[2020-10-10 07:16] brian-brazil commented on #8038
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-10-10 07:16] #8038 closed

[2020-10-10 12:33] roidelapluie commented on #7846
Closed by #7973

Followup discussions on the bugfix itself #8032

[2020-10-10 12:33] #7846 closed

[2020-10-10 19:30] roidelapluie commented on #8032
I think it is worth getting downstream involved too, especially the downstreams who compact vertically HA pairs of prometheus:
They have then 2 lines of equally distanced timestamps, which when merged are not compressed anymore.

Prom1 : T=1 T=31 T=61
Prom2 : T=5 T=35 T=65

Vertical compaction: T=1 T=5 T=31 T=35 T=61 T=65

Do those downstreams work like that?

[2020-10-10 21:22] brian-brazil commented on #8032
They shouldn't, as that's quite unsafe. For example counters could be seen to go backwards due to races.

[2020-10-11 14:40] sergey-onanchenko opened #8040 "character class regex behaviour changed"
Dear Colleagues,

**What did you do?**

Found changed behavious of character class ( [xyz] ) in new versions.

prometheus 2.16.0:
node_load15{Type=~"[Cc]ouchbase.*"} - works fine

prometheus 2.20.1:
node_load15{Type=~"[Cc]ouchbase.*"} - doesn't work
but found that another syntax works: node_load15{Type=~"[C,c]ouchbase.*"}

**What did you expect to see?**
Expect same behaviour as should be accordin

[2020-10-11 20:21] keremgocen commented on #7887
this one still needs a PR? I'm looking for something to work on..

[2020-10-11 20:30] colltoaction commented on #7887
From what I understand, unit tests and documentation would make a great
contribution.

On Sun, Oct 11, 2020, 17:21 kerem <notifications@github.com> wrote:

[2020-10-12 06:15] lddlww opened #8041 "does prometheus provide limit func for return samples？"
like：limit(10,sort(vector))

[2020-10-12 07:26] brian-brazil commented on #8041
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2020-10-12 07:26] #8041 closed

[2020-10-12 08:05] brian-brazil commented on #8040
Thanks for the report, this was fixed in https://github.com/prometheus/prometheus/pull/8013 which will be in the next release. It looks like that character class was being converted to a case insensitive match under the covers.

[2020-10-12 08:05] #8040 closed

[2020-10-12 09:51] codesome commented on #8034
Yes, but it is better than no logs. Faced this first hand, without the logs we were not able to figure out what was happening and why was checkpointing happening so often with no indication of any compaction.

[2020-10-12 11:51] omegas27 opened #8043 "Support json marshalling for structs"
## Proposal
**Use case. Why is this important?**

Multiple Yaml marshalling library started to use json tags as the main source for marshalling to yaml which means we need to use specific yaml marshalling libraries as the main marshalling format for prometheus structs.

For more context, see http://web.archive.org/web/20190603050330/http://ghodss.com/2014/the-right-way-to-handle-yaml-in-golang/

[2020-10-12 11:58] brian-brazil commented on #8043
Can you explain more what the feature is that you wish to add to the Prometheus binary?

The code in this repo is internal, and as far as I'm aware we already have appropriate json tags where we are using JSON.

[2020-10-12 12:03] beorn7 commented on #8032
Yeah, definitely don't merge the timeseries from HA pairs together. You either keep them separate by a label, or you pick one (Cortex has a setup to pick one server from an HA pair and switch to the other, should the picked one die).

[2020-10-12 12:06] omegas27 commented on #8043
I am in need of serializing the structs in https://github.com/prometheus/prometheus/tree/master/discovery and those do not really seem internal as they are in use in multiple projects like prometheus-operator or promxy.

My use case is that I need to be able to marshal and unmarshal kubernetes_sd_configs as I need to generate scrape configs whenever we create a new cluster in my operator but our y