[2019-02-08 15:39] #5194 closed

[2019-02-08 16:03] krasi-georgiev commented on #3283
nothing yet, still waiting for @nipuntalukdar to find the time and tackle this in https://github.com/prometheus/prometheus/issues/3283 otherwise I might give it a try after clearing some other pending PRs.
Any help as always is appreciated.

[2019-02-08 16:56] simonpasquier commented on #5195
Thanks for reporting it, I've stumbled upon the same issue while investigating https://github.com/prometheus/prometheus/issues/5193 too :smile:
AFAICT both issues can be fixed in the same row.

[2019-02-08 19:18] brian-brazil commented on #5193
That would break rules that depended on previous results in the group.

On Fri 8 Feb 2019, 15:34 Simon Pasquier <notifications@github.com wrote:

[2019-02-08 19:44] minhlongdo commented on #740
Hi, is anyone working on this?
I would like to give it a go.

[2019-02-08 19:59] juliusv commented on #740
@minhlongdo You're more than welcome to pick it up!

[2019-02-08 22:17] wraithfive opened #5196 "Getting error "expected label name, got \"BCLOSE\"""
## Bug Report
I have a spring application that exposes metrics via micrometer. After upgrading to Prometheus 2.7.1 (from a 2.6.x release) when scrapping that application I now get the error "expected label name, got "BCLOSE""

**Environment**

* System information:

	Linux 3.10.0-957.1.3.el7.x86_64 x86_64

* Prometheus version:

	prometheus, version 2.7.1 (branch: HEAD, revision: 62e591f928ddf6b34

[2019-02-08 22:26] wraithfive commented on #5196
Here is a sample of the metrics being scraped.
[metrics.txt](https://github.com/prometheus/prometheus/files/2847101/metrics.txt)

[2019-02-08 22:29] roidelapluie commented on #4862
actually I would like to see more metrics related to scrape in general, e.g. return code.. it would be metrics like "up"

[2019-02-09 02:12] dbrinegar commented on #5193
Another thought is special case handling on config reload. Keeping manager logic as is, but when config reloads then dump the rule caches:  write them all as stale at the time of config reload, empty the previous-seen caches, then on next eval loop everything carries on from scratch with abandoned time series marked stale and resumed time series carrying on after the NaN.

[2019-02-09 05:25] jacksontj commented on #3480
At this point I'm more confused. Initially the answer was that this wasn't wanted because it was a large API change, now it seems that we are okay since this is an internal API. In addition I'm a bit confused by this:

Why do we want to avoid adding context? Is there some reason besides the change? I'm not aware of any security or performance considerations that would make this something we don't

[2019-02-09 08:25] brian-brazil commented on #4862
That's getting a bit into event logging. Keep in mind that any new time
series will be added to every single target that exists, which is not free.

On Fri 8 Feb 2019, 23:30 Julien Pivotto <notifications@github.com wrote:

[2019-02-09 09:17] #4608 closed

[2019-02-09 10:03] krasi-georgiev commented on #3480
what do you mean by "an internal API"?

The main reason I am against it is that once it is in it will spread like virus :smile:
If one API starts taking context soon enough we would add it to most if not all.
https://faiface.github.io/post/context-should-go-away-go2/

And again if unavoidable it will be added, but so far it looks like the optimisations are the right decision.

All I am saying is t

[2019-02-09 10:08] krasi-georgiev commented on #3480
all that said here is a [PR](https://github.com/prometheus/tsdb/pull/465) I have been working on that adds a context for cancelling  long running compaction.
Don't think that this is a problem that can't be solved any other way so adding a context is unavoidable.

[2019-02-10 11:31] amnonh opened #5200 "relabeling ignores __name__ when replacing __address__"
## Bug Report
**What did you do?**
I'm using my server ip address configuration for node_exporter.
To be able to support both node_exporter 0.14 and node_exporter 0.17 I'm renaming the metrics to 0.14.
[code]

**What did you expect to see?**
both address and names will be replaced.

**What did you see instead? Under which circumstances?**
Unfortunately, the names were not replaced, but the address

[2019-02-10 16:36] codesome commented on #5196
Looking at this unit test here
https://github.com/prometheus/prometheus/blob/4cb6c202ffe8b9f07f22c58c370206080c9d5259/pkg/textparse/openmetricsparse_test.go#L333-L336
I suspect it is causing because of `,}` at the end of your metrics, i.e. the content type of the target is `"application/openmetrics-text"`, but the metrics don't comply with it.

Can you let us know that is the content/media type of

[2019-02-10 23:19] nickbp commented on #4736
Hi, I've been debugging a couple prometheus instances that were failing to fetch pods today, and stumbled across this bug. In my case I have a total of three prometheus instances in different namespaces on the same k8s cluster. Two of the instances are stuck while the third is looking fine. All instances seem totally responsive when accessing the prometheus frontend site, etc, the only real sympto

[2019-02-11 09:40] simonpasquier commented on #5200
This is expected, `relabel_configs` applies to the label set of a target before it gets scraped so `__name__` isn't known yet. You need to use `metric_relabel_configs` indeed.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-02-11 09:40] #5200 closed

[2019-02-11 11:40] brian-brazil commented on #5193
I don't see why we'd write things as stale, we generally want to avoid any changes when there's a reload and the rules remain the same.

[2019-02-11 12:17] deepti-cloudibility commented on #2606
Hi how did you changed the port from 10250 to 10255, since for me its not working on 10255 but when I'm curlig on ip:10250 it gives me output.

[2019-02-11 12:30] wleese opened #5202 "Panic after upgrade 2.4.3 to 2.7.1"
When upgrading Prometheus from 2.4.3 to 2.7.1

[code]

Related to https://github.com/prometheus/prometheus/issues/5172 ?

[2019-02-11 13:35] simonpasquier commented on #5202
Yes it looks the same problem as #5172... Would you mind closing this one?

[2019-02-11 16:13] wraithfive commented on #5196
Content-Type is text/plain;charset=ISO-8859-1

I also suspected the `,}` at the end of the metrics but that's coming from simple client and has been for some time. I found several bug reports about it on that project including a PR to make it no longer end labels with the extra comma but they were all closed as "prometheus spec allows it".

[2019-02-11 16:23] brian-brazil commented on #5196
That charset isn't right, it should be utf-8, but I don't see any non-ASCII characters.

[2019-02-11 16:36] wraithfive commented on #5196
I think my content type is wrong still actually. I just realized the content type is dictated by the requests accept header. I wasn't sending that when testing with postman to get the metrics so I get text/plain. (Not sure about the charset. I'll have to investigate that separately in my app.)

If I set the request to header to `Accept: application/openmetrics-text` then that is what I get for con

[2019-02-11 16:59] wraithfive commented on #5196
That seems to be the issue. The "Accept" header in the scrape request from Prometheus is `application/openmetrics-text; version=0.0.1,text/plain;version=0.0.4;q=0.5,*/*;q=0.1`.

Looking at the following in prometheus code:

https://github.com/prometheus/prometheus/blob/4cb6c202ffe8b9f07f22c58c370206080c9d5259/scrape/scrape.go#L452-L454

It seems that prometheus is always going to request `applicat

[2019-02-11 17:06] brian-brazil commented on #5196
The simpleclient only produces Prometheus textformat, and sets the Content-Type accordingly. This sounds like a bug in you http handling.

[2019-02-11 17:13] wraithfive commented on #5196
You could be right. This is an inherited Spring MVC project that hadn't been updated for years when I took over. I've been slowing bringing it to the modern world and it may be that some of the annotations need to be updated to produce correct Content-Types. The behavior of the current annotation seems to be always as I described, set the Content-Type based on the "Accept" header. But there may be

[2019-02-11 17:17] brian-brazil commented on #5196
We're sending appropriate headers, I don't think we should be adding configuration options for broken http servers.

[2019-02-11 17:27] wraithfive commented on #5196
Are you really sending appropriate headers though if you specify you only accept "openmetrics-text" but you also accept "text/plain" (or whatever the Content-Type of prometheus format metrics is)? Seems you should send the accept header for the context type expected.

Even stipulating that my http handling is not correct it seems it would also be incorrect for simple client to receive a request fo

[2019-02-11 17:30] brian-brazil commented on #5196
We accept both and that's what our Accept header says. The problem is that your response has mismatched content and Content-Type.

[2019-02-11 17:35] wraithfive commented on #5196
Ah yes! Sorry, I was missing that you specified both types in the Accept header!

I have tested using the exact accept header you supply and have managed to change my app to supply the correct Content-Type. Prometheus is scraping it now.

[2019-02-11 17:35] #5196 closed

[2019-02-11 18:12] vhosakot commented on #1654
I saw the same error when using mysql client in golang:

[code]

and setting `InsecureSkipVerify` to `true` (to skip verification of certificate) resolved it for me:

https://godoc.org/crypto/tls#Config

[2019-02-11 18:22] brancz opened #5869 "tsdb: fsync only called on segment closing"
I was reading the ingestion path of tsdb and was talking to @gouthamve as I think `fsync` is only called on [closing a segment](https://github.com/prometheus/tsdb/blob/0b72f9af4c7a7953f89c993e69bbf81b12af49c3/wal/wal.go#L605) (which happens on shutdown) or when [rotating to a new segment](https://github.com/prometheus/tsdb/blob/0b72f9af4c7a7953f89c993e69bbf81b12af49c3/wal/wal.go#L390) (which happe

[2019-02-11 18:38] dbrinegar commented on #5193
Yes that's a bit of a brute force approach with blind writes. Perhaps we could make the config reload handler idea more nuanced and try to remap old rule cache to new rules, so where a rule has simply moved in the list it will carry on with the previous rule's cache.

Then old rules that were deleted or changed would be left over after the remap, and those caches would be candidates to mark stale.

[2019-02-11 18:42] brian-brazil commented on #5193
That sounds kinda like what we do for scrapes, so a similar approach could work. I wouldn't worry about supporting reorders much, they should be rare.

[2019-02-11 23:22] #4599 closed

[2019-02-12 05:40] souvikdas95 commented on #4561
I'd like to know what is the default scrape_interval for targets discovered via SD? Is that the global scrape_interval or the one mentioned inside the SD job? eg. If kubernetes_sd_config is used for scraping over pods with a scrape_interval of 30s and a global of 15s, what will the independent pods inherit as their scrape_interval?

[2019-02-12 08:10] michael-doubez commented on #5125
It seems that sometimes it works and sometime it doesn't.  💀
I think it is rather related to some slowness.

Looking into the grafana dashboard, I see bumps in fds_count (x2)  and query duration (x500).
But it may be due to the reload.

I close the issue since it is not related to the wildcards.

[2019-02-12 08:10] #5125 closed

[2019-02-12 08:47] pdambrauskas commented on #1766
Why continue supporting other SDs then?
Maybe it would be possible to have some kind of plugin system for that? Generating configuration files is not that comfortable. I do understand, that maintenance of all different kinds of SDs is not your focus, but maybe it would make sense to deprecate all custom SDs, and have some kind of entry point for pluggable integration. Something like Apache Kafka h

[2019-02-12 08:50] #5135 closed

[2019-02-12 08:57] SuperQ commented on #1766
I highly disagree with this all or nothing approach and the indefinite moratorium on features/improvements to one of our core features.

I think we should accept an implementation of swarm SD as long as it's reasonably well done.

[2019-02-12 09:07] pdambrauskas commented on #1766
It is not like "all or nothing", I see it more like responsibility split, you can keep existing integrations in default bundle of prometheus, but make it possible to add other integrations as plugins (Like I mentioned in kafka's case you just add your implementation to classpath and set config `value-serializer: com.github.YourImplementation`)

[2019-02-12 09:15] joonas-fi commented on #1766
I think the file-based approach suffers from the fact that you need to have the SD agent write files in the same container as Prometheus is in. Problems:

- You either have to build the custom SD on top of Prometheus' Docker image (which is what my first POC of promswarmconnect did), which forces the SD project to release their image for every Prometheus' release
- Or you have to schedule the SD c

[2019-02-12 09:32] yaminisridaran opened #5204 "rate function returns zero"
Prometheus was returning proper value for rate function  but suddenly rate function is returning zero

[2019-02-12 09:38] #5204 closed

[2019-02-12 09:42] SuperQ commented on #1766
There was talk a while back about a "standard discovery API" within the CNCF. AFAIK this work is stalled.

Having file_sd_configs support URLs is something I've proposed several times.

[2019-02-12 14:34] arielb135 opened #5205 "Prometheus hangs and crashes - without any error"
## Bug Report
**What did you do?**
Started prometheus on a dockerized EKS environment

**What did you expect to see?**
Prometheus working

**What did you see instead? Under which circumstances?**
After a while, the prometheus stopped responding, the readiness probe gives 503.

**Environment**
EKS 1.10 environment, m5.large linux EKS optimized machines.

* System information:

	Linux 4.14.72-73.55.

[2019-02-12 17:19] simonpasquier commented on #5205
Can you try again with the latest version (v2.7.1)? #4526 might help here.

[2019-02-13 07:51] aixeshunter opened #5208 "how prometheus Metric to text"
Hi, I want to output the metrics from file not http in telegraf, but I have no idea how to convert the data.

I get the metric with type `prometheus.Metric`, how convert to byte/string?
[code]
I find the `func MetricFamilyToText(out io.Writer, in *dto.MetricFamily) (written int, err error) ` in `prometheus/common/expfmt/text_create.go`, but how it works?

[2019-02-13 08:55] brian-brazil commented on #5208
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-02-13 08:55] #5208 closed

[2019-02-13 09:46] 595979101 opened #5209 "update the latest version"
If I only have one service, how do I update the latest version, how do I save the history data.Can you give me a detailed document?I didn't find it at https://prometheus.io.Thank you for your help

[2019-02-13 09:50] brian-brazil commented on #5209
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-02-13 09:50] #5209 closed

[2019-02-13 10:28] simonpasquier commented on #1766
@pdambrauskas unfortunately there is no practical option in Go otherwise I guess that pluggable SD would have been done a long time ago...

[2019-02-13 10:33] simonpasquier commented on #4561
@souvikdas95 Prometheus uses `scrape_interval` from the scrape configuration, if this is undefined then it uses the `scrape_interval` value from global.

[2019-02-13 10:34] simonpasquier commented on #5125
Thanks for the follow-up @michael-doubez!

[2019-02-13 11:21] drewboswell opened #5210 "password_file ignored in kubernetes_sd_configs"
## Bug Report
**What did you do?**
Attempted to use password_file in stead of plaintext password in kubernetes_sd_configs

**What did you expect to see?**
Authorized http calls

**What did you see instead? Under which circumstances?**
Unauthorized/401 codes thrown in response

In kubernetes_sd_configs only:
* if I use password, authorized, it works
* if I use password_file, unauthorized, it doesn'

[2019-02-13 12:58] simonpasquier commented on #5210
Indeed... I've tested #5211 quickly and it seems to be ok but it would good if you could test it too.

[2019-02-13 13:24] #5172 closed

[2019-02-13 14:39] genofire opened #5212 "service discovery by exec"
## Proposal
It would be nice that prometheus runs itself an application and use the output from stdout.
Instead of running a cronjob or something else to write contains files and fetch them again by custom service discovery like on `file_sd_config`.

### Idea of configuration
It could be very similar to: https://prometheus.io/docs/prometheus/latest/configuration/configuration/#file_sd_config
[code

[2019-02-13 16:44] TimSimmons opened #5213 "storage.tsdb.retention.size not being respected >15d"
**What did you do?**

Started an existing Prometheus instance (previously with 15d retention on v2.3.1 with `--storage.tsdb.retention.time=15d`) on v2.7.1 with `--storage.tsdb.retention.size 473436089549B`

**What did you expect to see?**

Retention slowly creep upwards until it used that many bytes of disk.

**What did you see instead? Under which circumstances?**

Retention inched up past 15d an

[2019-02-13 16:47] gouthamve commented on #5213
Ah, you need to set `time` retention also. By not setting the flag, it is set to `15d` and we respect that value too. I thought I made it clear in the docs. Will make it clear.

And, thanks for this super clear bug report!

[2019-02-13 16:47] drewboswell commented on #5210
Wow that was fast, yes I just checkout out your pull request built it and it works like a charm. It also throws the usual errors if the file doesn't exist etc.

Thanks a bunch!

[2019-02-13 16:59] TimSimmons commented on #5213
oooooooooooooh I see. So to be clear, I should set the retention time to some amount, but if I were going to use more storage than the retention size, it would respect the retention size rather than retention time. But I'd imagine retention time still informs the size of the blocks, so I should endeavor to set that somewhat correctly?

[2019-02-13 17:03] gouthamve commented on #5213
Yes, we check both size and time and if we cross either, we start deleting data. We have limits on the block sizes now. It should be safe to set retention to 100years :)

[2019-02-13 17:04] TimSimmons commented on #5213
awesome, I probably will do that, some of these servers when I did the query above were looking at ~15 days others like 10 years, not sure how that will actually work in practice but I'm excited to try :)

[2019-02-13 20:00] hoffie commented on #5173
I am seeing this as well and I think I have come up with a self-contained reproducer.

I think this boils down to a change in performance characteristics regarding label matchers.
- The example below uses a regexp which matches all non-empty strings (`=~".+"`). This shows the problem.
- `!=""`  matchers show it as well.
- regexp matchers with static parts such as "1.+" don't show the problem

I ha

[2019-02-14 08:05] krasi-georgiev commented on #5213
@TimSimmons 	just submitted a PR that removes the confusion and the default time retention will be used only when both (time/size) flags are not set.

[2019-02-14 10:37] brian-brazil commented on #5173
It's almost certainly https://github.com/prometheus/tsdb/commit/296f943ec4aad56409f35e3916ceabf9f8c0b61c, however I can't reproduce with a micro-benchmark so something bigger is going on.

[2019-02-14 10:49] brian-brazil commented on #5173
Okay, have it on the micro-benchmark now. Had missed a for loop.

[2019-02-14 11:04] krasi-georgiev opened #5217 "Test_readCheckpointis is flaky"
https://travis-ci.org/prometheus/prometheus/builds/493119053?utm_source=github_status&utm_medium=notification

it happened few times locally as well.

cc @cstyan . @tomwilkie

[2019-02-14 12:29] hectorhuertas commented on #4609
We are seeing the same issue in 2.7.1. We got two prometheus replicas in kubernetes with the same configuration and around 1M series. Replica 1 using around 8Gi, and replica 2 getting killed by kube when reaching it's 20Gi limit. 2 hours after raising the limit and letting it start, memory is down to 10 Gi.

[2019-02-14 13:50] #5205 closed

[2019-02-14 13:56] bla-bu opened #5218 "delta function doing full vector scan"
## Bug Report
**What did you do?**
Running PromQL queries with millions of data points and using delta function.

**What did you expect to see?**
Accordingly to the documentation, “delta(v range-vector) calculates the difference between the first and last value of each time series element in a range vector v, returning an instant vector with the given deltas and equivalent labels.[…] delta should

[2019-02-14 15:09] ghost opened #5219 "'Unhealthy' Targets filter not filtering out all 'Healthy' Targets"
## Proposal
**Use case. Why is this important?**
When selecting 'Unhealthy' on the Targets Page, Jobs are only hidden if all the Targets within that Job are 'Healthy'. If a Job contains many Targets but only contains one 'Unhealthy' Target, all the 'Healthy' Targets will still be visible.
It would be more manageable and user friendly, in particular when there are many Targets, to only show the 'Un

[2019-02-14 15:35] toninis opened #5220 "Bool Operator does not work as expected"
## Bug Report
**What did you do?**
Tried to bool compare two vectors.
**Vector 1**
[code]
which has output:
[code]
**Vector 2**
[code]
which has output:
[code]
So I compared the two vectors with the bool option:
[code]

**What did you expect to see?**
Based on docs [here](https://prometheus.io/docs/prometheus/latest/querying/operators/#comparison-binary-operators) :

Shouldn't the result of this o

[2019-02-14 16:28] cstyan commented on #5217
@krasi-georgiev yep, some of the tests need longer timeouts. We're fixing that in #5214 but I can split that out into it's own PR that we could merge right away.

[2019-02-14 16:53] drewboswell commented on #5210
Oops, still a problem. The same problem occurs when using "bearer_token_file".

[2019-02-14 17:02] brian-brazil commented on #5220
Normal matching behaviour is what's happening here, try with values other than 1 and you'll see what's happening.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole communit

[2019-02-14 17:02] #5220 closed

[2019-02-14 17:17] drewboswell opened #5221 "bearer_token_file option not working in kubernetes_sd_configs"
## Bug Report
**What did you do?**
Attempted to use bearer_token_file in stead of plaintext bearer_token in kubernetes_sd_configs

**What did you expect to see?**
Authorized http calls

**What did you see instead? Under which circumstances?**
net/http: invalid header field value \"Bearer *******************\\n\" for key Authorization

In kubernetes_sd_configs only:
* if bearer_token_file set, load

[2019-02-14 17:29] brian-brazil commented on #5173
Have a try of this branch: https://github.com/prometheus/tsdb/tree/index-perf Only postings.go has changed.

[2019-02-14 18:56] glightfoot opened #5222 "Make promtool better for CI with syntax-only config check"
## Proposal
**Use case. Why is this important?**

*We validate our rules with promtool in CI before deploying, it would be nice to be able to check for config file syntax validity without having to deploy all secrets, certs, etc.*

## Bug Report
**What did you do?**
```promtool check config prometheus.yaml```

**What did you expect to see?**
[code]
**What did you see instead? Under which circumsta

[2019-02-14 20:11] hoffie commented on #5173
Thanks for your work, highly appreciated!

I have built three prometheus binaries with go1.11.5:
1) prometheus@v2.7.1 with postings.go replaced by your version on port 9097
2) prometheus@master (unmodified) running on port 9098
3) prometheus@master with tsdb@index-perf on port 9099

I can confirm that only unpatched master has the above mentioned performance problem. Both patched 2.7.1 and master

[2019-02-14 20:20] brian-brazil commented on #5173
Great, thanks for all the feedback. I'll look at getting in proper benchmarks for this tomorrow and raising a PR.

[2019-02-15 06:04] krasi-georgiev commented on #5217
Thanks , I updated the comment that it closes this issues.

[2019-02-15 11:13] simonpasquier commented on #5217
I think it should be fixed sooner than later as it blocks basically all PRs right now.

[2019-02-15 11:29] tomwilkie commented on #5217
@simonpasquier we're on it.  Sorry about that.

[2019-02-15 11:30] simonpasquier commented on #5217
I didn't see your PR so I had worked on https://github.com/prometheus/prometheus/pull/5224

[2019-02-15 11:53] beorn7 commented on #5218
IIRC we need the full scan for the extrapolation algorithm, i.e. to find out if a time series starts or stops within the range.

[2019-02-15 12:39] brian-brazil commented on #5218
The length of the slice, plus the start/stop timestamps should be enough for what we need to do.

What are you using delta for?

[2019-02-15 12:55] simonpasquier commented on #5221
I suspect that your bearer token file has a trailing `\n` but in any case it should have been removed. Hopefully it will get fixed by the latest version of #5211 too.

[2019-02-15 15:11] cesarcabral commented on #535
Thank you Julius, nice articles by the way.

[2019-02-15 15:47] #5217 closed

[2019-02-15 16:31] drewboswell commented on #5221
Nope, there is no trailing \n no \r or combination of other evil special chars in the token file.

BTW I tested with the Pull-request version, and it still does not work. You should be able to reproduce this extremely easily. Just use any token in a token file and it should break.

[2019-02-15 16:47] simonpasquier commented on #5221
Ok thanks for the heads-up. I'll try this on monday!

[2019-02-17 03:08] pc10201 commented on #4297
I do not fix it.But I change my program to create a tmp file,if the file is same as before and will not override it.

[2019-02-17 10:29] codesome commented on #5219
@smarch2 this looks good. If you have the patch ready, can you go ahead and open a PR?

[2019-02-17 12:52] juliusv commented on #813
I'm currently rewriting the expression browser UI in React and this should be fixed by that.

[2019-02-17 18:22] palash25 commented on #4890
@juliusv I don't see any referenced PR by the original claimer on this issue, would it be okay if I take a crack at this?

[2019-02-17 18:41] palash25 commented on #4811
Hi @gouthamve I would like to work on this

Just to be sure this change would require using `errors.New` with appropriate messages and adding it to the `apiError` struct wherever params are checked like in this snippet `start, err := parseTime(r.FormValue("start"))` right? and ofcourse changing the error response in these [test cases](https://github.com/prometheus/prometheus/blob/master/web/api/v1

[2019-02-17 19:25] juliusv commented on #4890
@palash25 Yes, please go ahead, I haven't heard anything in a while either from @infoverload about this.

[2019-02-18 05:25] geekodour commented on #4811
@gouthamve @palash25 Would it be useful if we set `start` to `minTime` and `end` to `time.Now` or something because otherwise I think the error message is helpful only?

[2019-02-18 06:00] codesome commented on #4811
@palash25 you can go ahead if @BrianHa94 is not [working on it](https://github.com/prometheus/prometheus/issues/4811#issuecomment-436789351). @BrianHa94 are you still on it?

[2019-02-18 06:12] codesome commented on #39
I was digging through issues for possible GSoC projects, so are we still keen on adding this into Prometheus?
/cc @juliusv

[2019-02-18 06:39] chester89 commented on #4648
@gouthamve still the same problem on 2.7.1 running on Windows 10

[2019-02-18 07:09] juliusv commented on #39
I think yes, but it's probably not large enough for a GSoC project. Maybe a day or so...

[2019-02-18 10:12] bla-bu commented on #5218
We have metrics representing “budget”, they are gauges. Our users are often interested in how much budget they spent over e.g. last 15 days (single value). The query using delta function looks very natural, however, it is rather slow (in our set up). We are pretty sure we can go with a query where we are simply subtracting two value using offset, the question here is rather whether the delta shoul

[2019-02-18 10:17] BrianHa94 commented on #4811
@palash25 please go ahead.

[2019-02-18 10:20] brian-brazil commented on #5218
What delta does is a bit more complicated, it sounds like you want offset
or increase.

On Mon 18 Feb 2019, 10:12 bla-bu <notifications@github.com wrote:

[2019-02-18 10:30] james-miller opened #5227 "EC2 Service Discovery Filter Not Working Correctly"
## Proposal
**Use case. Why is this important?**
I’m looking to use AWS EC2 tags to indicate which exporters are installed and target the correct ports. This will allow us to easily enable new metrics and standardise our Prometheus configuration using a tag like "PrometheusMonitoring".

The documentation suggests that this is currently possible using filters but this does not seem to function as i

[2019-02-18 12:03] bla-bu commented on #5218
We're somehow deviating here from the issue. As you said "the length of the slice, plus the start/stop timestamps should be enough for what we need to do", yet, unless I'm terrible misreading the code, we are reading all the points from disk, pushing them to memory, iterating over them (where isCounter is always false) just to use the first and last point and length of the slice. If this is simply

[2019-02-18 13:09] simonpasquier commented on #5227
Which version of Prometheus do you run? Can you share a screenshot of the service discovery page?
I looked quickly at the SD code and it seems ok but I don't have any EC2 account to test...

[2019-02-18 14:27] james-miller commented on #5227
I've updated it with the screenshot.
There are currently only 21 instances in that AWS account (of which, only 1 has the applicable tag attached) so it must not be filtering correctly and its duplicating all of the instances it is discovering.

[2019-02-18 15:31] violenti commented on #4609
Yes,  I now run 2.6.1 and the performace is best.

[2019-02-18 15:34] simonpasquier commented on #5221
I've tried with the **latest** version of #5211 and the issue goes away. The current version in `master` doesn't trim leading and trailing white spaces.

[2019-02-18 15:38] simonpasquier commented on #5202
Closing as it is the same stack trace and already covered by #5172. Thanks for the report anyway!

[2019-02-18 15:38] #5202 closed

[2019-02-18 15:55] nwchandler commented on #813
Sounds good, @juliusv .

[2019-02-18 16:00] simonpasquier commented on #5227
Is your `linux` job really formatted like this?

[code]

If yes, it creates 3 SD instances and I suspect that you want this instead:

[code]

[2019-02-18 16:21] james-miller commented on #5227
That 's fixed it.
Thanks for your help

[2019-02-18 16:35] #5227 closed

[2019-02-18 16:44] brian-brazil commented on #5227
Hmm, we're meant to de-duplicate identical instances post relabelling within a scrape config. Was that not happening?

[2019-02-18 17:27] james-miller commented on #5227
All of the instances in that job were listed twice, so I don't believe it was here

[2019-02-18 18:07] brian-brazil commented on #5227
Actually one set would have had port 9100, and two sets 80 so 2x is right.

[2019-02-18 21:23] roidelapluie commented on #5222
I do not agree with this. Those files are part of the configuration and I want promtool to check that it can actually read them.

[2019-02-18 21:28] roidelapluie commented on #5108
I agree to put this on the list for Prometheus 3.0.

[2019-02-18 21:33] glightfoot commented on #5222
@roidelapluie - this will not change that behavior. I agree that that is an important check to have available. This will only add the ability to do the tests without those files as a new feature.

`promtool check config prometheus.yaml` - still works as it does now
`promtool check config --syntax-only prometheus.yaml` - only checks syntax

[2019-02-18 22:36] vears91 commented on #4736
Maybe related https://github.com/prometheus/prometheus/issues/4249? I also saw targets not being scraped, while the web UI was still accessible.

[2019-02-18 23:39] brian-brazil commented on #5108
Hmm, could we handle the redirect better? There's basically the same issue over in the blackbox exporter too.

[2019-02-19 04:02] eahydra commented on #5173
Hey, I have analogous performance issue that I update from Prometheus v2.5.0 to Prometheus v2.7.1.
In my environment, I used `curl` command with `-w "%{time_total}"` to do query:
[code]
In Prometheus v2.5.0， the `%{time_total}` is **0.001s**, but in Prometheus v2.7.1, the `%{time_total}` is **4.248s**.

In this case, the metric `job:node:count` does not exist , it's faked, but the label `resource_

[2019-02-19 10:02] brian-brazil commented on #5173
The intersection is done left to right, that hasn't changed.

[2019-02-19 10:17] eahydra commented on #5173
If didn't changed，why got the different result? When start Prometheus v2.7.1 for a while such as 1hour, the query becomes slow.
And the target metric is not exist.

在 2019年2月19日，18:03，Brian Brazil <notifications@github.com<mailto:notifications@github.com>> 写道：

The result of this difference seems to be because the 2.5.0 version first checks the metric and then checks the label, but in the 2.7.1 ve

[2019-02-19 11:53] #5213 closed

[2019-02-19 19:16] #4811 closed

[2019-02-19 20:01] dcvtruong opened #5237 "Not able to use nodeport to get metrics from node-exporter endpoints port"
## Bug Report
**What did you do?**
Using nodeport to get metrics from node-exporter port 9100 from outside the container
**What did you expect to see?**
Able to retrieve node-exporter metrics using nodeport port like this "curl http://endpoints_ip:nodeport_port/metrics"
**What did you see instead? Under which circumstances?**
timeout from the curl command
**Environment**

* System information:

[2019-02-19 20:58] fromz commented on #5086
Does anyone know it there are any projects out there to write an adaptor for Prometheus?

[2019-02-20 10:19] simonpasquier commented on #4754
Closed by https://github.com/prometheus/prometheus/pull/5226

[2019-02-20 10:19] #4754 closed

[2019-02-20 10:19] simonpasquier commented on #3494
Closed by https://github.com/prometheus/prometheus/pull/5226

[2019-02-20 10:19] #3494 closed

[2019-02-20 10:22] #5210 closed

[2019-02-20 10:22] #5221 closed

[2019-02-20 16:13] waberc opened #5241 "Promtool randomly failing when record not in same file as rule"
## Bug Report
**What did you do?**
I am working with a file to write the _record rules_, another file for the _alert rules_ and a third one for _the test_.

### Records
[code]
### Alerts
[code]
### Test file
[code]

**What did you expect to see?**
The test should either **fail always** (because the calculated value is not right and I could adapt my test) or **succeed always**.

**What did you see

[2019-02-20 16:16] brian-brazil commented on #5241
With dependent rule groups, you want to use group_eval_order

[2019-02-20 16:19] codesome commented on #5241
As @brian-brazil mentioned, can you try fixing the order of the group evaluation and see if it is still failing randomly? You can find about it in the docs here https://prometheus.io/docs/prometheus/latest/configuration/unit_testing_rules/

[2019-02-20 16:24] zonArt commented on #5241
@brian-brazil Much better, thanks for the tip, need to rename the groups though

[2019-02-20 16:25] waberc commented on #5241
Indeed adding this fixed the bug. Thanks for pointing me to the right doc page :
[code]
works deterministic.

[2019-02-20 16:28] waberc commented on #5241
Thanks a lot for the fast response @brian-brazil @codesome

[2019-02-20 16:28] #5241 closed

[2019-02-20 19:12] carlpett opened #5242 "promtool check metrics does not validate uniqueness"
## Bug Report
**What did you do?**
`curl -s ... | promtool check metrics`

**What did you expect to see?**
According to the specs:

We had an endpoint that served duplicates for some name/label sets, but promtool does not complain.

**What did you see instead? Under which circumstances?**
Nothing

**Environment**
promtool from `master`/c8a1a5a9

An independent repro without our faulty exporter is

[2019-02-21 01:36] 13567436138 opened #5245 "can prometheus.slack.com admin invite me to join"
my email address is  195446040@qq.com

[2019-02-21 05:12] codesome commented on #5245
If you are searching for Prometheus community, you can have a look here https://prometheus.io/community/.

GitHub issues are for development discussions, so please refrain from using it for such questions.

[2019-02-21 05:12] #5245 closed

[2019-02-21 09:18] jobrs opened #5248 "Support series selector for label/names and label/:name/values API"
## Proposal

Add support for series selectors (i.e. match[]) to the `label/names` resp. `label/:name/values` APIs, so that the list of label names and values can be constrained to a subset of series.

This is useful to build
* Multi-tenancy using on labels for separating tenants (similar to https://github.com/prometheus/prometheus/issues/1813#issuecomment-232571410_): To constrain a API call to a

[2019-02-21 09:45] codesome commented on #5248
This discussion had come up during the implementation of `/label/names`, but there was no efficient way to do it as of now. The best way now is equivalent to querying the tsdb for series and filter the required information - which is inefficient.

[2019-02-21 11:18] jobrs commented on #5248
@codesome Agreed, see my last sentence. Still I would find the API addition useful, since future versions of the TSDB might (wishful thinking) allow for an optimised implementation and the addition would be consistent with the rest of the API.

[2019-02-21 11:39] linkbug commented on #4303
Old wal have been closed and new wal is created. But new wal file
 size is 0. I think write "WALMagic" failed in func createSegmentFile:
![image](https://user-images.githubusercontent.com/6823659/53166497-6269fa80-3610-11e9-9153-6b9b903761b2.png)

[2019-02-21 12:55] codesome commented on #5248
Quoting https://github.com/prometheus/tsdb/issues/530#issuecomment-465959964 from @brian-brazil

[2019-02-21 14:48] ryanhartje commented on #1464
Did this slip through the cracks or something? Prometheus still doesn't have an official arm64 image on dockerhub 3 years later.

[2019-02-21 15:28] simonpasquier commented on #1464
@ryanhartje this issue was only about binary builds, not container images which is in progress (see https://github.com/prometheus/prometheus/pull/5031).

[2019-02-21 15:39] brian-brazil commented on #5173
I've put that out as a PR now with some additional changes, if anyone wants to test: https://github.com/prometheus/tsdb/pull/531

[2019-02-21 15:48] simonpasquier commented on #5237
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2019-02-21 15:48] #5237 closed

[2019-02-21 16:43] ryanhartje commented on #1464
Thanks @simonpasquier and Prometheus team!

[2019-02-21 17:43] dcvtruong commented on #5237
Hi,  This is not a question about usage.  This is an actual problem of using nodeport to get forward to port 9100 of the node-exporter.

[2019-02-21 21:08] krasi-georgiev commented on #4303
@linkbug 	lots of changes have been done since 2.3, would you mind opening a new issues with steps to reproduce.

[2019-02-21 23:56] lilred commented on #2286
Alternatively, `count(ALERTS) or vector(0)`

[2019-02-22 09:59] FLYyyyy2016 opened #5253 "prometheus data generate too quickly"
## Bug Report

I found out that my prometheus-docker error has occurred. The error is manifested in prometheus generating a large number of tmp folders. This folder will quickly take up disk space (500M per folder, one per minute), and finally cause the system to crash.

How to solve the problem of quickly generating tmp folder

use ubuntu16.
* System information:
Linux 4.4.0-116-generic x86_64

*

[2019-02-22 13:44] simonpasquier commented on #5253
This sounds a lot like what https://github.com/prometheus/tsdb/pull/512 fixes (it should be available in v2.8). In any case, you're running v2.0.0 which is quite old so to rule out other issues, can you update to v2.7.1?

[2019-02-22 15:51] fgrzadkowski opened #5258 "Data lost after restart"
## Bug Report
**What did you do?**
Prometheus is running as a systemd service. After a restart it looses some metrics from last 1-2 hours.

**What did you expect to see?**

No metric samples should be lost. This is true for most timeseries, except some that I'm interested in (they're exported by `custom_exporter`; see config below)

**What did you see instead? Under which circumstances?**

Metrics

[2019-02-22 16:05] pbhudiaBAE opened #5259 "Targets All/Unhealthy buttons to be used as a refresh button"
## Proposal
To have the All and Unhealthy buttons on the Targets page act as a refresh button. I was looking at the #4599 issue that recently closed and thought that this could be a nice little feature. I have coded a fix that adds this feature, if this feature is desirable I can make a pull request.

[2019-02-22 16:15] brian-brazil commented on #5259
That could be unexpected for users, as for example if I've a snapshot of a bad state I don't want it disappearing under me.

[2019-02-22 16:28] pbhudiaBAE commented on #5259
Understood, that's good point. I'll go ahead and close the issue.

[2019-02-22 16:53] #5259 closed

[2019-02-22 20:18] nizam001 commented on #4686
Guys, we have been actually confused by the "role_arn" option. Think, if that IAM role is attached to my instance itself then why should I explicitly pass role_arn?  I was investigating prometheus code for ec2 service discovery, **I saw role_arn parameter is being used unnecessarily, there is no need to pass this parameter**. AWS 'go' sdk takes care of this thing , if role is attached to instance,

[2019-02-23 18:51] darkl0rd commented on #1766
Have you guys seen cuigh's post above? His implementation (https://github.com/cuigh/prometheus) is complete, fully integrated and confirmed working. Considering that he already did all the heavy lifting, why not simply integrate his implementation? By the looks of things he even seems more than happy to maintain it.. .

[2019-02-23 20:09] SuperQ commented on #1766
I think it would be great. @cuigh Would you be willing to open a PR to add it?

[2019-02-24 04:22] ozn0417 opened #5261 "Really bad (or no) instructions to install"
Can you guys do a better job of having steps to install Prometheus.  I think the instructions are pretty bad off your main website.  I see a tar.gz file, what do I with it?

## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**En

[2019-02-24 04:25] hairyhenderson commented on #1766
@SuperQ that was already rejected at #3687 😉

[2019-02-24 04:26] #5261 closed

[2019-02-24 04:27] ozn0417 commented on #5261
Found something here: https://prometheus.io/docs/introduction/first_steps/

[2019-02-24 09:46] szediktam opened #5262 "curl: (52) Empty reply from server when I curl prometheus"
## Proposal
**Use case. **

## Bug Report
**What did you do?**
I curl prometheus with a error sometimes.
# curl http://x.x.x.x:9090/api/v1/query?query=node_cpu
curl: (52) Empty reply from server

sometime it is ok.

**What did you expect to see?**
normal output of metric

**What did you see instead? Under which circumstances?**
# curl http://x.x.x.x:9090/api/v1/query?query=node_cpu
curl: (52) Empt

[2019-02-24 10:01] szediktam commented on #5262
I also use prometheus/client_golang to get query by QueryRange in client_golang/api/v1/api.
It still a error:
`http://x.x.x.x:9090/api/v1/query_range?end=2019-02-22T11%3A51%3A09Z&query=node_cpu&start=2019-02-22T11%3A43%3A09Z&step=120.000: EOF`

[2019-02-24 20:20] juliusv commented on #5261
There's also https://prometheus.io/docs/prometheus/latest/getting_started/ and https://prometheus.io/docs/prometheus/latest/installation/.

[2019-02-24 21:18] sylr opened #5263 "Upgrade github.com/miekg/dns"
Latest version of `github.com/miekg/dns` does not have the ErrTruncated anymore, see: https://github.com/miekg/dns/pull/815

The commit message says:

[code]

Thanos use a recent version of `github.com/miekg/dns` and it is not an issue now but it might become (for Thanos) if https://github.com/prometheus/prometheus/pull/5009 makes it to master as the dependency tree of prometheus within thanos wil

[2019-02-24 22:29] sylr opened #5265 "Use 3rd party service like dependabot to keep up with vendored libs"
I was wondering if prometheus could use a service like https://dependabot.com/ to help upgrade the vendored libs.

Dependabot is a github app which creates pull requests as soon as it detects that a lib used in the project has a new version released. It currently only updates the `go.mod` and `go.sum` files but does not update the vendor/ dir but I have made a script for another project which call

[2019-02-25 05:53] XSHui opened #5266 "Prometheus OOM"
## Bug Report
**What did you do?**
We use prometheus to monitor tidb cluster

**What did you expect to see?**
Prometheus work well

**What did you see instead? Under which circumstances?**
Prometheus sometimes oom(only one cluster, other cluster is ok)

**Environment**

* System information:

	Linux 4.14.0-1.el7.*****.x86_64 x86_64

* Prometheus version:

	prometheus:v2.2.1

* Logs:
[code]
[code]

[2019-02-25 07:43] fgrzadkowski commented on #5258
To add more context, I wrote a dummy exporter based on [this example](https://github.com/prometheus/)
(I wrote a simple counter which increments every second and has some labels)

For this dummy target I never loose data. no matter how and when I restart prometheus server or the exporter. To be honest I don't see any difference between `dummy_exporter` and `custom_exporter` (in reality the name is

[2019-02-25 10:04] krasi-georgiev commented on #5248
@jobrs is there anything else we need to add the the issue?
Otherwise I agree that we should extend the API only when we have a more efficient way that the current implementation.

[2019-02-25 10:40] jobrs commented on #5248
@krasi-georgiev no, these are the points I wanted to raise

[2019-02-25 10:46] krasi-georgiev commented on #5248
In that case I hope you don't mind closing the issue and can revisit at a later point when we can have a better answer for that.

[2019-02-25 10:48] jobrs commented on #5248
closing this one, since the requested API addition is not needed from functional/performance perspective

[2019-02-25 10:48] #5248 closed

[2019-02-25 11:49] simonpasquier commented on #5266
You need to use a system with more RAM and/or reduce the memory usage of Prometheus. It looks like you're using remote write and Prometheus can't send samples fast enough to the remote backend so Prometheus buffers samples in memory. Have a look at the [remote_write](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write) settings to tune this part. You may also wan

[2019-02-25 11:49] #5266 closed

[2019-02-25 11:53] simonpasquier commented on #5263
Closed by #5020

[2019-02-25 11:53] #5263 closed

[2019-02-25 12:32] beorn7 commented on #5265
Sounds to me like a good idea in general, especially with the expected wider adoption of go modules.

@simonpasquier you might have the most qualified opinion about this.

[2019-02-25 13:43] simonpasquier commented on #5265
The idea is interesting. I had a quick look and tried to use it on my forks of prometheus and alertmanager but it complains that it can't parse the `go.mod` file. The level of authorization requested by dependabot is also quite high:
![image](https://user-images.githubusercontent.com/2587585/53340981-9859f800-390a-11e9-87ab-30bfd782a4e7.png)

@sylr I guess that [dependabot-travis.sh](https://githu

[2019-02-25 13:50] sylr commented on #5265
@simonpasquier Yes it is.

[2019-02-25 15:13] hariravella opened #5268 "Upgraded from 2.0 to 2.7"
## Bug Report
**What did you do?**
Upgraded from 2.0 to 2.7
**What did you expect to see?**
yml configuration file should be compatible with 2.7
**What did you see instead? Under which circumstances?**

./promtool check config prometheus.yml
Checking prometheus.yml
  FAILED: parsing YAML file prometheus.yml: yaml: unmarshal errors:
  line 48: field collect[] not found in type config.plain

**Envir

[2019-02-26 03:37] XSHui commented on #5266
Thanks for your reply ! @simonpasquier

prometheus remote_write as below:
[code]

Could you give some advice about how to optimize it, and how to confirm ?

[2019-02-26 07:55] eahydra commented on #5173
It works fine for my case.

Use Prometheus v2.7.1, query `
sum(job:node:count{site=~"a|b", resource_pool=~"a1|a2|a3|a4|a5|a6|a7|a8|a9|a10|a11|a12|a13|a14|a15|a16"}) by (resource_pool, site)
` cost 3 second,

use Prometheus master branch latest code, just cost 0.001 second.

👍👍👍

[2019-02-26 10:05] pbhudiaBAE commented on #1371
I can have a look into this

[2019-02-26 10:58] simonpasquier commented on #5268
The YAML data isn't valid:

[code]

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-02-26 10:58] #5268 closed

[2019-02-26 11:06] simonpasquier commented on #5262
Check with `wireshark` or `tcpdump` but it looks like the connection gets dropped at the TCP level either from the client or from the server. But it doesn't seem to be a problem specific to Prometheus.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-02-26 11:06] #5262 closed

[2019-02-26 11:17] simonpasquier commented on #5258
You probably want to increase the [`RestartSec`](https://www.freedesktop.org/software/systemd/man/systemd.service.html#RestartSec=) option for the service.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-02-26 11:17] #5258 closed

[2019-02-26 13:16] simonpasquier commented on #5266
I'm no remote write expert but you might want to try the defaults proposed in https://github.com/prometheus/prometheus/pull/5267:
[code]

Also `capacity` is quite high.

[2019-02-26 14:07] krasi-georgiev commented on #5138
I think we have discussed this and the usual decision is to hard fail on all sort of un-repairable  data corruption.

Maybe @brian-brazil or @brancz 	 , can give some more info why this is better than auto deleting the corrupted blocks.

[2019-02-26 14:31] brancz commented on #5138
It seems reasonable to do a "repair" type thing on non-WAL files as well. At least in known-safe/recoverable scenarios (I'm not necessarily saying this case is, but generally).

@haraldschilly do you still have the "corrupted" storage files, so we could examine them, and be able to judge the situation better?

[2019-02-26 14:33] mtoulon opened #5273 "Prometheus crash: fatal error: sweep increased allocation count"
After Promethues has been running for several hours I observed an error in 'go kernel' I am running Promethues 2.6.0 below is the error extract.

runtime: nelems=102 nalloc=2 previous allocCount=1 nfreed=65535
fatal error: sweep increased allocation count

runtime stack:
runtime.throw(0x1c458e6, 0x20)
	/usr/local/go/src/runtime/panic.go:608 +0x72
runtime.(*mspan).sweep(0x7fa08293d8e8, 0x100433d00,

[2019-02-26 14:50] brian-brazil commented on #5138
It sounds like an entire directory went missing.

[2019-02-26 15:58] krasi-georgiev commented on #5138
the main question is: what is should be the behaviour in such cases and why?
Hard fail
or
Delete the corrupted block with a warning log and continue as normal.

[2019-02-26 16:17] brancz commented on #5138
I would first like to understand what "such cases" means. I'm not sure there is a general answer.

[2019-02-26 16:21] krasi-georgiev commented on #4058
@slomo  maybe the main difference is the load. Try it with a higher load -  400 static targets

[2019-02-26 19:42] hmarr commented on #5265
I'm one of the folks building Dependabot. We'd love to help out in any way we can, so please feel free to ping me if you have any questions  🙂

The [`go.mod` issue](https://github.com/dependabot/feedback/issues/381) is now fixed. Thanks @simonpasquier for raising it.

We also plan to add vendoring support in due course. In the meantime, a CI script or GitHub Actions (if you have access) is a good

[2019-02-26 21:31] juliusv opened #5276 "Nil pointer panic in expandSeriesSet"
The following PromQL expression makes the expression evaluator panic in Prometheus built off recent master revision 5fbda4c9d72b4519adbc9447f0a0023565d03b14:

`topk(scalar(count(node_cpu_seconds_total)), node_cpu_seconds_total)`

Example: http://demo.robustperception.io:9090/graph?g0.range_input=1h&g0.expr=topk(scalar(count(node_cpu_seconds_total))%2C%20node_cpu_seconds_total)&g0.tab=1

Stack trac

[2019-02-26 21:54] juliusv commented on #5276
I `git bisect`-ed this and the commit that introduced this is f0e9196dca9633e77a200be2d8805672f9255cfe from https://github.com/prometheus/prometheus/pull/4832.

/cc @mknapphrt

[2019-02-26 22:22] juliusv commented on #5276
The query `topk(scalar(foo), bar)` is sufficient to cause the crash. Same for `quantile(scalar(foo), bar)` etc.

[2019-02-26 22:33] cstyan commented on #5266
@XSHui as Simon mentioned you either need a system with more RAM (based on your current config) or to change the config. The capacity is the number of samples each remote write shard can have buffered before it will (force) send to the endpoint.

If you look at your metrics, how many shards do you have?

[2019-02-27 02:44] steve-exley opened #5277 "Prometheus endsAt timeout is too short"
## Proposal
**Improve the calculation used to generate the endsAt parameter sent to AlertManager?**

We have encountered AlertManager closing and re-opening alerts on multiple occasions even though Prometheus itself does not close the alert.

Currently the `endsAt` parameter sent to AlertManager defaults to a short time frame which results in AlertManager closing and then re-opening alerts if Prom

[2019-02-27 10:34] krasi-georgiev commented on #4736
@vears91 	I doubt it, when we checked the profiles it indicates some blocking when writing to the database.

@smelchior any more info since we last chatted?

[2019-02-27 10:35] krasi-georgiev commented on #3604
@pborzenkov 	have you had a chance to test it with the latest release?

[2019-02-27 10:35] smelchior commented on #4736
no did not happen again, maybe the `DEBUG=1` "fixes" it  ;-)

[2019-02-27 10:39] krasi-georgiev commented on #3480
@jacksontj I hope you don't mind, but I will close it for now and will reopen or revisit if we face another problem that can't be solved without adding a context.

thanks everyone for all the input.

[2019-02-27 10:39] #3480 closed

[2019-02-27 10:41] krasi-georgiev commented on #4736
so weird, maybe it was some glitch in the storage.

In that case will close it for now. Feel free to reopen if it happens again or if you have more info.

[2019-02-27 10:41] #4736 closed

[2019-02-27 10:42] brian-brazil commented on #5277
That sounds like plenty of time to me. Can you share the timings you're seeing?

That's a separate system.

[2019-02-27 10:44] krasi-georgiev commented on #4249
@vears91 did you find the culprit for your issue?

[2019-02-27 10:59] pborzenkov commented on #3604
@krasi-georgiev We haven't updated all of our DCs to the latest Prometheus release yet, but the ones that have been updated to 2.7.1 don't experience any noticeable slowdown within 2h window anymore.

So, I assume, the issue can be closed now. Thanks for you help!

[2019-02-27 11:00] simonpasquier commented on #5273
Hmm, `fatal error: sweep increased allocation count` could be triggered by a data race in the code or some issue with the Go runtime/compiler. To clear out the data race cause, you would need to build the binary with the `-race` option. Would you be able to do that?

[2019-02-27 11:04] krasi-georgiev commented on #3604
np, thanks for the update!

[2019-02-27 11:04] #3604 closed

[2019-02-27 11:12] mtoulon commented on #5273
Hi Simon

Thanks for the update I am checking if we can recompile as suggested, I will get back to you ASAP

Regards

Mike.
From: Simon Pasquier <notifications@github.com>
Sent: Wednesday, February 27, 2019 11:01 AM
To: prometheus/prometheus <prometheus@noreply.github.com>
Cc: Michael Toulon <Michael.Toulon@mycom-osi.com>; Author <author@noreply.github.com>
Subject: Re: [prometheus/prometheus] Pro

[2019-02-27 12:15] steve-exley commented on #5277
Thanks for your response. I have the logs from the AlertManager perspective.

Both Prometheus and AlertManager time is in sync, the resend-delay on Prometheus is set to 1m.

When the Prometheus configuration is reloaded, it skips one message to AlertManager and this is enough for AlertManager to mark the Alert as resolved. Prometheus is actually only 1s too slow in notifying AlertManager of the co

[2019-02-27 12:40] brian-brazil commented on #5277
What's your evaluation interval, and how long is that group taking to evaluate?

It's not unexpected that alerts will flap on a restart, the persistence stuff is more for alerts with long fors.

[2019-02-27 19:55] rcsavage commented on #2459
@weskinner what exactly did you edit in the NetworkPolicy associated with the Pod?   I am seeing the same issue right now, so any advise would help.

[2019-02-27 21:11] weskinner commented on #2459
@rcsavage sorry I'm not remember the specifics.  I just know the NetworkPolicy that applied to that pod was preventing prometheus from accessing it from the monitoring namespace.  Adjusting the labels on the monitoring namespace and/or the selectors in the NP should fix it if that is your problem as well.

[2019-02-27 23:00] geekodour commented on #5222
@codesome can I add this with https://github.com/prometheus/prometheus/issues/21 ?

[2019-02-28 00:08] mmencner commented on #4058
We are hitting the same issue on single prometheus instance (version 2.6.0 with local storage), running inside a docker container. So far it happened twice, out of ~50 deployed instances:
- First time, only the last block had an empty `meta.json`
- Second time, it was last two blocks with an empty `meta.json`

It's not directly connected with the container restart, as in majority of cases it start

[2019-02-28 00:11] bboreham opened #5281 "Example Kubernetes port annotation does not use port number"
In [this line](https://github.com/prometheus/prometheus/pull/4131/files#diff-416ffe38e4360ad5f27d8a034963c260R159) which is given as an example of annotation usage,

    - source_labels: [__address__, __meta_kubernetes_service_annotation_example_io_scrape_port]
      action: replace
      regex: ([^:]+)(?::\d+)?;(\d+)
      replacement: $1:$2
      target_label: __address__

I am puzzled that the

[2019-02-28 00:15] steve-exley commented on #5277
Our global `evaluation_interval` is 15s, some rule groups use `interval` 30s.

The max `prometheus_rule_group_last_duration_seconds` for all rule groups is consistently under 1s.

We currently use 7 Prometheus instances, each monitoring thousands of targets, many with hundreds of metrics.  The inventory is dynamic and bespoke so there is no off the shelf service discovery. Instead the file_sd_conf

[2019-02-28 03:59] Wing924 opened #5282 "consul SD should honor CONSUL_HTTP_ADDR env"
## Proposal
**Use case. Why is this important?**

Currently, consul SD set server `localhost:8500` by default.
~~I suggest change it to `os.Getenv("CONSUL_HTTP_ADDR")`, faillback to `localhost:8500` if it's `nil`.~~

Because consuls are running as DaemonSet on k8s and they use host network, we must access them from not localhost but node's IP.
We can't set node's IP on ConfigMap because it's unkno

[2019-02-28 08:17] brian-brazil commented on #4058
Are we not creating the meta.json atomically?

[2019-02-28 08:19] brian-brazil commented on #5282
We only take config from one place for simplicity, which is the config file here. What I'd suggest is templating the config file on the host.

You might also want to look at k8 service discovery.

[2019-02-28 08:34] Wing924 commented on #5282
For this case, I suggest consul SD server defaults to `""` (empty string).
Go Consul Client will handle the env variable:
https://github.com/hashicorp/consul/blob/master/api/api.go#L27
https://github.com/hashicorp/consul/blob/master/api/api.go#L338
it won't introduce breaking change.

I also use k8s SD for metrics inside the k8s cluster while use consul for metrics on outside bare-metal.

[2019-02-28 08:37] brian-brazil commented on #5282
You can still use k8 SD for that, node mode in particular, to monitor your machine-level infrastructure.

[2019-02-28 08:49] Wing924 commented on #5282
I mean machines outside the k8s cluster, which is managed by consul for a long time.
k8s SD can't discovery those machines.

[2019-02-28 08:50] brian-brazil commented on #5282
So where's the problem then? Localhost will work on those machines.

[2019-02-28 08:52] Wing924 commented on #5282
The Prometheus are running on k8s while monitoring targets are on outside.

[2019-02-28 09:17] simonpasquier commented on #5281
This is because the second group (`(?::\d+)`) isn't captured (eg it starts with `(?:`).

[2019-02-28 09:38] bboreham commented on #5281
Ooh.   TIL.

[2019-02-28 09:38] #5281 closed

[2019-02-28 09:44] brian-brazil commented on #5277
Looking more closely at your logs, Prometheus skipped two messages. The settings are only meant to be resilient to one. #5126 should help with that, which will be in 2.8.

[2019-02-28 09:55] vears91 commented on #4249
@krasi-georgiev I still see the issue with scraping stopping. It was happening very often when we upgraded our Kubernetes networking component (kube-router), up to once a day. We downgraded to a previous version but it still happens from time to time, maybe once a week. As described in https://github.com/prometheus/prometheus/issues/4736, scraping stops but the web UI is still accessible. The cont

[2019-02-28 10:24] krasi-georgiev commented on #4249
would you mind starting the container with an evn DEBUG=1
this will enable some extra profiling so at the time it stops scraping you can run
`promtool debug all SERVER-IP`
the promtool is in the release tar archive.

the profile doesn't include any sensitive data so you can attach it here.

[2019-02-28 10:44] krasi-georgiev commented on #4058
@mmencner would you mind trying it with the latest release as there have been a lot of changes to fix such issues since 2.6. Would also need the full logs to start some useful troubleshooting.

@brian-brazil 	just had a quick look and it does indeed happen atomically. My guess is that something happens during compaction when creating a new block.

[2019-02-28 13:51] brian-brazil commented on #4058
I can see no way that code can produce a zero-length file. It'd have to be the kernel saying it's successfully written and closed, but then not having spare for it.

[2019-02-28 14:49] fgrzadkowski commented on #5258
@simonpasquier That's not it. The thing I'm observing happens even if I stop prometheus and then start it again after few minutes. I always loose data and only for those few metrics.

[2019-02-28 16:50] krasi-georgiev commented on #4058
yes I suspect something similar. especially the case of resetting the VM.

[2019-02-28 17:23] #5173 closed

[2019-03-01 02:44] fanhaozzu commented on #4923
Same concerns and problem

[2019-03-01 02:46] fanhaozzu commented on #4923
Same concerns and problems

[2019-03-01 05:33] geekodour commented on #5242
will send the fix if I can reproduce the issue on master.

[2019-03-01 09:04] zhangjianweibj opened #5288 "prometheus compation error."
version:2.0.0
i create a prometheus in docker sworm env.today i delete service and rebuild.then errors as following:
is this bug has repaired?

[code]

[2019-03-01 09:05] weeco commented on #4923
We mitigated the issue by setting a very strict limit for max samples. Some dashboards were broken due to the limit, but they were probably also causing high CPU usages as we don't have these issues anymore.

Still I think there should be a better way for profiling the cpu usage

[2019-03-02 13:58] Hashfyre commented on #4598
This is happening even in 2.5.0
[code]

[2019-03-02 14:01] krasi-georgiev commented on #4598
many changes have been done since 2.5, can you please try with 2.7 and if it happens again please open a new issue with steps to replicate.
Thanks

[2019-03-03 06:32] vivekj11 commented on #4678
I was getting the same error even after mentioning insecure_skip_verify: true.
Though it worked for me in this way

    kubernetes_sd_configs:
    - api_server: https://<ip>:6443
      role: node
      bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      tls_config:
        insecure_skip_verify: true

By specifying inseucre_skip_verfity as a part of api_server context

[2019-03-03 06:50] sbueringer commented on #4817
@simonpasquier I retested it with promtool 2.7.2. The first test (ThanosCompactBucketOperationsFailed) now works. The second one for the Alert ThanosCompactNotRunIn24Hours still doesn't work. I'm not sure what more information you need?

I expected the the time() function to resolve to some value during the unit test and then the rule should lead to an alert and a successful test.

[2019-03-03 13:05] roidelapluie commented on #535
Note: prometheus/tsdb#370 is merged. and there is #5292 to include it in prometheus.

[2019-03-03 14:24] communityexplorer opened #5295 "prometheus occupy too much virtual memory?"
## Bug Report
**Why prometheus occupy so much virtual memory?**
Here is the result of top cmd, as it show, the virtual memory is over 37.4g, while the physical memory
is just 2.6g, is this a problem?
As we know, ulimit -v cmd can set the upper limit of the virtual memory  that process can use , so what value should we set?

PR_Prometheus_Server:~ # top
top - 08:18:47 up 14 days, 23:52,  3 users,

[2019-03-03 15:14] codesome commented on #535
And with [this](https://github.com/cncf/soc#package-for-bulk-imports) project in GSoC, we can expect to have a better user-facing package for easy imports from other monitoring stacks.

[2019-03-03 15:20] codesome commented on #4817
I will take a look at it in the coming few days, not sure how I missed it.

[2019-03-03 21:01] vaibhavk commented on #3647
Can I work on this Issue if no one is assigned?

[2019-03-03 23:17] drewhemm commented on #4456
Isn't this satisfied by the `read_recent: false` option for `remote_read` ?

[2019-03-04 00:28] bamb00 commented on #5013
Hi @simonpasquier,

How do I determine the timeseries in the current head? I'm getting a OOMKilled (exit code 137) with resource limits at 2Gi was not enough.

Thanks.

[2019-03-04 10:02] karthikeayan commented on #5036
I am now getting this, what was the fix?

[2019-03-04 11:00] tomwilkie commented on #5080
Its looks like this was caused by our config: multiple exporters in a single pod all got the same target labels, and all exposed the `go_runtime_*` metrics.

[2019-03-04 11:00] #5080 closed

[2019-03-04 11:02] tomwilkie commented on #4640
As of 2.8 this is going to get harder, as the new remote_write code is tied to the WAL code for TSDB.  It might be possible for you to have a WAL-only TSDB mind you.

[2019-03-04 11:03] tomwilkie commented on #2648
I'd say we can close this: the new WAL based remote_write code in 2.8 includes a much more proactive resharding code that responds to upstream latency variations very quickly.

[2019-03-04 11:03] #2648 closed

[2019-03-04 11:04] tomwilkie commented on #3796
This should be fixed by the new WAL based remote_write code in 2.8.

[2019-03-04 11:04] #3796 closed

[2019-03-04 12:26] ervinb commented on #4165
*Note for future Googlers, as this is one of the first results when the error above is searched for.*

This is caused by the misuse of federation.

When large amounts of data is federated, the `scrape_timeout` is exceeded on the caller, which will cause it to hang up. As the connection is closed, the client runs into a write error - broken pipe.

[code]
`10.0.0.12:33508` is the connection to the c

[2019-03-04 14:40] tomwilkie opened #5299 "WAL remote_write starts falling behind after config reload"
This is running master plus #5286

<img width="1392" alt="screenshot 2019-03-04 at 14 39 16" src="https://user-images.githubusercontent.com/444037/53740101-53464080-3e8b-11e9-8a80-88dddac0b0ba.png">

[2019-03-04 15:13] efficks commented on #2496
@brian-brazil
I've found this conversation on the forum (https://groups.google.com/d/topic/prometheus-users/Rah4Ck_AoDM/discussion). But it's more like a feature request.
Can we transform this issue as a feature request? If not. Is it possible to explicitly explain why and what are the best alternatives? Better... can you update the doc to explain what is the best practice on the subject?

Thank y

[2019-03-04 15:26] tomwilkie commented on #5299
From our logs, we can see the remote write code thinks the WAL is corrupt:

[code]

[2019-03-04 15:28] tomwilkie commented on #5299
Current theory: either (a) the WAL gets corrupted when we reload config or (b) the wal watcher gets out of sync somehow when we reload config.

/cc @cstyan @codesome - might have to hold 2.8 for this.

[2019-03-04 15:42] simonpasquier commented on #4923
I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-03-04 15:42] #4923 closed

[2019-03-04 15:56] simonpasquier commented on #5288
You want to update to a newer version of Prometheus as v2.0.0 is quite old.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-03-04 15:56] #5288 closed

[2019-03-04 15:57] simonpasquier commented on #4678
Closing due to inactivity.

[2019-03-04 15:57] #4678 closed

[2019-03-04 16:21] #5276 closed

[2019-03-04 16:21] tomwilkie commented on #5299
The second change here might help: https://github.com/prometheus/prometheus/pull/5300

[2019-03-04 16:33] tomwilkie commented on #5299
We grabbed a copy of the WAL and tried to replay it, multiple segments were corrupt.  I struggle to see how this has anything to do with the WAL code.  When I restarted the Prometheus server, it also found corruption and repaired the WAL:

[code]

Even after this, remote_write was still broken:

[code]

[2019-03-04 16:38] simonpasquier commented on #5013
@bamb00 check the `prometheus_tsdb_head_series` metric.

[2019-03-04 18:56] anumercian opened #5301 "High CPU and memory in Prometheus 2.3.2"
## Proposal
**Use case. Why is this important?**
Facing high CPU and memory usage of Prometheus at Scale.

## Bug Report
**What did you do?**
Created 126-130 time series and ran it for 2-3 days.

**What did you expect to see?**
Prometheus running at normal CPU and memory.

**What did you see instead? Under which circumstances?**
Prometheus is having CPU spikes every 1 minute for about 5sec to 100%

[2019-03-04 19:06] anumercian commented on #5301
file:///users/mercian/crCPU/cpu3.svg

file:///users/mercian/crCPU/cpu2.svg

[2019-03-04 19:32] anumercian commented on #5301
![image](https://user-images.githubusercontent.com/1896420/53757676-166d5000-3e71-11e9-9229-d7680a59202c.png)

![image](https://user-images.githubusercontent.com/1896420/53757696-22591200-3e71-11e9-9037-f1403ffca145.png)

[2019-03-04 20:05] anumercian commented on #5295
I am facing a similar issue where Prometheus is taking too much OS memory. While /pprof/heap shows only 120MB used, the OS shows 450MB used.

[2019-03-04 20:15] roidelapluie opened #5302 "Discard timestamps at scrape time"
## Proposal
**Use case. Why is this important?**

When Prometheus is federating another monitoring system, it could be that that monitoring system is exposing timestamps.
In the case of federation with timestamps, Prometheus will not mark the metric as stale if it disappear. Instead, it will be present up to the query.loopback value.

Considering that Open Metrics will not help
https://github.com/

[2019-03-04 20:21] brian-brazil commented on #5302
If another monitoring system is exposing timestamps, we typically want them. Do you have a particular use case in mind?

[2019-03-04 20:27] roidelapluie commented on #5302
I have a partner exposing time series with timestamps (rate of requests) but they do not publish the 0's. It means that staleness can not apply.

Another use case: mtail 0.24 exposed 0 as timestamp (its was bug, solved in latest release).

I know this is not bugs with prometheus and I am not suggesting to put that as a default of course, but for those edge cases being as a power user to discard th

[2019-03-04 21:35] brian-brazil commented on #5302
For that I imagine you'd be using avg_over_time, which is going to give the same result either way.

Such a sample would be dropped.

I'm not opposed to this, but I'd like to see a good use case first.

[2019-03-04 21:43] roidelapluie commented on #5302
Yes it would be dropped. But the metrics were actually relevant so we should not want to drop it, just scrape it as current time.

[2019-03-04 21:46] roidelapluie commented on #5302
avg_over_time would not give the same result:

Rate value:
[code]

Actually Exposed by our partner:
[code]

We can not see the drop at "0".

It is an ever bigger problem with labels as some labels are visible for 5 minutes but they should actually only appear once.

[2019-03-04 22:15] brian-brazil commented on #5302
You'd get no data at that point though, and that's pretty hard to work with.

[2019-03-04 22:19] roidelapluie commented on #5302
I do a sum() of the rates by some useful labels so I can work with that.

[2019-03-04 22:21] roidelapluie commented on #5302
I currently have a ugly recording rule:
[code]

That is causing me way more issues than this proposal to ignore timestamps.

[2019-03-05 00:22] SuperQ commented on #5301
I would recommend upgrading to a more current release. There has been a lot of performance and bug fixes since 2.3.2.

I'm not sure where you're getting this data, but you might want to look at `rate(process_cpu_seconds_total[1m])`.

Also, please include the queries used for included graphs. Without the query we have no idea what the graphs mean.

[2019-03-05 00:32] anumercian commented on #5301
Query: rate(process_cpu_seconds_total[1m])

![image](https://user-images.githubusercontent.com/1896420/53772334-ec308800-3e9a-11e9-82ac-ba711a79903a.png)

![image](https://user-images.githubusercontent.com/1896420/53772345-f2beff80-3e9a-11e9-86ec-4c85c285b234.png)

[2019-03-05 00:57] SuperQ commented on #5301
Based on the graph, it looks like whatever is producing the other metric data is reporting false information.

[2019-03-05 09:03] kaihua1987 opened #5306 "example_write_adapter "go build" fail, anyone hit the issue?"
[root@kaihua-master example_write_adapter]# go build
go: finding github.com/gogo/protobuf v1.1.1
go: finding github.com/matttproud/golang_protobuf_extensions v1.0.1
go: finding github.com/dgryski/go-sip13 v0.0.0-20181026042036-e10d5fee7954
go: k8s.io/apimachinery@v0.0.0-20181127025237-2b1284ed4c93: unrecognized import path "k8s.io/apimachinery" (https fetch: Get https://k8s.io/apimachinery?go-get=

[2019-03-05 10:55] brian-brazil commented on #5302
I don't think this solves the fundamental problem, CloudWatch also does this for example and we'd end up persisting duplicating a sample twice rather than (correctly) only taking in the value we want at one timestamp.

Your example data also doesn't line up with what you're saying.

[2019-03-05 11:06] alex-k opened #5307 "Record rules results shifted in time"
## Bug Report
**What did you do?**

I have two recording rules

[code]

**What did you expect to see?**

I expect to see in result same values as in target metrics grouped by labels

**What did you see instead? Under which circumstances?**

Sometimes I see values shifted in time by 15sec

Expected:

![image](https://user-images.githubusercontent.com/1177310/53801334-f3659d80-3f4f-11e9-8773-880798c

[2019-03-05 11:12] roidelapluie commented on #5302
**Use case 1:**

I get metrics:

http_call:rate5m{service="a"} 10 1551784037000
http_call:rate5m{service="b"} 4 1551784037000

And on the next scrape, I get

http_call:rate5m{service="a"} 11 1551784067000

If I sum up : sum (http_call:rate5m) at 1551784067001, I will get: 15. I would like to get: 11.

I am not the master of those metrics, just a consumer.

**Use case 2**

Broken exporters behaviou

[2019-03-05 11:14] roidelapluie commented on #5302
I agree that this is not something that will be needed a lot but I need it now and I expect that with prometheus format becoming more important in the future other people will need this.

(ps: I would really like to avoid writing a proxy for this)

[2019-03-05 11:17] roidelapluie commented on #5302
**Use case 3**

Federating prometheus with systems exposing timestamps but refreshing at a slow interval (e.g. 10m)

[2019-03-05 13:31] roidelapluie commented on #5307
Can you share your recording rules file?

[2019-03-05 14:12] tomwilkie opened #5308 "Master UI is unusably slow"
Running a very recent build (from yesterday), editing text in the query/graph UI is unusably slow.

Try putting this query in:
[code]
And adding some text after `"(.*)"`.

Heres a profile:

<img width="1523" alt="screenshot 2019-03-05 at 14 10 01" src="https://user-images.githubusercontent.com/444037/53811175-a8985580-3f50-11e9-83ec-a995a9ed875e.png">

Took ~2s to handle the keypress.  I don't kno

[2019-03-05 14:15] tomwilkie commented on #5299
I think #5300 fixed this.

[2019-03-05 14:15] #5299 closed

[2019-03-05 14:18] davkal commented on #5308
Taking a look...

[2019-03-05 14:40] bwplotka commented on #3756
How crazy would be to extend relabelling to add some kind of conditional logic? For example:

[code]
That would solve this issue immidiately and will allow for more flexibility for different providers.

Any thoughts?

So then you can have annotations like:
[code]

[2019-03-05 14:59] simonpasquier commented on #5306
This works for me:

`GO111MODULE=on go build -mod=vendor ./documentation/examples/remote_storage/example_write_adapter/`

#
I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-03-05 14:59] #5306 closed

[2019-03-05 15:07] simonpasquier commented on #5295
A high value for the virtual memory isn't a problem usually as the operating system should reclaim it whenever it is needed.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-03-05 15:07] #5295 closed

[2019-03-05 15:55] WTFKr0 commented on #1766
Hey, just test the @cuigh fork and it fill my needs, but i prefed to stay in the main prom repo

As i understand, the good solution is to create a new custom sd mechanism like the example in here : https://github.com/prometheus/prometheus/tree/master/documentation/examples/custom-sd

With the code of @cuigh fork in

Anybody have started working on this ?

[2019-03-05 16:12] alex-k commented on #5307
Sure,

[https://gist.github.com/alex-k/d8fbcc8709a09833ee9d83ac97389de2](url)

[2019-03-05 16:34] simonpasquier commented on #5258
It looks similar to https://github.com/prometheus/prometheus/issues/3632. Unfortunately no progress has been made so far.

[2019-03-05 17:56] anumercian commented on #5301
@SuperQ What do you mean by other metric data? The difference between OS memory of 450MB and prom heap pprof of 120Mb?

[2019-03-05 18:08] SuperQ commented on #5301
No, the CPU spikes seem non-existent in the Prometheus direct instrumentation. I'm not sure where `Daemon_resource_utilization` comes from, but it appears inaccurate.

[2019-03-05 18:17] anumercian commented on #5301
The daemon_resource_utilization is similar to the output of "top" on Linux shell, done for each daemon running and I am seeing Prometheus spiking to above 100% every 1-3minutes.

[2019-03-05 18:20] SuperQ commented on #5301
Prometheus CPU depends on what queries are being performed. The average CPU use seems to be about 10% of 1 core.

I don't see an actual issue here, other than "it's using resources".

[2019-03-05 18:34] SuperQ commented on #5301
As for the memory issue, can you please share the results of the query for `process_resident_memory_bytes`? This is the correct metric for memory use.

[2019-03-05 18:56] anumercian commented on #5301
Okay, could the CPU spike that we see in "top" be the Go Garbage collector?

[2019-03-05 18:56] anumercian commented on #5301
Will post the result of query "process_resident_memory_bytes" shortly

[2019-03-05 18:59] anumercian commented on #5301
This is Heap Profile

![image](https://user-images.githubusercontent.com/1896420/53829788-c86e5000-3f35-11e9-98cb-43ed8240c18c.png)

[2019-03-05 19:37] SuperQ commented on #1766
I would propose re-submitting #3687 as a new PR. We can take an official vote on the Prometheus developers list to decide if it's good enough to merge, rather than having one person on prometheus-team object.

[2019-03-05 19:54] fredwangwang opened #5311 "implement line simplification algorithm"
## Proposal
**Problem description**
Although large query is not recommanded in the prometheus documentation, but it is extremely useful to do analysis sometimes (applying arima on the given data for forecasting for example). Currently the only way to get the data over the long time span without losing detail is to get every single datapoints. But that data is usually more than enough to run the an

[2019-03-05 20:16] brian-brazil commented on #5311
That looks like it's take more CPU than simply processing the data, and you'd have to read all the data too. It'd also not really fit with the PromQL computational model.

[2019-03-06 02:53] cuigh commented on #1766
I still don't think it's a good idea to implement swarm_sd based on file_sd, unless HTTP is supported in file_sd.

[2019-03-06 06:12] fredwangwang commented on #5311
@brian-brazil I am quite new to Prometheus so I am not too familiar with PromQL computational model. But I do see functions like `holt_winters` which does some data "reshaping" before returning the data. So does it make sense to implement a `douglas_peucker` PromQL function then?

The typical complexity is `O(n lg n)`, so it shouldn't take too much CPU power as it is essentially as expensive as ca

[2019-03-06 07:10] roidelapluie commented on #5302
Do you think we couls still get this in 2.8 rc0 ?

[2019-03-06 07:22] brian-brazil commented on #5311
PromQL only returns one value from a given time series when working over a
range, so this doesn't make sense. There's no returning a line.

On Wed 6 Mar 2019, 06:12 Huan Wang, <notifications@github.com> wrote:

[2019-03-06 08:48] simonpasquier commented on #5301
Closing since the discussion also happens on the mailing list ([here](https://groups.google.com/d/msg/prometheus-users/KuLfGUlJG1M/wUqnKPevCAAJ)) and there's no evidence of a problem.

[2019-03-06 08:48] #5301 closed

[2019-03-06 13:27] WTFKr0 commented on #1766
Yeah agree
But i think prometheus team implement this plugin mechanism to be a standard for all sd
As I understand, they want in the future move existing core sd out of prometheus binary too. So all sd will use the plugin mode

See https://prometheus.io/blog/2018/07/05/implementing-custom-sd/

[2019-03-06 15:16] #5308 closed

[2019-03-06 15:23] fredwangwang commented on #5311
range

I am not sure I follow... But using a query like `total_request{job="router",ip="1.2.3.4"}` ranging from `2018-6-1` to `2019-1-1` would return a `Instant vectors` right? What I understand (might be wrong), the instant vectors is just a 2d line (time as the x-axis), so douglas_peucker could apply.

[2019-03-06 17:36] brian-brazil commented on #5311
No, each vertical slice is an instant vector calculated independently. If you wanted to do this processing, you'd want to do it after getting the PromQL result over HTTP.

[2019-03-06 19:23] fredwangwang commented on #5311
@brian-brazil Thanks for the chat! I am going to close this for now and implement it on the consumer side.

[2019-03-06 19:23] #5311 closed

[2019-03-06 21:12] xkilian commented on #2458
I do not think this function should make use of remote storage, but it should persist its internal series in the prometheus TSDB so that the model data is available and not have to restart from nothing.
Is it still in the plan to get _real_ Hol-Winters function. I was successfully using this, and tuning values to meet actual seasonality with Cricket and RRDtool.

Documentation should state it shou

[2019-03-06 21:56] valyala commented on #4391
@mrsiano , Prometheus may write data to [remote storage](https://prometheus.io/docs/operating/integrations/#remote-endpoints-and-storage), so you can offload heavy queries to remote storage instead of Prometheus. While many remote storage solutions do not understand [PromQL](https://prometheus.io/docs/prometheus/latest/querying/basics/) (so you need to use another query languages such as SQL, Infl

[2019-03-07 12:19] ojle commented on #3308
@brian-brazil
Is there any possibility for this one to be considered, ie. get the latest value in resolved notification?
As mentioned in the blog post https://www.robustperception.io/why-do-resolved-notifications-contain-old-values
"It often confuses users as to why resolved notifications don't contain updated annotations values..."
So if something is constantly confusing users, why shouldn't be c

[2019-03-07 13:17] brian-brazil commented on #3308
If you read that blog post, you'll see that this simply isn't possible.

[2019-03-07 13:39] brian-brazil commented on #2458
That would be done via recording rules, which you should already be able to do today.

[2019-03-07 18:33] weeco commented on #4923
@simonpasquier I believe this issue should **not** be closed because the issue itself exists. I just found a workaround without knowing if this was actually the cause. Others may still have issues with other root causes.

[2019-03-07 20:59] kminehart commented on #5307
This is similar to:

https://github.com/prometheus/prometheus/issues/4860

I believe we were experiencing the same sort of time drift problem, but we have way too many recording rules, and a lot of them are fairly complex (most of them came with the prometheus operator), so we might have been experiencing an even greater amount of it.

[2019-03-08 11:02] simonpasquier commented on #4923
#1315 already exists for a similar reason.

[2019-03-08 11:42] krasi-georgiev commented on #5138
This would be hard. so far "such cases" are irreproducible.

@haraldschilly was this a one of or can you help with steps to reproduce?

[2019-03-08 19:10] mdlayher opened #5317 "util/promlint: consider making it easier for 3rd parties to import"
## Proposal

I originally added `promlint` for use in `promtool check metrics`. It is very useful for that purpose, however, it would also be nice to allow the package to be easily vendored and used in other applications for unit tests and such.

Because this main Prometheus repository is fairly large and also contains a great deal of unrelated code, I propose moving `util/promlint` to `github.com

[2019-03-08 19:37] mdlayher commented on #5317
Talked with @SuperQ on IRC and it appears I was wrong about needing to vendor the entire repo. `dep` at least appears to pick out the package by itself if I `dep ensure -add github.com/prometheus/prometheus/util/promlint`.

I do still think it'd be reasonable to move this to common, though.

[2019-03-08 20:59] brian-brazil commented on #5317
It's only used in one of our repos, so I see no need to move it to common. Common is for stuff shared across our repos.

[2019-03-08 22:48] roidelapluie opened #5321 "retention shown in runtime page set to 0s"
In Prometheus 2.8-rc0 the runtime page shows '0s' retention.

2.7.1:
![retention](https://user-images.githubusercontent.com/291750/54060292-7579ee80-41fc-11e9-9c74-d00667ba333d.png)

2.8-rc0:
![retention2](https://user-images.githubusercontent.com/291750/54060359-b6720300-41fc-11e9-83bc-fa316efd143f.png)

Bisect:
a3c41f425699565c880fb529af6d58cf0cb254d5 is the first bad commit
commit a3c41f4256995

[2019-03-08 22:51] roidelapluie commented on #5321
Not sure if that is a bug or not but it is definitively confusing. Maybe we should add to the "Runtime" page the actual retention values.

[2019-03-08 22:52] roidelapluie commented on #5321
cc @krasi-georgiev

[2019-03-09 01:43] SuperQ commented on #1766
No, we don't want to remove SD from the core. We do want to make it easier to add new methods outside the core.

[2019-03-09 03:00] krasi-georgiev commented on #5321
what flags did you use when starting Prometheus?

[2019-03-09 03:07] krasi-georgiev commented on #5321
just replicated it, the retention is set to 15d as before,but the GUI shows incorrect info. Will fix soon. Thanks.

[2019-03-09 06:12] roidelapluie commented on #5321
Since now the flag is optional, I think maybe we could have in runtime page: "TSDB retention: 15d"

[2019-03-09 06:14] roidelapluie commented on #5321
The values printed out could be:

- 15d
- 15d or 12 GB
- 12GB

[2019-03-09 10:23] krasi-georgiev commented on #5321
I opened a PR with the fix.

not sure what you mean by this comment.

[2019-03-09 11:04] roidelapluie commented on #5321
Oh nevermind I had a more complex fix in mind

[2019-03-09 14:32] roidelapluie opened #5323 "Change regarding retention flag not in changelog"
In the 2.8 changelog it would be nice to mention that if you specify a size and no duration, Prometheus will no longer assume a 15d retention.

[2019-03-09 21:56] roidelapluie commented on #5108
What do you mean?

A HTTPS target that redirects to HTTP might be valid.

[2019-03-09 23:57] brian-brazil commented on #5108
It'd valid, but inefficient. We should scrape the required target directly.

[2019-03-10 05:42] alevchuk opened #5325 "staticcheck tried to download a broken URL"
### Host operating system: output of `uname -a`

Linux base 4.19.25-v7+ #1205 SMP Mon Feb 25 18:19:20 GMT 2019 armv7l GNU/Linux

### node_exporter version: output of `node_exporter --version`
 latest checkout of node_exporter 19e5bb6abdfbc69e9f2039485842eb3c0cf87d08

### node_exporter command line flags
can't build

### Are you running node_exporter in Docker?
no

### What did you do that produced

[2019-03-10 10:52] dominikh commented on #5325
I'd be happy to add ARM targets. Should we build for ARMv5 (which is supported by v6 and v7 platforms, too), or have one version per possible GOARM? You'd have to change the format of the URL in the latter case.

[2019-03-10 12:57] juliusv opened #5326 "Vector/vector filter comparisons return match group labels rather than LHS labels"
See http://demo.robustperception.io:9090/graph?g0.range_input=1h&g0.expr=node_cpu_seconds_total%20%3D%3D%20on(cpu%2C%20instance%2C%20job%2C%20mode)%20node_cpu_seconds_total&g0.tab=1&g1.range_input=1h&g1.expr=node_cpu_seconds_total%20%3D%3D%20node_cpu_seconds_total&g1.tab=1

When adding an `on()` modifier to a vector-to-vector filter, the metric name is dropped. Without the modifier, the metric nam

[2019-03-10 12:58] juliusv commented on #5326
Btw., when including `__name__` in the `on()` modifier, the metric name is retained.

[2019-03-10 13:03] juliusv opened #5327 "Exponentation (`^`) operator does not drop metric name"
See http://demo.robustperception.io:9090/graph?g0.range_input=1h&g0.expr=up%20%5E%202&g0.tab=1

Like any other binary arithmetic operator, `^` should drop the metric name.

Reason is this line: https://github.com/prometheus/prometheus/blob/d390497280d61918aa8792f87a2f458e5e231ec2/promql/engine.go#L1896

[2019-03-10 13:14] infoverload commented on #5327
I'll take a crack at this!

[2019-03-10 13:16] juliusv commented on #5326
To generalize, when including an `on()` clause, only labels mentioned in that clause are retained. E.g. `node_cpu_seconds_total == on(cpu, instance, mode, __name__) node_cpu_seconds_total` will drop the `job` label from the result.

[2019-03-10 13:46] roidelapluie commented on #5167
Alertmanager v2 api is still fairly new and still has a few bugs.

I think it is safer to keep using v1 for the moment

[2019-03-10 13:47] roidelapluie commented on #5326
sounds like a breaking change.

[2019-03-10 13:52] brian-brazil commented on #5326
Yeah, that'd be breaking. I'd need to think on this one.

[2019-03-10 13:54] brian-brazil commented on #5326
`node_cpu_seconds_total == bool node_cpu_seconds_total` also leaves the metric name in place, that's definitely a bug.

[2019-03-10 14:11] juliusv commented on #5326
So we've had bug fixes in the past that technically changed behavior, but since they were bug fixes they were deemed ok most of the time. Probably it depends on how much we expect people to rely on this behavior already and how breaking the change would likely be for those people. On the other hand if we don't fix it, we need to document that it's broken.

[2019-03-10 14:11] brian-brazil commented on #5326
Okay, we've no unittests covering this. The documented behaviour is what makes sense consistency wise, so the question is how breaking is this. `__name__` I'm not worried about, however starting to return other labels could cause issues.

[2019-03-10 14:22] SuperQ commented on #5325
@dominikh This users is on armv7, but we build quite a lot of platforms for Prometheus. You might want to look at [`promu`](https://github.com/prometheus/promu), which we use for crossbuild publishing.

[2019-03-10 14:25] SuperQ commented on #5325
@dominikh What do you think about adding a CircleCI build/publish to go-tools?

[2019-03-10 14:45] roidelapluie commented on #5326
For the time being, users who are affected by this can get the desired behavior by adding group_left()

[2019-03-10 16:12] nevill commented on #3726
@brancz Unfortunately, `node-role.kubernetes.io/master` is not a member of well_known_labels ([kubelet](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/well_known_labels.go), [scheduler](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/api/well_known_labels.go), etc). It's usually set during `mark control plane phase` when kubeadm is running. Shall we still

[2019-03-10 16:25] brian-brazil commented on #5326
True, we could define this to be the correct behaviour and leave that as a workaround.

[2019-03-10 16:31] juliusv commented on #5326
I'd prefer calling it a bug and fixing it, but also not sure where the boundary for that should be. Officially defining PromQL to be this weirdly inconsistent would trigger me at least :)

[2019-03-10 17:40] alevchuk commented on #5325
Hey thanks for quick plan for the fix!

I was gonna say "pulling in binaries of the internet during `make` makes is hard to review what's being built" yet possibly the opposite is true. Not sure.

Github release builds seem reviewable. E.g. https://github.com/dominikh/go-tools/releases/tag/2019.1 yet there seems to be no view of the commits since last review.

[2019-03-10 17:41] roidelapluie commented on #5326
I would propose to first see if that is a regression or an all time bug.

[2019-03-10 17:57] dominikh commented on #5325
I want people to run fixed releases, not master (unless they want to find issues in staticcheck), and I think I can build the odd release manually just fine ;)

There could be any code in the binary, it doesn't have to match at all what the tag says, so that requires trust. Then again, nobody reads the code of the tools they `go get`, so the effect is the same.

[2019-03-10 18:14] brian-brazil commented on #5326
If it's a regression, it's from one of the rewrites: either mine last year, or the one Fabian did a few years back. I'd suspect it's always been like this.

[2019-03-10 18:40] roidelapluie commented on #5326
I tried prometheus-2.0.0-beta.1 and the bug was there

[2019-03-11 02:35] anisimovyuriy commented on #4603
we have the same issue in our dev environment after we added **multiple** consul integrations and many of the services are failed to scrape because on the service-side issues. To delete WAL directory won't help in our case as when we do this - same issue will be reproduced in a day...
Any help please?

[2019-03-11 08:48] krasi-georgiev commented on #4603
Locking this issue now as all these will need a new issue with more details for some proper troubleshooting.

[2019-03-11 10:49] brian-brazil commented on #5326
Thinking on it, if anyone is depending on this behaviour they can always wrap a sum() around the LHS as we know there's only one series on the LHS per group. Otherwise it'd be causing a many-to-one errror.

[2019-03-11 12:38] brancz commented on #5138
Agreed, we can only work with these things if we can either reproduce a case or a storage snapshot is provided that has the respective problem. Otherwise I agree, there is little we can do.

[2019-03-11 13:14] WTFKr0 commented on #1766
OK

So who can resubmit PR for a vote ?

@cuigh I would like to improve a bit some code in your fork, can you enable issues on your fork so we can echange on that ?

[2019-03-11 16:08] dcvtruong commented on #5016
I've also getting this error in the prometheus-server (v2.6.1 + k8s 1.13).  I've increased the RAM but prometheus-server never recover.  Is there a remedy or workaround?

		$ kubectl logs prometheus-server-7f4c577d49-lq2z6 -n monitoring prometheus-server
		level=info ts=2019-03-11T13:04:34.063372989Z caller=main.go:243 msg="Starting Prometheus" version="(version=2.6.1, branch=HEAD, revision=b639fe

[2019-03-11 16:27] brian-brazil commented on #1766
We discussed this at our monthly meeting today, the moratorium remains. Currently we're awaiting integration testing for a good swathe of our existing SDs, which any new SD would be expected to follow in the steps of.

[2019-03-11 17:04] RaynDol opened #5332 "Using prometheus with Grafana"
Hi,

Thanks for this great repo and idea! :)

im trying to monitor K8S with Grafana and Prometheus Operator
most of the metrics are working as expected and I was able to see the dashboard with the right value, our system contain 10 nodes with overall 500 pods, now when I run query in Grafana to get all the graphs which contain `all the nodes and all the pods on those nodess`  the Grafaa  Ui doesn'

[2019-03-11 17:08] Quentin-M commented on #3726
@nevill Not because it is not part of the codebase, that it is not the upstream standard.

[2019-03-11 17:18] #5321 closed

[2019-03-11 17:20] joonas-fi commented on #1766
@brian-brazil could you then please add http support to the file SD (so the SD JSON can be fetched over HTTP), so we'd at least get a clean point of integration for adding SD agents running outside of Prometheus' container?

See use case of https://github.com/function61/promswarmconnect - this would be much cleaner if it could produce JSON compatible with the file SD agent!

[2019-03-11 17:25] brian-brazil commented on #5332
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-03-11 17:25] #5332 closed

[2019-03-11 17:28] brian-brazil commented on #1766
We have a moratorium on new SDs, and we already have a clean generic interface for integrations.

[2019-03-11 17:50] joonas-fi commented on #1766
That interface is just passing complexity management to the users. With that interface I need to have a the SD binary (let's say promswarmconnect) running either:

1) Inside the Prometheus' container. In this case the SD plugin project needs to release a new version each time Prometheus releases a new version (the SD plugin project overlays its binary inside Prometheus' Docker image). This also re

[2019-03-11 18:16] brian-brazil commented on #1766
The sidecar model is pretty standard, and not something you can really avoid if you're using Prometheus. We assume a POSIX system, and that includes processes being able to share filesystems, send each other signals etc.

I've done it in the past, the bash scripting is a little finicky, but it's quite doable. Especially if you can use a non-ancient version of bash.

I disagree here, and there's ma

[2019-03-11 19:47] robbinscp opened #5334 "server returned HTTP status 403 Forbidden when using recommended Kubelet config"
## Bug Report
**What did you do?**

- Deployed Prometheus per [this workshop](https://github.com/aws-samples/aws-workshop-for-kubernetes/tree/master/02-path-working-with-clusters/201-cluster-monitoring) in EKS
- Adjusted EKS BootstrapArguments to include webhook authentication (`'--authentication-token-webhook --authorization-mode=Webhook`)

**What did you expect to see?**

- kubelet monitoring to

[2019-03-11 20:03] simonpasquier commented on #5334
You would need to file this issue to https://github.com/aws-samples/aws-workshop-for-kubernetes directly.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-03-11 20:03] #5334 closed

[2019-03-11 20:08] robbinscp commented on #5334
To be clear, this **is** a prometheus issue.  There were changes I made to get the manifest to work, but the root of this issue is one between prometheus and the kubelet.  I have followed the prometheus documentation on setup and related issues (https://github.com/coreos/prometheus-operator/issues/1503) - I don't know understand why this is being closed that quickly.

[2019-03-11 20:26] simonpasquier commented on #5334
You need to find what is wrong with your Prometheus configuration but GitHub issues aren't the proper venue. You'll have more chance on the users mailing list or IRC (#prometheus).

[2019-03-11 20:28] robbinscp commented on #5334
Understood.  Thanks for the explanation - it is appreciated.

[2019-03-11 20:31] simonpasquier commented on #5334
No problem, thanks for your understanding too :-)

[2019-03-11 20:55] simonpasquier commented on #5167
For the record you can always set Prometheus to use the v2 api using `relabel_configs` like this:

[code]

As for when/if we switch Prometheus to the v2 API by default, this is a good question...

[2019-03-12 01:39] thiyagu19841 opened #5337 "Promethues increase functions shows difference in 100s during heavy load"
Hi,

I have been using prometheus for our app metrics to get the total count of transactions for given time range.   I just played around in grafana and thought single stat  panel will fit for our requirements; I just used increase/rate function to find difference between current scrape and last scrape for the given time range. I noticed that it is working fine and getting value near by accuracy (

[2019-03-12 03:20] cuigh commented on #1766
Already merged, thanks.

[2019-03-12 06:31] justlooks opened #5338 "Opening storage failed mkdir \": permission denied"
Can not use systemd to start prometheus, if I switch to user prometheus ,use command /opt/prometheus/prometheus --config.file=/opt/prometheus/prometheus.yml --storage.tsdb.path="/opt/prometheus/data". it can work.

[code]

[code]

[code]

[2019-03-12 09:07] jeasonWujun commented on #5338
Are you working under root?

[2019-03-12 10:21] #5327 closed

[2019-03-12 10:31] #4786 closed

[2019-03-12 10:56] brian-brazil commented on #1546
Closed by #5181

[2019-03-12 10:56] #1546 closed

[2019-03-12 11:10] #5323 closed

[2019-03-12 11:53] aclowkey opened #5342 "Prometheus does not start: get segment range: segments are not sequential"
Not sure what is the cause of this.
Any work arounds?

* logs
[code]

[2019-03-12 12:13] brian-brazil commented on #5342
Can you share a listing of the WAL directory?

[2019-03-12 12:22] eirc opened #5343 "Allow reloading with non POST methods"
The `/-/reload` endpoint only works with the `POST` method. It would possibly make more sense to allow other methods too like `PUT`.

https://github.com/prometheus/prometheus/blob/7c8f0b08647f1ac5f9608069678b4a01c6e79866/web/web.go#L313

The reasoning is that `POST` by definition produces different side effects each time it is run (like create new resources under `REST`) compared to `PUT` which yo

[2019-03-12 12:30] aclowkey commented on #5342
01D4DDXJ92WCFJP8RJFYX4ET05
01D4FBQ5N9HSJFFGAEZKCNWXPM
01D4H9GPQTFHS03XYHAP74Q558
01D4K7A7N602VRBKTMBD22ZCT8
01D4N53RDG1KE02GDFBNZSE3XQ
01D4Q2X85K3T0ZEPWNNE8HHR9F
01D4S0PSVN7B8WAZ096FZ3VGGW
01D4TYGBJW8C7KYCCCVEYSYBEV
01D4WW9WM2B627AHPN17Y9QCWX
01D4YT3D930DEV1K5X19XPYS9N
01D50QWYJF130YMQARP9DFK0PS
01D52NPH0TETJD8FZQCDQ82CPV
01D54KG15BHKCTEPCBH1Z2XDMG
01D56H9JA1G0N1JSDSTKAFVMW9
01D58F34Q5DT2RHG9RDYCS

[2019-03-12 12:59] brian-brazil commented on #5343
Longer term we plan on switching this to PUT for XSRF reasons, so supporting both now would make sense.

Is that supported by the RFCs?

[2019-03-12 13:00] simonpasquier commented on #5338
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2019-03-12 13:00] #5338 closed

[2019-03-12 13:10] brian-brazil commented on #5342
There should be a `wal` directory too, what's in there?

[2019-03-12 13:10] aclowkey commented on #5342
These files are in the val/

[2019-03-12 13:13] eirc commented on #5343
TBH I have no idea what RFCs say about this but it does make sense IMHO.

[2019-03-12 13:13] brian-brazil commented on #5342
Sounds like you put in an incorrect storage path at some point then, it should have been up a directory.

[2019-03-12 15:27] vsliouniaev opened #5345 "kube SD errors leading to loss of connectivity to alertmanager"
## Bug Report
**What did you do?**
Ddeployed prometheus and alertmanager on kubernetes.
Deleted the alertmanager pods, which were re-created.

**What did you expect to see?**
Prometheus should re-connect to the new alertmanager pods through service-discovery and send alerts to the new instances

**What did you see instead? Under which circumstances?**
Prometheus fails to discover new pods and cont

[2019-03-12 16:39] jenciso commented on #4633
For me, until the kubernetes version 1.10  I used that approach, but in the version 1.13, Kubelet doesn't permit authorization correctly. My kubelet log show me

[code]
I think that it is a forward credential problem. Probably I need to use `--requestheader-username-headers=X-Remote-User` in the request to kubernetes API (using the proxy approach. I don't have clear this problem, if anybody could

[2019-03-12 18:39] cstyan commented on #5342
@aclowkey you're data dir should look something like this:
[code]

And that inner wal dir:
[code]

[2019-03-12 19:10] roidelapluie commented on #5337
Thanks for your report. It looks as if this is actually a question about usage and not development because XXX

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.o

[2019-03-12 21:06] andridzi commented on #5299
hi @tomwilkie
after upgrading from 2.7.0 to 2.8.0 I've started facing the same issue
```msg="error tailing WAL" err="unexpected non-zero byte in page term bytes"```
and at the same time I'm getting other errors related to WAL
```error tailing WAL" err="unexpected checksum f4c57f67, expected dd5fb88e"```
```error tailing WAL" err="record length greater than a single page: 59671 > 32768```
could you

[2019-03-12 21:14] andridzi opened #5347 "error tailing WAL remote_write"
-->
## Bug Report
**What did you do?**
After upgrading from 2.7.0 to 2.8.0 I've started to get WAL tailing errors

* Logs:
[code]

[2019-03-13 01:37] SuperQ opened #5348 "Auto-publish README to Dockerhub"
The README on docker hub is very stale as pointed out on -developers.

We can add https://github.com/SISheogorath/readme-to-dockerhub to CircleCI to auto-publish the README.

https://hub.docker.com/r/sheogorath/readme-to-dockerhub

[2019-03-13 03:26] cstyan commented on #5299
@andridzi when you upgraded did prometheus repair the WAL when it started on v2.8? If you copy your current WAL dir to somewhere else and start a new prometheus using that copied WAL, does it attempt to repair the WAL?

Those messages are indicative of a corruption in the WAL.

[2019-03-13 06:39] aclowkey commented on #5342
It happened in our production env aswell. Here are the dirs:
[code]

[2019-03-13 08:37] brian-brazil commented on #5348
We could also one-off replace it by just a link to the actual readme. Keeping that working for every repo could be a bit of work.

[2019-03-13 08:42] ighack opened #5349 "prometheus can't load rule_files"
All program in docker.

prometheus.yml
[code]

alertmanager_rules.yml
[code]

but I can see any rules in web.
http://192.168.0.10:9090/alerts
I get "No alerting rules defined "

http://192.168.0.10:9090/rules
I get "No rules defined "

In alertmanager web
http://192.168.0.238:9093/#/alerts
I get "No alerts found"

![erte](https://user-images.githubusercontent.com/6670377/54264911-21318e80-45af-11e

[2019-03-13 09:05] brian-brazil commented on #5349
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-03-13 09:05] #5349 closed

[2019-03-13 09:26] captn3m0 commented on #4633
If anyone here is doing this: how is the load on api server as a result? I'd rather not have my control plane go down because some metrics were scraped too aggressively.

[2019-03-13 10:17] simonpasquier commented on #5345
Could you try to reproduce with `--log.level=debug` and share the logs?

[2019-03-13 13:03] simonpasquier commented on #5347
cc @tomwilkie @cstyan

[2019-03-13 13:08] Eeemil commented on #455
`--storage.local.target-heap-size` seems to have been removed in 2.0, is there any strategy to limit memory usage nowadays?

[2019-03-13 13:09] andridzi commented on #5347
I've also tried to delete wal records and start prometheus and even after that still get the same errors

[2019-03-13 13:15] andridzi commented on #5299
I've also tried to delete wal records and start prometheus and even after that still get the same errors
So seems like the problem is with data based on which WAL records are created. Or creation mechanism.

P.S.: after copying current wal dir and start new instance - no attempts to correct wal records

[2019-03-13 15:47] Pryz opened #5351 "Metric type in prompb"
Would it be possible to add the type of the metrics in the prompb proto ? Right now there is no way for a remote service to know if the forwarded metrics are counters or gauges for instance.

I was looking at implementing a remote storage (write only currently but will consider a read handler if the write one is working as expected) to forward Prometheus metrics to statsd-like systems. However, si

[2019-03-13 15:56] Pryz commented on #5351
After chatting on #prometheus, seems like the current way is to call the target metadata api (https://github.com/prometheus/prometheus/blob/master/docs/querying/api.md#querying-target-metadata) to get the information about the metric.

[2019-03-13 15:56] brian-brazil commented on #5351
That'd be quite involved, as we'd need to store it in the TSDB first and this isn't time series data. I'd suggest working with the Prometheus text format directly.

[2019-03-13 16:07] bosschaert opened #5352 "Promtool unit test rules support values as a range"
## Proposal
Promtool test cases don't always provide exact values, hence expected values with an allowable delta should be supported.

## Bug Report
I am using the promtool unit testing support to test my alerts and recording rules. However, probably due to inaccuracies in floating point math, the test result of my rule is not precise.

[code]

And then I have the following test

[code]
However, t

[2019-03-13 16:24] brian-brazil commented on #5352
In https://github.com/prometheus/docs/issues/1305 the potential bug is that the answer is .9991 rather than .999. This behaviour here is as expected.

[2019-03-13 16:33] bosschaert commented on #5352
If the behaviour here is as expected how can I write a test that checks for 0.4, if it fails with 0.3999999999999991 ? Isn't this standard floating point inaccuracy?

Other testing frameworks support deltas for situations like this, e.g. Junit: https://junit.org/junit4/javadoc/latest/org/junit/Assert.html#assertEquals(java.lang.String,%20double,%20double,%20double)

[2019-03-13 16:36] brian-brazil commented on #5352
You need to use 0.3999999999999991 in that case.

[2019-03-13 16:52] bosschaert commented on #5352
Well, `2.4/6` equals to `0.4`, so it seems wrong to specify `0.3999999999999991` even though that is in practice an acceptable value...

[2019-03-13 17:12] tomwilkie commented on #5347
Sorry you hit an issue @andridzi?  Can you post the logs from your Prometheus at startup pls?  Also, might be worth grabbing a copy of the WAL if its not too late.

[2019-03-13 17:13] brian-brazil commented on #5352
To be honest, I wouldn't even test this simple a rule. It's more for alerts, and non-trivial PromQL.

[2019-03-13 17:16] andridzi commented on #5347
level=info ts=2019-03-13T13:26:07.776977822Z caller=main.go:321 msg="Starting Prometheus" version="(version=2.8.0, branch=HEAD, revision=59369491cfdfe8dcb325723d6d28a837887a07b9)"
level=info ts=2019-03-13T13:26:07.777064243Z caller=main.go:322 build_context="(go=go1.11.5, user=root@4c4d5c29b71f, date=20190312-07:46:58)"
level=info ts=2019-03-13T13:26:07.777090826Z caller=main.go:323 host_details="

[2019-03-13 17:19] andridzi commented on #5347
and then error messages
[code]

[2019-03-13 17:44] vishksaj opened #5353 "Prometheus not responding after a time period"
Prometheus not responding after a time period. There is no error in logs. Tsdb is taking time to load (6 to 8 minutes).
#################################
level=info ts=2019-03-13T16:46:22.724044759Z caller=main.go:302 msg="Starting Prometheus" version="(version=2.7.1, branch=HEAD, revision=62e591f928ddf6b3468308b7ac1de1c63aa7fcf3)"
level=info ts=2019-03-13T16:46:22.724121743Z caller=main.go:303 bu

[2019-03-13 18:35] bosschaert commented on #5352
But if I can't even declare a clear test for such a simple rule, where does that leave me for complex ones?

[2019-03-13 22:37] cstyan commented on #5342
Can you post the output of `ls -al` for the wal directory? You shouldn't have segments 1-18 and then more starting at 220. Not sure what would cause this.

Any idea @gouthamve @krasi-georgiev ?

[2019-03-14 00:37] thravu opened #5354 "Error messages for DOWN targets"
The targets page displays the error messages for DOWN targets. In case the response from the target endpoint is not StatusOK, it only shows the error message with the response code as "server returned HTTP status 500 Internal Server Error".

It would really help to also show the underlying error message that was returned by the exporter/endpoint as part of the response along with the status like "

[2019-03-14 02:08] ighack commented on #5349
in alertmanager_rules.yml

value: {{$value}}
must be value: "{{$value}}"

[2019-03-14 03:11] remram44 opened #5355 "rate() is inaccurate for new label"
## Bug Report
**What did you do?**

I have a metric that shows calls to my app's "export" function. I use labels to signify `what` is exported, and in which `format`. I then plot this using `sum(rate(export_total[1m])) by (what, extension)`

**What did you expect to see?**

When someone calls the export function 5 times with a specific `what`/`format` pair, I see a spike in the graph to Y=5. If la

[2019-03-14 03:16] exklamationmark opened #5356 "module directive in go.mod is missing version number"
## Proposal

Hi,

I was trying to import some packages from the repos at `v2.8.0` and noticed that Go module didn't resolve to the tagged version. Instead, it resolved to a pseudo-version number
(`v0.0.0-20190312040920-59369491cfdf`).

While the hash is still correct (`59369491cfdf` is tagged with `v2.8.0`), it took a while to understand and verify when working with Go module.

The cause was the `

[2019-03-14 06:32] aclowkey commented on #5342
[code]

[2019-03-14 08:46] krasi-georgiev commented on #5342
did I understand right that you are using NFS to store the data?
if that is the case this is most likely the cause. We had many reports for data corruption when using NFS. If you can replicate if on a NON nfs storage please let me know the steps to reproduce and will look into it.

[2019-03-14 08:47] simonpasquier commented on #5356
We can't (don't want to) guarantee any API stability on the `github.com/prometheus/prometheus/*` packages so `github.com/prometheus/prometheus/pkg/foo@v2.9.0` could break its API compared to v2.8.0 if we need it. Following SemVer and the Go modules conventions would be misleading and worth than the current situation IMHO.

[2019-03-14 08:47] #5325 closed

[2019-03-14 08:59] aclowkey commented on #5342
Any way to restore the data?

On Thu, 14 Mar 2019 at 10:46, Krasi Georgiev <notifications@github.com>
wrote:

[2019-03-14 09:06] krasi-georgiev commented on #5342
you will lose some data (probably 30-60mins), but if you delete the non sequential wal files it will start as normal.

[code]

[2019-03-14 09:18] krasi-georgiev commented on #5342
closing now as NFS is most likely the cause, but if you can replicate it on a NON nfs storage feel free to reopen with steps to reproduce.

Thanks.

[2019-03-14 09:18] #5342 closed

[2019-03-14 09:29] Nexucis opened #5357 "template function "humanizeNoSmallPrefix" is not recognize with promTool 2.7.1"
## Bug Report
**What did you do?**
I have the following alert rule that use the template function "humanizeNoSmallPrefix"

[code]

And the promTool 2.7.1 says it doesn't know the function `humanizeNoSmallPrefix`. It works using promTool 2.5.0

**What did you expect to see?**
I expected that promTool was ok with this rule

**What did you see instead? Under which circumstances?**
Running promTool 2.

[2019-03-14 11:40] brian-brazil commented on #5355
Dupe of https://github.com/prometheus/prometheus/issues/1673, there's nothing we can do here I'm afraid.

[2019-03-14 11:40] #5355 closed

[2019-03-14 11:43] brian-brazil commented on #5357
That never worked, that's a template (not a function) defined in the console templates library example, which aren't available to rules.

[2019-03-14 11:56] Nexucis commented on #5357
Indeed, after deep verification, this particular alert was not checked.

sorry for the inconvenience

[2019-03-14 11:56] #5357 closed

[2019-03-14 11:57] tomwilkie commented on #5347
Is this still happening?  When we hit a corrupt WAL in the remote_write code, we back off and try and replay the WAL from the last checkpoint.  Hopefully a new checkpoint has been created and the WAL has been able to tail successfully.

Its strange the startup didn't detect any corruption (although not sure about `msg="unknown series references" count=4`).  Could you grab a copy of the WAL and sha

[2019-03-14 12:33] andridzi commented on #5347
unfortunately, it is not possible due to security reasons

[2019-03-14 12:41] codesome commented on #5352
Quoting https://github.com/prometheus/docs/issues/1305#issuecomment-472073007: as PromQL is meant to be deterministic, if we want to check within a delta, I think it should be internal to promtool and not specified in the yaml.

[2019-03-14 12:56] bosschaert commented on #5352
@codesome that would be fine with me too, as long as I can state `0.4` and don't have to state `0.3999999999999991`.
BTW note that this is just an example, for illustration purposes. It obviously also applies to more complex rules and alerts.

[2019-03-14 13:03] codesome commented on #5352
@brian-brazil would check within a delta make sense for unit testing? Or the current way is the way it should be?

[2019-03-14 13:14] brian-brazil commented on #5352
It wouldn't make sense, as you'd silently be letting changes happen without the tests failing. We depend on this for some of our floating-point accuracy related tests for example.

[2019-03-14 13:17] weilinqwe opened #5359 "alertmanager pod start failed"
Alertmanager version:  v0.15.2

[code]
Anyone can give a clue?

[2019-03-14 13:39] beorn7 commented on #455
See https://groups.google.com/forum/#!topic/prometheus-users/jU0Ghd_SyrQ

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue (in particular if it is a _closed_ GitHub issue). On the mailing list, more people are available to potentially respond to your question, and the whole

[2019-03-14 13:57] ahmed282828 opened #5360 "How to configure kubernetes_sd_configs to discover services in a different cluster"
I created a job in prometheus with kubernetes_sd_configs to discover services automatically without the need to declare them manually(Cadvisor, nodeexporter, KubeStateMetrics). i am using helm chart for prometheus. i tried this job and it can only discover the services in the cluster itself(same cluster with prometheus server installed) but not the other clusters

this is the job that i created. i

[2019-03-14 14:03] exklamationmark commented on #5356
I see. Indeed it would be misleading to follow SemVer in that case.
Should we add some notes to about this, or just leave it as is?

[2019-03-14 15:41] dcvtruong opened #5362 "Getting many compaction failed with invalid argument error in prometheus server log"
## Bug Report
**What did you do?**
I notice the many compaction error Prometheus server pod get scheduled over to a different k8s worker node
**What did you expect to see?**
Not so many compaction error in prometheus server log
**What did you see instead? Under which circumstances?**
Repeated compaction error with with invalid argument
**Environment**

* System information:

	Linux 3.10.0-957.1.3.

[2019-03-14 22:30] alevchuk commented on #5325
Still seems to be broken.

Re-ran make with the latest checkouts:
https://github.com/prometheus/node_exporter/commit/19e5bb6abdfbc69e9f2039485842eb3c0cf87d08
https://github.com/prometheus/prometheus/commit/8155cc49924cd48ec552506b4e5519ebafa8b722
https://github.com/prometheus/promu/commit/cdcd4358d7bf0abf3dcab7acf3b7ae2816544021
[code]

[2019-03-15 02:46] HarveyJie opened #5364 "v2.8.0 OOM with remote write"
2.8.0 version OOM always， update from 2.7.2

[2019-03-15 06:00] codesome commented on #5364
@HarveyJie are you using remote_write?

[2019-03-15 06:50] HarveyJie commented on #5364
@codesome yes!, I use remote_write  by timesale

[2019-03-15 06:52] codesome commented on #5364
remote_write uses WAL in 2.8.0 which apparently takes more memory than before. Work is in progress here https://github.com/prometheus/prometheus/pull/5316 to reduce the memory usage.

[2019-03-15 09:57] simonpasquier commented on #5325
@alevchuk the change to `Makefile.common` has to be propagated to the various repositories but it should work for github.com/prometheus/prometheus using the master branch. Can you check again for this one?

[2019-03-15 10:04] #5302 closed

[2019-03-15 10:05] simonpasquier commented on #5359
The pod has an IP address from a public Internet subnet and the memberlist library won't start unless you explicitly provide the address via the `--cluster.advertise-address` parameter. Assuming that the pod isn't effectively exposed directly to the Internet, you should be able to use the [Downward API](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-inform

[2019-03-15 10:05] #5359 closed

[2019-03-15 10:10] Wsyzxxn opened #5365 "now prom2json can use function TextToMetricFamilies ,but MetricsFamiles To Text didn't has method"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	inser

[2019-03-15 10:14] ahmed282828 commented on #5360
thank you a lot simonpasquier! am gonna try this!

[2019-03-15 10:18] simonpasquier commented on #5362
Do you use persistent storage for the data? If yes what kind of storage?

[2019-03-15 10:21] simonpasquier commented on #5356
I'd leave as it is now since the note would probably be hard to find for people anyway.

[2019-03-15 10:21] #5356 closed

[2019-03-15 10:54] simonpasquier commented on #5353
The RSS includes files that are memory-mapped and the kernel should reclaim the memory whenever needed. Regarding the startup time, Prometheus needs to sanity-check the data (blocks+WAL) before being ready. Long start time + compactions time would usually mean that your storage isn't fast enough and/or you have too many time series/samples.

What's the value of the `prometheus_tsdb_head_series` me

[2019-03-15 10:57] simonpasquier commented on #5365
Not sure what you want to report here but it isn't probably the correct repository...

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-03-15 10:57] #5365 closed

[2019-03-15 13:18] dcvtruong commented on #5362
Use storage class via azure files.

[2019-03-15 15:10] jsravn commented on #5193
I made a potential fix in https://github.com/prometheus/prometheus/pull/5368.

[2019-03-15 15:23] #5193 closed

[2019-03-15 15:28] simonpasquier commented on #5362
Hmm, I'm not familiar with Azure files but from the documentation, it is based on the SMB protocol and probably it isn't 100% POSIX compliant as mandated in the [documentation](https://prometheus.io/docs/prometheus/latest/storage/). For instance, we often have similar issues reported for NFS setups. You're better off asking to the Azure support directly.

[2019-03-15 15:30] simonpasquier commented on #5362
Also found a similar report for etcd: https://github.com/etcd-io/etcd/issues/6984#issuecomment-266639105

[2019-03-15 16:25] kiefersmith opened #5369 "WAL Corruption - recover.go does not recover"
## Bug Report
**What did you do?**

I noticed Grafana lost connection to Prom.  Looking at the Prom logs (below) there seems to be a corruption in the WAL.  This error made Prometheus' tsdb completely unavailable.

**What did you expect to see?**

No errors.

**What did you see instead? Under which circumstances?**

I saw an error in Grafana - `tsdb.HandleRequest() error ... dial tcp <prom_ip_addr

[2019-03-15 16:38] sylr opened #5370 "Display rules as defined in configuration"
## Proposal
**Use case. Why is this important?**

Prometheus rules can be quite complex thus the use of comments, new lines, uppercased keywords ... etc can help make it easier to understand.

E.G:

[code]

Unfortunately the Prometheus UI does not display the rules as they were written but like if a "sanitizer" have been applied, i.e.:

[code]
The latter is really quite indigest so it would be nic

[2019-03-15 16:38] dcvtruong commented on #5362
I'm trying to understand the behavior of the failure and if possible find the root cause.  Why does the compaction error occurs only 3+ hrs in after prometheus-server is running normally? How do I locate why the wal is stopped creating? Why is the *.tmp directory gets created and gets deleted dynamically from each scraped interval?

I'm doing alot of search from /var/log/messages, journalctl -xu k

[2019-03-15 17:12] brian-brazil commented on #5369
Can you reproduce with a newer version? It should delete everything after that point automatically.

[2019-03-15 17:13] brian-brazil commented on #5370
This is a limitation of the YAML parser we use, once it's better we can do better.

[2019-03-15 17:16] kiefersmith commented on #5369
I don't know what caused the error, really.  Any idea where this line:
 `level=error ts=2019-03-15T14:46:33.798892788Z caller=engine.go:530 component="query engine" msg="error expanding series set" err="context canceled"`
comes from?  Upgrading to a newer version sounds like a good idea.

[2019-03-15 17:38] brian-brazil commented on #5369
That's unrelated, it's shutdown stopping running queries.

[2019-03-15 17:42] kiefersmith commented on #5369
Any ideas about the SIGKILL, then?  That was not a manual action.

[2019-03-15 17:44] alevchuk commented on #5325
@simonpasquier i'll check prometheus as well (will need to try before and after your fix, because it never saw a break in prometheus). The delay between git push and pull is usually sub-second. Can you tell me what introduces the propagation delay here?

[2019-03-15 18:31] brian-brazil commented on #5369
That would have come from outside Prometheus.

[2019-03-15 18:45] kiefersmith commented on #5369
OK.  I'll try to reproduce with both the new and old versions of Prom and see what I come up with.  I suspect it has to do with an overload of the query engine.

[2019-03-15 21:29] sylr commented on #5370
The YAML parser seems capable to handle comments and multiline strings quite all right:

[code]

[2019-03-15 23:31] brian-brazil commented on #5370
Ah, you're looking at the rules page. Those are what the PromQL printer produces. On a page like that it's best to have the actual AST, rather than what may be a confusingly written expression.

Actually that's all multi-line strings. PromQLs supports # comments.

[2019-03-16 09:10] sylr commented on #5370
I'm talking at the alerts page really but it's the same problem.

I beg to differ, when you write a rule with indentation, comments and such to make it understandable and easily editable, having it reduced to it's simplest form is what is confusing.

[2019-03-16 10:04] brian-brazil commented on #5370
That's presuming you get the indentation etc. right. When debugging knowing how it's actually parsed is important.

[2019-03-16 10:42] sylr commented on #5370
That's not a valid concern, a simple `<pre>` block would be enough.

Maybe a few developpers are actually debugging prometheus query parser, users are concerned  to understand the sens of query that have been written by their colleagues.

[2019-03-16 10:59] brian-brazil commented on #5370
I don't see how that helps. If someone's has misleading indentation, it'll still be misleading.

I meant debugging queries, not Prometheus.

[2019-03-16 11:39] brian-brazil commented on #5370
This is from experience, it's not the ones that get it right that I have to spend time on.

The rules are on disk if you wish to view them.

[2019-03-16 11:43] brian-brazil commented on #5370
Which isn't to say the current printer couldn't be improved with some indentation and newlines.

[2019-03-16 12:34] sylr commented on #5370
![Prometheus_Time_Series_Collection_and_Processing_Server](https://user-images.githubusercontent.com/153052/54475326-419c5b80-47f0-11e9-9eee-71462a5699c3.png)

[2019-03-16 12:47] brian-brazil commented on #5370
That's non-standard indentation, anything on this page should be in a canonical form.

[2019-03-16 12:54] sylr commented on #5370
No, it should be as written in configuration.

[2019-03-16 15:55] bharaththiruveedula commented on #5343
@brian-brazil can I work on this?

[2019-03-16 16:03] brian-brazil commented on #5343
Sure

[2019-03-16 16:09] roidelapluie commented on #5370
I agree with @brian-brazil (did you change your github username?)

We have lots of complex PromQL and it helps to see how Prometheus "compiles" that. I do not want to see my "garbage" in the console. I have the files for it.

[2019-03-16 19:56] alevchuk commented on #5325
I found a workaround for my node_exporter build problem.

[code]

and remove "check_license" and "unused" from common-all line in `Makefile.common`
[code]

btw, I tried building prometheus, as requested, yet dropped it because it required "bzr" which pulls in a ton of dependencies

To be honest this build was stressful.  Yet, I appreciate the fast root-cause.

[2019-03-16 21:39] valyala commented on #4640
You can configure Prometheus to store data in systems with native PromQL support such as Thanos, Uber M3, Cortex or VictoriaMetrics. Then the data may be queried directly from these systems using PromQL without resorting to Prometheus.

[2019-03-16 21:46] sylr commented on #5370
That's the problem here, you only think of yourselves and don't think about how other people might need to understand your rules in the middle of the night.

[2019-03-16 22:02] roidelapluie commented on #5370
That is not true. We are making high usage of annotations for on call people.

[2019-03-16 22:09] roidelapluie commented on #5370
(And on call also has access to the rule files + ansible repos.. with the original queries)

[2019-03-16 22:18] beorn7 commented on #5370
I think the general idea is to have some kind of `promfmt`, similar to `gofmt`. Prometheus would format the parsed rules with `promfmt` to show the canonical indentation and formatting. In turn, humans writing rules can also use `promfmt` (similar to writing Go code, for example upon saving a rules file), so that everywhere the same canonical formatting would be used and nobody is confused.

Note

[2019-03-16 22:25] beorn7 commented on #4844
Closing this as the `update` command is gone, and while trying to verify the same problem with the rendering on the _Rules_ tab in the web UI, I could not reproduce the problem.

[2019-03-16 22:25] #4844 closed

[2019-03-16 22:26] beorn7 commented on #3115
This is obsolete as the rule migration tool is deprecated by now and taken out of current releases.

However, pretty formatting of rules is still a thing, see #5370 . Still, closing this one to avoid confusion.

[2019-03-16 22:26] #3115 closed

[2019-03-16 22:28] beorn7 commented on #5370
Aaand this idea is actually ancient – which I knew, but I forgot we have an issue for it: #21. It is, in fact, the second oldest still open issue…

[2019-03-16 22:33] beorn7 commented on #21
Some observations:
- With the 2.x rule format (YAML embedding PromQL), we want this to act on YAML files, too.
- It should preserve both comments in YAML and in PromQL.
- Indentation is crucial (not just line breaks).
- It has to be seen if certain line breaks in the input should be preserved in the output (cf. how `gofmt` does it).
- Wherever a rule is rendered, the same formatting should apply,

[2019-03-16 22:34] beorn7 commented on #5370
I amended #21 with some observations from the discussion here.

Would it be OK to close this issue in lieu of #21?

[2019-03-17 00:01] brian-brazil commented on #21
Our current YAML library doesn't do this, but is hoping to "soon".

[2019-03-17 08:08] SuperQ commented on #5325
Yes, I think someone introduced a dependency for one package that uses `bzr` rather than `git` to pull source.

[2019-03-17 09:54] discordianfish commented on #2791
Just tried this and hoped it would just work but it doesn't. Seems sensible to me to support this. It's IMO the right way to scrape anything outside of a kubernetes cluster.

[2019-03-17 11:34] sylr commented on #5370
All right.

[2019-03-17 11:34] #5370 closed

[2019-03-17 13:52] nickychow commented on #5016
I got the exact same issues. The prometheus-server is running on 16G RAM worker nodes without the resource limits.

Kubelet logs totally normal.

here are the prometheus-server logs

[code]

[2019-03-18 08:49] simonpasquier commented on #5016
@dcvtruong @nickychow your issues don't seem to be related to the original one. Data on disk seems to be corrupted somehow and you'll have to [delete](https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects) the data directory. Also make sure that you're running the latest stable version of Prometheus as recent versions include many stability improvements.

[2019-03-18 08:53] simonpasquier commented on #5325
Re bzr being needed to build Prometheus, it is commented in the Makefile:

https://github.com/prometheus/prometheus/blob/10ec2552af1be4a421b89afd4a1f8eb17948a187/Makefile#L22-L24

[2019-03-18 09:01] simonpasquier commented on #5325
To be precise, the canonical version of `Makefile.common` is maintained on https://github.com/prometheus/prometheus then _someone_ has to open PRs on the other repositories to sync the local version with the canonical one. It is a bit tedious but we haven't spent more time to streamline the process yet...

[2019-03-18 09:03] SuperQ commented on #5325
@simonpasquier It seems like launchpad.net/gocheck is abandoned. There is now http://labix.org/gocheck located at `gopkg.in/check.v1`.

[2019-03-18 09:05] simonpasquier commented on #5325
Unfortunately we don't control this dependency as it is pulled indirectly from `github.com/hashicorp/consul`...

[code]

[2019-03-18 09:19] SuperQ commented on #5325
Yea, I was looking at that stack of dependencies. It looks like the latest version of `github.com/hashicorp/go-msgpack/codec` has eliminated the test that depends on `labix.org/v2/mgo/bson`, which eliminates the need for `launchpad.net/gocheck`.

[2019-03-18 09:20] simonpasquier commented on #5325
Yes, sending a PR right away.

[2019-03-18 09:39] simonpasquier commented on #2791
This should be fixed since v2.7.0 by https://github.com/prometheus/prometheus/commit/de6f3b6af7bb1fa333b22143b8cedf72122eded2. @discordianfish which version did you try?

[2019-03-18 10:00] daixiang0 opened #5379 "keep old data with hourly granular"
In a Production Environment, i set the time to delete data is `15d` and collect data every `15s`.

Now i want to view data trend graph in whole year(i think it is useful), but the data size of whole year is too large, so i want delete old data over one month, but not remove them all, just keep them with hour level, so that data size could be small.

Is it possible?

[2019-03-18 10:02] brian-brazil commented on #5379
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-03-18 10:02] #5379 closed

[2019-03-18 10:35] lcgogo opened #5380 "no data for a UP target"
## Proposal
**Use case. Why is this important?**
I can see one target in prometheus target website, however, I can not get anything of it from prometheus database.

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**
I have config a target in the prometheus.yml and the target website is UP. However, in console, there is no target information. The other tragets are OK ex

[2019-03-18 10:37] brian-brazil commented on #5380
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-03-18 10:37] #5380 closed

[2019-03-18 12:42] brancz commented on #2791
@simonpasquier I don't think so. I've thought about this a bit more and I don't think an external service type service is generalizable. We still want to perform whitebox monitoring, and we can't generalize that for the same reason we have multiple service discovery mechanisms. Those external systems simply are not part of the same service discovery infrastructure.

[2019-03-18 12:42] simonpasquier commented on #5362
The error is triggered when Prometheus wants to persist the WAL to disk which happens only after a while.

As the compaction fails, the WAL is never reinitialized.

Prometheus will clean after itself if/when something goes wrong.

[2019-03-18 13:10] #5362 closed

[2019-03-18 13:26] dcvtruong commented on #5362
Hi @simonpasquier,

Follow-up to the WAL related question.  If the WAL is never initialized due to the compaction error the block of sample is not persisted.  But the metrics is still available to grafana?

[2019-03-18 13:41] brian-brazil commented on #2791
Those are my thoughts too. Anything outside of k8 will be monitored the ways you'd monitor anything else outside of k8.

[2019-03-18 14:06] simonpasquier commented on #5362
The write-ahead log (WAL) contains the metrics for the last 2 hours which are also kept in memory. If Prometheus can't persist the WAL then those metrics will be lost on restart/crash. In any case, running a Prometheus server with a filesystem known to cause problems isn't recommended.

[2019-03-18 15:16] dcvtruong commented on #5362
We are using cloud provider Azure.  If filesystem is not recommended, what about using blob as storage?

[2019-03-18 15:33] zhulongcheng commented on #5380
Maybe add the `prometheus-users mailing list` to `README.md`?

[2019-03-18 18:02] #5354 closed

[2019-03-18 20:31] #5364 closed

[2019-03-18 20:31] #3647 closed

[2019-03-18 20:35] tomwilkie commented on #5347
@andridzi I understand.  Can you post a screen shot of `prometheus_wal_watcher_current_segment` and `rate(prometheus_wal_watcher_records_read_total[1m])` run over the past couple of days?

[2019-03-18 20:45] andridzi commented on #5347
<img width="1424" alt="Screen Shot 2019-03-18 at 10 42 09 PM" src="https://user-images.githubusercontent.com/45969016/54562334-7ca8b580-49cf-11e9-9d8d-632f67cbcc60.png">
<img width="1436" alt="Screen Shot 2019-03-18 at 10 43 00 PM" src="https://user-images.githubusercontent.com/45969016/54562335-7d414c00-49cf-11e9-8873-da3120125be7.png">

[2019-03-18 21:01] chrisfw opened #5383 "Scrapes time out with no error in logs and no apparent problem with scrape endpoint"
## Bug Report
**What did you do?**
Configured prometheus to scrape primary target at 15s intervals

**What did you expect to see?**

No gaps in metrics loaded via scrape

**What did you see instead? Under which circumstances?**

On two different occasions after a period of time running prometheus, I noticed sampling gaps and it appears from the scrape_duration_seconds metric that scrapes were timi

[2019-03-19 06:35] vishksaj commented on #5353
Hi @simonpasquier :

prometheus_tsdb_head_series : 10.35 Mil
I am using EBS GP2 Volume with 1500 GiB storage and 4500 IOPS

[2019-03-19 10:40] Zero-2 opened #5384 "Prometheus doesn't respect cgroup memory limit"
## Bug Report
**What did you do?**

**What did you expect to see?**
Prometheus tunes memory usage to limits defined in the deployment.

**What did you see instead? Under which circumstances?**
Prometheus use more memory than available and it's killed by cgroup system.

**Environment**
Kubernetes cluster on Azure.

* System information:

Linux 4.15.0-1036-azure x86_64

* Prometheus version:

promet

[2019-03-19 10:42] brian-brazil commented on #5384
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-03-19 10:42] #5384 closed

[2019-03-19 11:04] Zero-2 commented on #5384
Ok, thanks :-)

[2019-03-19 12:02] tomwilkie commented on #5347
Yeah that doesn't look very happy.  The large spikes in records read show the retries replaying the WAL when it hits corruptions.

Can you tell me a bit about the system you're running on?  What OS and disk are you using?

[2019-03-19 13:00] andridzi commented on #5347
it is running in k8s cluster
image based on alpine 3.8
volume is mounted directly from node
and on the node it is glusterfs (I guess it can be the purpose of the issue)

[2019-03-19 14:13] allangood commented on #5353
I'm experiencing the same issue. Started to happen when I migrated to 2.7.1. Tried to downgrade to 2.6.0 but the problem persists. I noticed a huge spike on memory usage every 2 hours (tsdb related jobs) after the upgrade. In my case, Prometheus is completely offline since the upgrade.

[2019-03-20 02:11] alburthoffman opened #5385 "support stddev for matrix with group bys"
## Proposal
**Use case. Why is this important?**
stddev is quite useful function. and sometimes we want to caculate it for a given time window with group bys. But it turns out that prometheus could support it easily.

## Bug Report
**What did you do?**
simply speaking, I want to do something like this
`stddev_over_time(metric[10m]) by (pool, colo)`

**What did you expect to see?**
it will group by

[2019-03-20 03:35] geekodour commented on #21
I'd like to include this in my gsoc proposal. @brian-brazil, can you link to the YAML library you're referring to?

[2019-03-20 08:09] brian-brazil commented on #5385
We don't mix cross-sectional and longitudinal aggregations. What you probably want here is a recording rule with the cross-sectional, and then do the over_time on that.

[2019-03-20 08:14] brian-brazil commented on #21
https://github.com/go-yaml/yaml, but I'd scope this to just the PromQL as this stands.

[2019-03-20 10:07] simonpasquier commented on #5353
A Prometheus server with 10M series is a large setup. You may consider [sharding](https://www.robustperception.io/scaling-and-federating-prometheus) your targets across multiple servers.

@allangood if you see the same behavior after rolling back to v2.6, it seems unrelated to the version change. Most probably, the dataset has grown causing higher load. Every 2 hours, Prometheus will write the WAL

[2019-03-20 10:24] simonpasquier commented on #5383
We would need profile data to troubleshoot this issue. Next time it happens, you need to run the `promtool debug all ...` command and attach the output here.

[2019-03-20 19:20] juliusv commented on #21
@brian-brazil But since the PromQL from rules is always embedded in YAML files, it at least has to preserve YAML comments, right? Otherwise the tool wouldn't be very useful as nobody wants to lose their comments the benefit of formatting.

[2019-03-21 00:05] brian-brazil commented on #21
That'd be nice, but we can get benefits without that. I'd rather also not depend on something with an unclear timeline for a gsoc project.

[2019-03-21 08:46] beorn- opened #5389 "upgrade from 2.7.1 to 2.8.0 provokes consistently ~ 30% loss of metrics passing through remote_write"
## Bug Report
**What did you do?**
After an upgrade from prometheus 2.7.1 to prometheus 2.8.0 i faced a a big metric loss with the remote_write rewrite.

**What did you expect to see?**
Nothing special.

**What did you see instead? Under which circumstances?**
loosing roughly 30% of metrics because of "dropped sample for series that was not explicitly dropped via relabelling"

**Environment**
Debi

[2019-03-21 08:47] beorn- commented on #5389
(1.7M timeseries in this instance)

[2019-03-21 08:56] krasi-georgiev commented on #5389
ping @cstyan 	@tomwilkie 	@gouthamve

[2019-03-21 09:06] yaminisridaran opened #5391 "Record rule and Alert rule expression needs to take dynamic values for the labels"
Record rule and Alert rule expression needs to take dynamic values for the labels
Example:
MetricName{"labels"=<runtime generated value>}

runtime generated value is not known during deployment time.
Required a promQL expression dynamic value for labels of metric
sum(MetricName{"labels"=<runtime generated value>})

Same for Alert Rules expression.

[2019-03-21 09:15] brian-brazil commented on #5391
This sounds more like a usage question, PromQL is already powerful enough for any label handling you should need.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole communit

[2019-03-21 09:15] #5391 closed

[2019-03-21 09:59] vtomasr5 commented on #5016
Hi,

We have the same problem. We increased the memory but it doesn't solve the problem.

We use consul for autodiscover the services that has the metrics. In our case, we've discovered that consul queries that are used for checking the services to scrap last too long and reaches the timeout limit.

[code]

As you can see, the ```index``` parameter in the URL is blocking the query as we've seen in

[2019-03-21 10:20] tomwilkie commented on #5389
Thanks for the report @beorn-!

Looks like you have a corrupt WAL:
[code]

Can you grab screenshots of the following queries please?
- `rate(prometheus_tsdb_head_samples_appended_total[1m])`
- `rate(prometheus_remote_storage_samples_in_total[1m])`

Those missing series records from the WAL explain why the remote write code is dropping samples for those series.  When the next checkpoint hits, the r

[2019-03-21 10:33] krasi-georgiev commented on #5389
btw we have been getting "unknown series references" for quite a while and never found the real culprit for that.
https://github.com/prometheus/tsdb/issues/21

[2019-03-21 11:21] beorn- commented on #5389
![prometheus_2_8_issue_5389](https://user-images.githubusercontent.com/651211/54749085-ce219200-4bd3-11e9-8035-b22fcd8da13c.png)

[2019-03-21 11:22] beorn- commented on #5389
The green graph is 2.7.1. the other are the 2.8.0 with a few restarts along the way

[2019-03-21 11:40] Linux-oiD opened #5393 "2.8.0 file_sd parsing issue during config reload"
I'm using official Prometheus docker image:

Key | Value
---------|----------
Version | 2.8.0
Revision | 59369491cfdfe8dcb325723d6d28a837887a07b9
Branch | HEAD
Build user | root@4c4d5c29b71f
Build Date | 20190312-07:46:58
GO version | go1.11.5

One of my target scrape config looks like this:

[code]

I have simple sidecar container for manage configuration. It's watching for changes in configurati

[2019-03-21 11:51] beorn7 commented on #4966
The Grafana problem has been solved by https://github.com/grafana/grafana/pull/16110 .

I'll leave this issue open nevertheless. I think adding the maximum timestamp currently in the tsdb as suggested above is a good first step to at least make the problem of “querying the future” discoverable. I also think we should document the stability of query results over time explicitly (grace period for sa

[2019-03-21 12:11] brian-brazil commented on #5393
What's the PWD of the Prometheus?

[2019-03-21 12:11] beorn7 commented on #21
Let's start with the PromQL part. The YAML part should be almost trivial once the library supports comment nodes.

[2019-03-21 12:12] brian-brazil commented on #4966
Those shouldn't be an issue, as it's either a compaction or a reload.

[2019-03-21 12:16] BenoitKnecht opened #5394 "Prometheus can leak goroutines when scraping targets over unreliable connection"
## Bug Report

I noticed that my Prometheus server is leaking goroutines, and that it correlates to established TCP connections:

![image](https://user-images.githubusercontent.com/1238084/54747012-fc03d800-4bcd-11e9-97ad-d3d56931a656.png)

The TCP connections in question all go to the same host, which is on the other end of a pretty unreliable VPN tunnel.

This is the top of the goroutine profile

[2019-03-21 12:18] beorn7 commented on #4966
I don't understand the relevance.

If I add an overlapping block, I'll “change the past” and thus it is important to keep in mind if a user of the query API wants to do caching. No?

[2019-03-21 12:19] brian-brazil commented on #5394
Great, we've been trying to track this down for a long time!

[2019-03-21 12:20] brian-brazil commented on #4966
Ah right. Deletion and retention also will have that effect.

[2019-03-21 12:37] tomwilkie opened #5395 "Remote write should remove metrics for queues that have gone away"
This is so alerts on queues being behind don't fire when the queues go away.

[2019-03-21 12:37] Linux-oiD commented on #5393
@brian-brazil what do you mean? Prometheus running in docker container.
Here mounts and config parts from docker inspect:
[code]

[2019-03-21 13:03] juliusv commented on #21
Ok!

[2019-03-21 13:54] glightfoot commented on #5222
Is there any way we can move this along? I had syntax bug get checked in that we could have prevented with this...

[2019-03-21 14:07] allangood commented on #5353
Hi @simonpasquier, I would like to agree, but currently my Prometheus server doesn't have any target defined (I've disabled everything in a hope to put it back online, without luck). I don't know if the upgrade have changed something in the TSDB, but even without any target defined, my Prometheus just can't get online. It starts to consume all available RAM memory, then hits hard the swap, OOM kil

[2019-03-21 16:02] simonpasquier commented on #5353
@allangood Anything in the logs? have you tried starting Prometheus with `--log.level=debug`?

[2019-03-21 16:56] beorn7 commented on #5142
Ran into the same issue. Definitely :+1: for having bytes as default if no unit specified.

[2019-03-21 17:13] allangood commented on #5353
Hi @simonpasquier,

Nothing really useful in the logs:
[code]

I will post the output of `tsdb analyze /var/lib/prometheus` to give you more information.
And I didn't try to run with `--log.level=debug` yet, I will post the output with the tsdb output.

Thank you very much!

[2019-03-21 17:31] cstyan commented on #5389
Unfortunately there isn't much we can do in 2.8 regarding remote write if the WAL is corrupt.

In prior versions remote write got samples to send via copying them from scrapes, but now we read them from the WAL, and within the WAL there are series records (telling us about metric name and labels) and samples records (with a ref ID to the series record, and then the TS and value for that sample).

[2019-03-21 18:23] allangood commented on #5353
Here the outputs:

### TSDB
[code]
### Debug
[code]
Then the service stuck here forever and is killed by OOM.

I'm in the process to migrate the TSDB files to another server with more resources, when I'm done, I will return with the graphs.

Thank you again @simonpasquier

[2019-03-21 19:27] allangood commented on #5353
TSDB back online.

This image is the memory consumption before and after the upgrade.
The first blue line (around 3/6) marks the upgrade to 2.7.2 from 2.6.0 and the second the upgrade to 2.8.0:
![image](https://user-images.githubusercontent.com/757086/54778999-1c3e9180-4be4-11e9-877c-c42dcb1909cb.png)

This is what is happening now:
![image](https://user-images.githubusercontent.com/757086/5477910

[2019-03-22 01:21] allangood commented on #5353
Some more information:

These graphs came from the Prometheus Benchmark 2.x dashboard:
Blue line marks the upgrade from 2.6.0 to 2.7.2

This is the most strange graph. The GC climbed from avg 4GB to 10Gb then to 14GB:
![image](https://user-images.githubusercontent.com/757086/54794454-920f2100-4c15-11e9-977e-26ae4ba6eee3.png)

![image](https://user-images.githubusercontent.com/757086/54794477-ac48f

[2019-03-22 08:30] brian-brazil commented on #5353
That's a cardinality issue, that happens to coincide with the upgrade.

On Fri 22 Mar 2019, 01:21 Allan Gomes GooD, <notifications@github.com>
wrote:

[2019-03-22 08:38] DemoLiang opened #5396 "how many metrics can i pull from pushgateway?"
## Proposal
**Use case. Why is this important?**
1. i want to now prometheus performance, How many metrics can i pull from pushgateway at once?

I configured scrape_interval 1m pull once, scrape_timedout 10s,evaluation_interval 5s, and timeout occurred from pushgateway pull 500000 metric.

*“Nice to have” is not a good use case. :)*

[2019-03-22 09:21] beorn- commented on #5389
So @cstyan somehow flushing the WAL should solve my issue right ? Is there some fsck-ish tool somewhere ? Can it be safely reseted ?

[2019-03-22 09:33] roidelapluie commented on #5396
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.org/?channel

[2019-03-22 10:56] grockeek commented on #4686
@ldormoy : I was able to achieve this, creating a unique pair of access/secret key :

- A "main" account in which you create an user w/ access/secret key; aws `credentials` file needs to be deployed on your Prometheus machine and eventually included in systemd service file (through `Environment=AWS_SHARED_CREDENTIALS_FILE=your_file/location` directive). You also need an `AssumeRole` policy you wil

[2019-03-22 11:16] wlay opened #5397 "Prometheus stop timeout"
## Proposal
**Use case. Why is this important?**
Prometheus process can't exit gracefully.

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**
sudo systemctl stop prometheus.service
**What did you expect to see?**
The process exit gracefully. And show "See you next time!"
**What did you see instead? Under which circumstances?**
The process didn't show the message "See

[2019-03-22 12:22] troy256 commented on #4845
Running Prometheus and Grafana on top of Kubernetes and get the same issue periodically.  I just checked and my NFS mounts are v4.  Is falling back to v3 a viable workaround?

[2019-03-22 14:29] allangood commented on #5353
Hi @brian-brazil,

Can you help me to understand this issue? What piece of information made you to find it out? And what is more important for me, how can I prevent this to happen again?
This issue made Prometheus to behaviour very erratically, consuming all available memory and making the whole machine unavailable (I couldn't even login to these machines due to OOM).
As you can see, the problem s

[2019-03-22 15:10] beorn7 opened #5398 "Need overflow check for `--storage.tsdb.retention.time`"
## Bug Report
**What did you do?**

Ran `prometheus --storage.tsdb.retention.time=300y`

**What did you expect to see?**

A Prometheus server deleting only samples more than 300y old. Or more realistically an error that the retention time is too long.

**What did you see instead? Under which circumstances?**

The retention time, according to the `/flags` page, was set to -8985944073709ms.

**Envir

[2019-03-22 15:12] theRealAJR commented on #4845
Yes, I have no problems any more in NFS V3.

[2019-03-22 15:28] troy256 commented on #4845
@theRealAJR Thanks, just made the switch.  I will report back if any issues.

[2019-03-22 16:22] simonpasquier commented on #5397
Did you configure any specific [`TimeoutStopSec`](https://www.freedesktop.org/software/systemd/man/systemd.service.html#TimeoutStopSec=) value? Have you tried starting and stopping without systemd and confirm that the process never stops?

[2019-03-22 16:31] #5396 closed

[2019-03-22 17:08] DrHashi commented on #4686
@grockeek The functionality is to NOT use keys or store keys locally as it's insecure and can be easily exploited, rather the EC2 machine role AKA role_arn in this case.

The api SHOULD be able to handle what role to use without the role_arn but it does not.

[2019-03-23 10:08] pranjaltale16 commented on #5398
Hello, I would like to work on this issue. I think we can add a check [here](https://github.com/prometheus/prometheus/blob/master/cmd/prometheus/main.go#L279). I'm new to prometheus and hence I'm not sure whether is the best way to fix this or not. Let me know if there is some other way to fix this issue.

[2019-03-23 10:18] codesome commented on #5398
There is already a check:https://github.com/prometheus/prometheus/blob/844af4c0b57f0559d60e55060aecd43331829c73/cmd/prometheus/main.go#L288-L296
It should have been set to `100y` if there was an overflow. Not sure why it showed negative on the UI.

@beorn7 was there any log mentioning that time retention value is too high?

[2019-03-23 10:24] codesome commented on #5398
On another note, `/flags` shows what was passed in the command line for time and size. `/status` will show what actually was applied.

When I pass `300y`, I see `-8985944073709ms` in `/flags` and `100y` in `/status`. @beorn7 can you confirm?

[2019-03-23 10:37] pranjaltale16 commented on #5398
I think, the problem is because we are not updating `newFlagRetentionDuration` value. If we pass 300y it sets the value of `cfg.tsdb.RetentionDuration` to negative [here](https://github.com/prometheus/prometheus/blob/master/cmd/prometheus/main.go#L280). After checking the value of `cfg.tsdb.RetentionDuration` we set this to `100y` but never update the flag value. The fix can be to update the `newF

[2019-03-23 10:50] codesome commented on #5398
As I said, `/flags` shows what was passed in the command line for time and size, `/status` will show what actually was applied. So `/flag` should display `300y` here.

The fix for this could be display the string passed in the flag if we encounter overflow. Note that this is just for the UI and the corrected value is already being used via `cfg.tsdb.RetentionDuration`.

[2019-03-23 10:55] anatoliykim opened #5399 "Spamming with lock[bot]"
What are you guys doing?

I am receiving tonns of notification emails about issues closing down due to noone writing in them.

They are all like this:

lock[bot] <notifications@github.com> | lock[bot] <notifications@github.com> | 13:46 (6 minutes ago)

This thread has been automatically locked since there has not been any recent activity after it was closed. Please open a new issue for related bug

[2019-03-23 10:56] anatoliykim commented on #5399
![image](https://user-images.githubusercontent.com/7089946/54865234-6609b200-4d73-11e9-9f51-74f0053e1258.png)

[2019-03-23 11:09] pranjaltale16 commented on #5398
@codesome Thank you for clearing this out. Can you help me with this issue? How can I fix this?

[2019-03-23 11:18] chrisfw commented on #5383
Thank you.  Will do.

[2019-03-23 20:24] brian-brazil commented on #5398
That depends on kingpin library internals. I wouldn't go to a lot of effort to adjust this, we've already a log message and the right value on /status.

[2019-03-23 20:59] beorn7 commented on #5398
All good, saw the logging now, and the correction. I was just confused by the `/flags` output.
As the case is pretty rare, it's probably not worth creating a special case in flag handling here, as @brian-brazil said.
My only remaining thought is that fixing a flag value should perhaps be at warn level and not only info. But that's a minor concern. Closing this.

[2019-03-23 20:59] #5398 closed

[2019-03-23 21:17] brian-brazil commented on #5398
Yeah, warn would be better.

[2019-03-24 05:39] codesome commented on #5399
This would go on for some time now for old issues (See https://github.com/prometheus/prometheus/pull/5392). Best you can do is add a filter to automatically archive emails from lock[bot].

Closing this as this is not an issue with Prometheus itself.

[2019-03-24 06:43] gouthamve commented on #5399
Well it's still a huge pain and I'm also being spammed with lockbot notifications and I expect it to be the same for others following the project. I think the best thing to do would be for someone to go and manually close all the issues that are older than 180days.

I'll do it tomorrow unless someone else volunteers.

[2019-03-24 17:53] anatoliykim commented on #5399
It was not like that before. I was receiving emails only about on-going discussions and updates. But this - this is pure spam.

I agree that it might not be related to Prometheus and instead something the Github has changed.

[2019-03-24 18:02] codesome commented on #5399
@gouthamve Yes, I agree, I don't like the spam either. The bot is actually locking old closed issues, and not exactly closing open issues as far as I can see. I don't think you want to go over ~2k issues (which is just of prometheus/prometheus).

@SuperQ  is it possible to reduce the frequency? Like some X number of issues to lock per day. That _might_ reduce the effort to browse through relevant

[2019-03-24 19:34] hoffie commented on #5399
Or increase the frequency so that all issues are done at once and we don't have to delete mail dail (or set up extra filter rules). I am highly annoyed by these mails as well (although I understand the motivation for using the app).

[2019-03-24 20:34] tomwilkie opened #5400 "Consider using the Kahan summation algorithm to reduce accumulation of errors in floating point arithmetic."
(Just read this on hacker new: https://hypothesis.works/articles/calculating-the-mean/ and https://news.ycombinator.com/item?id=19470945)

This should be relatively easy for us to implement, and should precision of our sums.

https://en.wikipedia.org/wiki/Kahan_summation_algorithm

[2019-03-24 20:35] tomwilkie commented on #5400
This could be considered related to #4533.

[2019-03-24 21:06] SuperQ commented on #5399
I added a gmail filter for the closed emails and called it a day.

[2019-03-25 01:46] wlay commented on #5397
Hi @simonpasquier
I didn't configure the "TimeoutStopSec".
This problem is not repeated every time. Is there any good way to confirm this problem from your point of view?

[2019-03-25 07:20] spoorti22 opened #5401 "Node labels not seen on the grafana dashboard when prometheus is deployed without pv enabled"
## Proposal
**Label values for a variable defined in Grafana dashvboard doesn't seem to capture the data.**

## Bug Report
**The label values which is created as a variable, is not getting the data**
 This api should give the node/pod values /api/v1/label/kubernetes_io_hostname/values
{"status":"success","data":[]}

**What did you expect to see?**
The node/pod values should have been seen

**What

[2019-03-25 08:59] arunkjn commented on #1315
Hi @brian-brazil, So what is the recommended way (if any) to do this today? I am using prometheus 2.1. Thanks.

[2019-03-25 10:33] brian-brazil commented on #5401
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-03-25 10:33] #5401 closed

[2019-03-25 11:35] simonpasquier commented on #5397
In that case, I would recommend setting a `TimeoutStopSec` value large enough to accomodate your setup. You might want to start/stop the process a few times manually (eg without systemd), measure how long it takes to exit effectively and multiply this number by a few.

[2019-03-25 11:43] #5399 closed

[2019-03-25 13:11] eloo commented on #5212
@genofire
i really like your idea because atm i'm exactly hitting this issue.
for now my plan is to have a sidecar which does this.. but this doesn't feel good so far..

so it would be really cool if this could be considered as one of the next feature

[2019-03-25 13:16] brian-brazil commented on #5212
There's no plans at all to add something like this, if you need this then cron and file_sd is the way to go.

[2019-03-25 13:32] gouthamve opened #5867 "tsdb: Checkpoint fails due checksum mismatch on old segments"
Relevant Prometheus logs:
[code]

This is a relatively okay bug as it only stops creation of checkpoints. But we should ideally recover from this.

[2019-03-25 13:55] tomwilkie commented on #5347
Oh thats interesting.  While I doubt we're seeing corruption from that, I could imagine a possibility where we don't play well with gluster from a fsync PoV.  Unfortunately I can't think of a way to test this.  Perhaps you could spin up another Prometheus using local disks?

If you restart this Prometheus does the issue persist?

[2019-03-25 13:57] tomwilkie commented on #5389
QQ - where is the Prometheus data stored?  Is this a local or a network disk?  Are you using a particular cloud provider?

[2019-03-25 13:58] tomwilkie commented on #5389
Also, I suspect if you leave it running for long enough the errors will subside - if possible it would be worth a try.

[2019-03-25 14:29] eloo commented on #5212
@brian-brazil okay.. thats sad.. and what about an sd feature for promregator? like consul_sd or the others?

[2019-03-25 14:42] beorn- commented on #5389
It is stored locally on baremetal servers.

I've checked the WAL keeps something like 5 hours. During the reload i've had

it's been days since my last upgrade test so the WAL are brand new.

According to the explications/assumptions given here I expected to be out of the woods, but i've had the very same problem. A rollback instantly fixed the issue.

[2019-03-25 16:09] brian-brazil commented on #5212
promregator does far more than SD, so even if we begin accepting SDs again in the future I don't see that being one of them.

[2019-03-25 16:23] mattalberts opened #5404 "Job relabeling stops working after v2.4.3"
## Bug Report
Relabeling a job stoped working after v2.4.3.

**What did you do?**
Set scrape config to relabel job based on `__meta_kubernetes_namespace`
[code]

**What did you expect to see?**
I expected to see the `job` label replaced by the value of `__meta_kubernetes_namespace`. the expected behavior occurs on v2.4.3 and prior.

<img width="1132" alt="prom-job-namespace" src="https://user-imag

[2019-03-25 17:55] brian-brazil commented on #5404
It still works as before, the status page changed however. The job label was briefly not shown here, but it's there again now.

[2019-03-25 18:21] mattalberts commented on #5404
@brian-brazil Ah! Okay, so it was only the status page that was changed. Is the update. That's good to know.  I've just confirmed that job was set on the metric (even through it was not displayed on the status page).

<img width="1601" alt="prom-job-in-metrics" src="https://user-images.githubusercontent.com/6054865/54944062-e6552200-4eef-11e9-86ca-77ec5be1eeea.png">

When you say briefly, was ther

[2019-03-25 18:37] brian-brazil commented on #5404
That release was several months ago, either 2.5 or 2.6.

[2019-03-25 18:51] mattalberts commented on #5404
Maybe it regressed for v2.8.0? All my screenshots are from v2.8.0

[2019-03-26 05:55] freeseacher opened #5405 "Labels in alert can't be used in annotation"
## Proposal
I'm mocking alert to make better templates for opsgenie. I do not have any data in prometheus and no plans to have it in on my laptop. While doing templates i want to build several alerts and make sure that my pretty complex templates works as expected. Especially grouping and selection which annotation will win after grouping and inhibit rules.
I'm extremely frustrated that i can't mo

[2019-03-26 08:34] Danielv123 commented on #5343
With the PR merged, this issue should be considered for closing.

[2019-03-26 08:46] simonpasquier commented on #5404
Right there's been a regression introduced by the Boostrap upgrade, see #5406.

[2019-03-26 09:27] brian-brazil commented on #5405
I'm afraid this is not something that can be done, all labels/annotations are evaluated independently with no ordering as there is no sane ordering. I'd suggest creating a recording rule for the time series with the labels you need.

[2019-03-26 09:36] pborzenkov commented on #4058
@brian-brazil @krasi-georgiev We are facing the same issue. Sometimes lots of meta.json files are zero-sized. We run Prometheus on local ext4 FS.

Looking at the `writeMetaFile`, shouldn't the file contents itself be synced before close?

[2019-03-26 09:40] echo-of-wind opened #5407 "average of only successful scrape"
for every scrape, two metrics are gotten:
1. probe_status, 0 for failure, 1 for success
2. probe_duration, duration for probe

so how to query avg of probe_duration for probes whose probe_status are success?

[2019-03-26 09:46] brian-brazil commented on #5407
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-03-26 09:46] #5407 closed

[2019-03-26 09:46] #5343 closed

[2019-03-26 11:08] pborzenkov commented on #4058
Strangely enough, all the meta.json files have the same modification time and zero size:

[code]

There are no errors in prometheus log...

[2019-03-26 11:12] krasi-georgiev commented on #4058
hm I would expect that the kernel should handle the file sync so don't think this is the culprit.

How long does it take to replicate?

can you ping me on #prometheus-dev , @krasi-georgiev and will try to replicate and find the culprit as this has been a pending issue for a while now.

[2019-03-26 11:19] pborzenkov commented on #4058
Close definitely doesn't guarantee sync. Also, if a node crashes before the kernel flushes its write-back cache, then we can end-up with a file with no contents, yet successful write/close/rename.

Not sure. Happens sporadically. What I can say is that we've seen it *only* after a node crashed. Everything is fine during normal operation.

[2019-03-26 11:33] krasi-georgiev commented on #4058
@pborzenkov 	yeah maybe you are right, just checked the code and Fsync is called for the other block Write operations.
https://github.com/prometheus/tsdb/blob/7757fe6f21d4d9f21bf7a1da92fe573b7d4318c3/compact.go#L629

I will open a PR with the fsync for `writeMetaFile`  and will add will attach a binary to it if you want to test it.

[2019-03-26 11:35] Natalique commented on #5353
Having the same issue. it takes 20 mins for tsdb to start

[2019-03-26 12:46] #4727 closed

[2019-03-26 12:52] dswarbrick opened #5408 "panic: sync: negative WaitGroup counter"
## Bug Report
**What did you do?**
Restart Prometheus after oom-kill / crash.

**What did you expect to see?**
Resumption of normal operation.

**What did you see instead? Under which circumstances?**
Prometheus panicked with "negative WaitGroup counter" shortly after reaching "Server is ready to receive web requests" state. Once this occurs, the symptoms are repeatable.

This condition occurs _mo

[2019-03-26 13:24] brian-brazil commented on #5393
I can't reproduce this. Are you sure that's your config file and that it didn't change?

[2019-03-26 13:41] simonpasquier commented on #5408
This crash happens using the Debian package. Have you tried to reproduce it with the vanilla version? If it fails systematically after the initial crash, maybe try running the vanilla version on the same data directory...

[2019-03-26 13:53] dswarbrick commented on #5408
I'm somewhat skeptical that it's due to the Debian package, since the stack trace shows the panic occurring in the github/prometheus/tsdb package, and the Debian package is built using the same version (0.4.0) as what is specified in go.mod for the v2.7.1 tag of Prometheus.

Since Go binaries are statically linked, I don't think one can so readily blame the distro (i.e. due to outdated shared libr

[2019-03-26 13:56] pborzenkov commented on #4058
@krasi-georgiev I'll be happy to test (thought, definitely not in production :)), but crash-related bugs are notoriously hard to reproduce. I tried to check the bug using ALICE (http://research.cs.wisc.edu/adsl/Software/alice/doc/adsl-doc.html) which greatly helped me in the past and that is what I got:

Here is the write part of the test (tsdb.WriteMetaFile just calls tsdb.writeMetaFile):

[code]

[2019-03-26 14:07] brian-brazil commented on #5408
If you can send us WAL files that cause this, that'd be handy.

[2019-03-26 14:11] dswarbrick commented on #5408
@brian-brazil I no longer have the WALs from the most recent crash, so I would have to try to provoke it on a test instance. However, since the panic still occurs _after_ removing the WAL completely (but not touching the most recent chunk), do you think the WAL will actually hold the answer?

[2019-03-26 14:13] brian-brazil commented on #5408
Just the most recent chunk would help in that case.

[2019-03-26 14:56] simonpasquier commented on #5408
I didn't want to imply that downstream was doing a bad job (quite the opposite in fact). I simply want to clear out any possible cause.

[2019-03-26 18:24] codesome commented on #5404
Closed by #5406

[2019-03-26 18:24] #5404 closed

[2019-03-26 22:07] jcchavezs commented on #4509
I might be late to join the discussion. Since the purpose of this feature is to **provide visibility to the latency prone operations in prometheus** I don't think support for different backends is a crucial need mostly because users are not correlating those traces with other services.

Zipkin just got a new UI (and we are just discussing whether to publish it as npm package) and writing an in-mem

[2019-03-27 04:08] echo-of-wind opened #5409 "support for logical binary operator between range vector"
probe_duration_seconds and probe_success are two metrics for every scrape, the following query attempts to query the five minutes interval range vector one hour ago, whose probe_success equals 1(now it prompts 'syntax error'):

probe_duration_seconds[5m] offset 1h and probe_success==1

from the doc, logical binary operator is only supported between two instant vectors.

[2019-03-27 05:53] krasi-georgiev commented on #4058
wow, that is amazing. Thanks for spending the time. I will open a PR soon.

[2019-03-27 09:04] brian-brazil commented on #5409
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-03-27 09:04] #5409 closed

[2019-03-27 09:57] saiharshitachava opened #5410 "Do we have a way to get host names in metrics scrapped in Docker swarm"
I am running node exporter as a global service in Docker swarm and I would like to get the hostnames in metrics scrapped using prometheus.

I'm currently using the A protocol in prometheus.yml which is giving me the container IP's .But I would need the hostnames of the instances as I have many hosts to monitor

I currently see them as below.

up{instance="10.0.33.243:8080",job="cadvisor_eng",monit

[2019-03-27 10:42] ajankovic opened #5411 "Consul discoverer doesn't respect datacenter provided by the node"
## Bug Report
**What did you do?**

Tried to replicate consul API for discovery. API is returning agent's datacenter on `/v1/agent/self` and each node returns it's own datacenter in `/v1/catalog/service/<service>` list.

**What did you expect to see?**

Discovered label `__meta_consul_dc` should contain datacenter returned by the node itself.

For example:

[code]
Should label the target with "dc1

[2019-03-27 21:58] candysmurf opened #5412 "metrics don't show up in Prometheus GUI browser"
I have custom metrics showing up at http://localhost:2112/metrics. However, none of those metrics show up in http://localhost:9090/graph, Prometheus browser. I'm new to Prometheus. Anything I may miss? thanks.

prometheus.yml
[code]

[2019-03-27 22:08] brian-brazil commented on #5412
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-03-27 22:08] #5412 closed

[2019-03-28 10:18] wlay commented on #5397
Hi @simonpasquier
We do some tests. When the process stop timeout, the "file discovery manager" will not stop.
Normal exit, there will be the below msg:
[code]

[2019-03-28 16:58] krasi-georgiev commented on #5369
@kiefersmith we had few fixes in the WAL in the recent versions. Did you manage to test the latest version?

[2019-03-28 17:08] kiefersmith commented on #5369
I was able to replicate the crash scenario - it seems sufficiently large queries coming from Grafana will hit the rate limit / overwhelm the query engine.

We use a custom version of Prometheus, so I have not yet been able to test the latest version (put together the required PR).  I may be able to get to it next week.  🙂

[2019-03-28 17:40] krasi-georgiev commented on #5369
Ok would appreciate an update and if the bug is still there would try to replicate and work on a fix.

[2019-03-29 05:17] lesovsky opened #5415 "Prometheus returns incorrect data with offset queries"
Prometheus returns incorrect data when using `offset` queries

I'm querying metrics with offset and it looks like it's not working as expected. In the example below, I executed two queries, with offset and without. Returned metrics' timestamps differ by _1 second_ instead of _1 hour_.
[code]

Asking metrics for an interval, all work as expected. In exmaple below, I added `[1m]` range to "offset qu

[2019-03-29 06:20] eahydra opened #5417 "[Feature Request] Support POST method for series endpoint"
## Proposal
**Use case. Why is this important?**
Some user queries `/api/v1/series` with many label values, it will trigger the GET url length limit.

If support POST method for `/api/v1/series` like `/api/v1/query` endpoint, the use case will be fine.

[2019-03-29 07:22] lesovsky commented on #5415
Perhaps, it shows a right metric's value, but has a skewed timestamp.

[2019-03-29 08:41] brian-brazil commented on #5415
The timestamp of a instant vector result is always that of the evaluation time.

[2019-03-29 09:33] lesovsky commented on #5415
Thanks for clarification.
Such behaviour is confusing a bit, so it would be nice to mention this in the documentation.

[2019-03-29 09:33] #5415 closed

[2019-03-29 09:56] simonpasquier commented on #5397
@wlay I received a comment from you in my inbox which mentioned that the issue might be with the file SD not stopping properly. Is this correct?

[2019-03-29 10:32] simonpasquier commented on #5411
To be clear, you're emulating the Consul API to implement your own SD mechanism, `/v1/agent/self` is returning `someDc` and `/v1/catalog/service/<service>` returns `anotherDc`?

I'm not the best qualified person but it was probably the easiest thing to do at the time being. Maybe @iksaif  has more insights?
Another question would be whether or not this could be an issue for "real" Consul setups.

[2019-03-29 11:45] ajankovic commented on #5411
That is correct, but to be precise `/v1/catalog/service/<service>` may or may not return the same DC as the agent itself it can return multiple different DCs.

The strange thing is that response format for the node already has a field for DC which tells me it should also be used.

Also [Consul documentation](https://www.consul.io/api/catalog.html#datacenter-2) says:

If you take a look at the [hom

[2019-03-29 12:35] brian-brazil commented on #5411
I don't think we should be trying to accommodate anything but Consul itself. We already have a generic integration.

[2019-03-29 13:45] ajankovic commented on #5411
Totally agree with that statement. But the emulation part is irrelevant, it's there just for transparency.

The question still remains, why is discoverer assuming node's datacenter based on agent's datacenter when node is providing that information itself?

Or maybe in Consul terms, can the service have nodes that span multiple datacenters? If yes then the discoverer implementation is flawed. And

[2019-03-29 17:11] frateralexander commented on #4624
Hi
I have the same problem If I try to remove one line in my ../node_exporter/nodes.json
What it could be ?

[2019-03-29 17:36] frateralexander commented on #4624
Hi Dears

I have this error when a try to remove a line in my ../node_exporter/nodes.json and restart my service

curl -v localhost:9090/graph
*   Trying 127.0.0.1...
* Connected to localhost (127.0.0.1) port 9090 (#0)

< HTTP/1.1 503 Service Unavailable

I don't try  -/healthy
Could someone help me ?

[2019-03-29 19:51] SpencerMalone opened #5421 "Freeze on graph page when working with a large amount of metrics due to no upper limit on insertable metric dropdown."
## Bug Report

**What did you do?**
~After upgrading from 2.6.1 -> 2.8.0, we start seeing large page freezes just after page load. It's like... Page load, click around for a moment, interact with the expression bar, then there's a heavy loading pause (10 seconds?), then it goes to normal with some brief pauses afterwards. We have seen this across all of our instances of 2.8.0, but be aware that we

[2019-03-31 06:24] #4862 closed

[2019-04-01 06:02] strongit commented on #2088
my prometheus is outside of k8s cluster too,and ,it shows `msg="prometheus/discovery/kubernetes/kubernetes.go:372: Failed to list *v1.Node: Get https://10.202.183.187:16443/api/v1/nodes?limit=500&resourceVersion=0: x509: certificate signed by unknown authority"`
config show below:
`global:
  scrape_interval: 30s
  scrape_timeout: 30s
rule_files:
  - '/etc/prometheus/alert.rules'

remote_write:
  -

[2019-04-01 08:44] krasi-georgiev commented on #4058
Just opened a PR that would close this issue and will go in the next release. Feel free to reopen if you still experience the same issue after that.

[2019-04-01 09:51] Erictsu1947 opened #5423 "increase function calculate duplicate result, but metrics seems not duplicate"
## Bug Report

Hi, I use mysqld_exporter to collect mysql status.

It works well, but sometimes i find some original metrics seems not to be duplicate.
When I try some aggregate functions, such as increase/rate, the result i get seems
calculate duplicate metric.

I got some metrics original as below

<img width="1280" alt="屏幕快照 2019-04-01 下午5 48 57" src="https://user-images.githubusercontent.com/8

[2019-04-01 11:33] aned opened #5424 "Release 2.8+ remote storage doesn't work on ext4 bare metal, running RH7"
Remote write doesn't work on fs type ext4 on bare metal running RH7 after  “ [ENHANCEMENT] Use the WAL for remote_write API. #4588”.

Getting this in logs:
[code]
Remote read works fine on 2.8+

Downgraded to 2.7.2 - no issues with remote write.

Relevant config:
[code]

100% drop rate:

![image](https://user-images.githubusercontent.com/2947691/55324513-31fb5480-5437-11e9-8fc0-9b451155237f.png)

[2019-04-01 12:01] tomwilkie commented on #5424
Hi @aned, sorry you're having issues with this.

Can you post the logs from the startup of your Prometheus please?

Also, can you post us screen shots of the following queries?
- rate(prometheus_tsdb_head_samples_appended_total[1m])
- rate(prometheus_remote_storage_samples_in_total[1m])
- rate(prometheus_remote_storage_dropped_samples_total[1m])
- prometheus_wal_watcher_current_segment
- rate(prom

[2019-04-01 13:23] #4058 closed

[2019-04-01 14:36] brian-brazil commented on #5423
I don't see anything wrong or unusual here.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-04-01 14:36] #5423 closed

[2019-04-01 14:39] Shanee33 opened #5425 "CURL sometimes not working"
## Proposal
When I make changes to either the config file or alert config file and do a CURL XPOST command prometheus does not change, but when I restart the service it works

## Bug Report
In the case I was talking about I had made a rule previous and wanted to another, so I made the changes in the relevant alerting file. I have added a new rule and ran a CURL and nothing changed. I deleted the r

[2019-04-01 14:44] simonpasquier commented on #5425
Duplicate of https://github.com/prometheus/prometheus/issues/5195
I would still recommend to upgrade to a newer version of Prometheus as 2.2.1 is quite old and unmaintained.

[2019-04-01 14:44] #5425 closed

[2019-04-01 15:17] Shanee33 commented on #5425
I have now upgraded to 2.8.1 and am still having the same issue

[2019-04-01 20:58] aned commented on #5424
[code]

![image](https://user-images.githubusercontent.com/2947691/55358406-2d10c200-5484-11e9-92aa-8b3dfbf700ce.png)
![image](https://user-images.githubusercontent.com/2947691/55358441-4580dc80-5484-11e9-9890-ce7553ad892d.png)
![image](https://user-images.githubusercontent.com/2947691/55358477-57fb1600-5484-11e9-8aff-20f34d876da7.png)
![image](https://user-images.githubusercontent.com/2947691/553

[2019-04-01 21:07] brian-brazil commented on #5424
Can you share a `ls -l` on the wal directory?

[2019-04-01 21:35] aned commented on #5424
Yep,

[code]

[2019-04-01 21:53] brian-brazil commented on #5424
That adds up anyway.

[2019-04-02 02:24] wlay commented on #5397
@simonpasquier I made a mistake about the file SD not stopping. Please ignore it.
I will continue to focus on this problem. If there is any clue, i will update it here in time.
Very sorry for that.

[2019-04-02 07:39] ekarak commented on #2882
I once made an experimental implementation of `absent_over_time` in https://github.com/ekarak/prometheus/tree/feature/absent-over-time, the code is https://github.com/ekarak/prometheus/commit/827c0277f09127d461f19f794b81bc3d7ccc8701
However the approach taken was a bit complex, I used FFT to get the scrape frequency for each timeseries, then I'd evaluate abset_over_time to 1 whenever a sample was

[2019-04-02 08:02] simonpasquier commented on #5425
This is expected as https://github.com/prometheus/prometheus/issues/5195 is still unresolved. For now you'd have to restart Prometheus when removing rules.

[2019-04-02 08:47] simonpasquier commented on #5410
I suppose that you're using the DNS service discovery. You could use relabeling with `__meta_dns_name` provided that every target identifies uniquely by hostname + job.

[code]

See also https://www.robustperception.io/controlling-the-instance-label

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users),

[2019-04-02 08:47] #5410 closed

[2019-04-02 09:53] pborzenkov opened #5426 "Prometheus/TSDB doesn't unmap opened chunks/index???"
## Bug Report
I've seen a Prometheus crash due to `fatal error: runtime: cannot allocate memory` in go runtime:

[code]

I started the investigation after Prometheus restart and the crash is most likely due to vm_area exhaustion:

[code]

It looks like Prometheus doesn't call `munmap` on mmaped chunks/index at all (straced the process for ~5 min while doing different queries):
[code]

And the same

[2019-04-02 10:16] brian-brazil commented on #2882
This wouldn't be looking for gaps, it's looking for samples being completely missing.

[2019-04-02 10:45] krasi-georgiev commented on #5369
@kiefersmith did you have the chance to test the latest 2.8 Prometheus release?

[2019-04-02 11:12] krasi-georgiev commented on #4393
closing for no activity, if you think we should revisit please reopen and add some more updates for the issue.

[2019-04-02 11:12] #4393 closed

[2019-04-02 11:33] tomwilkie commented on #5424
[code]

This looks the same as #5389.  What are you thinking @brian-brazil ?

[2019-04-02 11:35] tomwilkie commented on #5424
@aned can you get a goroutine dump please? Go to /debug/pprof/goroutine?debug=2 in the browser.

[2019-04-02 11:36] tomwilkie commented on #5424
From the graphs it looks like you downgraded back to 2.7 shortly after trying 2.8 - is that correct?

[2019-04-02 11:38] pborzenkov commented on #5426
Actually, looks like there is an abnormal behaviour in the logs:

[code]

Prometheus tried to compact the same time range again and again until it crashed like this:

[code]

[2019-04-02 11:49] brian-brazil commented on #5424
I was checking there wasn't anything crazy in the WAL file wise.

[2019-04-02 11:52] tomwilkie commented on #5424
I could do with a rubber ducking session with you and @cstyan to chat about this TBH, want to try and get some mitigation / fix in place for 2.9.  Got some time this week?

[2019-04-02 11:53] brian-brazil commented on #5424
This week is fairly busy for me, I was planning on digging around today.

[2019-04-02 13:16] mattalberts commented on #5404
fantastic!  thank you!

[2019-04-02 13:19] kiefersmith commented on #5369
I did test out 2.8, but could not replicate the exact issue.  I tried writing garbage to the WAL, deleting lines, but that ended up being a bit too destructive.

[2019-04-02 13:26] kiefersmith commented on #5369
Will try sending large queries to the query API later today and see if that turns up anything interesting.

[2019-04-02 13:50] kiefersmith commented on #5369
It would seem that the latest version is indeed better at recovering from failure!

`2019-04-02 13:47:33,540 INFO exited: prometheus (terminated by SIGKILL; not expected)
2019-04-02 13:47:34,543 INFO spawned: 'prometheus' with pid 34
level=warn ts=2019-04-02T13:47:34.571064495Z caller=main.go:274 deprecation_notice="'storage.tsdb.retention' flag is deprecated use 'storage.tsdb.retention.time' inst

[2019-04-02 16:36] danielmotaleite opened #5427 "Prometheus bad graph scale numbers"
## Bug Report
**What did you do?**
A graph with this query:

            system_load5{host=~".*kafka-.*"} / system_n_cpus{host=~".*kafka-.*"} > 1.7

**What did you expect to see?**
a graph with small, integer or similar scale numbers

**What did you see instead? Under which circumstances?**
sometimes i get this graph

![image](https://user-images.githubusercontent.com/11890049/55419693-dfb85180-55

[2019-04-02 17:00] #5417 closed

[2019-04-02 17:51] brian-brazil commented on #5424
Can you indicate if you're using the Delete api?

[2019-04-02 19:53] krasi-georgiev commented on #5369
Thanks for the update. Feel free to reopen if you can replicate and will continue the troubleshooting.

[2019-04-02 19:53] #5369 closed

[2019-04-02 23:13] aned commented on #5424
I don't think m3coordinator deletes any series via api.

[2019-04-03 12:20] krasi-georgiev commented on #5138
Just double checked the code and can't see any way to produce an empty chunks dir as all writes to that dir are f.Sync()-ed so even a host crash shouldn't leave it empty.

Maybe that bug is fixed in the more recent Prometheus version. I see that you are running 2.6 would you mind to test it with the latest and reopen if you still experience the same problem.

[2019-04-03 12:25] haraldschilly commented on #5138
I followed the ticket and congratulations to actually figure out the missing detail. If this happens with a newer release that includes this fix, I'll open a new ticket!

[2019-04-03 12:30] krasi-georgiev commented on #5138
Thanks. It was solved thanks to @pborzenkov's pointers.

Closing this one, but feel free to reopen if you can replicate with a more recent version and will continue the troubleshooting. Please try to include details how it happened with steps to replicate.

[2019-04-03 12:30] #5138 closed

[2019-04-03 13:11] mattalberts commented on #5404
@codesome @simonpasquier @brian-brazil
Does this ticket need to be re-opened?  I just installed v2.8.1 and it exhibits the same issue.
<img width="1093" alt="prom-relabel-job-failure-version" src="https://user-images.githubusercontent.com/6054865/55481434-08cdf600-55e8-11e9-96ee-d73ebd0d60ea.png">
<img width="1381" alt="prom-relabel-job-failure-target" src="https://user-images.githubusercontent.co

[2019-04-03 13:20] brian-brazil commented on #5404
That looks fine to me.

[2019-04-03 14:44] juliusv commented on #5326
@brian-brazil Does that mean we should fix it or keep it as it is?

[2019-04-03 15:31] mattalberts commented on #5404
In the example posted (by both config and pictures), the `job` is replaced by `__meta_kubernetes_namespace `.  However, the targets page still shows the job by its default `job_name` as `~kubernetes-pods` rather than the value of  `__meta_kubernetes_namespace `.  In the case of the example posted, that would be `bq-etl`.

[2019-04-03 16:25] brian-brazil commented on #5326
I think we should fix it.

[2019-04-03 16:34] brian-brazil commented on #5404
That's how it works now, everything is grouped by job_name.

[2019-04-03 16:53] mattalberts commented on #5404
Okay, so the new behavior is to group by `job_name`.  To alter group'ing then, in-line with previous versions, do I need to add a rule to over-write `job_name` with the value of `__meta_kubernetes_namespace`

[2019-04-03 17:10] brian-brazil commented on #5404
There's no way to change grouping, it's now always by job_name.

[2019-04-03 20:58] fvclaus commented on #2357
Wow. This is pretty ignorant. I am running prometheus in a docker container, I modify the entrypoint and run this script instead:
[code]

[2019-04-04 09:21] simonpasquier commented on #5427
Looks like a duplicate of https://github.com/prometheus/prometheus/issues/3595. Could you try with v2.8.1 as some UI components have been updated?