[2019-09-05 09:53] #5986 closed

[2019-09-05 10:18] wu0407 opened #5989 "use lable_replace to remove the lable, but vector cannot contain metrics with the same labelset"
## Proposal
**Use case. Why is this important?**
Promql not have lable_remove function to remove the lable, so use `lable_replace` to complete it.    flow this [link](https://github.com/kubernetes/kube-state-metrics/tree/master/docs#join-metrics)  to join metric from `container_cpu_usage_seconds_total` and `kube_pod_labels`.
but `kube_pod_labels` has "instance" lable that is mutil value, so  lead

[2019-09-05 11:10] brian-brazil commented on #5989
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-09-05 11:10] #5989 closed

[2019-09-05 13:21] kaizen1 commented on #5987
That's not true. Most people generate public keys without a -C flag. That means the USER and HOST of the machine holding the PRIVATE key are published in the Prometheus web ui.

The Prometheus server has all of the permissions it needs via compute@developer.gserviceaccount.com -- account on GCP instance. So there is no need to publish SSH keys in a web ui.

[2019-09-05 13:48] brian-brazil commented on #5987
That still doesn't make them private keys. If you believe this is a problem I'd suggest asking Google not to mix this in with information like the CPU platform and zone.

[2019-09-05 16:29] kaizen1 commented on #5987
Google is like City Hall. Not gonna happen.

[2019-09-05 16:48] #5453 closed

[2019-09-06 03:38] wu0407 commented on #5989
it is has two kube-state-metrics instance  in   same time, so replace label  general uniquely metrics

[2019-09-06 06:19] wu0407 commented on #5617
use metric_relabel_configs to drop label same error
[code]
metric_relabel_configs
[code]

[2019-09-06 07:03] XSHui opened #5992 "prometheus pull data failed after update node_exporter from v0.15.2 to v0.18.1"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**
Linux 3.10.0-229.el7.x86_64 x86_64

prometheus- v2.2.1

old: node_exporter-v0.15.2

new: node_exporter-v0.18.1

1. prometheus- v2.2.1, node_exporter-v0.15.2, we got a lot of errors in node_exporter'log
[code]

We had config node_exporter as below
[code]

2. I tried to u

[2019-09-06 07:04] XSHui commented on #5992
@SuperQ

[2019-09-06 07:16] SuperQ commented on #5992
For usage questions/help, please use our [community](https://prometheus.io/community/). On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-09-06 07:16] #5992 closed

[2019-09-06 08:58] johncming opened #5993 "The reload event may leak"
The reload event may leak

https://github.com/prometheus/prometheus/blob/b7bb278e955d624f26d99b92dc5e29e477b92b08/scrape/manager.go#L81-L84

`default` may cause a leak of event if channel block.

Read channel operation didn't perform.  Write channel operation will skip because of default statement.

https://github.com/prometheus/prometheus/blob/b7bb278e955d624f26d99b92dc5e29e477b92b08/scrape/manag

[2019-09-06 09:07] codesome commented on #5993
That looks fine. A single reload is enough for multiple updates.

[2019-09-06 09:07] simonpasquier commented on #5993
Exactly, it works as intended.

[2019-09-06 09:18] johncming commented on #5993
https://github.com/prometheus/prometheus/blob/b7bb278e955d624f26d99b92dc5e29e477b92b08/scrape/manager.go#L83

If select `default` path is used, event will leak.

[2019-09-06 10:46] #5929 closed

[2019-09-07 05:23] wu0407 opened #5995 "kubernetes_sd_config api_server with ip:port not vaild"
## Proposal
**Use case. Why is this important?**
Special  api_server config not use default cluster env, that direct  in document is `<host>: a valid string consisting of a hostname or IP followed by an optional port number`

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**
config like this：
[code]
this config is ok
[code]

**What did you expect to see?**
config is o

[2019-09-08 04:39] kaizen1 opened #5997 "Eliminate YML Dependency"
I manage clusters of MariaDB, HAProxy, Redis, and Node.js, none of which require me to pay attention to white space, indentation, and seemingly random use of leading hyphens, and/or no hyphens.

These YML validation errors from such triviality are a huge waste of time.

Feature request: use a config format that is not whitespace or indentation sensitive, and remove the hyphens. See any of the abov

[2019-09-08 13:58] alevchuk commented on #3714
@uncleNight's solution worked for me!

applying the solution as described, I saw large gaps in the data (i use grafana for dashboarding). To fill those, I moved back **all** of the "the latest (heaviest)" directories. Now all the data looks great!

btw, the overall problem for me got triggered by running out of disk space.

[2019-09-09 08:14] davidsome opened #5998 "When I use reload api, does prometheus incremental update its config?"
When I use reload api, does prometheus incremental update its config?

[2019-09-09 08:57] brian-brazil commented on #5998
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-09-09 08:57] #5998 closed

[2019-09-09 10:50] webchi commented on #5519
This is EPIC FAIL guys. Including config is a common linux approach for a many years. There is including files for alerts and no including for scrape_config... WUT
[code]

[2019-09-09 12:34] simonpasquier commented on #5995
This works as intended: for sanity checks, `api_url` is passed to [`url.Parse()`](https://golang.org/pkg/net/url/#Parse) which expects a scheme (see https://play.golang.org/p/_gO38JBAJei).

[2019-09-09 13:02] simonpasquier commented on #5997
Hmm, I can understand your griefs against YAML but I'm not seeing the configuration format moving away from YAML anytime soon.

[2019-09-09 16:47] csmarchbanks commented on #5997
If you do not want to use a whitespace sensitive configuration format, you can specify all of your configuration in JSON since YAML is a superset of JSON.

[2019-09-10 03:55] xinyu7git opened #6000 "Can Prometheus support label-based alarm priority capabilities?"
## Proposal
**Use case. Why is this important?**
If you have lots job to monitor.  You can set a general alarm rule like:
[code]
but there is a job that needs special treatment, so you can add a new alert rule
[code]
if the cpu_usage of job1 is 60, the first alert rule "HighCPU" will still triggered.

Of course you can avoid it by modifying the "HighCPU" rule:

[code]

But what if there are more j

[2019-09-10 08:10] simonpasquier commented on #6000
See https://www.robustperception.io/using-time-series-as-alert-thresholds

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-09-10 08:10] #6000 closed

[2019-09-10 08:57] falschparker82 opened #6001 "Feature Idea: Weighted Histograms"
## Proposal

Feature Idea: Weighted Histograms

For quantiles, there are two primitives within Prometheus: Summaries and Histograms, both of which are documented to have complementary disadvantages — with a documented tendency toward histograms, as they are aggregatable (we're mainly using them too for this reason).

Histograms have a few more (semi-)documented drawbacks:
- They exhibit clipping b

[2019-09-10 09:05] brian-brazil commented on #6001
The _sum and _count give you this.

I don't think we're likely to add new types for this, however there's nothing stopping you from playing with this yourself. It shouldn't require any changes to the Prometheus binary to do so.

[2019-09-10 10:08] SuperQ commented on #5870
For now, can we go with option A so that we provide the tool as a stop-gap until the promtool integration is done?

[2019-09-10 11:56] beorn7 commented on #6001
@falschparker82 Definitely have a look at the existing `_sum` and `_count` metrics, which allows you to calculate the overall average, as @brian-brazil said.

What your suggestion would add is a `_sum` per bucket. I can imagine it would indeed be an improvement over the current interpolation heuristic (which assumes an equal distribution within a bucket), but it will still have the same general pr

[2019-09-10 12:57] amnonh opened #6003 "idelta and similiar functions does not work with ALERTS"
## Bug Report
What did you do?
idelta(ALERTS[1m])

What did you expect to see?
a time series showing the changes in the alerts

What did you see instead? Under which circumstances?
No point returned

Prometheus docker

Prometheus version:
tested with Prometheus 2.12 and 2.9.2
insert configuration here (if relevant to the issue)

[2019-09-10 13:01] brian-brazil commented on #6003
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-09-10 13:01] #6003 closed

[2019-09-10 13:17] amnonh commented on #6003
ok, but it does look like a bug

[2019-09-10 13:25] krasi-georgiev commented on #5870
yep that is fine too and just open another issue so that someone can pick it up.

[2019-09-10 15:28] csmarchbanks opened #6007 "Remote write backs up during compaction"
## Bug Report
**What did you do?**
Ran remote_write code.

**What did you expect to see?**
Continuous sending of samples to remote storage.

**What did you see instead? Under which circumstances?**
During a compaction samples will backup causing a several minute delay in some cases.

![CompactionRWLag](https://user-images.githubusercontent.com/3280472/64627253-858da900-d3ac-11e9-8672-fde629ea4a64.

[2019-09-10 16:58] brian-brazil commented on #6007
Did you have enough cores for all of it?

[2019-09-10 17:45] csmarchbanks commented on #6007
Yes, that Prometheus has a large amount of CPU allocated to it and is not significantly CPU throttled during compaction. Also, if it was throttled I would expect some requests to still make it out, it looks like in my case no requests are being sent for a significant amount of time.

![NoRemoteSends](https://user-images.githubusercontent.com/3280472/64637105-597c2300-d3c0-11e9-8da2-b55f13381019.pn

[2019-09-10 23:48] dmitsh opened #6008 "enable TLS (HTTPS) on prometheus"
I'm proposing to add TLS support in Prometheus to provide secure data transfer.

[2019-09-11 06:17] jiacai2050 commented on #4456
@drewhemm `read_recent: false` disable remote read, not local.

[2019-09-11 07:36] simonpasquier commented on #5997
Closing as what @csmarchbanks suggested is the most appropriate answer.

[2019-09-11 07:36] #5997 closed

[2019-09-11 07:43] drewhemm commented on #4456
@jiacai2050 My bad, I got it the wrong way around. If remote storage is in use `read_recent: true` prevents Prometheus from reading data from the local storage to satisfy queries:

https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_read

It doesn't prevent it from _writing_ locally, but I believe it fulfils the requirement detailed by @valyala, i.e. having all Prometh

[2019-09-11 09:53] sri-05 commented on #4633
Hi @RahulArora31 is the metrics server gives the end URL the as same like kube-state-metrics?
kube-state-metrics gives me end URL http://kubernetes-serverIP:8080/metrics
which i configured in the Prometheus server to pull the stats from the Kubernetes cluster.

[2019-09-11 11:58] simonpasquier opened #6013 "Y-axis tick labels are truncated for very small/large values"
## Bug Report
**What did you do?**
Graph a single timeseries with a high value (eg `prometheus_tsdb_lowest_timestamp{pod="prometheus-k8s-0"}`)

**What did you expect to see?**

Y-axis values not being truncated.

**What did you see instead? Under which circumstances?**

![image](https://user-images.githubusercontent.com/2587585/64686472-0326e700-d489-11e9-9c00-99a58acd9be1.png)

**Environment**

*

[2019-09-11 12:30] nemecsek69 commented on #1817
Waiting for a Prometheus way to do it, you can use a barbaric solution with a browser addon (i.e. [tab-auto-refresh](https://addons.mozilla.org/en-US/firefox/addon/tab-auto-refresh/) for Firefox)

[2019-09-11 12:45] gokhandincer opened #6015 "error creating HTTP client: unable to load specified CA cert"
Hi everyone,
I'm trying to add etcd job to prometheus using consul. But i got error like below. When i try with curl is OK like this `curl -k --cacert /etc/ssl/etcd/ca.pem --cert /etc/ssl/etcd/cert.pem --key /etc/ssl/etcd/key.pem https://10.1.1.1:2379/metrics`

* System information:

	Linux 4.4.0-150-generic x86_64

* Prometheus version:

	prometheus, version 2.11.0 (branch: HEAD, revision: 4ef660

[2019-09-11 14:16] simonpasquier commented on #6015
`curl -k` switches to insecure mode and bypasses the other cert options.

[2019-09-11 14:23] gokhandincer commented on #6015
I got response when i try without option -k
[code]

[2019-09-11 14:57] simonpasquier commented on #6015
can you share the ca.pem file?

[2019-09-11 16:31] RahulArora31 commented on #4633
Hey,

The metrics server does not have an /metrics endpoint for Prometheus to
scrape.
You can get those metrics by getting data from Cadvisor.

On Wed, Sep 11, 2019 at 3:24 PM sri-05 <notifications@github.com> wrote:

--
Thank You
Rahul Arora
CR IT-A

[2019-09-11 21:47] bwplotka commented on #5926
Sorry for massive lag, proposed solution (: Also reach me on IRC bwplotka or [CNCF slack channel](https://slack.cncf.io/) bwplotka if you need to ping me - bit spammed on email.

[2019-09-11 23:06] andbuitra commented on #5222
I just had this when doing CI on GitLab but it was related to the alertmanager rules using an absolute path on the monitoring server that throws off promtool on the GitLab server. Syntax only checking would be greatly appreciated!

[2019-09-12 06:07] pitthecat commented on #4633
You can get metrics from the K8s API.

https://api.your_dns_zone/metrics
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-usage-monitoring/

[2019-09-12 06:51] jiacai2050 commented on #4456
It works, but kinds of ugly.
Since prometheus team have [no plan for long term storage](https://github.com/prometheus/docs/issues/149#issuecomment-127276802), I think it may provide `disable local tsdb` option to let users fully take advantage of remote storage.

[2019-09-12 07:42] drewhemm commented on #4456
@jiacai2050 I did quite a lot of experimenting with remote storage a few months back, using CrateDB as the backend; however, I observed that performing queries against remote storage is hugely inefficient compared with local storage, this is because (at least at the time) Prometheus retrieves a much larger data set from the remote than is actually returned as the result of the query. I believe thi

[2019-09-12 07:42] #6013 closed

[2019-09-12 16:29] deepak4babu opened #6019 "too many open files issue"
## Bug Report
**What did you do?**
We were receiving any error logs as below in prometheus federate. We increased ulimit as suggested in the link - (https://www.robustperception.io/dealing-with-too-many-open-files)

Sep 12 16:59:51 dotenprlptlprm1 prometheus[42619]: level=error ts=2019-09-12T15:59:51.73796377Z caller=db.go:277 component=tsdb msg="compaction failed" err="persist head block: write c

[2019-09-12 16:41] #6019 closed, assigned to nobody

[2019-09-13 12:11] #5265 closed

[2019-09-13 13:46] simonpasquier commented on #3236
`--log.level=debug` displays the Kubernetes logs since #4931.

[2019-09-13 13:46] #3236 closed

[2019-09-13 16:19] dgl commented on #5919
We're also seeing issues with this, with around 100k metrics the UI is just about usable on a high end machine, but noticeably slow. Our setup is also Thanos and then we have a custom Thanos store to bridge our OpenTSDB instance (https://github.com/G-Research/geras).

As a way of reproducing this try opening the JavaScript console on the Prometheus graph UI and running something like:
[code]

It s

[2019-09-13 16:26] brian-brazil commented on #5919
There's no need to support users that have 100k metric names, as such a setup is almost certainly due to putting label values in metric names.

[2019-09-13 16:59] dgl commented on #5919
I understand that's true in an ideal world, we're attempting to make a large OpenTSDB setup compatible with Prometheus. OpenTSDB has far more strict limits on tags (it's version of labels), in particular there is a limit of 8 tags on any metric so that somewhat constrains the use of them.

It seems like with a few simple and unobtrusive changes we can improve this.

[2019-09-16 12:15] aesiliato opened #6028 "plot differences between record and expression"
**What did you do?**
Defined a Recording Rule:

groups:
- name: custom_metrics
  interval: 1m
  rules:
  - record: instance:spot_counter:delta
    expr: clamp_max(delta(up{lifecycle="spot",state="running"}[1m]),1)

**What did you expect to see?**
Expect to see same graph if I query the record "instance:spot_counter:delta" and the expression "clamp_max(delta(up{lifecycle="spot",state="running"}[1m]

[2019-09-16 13:25] bwplotka opened #6029 "Unify labels packages"
Currently, we host three `labels` packages exposing really similar logic:

* https://github.com/prometheus/prometheus/tree/master/pkg/labels
* https://github.com/prometheus/prometheus/tree/master/tsdb/labels

Plus proto generated ones: https://github.com/prometheus/prometheus/blob/master/prompb/types.pb.go#L251

This generates massive amount of boilerplate conversions that also allocate extra memo

[2019-09-16 13:42] brian-brazil commented on #6029
What are the performance implications of using proto for this? It looks like more memory at least, and labels are a not-insignificant part of our memory usage.

I think we should unify on to one of the pure-Go packages.

The conversions don't allocate memory.

[2019-09-16 14:00] bwplotka commented on #6029
Good question, worth to check it before deciding.
[code]
You are right that it might use more memory. Wonder if there is any proto generator the does not add those. :/ My point in using proto labels is that there is literally NO way of *not using them*. So if we would operate only on proto Labels it would be quite ideal.

If we cannot avoid extra fields I guess pure Go might make sense more, let's

[2019-09-16 16:09] brian-brazil commented on #6029
That's the inefficient way to do the conversion, we use unsafe.

[2019-09-17 04:55] gokhandincer commented on #6015
I installed a fresh prometheus. And everything is okey. Thank you @simonpasquier

[2019-09-17 04:55] #6015 closed

[2019-09-17 10:14] bwplotka commented on #6029
Can you pont to some example helpers that do such conversion in an unsafe safe way? (: Would be nice to recommend those then.

[2019-09-17 10:29] brian-brazil commented on #6029
https://github.com/prometheus/prometheus/blob/76769d4b617989c6c60f61a3ba16261f812538c2/storage/tsdb/tsdb.go#L349

[2019-09-17 10:54] bwplotka commented on #6029
What about proto -> pure Go labels? Would that work seamlessly as well? (despite different struct?)

[2019-09-17 11:04] brian-brazil commented on #6029
I don't believe so.

[2019-09-17 11:56] bwplotka commented on #5919
I think adding some limit is a fair request. It would be nice to have in Prometheus anyway, especially if we think that this is the rule: ` no need to support users that have 100k metric names, as such a setup is almost certainly due to putting label values in metric names.` (:

In the worst case, we can just limit Thanos Querier UI JS, but I think there is no harm in doing this on Prometheus UI a

[2019-09-17 12:02] bwplotka commented on #6029
Exactly, so avoiding having both proto + pure Go would be nice. We have to have proto ones, due to our APIs, so ideally using proto would be neat.

Ok let me investigate those options:

A) using JUST proto generated labels. To have that we need to get rid of those custom fields (different protobuf generator? gogo proto upstream issue?)
B) Allow casting proto labels to pure Go ones without allocs.

[2019-09-17 12:21] brian-brazil commented on #5919
I was more making the point that the UI not quite working in such a situation is acceptable.

[2019-09-17 12:23] brian-brazil commented on #6029
I'm not sure I'd be a fan of a proto dependency in our core libs. B) sounds like leaking memory contents.

[2019-09-17 14:21] zhulongcheng opened #6031 "tsdb: add block chunks repair cmd tool"
## Proposal

we can scan the chunks file and find the first corrupted chunk,
then truncate the chunks file to first corrupted chunk.
Rebuild the index and mete.json by ignoring series those have no chunks.

so that we no need to remove the whole block (lose the whole block data) in order to startup/compact/query.

[2019-09-17 14:24] zhulongcheng commented on #6031
cc @krasi-georgiev @bwplotka

[2019-09-17 14:25] brian-brazil commented on #6031
This would be unsafe, partial data is virtually impossible to reason about.

[2019-09-17 15:55] krasi-georgiev commented on #6031
even if there is a way to delete by a time range? I mean if can delete everything after the corruption this should work ok, right?

[2019-09-18 08:06] zhulongcheng commented on #6031
Yes.

[2019-09-18 10:33] luigisainini commented on #2459
I'm trying to scrape kong metrics but the aws security group port is open and i used a scrape_interval: 30s. Any suggestion? Thanks

[2019-09-18 13:21] iordaniordanov commented on #2357
+1 for env vars

[2019-09-18 13:43] luigisainini opened #6034 "context deadline exceeded"
**What did you do?**
I was configuring Prometheus for Kong scraping
**What did you expect to see?**
I expected to see node UP in /targets
**What did you see instead? Under which circumstances?**
I saw DOWN in /targets with the error:
context deadline exceeded
**Environment**

* System information:

	Linux 4.4.0-1088-aws x86_64

* Prometheus version:

  prometheus, version 2.1.0+ds (branch: debian/

[2019-09-18 14:42] brian-brazil commented on #6034
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-09-18 14:42] #6034 closed

[2019-09-18 17:42] beorn7 commented on #6008
Please have a look at https://groups.google.com/forum/#!topic/prometheus-developers/8sez091EtzY

[2019-09-18 23:15] beorn7 commented on #5956
Based on the outcome of the discussion in #5967, I'm closing this. Please speak up if you disagree.

[2019-09-18 23:15] #5956 closed

[2019-09-18 23:16] beorn7 commented on #5995
I'm assuming @simonpasquier 's response clarified this issue.

[2019-09-18 23:16] #5995 closed

[2019-09-19 02:48] zimmertr commented on #5976
Prometheus is failing because you are volume mounting into the container, likely a configuration file.

The user running Prometheus within the container has a specific user id and group id because it is dangerous to run as root within a container, because it opens up escalation vulnerabilities.

Some container managers take to mitigating this issue by running software as a certain user within a co

[2019-09-19 10:04] krasi-georgiev opened #6038 "Querier doesn't put back bytes in the reusable chunk pool"
The chunk dir reader uses a pool but never puts anything back to the pool

https://github.com/prometheus/prometheus/blob/5ecef3542d67f7af5fa519eb73261b07d167416a/tsdb/chunks/chunks.go#L469

I think putting back should happen in the Close method
https://github.com/prometheus/prometheus/blob/5ecef3542d67f7af5fa519eb73261b07d167416a/tsdb/chunks/chunks.go#L436-L438

cc @codesome this might be interest

[2019-09-19 11:44] ejpir commented on #5738
can confirm `profile: <arn>` has worked for us

[2019-09-19 13:07] tehlers320 commented on #4739
Seeing this problem with prom v2.12.0 and v.2.11.2 with influxdb 1.6.6, There's nothing in the logs when this bad state occurs even with debug logging enabled.

i've set the following on the latest attempt to "fix it", should i up the "retention" it seems to fail right after the 6 hours is up?

[code]

[2019-09-19 13:42] krasi-georgiev commented on #6031
that was a question for @brian-brazil
He is more involved in real production uses or Prometheus.

Should it be ok to deleted all data after the corrupted chunk?

[2019-09-19 14:22] beorn7 commented on #5622
Closing this as it doesn't seem to be a bug or result in a feature request. It seems more a usage problem. In general, usage discussions should happen on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) anyway.

[2019-09-19 14:22] #5622 closed

[2019-09-19 21:03] csmarchbanks commented on #6038
Relevant PR I did for this a year ago: https://github.com/prometheus/tsdb/pull/427, I ended up concluding that it wasn't really worthwhile.

I ran into some subtle bugs that can happen depending on where you try to put chunks back into the pool. Putting a chunk back during close is only slightly helpful since all the intermediate chunks would not be put back.

[2019-09-20 05:41] codesome commented on #6038
From a quick search, I found only these 2 places which calls `.Chunk(ref)`
https://github.com/prometheus/prometheus/blob/5ecef3542d67f7af5fa519eb73261b07d167416a/tsdb/querier.go#L801
https://github.com/prometheus/prometheus/blob/5ecef3542d67f7af5fa519eb73261b07d167416a/tsdb/compact.go#L928

And the chunk pool is passed on by the `DB` to the `Block`. So maybe we can pass the same pool in those iter

[2019-09-20 13:20] ScarletTanager commented on #5550
@brian-brazil Just to make it clearer this is not an issue affecting Prom, any chance someone could close this issue?  Just a bit of housekeeping that makes it easier for adopters undergoing security audits...

[2019-09-20 15:21] beorn7 commented on #5550
Agreed. I'm closing this. Whoever disagrees, feel free to comment or re-open.

[2019-09-20 15:21] #5550 closed

[2019-09-20 15:37] ScarletTanager commented on #5550
@beorn7 @brian-brazil  are we still comfortable this is not an exposure given https://github.com/prometheus/prometheus/blob/master/web/ui/static/js/graph/index.js#L57?

[2019-09-20 16:31] beorn7 commented on #5550
As far as I understand, the vulnerability affects `jQuery.extend(true, target, object1 [, objectN ] )`, but in the line you referenced, we use the variant `jQuery(target, object1 [, objectN ] )`, which is not vulnerable. See https://api.jquery.com/jquery.extend/

[2019-09-20 19:02] cstyan commented on #5880
@gouthamve is this still relevant? did you want to document it somewhere in a markdown file or this enough: https://github.com/prometheus/prometheus/blob/master/tsdb/labels/labels.go#L35-L37

[2019-09-20 23:53] cstyan commented on #5700
Can you share your config file? Are you running in a container or k8s? What values are `go_memstats...` metrics reporting?

[2019-09-20 23:57] cstyan commented on #5524
Sounds like this can be closed?

[2019-09-21 12:23] beorn7 commented on #5524
Agreed.

[2019-09-21 12:23] #5524 closed

[2019-09-23 06:11] #5880 closed

[2019-09-23 09:24] mslga opened #6046 "Prometheus doesn't delete metrics with delete_series"
## Bug Report
**What did you do?**

Trying to delete metrics from 2 Prometheus pods deployed in k8s cluster. Metrics contain information about old failed jobs which are no longer exits. But since metrics exist, I get alerts for these metrics.

Steps:
1. Check `kube_job_failed` graph in Prometheus UI. Compare list of failed jobs with real list of completed jobs in k8s cluster.

2. Delete not existi

[2019-09-23 10:49] juliusv commented on #6046
Hmm, I can't reproduce this yet. Using Prometheus 2.7.1, I scraped a couple of metrics for the job `node`, then removed that job from the scrape config, then ran:

[code]

...and all the series with `job="node"` were gone. Same with just deleting the corresponding `up` metric first.

In case you can make this more reproducible, that would be helpful. And of course, I guess you double-checked every

[2019-09-23 14:00] weeco opened #6047 "Dynamic configuration variables in Prometheus Config"
Proposal
**Use case. Why is this important?**

I am setting up multiple prometheus instances to send samples to my remote write service (Cortex in that case). I need to add a variable in the `external_labels` which is unique for each prometheus instance. This is currently very cumbersome to resolve as I currently use a config map in Kubernetes. I'd be forced to create a new statefulset/deployment

[2019-09-23 14:09] brian-brazil commented on #6047
As indicated in that issue, this is something for you to handle outside Prometheus.

I'd also suggest not using double underscores in labels, as that usually means internal.

[2019-09-23 14:11] weeco commented on #6047
@brian-brazil Can you give a sample how you would handle that "outside Prometheus"? I can't come up with a good solution in my Kubernetes environment as described in this issue.

[2019-09-23 14:33] brian-brazil commented on #6047
One way would be to use `envsubst` on the config file before Prometheus runs. Another is to have your configuration management system produce a config map, container, or service definition per Prometheus.

[2019-09-23 15:11] #6047 closed

[2019-09-24 02:25] csmarchbanks commented on #5700
Prometheus v2.12.0 included many memory improvements for tsdb, do you still have issues when using that version?

It looks like the OOM occurred during compaction which could have been a quick spike in memory rather than a gradual increase.

[2019-09-24 05:55] mslga commented on #6046
It's my fail.

I missed first step - I didn't stop scrape metrics for appropriate job.

---
I've repeated all steps including following:
First step. Delete Servicemonitor `prometheus-operator-kube-state-metrics`
...
Last step. Apply Servicemonitor `prometheus-operator-kube-state-metrics`

And it works.

Thank You.

[2019-09-24 05:55] #6046 closed

[2019-09-24 09:12] creack opened #6048 "Go get failing with go1.13"
Hello,

It seems like `go get` with prometheus is broken on 1.13, which breaks [opencensus](https://github.com/census-instrumentation/opencensus-service/tree/0.1.1) service (and I suspect anything else depending on prometheus)

prometheus v2.5.0 seems to be working with go1.13, the issue starts at v2.6.0.

Dockerfile to reproduce:

[code]

When using `golang:1.12`, it works fine.

Error when tryin

[2019-09-24 09:37] brian-brazil commented on #6048
Hmm, why does census depend on prometheus internals?

This sounds like an issue in the go.mod file of census.

[2019-09-24 09:46] creack commented on #6048
That's the great thing with go mod, when it fails, you can't know why ^^

[code]

But even if we remove opencensus from the issue, imho, prometheus should still be go gettable.

[2019-09-24 09:53] brian-brazil commented on #6048
Yes, all of `prometheus/prometheus` are internals. There's various Prometheus-related projects out there that import bits of it (e.g. Cortex/Thanos), but general software shouldn't be.

The public bits are in the `client_golang` repo.

[2019-09-24 10:01] brian-brazil commented on #6048
https://github.com/census-instrumentation/opencensus-service/blob/7b57179e7a2a0a9999ff7dcd331d65dec8747b8a/receiver/prometheusreceiver/metrics_receiver.go looks to be it, which is an okay dependency similar to the Cortex/Thanos use cases. It's also a you break it you bought it case, as these are technically unsupported internals that you depend on at your own risk.

Searching around, this looks li

[2019-09-24 10:05] creack commented on #6048
Thanks you, i'll move it there then. Still sad that bumping go version breaks the build.. I wish the go1compat contract would extend to the toochain

[2019-09-24 11:29] walterdolce opened #6049 "log.level is set but not picked up #2"
## Bug Report
**What did you do?**
Run Prometheus within Kubernetes

**What did you expect to see?**
Prometheus to produce different log outputs depending on the flag used (`debug`, `info`, etc)

**What did you see instead? Under which circumstances?**
Prometheus logs stuff only when `info` is provided. Every other flag causes Prometheus to output the same thing.

**Environment**
GKE.
[code]

* Sy

[2019-09-24 11:55] walterdolce commented on #6049
Hmmmm. After deleting all the data from the `/prometheus/data` persistent disk, and observing Prometheus crashing and restarting...it started to pick up the `debug` flag and generating more output in the logs.

It also stopped returning `503` which was causing the pod to be set as `0/1 Running`.

Thoughts?

[2019-09-24 12:53] codesome commented on #6049
I am not able to replicate it. `debug` shows me some additional logs after TSDB had started and setting it to `warn` shows me no logs.

[2019-09-24 13:05] simonpasquier commented on #6048
FTR `go get github.com/prometheus/prometheus@v2.12.0` with Go 1.13 fails because Prometheus doesn't respect the Go modules rules: the module name should have been `github.com/prometheus/prometheus/v2`. Unfortunately we can't change it now and in any case Prometheus wouldn't respect SemVer either since its versioning doesn't care about (Go) API stability. The workaround is to `go get` the commit ID

[2019-09-24 16:39] snebel29 opened #6053 "Shouldn't PUT /-/quit and /-/reload return 403 Lifecycle APIs are not enabled ?"
# Bug Report

I was working on https://github.com/prometheus/pushgateway/issues/136 and noticed that sending PUT vs POST to `/-/quit` and `/-/reload` when flag `--web.enable-lifecycle` is not enabled have different behavior

I Ran prometheus without `--web.enable-lifecycle` flag enabled and the [configuration](https://prometheus.io/docs/prometheus/latest/getting_started/#configuring-prometheus-to-

[2019-09-24 19:57] beorn7 commented on #6053
This totally makes sense to me. The behavior should be consistent between verbs.
(Nit: Why is it "APIs" and not just "API"? Two endpoints can be part of the same API. I would call it "the lifecycle API" in singular.)

[2019-09-25 05:08] nevill commented on #4890
@beorn7 This one can be closed since my PR got merged.

[2019-09-25 05:50] #4890 closed

[2019-09-25 09:21] snebel29 commented on #6053
I guess you're technically correct on API vs APIs for this case, we could change the message from `Lifecycle APIs are not enabled` to `Lifecycle API is not enabled.`

[2019-09-25 20:19] keremgocen commented on #3242
I'd like to grab `scrape/scrape_test.go`

[2019-09-26 07:08] sixinyiyu opened #6060 "support golang.org/x/sys/windows GetCurrentProcess function error ?"
..\..\..\src\github.com\prometheus\client_golang\prometheus\process_collector_windows.go:78:9: assignment mismatch: 2 variables but "golang.org/x/sys/windows".GetCurrentProcess returns 1 values

[2019-09-26 07:23] codesome commented on #3242
@keremgocen sure go ahead!

[2019-09-26 08:47] brian-brazil commented on #6060
We're aware, this is a breaking change in Go 1.13 for which a fix is currently in progress over in client_golang.

[2019-09-26 08:47] #6060 closed

[2019-09-26 11:11] bohdanlykhitkoexp commented on #5976
In order to fix the issue, you need to set UID/GID in the container:
[code]

Define in docker-compose:
[code]
Or in Dockerfile:
[code]

[2019-09-27 06:18] johncclayton commented on #535
I would find this very useful - it would enable me to backfill my reporting data from JIRA while at the same time writing my exporter tool for JIRA.

[2019-09-27 08:05] drholmie commented on #3843
Hey there! Is there anyone still working on this? If not, I'd like to do so.

[2019-09-27 09:13] Betula-L opened #6064 "How to get metric type by PromQL"
For example, i have metric `prometheus_notifications_dropped_total`, but i don't know exactly which metric type of it.

How can i get metric type, such as 'Gauge', by PromQL?

[2019-09-27 09:17] brian-brazil commented on #3843
Not that I know of, go ahead.

[2019-09-27 09:18] brian-brazil commented on #6064
This isn't possible, but the _total indicates a counter.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-09-27 09:18] #6064 closed

[2019-09-27 09:25] #6028 closed

[2019-09-27 10:06] drholmie commented on #3843
Cool, thanks! Will work on it then.

[2019-09-27 13:10] slrtbtfs opened #6065 "promql: Parser bug: Prometheus does not accept spaces after opening brace in subquery."
## Bug Report
**What did you do?**

Gave Prometheus a query like `some_query[ 5s]`. Note the space after the bracket.

**What did you expect to see?**
The query get's parsed to the same as  `some_query[5s]` (without space).

**What did you see instead? Under which circumstances?**

` Error executing query: invalid parameter 'query': parse error at char 12: missing unit character in duration`

**En

[2019-09-27 13:12] slrtbtfs commented on #6065
Shouldn't be hard to fix. Can do a PR for that after #6061 is merged.

[2019-09-27 13:27] brian-brazil commented on #6065
That's a range vector selector, not a subquery. Did we ever say that we support this?

[2019-09-27 13:30] brian-brazil commented on #6065
Looking through our docs, we never say that spaces are supported here. Thus this behaviour is correct, though the error could be a bit more useful.

[2019-09-27 15:36] slrtbtfs commented on #6065
Oops, my fault. But it fails for both range vector and subquery selectors.

We ignore redundant spaces basically everywhere else, without mentioning it in the docs. It's inconsistent to not ignore them here.

If we keep it like this, we'd rather have to document that we don't support spaces in that specific edge case.

Queries that do not fail:

`some_query[5s    ]`

`some_query    [5s]`

Queries

[2019-09-27 16:07] debashish-github opened #6066 "My Prometheus server doesn't return all custom metrics"
Hi,
   I have this weird problem . I have created some generated as well as custom metric using springs Actuator/Micorometer framework targeted for Prometheus 2.0.0.
The metric shows up correctly in all environments except Production .

In Production out of about 10 custom metric only couple of them show the values correct consistently. Rest all show the values correctly for a while and then are a

[2019-09-27 16:30] joe-elliott commented on #3242
@gouthamve All of the files you mentioned in your latest post have been converted to testutil.  This work appears to be complete.

[2019-09-27 17:31] Transwert commented on #5861
hey @beorn7 @brian-brazil  can i work on this issue, and it will be good awesome thing, if you can give me pointer on how to work on it.

[2019-09-27 18:03] alkalinecoffee opened #6067 "Consul SD should account for agent health"
## Bug Report/Proposal

**Summary**

One of our alertmanager instances was terminated due to EC2 health check failure.  Since the node was not properly removed from the Consul cluster, Consul continued to return this dead node when the service catalog is queried.  Because of this, Prometheus attempted to send alerts to the terminated instance.

**What did you do?**

We have the following in our pr

[2019-09-27 18:13] beorn7 commented on #6064
Hint: The current answer is https://prometheus.io/docs/prometheus/latest/querying/api/#querying-target-metadata , for better or worse…

[2019-09-27 19:02] beorn7 commented on #5861
Sure, your contribution would be very much appreciated. I'm not sure, though, if this is a good first issue if you have never worked with the Prometheus codebase (despite the "low hanging fruit" label that Brian added).

Having said that, the starting point would be to find the code path where the current behavior is implemented and then take it from there. The challenge is to implement something

[2019-09-27 19:30] brian-brazil commented on #6066
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-09-27 19:30] #6066 closed

[2019-09-27 19:31] brian-brazil commented on #6067
This is by design, you don't want to stop scraping a target just because its failing healthchecks - in fact scrapes are important there.

For the alertmanager, it's fairly harmless to attempt to send alerts to a dead one.

If you want to control this, it is possible via relabelling but not recommended.

[2019-09-27 19:33] brian-brazil commented on #5861
If it doesn't work out, we can remove the low hanging fruit label. It's sometimes hard to judge.

[2019-09-27 19:35] brian-brazil commented on #6065
This is true.

[2019-09-28 10:10] Moulick commented on #5097
@brian-brazil  can you please gimme how I can use label_join when a hostname and port number are in separate label ?? Thanks

[2019-09-28 12:38] Transwert commented on #5861
Thanks a lot Sir for the pointer, i will start working on it [ and yes, it will be my issue to start my Open Source Contribution :) ].

[2019-09-28 13:42] #6067 closed

[2019-09-28 17:06] csmarchbanks commented on #3242
@joe-elliott This work is not complete, there are still plenty of files that use `t.Errorf` or `t.Fatalf` rather than the helpers. I added checkmarks to the files he mentioned that are complete.

[2019-09-28 17:33] jeanralphaviles opened #6070 "promql.parseBrokenJson panic: runtime error: slice bounds out of range"
## Bug Report
**What did you do?**
Ran any Prometheus docker image from Dockerhub past **v2.12.0-rc.0** pointed at my existing data.

**What did you expect to see?**
Prometheus starting normally.

**What did you see instead? Under which circumstances?**

Prometheus crashes on startup with

[code]

Any version before **v2.12.0-rc.0** runs as expected.

**Environment**

* System information:

Runnin

[2019-09-28 17:36] brian-brazil commented on #6070
What does the active queries file look like?

[2019-09-28 18:17] jeanralphaviles commented on #6070
Looks to be a 20k file full of nothing.

[code]

[2019-09-28 18:26] jeanralphaviles commented on #6070
If I rename `queries.active` to `queries.active.old` Prometheus starts and runs as expected.

Diffing the two files I do see that the new `queries.active` file is very slightly different.

[code]

[2019-09-29 10:41] Sebi2020 opened #6072 "Allow timestamps for textfile metrics"
Not every system can use synchronous scrapes. I'm not sure why the developers of prometheus insist in denying timestamps, but it would make many things easier.
Imagine you are using docker and have a replicated service. If prometheus tries to scrape the metrics from the service (e.g. http://service/metrics) it does not always get the same instance because docker load-balances requests. Whereas it

[2019-09-29 14:51] liguozhong opened #6073 "[bug] WAL : 300 GB disk"
![image](https://user-images.githubusercontent.com/9583245/65834254-dc333680-e30b-11e9-9159-82776e2751e5.png)
memory 8GB

disk/data/wal/ 300GB

[2019-09-29 14:57] #6073 closed

[2019-09-30 09:43] #6053 closed

[2019-09-30 20:57] #6072 closed

[2019-10-01 02:34] llacroix opened #6079 "Implement a platform agnostic service discovery"
## Proposal
**Use case. Why is this important?**

Currently it seems that the team is struggling to implement / maintain service discovery handlers. And Prometheus could gain a lot by implementing a platform agnostic service discovery.

1. By removing the service discovery handlers from the promtheus core, it easier for other developers to implement service discovery with different strategies than

[2019-10-01 02:56] jacksontj opened #6080 "Remote_write unable to send due to `segments are not sequential` error"
## Bug Report
**What did you do?**
Restarted prometheus after a crash

**What did you expect to see?**
Prometheus start and continue to send metrics to remote_write endpoint

**What did you see instead? Under which circumstances?**
Prometheus starts and scrapes metrics, but the logs are littered with:
[code]

When I look at the wal directory I can see that I have `00000007.repair` in the wal direc

[2019-10-01 03:42] genericgithubuser commented on #5776
We've seen this in our environment, we have currently discover all namespaces, and then filter things down to just the relevant targets.  We have some small instances (just a few GB of RAM) that scrape <12 endpoints, with <6k head chunks with little churn.  In our lower environments (with almost identical targets and metrics), which has a few hundred fewer namespaces with tens of thousands less se

[2019-10-01 06:59] juliusv commented on #5776
Yeah, if this causes so much more memory usage, the feature request itself makes total sense. I'm just not sure how easy it is to do.

/cc-ing the people who have touched the Kubernetes SD the most @simonpasquier @brancz @tariq1890

[2019-10-01 08:42] yeplaa commented on #5776
In ma case, Prometheus doesn't have rights for access every namespace because it's a shared cluster with other projects. Prometheus has only access (by Rolebinding) to certain namespaces
 This is why i don't have currently discover all namespaces ..

[2019-10-01 09:15] brian-brazil commented on #6079
We already have file SD as our agnostic integration, and https://github.com/prometheus/prometheus/tree/master/documentation/examples/custom-sd is one example of using it.

[2019-10-01 09:16] brian-brazil commented on #6080
Were there any previous log messages relating to the repair?

[2019-10-01 09:20] juliusv commented on #5776
If namespace changes become as dynamic as e.g. pod changes, then of course this becomes suboptimal, as now one has to implement their own namespace SD, and also reload Prometheus quite frequently (which is cheap, but not without any disruption).

[2019-10-01 10:09] dhruvin2910 opened #6082 "JSON Schema for prometheus.yml"
## Proposal
**Use case. Why is this important?**
It'd be great if we can have a json schema for prometheus.yml (and other configuration files, if there are any). It'll help developers using IDEs or editors, by providing autocompletion and inline documentation (maybe with typing). I see a swagger file in documentation/dev/api, this proposal is along those lines.

I am interested in contributing sch

[2019-10-01 13:05] llacroix commented on #6079
I'm aware of file_sd. Isn't file_sd requiring mountpoints to be shared between processes? Because in that case, file_sd is more or less what I'm saying except through http vs file mounts.

[2019-10-01 13:13] brian-brazil commented on #6079
file_sd has no such requirement, how you lay out your filesystem is up to you.

[2019-10-01 14:13] jacksontj commented on #6080
Just an error renaming the file (not sure what it meant since it obviously
renamed it). My concern is less about how it got corrupt and more that it
seems to get you into this error mode that requires blots of undocumented
manual intervention.

On Tue, Oct 1, 2019, 2:18 AM Brian Brazil <notifications@github.com> wrote:

[2019-10-01 14:40] joe-elliott commented on #3242
Apologies, I missed the errors and fatals.  PR submitted for buffer_test.go.

[2019-10-01 15:22] llacroix commented on #6079
What if it's not?

[2019-10-01 15:26] brian-brazil commented on #6079
If you've got a system that doesn't support POSIX, then it's up to you to deal with that. I'm afraid we can't support every possible contortion of POXIS out of the box, some of that has to go on the user.

[2019-10-01 16:10] llacroix commented on #6079
I'm saying laying out the file system may be not up to people. For example having prometheus run on one node and being forced to run discovery service on different nodes for whatever reason.

A network based version that leaves implementation up to the user would allow prometheus to remove other SD from the source tree and end up with pretty much only 3 sd. static_config_sd, file_sd and eventually

[2019-10-01 16:43] brian-brazil commented on #6079
Prometheus already depends on the filesystem, so it's not an issue there - and the disk i/o by Prometheus itself will likey far outweigh anything file_sd is likely to end up doing.

I don't think there's such a failure mode when renaming files. I suspect this may be Windows specific.

This is by design. You want to keep on monitoring if there's an issue. Better to have stale data than none (and it

[2019-10-01 17:49] tariq1890 commented on #5776
Unless I am missing something, can't this be done the prometheus-operator?

[2019-10-01 18:51] genericgithubuser commented on #5776
And to Brian an Julis' comments, in our case, these very much are dynamic namespaces, so would be challenging to have edited in the config and reloaded on a frequent basis.  We have jobs running in namespaces that get spun up just for the run and then removed for each group, so namespaces frequently coming and going.
We don't currently run the prometheus operator, so not sure if it already does th

[2019-10-01 19:55] Vlaaaaaaad commented on #5560
Is this fixed in a specific version? We were just hit by this in production, running v2.11.1.

[2019-10-01 20:16] csmarchbanks commented on #5560
This has not been fixed, generally if Prometheus OOMs once, it is very possible that it will OOM again shortly after starting up as it replays all the previous state back into memory. Without losing data it will be challenging to fix that issue unless you increase the memory Prometheus has access to after an OOM.

Prometheus v2.12.0 has some improvements around this such as general memory improvem

[2019-10-01 20:20] Vlaaaaaaad commented on #5560
Thank you for the quick response! I'll investigate the issue some more tomorrow and if I find anything relevant I'll share it here.

We're running in Kubernetes with rather huge memory limits + low retention so I am a bit surprised that it OOMd.

[2019-10-01 20:37] fritchie opened #6086 "Feature request: shutdown options"
This is a feature request.

Having the ability to choose whether a full flush takes place during shutdown can be very useful in certain situations. One such case is draining Kubernetes nodes where some of the pods run Prometheus. Having a slow startup would be preferred to a slow shutdown.

I am thinking of something like innodb_fast_shutdown:

dev.mysql.com/doc/refman/8.0/en/innodb-parameters.htm

[2019-10-01 21:01] bwplotka commented on #6086
Thanks for this!

Overall, I found flush to WAL very efficient right now, unless you use some slow disk or (:scream:) NFS...

 I am afraid Prometheus (actually TSDB) does not have any intermitted transactions like InnoDB, but also ingestion is usually way faster than casual DB writes.

Just curious, are you experiencing a slow shutdown with Prometheus 2.x? Can you share numbers, how long exactly,

[2019-10-01 21:04] fritchie commented on #6086
thx, the issue is definitely slow storage in this case. I will close this.

[2019-10-01 21:04] #6086 closed

[2019-10-01 21:44] krasi-georgiev opened #6087 "Extend promtool with all commands from the tsdb tool and remove the tsdb tool"

[2019-10-02 04:30] yeya24 commented on #6087
I' d like to work on it. But what about #6085? Is it still necessary?

[2019-10-02 05:47] codesome commented on #6087
@yeya24 #6085 would be a temporary solution till we merge tsdb tool with promtool. Please go ahead with it if you are interested!

[2019-10-02 05:49] codesome commented on #6087
Oh, I see you already opened a PR, thanks!

[2019-10-02 08:28] #5870 closed

[2019-10-02 10:23] syst0m opened #6090 "High RAM and CPU usage with prometheus-operator"
## Bug Report
Deployed prometheus-operator helm chart to an EKS cluster.
The prometheus instance is used for monitoring both the kubernetes workloads,
and the CI/CD agents.
The memory usage has been slowly increasing over time, it's ~19GB at the moment.
Also, the CPU usage has grown, from 0.1->0.6 on average.

![prom1](https://user-images.githubusercontent.com/15815107/66036741-ed479780-e505-11e9-

[2019-10-02 14:49] nikicat commented on #3756
:+1: for kube-dns + dnsmasq monitoring

[2019-10-02 15:08] snawaz opened #6091 "rate() works unpredictably with monotonically increasing counters."
## Bug Report

I wrote few simple tests to understand the behavior of `rate()` so that I could write more complex tests for my actual use cases. However, `rate()` works unpredictably with input having [_monotonically increasing_][1] counters.

[1]: https://en.wiktionary.org/wiki/monotonic_increasing

[code]

Save this in ` issue-test.yaml` and evaluate it using `promtool`:

[code]

However, as men

[2019-10-02 15:28] brian-brazil commented on #6091
See https://www.youtube.com/watch?v=67Ulrq6DxwA

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.https://www.youtube.com/wa

[2019-10-02 15:28] #6091 closed

[2019-10-02 17:40] guidodobboletta opened #6092 "promtool check config complains about missing region in EC2 SD config"
**Use case. Why is this important?**

I want to validate my prometheus configuration file

## Bug Report
**What did you do?**

I run `promtool check config` against my `prometheus.yml` and got an error saying:

[code]

**What did you expect to see?**

I expected to see no errors as not having a region in the EC2 SD configuration is supported. Per the documentation: https://prometheus.io/docs/prome

[2019-10-02 18:04] snawaz commented on #6091
Thanks. I've asked the same question on https://groups.google.com/forum/#!topic/prometheus-users/rK4dlWrJZno

However, I watched the youtube talk of yours. I didn't find anything that seems to explain the issue I've described here, neither does your book _Prometheus: Up & Running: Infrastructure and Application Performance Monitoring_. Details seem to be missing from the official docs as well.

[2019-10-02 23:29] geekofalltrades commented on #2204
I would like to be able to join metrics from node-exporter with node metrics from kube_state_metrics.

node-exporter only provides the node name, which in EC2 is something like `ip-10-224-40-127.us-west-2.compute.internal` -- not human-readable. The `kube_node_labels` metric has all of the juicy labels that we apply, many of which _are_ human-readable and would be better identifiers.

These two me

[2019-10-03 08:41] zytek opened #6095 "remote_write unreliable (stops writing) after prolonged connection issue to remote, during resharding"
## Bug Report
**What did you do?**

Set up remote_write to Victoria Metrics. Default queue config.
Prometheus is deployed via prometheus-operator on kubernetes.

**Expectations vs reality**

After connectivity issues to remote - either via unstable connection (AWS to AWS China) or because Remote had issues (EC2 failure, took more than 30 minutes to heal and be available again) Prometheus gives up.

[2019-10-03 08:49] simonpasquier commented on #6082
FWIW the swagger documentation is for the v2 API of Prometheus which is experimental (and likely to be removed at some point). I'm not sure how we can ensure that the JSON schema is kept in sync with the Prometheus code.

[2019-10-03 10:15] simonpasquier commented on #6090
I would encourage you to update to a recent version of Prometheus as the TSDB code has been improved since v2.7.1. Also the last screenshot shows an increase in queries which can explain the increased CPU.

I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-10-03 10:15] #6090 closed

[2019-10-03 10:59] metalmatze commented on #6090
This seems to be about the Prometheus Operator itself and there also have been lots of improvements.
One of those was a fix for a bug that caused lots of CPU usage. Please update the Prometheus Operator to v0.30+ too.

[2019-10-03 12:40] GiedriusS commented on #5919
@brian-brazil what do you think about the following: perhaps we should calculate at the beginning how many metrics there are and if it's past a certain threshold then we shouldn't show the dropdown? I feel like it would be hard to implement the same functionality **correctly** that the UI currently has if the label values API would support pagination.

[2019-10-03 12:45] brian-brazil commented on #5919
I don't think that'd help here, as merely the JS parsing the large JSON result appears to be an issue.

[2019-10-03 12:52] simonpasquier commented on #6092
The reason is that the code deserializing the YAML data queries the EC2 metadata service to get the region thus it will fail if `promtool` isn't executed from an EC2 instance. One could argue that it shouldn't be done at this stage.

https://github.com/prometheus/prometheus/blob/53ea6d63901b96a13bb79ff598c96af4a979adce/discovery/ec2/ec2.go#L91-L102

[2019-10-03 13:39] dhruvin2910 commented on #6082
Okay.

I am almost done with the spec (currently faithful to the [documentation](https://prometheus.io/docs/prometheus/latest/configuration/configuration) only, with some issues).

I think there are three options.
1. We update the spec manually just like we update the documentation. But I don't know how often does the schema change, but I understand that doing so is error-prone.
2. We generate sch

[2019-10-03 14:46] guidodobboletta commented on #6092
Is it possible to add a workaround such as passing the region via a CLI flag? For my use case I want to validate the configuration before building our Prometheus AMI via `pre-commit` hooks.

Right now I'm able to validate my Alertmanager configuration and Prometheus alert rules so this would be a very nice to have for our needs.

[2019-10-03 17:16] gfelixc commented on #3242
I'd like to grab `storage/remote/codec_test.go`

[2019-10-03 19:27] ericajcase commented on #5724
Hi!  We are starting to run into this problem on an almost-daily basis in our recording rules, resulting in missed basis.

It comes from automated rule generation Python code that runs on multiple metrics
`{ f"record": f"level1:{metric}:irate", "expr": f"sum without (instance)(irate({metric}[30s]))" + 0*on(app_name, env) group_left(pipeline_id) level1:pipeline:min * 0 }

Is something about this ex

[2019-10-04 07:33] GiedriusS commented on #5919
Exactly, that's the problem. What I am proposing is for the UI to do a query like `count({__name__=~".+"})` and check if it passes a certain threshold. Obviously, this won't give us the exact numbers and would put unnecessary pressure on the node so maybe it's not the best solution.

What do you think about this other idea that I had, @brian-brazil: what if there was a button in the place of where

[2019-10-04 08:27] gfelixc commented on #3242
@codesome should I request a review to someone in particular?

[2019-10-04 08:39] brian-brazil commented on #5919
I don't think adding extra UI elements for the user to worry about is the thing to do. Whatever the result is, it should Just Work.

[2019-10-04 10:45] dgl commented on #5919
I've made a pull request that addresses some of the issues here; it hides the metric selector if there's more than 5,000 metrics (based on a little bit of testing with Chrome) and also changes the fuzzy matching to not try to match on a huge number of metric names.

[2019-10-04 11:00] dzeban commented on #3242
I would like to fix tests in promql package (engine_test.go, parse_test.go, etc.)

[2019-10-04 14:38] geekhead commented on #6080
We've just run into this exact same issue today with the exact same error. However, I didn't see a ####.repair file in the wal directory but still had to stop prometheus, remove all wal files, start back up prometheus to get remote_write to start sending metrics again.

[2019-10-04 16:03] dgl commented on #5421
I didn't find this earlier, there's a bit more related discussion on #5919 (and a related pull request).

[2019-10-05 10:02] Sincasios opened #6105 "Prometheus for ARM on Docker (from Docker Hub) is crashing"
## Bug Report
**What did you do?**
I updated my prometheus docker image from Docker Hub on my Raspberry Pi 2.

**What did you expect to see?**
Prometheus runing

**What did you see instead? Under which circumstances?**
This backtrace:
[code]

On x86_64 is working fine.

Versión 2.12 is working fine in ARM: image: prom/prometheus:v2.12.0

**Environment**

* System information:
Linux 4.14.78-4-osmc

[2019-10-05 10:25] brian-brazil commented on #6105
Does it work if you compile 2.13.0 with go 1.12?

[2019-10-05 10:33] Sincasios commented on #6105
I don't know. I don't compile prometheus, I get images from Docker Hub.

[2019-10-05 10:40] brian-brazil commented on #6105
I'd guess that this is an unaligned access to Head.minTime.

[2019-10-05 13:44] wu0407 commented on #5617
and --storage.tsdb.retention.time=10d not work

[2019-10-05 18:20] protik77 commented on #6105
First grafana and now prometheus.

[2019-10-05 20:06] brian-brazil commented on #6105
What's this Grafana issue?

[2019-10-06 04:43] protik77 commented on #6105
Grafana went to alpine as their base OS for their docker image for ARM and broke it.

[2019-10-06 08:43] brian-brazil commented on #6105
That seems unrelated then.

[2019-10-06 15:49] unixlab commented on #6105
No, I compiled git tag v2.13.0 for arm7 with go1.12.10 and see the same behavior.

[2019-10-06 18:04] Transwert commented on #5861
Regarding this issue, i have some doubts, 1) do i have to write a generalised case to handle labels, from target or from scrape or from both, 2) i think i have found the right part to change [ i.e is function "mutateSampleLabels" in "scrape.go in GOPATH/src/github.com/prometheus/prometheus/scrape", so am i going in right way, or i am looking in wrong file. @beorn7 @brian-brazil

[2019-10-07 10:34] brian-brazil commented on #5861
Just `mutateSampleLabels`, `mutateReportSampleLabels` is for `up` and friends which only get target labels so can't clash.

[2019-10-07 10:53] Transwert commented on #5861
@brian-brazil i have made some changes in the code. But right now, what should i do now as i don't know how to write tests for it. or should i directly submit PR for it.

[2019-10-07 10:56] brian-brazil commented on #6105
Can you try it before/after #5999?

[2019-10-07 10:56] brian-brazil commented on #5861
Let's start with the PR so we can get the behaviour agreed upon, and then we can talk about tests.

[2019-10-07 11:35] Gustavo2008 commented on #2914
Manter o padrão é sempre bom!
Parabéns pelo código, ficou muito bom.

[2019-10-07 15:46] jdelvecchio commented on #5980
Hi,

Even with `scrape_interval` to 2m - I still get alarms that get stuck in pending state forever, please see :
![image](https://user-images.githubusercontent.com/11552866/66326949-38a8de00-e92a-11e9-9944-075e03cccb9d.png)
All 44 are stuck in 'pending' state. It also happens for some other alerts.

I still don't know why it's happening, could 2m still be too high ?

[2019-10-07 16:17] unixlab commented on #6105
Seems related to #5999.
Works before (build with commit 8744afdd) but not after (build with commit 3344bb5c).

[2019-10-07 17:09] hoffie commented on #5980
@jdelvecchio
I suggest checking all time series which are referenced in the affected alerts. Are they stable over time? Are they all available consistently over time? Are there maybe recording rules with very long evaluation times?
If checking this does not yield a result yet, I recommend posting to the prometheus-users list (or IRC) so that we can track this down and provide more details in this

[2019-10-07 18:13] csmarchbanks commented on #6095
Hello, Prometheus v2.12.0 had some improvements around how the number of shards are calculated that may help your situation.

Are you using the default remote write configuration? If so, it can have very bad performance with high numbers of shards (defaults are improved in v2.12.0).

I have had this situation occur (remote endpoint down, came back later) and have successfully caught up, but the ti

[2019-10-07 18:53] siebenmann opened #6109 "In Prometheus 2.13.0, promtool misleadingly complains about rules that reuse the same label values"
## Bug Report

In Prometheus 2.13.0, `promtool` will complain if you have rules with the same label and the same label value, which is a routine occurrence if you're using per-rule labels to control various things or add additional information. On top of that, the complaint is misleading; it reports a duplicate rule, instead of duplicate labels. Sample output (for the example rule file in this bug

[2019-10-07 21:56] beorn7 commented on #5972
Closing as discussed in https://github.com/prometheus/client_golang/pull/636 .

[2019-10-07 21:56] #5972 closed

[2019-10-07 23:13] csmarchbanks commented on #6105
I reproduced and fixed this in #6110, @unixlab would you be willing to check that it works for you as well?

[2019-10-08 00:25] cstyan commented on #6095
Resharding shouldn't result in remote write exiting as a whole. If it does we have a bug.

It is, with the exception of shard shutdown scenarios (resharding, Prometheus shutting down, etc.). In these cases we retry with backoffs for up to 1m (by default), and then force shutdown of the shards.

Do you mean checkpointing? If you're remote write has fallen far enough behind, then yes it can potentia

[2019-10-08 08:33] zytek commented on #6095
Hey,
thanks for taking a look at this bug.

Yes, I was using default. There are a ton of resharding events happening every few seconds which does not sound like an optimal setup. Logs attached.

Yep, it seems we have a bug. Logs suggest exactly that - failure to shutdown old shards during resharding resulting in unrecoverable error.

It has happened on a second prometheus instance recently, with s

[2019-10-08 09:01] #6007 closed

[2019-10-08 09:01] simonpasquier commented on #5980
@jdelvecchio please use the prometheus users mailing list which is more relevant to answer this type of question.

[2019-10-08 09:39] bandesz opened #6112 "make build fails with "tsdb already exists and is a directory""
**Use case. Why is this important?**

We are building Prometheus from source, following the instructions from the README.

## Bug Report

**What did you do?**

`make build`.

**What did you expect to see?**

No failure.

**What did you see instead? Under which circumstances?**

[code]

**Environment**

I was running the build in a `golang:1.12-alpine3.10` Docker container.

* System information:

[2019-10-08 10:26] bandesz commented on #6112
The build works with Go 1.13.

Based on the release notes I assumed I should still use Go 1.12.

[2019-10-08 10:26] #6112 closed

[2019-10-08 14:08] glightfoot commented on #6095
We got around this issue previously by setting `min_shards` equal to `max_shards` to disable the resharding operation until we upgraded to the latest version

[2019-10-08 16:40] bandesz opened #6114 "Service discovery errors during startup in v2.13.0"
## Bug Report

**What did you do?**

We've upgraded Prometheus from 2.6.1 to 2.13.0.

When Prometheus is starting up there are service discovery errors logged, partly because of context cancellation. Service discovery otherwise works.

Also it seems the config is read twice.

**What did you expect to see?**

No errors during startup.

**What did you see instead? Under which circumstances?**

[code

[2019-10-08 17:26] cstyan commented on #6095
Yeah the resharding calculation has had lots of improvements and the default queue configs have been updated as well. Please try 2.13.

I'm not seeing this in your logs. I see failed to flush followed immediately by more resharding events. The logs like ```ts=2019-09-27T14:32:22.347Z caller=dedupe.go:111 component=remote level=error queue=0:https://vminsert.cosmose.cloud/insert/1/prometheus msg="n

[2019-10-08 23:05] beorn7 commented on #5861
I think the approach in https://github.com/Transwert/prometheus/commit/9046822e5460c8d94bb1f7fba87bc811e5e6f01c wouldn't work (not even with the trivial fix I have suggested there).

The problem is that a scrape could contain a whole chain of labels like `{foo="a", exported_foo="b", exported_exported_foo="c", exported_exported_exported_foo="d"}`. If we have then a target label `{foo="t"}`, we prob

[2019-10-08 23:08] beorn7 commented on #5861
And WRT to target labels with `exported_` prefix: I think it will work out if we make sure to apply the target labels with the lowest number of prefixes first, and ending with the target labels with the highest numbers of prefixes. (`{foo="a", exported_foo="b", exported_exported_foo="c", exported_exported_exported_foo="d"}` could also be given as target labels. The semantic is, I guess, that the e

[2019-10-08 23:09] beorn7 commented on #5861
(And yeah, these are all pathological corner cases. But if we want to fix this, we have to take those into account, too.)

[2019-10-08 23:16] beorn7 commented on #5861
Given how dense my comments above are, we should really get rid of the 'low hanging fruit' label.

[2019-10-09 09:28] zytek commented on #6095
Thanks @cstyan

I'll wait for prometheus-operator to provide 2.13 and will deploy without my workaround. Shall this happen again I will update this issue.

Thanks for pointing out how to monitor remote write, this will be helpful.

[2019-10-09 09:29] Transwert commented on #5861
the case you are saying to check, isn't it will be very complicated and time-consuming to check for all labels, suppose for example we have  label's list as {foo="a", exported_foo="b", exported_exported_foo1 ="c", exported_exported_foo2 = "d", exported_exported_exported_foo2 ="e", exported_exported_exported_exported_exported_exported_foo1 = "f"}  [ it can get much complicated]. but the point is fo

[2019-10-09 09:29] svogt commented on #535
Prometheus format is fine I think as it's also what https://github.com/Cleafy/promqueen/ promrec is creating with some additional frame header (to store the timestamp) + http header

By the way, as I haven't seen that mentioned here as a use case. Think about on premise software recording / dumping metrics to disk every x seconds and for a support issue, the dumps are zipped and sent for further a

[2019-10-09 09:33] brian-brazil commented on #535
You could send the existing blocks around for that.

[2019-10-09 09:35] beorn7 commented on #5861
I would prefer to have a solution that can deal with the general case but has decent performance in the most likely case of no clashes at all. I can imagine a recursive solution is just fine as it only has to enter the recursion in those pathological cases described above. It might be a tiny bit more expensive than the current solution, but I doubt it will matter in practice. We can test that.

I

[2019-10-09 09:35] simonpasquier commented on #6114
Right, I had someone else reporting the same issue just today! I'll send a PR.

[2019-10-09 09:46] Transwert commented on #5861
Ok fine, but i would like to continue work on it, if i might not able to cover the problem wholly, i will ask for help :)

[2019-10-09 09:56] svogt commented on #535
Which would mean we would have to run prometheus on-premise. Quite some overhead.
Would need more RAM, we'd have to start and monitor an additional process, etc. pp.

Compare that to we have a Java thread running which just dumps the registry every 60 seconds and appends that two a file (one file per day) - once the current day is done zip it and delete all files older our customizable retention t

[2019-10-09 10:01] svogt commented on #535
Btw: Yes, I've already considered reimplementing the on-disk-format in Java and creating blocks from Java and sending them around :) Up to now I tried to avoid it, as promplay is working okay enough for us

[2019-10-09 13:11] johncclayton commented on #535
In my case I have simple needs.  I have a a JIRA system for which I've made
up a bunch of queries that make sense for my needs - all around the topic
of understanding how long it takes us to handle support cases or how long
dev teams are spending doing certain things.

My goal is to start monitoring these metrics - so it would be extremely
useful to take all the existing data (it's only 10 months

[2019-10-09 13:59] krasi-georgiev commented on #535
for the moment we have already settled on the prometheus format(expfmt) so for any other formats will need to open a separate PR

[2019-10-09 15:05] #6114 closed

[2019-10-09 16:17] beorn7 commented on #5861
Sounds good. Also, feel free to pick up a different issue if this one is getting too frustrating. As said, it's probably a quite tricky one after all and not necessarily a good starter project.

[2019-10-10 02:14] huangxblove opened #6120 "How to Set the Time Range of Alarm ?"
How to set the alarm time range? For example, an alarm can only trigger an alarm during working hours or between 9:00 and 22:00. How to configure it?

[2019-10-10 04:48] dhananjaya-senanayake commented on #5016
We are working in K8S, this same issue was happened after the worker node which the prom server is scheduled was terminated for the AMI upgrade. Prom server went OOM and restarted. This issue was fixed by setting the resources as follows
`  resources:
    limits:
      cpu: 1000m
      memory: 2G
    requests:
      cpu: 500m
      memory: 512Mi`

And setting the scrape interval as follows
`  glob

[2019-10-10 06:16] simonpasquier commented on #5016
@dhananjaya-senanayake setting the scrape interval to `5m` isn't going to work, the maximum recommended value is `2m` to cope with staleness.

[2019-10-10 06:31] dhananjaya-senanayake commented on #5016
@simonpasquier , I experienced stats not shown in grafana dashboard after increasing to 5m. Thanks for pointing this.

[2019-10-10 06:39] codesome commented on #6120
GitHub issues are only for tracking development. Please ask usage-based questions in our user mailing list which you can find here https://prometheus.io/community/.

[2019-10-10 06:39] #6120 closed

[2019-10-10 08:18] ostbaldo opened #6121 "use url parameters in scrape.yaml"
Hi i need to use different url params for every enpoint in scrape.yaml but i cant figure out how to do it could someone point me in the right direction ?

i tried this but it doesnt work:
scrape.yaml:
- targets: ['192.1.1.1:8080']
  labels:
    __metrics_path__: /getPrometheus
 params:
      format: ['prometheus1']

- targets: ['192.1.1.2:8080']
  labels:
    __metrics_path__: /getPrometheus
 para

[2019-10-10 08:20] #6121 closed

[2019-10-10 14:14] robbruce opened #6124 "api/v1/label/__name__/values does not return return values from remote read"
## Proposal
**Use case. Why is this important?**

If samples have been written to a remote and not via prometheus, then the labels are not returned in the api. This causes an issue for autocompletion in the prometheus UI and other tools such as Grafana.

## Bug Report
**What did you do?**

* Inserted samples directly into a Postgres + TimescaleDB remote database (to get around the data too old iss

[2019-10-10 22:32] kinghuang commented on #2357
I'm working on a federated deployment, and the inability to easily fill values on things like `external_labels` using environment variables is just maddening.

[2019-10-11 00:07] rbkaspr commented on #2357
@kinghuang Having read the response to your issue, the idea that configuring Prometheus is something that needs to be handled outside Prometheus is something I find utterly baffling.

On a personally relevant note, I've actually been migrating my organization away from Prometheus and over to Telegraf. The fact the environment variable substitution is supported out of the box is something I conside

[2019-10-11 04:02] lddlww opened #6126 "how can i get history alerts info？"
/api/v1/alerts   api only get current active alerts
ALERTS metric can get history alerts，but Its value is 1

[2019-10-11 06:21] juliantaylor opened #6127 "feature: add collapse/expand all button to ui target page"
The ui target page can contain a lot of different scrape jobs which can be collapsed to give a good overview.
What is missing is a collapse and expand all targets button to help navigate to targets on is interested in quickly.

In our case we have prometheus configurations with many jobs, some of them have thousands of scrape targets. Be default on first visit all targets are expanded and one has

[2019-10-11 09:07] brian-brazil commented on #6126
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-11 09:07] #6126 closed

[2019-10-11 20:29] bernadinm commented on #5383
We also see this as well. It's quite interesting that in both photos listed shown by the author and ours's the delay is at 10 seconds.

[code]

![Screen Shot 2019-10-11 at 1 23 59 PM](https://user-images.githubusercontent.com/8700946/66682635-82dfd700-ec2a-11e9-8c69-c043ae0853b0.png)

[2019-10-11 21:26] ILoveYaToo opened #6131 "Prometheus cannot connect to Consul using consul_sd_configs"
## Bug Report
**What did you do?**
Enabled Consul support on Prometheus inside Kubernetes

**What did you expect to see?**
Prometheus scraping using consul_sd_configs

**What did you see instead? Under which circumstances?**
Prometheus cannot reach Consul. If the docker container is entered, Consul can be reached, so this is not likely a networking issue.

**Environment**

* System information:

R

[2019-10-12 10:53] Transwert commented on #5655
@TyBrown @codesome @mszczygiel @mszczygiel   can you state about this issue, if this has been solved, if yes, can you close it. and if not, can you state, what is needed to be done.

[2019-10-12 10:56] Transwert commented on #5529
@brian-brazil @FUSAKLA can any of you close this issue, as this has been solved,

[2019-10-12 11:04] brian-brazil commented on #5529
This issue has not been resolved.

[2019-10-12 11:14] Transwert commented on #5925
@brian-brazil @bwplotka  i would like to work upon this one, can you guys state resources, an direction in which i should proceed.

[2019-10-12 12:10] Transwert commented on #5529
@brian-brazil isn't this PR : https://github.com/prometheus/prometheus/pull/6025 solved the issue, and if it doesn't ,can you brief out about possible correction needed which can be implemented though!

[2019-10-12 12:12] brian-brazil commented on #5529
That added a warning about something that can cause this to promtool. We still need to check for this and error out in the recording rule code.

[2019-10-13 03:38] liguozhong commented on #6124
![image](https://user-images.githubusercontent.com/9583245/66710521-ed208500-edac-11e9-81fd-ab1245a4061d.png)
auto complete
The autocompletion feature relies on the labelValues interface. By default, this interface of remote storage is empty, and it can be implemented.

Our team maintains its own code branch, and in this branch we implement the autocompletion feature by implementing the labelValue

[2019-10-13 23:23] bwplotka commented on #5925
Thanks @Transwert!

We published a blog post which in details presents remote read streaming: https://prometheus.io/blog/2019/10/10/remote-read-meets-streaming/

With this, I believe this issue is actually done. As @brian-brazil mentioned there is indeed an optional example code we could add here: https://github.com/prometheus/prometheus/tree/master/documentation/examples/remote_storage

In terms

[2019-10-14 08:09] simonpasquier commented on #5383
For people reporting on this issue, see https://github.com/prometheus/prometheus/issues/5383#issuecomment-474771375 for steps that would help with the troubleshooting. Also make sure that you're running the latest version of Prometheus.

[2019-10-14 08:30] simonpasquier commented on #6131
This is similar to #6114 and #6116 but for Consul. TL;DR: these messages shouldn't be logged because a configuration reload is in progress and the discovery manager has to cancel the existing providers.

I'll send a follow-up PR.

[2019-10-14 09:28] kron4eg commented on #2357
https://www.robustperception.io/environment-substitution-with-docker

[2019-10-14 12:30] krasi-georgiev opened #6136 "Rearrange the packages to put `CreateBlock` in `tsdbutil` and avoid circular import"

[2019-10-14 17:09] dipack95 commented on #6136
`createBlock` referred to, is here: https://github.com/prometheus/prometheus/pull/5887/files#diff-deb37515bb9a472285c2cd38d5649deeR346

[2019-10-14 18:57] dhruvin2910 commented on #6082
I have created a PR to SchemaStore/schemastore#821 with the configuration and rules schema (as of v2.13).

The schema does not include service discovery configs, as I was not sure about how frequently will they change, and they're labeled not stable for 2.x.

It'd be great if someone can try it out and let me know.

The schema will (hopefully) be available from the schemastore. It is not generated

[2019-10-14 18:57] #6082 closed

[2019-10-15 03:35] ypenghui6 commented on #6109
I had the same problem

[2019-10-15 06:33] AlekSi commented on #6105
Any ETA for 2.13.1 release with this fix?

[2019-10-15 08:20] simonpasquier commented on #6105
@krasi-georgiev is the release shepherd. If I'm correct, this should go out soon.

[2019-10-15 08:20] johncclayton commented on #535
Fine with me - is there a way I can test the current features for
backfilling?

John Clayton
CTO
E: johnc@filewave.com
A: St. Gallerstr 1, 9500 Wil, St Gallen
<https://maps.google.com/?q=St.%20Gallestr%201%2C%209500%20Wil%2C%20St%20Gallen>
W: https://www.filewave.com

On Wed, 9 Oct 2019 at 16:00, Krasi Georgiev <notifications@github.com>
wrote:

[2019-10-15 08:47] Transwert commented on #5925
ok @bwplotka i will surely start working on it, thanks for briefing :)

[2019-10-15 08:57] simonpasquier commented on #5655
@Transwert you can follow #5758 which should fix this issue.

[2019-10-15 08:58] bandesz opened #6139 "Error: http: superfluous response.WriteHeader call"
## Bug Report

**What did you see?**

Multiple errors of `http: superfluous response.WriteHeader call` in the logs - during normal operation.

[code]

**Environment**

* System information:

	busybox Docker image running the Prometheus binary.

* Prometheus version:

	```level=info ts=2019-10-09T12:24:15.591Z caller=main.go:332 msg="Starting Prometheus" version="(version=2.13.0, branch=HEAD, revis

[2019-10-15 09:55] beorn7 commented on #1893
Based on some recent discussions I had, this seems to hurt quite a few people, especially for rules calculating histogram quantiles aggregating many targets.

The “almost done” [PR](https://github.com/prometheus/tsdb/pull/306) somehow became stale. @gouthamve doesn't have time right now to work on it. The PR is for the archived TSDB repo, so it has to be lifted over into prometheus/prometheus and

[2019-10-15 11:07] krasi-georgiev commented on #535
Next prometheus release will include this in the promtool or you can build this PR
https://github.com/prometheus/prometheus/pull/5887

[2019-10-15 12:06] dolgovas commented on #5617
have same error with
`action: labeldrop`
in `metric_relabel_configs`

[2019-10-15 13:45] damoun opened #6140 "feature: Support loading file for Consul Token"
## Proposal

I use vault as a secret storage solution and I think it could be useful to support loading the consul token from a file like the `bearer_token_file`. For exemple, the Marathon SD already support it.

What do you think ?
If you like it, I could start working on a PR.

Thanks

[2019-10-15 14:32] johncclayton commented on #535
Ah, great!  I've never built any of this so - lets see how far I get.

[2019-10-15 19:19] rockyluke commented on #6140
I love the idea!

[2019-10-16 08:52] gaopeiliang opened #6143 "sum_over_time(metrics) different with metric"
**What did you do?**
I use sum_over_time(metric) to fire alert ....
In my case , I think sum_over_time(metric) will equal with metric ,, but it not ....

Is there something else with func sum_over_time ....

![image](https://user-images.githubusercontent.com/11383058/66903276-c4aabc00-f034-11e9-9e9b-e318b62a98e7.png)

![image](https://user-images.githubusercontent.com/11383058/66903305-d12f1480-f0

[2019-10-16 09:59] simonpasquier commented on #6143
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2019-10-16 09:59] #6143 closed

[2019-10-16 10:44] leeoniya opened #6144 "uPlot.js time series chart"
Hey guys,

I just wanted to put [uPlot.js]( https://github.com/leeoniya/uPlot/) on your radar in case there was any interest in evaluating an alternative to rickshaw.js, which seems to be the lib used for generating time-series graphs in the Prometheus Web UI.

Its roots are also in displaying server perf logs (originally dumped into CSV by dstat). Here is a demo of it rendering 170,000 data point

[2019-10-16 10:46] krasi-georgiev commented on #6105
not sure why this didn't close with merging https://github.com/prometheus/prometheus/issues/6105

will try to make the new Prom release today.

[2019-10-16 10:46] #6105 closed

[2019-10-16 11:41] simonpasquier commented on #6139
This is strange. Are you able to pinpoint a particular type of HTTP requests that would trigger it?

[2019-10-16 12:16] kfdm commented on #6139
I've noticed the same error on many of my own servers. I'll see if I can narrow down the trigger as well.

[2019-10-16 12:27] beorn7 commented on #6139
This could be caused by a bug in prometheus/client_golang addressed here: https://github.com/prometheus/client_golang/pull/634
It is fixed in v1.2.0 (released yesterday), but Prometheus v2.13.0 only uses v1.1.0.

[2019-10-16 12:31] beorn7 commented on #6139
This is a plausible course of action:

If an endpoint is instrumented with the `promhttp` middleware and the wrapper response writer implements `Flusher`, and then `Flush` is actually called, the underlying response writer will call `WriteHeader` but the delegator implemented by `promhttp` will not track that. It will call `WriteHeader` in its own upon another call that calls `WriteHeader` if need

[2019-10-16 14:32] zytek commented on #6095
We are seeing big improvements in remote_write reliability in 2.13 (even without #6111).

Works fine for >24 hours on two clusters, with one having flaky connection to remote endpoint. Makes it lag 2-5 minutes, but otherwise works ok.

[2019-10-16 16:40] csmarchbanks commented on #6095
Glad to hear 2.13 is working better for you! We have noticed the lag as well, it seems like the desired shards calculation is finding an equilibrium that has a bit of lag in some cases rather than forcing the number of pending samples to zero.

[2019-10-16 17:50] dolgovas commented on #5617
i just update to last version
[code]

[2019-10-16 19:46] dolgovas commented on #5617
@whaike have you fixed this problem?

[2019-10-16 21:26] multi-io opened #6146 "PromQL: add let/where expression"
## Proposal

PromQL should allow "let" or "where" expressions similar to those in languages like Rust, Lisp or Haskell, so that we can write something like

[code]

instead of

[code]

..which is vastly less readable (right?).

(a "where" expression would be `<expr> where a=x b=y` instead of `let a=x b=y in <expr>` -- largely a matter of taste I think)

[2019-10-16 21:50] SuperQ commented on #6146
It's typical to split PromQL onto multiple lines. In your example, it can be simplified a bit to improve readbility.

[code]

[2019-10-16 21:52] SuperQ commented on #6146
This might be a similar use case as https://github.com/prometheus/prometheus/issues/5629.

[2019-10-16 21:53] part1zan opened #6147 "ARMv7 nil pointer at startup"
# Bug Report
**What did you do?**
Run docker container from prom/prometheus:v2.13.0 image
Run downloaded prometheus-2.13.0.linux-armv7

**What did you expect to see?**
Prometheus run normally

**What did you see instead? Under which circumstances?**
level=info ts=2019-10-16T21:41:24.596Z caller=main.go:296 msg="no time or size retention was set so using the default time retention" duration=15d
lev

[2019-10-16 22:04] csmarchbanks commented on #6147
This is a duplicate of #6105, a fix has already been merged and v2.13.1 will be released soon.

[2019-10-16 22:11] #6147 closed

[2019-10-16 22:26] multi-io commented on #6146
OK, but obviously "let" will still allow you to assign explanatory names to the subexpressions, and also allow you to avoid repetitions in case of common subexpressions, e.g.

[code]

[2019-10-17 03:35] hehuapei commented on #500
mark

[2019-10-17 09:27] e-ykaratas opened #6148 "regex exp. in unit test"
Hey there,

Can we use regex exp. while creating a series in unit testing? I want to have a series like
[code]
And i'm getting this error : operator must be one of ["=="], is "=~"

Thanks in advance.

[2019-10-17 09:48] brian-brazil commented on #6148
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-17 09:48] #6148 closed, assigned to nobody

[2019-10-17 09:52] brian-brazil commented on #6146
I find that harder to interpret due to the indirection, and it's nowhere near as easy to check the label flow is sane. If you want to do this you can use your configuration management's templating system.

[2019-10-17 11:10] RalphSu commented on #6146
Would the community okey for PR to support this? @brian-brazil

[2019-10-17 11:22] brian-brazil commented on #6146
This is something doable outside PromQL, so I don't see a need to complicate the language.

[2019-10-17 12:44] SuperQ commented on #6146
It's an interesting feature to consider, I would suggest we get some more developer community input to see if this would be a more widely useful language feature.

[2019-10-17 13:46] juliusv commented on #6144
@leeoniya Thanks. The new React UI that just got merged (in an initial, unlinked version) in https://github.com/prometheus/prometheus/pull/5694 switches from Rickshaw to Flot, which is what Grafana also uses. I (informally) evaluated a bunch of different graphing libraries for our needs in February, and most were missing either key features or weren't easy or efficient to integrate.

I don't think

[2019-10-17 13:54] juliusv opened #6155 "React UI: Consider re-adding metric name selector"
The [new React UI](https://github.com/prometheus/prometheus/pull/5694) auto-completes metric names in the expression input field just like the old UI did, but it doesn't have a metric name selector dropdown so far. I don't want to clutter the new UI unnecessarily, so I want to be careful about reintroducing this. We should consider if an explicit dropdown will still be needed, how it can be made l

[2019-10-17 13:57] juliusv opened #6156 "React UI: Re-add query stats information"
The [new React UI](https://github.com/prometheus/prometheus/pull/5694) does not yet show query stats (execution time, resolution, and number of result time series) yet. It would be good to re-add this feature somehow, but care should be taken to not clutter the new UI unnecessarily. Maybe we can find a way to only display it on request (like collapsing it first or similar).

[2019-10-17 14:00] juliusv opened #6157 "React UI: Add query history to auto-complete dropdown"
The [new React UI](https://github.com/prometheus/prometheus/pull/5694) does not yet support storing + searching in the user's query history yet, like the existing old Prometheus UI does.

This functionality should be added back.

[2019-10-17 14:02] pablonaranjo opened #6158 "Add function to convert string to float in template"
The humanize* functions in template only accept float64 as input. However some labels are string and is not possible to use them, so is needed some extra-function to convert string label to float and then apply the humanize function.

Example:

[code]

[2019-10-17 14:13] slrtbtfs commented on #6155
There exists the plan to let the expression input field use the upcoming PromQL language server for things like error messages and completion. This would likely mean a complete rewrite of the input field anyway.

As an alternative to the drop down menu It might be a good idea to instead offer completions, as soon as the user clicks on the input field to focus it or starts typing.

[2019-10-17 14:20] juliusv opened #6160 "React UI: Implement more sophisticated autocomplete"
It would be great to have more sophisticated expression field autocompletion in the [new React UI](https://github.com/prometheus/prometheus/pull/5694).

Currently it only autocompletes metric names, and only when the expression field doesn't contain any other sub-expressions yet.

Things that would be nice to autocomplete:

- metric names anywhere within an expression
- label names
- label values

[2019-10-17 14:36] slrtbtfs commented on #6160
I'm currently in the process of building that language server. It lives at <https://github.com/slrtbtfs/promql-lsp>.

The features you named are all intended to land there. Support for completing metric and function names will probably be implemented in the coming two weeks.

Other features include:
* Showing syntax error messages while typing (done)
* Showing documentation and type signatures on

[2019-10-17 14:39] juliusv commented on #6160
@slrtbtfs Wonderful! Really looking forward to this :) Do you know if you'll have capacity to work on the React UI integration as well?

[2019-10-17 15:02] slrtbtfs commented on #6160
It would make sense to do so. Especially as there probably is a lot of overlap with the PromQL vscode extension (<https://github.com/slrtbtfs/vscode-prometheus>).

I'll discuss this with my managers.

[2019-10-17 15:18] juliusv commented on #6144
We're pretty minimal in what we do in the built-in UI (we don't want to reimplement all of Grafana's dashboarding features). But I think we do still want to support stacked graphs (+ area fills for that), so that would be at least one missing feature.

Since it doesn't seem likely that we'd want to switch at the moment, I'm going to close this issue for now. But I'll definitely keep an eye on uPlo

[2019-10-17 15:18] #6144 closed

[2019-10-17 15:18] Loopy88 opened #6161 "UI hangs for indefinite time"
Greetings!

So the issue happens when we are trying to load Prometheus UI and it becomes unavailable (it's not possible to click on anything, to enter the queries or change tabs).

At the same time, the Prometheus is working very well, only UI is unavailable. I've tried to launch the performance check, and it shows that some jQuery loads infinitely - screenshot is attached below.

On the screensho

[2019-10-17 15:37] juliusv opened #6162 "React UI: Add link back to old Prometheus UI"
The [new React UI](https://github.com/prometheus/prometheus/pull/5694) should link back to the old (current) Prometheus graphing UI at `/graph`.

[2019-10-17 15:38] juliusv opened #6163 "React UI: Ensure compliance with external URL and route prefix settings"
We need to ensure that the [new React UI](https://github.com/prometheus/prometheus/pull/5694) works correctly with different values set for the `--web.external-url` and `--web.route-prefix` Prometheus command-line flags.

[2019-10-17 16:07] juliusv opened #6164 "React UI: Convert remainder of Prometheus web UI to React"
The [new React UI](https://github.com/prometheus/prometheus/pull/5694) only implements the graphing/querying interface so far. It is based on [create-react-app](https://github.com/facebook/create-react-app), which only supports the full page being a React app (vs. React just being part of the page). At least if we decide to stay with vanilla create-react-app, we'll need to convert the rest of the

[2019-10-17 18:27] juliusv opened #6166 "React UI: Add UI tests"
There's an initial stub test in https://github.com/prometheus/prometheus/blob/master/web/ui/react-app/src/App.test.js that is run as part of `make test` already, but it would be great to add real tests for the various UI components.

[2019-10-17 18:53] nmayakuntla opened #6168 "Be able to configure different retention periods, probably based on metric name or some other filter"
We have a system where different metrics are critical for different period of time.

There are really some metrics which have very high cardinality and do not want to store such metric data for the same period as other metrics.

Is it possible or should we introduce different retention periods instead of having 1 common configuration for entire data set.

This would really help a lot if we can con

[2019-10-17 22:41] boyskila commented on #6157
Can I take this one?

[2019-10-18 06:01] alburthoffman opened #6175 "Rule Group Restful APIs and autodiscovery"
## Proposal
**Use case. Why is this important?**
It is not very flexible to store rules in local config files. Each time we have to edit the rules if want to add/update/delete rules.

It would be good if prometheus can export APIs to do rule group CRUD. So we can store rules in a central place, and update different prometheus based on our configs. Auto discovery like scrape configs is also pretty

[2019-10-18 06:03] alburthoffman commented on #6175
we can provide these:

- POST /config/groups
- POST /config/group/{name}
- PUT /config/groups
- PUT /config/group/{name}
- DELETE /config/groups
- DELETE /config/group/{name}
- GET /config/groups
- GET /config/group/{name}

[2019-10-18 07:09] pablonaranjo commented on #6158
Actually is not a value, the timestamp is part of the label `job_name` (I'm getting that from K8s). So I can't show or manipulate the `$labels.job_name` in Prometheus alert, to convert the timestamp in date. Maybe there is a better option, but to be honest I don't know, and I fixed it creating a new function in `template.go`. then I just do
[code]

Thank you for taking the time and answering me.

[2019-10-18 07:28] aalloosshh opened #6177 "multiple Prometheus"
i'm trying to create many copy from prometheus servers in many namespace in one kuberenetes-cluster, can i make that without conflict between them?
In config file "prometheus.yaml", where i can select the target that will save it in prometheus db, i get information from another namespace:
this is pod config: where is my mistake? can some one help me?
thank you

      - job_name: 'kubernetes-pods'

[2019-10-18 08:24] brancz opened #6178 "Allow filtering label values API with matchers"
## Proposal

I would like to propose allowing our label values API to be filter-able by matchers, just like we [already do with the series API](https://prometheus.io/docs/prometheus/latest/querying/api/#finding-series-by-label-matchers).

**Use case. Why is this important?**

In particular we have two use cases:

* Autocompletion: a language server implementation (that we are actively working on)

[2019-10-18 08:29] Loopy88 commented on #6161
Hi,

* I tried on Safari, Firefox, and Chrome - results are the same. I'm able to reproduce this issue not only on my local machine - all my colleagues working on Mac/Linux laptops are experiencing the same. That makes me think that this is not browser-related. But just for the info:

- Chrome: 77.0.3865.120 (Official Build) (64-bit)
- Firefox: 69.0.3 (64-bit)

* Same issue with the incognito mode

[2019-10-18 08:33] juliusv commented on #6161
Ohhhh, I see. So the issue is specific to that Prometheus server, not to the browser. The `initTypeahead` in your trace suggests this is about initializing the typeahead autocompletion from the metric names that your Prometheus server has. This in turn suggests that you might have a huge number of metric names and the UI cannot cope with it well.

How many metric names do you see under `/api/v1/la

[2019-10-18 08:43] #6177 closed

[2019-10-18 08:50] Loopy88 commented on #6161
Oh wow,

I see there ~ 602233 metric names. Can you please suggest what could we do about this? Apart from reducing the number of the metric names :)

[2019-10-18 08:54] simonpasquier commented on #6175
By design, Prometheus assumes that the configuration is managed by tools like Puppet, Chef, Ansible, etc. Having 2 ways to configure rules would be confusing and hard to reconcile.

[2019-10-18 09:37] juliusv commented on #6161
Ah yeah, Prometheus is not made for hundreds of thousands of metric names - normally you'd have a couple thousand at most :)

But this came up in these issues too: https://github.com/prometheus/prometheus/issues/5919 and https://github.com/prometheus/prometheus/issues/5421
It seems there's a PR out attempting to fix this: https://github.com/prometheus/prometheus/pull/6100

[2019-10-18 09:38] juliusv commented on #6161
@Loopy88 As for what you can do in the short term: you might be able to use a browser plugin to block XHR requests going to `/api/v1/label/__name__/values`?

[2019-10-18 11:55] krasi-georgiev commented on #6178
+1 this should also help for other Thanos use cases

[2019-10-18 12:18] brancz commented on #6178
This doesn’t have anything to do with Thanos per se, but whatever we end up doing here Thanos should do the same for compatibility with the Prometheus API.

[2019-10-18 12:29] krasi-georgiev commented on #6178
I think for good performance should also pass a time range.

For example in the case of auto completion when you make an instant query you are interested in labels only from the last scrape and for a range query only for the time that this range query covers.

Otherwise getting label names/values for the entire DB involves reading all index files of all current blocks including the head block.

Or

[2019-10-18 12:35] brancz commented on #6178
Yeah the series API allows this as well. I think that also makes sense here.

[2019-10-18 12:57] multi-io commented on #6146
Is that really a good point? You could do "let" outside Rust or Lisp to, yet they have it. Of course those are general purpose languages, not specialized ones for tsdb querying. Still, most people that I'm aware of write alerts and recording rules directly and wouldn't introduce a preprocessor just to make some rules more readable. Even if you use Helm or Jsonnet to create the rules file, the synt

[2019-10-18 13:05] juliusv commented on #6157
@boyskila Sure, go ahead! I assume you're familiar with the existing functionality in the old UI?

That is, https://github.com/prometheus/prometheus/blob/7567376a2452376fcedb69ef90af1988dbfa9074/web/ui/static/js/graph/index.js#L1090-L1163 and related code.

[2019-10-18 13:19] brian-brazil commented on #6146
We have different opinions on what is readable, what Ben posted is much more readable to me than what you posted.

[2019-10-18 13:21] slrtbtfs commented on #6146
I'm personally not entirely opposed to such a feature

However the current design of the PromQL parser isn't very flexible, and introducing this language construct would require a lot of work.

I also have some doubts about allowing multiple declarations with one `let` statement as in your first example, especially if these are only separated by newlines which are usually just ignored by promql

[2019-10-18 13:27] boyskila commented on #6157
Yep, already check it. Thanks

[2019-10-18 14:05] freznicek opened #6182 "promtool rules test should report missing rule files"
## Proposal
`promtool test rules ...` usability improvement to issue an error when some rule files are not found.

## Bug Report
**What did you do?**
1. I tested prometheus rule using promtool
1. I mistyped name of the rule fule specified under key `.rule_files` (alert.yml instead of alert.yaml)

**What did you expect to see?**
1. promtool warning or error that file[s] specified under key `.rule_f

[2019-10-18 14:18] simonpasquier commented on #6182
There's https://github.com/prometheus/prometheus/pull/6075 for doing what you ask.

[2019-10-18 14:26] CSTDev commented on #6156
I'll take this on if no one else is...

[2019-10-18 15:46] Throckmortra opened #6183 "Incorrect Data reported when querying Prometheus directly, but not when federated"
## Bug Report
**What did you do?**
I have a prometheus server in a client environment that federates to a larger Prometheus that I intend to use for larger queries.

**What did you expect to see?**
I expect the data to be mostly consistent between these two Prometheus servers because it is the same data, but I understand that there is a margin of error because the smaller Prometheus is closer to t

[2019-10-18 16:04] CSTDev commented on #6156
Initial thoughts, uses a reactstrap collapse.
Have just thought actually that having it there will be quite jarring as it moves everything below it down and up as it's expanded/collapsed. Will re-think.

![query-stats-1](https://user-images.githubusercontent.com/3914110/67109706-07050200-f1c9-11e9-98ee-f67631f371bc.PNG)
![query-stats-1-expanded](https://user-images.githubusercontent.com/3914110/67

[2019-10-18 16:13] moix opened #6184 "Prometheus OOM when compacting"
## Bug Report
**What did you do?**
Hi, since a few days we are experiencing OOM continuously in out prometheus that has been running now for 6-7 months without issues.
Note we have a setup of local prometheus collecting from agents (per environment) and then a global/master prometheus federating those collectors. This issue OOM is happening in the master prometheus that is highly loaded and retent

[2019-10-18 21:28] liycheng opened #6186 "api/v1/targets is causing liveness probe failure"
## Proposal
Running prometheus in a POD with 12 core and 75G memory, our kubernetes cluster have ~500 nodes.
In the job configuration, it has total around 4500 targets (node, pod...), up or down,
the problem is when I try to call API "api/v1/targets", it causes the prometheus hang, at least on the HTTP service port, and then liveness probe, /-/healthy, cannot go through so the POD got restarted, i

[2019-10-18 21:33] liycheng commented on #6186
v1.7.1

[2019-10-18 21:37] juliusv commented on #6156
Yeah, another inspiration could be Grafana's explore mode. See this screenshot, where some stats appear very unobtrusively at the far right of the expression box:

![](https://grafana.com/docs/img/docs/v60/explore_prometheus.png)

That breaks down at a certain amount of stats of course, and one would have to take care that it doesn't interfere with long expression lines.

Not saying it should be l

[2019-10-18 21:40] liycheng commented on #6186
the prometheus version is:
/etc/prometheus # /bin/prometheus --version
prometheus, version 2.6.1 (branch: HEAD, revision: b639fe140c1f71b2cbad3fc322b17efe60839e7e)
  build user:       root@4c0e286fe2b3
  build date:       20190115-19:12:04
  go version:       go1.11.4

[2019-10-19 02:31] brian-brazil commented on #6186
Can you try the latest version?

[2019-10-20 02:11] alburthoffman commented on #6175
Actually not, APIs allows us to do the deployments in our own tools whenever needed. Not manually

[2019-10-20 10:20] juliusv commented on #6160
@slrtbtfs One point to consider: Monaco is not exactly small. Even just the minified [`editor.main.js`](https://microsoft.github.io/monaco-editor/node_modules/monaco-editor/min/vs/editor/editor.main.js) is >2MB large. That doesn't make me immediately rule it out, but if we could do what we need with a significantly smaller download size, that would be much better of course.

[2019-10-20 10:43] juliusv commented on #6156
@CSTDev Here's two more mockup variants that I find relatively unobtrusive, making use of the unused space of the Graph/Table tabpane on the right:

![variant2](https://user-images.githubusercontent.com/538008/67158315-fd011180-f336-11e9-82e8-bcb7994dce11.png)

I hacked this by putting this div into the HTML:

[code]

And:

![variant1](https://user-images.githubusercontent.com/538008/67158323-0ee2

[2019-10-21 03:19] capttrousers opened #6188 "Unable to set the storage retention via config file"
## Proposal
I'd expect to be able to set the storage retention config via the file.
I'm running Prometheus via docker so to have to rebuild and run the image to get the right command with the CLI arguments is a pain. I can update the config file and copy it in and sighup the container easily.

**Environment**
Docker
Prometheus latest image

* System information:
[code]
* Prometheus version:
[code]

[2019-10-21 10:38] CSTDev commented on #6156
@juliusv Not a big fan of having it in the box like Grafana, mainly for the problems you mention. I quite like the second example you gave. Will give that a go and see. Thanks 😄

Do we know if people use these stats a lot? That was my only reason behind hiding them if people aren't all that interested, but I don't know.

[2019-10-21 11:33] juliusv commented on #6156
@CSTDev I think people only look at these stats occasionally, but they're at times useful enough that we should at least have an easy way of showing them. And then the question becomes: is it not better to just always display them unobtrusively (like in my examples) rather than introducing a new interactive UI element that the user has to understand and process.

So yeah, if you want to go ahead w

[2019-10-21 11:58] slrtbtfs commented on #6160
@juliusv Progress on the language server side is tracked here <https://github.com/slrtbtfs/promql-lsp/issues?utf8=%E2%9C%93&q=+is%3Aissue+label%3A%22React+UI%22+>

[2019-10-21 15:15] Loopy88 commented on #6161
Thank you for the help and information @juliusv, I hope this PR will fix this situation soon!

In the meantime, I'll try to figure out why we have so many metric names.

And yes, blocking the requests coming to `*://*/api/v1/label/__name__/values?_=*` is helping as a temporary workaround.

[2019-10-21 15:59] zarboz opened #6189 "When running on linux system Prometheus fails to resolve windows host names"
ping HQ2-Webserver
PING HQ2-Webserver (10.10.10.12) 56(84) bytes of data.
64 bytes from 10.10.10.12 (10.10.10.12): icmp_seq=1 ttl=128 time=0.326 ms
^C
--- HQ2-Webserver ping statistics ---
1 packets transmitted, 1 received, 0% packet loss, time 0ms
rtt min/avg/max/mdev = 0.326/0.326/0.326/0.000 ms

but in prometheus target page it shows target as offline

Get http://HQ2-WEBSERVER:9182/metrics: dia

[2019-10-21 16:23] juliusv commented on #6162
On this.

[2019-10-21 16:38] beorn7 commented on #1893
Adding it to my list by assigning this issue to me. I'll still appreciate others beating me to it. Just assign to yourself or let me know.

[2019-10-21 16:43] brian-brazil commented on #6189
Are you sure these names are in DNS, and not say netbios?

On Mon 21 Oct 2019, 17:59 Bryan Smith, <notifications@github.com> wrote:

[2019-10-21 17:58] liycheng commented on #6186
@brian-brazil
good or bad, the latest version is able to survival through this, although still, none of my browsers can completely open the "api/v1/targets" URI, "wget" can download the file completely, the size is 1.4G, I assume the previous file was partial downloaded before the POD got restarted, so it was only 342M.
But the problem still exists, I don't have too much confidence to have my code

[2019-10-21 17:59] brian-brazil commented on #6186
From a Prometheus standpoint, as long as it's not blocking the server isn't not a big problem.

[2019-10-21 18:00] liycheng commented on #6186
Is that possible to "dorp" the "droped" target from this call?

[2019-10-21 18:03] brian-brazil commented on #6186
No, that's important debugging information that we need to return.

[2019-10-21 18:11] liycheng commented on #6186
@brian-brazil do you mind direct me to the code in the project which handles this API call?

[2019-10-21 18:18] #6162 closed

[2019-10-21 18:22] liycheng commented on #6186
all right, I found the code, and me dig a while and see what I can do.

[2019-10-21 19:30] VihanAgarwal97 commented on #5861
Not sure if this is relevant, but I've found that in the newest version of prometheus the `instance` label is being overridden. Even using `exported_instance` does not show up in the metric. I am using [prom/mysqld-exporter](https://github.com/helm/charts/tree/master/stable/prometheus-mysql-exporter) and this could be an issue with the exporter and not prometheus. Instance shows up as `test` here.

[2019-10-21 19:59] beorn7 commented on #5861
@VihanAgarwal97 `instance` is just a pod label here. Whether it makes it into a Prometheus label is a question of the Prometheus K8s SD config. In any case, I recommend to discuss that on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) and not here.

[2019-10-22 03:22] tonnie17 opened #6196 "Prometheus 2.11.1: fatal error: runtime: out of memory"
## Bug Report
**What did you do?**

**What did you expect to see?**

no crash

**What did you see instead? Under which circumstances?**

memory usage grows sharply and then the container of prometheus outputs the panic logs

<img width="825" alt="" src="https://user-images.githubusercontent.com/7101967/67256657-dec41e80-f4ba-11e9-9820-f76331b39d4f.png">

**Environment**

* System information:

	Li

[2019-10-22 14:03] juliusv commented on #6188
@capttrousers Why not just start the same Docker container with different retention flags? Normally there should be no rebuild required.

For background: all settings that Prometheus supports to change / reload during runtime are in the configuration file. All other settings for which this is not yet supported have to be flags.

[2019-10-22 14:05] juliusv commented on #6184
/cc @krasi-georgiev @codesome

[2019-10-22 15:53] brian-brazil commented on #6196
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-22 15:53] #6196 closed

[2019-10-22 16:34] Zenimax-DSpeed commented on #5735
This has been a problem for us when deploying Prometheus into production in a few environments due to network ACLs and whitelisting. In these cases, it is not a transient issue.

We have centralized logging as an existing infrastructure, but even without that I believe that the idea that metrics are a full substitute for logs is problematic. Logging is a standard way to report details on a problem

[2019-10-22 18:35] krasi-georgiev commented on #6184
from the logs it seems that is OOMs during some query, why do you think that this happens during compaction?

[2019-10-22 20:23] chs-bnet commented on #5735
As someone who's running prometheus via systemd, logging to journal and then mirrored off to centralized logging (fluentd/elasticsearch), this is kinda a big deal to us as well.

If there is a misconfiguration and prometheus cannot send logs to a configured destination, then it really should be logging an error not just incrementing an internal metric.

Without the `proxy_url` setting, if promethe

[2019-10-22 22:15] juliusv opened #6199 "React UI: Create/adjust linter configuration to enforce common code style nits"
For the React UI, we should create a linting configuration that detects / enforces common code style nits like missing EOLs at the end of files, missing semicolons, spaces around parentheses/brackets/braces, etc.

See e.g. https://github.com/prometheus/prometheus/pull/6193#discussion_r337509832

[2019-10-23 04:14] fight-for-future-and-family opened #6201 "how to get the specified time metric value"
I want to get the metric value of  increasement yesterday
eg [ yesterday 00:00:00 ] - [ yesterday 23:59:59]
thanks a lot

[2019-10-23 05:22] anandsinghkunwar opened #6202 "Make `remote.Client.Store` return the `httpResp` as well"
## Proposal
Make `github.com/prometheus/prometheus/storage/remote/client.go`: `Client.Store` return the `httpResp` as well with the error. To do this in a non breaking way, another function `StoreV2`(name is debatable of course) can be created as well.

**Use case. Why is this important?**
This is important when someone is using the `remote.Client` and wants to know the exact response code to hand

[2019-10-23 06:59] zhangxingdeppon opened #6203 "prometheus metrics data was partly lost"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**
Hi,buddies,I faced a problem about prometheus,when I  get the metric "istio_requests_total" data through prometheus  ,I found that the metric’s data sometimes can be lost over a period of time,
I use this  promQL to search the metric's data:
<pre><code>
istio_requests_t

[2019-10-23 07:46] brian-brazil commented on #6202
This is internal code of Prometheus, and an error is an error from Prometheus's standpoint. This sounds like something to take up with M3DB as your use case sounds unusual. @robskillington

[2019-10-23 07:46] brian-brazil commented on #6201
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-23 07:46] #6201 closed

[2019-10-23 07:48] brian-brazil commented on #6203
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-23 07:48] #6203 closed

[2019-10-23 08:06] zhangxingdeppon commented on #6203
@brian-brazil okay,thanks.

[2019-10-23 09:15] simonpasquier commented on #6184
Yes when Prometheus restarts, it should log the queries that were running when it got killed. @moix, can you check this?

[2019-10-23 09:20] simonpasquier commented on #6175
What would happen when Prometheus restarts? What would the source of truth?

[2019-10-23 09:20] anandsinghkunwar commented on #6202
No, actually it is not related to M3DB. So, I am trying to leverage kafka as a buffer in between prometheus and m3db. So the writing to kafka part is done after writing a prometheus remote endpoint and hooking prometheus with it. The reading from kafka and pushing to M3DB involves the use of this `remote.go` `Client`, which required custom handling of response codes. @brian-brazil

[2019-10-23 09:44] brian-brazil commented on #6202
We generally don't add code to support things outside of the code base. Given how remote write works, there's no need to add kafka to the mix.

[2019-10-23 10:14] alburthoffman commented on #6175
the API can persist the rule config as a local file. which will survive after restarting

[2019-10-23 10:31] boyskila commented on #6164
How about to set an environment variable and if is React to send JSON response, otherwise to render the template
![image](https://user-images.githubusercontent.com/10514821/67384076-25884600-f599-11e9-9495-bbac4da919db.png)

[2019-10-23 10:33] brian-brazil commented on #6164
I thought we'd added all the APIs by now. Which are missing?

[2019-10-23 11:13] TheKangaroo commented on #5383
The issue just reoccured on on of our prometheus instances.
As you, @simonpasquier suggested here is the debug archive:
[debug.tar.gz](https://github.com/prometheus/prometheus/files/3761965/debug.tar.gz)

The scrape_duration_seconds goes up and the (debug level) logs just stop logging anything for this timeframe. After 10-15 minutes, everything continues to work normal.
![image](https://user-image

[2019-10-23 12:22] Steiniche commented on #3399
@juliusv I am reading the apache license the same way. There have to be a notice somewhere but it does not have to be in a centralized file.
Do you want any work done on this e.g. removed the central notice file and moved closer to the code that needs the notice?
Or is this issue still awaiting legal input to be completely sure?

[2019-10-23 13:01] juliusv commented on #3399
@Steiniche This having been a year ago, I don't remember much of it :) But at least for the new React UI I solved it by adding a general new notice to the NOTICE file and then including the ~3000 or so node module dependency LICENSE files in a tarball in what we distribute (those deps are never checked in, as the deps are only downloaded & thus distributed with our binaries).

[2019-10-23 13:20] juliusv commented on #6164
At a glance, I see a couple of things missing:

- `/rules` page - `/api/v1/status/rules` API endpoint
  - missing last evaluation time
  - missing last evaluation duration
- `/status` page with general build and runtime information
  - no equivalent API endpoint seems to exist at all, except for the Alertmanager info at `/api/v1/alertmanagers`
- `/targets` page - `/api/v1/targets` API endpoint
  -

[2019-10-23 13:23] simonpasquier commented on #5383
@TheKangaroo did you run the `promtool debug` command during the freeze event or after? I couldn't find anything noticeable in the profiles. I could only spot one compaction event taking more than 512 seconds in the metrics but not sure if this is related to your problem.

[2019-10-23 13:28] Steiniche commented on #3399
Yeah I saw it was a rather old issue but it still had the Help Wanted tag so I was unsure if you guys still needed help.
Thanks for casting some light on it - should this issue be closed then?

[2019-10-23 13:41] juliusv commented on #3399
@Steiniche I'd leave that to @beorn7 who opened the issue and added the tag.

[2019-10-23 13:42] simonpasquier commented on #6164
I'm all for extending the API endpoints. This would also benefit other web apps that want to integrate with Prometheus.

[2019-10-23 13:44] juliusv commented on #6164
@simonpasquier Yeah, me too. I will miss immediately-there & greppable HTML pages somewhat, but oh well (one can still grep / jq the API endpoints)...

[2019-10-23 13:47] simonpasquier commented on #6175
It doesn't really answer my concern: there would still be 2 ways to modify the configuration which would be very confusing.
Such feature has already been proposed before in https://github.com/prometheus/prometheus/issues/1623 and dismissed by the maintainers. It is unlikely that the answer is going to be different, but feel free to raise this issue on our [developer mailing list](https://groups.go

[2019-10-23 13:49] simonpasquier commented on #6164
I won't miss the Go templates :stuck_out_tongue:

[2019-10-23 13:49] juliusv commented on #6164
@boyskila

To keep things simple, we'd probably just want to remove the server-side generated Go templates completely and just do everything using APIs and React... I guess if we had a Node backend, we could do SSR of the pages, but not with Go...

[2019-10-23 15:01] TheKangaroo commented on #5383
@simonpasquier Ah I see, no I ran it afterwards, unfortunately I didn't see the issue in time. I ran it approximately when the screenshot was taken, so some minutes after. I was hoping there were some hints in the debug dump even after some minutes. I will try and take a dump in time if I see it again 🤞

[2019-10-23 15:11] beorn7 commented on #3399
I really don't feel qualified to be the one making the final call. I'm as confused as anybody else.
Looking around, we also have a NOTICE file in libraries (like prometheus/client_golang) that don't even vendor the code at all and also don't provide binaries. And then there is still the reference to SoundCloud, which probably got created when we had to find the proper definition of the relationshi

[2019-10-23 16:31] moix commented on #6184
mm didn't though a query could cause it and inspecting logs couldn't find any query causing it. Also sometimes it happened at night when no one was supposed running any weird query, that's why I though was due to compaction

[2019-10-23 17:00] juliusv commented on #6156
Done in https://github.com/prometheus/prometheus/pull/6190

[2019-10-23 17:00] #6156 closed

[2019-10-23 19:42] krasi-georgiev commented on #6184
you should be able to confirm this by checking the compaction metrics

[2019-10-23 20:19] juliusv commented on #6157
Implemented in https://github.com/prometheus/prometheus/pull/6193

[2019-10-23 20:19] #6157 closed

[2019-10-23 20:47] bgagnon opened #6208 "custom-sd writeOuput fails on Windows due to filehandle semantics"
It is not possible to run the `custom-sd` adapter on Windows:

[code]

This is because of the `defer` on the tmpfile handle in the `writeOutput()` function:

[code]
On Windows, the file must be closed _before_ it is moved.

I understand support for Windows is not a priority, but in this case the fix looks simple enough. Developing simple things like a custom_sd is convenient to do with the native

[2019-10-24 01:20] rigtorp opened #6209 "Schedules for scrape configs and alerts"
## Proposal

I need to monitor connectivity to a service from my servers. During weekends the service is down, but the network connectivity should be up (checked using ping). During workdays the service is up and I can check connectivity by checking that number of UDP packets received is increasing. The times the service is up changes with daylight savings and holidays. I want to run the ping chec

[2019-10-24 06:57] 915479996 opened #6212 "tsdb data storage: where is the metrics stored？"
I knew that Index Disk Format has section storing number of labels, labels name and value(labels pair). However, I did not find a table that is storing the metrics' name and their values. Where/Which files does these data being stored in Prometheus tsdb. How these data(Metric,label name and value, Metric value) grabbing together as a result after I querying in Prometheus.

[2019-10-24 07:15] brian-brazil commented on #6209
Scrapes in Prometheus are continuous, so it sounds like you'll need to build something yourself on top of the config file it you want to do otherwise.

[2019-10-24 09:28] krasi-georgiev commented on #6184
Recording rules could be another thing causing big queries.

It is normal to see OOM when running big queries or compaction with big blocks and  there are always discussions and attempts to improve the memory usage.

I can see that you have `--storage.tsdb.max-block-duration=14d`
this means don't run compaction for blocks that are larger than 14d, but I think that this will increase the memory usa

[2019-10-24 10:42] HarveyJie opened #6214 "promethue restart error"
prometheus web return   `Service Unavailable` when I restart

[code]

[2019-10-24 11:04] brian-brazil commented on #6214
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-24 11:04] #6214 closed

[2019-10-24 11:27] chrisob commented on #4160
@brian-brazil

Do you have an example of this? I've been toiling a bit trying to construct an alerting rule that can account for DST changes, but it seems like it might not be possible with PromQL.

[2019-10-24 11:45] chrisob commented on #4160
Hooo boy, I could be wrong... I came up with this monster which _seems_ to fit this usecase:

[code]

[2019-10-24 13:14] Nithya2688 opened #6216 "No datapoints found message in prometheus dashboard"
Hi,
I want to montior docker performance, Hence installed cadvisor+prometheus in RHEL successfully. But when try to use expression with my docker, I am getting "no datapoints found" error. Since I am new to this please help me to resolve this.
Also I want to know whether i can install grafana to get better performance result in graph.
![image](https://user-images.githubusercontent.com/56965785/674

[2019-10-24 14:22] bgagnon commented on #6208
@simonpasquier pull request available in #6217

[2019-10-24 14:50] simonpasquier commented on #6216
Thanks for your report. It looks as if this is actually a question about usage and not development.

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.net/?randomn

[2019-10-24 14:50] #6216 closed

[2019-10-24 15:44] hooten commented on #6166
I'm going to work on this. I'll submit a PR soon

[2019-10-24 16:09] juliusv commented on #6166
@hooten Awesome!

[2019-10-24 16:51] rigtorp commented on #6209
Yes I have a mess of cronjobs, shell scripts, python scripts to get some of this functionality, but it's difficult to manage. There is a reason that nagios, zabbix, icinga, cabot etc supports this. I have 6 DCs in different timezones and applications on even more different timezones and calendars. Prometheus/Alertmanager can not filter alerts by time periods and route alerts by duty roster. There

[2019-10-25 09:54] avarf opened #6220 "Prometheus is not compatible with the changes in K8s v1.16"
## Bug Report
**What did you do?**
I installed the stable/prometheus helm chart with some minor changes proposed at https://github.com/helm/charts/pull/17268 to make it compatible with Kubernetes v1.16

After installation, none of the Kubernetes grafana dashboards show correct values.  I am using 8769 (https://grafana.com/grafana/dashboards/8769) dashboard which provides many information on cpu, m

[2019-10-25 10:01] brian-brazil commented on #6220
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-25 10:01] #6220 closed

[2019-10-25 10:19] JosephSalisbury opened #6221 "Kubernetes SD metrics do not expose cluster information"
## Proposal
We are currently using the metric `prometheus_sd_kubernetes_http_request_total` to alert if a Prometheus server cannot communicate with a Kubernetes cluster.

Some of our Prometheus servers monitor multiple Kubernetes clusters, but `prometheus_sd_kubernetes_http_request_total` is the same for all these jobs, meaning we can't determine _which_ job can't discover targets in the alert.

H

[2019-10-25 10:24] brian-brazil commented on #6221
I'd suggest using `absent()` to handle this, as there's more ways than this that things can go awry.

[2019-10-25 10:46] JosephSalisbury commented on #6221
I don't think `absent` would work in our case.

For example, if you have one Prometheus server discovering targets from two Kubernetes clusters. If one of those clusters can't be reached, `prometheus_sd_kubernetes_http_request_total{status_code="<error>"}` will start to increase, but i don't think it's possible to determine which of the two clusters Prometheus can't discover targets from.

My thin

[2019-10-25 10:54] brian-brazil commented on #6221
What's there is good enough for alerting, however I'd try to alert on no targets coming from a cluster rather than one specific rpc call failing.

[2019-10-25 11:07] JosephSalisbury commented on #6221
Okay yeah, I get what you mean now - alert if we don't have any expected targets from a cluster. Cool!

Thanks for the help buddy, I'll close here, there's a way around.

[2019-10-25 11:07] #6221 closed

[2019-10-25 12:09] slrtbtfs commented on #6160
@juliusv An possible alternative might be the CodeMirror editor (400kb unminified). Someone has started building a language client for that one: https://github.com/wylieconlon/lsp-editor-adapter .

Although the development of the lsp client seems to have stalled it already supports the features we need for our use case, according to https://langserver.org/ .

It also looks small enough that we can

[2019-10-25 12:13] aditya-konarde opened #6222 "Promtool subcommands should consistently support stdin reads"
## Proposal

Currently, some of the subcommands in promtool support supplying input from stdin, for example:

`cat metrics.prom | promtool check metrics`

And some don't

[code]

It would be really helpful in cases of automation to be able to check rules files just by passing it via stdin.

The proposal here is that the promtool sub-commands (atleast the ones to check rules and configs) should be

[2019-10-25 12:38] #6095 closed

[2019-10-25 12:44] simonpasquier commented on #6209
There's already https://github.com/prometheus/alertmanager/issues/876 regarding the ability to dispatch notifications based on time/date.

[2019-10-25 13:47] codestation commented on #5590
So, is there a workaround? Go 1.13 doesn't accept `+incompatible` on `go get` anymore

    invalid version: +incompatible suffix not allowed: module contains a go.mod file, so semantic import versioning is required.

I want to use `github.com/prometheus/prometheus/discovery` to write a custom sd_config but cannot import the module.

[2019-10-25 14:07] simonpasquier commented on #5590
Since Go 1.13, you need to specify the commit SHA. For v2.13.1:

`go get github.com/prometheus/prometheus@6f92ce56053866194ae5937012c1bec40f1dd1d9`

[2019-10-25 15:53] kerneljack opened #6223 "Query logging + UI for queries in Prometheus"
## Proposal
I spoke to some of the Prometheus developers about this back in May at KubeCon in Barcelona. The idea was to add the ability to see what queries are happening, or happened in the past on a prometheus instance.

This would have been useful to us this morning when one of our prometheus instances suddenly became unresponsive and while we suspect it was due to certain queries sent to this

[2019-10-25 16:30] juliusv commented on #6160
Ah cool, 250kb is getting into the realm of being less painful (although it's still quite big, I guess for what we want to do, that's a reasonable size).

[2019-10-25 19:55] rigtorp commented on #6209
@simonpasquier That would also be great. But in my use case the alert is not even valid and should not be checked outside some time period. It would be great if there was a new config object `time_period` in prometheus and alertmanager that could define a time period (including holidays etc). Scraping, alerting and alert routing could then be controlled by these time period objects.

[2019-10-25 20:35] boyskila commented on #6160
As per https://bundlephobia.com/result?p=codemirror@5.49.2 is even less - 165kb

[2019-10-25 22:16] LiamGoodacre commented on #6090
Thanks for the kitten video whoever used the accidentally posted slack hook URL :sweat_smile:

[2019-10-26 08:11] boyskila commented on #6164
@juliusv  If no one has started working on this though, I can give it a try.

[2019-10-26 08:54] juliusv commented on #6164
@boyskila Sounds good. It probably makes sense to just replicate the old UI bit by bit in the new UI (with navbar and all), and then at some point in the future we can just replace the old UI with it.

I guess this'll entail adding React Router functionality?

[2019-10-28 01:46] hooten commented on #6164
I'd be happy to help with a page or two on this if you'd like @boyskila. Let me know.

[2019-10-28 06:46] boyskila commented on #6164
@hooten I think only /graph and /config pages are "in progress" so far and I'm planned to take /status if you don't mind and if no one has started it yet of course, so all others are waiting :)
@juliusv

[2019-10-28 06:47] daixiang0 opened #6237 "release tar not in gzip format"
[code]

[2019-10-28 06:52] #6237 closed

[2019-10-28 08:12] juliusv commented on #6164
@hooten As an example, here's the Config page PR: https://github.com/prometheus/prometheus/pull/6236

Keep in mind that I'm new to React / frontend / TypeScript, so not everything you see will be best practice, but I did my best :) But hopefully we can converge on a common way of how the code looks for these components.

[2019-10-28 14:47] mobidyc commented on #6109
same here
# ./prometheus --version
prometheus, version 2.13.1 (branch: HEAD, revision: 6f92ce56053866194ae5937012c1bec40f1dd1d9)
  build user:       root@88e419aa1676
  build date:       20191017-13:15:01
  go version:       go1.13.1

[2019-10-28 15:20] mobidyc opened #6241 "Prometheus drops samples with out-of-order timestamps."
## Bug Report
**What did you do?**

Using /federate to scrape metrics on all prometheus instances .

Servers NTP synced.

Not using docker

Even with "honor_timestamps" set to True, it should not impact the order.

If it is recommended to disable honor_timestamps with Federation, This is something to add in the documentation.

**What did you expect to see?**

No errors concerning the timestamps.

[2019-10-28 16:10] hooten commented on #6164
Okay, great, i'll work on `/targets` @juliusv @boyskila

[2019-10-28 17:09] #6166 closed

[2019-10-28 17:25] juliusv commented on #6223
@kerneljack Hi, there was a long-standing issue about this at https://github.com/prometheus/prometheus/issues/1315 (actually it's still open, not sure if it should be), eventually people settled on having an mmap-ed file of currently running queries in the TSDB data directory: https://github.com/prometheus/prometheus/pull/5794

See also https://www.robustperception.io/what-queries-were-running-whe

[2019-10-28 17:34] mobidyc commented on #6241
additional informations
I tried the following combinations with same bad result, does not seem related to honor_timestamps:
- honor_timestamps=true everywhere
- honor_timestamps=false everywhere
- honor_timestamps=true only on federate paths
- honor_timestamps=true only on non-federate paths

on each tests, after a prometheus restart, prometheus_target_scrapes_sample_out_of_order_total resets but

[2019-10-28 17:38] juliusv commented on #6163
To elaborate on the problem here: the entire React UI (using create-react-app) is built and bundled expecting a particular path to be served on, then the resulting bundle is compiled into the Prometheus Go binary. But Prometheus needs to be able to dynamically change the path that the React app is expecting to be served on.

E.g. if someone sets the `--web.route-prefix=/my/prefix` flag, then the R

[2019-10-28 18:18] juliusv commented on #6163
One option: have Prometheus dynamically inject something like `<script>PATH_PREFIX = "/my/prefix";</script>` into the React bundle's cryptic `index.html` file and then refer to that global variable from the TypeScript files (needs a `declare var PATH_PREFIX: any;` to make TypeScript understand that this global variable exists).

[2019-10-28 23:42] csmarchbanks commented on #6164
I've been wanting to refresh my very outdated react knowledge, so I will claim the `/flags` page.

[2019-10-29 09:41] #6208 closed

[2019-10-29 10:08] yusu123 opened #6244 "Where can I see the prometheus pull data log?"
For example, Prometheus has no data for several minutes, so I want to know that Prometheus didn't pull data, but the target project didn't generate data.

[2019-10-29 10:12] yusu123 commented on #6244
For example, Prometheus has no data for several minutes, so I want to know that Prometheus didn't pull data, but the target project didn't generate data.

[2019-10-29 11:29] brian-brazil commented on #6244
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-29 11:29] #6244 closed

[2019-10-29 11:54] amadeuszkryze opened #6245 "Prometeus drops offset parameter in alert rule."
## Bug Report
**What did you do?**
Created alert rule with offset parameter to compare metrics with 1 and 7days
**What did you expect to see?**
Alert with offset rule.
**What did you see instead? Under which circumstances?**
Alert without offset rule.
**Environment**

* System information:
[code]
* Prometheus version:
` 2.13.0`
* Alertmanager version:
`0.19.0`
* Prometheus configuration file:
[cod

[2019-10-29 12:46] raydenz opened #6246 "Time Range in prometheus"
Hello,

For a time series called for example **"number_of_request"**
i want to get all values between 8.00am to 10.00pm for the 10 last days

I know i can get **ALL** the values of the 10 last days with the range selector [10d] **number_of_request{namspace="ns"}[10d]**

but i want only the values between 8.00am and 10.00pm

Can you help me please?

thank you very much

Ray

[2019-10-29 12:49] brian-brazil commented on #6246
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-29 12:49] #6246 closed

[2019-10-29 13:43] raydenz commented on #6246
I am sorry,
I close the topic , thank you very much

regards,
Ray

[2019-10-29 15:56] kerneljack commented on #6223
@juliusv thanks Julius, I knew that Prometheus now prints out the queries that were running when it was last killed due to OOM, or for some other reason, however what I was looking for was **inflight** queries even when Prometheus has not been killed and is running fine.

The reason for that being one of our Prometheus instances becoming unresponsive for a few minutes without anything useful being

[2019-10-29 16:28] juliusv commented on #6223
The functionality that prints out the queries at startup uses a file under
the hood in which Prometheus always keeps the list of currently running
queries updated, which you can also inspect manually during runtime. Take a
look at the "queries.active" file in your TSDB dir, it has the active
queries in a JSON format.

On Tue, Oct 29, 2019 at 4:56 PM Khusro Jaleel <notifications@github.com>
wrote:

[2019-10-29 16:47] kerneljack commented on #6223
@juliusv thanks, yes I just had a look at it. The issue would then be that the query is cleared when it finishes, is there some way to make it lag a bit perhaps (maybe even a few mins) so that I could go back in time a bit and see what the queries were? I don't believe this is possible at the moment.

[2019-10-29 22:18] Sanjary commented on #6139
This issue should be closed now as it's fixed in v1.2.0

[2019-10-29 22:27] beorn7 commented on #6139
We weren't quite sure if client_goleng 1.2.0 was actually addressing this particular issue.
Let's optimistically close this and re-open if people report it to be still ongoing. :grin:

[2019-10-30 03:42] AlanQin1024 opened #6250 "httpError (http.go:306)"
* Logs:
[code]

[2019-10-30 04:16] k8svip opened #6251 "master branch no npm_licenses.tar.bz2"
Dockerfile use npm_licenses.tar.bz2
...
COPY npm_licenses.tar.bz2                   /npm_licenses.tar.bz2
...

but this file 'npm_licenses.tar.bz2 '  lose

[2019-10-30 08:52] lwx294821 opened #6252 "Multi-core CPU machine statistics CPU average usage"
one machine has 16 cores, how to get average cpu ? need one PromQL

[2019-10-30 09:08] brian-brazil commented on #6252
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-30 09:08] #6252 closed

[2019-10-30 09:12] juliusv commented on #6223
Yeah, that's indeed not possible at the moment. It might be worth commenting on https://github.com/prometheus/prometheus/issues/1315 about this, since I'm myself not too involved in that.

In general it could be useful to give some way to diagnose stats about recent queries, even if they have already finished. Just not sure if this kind of mmap-ed file-based approach is still good for that or if i

[2019-10-30 09:13] lwx294821 commented on #6252
In my company, cannot access the website
https://groups.google.com/forum/#!forum/prometheus-users

[2019-10-30 09:17] brian-brazil commented on #6223
There was a PoC PR that looked nice, but it didn't go any further.

[2019-10-30 11:39] VF-mbrauer opened #6253 "kube_hpa_status_current_replicas does not show the Deployment reference"
When using this Prometheus Metric I am not able to identify the Deployment. So it just shows the value of the HPA itself. So basically the naming. But it doesn't show, to which deployment it belongs to. When using the command `kubectl get hpa -n <mynamespace>` you will face the `Reference`field where you can find it.

Can this be implemented as part of the Metrics as it would be helpful for furthe

[2019-10-30 12:42] sfoxdev commented on #6109
the same version and issue
[code]
[code]

[2019-10-30 12:44] brian-brazil commented on #6253
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-10-30 12:44] #6253 closed

[2019-10-30 22:06] csmarchbanks commented on #6251
You will have to run `make npm_licenses` to generate the npm_licenses.tar.bz2 file. It is also included as a dependency to the `make docker` command if building that way.

[2019-10-31 03:16] liuliqiang opened #6255 "prometheus not parse exporter metric unit field"
## Bug Report
**What did you do?**

I have a exporter named `random-exporter` who return random_value for metrics, and these metrics has Unit fields:

[code]

And i try the API to get the scrape target meta with this URL:

`GET http://{{host}}:9090/api/v1/targets/metadata?match_target={job="randome-exporter"}&metric=random_2`

and get the following response:

[code]

The `unit` field is empty.

**

[2019-10-31 09:18] brian-brazil commented on #6255
Are you exposing this as openmetrics format?

[2019-10-31 12:51] slrtbtfs opened #6256 "Proposal: Replacing the PromQL Parser with a generated parser"
# Replacing the PromQL Parser with a Generated Parser

## Motivation

### Current State of the Parser

Currently, the PromQL query engine utilizes a handwritten, recursive-descent parser, that was written five years ago and hasn't seen large changes since then.
It seems that none of the active members of the Prometheus project has a deep understanding of the parser code and is willing to maintain

[2019-10-31 12:54] slrtbtfs commented on #6256
cc @juliusv @brian-brazil @brancz @squat @krasi-georgiev @simonpasquier @beorn7

[2019-10-31 13:19] amadeuszkryze commented on #6245
It seems that offset is deleted when subquery is set up on instant vector, after removing resolution (used `[30m]` instead of `[30m:]`) from subquery it started to work:
![image](https://user-images.githubusercontent.com/37712172/67950081-4c71f800-fbe9-11e9-9dd2-e0abd248cac4.png)

[2019-10-31 13:19] #6245 closed

[2019-10-31 13:50] kwaazaar opened #6257 "DB corrupt after one day?"
## Bug Report
**What did you do?**
I installed Prometheus using the helm chart yesterday. Everything worked fine. My deployment pipeline just tried to update the installation, using Helm. The server-pod cannot start up now.

**What did you expect to see?**
Normal startup

**What did you see instead? Under which circumstances?**
level=error ts=2019-10-31T13:41:31.933Z caller=main.go:736 err="openin

[2019-10-31 15:07] simonpasquier commented on #6251
Closing since Chris has answered already. The new build requirements and process are also documented in the [README](https://github.com/prometheus/prometheus#building-from-source) file.

[2019-10-31 15:07] #6251 closed

[2019-10-31 15:13] simonpasquier commented on #6257
I'm not familiar with Azure Files but I suspect that it isn't fully POSIX compliant hence the storage errors.

See https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects

[2019-11-01 12:20] beorn7 commented on #6256
This totally makes sense to me, but I'm not an expert about parsers in general, and I have never really worked closely with the Prometheus parser in particular. Thus, I think input from various other people would be very valuable here.

@juliusv wrote the original parser, which _was_ generated. @fabxc wrote the current hand-coded one, mostly (IIRC) because the generated one wasn't creating very go

[2019-11-01 12:52] izenk opened #6258 "alert stays always pending"
## Bug Report
**What did you do?**
Added alert rule for metric

**What did you expect to see?**
Alert should be generated acording to configuration

**What did you see instead? Under which circumstances?**
Alert is always pending

**Environment**
Ubuntu 16.04
docker image: prom/prometheus:v2.12.0
* Prometheus version:
[code]

* Prometheus configuration file:
[code]
Alert rule
[code]

If I check me

[2019-11-01 13:18] izenk commented on #6258
I checked again with a short interval, and prometheus behavior looks strange for me
GRAP for last 30m looks
![image](https://user-images.githubusercontent.com/6417697/68027331-228d0400-fcc3-11e9-8872-b9185d2bde6c.png)

The same query in CONSOLE(billing_lag_count{is_replica="0"}[30m]) gives
[code]

[2019-11-01 13:30] brian-brazil commented on #6258
https://www.robustperception.io/alerting-on-gauges-in-prometheus-2-0

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-11-01 13:30] #6258 closed

[2019-11-01 13:32] izenk commented on #6258
But its not a question, its a bug I think.

[2019-11-01 13:32] izenk commented on #6258
But its not a question, its a bug I think.

[2019-11-01 13:47] izenk commented on #6258
@brian-brazil
Thanks, I read mentioned article, but issue is still there - inconsistent behavior between prometheus GRAPH and CONSOLE.

[2019-11-01 14:24] juliusv commented on #6256
I like it for all the reasons stated.

Couple of comments:

- Having two representation types (expanded and simplified) of the same PromQL expression adds extra complexity and concepts one needs to wrap their head around. How invasive would the changes need to be in the query engine to also use the expanded format, or does that immediately seem like a bad idea?
- Do `Simplify()` and `Simplified()`

[2019-11-01 15:15] walterdolce opened #6260 "Testing alert rule brings about unexpected evaluation behaviour"
## Bug Report
**What did you do?**
I have the following test case (inspired by [RobustPerception's blog post](https://www.robustperception.io/get-alerted-before-your-ssl-certificates-expire)), which is bringing about unexpected behaviour.

[code]

And the relevant test file:
[code]

Unless I am missing something (which could easily be the case, I find the way one defines tests for alerting rules c

[2019-11-01 16:06] slrtbtfs commented on #6256
The main reason for adding the `Simplify()` interface was to be able to more or less swap out the two parsers and avoid breaking things outside the parser. This keeps the proposal more constrained.

Modifications in the engine required for using the new kind of syntax tree in the engine would be:
* Handling the cases created by new node types
* Adding a way to figure out the time and label informa

[2019-11-01 16:45] juliusv commented on #6256
No, I don't think performance matters at all here. IIRC @fabxc just preferred having code acting on AST nodes externally instead of having all the logic baked into the AST node types themselves.

[2019-11-01 16:48] juliusv commented on #6256
Yeah, that seems like it would introduce the most verbosity / extra complexity, I think the rest sounds kind of ok. Just wanted to indicate that from my side changing the engine would be ok too, rather than having two AST representations for the same thing. But will leave the tradeoff judgement to you.

[2019-11-01 16:51] juliusv commented on #6256
You can still swap out the parser as long as the AST nodes stay the same (would be good to keep them relatively stable for outside use in general)...

[2019-11-01 16:59] slrtbtfs commented on #6256
Or at least keeping around the existing AST Fields. Probably it is still needed to add new node types, however.

[2019-11-01 17:07] slrtbtfs commented on #6256
If everybody is ok with that, I'd prefer making changes to the engine over having two syntax tree formats.

[2019-11-01 17:08] juliusv commented on #6256
@slrtbtfs Totally. Having two implementations of the same thing always sucks for everyone, so unless you think the engine changes would become totally crazy, I would prefer the engine to be changed.

[2019-11-01 17:20] slrtbtfs commented on #6256
For cases they don't create performance problems, I have a strong preference for interfaces instead of `switch expr.(type)` constructs:
* Interfaces avoid code duplication and improve readability (see https://github.com/prometheus/prometheus/pull/6205/commits/27d58006510b3b930e2df8645f82df6b6502ea8f and https://github.com/prometheus/prometheus/pull/6205/commits/abec09e9a144a02f1c386bbff60a7fa91710

[2019-11-01 17:24] slrtbtfs commented on #6256
They should be less work than the `Simplify()` logic.

[2019-11-01 17:32] brian-brazil commented on #6256
Our PromQL benchmarks include the parsing, so if it matters it'll show up there.

[2019-11-01 17:35] juliusv commented on #6256
Yeah, makes sense. That is actually what my initial engine + AST looked like before the rewrite by @fabxc, so I guess he'd be in the best position to provide more historical context on why it was changed to be switch-y instead. But seems like in this case we're avoiding the question altogether by just changing the engine then instead of adding `Simplify()` / `Simplified()` methods.

[2019-11-01 17:40] juliusv commented on #6256
Take a look at this from 2015 :) https://github.com/prometheus/prometheus/blob/0.10.0/rules/ast/walk.go

[2019-11-01 19:03] slrtbtfs commented on #6256
I see, so all I do is bringing PromQL back to where it was in 2015 :)

[2019-11-01 22:34] marimt opened #6261 "Feature request: Add ability to clear child's value of Counter object for pushgw"
## Proposal
When using the pushgw there is the ability to clear a counter object. This will clear all the children of the counter. However, what is needed is the ability to clear only the counter value a particular child of the counter object while keeping everything else (i.e. labelValues, labelNames) the same.

E.g. (using Java client)
`
samples = ((Counter) collector).collect();

        Collec

[2019-11-03 10:54] evanap commented on #5560
Was hit by this too with v2.11.1 in production cluster. One Prometheus pod's memory usage gets very high at times although in our case the pod's not OOM killed, but it caused the node to go down and the node have to be restarted. Since the pod can't start due to `component=tsdb msg="unknown series references" count` errors, we decided to start fresh and erase the existing database.

[2019-11-03 11:20] droidnoob commented on #6136
Is this still open. I'd like to take this up @krasi-georgiev

[2019-11-03 16:25] juliusv commented on #6163
On this.

[2019-11-04 08:26] kwaazaar commented on #6257
Although I can't find an official statement on POSIX compliancy, I do think that's the problem here. Today the filesystem is corrupt again (day 4), so using Azure Blob storage for my containers in AKS seems like a bad idea when POSIX compliancy is required. This article mentions the limitations: https://docs.microsoft.com/nl-nl/azure/storage/blobs/storage-how-to-mount-container-linux

[2019-11-04 08:26] #6257 closed

[2019-11-04 08:48] juliusv commented on #6164
@hooten How far did you get on `/targets` so far? Forgot that you had claimed it here a week ago, I started on it, but not very far yet. In case you didn't get to it much yet, is it ok if I take it?

[2019-11-04 14:11] Robert-Stam commented on #6109
Having the same issue here (using 2.13.2), in v2.12.0 this wasn't the case.

[2019-11-04 14:13] hooten commented on #6164
Hey @juliusv, I'm almost done with `targets`. I should have a PR out soon. I'd really like to finish if that's okay with you

[2019-11-04 14:22] juliusv commented on #6164
@hooten Sure, sounds good! What did you end up doing on the Go API side? Just chatting on #prometheus-dev one idea was to add options to group by target pool and filter by active/dropped on `/api/v1/targets`.

[2019-11-04 14:27] juliusv commented on #6164
@hooten E.g. `http://localhost:9090/api/v1/targets?group_by_pool=true&state=active` with an output like:

[code]

[2019-11-04 14:43] kerneljack commented on #6223
Thank you both for your input on this, I'll have a look at #1315 and comment as needed.

[2019-11-04 14:47] kerneljack commented on #1315
Adding my 2 cents here - we recently hit the issue described in #6223 above and it would have been great to be able to go back in time a little to see what queries were executing. If there's a way to provide a log of all the queries or maybe even just the queries in the past hour or so, that would be useful.

[2019-11-04 15:15] waberc opened #6266 "Define alerts using anchor and aliases for common parts"
## Proposal
**Use case. Why is this important?**
I am defining a lot of similar alerts but with different values thresholds per techno... This means I cannot use one alert for all and I need to split it into different alerts in my yaml "rule" file.

I am trying to use anchor and alias, but I don't find a place where I could define my anchor without breaking the `promtool` yaml validation against t

[2019-11-04 15:57] hooten commented on #6164
@juliusv That's a great idea! So far, I've only done the minimal amount of change to make the page work by adding `scrapeJob` and `lastScrapeDuration` to each of the `activeTargets` elements. My plan was to bring up more impactful API changes during the PR review.

I think there definitely needs to be some way of limiting the API response. Something like paging or field limiting or both could be g

[2019-11-04 16:09] juliusv commented on #6199
This was done by @CSTDev in https://github.com/prometheus/prometheus/pull/6206

[2019-11-04 16:09] #6199 closed

[2019-11-04 16:13] juliusv opened #6268 "React UI: Bring back interactive legend"
The graph legend in the classic UI has three modes of interaction, see e.g. http://demo.robustperception.io:9090/graph?g0.range_input=1h&g0.expr=rate(node_cpu_seconds_total%5B5m%5D)&g0.tab=0

- Hovering over legend items highlights the hovered series in the graph.
- Clicking on the series name in the legend toggles showing only that series in the graph.
- Clicking on the checkmark of a legend item

[2019-11-04 16:17] csmarchbanks commented on #6164
Hmmm... It feels unnatural to me to have a query parameter change the data structure being returned by an endpoint. To me that feels like it should just be a different endpoint if desired. I think a filter like `state` is definitely a good idea though.

In the future, I think it could be worth iterating on the design of the targets page and the corresponding api endpoints generally. For example, i

[2019-11-04 16:27] juliusv commented on #6164
@csmarchbanks Yeah, having different formats on the same endpoint feels weird to me as well, I'm just not sure whether it feels weirder than having two target endpoints, both behaving slightly differently. Honestly I don't have a preference, both are weird :)

Pulling only some info initially is definitely a possibility, though we have to weigh it against Ctrl-F-ability (on 95% of servers I expect

[2019-11-04 16:34] juliusv opened #6269 "React UI: Build targets page"
This is a more specific issue filed for the discussion started on https://github.com/prometheus/prometheus/issues/6164#issuecomment-549375737.

Let's discuss targets-page specific things here.

[2019-11-04 16:36] juliusv commented on #6269
Continuing the discussion from the more general status pages issue here:

@hooten Yeah, that 20MB targets API response is big. Does the HTML /targets page also take that long to load? It should also include all the discovered labels, but not all the data about dropped targets, which I assume to be huge.

I suggest starting simple with whatever works for smaller use cases for now and then iterating

[2019-11-04 16:37] juliusv commented on #6164
@hooten Sorry, I saw Chris's reply but not yours above it. Let's continue the targets-page-specific debate on this issue, which I just filed: https://github.com/prometheus/prometheus/issues/6269

[2019-11-04 16:38] juliusv commented on #6164
Getting back to status pages in general: I'm calling dibs on the `/rules` page!

[2019-11-04 16:59] csmarchbanks commented on #6269
Some timing information (Same clusters hooten would be using).
Targets page: 10.7s, 8.95MB
`api/v1/targets`: 3.5s, 137MB

Hopefully filtering by active will help the targets page a lot...

[2019-11-04 17:19] juliusv commented on #6269
@csmarchbanks Whoa, yeah. Will be interesting to see how fast a React-based targets page loads with an API endpoint that does not include dropped targets.

[2019-11-04 22:20] a0s opened #6271 "Prometheus'es consul_sd try to connect to localhost:9090"
## Bug Report
**What did you do?**
I can see strange data in my Grafana. It looks like prometheus'es consul_sd is trying to connect to localhost:9090. And drop connection after 30s timeout. What's going on?

<img width="1237" alt="Screenshot 2019-11-05 at 00 38 08" src="https://user-images.githubusercontent.com/418868/68161753-9cddb280-ff67-11e9-8da9-1272ab32c81d.png">

**What did you expect to se

[2019-11-04 23:15] hooten commented on #6269
I will use the `state=active` and `state=dropped` pattern for the api on this

[2019-11-04 23:20] brian-brazil commented on #6271
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-11-04 23:20] #6271 closed

[2019-11-05 10:18] simonpasquier commented on #6260
This is because of the `for` clause. If you set it to `59s` or evaluate the alert at `3m` then the alert fires.
I'm closing it for now. If you have further questions, please use our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search.

[2019-11-05 10:18] #6260 closed

[2019-11-05 10:49] roidelapluie opened #6272 "React UI: Regression over legend and small values"
## Proposal
**Use case. Why is this important?**

This is a regression compared to the current UI

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**

Run go_gc_duration_seconds

**What did you expect to see?**

![legend-old](https://user-images.githubusercontent.com/291750/68201390-fd99d900-ffc1-11e9-9d86-a21c6143b201.png)

**What did you see instead? Under which circ

[2019-11-05 15:38] sharadgaur commented on #6164
@juliusv , @cmluciano and @boyskila  If it's not already taken I would like to work on `/status` page.

[2019-11-05 16:36] juliusv commented on #6164
@sharadgaur That's already done. What's still up for grabs (but bit more complicated) are the `/alerts` and `/service-discovery` pages. Maybe the latter one would be good since it is similar to `/targets` and I see you are at Splunk with @hooten, who was doing `/targets`?

[2019-11-05 16:43] sharadgaur commented on #6164
@hooten is doing `/targets`. I will take `/alerts`

[2019-11-05 16:47] juliusv commented on #6164
@sharadgaur Yeah, that's why I meant `/service-discovery` could make sense for you because it's similar. For `/alerts` one challenge will be again to see what server-side API changes we need (`/api/v1/alerts` and `/api/v1/rules` will be what you will want to look at - the latter actually has recording *and* alerting rules, but it also has active alerts for the alerting rules, which you'll need).

[2019-11-05 16:55] csmarchbanks commented on #6164
The `/status` page now needs the cardinality stats added to it as well. Here is a checklist:

- [ ] `/rules` (claimed by juliusv)
- [ ] `/targets` (claimed by hooten)
- [ ] `/status` just cardinality stats needed
- [ ] `/service-discovery`
- [ ] `/alerts`

@juliusv please feel free to edit the checklist if I missed anything/it is incorrect.

[2019-11-05 17:25] sharadgaur commented on #6164
Cool, I will take the `/status` page.
Thank you @juliusv and @csmarchbanks.

[2019-11-05 18:22] #6109 closed

[2019-11-05 22:28] marimt commented on #6261
Posted this  issue on the wrong page. Closing issue and posted on https://github.com/prometheus/client_java/issues/512

[2019-11-05 22:28] #6261 closed

[2019-11-05 23:01] walterdolce commented on #6260
@simonpasquier what exactly is "because of the `for` clause"? Can you please expand a bit more on this for everyone's future benefit?

The metric/query in question returns a unix timestamp value. But the values I reported setting above are not. They don't make sense in terms of unix timestamp values.

I'm mostly interested in the following:

Thanks.

[2019-11-06 03:19] xie905528463 opened #6280 "promethues report ' "INVALID" is not a valid start token '"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

## Bug Report
**What did you do?**
 I am setting up a promethues and grafana monitoring system. Now I have encountered this problem. The network between them is open, and the configuration format of promethues is no problem. I don't know if it is a bug of promethues. Please help me to see it. Thank you v

[2019-11-06 04:10] sharadgaur commented on #6164
@juliusv created a new page `/tsdb-status` as per your suggestion.  Here is the WIP [#6281](https://github.com/prometheus/prometheus/pull/6281)

[2019-11-06 06:51] brian-brazil commented on #6280
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-11-06 06:51] #6280 closed

[2019-11-06 08:10] simonpasquier commented on #6260
As per https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/#defining-alerting-rules

I misread your initial description and thought that `1209659` triggered the alert at t0+2m while `1209660` didn't (because the alert is pending, not firing). FWIW this is what I'm observing locally so not sure what happens with your setup.

I think that when no firing alert matches, `promtool

[2019-11-06 09:04] dgl opened #6282 "PromQL: Allow negative (i.e. "future") offset"
Currently these are parse errors:
- `metric offset -5m`
- `sum_over_time(metric[1h:1m] offset -5m)`

I propose these should allow a negative offset and therefore allow offsetting a query to the future of where the evaluation time currently is. This should be a special case as other durations don't make sense to be negative.

Use cases:
- Annotations on graphs, for example using ALERTS to annotate

[2019-11-06 09:08] dgl commented on #6282
Draft pull request in #6283 6283

[2019-11-06 09:23] brian-brazil commented on #6282
This behaviour is correct, the PromQL evaluation model doesn't allow looking into the future. If you need this adjust the query execution time.

[2019-11-06 09:26] walterdolce commented on #6260
@simonpasquier that still does not answer the question why I have to provide the non-unix timestamp values such as i.e. `1209659 ` (7 digits, which converted to to human readable date equates to `Thursday, 15 January 1970 00:00:59`) instead of i.e. `1572031521` (*10 digits*, which converted to to human readable date equates to `Friday, 25 October 2019 19:25:21`).

I'm also not really sure the `for

[2019-11-06 09:41] simonpasquier commented on #6260
the initial time for unit alert tests is 0, eg Jan 1 1970 so samples representing timestamps should be relative to the epoch.

I'm not sure what you call "discrepancy". In general I would recommend for consistency to have samples that span to the last rule evaluation time.

[2019-11-06 09:45] dgl commented on #6282
The problem is it's not always possible to adjust the execution time, taking the example of annotations on a graph in Grafana, see https://grafana.com/docs/features/datasources/prometheus/#annotations.

This only supports metric queries and a very limited alert integration. In particular if I can write a query like `ALERTS{alertstate="pending"} and (ALERTS{alertstate="firing"} offset -20m)` (would

[2019-11-06 10:39] walterdolce commented on #6260
@simonpasquier thank you for your prompt replies on this! Please see below.

Let me explain a bit further.

Given the following `expr`:
[code]
And the following `input_series`:
[code]
Will Prometheus/promtool take the value defined in `values` and evaluate/apply it against the whole expression, including the `time()` function, etc? Or will whatever is defined in `series` actually *be the expressio

[2019-11-06 11:37] #6272 closed

[2019-11-06 12:34] ppanyukov commented on #6029
What do people think about not generating XXX fields in proto structs? This will make both proto and lib structs same in-memory layout opening ways for efficient unsafe casts and whatnot.

As per https://github.com/thanos-io/thanos/pull/1725

[2019-11-06 13:00] brian-brazil commented on #6282
That sounds like a feature request for Grafana then, this is possible via
our API.

On Wed 6 Nov 2019, 10:46 David Leadbeater, <notifications@github.com> wrote:

[2019-11-06 13:23] simonpasquier commented on #6260
The former. `input_series` represents streams of datapoints where `series` represents a timeseries (metric name + a set of labels (key/value)) and `samples` the values at every `interval`.

Regarding `time()` it will return `0` when `eval_time: 0m`, `60` when `eval_time: 1m`, and so on.

[2019-11-06 13:28] dgl commented on #6282
I feel this doesn't quite mesh with what I read in [the 2018 dev summit notes](https://docs.google.com/document/d/1-C5PycocOZEVIPrmM1hn8fBelShqtqiAmFptoG4yK70/edit#heading=h.j7cqr4nr2aq) about enabling data science uses of Prometheus. Particularly with Thanos involved there are different kinds of stores possible (for example I'm working on https://github.com/G-Research/geras which is part of our s

[2019-11-06 13:38] brian-brazil commented on #6282
Writing data in the future and reading beyond the execution time are
different things, and you can always alter the execution time. Grafana has
various times shifting options for example.

On Wed 6 Nov 2019, 14:29 David Leadbeater, <notifications@github.com> wrote:

[2019-11-06 14:35] mlem opened #6284 "BCLOSE on normal response - not even changing to UTF-8 helps"
## Bug Report
**What did you do?**
Upgraded Prometheus from 2.3.1 to 2.13.0

**What did you expect to see?**
Metrics from our system.

**What did you see instead? Under which circumstances?**
Nothing (`expected label name, got \"BCLOSE\"`)

Our code looks like this:
[code]
I've debugged prometheus and could see, that prometheus content-type from the request is:
```application/openmetrics-text; ver

[2019-11-06 14:37] mlem commented on #6284
Please help.

[2019-11-06 16:21] walterdolce opened #6285 "eval_time does not actually support all possible <duration> values"
## Bug Report
**What did you do?**
I tried to set `eval_time` as for an alert rule test as follows, but none of them worked:
[code]

**What did you expect to see?**
I expected no errors, [as per documentation](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#configuration-file):

**What did you see instead? Under which circumstances?**
[code]

**Environment**

* System inf

[2019-11-06 16:42] MacGyver27 opened #6286 "DNS resolution not working!"
Hi,

Using this image (2.13.1) DNS resolution isn't working within the container:

[code]

Google says it's the problem with alpine image and it hasn't been resolved for many years.. This is a blocker for me since I want to configure host itself as a target and there is no way to do that..

I am using dockerhost container to fix the problem with accessing host within the container under linux.. An

[2019-11-06 16:52] brian-brazil commented on #6284
Can you share the output of /metrics?

On Wed 6 Nov 2019, 15:38 Martin Lemanski, <notifications@github.com> wrote:

[2019-11-06 17:06] walterdolce commented on #6260
OK. Thanks for the clarification. It means only the metric query needs to be written (i.e. `probe_ssl_earliest_cert_expiry{domain="https://example.com"}`). That's good.

By `samples`, did you mean `values`? As defined as follows?
[code]

Oh. Does that mean that in order to test the following:
[code]

Which, as I wanted to test, would translate to:
[code]

I would need to write this?
[code]
Because

[2019-11-06 19:47] roidelapluie commented on #6285
Hello.

I do not think that it is sane to put durations of > 5 minutes because Prometheus will by default consider the metric stale after 5 minutes. I think instead we should fix the documentation.

[2019-11-06 20:03] chs-bnet opened #6287 "Request to re-open issue #5735"
## Proposal

We've added a couple comments to the original issue requesting that it be re-opened.

Currently, if prometheus cannot successfully complete a remote_write operation, it will log an error. However, if using a proxy via the proxy_url configuration option, prometheus will NOT log an error.

As we log separate out from metrics and have prometheus running on VM's (not containers) via syste

[2019-11-06 20:09] walterdolce commented on #6285
I would explicitly fail with a meaningful message, in addition to fixing
the documentation, if that's the course of action that ought to be taken.

W

On Wed, 6 Nov 2019, 20:48 Julien Pivotto, <notifications@github.com> wrote:

[2019-11-06 21:04] brian-brazil commented on #6285
I haven't tested it yet, but this sounds like a bug. You should be able to evaluate rules into the future for testing.

[2019-11-07 01:12] Jacky2 opened #6288 "Does Prometheus consider docking the parameter configuration to the database?"
## Proposal
**Use case. Why is this important?**

Does Prometheus consider docking the parameter configuration to the database, or provide corresponding extension functions?

[2019-11-07 03:08] zehuaiWANG opened #6289 "Can not get deployment CPU usage in promethues?"
I built a promethues for my kubernetes, and I think it works well now. It can get node and container/pod cpu, memory Usage data, but I don't know how to get the kubernetes CPU Usage in promethues. Because in my application, if pod restart, deployment will not get data before. So could anybody tell me how to do it in this case.

[2019-11-07 06:44] brian-brazil commented on #6288
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-11-07 06:44] #6288 closed

[2019-11-07 06:44] brian-brazil commented on #6289
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-11-07 06:44] #6289 closed

[2019-11-07 07:41] harsha070 commented on #5706
Hi. I am using prometheus along with k8s. Response time for my service is 10-15s usually. When I use prometheus' `histogram_quantile()`, my P90 is capped at 10.0s. I noticed in my prometheus config (`kubectl describe handler prometheus`) that largest bucket is 10s. I added 25 in `Metrics.Buckets.explicit_buckets.Bounds` list, yet my P90 seems to be capped at 10.0s

[2019-11-07 07:41] harsha070 commented on #5706
Can someone help me with this?

[2019-11-07 08:13] brian-brazil commented on #6285
The issue is we're using `time.Duration` rather than our own duration code.

[2019-11-07 09:09] thachnv92 opened #6290 "Result of other range time is different"
Hello,

I have data in Prometheus.
I use Grafana to query to show it.

When I custom range time: Yesterday.
=> I got 1441 data point.
every 1m have 1 data point.

When I custom range time: Last 3 days
=> I got 2161 data point.
every 2s have 1 data point.

So I can't sum data for my purpose.
I want to fix to get every 1m have 1 data point.
Please help me to configure it.

Thanks.

[2019-11-07 09:32] codesome commented on #6136
@droidnoob I see this issue is being addressed in https://github.com/prometheus/prometheus/pull/5887

[2019-11-07 10:09] brian-brazil commented on #6290
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-11-07 10:09] #6290 closed

[2019-11-07 10:34] mlem commented on #6284
[prometheus.txt](https://github.com/prometheus/prometheus/files/3819095/prometheus.txt)

[2019-11-07 10:45] brian-brazil commented on #6284
That's valid output, are you sure that's what's being sent to Prometheus? It's possible your content negotiation is getting confused.

[2019-11-07 10:47] mlem commented on #6284
I'll try to copy paste the content from the debugger directly

[2019-11-07 10:50] mlem commented on #6284
![image](https://user-images.githubusercontent.com/1065169/68382792-bbed6780-0154-11ea-8d03-ce0172ce09f9.png)
And the content of buf.buf
<details>
<summary>Details</summary>

# HELP jvm_buffer_memory_used_bytes An estimate of the memory that the Java virtual machine is using for this buffer pool
# TYPE jvm_buffer_memory_used_bytes gauge
jvm_buffer_memory_used_bytes{id="mapped",} 0.0
jvm_buffer_mem

[2019-11-07 12:56] krasi-georgiev commented on #6136
nope this is only a temporary solution in that linked PR as it moves is in the main tsdb package to avoid the circular import cycle.
I think we should try to organize it better

[2019-11-07 22:11] averri opened #6293 "Prometheus is ignoring the target hostname in Docker"
Prometheus is showing the target as down, but it's not, I can access it via browser.

The issue is that Prometheus is ignoring my configuration, if I set target as `localhost:4000`, I want this to be the target. Prometheus is using the Docker container ID as the hostname instead of my target configuration.

See the evidence below.

![Screenshot from 2019-11-07 22-07-59](https://user-images.githubu

[2019-11-07 22:28] #6293 closed

[2019-11-08 05:47] dzeban commented on #3242
Final fixes for `scrape` package was recently merged in #6187. Can we resolve the whole issue now?

[2019-11-08 09:48] mlem commented on #6284
Ok, I've changed the Content-Type to UTF-8 and the string should be UTF-8 encoded too.
[code]
See debug headers:
![image](https://user-images.githubusercontent.com/1065169/68466543-e868b880-0214-11ea-8231-e9cefe5fd595.png)

Buffer:
[metrics.txt](https://github.com/prometheus/prometheus/files/3823957/metrics.txt)

And yet, still I'm getting
[code]

[2019-11-08 09:51] brian-brazil commented on #6284
That's the OpenMetric content type, not the Prometheus format content type.

On Fri 8 Nov 2019, 10:48 Martin Lemanski, <notifications@github.com> wrote:

[2019-11-08 10:01] mlem commented on #6284
I've created an easy to reproduce example in https://github.com/mlem/prometheus_spring_example
You just need to install docker and docker-compose to see the error.
I'm using it to debug this problem in separation.
If you want to use your local prometheus for debugging:
Remove
[code]
from `docker-compose.yml` and use the commited `prometheus.yml`.
You still need to run beforhand the app:
[code]

[2019-11-08 10:01] mlem commented on #6284
Oh, haven't seen that you responded. So I'll try to use the prometheus format content-type :+1:

[2019-11-08 10:16] mlem commented on #6284
Setting the correct Content-type helped to fix this issue.
It's `text/plain;version=0.0.4;charset=utf-8`

[code]

You can find a working solution in https://github.com/mlem/prometheus_spring_example

[2019-11-08 20:42] rothsa commented on #5529
I would like to work on this, as this issue has been silent for a little bit and it looks like a good first project. @brian-brazil it looks like I would put that in prometheus/rules/manager.go rather than a recording rule specific file though, yeah?

[2019-11-08 21:50] brian-brazil commented on #5529
Yes, this would be around where we append the results to the tsdb.

[2019-11-09 10:18] juliusv commented on #5529
By the time the result gets to the manager, the two series are already conflated into one, and we can't detect it anymore. This is the place in the recording rule code where the conflation without check is actually happening, and where a warning or similar should be logged: https://github.com/prometheus/prometheus/blob/master/rules/recording.go#L82-L95

[2019-11-09 10:20] reallax opened #6296 "custom remote write decompress with snappy failed in FAILED_TO_UNCOMPRESS(5) sometimes"
## Bug Report
**What did you do?**
I need a custom remote write module and implement it with java.

**What did you expect to see?
Snappy.uncompress() works stable.

**What did you see instead? Under which circumstances?**
Snappy.uncompress() failed sometimes with error IOException: FAILED_TO_UNCOMPRESS(5)
Attention please: not always failed, lots of time it's decompressed ok.

**Environment**
* pr

[2019-11-09 10:23] juliusv commented on #5529
Ah no, sorry, that part actually still returns two identical series to the caller, but then I don't understand why no debug warning is logged despite the code at https://github.com/prometheus/prometheus/blob/2d8b6c779299ee7e758d947ce990e69d61039a4c/rules/manager.go#L552-L554.

I tried setting `--log.level=debug`, but didn't get anything logged.

[2019-11-09 10:49] juliusv commented on #5529
The bug seems to be here in the TSDB appender code that checks against the entire chunk max time instead of the individual series's last sample value time: https://github.com/prometheus/prometheus/blob/2d8b6c779299ee7e758d947ce990e69d61039a4c/tsdb/head.go#L1784-L1786

It doesn't return an error on duplicate samples for the same timestamp.

[2019-11-09 10:51] juliusv commented on #5529
@rothsa Want to give fixing that a shot? Happy to look at it together!

[2019-11-09 11:45] csmarchbanks commented on #6296
Just to be clear, this is an issue that is only happening in your custom java code correct?

If so, records are only snappy encoded if the compression actually makes the data smaller, so you will have to check a header bit for each record to see if it is compressed or not. Do you handle that situation in your application?

[2019-11-09 12:29] juliusv commented on #5529
@gouthamve Said he has some state on this, can you provide more context?

[2019-11-09 13:36] juliusv commented on #5529
So it seems another issue is that even when correcting those timestamp checks in `appendable()`, the last sample in the sample buf that we compare against is only updated after the whole batch is committed in `Commit()`, and not in `Add()` / `AddFast()` yet. So if there are conflicting samples in the same batch, they won't be compared against each other, only against samples in previous batches. T

[2019-11-09 13:45] juliusv commented on #5529
Aaaannd of course I confused chunks and blocks. There's a chunk per series, so I guess the timestamp checks (against the chunk max timestamp) are actually fine, just the problem with the batching remains.

[2019-11-09 16:32] csmarchbanks commented on #5735
I agree that I think this is worth reopening. Dedupe logging is already used in remote storage, so spamming the log should not be an issue.

[2019-11-09 16:33] csmarchbanks commented on #6287
Closing this as I have reopened #5735.

[2019-11-09 16:33] #6287 closed

[2019-11-09 22:17] csmarchbanks commented on #6186
https://github.com/prometheus/prometheus/pull/6276 will be adding an option to exclude dropped targets from the response by usng a query parameter like `/api/v1/targets?state=active`.

[2019-11-10 11:26] Harkishen-Singh commented on #6080
@jacksontj @geekhead could you please tell the probable situation before getting `segments not sequential` error.

[2019-11-10 20:19] roidelapluie commented on #813
@juliusv bug is still there in react ui :)

[2019-11-10 20:35] juliusv commented on #813
@roidelapluie Haha, brilliant :) Damn, in my initial integration PR, at least the expression input got updated correctly on forward/backward buttons (although the updated expression didn't get executed), but that got broken again along the way somewhere.

[2019-11-10 22:01] juliusv commented on #813
@boyskila According to `git bisect`, b5a16a8f861c29799f9a903f1e0859f513e862ed introduced this regression - would you be up for looking into it?

[2019-11-10 22:19] roidelapluie commented on #5496
@juliusv what is your opinion here?

[2019-11-10 22:29] roidelapluie commented on #2911
Considering that TSDB was brought in for maintenance and dependency reasons, should we close this?

[2019-11-10 22:31] juliusv commented on #5496
If someone can make a design mockup in the new React UI that looks not too cluttered (with query stats displayed and all), then I'm all for it.

[2019-11-10 22:35] juliusv commented on #2911
Probably, yeah. @gouthamve you ok with closing it for now?

[2019-11-10 22:42] roidelapluie commented on #6286
Thanks for your report. It looks as if this is actually a question about usage and not development because XXX

To make your question, and all replies, easier to find, we suggest you move this over to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users), which you can also search. If you prefer more interactive help, join or our [IRC channel](https://webchat.freenode.o

[2019-11-10 22:51] #6286 closed

[2019-11-11 05:32] boyskila commented on #6268
Anyone working on this? I would like to give it a try, just to finish with my current PR :)

[2019-11-11 06:34] boyskila commented on #813
Will check, sure

[2019-11-11 08:56] #6065 closed

[2019-11-11 08:58] juliusv commented on #6268
@boyskila Feel free!

[2019-11-11 12:13] beorn7 commented on #5706
@harsha070 a GH issue is not a good place to get support for a (only vaguely related) configuration problem.  It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users). On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers prov

[2019-11-11 12:26] andyzheung opened #6299 "why I can't see some data on grafana?"
I try to deploy the prometheus and grafana on k8s first time,  just can see the base info:

![image](https://user-images.githubusercontent.com/22912347/68587180-66e98280-04c1-11ea-970f-0b1987f47e9c.png)

![image](https://user-images.githubusercontent.com/22912347/68587197-710b8100-04c1-11ea-8d8c-980ec4632135.png)

how to check if where is not OK?

[2019-11-11 12:30] Nexucis commented on #6160
Hi,

With my collegue @celian-garcia, we made a [library ](https://github.com/celian-garcia/monaco-languages-promql) to provide PromQL in Monaco. It is quite closed to the one provided in Grafana. Recently I presented it to @juliusv  and he asked me if we implemented a real PromQL parser/grammar.

So no, we didn't and on my point of view I don't think it's really worth it to implement it on the cl

[2019-11-11 12:36] brian-brazil commented on #6299
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-11-11 12:36] #6299 closed

[2019-11-11 13:06] slrtbtfs commented on #6160
@Nexucis

Hi,

good to know you've been working on a similar thing.

One advantage of using the language server protocol is, that the language server can be written in any language. In this case it is written in go and uses the same parser as prometheus.

Not having to implement the same features multiple times for different editors is actually the point of the language server protocol. The LSP al

[2019-11-11 14:06] juliusv commented on #6160
Thanks for the input, both of you!

@slrtbtfs That makes sense for the case of complex autocompletion at least, yeah. Just curious, do LSP clients cache certain completion information in a way that e.g. function / operator names can be autocompleted without constant roundtrips to the server, or does basically every keystroke lead to an LSP request?

For syntax highlighting, it seems there's no LSP

[2019-11-11 14:23] rothsa commented on #5529
Yes, I do! Thank you for taking an initial look at it and giving me context. I will likely want your help too, in a couple of days. I want to see how far I can get on my own and develop a debugging workflow.

[2019-11-11 14:27] juliusv commented on #5529
@rothsa Sounds great, happy to help out or pair on things when it's good for you. I don't know the current TSDB code well myself, so it'll also be a good learning experience for me.

[2019-11-11 14:34] slrtbtfs commented on #6160
Usually there is a limit how many completions the server offers for a single request (by default  100). If the returned list is complete, i.e. there are less than 100 available completions, the server can tell this to the client and the client won't ask for additional completions again

Yes, that would be reusable. I've actually already done something similar for the vscode extension for prometheu

[2019-11-11 14:35] codesome commented on #2911
@gouthamve said yes

[2019-11-11 14:35] #2911 closed

[2019-11-11 14:37] slrtbtfs commented on #6160
The server can additionally tell the client to only ask for completions, if the cursor is over a word separator. This way no completions will be asked for if the cursor is somewhere in the middle of a word.

[2019-11-11 14:38] csmarchbanks commented on #6296
@reallax About how often does the uncompress failure happen, and if the request is retried does it work? Also, do you have a minimal application I could try to build to debug this?

I have never seen a failure to uncompress snappy from any of my remote receivers, but they have also all been written in go.

[2019-11-11 15:43] juliusv opened #6301 "React UI: Figure out how to "normalize" localhost URLs"
The classic UI replaces the linked URL for targets that have a localhost-ish URL with the global URL, see: https://github.com/prometheus/prometheus/blob/37d666949c9475e298666cc8e0e787d76fa8fd77/web/web.go#L947-L984

We need to figure out how to do this with the new React UI as well.

[2019-11-11 15:49] juliusv opened #6302 "React UI: Figure out how to handle "Xs ago" duration displays"
Some of the pages in the classic UI (like /targets and /rules) show durations in the format "3.45s ago". In the new React UI, we get only absolute timestamps of events from the server, so if we wanted to compute such a relative duration, we need a relative "now" timestamp to subtract them from. The current approach is to use the browser's current timestamp, but the user's clock might be totally of

[2019-11-11 15:55] brian-brazil commented on #6301
Should we consider getting rid of this behaviour?

[2019-11-11 15:58] juliusv commented on #6301
I think it depends on how ugly it would be to implement it for the new UI, since it is definitely useful, but not critical either.

[2019-11-11 16:01] beorn7 commented on #2682
To wrap this up: I have given a talk last week at PromCon about the current state of research. Recording will soon be linked here: https://promcon.io/2019-munich/talks/prometheus-histograms-past-present-and-future/

Bottom line is that some kind of digest is not off the table, but it seems like a solution that is not well suited to the Prometheus use case. Even if we end up with a digest, I'm quit

[2019-11-11 16:01] #2682 closed

[2019-11-11 16:03] beorn7 commented on #6001
To wrap this up: The talk has happened last week. Recording will soon be linked here: https://promcon.io/2019-munich/talks/prometheus-histograms-past-present-and-future/

As the ideas described here are unlikely to be part of the solution we'll go for, I'll close this issue. That should not imply that nothing will be done in the general direction of improving histograms. I'll report back on my exp

[2019-11-11 16:03] #6001 closed

[2019-11-11 16:09] juliusv commented on #6160
Thanks for the background! So I guess for completion we will just wait for server-side LSP support then, but need to decide what to do for highlighting in the meantime. That in turn seems gated on the editor decision. If anyone interested wants to give CodeMirror a deeper look in terms of usability, quality, and LSP support (for our use case), that seems like the next step.

[2019-11-11 16:50] Nexucis commented on #6160
Thanks for your feedback about the LSP feature @slrtbtfs . Futur is bright with it :).
On our side we will try CodeMirror, we are also interested to reduce the footprint of Monaco.
I think we'll begin just by make the migration from Monaco to CodeMirror **without LSP**.
Then once it is done, we'll try with LSP if nobody else has done it.

[2019-11-11 17:08] slrtbtfs commented on #6160
@Nexucis Sounds good, especially since I'm not that good with front end stuff.

In case it is useful, [here](https://github.com/slrtbtfs/vscode-prometheus/blob/master/syntaxes/promql.tmlanguage.yml) is a TextMate grammar for PromQL. At least for VS-Code it needs to be converted to JSON before using it.

The language server isn't able to talk over a network, yet. I'll fix this soon, to make experim

[2019-11-11 17:33] celian-garcia commented on #6160
Thank you @slrtbtfs @juliusv for all the inputs ! I'm sure it will help us ;)
FYI, we also found this. https://github.com/codemirror/CodeMirror/pull/4948/files
It's pretty outdated but maybe it's  worth it to throw an eye.

We'll keep you informed ;)

[2019-11-11 21:42] #6269 closed

[2019-11-12 02:40] #5771 closed

[2019-11-12 05:37] appleboy commented on #3732
Hi I have the same problem with [Splunk storage adapter](https://github.com/kebe7jun/ropee)

Prometheus version: 2.14.0

See the following log

[code]

any hints to debug?

[2019-11-12 05:43] appleboy opened #6306 "splunk remote storage adapter issue (proto error)"
## Bug Report

I try the [Splunk storage adapter](https://github.com/kebe7jun/ropee) with Prometheus but encounter the following problem for reading.

**Environment**

* System information:

	Linux 4.15.0-65-generic x86_64

* Prometheus version:

	prometheus, version 2.14.0 (branch: HEAD, revision: edeb7a44cbf745f1d8be4ea6f215e79e651bfe19)
	  build user:       root@df2327081015
	  build date:

[2019-11-12 07:50] brian-brazil commented on #6306
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2019-11-12 07:50] #6306 closed

[2019-11-12 09:23] juliusv commented on #813
@boyskila fixed this for the new React UI in https://github.com/prometheus/prometheus/pull/6300. I don't think we need to spend energy on fixing it in the old UI before it disappears, so treating this as closed.

[2019-11-12 09:23] #813 closed

[2019-11-12 13:49] msiebuhr commented on #5094
Just to follow up, this was the Grafana response:

[2019-11-12 14:56] brian-brazil commented on #5094
You can try something with the `_over_time` functions, but as I said this can't be done in PromQL generally.

[2019-11-12 16:02] juliusv commented on #5094
I guess it would be possible to implement something similar in PromQL where you pass in a large-enough window to cover all use cases, and then the algorithm decides within that window which section to use for averaging, depending on the shape of the rest of the data under that window. But that would be inefficient to do that general shape computation again and again for each eval timestamp.

[2019-11-12 21:39] slifty commented on #2357
How has Grafana managed to provide support for environment config without becoming full blown configuration management service?

I'll add my use case just to the pile!

I'm using Docker compose + Amazon ECS to set up a Prometheus / Grafana / Alertsmanger.

For the Grafana portion of our setup we are able to deploy semi-configured images stored on dockerhub (the images and config files are fully ar

[2019-11-12 21:52] msiebuhr commented on #5094
I recall playing with an implementation like that - copy/pasted from `avg_over_time` (if memory serves) and began porting their online JS implementation over, though I never really got it working.

Skimming the paper, there is a "Streaming ASAP" (section 4.5), which reads along the lines of what @juliusv suggests.

[2019-11-13 06:43] kaihendry opened #6310 "Validate rules_files:"
Makefile
[code]

test.yaml
[code]
running `make`
[code]

I expected it to fail since the alert.rules.yml does not exist.

[2019-11-13 10:48] urupaud opened #6311 "Data lost after restart"
## Bug Report
**What did you do?**
Restarted prometheus service (task definition) which was running on AWS ECS.

**What did you expect to see?**
All the previous metrics should be there .

**What did you see instead? Under which circumstances?**
All the data was wiped out from the storage. I had data of 60 days but they were all gone.

**Environment**

* System information:

	Linux 4.14.143-118.12