[2013-01-04 16:14] juliusv opened #4 "Implement target re-evaluation during runtime"
- via DNS
- via changed targets file on disk (need to separate targets into own file first)

[2013-01-04 16:17] juliusv opened #6 "Rule re-evaluation during runtime"
When a rule file changes on disk, Prometheus should be able to load and apply the changed rules during runtime.

[2013-01-04 16:19] juliusv opened #7 "Simple graph generation interface"
For a first demo, we need a rudimentary graph generation interface. It can be a simple web form that allows the input of metric, labels, and timerange and shows a graph accordingly.

[2013-01-04 16:20] juliusv opened #8 "Ruby client"
We need a Ruby version of the client instrumentation library.

[2013-01-04 16:22] juliusv opened #9 "Implement federation (timeseries streaming)"
It should be possible to efficiently stream timeseries from one Prometheus instance to another, with exchanged series determined based on a federation configuration.

[2013-01-04 16:24] juliusv opened #10 "Remote storage"
Prometheus needs to be able to interface with a remote and scalable data store for long-term storage/retrieval.

[2013-01-04 16:24] juliusv opened #11 "Persist Retroactive Rule Reevaluations"
We can already reevaluate queries on old data, but we should be able to persist that for a certain window from `[Oldest, Now)`.

[2013-01-04 16:26] juliusv opened #12 "Rule-evaluation management framework"
There needs to be a component that evaluates rules periodically during runtime and stores their results.

[2013-01-04 16:27] juliusv opened #13 "Embedding instrumentation library"
Use the client instrumentation library throughout Prometheus itself (to gain insight).

[2013-01-04 16:27] juliusv opened #14 "Write documentation about rule language"
- basic concepts
- data types
- operators
- functions
- examples

[2013-01-04 16:28] juliusv opened #15 "Expression browser"
Implement an expression browser via a web form (user inputs a rule language expression and gets back the evaluated result).

[2013-01-04 16:30] juliusv opened #16 "HUD to view config and state of Prometheus"
Prometheus should serve a status page that shows some internal state:
- currently loaded config / rules
- target health status, etc.

[2013-01-04 16:30] juliusv opened #17 "Topological sorting of rules"
Rules need to be evaluated in topological sort order in order to respect data dependencies between them.

[2013-01-04 16:32] juliusv opened #18 "Data model optimization"
Let's take another look at optimizing the Prometheus data models after our first experiments.

[2013-01-04 16:34] juliusv opened #19 "In-memory store for timeseries"
Build an in-memory store/cache to make access more efficient.

[2013-01-04 19:56] juliusv opened #21 "Rule formatting tool."
Like "gofmt" for Go, we ought to have a "promfmt" for Prometheus since we have a syntax tree. The idea being that the system produces uniform style that minimizes deviation and learning curve.

**Update after we have totally moved to YAML rule files**: In addition to formatting the PromQL expressions, we also want to format the YAML files to have a fixed structure, while preserving comments for bo

[2013-01-08 20:28] juliusv opened #25 "Adjust return signature of GetBoundaryValues() metric persistence method"
Current:

GetBoundaryValues(_model.LabelSet, *model.Interval, *StalenessPolicy) (_model.Sample, *model.Sample, error)

The return value is hard to use because the caller needs to manually match labelsets between the first and second return value e.g. for computing deltas. And there is nothing in the return types itself that ensures that the labels even do match.

So I think it should be the same a

[2013-01-08 20:55] juliusv opened #26 "GetBoundaryValues() and GetRangeValues() should return labels in SampleSets"
I've only tested GetRangeValues() so far, but maybe GetBoundaryValues() has the same behavior. The SampleSets that get returned have a nil-map as the Metric member, whereas they should probably contain the labels that the function was called with, to yield a proper timeseries.

It's not a big problem right now, because the caller has the right labels anyways and can insert them. However, I'm not s

[2013-01-13 04:42] juliusv opened #29 "GetFingerprintsForLabelSet() does OR, not AND on labels"
The expression:

[code]

Yields 12 vector elements where it should only yield one:

[code]

This is an OR of the labels, not an AND (all timeseries that match either the name of the metric OR the percentile value). The bug is in GetFingerprintsForLabelSet():

[code]

This outputs this:

[code]

Note the 12 fingerprints where there should only be one!

The reason is that GetFingerprintsForLabelSet(

[2013-01-13 19:10] #29 closed, assigned to matttproud

[2013-01-13 19:39] matttproud opened #31 "Harden Closing Behavior"
Upon close or close request, …

1. Prometheus should go into a drain mode immediately whereby no further retrievals or queries are answered.

2. Once in drain mode, it should flush all pending metrics for appending into the storage infrastructure.

3. The storage infrastructure, should then begin a flush procedure of its own—e.g., moving in-memory values to the on-disk LevelDB store.  After this s

[2013-01-15 02:11] juliusv opened #33 "Targetpools scrape only first target in pool"
Targetpools scrape only first target that was added to the pool (at pool creation time). I haven't figured out the exact problem yet, but maybe it is something wrong with the heap handling? I've verified that Add() is called correctly for all targets on the right pools, but after that in the actual runs, p.Len() is always just 1.

I'll send a minimal config with multiple targets via mail.

[2013-01-16 15:32] #33 closed, assigned to matttproud

[2013-01-16 15:34] matttproud opened #36 "Implement Additional Store of Metric Counter Resets"
If we had a mediator around the storage system, we could easily track counter resets with respect to metric values.  This would save the number of range (a, b] queries in favor of just querying the endpoints.

[2013-01-22 16:55] #12 closed, assigned to juliusv

[2013-01-22 16:55] #13 closed, assigned to matttproud

[2013-01-22 16:55] #15 closed, assigned to juliusv

[2013-01-22 16:56] #7 closed, assigned to juliusv

[2013-01-22 17:01] juliusv opened #39 "Add support for graphing multiple unrelated timeseries (metrics) in one graph"
It should be possible to correlate multiple metrics in the same graph. The graphing UI should show (dynamically) multiple expression input fields to enable that.

[2013-01-22 17:02] juliusv opened #40 "Make graphs linkable"
Graphs should be linkable via their current URL from the browser address bar.

[2013-01-22 17:06] juliusv opened #41 "Implement UI for graph end-time selection"
Currently we only allow choosing a range back in time from a given Unix timestamp as the graph ending time. The interface should instead have arrows that allow skipping back/forwards in time by smart units.

[2013-01-24 14:37] #40 closed, assigned to juliusv

[2013-01-25 09:42] matttproud opened #47 "Parameterize LevelDB Storage Behaviors"
1. Synchronous I/O should be a static flag for all LevelDB persistence engines.  This should default to `true` for the time being.
2. LRU cache size should be a flag for each LevelDB we use.  We can discuss the safe defaults.

[2013-01-27 18:02] matttproud opened #50 "Create Elementary Configuration and Rule Language Guide"
@juliusv Let's work together on this.

[2013-01-27 18:03] #50 closed, assigned to nobody

[2013-01-28 11:58] #47 closed, assigned to nobody

[2013-01-28 13:08] matttproud opened #54 "Incorporate Data Resampling and Destruction Policy"
The datastore grows ad infinitum right now.  We need a couple of capabilities:

1. The capability of specifying a reduction policy along …
  * an interval of a given size (e.g., one hour),
  * with a reduction method (e.g., mean, median, minimum, maximum), and
  * on samples with a timestamp subject to a certain predicate condition (e.g., older than one day from now).

2. A reduction policy should

[2013-02-08 22:02] juliusv opened #68 "Bundle resource files (HTML, CSS/JS, images, templates) into binary"
It would be great if we could distribute and run Prometheus as a single binary without any external files needed for serving e.g. the web interface.

One possibility how to do this: https://github.com/jteeuwen/go-bindata
Another option: https://github.com/bradfitz/camlistore/blob/master/pkg/fileembed/fileembed.go

[2013-02-14 18:50] juliusv opened #77 "Change MetricPersistence interface to query values by fingerprint instead of by metric"
It might make sense to change the interface of e.g. GetValueAtTime(), GetBoundaryValues(), and GetRangeValues() to expect a fingerprint instead of a metric labelset.

The AST currently starts off knowing a labelset, then gets all fingerprints for that, then gets the metrics for those fingerprints, then gets the values for each of those metrics.

It could be just: get all fingerprints for labelset,

[2013-02-14 18:56] juliusv opened #78 "Fix assumption in deltaImpl() that matrix timeseries always have at least one sample"
Fix the samples.Values[0] here:

https://github.com/prometheus/prometheus/blob/db5868f1b324a0b32b2d1a7f6dc4027e9770e598/rules/ast/functions.go#L100

[2013-03-21 10:54] juliusv opened #89 "Add operator that supports getting ranges at intervals"
If a query resolution is lower (e.g. 5m) than a metric range (like foo[1m]) requested in a query, we actually need to fetch ranges at repeated intervals so as not to fetch too much data.

[2013-03-27 17:31] #68 closed, assigned to discordianfish

[2013-03-27 17:32] #77 closed, assigned to nobody

[2013-03-27 17:32] #41 closed, assigned to nobody

[2013-03-27 17:33] #25 closed, assigned to matttproud

[2013-03-27 17:35] #18 closed, assigned to nobody

[2013-03-27 17:37] matttproud opened #106 "Implement Links between Graph and Expression Browser Pages"
# In the Graph Page
- "View this Graph in the Expression Browser"

# In the Expression Browser
- "View this Expression as a Graph" link.  @juliusv can offer some insights into runtime checks to ensure that the right kind of expressions are only allowed this.
- Use heuristics from the AST to create node-level links of expressions such that these sub expressions can be graphed.

[2013-03-28 09:11] #4 closed, assigned to juliusv

[2013-03-28 09:13] matttproud opened #108 "Implement Configuration and Target Reloading via Disk Watches"
http://golang.org/pkg/syscall/#InotifyAddWatch

[2013-03-28 09:21] #6 closed, assigned to juliusv

[2013-03-28 09:50] #26 closed, assigned to matttproud

[2013-03-31 21:12] juliusv opened #114 "Invalid iterator crash bug in newSeriesFrontier()"
With my expressions benchmark (living in branch "julius-metrics-persistence-benchmarks"), I managed to provoke the following crash in `newSeriesFrontier()`:

[code]

The culprit is this line, where we rewind the iterator although it is possible that it is already pointing at the first element on disk: https://github.com/prometheus/prometheus/blob/b2e4c88b800facb0ce800749fcf3635d4fa3aed5/storage/me

[2013-04-05 11:06] discordianfish opened #119 "Make prometheus self-hosting by including external dependencies (jQuery etc)"

[2013-04-09 12:48] #119 closed, assigned to discordianfish

[2013-04-09 14:27] discordianfish opened #125 "add tests to web UI"
Let's figure out what we can use.

ie.:
- https://github.com/soundcloud/tyrtle
- http://docs.seleniumhq.org/

[2013-04-10 11:00] peterbourgon opened #127 "Expression evaluation code is not goroutine-safe"
To reproduce, create a small program which launches concurrent requests to `prometheus/api/query?json=JSON&expr=<anything>`. Each request will have one of three possible outcomes:
1. success (lucky you!)
2. "Error parsing rules at line X, char Y: syntax error"
3. crashing Prometheus with a slice-out-of-bounds

For the record, the panic has this stacktrace:

[code]

[2013-04-10 13:57] matttproud opened #129 "Benchmark and Include TCMalloc-Powered LevelDB"
The scope is installing TCMalloc and Google perf tools into the overlay_root hierarchy.

[2013-04-12 13:19] bernerdschaefer opened #135 "SIGSEGV in storage/metric tests"
It's intermittent, but I do see this every few times I run `make` in the root directory, or `go test` from `storage/metric`. Here's the trace: https://gist.github.com/bernerdschaefer/5371918

[2013-04-12 14:38] juliusv opened #136 "Fix rate() to be per-second again"
https://github.com/prometheus/prometheus/commit/ec413459fa17d602735d648f158af8aa97b6251a introduced a regression in https://github.com/prometheus/prometheus/blob/6cb3c51d247ab2e6a513ef3b72bd6b27c650783a/rules/ast/functions.go#L123. Since samples in vectors are no longer pointers, the per-second rate adjustment in rateImpl() is applied to the result vector. Fix this and add a test!

[2013-04-12 23:56] juliusv opened #137 "Remove temporal aliasing from rate() and delta() functions."
The rate() and delta() functions should consider the times of the actual first and last sample times within an interval vs. the desired begin and end time of the interval and compensate for any temporal aliasing that occurs when the graphing resolution is not a multiple of the recorded sample resolution.

[2013-04-15 10:07] #127 closed, assigned to juliusv

[2013-04-15 12:14] matttproud opened #144 "Reorganize Source Tree and Packages for Convention"
Low priority, but it should be done.

[2013-04-15 12:43] #114 closed, assigned to matttproud

[2013-04-15 12:45] #137 closed, assigned to juliusv

[2013-04-15 12:50] juliusv opened #146 "Integrate data from memory and disk in renderView()"
Views should be populated from both memory and disk data, not only the latter.

[2013-04-15 13:54] #136 closed, assigned to juliusv

[2013-04-15 15:45] juliusv opened #147 "Investigate supporting arrays as label values"
This would be useful for things like e.g. the list of roles attached to a host and then querying only by a single role. Not sure if supporting this is worth the time and complexity though.

[2013-04-15 16:09] juliusv opened #148 "Create synthetic up/down timeseries per target"
A scrape should result in up/down timeseries per target. E.g.

up{job="foo",instance="..."} => 1
down{job="foo",instance="..."} => 0

[2013-04-17 07:05] matttproud opened #153 "Issue an Error if No Evaluation or Scrape Interval is Provided"
For the configuration system, a scrape interval and a evaluation interval must be provided.  If either or both are missing, this should trigger a runtime error.  I can't think of a sensible default behavior for this.

[2013-04-17 11:28] matttproud opened #155 "No Results with Summing of Rates in Console versus Graph"
1. This needs to be tested on a HAProxy-backed collector.
2. This needs to be evaluated in the console page.
## Works

`rate(haproxy_bytes_in{service="dashbox-web"}[1m])`
## Fails

`sum(rate(haproxy_bytes_in{service="dashbox-web"}[1m]))`

[2013-04-17 13:49] #155 closed, assigned to juliusv

[2013-04-17 13:54] #135 closed, assigned to nobody

[2013-04-17 14:14] matttproud opened #157 "Include Dashboard for Current Rules and Their Evaluation Statistics"
For standing and recorded rules, we should offer statistics about how long they take to evaluate per cycle as well as summary statistics of the total evaluation duration in Prometheus.  Other questions to have this help answer: Are we caught up or behind?

[2013-04-18 07:50] matttproud opened #159 "Support User-Provided Static Asset Serving Directory"
What we have right now for dashboard generation is good for ad hoc sharing but does not support good long-term persistent dashboard uses cases where additional visual elements or metadata may be required.

Thusly, I would like to envision a world where …
1. A precompiled Prometheus binary could be offered to teams, possibly packaged as a self-contained archive file with all external dependencies:

[2013-04-19 13:25] #148 closed, assigned to nobody

[2013-04-19 14:12] #146 closed, assigned to nobody

[2013-04-21 21:31] juliusv opened #168 "Develop suite of standard Prometheus benchmarks"
We should develop and maintain a suite of easy-to-run Prometheus benchmarks that make it easy for us to compare the performance of different Prometheus versions and configurations.

Possible variables to vary in the benchmark:
- value of GOMAXPROCS
- general fulness of metrics database
- number of timeseries
- number of samples per timeseries
- ratio of samples in memory vs. disk
- query resolutio

[2013-04-22 16:24] juliusv opened #172 "Implement "COUNT expr BY (labels)""
Currently we have a count() function which takes a vector expression and returns the count of vector elements as a scalar. We might want to change the function so that:
- count returns a vector, with all labels being preserved that are common among the counted elements
- count becomes an operator of the form `COUNT expr BY (labels)`

[2013-04-23 10:24] juliusv opened #173 "Support scientific notation for numeric values in expression language"
This would make expressing certain values easier.

[2013-04-24 12:30] matttproud opened #178 "Improve Startup Friendliness of Binary"
Easy project:
1. I'd like to have the Prometheus instance, upon start up, print out some information about itself.
   1. Current version.  We presently don't have this embedded in the build.
   2. What port it is serving on, including address it is bound to.
   3. What the flags are presently set to.  Maybe via http://golang.org/pkg/flag/#VisitAll?
2. I'd like some of the information from above pr

[2013-04-24 17:36] matttproud opened #180 "Goroutine Leak"
This should be easy to fix and would be a good learning experience for the Prometheus core code.

This goroutine is being leaked in tests:
https://github.com/prometheus/prometheus/blob/master/storage/metric/tiered.go#L169

Upon draining https://github.com/prometheus/prometheus/blob/master/storage/metric/tiered.go#L187, it should end.

[2013-04-24 17:43] juliusv opened #181 "Prevent stacking of scrapes for same target"
Scrapes that time out are abandoned, but can still keep running in the background, unaccounted for. Thus, an infinite amount of them can run in parallel until Prometheus blows up. This needs to be prevented by properly ending scrape goroutines when they reach their timeout.

[2013-04-25 08:30] matttproud opened #183 "Create Dashboard for Alerts"
Like the Console, Graph, and Status links we have now, we should create another link to "Alerts" that provides a means of displaying dormant, pending, or active alerts.  When somebody gets paged, they will want to track the status of what triggered the alert, and this should be the entrypoint for that.

/CC: @juliusv and @grobie

[2013-04-25 09:11] matttproud opened #184 "Repair Metrics Format Negotiation"
The current response header we use `ProtocolVersionHeader = "X-Prometheus-API-Version"` should be dropped in favor of MIME.  This should be done for correctness of the HTTP application-level negotiation between clients and servers, not for proxy support.

Use MIME parameters per http://tools.ietf.org/html/rfc2045#page-12 would probably be far more correct.

[code]

… via the standard library's fac

[2013-04-25 09:42] streadway opened #185 "Static typing of metric values"
https://github.com/prometheus/prometheus/blob/master/retrieval/format/processor0_0_1.go#L56

Is a context sensitive union type that can produce runtime errors when the "type" key does not match the expected type of the value of the "value" key.  Consider using a key name for the type rather than a "type" key with the metric type as a value.  Like:

[code]

This means that collectors ignore metrics

[2013-04-25 10:12] streadway opened #186 "Inconsistent encoding of units in metric names"
The lack of units for the counter scalars has lead to encoding them in the docstring, or metric name itself.  Does it make sense to use a label for units?  It seems we have a metric level special meaning for the "name" label, does this extend also to "units"?

Examples of confusing names with the units encoded in different locations in the names, and in the docstring.

`namespace_metric_units` vs.

[2013-04-25 12:12] #180 closed, assigned to discordianfish

[2013-04-26 12:57] #178 closed, assigned to nobody

[2013-04-29 08:30] #181 closed, assigned to nobody

[2013-04-29 08:31] #184 closed, assigned to nobody

[2013-04-29 08:43] bernerdschaefer opened #202 "JS library for graph building"
The goal is to have a JS library which provides an API for building graphs from the prometheus rest endpoints. The idea is that this can be used along with #159 to provide a straightforward way of building custom dashboards. Ideally, it can also be used to power prometheus' own graph pane.

[2013-04-29 16:56] juliusv opened #206 "Check whether queue reporting should be adapted for new array-based channels"
/cc @matttproud we still only report the length/capacity of the queue channels, not how many samples each sample array in the channel contains. Should the exported value still show the total amount of samples in the channel? Then we have to change how reporting works, because we can't peek into the channel and count subelements without removing elements from the channel.

[2013-04-29 21:27] #206 closed, assigned to nobody

[2013-05-03 12:22] bernerdschaefer opened #214 "Prometheus hangs after interrupt"
Here's a transcript with a goroutine dump: https://gist.github.com/bernerdschaefer/5508760

It appears to be a problem with the ordering of calls to levigo -- see [this gist](https://gist.github.com/bernerdschaefer/5508573) which shows that the following two cases produce indefinitely blocked goroutines:

1) Calling db.Close() twice. For example, closing explicitly in one location, with a defered

[2013-05-03 14:15] juliusv opened #216 "Make writes to memory synchronous"
The sample write path is currently:

AppendSamples() -> buf. channel 1 -> memory -> buf. channel 2 -> disk

If samples have only made it to bufchannel 1, they are not queryable yet. For rules which depend on each other, it will be useful to be able to query the result of the previous rule immediately in a second rule. Thus, we should make writes to memory synchronous.

[2013-05-04 10:05] matttproud opened #217 "Extract and Consolidate Static State"
A number of our packages have static state—some that can be avoided others not.  The bits that can be cleanly wrapped ought to be.

The appstate package should be deprecated and replaced with a general Prometheus type that captures the general shared state for the application.

[2013-05-06 00:20] juliusv opened #220 "CPU-Profiling triggers a segmentation fault"
This is probably a Go problem. See my note at https://code.google.com/p/go/issues/detail?id=5337#c39

[2013-05-07 16:04] bernerdschaefer opened #229 "Remove dependency between curator and web"
Since curation is a core prometheus feature, and reporting the current status on the HUD is not, this communication shouldn't happen through potentially blocking channel communication.
### Proposal 1 (preferred)

Introduce a new struct which atomically reads/updates the curation state. It's simpler, and has the advantage that the curator and web are only synchronized when the status page is reques

[2013-05-08 10:36] matttproud opened #230 "Build Automated Complete End to End Test"
1. Builds binary running requisite whitebox tests.
2. Starts up Prometheus.
3. Tries issuing web queries to evaluate known expressions against the database.
4. Validates results.

/CC: @juliusv — You may have some ideas of some things you'd like to see captured here.

[2013-05-08 10:40] matttproud opened #231 "Support ``COUNT(expr) BY (facet)`` Aggregation"
/CC: @juliusv

[2013-05-08 12:24] #231 closed, assigned to nobody

[2013-05-09 19:28] #220 closed, assigned to nobody

[2013-05-09 19:30] #172 closed, assigned to juliusv

[2013-05-09 19:32] #153 closed, assigned to nobody

[2013-05-10 11:10] matttproud opened #235 "Lookup Metric via Fingerprint in Graph and Console"
Not sure exactly how this would appear from a user perspective, but would be nice ``01289381983818192451-c-1-s``?

[2013-05-11 12:51] juliusv opened #237 "Optimize getValuesAtIntervalOp by skipping past last seen sample"
After `getValuesAtIntervalOp` extracts samples t0 and t2 for a given target time t1, it should at least advance its current time past t2 for the next extraction run. Otherwise (when the op interval is smaller than the samples interval) we just search again and again for more points that don't exist.

[2013-05-11 13:22] juliusv opened #238 "Investigate why every (fp, timestamp) has two samples with slightly different values"
Example excerpt from a DB dump (fingerprint, timestamp, value):

[code]

This is before compaction, mind you.

[2013-05-11 13:27] juliusv opened #239 "View rendering only adds last sample from chunks to view"
I've cross-referenced the samples that get added to a view with a compacted DB-dump and noticed that only those samples which are the last samples of a chunk get added to a view. This would explain the query anomalies we've seen, and also, why the problem wasn't as visible without compaction (chunks of 1 or 2 samples).

We need to investigate why this happens.

[2013-05-11 13:33] #238 closed, assigned to nobody

[2013-05-11 14:39] juliusv opened #240 "If there are two ops for the same fingerprint, only the last one will populate the view"
This: https://github.com/prometheus/prometheus/blob/161c8fbf9bd491cc321ad51f9d0670165c72464a/storage/metric/tiered.go#L460 should be in the loop above it.

PR coming soon.

[2013-05-12 00:13] juliusv opened #241 "Prometheus-generated labels should override client-specified labels"
This goes for `instance` and `job`.

[2013-05-14 13:28] matttproud opened #248 "Anomaly in Console Rule Evaluation"
[code]

[2013-05-14 15:29] #248 closed, assigned to juliusv

[2013-05-14 15:47] #216 closed, assigned to nobody

[2013-05-14 15:49] #237 closed, assigned to juliusv

[2013-05-16 10:35] matttproud opened #255 "Time Series Annotations"
We had talked about providing the graph interface with the means to add annotations.  That would be nice.  Let's also provide programmatic means for this that can be bound to an (expression, time) double.

[2013-05-21 14:01] juliusv opened #261 "Goroutine leak in storage code"
I just hard-quit a Prometheus and it produced a stack dump with gazillions of goroutines running in LevelDB storage code. An excerpt:

[code]

Looks like a goroutine leak to me.

[2013-05-21 14:23] #261 closed, assigned to matttproud

[2013-05-21 15:45] matttproud opened #264 "TieredStorage.renderView: Should Request diskFrontier or seriesFrontier ONLY IF an Expression Requests Outside of Memory Range"
For `TieredStorage.renderView`, we get the diskFrontier once and the seriesFrontier for all fingerprints.  We should get these only if a query requests something outside of the memory range.

[2013-05-28 14:20] juliusv opened #274 "Make `TieredStorage.flushMemory()` testable and test it"
I fixed a bug in `TieredStorage.flushMemory()` in https://github.com/prometheus/prometheus/commit/a8468a2e5eda80d17179c8a9fe245d02809bc3c1 where the condition for what to keep in memory vs. what to flush to disk was reversed.

Unfortunately, this method is not good to test: it uses `time.Now()` to decide what to flush. Make this method more testable and test it.

[2013-05-28 14:22] juliusv opened #275 "Fix potential deadlock in `TieredStorage.flushMemory()`"
AFACIS `t.appendToDiskQueue` is produced and consumed only from the same goroutine, in sequence, with no capacity checking on the producer side. That looks like the producer could potentially deadlock forever if the channel fills up, because the consumer would only run after it.

[2013-06-02 20:40] #240 closed, assigned to juliusv

[2013-06-02 20:42] #239 closed, assigned to nobody

[2013-06-06 10:27] #241 closed, assigned to juliusv

[2013-06-07 05:26] matttproud opened #287 "Support Persistent Rule Generation through Web Interface"
After a user prototypes in the expression browser, he or she may want to persist the rule to a configuration.  A user may optionally want to rescind or modify an existing rule as well.

Reporter's Note: This could be easily achieved in a oneoff configuration file that only Prometheus is allowed to mutate.

/CC: @peterbourgon

[2013-06-07 10:22] #159 closed, assigned to nobody

[2013-06-11 09:34] juliusv opened #292 "Don't do the same fingerprint->metric lookups from disk multiple times per query"
Now that view queue wait times and disk extraction are optimized, getting values from the built memory view is increasingly becoming a bottleneck. Profile this and consider creating reusable array iterators for memory series instead of doing binary search on the whole series array for every point. (since we're usually stepping through linearly in queries)

[2013-06-12 15:55] juliusv opened #296 "Make metrics URL path configurable also for non-SD targets"

[2013-06-13 17:27] juliusv opened #302 "Don't do incremental backoffs on unhealthy targets?"
The purpose of monitoring is also to see when a target was up or down, as precisely as possible. If we backoff on scraping unhealthy targets, we lose that information. Plus, the "up = 0" timeseries for a target may go stale if the backoff period is larger than the staleness allowance.

[2013-06-15 23:45] juliusv opened #304 "Parallelize memory flushes with view rendering"
In `TieredStorage.Serve()`'s `for{select{...}}`, view requests are not handled while a memory-to-disk flush is running. This should be further parallelized, since 15-minute memory flushes block the view queue for ~45s in my test instance.

[2013-06-20 01:34] juliusv opened #307 "Cache labelset->fingerprint lookups"
This becomes relevant for large labelsets, even if they only map to a single timeseries: looking up the fingerprints for the labelset then takes the majority of time (e.g. 70ms of 76ms total query time).

Every time we do this lookup, we go out to both disk and memory. We should probably cache these lookups in memory too.

[2013-06-20 01:47] juliusv opened #308 "Use compressed encoding when transferring graph data to browser"
Currently we send graph/query data as uncompressed JSON from the Prometheus query web API to the browser, which can take a large amount of time over slow connections.

[2013-06-20 23:29] juliusv opened #309 "Upon append of a new series, should watermarks be written immediately?"
See my new comment on already merged earlier PR:  https://github.com/prometheus/prometheus/pull/291/files#r4810106

[2013-06-20 23:35] juliusv opened #310 "Implement proper shutdown for rule manager"
The rule manager isn't properly shutdown anywhere when quitting Prometheus, causing it to try and access storage even after it has been drained.

[2013-06-28 18:21] juliusv opened #324 "prometheus_targetpool_duration_ms should be labeled by job, not by interval now"
...since targetpools are now keyed by job and that's probably a more interesting dimension anyways.

[2013-06-28 18:22] #309 closed, assigned to matttproud

[2013-06-28 18:23] #308 closed, assigned to nobody

[2013-06-28 18:26] #292 closed, assigned to juliusv

[2013-06-28 18:31] #264 closed, assigned to juliusv

[2013-06-29 13:43] #183 closed, assigned to nobody

[2013-06-29 13:49] matttproud opened #325 "Move both X and Y Axis Tick-Mark Labeling to Outside of Graph"
Per http://code.shutterstock.com/rickshaw/tutorial/introduction.html with the _Y-Axis Too_ section, we should move the axis labeling to outside of the graph.  This will prevent series from being rendered over both the tick mark values.

[code]

Note the external _element_ definition.

[2013-07-12 21:28] juliusv opened #329 "Add more internal telemetry"
- count of evaluated rules
- count of scraped/stored samples
- count of DNS-SD lookup successes/failures per pool
- count and timings of mem->disk flushes
- rename "curation_..." metrics to "prometheus_curation_..."
- (DONE) depth of notification queue
- (DONE) notification send failures

[2013-07-15 11:48] juliusv opened #332 "range-op data extraction inconsistency"
There is an inconsistency during value extraction for range ops (not range-at-interval ops) when a query crosses the boundary between memory and disk. At the disk/memory boundary, e.g. a rate will drop by a small amount for the duration of the op's range.

To reproduce:
1) monitor a client_golang/examples/random instance
2) wait for the first flush to disk
3) do a `rate(rpc_calls_total[5m])` query

[2013-08-02 14:30] juliusv opened #345 "Show gaps in graph when data has long gaps"
See:

https://github.com/shutterstock/rickshaw/issues/121
https://github.com/shutterstock/rickshaw/issues/155

http://code.shutterstock.com/rickshaw/examples/gaps.html
http://code.shutterstock.com/rickshaw/examples/inconsistent.html

[2013-08-12 13:48] #16 closed, assigned to juliusv

[2013-08-13 16:51] juliusv opened #360 "DNS SRV fixed in upstream Go, switch to native LookupSRV in Prometheus now?"
https://code.google.com/p/go/source/detail?r=77ceb1db4a1e

[2013-08-14 17:57] juliusv opened #363 "Statically linked Prometheus crashes soon after startup"
When building Prometheus statically, it always crashes like this soon after startup:

[code]

We either need to figure this out or make it possible to deploy non-static builds again (tried and got a glibc version mismatch error).

[2013-08-19 15:12] juliusv opened #364 "Allow matching labels by regex"
It would be very useful if one could match labels against regular expressions, like:

[code]

[2013-09-17 13:12] #157 closed, assigned to nobody

[2013-10-17 13:30] juliusv opened #367 "Crash due to violated storage invariant"
A Prometheus instance was crashing every time a curator was run with:

[code]

I have a copy of the storage that triggers this crash if someone wants to look at it.

[2013-10-17 13:34] juliusv opened #368 "Crash due to nil pointer access CompactionProcessor"
A set of Prometheus instances were crashing during compaction with this error:

[code]

[2013-10-26 22:48] juliusv opened #370 "Store times as Unix timestamps instead of time.Time"
This would both dramatically reduce memory usage as well as potentially improve code (part 2 of https://github.com/prometheus/prometheus/issues/367 was caused by using time.Time instead of a Unix timestamp).

Currently a SamplePair consumes 32 bytes:
- time.Time: 24 bytes
- float64: 8 bytes

This could be brought down to half, 16 bytes, when using a 64-bit Unix timestamp.

However, samples aren't

[2013-10-26 22:51] #367 closed, assigned to nobody

[2013-10-27 16:12] #332 closed, assigned to juliusv

[2013-11-11 09:12] typingduck opened #372 "Better syntax mistake errors"
Currently syntax errors in the UI are of the form "Error parsing rules at line 1, char 6: syntax error" when the 5th character is incorrect.
The off-by-one error plus not reporting which character is the problem makes it difficult to diagnose.
(As a side not the problem character here was the '.' char. Not sure if this is explicitly disallowed or not. If disallowed then perhaps it should be filter

[2013-11-24 16:03] #8 closed, assigned to grobie

[2013-12-03 08:09] #368 closed, assigned to nobody

[2013-12-14 01:06] #370 closed, assigned to nobody

[2013-12-16 14:29] juliusv opened #373 "Allow adding graphite graphs or arbitrary iframes"
Some people still have legacy dashboards and want to include their old-style graphs in PromDash. To achive this (and more) it would be cool if they could add iframes with arbitrary URLs to the dashboard.

Right now we have an "Add Graph" button, so maybe we could just introduce a new one next to it, "Add Frame". Then an empty frame (similar to a new graph) would be added to the dasboard, and the u

[2013-12-16 14:31] #373 closed, assigned to nobody

[2013-12-16 14:42] #310 closed, assigned to nobody

[2014-01-09 13:10] #329 closed, assigned to nobody

[2014-01-23 17:06] juliusv opened #374 "Investigate spurious target-manager exit after startup"
Prometheus was restarted and stopped scraping soon after startup. The relevent log section said:

[code]

After that, the web interface worked, but since scrapers (target pools) were down, returned no fresh data for any query.

Possibly (and maybe due to the long shutdown time before) there was an issue where Prometheus got another SIGTERM/SIGINT from its supervisor. But why did it not shut down c

[2014-01-27 10:39] juliusv opened #375 "`count(empty_vector)` should return single-element 0 vector, not an empty vector"

[2014-01-27 16:31] matttproud opened #376 "Provide Metrics and Endpoints Dashboard in Prometheus Server"
@juliusv and I spoke a while ago about the desire to have a standardized metrics and endpoints metadata dashboard in the Prometheus server itself to provide the following information:
# Targets/Endpoints
- Metrics Exposed Drilldown (including time when metric {first,last} seen, documentation, type information)
- Time {First,Last} Seen
- Time {First,Last} Responded

[2014-02-03 23:14] juliusv opened #377 "Handle IPv6 DNS server addresses / get rid of error logging"
Currently, when resolv.conf contains an IPv6 DNS server before an IPv4 server entry, like:

[code]

...Prometheus tries to resolve SD names via this server, but fails to parse the IPv6 address and logs:

[code]

This is adding unnecessary noise to the logs and should be fixed (either parsing correctly, skipping IPv6 entries, or removing the logging in this case).

[2014-02-05 11:44] peterbourgon opened #378 "Graph view in web UI should never generate modal alerts"
For example, when I load a bookmarked graph view that contains an expression that happens to not have any recent data points, I don't want to be forced to clear an alert dialog. Similarly, if I type an expression that fails to evaluate, I should be notified in a less forceful way.

[2014-02-26 13:31] juliusv opened #380 "Drop the metric name after any transformation"
Prometheus has no way of telling whether the original name of a metric is still semantically correct after applying any kind of transformation to it, so the metric name should be dropped in that case.

This requires some refactoring, as we currently don't deal well with metrics without a name everywhere (in one place, we even panic).

[2014-03-04 16:28] juliusv opened #381 "Timeseries sometimes not queriable when only in memory"
We have observed the case that new timeseries are sometimes not queriable when they are already in memory, but not on disk yet. After the flush to disk, they are appear in queries again. Perhaps there's a bug in the memory storage's `GetFingerprintsForLabelSet()` or similar section of the code. It's not clear to me yet why it doesn't happen consistently for all timeseries.

[2014-03-06 10:53] #381 closed, assigned to nobody

[2014-03-07 10:15] #214 closed, assigned to bernerdschaefer

[2014-03-09 22:35] #375 closed, assigned to nobody

[2014-03-09 22:40] #374 closed, assigned to juliusv

[2014-03-09 22:45] #14 closed, assigned to juliusv

[2014-03-10 10:35] #377 closed, assigned to juliusv

[2014-03-10 13:41] juliusv opened #382 "Add ability to clear history for individual metrics"
From @mweiden:

"Adding the ability to clear the history for one metric instead of removing all storage via 'sudo rm -rf /srv/prometheus/storage/*' would make debugging metric design much less painful and leave other crucial data intact."

[2014-03-13 11:15] bernerdschaefer opened #383 "`max` with time window"
Given a gauge "instance_memory_usage_bytes" with a "service" label,
I want to find the maximum value of "instance_memory_usage_bytes" by service for a given time window.

That is, `max(instance_memory_usage_bytes) by (service)` tells me the maximum value across timeseries at a given point in time. But something like `max(instance_memory_usage_bytes)[7d] by (service)` would tell me the maximum valu

[2014-03-19 10:57] bernerdschaefer opened #384 "function/flag for dropping common labels"
It would be helpful to have a function (or UI button / query param) to omit common labels from the returned results.

An expression often evaluates to many time series with common labels. Sometimes, it's the difference between label sets that reveals information, e.g., if a series is labeled with a software version. The "version" label could easily be lost in the noise from shared labels given you

[2014-03-26 16:53] #217 closed, assigned to discordianfish

[2014-03-27 15:00] beorn7 opened #385 "First entry for each fingerprint in leveldb is lost"
If a Prometheus server is started from scratch, the first entry for each fingerprint in the leveldb is either never hitting the leveldb or is later not read.

The former is more likely, as the 'dumper' tool doesn't show the missing entry, either. If the data is actually somewhere in the leveldb, then something in the read path must be severely broken (as the 'dumper' tool can't find the missing en

[2014-03-28 20:55] grobie opened #386 "Metrics created by rules should keep the timestamp"
When using a rule expression to create a metric, it shouldn't matter how long the server needs to create the new data, datapoints should be at added at same time. At the moment, rule created metrics lag behind.

These two graphs show the same data, one queries the times eries directly `sum(foo) by (bar)`, the other one uses the rule defined metric: `job:foo_by_bar:sum`.

![screenshot from 2014-03-

[2014-04-01 09:36] juliusv opened #387 "MacOSX Go binary download path needs additional name component"
`$(GOURL)/$(GOPKG)` results in `http://go.googlecode.com/files/go1.2.darwin-amd64.tar.gz`, whereas the download is now named `http://go.googlecode.com/files/go1.2.darwin-amd64-osx10.8.tar.gz`.

[2014-04-11 19:57] grobie opened #388 "Metrics corruption"
Steps:
- renamed some metrics (due to rollout of prometheus/haproxy_exporter 0.3.0)
- renamed some rules in a haproxy related rules file
- restarted server in order to pick up the changed rules file

Result:
- server was chrashlooping until the storage directory got removed

Expected result:
- renamed metrics are missing, server restarts without a problem

Prometheus: 0.2.1
OS: debian wheezy 7.0 a

[2014-04-13 13:33] stuartnelson3 opened #389 "Use standard json naming convention"
This would probably require changes to every project, but I think it'd be nice to use standard JSON naming for the api, so instead of

[code]

it would be

[code]

thoughts?

[2014-04-13 21:37] grobie opened #390 "Lock (deadlock?) on flushing"
A prometheus server got unusable (no more API queries possible) and needed a hard kill to get it back in a usable state. All metrics were lost since the moment the flushing started. That's the output of the log.

[code]

Prometheus: 0.3.0
OS: wheezy 7.0 amd64

[2014-04-17 11:47] #390 closed, assigned to nobody

[2014-04-19 00:01] #78 closed, assigned to juliusv

[2014-05-21 15:22] juliusv opened #392 "nil pointer crash in compaction curator"
Brian Brazil is regularly encountering this crash in the compaction curator:

[code]

The line in the code is:

https://github.com/prometheus/prometheus/blob/01f652cb4c27c8d4a22b3508965e8a53470dbc75/storage/metric/tiered/processor.go#L236

[2014-05-23 08:30] #364 closed, assigned to nobody

[2014-05-23 19:33] #89 closed, assigned to matttproud

[2014-06-05 17:25] brian-brazil opened #393 "Support binary operators on different labels"
I have some cpu variables:
instance_mode:node_cpu:rate5m{mode="idle"} 8
instance_mode:node_cpu:rate5m{mode="user"} 10

and I'd like to divide them by:
instance:node_num_cpus:sum 2

and get as output:
{mode="idle"} 4
{mode="user"} 5

This currently won't work, I'd like to be able to do something like:

instance_mode:node_cpu:rate5m
  / MODIFIER by (instance, mode)
instance:node_num_cpus:sum

We nee

[2014-06-09 17:16] brian-brazil opened #394 "Scrape-time rule evaluation"
I'm currently working with the /proc/meminfo stats, and one of the missing stats is "Memory Used" so you have to calculate it. Doing so via rules isn't a good idea due to time skew, so it'd be handy if you could specify some rules to be run at scrape time against the data for a given instance.

[2014-07-09 16:37] discordianfish opened #395 "Add flag to check config and rules"
Hi,

it would be great if prometheus had a switch which verifies the prometheus.conf and prometheus.rules file. This would make it easy to verify a config without having to restart prometheus. This is especially useful if you create the config before deployment.

[2014-07-10 16:23] brian-brazil opened #396 "Graph shows error messagebox when start time textbox changed"
To reproduce:
1 Go to the /graph endpoint
2 Put in an expression, such as "up"
3 Press execute
4 Press the "rewind" button
5 Change the time
6 Press enter

Expected result:
Graph is updated to the new time

Actual result:
A message box appears saying "Error executing query: abort"

Poking with developer tools, it sends &cancels a query, and then sends another query.

Chrome 35.0.1916.153

[2014-07-11 12:49] discordianfish opened #397 "scraping node-exporter: "proto: can't skip unknown wire type 6 for io_prometheus_client.MetricFamily""
Hi,

I'm running prometheus with those dependencies/versions:
- prometheus: 034f6bb2be8c047e1685e14c5d9e5a722ed3d392
- client_golang: 23e5e5fefd61ab1fce08080eb640956a70786856
- client_model: 775af9440e07a658e13f699448c745367bc12115

And 6 node exporters with those:
- node-exporter: 053db591224505c18b5b3cd996bb90ed40eaee4c
- client_golang: 457bc47eacdc954882e72bc81968061b5ca750a3
- client_model: 77

[2014-07-14 13:42] #397 closed, assigned to nobody

[2014-07-15 11:05] brian-brazil opened #398 "Improve staleness handling"
Currently prometheus considers a timeseries stale when it's got no data points more recent than 5m (configurable).

This causes dead instances' data to hang around for longer than it should, makes less often scrape intervals difficult, makes advanced self-referential use cases more difficult and   prevents the timestamp propagating from the push gateway.

I propose that we consider a timeseries st

[2014-07-31 10:21] #383 closed, assigned to nobody

[2014-08-03 21:45] juliusv opened #399 "Implement a topK() function"
/cc @grobie

[2014-08-05 17:17] #399 closed, assigned to nobody

[2014-08-05 21:34] #384 closed, assigned to nobody

[2014-08-08 10:45] #302 closed, assigned to nobody

[2014-08-20 20:56] juliusv opened #402 "Add round(), ceil(), floor()"
/cc @grobie

[2014-09-28 23:00] #387 closed, assigned to nobody

[2014-10-06 10:22] juliusv opened #405 "Disable legend reordering"
Disable graph legend reordering via drag'n'drop so that it's possible to copy&paste parts of the legend.

[2014-10-06 10:30] juliusv opened #406 "Debounce timerange setting changes"
After pressing any of the buttons that cause timerange changes, we should wait a short amount of time before updating the graph. That way, if the user presses the button multiple times, we don't load every intermediate result immediately.

[2014-10-06 10:39] juliusv opened #407 "Build UI for displaying and exploring timeseries dimensionality"
There should be UI support for dimensional exploration of data. When providing an expression / metric name, the UI could show the user a summary of the selected data in terms of label names and their possible values, then allow the user to further narrow down results based on that. This could either be completely client-side and based on returned query data, or with some more fancy server-side sup

[2014-10-06 11:57] juliusv opened #408 "Make tabular the default view"
When exploring data, it's often best to start with the tabular view until you have filtered/aggregated the data in such a way that it's useful to graph it. The `Graph` tab should start with the tabular view by default.

[2014-10-06 13:54] juliusv opened #409 "Automatically choose graphing resolution based on number of timeseries"
Implement the ability in the Prometheus server to automatically limit the total number of data points returned for a range query by autoscaling the number of data points per timeseries based on how many timeseries are involved in total.

[2014-10-07 21:39] discordianfish opened #410 "Metrics pull down menu closes right away on chrome/osx"
The pull down menu in the graph screen closes as soon as you open it on osx. Can't reproduce it on linux though.

[2014-10-15 14:32] #410 closed, assigned to nobody

[2014-10-30 16:06] #408 closed, assigned to nobody

[2014-10-30 16:07] #378 closed, assigned to nobody

[2014-11-05 01:50] hermie314 opened #412 "Please fix or disable most recent data in promdash which results in dips"
Everytime I look at a Promdash I get a little bit of a start when I see the drop in traffic that isn't real.  I realize that it's also nice to have up to date data but I'm not sure seeing incomplete data helps us any and this situation is often the case.  Can this be fixed???

[2014-11-05 10:50] #412 closed, assigned to nobody

[2014-11-26 15:59] #380 closed, assigned to nobody

[2014-12-02 18:33] juliusv opened #414 "Consider supporting sorting by label value"
Mainly for display reasons (tabular view), it would be sometimes useful to not sort by the value of timeseries, but by a given label value.

Example: list all apps in a PaaS and their memory usage. It would be nice to be able to sort by application name ("app" label).

/cc @grobie

[2014-12-05 15:12] juliusv opened #417 "Add telemetry for rule evaluation errors"
Currently, errors during rule evaluation are silently ignored (the `Err` field is set on the extraction result, but thrown away in `main.go`).

[2014-12-09 17:24] brian-brazil opened #419 "You should be able to specify scalars such as 13h"
Duration thresholds are common in alerts, you should be able to easily and readably provide them as scalars.

For example 13h, 10m, 500s, 5d, 200ms. I don't think we need full ParseDuration support, just one unit of ns/us/ms/s/h/d.

[2014-12-10 16:10] #388 closed, assigned to nobody

[2014-12-10 16:15] brian-brazil opened #422 "Persist alert 'for' state across restarts"
Currently if Prometheus restarts, we lose the 'for' state for firing alerts. While this isn't an issue for short for clauses, it presents a problem for clauses that are in the hours to days range.

It'd be good to persist this state in some way, so that alerts don't have to start again from scratch. We probably don't want to count the time the prometheus server is down against the 'for' clause.

[2014-12-10 16:18] #392 closed, assigned to nobody

[2014-12-10 16:19] #385 closed, assigned to nobody

[2014-12-10 16:20] #363 closed, assigned to discordianfish

[2014-12-10 16:22] #275 closed, assigned to matttproud

[2014-12-10 16:22] #274 closed, assigned to nobody

[2014-12-10 16:23] #229 closed, assigned to nobody

[2014-12-10 16:25] #144 closed, assigned to nobody

[2014-12-10 16:25] #129 closed, assigned to nobody

[2014-12-10 21:26] #19 closed, assigned to matttproud

[2014-12-10 21:26] #304 closed, assigned to nobody

[2014-12-26 20:56] discordianfish opened #435 "Prometheus fails to recover after getting KILLed"
Hi,

I KILLed prometheus accidentally. After restarting, apparently recovered a bunch of samples but then panic'ed due a index being ot of range: https://gist.github.com/discordianfish/18b5c2eaea2e2d66858f

- Affected: prometheus, version 0.9.0rc2 (branch: master, revision: 401decc)

[2015-01-02 12:24] #324 closed

[2015-01-02 12:29] juliusv opened #436 "Make subexpressions of rules/alerts/expressions links to their tabular view"
Whenever showing rules, alerts, or single expressions on the web interface, split up expressions into subexpressions and make each a link to a suitable graph/tabular view for the subexpression.

[2015-01-02 12:29] juliusv commented on #106
The only reason this was left open was the last point "Use heuristics from the AST to create node-level links of expressions such that these sub expressions can be graphed.".

I opened https://github.com/prometheus/prometheus/issues/436 for that and will close this one.

[2015-01-02 12:29] #106 closed

[2015-01-02 14:23] juliusv commented on #389
:+1: - though I think compressed encodings should take care pretty well of maps per sample? Anyways, I'm for two-item arrays.

If we want to change this, we'd need to do it kind of now-ish. But from our side, it would require quite some careful change management to not break things in production.

[2015-01-02 15:12] brian-brazil commented on #389
I'd suggest adding a url parameter that selects the output format, defaulting to the old format. At some point we can flip the default, and ultimately delete the old format.

[2015-01-06 10:43] brian-brazil opened #437 "Prometheus panicing with panic: runtime error: index out of range"
My prometheus is in a crashloop, this is following a successful recovery:
[code]

[code]

[2015-01-06 10:56] brian-brazil commented on #396
This is no longer occurring, one of our fixes in this area must have resolved it.

[2015-01-06 10:56] #396 closed

[2015-01-06 11:02] brian-brazil commented on #437
Stracing doesn't point to any obvious culprit.

[2015-01-06 11:44] juliusv commented on #437
Thanks for reporting! Closing, as this is a dupe of https://github.com/prometheus/prometheus/issues/435. We'll address this before an announcement, of course.

[2015-01-06 11:44] #437 closed

[2015-01-06 11:55] juliusv commented on #435
@brian-brazil  encountered the same issue in #437 -  see there for additional info.

[2015-01-06 17:58] beorn7 commented on #435
If the file length of a series file is consistent with the information in the checkpoint, the file should only be stat'd during crash recovery, not open'd. When you see "Cecovered metric [...]: head chunk found among the [...] recovered chunks in series file.", then the file size was inconsistent and the file had to be inspected. That happens if a chunk was written to the file after the last check

[2015-01-07 13:20] BigCrunsh opened #438 "Add geometric mean as vector aggregation type"
It would be nice to have also the [geometric mean](http://en.wikipedia.org/wiki/Geometric_mean) as a vector aggregation type, since it is more appropriate for metrics that are fractions (e.g., percentage of usage, accuracy,...).

[2015-01-07 15:44] BigCrunsh commented on #438
I have probability-like performance measures. For these an average in the log-space (geo-mean) is more appropriate (e.g., if one of the entries drops down to zero, the "average" should be zero).

Sure, I can also sum up the numerators and divide them by the sum, but this would be a different measure.

[2015-01-07 16:03] brian-brazil commented on #438
I'm having difficulty visualising this, can you explain more about what these performance measures are and how they're instrumented?

[2015-01-07 16:49] beorn7 commented on #438
Implementing a GEOMEAN aggregator should be straight forward, and I can imagine it will be useful for a small but relevant number of users. @BigCrunsh I guess the implementation effort will be similar to the effort you needed to invest to teach us about the uses of geometric means in your area of expertise.

Feature request accepted.

[2015-01-07 16:55] brian-brazil commented on #435
We're using the defaults, and have about 23k series scraped once a minute.

[2015-01-07 17:09] beorn7 commented on #435
My question was related to the slowness, which (in my current theory) can happen if you have relatively few series but write chunks quite frequently (more often than checkpoints being written). @brian-brazil You had no trouble with slowness of crash recovery, but @discordianfish had, so I was particularly interested in his numbers of samples per series.

[2015-01-07 17:31] discordianfish commented on #435
@beorn7 My scrape interval is 60s, except when scraping itself (still 15s)

[2015-01-07 17:55] BigCrunsh commented on #438
Thx @beorn7.

Example: Assume you have 100€. On the first day, you win 10%, on the second you loose 20%, and on the third you win 50%. The question is what is you average win? In order to do that you can take the geometric mean (see, e.g., [here](http://www.investopedia.com/ask/answers/06/geometricmean.asp) for more details). More extreme, to show that the arithmetic mean is not appropriate: Assum

[2015-01-07 18:10] brian-brazil commented on #438
From my experience, every time I've seen someone aggregating ratios in monitoring the result was not what they wanted.

I've yet to see a case where it was correct to export a ratio. You want to export the numerator and denominator separately, and process them from there in Prometheus.

If this is not what you're doing, can you detail exactly what your instrumentation is?

[2015-01-07 18:37] beorn7 commented on #435
@discordianfish Thanks. So there goes my theory.

I tried several scenarios now, and the crash recovery behaved as expected. In your case, it had to seek to many series files, and that can only happen if most series have a head chunk that is different from the one in the most recent checkpoint. I plan to implement a mechanism that will trigger a snapshot early if that happens.

Perhaps something d

[2015-01-07 19:48] brian-brazil commented on #438
Here's a thought: How about adding logarithm and power scalar functions? That should allow for this for the rare use cases where it comes up and is a valid use case.

My concern is that taking a mean of ratios or mean of means is a very very common mistake in the prometheus style of monitoring, and by offering a geometric mean it may cause even more confusion in this space.

[2015-01-08 08:44] BigCrunsh commented on #438
@brian-brazil: Actually I agree. A mean of some counters is fine and a mean of ratios typically not, since the more appropriate equivalent is the geomean. And this is why I am asking ;)

@brian-brazil: In general, I like the idea of adding logarithm and power function (probably only because of my math background) - it indeed gives prometheus a higher flexibility. However, I don't think that this i

[2015-01-08 09:41] brian-brazil commented on #438
The geomean is still incorrect in the common use cases, as what you'd actually want is a weighted geomean to allow for servers getting different amounts of traffic. This is a big part of the reason of why I'm against making geomean easy to use, as people will misapply it in such cases (and get confused about what the difference between geometric and arithmetic means is).

It's correct and much eas

[2015-01-08 11:57] beorn7 commented on #438
Again, I don't think `geomean` will be useful for system monitoring. But the vision for Prometheus (as set by our proud founding father Matt) has a larger scope. It's kind of the same thing as our discussion about negative observation values for summaries. You might want to monitor a measurement of a scientific experiment or something. If you already have a system (say a machine learning one, or y

[2015-01-08 15:40] juliusv commented on #186
This got resolved a while ago, closing.

[2015-01-08 15:40] #186 closed

[2015-01-08 15:44] juliusv commented on #36
This'll likely never happen, as it hasn't posed a problem yet. Closing.

[2015-01-08 15:44] #36 closed

[2015-01-08 15:45] juliusv commented on #31
Closing since this is obsolete/fixed with the new storage.

[2015-01-08 15:45] #31 closed

[2015-01-08 16:55] #417 closed

[2015-01-10 21:08] swsnider opened #444 "Missing dependency in Dockerfile"
The Docker build fails right now, procfs causes the build to need gcc to be present. I've confirmed that it starts working if you add that dependency to the Dockerfile.

[2015-01-10 21:09] swsnider opened #445 "Dockerfile is not granular enough"
It would be a lot easier to work with the Dockerfile if the part where it downloads and compiles the Go toolchain was a seperate RUN step from the compilation of prometheus, since otherwise it attempts to download and build Go every. single. time. you. run. docker. build.

[2015-01-10 22:02] juliusv commented on #444
@discordianfish

[2015-01-10 22:03] juliusv commented on #445
@discordianfish

[2015-01-11 13:24] discordianfish commented on #445
@juliusv That's due to the fact that we're using the Makefile so we're using the same path to build with and without Docker. I can change it to use the golang base image which would be benificial for all Docker uses because of faster build and better reuse of images, but you suggest you also try to build the Docker image each time you change something (should be possible with travis/done etc I gue

[2015-01-11 13:28] discordianfish commented on #444
Oh right, I realized that and fixed it but forgot to submit a PR. There it is: #446

[2015-01-11 21:31] #444 closed

[2015-01-11 22:21] juliusv commented on #445
@discordianfish Hmm, the Makefile currently takes care of some things you'd have to duplicate if you didn't use it:

- creating a build environment with the right Go version and right versions of vendored dependencies (via godeps)
- generating the `build.go` file with build information
- potentially regenerating other things, but those are usually checked in anyways (lexer/parser/asset/protobuf fi

[2015-01-12 12:43] beorn7 commented on #435
Modified version of my theory: If many metrics have the same collection pattern (i.e. they are scraped with the same interval, and scraping similarly structured data, which has a similar compression behavior), then all those metrics will start a new chunk at approx. the same time. Just after that has happened, all the corresponding time series are "dirty", i.e. the head chunk in the last checkpoin

[2015-01-12 12:43] #435 closed

[2015-01-12 12:45] beorn7 opened #447 "Create proper tests for crash recovery."
See TODOs in the code (but this is significant enough to warrant an own issue here.)

[2015-01-16 09:07] grobie opened #451 "Notify user if configuration contains duplicated scrape targets"
Given a configuration which contains the same target under several job names, there should be some kind of feedback to the user.

Example:

[code]

Idea:
As a simple idea, we could add a warning banner (e.g. [bootstrap](http://getbootstrap.com/components/#alerts)) to the top of all prometheus server pages in that case. Alternatively such a config could be simply rejected on bootstrap, pending whet

[2015-01-16 10:07] brian-brazil commented on #451
This is a valid configuration, for example a server might have multiple roles that require different labels or different scrape parameters.

[2015-01-19 12:58] #445 closed

[2015-01-20 14:57] juliusv commented on #389
Actually it might be easier to change the query clients to support both formats for a while. Putting conditional switches into the nested JSON-marshaled types in the server would get complicated/inefficient.

This is a change which updates the format that the server produces:

https://github.com/prometheus/prometheus/compare/change-json?expand=1

For vectors, it looks like this:

[code]

For matri

[2015-01-20 14:59] brian-brazil commented on #389
That looks sane to me.

[2015-01-20 15:09] juliusv commented on #389
Updated to have a version number.

[2015-01-21 17:40] beorn7 opened #453 "Stop accepting queries during shutdown"
Processing long-running queries can interfere with the final checkpoint performed during shutdown (via lock contention). It's pretty low hanging fruit if we simply stop accepting queries while the shutdown is ongoing.

[2015-01-21 17:43] beorn7 opened #454 "Implement query time-out in local storage."
We need a (configurable) time-out after which a query is killed and doesn't drain resources anymore. Currently, a long-running query will go on forever, which easily leads to a death spiral if the pile-up of queries slows things down even more (especially if the growing RAM usage causes the machine to start paging).

[2015-01-21 17:57] beorn7 opened #455 "Implement strategies to limit memory usage."
Currently, Prometheus simply limits the chunks in memory to a fixed number.

However, this number doesn't directly imply the total memory usage as many other things take memory as well.

Prometheus could measure its own memory consumption and (optionally) evict chunks early if it needs too much memory.

It's non-trivial to measure "actual" memory consumption in a platform independent way.

[2015-01-26 16:47] opensourcegrrrl opened #473 "Unsafe rm -rf example in documentation"
At http://prometheus.github.io/docs/operating/storage/, the `rm -rf $STORAGE_PATH/*` example is unsafe.

Alternative:
`rm -r ${STORAGE_PATH}`

[2015-01-26 16:50] juliusv commented on #473
I was thinking about this when writing it, but the problem is that we don't want to remove the directory itself, just its contents. Hmm...

[2015-01-26 16:51] opensourcegrrrl commented on #473
What happens when you test this on someone else's box:
rm -r ${STORAGE_PATH}/

[2015-01-27 04:52] grobie commented on #473
As this is just an example, there is no need to use an environment variable. The fact that storage path is supposed to be replaced by the actual content can be shown in a safer way as well, although not as elegant as with a bash variable. For example:

[code]

[2015-01-27 08:21] stapelberg opened #474 "Please implement scraping via HTTPS (SSL/TLS)"
For a small distributed application that I intend to monitor, we’re using HTTPS (with real certificates, so certificate verification is not an issue) and basic authentication instead of a separate private network, mostly because the setup should stay simple and the application runs on multiple different servers, distributed over the internet.

Therefore, could you please add a configuration option

[2015-01-27 11:33] opensourcegrrrl commented on #473
Note: The syntax within carrots (<>) is consistent with replaceable syntax on page http://prometheus.github.io/docs/concepts/data_model/#notation. That said, <storage path> is the most consistent because it does not contain a hyphen.

[2015-01-27 12:59] beorn7 commented on #474
Makes sense. Thanks for the input.

[2015-01-27 13:17] juliusv commented on #473
How about `rm -rf <storage path>/*`, because it's a single line and doesn't destroy anything, in contrast to the other suggestion where `rm -r *` will still destroy your current working directory if you accidentally execute it after the first one fails.

[2015-01-27 13:23] juliusv commented on #473
(and most importantly, if someone just copies the line without replacing anything, it will result in a syntax error)

[2015-01-27 13:24] juliusv commented on #473
Done.

[2015-01-27 13:24] opensourcegrrrl commented on #473
+1

[2015-01-27 13:24] #473 closed

[2015-01-27 13:56] juliusv commented on #474
@stapelberg I guess then you'll also need to be able to configure the username/password for the basic auth, so that the final URL will be something like `<scheme>://<username>:<password>@<SRV host:port>/<metrics path>`?

[2015-01-27 17:32] beorn7 opened #476 "Improve Makefile contraption."
If you want to build with your own Go environment, you still have to trigger code-generation in certain cases. That's most comfortable with the Makefiles. But if you run make on top-level, it will download and install its own Go environment. If you run 'make' in a subdirectory with code generation, it will fail...

[2015-01-27 17:34] beorn7 opened #477 "Set up a way to distribute binaries."
Just the static binaries (Go rules!), or even deb, rpm, ...

And not only for the Prometheus server, but all relevant repos (pushgateway, promdash...)

[2015-01-27 17:41] beorn7 opened #478 "Implement double-delta chunk encoding"
Idea mostly in @beorn7's head. Should improve timestamp compression by a lot. Thus for fewer chunks. Thus fewer chunks to persist. Thus fewer disk seeks. Thus improved performance on spinning disks. And moar samples in RAM. So much goodness...

[2015-01-27 17:44] beorn7 opened #479 "Cut off returned result at retention time."
Currently, chunks are purged at some point after their latest sample is older than the retention time. That leads to a "ragged" "left-end" of time series. Results should be consistently cut-off at the retention time. Aggregation beyond that is highly misleading.

[2015-01-27 17:52] beorn7 opened #480 "Server-side histograms."
The client-side summaries cannot be aggregated in a meaningful way. To do that, we need the clients to send just the buckets, and the actual histogram generation has to happen on the server. We need a new function for that (`quantile` or something), and a new metric type (let's call it `histogram`).

We might want to consider fancy algorithms to efficiently manage aggregatable histograms. But it i

[2015-01-27 17:54] brian-brazil commented on #480
I'm planning on doing this. I'm thinking the simple bucket approach.

[2015-01-27 17:58] beorn7 opened #481 "Enforce timestamp monotonicity"
The storage requires that samples are sorted by timestamp, i.e. a timestamp that is saved to the storage layer must have a timestamp at least as high as the previous sample. This constraint is just by contract so far. It is not checked or enforced.

Unfortunately, that's not trivial as a time series might already be archived when a sample for it comes in again. It's pretty expensive to unarchive a

[2015-01-27 19:02] brian-brazil opened #482 "Remove scalar/scalar comparisons"
Scalar == scalar is unlike vector == scalar and vector == vector in that it doesn't filter. To keep the language orthogonal and consistent, I propose we drop support for scalar/scalar comparisons. Any case where it would be useful should be doable via vectors.

[2015-01-27 20:06] stapelberg commented on #474
Indeed, yes. For now, I’ve just set up a couple of static targets, but being able to specify userinfo and scheme would be great :).

[2015-01-27 20:12] juliusv commented on #474
Cool, already started coding it. There are just some remaining code hygiene issues I need to figure out before doing a PR.

[2015-01-27 22:12] durin42 opened #483 "make build fails if GOBIN is set"
I've got an old config in my shell that specifies GOBIN (probably just historical now), and 'make build' fails when that's set, because godep (among others, presumably) gets put in the wrong bin.

[2015-01-27 23:00] beorn7 opened #484 "Possible glitch on ZFS on Linux"
The os.File.Seek method doesn't seem to return the right result when used to find out about the file offset.

That breaks TestPersistLoadDropChunks, but it might also break things in the storage layer quite badly...

[2015-01-27 23:34] brian-brazil commented on #484
Relevant bit of strace:
[code]

It opens the file at size 2082, appends 1041 bytes so you'd expect the  lseek(20, 0, SEEK_CUR) to return 2082+1041=3123 (which is what fstat returns) but instead it returns 1041.

[2015-01-27 23:36] brian-brazil commented on #484
zfslib2 version is 0.6.3-2~precise, I'm on amd64.

[2015-01-27 23:40] brian-brazil commented on #484
Per http://pubs.opengroup.org/onlinepubs/009695399/functions/lseek.html
"bytes from the beginning of the file, shall be returned"

[2015-01-28 00:11] ryao commented on #484
The specification suggests that this behavior is correct:
[code]
http://pubs.opengroup.org/onlinepubs/009695399/functions/lseek.html

[2015-01-28 00:14] brian-brazil commented on #484
I think you meant http://pubs.opengroup.org/onlinepubs/009695399/functions/write.html

[2015-01-28 00:31] ryao commented on #484
It seems that I misread. If my cursory reading of the spec is to be believed, we should be returning 2082, not 1041.

[2015-01-28 00:42] brian-brazil commented on #484
Minimal test case: https://gist.github.com/brian-brazil/0022440426ea12728651

On zfs:
[code]
On ext4:
[code]
On tmpfs:
[code]

Linux mari 3.5.0-54-generic #81~precise1-Ubuntu SMP Tue Jul 15 04:02:22 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[2015-01-28 00:49] ryao commented on #484
sarnold in #zfsonlinux on freenode commented that the spec requires two updates. One is to update the file offset to the EOF before an FAPPEND write operation and another is the normal increment following the write operation. This is consistent with what you have observed on other filesystems. Something like this should fix this:

[code]
I will open a pull request with this later today after I hav

[2015-01-28 08:19] stapelberg opened #485 "Cannot use arithmetic operators for this case…"
The manual mentions “Between two instant vectors, a binary arithmetic operator only applies to vector elements that have identical sets of labels between the two vectors. Vector elements that don't find an exact label match on the other side get dropped from the result. The metric name of the result vector is carried over from the left hand side of the expression.”

I have a distributed system whi

[2015-01-28 08:29] brian-brazil commented on #485
This is #393. This requires a modifier as this is a non-standard (though common) use case, and your first suggestion would be a very common mistake leading to unexpected behaviour.

[2015-01-28 08:29] #485 closed

[2015-01-28 08:37] stapelberg commented on #485
Can you clarify what the mistake is in my first suggestion please? :)

[2015-01-28 08:52] brian-brazil commented on #485
It'd work, but it'd cause confusion in the much more common case where someone has mismatched their labels. I think it's better for the language to make the mistake obvious when you first create the expression, rather than producing a likely incorrect and unexpected result and causing confusion.

For example:
[code]
is a mistake, and I believe it should fail. Thus I propose adding a modifier to ex

[2015-01-28 09:41] beorn7 commented on #484
So it's not our fault. Cool. ;-)

What's a good way to communicate this to Prometheus users on ZFS? Just leave this issue open? Or should we start a 'known issues' list somewhere?

[2015-01-28 09:54] brian-brazil commented on #484
This sounds like something we should communicate to Go and ZFS users generally.

[2015-01-28 10:54] beorn7 commented on #484
Posted it to the G+ golang community. I'm not on go-nuts@ or any ZFS mailing list, though...

[2015-01-28 11:23] yacoob commented on #484
https://github.com/zfsonlinux/zfs/issues/new ?

[2015-01-29 06:46] m13 commented on #474
+1
(A document about best security practices should be also amazing)

[2015-01-29 10:52] beorn7 commented on #484
ZFS devs have already chimed in, apparently working on a PR. So I
leave it to them if they want to file an issue or not.

On Wed, Jan 28, 2015 at 12:23 PM, Jakub Turski <notifications@github.com> wrote:

--
Björn Rabenstein, Engineer
http://soundcloud.com/brabenstein

SoundCloud Ltd. | Rheinsberger Str. 76/77, 10115 Berlin, Germany
Managing Director: Alexander Ljung | Incorporated in England & Wal

[2015-01-29 12:30] brian-brazil opened #488 "Binary operators should support by clauses"
Sometimes the LHS and RHS don't quite have the same labels, but are still matchable 1-to-1. Allowing by clauses on binary operators would allow for this use case.

#393 is a more advanced case where you want to do a 1-to-many match.

[2015-01-29 17:55] ryao commented on #484
@beorn7 Filing an issue in the with ZoL tracker would have been a nice reminder in case I had forgotten about this. Thankfully, I did not. A fix is in a pull request.

[2015-01-29 23:11] beorn7 commented on #484
Cool. Thanks @ryao .

Prometheans, do we want to add an anticipated FAQ or something?

[2015-01-30 01:27] brian-brazil opened #490 "Need to be able to collect metrics without adding an instance (or job or exporter_instance or exporter_job) label"
Service-level stats are exported by things like the push gateway and cloudwatch exporter that don't have an instance label. Currently they'll end up with the instance, such as that of the target.

We need a way to signal that for some metrics, that the injection logic isn't to add in an instance or exporter_instance label. Maybe a flag in the config file for targets where this applies, and an empt

[2015-01-30 10:10] beorn7 commented on #490
Then we also have to change the behavior of pushgateway, which guarantees that an instance label is added. (We could do {instance="n/a"} as a work-around, but then people have to think of it. The old rationale was that only people who know what they are doing would set an instance label different from the host ip...)
Filed https://github.com/prometheus/pushgateway/issues/18

[2015-01-30 10:54] brian-brazil commented on #490
There's use cases beyond pushgateway. The main use case is where you want no instance label at all, and there's also use cases where you want an instance label without exporter_instance being added.

[2015-01-30 12:07] beorn7 commented on #490
Without having a whole lot about it, I'd say having a "no-instance" target config option would be easy to add and pretty risk-free (as users have to explicitly enable it).

The specific pushgateway case has a few ramifications, see https://github.com/prometheus/pushgateway/issues/18

[2015-01-30 12:32] brian-brazil commented on #490
Maybe "honor-instance", as sometimes you do want the instance label going through (aggregators).

Do we need to worry more generally about when target labels clash with scraped labels?

[2015-01-30 13:55] beorn7 commented on #490
IIRC label crashes are currently always resolved by appending `exporter_`.

[2015-01-30 22:00] juliusv opened #493 "Use only ip:port or host:port in instance label"
This makes instance labels smaller and only include parts that are (usually) used to identify an instance. The exact items to include might also vary depending on the type of static configuration or service discovery. TBD.

[2015-01-30 22:03] juliusv opened #494 "Treat empty labels like unset labels"
`{x=""}` should return any time series which don't have the `x` label set, as well as series where it's empty. Optionally, we may also decide to drop empty labels completely upon ingestion. This makes it possible to find time series that don't have certain labels set at all (useful in rare cases for finding certain metrics), but also is more consistent with the syntax for unsetting labels on the l

[2015-01-30 23:40] #483 closed

[2015-01-31 23:39] juliusv opened #496 "Consider reducing label cardinality for persist error exporting"
Currently we export the label `error="<entire error string>"` for persist errors on the metric `prometheus_local_storage_persist_errors_total`:

https://github.com/prometheus/prometheus/blob/f541390dfbd504fde9acbd7c684a3e889e19c2f3/storage/local/storage.go#L539

In a Prometheus whose disk just ran full, this already produced two different error strings:

    offset 262144 is not a multiple of on-d

[2015-02-01 09:02] brian-brazil commented on #496
From quick look this should be a no-label counter, it's already in the logs.

[2015-02-01 13:04] #496 closed

[2015-02-01 21:24] fabxc commented on #454
Am I correct in assuming that long-running queries in general are caused by a high number of considered series? Would it then be sufficient to check for a timeout before each preload of a single series or should it be done at a lower level?

[2015-02-01 21:38] juliusv commented on #454
@fabxc Yes, that should be true for most queries at least. A query consists of multiple stages that can take significant time. Roughly speaking:

1. query analysis and doing the index lookups to find out which time series are requested
1. preloading the required time series samples from memory / disk
1. running the AST evaluation over these series, e.g. summing, function calls, etc.

For most quer

[2015-02-01 22:31] fabxc commented on #454
Thanks for the clarification. Based on the title, I assumed we only wanted to check 2 and embed the check in the local storage implementation.

If we want an absolute limit just using the TotalEvalTimer would be fine, but in 3 for range queries you set a TODO for a watchdog timer.
So we could a) check for the absolute timeout within that loop or b) extend the timeout as long as it is 'alive'. As s

[2015-02-01 23:26] juliusv commented on #454
Right, I think it's fair to start out by simply timing out only in the query preloading part, which should be the most relevant part for the majority of expensive queries.

For that, we would have to check for timeouts in these loops that contain calls to `PreloadRange`:

https://github.com/prometheus/prometheus/blob/master/rules/ast/query_analyzer.go#L121-L132
https://github.com/prometheus/promet

[2015-02-01 23:36] fabxc commented on #454
Thanks, sounds good to me.

[2015-02-02 11:11] beorn7 commented on #484
It's now in the FAQ. Closing.

[2015-02-02 11:11] #484 closed

[2015-02-02 13:08] LordFPL opened #500 "Timezone support in the display layer"
Hi all,

Is there a way configure a timezone ? I'm always in gmt time... i try to change with a new build with a dockerfile like this :

[code]

Not the good way ?

[2015-02-02 13:17] juliusv commented on #500
Hi, since servers usually run on GMT and that is the common time for correlating things from monitoring, logs, etc. with another, we do everything explicitly in GMT at the moment. I'm open for suggestions on how time zones could/should be configurable...

[2015-02-02 13:26] beorn7 commented on #500
I guess we should have an FAQ about the timezone issue.

[2015-02-02 15:03] juliusv commented on #500
@LordFPL To clarify, this is mainly a display issue, right? I.e. in the UI you want to be able to choose between GMT and local time?

[2015-02-02 15:27] LordFPL commented on #500
@juliusv Yes, it's only a display issue. Choose between gmt/local will be a very good solution, or at least, take the host config. Thx in advance :)

[2015-02-02 23:36] juliusv commented on #500
@LordFPL Well, it's a valid feature request, but low priority for us at the moment. But we welcome contributions :) Or maybe I'll get bored one weekend and do it...

[2015-02-03 07:46] LordFPL commented on #500
@juliusv This is just a minor feature yes.

My message initially trying to see if it was possible to do it now.

The end result is mainly cosmetic ;)

[2015-02-03 09:33] mwitkow-io commented on #108
+1
Would be awesome if we didn't need to restart Prometheus to re-read configs and consoles

[2015-02-03 09:41] mwitkow-io commented on #480
We're currently considering writing a bucketed-version of summary. Basically:
[code]

This would make it super easy to:
 * draw a fraction serie: Basically `(mydata_more_128 - mydata_more_64) /  mydata_more_0` would give you the fraction of requests with mydata in `[64, 128)` range
 * makes it easy to alert on critical thresholds `mydata_more_32 / my_data_more_0` gives you a fraction of requests e

[2015-02-03 09:46] beorn7 commented on #480
Yeah, we should probably get this done soon, before everybody implements their own work-around... :)

@mwitkow-io Yes, that's exactly the idea. We just want it as a clean data type in the protobuf format, and then have a couple of server-side function in the expression language to get quantiles.

[2015-02-03 10:03] brian-brazil commented on #480
I'll likely be implementing this within the next 2 weeks. I'm planning on having the bucket value as a label.

[2015-02-03 10:03] brian-brazil commented on #108
I'm likely to get to this in the next few weeks.

[2015-02-03 12:21] beorn7 commented on #480
Let's coordinate the ideas before implementing. I have started a document:
https://docs.google.com/a/soundcloud.com/document/d/1uSenXRDjDaJLV3qnSD09GqgPdEEDPjER0mVsnGaCYF0/edit?usp=sharing

Please comment. There is certainly a lot of things to clarify.

[2015-02-03 12:28] beorn7 commented on #480
Damn enterprise apps... try this link now:

https://docs.google.com/document/d/1uSenXRDjDaJLV3qnSD09GqgPdEEDPjER0mVsnGaCYF0/edit?usp=sharing

[2015-02-03 17:03] beorn7 commented on #480
OK, after the dust has settled, there is a cleaned-up version of the design doc (let's call it that by now... :)

@brian-brazil Have another look. And @juliusv now it might be mature enough for your consumption.

[2015-02-03 17:10] brian-brazil commented on #480
This generally looks good to me.

[2015-02-03 17:34] beorn7 commented on #480
Cool. So whoever grabs part of the work outlined in the doc should mention it here (to avoid redundant work).

[2015-02-03 17:36] brian-brazil commented on #480
I presume we'll need a 0.0.5 exposition format, compatible with 0.0.4?

I've got the java simpleclient anyway.

[2015-02-03 17:38] beorn7 commented on #480
Yeah, I presume so.... we should also come up with 1.0.0 at some point. :)

[2015-02-04 15:28] rkubik opened #503 "The Makefile magic that assembles the Go download address does not work on all architectures."
Makefile.INCLUDE has:
ARCH=$(shell uname -m)

It uses this architecture string to pull from https://golang.org/dl/. Since go1.4.1.linux-i686.tar.gz does not exist the build will fail. It should pull go1.4.1.linux-386.tar.gz instead.

[2015-02-04 15:30] beorn7 commented on #503
Oops... we need to fix that in other makefiles, too.

[2015-02-04 16:23] #402 closed

[2015-02-04 18:38] grobie commented on #402
Yay! Now I forgot where I needed them ...

[2015-02-04 21:38] fabxc commented on #419
Seems straightforward. Seconds only seems limiting, though.
Many metrics are in milliseconds. A function `duration(d, unit='s')` with unit defaulting to seconds could be useful as well.

`duration("3h") == 10800`
`duration("1m30s", "ms") == 60000`

[2015-02-04 21:58] brian-brazil commented on #419
That's a bit verbose, I was thinking also  a ms prefix which would multiply things by .001, similarly for us and ns.

[2015-02-04 22:03] fabxc commented on #419
You mean like `duration_(s|ms|us|ns)`?

[2015-02-04 22:41] juliusv commented on #419
@brian-brazil Not 100% clear to me either - https://www.youtube.com/watch?v=NlpRBLkgcBo

[2015-02-04 22:50] brian-brazil commented on #419
I'd propose that job:http_latency_seconds:rate5m{job="myjob"} > 150ms would do what you expect.

Having all your metrics have the same units rather than a arbitrary mix has it's uses :grin:

[2015-02-04 23:02] juliusv commented on #419
That's definitely an option, though I'd always think twice before adding something to the syntax itself. Just want to make sure we thought carefully about this first. I'm always less worried about adding functions because of how orthogonal they are to everything else. Then again, the lexer/parser could simply handle this as another way of specifying a number (which would lose the information about

[2015-02-04 23:09] brian-brazil commented on #419
Yeah, I was thinking the big metric prefixes anyway. Not sure about the smaller ones, we'd have a clash on 'm' anwyay.

[2015-02-04 23:38] fabxc commented on #419
So basically, all units are resolved to one fixed base unit, i.e., `150ms => 0.15`, `3m => 180`?
I can see it working with all metrics having the specified base unit, but as you said, that's not enforceable and prometheus exposes some *_milliseconds metrics itself, which kind of suggests what anyone else being new to the system will do (and drag along as legacy.)
If everyone ends up cluttering que

[2015-02-04 23:42] juliusv commented on #419
@brian-brazil Oh, good point! That could actually be super confusing for people if they see "8M", "8T", etc. and assume they can do "8m" (as in 8 milli) as well, and end up getting 8 minutes worth of seconds instead. I'm more inclined to not support other units then and have them use scientific notation instead (which we still need to add).

@fabxc As you might notice, this still needs some sleepi

[2015-02-04 23:43] brian-brazil commented on #419
There's other places, kB, MB, Mb and hours could all be exported depending on the particular range the person doing the instrumentation felt was appropriate. I'm a big fan of encouraging the same base units everywhere, as far as practical.

[2015-02-04 23:47] juliusv commented on #419
It'd be great if it was explicit. But requiring it implicitly, we're saying "you can use these functions, but they'll only do the right thing if you follow our conventions.". Feels off to me somehow. Maybe time for another community query :D

[2015-02-04 23:51] brian-brazil commented on #419
Yeah, a key part would be making the easiest way to use the client libraries to be the "correct" way. The go client for example requires the user to explicitly think about their time units, whereas the java simpleclient does not.

A counter-argument is that many exports of the jmx/collectd/node class will be in a variety of units as they're mostly straight proxies for the values.

[2015-02-04 23:56] brian-brazil commented on #419
@jrv Scientific notation for things other than m, h, d and w sounds good. We'd still need to ensure that the relevant durations are exported as seconds rather than minutes or hours (which is the case now AFAIK, as anything that big will be a unixtime).

[2015-02-04 23:59] fabxc commented on #419
Thanks for the clarification and background info, @juliusv. I might join you on IRC when I've more time on my hands.

[2015-02-05 06:29] johann8384 commented on #10
Is there anyone planning to work on this? Is the work done in the opentsdb-integration branch still valid or has the rest of the code-base moved past that?

[2015-02-05 08:22] beorn7 commented on #10
The opentsdb-integration branch is indeed completely outdated (still using the old storage backend etc.). Personally, I'm a great fan of the OpenTSDB integration, but where I work, there is not an urgent enough requirement to justify a high priority from my side...

[2015-02-05 11:50] juliusv commented on #10
To be clear, the outdated "opentsdb-integration" was only for the
proof-of-concept *read-back* support (querying OpenTSDB through Prometheus).

*Writing* into OpenTSDB should be experimentally supported in master, but
the last time we tried it was a year ago on a single-node OpenTSDB.

You initially asked on https://github.com/prometheus/prometheus/issues/10:

"I added the storage.remote.url comma

[2015-02-05 12:38] beorn7 opened #504 "Server does not shut down cleanly when rules file has syntax errors."
Should be easy to fix... either load rules before starting the storage, or shut down storage cleanly if rules don't parse.

[2015-02-05 13:10] haroonabbasi opened #505 "Make it run on MS Windows."
i tried to make a build but i got error. image attached.
![error_on_build](https://cloud.githubusercontent.com/assets/1297226/6060752/4fd394ca-ad62-11e4-8bb4-abf51812cc80.png)

[2015-02-05 13:21] beorn7 commented on #503
Apparently, the same issue happens if you run on Windows... We should check the ARCH magic for all platforms supported by Go. I'll change the title of this issue accordingly.

[2015-02-05 13:23] mwitkow-io opened #506 "Support left/right_elementwise for operators"
When operating on vectors:
 `my_stuff_started - my_stuff_stopped`, where both have a `type` label, the entries in `my_stuff_started` that don't have a matching `my_stuff_stopped` entry are removed from results. That's understandable, operators do a full join.

However, it should be possible to say  that I want to retain stuff from `my_stuff_started` even if it is not present in `my_stuff_stopped`.

[2015-02-05 13:27] beorn7 commented on #505
See https://github.com/prometheus/prometheus/issues/503 - in short, we haven't anticipated the different ways an architecture manifests in the Makefile vs. how the Go download addresses look like.

In different news, never has ever tried Prometheus on Windows. You'll probably run into other issues, too.

[2015-02-05 13:36] brian-brazil commented on #506
This is covered by #393.

For that particular use case I'm not sure that's the best way to model it, missing time series are difficult to deal with at the best of times (http://prometheus.io/docs/practices/instrumentation/#avoid-missing-metrics). I'd suggest for determining the duration of batch jobs to export the duration as a separate gauge, see http://prometheus.io/client_java/io/prometheus/cli

[2015-02-05 13:36] #506 closed

[2015-02-05 13:40] juliusv commented on #505
Just one more Unix-specific thing I'm aware of that won't work on Windows at the moment: if you're using service discovery to discovery your targets (vs. statically configuring them), we currently hard-code `/etc/resolv.conf` as the resolver configuration: https://github.com/prometheus/prometheus/blob/master/retrieval/target_provider.go#L33

[2015-02-05 13:45] beorn7 commented on #505
Let's use this issue as a catch-all for things that need to be done for a Windows port.

(We are completely dependent on external contributors here, though. I don't think any Windows machines exist at SoundCloud...)

[2015-02-05 14:57] juliusv commented on #503
@rkubik Could you try if https://github.com/prometheus/prometheus/pull/507 fixes this? We don't have any i686 around...

[2015-02-05 14:59] gkoz commented on #503
While there, you might want to fix `GOOS` to do `s/FreeBSD/freebsd/` too.

[2015-02-05 15:06] juliusv commented on #503
@gkoz Thanks for pointing that out. Added the `GOOS` fix to the PR. Not sure what you mean with `s/386/i386/`? The links I see on https://golang.org/dl/ contain `386`?

[2015-02-05 15:43] gkoz commented on #503
@juliusv I think the `i%86` pattern in you PR should work for freebsd too.

[2015-02-05 15:45] rkubik commented on #503
@juliusv Your #507 patch works on i686. Thank you.

[2015-02-05 15:48] #503 closed

[2015-02-05 15:48] juliusv commented on #503
@rkubik @gkoz Thanks! Merged.

[2015-02-05 23:05] beorn7 opened #509 "Make hash collisions less likely."
The 64bit hashes we use currently have an uncomfortably high probability to cause a hash collision on very large servers. Investigate remedies (either in hash generation or size...).

[2015-02-05 23:06] brian-brazil commented on #509
Long term I think we should be looking at solutions that don't depend on a lack of hash collisions.

[2015-02-05 23:19] juliusv commented on #505
@haroonabbasi Given that https://github.com/prometheus/prometheus/issues/503 was fixed now, it would be interesting to hear whether that also fixes the Go download step for you on Windows, and whether you encouter any more errors further down the line.

[2015-02-06 15:12] beorn7 commented on #504
Other errors (e.g. if the web.listen address cannot be bound to) may have the same effect.

[2015-02-07 10:01] grobie opened #515 "Add function for standard deviation"
-- http://en.wikipedia.org/wiki/Standard_deviation

Graphite calls it `stdev`. Influxdb `stddev`.

[2015-02-07 18:08] brian-brazil commented on #515
I'd go for `stddev`, and add `stdvar` while we're at it.

Should we have over_time versions too?

[2015-02-08 09:12] brian-brazil commented on #482
Another option would be to make it filter.

[2015-02-08 12:34] juliusv commented on #482
How would it filter? By returning an empty vector? What purpose would that serve? (but removing sounds good so far)

[2015-02-08 12:41] brian-brazil commented on #482
It'd do the same as vector/vector, return the left argument.
Hmm, if we do that we'd want to remove support for scalar/vector and only allow vector/scalar.

I'm thinking removing is the way to go.

[2015-02-09 18:31] yorik opened #519 "Add flag/config option to set root directory for UI"
Right now it's impossible to hide prometheus under nginx in some directory because all the links and JS are referenced to /... It would be very good if it would be possible to add some common directory via config or flag so it would be accessible via `http://<host>/<dir>/`

[2015-02-10 01:24] robey opened #520 "no option for zero-based graphs"
I thought there was consensus that graphs should start at 0 on the Y axis to avoid misinterpretation, but a quick google search shows that there's not total agreement on that.

So, I would like the option to make the graph zero-based, without forcing everyone else to agree. :)

For some stats (like "users online"), the graph may stay flat for hours at a time. Currently, prometheus will draw such a

[2015-02-10 01:38] juliusv commented on #520
Agreed. I believe 0-based is the default in PromDash, though it's possible to manually set a Y-axis range (but no option to simply dynamically clamp the Y-axis to the available values).

0-based Y-axes have the problem that very large counters will just look like flat lines even if they're increasing rapidly. But yeah, the reverse problems also exist.

So I think this might actually be worth anoth

[2015-02-10 08:30] brian-brazil commented on #520
Note that http://prometheus.io/docs/visualization/consoles/#graph-library has a `min` option.

[2015-02-10 12:27] juliusv commented on #520
Yeah, it's less about the graphing library support than about the question of what UI elements to add to get a balance between UI clutter and really needed features (for the server-side built-in graphing at lesat).

[2015-02-10 12:28] brian-brazil commented on #520
I think for /graph we should do something a bit more reasonable when all the values are the same, such as say making the main and max 10% either side of the value.

[2015-02-11 00:54] beorn7 commented on #519
@juliusv You are more familiar with the web part. Is that doable?

[2015-02-11 03:05] sammcj commented on #10
I cannot +1 this enough

[2015-02-11 03:07] sammcj opened #522 "Load balance / run multiple instances?"
Since the DB can't handle two connections at once - how can you run multiple instances of the application with access to the same data (for reliability / failover)?

[2015-02-11 08:02] brian-brazil commented on #522
See http://prometheus.io/docs/introduction/faq/#can-prometheus-be-made-highly-available?

[2015-02-11 08:04] sammcj commented on #522
Oh wow that simple! I didn't realise! Sorry for wasting your time.

[2015-02-11 08:04] #522 closed

[2015-02-11 08:07] brian-brazil commented on #522
No problem, happy to help.

[2015-02-11 12:07] juliusv commented on #519
@yorik Would your suggestion simply require making paths relative in the frontend (in links, AJAX calls, etc.), or would you actually require the Prometheus server to respond on `/mycustomroot/api/query_range`, etc.?

[2015-02-11 12:39] yorik commented on #519
Any way would work for me, but probably adding /mycustomroot will be easier
to implement.
Thank you!

On 11 February 2015 at 13:07, juliusv <notifications@github.com> wrote:

--
With best regards,
Yury Akudovich

[2015-02-12 15:28] brian-brazil commented on #480
https://github.com/prometheus/client_golang/pull/76 has all the infrastructure work

[2015-02-12 18:57] brian-brazil commented on #480
I'm working on the java simpleclient now.

[2015-02-12 19:04] beorn7 commented on #480
I'm working on client/golang exposition (package `prometheus`).

[2015-02-13 14:07] juliusv opened #525 "Godeps clones all dependencies from the internet"
Relevant `pstree` snippet from running `make build`:

https://gist.githubusercontent.com/juliusv/1a91e10cda75cded9889/raw/fa8bdd40d33720c472ba65fd2ecfe6e1ed50ce2a/gistfile1.txt

This shouldn't clone any of the external dependencies from GitHub (or elsewhere), since they are vendored.

[2015-02-13 14:07] juliusv commented on #525
cc @stuartnelson3

[2015-02-14 17:00] juliusv commented on #519
@yorik See https://github.com/prometheus/prometheus/pull/528 - this works for me behind an nginx with a custom root. The one caveat for you would be that the Prometheus itself would have no idea that it's behind a proxy, so when it sends alerts to alertmanager (if you're using that at all), it would send its normal local URL to alertmanager for any rule introspection backlinks. That means that in

[2015-02-15 13:32] juliusv opened #529 "Allow setting a time offset for individual metrics in a query"
This would help use cases like https://github.com/prometheus/promdash/issues/201.

Suggestions so far:

* extending existing range syntax: `mymetric[range,offset]`, where `range` is optional. Downside: would be confusing if `[]` could return both instant vectors and range vectors.

* adding a modifier keyword: `mymetric offset 1h`.

* adding a special operator that can only take literals: `offset(

[2015-02-15 13:35] juliusv commented on #529
(potentially we could also decide that we don't want to have this as a server-side feature at all and instead leave it up to the presentation layer to do multiple queries for different ranges - this depends on whether we have many use cases for actually combining different offsets in the same query)

[2015-02-15 14:59] brian-brazil commented on #529
This is useful for alerts when comparing against the past, so it needs to be in the rule language.

I think the modifier is the cleanest, the others introduce semantic special cases.

[2015-02-16 10:49] yorik commented on #519
@juliusv, thank you so much! It works for me now. I haven't try
alertmanager yet but it's not the problem for now.

On 14 February 2015 at 18:00, juliusv <notifications@github.com> wrote:

--
With best regards,
Yury Akudovich

[2015-02-16 11:44] juliusv commented on #519
@yorik Cool! As you might have read in https://github.com/prometheus/prometheus/pull/528, this can't be immediately merged due to the console paths problem, so I'll let it sit here for a while (you could rebase it ontop of newer masters at times, if desired) until someone decides to fix the remaining problems.

[2015-02-17 15:49] beorn7 opened #533 "Optimization for spinning-disk servers."
On a server with conventional spinning disk and without a suitable RAID setup, Prometheus can only persist about 50 chunks/s (which is a bit less than initially expected, given that the average seek time is usually below 10ms, and the elevator algorithm should allow shorter-than-average seeks when working through the write cache...).Note: If you spin up a fresh server, the chunk write rate might b

[2015-02-17 16:17] #525 closed

[2015-02-17 22:19] pyk opened #534 "build prometheus on amd64 need >512mb memory to work"
while running `make build` on the following VM

[code]

i tried two times to build, but failed with the following message

[code]

after upgrading a VM

[code]

now it succes to build & run flawlessly

[code]

[2015-02-17 22:30] juliusv opened #535 "Add mechanism to perform bulk imports"
Currently the only way to bulk-import data is a hacky one involving client-side timestamps and scrapes with multiple samples per time series. We should offer an API for bulk import. This relies on https://github.com/prometheus/prometheus/issues/481.

EDIT: It probably won't be an web-based API in Prometheus, but a command-line tool.

[2015-02-18 00:29] juliusv commented on #534
Thanks for the report!

Yes, sorry - this is expected. Prometheus needs around 600MB of RAM to build (as measured by running `make build` in a cgroup and looking at `memory.max_usage_in_bytes`). To my knowledge there's not much we can do about that at the moment. Maybe the Go compiler will become more modest in its memory usage in the future. For now you'll need to build Prometheus on a machine wi

[2015-02-18 00:29] #534 closed

[2015-02-18 13:48] #529 closed

[2015-02-18 18:35] juliusv opened #538 "Implement OR operator"
See https://github.com/prometheus/prometheus/blob/72d7b325a1e4eca096f12fc1a0ca861048cfc071/rules/ast/ast.go#L756

[2015-02-18 18:56] juliusv opened #539 "Prometheus storage: Optimize chunk iterator"
Currently, the iterator of the normal delta-encoded chunk doesn't keep any state. Analyze the typical usage pattern and optimize.

[2015-02-18 18:58] juliusv opened #540 "Implement non-range preloading support"
See commented methods in https://github.com/prometheus/prometheus/blob/master/storage/local/preload.go.

[2015-02-18 18:59] juliusv opened #541 "Explore if unarchiving is not needed in storage"
While archiving of metrics seems like a reasonable thing (i.e. only create a fp->metric mapping in leveldb once a series is evicted from memory for the first time), it might be more convenient/efficient/easier to not unarchive a metric if it is moved back into memory (i.e. having the mapping in both, memory and leveldb).

Advantages:
- No deletion from leveldb required upon unarchiving.
- No addit

[2015-02-18 23:31] brian-brazil commented on #9
A way to do this via console templates, until we've got a full-on solution: https://github.com/prometheus/prometheus/blob/master/consoles/federation_template_example.txt

[2015-02-19 16:06] beorn7 commented on #480
The only thing missing now is the `histogram_quantile` function. I'm currently working on it.

(Not yet `quantile` and `quantile_over_time`, which has been requested by some, too. But it is unrelated, see design doc.)

And then of course support in other libraries... but Go and JVM is there.

[2015-02-20 15:38] brian-brazil commented on #488
More particularly if I have

[code]

then `a +  by (label) b` should produce:
[code]

and if I have

[code]

the I'd get an error of some form as this usually indicates an error in the expression (#393 covers the case where you explicitly want this to work).

[2015-02-20 16:16] brian-brazil commented on #393
@fabxc pointed out that this syntax isn't quite right, and following discussion something more like `MODIFIER(mode) by (instance)` is what you'd want.

[2015-02-20 17:01] beorn7 commented on #488
Thanks for the explanation.

Since you are planning a similar thing for unary operators AKA functions, how would things work there?

[2015-02-22 02:47] atombender opened #547 "Latest commit broken"
[code]

Since `go get` doesn't allow you to specify a revision, it would be great if you could keep `master` stable.

[2015-02-22 03:09] atombender commented on #493
Would it not also make sense to have a label that is always the FQDN of the host?

My reasoning: Alerts don't want to know what the endpoint is, they want the host. For example, if I have an endpoint reporting whether a specific process is in an operational state. You end up with metrics stored as something like `process_state{instance="host42:9132/metrics"}`. Now you'd like to monitor whether the

[2015-02-22 03:12] atombender commented on #493
Follow-up question: Until this is resolved, would it make sense for us to devote one job per host, and rely on the job name as the host name?

[2015-02-22 09:40] brian-brazil commented on #493
On 22 February 2015 at 03:09, Alexander Staubo <notifications@github.com>
wrote:

It very much depends on your local setup. For me for example the FQDN is of
little use (and I'd presume similar for anyone else on AWS as it ends in
.compute.internal), however I have something similar that's specific to our
setup that it'd be useful to have linked in alerts etc.

What I've been thinking is to have a

[2015-02-22 09:45] brian-brazil commented on #493
I suspect you may be trying to directly translate from another monitoring system to Prometheus, which means you might miss many of the benefits of Prometheus's power. Why don't you pop into IRC on #prometheus on Freenode so we can help see if there's a better way to solve your problems?

[2015-02-22 11:05] beorn7 commented on #547
One does not simply `go get` Prometheus! :)

Unfortunately, we still need some Makefile magic. You have to clone the `prometheus/prometheus` repository normally from Github, cd into it and type `make`.

[2015-02-22 11:05] #547 closed

[2015-02-22 11:06] juliusv commented on #547
Hey, we keep `master` stable (at least we try), but the problem you're encountering here is simply that Prometheus isn't go-gettable (not yet, at least). The reason is that we dynamically generate some files from the Makefile:

- web assets are generated into `files.go` to embed them into the binary (the missing file you're seeing)
- build information (revision, user/hostname, version, ...) is put

[2015-02-22 17:58] atombender commented on #547
Understood. Thanks for the explanation. I was simply following the instructions [here](http://prometheus.io/docs/querying/rules/). Then I found that I could just run the `go install github.com/prometheus/prometheus/tools/rule_checker` command without building Prometheus.

[2015-02-22 18:59] atombender commented on #493
I am not trying to translate from an existing monitoring system. But for as long as we're using Puppet, we are forced to follow the Puppet model where everything is host-oriented; exported resources are always host-based, and it would be complicated to de-duplicate them.

To explain — I don't know how well you know Puppet — at the moment every host "exports" an alert file for each thing (such as p

[2015-02-22 19:44] brian-brazil commented on #493
I really think you should join us over in IRC, there's better ways to monitor this but it's more difficult to explain it in a less-interactive medium such as this.

In general you want to autogenerate your list of targets, and your rules should almost always be completely static.

What you want to export is something like:
process_count{name="unicorn"} 7
process_minimum{name="unicorn"} 8

and then

[2015-02-22 19:53] atombender commented on #493
Ah, the fact that expressions are able to join was the missing part I was looking for. I assume here that alert rule expressions match on all labels except the instance name. The fact that I can do this means I can simplify the rules to be non-host-specific.

I'm not on IRC, and don't want to go through the hassle of setting up a client just for this, sorry.

[2015-02-22 19:56] brian-brazil commented on #493
Binary operators match on everything except the time series name, it wouldn't work for this use case otherwise. Future extension to this are covered in #488 and #393.

[2015-02-22 20:26] vtolstov commented on #547
May be use new go generate ability and generate files for protobuf and for assets? I see for assets some examples in go mailing list.
In this case go get can be used to download and install...

[2015-02-22 20:46] atombender commented on #493
Sorry, I meant the time series name. Got it. Thanks.

[2015-02-22 20:58] juliusv opened #548 "Consider using "go generate" to make Prometheus go-gettable"
See http://blog.golang.org/generate and https://github.com/prometheus/prometheus/issues/547#issuecomment-75430242.

This could obviate the need for Makefiles and make Prometheus go-gettable.

[2015-02-22 20:59] juliusv commented on #547
@vtolstov That's a good suggestion, and I think that should work. It would mainly have to create the `build.go`, since everything else could be checked in (or also be go-generated). I filed an issue for it: https://github.com/prometheus/prometheus/issues/548

The other thing the Makefile does for us is that it enforces a specific Go version, and it also sets up GOPATH with the vendored deps correc

[2015-02-22 21:01] juliusv commented on #493
Yeah, you can do all kinds of fancy expression language stuff to select, aggregate, and match your time series to get useful alerts. Since Prometheus is quite unique here, I think we'll need more intro-level guides to this stuff... (but time!)

[2015-02-22 21:06] vtolstov commented on #547
@juliusv  i'm prefer rewriting import path like camlistore for example doing.
In this case i don't need to use godep or something like this, and able to go get my packages and binaries. So i recommend this =)

[2015-02-22 21:14] juliusv commented on #547
Yeah, that's probably fine. I'll discuss this with the others :)

[2015-02-22 23:07] beorn7 commented on #548
But take into account that `go generate` is supposed to be run by developers and not by users, i.e. we have to check in the generated blob.go after all.

[2015-02-23 00:24] juliusv commented on #548
Oh. Right, we could check in `files.go` (which you meant by `blob.go`), as we already check in protobufs and lexer/parser files.

So the only things really standing in the way of `go get` without any subsequent manual build steps are now:

- build.go (it should be user-generated by design, as otherwise it won't contain the correct build information)
- ensuring an up-to-date Go version

I think the

[2015-02-23 09:44] matthiasr commented on #548
Maybe include a generated `build.go` with some bogus (empty?) revision, but use a release process for official binaries that updates it?

[2015-02-23 13:25] vtolstov commented on #548
usually software have step make dist, that pregenerates all needed files, so i think in release build.go can have released version...

[2015-02-23 14:07] matthiasr opened #551 "Allow specifying maximum memory usage"
The actual memory usage can not really be set predictably through `storage.local.memory-chunks` alone. To operate a Prometheus reliably, it would me much nicer to just say "you can use this much memory". It should be able to figure out by itself what that means in terms of chunks or allocations.

It would be good if this is a hard limit (including all other memory uses) but a best effort would alr

[2015-02-23 14:33] beorn7 commented on #551
See
https://github.com/prometheus/prometheus/issues/455

[2015-02-23 14:33] #551 closed

[2015-02-23 14:35] beorn7 commented on #480
I'm closing this and create a separate issue for `quantile` and `quantile_over_time`.

[2015-02-23 14:35] #480 closed

[2015-02-23 14:36] beorn7 opened #552 "Implement `quantile` and `quantile_over_time`."
Implement the `quantile` aggregator and the `quantile_over_time` function.

See https://docs.google.com/a/soundcloud.com/document/d/1uSenXRDjDaJLV3qnSD09GqgPdEEDPjER0mVsnGaCYF0/edit#heading=h.vuk4s3dgrhjr

[2015-02-24 16:23] fabxc commented on #393
Example: `group_left(type) by (handler)`

From which side should the `type` label be taken, assuming it is available on both and has different values on matching samples?
Trying either side and throwing an error if it is present on both would be an option. The latter because this is likely a mistake and it should be `group_left by (handler, type)`. Or using the the label/value from the left side a

[2015-02-24 16:29] brian-brazil commented on #393
That's incorrect usage as we're expecting type to only be on one side, so an error of some form would seem appropriate.

[2015-02-24 20:58] aecolley opened #555 "AND operator precedence is too high"
The expression:
`time() - start_time{job="x"} > 86400`
&nbsp;&nbsp;&nbsp;&nbsp;`and`
`start_time{job="x"} > end_time{job="x"}`

should be parsed as:
`(time() - start_time{job="x"} > 86400)`
&nbsp;&nbsp;&nbsp;&nbsp;`and`
`(start_time{job="x"} > end_time{job="x"})`

but it is actually parsed as:
`((time() - start_time{job="x"} > 86400)`
&nbsp;&nbsp;&nbsp;&nbsp;`and`
`start_time{job="x"}) > end_time{

[2015-02-25 12:46] brian-brazil commented on #147
This would be better done as multiple timeseries each with the label value you wanted, and fits the data model generally.

[2015-02-25 13:28] matthiasr commented on #147
I disagree. Consider a service participating in A/B testing with several experiments going on at the same time. Some requests will end up participating in more than one experiment; when reporting these separately they would be over-reported for the total request rate.

[2015-02-25 13:49] brian-brazil commented on #147
In a case like that where timeseries aren't independent, you'd have to have a separate metric for total request rate.

[2015-02-25 14:26] aecolley opened #556 "Alert templates type conflict: SampleValue v. float64"
Attempts to interpolate `{{humanizeDuration $value}}` fail with a type error:

There's no way to work around this.

[2015-02-25 14:29] brian-brazil commented on #556
Hmm, try `{{value $value | humanizeDuration}}`

[2015-02-25 14:35] brian-brazil commented on #556
Ah, it's a casting problem. We need to cast to float64 in https://github.com/prometheus/prometheus/blob/5f27629985520bc4dce469d66308db7c922e080c/rules/manager/manager.go#L177

[2015-02-25 15:46] beorn7 opened #557 "chunkdesc eviction broken"
For long-living time series, only 10x as many chunkdescs should be kept in memory as chunks are kept in memory. This kind of eviction seems broken, at least in 0.9.0, although it used to work earlier.

[2015-02-26 13:09] fabxc commented on #494
Probably `{}` should be a valid query in that case. Otherwise hackish stuff like `{_=""}` is introduced to retrieve all time series.

[2015-02-26 13:17] brian-brazil commented on #494
I'd overall prefer a hackish stuff to retrieve all time series. It's an advanced use case, and a great way to take out a prometheus server.

[2015-02-26 13:23] aecolley opened #558 ""14m 60s" from humanizeDuration"
A prometheus console I run just produced the irregular output "14m 60s". Of course, "15m 0s" should have been output. Rounding is hard.

[2015-02-26 13:27] fabxc commented on #494
Mh, at least have a label name that is guaranteed to be always unset? Probably the case for `_` anyway but it should be explicitly agreed on.

[2015-02-26 13:33] brian-brazil commented on #494
{job~=".*"} will do it.

[2015-02-26 14:31] juliusv commented on #558
@brian-brazil

[2015-02-26 15:23] fabxc commented on #494
Sure, under the whole "only if you know what you are doing assumption" this seems fair as well.

I would give this one a go. As far as I can see one needs to check all archived and in-memory series? Or did I overlook a better way?
I don't have enough background knowledge to judge the performance impact of this. It would iterate over the whole `archivedFingerprintToMetrics` index once.

[2015-02-26 16:02] juliusv commented on #173
This should probably also support `NaN`, `+Inf`, `-Inf`.

Probably we can just use http://golang.org/pkg/strconv/#ParseFloat

[2015-02-26 23:10] #558 closed

[2015-02-26 23:16] beorn7 commented on #557
https://github.com/prometheus/prometheus/pull/559

[2015-02-26 23:16] #557 closed

[2015-02-27 04:48] grobie commented on #548
So, reading the `go generate` documentation, I understand the concept that any program can be called. You could just call make, no? :D

[code]

[2015-02-27 10:29] beorn7 commented on #548
On Fri, Feb 27, 2015 at 5:48 AM, Tobias Schmidt
<notifications@github.com> wrote:

Yes, that's called the 'toilet paper principle'. :)

--
Björn Rabenstein, Engineer
http://soundcloud.com/brabenstein

SoundCloud Ltd. | Rheinsberger Str. 76/77, 10115 Berlin, Germany
Managing Director: Alexander Ljung | Incorporated in England & Wales
with Company No. 6343600 | Local Branch Office | AG Charlottenbur

[2015-03-01 23:13] juliusv opened #568 "Allow returning errors from AST nodes."
This will be useful for multiples cases in e.g. https://github.com/prometheus/prometheus/pull/554 and when implementing functions like `relabel`, which could get passed a bad regex.

[2015-03-01 23:58] juliusv commented on #555
Thanks for reporting! I agree, this should be changed.

[2015-03-02 09:38] #389 closed

[2015-03-02 11:46] juliusv opened #569 "Allow reserved words as label names"
Currently, `foo{nan="bar"}` and `foo{sum="bar"}` would be syntax errors because `nan` and `sum` are reserved words. Same for all our other reserved words.

Fix: Keep enough state in the parser/lexer to distinguish contexts in which "sum", "NaN", etc. should be parsed as a number vs. parsed as a label name.

[2015-03-02 13:55] juliusv commented on #556
One thing to watch out for when changing this: we currently have a nice `String()` method for serializing `clientmodel.SampleValue`:

https://github.com/prometheus/client_golang/blob/master/model/samplevalue.go#L35-L37

If we cast everything to `float64`, then the default string representation will look less nice for many use cases. For example, timestamps will by default be printed in scientific

[2015-03-02 14:14] niko opened #570 "Interpolation of integers (in UI and storage) should be optional"
It feels weird when integers get interpolated. In our case we're monitoring listeners on a streaming server and "5203.167466666667 listeners" just feels plain wrong. IMHO either the interpolation should be somewhat clever and round floats to ints if the input is always ints or it should be optional in the js consoles library and the backend storage.

[2015-03-02 14:21] brian-brazil commented on #570
This interpolation is in the /query_range endpoint, and we've discussed having an endpoint that doesn't do interpolation (though it can't evaluate expressions then either).

If you're using the console templates and associated graph library, you can configure how you want to values rendered such as the `humanize` function.

[2015-03-02 14:24] juliusv commented on #570
Yeah, what's important to understand is that values are stored exactly as they are exposed, and only interpolated when doing a query. The historical reason for this was that to support aggregations like `sum`, `avg`, etc., we *have* to pick predetermined timestamps at which to sample all the existing time series, so that they're all aligned for aggregation. That naturally requires some form of int

[2015-03-02 14:25] beorn7 commented on #570
Should we file an issue about the non-interpolation endpoint?

I'd be strongly opposed to "interpolation of integers only to integers". That would mathematically make no sense. The expectation value has nothing to do with the most likely value. (The expectation value of rolling a die is 3.5, although a die will never ever actual give you 3.5 as a result. That doesn't make 4 the better expectation

[2015-03-02 14:32] juliusv opened #571 "Allow turning off value and timestamp interpolation for non-aggregated queries"
See https://github.com/prometheus/prometheus/issues/570

[2015-03-02 14:33] juliusv commented on #570
There's even a problem for non-aggregated time series though: the graphing libraries expect series to be time-aligned, especially for features such as stacking a graph. We'd have to experiment with that.

I filed https://github.com/prometheus/prometheus/issues/571

[2015-03-02 14:33] juliusv commented on #570
Closing this in favor of https://github.com/prometheus/prometheus/issues/571

[2015-03-02 14:33] #570 closed

[2015-03-02 14:39] juliusv commented on #570
@niko I think we neglected the part of your suggestion though: offering controls over rounding PromDash or the query language. Perhaps file another ticket in https://github.com/prometheus/promdash if you feel that's still missing?

Just in case it already helps, you can round values via the `round()`, `floor()`, and `ceil()` functions. E.g. http://prometheus.io/docs/querying/functions/#round(). If

[2015-03-02 15:18] niko commented on #570
Thanks for the fast reply. Makes completely sense when I think about it. Will try round() et.all.

Thanks for the great project in general. I love it! :)

[2015-03-02 15:38] juliusv commented on #570
Excellent, thanks! :)

On Mon, Mar 2, 2015 at 4:18 PM, Niko Dittmann <notifications@github.com>
wrote:

[2015-03-03 17:08] juliusv commented on #488
Done by @fabxc in https://github.com/prometheus/prometheus/pull/554.

[2015-03-03 17:08] #488 closed

[2015-03-03 17:08] juliusv commented on #393
Done by @fabxc in https://github.com/prometheus/prometheus/pull/554.

[2015-03-03 17:08] #393 closed

[2015-03-03 17:08] juliusv commented on #538
Done by @fabxc in https://github.com/prometheus/prometheus/pull/554.

[2015-03-03 17:08] #538 closed

[2015-03-03 21:57] beorn7 commented on #477
Fedora and Debian people are already working on RPMs and DEBs, respectively.

We might still want to provide the statically compiled binaries for a number of architectures Go supports.

[2015-03-03 21:58] beorn7 commented on #476
Various people working on this right now. Unassigning myself for now.

[2015-03-05 03:10] sammcj commented on #455
I too have had issues with this, I've found Prometheus very quickly eats up a lot of RAM.

[2015-03-05 08:44] mwitkow-io commented on #10
Is InfluxDB on the cards in any way? :)

[2015-03-05 09:22] beorn7 commented on #10
Radio Yerevan: "In principle yes." (Please forgive that Eastern European digression... ;)

[2015-03-05 09:31] mwitkow-io commented on #10
:D That was slightly before my time ;)

[2015-03-05 12:08] juliusv commented on #10
See also: https://twitter.com/juliusvolz/status/569509228462931968

We're just waiting for InfluxDB 0.9.0, which has a new data model which
should be more compatible with Prometheus's.

On Thu, Mar 5, 2015 at 10:31 AM, Michal Witkowski <notifications@github.com>
wrote:

[2015-03-06 01:01] juliusv commented on #455
@sammcj The problem here is that there is no standard way to get a Go program's actual memory consumption. The heapsizes reported in http://golang.org/pkg/runtime/#MemStats are usually off by a factor of 3 or so from the actual resident memory. This can be due to a number of things: memory fragmentation, Go metadata overhead, or the Go runtime not returning pages to the OS very eagerly. A proper s

[2015-03-06 09:47] beorn7 commented on #455
Also the various queues (Prometheus's own ones like sample ingestion queue but also Go and OS internal like queued up network queries or whatever). I have that idea of implementing a kind of memory chaperon that will not only evict evictable chunks but also throttle/reject queries and sample ingestion to keep total memory usage (or the amount of free memory on the machine) within limits. But that'

[2015-03-06 18:27] tomprince opened #581 "`rate` and `delta` deal poorly with slow moving data."
For data that typically changes less often than the sampling window, the delta expansion to avoid aliasing actually add inaccuracy.

For example, there is a spike in the rate to 80 (see http://bit.ly/1A4suIw) which is an order of magnitude greater than the actual rate (which is <10).

[2015-03-09 12:18] juliusv opened #584 "Y-axis minimum gets set way too low for negative values"
See:

![weird_y_axis](https://cloud.githubusercontent.com/assets/538008/6554555/3a52050a-c65d-11e4-9547-40be9307b219.png)
![weird_y_axis_options](https://cloud.githubusercontent.com/assets/538008/6554556/3a53421c-c65d-11e4-985d-5003d95263e8.png)

The negative Y axis minimum always seems to get set to `minimumValue * abs(minimumValue - 1)`, as you can see from these example minimumValue->yMinimum m

[2015-03-09 12:19] juliusv commented on #584
I meant to file this in PromDash. Closing here.

[2015-03-09 12:19] #584 closed

[2015-03-09 15:35] ashmere opened #585 "Data / Metrics cleanup and maintenance?"
Is it possible to groom or cleanup old data from prometheus?

at the minute it seems to be an infinitely growing data store with no way to clean old data

[2015-03-09 15:38] juliusv commented on #585
@ashmere Data is kept for 15 days by default and deleted afterwards. This can be adjusted via the `-storage.local.retention` flag. Does that answer your question?

[2015-03-09 15:40] ashmere commented on #585
partially that is useful to know but can we cleanup data more selectively like all metric for this source rather than all?

[2015-03-09 15:42] juliusv commented on #585
Not yet unfortunately, but it's tracked in https://github.com/prometheus/prometheus/issues/382 and shouldn't be too hard to add (just not a priority for us at the moment). I guess this issue can be closed then?

[2015-03-09 16:32] ashmere commented on #585
yes thanks for the help

[2015-03-09 16:33] juliusv commented on #585
Sure! Cool, closing...

[2015-03-09 16:33] #585 closed

[2015-03-09 20:13] leonerd opened #586 "/graph needs a way to select the "top 5" or similar"
I have a timeseries with about 40 or so values for a label. I want to show a graph of the top 5 of them. If I simply plot

  topk(5, ...)

then this picks the top five _for each time in the graph_, resulting in at most 5 non-zero lines per vertical slice of time, but there's still around 30 or so plots overall.

Instead, the selection of the "top five" needs to be done after the entire set of valu

[2015-03-10 22:36] juliusv commented on #581
Adding a screenshot of that in case the data disappears:

![rate](https://cloud.githubusercontent.com/assets/538008/6586657/6f05aaa8-c77b-11e4-9fa0-5ebe79eca528.png)

Adding some explanations to this issue:

So it's a bit more tricky than "it deals poorly with slow moving data". Actually, slow-moving data should be handled fine as long as the underlying time series are "there". Meaning, rate deals

[2015-03-11 22:46] beorn7 opened #591 "Protect against data loss by OS crash"
Inspired by @matthiasr and in the spirit of https://github.com/prometheus/prometheus/pull/590 , I was thinking about sync'ing series files, too.

In general, that would just kill performance, but with the newly designed persistence strategy https://github.com/prometheus/prometheus/pull/589 , the number of series file operations is reduced. We could at least offer a flag to sync after each write to

[2015-03-13 19:02] leonerd opened #594 "A single NaN breaks a graph plot line"
I'm plotting a graph of cache hit ratio. Normally the number is 1, or rather close to it; but for caches that are rarely used there may be entire time slices with no attempts at all, so the "hit ratio" becomes NaN. A single NaN will entirely break the graph plot, causing the line not to be drawn for later times even though the data series itself has defined numbers there. Furthermore, hovering the

[2015-03-13 20:09] juliusv commented on #594
@leonerd Could you take a look if https://github.com/prometheus/prometheus/pull/595 fixes your problem?

[2015-03-15 19:52] #478 closed

[2015-03-16 12:04] aecolley opened #597 "0/0 evaluates to +Inf but should be NaN"
This is inconsistent with float arithmetic in Go. It's not a theoretical-only concern either: I had an alert spuriously fire because the (summary-based) average was too high. You see, sum and count were both zero, so the mean ratio was +Inf which was larger than the threshold; NaN would not have alerted in that case.

Workaround: AND your alert rules with tests like foo_count != 0.

[2015-03-16 13:20] juliusv commented on #597
Ah, thanks for pointing this out! Will fix this. Sorry in case this paged you at night :)

[2015-03-16 13:24] juliusv commented on #597
Fix out in https://github.com/prometheus/prometheus/pull/598

[2015-03-16 13:52] #597 closed

[2015-03-16 18:23] beorn7 commented on #438
https://github.com/prometheus/prometheus/pull/599 will add `ln` and `exp`. So once that is in, you can write `exp(avg(ln(metric)))` for geometric mean and `exp(avg_over_time(ln(metric[10m])))` for geometric mean over time.

[2015-03-16 18:56] #438 closed

[2015-03-17 17:30] beorn7 commented on #454
Fun fact: I've seen some recent real-life queries (just discussed with @mweiden), where most of the time was burnt in (3). So yeah, I guess it makes sense to implement a proper timeout. And as I hear, @fabxc is already working on it.

A similar issue is, however, to limit the number of concurrently running queries. Too many queries overlapping might easily cause a death spiral (where every query t

[2015-03-17 17:36] juliusv commented on #594
@leonerd any luck with https://github.com/prometheus/prometheus/pull/600 now?

[2015-03-17 17:41] beorn7 commented on #490
As recently discussed in https://github.com/prometheus/pushgateway/issues/18 , it looks we should have a directive `honor-client-labels`, in which case the server will not add `exporter_...` labels in case of clashes, but just _not_ add the server provided labels. In addition, if a client wants to prevent an instance (or even job) label altogether, it has to set the respective label value to "" (e

[2015-03-17 17:50] fabxc commented on #454
Is this a general observation for all operations or are there specific ones that turned out to be time-consuming?

Should my changes be roughly accepted, setting another timeout checkpoint is a one-liner.
Limiting the number of concurrent queries is also easy to add, once the main changes are through.

[2015-03-17 21:14] beorn7 commented on #454
It was a rate over a day (rate(something[1d])), i.e. many value had to be touched, and most of the time the CPU was in the code that reads sample values out of a chunk. That should happen in step 3 above, if I'm not mistaken.

(We'll also make chunk iterators more efficient soon.)

[2015-03-18 08:58] mweiden commented on #454
@beorn7 @fabxc @juliusv thanks for your work on this!

[2015-03-18 18:58] stapelberg opened #602 "feature request: timeseries blacklist/whitelist for collection"
When running http://robustirc.net/ in a docker container, the raft package RobustIRC is using (https://github.com/hashicorp/raft) puts the hostname into the metric, and Docker generates hostnames at random. This is a bit unfortunate and I know that for prometheus, the hostname should be a label, but I don’t see a good way to fix this upstream since hashicorp/raft wants to not tie itself to a speci

[2015-03-18 19:06] juliusv commented on #602
@stapelberg Yes, adding a blacklist/whitelist filter is definitely planned, and @brian-brazil has advocated for it as well.

Out of curiosity, what are you using to ingest those metrics? Just wondering how the chain of Raft-metric->RobustIRC->(some kind of exporter or native instrumentation?)->Prometheus looks.

[2015-03-18 21:27] stapelberg commented on #602
RobustIRC uses Prometheus directly, so I just configured the /metrics endpoint of each node in my Prometheus instance :).

[2015-03-18 21:48] juliusv commented on #602
@stapelberg Ha! Excellent :) Of course that'd give you the power to rewrite the raft metrics directly when exporting them as Prometheus metrics? But yes, we definitely want filtering support soon. It depends a bit on a larger refactor we're planning to do in the next months to the whole scraping / job configuration / SD layer though.

[2015-03-18 22:03] brian-brazil commented on #602
I'm a little confused where are the hostnames coming from then? I don't see them in the RobustIRC source.

[2015-03-18 22:08] stapelberg commented on #602
RobustIRC also uses hashicorp/raft, which uses Prometheus via the Prometheus sink in armon/go-metrics — that’s where the hostname comes from.

[2015-03-18 22:10] juliusv commented on #602
@stapelberg Oh, thanks for adding Prometheus to go-metrics! That's awesome.

[2015-03-19 17:02] beorn7 commented on #591
This is implemented now. I couldn't find a good way for an equivalent of running the `sync` command from within Go. So I leave it out for now. In normal situations, everything will by synced anyway.

[2015-03-19 17:02] #591 closed

[2015-03-19 17:03] beorn7 commented on #533
Despite low priority, this is implemented now.

[2015-03-19 17:03] #533 closed

[2015-03-19 17:06] beorn7 commented on #455
There are by now many things that may take memory, and there are many knobs to turn to tweak it. I changed then name of the issue into something more generic.

A good news already: The ingestion queue is gone, so there will not be wild ram usage jumps anymore if ingestion piles up scrapes.

[2015-03-20 18:40] stapelberg opened #605 "Querying raw datapoints"
I have a boolean value that I’m scraping (i.e. it can be either 0 or 1, nothing else), and I’m having trouble figuring out how to query prometheus so that it will give me the raw data points. In promdash, I always get interpolated points, and even hitting the API end point directly, I get interpolated data points:

[code]

Note how values contains 0.1732…

How can I get just the raw, scraped data

[2015-03-20 19:11] juliusv commented on #605
@stapelberg We want to have better support for getting raw data out, but there's already a way:

There's a `query` (vs. `query_range`) endpoint for instant queries - that is also what the tabular view uses. If you query it for an instant vector, you will get the raw latest value (but with a time of "now" vs. of the actual sample timestamp). But if you query it for a range vector (`foo[1h]`), you w

[2015-03-20 21:07] stapelberg commented on #605
Thanks for explaining, this is what I’ve been looking for :).

[2015-03-20 22:45] stapelberg opened #607 "strip trailing slashes for -alertmanager.url, complain about errors"
When ending -alertmanager.url in a trailing slash (you’re saying it’s a URL!), alertmanager replies with an HTTP redirect, and the alert that prometheus sent is just lost. Prometheus won’t even realize that and will not print a message to the log. I think both should be fixed :).

[2015-03-21 14:43] quinox opened #609 "Building from .zip should be possible"
Currently you cannot build Prometheus using the zip-files mentioned in fe. https://github.com/prometheus/prometheus/releases/tag/0.12.0.

When you try you get a bunch of warnings such as `fatal: Not a git repository (or any parent up to mount point /tmp)` eventually followed by the usage output of 6l and the failure `Makefile:30: recipe for target 'build' failed`.

Relevant chat on IRC:

[2015-03-23 16:59] quofelix opened #611 "Posting alert to alertmanager does not work with DNS wildcard record"
On trying to post an alert, prometheus outputs:
[code]

redir.corp.quobyte.com is a wildcard DNS record that points to a http redirector (which would send a 303 to the http client in prometheus).

prometheus is invoked with
[code]

[code]

[2015-03-23 18:18] juliusv commented on #607
For Prometheus, see https://github.com/prometheus/prometheus/pull/612

[2015-03-23 18:40] juliusv commented on #607
And for alertmanager, see https://github.com/prometheus/alertmanager/pull/42

[2015-03-23 19:13] juliusv commented on #611
Strange, I couldn't reproduce it with this little snippet yet (which is basically what Prometheus does internally):

[code]

That seems to work for `*.mindbasket.com`. Not exactly sure what to try next. Maybe I could come and work from your office for a day :)

[2015-03-23 19:54] quofelix commented on #611
Update: this is a plain CentOS 7. wget and curl have the same problem, whereas dig and nslookup happily return the record.

[2015-03-23 20:22] juliusv commented on #611
What does your `/etc/resolv.conf` look like? Also, tcpdumping the difference between `dig` and `curl` could be interesting.

[2015-03-23 20:23] juliusv commented on #611
Also, `/etc/nsswitch.conf`...

[2015-03-23 21:02] quofelix commented on #611
tcpdump was a good hint. It seems to be an ipv6 Linux problem. All the hints on the net don't help (neither on Ubuntu nor CentOS 7).

This works (dig):
21:52:44.321490 IP (tos 0x0, ttl 64, id 21192, offset 0, flags [none], proto UDP (17), length 118)
    192.168.1.250.46644 > 192.168.1.32.53: [bad udp cksum 0x84de -> 0xed24!] 29300+ [1au] A? _prom-alertmanager._tcp.marathon.mesos.redir.corp.quobyt

[2015-03-23 22:34] juliusv commented on #611
Ok, so it looks like the tools that don't work also try an IPv6 AAAA lookup after the A lookup, but then see the empty AAAA reply and think the record doesn't exist? Looks like the DNS server is doing the right thing though, judging by https://www.ietf.org/rfc/rfc4074.txt, Section 3.

Does `curl -4` work?

You could try disabling IPv6 on the machine, but I don't know if that's still a reasonable o

[2015-03-30 18:18] #607 closed

[2015-03-31 10:00] fabxc opened #618 "Rule checker's CLI usability"
* `$ rule_checker -h` shows flags intended for Prometheus that were defined in imported packages. An explicit flag set for the rule checker should fix that.

* The obvious input is a file - so having a `-rule-file=""` flag is inconvenient (and documented wrongly as `-ruleFile` on the website) . It should simply use the first non-flag argument, i.e. `$ rule_checker my/fancy.rules` (with `-rule-file

[2015-03-31 10:20] matthiasr commented on #618
I don't think it should glob in the tool – it should just consume all non-option arguments as input filenames (and stdin if there are none). This matches standard unix tool behaviour and combines best with shell globbing or other tools.

A second level of glob expansion would make it practically impossible to pass in filenames that contain special characters, and open a lot of avenues for things t

[2015-03-31 10:31] fabxc commented on #618
You are right - wasn't thinking there, thanks.

[2015-03-31 11:49] juliusv commented on #618
:+1: And if no files are specified, it should read from stdin, like any other self-respecting Unix tool.

[2015-03-31 14:47] fabxc commented on #618
Great.
Overwriting probably needs some discussion on what the one-and-only correct syntax is.

I could do the rest now.
Currently the rule checker panics on everything - as it exits with 255, which is also documented. Can we break backwards-compatibility here? I would rather go for 2 for non-existent files/directories (consistent with flag package) and 1 for actual processing errors.

I doubt ther

[2015-03-31 14:53] juliusv commented on #618
@fabxc We have no idea if anyone is doing that, but as long as it's in the `CHANGELOG.md` for the next release and we're in version `0.x`, it's totally fine to change.

Regarding #21 I think that's very low priority for now. It'll be a nice thing to have long-term though.

[2015-04-02 17:18] juliusv commented on #594
Heard out of band that this is fixed.

[2015-04-02 17:18] #594 closed

[2015-04-03 01:09] grobie opened #622 "Arithmetic in aggregations"
I come across use cases from time to time where I'd love being able to do some arithmetic in by clauses of aggregations. For example:

    count by (> 64) sum(process_rss_bytes) by (app, proc)) / 1024 / 1024 / 1024)

In this example (with an exemplary syntax) I want to plot the number of services below and above a certain threshold. It's possible to construct graphs roughly showing the desired dat

[2015-04-03 02:00] atombender opened #623 "API documentation"
It seems the HTTP API for querying data (from, say, a custom dashboard or monitoring solution) is completely undocumented.

One can reverse-engineer it easily enough from the official web UI and from the code, but I'd like to know if there are plans to document it properly, and I'd also like to know how stable it is considered at this point.

[2015-04-03 08:25] brian-brazil commented on #622
That expression has unbalanced brackets. You can already mostly do that via:

[code]

What you want is a way for the filtering functions to return 1/0 instead of filtering, and then an aggregation function to group things by value. Then it'd look something like:

[code]

[2015-04-03 08:50] fabxc commented on #623
There should definitely be documentation on this.
Until there is, there are no guarantees but you can assume that breaking changes are avoided without a good reason. Check the change logs when upgrading, to be sure.

[2015-04-03 11:40] fabxc opened #624 "Grouping flags in help output"
Finding the right flag in `prometheus -h` is tedious right now. It also doesn't reveal that `-config.file` is mandatory and Prometheus panics if cannot find one.

Something like below looks way more usable, especially for flags with very long descriptions.
Maybe `-config.file` should be omittable as well: `./prometheus [options ...] <config_file>`.

[code]

[2015-04-03 16:25] atombender commented on #623
Thanks!

[2015-04-03 19:54] opensourcegrrrl commented on #623
/cc @opensourcegrrrl

[2015-04-06 13:35] discordianfish opened #625 "Link to consoles is broken"
This is probably a regression introduced by #614: When starting prometheus with console templates, it renders this (broken) link in the header:

```<li><a href="//consoles/index.html">Consoles</a></li>```

[2015-04-07 14:32] pires commented on #10
should be more compatible with Prometheus's.

Can I say **awesome** more than once? Awesome!

[2015-04-07 14:47] discordianfish commented on #108
@brian-brazil That'd be awesome. Now restart prometheus automatically by using https://github.com/docker-infra/prometheus-consul and I hope I won't run into issues for now.

[2015-04-07 14:49] fabxc commented on #10
Unfortunately, @juliusv ran some tests with 0.9 and InfluxDB consumed 14x more storage than Prometheus.

Before it was an overhead of 11x but Prometheus's could reduce storage size significantly since then - so in reality InfluxDB has apparently improved in that regard.
Nonetheless, InfluxDB did not turn out to be the eventual answer for long-term storage, yet.

[2015-04-07 15:02] beorn7 commented on #10
At least experimental write support is in master, as of today, so anybody can play with Influxdb receiving Prometheus metrics. Quite possible somebody finds the reason for the blow-up in storage space and everything will be unicorns and rainbows in the end...

[2015-04-07 15:02] brian-brazil commented on #108
I haven't touched this since then unfortunately.

[2015-04-07 15:08] beorn7 commented on #624
Unfortunately, the inconsistent flags are coming from glog, so they won't change just because of Prometheus conventions. And changing them just for us doesn't make sense because whoever uses glog in other software should not be surprised here.

A structured usage output needs a re-implementation of the `Usage` function, and then some code that calls `flags.VisitAll` and groups the flags by prefix.

[2015-04-07 15:09] beorn7 commented on #108
@fabxc will likely work on this as part of his internship.

[2015-04-07 15:38] pires commented on #10
@beorn7 that's great. TBH I'm not concerned about disk space, it's the cheapest resource on the cloud after all. Not to mention, I'm expecting to hold data with a very small TTL, i.e. few weeks.

[2015-04-07 16:00] beorn7 commented on #10
@pires In that case, why not just run two identically configured Prometheis with a reasonably large disk?
A few weeks or months is usually fine as retention time for Prometheus. (Default is 15d for a reason... :) The only problem is that if your disk breaks, your data is gone, but for that, you have the other server.

[2015-04-07 16:00] fabxc commented on #10
@pires do you have a particular reason to hold the data in another database for that time? "A few weeks" does not seem to require a long-term storage solution. Prometheus's default retention time is 15 days - increasing that to 30 or even 60 days should not be a problem.

[2015-04-07 16:07] fabxc commented on #624
So no objections regarding the general idea, I assume?

[2015-04-07 16:12] beorn7 commented on #624
Sounds good. We should just avoid a maintenance nightmare by having to keep a customized usage message up to date. So as long as it still auto-generates the usage message, I'm fine with the above.

[2015-04-07 16:14] fabxc commented on #108
This will probably be on hold until service discovery is done, though - unless it's considered super urgent.

[2015-04-07 16:28] mwitkow-io commented on #108
How do you guys want to do service discovery? :)

[2015-04-07 16:37] pires commented on #10
@beorn7 @fabxc I am currently using a proprietary & very specific solution that writes monitoring metrics into InfluxDB. This can eventually be replaced with Prometheus.

Thing is I have some tailored apps that read metrics from InfluxDB in order to reactively scale up/down, that would need to be rewritten to read from Prometheus instead. Also, I use `continuous queries`. Does Prometheus deliver s

[2015-04-07 16:41] brian-brazil commented on #10
http://prometheus.io/docs/querying/rules/#recording-rules are the equivalent to InfluxDB's continuous queries.

[2015-04-07 16:54] beorn7 commented on #108
http://prometheus.io/docs/introduction/roadmap/#support-for-more-types-of-service-discovery is the roadmap entry. We are in the design state right now.

[2015-04-08 11:51] #624 closed

[2015-04-08 11:51] beorn7 commented on #624
FIxed by https://github.com/prometheus/prometheus/pull/627

[2015-04-09 21:53] jagregory opened #632 "DNS SRV lookup fails with <nil> is not a valid SRV record"
I'm trying to use SD for jobs, as per a quick chat with @juliusv on twitter, but I'm not getting very far with it. All I see printed in the log is:

    target_provider.go:117] <nil> is not a valid SRV record

I've been testing it against a local dnsmasq setup, but I've also tried it against a real DNS server on one of my public domains too.

My job looks like this:

    job: {
      name: "exampl

[2015-04-10 08:01] fabxc commented on #632
Prometheus definitely queries for an SRV record - it actually boils down to https://gist.github.com/fabxc/25bc3af953d13338388e, which works fine for me.

It also works on my local Prometheus.
Unfortunately, this leaves me without an answer except that the issue lays probably not within Prometheus.

You could run the minimal example above (with the DNS server you are using) and report back if that

[2015-04-10 13:15] jagregory commented on #632
Thanks for the reply. I tried your snippet locally and it worked as expected. I figured it out, it's not Prometheus as you suspected, explanation below.

I wondered what's different between the code I was running from you and how Prometheus is running said code. The difference being Prometheus is in Docker, and Docker is in VirtualBox (because I'm using boot2docker).

I SSH'd onto the boot2docker

[2015-04-10 13:15] #632 closed

[2015-04-13 09:21] fabxc commented on #108
We'll also want to reload the config on `SIGHUP`. Not all file systems (natively) support watches.

[2015-04-13 09:23] matthiasr commented on #108
I would even prefer to have disk watches be optional. I'd much prefer explicit SIGHUPs in many cases (e.g. when I can't guarantee that the config file is replaced atomically).

[2015-04-13 10:05] discordianfish commented on #108
:+1: on having both
@fabxc: If SD will integrate easily with consul and have a way to use the consul tag as label value, I don't really need the config reload anymore. Otherwise it would be more important to me to get the config reload first.

[2015-04-15 14:51] sunyc opened #638 "Implement ValueStream?"
Hi,

I'm surprised to see that prometheus (or should I say, borgmon2) doesn't implement a valuestream function yet (allow transferring timeseries between prometheus instances). Which I thought was crucial to implement a multi-tier aggregation hierarchy,

Any thoughts?

BTW: you guys are awsome creating prometheus!

[2015-04-15 15:05] matthiasr commented on #638
I've been playing around with multi-tier aggregation by exposing handcrafted "metrics" endpoints as console templates, building on [this example](https://github.com/prometheus/prometheus/blob/master/consoles/federation_template_example.txt). You can, instead of matching the name, specify any query (but need to then give it a new name). The effect is that one Prometheus can publish arbitrary (raw,

[2015-04-15 15:16] beorn7 commented on #638
@sunyc Could you explain what you mean by "valuestream"?

[2015-04-15 15:20] sunyc commented on #638
@matthiasr  which is obviously not very efficient...  And there is timestamping issue.

@beorn7  ValueStream is a RPC service that allows an prometheus instance scrape timeseries  from another prometheus . Which also retains original timestamp etc.

It has a number of usefulness, namely,  one could have a prometheus  that valuestream from several peers for aggregation etc etc etc.

[2015-04-15 15:24] matthiasr commented on #638
I'm not too worried about timestamps … when aggregating for example request counts from many individual instances as one timeseries, there is no one timestamp anyway. And if the samples are just passed through 1:1 then why aggregate in the first place?

[2015-04-15 15:24] beorn7 commented on #638
The Prometheus scrape protocol already contains a timestamp for that purpose. However, it is currently not possible to scrape multiple samples for one time series in one scrape.

[2015-04-15 15:27] sunyc commented on #638
@matthiasr  because scrape is not synchronized between  targets,  If there were no timestamp in the output the aggregation would produce wrong values..

[2015-04-15 15:49] juliusv commented on #638
Heya Yucong,

valuestreaming aka hierarchical federation is on our roadmap:
http://prometheus.io/docs/introduction/roadmap/#hierarchical-federation

Right now we only have the "hack" that Matthias mentioned, but soon[tm]
we'll have the real thing. I agree, it should be possible to transfer raw
samples with their original timestamps and uninterpolated values.

Cheers,
Julius

On Wed, Apr 15, 2015 a

[2015-04-15 15:55] sunyc commented on #638
I would be happy to help (maybe we can also use go-grpc now), believe it or not, i spent quite a bit of of time on it in the past life .

LoL

[2015-04-15 15:59] beorn7 commented on #9
The solution might include "streaming" as in "transfer more than one timestamped sample per time series during one scrape of a higher-level Prometheus server from a lower-level Prometheus server".

[2015-04-15 16:00] beorn7 commented on #638
I'll close this as a duplicate of https://github.com/prometheus/prometheus/issues/9 (updated that issue with the notion of "streaming").

[2015-04-15 16:00] #638 closed

[2015-04-15 16:00] #625 closed

[2015-04-15 16:01] juliusv commented on #618
This can be closed now, right?

[2015-04-15 16:03] fabxc commented on #618
Yes, the remains are covered by the old ticket.

[2015-04-15 16:07] juliusv commented on #638
@sunyc That'd be great in general. As a smaller starter project it'd probably be good to start with something small to get acquainted with the whole code and contributing business, and then go from there. We're all also hanging out on `#prometheus` on Freenode for discussions and inspiration :)

[2015-04-15 16:07] #618 closed

[2015-04-15 16:23] brian-brazil commented on #9
I'm a little wary of doing more than one value. The main reason you'd need that would be if a previous scrape failed, and requesting more data from a server that failed last time may lead to a cascading failure.

[2015-04-16 23:56] grobie commented on #515
Solved with #641.

[2015-04-16 23:56] #515 closed

[2015-04-16 23:59] levilovelock commented on #108
I'm in the same position as @discordianfish - would prefer just having SD first, but config refresh would let me brew my own workaround at least.

[2015-04-17 00:02] juliusv commented on #108
@levilovelock Just work-wise, it makes much more sense to get SD in order first as a base for implementing sane reloadable configs. Expect both soon[tm].

[2015-04-17 00:29] brian-brazil commented on #168
http://prometheus.io/docs/introduction/faq/#why-does-prometheus-use-a-custom-storage-backend-rather-than-%5Bsome-other-storage-method%5D?-isn't-the-%22one-file-per-time-series%22-approach-killing-performance? answers this I'd say

[2015-04-17 04:41] grobie commented on #345
Solved in the meantime.

[2015-04-17 09:01] beorn7 commented on #168
Not quite. Those benchmarks were executed "manually", by running a Prometheus server hotter and hotter until it broke. It hardly qualifies as "easy-to-run". There is https://github.com/prometheus/prometheus/blob/master/storage/local/storage_test.go#L711-L721 , which covers quite a lot in the storage layer, but has no knobs to turn and is not very specific.

[2015-04-17 09:05] beorn7 commented on #515
So no `over_time` version?

[2015-04-17 09:41] brian-brazil commented on #515
I'd say wait for a use case to appear.

[2015-04-17 15:21] brian-brazil opened #643 "Prometheus server should have a favicon"
This'd make it easier to pick out among your other tabs

[2015-04-20 10:37] brian-brazil commented on #482
A use case has appeared for filtering scalar/scalar comparisons: restricting times when alerts fire via math on time(). Accordingly let's filter and take the left argument.

[2015-04-22 08:08] olcai opened #646 "Tests fail on Illumos/Solaris"
I'm trying to run Prometheus under Illumos/Solaris (SmartOS, really), and while it is possible to build the project, two tests fail for me when running make test:

[code]

[code]

I don't quite see why the targetpool_test one fails, but the lock test is more intriguing. I see that there is support for Solaris in `storage/local/flock/flock_solaris.go`, so I'm wondering if there is something in the

[2015-04-22 09:16] beorn7 commented on #646
That's interesting.

I've copied the flock code from the Go leveldb implementation, but never tried it myself. So it's perfectly possible to be broken on Solaris. I think the TestTargetPoolReplaceTargets test is flaky, anyway. But for the lock it would be interesting to get more insights. No clue where to start the search, though...

[2015-04-23 03:53] atombender opened #647 "Version upgrade 0.10 -> 0.13 breaks database"
Currently running:

[code]

I want to upgrade to:

[code]

This fails with:

[code]

I can't find any information in the docs about migrating data. How do I upgrade without losing my data?

[2015-04-23 03:56] atombender commented on #647
Found this in the changelog, for anyone reading:

This really does not build confidence.

[2015-04-23 05:30] atombender commented on #555
+1. This bit me today. At the very least the current precedence should be documented.

[2015-04-23 06:34] fabxc commented on #647
The frustration is understandable but as we are in version 0.x breaking changes may happen even though they are avoided when possible.

As the project matures the likelihood of such wipes will drastically decrease. The change involved here reduces Prometheus's storage requirements by 40% - since Prometheus is not a long-term storage this can be considered a good reason to break things.

If there s

[2015-04-23 08:01] juliusv commented on #555
This will be fixed along with the parser / query engine refactoring that is likely to be done in the next couple of weeks.

[2015-04-23 08:07] juliusv commented on #647
Sorry for the breaking change. Yes, occasional breakages can still happen in `0.x`-land when there are very good reasons. They will always be pointed out in the changelog. See also the [FAQ section](http://prometheus.io/docs/introduction/faq/#how-stable-are-prometheus-features,-storage-formats,-and-apis?) about that.

That said, we currently don't anticipate any more breaking storage changes, unle

[2015-04-23 08:07] #647 closed

[2015-04-23 14:28] atombender commented on #647
Breaking changes are perfectly fine and to be expected. But the lack of an upgrade path is not.

[2015-04-23 14:39] juliusv commented on #647
@atombender It's an open-source project in `0.x` state, and for a short-term storage time series database we do not have that expectation currently - PRs are welcome though. One migration path that's always available to you in lieu of a migration tool: bring up a new identical instance, let it collect enough (identical) data, then switch to the new one. Again, we expect fewer and fewer breaking ch

[2015-04-24 09:47] matthiasr opened #651 "Consistent backups of a running Prometheus should be possible"
I experimented a bit with copying the storage out from underneath a running Prometheus.

In the zeroth run, I tried rsyncing it, but this takes forever because there are so many files. Using tar is much much faster, and since many files change anyway, rsync won't gain you much even on subsequent backups.

In the next run, I copied the whole storage with tar (in this case, directly into the right p

[2015-04-24 12:30] matthiasr commented on #651
I also reproduced the first result by explicitly waiting for a checkpoint after copying timeseries so heads.db is fresh, and the result is pretty much the same as the first time around.

[2015-04-24 13:39] tgulacsi opened #652 "[ANN] scollector adapter"
Hi, I've some Windows machines, and scollector (bosun.org/scollector) has a nice mature machine-metrics-collecting client. So I've made a silly little adapter, by copying&adapting graphite_exporter: https://github.com/tgulacsi/prometheus_scollector

I've made it under the same license, and willing to "donate" it to Prometheus, if that's easier.

[2015-04-24 13:49] brian-brazil commented on #652
Thanks for writing this, we'd be happy to accept that. One question from a quick peek is do you need to add any sanitising of metric and label names to ensure they won't be rejected by prometheus?

[2015-04-24 13:54] tgulacsi commented on #652
To answer that, I'd need better understanding what names are allowed in prometheus, and what names are produced by scollector :)
First I'll check that code in graphite_exporter, and include that. Maybe even that name mapper should be borrowed...

[2015-04-24 13:59] brian-brazil commented on #652
https://github.com/prometheus/graphite_exporter/blob/dynamic-name/mapper.go#L27 identifierRE and validNameRE should cover you.

[2015-04-24 14:25] juliusv commented on #652
Beware, those regexes are wrong and need updating. This doc contains the spec for what's legal in metric names, label names, and label values:

http://prometheus.io/docs/concepts/data_model/#metric-names-and-labels

See also this comment on the statsd exporter: https://github.com/prometheus/statsd_bridge/pull/10#issuecomment-92833297

[2015-04-24 14:29] grobie commented on #651
I'd suggest we add a "prometheus snapshot" command to the CLI for that.

On Fri, Apr 24, 2015 at 8:30 AM, Matthias Rampke <notifications@github.com>
wrote:

[2015-04-24 20:56] tgulacsi commented on #652
Thanks, I've done it with a simple function - I don't use regexes if they're avoidable. See "clearName" in main.go.

[2015-04-24 21:36] AmandaCameron opened #653 "Ability to drop ports from the instance dynamic label."
I'd like it if it was possible to configure Prometheus to drop the port from the instance label.

My use-case:
My web-apps are exposed using a random docker port, however the tooling I have in place generates a web-app/host unique CNAME entry in our internal DNS, and since DOcker is assigning the external port "randomly" it's a bit bothersome to have it in there, as not only is it redundent, but i

[2015-04-24 21:46] fabxc commented on #653
This will be possible in the near future through relabelling. It will be part of the groundwork for more advanced service discovery than we have now. The is a [design doc](https://docs.google.com/document/d/1vEs0l0oX8npPZw06Vd8j7Ikg-x_NRGQlBuogaF3JbVw/edit#) - all comments and suggestions are welcome.

[2015-04-24 22:19] #653 closed

[2015-04-26 10:34] beorn7 commented on #651
After some discussion and thinking, I like most the approach to have an endpoint that returns a giant tarball with a consistent set of series files and the heads.db.

In different news, I'm curious to reproduce the state where recovery takes forever. On SSD, I expect the recovery to be reasonably fast always (albeit with possible significant data loss). A case where it takes very long would be ver

[2015-04-28 14:07] oliver006 opened #656 "Tools to clean up / modify already collected data?"
Hey there,

are there tools available to selectively clean out entire (or partial) time series? Occasionally, when pushing out a test version of a new collector, I collect data in the wrong format, with the wrong label or metric names, etc and I'd like to remove it and not wipe put the entire data directory.

Suggestions?

[2015-04-28 14:13] juliusv commented on #656
Hey @oliver006, thanks for the question! This doesn't exist yet, but we have a ticket open for it in https://github.com/prometheus/prometheus/issues/382. The use case is definitely valid and important and I'm all for it. Feel free to add ideas for it to that ticket. Closing this one.

[2015-04-28 14:13] #656 closed

[2015-04-28 15:27] oliver006 commented on #656
Thx!

[2015-04-28 16:55] oliver006 commented on #652
Not to hijack this issue but is there a place where 3rd party collectors/exporters are normally announced/listed?
I wrote one for RethinkDB https://github.com/oliver006/rethinkdb_exporter and while it works well I'd appreciate feedback and obviously would like it lsited somewhere so people can find it more easily.

[2015-04-28 17:05] brian-brazil commented on #652
We're planning on listing all the 3rd party exporters we're aware of on the website, see https://github.com/prometheus/docs/issues/68

[2015-04-28 18:11] oliver006 commented on #652
Thanks Brian, I'll add them to https://github.com/prometheus/docs/issues/68

[2015-04-28 23:10] a86c6f7964 commented on #455
I am running with a retention of 4 hours, and the default "storage.local.memory-chunks", on version 0.13.1-fb3b464. While @juliusv said that I should expect that this means that the memory used up may be more than 1GB I am seeing it run out with the docker container setting at 2.5GB. Basically it looks like a memory lea, because on restart all of the memory goes back down and then slowly over time

[2015-04-28 23:12] a86c6f7964 commented on #394
Are you talking about something like http://prometheus.io/docs/querying/rules/ recording rules?

[2015-04-28 23:14] brian-brazil commented on #394
Yes, but evaluated in the context of a target at scrape time rather than at recording rule evaluation time.

[2015-04-29 00:30] juliusv commented on #455
@a86c6f7964 One thing to start out with: if you configure Prometheus to monitor itself (I'd always recommend it), does the metric `prometheus_local_storage_memory_chunks` go up at the same rate as the memory usage you're seeing? Or does it plateau at the configured maximum while the memory usage continues to go up? Checking `prometheus_local_storage_memory_series` would also be interesting to see

[2015-04-29 01:30] a86c6f7964 commented on #455
ya it was going up. it got almost to 1million, so maybe it just needs a little more memory

[2015-04-29 09:14] beorn7 commented on #455
@a86c6f7964 Retention is fundamentally a bad way to get memory usage under control. It will only affect memory usage if _all_ your chunks fit into memory. Retention is meant to limit disk usage.

Please refer to http://prometheus.io/docs/operating/storage/#memory-usage for a starter. Applying the rule of thumb given there, you should set `-storage.local.memory-chunks` to 800,000 at most if you hav

[2015-04-30 19:21] chkno opened #663 "Constants in storage/local overflow int on 32-bit"
Build (which includes "go test") fails on 32-bit systems with these constant-overflows-int messages:

storage/local/codable/codable_test.go:44: constant 422010471112345 overflows int
storage/local/storage_test.go:806: constant 4294967296 overflows int
storage/local/storage_test.go:806: constant 2147483648 overflows int
FAIL    _/home/user/prometheus/storage/local [build failed]
FAIL    _/home/user

[2015-04-30 21:45] chkno commented on #663
Pull request: https://github.com/prometheus/prometheus/pull/665

[2015-04-30 21:54] fabxc commented on #663
Fixed. Thanks again!

[2015-04-30 21:54] #663 closed

[2015-05-02 17:15] fabxc opened #667 "Fuzz test Prometheus"
Just found this new tool for Go: https://github.com/dvyukov/go-fuzz

Given that it found quite a few bugs in the standard library, we will certainly find some stuff in Prometheus. Especially as we are now using two `text/template` style parsers ourselves that might suffer from very similar bugs as the ones found in the stdlib.

[2015-05-04 19:06] quofelix commented on #611
curl -4 indeed exhibits the same problem.

I've changed now my setup for hostnames to not contain _, and the DNS lookups work now.

[2015-05-04 19:11] #611 closed

[2015-05-04 19:39] quolix opened #668 "Alert posting does not seem to follow HTTP redirects"
I try running prometheus on Mesos, where jobs get assigned dynamic ports. I have an http redirector that redirects requests to specific hostnames to the correct hosts and ports on Mesos via 303/307/308. I want to use that to make prometheus POST its alerts to the alert manager.

However it seems that the redirect is never followed, indicated by tcpdump and netstat not showing any TCP traffic to th

[2015-05-05 05:37] juliusv commented on #668
Haven't looked deeply into this yet, but I'm wondering whether it has to do with this (redirects upon POST being problematic in HTTP in general because POST is not an idempotent operation): http://programmers.stackexchange.com/questions/99894/why-doesnt-http-have-post-redirect

[2015-05-05 05:47] juliusv commented on #668
Indeed, it looks like when Go is following redirects and the method is `POST` or `PUT`, it does subsequent redirected requests via `GET`: https://github.com/golang/go/blob/master/src/net/http/client.go#L353-L355

Not sure why you don't see *any* followup request (not even `GET`) in tcpdump, but it seems that redirecting `POST`s doesn't really work well in general. Would it be possible to use a met

[2015-05-05 06:55] quofelix commented on #668
Yes, that was my reading of the client.go awell.

However, the spec seems to indicate that a 307 must not result in a changed method:
http://www.heise.de/netze/rfc/rfcs/rfc7231.shtml#page-58

Bug in client.go then?

[2015-05-05 07:14] juliusv commented on #668
Interesting pointer. Yeah, the code does not make any differentiation for `StatusTemporaryRedirect` (307), so that looks buggy to me as well.

I found a bug reported about this already against Go, but the status is unclear - I left a comment: https://github.com/golang/go/issues/7912

[2015-05-05 07:18] juliusv commented on #668
(That still doesn't explain why there was *no* followup request at all - I guess you verified that your redirector returns 307 with the appropriate headers?)

[2015-05-05 08:04] quofelix commented on #668
Both curl and Firefox/Chrome are happy with the redirector's responses.

[2015-05-05 11:09] discordianfish commented on #476
Who is working on this? We now have the Makefile.COMMON but it's not used in prometheus itself.
I just opened https://github.com/prometheus/alertmanager/pull/55 which has a similar issue.

#548 is a alternative to the Makefile triggered code-generation I assume.

[2015-05-05 11:13] discordianfish commented on #548
It would be great to consent around how we do this, so we can make sure other prometheus projects do the same? The only concern with commiting the files.go is that it blows up the git history. Since we commit the protobuf generated code and Godeps anyways, I think it's fine to commit the files.go as well.

[2015-05-05 15:58] fabxc opened #670 "Switch config to proto3"
The lack of maps in proto2 results in a workaround, looking like this:

[code]

As labels are an integral part of Prometheus's config this is not ideal.
With the new service discovery, third party apps may have to emit target groups, which contain labels. So this is no longer a config-only issue and will be harder to break after the SD release.

Support for maps was added in proto3, which is still

[2015-05-05 16:06] beorn7 commented on #670
Can we use both proto versions in parallel in the same binary? We still need the old proto version for the scrape format.

[2015-05-05 16:09] fabxc commented on #670
Yes, that should work.

[2015-05-05 23:53] fabxc opened #675 "Allow query params for scrape endpoints."
Getting different scrape contents based on query parameters can be a useful addition.

The discussion started with #674. As stated there, I would like to avoid proxying by query parameters but only use them for actual modifications. But the line gets blurry quite fast.

As the issue of the PR will be resolved by relabeling, this is not too urgent for now.

[2015-05-06 09:57] juliusv commented on #670
The biggest upside to default values in proto2 was that they were self-documenting - one could simply read in the schema what the defaults were. Now we have to put it into the docstrings *and* keep it in sync with the code. Meh. It's probably still worth it.

[2015-05-06 12:07] fabxc commented on #670
I'm not convinced that having a config definition file has any real advantages. We have to create manual docs anyway (because of additional explanations and because we cannot expect people to speak protobuf).

The generated code forces us to have an increasing amount of boilerplate code mapping and wrapping into our own types.
As mentioned, the defaults leak into our own code anyway as we have glo

[2015-05-06 15:40] fabxc commented on #670
YAML it is :cake:

[2015-05-06 15:40] #670 closed

[2015-05-07 05:04] wrouesnel opened #677 "Support database query for list of nodes"
In cases where you don't have records in DNS SRV for a group of services (probably quite common with node_exporter use cases for example) it would be helpful to be able to specify a postgres or mysql query and server to use as the canonical source for hostnames to a particular job.

This would be useful for interfacing with things like the puppet dashboard or custom tracking solutions where alteri

[2015-05-07 07:21] fabxc commented on #677
The problem with unstandardized service discovery is, that we cannot support everything out of the box.
The current approach is to have a file-based fallback interface, about which you can read more in the [design doc](https://docs.google.com/document/d/1vEs0l0oX8npPZw06Vd8j7Ikg-x_NRGQlBuogaF3JbVw/edit?usp=sharing).

Is that something that would work for you?

[2015-05-07 09:48] fabxc commented on #372
Fixed by #676

[2015-05-07 09:48] #372 closed

[2015-05-07 09:48] juliusv commented on #555
Just merged the new query engine + parser feature branch into master: https://github.com/prometheus/prometheus/pull/676

This should be fixed now.

[2015-05-07 09:48] #555 closed

[2015-05-07 09:53] fabxc commented on #569
Fixed by #676.

[2015-05-07 09:53] #569 closed

[2015-05-07 09:54] fabxc commented on #568
Fixed by #676.

[2015-05-07 09:54] #568 closed

[2015-05-07 09:57] fabxc commented on #454
Timeout handling has improved with #676.
We should revisit where exactly we want to check timeouts and whether we want to support custom timeouts (e.g. via the API).

[2015-05-07 10:41] quofelix opened #679 "Automatic reload of configuration and rules when files have changed"
Auto-crashing the process might be a good intermediary step. I think I remember you wanted to implement this, but I haven't found a tracking bug.

[2015-05-07 11:51] fabxc commented on #108
We'll also want to reload changed rule files.

[2015-05-07 11:51] fabxc commented on #679
#108 refers to the same thing. It doesn't mention reloading rules, though.
Added a comment over there and closing here.

[2015-05-07 11:51] #679 closed

[2015-05-07 15:32] fabxc opened #681 "Consider removing default port support"
Currently target hosts can be provided without a port name. Based on the scheme the default port is selected.

Prometheus is not a browser and usage of default ports is an exception rather than the rule. Removing this _feature_ will give developers and users one thing less to think about.

Thoughts?

[2015-05-08 06:39] stapelberg commented on #670
Why are we breaking the config? Will there be a migration time window and migration path?

[2015-05-08 06:42] stapelberg opened #683 "Comments using // no longer work"
I think commit https://github.com/prometheus/prometheus/commit/3ca11bcaf58685d3994d6f643fff57075cbed595 broke comment parsing. The following example from http://prometheus.io/docs/querying/rules/ doesn’t pass a rule_checker run anymore:

[code]
[code]

Using # instead of // works, but I’m confused which syntax should work. Looking at the old lexer.l, it seems to have been // or /* */ for multi-lin

[2015-05-08 07:41] fabxc commented on #683
Yes, we switched to `#` intentionally. The decision was made some time ago, afaik, and this implemented it.

Breaking changes are annoying but squashing them into one release (this and the config changes) will hopefully make it less painful.
Everything required to upgrade will of course be documented with the next release.

[2015-05-08 07:47] juliusv commented on #670
@stapelberg We had a long discussion about this between quite a few people on IRC about that. I'll send an explanation to the mailing list as to why we're breaking the config file format and why it ended up being YAML.

There is no automated migration tool planned yet (so far only a link to the docs on how to update your config). It can certainly be done, as the new configuration supports a supers

[2015-05-08 07:47] fabxc commented on #670
Mostly because of the SD changes described [here](https://docs.google.com/document/d/1vEs0l0oX8npPZw06Vd8j7Ikg-x_NRGQlBuogaF3JbVw/edit?pli=1#heading=h.83b2hcjnf0ju).

We will document all the steps to upgrade for the next release (i.e., changing the config and rule file comments).
There's also the question whether the upgrade could be automated. We have to put into perspective how much effort manu

[2015-05-08 07:58] juliusv commented on #683
FWIW, I think we never documented comments anywhere - so they were a hidden feature up until now. Seems like hidden features are discovered anyways... The decision to change the comment format came mainly from a consensus on IRC that this is the more common comment format for config files.

[2015-05-08 10:23] juliusv commented on #670
@stapelberg We just talked and decided that going from proto2 -> YAML definitely deserves a tool for migrating configs to the new format, so we will provide that. Details TBD.

[2015-05-08 10:55] fabxc commented on #453
Fixed by #676.

[2015-05-08 10:55] #453 closed

[2015-05-08 10:57] juliusv commented on #683
I have to correct myself: I just noticed we did mention comments indirectly in examples in this one page, although they were never explicitly documented otherwise: http://prometheus.io/docs/querying/rules/. Sorry about that.

[2015-05-11 12:19] fabxc commented on #482
As complains about breaking changes are getting louder with time, we might want to make a decision on this in the next few weeks.

[2015-05-11 15:39] #683 closed

[2015-05-11 15:43] beorn7 commented on #541
The new collision detection code tips the balance here, IMHO, as we have to query the archive more often and want to keep it as lean as possible.

Closing, but feel free to re-open if you disagree.

[2015-05-11 15:43] #541 closed

[2015-05-11 15:45] beorn7 commented on #509
FIxed by https://github.com/prometheus/prometheus/pull/682

[2015-05-11 15:45] #509 closed

[2015-05-11 15:48] #493 closed

[2015-05-11 16:38] juliusv commented on #681
Not sure if this behavior should be specific to a browser - port 80 and 443 are standard well-known default ports for HTTP and HTTPS, regardless of client application (http://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?&page=2). So it might even be less surprising to keep it.

[2015-05-11 21:21] fabxc commented on #681
Of course it's not specific to browsers — but for Prometheus scraping from the default ports is not the normal case and a regular SD usually provides a port.
I just feel weird about interpolating the identifier for a scrape target, which should usually be a very explicit thing.

[2015-05-11 22:10] beorn7 opened #691 "Export a metric to tell if storage has become inconsistent"
Certain i/o errors (or unexpected errors, which are bugs) cause the storage layer to become inconsistent. In that case, an error message is logged and the storage is marked as dirty (so that a crash recovery will be performed after the next restart). This state should be exported as a metric so that monitoring can catch it.

@matthiasr here you are...

[2015-05-12 01:23] grobie opened #692 "Use TTL provided by DNS SRV results"
The DNS refresh rate is currently a configuration option. Even better would be to use the TTL provided by the results and leave the authority at the DNS provider.

[2015-05-12 08:03] matthiasr commented on #691
:+1:

[2015-05-12 08:19] fabxc commented on #692
As a default that would be nice. I wouldn't make it mandatory, though.
From what I understand, the TTLs of the result answer section are not that useful, as it doesn't tell us anything about joining and leaving instances. Respectively, Consul sets all TTLs to zero by default.

The SD spec requires to provide a TXT record for each SD name which's TTL specifies the TTL for the SD name. Consul, for e

[2015-05-12 09:07] fabxc commented on #677
Closing as we will provide an interface for custom SD adapters and will only add native support for established SD mechanisms.

[2015-05-12 09:07] #677 closed

[2015-05-12 10:00] juliusv commented on #681
Yeah, I don't feel strongly about this - do whatever feels best :)

[2015-05-12 16:42] discordianfish commented on #586
Hi,

just ran into the same issue. I guess as long as the topk timeseries stay the same across your graph, you're fine but if they are not you end up with tons of graphs and missing datapoints (if I understand the issue correctly)

/cc @juliusv @beorn7

[2015-05-12 19:34] juliusv commented on #586
@discordianfish `topk` is working as intended (different time series are the topk at different times of the graph), but this sounds like a request for a new feature: show the topk ovrerall within a given time range (probably determined by the total area under each time series over the span of the graph time range). This will be much harder to implement, as it doesn't really fit nicely into how we

[2015-05-13 09:35] discordianfish commented on #586
@juliusv Yes I understand that and topk makes sense as it. Still, having something similar to topk which returns the timeseries with the highest average value over the queried range would be super useful. I think it's a common thing to have dashboards with the top n of some things and with topk you get basically just garbage if the metrics are spiky.

PS: This btw also happens if all timeseries ar

[2015-05-13 11:03] fabxc commented on #681
Ultimate compromise: we infer the port when we get receive the target group and thus only create targets from full `<host>:<port>`s. _(And remove a potential dead lock with that.)_

[2015-05-13 15:06] fabxc commented on #296
I suppose this can be closed?

[2015-05-13 15:08] juliusv commented on #296
Yes!

[2015-05-13 15:08] #296 closed

[2015-05-13 15:09] fabxc commented on #451
Closable?

[2015-05-13 21:09] juliusv commented on #681
Can be closed now, I guess?

[2015-05-13 21:14] fabxc commented on #681
Yes

[2015-05-13 21:14] #681 closed

[2015-05-14 12:11] etishor commented on #505
:+1: for having a timeseries db running on windows.

[2015-05-14 13:39] juliusv commented on #505
@etishor please help us test it :)

[2015-05-14 13:50] etishor commented on #505
Working on it :) cloned and trying to build on windows. I'm familiar with windows & unix dev environments, but i'm not familiar with go. Also "make" on windows...

As a side note, i'm looking for a good place to store data from my [Metrics project](https://github.com/etishor/Metrics.NET) and I hope prometheus can be that place.

[2015-05-14 19:43] kmandeville opened #697 "Scraping metrics that are behind a Basic Auth login"
I'm looking to monitor a Spring Boot app I have in production. Since it's in production, I didn't want people stumbling across the /metrics endpoints and others that come from actuator so I put them behind a username and password. I tried putting the username and password in the url in the config file which works in browsers:

username:password@http://blah.com/metrics

But that fails in Prometheus

[2015-05-14 20:02] fabxc commented on #697
It's because the URL scheme has to move to the beginning.
`http://username:password@blah.com/metrics`

With the next version, basic auth can be configured in what now is the `job` configuration.

[2015-05-14 20:04] kmandeville commented on #697
Oh, duh. Let me try that, thanks.

On 5/14/15, Fabian Reinartz <notifications@github.com> wrote:

[2015-05-14 22:07] fabxc commented on #697
I assume the issue is resolved with that.
If not, you can still comment.

[2015-05-14 22:07] #697 closed

[2015-05-14 22:20] brian-brazil commented on #505
As an aside, if you have a working Python environment on Windows if you could verify the fix in https://github.com/prometheus/client_python/pull/28 that'd be great.

[2015-05-15 13:07] fabxc commented on #504
The rule issue should be fixed by #694 as we no longer shutdown if rules don't parse.

[2015-05-15 18:26] #451 closed

[2015-05-16 09:08] thefallentree commented on #586
we can let user specify another time-range parameter (for example use last 5m to determine topK and show a 1day graph)  / or even queries, use to determine the resulting timeseries to show on the graph.

[2015-05-18 17:23] juliusv commented on #504
@fabxc But this previously only affected startups - and we still want to die when the configs/rules can't be parsed upon startup, no?

[2015-05-18 17:35] fabxc commented on #504
Yes, that's what I was talking about with @beorn7 before. We won't get around restructuring the storage startup.

You can find an attempt [in this branch.](https://github.com/prometheus/prometheus/compare/fabxc/servdisc...fabxc/cfg_check)

No background goroutines are started until after `Storage.Start()` knows that it can return without an error.
Chances are I missed something essential, so the g

[2015-05-19 14:57] fabxc commented on #504
Fixed by #704

[2015-05-19 14:57] #504 closed

[2015-05-20 05:34] abraithwaite commented on #609
Is there any reason this version can't be in the Makefile?

It'd be nice to build it from an archive which have predictable stable urls.

[2015-05-20 06:31] sanga commented on #509
Seems like the text at the bottom of this page requires some updating btw: http://prometheus.io/docs/operating/storage/

[2015-05-20 07:55] fabxc commented on #509
The docs are already updated, just has to go live. Which is temporarily
blocked, which is my fault.

On Wed, May 20, 2015 at 8:31 AM Tim Sampson <notifications@github.com>
wrote:

[2015-05-20 09:32] sanga commented on #509
Cool. Cheers

[2015-05-20 16:19] matthiasr commented on #609
Reopening, as discussed in #707 this is not really _fixed_ yet.

As a workaround, set the `VERSION` variable either as `VERSION=something make` or `make VERSION=something`. After #707, both do the same.

[2015-05-21 11:43] juliusv commented on #482
@brian-brazil I'm still not clear on how scalar/scalar would filter: if the return type is scalar as well, what would the return value be for something like `5 < 3`? `NaN`?

[2015-05-21 11:48] brian-brazil commented on #482
Hmm, yeah you'd need to make the result of scalar/scalar comparisons to be vectors for it to work - which would break other things.

That'd imply dropping support for it, and using absent({}) or maybe a one/iota/unity() function that returns a vector with a single no-label sample with value 1 for when you need to filter.

[2015-05-21 12:03] fabxc commented on #482
Devil's advocate - would it make sense to drop scalars all together and parse a number literal as a single-element vector without labels?
Except for arguments in functions such as `topk`.

We'd have to allow unary expressions for vectors. Label matching simply wouldn't make sense as the label set is empty.

[2015-05-21 12:14] fabxc commented on #539
#706?

[2015-05-21 12:18] beorn7 commented on #539
I guess we are good here. More optimizations would be possible, but from usage observed that far, probably not relevant.

[2015-05-21 12:18] #539 closed

[2015-05-21 12:58] brian-brazil commented on #482
That'd require group_left/group_right on "scalar"/vector operations, which'd be too overbearing considering how common that is.

[2015-05-21 15:18] beorn7 commented on #360
@fabxc Is that still valid? We use github.com/miekg/dns in retrieval/discovery/dns.go . Is that still needed/intended?

[2015-05-21 15:21] beorn7 commented on #173
Is this fixed with the new parser? @fabxc

[2015-05-21 15:23] beorn7 commented on #108
We had a discussion that it might be better to reload only upon SIGHUP (which is implemented by now).

Does anybody feel a strong need for a file watch? If yes, I'd be willing to make the point against it.
Otherwise, I'll just close this.

[2015-05-21 15:26] brian-brazil commented on #108
For configuration, a HUP is safest as it lets you do atomic changes.

[2015-05-21 16:05] juliusv commented on #360
We would have to re-try with the standard library. The fix back then didn't solve all problems IIRC, but it might be all good nowadays.

[2015-05-21 16:11] grobie commented on #360
What are the reasons to switch?

[2015-05-21 16:13] juliusv commented on #360
@grobie All things being equal, it's always nicer to use the standard library for something (if it works). Less dependencies, often simpler and almost guaranteed to be well-maintained.

[2015-05-21 16:13] juliusv commented on #360
That said, there's no pressure here at all to change this.

[2015-05-21 16:44] dylanmei commented on #108
This work is great. I can use console-template or confd to handle config changes and fire the SIGHUP.

[2015-05-21 16:48] #691 closed

[2015-05-21 17:42] fabxc commented on #173
Yes.

[2015-05-21 17:42] #173 closed

[2015-05-21 17:43] fabxc commented on #360
Having this in the back of my head for some time. Once this area is a bit
more stable I'll give it another shot.

On Thu, May 21, 2015 at 6:13 PM Julius Volz <notifications@github.com>
wrote:

[2015-05-21 17:45] fabxc commented on #108
As we don't apply bad config/rules it would work but so far we all agreed
that SIGHUP is the way to go.

On Thu, May 21, 2015 at 6:44 PM Dylan Meissner <notifications@github.com>
wrote:

[2015-05-22 07:38] stapelberg commented on #17
I think as a first step it’d be a good idea to evaluate rules in the order in which they were defined in the config file.

[2015-05-22 07:49] fabxc commented on #17
Currently we are reading the files and their rules in order. On each evaluation iteration, we evaluate concurrently, though, because naive sequential evaluation can take longer than the evaluation interval. In that case iterations are missed.

Side not: if the a single query in the concurrent evaluation takes longer, a whole iteration will be missed for all rules. We should not be waiting for all

[2015-05-22 09:20] gesellix opened #716 "allow to override the default PrometheusURL in alerts"
When running Prometheus in a Docker container and producing alerts, they contain a GeneratorURL looking like this: `http://b640ba8f91c1:9090//graph#...`. The `b640ba8f91c1` hash is a generated Docker container hostname. Obviously, such hostnames are useless in the actual alerts (or in the Alertmanager `/alerts` overview).

Would it make sense to add a configuration option  setting the desired exte

[2015-05-22 10:02] brian-brazil commented on #17
I've proposed that previously, some users are already at a point where that don't work for the reason @fabxc explains.

The last time we talked about this the plan was to add syntax to let you define a groups of rules, which would be run in order. Different groups could run at the same time then. This could also be used to enable things like allowing rules to access remote storage (which you would

[2015-05-22 10:03] brian-brazil commented on #716
I think this is a good idea.

[2015-05-22 10:12] gesellix commented on #716
@brian-brazil should I provide a PR?

[2015-05-22 10:18] brian-brazil commented on #716
If you can that'd be great.

[2015-05-22 10:19] juliusv commented on #716
@gesellix Add it as a flag to https://github.com/prometheus/prometheus/blob/master/web/web.go

[2015-05-22 10:21] gesellix commented on #716
@juliusv proposed flag name: `web.hostname` ok?

[2015-05-22 10:24] juliusv commented on #716
@gesellix Sounds good.

[2015-05-22 10:30] fabxc commented on #17
Mh, it seems like we can solve this internally. Not sure whether taking the issue to the user is the best approach here.

Building a dependency graph will also be more optimal than one hierarchy of logical grouping by the user.

[2015-05-22 10:48] brian-brazil commented on #17
This is only one aspect to the problem. What we also need to do is spread out the load of the rule evaluations, allow for cases when there's loops or things we can't determine about a dependency graph.

I'm think ordered groups of rules with some micro-optimisation where it's safe is the route to take.

[2015-05-22 11:12] fabxc commented on #17
I would think that cyclic dependencies error when reading the rules. Or are
there reasonable cases where it should be allowed?
With that, evaluating one chain of rules without blocking independent ones
is not an issue.

On Fri, May 22, 2015 at 12:48 PM Brian Brazil <notifications@github.com>
wrote:

[2015-05-22 11:19] brian-brazil commented on #17
there reasonable cases where it should be allowed?

There are advanced use cases where it comes up. It's also possible that there's rules that aren't actually cyclic, but where it's not possible for us to determine that due to e.g. use of regexes. You also wouldn't want to couple rule evaluation between jobs, as that could lead to a problem in one job taking out evaluation in another.

[2015-05-22 13:02] discordianfish commented on #108
:+1: for SIGHUP only. If someone needs disk watches they can use a simple shell fragment like:
```while inotifywait -e close_write prometheus.conf; do service reload prometheus; done```

[2015-05-22 15:03] beorn7 commented on #108
Thanks for your feedback. Closing.

[2015-05-22 15:03] #108 closed

[2015-05-23 01:14] tlopatic opened #721 "0.14.0rc1 hangs on restart"
Hey guys,

I am trying out Prometheus from the master branch with 5,000,000 time series (simulated 10,000 nodes with simulated 500 metrics each). When I start it initially with an empty data directory, things seem fine. When I control-C it, it seems to shut down cleanly. However, when I restart it, it hangs at this point:

  ...
  Indexing metrics in memory.
  10000 metrics queued for indexing.

T

[2015-05-23 04:12] a86c6f7964 opened #722 "GraphLinkForExpression needs to be left trimmed of / in rules/manager.go"
Currently graph links sent to alertmanager have an extra / in them for the GeneratorURL

[2015-05-23 08:12] fabxc commented on #721
Increasing the queue size just prevents the issue from showing but it's not a fix.
Thanks for reporting this.

@beorn7, this was reported on IRC as well.
Could this be a regression by #704 (I cannot see how) or could this be related to @juliusv's observeration from yesterday where indexing took very long for some reason (which was on a v0.13.x machine I assume).

@tlopatic with the default queue c

[2015-05-23 08:19] fabxc commented on #17
Can you elaborate on the "use of regexes" part. I know that there were plans to have `relabel()` in the QL at some point - are you referring to that?

[2015-05-23 08:33] juliusv commented on #721
@fabxc 5 million time series as per the above.

[2015-05-23 08:47] beorn7 commented on #721
Alrighty... two issues work together here:

1. @tlopatic Your storage is dirty after the seemingly clean shutdown. Either the shutdown was not clean after all, or something happened during the runtime that made it dirty. Could you check the logs of the first run of the server? There should be an error level message "The storage is now inconsistent. Restart Prometheus ASAP to initiate recovery."

2

[2015-05-23 08:48] beorn7 commented on #721
@fabxc I can try to fix (2) later today, but if you want to give it a spin, go ahead...

[2015-05-23 08:50] juliusv commented on #721
One guess at what's causing the storage to become dirty: you're scraping 10,000 targets, so you could be running out of file descriptors just for the TCP connections even if you're still on the default ulimit of 1024.

[2015-05-23 08:51] juliusv commented on #721
If that were the case, a storage write error would show up somewhere in the logs. In any case, it'd be interesting to take a look at the full logs.

[2015-05-23 09:05] juliusv commented on #17
@fabxc For example, if someone uses a regex matcher on the metric name in the rule expression, you can't analyze anymore whether the resulting metric name(s) would need some rule to be executed first. Same for other labels (you could have parts of one metric being selected in one rule, and other parts in another rule).

[2015-05-23 09:18] fabxc commented on #17
Ah, those regexes – of course, thanks!

[2015-05-23 10:05] tlopatic commented on #721
Thanks for your quick response, guys. Let me fill in some of the gaps.

I am running 20 instances of a small Python script that simulates a collectd_exporter. So, there aren't more than 20 scrapes going on at any time. Each script simulates 500 nodes with 500 metrics, i.e., 250,000 time series. That multiplied by 20 gives the 5,000,000 time series.

I waited for at least 10 minutes after the "1000

[2015-05-23 10:11] tlopatic commented on #721
Oh, and I set GOMAXPROCS to 24. See start.sh.

[2015-05-23 10:19] tlopatic commented on #721
You know what, I just restarted Prometheus so that you don't have to wait for the log. And, yes, there's indeed an error message. See this log snippet:

  http://lopatic.de/log-1.txt

Looks like a race condition, no? The fingerprint mappings are checkpointed by two threads in parallel, one of them gets to rename mappings.db.tmp, the other doesn't, and an error is reported.

[2015-05-23 10:52] fabxc commented on #721
Nice testing setup – and thanks for all the details.
I think your analysis is correct.

Looks like we have to do a full lock in [this section](https://github.com/prometheus/prometheus/blob/master/storage/local/mapper.go#L144-L147). But @beorn7 has to confirm that.

If so, we have to do a v0.13.4 as well.

[2015-05-23 11:03] juliusv commented on #721
@tlopatic Ok, if that was the problem and not the file descriptors, I guess you actually increased your ulimit from the default of 1024 already? I'm quite impressed that you manage to sustain a 5-second scrape rate for 5 million time series. I think you may have just pushed the boundaries of what a single Prometheus server can do :)

[2015-05-23 11:06] fabxc commented on #721
By a factor of 2.5, IIRC :)

[2015-05-23 11:09] gesellix commented on #716
resolved with #717

[2015-05-23 11:09] #716 closed

[2015-05-23 11:36] beorn7 commented on #721
@fabxc Yeah, right, we need the RW lock in that section...

So cool, two bugs found, one about the checkpointing of FP mappings, one about the startup order.

The former never bit us because collisions are so rare - in non-pathologic setups.

@juliusv : The problems @tlopatic ran into are true bugs. Once they are fixed, we can see if the boundaries have been pushed too far at all... Prometheus mig

[2015-05-23 13:37] fabxc commented on #721
@tlopatic once #724 is merged, both bugs should be fixed in `master`.
Thanks again for the detailed report.

[2015-05-23 13:52] tlopatic commented on #721
Are you calling my setup PATHOLOGICAL?! ;)

Thanks for the fast help on a Saturday, BTW. That's great!

Let's take the 5,000,000 time series every 5 seconds with a grain of salt for now. I've only been playing with Prometheus for a few hours and so far I've mostly spent my time on understanding its internals and what exactly the configuration options do.

Let me run this for a few hours or days to

[2015-05-23 13:56] tlopatic commented on #721
Oh, and I didn't increase my file descriptor ulimit. I am only talking to 20 simulated collectd_exporters, each of which pretends to have 500 metrics for 500 targets/instances, i.e., 250,000 time series. So, unless I am missing something, there shouldn't be more than 20 concurrent TCP connections at any time.

[2015-05-23 14:01] juliusv commented on #721
Ah yes, that makes FD issues very unlikely.

As for the ingestion rate, graphing `rate(prometheus_local_storage_ingested_samples_total[5m])` could be interesting (the per-second rate of ingested samples). We would expect ingestion to be really fast as long as nothing has to be written to disk. Over time, as you are running through the whole lifecycle of time series (writing out chunks, accumulatin

[2015-05-23 14:53] beorn7 commented on #721
https://github.com/prometheus/prometheus/pull/724 is merged. This is fixed!

Binaries will be released very soon.

[2015-05-23 14:53] #721 closed

[2015-05-23 16:43] juliusv commented on #721
@beorn7 @fabxc You guys rock!

[2015-05-23 17:16] jmcfarlane commented on #721
Confirmed this fixed the deadlock issue for us as well (I'm the one who reported in irc).

Thanks!

[2015-05-23 17:17] juliusv commented on #722
@a86c6f7964 Thanks! Never noticed this because the links were still working anyways for me. A fix is in https://github.com/prometheus/prometheus/pull/729

[2015-05-23 17:18] juliusv commented on #721
@jmcfarlane Great, thanks for the confirmation!

[2015-05-23 20:25] #722 closed