[2022-02-10 15:05] csmarchbanks commented on #10264
Hello, just starting to look at this. @xenofree in your goroutine dump it looks like there is one shard that is blocked on sending data (see the goroutine starting at line 435), then a few other shards that cannot receive data anymore as the buffer has filled. That sounds like there is some sort of issue with the remote system, or writing to the remote system. What do `rate(prometheus_remote_stora

[2022-02-10 15:23] csmarchbanks commented on #10264
I think I found where a deadlock is happening when resharding and one of the shards hits its batch_send_deadline. I am going to try to get a PR with a fix out today. In the meantime you can set min_shards = max_shards at a reasonably high value to make sure that code path is not hit.

[2022-02-10 18:39] c054864 commented on #10271
We've started receiving the same panic with our prometheus implementation today, out the blue with no changes.

[code]

[2022-02-10 20:44] LeviHarrison commented on #10271
That's interesting because this bug has been present since v2.9, but only now it's showing up. Maybe something changed on Azure's side?

[2022-02-10 20:52] LeviHarrison commented on #10271
I've opened #10280 to fix this.

[2022-02-10 23:40] rfratto commented on #10204
Yes, an initial fix (#10166) was released in v2.33.0-rc.1 and then v2.33.0, but I might've missed another case where a deadlock can happen (though scanning through the code nothing sticks out at me).

[2022-02-11 00:22] LeviHarrison commented on #10271
This will be fixed in 2.33.2.

[2022-02-11 00:54] KetchupBomb commented on #10141
I finally got around to dumping this information. I will skip the `tcpdump` set up for now as I believe we can focus on the relevant data in the response from the Docker daemon. (Let me know if you want these details.)

---

I am including three containers from the Docker daemon response to Prometheus:
* `mysql`: Actual MySQL container.
* `exporter__mysqld`: The Prometheus MySQL exporter, associat

[2022-02-11 01:52] steve-exley commented on #10264
Thank @csmarchbanks ,

I have built a docker image with the fix and deployed it to one of our clusters. The issue has been occurring intermittently so it will be hard to confirm it is fixed.

I looked for the `prometheus_remote_storage_sent_batch_duration_seconds ` and other metrics on the receiving Prometheus instance and got no result. The metrics may be on the source Prometheus instances, but I

[2022-02-11 08:13] keegancsmith commented on #8862
I pushed https://github.com/prometheus/prometheus/pull/10282 to resolve CVE-2021-43816 report spam.

[2022-02-11 09:04] roidelapluie opened #10283 "Falky test on windows"
https://app.circleci.com/pipelines/github/prometheus/prometheus/15920/workflows/9d30d9e2-35ea-47e6-95a2-440976b3d6ed/jobs/75648

[code]

[2022-02-11 10:39] metalmatze commented on #5865
Hey, I've posted a PR with two new chunk encodings and a CLI command for promtool to analyze existing blocks in #10275.
It would be great if you could run these analysis in your environments and report back some of the stats out of that.

[2022-02-11 11:55] valyala opened #10284 "Missing docs for `__meta_kubernetes_endpoints_label*` labels"
The commit https://github.com/prometheus/prometheus/commit/617c56f55a14b7f6ed4f0f4402c1e18aaf3b396c adds new labels for `role: endpoints`: `__meta_kubernetes_endpoints_label_*` and `__meta_kubernetes_endpoints_labelpresent_*`. But these labels aren't documented at https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config . This may prevent from the usage of the

[2022-02-11 12:25] jaydrue commented on #10271
We also discovered this today out of the blue. We were running on an older version. Upgrading to the latest version 2.33.1 did not help to solve the issue.

Here are the logs
[code]

[2022-02-11 12:38] roidelapluie commented on #10271
I guess azure changed something in their API's.

[2022-02-11 12:38] LeviHarrison commented on #10271
Yeah, unfortunately upgrading won't help as the fix hasn't made a release yet. We're hoping to get 2.33.2, which has the fix, out as soon as possible. In the meantime, you can build the patched version yourself if you wish from the `release-2.33` branch.

[2022-02-11 15:02] JensErat opened #10287 "Support percentage values in size-based retention"
## Proposal

I'd love to see percentage values supported in size-based retenation. Prometheus might determine disk size on startup, and configure the disk size to n percent of this. For example: `--storage.tsdb.retention.size=90%` would configure a limit of 9GiB for a 10GiB disk.

This seems rather easily possible by using the syscall directly, or import Minio libraries (didn't check what license

[2022-02-11 16:10] roidelapluie commented on #10115
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2022-02-11 16:10] #10115 closed

[2022-02-11 16:13] roidelapluie commented on #10271
A new release is out.

[2022-02-11 16:21] LeviHarrison commented on #10271
Thanks for your work getting the release out so quickly!

[2022-02-11 17:51] jaydrue commented on #10271
Maybe some interesting context:

We are running with multiple subscriptions and have all VMs that we monitor in 1 subscription, and only scalesets in the other, plus one additional VM in both subscriptions where prometheus is hosted on a single VM.
Prometheus is working perfectly in the subscription where we don't have any VMs deployed. Just for the fun of it, I deployed a VM there to see if I can

[2022-02-11 18:14] roidelapluie commented on #10271
Mmmh the last panic you have sent is about line 364.

[2022-02-11 18:53] dgiagio commented on #10271
Pulled the fix, and still having the error. The line with the error is now `364`. Seems like `ip` itself is `nil`.

https://github.com/prometheus/prometheus/blob/b4714db0a6108aa7ef9c13daa12ac8eb6b5504a1/discovery/azure/azure.go#L363-L366

[2022-02-11 19:11] LeviHarrison commented on #10271
Interesting. So I guess we need to `nil`-check the `ip` now?

[2022-02-11 19:57] roidelapluie commented on #10271
Can you please try #10289?

Pre-built binaries from our CI: https://app.circleci.com/pipelines/github/prometheus/prometheus/15928/workflows/bb6f9612-032a-407e-a204-66282a431552/jobs/75697/artifacts

[2022-02-11 20:21] jaydrue commented on #10271
Yes! You guys are amazing! That one works!

[2022-02-11 21:45] TheDarkula opened #10290 "Building Version 2.33.2 Fails Because Of Dependency Changes"
Currently, two dependencies break the build in this file: prometheus/prometheus/web/ui/react-app/package.json.

This is being built in a biome/habitat container (docker, essentially).

It fails with this error:
[code]

There is a temporary fix for fontawesome incompatibility [here](https://github.com/FortAwesome/react-fontawesome/issues/462#issuecomment-1035307718).

This:
	`"@fortawesome/fontawes

[2022-02-11 22:09] chrismwendt opened #10291 "panic: expected newly cut file to have sequence:offset"
**Environment**

* System information: Darwin 20.6.0 arm64

* Prometheus version:

[code]

* Logs:

[code]

[2022-02-12 00:21] roidelapluie commented on #10271
2.33.3 has been released.

[2022-02-12 00:21] #10271 closed

[2022-02-12 07:01] Kanika637 commented on #10290
Hey @TheDarkula, I would like to work on this issue.

[2022-02-13 14:04] jyz0309 commented on #10117
I have tried to resolve this issue in #10295 .

[2022-02-14 15:28] Kanika637 commented on #10290
Any updates @TheDarkula ?

[2022-02-14 16:01] gucki opened #10298 "vector matching always return empty vector"
I try to add up the rates of various error counters. Each metric contains entries with the same disk/ instances, which I verified by running the individual rate(..) queries alone. However, trying to add them always returns in an empty vector. Thus I assume this is a bug.

rate(smartmon_reallocated_sector_ct_raw_value[5m]) +
on (disk, instance) rate(smartmon_reallocated_event_count_raw_value[5m])

[2022-02-14 18:23] TheDarkula commented on #10290
Sounds great :)
I have provided all the necessary details to fix the issue. Is there something else you need from me?

[2022-02-15 04:02] Kanika637 commented on #10290
Ok, let me then start working on this...

[2022-02-15 05:12] Kanika637 commented on #10290
Actually, you have not assigned me so the permission is denied...I can't push anything

[2022-02-15 05:25] moey920 commented on #5976
I tried all of the above methods, but it did not work, and I found a solution after wandering around not knowing the PV mount location that is automatically created when helm is installed.
Hope this helps someone.
In my case it was installing Prometheus on top of Minikube.

0. This was a case where k8s and Prometheus were built on the server, and the client on the internal network connected and us

[2022-02-15 10:55] replacewithname commented on #10291
Don't know if it helps:

I had the same error message yesterday on arm64 Kubernetes with version 2.33.3.

I downgraded to 2.32.1 to see wether the minor version caused the bug. The container started by reapplying the WAL and then failing with a "no space left on device" error. My PersistentVolume was exceeded.

I extended the PV and the corresponding claim, restarted the pod and the WAL was succes

[2022-02-15 10:59] mveroone opened #10299 "No systematic DNS resolution against targets"
**What did you do?**
I have changed the DNS record of a target of a node_exporter job

**What did you expect to see?**
The polling switched to the new target as soon as the DNS replication is propagated to Prometheus

**What did you see instead? Under which circumstances?**
Prometheus kept polling the old IP until I restarted the prometheus daemon. (reload didn't help)

**Environment**
RHEL 7.9

*

[2022-02-15 11:22] cmonty14 opened #10301 "Deleting target from Prometheus"
**What did you do?**
After deploying node exported on client the new target is available in Prometheus.
However the client has sent wrong hostname.
Therefore I stopped the relevant service _prometheus-node_exporter.service_ on client.

Then I executed this command on Prometheus server to delete time series of the relevant client:
`curl -s -X POST -g 'http://localhost:9090/api/v1/admin/tsdb/delete_

[2022-02-15 16:03] moadz commented on #10181
@aughr

Not quite as these would be changes to the Query API, not the Store API (Cortex & Thanos make use of direct selects on the TSDB as opposed to via the query path)

That being said, I do want to look into exposing these query stats via the Thanos query API as well. So any standard set here should be followed upstream in Cortex/Thanos.

I would also like to hear more about how you intend to u

[2022-02-15 16:33] csmarchbanks commented on #10264
[2.33.2](https://github.com/prometheus/prometheus/releases/tag/v2.33.2) and [2.33.3](https://github.com/prometheus/prometheus/releases/tag/v2.33.3) have been released with what I believe to be a fix for this. Let me know if you still see this issue and I will dig in further.

[2022-02-15 17:00] #10117 closed

[2022-02-15 18:17] Nexucis commented on #10290
@TheDarkula we don't have any issue with the build in Prometheus at least. The version is actually fixed in https://github.com/prometheus/prometheus/blob/main/web/ui/package-lock.json. Which is why we don't face the issue you are raising I think.

Could you clarify exactly what you are doing when you said it doesn't build ? I guess you are rebuilding prometheus on your side, so perhaps it missed s

[2022-02-15 23:27] roidelapluie commented on #10298
Can you please provide us example of metrics? Thanks.

[2022-02-16 04:58] Kanika637 commented on #10290
Ok, @Nexucis  I will wait for @TheDarkula 's answer...

[2022-02-16 09:12] roidelapluie commented on #10226
Even if vendors commit to support for their SD, it's critical as Prometheus maintainer to have access to the infrastructure. Would it be possible to get a test account to validate and maintain the SD over the long term? We have a few SD's where I use personal account to develop/maintain and I like to avoid it for new SD's.

Also  the fact that the second message already speaks about hitting limits

[2022-02-16 12:06] hhoffstaette commented on #10291
This started happening with 2.33.0 and has nothing to do with storage being faulty; 2.32.x indeed works fine.

[2022-02-16 14:08] ydayagi opened #10304 "feature request: extend agent to write/read to/from filesystem instead of in-memory with retention"
## Background of the problem
Hi.
We are working on managing edge devices from a central management application. Management application executes in k8s.

At the moment, we collect/scrape metrics ourselves in the device. Metrics are saved in TSDB format.
We need to send these metrics to the k8s cluster.
In the cluster, metrics should be available for querying. Either by user or Grafana.
We also need

[2022-02-16 14:09] ydayagi commented on #10304
@bwplotka here's a new issue following our discussion. Thanks for all your help. appreciate it.

[2022-02-16 14:19] roidelapluie commented on #10291
@codesome could this be linked to #10051 ?

[2022-02-16 18:06] rakyll commented on #9310
We've been considering a few options how we can support this on ECS more natively so the autodiscovery problem becomes a non-problem. If existing solutions are sufficient for now, I'd highly recommend using them. I'll update the proposal once we have something more concrete.

[2022-02-16 21:12] #10158 closed

[2022-02-16 21:45] steve-exley commented on #10264
Thanks @csmarchbanks . No issues so far with the patched version. We have deployed the new release over multiple clusters now and will continue to monitor.

[2022-02-16 23:25] jbehrends opened #10308 "EKS deployment of Prom: remote_write using sigv4 defaults to the wrong STS endpoint for private VPCs"
**What did you do?**
AWS:  Inside of a private VPC ( by default no outbound access, but has VPC PrivateLink endpoints configured for AWS services.) we've deployed Prometheus into and EKS cluster using the kube-prometheus-stack Helm chart.

Configured prometheus to remote_write to a AWS Managed Prometheus endpoint using IaM Roles for Service Accounts as per the official documentation:  https://docs

[2022-02-17 10:13] tianshuang commented on #6894
Is this problem solved? We had the same problem with version 2.27.0.

[2022-02-17 10:28] codesome commented on #9879
Oh right, we need to check from the Head as well.

Not sure I understand what change is it

[2022-02-17 10:45] codesome commented on #10287
Can the total disk size change while Prometheus is running?

[2022-02-17 11:04] codesome commented on #10291
@roidelapluie yes. We faced this issue as well and working on a patch and will require a patch release. We think it is because of failed m-map chunk replays.

@chrismwendt could you share some more logs right before the panic happened? (to confirm our hypothesis)

[2022-02-17 11:22] mst-ableton opened #10309 "Add more detailed metrics to http_sd_config"
## Proposal

It would be nice to get metrics from within Prometheus as to whether an `http_sd_config` refresh succeeded or failed.  It would also be nice to have the timestamp of the last time an `http_sd_config` succeeded. Right now, the only metric I can find is `prometheus_sd_refresh_failures` which only notifies of global service discovery failures. Examples of other service discovery metrics

[2022-02-17 11:54] codesome commented on #10283
@replay is it possible that it is happening because of the queue?

[2022-02-17 13:18] Sunyelw opened #10310 "An misunderstand of suggestion of ''exceeded maximum resolution''"
When I got this error

[code]

I think it should increase step not decrease, right?

[2022-02-17 13:27] codesome commented on #10291
Our hypothesis that it might be because of failed m-map chunks might not be right (if m-map files were deleted during the replay, then there is still a bug and will be fixed, but in our particular case, no m-map files were deleted by the repair). We are still investigating.

[2022-02-17 17:09] tomwilkie commented on #8852
Alternative suggestion:

As per @beorn7, change our future release tags to a format that Go Modules doesn't recognise. But keep the code itself "un versioned" eg pre-v1. This sends the signal that our released binaries follow semver - but that the code doesn't, and that updating the code between any version can cause breakage (see https://go.dev/ref/mod):

This would require us to rename / change

[2022-02-17 17:36] jeromeinsf commented on #10308
Adding to the conversation that STSRegionalEndpoints can be activated/deactivated https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html#sts-regions-activate-deactivate so once can probably not only use regional endpoints

[2022-02-17 17:43] tomwilkie commented on #8852
Alternative proposal:

We change all past & future release tags to a format that Go Modules doesn't recognize as Beorn suggested.   This allows us to express the semantic

We stick to the current module layout, and in effect become pre

[2022-02-17 17:47] bboreham commented on #8852
Can you clarify: your suggestion includes deleting all the `v1` tags in this repo?

[2022-02-17 17:54] tomwilkie commented on #8852
All the historic tags would be changed to release-X.Y.Z instead of X.Y.Z or vX.Y.Z.  Is that even possible?

[2022-02-17 18:57] robertauer commented on #10291
I experienced the same issue with Prometheus 2.33.3 four days ago. Restarted it and until now it hasn't occurred again.

[2022-02-18 09:28] codesome commented on #10291
@chrismwendt @robertauer could you maybe share your Prometheus config and CLI flags? Mainly looking at the scrape interval and other TSDB settings.

[2022-02-18 09:33] Sunyelw opened #10313 "Why they are not the same by an same PromQL on different time."
Why they are not the same and so different?

<img width="657" alt="image" src="https://user-images.githubusercontent.com/31758533/154656059-ab52c95d-8616-44a2-b0c7-90e500ceee13.png">

[2022-02-18 10:57] gillg opened #10314 "Handle saves/deletes on /api/v1/rules"
## Proposal
### Is your proposal related to a problem?

Grafana since v8 introduced a very useful alerting UI for end users.
They rely in background on an internal alertmanager not able to receive alerts from outside, native Alertmanager APIs to manage a remote instance, and some Cortex metrics APIs to manage all alerting from 1 place.

**Using Grafana to evaluate alerting rules is a SPOF and late

[2022-02-18 11:02] metalmatze commented on #10257
We've now discovered this on our PolarSignals GKE cluster too.
I'll take a closer look at it next week.

In the meantime I've deleted the old Pods with:
[code]

[2022-02-18 11:29] codesome commented on #10291
I was able to reproduce it https://gist.github.com/codesome/326738056f5cef48563f25d4ad4c0af3

In our case, we also saw failed m-map chunks replay, but that happened after the panic. So the above test reproduces the following hypothesis:
1. The scrape interval is >30m. Which makes a chunk to be >1h long.
2. So when there is >2h of data, but <3h, 2 chunks would be m-mapped, remaining data is in the

[2022-02-18 12:09] codesome opened #10315 "Panic after failed m-map file replay due to corruption"
As described in https://github.com/prometheus/prometheus/issues/10291#issuecomment-1044373110, if there was a m-map file corruption and we ended up deleting a bunch of m-map files during replay, we are not updating the expected next file in the async queue recently introduced in https://github.com/prometheus/prometheus/pull/10051. This can cause similar panic as #10291.

I am working on a fix alon

[2022-02-18 20:50] mayurOciSA commented on #10226
Hi @roidelapluie
Definitely. What are your requirements for the test account in terms of what services/service limits are required?

I would love to understand more about the red flag you mentioned. For context, each discovery job starts at a region and a compartment in a tenancy. Each of the calls has its own rate limits per region. We will have recommendations in service discovery documentation

[2022-02-18 22:13] roidelapluie commented on #9187
can we use containers labels instead? Thanks!

[2022-02-18 23:06] zmt commented on #7836
[This comment in go.mod](https://github.com/prometheus/prometheus/blob/v2.33.3/go.mod#L89) led me to this issue, but this issue can almost certainly be closed and that comment removed since I see [many newer versions of grpc in go.sum](https://github.com/prometheus/prometheus/blob/v2.33.3/go.sum#L1932-L1948)

[2022-02-19 08:26] roidelapluie commented on #10314
I'd like to avoid mangling files on disk. If we were to support something like this, it would be hard to remove it later.

I think it makes more sense to go directly to a database rather than letting the users access the local filesystem.

[2022-02-20 10:48] j0holo commented on #8877
Is there a way I can help with testing this fix?

[2022-02-20 23:18] roidelapluie commented on #8852
My preference is to just move prometheus to v2. As said before, it would enable dependabot to work, and clarify which version of prometheus you are consuming. I think the cons- are not worth blocking us from doing so.

[2022-02-21 07:31] kousui-dev opened #10318 "About the data storage period of prometheus"
We have set 15 days as the data storage period for prometheus.
However, in the graph of grafana, which uses prometheus as a data source
However, the graph in grafana, which uses prometheus as a data source, shows data from the middle of 16 days ago (around 15:00).
You can see not only the data for 15 days (360 hours), which is the data storage period, but also the data from
What could be the reaso

[2022-02-21 11:10] metalmatze commented on #10257
Alright, look a bit around since the issue started showing up over the weekend again.
It seems like Prometheus itself is doing just fine. I don't see any errors and all Prometheus Kubernetes SD looks just fine too.

![prom1](https://user-images.githubusercontent.com/872251/154943215-8cbc3483-0cf9-42c4-923d-79fda58e8bab.png)
![prom2](https://user-images.githubusercontent.com/872251/154943195-c9f5e9

[2022-02-21 11:17] thibautmery opened #10319 "__meta_puppetdb_title is truncated"
**What did you do?**

Hello,
I'm using puppetdb_sd_configs to get automatically exporter.
[code]

**What did you expect to see?**

I'm expected to get the real title of puppet ressources.
The expected label:
`__meta_puppetdb_title: "fqdn:port"`

**What did you see instead? Under which circumstances?**

Get:
`__meta_puppetdb_title: "fqdn:"`

"port" is indeed a number, prometheus remove the end of t

[2022-02-21 11:35] fpetkovski commented on #10257
To me it looks like `notReadyAddresses` are treated the same way as regular addresses, with the exception that the `kubernetes_endpoint_ready` label is set to false: https://github.com/prometheus/prometheus/blob/e239e3ee8b13b51b0f791a199813a14f74600a7e/discovery/kubernetes/endpoints.go#L304-L306
Not sure if this is intended or not though.

A solution could be to exclude pods in the `Succeeded` pha

[2022-02-21 11:37] metalmatze commented on #10257
In the service discovery I can see the `__meta_kubernetes_endpoint_ready="false"` being set to `false` correctly.
Reading through https://github.com/prometheus-operator/prometheus-operator/issues/3965, I'm more of the impression that it is a semantic decision on what makes sense for a given environment.

On my personal Scaleway cluster these unready Pods will be cleaned up quite quickly by the API

[2022-02-21 11:58] PhilipGough commented on #10257
Reading https://github.com/kubernetes/kubernetes/issues/99986 your assumption seems correct.

GC is [configurable](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-garbage-collection) with a flag in kube-controller-manager

[2022-02-21 12:21] metalmatze commented on #10257
This doesn't see to be configurable on GKE, so at least there we'll probably going to have to filter out all unready endpoints :man_shrugging:
https://issuetracker.google.com/issues/172663707?pli=1

[2022-02-21 12:55] roidelapluie commented on #10319
I do not think we mangle what we receive back from the API. Do you have a sample JSON from your PuppetDB to help us debug this?

[2022-02-21 13:04] thibautmery commented on #10319
Yes I have (fqdn name of the server), I obsfuscate all data
[code]

[2022-02-21 15:10] beorn7 commented on #8852
If `retract` allows us to present a v0.x module to the Go Modules framework, that might be the way to go. I still think pretending to fulfill the Go Module contract by presenting a formally valid v2.x module but then still release API-breaking changes within the same v2.x major release is much worse than not playing along at all in an obvious fashion.

[2022-02-21 16:35] invidian commented on #8852
I usually find adding `/v2` to Go module a good way to bring some old project up to recent Go module requirements. Of course from this point, in case of any breaking changes, it should be updated to v3 and so on. v2 code can be then managed in a release branch. This way you can keep supporting "stable" users, you can add deprecation messages and you can roll new versions. IIRC I think this also wo

[2022-02-21 17:28] beorn7 commented on #8852
@invidian That's essentially what I proposed as "another 'easy' idea" [above](https://github.com/prometheus/prometheus/issues/8852#issuecomment-1026838778). Note that it requires to use a new tag format for our normal product releases (because we don't want to signal a breaking change to the users where there is on breaking change for users).

Also note (as also said above) that the prometheus/pro

[2022-02-21 17:35] invidian commented on #8852
That sounds like a code-smell to me. Usually it should be possible to rollout backward compatible changes by expanding the API + deprecating older calls. If that's really the case, perhaps indeed some kind of new module (generic prometheus library) should be rolled out with this repo adopting it eventually, which will have either more stable API or will be able to get version bumps more frequently

[2022-02-21 20:55] mbakish opened #10325 "prometheus crush when using azure_sd_configs"
**What did you do?**
I have deployed prometheus on AKS with the following configuration:
chart kube-prometheus-stack version 19.1.0
[code]
I also tried updating to the latest prometheus version

**What did you expect to see?**
I have other subscriptions with the same config that were able to scrape the VMs

**What did you see instead? Under which circumstances?**
Prometheus pods restarts with the

[2022-02-21 21:53] roidelapluie commented on #10325
Thanks for your report. Did you try Prometheus 2.33.3? This release fixes some panics in the Azure SD.

[2022-02-21 22:58] roidelapluie commented on #10319
Can we see your prometheus configuration? I suspect you might have relabel configs that remove the port.

[2022-02-22 06:04] MuhammadMunir12 opened #10327 "Looking for file or path to database in prometheus where alerts are stored in json or other format that reflects in grafana"
**What did you do?**
I am not sure whether this is right forum to ask this questions but I am looking for file or path to database in prometheus where alerts are stored in json or other format that reflects in grafana. I want to write a scripts to take some actions based on alerts/triggers. Normally alerts can be seen on dashboard and notified accordingly on email or messages. My concerns is to tr

[2022-02-22 09:40] DrAuYueng commented on #10314
Sounds good.

[2022-02-22 10:47] roidelapluie commented on #8852
I think we could move the repository to a multi-module repository, with each part being v0.x unless / which only contains cmd/.
The trick to achieve this in an efficient way would be to use go 1.18 workspaces. I guess I will look into this further down as this option has not been considered yet.

[2022-02-22 11:26] Eljah opened #10330 "A syntax for querying of metrics1/metrics2 calculation ratio where metrics1 and metrics2 are diffrerent metrics sharing the same capturing group in regex."
I have a couple of metrics like:

camel_proxy_feature1_sum
camel_proxy_feature1_count
camel_proxy_feature2_sum
camel_proxy_feature2_count

I'd like to plot the calculation of camel_proxy.*sum/camel_proxy.*count and for now can't figure out how to query a vector for that correctly

If I try

label_replace({__name__=~"camel_proxy.*sum"},"name_label","$1","__name__", "(.+)")/label_replace({__name__=~

[2022-02-22 11:51] mbakish commented on #10325
thanks @roidelapluie - the upgrade to 2.33.3 helped

[2022-02-22 13:18] reduakt commented on #10264
We didn't have any problems in prior versions, but now we found this occurs since February 15 (version 2.33.3):
[code]
[code]
Does anyone have any idea why this is happening? The fix should be applied, but the problem can still occur?

[2022-02-22 15:24] #10325 closed

[2022-02-22 16:07] #10225 closed

[2022-02-22 16:19] codesome commented on #10291
Closed by https://github.com/prometheus/prometheus/pull/10316, will be fixed in v2.33.4

[2022-02-22 16:19] #10291 closed

[2022-02-22 16:19] codesome commented on #10315
Closed by https://github.com/prometheus/prometheus/pull/10316, will be fixed in v2.33.4

[2022-02-22 16:19] #10315 closed

[2022-02-22 17:44] csmarchbanks commented on #10264
Hmm, according to your logs resharding did not occur in the first place so this may be a different issue. The deadlock that I fixed was only possible to encounter during reshard or shutdown. Unless your log level is set to warn instead of info? Also, would you be able to provide a goroutine dump?

Just to verify, you are also seeing that sending never starts again? Some of the results of the metri

[2022-02-22 17:45] SindhuraGowri opened #10339 "Implement oauth2 using refresh_token"
## Proposal
**Use case. Why is this important?**

Current implementation of oauth2 uses client_credentials (client_id and client_secret) https://www.oauth.com/oauth2-servers/access-tokens/client-credentials/ but for oauth2 authentication using refresh_token requires (refresh_token secret) https://www.oauth.com/oauth2-servers/access-tokens/refreshing-access-tokens/.
When the endpoint has oauth2 aut

[2022-02-22 17:48] SindhuraGowri commented on #10339
I am working on this enhancement and the proposed design is to introduce **refresh_token** and **grant_type** attributes in the oauth2 - https://prometheus.io/docs/prometheus/latest/configuration/configuration/#oauth2 and fetch access_token from given refresh_token or client_credentials

[2022-02-22 20:13] roidelapluie commented on #10339
What is your usecase? refresh_token is something that a client gets when it authenticates for the first time. This should not be used in a configuration file. Additionally, I'd like to keep the fact that our oauth implementation is only using golang.org/x/ and stdlib libraries.

[2022-02-22 21:10] beorn7 commented on #8852
That's true if you see the primary goal of prometheus/prometheus to provide a library for others to use. However, the actual primary goal is to provide a world-leading metrics-based monitoring system and maximize the innovation and dev speed for it. That's why there was so much quite controversial discussion how much effort the Prometheus devs should invest into making prometheus/prometheus _also_

[2022-02-22 23:44] mike-stewart opened #10343 "ECR Public Gallery"
Would you consider also hosting your container image on ECR Public? This would be beneficial to AWS customers who are constrained by Dockerhub rate limiting.

[2022-02-23 07:16] TaylorMutch commented on #7192
From @skupjoe

I just went through the same thing using https://github.com/jacksontj/promxy and had `external_labels` set in my global config; removing that configuration made everything work.

[2022-02-23 07:46] YukkiKaze opened #10342 "Is it possible that alert carry ActiveAt field?"
## Proposal
When prometheus send alert to alertmanager,  alertmanager will get `StartsAt` `EndsAt` fileld,
https://github.com/prometheus/prometheus/blob/main/cmd/prometheus/main.go#L1238
when alert source host and target host time synchronized, there is nothing to worry about.
But if alert source host's time is falling behind target host for several hours, this alert will never be sent out by aler

[2022-02-23 08:12] SuperQ commented on #10343
For reference, this is about adding Prometheus to https://gallery.ecr.aws/

[2022-02-23 08:16] SuperQ commented on #10343
Another way we could handle this is to setup something like https://github.com/xelalexv/dregsy.

[2022-02-23 09:41] SindhuraGowri commented on #10339
Usecase -

We have an endpoint with oauth2 authentication which needs to be scraped by
prometheus serviceMonitor.  This oauth2 authentication is based on
refresh_token
https://www.oauth.com/oauth2-servers/access-tokens/refreshing-access-tokens/
This refresh_token(long lived) generation is one time effort but the
endpoint is only accessed using the access_token which is generated by
refresh_token a

[2022-02-23 11:36] GiedriusS commented on #10101
But things such as `rate` only modify each matching time series in place, right? Could you please elaborate? One blocker that I can think of is how from the result returned by `query_range` it is not clear whether there were any gaps in the data so it is impossible to deduplicate correctly without this information.

[2022-02-23 13:07] SindhuraGowri commented on #10339
Process - We have an authenticated (oauth2 - refresh-token based - https://www.oauth.com/oauth2-servers/access-tokens/refreshing-access-tokens/ ) endpoint that needs to be scraped by prometheus-operator. We actually get the refresh_token for the first time from the client_credentials. Using this refresh_token alone we need to hit the token_url to get  the access_token using which we can access the

[2022-02-23 13:23] thibautmery commented on #10319
I already check this, in fact we were not using puppetdb-sd, I wanted to try this.

It's the first time I use `__meta_puppetdb_title`.

For the prometheus configuration of the job:
[code]

`__meta_puppetdb_title` is not use in any configuration file

[2022-02-23 14:35] slashpai opened #10344 "Label limits not working as expected"
**What did you do?**

I tried using label limits with [docker-compose](https://github.com/slashpai/prometheus-docker-compose)

1. Initial config label_limit to a value that should fail the scrape -> scrape fail (Expected)

<img width="1779" alt="Screenshot 2022-02-22 at 11 46 21 AM" src="https://user-images.githubusercontent.com/5638849/155085021-1b16deb3-97a6-4935-a81b-4792f7bed364.png">

2. Incr

[2022-02-23 17:41] matthiasr commented on #10343
As a workaround, we also publish (most?) images to quay.io, which AFAIK does not have rate limits for pulling.

[2022-02-23 18:00] mike-stewart commented on #10343
This is an example of one of the projects that's only on dockerhub: https://github.com/prometheus/statsd_exporter

I can log an issue for that repo specifically if that makes more sense. I wasn't sure if this was a repo-specific policy or not.

[2022-02-23 21:36] csmarchbanks commented on #10167
Since there was concern expressed around removing the remote-write-receiver flag in v2.34 I will leave it for another release. Does removing it in v2.35 sound ok to everyone? If so I will update this issue.

I believe the bug @codesome needs to fix is related to memory-snapshot-on-shutdown so that should be left for at least another release as well.

[2022-02-24 07:30] codesome commented on #10277
The m-map replay and recovery from a corruption works fine right now. This bug is to do with snapshot replay.

When there is a snapshot replay, the in-memory data is first replayed from the snapshot, and the rest of m-mapped chunks are replayed from the disk after that. The snapshot tells from what point in the WAL it should continue the replay.

Now when there is a corruption in the m-map chunks,

[2022-02-24 07:57] codesome commented on #10277
Oh, this seems to be worse. It actually panics because since we are not clearing out the m-map references from the memory, when we try to access the m-map chunk, the file won't be present on the disk. Hence it panics when trying to read something that is not present.

[2022-02-24 09:22] codesome commented on #9879
It will discard the sample even if it was a valid sample and did not overlap with the compaction. We should not be discarding any sample without a reason. In this case, we should discard the sample only if we know if it went out of bounds, else we are falsely counting any sample that comes under these conditions as an out of order sample.

[2022-02-24 09:25] codesome commented on #9879
That is true. Maybe we want a version of your abort flag idea - have the flag, but only discard the sample if it goes out of bound. Hence we call the minValidTime() function only if the flag was set to true.

[2022-02-24 12:01] SuperQ commented on #10343
@mike-stewart That project is on quay.io.

https://quay.io/repository/prometheus/statsd-exporter

[2022-02-24 13:06] thibautmery commented on #10319
Ok my bad not a relabelling, just title has no port set so it's normal. Sorry :)

[2022-02-24 13:06] thibautmery commented on #10319
Thanks

[2022-02-24 13:06] #10319 closed

[2022-02-24 17:40] SindhuraGowri commented on #10339
As suggested to use stdlib libraries, I looked at the oauth2 token library and I believe that we can use https://pkg.go.dev/golang.org/x/oauth2#Token for implementation of refreshing access_tokens for oauth2 auth in prometheus repo.

@roidelapluie could you please confirm if we can use above go oauth token library https://github.com/golang/oauth2/blob/2e8d9340160224d36fd555eaf8837240a7e239a7/inter

[2022-02-24 18:37] roidelapluie commented on #10339
This is not a roundtripper. It sounds like to me that you are not using oauth2 as intended. You could try using a proxy.

[2022-02-24 19:20] TheDarkula commented on #10290
@Kanika637 I do not have the ability to assign this to you.

@Nexucis I am building from [source](https://github.com/prometheus/prometheus/archive/refs/tags/v2.33.2.tar.gz).
The problem is that the `package.json` that I pointed to is incorrect in that release.

Does that make sense?

[2022-02-24 20:09] TheDarkula commented on #10290
I have also just built the 2.33.4 release, and the problem exists there as well.

The error occurs when running `make ui-build` in the main directory:

[code]

[2022-02-24 21:18] alileza opened #10352 "Patch log level config on runtime"
## Proposal
**Use case. Why is this important?**

In some cases we would like to know what's going on with prometheus in production, we would like to see prometheus log change to debug. I thought it would be nice to have a way to change the log level in runtime without interrupting prometheus work (such as deployment).

So I'm thinking something like adding `PATCH /config` endpoint to prometheus c

[2022-02-24 22:10] Nexucis commented on #10290
So in this case, maybe you didn't notice, we changed a bit the way the UI is working. It is using now the `npm workspaces` and required as such npm v7 or v8 and node v16.
To build the UI you should do it in the folder `./web/ui` and not anymore in `./web/ui/react-app`.

The version is indeed not fixed in the `package.json` but in the `package-lock.json`, that can explain why for example we are abl

[2022-02-25 01:33] 3286360470 opened #10355 "prometheus pulled metrics twice in the scrape_interval"
**What did you do?**
When I collected pulsar metrics use prometheus, there're a problem that prometheus pulled metrics twice in the scrape_interval . What I expect to see is each pulsar metric is only collected once per minute.

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

  insert output of `uname -srm` here
Lin

[2022-02-25 11:26] baryluk commented on #10264
We are also experiencing this issue. We configure remote_write just few days ago, and after initial one day of testing how it behaves when network connection is disrupted, were happy, then deployed it.

After network routing issues, after network was restored, it had issues (including some Out-of-order samples), but then even hours later, the sender says:

[code]

every 10 seconds.

We are using 2

[2022-02-25 12:42] csmarchbanks commented on #10264
The issue I fixed was on the sender side, so definitely post again if you see it after upgrading to 2.33.4, ideally with a goroutine dump so I can debug further!

[2022-02-25 15:53] #10277 closed

[2022-02-25 16:08] roidelapluie commented on #10137
If there is a way to return the line number, we could print the lines. I will try to look into this.

[2022-02-25 16:11] roidelapluie commented on #10151
Can you confirm that this was fixed in latest prometheus release? (latest is 2.33.4 at time of writing) ?

[2022-02-25 16:18] roidelapluie commented on #10200
According to the documentation, we should call http.EscapePath ourselves when doing the sigv4 sign.

I am moving this issue to prometheus/common as that is where the code lives.

[2022-02-25 16:21] roidelapluie commented on #10204
I will close this issue based on @rfratto 's answer. Please open a new one if the problems occurs again with 2.33.4.

[2022-02-25 16:21] #10204 closed

[2022-02-25 16:23] roidelapluie commented on #10217
I agree with you. however, we have to be very careful with this as we ave to check we never send anything to that closed channel.

[2022-02-25 16:23] David-N-Perkins commented on #10253
I'm looking at implementing this, but not sure how to get the current resource group a Prometheus instance is in. Would this be an additional config value, or is there a way to look it up?

[2022-02-25 16:24] roidelapluie commented on #10228
That sounds find to me, but it would be great to discuss this in the prometheus-developers mailing list, as all projects would be impacted.

[2022-02-25 16:27] roidelapluie commented on #10259
Thanks for your report. I am closing this as a duplicate of #8932.

[2022-02-25 16:27] #10259 closed

[2022-02-25 16:32] roidelapluie commented on #10301
You are deleting metrics from the TSDB.

To remove the target, you will have to remove the target from service discovery (e.g. uyuni_sd_configs) or prometheus configuration file (static_configs).

cc @witekest

[2022-02-25 16:35] roidelapluie commented on #10304
Prometheus agent is read/writing metrics from filesystem already, I am not sure what you mean with this issue. The agent is using a Write-Ahead-Log on disk.

[2022-02-25 16:35] roidelapluie commented on #10304
cc @rfratto

[2022-02-25 16:36] roidelapluie commented on #10308
@jeromeinsf @marianafranco what is the correct action that we should take here?

[2022-02-25 16:38] roidelapluie commented on #10309
This makes sense. I am not sure that last successful timestamp is userful. it is useful with file_sd as the value will generally not change. But we could definitively have a failures counter.

[2022-02-25 16:45] roidelapluie commented on #10342
In general, out of sync clocks are hard to deal with. @simonpasquier what do you think about this issue?

[2022-02-25 16:50] roidelapluie commented on #10344
The fix for this issue would be to invalidated the cache when label limits are changed. We need to remove those 3 lines and add tests for this:

https://github.com/prometheus/prometheus/blob/4cc25c0cb0b96042a7d36a0dd53dc6970ad607fd/scrape/scrape.go#L1780-L1782

[2022-02-25 16:52] roidelapluie commented on #10352
Yes, that's something I would like to add to Prometheus. it would involve moving the log level to file. this should be discussed in the dev summit because I don't know if everyone is happy with deprecating the command line flag.

[2022-02-25 16:54] roidelapluie commented on #10355
Can you run in console: up[5m] around the time the scrapes happened and tell us if you have 2 metrics inserted at the same time?

Thanks.

[2022-02-25 16:55] roidelapluie commented on #10327
Prometheus populates alerts in its TSDB, you can query the `ALERTS` metric.

[2022-02-25 16:56] slashpai commented on #10344
Thank you :)

I will work on this

[2022-02-25 18:28] rfratto commented on #10304
It sounds like the proposal is for Prometheus Agent to write scraped metrics directly to the WAL and hold absolutely nothing in memory long-term (including from remote_write which also holds series in memory). Am I following correctly?

[2022-02-26 17:58] hilman-k8n commented on #10264
facing the same issue w/ kube-prometheus-stack:32.2.1

This happen usually after 2 days prometheus server running
Upgraded to 33.0.0. Let's see if the issue still persist

[2022-02-27 09:40] ydayagi commented on #10304
@rfratto @roidelapluie
Perhaps I am not aware of how agent works. I thought that it saves up to 2 hours of metrics. All of it as part of WAL and may be persisted to filesystem.
What I need is to save more than 2 hours. Days. Write the metrics to remote server. Delete sent metrics.

[2022-02-27 13:27] ianwoolf opened #10368 "File not closed causing test fail on windows"
As mentioned in the comment in the link below, the file is still used by query log, causing the fail of deletion this directory.

https://github.com/prometheus/prometheus/pull/10321#issuecomment-1050938806

I feel like `ActiveQueryTracker` needs a close method to close the file in use.

[2022-02-27 13:29] ianwoolf commented on #10368
@LeviHarrison

[2022-02-27 18:24] roidelapluie commented on #10355
Hello, after a second look, I see that Prometheus is querying data every 60 seconds. There is a few millisecond difference, but nothing that seems like an issue to me. I will close this issue based on this.

[2022-02-27 18:24] #10355 closed

[2022-02-28 01:46] 3286360470 commented on #10355
Well, Is there a way to let prometheus collect metrics on the target at a specified time? From the pulsar log, it can be seen that prometheus collected metrics at 18:59:59.773, but the next collection was at 19:01:00.263, and it exceeds one-minute interval, and the third collection occurred at 19:01:59.777,  this collection was within one minute of the previous one, this is not what I want to see.

[2022-02-28 03:01] littlepangdi commented on #10217
Of course, I checked related code and found that there is a great design for this channel——send ops only happens within  goroutine of `sender()`，any other place references the channel is via read-mode, like :
https://github.com/prometheus/prometheus/blob/4cc25c0cb0b96042a7d36a0dd53dc6970ad607fd/cmd/prometheus/main.go#L1542

 so I suggested we can close it after `sender()` is closed natually. see i

[2022-02-28 19:00] wenjianqiao opened #10371 "Move prompb to its own module"
## Proposal
**Use case. Why is this important?**

For our project, I need to implement Prometheus Remote Write to collect Prometheus metrics sent from Prometheus servers. It only requires the `github.com/prometheus/prometheus/prompb` package, but I have to add the entire `github.com/prometheus/prometheus` module to go.mod. This pulls in a bunch of irrelevant go modules and some of the dependency m

[2022-02-28 20:19] roidelapluie commented on #10371
Could you try https://buf.build/prometheus/prometheus/assets ?

[code]

[2022-02-28 20:35] David-N-Perkins commented on #10309
@mst-ableton I put up a PR that adds the `prometheus_sd_http_failures_total` counter metric, with a `url` label set to the value in the config. Let me know if you want anything additional.

[2022-03-01 01:28] TheDarkula commented on #10290
It is a scratch docker environment.
You can see the entire build script [here](https://github.com/themeliolabs/biome/blob/master/prometheus/plan.sh).
If you have any questions, by all means let me know :)

[2022-03-01 08:55] Nexucis commented on #10290
All of these steps https://github.com/themeliolabs/biome/blob/master/prometheus/plan.sh#L64-L94 can be replaced by :

[code]

Like I said, we are using npm workspaces which are described in the root [package.json](https://github.com/prometheus/prometheus/blob/main/web/ui/package.json)

Before make sure you have the correct npm and node version like described in my previous post.

[2022-03-01 12:02] prymitive opened #10377 "Rule evaluation & scrapes are frequently blocked or delayed with Prometheus >= v2.33.0"
**What did you do?**

Upgraded Prometheus from v2.32.1 to v2.33.1

**What did you expect to see?**

Similar performance and smooth graphs.

**What did you see instead? Under which circumstances?**

It appears that starting with v2.33.0 Prometheus hits some scalability limits for us.
Something takes longer than it used to OR it started to block when it didn't use to.

We've started noticing that ev

[2022-03-01 13:09] tumbl3w33d opened #10378 "Support for elliptic curve cryptography"
A while ago I [asked about](https://discuss.prometheus.io/t/tls-between-prometheus-and-node-exporters-with-ec-pki/433) whether anyone was able to let prometheus scrape node exporter TLS endpoints with ECC certificates. Unfortunately, there was no answer. Thus, my assumption still is, that prometheus lacks support for curve crypto.

## Proposal
I guess I don't need to explain the importance of mode

[2022-03-01 13:47] mst-ableton commented on #10309
@David-N-Perkins that PR looks great, thanks for taking the time to work on it!

[2022-03-01 13:58] wenjianqiao commented on #10371
Thank you for the response. I was able to run `go get go.buf.build/protocolbuffers/go/prometheus/prometheus` and added it to go.mod. However, when I ran `go mod tidy`, it automatically added `github.com/prometheus/prometheus v1.8.2-0.20210331101223-3cafc58827d1` back to go.mod and go.sum. Therefore, it doesn't solve the problem.

Is there a way to add the `prometheus/prompb` to go.mod without pull

[2022-03-01 14:08] hammad13060 commented on #10263
I'm happy to work on this if some direction could be provided for this feature request.

[2022-03-01 16:39] prymitive commented on #10377
CPU profiles via pprof didn't show me much but after setting `DEBUG=1` I was able to capture
mutex profile which seems a bit more useful:

![profile001](https://user-images.githubusercontent.com/114288/156210233-78b350fa-f08d-49d5-91bc-e5e055fb8a69.svg)

It does seem to point to chunk write queue mutex if I read that right

[2022-03-01 17:01] beorn7 commented on #10263
I would think a warning should be issues if the scrape interval is larger than 2m (but it shouldn't be a hard error as there are special scenarios where larger scrape intervals make sense).

Not even sure if the `check config` command has a concept of warnings.

Paging @dgl and @JessicaGreben as the promtool maintainers.

[2022-03-01 18:55] mayurOciSA commented on #10226
@roidelapluie gentle reminder

[2022-03-01 19:16] dingus9 commented on #5097
I'm currently working with a monitoring system that has a predefined hist IP formatted (changeably as 10.x.x.x) not the  My current query is like this
[code]
yielding node_ip: 10.x.x.x in the format of my monitoring system... I have limited result set processing capabilities(don't have access in the post processing to the host ip value) in the monitoring system. I would be really helpful to be abl

[2022-03-01 20:56] prymitive commented on #10377
Based on some quick tests it does seem that simply swapping RWMutex for a Mutex solves this for me, raised #10379.
But I'll need to give it a bit more time to confirm.

[2022-03-01 21:16] wenjianqiao commented on #10371
When using `go.buf.build/protocolbuffers/go/prometheus/prometheus v1.1.1` module, I got panic when trying to marshal and unmarshall a WriteRequest object. Is there a newer version?
[code]

My code can be found at https://go.dev/play/p/zsTA3N25ss2 -  it simply marshals a WriteRequest and then unmarshals it.

[2022-03-01 22:48] dgl commented on #10263
I think a similar feature in `check config` to the idea for `--lint` outlined in #8613 would work. As @beorn7 points out there isn't really the concept of warnings, so this --lint option would add the ability to do that.

One minor complexity for this is the lookback delta can be set as a command line flag, which isn't a command line flag for promtool. Having the ability to disable the relevant li

[2022-03-02 07:46] fenniedaddy commented on #8014
Same problem here.
The easy solution for now is to merge servicemonitor.
Try Using only one servicemonitor for all the services to be monitored, and the prometheus reload op will be more efficicent.

[2022-03-02 08:03] wulianhuo commented on #8014
Same problem here.
The easy solution for now is to merge servicemonitor.
Try Using only one servicemonitor for all the services to be monitored, and the prometheus reload op will be more efficicent.

[2022-03-02 08:28] prymitive commented on #10377
^
I don’t think mutex is enough to fix read starvation.
After applying this patch there was initial improvement but it was likely due to fewer writes, after a while it went back to being slow again.

[2022-03-02 09:07] d-ulyanov commented on #8014
As MR was not accepted we've decided to implement our own separate discovery service (we're calling it "target balancer") and deliver targets in files (fileSD) to Proms. Profits: 1) reduce kubeAPI load 2) significantly reduced CPU usage on Prom instances

[2022-03-02 10:10] prymitive commented on #10377
Another pprof capture:

![svgviewer-output](https://user-images.githubusercontent.com/114288/156341243-e6866a06-b472-4112-acca-f840b4049be4.svg)

Given that scrape results go through the same chunk write queue it could explain the delay in some metrics.

[2022-03-02 10:21] codesome commented on #5865
Update: We are interested in having new encodings in TSDB, starting with Run Length Encoding.

[2022-03-02 11:19] prymitive commented on #10377
@colega / @codesome I believe this issue is a direct result of #10051 and I'm not sure what can be done here to resolve this.

[2022-03-02 11:33] codesome commented on #10377
cc @replay

[2022-03-02 13:21] roidelapluie commented on #10226
Yes, I would like to know how many targets you aim at supporting with default values, without throttling.

[2022-03-02 13:41] replay commented on #10377
The first idea which comes to my mind to alleviate the lock contention on `chunkWriteQueue.chunkRefMapMtx` would be to shard the `chunkWriteQueue.chunkRefMap`. All access to it (except for `chunkWriteQueue.queueSize()` which is only used in tests) happens via keys that are of the type `ChunkDiskMapperRef` which is a numeric type, we could shard it by a fix number like for example `1024`, then we c

[2022-03-02 14:28] codesome commented on #10377
@prymitive do you possibly have any profiles and goroutine dumps when the queries are taking too long? Or can you get one?

@replay sounds like a plan, and would be good if we can see the difference in a benchmark. I would suggest sharding on the series ref for a more uniform spread.

[2022-03-02 14:41] roidelapluie commented on #10213
I am looking into this, there is a lot in the file. Do you have the IP addresses that cause issue, so i can filter the pcap file? Thanks!

[2022-03-02 14:46] roidelapluie commented on #10371
Please use golang/protobuf instead: https://go.dev/play/p/yz7yH5NQnCG

[2022-03-02 14:58] prymitive commented on #10377
I don't have goroutine dumps but I can try to capture some, although metrics are showing around 350k goroutines so that might be hard to read.
I can capture more pprof profiles, is it the cpu profile you're after?
In general I have a single instance I've upgraded to v2.33.4 that I'm using for testing, I can usually capture all sort of debugging data there, just need to know what to run.

[2022-03-02 15:15] Shini31 commented on #10213
I will not have the IP because they have changed since but I can give you the destination ports:

- 8081
- 9050
- 9052
- 28070
- 28071
- 28090

[2022-03-02 15:24] bboreham commented on #10377
Of those 350K, most will be sleeping waiting to scrape something esle.  There are [tools](https://github.com/maruel/panicparse) to crunch down all similar goroutines.
If you GET `/debug/pprof/goroutine?debug=1` it will pre-crunch them down, though you lose a bit of detail.
`/debug/pprof/goroutine?debug=2` has full detail.

[2022-03-02 15:37] prymitive commented on #10377
here's `go tool pprof ... /debug/pprof/goroutine?debug=1`, passing `debug=2` gives me `unrecognized profile format` for some reason.

![profile003](https://user-images.githubusercontent.com/114288/156394445-6425bf79-d50a-4059-843a-8f149a08b680.svg)

[pprof.prometheus.goroutine.027.pb.gz](https://github.com/prometheus/prometheus/files/8170801/pprof.prometheus.goroutine.027.pb.gz)

[2022-03-02 16:07] bboreham commented on #10377
The `debug` ones are just text; just `curl` it and pipe to a file.

[2022-03-02 16:35] roidelapluie commented on #10378
the following cert I have created works for me:

[code]

[2022-03-02 16:36] prymitive commented on #10377
[debug2-2022-03-02T16:32:36+00:00.txt.gz](https://github.com/prometheus/prometheus/files/8171275/debug2-2022-03-02T16.32.36%2B00.00.txt.gz)

[2022-03-02 16:41] prymitive commented on #10377
Forgot to mention that this was from a slightly patched version with some extra metrics I've added to try and debug this.
I'll revert to vanilla v2.33.4 for future captures

[2022-03-02 19:12] tumbl3w33d commented on #10378
Thank you for your feedback! I realized I need to make a minimal reproducible example and while doing it I almost thought I cannot reproduce it because what I did at first was directly mounting the certificate (one like you showed) and it indeed worked. The config attribute of prometheus is named `ca_file` though and when I use it for that, i.e. passing a CA that has issued the curve certificate,

[2022-03-02 19:35] wenjianqiao commented on #10371
Thank you. Changing to `github.com/golang/protobuf/proto` works, but the package is deprecated. The `google.golang.org/protobuf` package also works.

[code]

[2022-03-02 19:42] wenjianqiao commented on #10371
I have one more question. As I mentioned earlier in this comment https://github.com/prometheus/prometheus/issues/10371#issuecomment-1055468283, `github.com/prometheus/prometheus/prompb` and `go.buf.build/protocolbuffers/go/prometheus/prometheus` have different definitions for `Timeseries` struct. Is it on purpose or just different versions?
[code]
vs.
[code]

[2022-03-02 19:46] roidelapluie commented on #10378
Please see: https://go.dev/play/p/OPD6rxnJGPo

It seems that your certificate is rejected by the golang library we are using:

[code]

[2022-03-02 19:49] roidelapluie commented on #10371
go.buf.build/protocolbuffers/go/prometheus/prometheus is autogenerated, this is something we have introduced recently. it's very much possible that there are minor changes, but they should both work on the wire.

[2022-03-02 20:26] roidelapluie commented on #10378
We don't receive the info as we use high-level functions, that do not return such errors.

[2022-03-02 20:29] tumbl3w33d commented on #10378
I see. I guess this can be closed then and in case anyone encounters a similar problem they will get your hint as well. I'll go evaluate curves. `secp384r1` works, for example.

[2022-03-02 20:37] roidelapluie commented on #10378
Thank you !

[2022-03-02 20:37] #10378 closed

[2022-03-02 21:31] David-N-Perkins commented on #10309
@mst-ableton I need to remove the `url` label from the metric, because multiple `http_sd_config`'s with the same value would cause a panic. So there will be a single `prometheus_sd_http_failures_total` counter metric for all `http_sd_config`'s. I wanted to make sure that still works for you.

[2022-03-03 09:07] zbd20 opened #10387 "Why the timestamp of the metrics is 5 minutes ahead of the current time"
I am confused, why the timestamp of the metrics is 5 minutes ahead of the current time.
My computer's time is about the same as the Prometheus server's time,
![image](https://user-images.githubusercontent.com/37442243/156530379-3ad951c7-7c31-4071-a2cc-862ff4ae4fa6.png)
But, when I query from Prometheus web UI, then time of metrics is 5 minutes ahead of the current time.
![image](https://user-image

[2022-03-03 10:18] #10387 closed

[2022-03-03 12:40] EmmaTinten commented on #10264
Hey there,

I've got a logfile with a dump of the goroutines. I'll attach the corrsponding file.

The service stopped writing this morning with 2.33.4.

Thanks!
[prometheus_log.zip](https://github.com/prometheus/prometheus/files/8177873/prometheus_log.zip)

[2022-03-03 12:46] prymitive commented on #10377
Provided some more debug details on #10386

I've also collected same profiles from an instance running v2.32.1 and scraping same metrics.
Here's how it compares:

# Block profile

v2.32.1
[code]

v2.33.4 + patch from #10386
[code]

# Mutex profile

v2.32.1
[code]

v2.33.4 + patch from #10386
[code]

Raw profile captures & goroutine dumps:

![19dm12 block](https://user-images.githubusercontent.com/

[2022-03-03 13:46] David-N-Perkins commented on #10253
@jrauschenbusch I implemented this feature, but don't have access to Azure resources to test my [changes](https://github.com/prometheus/prometheus/pull/10365). Are you able to test this or know someone who can?

[2022-03-03 15:33] csmarchbanks commented on #10264
Thank you for the goroutine dump! I will investigate today and report back what I find/open a PR.

[2022-03-03 17:37] #10344 closed

[2022-03-03 17:54] csmarchbanks commented on #10264
This PR should fix the issue I saw in your goroutine dump: https://github.com/prometheus/prometheus/pull/10395. I don't know yet if we will release another patch for v2.33 or if it will go into v2.34.

[2022-03-04 01:43] epmccormick commented on #5976
**My solution** where I experienced this error via prometheus-operator bundled in kube-prometheus-stack-19.3.0:

I was instantiating a prometheus as a Custom Resource provided by the prometheus-operator monitoring CRD. The manifest looks like:

[code]

I received this error:

[code]

To fix it I added this to my manifest under the spec: section:
[code]

[2022-03-04 03:48] cucker0 commented on #5976
In kube-prometheus-0.10.0

## I update the manifests/grafana-deployment.yaml file line 132 to 136 like this,
[code]

## Add a job to change the owner of the PVC mount directory
cat ./grafana-chown-job.yaml
[code]

[code]

##  Delete the Pod of grafana
[code]

[2022-03-04 08:17] steveazz commented on #10043
This actually got improved in https://github.com/prometheus/prometheus/commit/24827782cbc546adba99c7645dc8a01750023597  where it now shows the last chunk and the new chunk

[2022-03-04 08:21] EmmaTinten commented on #10264
@csmarchbanks

I thank you for investigating!

Here's the corresponding remote write config:

[code]

[2022-03-04 08:49] Rahuly360 commented on #10151
@roidelapluie  Thank you
The latest Prometheus release( 2.33.4 a) working fine for the same.

[2022-03-04 14:09] AndreSPy1 commented on #10171
Hello, good morning, is it possible to work on this issue? to separate it, thanks

[2022-03-04 14:24] Nexucis commented on #10171
yes of course @AndreSPy1 so far nobody is working on it, so you can totally do it.

[2022-03-04 15:35] csmarchbanks commented on #10264
Thanks! That means max_samples_per_send is 4x larger than capacity, and the fix I have will avoid the deadlock. I would also recommend increasing capacity to something larger than max_samples_per_send, the general guideline is ~5x. That allows slow requests in one shard to avoid blocking all of the other shards. This will also let you avoid the issue until the bugfix is released.

[2022-03-04 15:42] EmmaTinten commented on #10264
Yeah, right. The capacity itself has never been touched before but the problem hits us first with 2.33.3.
The corresponding system will be reconfigured to match the capacity within the next days.

Thank you!

[2022-03-04 17:57] AndreSPy1 commented on #10171
thaks :)

[2022-03-04 23:43] roidelapluie opened #10399 "PromQL: scalar comparison for range selector"
## Proposal
**Use case. Why is this important?**

It would be great if we could do: `avg_over_time(probe_duration_seconds[10m] != 0)`. This could happen between a range selector and scalars. This would work directly on the samples of the selection, samples not matching would be dropped. This could be combined: `avg_over_time(probe_duration_seconds[10m] < 0 > 0)`

This is more effective that doing

[2022-03-04 23:43] roidelapluie commented on #10399
cc @juliusv

[2022-03-05 08:41] juliusv commented on #10399
No strong opinion on this yet, but once we go that direction, we could also consider a whole lot more variations:

- The same between a range vector and an instant vector (I don't see how the other way around would work).
- The same for arithmetic and set ops (for example, you could also have used an *and* operator, like `probe_duration_seconds[10m] and probe_success == 1`, or maybe in other cases

[2022-03-05 09:03] roidelapluie commented on #10399
What would it change for instant Vector? For instant Vector this should already work.

[2022-03-05 09:05] juliusv commented on #10399
I mean between a range vector and an instant vector: `foo[5m] > bar`

[2022-03-05 10:27] ladykraken opened #10400 "/agent/api/v1/configs/{write_relabel_configs}"
https://github.com/prometheus/prometheus/blob/edfe657b54057e427469a2151153d305270662a4/scrape/scrape.go#L738

[2022-03-05 19:58] LeviHarrison commented on #10400
Hi there! Do you mind clarifying what this issue is about? It's not clear from the title and descripiton.

[2022-03-06 14:56] YukkiKaze commented on #10342
In my opinion, if time differs in several hosts, alert manager can decide whether to trigger alert based on the origin side. in origin side, prometheus discard `ActiveAt` field which can help alert manager to decide if this alert should be triggered, now we only have `StartAt` and `EndsAt`  field, therefore cannot determine the alert state if clock out of sync @simonpasquier

[2022-03-06 20:37] AndrewFarley opened #10404 "kubelet_volume_stats_capacity_bytes metric not updating when disk is resized in Kubernetes"
**What did you do?**
I resized an volume natively in Kubernetes, and the metric `kubelet_volume_stats_capacity_bytes` (which is labelled to and associated with the PVC) is not being updated.  However, it does look like the metric `kube_persistentvolume_capacity_bytes` (which is associated to the PV) is.  I've attached a screenshow below showing both metrics highlighting this issue, along with a ku

[2022-03-06 20:37] AndrewFarley commented on #10404
Related To / Reference: https://github.com/DevOps-Nirvana/Kubernetes-Volume-Autoscaler/issues/1

[2022-03-06 20:59] AndrewFarley commented on #10404
FYI, team after further investigation this appears to be something happening at this version of Prometheus, and it does not appear to have happened in the past.  This customer was updated to `v2.30.4` a few months ago when it was released and we have scaled this disk in the past successfully.

Because of that, I can confirm this issue does NOT happen with an older version of Prometheus... eg this

[2022-03-06 21:06] AndrewFarley commented on #10404
One more screenshot, showing the entire timeline with updates and with it working and not working

<img width="1382" alt="Screen Shot 2022-03-07 at 10 00 37 AM" src="https://user-images.githubusercontent.com/470163/156942253-0b607758-0df2-4df0-9287-af0fcc62b849.png">

Any help or a fix is appreciated!  Thanks team.

[2022-03-06 23:29] steve-exley commented on #10264
[go-dump.log](https://github.com/prometheus/prometheus/files/8193748/go-dump.log)

Thanks for persisting with this. We've had less issues since increasing the min_shards, but it did occur again yesterday.
Version: 2.33.3

Go dump attached:
[code]

[2022-03-07 00:45] csmarchbanks commented on #10264
Thank you for the report @steve-exley, that looks to be the same deadlock that @EmmaTinten ran into, though your capacity is larger than your max_samples_per_send, so it should be less likely to happen. Perhaps the path I was worried about in https://github.com/prometheus/prometheus/pull/10395#discussion_r819702464 happened. It is certainly possible with large targets such as kube state metrics. F

[2022-03-07 08:50] benzman81 commented on #6934
Had to change prometheus memory limit to 8GB and request to 4GB although only 2500 Mi / 1750 Mi and are recommended here https://rancher.com/docs/rancher/v2.5/en/monitoring-alerting/#known-issues

[2022-03-08 03:55] SindhuraGowri commented on #10339
We believe that we are using OAuth2 as intended. We have used https://datatracker.ietf.org/doc/html/rfc6749#section-6 logic in our service.
After the service is deployed, we generate long-lived refresh_token (one time effort) using client_id. We use this refresh_token to regenerate access_token and this short lived access_token is used to hit the authenticated endpoint for metrics.

To clarify, we

[2022-03-08 04:00] SindhuraGowri commented on #10339
We believe that we are using OAuth2 as intended. We have used https://datatracker.ietf.org/doc/html/rfc6749#section-6 logic in our service.
After the service is deployed, we generate long-lived refresh_token (one time effort) using client_id. We use this refresh_token to regenerate access_token and this short lived access_token is used to hit the authenticated endpoint for metrics.

To clarify, we

[2022-03-08 10:16] Nexucis commented on #10290
I think you can cleaned up a bit more @TheDarkula :

[code]

[2022-03-08 12:45] roidelapluie commented on #10217
this PR is to fix #10217 , a possible memory leak when quoating manager.Sync() outside manager's lifecycle
also see more discuss in grafana/loki#5238

There is a great design for this channel——send ops only happens within goroutine of sender()，any other place references the channel is via read-mode, see below :
prometheus/cmd/prometheus/main.go

Line 1542 in 4cc25c0

 SyncCh() <-chan map[string][]

[2022-03-08 12:46] roidelapluie commented on #10217
I have been investigating this deeply and this change is not good to me:

Prometheus is using this channel into the NotifyManager and the ScrapeManager. Both are reading from this channel. If this channel is closed, they would receive in loops zero-values from that channel.

The Prometheus server is using https://github.com/oklog/run to manage those goroutines. This packages does not guarantee any

[2022-03-08 13:04] #10258 closed

[2022-03-08 13:19] David-N-Perkins commented on #10309
The PR is merged. I think this can be closed now.

[2022-03-08 13:24] roidelapluie commented on #10339
I am afraid that it's not possible to follow only part of the RFC.
It sounds like you are ignoring the protocol flow section: https://datatracker.ietf.org/doc/html/rfc6749#section-1.2
Your usecase does not match what is in the RFC because you have multiple clients. Sadly, we can't support that in Prometheus.

[2022-03-08 13:26] #10309 closed

[2022-03-08 13:26] roidelapluie commented on #10309
Thanks!

[2022-03-08 13:49] #9187 closed

[2022-03-08 17:04] #10151 closed

[2022-03-08 23:48] #9706 closed

[2022-03-09 01:19] gburek-fastly commented on #10377
Greetings - we are also experiencing this behavior on v2.33.0 and v2.33.5, where scrapes, normally with 15s interval, can stall up to 80s before the next sample is scraped/written to disk.  We can see this by examining timestamps of raw data in table view, in this case `node_netstat_Tcp_InSegs[2m]`:

[code]

Graphing `time() - timestamp(node_netstat_Tcp_InSegs)` allows us a better overview of thes

[2022-03-09 10:04] importhuman commented on #10200
Hello! Can I pick this up? @roidelapluie

[2022-03-09 10:25] roidelapluie commented on #10200
Yes! The code is at https://github.com/prometheus/common/tree/main/sigv4

[2022-03-09 10:27] slashpai opened #10417 "make build failing after pulling latest changes"
**What did you do?**

`make build` command is failing with following error

[code]

**What did you expect to see?**

Expected `make build` to work fine without issues

**What did you see instead? Under which circumstances?**

Error in build

**Environment**

Mac and Linux

* System information:

	insert output of `uname -srm` here

Darwin 20.6.0 x86_64

Also tried in Linux 5.16.12-arch1-1 x86_64

[2022-03-09 13:38] pracucci opened #10420 "Proposal: add query sharding support to TSDB"
## Proposal
In November 2021, Grafana Labs [announced query sharding](https://grafana.com/blog/2021/11/09/observabilitycon-announcements/) for Grafana Enterprise Metrics (GEM).

The query sharding implementation leverages some changes we did in TSDB to be able to selectively query a given shard, so that multiple processes (running on different machines) can query different shards from the same cop

[2022-03-09 14:05] prymitive commented on #10377
I see that [v2.34.0-rc.1](https://github.com/prometheus/prometheus/releases/tag/v2.34.0-rc.1) is out so final v2.34 is around the corner. At the same time the only potential fix - #10386 - didn't get any progress and I don't have high hopes that adding more locks will resolve this.

Is it possible to revert chunk write queue until all locking issues around it are addressed so that there is still a

[2022-03-09 14:21] codesome commented on #10377
I think we can start with adding an option to disable the queue (not by default) while we try to improve the performance. But it will go in v2.35.

We are suspecting it is something to do with expensive rules. So we are investigating in that line.

[2022-03-09 14:28] codesome commented on #10377
@replay did some investigations and turns out the rule evaluation duration metric includes the time taken to write the result of the rule evaluation back to the TSDB. And given scrapes and rules are getting blocked, it is most likely the writes that are getting bottle-necked.

@replay agreed to work on introducing an option to disable the queue.

[2022-03-09 15:36] yuliyantsvetkov commented on #10213
I have the same issue. I have configured pod annotations of the StatefulSet for prometheus-operator to inject the certificates from the sidecar in a memory volume.

While the cert mount works, this is what I get from the sidecar when I try to cURL the metrics endpoint:
[code]

[2022-03-09 15:40] nic-chen opened #10424 "The Alertmanager received alert nearly a minute after the status of alert in Prometheus became firing"
**What did you do?**

I create an alerting rule for Prometheus like:

[code]

[code]

and configuration of Alertmanager like:

[code]

and then trigger an alert.

**What did you expect to see?**

The Alertmanager received alert  immediately after the status of alert in Prometheus became firing

**What did you see instead? Under which circumstances?**

The Alertmanager received alert nearly a minut

[2022-03-09 16:01] #10417 closed

[2022-03-09 16:05] nic-chen commented on #10424
hi @simonpasquier
could you have a look at your convenience? thanks.

[2022-03-09 16:45] prymitive commented on #10377
Thanks, looking forward to testing more patches.

Doesn't this essentially mean that everyone needs to opt-in to get the same level of performance as with 2.32?
If new code is a source of a major performance degradation then shouldn't the new code path be opt-in, rather than opt-out?

[2022-03-09 16:56] replay commented on #10377
While working on this I think I have found a bug, which might very well the reason for the issues you're seeing. Would you mind giving this branch a try? https://github.com/prometheus/prometheus/pull/10426

[2022-03-09 16:59] prymitive commented on #10377
Will do, thanks!

[2022-03-09 17:21] importhuman commented on #10200
Don't we want to remove the extra double slash instead of escaping it?
From the [AWS doc](https://docs.aws.amazon.com/sdk-for-go/api/aws/signer/v4/#pkg-overview), wouldn't `"//<hostname>/<path>"` correspond to `//aps-workspaces.us-east-2.amazonaws.com/workspaces/...`?

Or do we want to just escape the extra backslash in `<REDACTED WORKSPACE ID>//api/...`? as per this line from the docs:

Is this b

[2022-03-09 17:41] caatclaudia opened #10428 "Deployment Time of an Application"
## Proposal

In a Cluster with more than one application, the deployment time of all the applications is an important metric:

- To calculate the time that is necessary if the deployment of an application needs to be restarted;
-  To find out if the time is acceptable (e.g.: in certain Clusters, it may be necessary that the deployment time is less than 1min).

So, the Deployment time of the pods o

[2022-03-09 17:43] Aneurysm9 opened #10429 "Provide target metadata to Appender"
## Proposal

In discussing issues the OpenTelemetry collector has had with supporting `honor_labels` and relabeling of `job` or `instance` with @brian-brazil it was proposed that lack of access to the metric metadata for the current scrape target could be addressed by passing this data to the [`storage.Appender`](https://github.com/prometheus/prometheus/blob/main/storage/interface.go#L174) impleme

[2022-03-09 18:40] prymitive commented on #10377
I've deployed 2.33.5 + patch from #10426 to my test instance and it doesn't look any better so far, it might be even worse, I see more query timeouts in logs and rule evaluation metric shows even bigger and longer spike.
That being said I'll have more metrics if I let it run overnight.

![12](https://user-images.githubusercontent.com/114288/157509260-e469630b-868c-40b1-9ba6-7fd27e957d3a.png)

[2022-03-09 18:50] replay commented on #10377
That's unfortunate, would you mind providing another block profile when you get a chance? I'd be curious to know if it still blocks at the same place now that the queue has a size `>0`.

[2022-03-09 19:33] TheDarkula commented on #10290
Thank you!
That worked perfectly :)

[2022-03-09 20:12] replay commented on #10377
In this PR I'm making it possible to completely disable the chunk write queue. I'm also raising the default size to `1M` because I have come to believe that `1k` is way too low:
https://github.com/prometheus/prometheus/pull/10425

[2022-03-09 20:35] nfi-opsguru commented on #10200
Right, my issue is specifically about deduplicating those double slashes, but [the AWS docs](https://docs.aws.amazon.com/general/latest/gr/sigv4-create-canonical-request.html) give a more thorough explanation, and it's not limited to escaping:

This string comes from the user's config file, not AWS.

[2022-03-10 09:05] ydayagi opened #10430 "TSDB DB.Delete does not work"
**What did you do?**
I am using the TSDB package for storing metrics. Later the metrics are read from TSDB and written to a remote server.
I tried using the function [DB.Delete](https://github.com/prometheus/prometheus/blob/fdb6916baff47c7d07c05bfc588c063e1cb9903f/tsdb/db.go#L1640) for deleting range.
I even tested deleting everything from 'DB.StartTime()' to 'DB.Head().MaxTime()'.
I even waited f

[2022-03-10 09:15] ydayagi commented on #10430
@bwplotka would appreciate your thoughts on this

[2022-03-10 09:21] bwplotka commented on #10430
Hi,

1. What matchers you provide?
2. Can you share how you are using the code? How you are creating DB etc? There might some wrong usage etc - it should work as you expect if you create DB correctly and if `func (db *DB) Delete(mint, maxt int64, ms ...*labels.Matcher) error {` does not return any errors.

[2022-03-10 09:43] ydayagi commented on #10430
1. I do not use matches. Just range. I want to delete the entire time range.
2. [Here](https://github.com/project-flotta/flotta-device-worker/blob/8b3cf5a8dd5cf4f38e3a704d62db7ed0bb2cc20f/internal/metrics/metrics.go#L65) you can see how we open the DB.
The last piece of code was this:
[code]
db is an instance of 'tsdb.DB'.

[2022-03-10 10:37] prymitive commented on #10377
![profile001](https://user-images.githubusercontent.com/114288/157644383-9962e92c-78e5-459f-b780-5da5a527a7f8.svg)
![profile002](https://user-images.githubusercontent.com/114288/157644388-9142d547-3a3f-4d23-a7a9-4a6dbdbbfc51.svg)

[2022-03-10 12:08] bwplotka commented on #10430
I think that is the reason there - you have to provide matches. Even if it is `__name__ != ""` (not sure if that will work, we block this in some places)

[2022-03-10 12:38] srimuvva opened #10431 "Prometheus agent mode using more heap memory than regular mode."
**What did you do?**
Configured the prometheus in agent mode.
**What did you expect to see?**
Expect to see less memory foot print compared to regular mode.
**What did you see instead? Under which circumstances?**
Rather we see agent mode using more memory than that of regular mode. After further debugging with go pprof we see remote.processExternalLabels is using more than 50% of the heap, which

[2022-03-10 13:45] prymitive commented on #10377
I did deploy v2.33.5 + patch from #10425, just applying the patch didn't change anything, same problem as before.
Then I restarted that instance with `--storage.tsdb.no-head-chunks-write-queue` flag and the issue is gone.

![profile001](https://user-images.githubusercontent.com/114288/157674398-46720354-161e-470f-b9f3-00062103669e.svg)
![profile002](https://user-images.githubusercontent.com/114288

[2022-03-10 14:01] codesome commented on #10377
To remove any pain for users, we will disable it by default while still being able to enable if required. And in the meantime we will run it enabled in our clusters and try to reduce the performance issues. We can remove it entirely if we are not able to make it better.

[2022-03-10 14:29] ydayagi commented on #10430
@bwplotka it is not working. I used `db.Delete(tMin, tMax, &labels.Matcher{
		Type: labels.MatchNotEqual,
	})`
it seems that it should match any non-empty label.
Even if adding matchers will work it will still be a bug. Because, when querying a range I do not have to provide a matcher.

[2022-03-10 14:32] replay commented on #10377
FYI I updated this PR accordingly: https://github.com/prometheus/prometheus/pull/10425/

[2022-03-10 15:14] csmarchbanks commented on #10264
With the release of 2.33.5 I am hoping this can be closed, but will leave it open for another week or two in case of more reports!

[2022-03-10 15:38] bwplotka commented on #10430
Then we need to look closer, PRs welcome too! (:

[2022-03-10 16:02] codesome commented on #10377
Thanks @prymitive for running all the PRs and giving us numbers. Hopefully the updated https://github.com/prometheus/prometheus/pull/10425 now does not cause any issues.

[2022-03-10 16:32] importhuman commented on #10200
Not too experienced with AWS or Prometheus, so I looked at the [prometheus remote write docs](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write), I'm guessing the URL that is provided is not generated via Prometheus itself, correct? So either the double slash would have to be removed in the config file itself, or we would normalize the URI as per the AWS docs.

[2022-03-10 16:52] rodrigorfk commented on #10213
Hi there, I was facing what I judge to be the exact same issue discussed here, after proper configuring and injecting the Istio sidecar in the Prometheus pod and also configuring the `tls_config` at the scrapping job level, I started to get `unexpected EOF` on Prometheus side.

In the end, it runs to be an issue on the configuration of the Kubernetes Service for the deployment/pods Prometheus is s

[2022-03-10 19:27] srimuvva commented on #10431
Hi.
Both use the same config file except that non agent has rules files in config.

[2022-03-10 20:50] AndrewFarley commented on #10404
Ping, anyone?

[2022-03-11 03:51] blackliner opened #10434 "`avg()` should ignore non existing values"
**What did you do?**
I have AWS instances coming and going (autoscaling). My goal is to to find the nodes with the highest average CPU utilization in the current time range:
`avg by (instance) ((1 - rate(node_cpu_seconds_total{mode="idle"}[$__range])) and node_cpu_seconds_total )`

**What did you expect to see?**
`avg()` to not include non existing values

**What did you see instead? Under which c

[2022-03-11 09:46] elrondwong opened #10436 "Set the storage retention of specific endpoint"
Usually，we need to set the storage retention of specific endpoint in the following scenarios:
- The important endpoint retention is 1y
- The test endpoint retention is 1w
- etcd.

It is beneficial to the full use of space.

[2022-03-11 10:14] wolfwantbuff opened #10437 "suggestion: Please support rules Configuration modification of YML"
Please support rules Configuration modification of YML，a good man has a safe life

[2022-03-11 12:49] roidelapluie commented on #10377
Thanks!

[2022-03-11 14:15] bwplotka commented on #10420
Love this idea!

This is something we are discussing to leverage in Thanos too cc @moadz @fpetkovski

Details make sense, except for one thing that might matter for Thanos systems only: We don't do write deduplication of remote writes, so we can have Prometheus/agent replicas in the receiver/block TSDB code. This means that we might want to ensure that all replicas are in the same shard. The way w

[2022-03-11 14:31] bwplotka commented on #10304
Hm let's clarify this issue @ydayagi

Do you mean remote write from TSBD blocks? I believe this ask is covered by https://github.com/prometheus/prometheus/issues/9607

I guess this is the core of this issue and it means what @rfratto tried to rephrase?

Is this what we are discussing here?

What I need is to save more than 2 hours. Days.

I don't think that is physically possible because some code

[2022-03-11 15:12] pierluigilenoci commented on #10291
Hi @codesome,
we have the same problem also with version v2.33.4.

[code]

If you need any other information to help us, I am fully available.

Thanks in advance.

[2022-03-11 15:40] mattdurham commented on #10431
I have tried to reproduce this but have not been able to. Can you share details on the number of series, the timeframe you saw this, and any other details?

[2022-03-11 20:20] krya-kryak opened #10441 "Feature request: set target limits via service discovery labels"
## Proposal
TL;DR: User should be able to set various scrape-related limits (`body_size_limit`, `sample_limit`, `label_limit`, etc) for individual targets based on its discovered labels.

## Use case
Consider a typical prometheus config:
[code]
This is perfectly readable and works just fine up until some special important target appears. This target contains more than 100 important metrics, and se

[2022-03-11 20:21] krya-kryak commented on #10441
A WIP PR to show this is feasible: https://github.com/prometheus/prometheus/pull/10432

[2022-03-12 20:24] LeviHarrison commented on #10437
Do you mind elaborating on what you mean by this?

[2022-03-12 20:29] LeviHarrison commented on #10436
I think #1381 would satisfy this.

[2022-03-14 01:55] elrondwong commented on #10436
Thank you.

[2022-03-14 01:55] #10436 closed

[2022-03-14 06:52] YukkiKaze commented on #10342
Found a solution of time disorder,  add a timestamp field in alerting_rules annotation, like this:
`timestamp: {{ with query "time()" }}{{ . | first | value | humanizeTimestamp }}{{ end }}`
alert receiver can judge alert state by compare this timestamp with alert's endtime, no need to use its local time.
@roidelapluie this issue can be closed, thanks for reply~

[2022-03-14 06:52] #10342 closed

[2022-03-14 08:57] pracucci commented on #10420
Thanks Bartek for the feedback!

Agree. I think being able to customise the hashing function could allow a good degree of customisation.

I'm totally up for that if helps to simplify downstream projects vendor/ upgrades or TSDB maintenance. I just have a question to better understand the feedback: the `ShardedPostings()` function is directly used by the queriers `Select()`. Are there significant u

[2022-03-14 09:52] phillebaba opened #10445 "Incorrect very large values for time series"
**What did you do?**

I am running a setup with two Prometheus instances in a cluster that remote write to a Thanos receiver setup. The Prometheus instances are run in agent mode and have a disk to persist the WAL cache. At random times one of the Prometheus instances start sending absurd values that are not possible.

**What did you expect to see?**

I expected to see normal reasonable values tha

[2022-03-14 10:11] prymitive commented on #10377
Due to this issue I've been having a closer look our rule evaluation and one of the alerts I've added pointed me at a single instance running v2.32.1 that shows similar symptoms. I do see rule evaluation timeouts every 30 minutes on that instance, but it's all limited to a single rule group that runs something expensive. Normally those queries take about 50s (with 1m interval) but when compaction

[2022-03-14 16:42] tanvp112 opened #10449 "Prometheus won't ingest underlying kubelet metrics and cadvisor when running on AWS Fargate"
Not supported.

[2022-03-15 06:40] steve-exley commented on #10264
We are running 2.33.5, no issues yet. I will report back if that changes.

[2022-03-15 16:53] srimuvva commented on #10431
@mattdurham
Number of Series: 140620
We see the agent mode using the high heap memory(As described remote.processExternalLabels using more than 50% of total heap) all the time compared to that of server mode. Please let us know if you need any more specific info.

[2022-03-15 17:13] srimuvva commented on #10431
[pprof.prometheus.alloc_objects.alloc_space.inuse_objects.inuse_space.001.pb.gz](https://github.com/prometheus/prometheus/files/8255692/pprof.prometheus.alloc_objects.alloc_space.inuse_objects.inuse_space.001.pb.gz)
[pprof.prometheus.alloc_objects.alloc_space.inuse_objects.inuse_space.002.pb.gz](https://github.com/prometheus/prometheus/files/8255693/pprof.prometheus.alloc_objects.alloc_space.inuse

[2022-03-15 21:13] baryluk commented on #10264
After 2 weeks on our side, also no issues.

[2022-03-15 23:53] roidelapluie commented on #10226
Friendly ping.

[2022-03-16 00:11] roidelapluie commented on #10420
Who would be responsible to error when a user has the same label set in rate({}) output?

Wrong query example: sum(rate({__name__=~"foo|bar"}[5m])). If you have foo and bar metrics (e.g. with no labels), it will fail in prometheus but not in your example.

[2022-03-16 02:19] mayurOciSA commented on #10226
@roidelapluie I plan to support ~300 targets in 1 sd job, without throttling and with a default refresh_interval of 5minutes.
I will be done with coding the functionality in 1 or 2 days and will perform testing and see how it performs. Will soon get back to you with results in 2/3 days.  Does this help?
Also, can you please share your requirements for the test account on OCI in terms of what servi

[2022-03-16 04:26] gburton1 opened #10455 "Make azure_sd_config resilient to one bad VM/NIC"
## Proposal
**Use case. Why is this important?**
The azure_sd_config logic currently queries all VMs in the given subscription, and then plucks out the network interface from each VM and queries Azure for the network interface. If the network interface is not found, the whole discovery process bails out.
[code]
This means that a large subscription with hundreds of VMs can take a complete metric ou

[2022-03-16 08:13] SiminMu opened #10456 "Observed "Error on ingesting out-of-order samples" & "duplicate sample for timestamp" errors"
**What did you do?**
I setup two prometheus services on two separate servers, one for client to scrap several targets(use agent mode) and another for remote write endpoint

**What did you expect to see?**
I expected to see no error about "out-of-order samples" or "duplicate sample for timestamp" as I manually checked the metrics of the targets and didn't see any duplicate sample(metric name + labl

[2022-03-16 10:05] roidelapluie commented on #10226
We need to be able to power small vms', to test the SD. This is only debugging and ad-hoc, when we have users requests.

[2022-03-16 10:45] avishayafik commented on #9944
we are experiencing exactly the issue , working with bitnami Prometheus operator

[2022-03-16 11:26] hagen1778 opened #10457 "Alerts evaluation: resendDelay does not account for notifications send error"
**What did you do?**
I've started Prometheus configured with alerting rule which always fires and `-resendDelay=10m`. A couple of seconds later, I started Alertmanager for receiving the alerting notification from Prometheus.

**What did you expect to see?**
The alert notification to be received by Alertmanager.

**What did you see instead? Under which circumstances?**
There was no active alerts in

[2022-03-16 15:21] replay commented on #10291
Hi @pierluigilenoci, thanks for reporting the issue. Do you roughly know how long after starting the Prometheus instance the panic has occurred? Did it happen like right after starting it, or after a significant amount of time has passed? I'm trying to figure out whether this is a bug related to the initialization procedure or not.

[2022-03-16 16:21] pierluigilenoci commented on #10291
@replay practically right after booting. If you look closely at the log you can read the Prometheus boot strings:
[code]
and after a couple of minutes, during the WAL load:
[code]
After the reboot, it happens again but maybe on some different chunk.

[2022-03-16 16:36] replay commented on #10291
Thanks for your reply!

There is no guarantee that the panic on the second line happened right after the log statement on the first line of this snippet, that's why I had to ask about the timing:
[code]

This is very interesting, I have two more questions:

1) When you restart your Prometheus is there always a panic, or just sometimes?
2) Are you sure that you don't have multiple instances of Prom

[2022-03-16 17:22] Nexucis opened #10458 "UI: Filter in service discovery page has a weird behaviour"
**What did you do?**

We were trying to filter some targets in the service discovery page, when we found that using a pattern shouldn't match anything, is still returning/displaying the dropped target

<img width="565" alt="image" src="https://user-images.githubusercontent.com/4548045/158649646-1d1ac207-e4d9-4527-8736-eb8d6bdbeb7c.png">

**What did you expect to see?**

When the pattern doesn't ma

[2022-03-17 07:23] EmmaTinten commented on #10264
We have this new version running since the day of publishing without problems. It looks good. Thanks again!

[2022-03-17 07:26] wu3396 opened #10459 "Remote-Read Performance"
**What did you do?**
We have a promethues instance that monitors 3,500 nodes, and provides global queries through the thanos sidecar mode. During use, we found that the query time of the same PromQL in thanos and prometheus differs by 2 times or more. Further monitoring found that /api/v1/read of prometheus has relatively large time delay

**What did you expect to see?**
I would like to be able to

[2022-03-17 07:57] pierluigilenoci commented on #10291
@replay I'm sure the panic happened right after the previous line because I saw it happen with my own eyes.
I was checking the live logs during `CrashLoopBack`.

The situation was created in this way:
* During the Prometheus update ([Chart](https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus) from 15.4.0 to 15.5.3, Prometheus from v2.33.4 to v2.33.5) the updated server

[2022-03-17 08:43] #10449 closed

[2022-03-17 12:42] binaryDiv commented on #9932
The PR implemented `stripPort`, which is very nice and practical, thanks for that. :)

The other proposed function `shortHostName` is still open though.

I've never worked with Go until now, but it seems like an easy thing to implement. So unless anyone is already working on that, I could give it a try.

[2022-03-17 12:46] roidelapluie commented on #9932
Maybe we could find a better name .. stripDomain ?

[2022-03-17 13:46] csmarchbanks commented on #10264
Yay! Glad to hear that the new version is doing well. I am going to close this but I am happy to reopen if an issue does occur for anyone.

[2022-03-17 13:46] #10264 closed

[2022-03-17 19:27] David-N-Perkins commented on #10455
The `return` isn't the problem. This method is run in parallel go routines, one for each VM. It's because when an error is written to the `ch` channel (two lines above the return) and the refresh method reads it, just the error is returned on line [403](https://github.com/prometheus/prometheus/blob/main/discovery/azure/azure.go#L403).

My question is what should be done with errors? Just log them

[2022-03-17 23:27] gburton1 commented on #10455
Skipping the VM is the main recommendation. Adding WARN-level logging would be the simplest additional step to add  visibility. Adding a metric for it would be even better because then it could be alerted on more easily. In fact, you could argue that the metric is the most important part of this feature request because it would have value even if the skip functionality were not added. The reason i

[2022-03-18 03:33] SiminMu commented on #10456
Update:
For the out of order error, I found cadvisor exporter will expose tmestamp by itself([link](https://github.com/google/cadvisor/issues/2123)), I suppose this is the root cause, so I added honor_timestamps into configuration file of client side and this error disappeared.

For the duplicate sample for timestamp error, I modified the code of remote-write prometheus and collected all of the me

[2022-03-18 07:38] Tuneabq commented on #10459
✅✅✅💯

[2022-03-18 07:40] ihsancemil opened #10465 "Assuming Counters Start f"
https://github.com/prometheus/prometheus/blob/8b5eb562b12f4ea0e0f9126e7b25f5a450687970/promql/functions.go#L70

[2022-03-18 07:40] #10465 closed

[2022-03-18 09:16] ihsancemil opened #10466 "[Question] Why counters starts from NO_DATA rather than 0"
# Question
https://github.com/prometheus/prometheus/blob/8b5eb562b12f4ea0e0f9126e7b25f5a450687970/promql/functions.go#L70
In above code if there is only one point exist it does not calculate the rate(or increase) of the samples. For example, VictoriaMetrics assumes that counters starts from 0 which looks natural to me. Why prometheus ignores these samples.

# Behind the story
I create a counter fo

[2022-03-18 13:28] David-N-Perkins commented on #10455
OK. I'll work on adding a metric to count failures and continuing checks. @roidelapluie, any additional comments or concerns?

[2022-03-18 14:46] roidelapluie commented on #10455
What was Prometheus behaviour?

I expect that Prometheus keeps the old list of targets until the VM is decomissionned. I don't think we should drop a target because that call fails. This seems like a bug to fix by the azure teams, not prometheus.

[2022-03-18 18:05] gburton1 commented on #10455
@David-N-Perkins thanks!

@roidelapluie you are correct that Prometheus keeps the old list of targets if service discovery starts failing to process one VM. But if Prometheus gets restarted/redeployed, then you lose the old list of targets, and the service discovery process never succeeds at building a new list of targets because it chokes on the single bad VM. The malconfigured VM needs to be fix

[2022-03-18 22:07] Dentrax opened #10468 "scrape: introduce two new metrics: `scrape_error_count` and `scrape_total_count`"
## Proposal
**Use case. Why is this important?**

`scrape_error_count`: simply we should increase this gauge in case either `err != nil` or `non-ok` response. https://github.com/prometheus/prometheus/blob/9ed56c6065f2602090553cc3ced90baa4e14e1f9/scrape/scrape.go#L784-L795

It would be better for observation if there are some _failed_ scrapes.

`scrape_total_count`: we should increase this just bef

[2022-03-19 00:48] roidelapluie commented on #10468
What would be the point of (scrape_total_count / scrape_error_count)? That sounds like `avg(up)` ?

[2022-03-20 14:44] Dentrax commented on #10468
Correct, actually dropped that as an example. We can get more _scraping_ details about target applications by adding these two metrics. It would be nice to have to create some dashboards that show scrape healthy _per application_.

[2022-03-20 14:52] roidelapluie commented on #10468
Why not using avg(up) by(job) ?

[2022-03-20 15:59] Dentrax commented on #10468
Hmmm, by using this query actually we are able to calculate uptime percent. And `count(up) == 0` means that Prometheus couldn't scrape it? In this case, we don't need smth like `scrape_error_count`, right?

[2022-03-20 19:58] roidelapluie commented on #10468
uptime percent is avg_over_time(up[1h]).

[2022-03-20 21:07] LeviHarrison opened #10470 "UI: Scrape interval and duration tooltip not showing"
**What did you do?**

I hovered over the scrape duration for a target on the targets page.

**What did you expect to see?**

A tooltip with the current scrape interval and timeout.

**What did you see instead? Under which circumstances?**

While in full screen, the tooltip did not show, instead the cursor just flickered between the pointer mode and the text selection mode:

<img width="1512" alt="

[2022-03-21 17:29] fatsheep9146 commented on #9932
"stripDomain" is just what we need in our case. If it's ok to you, I would like to implement this as soon as possible :） @binaryDiv

[2022-03-21 17:39] peterbourgon commented on #9932
Honest curiosity: do relabeling rules not solve this problem?

[2022-03-21 18:50] roidelapluie commented on #9932
Relabeling mangles the data before it's in TSDB. This is at the alerting level, e.g. to be used in templates. Those are 2 different levels.

[2022-03-21 19:56] alanprot commented on #9879
Seems that this fix also does not fix the race condition: :(

[code]

And the reason for that is that the series are removed from the map on the GC method https://github.com/prometheus/prometheus/blob/cd739214ddfe5ce5efd57e7a4c65d727d0b1227c/tsdb/head.go#L1409 and the minTime is only updated after in the `truncateMemory` method with no locking https://github.com/prometheus/prometheus/blob/cd739214

[2022-03-22 09:16] primeroz commented on #6934
For reference still hitting this issue on `v2.32.1` ( i know there are newer versions out but i could not see anything related to this issue in the changelog)

When we have a clean shutdown all is great thatnks to the `snapshot on shutdown` feature , but when prometheus OOM it basically never manage to restart.

We do run a quite dynamic environment so we get hundreds of pods  to recreate often en

[2022-03-22 10:37] marksumm commented on #6934
As far as I can tell, when Prometheus is running short of memory, it (perhaps not by design) goes into a sort of survival mode, where it continues to scrape and metrics are written to WAL, but WAL is never consolidated.  Unfortunately, this means that when Prometheus eventually runs out of memory completely, and the user tries to restart it, it needs even more RAM to clear the WAL backlog that was

[2022-03-22 10:57] mbakish opened #10474 "azure_sd_configs causes throttling limit on the Azure subscription"
**What did you do?**

I tired to use the azure_sd_configs to monitor VMs dynamically with the following configuration:

[code]

**What did you expect to see?**

Monitoring the VMs without impact on Azure

**What did you see instead? Under which circumstances?**

I was able to monitor but  had throttling issues in my Azure subscription caused by prometheus (I reached the throttling limit despite ha

[2022-03-22 15:40] roidelapluie commented on #10455
It seems wrong to ignore all failures. Can we only ignore "404" errors?

[2022-03-22 16:31] fatsheep9146 commented on #9932
@roidelapluie Would you review this pr? #10475

[2022-03-22 16:40] cstyan commented on #6934
Checkpointing (the process by which we determine which series are still active, keep those in memory, and then write some portion of the WAL data to a new long term storage file format and then truncate the WAL) does require the temporary usage of additional memory. If during normal operations your Prometheus is already using near it's max allowed memory then it's likely that various periodic rout

[2022-03-22 17:03] David-N-Perkins commented on #10474
The Azure service discovery makes several calls to the Azure API, which really depends on the number of VMs you have. It first gets a list of VMs, Scale Sets, and Scale Set VMs. Then it makes a call for each VM to get information about the network interface. 600K seems high, but not impossible. That would require over 400 VMs.

There is a [request](https://github.com/prometheus/prometheus/issues/1

[2022-03-22 17:04] gburton1 commented on #10455
@roidelapluie good idea. Ignoring only 404s would be a well-constrained way to make a big improvement to resiliency of service discovery.

@David-N-Perkins adding the metric for these errors is my top request. But I also think that ignoring 404s and continuing the service discovery processing, whether its the initial refresh or later ones, would be a great improvement to the robustness/resiliency

[2022-03-22 17:15] marksumm commented on #6934
That makes sense.  However, in practice, I found several machines hosting Prometheus containers completely unresponsive.  When I rebooted them to regain the ability to log in, there was a large number of WAL files on disk, suggesting that checkpointing had not been happening for some time.

[2022-03-22 17:15] mayurOciSA commented on #10226
Hi @roidelapluie
I have got pulled into some other work but will get back to OCI-SD development and testing in a week.

For the OCI Cloud account for testing, I think Oracle Cloud "Always Free" tier might do the job. Here are the relevant links for the specifics.
https://docs.oracle.com/en-us/iaas/Content/FreeTier/freetier_topic-Always_Free_Resources.htm#freetier_topic_Always_Free_Resources_Infras

[2022-03-22 18:21] David-N-Perkins commented on #10455
@gburton1 I put up a PR. Would you be able to test the changes?

[2022-03-22 18:25] gburton1 commented on #10455
Sure. Do PR builds generate a docker image artifact? We run Prometheus in Kubernetes.

[2022-03-22 18:55] #9498 closed

[2022-03-22 18:59] roidelapluie commented on #10226
Okay. One last think would be to see how much bigger the prometheus binary gets with that extra SD.

[2022-03-22 19:13] David-N-Perkins commented on #10455
I don't think so. The CircleCI build just produces [executables](https://app.circleci.com/pipelines/github/prometheus/prometheus/16361/workflows/702ba023-2d93-49ce-935a-d3548a11d049/jobs/78183/artifacts). There are [instructions](https://github.com/David-N-Perkins/prometheus/tree/azure-sd-failure-counter#building-the-docker-image) for building it manually. If that's too difficult, I could build an

[2022-03-22 20:05] mayurOciSA commented on #10226
for Prometheus binary: it is 116.5 MB after building locally with new OCI SD on mac vs 104.7MB I downloaded from https://prometheus.io/download/

[2022-03-22 21:05] roidelapluie commented on #10434
Can you try

avg by (instance) ((1 - rate(node_cpu_seconds_total{mode="idle"}[$__rate_interval])) and node_cpu_seconds_total and node_cpu_seconds_total offset $__rate_interval  )

[2022-03-22 21:11] ElkRom commented on #7940
Hi guys,
Any updates?

[2022-03-23 08:39] SiminMu commented on #10445
Did you see any error log from Prometheus or Thanos such as "out of order" or "duplicate timestampe"?
I also got this [issue](https://github.com/prometheus/prometheus/issues/10456) after I saw a a lot of error messages of "out of order" or "duplicate timestampe".

[2022-03-23 10:51] mbakish commented on #10474
thanks for the explanation, we have autoscaling that causes changes in the amount of VMs and the metadata that Prometheus gets but we never reached over 400 VMs
If I switch it to use the VMSS tag will it reduce the amount of requests?

[2022-03-23 12:08] David-N-Perkins commented on #10474
Not sure what you mean by "switch it to use the VMSS tag". I think your best bet is to reduce the refresh interval to something like 5 minutes (that's the default). Remember, the refresh interval controls how often the list of VMs to scrape is updated. So, essentially how quickly new/removed VMs are added/dropped. It's not how often the VMs are scraped.

[2022-03-23 12:14] mbakish commented on #10474
thanks David that was helpful, I was sure that the refresh interval controls both the VM list and scraping
since it's not the case I will try using the 5m interval and update on the impact

[2022-03-23 15:26] alexrlima81 opened #10480 "prometheus - "error starting web server: accept tcp 0.0.0.0:9090: accept: invalid argument""
error to start prometheus / error starting web server
I ran the promtool and checked OK, but failed to start prometheus with ./prometheus
./promtool check config prometheus.yml
Checking prometheus.yml
 SUCCESS: prometheus.yml is valid prometheus config file syntax

./prometheus --config.file=prometheus.yml
ts=2022-03-23T14:16:35.054Z caller=main.go:479 level=info msg="No time or size retention was

[2022-03-23 20:29] NightTsarina opened #10481 "Build failures with big integers"
Hi,

I am experiencing build failures in almost all architectures due to the handling of big integers in tests for templates and promql. The former [fail in 32-bit architectures](https://buildd.debian.org/status/fetch.php?pkg=prometheus&arch=armel&ver=2.33.5%2Bds1-1&stamp=1647413660&raw=0) due to simple literal overflows, while the latter [fail in 64 bit architectures](https://buildd.debian.org/st

[2022-03-24 01:59] AndrewFarley commented on #10404
Ping?

[2022-03-24 10:44] #10245 closed

[2022-03-24 10:49] roidelapluie commented on #9568
I am reopening: apparenly go 1.18 adds support for SystemCertPool for windows. We could use this. https://pkg.go.dev/crypto/x509@master#SystemCertPool

[2022-03-24 13:17] bwplotka commented on #394
PR was closed but here is issue on Grafana Agent for it: https://github.com/grafana/agent/issues/834

[2022-03-24 14:21] fpetkovski commented on #394
I've needed this functionality so many times so I'll try to take a stab at it. Thanks to @tomwilkie for the great idea to use a decorator appender. The only limitation with the approach is that dropped metrics cannot be used in the rules so cardinality reduction options are still limited. I guess in the case of the agent, metrics can also be dropped at remote-write time.

[2022-03-24 15:19] phillebaba commented on #10445
@SiminMu yes I am seeing the same out of order issues from cadvisor that you have seen. My expectation has been that both Prometheus and Thanos should handle this gracefully and eventually recover. But all I see is that metric values go a bit crazy when the cadvisor issues start appearing in the cluster.

[2022-03-24 15:20] uvaisibrahim opened #10484 "Prometheus showing targets down when the sample_limit has reached"
**What did you do?**

Tested `sample_limit` configuration with prometheus. Once the sample limit has crossed, the endpoint has seen down in prometheus targets with a message `sample limit exceeded`

**What did you expect to see?**

The target shouldn't go un-available Instead the prometheus should scrape the metrics from the affected targets upto the sample limit.

**What did you see instead? Unde

[2022-03-24 15:23] srimuvva commented on #10431
@mattdurham Do you need any more info/logs on this issue?

[2022-03-24 15:39] wenjianqiao commented on #10371
The `go.buf.build/protocolbuffers/go/prometheus/prometheus` module solved the dependency problem. We include the following module in go.mod.
[code]

To unmarshal the protobuf message, you need to import `google.golang.org/protobuf/proto` or `github.com/golang/protobuf/proto` (already deprecated).

[2022-03-24 15:40] wenjianqiao commented on #10371
The `go.buf.build/protocolbuffers/go/prometheus/prometheus` module solved the dependency problem. We include the following module in go.mod.
[code]

To unmarshal the protobuf messages, you need to import `google.golang.org/protobuf/proto` or `github.com/golang/protobuf/proto` (already deprecated).

[2022-03-24 15:40] #10371 closed

[2022-03-25 04:29] peterbourgon commented on #10484
Which metrics should be scraped, and which ones ignored? It's a trick question: there is no good answer :) `sample_limit` is a way to let operators define absolute limits to protect their systems. It shouldn't be hit under normal operations.

[2022-03-25 11:44] Praveen5k opened #10489 "Getting "context deadline exceeded" error"
We are getting the below error intermittently in Prometheus and whenever this error occurs, the particular target "up" value is showing as 0 which results in triggering a false alert. I have gone through some forums and they have suggested to increase scrape_timeout value. I have set scrape_interval as 60s, so I cannot increase scrape_timeout beyond 60s. Currently, scrape_timeout value is set as 1

[2022-03-25 12:11] bboreham commented on #6934
It will fill the disk too, if that option is available #10015.

[2022-03-25 14:25] roidelapluie commented on #10484
Hello,

The reason why we drop all samples when we hit the limit is because it is a lot easier to deal with non-existing data than it is with incomplete data.

[2022-03-26 03:29] lsowen commented on #10404
Seeing the same thing for a PVC that I resized.  `kubelet_volume_stats_capacity_bytes` is still showing the original (smaller) size.

[2022-03-26 21:21] peterbourgon commented on #10404
I guess this isn't a Prometheus issue, but rather whatever exporter provides the `kubelet_volume_stats_capacity_bytes` metric.

[2022-03-27 14:07] LeviHarrison commented on #10489
This errors means that the scrape request is timing out because the target isn't responding fast enough. There's probably something wrong with that ZooKeeper instance.

[2022-03-27 23:22] AndrewFarley commented on #10404
@peterbourgon I mean, if it's not Prometheus (core) then perhaps it would be the node_exporter then eh?  Hmm, let me cross-post over there and see if anything comes of that

[2022-03-28 07:47] mbakish commented on #10474
closing it since the issue didn't occur for a few days
Thanks David :)

[2022-03-28 07:47] #10474 closed

[2022-03-29 00:24] roidelapluie commented on #10481
I am fine with the changes, can you send a pull request? Thanks!

[2022-03-29 01:49] peterbourgon commented on #10404
I suspect it's a bug in kubelet.

[2022-03-29 05:58] AndrewFarley commented on #10404
Where... would be that code?  :\

[2022-03-29 10:00] roidelapluie opened #10494 "Ingest OpenTelemetry metrics"
I am surprised that this matter has not beed discussed in the Prometheus issues tracker yet.

While OpenTelemetry Collector has full support for Prometheus, I wonder if we should also have this natively in Prometheus.

I would like to see how we could natively ingest OpenTelemetry metrics in prometheus, and having an idea of the amount of work it would take:

- Study the changes that would be need

[2022-03-29 10:06] disambiguationuk commented on #10256
We have retention_time set to six hours but our oldest blocks end up being much older than this during this behaviour, they never get cleaned up.

[2022-03-29 10:15] jrauschenbusch commented on #10253
Will close this ticket as it's now implemented and merged.

[2022-03-29 10:15] #10253 closed

[2022-03-29 20:13] phillebaba commented on #10445
@SiminMu looked at your issue and I dont think the configuration is the issue. I am still seeing problems with wildly inaccurate values being sent at times when cadvisor seems to start failing. Would love help from anyone else if they have some other suggestion.

[2022-03-30 04:17] dantecatalfamo commented on #8799
I also rely on Prometheus on OpenBSD and I'm running into a similar issue. I found this issue through googling the error message. I'm running `prometheus-2.24.1p1` on `OpenBSD 7.0 GENERIC.MP#5 amd64`
[code]

I've tried deleting `/var/prometheus/`, restarting the service, rebooting, and even downloading the latest release from github but the same thing keeps happening. It's possible it's my disk bu

[2022-03-30 08:31] venkatchinmay opened #10502 "Is that possible to query for the “raw” data within a time range with exact ingested time stamps without considering arbitrary step for range queries"
Hi, I would like to retrieve data **AS it was collected and recorded by Prometheus.**
I do not want to use an arbitrary step for range queries.

Is that possible to query for the “raw” data within a time range with exact ingested time stamps ?
**If it is possible to get, so how ?**
**if it is not possible why ? and suggest any alternative**

@codesome

[2022-03-30 09:19] discordianfish commented on #10404
Not here, not in the node_exporter either. It's in kubernetes..

Also, for questions/help/support please use our [community](https://prometheus.io/community/) channels. There are more people available to potentially respond to your request and the whole community can benefit from the answers provided.

[2022-03-30 09:19] #10404 closed

[2022-03-30 09:22] codesome commented on #10502
Closing in favour of https://github.com/prometheus/prometheus/discussions/10503

[2022-03-30 09:22] #10502 closed

[2022-03-30 10:43] zjutkz opened #10504 "Prometheus query"
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	insert output of `alertmanager --version` here (if relevant to the issue)

* Prometheus configuration file:
[code]

[2022-03-30 10:57] zjutkz opened #10505 "Prometheus query_range is slow"
**What did you do?**
I am requesting Prometheus's `query_range` interface between 15 seconds and 25 seconds every minute, and the number of requests is about 200,000 to 300,000 every minute.

**What did you expect to see?**
Prometheus can return data smoothly.

**What did you see instead? Under which circumstances?**
The interface of Prometheus sometimes returns data very slowly

**Environment**
H

[2022-03-30 15:24] IzhakJakov commented on #10371
I confirm that it works but I could not find where this is documented.
Where should I look?

[2022-03-30 16:49] nixargh opened #10507 "Cannot create 'kubernetes_sd_config' service discovery with 'no Auth Provider found for name \"gcp\"'"
**What did you do?**
My Prometheus is outside of k8s clsuter.

I added a new service discovery config:
[code]
The kube config is created using `gcloud` to work with GKE (google managed k8s).

kube.config:
[code]

**What did you expect to see?**
New service discovery.

**What did you see instead? Under which circumstances?**
An error reporting:

**Environment**

* System information:
	Linux 5.13.0-

[2022-03-30 20:35] uvaisibrahim opened #10508 "PV nodeAffinity conflict with Pods - AzureDisk persistent volume claim"
**What did you do?**

I deployed prometheus statefulset in self managed kubernetes cluster(Not AKS) in Azure. The storage was configured as persistent volume claim. The storage class for PVC is given below.

[code]

Statefulset got deployed successfully. But the pods are in pending state and never got scheduled to the nodes.

**What did you expect to see?**

The pods should get scheduled to nodes

[2022-03-31 07:23] zjutkz commented on #10505
[code]
The reason I use these three parameters is because I want to reduce the memory usage as much as possible (currently this should keep the memory at 5 minutes of data, right?)
I don't know if it is because of the setting of these parameters that the CPU consumption is too high, because I see that the official does not recommend setting these parameters.

[2022-03-31 07:26] roidelapluie commented on #10505
Hello,

We unfortunately do not support that short block durations. A lot of things can happen with such values. It also means that you will always by compacting the TSDB in some way, which can cause quite big CPU consumption.

[2022-03-31 07:47] brancz commented on #10507
Yeah, I'm not sure when this happened, but I also noticed in other projects that adding this import is now required:

[code]

I would say let's add that to here:

https://github.com/prometheus/prometheus/blob/c31a3e4c92bf30ce8d9237e18752a9aaa39d91f4/discovery/kubernetes/kubernetes.go#L43-L46

Would you like to do give this a try?

[2022-03-31 07:56] DrAuYueng commented on #8831
I think it's no need order multiple networks by default, just get the first network will be ok.
People can order the networks in docker-compose config file.
Kubernetes meet the same promblem when pod has multiple networks and it just shows the first network as default network.
The command look as below:
`nsenter -n -t19032 -F -- ip -o -4 addr show dev eth0 scope global`

[2022-03-31 08:16] zjutkz commented on #10505
@roidelapluie OK, thanks. It looks like I still need to use your recommended parameter configuration.

[2022-03-31 09:07] codesome commented on #8535
We (@jesusvazquez, @Dieterbe, @codesome) are currently working on a MVP for this as part of [Mimir](https://github.com/grafana/mimir). Our ongoing work lives in the [`out-of-order` branch of `grafana/mimir-prometheus`](https://github.com/grafana/mimir-prometheus/tree/out-of-order) (still in early stages, nothing usable yet). We will share an outline of how we are designing the solution and the ext

[2022-03-31 10:15] March-deng commented on #10505
Is there any proposal or plan about the  idea of supporting the relative short duration?

[2022-03-31 10:28] thennetirajesh opened #10509 "Prometheus-Istio pods crashing with OOM"
Hi Colleagues,

We are noticing that Prometheus-istio pods keep on restarting with OOM (Out of memory) , Even we have increased the resource for the pod even though it's looking for a higher value. currently, we have allocated 8G for the istio pod. We are unable to figure it out the issue, can someone suggest what may cause the issue also is there any finetune is required kindly suggest us.

Confi

[2022-03-31 21:27] gburton1 commented on #10455
@David-N-Perkins I saw the PR merged this morning; thanks a lot for taking this on and making it more resilient, and making service discovery failure more visible via a metric.

[2022-03-31 21:48] roidelapluie commented on #10455
Indeed. Since it is merged, I will close this issue. Thanks all!

[2022-03-31 21:48] #10455 closed

[2022-04-01 04:53] subject-of-ymir opened #10512 "Sudden unexplained drop in scrape_samples_scraped within every 24 hours"
What did you do?

--> I have 4 services running in my docker stack, namely, Prometheus, Promscale, Postgres/Timescaledb and Grafana to monitor my django application. Currently I am working on testing APIs RPM and latency metrics, and accordingly I have a "api_latency_bucket" histogram and "api_hit_rate" counter metrics. Both metrics have a label called "apis" and values are the api name in my code

[2022-04-01 09:05] nixargh commented on #10507
Yes, I could try.

[2022-04-01 10:05] VenkateswaranJ opened #10513 "Http endpoint to change scrape_interval and scrape_timeout."
Currently, there is no Http endpoint for changing scrape_interval and scrape_timeout. One has to edit the config file manually and reload the config every time. Also in [<http_sd_config>](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#http_sd_config) it is only possible to add target URLs and labels but it's not possible to add scrape_interval for each target.

[2022-04-01 11:00] johgoe commented on #10213
I have the same issue. Is it possible to deactive http2 per scrape config (or servicemonitor in kubernetes operator)? `appProtocol: http` does not work for me. Looks like it's always a http2 connection.

[2022-04-01 11:53] roidelapluie commented on #10213
hello,

the possibility to deactivate http2 per scrape config will be available in prometheus 2.35. You could give it a try now by using the `:main` docker tag (documentation: https://github.com/prometheus/prometheus/blob/main/docs/configuration/configuration.md )

[2022-04-01 11:53] roidelapluie commented on #10213
The config option is
[code]

[2022-04-01 11:59] roidelapluie commented on #10513
With http_sd_config you can set scrape interval for each target:
[code]

You can also do this with relabel_configs. Without knowing more about your usecase, it is difficult to help you more.

[2022-04-01 11:59] #10513 closed, assigned to nobody

[2022-04-01 12:04] nixargh commented on #10507
I built it to test and saw that the issue gone.

[2022-04-01 12:26] #10507 closed

[2022-04-03 01:30] Nexucis commented on #10470
ah yeah indeed. I'm wondering if it's the right place to put this kind of info.
I tried with the prometheus demo (v2.27) and it doesn't work there as well. But I don't know when it has been added.

[2022-04-03 03:14] LeviHarrison commented on #10470
I don't think it's in v2.27. To your first point, we were discussing this in #10432 as we want to add additional values and we're not sure the tooltip is the right place.

[2022-04-04 14:29] dotwest commented on #9958
Has anyone found a fix for this yet? I'm getting the same error.

[2022-04-04 14:59] navneet1075 opened #10530 "[kube-prometheus-stack] cant evaluate rules , promtheus getting oom after some queries failing and very less memory usage"
**What did you do?**

observed some weird behavior on prometheus .

**What did you expect to see?**

promtheus running smoothly without errors.

**What did you see instead? Under which circumstances?**

[code]
the pvc size is 50GB . and see the current data consumption of the disk when the oom happened.

[code]

**Environment**

* System information:

	Darwin 21.4.0 x86_64

* Prometheus version:

[2022-04-04 21:44] minusf commented on #8877
would it be a possibility to have this (perhaps openbsd specific) mmap code "ifdefed" (whatever is the go equivalent) to the openbsd platform?

[2022-04-04 22:50] mayurOciSA commented on #10226
Hi @roidelapluie
I am code complete and have done testing with 1000 targets on OCI across 3 jobs. The results look good. I will create PR after completing some internal processes.

[2022-04-05 15:00] scorpey opened #10536 "Add recovery rules for alerting"
Hi.
Pleasy add recovery rule for allerts.

exampl
disk < 10 %  - ALLER FIRE
DISK > 30% - ALLERT OK

It is impotent for prevent multi firing allerting

Thanks you

[2022-04-05 15:12] beorn7 commented on #10536
This is a hysteresis style alert. We discussed it at the dev summit, see [meeting notes](https://docs.google.com/document/d/11LC3wJcVk00l8w5P3oLQ-m3Y37iom6INAMEu2ZAGIIE/edit?pli=1#heading=h.ro1r0q736gqw) (search for "hysteresis" to find the relevant section). tl;dr: We like it, and I think the notes even spell out an option how to implement this. Someone just has to do it.

[2022-04-05 16:16] j0holo commented on #8877
Maybe something with `if runtime.GOOS != "openbsd"`? But the whole mmap code is still compiled in the binary for OpenBSD. It just guarded by if statements in runtime.

[2022-04-05 18:32] andysim3d opened #10539 "Structured Remote Write Protocol"
## Proposal

**Use case. Why is this important?**
Structured remote write, make each remote write self-contained. So that ingestors could be stateless.

### OVERVIEW

Prometheus as de facto monitoring infrastructure is being widely used in industry. It scrapes data following OpenMetrics protocol and stores data in a storage - remote or local TSDB.

In current implementation of prometheus remote wr

[2022-04-06 03:08] freemankevin opened #10541 "web.enable-lifecycle flag false status"
This flag value shows that it is not in line with reality, it is obviously enabled and the test has passed, and then the false state is also displayed here.

![image](https://user-images.githubusercontent.com/71524776/161888169-cb60e156-2a60-4208-a66e-b34741d77af3.png)

![image](https://user-images.githubusercontent.com/71524776/161888203-262368a8-a165-4998-ae74-56f8d955df3a.png)

[2022-04-06 04:05] #8613 closed

[2022-04-06 08:18] vsxen opened #10542 "OpenTelemetry looks not work with grpc and insecure."
prometheus-2.34.0
otelcol version 0.48.0

* Prometheus configuration file:
[code]

* otel configuration file:
[code]

* Logs:
[code]

* otel log

[code]

[2022-04-06 09:33] vsxen commented on #10542
ping @roidelapluie

[2022-04-06 13:35] pSub commented on #8182
@dgl as you are the appointed unit test expert, please reconsider this feature request. I cannot emphanize the points made by @alexanderabramov  enough. We are currently adopting prometheus and have a lot of annotations that do not need to be covered by all test. Copy & pasting is error prone and creates visual noise, which hinders test adoption.

[2022-04-06 15:40] gouthamve opened #10547 "OTLP input API alongside remote write ingest"
OpenTelemetry is gaining more and more popularity and I think we should add an endpoint to Prometheus to ingest OTLP metrics.

I've done similar work here: https://github.com/grafana/mimir/pull/695

I am working on the PR right now, but before I send it, I want to make sure we want to OTLP directly. And there is also the caveat that if a request fails and is retried, it will result in a Out of Ord

[2022-04-06 15:41] gouthamve commented on #10547
https://github.com/prometheus/prometheus/issues/8535#issuecomment-1084299444 looks like it might fix the OOO writes, but it is a little bit far away I think.

[2022-04-07 01:06] liujing1087 commented on #10445
I do have the same issue, after trying multiple prometheus versions, I found that it works fine without using agent mode.

[2022-04-07 01:54] SiminMu commented on #10445
Used Grafana-agent, I didn't see this issue. Prometheus agent uses most of the code of Grafana agent, but it seems Prometheus agent is still not so stable now.

[2022-04-07 07:05] 352174109 opened #10551 "When I use recording rules, the dat would miss sometimes."
**What did you do?**
     I predefined a rule in Prometheus, like this.
       ``sum(increase(remote_qps{status='success'}[5m])) by (method, region) / sum(increase(remote_qps[5m])) by (method, region) ``

**What did you expect to see?**
    I think I should get continuous graphics when I use graph function in the Prometheus web page

**What did you see instead? Under which circumstances?**
   But

[2022-04-07 11:24] hholst80 opened #10554 "allow prometheus to consume prometheus.yml overrides on CLI or environment variables."
I wish to specify configuration as part of command line or environment variables to avoid having to define whole configuration files for tuning.

Use case below. There is just one single config in the prometheus.yml template that I need to tune per deployment.

![image](https://user-images.githubusercontent.com/6200749/162188079-47854f0d-9ad6-4465-a10d-168084ead224.png)

[2022-04-07 12:36] #10470 closed

[2022-04-07 16:17] d14mittal opened #10563 "Pagination support required for Prometheus API or Query to List down the metrics."
GET /api/v1/query API gives a list of all metrics for `query={__name__!=""}`
If I want to get only first 100, then next 100-200, then 200-300 so on.... how can I do that???
How to achieve pagination either in query or the API?

[2022-04-07 18:32] jzelinskie opened #10565 "RemoteWrite client / prompb moved into prometheus/common"
## Proposal

Lots of projects want access the protobufs for the remote write protocol and the boilerplate to make a request.
Right now that requires pulling in all of Prometheus, when really doesn't doesn't seem necessary.
I'm proposing moving some of this code into the github.com/prometheus/common repository.

[2022-04-07 21:18] roidelapluie commented on #10565
Thanks for your interest. We have not made a lot of noise about it yet, but we are experiencing with [buf.build](https://buf.build/prometheus/prometheus/assets).

Could you try:

[code]

[2022-04-07 21:20] roidelapluie commented on #10541
I can not reproduce it. Are you sure that you are pointing to the same release?

[2022-04-07 21:38] roidelapluie commented on #10554
What are you changing between environments?

[2022-04-08 06:02] ostrya commented on #9850
I have a similar use case and would also like to have a feature like this. In my case, I have several instances of an application, and I monitor based on the up{application="foo"} metric. Now I would like to create an alert query that indicates if at least two instances are down (up == 0), and ideally the resulting time series should contain the list of instances which are down.

The best I can cu

[2022-04-08 07:11] freemankevin commented on #10541
I found the reason. My docker-compose mounts prometheus.yaml as a file, so even if the interface is dropped, the effect cannot be seen, because docker needs to mount a directory to do file synchronization, and the directory permission is 775.
![388e71d31fd92a2843ae63c704d9f3a](https://user-images.githubusercontent.com/71524776/162382469-d71f7501-8d20-4ebc-acce-e68c8b904b05.png)

I truly appreciate

[2022-04-08 07:19] 352174109 commented on #10551
Sorry， This is because some rules wast too much time

[2022-04-08 07:19] #10551 closed

[2022-04-08 11:47] #7812 closed

[2022-04-08 13:34] Whyeasy opened #10567 "[Kubernetes] Namespace metadata added to scraped pods pre-ingestion"
## Proposal
**Use case. Why is this important?**

I would like to be able to add namespace label values as a value to all scraped pods pre-ingestion. We have multiple teams in a single cluster where they control what gets deployed to their namespaces but we generate the namespaces for them. In this case we add some unique identifiers on the namespace so we know which team owns which namespace.

No

[2022-04-08 18:03] mayurOciSA commented on #10226
Hi @roidelapluie

While working through some internal processes, a question came up with regards to the copyright notice format. Our standard when contributing code to a third-party open-source project is to just include "Copyright 2022 Oracle and/or its affiliates” (with the applicable year(s)) in the file headers.
However, since we’d be contributing Oracle code under the Apache 2.0 license, it m

[2022-04-09 15:44] caniszczyk commented on #10226
re: copyright headers, we prefer what is here:
https://github.com/cncf/foundation/blob/main/copyright-notices.md#copyright-notices

re: NOTICE.txt, it's fine to include

We also prefer a LICENSE file at the root of the project

[2022-04-10 14:22] chavacava opened #10570 "Dataraces in package `tsdb`"
While testing a new linting rule for [revive](https://github.com/mgechev/revive) I found subtle potential dataraces in the package `tsdb`.
Both dataraces are caused by capturing the named function result `err` in anonymous functions that are executed as goroutines.
First occurrence:
https://github.com/prometheus/prometheus/blob/6555cc68caf8d8f323056e497ae7bb1e32a81667/tsdb/head_wal.go#L134-L141
an

[2022-04-11 02:50] bryanasdev000 commented on #10530
First, I think kube-prometheus discussion is a better place for this (https://github.com/prometheus-operator/kube-prometheus/discussions).

Second, you can query by hand and check the results and try to track down the "why", in my experience this tends to happen when there are rests of an old Prometheus install (assuming you are Working on K8S and using the above-mentioned K8S setup).

You also ca

[2022-04-11 03:13] bryanasdev000 commented on #10509
Your Prometheus instance probably is allocating more memory than pods limit, then gets OOM and when it is scheduled again it starts to replay WAL (you are probably going to notice this when it starts, since it will take more time to be up and running again) and repeats the cycle.

You can check a few items:
- Retention time
- TSDB Stats (high cardinality issues)
- Drop any metric that you are not

[2022-04-11 09:06] BeIFreedom opened #10572 "why is Connection refused when I add --web.enable-lifecycle command?"
why is Connection refused when I add  --web.enable-lifecycle command?
prometheus:
      image: quay.io/prometheus/prometheus:latest
      container_name: prometheus
      network_mode: host
      restart: unless-stopped
      volumes:
        - /home/xxx/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      command:
        - '--web.enable-lifecycle'
curl: (7) Failed to connect to ip port

[2022-04-11 12:30] roidelapluie commented on #10226
In other cases i had added original copyright to files, like here:
https://github.com/prometheus/exporter-toolkit/blob/9f7b277231e81a5529f560c0389d764cc0ac7de3/web/handler.go#L1-L3

Maybe a double-copyright attribution on the files would be the simplest option here?

[2022-04-11 13:58] #10572 closed, assigned to nobody

[2022-04-11 15:07] Kanika637 commented on #10570
I am new to this project and I want to work on this issue, Could you please guide me?

[2022-04-11 15:28] chavacava commented on #10570
Well I'm also new to this project.
I think there is not to much to do on this issue, it is a tiny bug, and I've already made a PR #10571
If you are looking for GO open source projects to collaborate on, you can check [revive](https://github.com/mgechev/revive/) a GO static analysis framework. I'll be glad to guide you working on some of the issues

[2022-04-11 15:31] Kanika637 commented on #10570
Ohh ok then, will surely check https://github.com/mgechev/revive/  @chavacava

[2022-04-11 15:36] chancez opened #10574 "Allow specifying metrics to skip in promtool lint"
## Proposal
**Use case. Why is this important?**

An application may be exposing metrics that are defined by third party libraries, which the developer has no control over, so it would be useful to be able to configure promtool to skip these metrics when linting.

One example is the GoCollector metrics from `prometheus/client_golang` fails linting:

[code]

[2022-04-11 15:51] chancez commented on #10574
Also it seems like the metrics that don't conform are new in 1.12.x. So I think it may have been part of https://github.com/prometheus/client_golang/pull/955

[2022-04-11 16:27] gouthamve commented on #10547
I'm going to think about the TSDB stuff for a bit, but answering the other bit:

That is fair. I think we can also move the conversion code to Prometheus and let it become the source of truth which otel-contrib imports. I _think_ that the community would be open to that.

[2022-04-11 17:00] roidelapluie commented on #10547
cumulative is what delta encoding is doing, the challenge is to get the correct value at the beginning of the chunk

[2022-04-12 08:22] roidelapluie commented on #10445
cc @rfratto any idea here?

[2022-04-12 10:12] bwplotka commented on #10574
Yea, let's fix it on client_golang side, thanks for reporting!

[2022-04-12 10:30] #10570 closed

[2022-04-12 14:59] roidelapluie commented on #10542
cc @matej-g

[2022-04-12 23:18] hholst80 commented on #10554
global:
  external_labels:
    deployment: ${DEPLOYMENT}

[2022-04-13 06:13] roidelapluie commented on #10554
This is possible already. --enable-feature=expand-external-labels. https://prometheus.io/docs/prometheus/latest/feature_flags/#expand-environment-variables-in-external-labels

[2022-04-13 06:27] forumsheth15 opened #10581 "Prometheus is unable to scrape multi container metrics"
Our application is deployed in the istio service mesh and we are trying to scrape metrics at container level using the prometheus.io annotations.
So we have enabled spring boot metrics in our application and we are able to fetch the metrics on the given path '/manage/prometheus'.
We have enabled Prometheus annotations in the deployment file of our application as follows:

[code]
This works fine wh

[2022-04-13 08:31] liujing1087 commented on #10445
As I configured some alert rules for the OS metrics, I found that the error occurs when logs such as "WAL truncated... New checkpoint created" are recorded in the log file, then I got some alerts like disk space usage greater an impossibly very large value. Everything goes fine after disable agent mode.

[2022-04-13 08:32] liujing1087 commented on #10445
As I configured some alert rules for the OS metrics, I found that the error occurs when logs such as "WAL truncated... New checkpoint created" are recorded in the log file, then I got some alerts like disk space usage greater than an impossibly very large value. Everything goes fine after disable agent mode.

[2022-04-13 09:28] pro100guy opened #10582 "Environment variables in write_relabel_configs"
# Proposal
There was a huge discussion related to environment variables in Prometheus already https://github.com/prometheus/prometheus/issues/2357 and as a result, Env var is currently available in the external_labels entry.
It would be great to have something similar in "remote_write.write_relabel_configs" section.

## Use case:
2 Prometheus servers running in HA.  Many other components scraping

[2022-04-13 09:54] roidelapluie commented on #10582
You could do:

[code]

The issue with relabel configs is that `$` is also used for regexes, so it is not an option to have env subst here.

[2022-04-13 10:09] scorpey commented on #10536
Thear write - CONSENSUS: We want to enable this behind an experimental feature flag

Very Whell !!!

Wait someone just to do it !!!

[2022-04-13 10:21] roidelapluie commented on #10536
[code]

[2022-04-13 10:36] scorpey commented on #10536
Hi, all
It is different cases

One - have Recovery PromQL query

And any have freeze Allert at ON style.

I think  that RichH right: " Allow a secondary PromQL query to disable alerts"

[2022-04-13 10:37] beorn7 commented on #10536
I believe my proposal in the doc is able to satisfy all the proposed use cases:

That should be fairly easy to add, and then we can play with it and see if my believe is true.

[2022-04-13 10:41] scorpey commented on #10536
Of course

[2022-04-13 10:41] phillebaba commented on #10445
I just caught another occurrence of this now. The image below shows values for `gotk_reconcile_condition` which can impossibly have the value 19000.

![image](https://user-images.githubusercontent.com/10550243/163161362-c26b020e-257f-42b5-9ae9-bcabed3200e7.png)

Checking the logs of the offending Prometheus instance I see this.

[code]

The logs and the metrics correlate in time so obviously somet

[2022-04-13 10:49] pro100guy commented on #10582
Thanks @roidelapluie
It was exactly what I was looking for

[2022-04-13 10:49] #10582 closed

[2022-04-13 12:36] rfratto commented on #10445
I'll do a comparison of Grafana Agent code vs Prometheus Agent code today to see what's going on.

As an aside: ideally, long term, Grafana Agent will use Prometheus Agent code directly and won't get out of sync with fixes. That's not currently the case (we need to work on getting #10231 merged before we can do that), so the Grafana Agent team is currently a bit slow on catching issues like these.

[2022-04-13 12:42] roidelapluie commented on #10567
This sounds like you want target relabeling:

[code]

[2022-04-13 12:50] brancz commented on #10567
I think what's being requested here is the same as what's requested in https://github.com/prometheus/prometheus/issues/9510. The node metadata part was recently merged, but we haven't implemented this for namespaces yet as far as I know.

[2022-04-13 12:59] #10567 closed

[2022-04-13 13:01] Whyeasy commented on #9510
For me this would be a great help to have this capability for namespaces.

[2022-04-13 14:34] rfratto commented on #10445
grafana/agent#676 was a similar issue fixed in Grafana Agent that doesn't have a current upstream equivalent and needs to be fixed. But its conditions were a little different than what's being reported here: it only happened after a restart, and values never returned to normal.

To make sure I understand, everyone is seeing incorrect values eventually resolve on their own without deleting the WAL

[2022-04-13 22:07] dandv commented on #10107
Do I understand correctly that it's impossible to limit the number of raw samples returned by the [`query`](https://prometheus.io/docs/prometheus/latest/querying/api/#instant-queries) endpoint?

How can pagination of [raw samples](https://www.robustperception.io/extracting-raw-samples-from-prometheus) to be done (in chunks of equal size, as with `LIMIT` in InfluxQL)? Here's the [SO question](https

[2022-04-13 22:58] cstyan commented on #10107
Correct. Prometheus' server side config contains fields to limit the number of samples that can be loaded into memory at once during the execution of a query, but there's no `limit` parameters in the `query` or similar endpoints.

[2022-04-13 23:28] dandv commented on #10107
Thanks for clarifying. Coming from Influx, this seems like a major oversight. Am I missing something?

[2022-04-14 03:39] Reed-Wu commented on #10445
In my dev server, I met this issue sometimes, and I restarted the Prometheus agent, but the issue was still there.  Then I deleted the wal folder, the issue is gone after restarting.
I redirected the prometheus console log to a file, when this issue was seen, I found some error logs, like:

[2022-04-14 06:21] SiminMu commented on #10445
My case is similar with @Reed-Wu :
- I couldn't always reproduce this issue, but if I started 10 agents on 10 servers, I could get this issue on 1 or 2 of them after 1 or 2 days, restarted agent repeatedly is easier to reproduce this issue, but not 100%
- This issue would never disappear itself, unless I deleted the WAL file
- When I got this issue, I would see "out of order" & "duplicate timestam

[2022-04-14 07:47] phillebaba commented on #10445
I think we are all seeing the same thing. I have not been able to reproduce the issue, but as I am running 30+ Prometheus instances in agent mode I am bound to experience this issue eventually in at least one of the instances in a couple of days. I have experienced a couple of times where the resolution was to just restart the instance but for the most part I have to delete the WAL.

[2022-04-14 08:20] roidelapluie commented on #10581
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2022-04-14 08:20] #10581 closed

[2022-04-14 10:46] roidelapluie commented on #10542
I have worked on a bugfix: https://github.com/prometheus/prometheus/pull/10592

In the meantime, http should work as a workaround.

[2022-04-14 11:47] roidelapluie commented on #10563
This is in general a bad idea to extract all metrics. Pagination has the issue that we can not properly isolate every request, resulting in mixed output.

If you just want query names, you can also use `/api/v1/label/__name__/values`

[2022-04-14 14:27] bboreham commented on #10107
If reading a lot of raw samples in stages is what you want, then the [remote-read API](https://prometheus.io/blog/2019/10/10/remote-read-meets-streaming/) is more suitable.
Brian's blog post which you linked to is more about seeing some underlying data for debugging purposes.

As an Open Source project, Prometheus has those features that someone considered important enough to code up and contribut

[2022-04-14 15:18] sushilkumarsah commented on #6934
Even though prometheus team says it is a hidden setting and they ask not to edit it but still I would prefer using this because high traffic servers generate lot of WAL files and any OOMKilled situation worsens it as prometheus is never able to complete WAL compaction and keeps repeating OOMKilled.

We have setup prometheus in k8s with 8 core 28 GB memory and we frequently faced this OOMKilled. We

[2022-04-14 18:54] thepudds commented on #8852
Hi 👋 , I just commented in [golang/go/issues#52359](https://github.com/golang/go/issues/52359#issuecomment-1099511609), but three quick additional comments.

I've only skimmed this issue here, so sorry if this is off base.

1. You probably want to include a comment in the retract directives, which helps consumers understand what is happening and why. From the [go mod ref](https://go.dev/ref/mod#go

[2022-04-14 18:57] roidelapluie commented on #8852
Thank you! That fixed the issue!!!! Awesome!

[2022-04-14 19:02] roidelapluie commented on #8852
To everyone on this issue:

We will from now on mirror Prometheus releases to go.mod.
We will mirror 2.x releases onto 0.x releases on go.mod.

| prometheus release | go.mod release |
| - | - |
| v2.35.0    | v0.35.0 |
| v2.35.1    | v0.35.1 |
| v2.36.0-rc.1    | v0.36.0-rc.1 |
| v2.43.0    | v0.43.0 |

We have also retracted other releases from pkg.go.dev. The latest documentation is therefore av

[2022-04-14 22:10] #10542 closed

[2022-04-15 02:41] mickkael commented on #8219
This worked for me.

[2022-04-15 05:23] WystanW opened #10600 "How to get max value of two metrics?"
## Proposal
I have two metrics

sum(yottadb_pod_network_receive_bps{region_name!=""}) by (region_name)
<img width="1782" alt="image" src="https://user-images.githubusercontent.com/18168353/163524588-e530dc65-147e-4bf4-b954-f7ea22cd5a8b.png">

sum(yottadb_pod_network_transmit_bps{region_name!=""}) by (region_name)
<img width="1786" alt="image" src="https://user-images.githubusercontent.com/18168353

[2022-04-15 05:24] WystanW commented on #10600
I know a>b or b is helpful, but how can I group max values by "region_name"?

[2022-04-15 11:00] roidelapluie commented on #8877
It's not really the issue. The issue is that this takes time to review, which I don't really have at the moment.

[2022-04-15 12:20] roidelapluie commented on #10542
Can you please try Prometheus 2.35.0-rc1 ?

[2022-04-15 12:24] roidelapluie commented on #8535
Can you submit the doc to https://prometheus.io/docs/introduction/design-doc/ ?

[2022-04-15 13:29] roidelapluie opened #10603 "Breaking change due to go 1.18"
Go 1.18 TLS client has switched its default minimum TLS version to 1.2.

I see this as a breaking change from our users, who should be able to downgrade to 1.0 again.

ideally before the final release.

I am working on a fix.

cc @Nexucis

[2022-04-16 09:18] DrAuYueng commented on #10141
@roidelapluie Would you take a look at https://github.com/prometheus/prometheus/pull/10490 which should closes this issue?

[2022-04-18 05:34] Keep-working-enthusiasm opened #11004 "@prometheus-io/codemirror-promql: When can we give an example of Vue？"

[2022-04-18 09:53] GaneshbabuRamamoorthy opened #10606 "Prometheus remote_write server returned HTTP status 405 method not allowed"
Hi All,

I am working on sending data from prometheus to elasticsearch using **remote_write** in k8s and I am using Prometheus 2.28 image.

Below is the remote write configuration defined in configMap (k8s).

[code]

Once the prometheus pod starts running below is the error I am getting in pod logs,

[code]

Please let me know how we can resolve this issue and correct me If I am doing anything wro

[2022-04-18 15:54] rfratto commented on #10445
Thanks for the extra information. Given the recent comments, I suspect that #10587 might fix this after all.

[2022-04-18 16:02] ntimo commented on #10445
So you have a release timeline for 2.35? With the fix, this is sadly making my PagerDuty app flip out all over the place :(

[2022-04-19 03:09] yeya24 commented on #7397
I think I hit the same error but not sure if it is related to this issue.

[code]

Running with `v2.34.0-rc0` but I cannot find anything related to this fixed recently. @codesome

[2022-04-19 11:32] eugenyuk commented on #10264
Hello @csmarchbanks,

We have very similar issue with our prometheus:v2.33.5.
This is what is in a log:
`ts=2022-04-16T15:00:16.222Z caller=compact.go:519 level=info component=tsdb msg="write block" mint=1650110400000 maxt=1650117600000 ulid=01G0SE6MG4EJ4FSPGMYFHNDAHD duration=16.089291156s
ts=2022-04-16T15:00:16.241Z caller=db.go:1287 level=info component=tsdb msg="Deleting obsolete block" block=

[2022-04-19 23:52] cstyan commented on #10606
Prometheus remote write always uses `POST`, see the spec [here](https://docs.google.com/document/d/1LPhVRSFkGNSuU1fBd81ulhsCPR4hkSZyyBj1SZ8fWOM/edit#heading=h.m5w2zqslg10y), specifically

If I remember correctly, you need an additional component between prometheus and elasticsearch: https://www.elastic.co/guide/en/beats/metricbeat/master/metricbeat-metricset-prometheus-remote_write.html

[2022-04-20 00:14] csmarchbanks commented on #10264
Thank you for the report and goroutine dump, I have opened https://github.com/prometheus/prometheus/pull/10608 which should fix the issue you see. Hopefully it will be released with v2.35.0 very shortly.

[2022-04-20 13:02] halfcipher opened #10611 "Prometheus Compaction Issue"
We are facing an issue with the Prometheus due to compaction in an OKD cluster 3.11. We have observed that Prometheus is not able to delete the .tmp files.

The Prometheus data is persisted using persistent volume as NFS.

Following are the errors:

`level=error ts=2022-04-20T11:59:54.933890812Z caller=compact.go:432 component=tsdb msg="removed tmp folder after failed compaction" err="remove /prom

[2022-04-20 18:49] GaneshbabuRamamoorthy commented on #10606
@cstyan

I have checked the document in the link which you shared and I tried to include the headers in the HTTP request. below is the changes I have given in remote_write configuration,

When its deployed again in k8s the pod is not coming up and below is the error I am getting when I checked the pod logs,

[code]

Attached the prometheus manifest which I tried in my k8s environment and let me kn

[2022-04-20 19:50] cstyan commented on #10606
The point was that I think you cannot write directly to elastic search, you have to go through this thing they call metricbeat.

[2022-04-21 08:59] phillebaba commented on #10445
@ntimo looks like they are cutting a new release right now.

[2022-04-21 09:21] #7196 closed

[2022-04-21 09:48] roidelapluie commented on #10445
Yes, 2.35 is being released now.

[2022-04-21 11:24] urusha opened #10617 "Query function to get value of a label"
## Proposal
Query function to get value of a label. This would be convenient to have alert thresholds stored in labels. What would lead to simplified alert rules.
Example:
Metrics:
[code]
Alert rule:
`metric1 < label_value(metric1,label2)`
would turn into:
[code]

[2022-04-21 11:55] GaneshbabuRamamoorthy commented on #10606
@cstyan

Yes right we cant write directly to elasticsearch I have tried deployed the metricbeat as a pod in k8s and in the metricbeat.yml I have added the below config,

[code]

and In prometheus config I have added the below config,

[code]

When I redeployed it I am getting the below error in prometheus pod logs,

[code]
and below is the error I am getting metricbeat pod logs because metricbeat

[2022-04-21 15:30] SuperQ opened #10618 "Add feature flag to control /api/v1/metadata"
## Proposal

The current `/api/v1/metadata` includes every instance of the metric definition. There are [cases where application bugs introduce high cardinality HELP text](https://github.com/prometheus/jmx_exporter/issues/703).

It would be useful to have a flag to squash this and only return one (fist?) instance of the definitions in order to avoid expensive (many megabytes) of metadata being ret

[2022-04-21 15:31] ddevault opened #10619 "Unable to build Prometheus 2.35.0"
[code]

[2022-04-21 16:28] prymitive commented on #10617
A common pattern is to export a time series to act as threshold - https://www.robustperception.io/using-time-series-as-alert-thresholds, which can be done easily with https://github.com/prometheus/node_exporter textfile collector.

[2022-04-21 16:44] cstyan commented on #10606
In the docs from elasticsearch it's metricbeat that needs to start up and listen on 9201, which afaict from your config is correct, however metricbeat has the error `bind: cannot assign requested address` which iirc usually means something else is already listening on that port. Trying changing ports. Elasticsearch community or the prometheus-users mailing list might be a better place to ask furth

[2022-04-21 18:55] alanprot commented on #9879
Hi @codesome

https://github.com/alanprot/prometheus/commit/4b8e99d1e89f3f51f4669bf8e3c3ba4f8a213bed

This change also fix the problem (and also another datapoint to prove we have a race condition on that code). What do you think?

[2022-04-21 20:03] roidelapluie commented on #10619
please run `make build` which will generate the correct files.

[2022-04-21 21:55] #10603 closed

[2022-04-21 21:56] roidelapluie commented on #10565
Since there has been no further feedback, i will close this issue.

[2022-04-21 21:56] #10565 closed

[2022-04-21 21:56] roidelapluie commented on #10539
Thanks for this. Could you submit your design doc here: https://github.com/prometheus/docs/blob/main/content/docs/introduction/design-doc.md

[2022-04-21 21:57] jzelinskie commented on #10565
Yep! This solved our problem!

[2022-04-22 08:46] ddevault commented on #10619
Works. Thanks!

[2022-04-22 08:46] #10619 closed

[2022-04-22 11:11] roidelapluie commented on #10213
Prometheus 2.35 is released with the enable_http2 option.

[2022-04-22 11:11] #10213 closed

[2022-04-22 11:11] l0nax commented on #7397
We're currently facing the same issue with prometheus `v2.32.1`:

[code]

[2022-04-22 11:16] roidelapluie commented on #7397
In the meantine, you could do `mv prometheus/chunks_head prometheus/chunks_head.bak` to keep moving.

[2022-04-22 11:34] roidelapluie commented on #10466
because many counters do *not* start at zero. e.g. if you have traffic disruption, or you add a target that was never monitored before.

Assuming that a counter starts from zero would be inventing data and returning incorrect values.

[2022-04-22 11:34] #10466 closed

[2022-04-22 11:37] roidelapluie commented on #10466
If you really have the use case for this, you could do: `query_selector - query_selector offset d or query_selector`

[2022-04-22 11:37] roidelapluie commented on #10445
Please reopen if 2.35 does not fix this issue.

[2022-04-22 11:37] #10445 closed

[2022-04-22 11:38] roidelapluie commented on #10437
I will close this because it does not seem actionable.

[2022-04-22 11:38] #10437 closed

[2022-04-22 11:40] roidelapluie commented on #10428
thanks for your github issue.

I feel like this could be an issue for https://github.com/kubernetes/kube-state-metrics.

In the meantime, prometheus client libraries expose a process_start_time_seconds metric that can be used for this.

Regards,

[2022-04-22 11:40] #10428 closed

[2022-04-22 13:35] britcey commented on #10611
NFS is explicitly called out as not supported in the docs:

https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects

CAUTION: Non-POSIX compliant filesystems are not supported for Prometheus' local storage as unrecoverable corruptions may happen. NFS filesystems (including AWS's EFS) are not supported. NFS could be POSIX-compliant, but most implementations are not. It is strongly

[2022-04-22 23:02] alanprot commented on #9879
Hi @codesome

I created a PR to try to address this.... I changed the repro case to use a real TSDB to make sure that this problem really exists.

Thanks

[2022-04-24 10:18] phillebaba commented on #10445
Rolled out 2.35 to the majority om Prom instances and have yet to experience the same problems. Will keep an eye out during next week.

[2022-04-24 12:21] hairongGao opened #10625 "metricRelabelings doesn't work as expected"
### What did you do?

[code]
What I'm try to do is dropping those metrics from istio which have destination_service="unkonwn", but after I apply those configs and make sure they already available via prometheus console, check below prometheus configs snippets

### What did you expect to see?

What I expect is after I restart istio pod, and simulate some 404 requests ,there should be no related met

[2022-04-25 13:32] heapdavid opened #10626 "PuppetDB Service Discovery - Numerical parameters not converted to __meta_puppetdb_parameter labels"
### What did you do?

Hi,

We use puppetdb_sd to populate targets for scraping, with parameters enabled to be used with relabeling.

We've noticed some of the parameters were missing, based on their type.

It doesn't look like there is a case for `int` or `float` values in discovery/puppetdb/resources.go

https://github.com/prometheus/prometheus/blob/01c55822169a9123367e333dc407edd8a263f75d/discov

[2022-04-25 14:23] AndreSPy1 commented on #10626
/assign

[2022-04-25 14:27] AndreSPy1 commented on #10626
hello @heapdavid  could you work on this issue?

[2022-04-25 21:55] roidelapluie commented on #10626
I'd accept a pull request for this. @heapdavid do you want to give this a shot?

[2022-04-26 02:37] tooptoop4 opened #10628 "storage.tsdb.path to s3fs storage?"
has anyone used prometheus against s3fs mount instead of local storage? my prometheus runs on k8s and i want to avoid having a persistent EBS

[2022-04-26 06:53] amareshgreat opened #10630 "Prometheus is not providing used and available space for AWS EFS based PVC"
### What did you do?

Hello,
looking for a solution for PVC usages and alert when PVC reaches some limit(80%), currently we have deployed Prometheus helm chart in kubernetes cluster and we are getting PVC data from kubelet_volume_stats_capacity_bytes, kubelet_volume_stats_available_bytes, kubelet_volume_stats_used_bytes.

however above key is not collecting data for the PVC which is based on EFS s

[2022-04-26 07:18] roidelapluie commented on #10630
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2022-04-26 07:18] #10630 closed

[2022-04-26 07:19] roidelapluie commented on #10628
s3fs is not supported. Prometheus uses posix mechanisms that require actual filesystems.

https://prometheus.io/docs/prometheus/latest/storage/

[2022-04-26 07:19] #10628 closed

[2022-04-26 07:20] roidelapluie commented on #10625
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2022-04-26 07:20] #10625 closed

[2022-04-26 08:55] nikhilMS123 opened #10631 "Prometheus restarting with readiness probe failures"
### What did you do?

I have prometheus server installed for metrics but it keep on restarting.

### What did you expect to see?

_No response_

### What did you see instead? Under which circumstances?

It shows readiness probe failed with error code 503 though the wal replay was succesfull and log for open to new service requests is there.
<img width="944" alt="image" src="https://user-images.git

[2022-04-26 08:58] heapdavid commented on #10626
Thanks, yep will give it a go.

[2022-04-26 12:09] #10626 closed

[2022-04-26 16:15] matthewbyrne commented on #10631
Same here. Running prometheus 2.34.0, but seeing this failure on only on one of our clusters

[2022-04-26 16:16] trucnguyenlam commented on #10631
We have the same error, on prometheus v2.34.0

[2022-04-26 17:34] matthewbyrne commented on #10631
We removed the readiness probe temporarily and seen the wal was being loaded on Prometheus start. Prometheus was not ready while this was processing so it kept restarting.

[2022-04-27 06:15] nikhilMS123 commented on #10631
@codesome  can you please help

[2022-04-27 06:17] nikhilMS123 commented on #10631
I removed readiness probe and then saw this.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/97102260/165453487-6ce9ac15-915a-4b32-b358-858aac1af527.png">

Also the logs automatically stopped due to eviction.
<img width="953" alt="image" src="https://user-images.githubusercontent.com/97102260/165453594-726c58c6-f877-4ded-88c1-0b072e316e87.png">

[2022-04-28 20:11] #10606 closed

[2022-04-29 17:06] aflinchb opened #10643 "Create a major.minor tag for lates of each version (i.e. 2.35 tag to represent the latest 2.35.x)"
## Proposal

The proposal is to add an additional tag for versioning that allows developers consuming this docker image to specify a specific version in their configuration that will be updated with patches/bug fixes but will not accidentally pull breaking changes with a new release. In other words, tag with major.minor and major.minor.build.

Currently, the only option is to specify the latest ta

[2022-04-29 17:25] roidelapluie commented on #10643
Sure, we should have something like that but it does not work: https://github.com/prometheus/prometheus/pull/8026

[2022-04-29 17:31] prymitive commented on #10377
I did spend some time looking at this and the trigger seems to be `--storage.tsdb.max-block-duration=30m` we have set.
This causes Prometheus to cut new chunks every 30 minutes and when that happens we see (according to metrics) up to ~200k chunks created per second. This seems to slow down sample commits from rule evaluations (taking well into 30-50 seconds) which then might be blocking reads for

[2022-04-29 18:16] prymitive commented on #10377
I did try to rate limit chunk creation to verify if that would solve the issues I'm seeing with this simple patch:

[code]

and it looks like it does, no longer seeing rule evaluation getting too slow. And I do see a a long low rate new chunks cuts after max-block-duration is reached (instead of a short big burst). That being said my previous comment still stands - no idea if this is *safe*.

[2022-04-29 19:28] hartfordfive opened #10644 "Issues with promtool and metric cardinality analysis"
### What did you do?

I've attempted to use the recent promtool cardinality check feature in order to gain the ability to spot high-cardinality endpoints without having to lookup these stats in prometheus or via the tsdb tool.
Unfortunately, it appears that the tool fails to report cardinality stats in the situation where the metrics do not respect the naming convention best practices.

For exampl

[2022-05-01 04:33] ayush-san opened #10645 "Getting CPU spikes on 2.19.3"
### What did you do?

We are seeing CPU spikes and slow query execution when we load via grafana dashboards. Till now we were only using it for monitoring via grafana alerts.

![image](https://user-images.githubusercontent.com/57655135/166132081-a3c6363c-20ea-4144-9a82-05d46a093655.png)

According to newrelic, memory is about 70-80% free

### What did you expect to see?

CPU spikes shouldn't happe

[2022-05-01 22:27] LeviHarrison commented on #10644
You should be able to use `--lint=none` to disable linting.

[2022-05-01 22:48] LeviHarrison commented on #10644
The issue I see here is that the cardinality analysis functionality is merely a flag under `check metrics`, not a full sub-command[^1]. And given that the stated point of `check metrics` is to "lint [metrics] for consistency and correctness", it might be a little confusing to offer a flag disabling the linting. The solutions to this would be either modifying the documentation of the `check metrics

[2022-05-02 11:24] roidelapluie commented on #1548
#10641 introduces the relabel actions.

[2022-05-02 18:34] aameen-tulip opened #10660 "Makefile vulnerability"
## Proposal
**Use case. Why is this important?**
Currently the Makefile pipes a download from curl directly to tar without verifying checksums.

This makes the build vulnerable to man in the middle attacks, and prevents the build from being reproducible.

Verifying checksums will fix the security vulnerability. Additionally verifying checksums makes builds reproducible and cachable.

[2022-05-02 18:41] roidelapluie commented on #10660
Thanks. Indeed it would be a nice enhancement. Do you want to submit a pull request?

[2022-05-02 21:09] aameen-tulip commented on #10660
I can cook one up. The one I wasn't sure about was if locking on particular versions of the curled files was suitable for your usage.

For example:
[code]
In this case you'll want a big case statement for any possible versions:
[code]

So knowing which versions you require or accept is important. If you're cool with any version I can just set it to explicitly download the most recent release and h

[2022-05-02 21:24] Freyert opened #10661 "`scrape_config` can use "prefix set" inclusion/exclusion instead of regex"
## Proposal
**Use case. Why is this important?**
When I onboard a new prometheus exporter into a system, my team mates and I review the exposed metrics to determine which are valuable to retain and which should be dropped.

Prometheus metric names are usually prefixed with a "subsystem" that the metric belongs to. I find that during the metric selection process I usually select 2-3 metrics from ea

[2022-05-02 22:40] roidelapluie commented on #10661
Is this causing actual performance issues? We should only run relabeling once per metric, even when scraped multiple times.

Addidionally. Prometheus  regexes are optimized for prefix patterns in regexes: https://github.com/prometheus/prometheus/pull/7453

**However**, there might be interest to include matching directly in client libraries (client_java and client_python apparently can do that), s

[2022-05-02 22:41] roidelapluie commented on #10660
The version is fixed in the makefile.

On 02 May 14:09, aameen-tulip wrote:

--
Julien Pivotto
O11y - https://o11y.eu/

[2022-05-02 23:15] aameen-tulip commented on #10660
Cool I'll PR tomorrow.

[2022-05-02 23:18] utkuozdemir commented on #9218
Any new on this?

I am having the same issue. Using Prometheus v2.35.0 installed via kube-prometheus-stack chart.
Things I have checked so far:
- I made sure that there are no duplicate samples by adding unique external labels all instances. They are printed in the logs.
- Cleared all data of all Prometheus instances
- Checked system clocks and made sure that time is synced & correct
- Found that

[2022-05-03 10:56] rongshengfang commented on #9510
It looks like PR #10080 only applies to targets discovered using the `pod` role. Is there any plan to expand this feature to the targets discovered using role `endpoints`? For example, we'd like to have the node metadata attached to the node level metrics such as `node_memory_MemAvailable_bytes`.

[2022-05-03 15:35] cstyan commented on #9218
@utkuozdemir is this intermittent? on startup? constant? the occasional `out of order` message is not out of the ordinary or necessarily a problem

[2022-05-03 15:49] utku-ki commented on #9218
It is constant. However I started to suspect that it might be related to my upload bandwidth. I have 2 raspberry pis that do remote_write every 5 seconds from my home connection to internet, and my upload speed drops to as low as 5mbps during busy hours. I noticed that these 2 prometheuses kind of saturate my upload bandwidth and cause network stability issues overall, including to download.

I'll

[2022-05-03 15:50] utkuozdemir commented on #9218
It is constant. However I started to suspect that it might be related to my upload bandwidth. I have 2 raspberry pis that do remote_write every 5 seconds from my home connection to internet, and my upload speed drops to as low as 5mbps during busy hours. I noticed that these 2 prometheuses kind of saturate my upload bandwidth and cause network stability issues overall, including to download.

I'll

[2022-05-03 18:01] tdgeery commented on #9218
I'm having this same issue with Federated prometheus running in GKE clusters. The main operator prometheus has restarted nearly 60 times since the middle of the night last night.

[2022-05-03 18:31] Freyert commented on #10661
I just went through the exercise of actually building the regular expression so we'll see if there are performance implications potentially.

You _could_ say that there is a performance issue around precision with my example.

I have `89` metrics I want to keep, but the exporter exposes `1461`. I spent a few hours coming up with a regular expression that will match as few metrics as possible witho

[2022-05-03 18:31] cstyan commented on #9218
Out of order messages are common after restarts. I can't remember right now if we've fixed all known cases where out of orders should not be sent after restarts, but I'd suggest looking into your restarts issue first.

[2022-05-04 16:15] juliusv commented on #10458
Hmmm, it's unclear what the expected behavior *should* be. I can well imagine that for some people it might be useful to search dropped ones as well, especially if they want to confirm whether they existed at all before dropping if they are unexpectedly missing.

[2022-05-04 16:31] AntoineThebaud commented on #10458
That's actually the point of this proposal @juliusv, today you can not easily search among dropped targets because the filter is ignored, so when you have thousands of dropped targets like in the example above & pagination applying, it's really difficult to narrow down to a specific dropped target.

[2022-05-04 18:10] juliusv commented on #10458
Ah I misunderstood. Sounds good!

[2022-05-05 20:27] tooptoop4 commented on #10628
@roidelapluie juicefs claims posix support

[2022-05-06 15:09] roidelapluie commented on #10424
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2022-05-06 15:09] #10424 closed

[2022-05-06 15:10] roidelapluie commented on #10429
Closed by #10636

[2022-05-06 15:11] roidelapluie commented on #10434
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2022-05-06 15:11] #10434 closed

[2022-05-06 15:16] blackliner commented on #10434
@roidelapluie yes I tried your suggestion, but IMHO this is faulty default behavior of the avg method, to take numbers that do not exist into account

[2022-05-06 15:23] roidelapluie commented on #10456
Was it fixed like #10445?

[2022-05-06 15:38] roidelapluie commented on #10434
The issue is not avg but it is coming from rate(), which does extrapolate when data does not cover the full range: https://www.youtube.com/watch?v=67Ulrq6DxwA

[2022-05-08 15:28] roidelapluie commented on #9607
@bwplotka did we end up discussing this?

[2022-05-08 22:39] roidelapluie commented on #10661
Maybe that's a good case to fix the exporter, too.

[2022-05-09 17:12] prymitive commented on #10377
I did have some time to look a bit more into it and using trace endpoint seem to give me better information as I can see a better goroutine profile there with more in-depth information on what are all those goroutines spending time on.
Once again locking comes on top. There's a lot of rules and scrapes waiting on locks and they spend a lot of time there.

Tracing the code back I see that the probl

[2022-05-09 19:37] tjhop opened #10672 "Introduce Linode SD Failure Count Metric"
## Proposal
**Use case. Why is this important?**

I was reviewing the changes in the most recent release and I really like the concept of the failure count metric for Azure SD that was introduced in #10476. I'd like to introduce a similar metric for Linode service discovery -- I can see it being useful to alert on an expired API token, or even for use as a psuedo-Linode-API-healthcheck.

Do you ha

[2022-05-09 19:51] roidelapluie commented on #10672
Yes, let's do this! :)

[2022-05-09 21:40] oshyshkov2010 opened #10674 "Build error in master "Failed to parse source map from @nexucis/src/index.ts""
### What did you do?

Cloned the latest version and executing
make build

### What did you expect to see?

Successful build

### What did you see instead? Under which circumstances?

Darwin X64, nvm version v16.15.0, node v16.15.0, npm version '8.5.5', go version go1.18.1 darwin/amd64
git clone https://github.com/prometheus/prometheus.git
cd prometheus
make build
...
Creating an optimized producti

[2022-05-09 22:07] mikednight commented on #10213
thanks, we use prometheus operator, is there a way to set this globally for all our servicemonitors? i don't see an option in the servicemonitor spec

[2022-05-10 01:45] doehyunbaek opened #10676 "expand-external-labels changes docker default config path."
### What did you do?

[code]

### What did you expect to see?

I did not expect enabling expand-external-labels would change default path of prometheus.yml.

### What did you see instead? Under which circumstances?

By passing expand-external-labels as an argument, default path of prometheus.yml changed from /etc/prometheus/prometheus.yml to /prometheus/prometheus.yml

### System information

Linu

[2022-05-11 00:48] doehyunbaek commented on #10676
As I found out that passing --log.level=debug also changes config file path, and reading docker documentation(https://docs.docker.com/engine/reference/run/#cmd-default-command-or-options) and prometheus Dockerfile(https://github.com/prometheus/prometheus/blob/78f264578722493dcd8bf25c43bde7865a18792f/Dockerfile#L25-L28). Maybe this is the way it works?

If I want to keep add feature flag but also k

[2022-05-11 05:44] #10631 closed

[2022-05-11 07:17] skpenpen commented on #10554
@roidelapluie It would be nice everywhere, not just externals labels.
We use consul SD, and we would like to be able to change the datacenter beetween env.
Same thing for jobs, its would be nice to have an "include" file function, jobs are not the same beetween platforms.

At the moment we coded a binary to take a go template of the conf file to compile one depending of env.

`global:
  scrape_int

[2022-05-11 09:39] Nafalgar opened #10679 "Error corrupt blocks "Invalid magic number: 0""
### What did you do?

Set up Prometheus in our AKS cluster using the kube-prometheus-stack, persisting using Azure File Shares (azurefile-csi PVC).

Also using Thanos, Blackbox Exporter (however the error occured already prior to adding these two).

### What did you expect to see?

A prometheus instance that keeps doing just fine persisting data without invalid magic number 0 / corrupt blocks.

##

[2022-05-11 09:50] Nexucis commented on #10674
thanks for reporting this issue.

Even if it looks super bad it's actually more a warning than an error. So the build of the UI still work as expected.
That doesn't mean we shouldn't fix it, it's just less urgent

[2022-05-11 15:36] paologallinaharbur opened #10684 "Adding __type__ hidden label to leverage it in metric_relabel_configs"
## Proposal
I would like to add as hidden label `__type__` in addition to `__name__` to be able to leverage it with `metric_relabel_configs`.

**Use case. Why is this important?**

 - It would be possible to take decisions based on the metric type

 -  I am currently sending metrics to a Newrelic endpoint.
  Since `Remote Write` doe not include the metric type Newrelic asks to add the addition lab

[2022-05-11 15:39] roidelapluie commented on #10684
about type, very often you should be able to tell by the name:

_count _sum should be histogram / summary
if there is a le label it's histogram / summary

counters should end with _total

other should be gauge

[2022-05-11 15:57] sazonau opened #10685 "Prometheus Discovering Services with Consul: tls:Bad Certificate"
### What did you do?

I want to make use of Consul with Prometheus.

NodeExporter services running on several hosts are registered in the Consul Services.
I want to run Prometheus that will connect to Consul to discover the NodeExporter services.

Prometheus is running in Docker.

### What did you expect to see?

Connection to Consul is successful.
Prometheus discover the NodeExporter services whi

[2022-05-11 16:22] paologallinaharbur commented on #10684
Yes, that is the point, Newrelic tries to infer that from the name, but from time to time the "guessed" one is different from the one specified by the metric. Sadly the metric name, most of the times, cannot be changed since it belongs to a third party exporter.

The currently workaround works, but the label is added manually 😢

Having the type available as an hidden label would allow us to automa

[2022-05-11 18:29] roidelapluie commented on #10684
Prometheus  also sends the full metadata to remote write endpoints, which rewrelic could use.

https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_write

[2022-05-12 09:52] HaoKunT commented on #10445
@phillebaba hello, we use prometheus agent mode and also meet this issue. Have you ever meet the same problems after upgrade to 2.35 ?

[2022-05-12 14:08] paologallinaharbur commented on #10684
Checking the code I think it would be enough something like:
[code]

in the PromParser and the OpenMetricsParser. (adding as well some tests and fixing existing ones 😄 )

[2022-05-12 16:49] brian-brazil commented on #10684
That's not sufficient, the parser accepts Prometheus text format in any order plus the OM ingestion parser isn't smart enough to know what metric family it is in (and thus what type it might be). The parser is designed for speed, not to be fully featured.

It's also semantically inappropriate to have type as a label, as it is not a dimension, so it only adds clutter and would break downstream usag

[2022-05-12 18:27] hartfordfive commented on #10644
Is there any possibility that this could be addressed in an upcoming release or is it more realistic to just extract the relevant code and create an external tool to accomplish this functionality?

[2022-05-12 19:48] roidelapluie commented on #10684
Metadata is not always included in the payload but it's literally designed at usecases like yours.

cc @cstyan any opinion here?

[2022-05-12 19:49] jimethn opened #10686 "Lots of remote read causes prometheus to fail health checks"
### What did you do?

I have a standard prometheus-operator + thanos setup running in kubernetes. Prometheus has 6-18 shards (I've experimented with various). Retention is only 8 hours, after which queries are being served from various thanos-store.

Prometheus has 14 CPU requested, no CPU limit, and the nodes only have 16 CPU, so it is pretty much the only thing on the nodes it gets scheduled on.

[2022-05-12 22:12] paologallinaharbur commented on #10684
Thanks for the feedback I really appreciate the responsiveness 😃

I thought that the type was parsed (if available) into the `mtype` attribute:
- [here](https://github.com/prometheus/prometheus/blob/78f264578722493dcd8bf25c43bde7865a18792f/model/textparse/openmetricsparse.go#L260) for the OpenMetricsParser
- [here](https://github.com/prometheus/prometheus/blob/78f264578722493dcd8bf25c43bde7865a187

[2022-05-12 23:15] roidelapluie commented on #10684
`__name__` is not discarded, it's the name of the metric.

[2022-05-12 23:53] LeviHarrison commented on #10644
This could definitely end up in an upcoming release if we reach a consensus on the best way forward. It shouldn't be too complicated to actually code.

Opinions @roidelapluie or anyone else?

[2022-05-13 02:30] zhangnaifan opened #10687 "rate on federated non aggregated metrics is too low in last minute"
### What did you do?

I have 3 prometheus servers A1, A2, B.
Server A1/A2 scrapes metrics every 3 seconds from disjoint targets.
B federates all metrics from A every 1 min, each federation scrape takes about 45s.
Let's say `my_total` is original metric scraped by A.
When running `rate( my_total [2m] ) `, I got results too low, like:
![企业微信截图_16524085526630](https://user-images.githubusercontent.co

[2022-05-13 03:18] lizhe19 opened #10688 "How does promql query the basic information of all nodes, including k8s nodes outside the cluster?"
How does promql query the basic information of all nodes, including k8s nodes outside the cluster?

[2022-05-13 06:53] brian-brazil commented on #10684
That's only when parsing the TYPE line self, it doesn't apply when parsing any other line.

For OM it shouldn't be too hard to do it efficiently, as the spec is locked down to make that practical. The problem is as the decision was made that the Prometheus text format can take in lines in a random order, supposedly to make things easier. However that also prevents one-pass constant-ish memory line

[2022-05-13 07:33] paologallinaharbur commented on #10684
My bad, I read in the docs "Labels starting with __ will be removed from the label set after target relabeling is completed." and I thought it was applying to all labels and therefore also to `__type__ `. I imagine that it is not enough if I add it at that point 😕

I was not aware of this and it looks like a stopper 🤯 We are going to check the code again to see if we come up with some ideas to do

[2022-05-13 07:54] zhangnaifan commented on #10687
In case anyone encounter similar problem, I walk around the problem by splitting federation tasks and reduce the cost from 45s to  15s, and the promblem disappear

[2022-05-13 08:14] brian-brazil commented on #10684
What I'd suggest looking at is seeing if you can leverage the various caches in the scrape code to do something smart. Having a more correct parser would be great, if it can be done efficiently. Particularly for checking that OM input is meeting the spec, as there's a common misconception that if Prometheus accepts input that it is valid. In reality Prometheus will currently accept all valid OM/Pr

[2022-05-13 09:16] fatelei opened #10689 "web ui npm start broken"
### What did you do?

- npm install
- npm start then the result is below

### What did you expect to see?

npm start work well

### What did you see instead? Under which circumstances?

<img width="604" alt="image" src="https://user-images.githubusercontent.com/961094/168252123-e5c94bf6-1820-4949-8440-7fd3cc9900e5.png">

### System information

mac os

### Prometheus version

_No response_

### Pr

[2022-05-13 09:16] fatelei commented on #10689
cra issue: https://github.com/facebook/create-react-app/issues/11762

[2022-05-13 10:23] xenofree opened #10691 "Configure __scrape_interval__ and __scrape_timeout__ through relabel don't seems to work"
### What did you do?

I configure scrape_interval and timeout with consul_sd through relabel

[code]

### What did you expect to see?

Expect to have a 10s scrape_interval when i set `prometheus_scrape_interval: 10s` in consul

### What did you see instead? Under which circumstances?

Default scrape_interval and timeout is used

### System information

_No response_

### Prometheus version

[code]

[2022-05-13 13:25] roidelapluie commented on #10691
Can you provide the labels of your targets?

[2022-05-13 13:45] xenofree commented on #10691
[code]

I did more testing, relabeling work if the __scrape_interval__ and timeout is greater than the default one.

When I set __scrape_interval__  lower than the default, i have this kind of log

`ts=2022-05-13T13:42:27.365Z caller=scrape.go:479 level=error component="scrape manager" scrape_pool=consul_sd msg="Creating target failed" err="instance 0 in group xxxx: scrape timeout cannot be greate

[2022-05-13 22:03] MasonLegere commented on #10171
Should this issue be closed out following the merge of PR 10613? https://github.com/prometheus/prometheus/pull/10613

[2022-05-13 22:15] Nexucis commented on #10171
Yes indeed. This issue can be closed now.

[2022-05-13 22:15] #10171 closed

[2022-05-14 13:39] #10676 closed

[2022-05-14 17:24] ricardbejarano opened #10697 "Prometheus returns HTTP 500 "seeker can't seek" error on /favicon.ico"
### What did you do?

1. Run Prometheus (I did `docker run -it -p 9090:9090 quay.io/prometheus/prometheus:latest`)
2. Go to http://localhost:9090/favicon.ico

### What did you expect to see?

Prometheus' favicon.

### What did you see instead? Under which circumstances?

A HTTP 500 response with Go's `seeker can't seek` error message.

### System information

Darwin 21.4.0 x86_64

### Prometheus v

[2022-05-15 01:25] cstyan commented on #10684
I would prefer to avoid hacking yet another thing into remote write and just to move forward with the metadata in WAL PR. I will take a more active hand in moving that forward starting this coming week.

[2022-05-15 12:29] inmar32 opened #10699 "Snapshot folder catched by prometheus"
### What did you do?

Hi, I created some snapshot data with that api:
 curl -XPOST http://localhost:9090/api/v1/admin/tsdb/snapshot
The folder was created successfully
Now I wanted to copy the folder to side folder with cp command.

### What did you expect to see?

I excpect to be able to copy the snapshot folder

### What did you see instead? Under which circumstances?

It seems that I cannot cop

[2022-05-17 05:37] huangda2100 opened #10701 "prometheus can not send firing alert to alertmanager"
### What did you do?

context: everytime when the system upgrades successfully, the system will generate 2 events: "server upgrade successfully" and "server upgrade report". Prometheus can pull the 2 events metric when they happen, and i can see the 2 metrics data in prometheus console, both of the metric data are just a point on the graph

### What did you expect to see?

i expect to see promethe

[2022-05-17 08:20] #10689 closed

[2022-05-17 09:14] hanjm opened #10703 "Performance: unexpected Rules API lock wait"
I notice that Thanos ruler API (`/api/v1/rules`) some times slow.
The rules api will iterate all rules, for each rule call `(*AlertingRule).LastError()` https://github.com/prometheus/prometheus/blob/v2.35.0/rules/alerting.go#L187 and  `(*AlertingRule).Health()` https://github.com/prometheus/prometheus/blob/v2.35.0/rules/alerting.go#L201 to get the error state and health state, this function will c

[2022-05-17 13:58] ddymko opened #10705 "Vultr Service Discovery Support"
## Proposal
**Use case. Why is this important?**

At https://www.vultr.com/ we have had a large number of users ask for us to integrate with Prometheus so they could use our platform for their service discovery. We may also end up using this internally for various projects.

I already have a branch with our changes implemented https://github.com/ddymko/prometheus/commit/1003fba104ba830f15aeb2aeeca

[2022-05-17 16:23] prymitive commented on #10377
I spent some time on a patch that delays mmapping of chunks - see #10709.
At the moment we have a single in-memory chunk and everything other than that most recent chunk is mmapped.
With my patch head keeps a list of in-memory chunks, so when we need to cut a new chunk we just append it there. Then all but last chunk will be written out and mmapped on a schedule.
The goal is to remove mmapping fro

[2022-05-18 00:45] hanjm commented on #10686
It hit the max connections limit, so the health check web path also limited, take look this flag.
https://github.com/prometheus/prometheus/blob/main/cmd/prometheus/main.go#L246

[2022-05-18 05:29] srimuvva commented on #10431
@roidelapluie @mattdurham  Please let me know what additional info is needed from me.

[2022-05-18 05:49] xenofree commented on #10691
Do you have any idea why I see this log ?

[2022-05-18 11:00] #7483 closed

[2022-05-18 11:17] hanjm commented on #10703
I write a unit test to minimum produce it.

[code]

it will print log:
[code]

[2022-05-18 13:04] xenofree commented on #10691
`__meta_consul_service_metadata_prometheus_scrape_tiemout`

Wrote `tiemout` instead of `timeout`.
Feel dumb.

[2022-05-18 14:05] ispy1 opened #10711 "Failed to list *v1beta1.Ingress: the server could not find the requested resource"
### What did you do?

Prometheus scrape k8s ingress metrics show this error

k8s version
![1652880842(1)](https://user-images.githubusercontent.com/43496359/169051468-7b46ba67-6e76-4aa0-bf5f-53ab436e4018.jpg)

### What did you expect to see?

_No response_

### What did you see instead? Under which circumstances?

when i use cluster-admin as  ClusterRole

clusterrolebinding
![image](https://user-i

[2022-05-18 14:33] fatelei commented on #10674
hmm, the @nexucis directory has no src/index.ts

<img width="545" alt="image" src="https://user-images.githubusercontent.com/961094/169066944-4c6982fc-8f80-4bce-9e62-50209d5c03c3.png">

maybe forget to ship it

[2022-05-19 06:10] Nexucis commented on #10674
Thanks @fatelei for the link. That was helpful :)

I read the different comments there and I think I will just remove the source map. That actually makes sense to remove it as I don't have the wish to put the source code in the package.

[2022-05-19 07:33] roidelapluie commented on #10711
Support for Kubernernetes 2.22 was added in Prometheus 2.29.2. You are using Prometheus 2.20. Please upgrade to the latest release. Thanks!

[2022-05-19 07:33] #10711 closed

[2022-05-19 07:34] roidelapluie commented on #10701
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2022-05-19 07:34] #10701 closed

[2022-05-19 07:35] roidelapluie commented on #10699
Can you please provide the logs of Prometheus, especially the startup logs?

Thanks

[2022-05-19 12:18] ddymko commented on #10705
@roidelapluie Could you create an account on vultr and then send me an email with the email address you are using associated with the account? Once I have that I mark your account as an integrator.

My email address is ddymko@vultr.com

[2022-05-19 16:00] PierreNa opened #10717 "VMware exporter error"
### What did you do?

Hello team, I need some helps because it's impossible for me to scrape my vcenter and I don't understood.

my vmware config.yml :
[code]
Pip list :

[code]

<img width="1418" alt="image" src="https://user-images.githubusercontent.com/32876811/169345705-3069d12b-2bc4-45ce-9ee2-927449be0bbf.png">

### What did you expect to see?

_No response_

### What did you see instead? Und

[2022-05-19 19:26] roidelapluie commented on #10717
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2022-05-19 19:26] #10717 closed

[2022-05-20 06:49] roidelapluie opened #10718 "PromQL function day_of_year"
## Proposal
**Use case. Why is this important?**

We have day of month, day of week, but day_of_year would be handy as well, to complete our date functions.

[2022-05-20 06:49] roidelapluie commented on #10718
cc @juliusv

[2022-05-20 07:20] juliusv commented on #10718
Sure, sounds good to me.

[2022-05-20 07:22] #10674 closed

[2022-05-20 07:55] hagen1778 commented on #7995
It might be not trivial to add filter automatically to the query, because the query itself could be very complex.
I'd be fine if label-value pair will be just copied to the buffer when I click on it, so I can decide myself where to paste it.

[2022-05-20 08:29] roidelapluie commented on #7995
This makes sense, I have added the help wanted label.

[2022-05-20 08:35] IvoGoman commented on #10718
I would like to take this one.

[2022-05-20 08:36] roidelapluie commented on #10718
Sure, have fun :-) :+1+

[2022-05-20 12:27] Nexucis commented on #10718
Fix with #10720

[2022-05-20 12:27] #10718 closed

[2022-05-20 13:29] roidelapluie opened #10722 "IONOS cloud pagination"
The IONOS cloud integration does not use pagination, limiting to 1000 the number of servers discovered per datacenter.

We should integrate pagination in case a user has more than 1000 servers.

[2022-05-22 09:13] albttx commented on #7392
Hello,

i'm running the same issues:

- Alerts are present in prometheus
[code]
- Alert isn't silenced

- Yesterday there was the alerts showing in alertmanager...

![image](https://user-images.githubusercontent.com/8089712/169688064-f2276565-b636-4329-b6e4-a6ce6f8513e4.png)

[2022-05-22 13:29] freak12techno opened #10725 "Cannot see alert if it's value is below threshold"
## Proposal
Imagine a situation where we have an alert and 2 set of metrics labels. Imagine also that the alert is firing on one set of labels (so the value exceeds the threshold) and is okay on the other one.
With that, I am only able to see (in Prometheus ui or Grafana) that only one alert is firing, and the metrics sets where the value doesn't exceed a threshold are not displayed at all, so I h

[2022-05-22 17:32] prymitive commented on #10377
I've been running 2 instances patched with #10709 for the past week and in both cases this issue is solved for me when using that patch.
It's hard to write a benchmark that reproduces it but I think the key ingredients (I think) are:
- enough time series (and so chunks) so that mmapping of it all takes long enough (21-25M series in my case)
- plenty of rules producing a lot of samples that depend

[2022-05-22 20:10] phillebaba commented on #10445
Nope so far so good. Upgrading has solved my problems, and have not seen any issues for the last month or so.

[2022-05-22 23:02] NorbertHauriel opened #10726 "Query examples page contains outdated metric name"
### What did you do?

Opened the documentation at https://prometheus.io/docs/prometheus/latest/querying/examples/

### What did you expect to see?

Examples using the metric **http_requests_total**  to be valid for the newest Prometheus.

### What did you see instead? Under which circumstances?

It is a non-existing metric because it was renamed to prometheus_http_requests_total, therefore half of

[2022-05-23 02:11] SiminMu commented on #10456
@roidelapluie sorry for my late response, yes it works so far, I will continue to test this and update you again. Thanks!

[2022-05-23 02:18] HaoKunT commented on #10445
Thanks! I'll have a try.

[2022-05-23 14:52] USSX-Hares opened #10732 "License missing copyright"
### What did you do?

The [license file](https://github.com/prometheus/prometheus/blob/main/LICENSE) is missing the copyright notice, there is a template instead:

[code]

### What did you expect to see?

Something like `Copyright 2012-2022 Prometheus Team.`

### What did you see instead? Under which circumstances?

### System information

_No response_

### Prometheus version

[code]

### Prometh

[2022-05-23 17:56] shaoxt commented on #1381
@yeya24  Is the implementation going to merge ? What is the stage of the design doc?

[2022-05-23 18:23] dpkirchner commented on #8312
IMO it'd be helpful if Prometheus included more information with the "Error on ingesting samples that are too old or are too far into the future" error message. It's ambiguous -- are they too old or too far in the future? It's a big difference with potentially wildly different causes. Ideally, the log message would include the two compared timestamps. Without the timestamps, the messages are essen