[2021-05-05 09:03] 4s3ti commented on #8185
@Ruppsn that is exactly what i was saying above :)

[2021-05-05 09:04] Ruppsn commented on #8185
Sorry than i missunderstood you :)

[2021-05-05 09:40] 4s3ti commented on #8185
Its okay, i think we are all in the same page ... and lets see if we can find a solution for the documentation itself ...

Reading the tests i did back then here: https://groups.google.com/g/prometheus-users/c/EuEW0qRzXvg/m/0aqKh_ZABQAJ?pli=1

**What should not be done:**

Adding `nobody` to the docker group its not really a good production practice either
changing permissions with chmod on docker

[2021-05-05 09:48] 4s3ti commented on #8185
This being said .. What to add to the documentation?

Any suggestions?

Guess at this point this thread and this https://groups.google.com/g/prometheus-users/c/EuEW0qRzXvg/m/0aqKh_ZABQAJ?pli=1 has enough data, and someone has to make a decision which is not either up to me or @Ruppsn, so leaving up to Prometheus maintainers to make a decision about it.

I will be more than glad to put up that PR o

[2021-05-05 10:34] Ruppsn commented on #8185
IMO: This alone would be enough for people considering security to do their own research. I do not think there is a golden solution to this but with this note everyone can use his/her/its brain. In prod environments everyone has their own consideration to make.

[2021-05-05 12:38] loganmc10 opened #8784 "Way to stop scrape stats being sent to remote write endpoints"
## Proposal
**Use case. Why is this important?**

I'm talking about metrics like ```scrape_samples_scraped```. We use Grafana Cloud and we pay per series. It would be nice to be able to disable sending these kinds of metrics to Grafana Cloud.

It would save us quite a bit of money.

[2021-05-05 12:56] loganmc10 commented on #8784
I haven't tried dropping them using a metric relabel config, however the fact that ```scrape_samples_post_metric_relabeling``` is one of the samples makes me believe they are added after that stage anyway

[2021-05-05 13:18] loganmc10 commented on #8784
Sorry I just realized that ```write_relabel_configs``` exists, this is what I'm looking for

[2021-05-05 13:18] #8784 closed

[2021-05-05 14:41] roidelapluie commented on #8784
https://grafana.com/docs/grafana-cloud/billing-and-usage/prometheus/usage-reduction/

[2021-05-05 19:03] roidelapluie commented on #8185
I think we should cover the setup of prometheus in swarm. Currently the recommended way is the tarball.

I would not recommend linking to threads or discussions, but rather providing actual options.

[2021-05-05 19:31] 4s3ti commented on #8185
@roidelapluie not really making this easier ... and even tough i really want to help my time is limited and its needed elsewhere.

To Cover the swarm setup,
Someone has to make the call on what is the recommended method for Prometheus.
Test it and provide a working example of docker-compose file compatible with docker-swarm.

I personally have it running with `user: root` and don't really have the

[2021-05-06 01:27] cstyan opened #8787 "group together samples and exemplars in a single TimeSeries proto"
Remote Write is currently doing the easiest but least efficient thing, which is allocating a new `prompb.TimeSeries` per sample or exemplar that is buffered, even if some samples/exemplars share the same series labels, in which case they could be put in the same `prompb.TimeSeries` for the write request.

Nothing in the protocol or proto definitions currently stop us from making this improvement.

[2021-05-06 01:42] cstyan opened #8788 "investigate per shard buffering improvements for remote write"
Currently a shard allocates a buffer of `prompb.TimeSeries`, which is extended to be slightly longer than `maxSamplesPerSend` if sending of exemplars is enabled. We also allocate buffers of `prompb.Sample` and `prompb.Exemplar`, which are used to actually store the data of a sample or exemplar. The `prompb.TimeSeries` buffer then just references elements in the other two buffers before generating

[2021-05-06 05:13] Siddharthav1 commented on #8780
Hello @roidelapluie ,

   I am extremely sorry for the delayed response. I figured it out, The main reason for this was system time change/drift. I was actually running this prometheus on a Ubuntu VM which is running on windows host. The time of host machine was different from the host machine.
  Once, the system time synced everything worked fine.

[2021-05-06 05:13] #8780 closed

[2021-05-06 05:45] haowells commented on #8762
@roidelapluie @codesome  any idea about this,  can we identify what's cause this problem? because of some big metrics or limitation of snappy?

[2021-05-06 07:12] codesome commented on #8762
Both, a big target which is hitting the snappy limit

Could you please tell us about [this](https://github.com/prometheus/prometheus/issues/8762#issuecomment-828279636):

[2021-05-06 08:56] #8291 closed

[2021-05-06 10:06] chunshao90 opened #8789 "support traversing an AST concurrently"
## Proposal
pql: A +B
Current implementation in [promql/parser/ast.go](https://github.com/prometheus/prometheus/blob/main/promql/parser/ast.go#L302) implement is not concurrent.
When A & B costs a lot of time, traversing an AST concurrently can be greatly improved.
A concurrent version has been implemented in our company, and works great. If interested, I can contribute to the community.

[2021-05-06 11:26] SameerMahajan-GSLab commented on #520
Is this issue still Open as shown on top or now Closed as marked towards the end of the discussion?

[2021-05-06 11:32] haowells commented on #8762
@codesome  I can provide some data about my scrape target from /tsdb-status endpoint

<h2 style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; font-size: 2rem; color: rgb(33, 37, 41); font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, &quot;Liberation Sans&quot;, sans-s

[2021-05-06 16:39] csmarchbanks commented on #8762
Thank you for all the information so far! Since this is likely caused by a single scrape, could you provide us with what the largest scrapes your server does? Feel free to anonymize the information, I suspect kube-state-metrics will be at the top.
[code]

[2021-05-06 18:07] roidelapluie commented on #8768
Actually the service discovery is using a different mechanism, more elaborated, where we create a buffered chan.

[2021-05-06 18:11] roidelapluie commented on #8751
Closing this as they should be in 2.27. Chris will decide the faith of the remaining one.

[2021-05-06 18:11] #8751 closed

[2021-05-06 18:56] #8762 closed

[2021-05-06 19:02] csmarchbanks opened #8791 "Compress very large records in the WAL"
Right now, if a record is larger than the maximum size snappy can compress (~3.7 GB) we do not compress it at all, see https://github.com/prometheus/prometheus/pull/8790. A user would probably like these large datasets compressed as chances are a scrape of that size has a fair amount of repeated label names/values that could be compressed away.

[2021-05-06 21:49] ihcsim commented on #8753
I am closing this issue. The tool has been added to the kubectl krew repo. Feel free
to raise any issues, feedback etc. in the repo. If the community wants to help improve
and maintain it, I will be willing to transfer the source to
github.com/prometheus-community. Thanks!

[2021-05-06 21:49] #8753 closed

[2021-05-06 22:33] roidelapluie commented on #8753
We would be happy to list it on the website too: https://github.com/prometheus/docs

[2021-05-06 22:44] ihcsim commented on #8753
@roidelapluie Love the idea! Any suggestion on which section? Is there a particular spot for community tools?

[2021-05-06 22:46] roidelapluie commented on #8753
https://prometheus.io/docs/operating/integrations/

Probably under "Other"

[2021-05-07 03:44] haowells commented on #8762
@csmarchbanks.  what the scrape_samples_post_metric_relabeling means ?

Yes. you are right. kube-state-metrics is the top1

scrape_samples_post_metric_relabeling{application_xxx_name="kubesystem", applicationinstance_xxx_name="kube-state-metrics-deployments", environment_xxx_name="production", firewall_network_tess_io_type="none", instance="xxx:8080", job="kubernetes_pod", k8s_app="kube-state-metr

[2021-05-07 06:54] rajiamarnath opened #8794 "Audit logging feature in Prometheus and alertmanager"
Hi,

Please let us know if there are plans to support Audit logging feature for Prometheus and Alertmanager.

Use Case:
Audit logs are intended for system-related events that are significant.  Some examples:
-          Functional problems caused by application users, application errors, configuration problems and possible applications bugs
In case of errors, there should be a hint given about the

[2021-05-07 07:47] roidelapluie commented on #8789
Currently the promql engine is designed to run in one thread. This is a feature, we have limit on concurrent queries etc to protect the server. In general this works fine.

Are you using the parser outside of the promql code?

[2021-05-07 08:11] roidelapluie commented on #8794
Thank you for your interest in Prometheus.

This issue does not seem actionnable, so I will close it. Please open specific issues if we miss some logs. Prometheus should provide you with the logs needed to operate it.

You can also contact the community at https://prometheus.io/community if you have more general cross-projects questions like this one.

[2021-05-07 08:11] #8794 closed

[2021-05-07 11:50] LeviHarrison commented on #8791
Can the record be arbitrarily split into smaller chunks (which are then compressed by themselves) or are there only certain places in the data where it can happen?

[2021-05-07 12:43] worcsrcsgg commented on #8789
We fork the prometheus, extend and modifiy a few modules of prometheus, and push down some operations to the underlying storage.
The concurrent version has achieved a great performance improvement in our company.
Can we reduce the granularity of concurrency to a [Selector](https://github.com/prometheus/prometheus/blob/main/promql/parser/ast.go#L185)?
[query.max-concurrency](https://github.com/prom

[2021-05-07 13:56] roidelapluie commented on #8789
Not really since it would mean that a complex query would 'block' other prometheus queries. Currently the complex queries are a bit "penalized" by the current system. If you have really complex queries you run often and they take a lot of time it is preferable to use recording rules.

[2021-05-07 14:24] csmarchbanks commented on #8762
Thank you for the information. scrape_samples_post_metric_relabeling is the number of samples scraped from a target that actually make it into the database. It is the same as scrape_samples_scraped minus any metrics dropped via metric relabeling rules.

Judging from your information, you have ~400 characters per metric for labels on the job + probably 100-200 characters for additional labels such

[2021-05-07 14:30] LeviHarrison commented on #8791
What I meant was splitting a record into multiple chunks, compressing those, and them putting them back together as one record, although there are probably issues with that.

[2021-05-07 14:39] csmarchbanks commented on #8791
Yep, that is kind of what the framed version of snappy does. Upon decoding time we would have to know where the multiple chunks start/end to snappy decompress them appropriately. I think that information would have to be stored at write time which would involve a new record type, but if there is a clever way to do it that would be awesome.

[2021-05-07 15:24] roidelapluie commented on #8791
When we work on this, we need to take into account our will to have transactionnal remote write and not do something that would go against that goal.

[2021-05-08 02:59] LeviHarrison commented on #8791
I've managed to combine chunks of encoded data into one, without any additional records needed, and get it to decode. But the decoder seems to cap out at 4.39 GB, which is likely the highest we can push it with one input chunk. Better, but not by much.

[2021-05-08 03:17] LeviHarrison commented on #8791
Actually, I believe I found the reason for the cap. 4.39 GB -> bytes is curiously close to the limit of `uint32`, Golang's default `uint` type. Encoding `4294967295` bytes (the exact maximum) split into three chunks and then decoding it yields a success. But, `4294967298` bytes is a failure.

This seems to check out when taking a peek into the decoding function in snappy (although the amd and arm

[2021-05-08 08:56] 131 commented on #8272
nw, i was wrong and everything works just fine. I just did not understood the difference between container specs and service/tasks specs in my docker stack file

[code]

✨ ❤️ 👍 🥳

[2021-05-08 17:15] bwplotka commented on #8762
The great investigation, thanks, everyone. I think we should also give this feedback to kube-state-metrics too.

[2021-05-08 17:23] bwplotka commented on #8762
https://github.com/kubernetes/kube-state-metrics/issues/1475

[2021-05-08 17:25] bwplotka commented on #8791
I am not sure if this is worth a try. 7 million series scrape is extreme, and I wonder if we should focus on teaching others and ensuring:

* Scrape targets never are so large (especially by [default](https://github.com/kubernetes/kube-state-metrics/issues/1475)), or users select what they need.
* It's easy to shard scrape by target within single process as well as multiple Prometheus-es or Agent

[2021-05-08 17:57] bwplotka opened #8797 "Render Exemplars in Prometheus UI"
Just sharing idea and feedback we have. We talk about better multi-signal correlation techniques, so we should probably start with our own UI too! (:

## Acceptance Criteria:

* Graph page can render exemplars on top of time series line, like Grafana does.
* Add Instant exemplars query view?

[2021-05-08 18:04] bwplotka opened #8798 "Add exemplar support to rules (recording, alerts)"
## Problem

We are adding exemplar to various parts of the Prometheus Ecosystem. We have in-mem storage, we have scrape API (OpenMetrics), we have Query API we have even dashboard supports thanks to Grafana. Recently we also [added remote write support](https://github.com/prometheus/prometheus/pull/8296).

Yet something we are still missing is the ability to preserve exemplars on recording rules a

[2021-05-08 19:51] roidelapluie commented on #8798
It would go against our philosophy to add them with the current state of the API. Let me explain.

We promote the fact that recording rules are generalized. e.g.:

[code]

Currently we can add as many prometheis instances there and it would render correct alerts.

Imagine now prometheus_notifications_errors_total has an examplar.

How do we send the "correct" examplar, the one from the failing pro

[2021-05-08 19:57] roidelapluie commented on #8797
This looks great! I would however make them a checkbox.

[2021-05-09 08:56] ston1th opened #8799 "Data corruption on OpenBSD"
Hello guys

I wanted to run my prometheus on OpenBSD but encountered an issue. So I let the tests run and many of them were failing.

For simplicity I will focus on the `TestCreateBlock` test.

The error I encountered is:
[code]

I tracked this issue down to the function [finishSymbols()](https://github.com/prometheus/prometheus/blob/0a28f1ae9d33b71ed2240d8e000ca5d73f6874fd/tsdb/index/index.go#L52

[2021-05-09 18:55] mwasilew2 opened #8801 "Run a linter on all yaml files in Prometheus projects"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

It would help with:
- preventing yaml files with syntax errors from being merged to Prometheus projects
- keeping PRs cleaner (without unified linting anyone can push anything which results in PRs containing white-space characters, e.g. https://github.com/prometheus-community/postgres_exporter/pull/525/f

[2021-05-09 19:07] mwasilew2 commented on #8801
Here's a rough draft of what I had in mind: https://github.com/prometheus/prometheus/pull/8802 , but of course I'm happy to use a different approach. Marked it as draft because I wasn't sure if there's appetite for this type of CI checks

[2021-05-09 19:13] roidelapluie commented on #8801
Thanks.

To know if we want something like this, I'd like to know: what would be the changes e.g. to this repository? Are we already compliant?

[2021-05-09 19:45] mwasilew2 commented on #8801
There's 105 files returning errors in `prometheus/prometheus` project, for example:
[code]

`prometheus-community/postgres_exporter` has 7 files with errors, for example:
[code]

Line-length errors could probably be ignored completely. I didn't see any syntax errors merged.

[2021-05-09 20:09] bwplotka commented on #8798
Thanks for pointing this out. In this case, a certain prometheus will trigger it, so the result of such query will have certain series relevant to the Prometheus.

So, isn't this as easy as passing such result series to Exemplar API?

[2021-05-10 02:05] weetime opened #8803 "Add exemplar support to clickhouse remote_storage_adapter"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*
When I use prometheus remote_storage_adapter with clickhouse, I can't found a good example. An old project prom2click can't work , so I refactor this project.

[2021-05-10 04:22] jelmd opened #8805 "Doc: client libraries - C"
Wrt. https://prometheus.io/docs/instrumenting/clientlibs/ you may [libprom](https://github.com/jelmd/libprom), a client library writte in C. The nvidia GPU metrics collector [nvmex](https://github.com/jelmd/nvmex) is an example, how one may use it.

[2021-05-10 07:14] SuperQ commented on #8801
Yes, it would be good to add a `.yalmllint` config and add this to our CI tests.

[2021-05-10 07:26] roidelapluie commented on #8805
Thanks, I am moving the issue to the correct repository.

[2021-05-10 08:05] codesome commented on #8318
Closed by https://github.com/prometheus/prometheus/pull/8723

[2021-05-10 08:05] #8318 closed

[2021-05-10 09:00] timmyyuan opened #8806 "Test failed: TestIngressDiscoveryAddMixed"
**What did you do?**

Checked out v2.26.0, and ran:
[code]

**What did you expect to see?**

The test passed

**What did you see instead? Under which circumstances?**

[code]

**Environment**

ubuntu 20.04, go1.16.3

* System information:
[code]

* Prometheus version:

[code]

[2021-05-10 09:18] bwplotka commented on #8751
👍🏽

[2021-05-10 11:24] bwplotka commented on #8787
Also similar we could add for buffering samples together across series. As far as I can see: https://github.com/prometheus/prometheus/blob/8fd73b1d281d3227c337b291e8c797a85251d3d5/storage/remote/queue_manager.go#L525 we only add one sample to each write request.

[2021-05-10 11:33] onprem commented on #8787
From what I understand, we are only adding the sample to a local queue. The requests only triggers when we either reach the configured max number of samples in a request or we exceed the batch send deadline.

https://github.com/prometheus/prometheus/blob/8fd73b1d281d3227c337b291e8c797a85251d3d5/storage/remote/queue_manager.go#L1055-L1127

[2021-05-10 12:56] guidoffm opened #8807 "Improvement wanted to use the "Probe" crd"
For the "Probe" CRD there is not enough documentation.

What I want to achieve:

I want to define a probe that queries the node exporter on a host. I found out that this yaml works:

[code]

The Probe API in the current form makes sense for the blackbox exporter.
But for just to query the node exporter this spec is not clear, because:

- I do both need `targets` and `prober` at the moment.
- I hav

[2021-05-10 13:06] roidelapluie commented on #8806
Thanks.

Is that flapping or consistent?

[2021-05-10 13:10] guidoffm commented on #8807
Yes, that's right.

[2021-05-10 19:50] cstyan opened #8808 "reevaluate remote write queue config defaults"
We'll want to be able to maintain the same max samples/s output with the new defaults, but bumping the max samples per send would lower the shard requirements, and upsharding can lead to DDOS like issues since we have no back pressure mechanism (related issues: https://github.com/prometheus/prometheus/issues/5166)

[2021-05-10 19:57] cstyan opened #8809 "Remote write should best-effort start from a checkpoint instead of time.Now"
Right now remote write starts sending samples with a timestamp after `time.Now()` when Prometheus started (more or less). On restart or config reload if remote write wasn't able to flush it's pending samples cleanly or was behind for some reason there will be samples missing in the remote storage. If remote write always starts from a checkpoint in some kind of checkpoint file for it's queue name/c

[2021-05-10 20:38] cstyan commented on #8787
@bwplotka `Also similar we could add for buffering samples together across series.` There's limited scenarios in which this would ever actually come up.

The first is if the user's Prometheus has less active series than `max_samples_per_send*max_shards`, which seems unlikely.

The second is the replay/catch up scenario you brought up somewhere else. This one would be hard to get right. We'd have t

[2021-05-10 21:13] LeviHarrison commented on #8797
I'm working on this. The entire PromQL query can be passed to `/query_exemplars` to get the exemplars, correct?

[2021-05-10 21:50] LeviHarrison commented on #8788
We could just remove the limit for specific data types altogether, and set a limit for data points in total. The only fault I can see with this approach is over-allocating the `maxExamplars` buffer, given that use is expected to be low. That being said, I'm not really understanding why this buffer is even needed in the first place. It seems that it's only being used to hold the exemplar until it c

[2021-05-10 21:58] seantheyahn opened #8810 "Suggestion: HTTP based Service Discovery"
## Proposal
For custom environments, it is very useful to have some sort of HTTP-Request based service discovery, kind of like the scraping itself. In this case it would be pretty easy to implement small helper services (like exporters for metrics) or just dedicate an API route in the services themselves, like the metrics.

Currently, it is almost possible to make such helper services with DNS-bas

[2021-05-10 22:04] roidelapluie commented on #8810
Thank you. You can implement this with file_sd and cron. For proper http_sd config, this is being discussed in a design document: https://docs.google.com/document/d/1tVeuzjpU4-TiYPNWJXKmcyIuZF6A2tUq270RbBT5zho/edit

[2021-05-10 22:04] #8810 closed

[2021-05-10 23:24] cstyan commented on #8788
This is to save on memory/allocations, we allocate the buffers `sampleBuffer` and `exemplarBuffer`, and then just refence their elements in `pendingData`. This means that there isn't an exemplar slice and sample slice allocated for each element in `pendingData`.

[2021-05-11 04:55] m1keil opened #8812 "prometheus_sd_discovered_target only shows values from single data center (consul sd)"
**What did you do?**
Looking at the value of `prometheus_sd_discovered_target` I noticed that the values for the discovered services are way lower than expected.

**What did you expect to see?**
The same numbers I see under the `/service-discovery` page.
![image](https://user-images.githubusercontent.com/1589008/117760199-8f923a00-b268-11eb-8c60-13e3fd4b15ee.png)

**What did you see instead? Under

[2021-05-11 09:00] weetime commented on #8803
https://github.com/weetime/remote_storage_adapter

[2021-05-11 09:00] #8803 closed

[2021-05-11 09:06] roidelapluie commented on #8803
Thank you, you should add the Apache 2 license to your repository.

[2021-05-11 10:06] carroarmato0 opened #8813 "Direct support for configuration in Kubernetes"
## Proposal

The current way to pass configuration such as extra alerts or rules in Prometheus on Kubernetes is to use a ConfigMap, have it mounted inside the Prometheus/AlertManager Pods and to use a sidecar container to perform the reloading.

This works through inotify, however, the sync between the ConfigMap and the Volume depends on the configuration of Kubelet which is in charge of the sync.

[2021-05-11 10:52] roidelapluie commented on #8813
I am not sure we want to interact direcltly with config maps but I recall @brancz to express the will to not have "reloaders" sidecar and therefore Prometheus would gain the ability to reload the configuration from disk as it changes by itself.

[2021-05-11 10:55] carroarmato0 commented on #8813
@roidelapluie that would still have the issue of you being at the mercy of the kubelet configuration which you may or may not have control over depending on the cloud vendor, and have inconsistencies to take care of.

[2021-05-11 11:28] roidelapluie commented on #8736
A 2.26.1 is unlikely to happen but I invite you to test the 2.27.0-rc.0 which has the fix + the ability to read the scaleway secret from a file (if you need it).

[2021-05-12 02:00] weetime commented on #8803
Thank you, I have done.

[2021-05-12 07:16] Satyasreegoli opened #8815 "Prometheus target is giving server returned HTTP status 404 Not Found Error"
Hi

I have installed Prometheus instance in Openshift 4.5. I am trying to monitor MongoDB services which are in different namespace. Able to see MondoDB service in Prometheus Targets but State is showing as DOWN with server returned HTTP status 404 Not Found Error.
Any suggestions are appreciated.

Thanks
Satyasree

[2021-05-12 08:05] roidelapluie commented on #8815
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-05-12 08:05] #8815 closed

[2021-05-12 11:19] meghdivya commented on #7406
This is the case with gce_sd_configs as well, I tested it in GCP. It's a road blocker to use prometheus service discovery in cloud with multiple nics, where first nic is not management nic.
And probably this is the same issue with azure_sd_configs too.

Should I raise multiple issues for` gce_sd_configs, azure_sd_configs`?

[2021-05-12 12:23] dgl commented on #7699
There's now tests for the unit testing and some other fixes that mean this won't manifest in quite the same way (the non-determinism may have come from the fact other tests in the file influenced the eval time), but the fix is still correct even if it is much less likely, so opened a PR.

[2021-05-12 14:58] lucacavazzana commented on #8256
for graphs with a lot of time-series, _white_ may pop in, which is something that should definitively be avoided.
Here an example while selecting a white one.

![Screenshot 2021-05-12 at 16 48 22 (2)](https://user-images.githubusercontent.com/2910614/117996981-e4a27e80-b342-11eb-97dd-75c39b7f5b92.png)

[2021-05-12 15:23] arj22 commented on #7547
@jirib what was the solution to this issue? I'm running into the same error

[2021-05-12 17:24] cstyan commented on #8788
`Ok, that makes sense. Then maybe we allocate a buffer of dataPoint or something like that, which could hold either a sample or an exemplar.` At that point we we could just allocate the `pendingData` buffer to be the max size. We might end up with slightly higher memory usage, but if the potential impact to throughput is reduced then I think it's a win.

[2021-05-12 18:10] jirib commented on #7547
IIRC increased memory.

[2021-05-13 02:20] rgoerwit opened #8820 "Not sure of your release numbering/versioning practices, but prometheus 2.27.0 executable reports 2.26.0 version"
I may just not understand numbering/versioning practices in your case, but the prometheus 2.27.0 executable reports 2.26.0 version.

Replicate the issue:

 ./prometheus --version
prometheus, version 2.26.0 (branch: main, revision: 277bac622ac74240bbe6b75cbe96fe3472a7dc48)
  build user:       buildtmpuser@ubuntu
  build date:       20210513-01:21:26 # NOTE DATE
  go version:       go1.16.3
  platfo

[2021-05-13 08:04] roidelapluie commented on #8820
Did you build the branch release-2.27 ?

[2021-05-13 09:50] gupf0719 opened #8823 "prometheus sometimes irate() is calculated incorrectly"
**What did you do?**

I created two prometheus, the targets they scraped are the same

* Prometheus version:

	prometheus version 2.19.3

* Prometheus configuration file:
[code]

* Logs:

abnormal prometheus

![image](https://user-images.githubusercontent.com/10015549/118107214-0f5b0880-b411-11eb-9902-2dd48956ea8a.png)

host_cpu_used_cores: (irate(node_cpu_seconds_total{mode!="idle",clusterId="130

[2021-05-13 15:00] susmitameher commented on #8298
I had the same issue quite many times. Try working around retention.size limit or retention.time .
Details can be found here : https://www.robustperception.io/configuring-prometheus-storage-retention

[2021-05-13 15:58] csmarchbanks commented on #8820
I downloaded the latest linux 2.27.0 binary and it is reporting 2.27.0 for me:
[code]

Which version/build are you using? Or from source?

[2021-05-13 16:23] rgoerwit commented on #8820
Here's what I get:

 **cd /tmp**
 **git clone https://github.com/prometheus/prometheus**
Cloning into 'prometheus'...
remote: Enumerating objects: 74849, done.
remote: Counting objects: 100% (160/160), done.
remote: Compressing objects: 100% (125/125), done.
remote: Total 74849 (delta 56), reused 95 (delta 31), pack-reused 74689
Receiving objects: 100% (74849/74849), 125.93 MiB | 7.97 MiB/s, done.

[2021-05-13 16:28] csmarchbanks commented on #8820
Ahh yes, you are on the `main` branch not `release-2.27`. Once https://github.com/prometheus/prometheus/pull/8819 is merged the main branch will be updated to report a version of 2.27.0 as well. We do releases in a branch, and once everything is OK merge it back into main.

[2021-05-13 19:45] rgoerwit commented on #8820
So you can close this.  No, you're correct:  I didn't until now understand how the branching and tags were being done...

[2021-05-13 19:46] #8820 closed

[2021-05-13 19:46] rgoerwit commented on #8820
git checkout "tags/v2.27.0"
git fetch

[2021-05-14 00:55] fcddk opened #8825 "readCheckpoint wasn't able to read all data from the checkpoint xxx"
**Environment**

* System information:

	Linux slave07  5.4.61-050461-generic #202008260931 SMP Wed Aug 26 09:34:29 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

* Prometheus version:

	2.22.0

* Logs:
[code]

[2021-05-14 01:53] fcddk commented on #8825
remote_write:
- url: http://localhost:9201/write
  remote_timeout: 30s
  name: prometheus-center-adapter
  queue_config:
    capacity: 2500
    max_shards: 200
    min_shards: 1
    max_samples_per_send: 500
    batch_send_deadline: 5s
    min_backoff: 30ms
    max_backoff: 100ms

[2021-05-14 06:31] timmyyuan commented on #8806
It's flapping, I can't reproduce it anymore. Seems to be a flapper only when the machine under large pressure.

[2021-05-14 07:49] shan100github commented on #8298
faced the same issue did the following.
1) used `kubectl df-pv` as mentioned by @marcosantar93 & located the worker node dir to be cleared off.
     `fdisk -l` & `df -h` were handy
2) resized PVC to higher number
3) set the `retentionSize` & PV size in helm values and did helm upgrade.
4) made sure the volume identified in step1 is resized.

[2021-05-14 11:46] hanjm opened #8827 "Prevent scrape OOM by scrape stage limitation when target expose too many metrics"
## Problem

some bad service expose too many cardinary metrics, the prometheus server will OOM even if we config `sample_limit` .

currently, The Prometheus server will read the total body when scrape, then do limit operation when append to db.

https://github.com/prometheus/prometheus/blob/main/scrape/scrape.go#L738
[code]

## Proposal
Prometheus server use a limit reader, not read all the body.

[2021-05-14 20:00] roidelapluie commented on #8823
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-05-14 20:00] #8823 closed

[2021-05-14 20:40] roidelapluie commented on #8812
Thanks. A fix is in #8828.

[2021-05-14 20:41] roidelapluie commented on #8825
cc @cstyan @csmarchbanks @codesome

[2021-05-14 20:42] roidelapluie commented on #8827
Thank you. Relying on a client header is fragile but we could use an io.LimitReader.

Note that the default limit should be pretty high (we have users scraping 4 GB per scrape).

[2021-05-14 21:50] logston commented on #8586
Similar issue here:

[code]

[2021-05-14 21:52] logston opened #8829 "Azure/azure-sdk-for-go does not contain arm/compute."
I've tried the following with an number of different `@SHAs` including `@main` and get the same error:

[code]

[2021-05-14 22:08] logston commented on #8829
For reference, I've read through:
- https://github.com/prometheus/prometheus/issues/4468
- https://github.com/prometheus/prometheus/issues/8586
- https://github.com/prometheus/prometheus/issues/5590

I'm curious why `prometheus/discovery/azure` depends on `github.com/Azure/azure-sdk-for-go/arm/compute` when is no where to be found in the project.

[2021-05-14 22:12] roidelapluie commented on #8829
To build Prometheus, please clone the repository or run make build. go get does not fully respect the go.mod file (e.g. does not respect the `replace`). `go get` also does not build the UI.
Which version of go are you using?

[2021-05-14 22:15] logston commented on #8829
Thanks @roidelapluie. I'm not trying to run make or build Prometheus. Instead, we depend on it in our own repo. Eg.

[code]
We are trying to use 2.26.0. We are upgrading from 2.13.0.

[2021-05-14 22:36] roidelapluie commented on #8829
In 2.26 github.com/prometheus/prometheus/config does not depend on azure (except for the tests).

[2021-05-14 22:37] roidelapluie commented on #8829
Which version of go are you using?

[2021-05-14 23:27] robinmarechal opened #8830 "Add a prod() or product() function"
Currently working on a fully Prometheus/Grafana based monitoring infrastructure, we want/need to create high-level "health" metrics, based on lower level health metrics, themselves bases on more lower level health metrics, etc...

These "health" metrics should be between 0 and 1. A higher value meaning that the component is healthy, and a lower value that the component is unhealthy.

A simple aver

[2021-05-15 01:04] logston commented on #8829
Hmm, odd. Very curious why `go mod vendor` is finding a version of `github.com/prometheus/prometheus/discovery/config` that imports `github.com/prometheus/prometheus/discovery/azure`.

We are running Go 1.15.

I see a line like the following above:

[code]

Any reason why go would fetch `v2.5.0` if I've explicitly listed the SHA of 2.26.0 in our go.mod file?

Thanks for all your help @roidelapluie

[2021-05-15 15:08] fhemberger opened #8831 "docker_sd: Deduplicate containers attached to multiple networks"
## Proposal

I have several containers attached to multiple Docker networks (e.g. `frontend`, `backend`). At the moment `docker_sd` creates a scraping target for each container on **all** networks. As some services are only attached to one network, it's not feasible to use relabelling to drop all containers in a certain network (or only keep those).

It would be nice if `docker_sd` could be config

[2021-05-15 21:30] logston commented on #8829
Ah, I see now. `go mod vendor` searches for and installs a version of promethues that has the directory path `github.com/prometheus/prometheus/discovery/config`, thus causing 2.5.0 to be installed. I thought that by pinning the version in my `go.mod` file, the correct version would be installed. After which I would be able to refactor my code. Instead, I must remove that import before running `go

[2021-05-15 21:30] #8829 closed

[2021-05-16 14:48] brosev opened #8835 "When does Prometheus actually execute the storage.tsdb.retention.time or storage.tsdb.retention.size and remove old data?"
We currently have storage.tsdb.retention.time set to 26d but have data about that's 27-28 days old. It looks like eventually something is executed that removes the old data but I can't find what this is or how to configure it to happen more often. As it is the data grows for a couple of days before the task to remove data is actually executed, allowing data to grow well past the 26d retention time

[2021-05-16 16:11] POD666 commented on #7167
Looking forward to use this feature 🙂

[2021-05-16 22:03] roidelapluie commented on #8835
Size-based retention does not work in 2.21 due to a bug. It works in 2.22.1 onwards. Can you please update?

Regarding the retention time, this is the minimum that Prometheus will guaratee you, not the maximum. The maximum will depend on the blocks size.

[2021-05-17 02:28] brosev commented on #8835
@roidelapluie could you please elaborate on what you mean by "this is the minimum that Prometheus will guaratee you, not the maximum."

Just Curious, What is the best way to avoid filling up disk on 2.21? Considering there was a bug with the retention size setting.

Thanks!

[2021-05-17 09:51] roidelapluie commented on #8831
This is interesting. Can you workaround the issue by taking multiple labels in input_labels and use regexes ? e.g. can you find which container is attached to which network based on the container name?

Are you using docker swarm?

[2021-05-17 10:25] roidelapluie commented on #8830
Based on https://github.com/prometheus/prometheus/issues/438#issuecomment-81853784

@beorn7 :

[2021-05-17 10:28] fhemberger commented on #8831
The container network name is stored in `__meta_docker_network_name`, so I tried setting a label `prometheus.network` on the container, but AFAIK there's no way to compare `__meta_docker_network_name` and the resulting `__meta_docker_container_label_prometheus_network` during relabeling, as the RE2 engine doesn't support back references.

No I'm using `docker_sd`, but I guess this is also the case

[2021-05-17 10:51] roidelapluie commented on #8831
Indeed, you would need to hardcode them:

[code]

or, shorter
[code]

The issue with the approach you are proposing is that I do not know what are the guarantees from Docker that the networks are ordered in fixed order between API calls, and how it behaves when you attach/detach to networks, then restarts the daemon, etc.

[2021-05-17 12:36] fhemberger commented on #8831
I'm not sure about the behavior of the Docker API either, it would just be nice to have **some** built-in way to avoid duplicate targets.

[2021-05-17 13:09] beorn7 commented on #8830
@robinmarechal I hope that addresses your need.

Having said that, I have been thinking for a while how we could introduce custom PromQL functions and operators without polluting the common use cases and without encouraging too much obfuscation. This case here was easy as there is already a very reasonable work-around. However, we regularly get requests for many different interesting statistical t

[2021-05-17 14:07] medwards commented on #3806
@roidelapluie How or where do end-users contribute data for the design doc you mentioned in https://github.com/prometheus/prometheus/issues/3806#issuecomment-748522887 ?

Are you considering use-cases of companies doing alerting and analysis in Grafana rather than directly in Prometheus?

[2021-05-17 14:58] pballok-logmein commented on #8768
Agreed, does this mean that having a similar buffered chan for DNS discovery targets could be ok? (this is what the proposed PR does)

[2021-05-17 15:47] roidelapluie commented on #8768
The approach seems OK. However, the proposed PR causes a double buffer in the scrape discovery, which I'd like to avoid.

[2021-05-17 17:07] cstyan commented on #8825
@fcddk can you please send us more of the logs from that Prometheus instance? I can't really debug or make any suggestions based on that one log line alone.

[2021-05-18 00:36] fcddk commented on #8825
@cstyan   I only get this exception log, other logs did not appear.

[2021-05-18 04:43] kaihendry commented on #6222
Oh I just ran into this ... https://s.natalian.org/2021-05-18/promtool.txt ... quite frustrating!

[2021-05-18 08:40] roidelapluie commented on #8825
Can we get prometheus --version, and the filesystem you are using?

[2021-05-18 12:41] samsk opened #8840 "Feature: implement scrape_align_interval and scrape_offset equivalents"
## Proposal
I have multiple prometheuses scraping the same sources, and I would like to _un-synchronize_ them, so each of them makes the scrape at different, but configurable time point. VictiorMetrics vmagent has interesting options to achieve this:
* scrape_offset
* scrape_align_interval

Using _hypothetical_ scrape_offset option I could configure my 3 prometheuses, to have each scrape_interval

[2021-05-18 13:13] dgl commented on #6222
@kaihendry that looks different, this issue is talking about the check options other than metrics; "check metrics" outputs nothing when it succeeds (although it also succeeds on empty input, and `curl -s` hides errors, so that command isn't a particularly good way to check anything).

For posterity the command in that paste is `curl -s http://192.168.1.5:9115/metrics | docker run -i --entrypoint=p

[2021-05-18 13:33] roidelapluie commented on #8840
Do you see multiple instances of Prometheus scraping targets at the same time?

Multiple servers should not scrape targets at the same time (I think since Prometheus 2.9 - given they have different hostnames).

[2021-05-18 13:34] roidelapluie commented on #8840
Note: In general, it is also not recommended to mix the metrics from 2 HA prometheus servers, if you need lower scrape intervals, it is sometimes better to scrape targets from a unique prometheus server.

[2021-05-18 15:04] robinmarechal commented on #8830
@roidelapluie Oops, I didn't think of that solution. My maths skills are defintely getting rusted. Thanks!

@beorn7 Yep this totally addresses my needs.

Actually I was thinking of custom PromQL functions and operators as well when I wrote my issue. But that was of course way too complex for my simple needs.
If you ever find a way to implement that kind of feature, while keeping a high performant

[2021-05-18 15:11] #8830 closed

[2021-05-18 15:29] beorn7 commented on #8840
The Victoria Metrics options seem to be targeted towards use cases where you want all targets to be scraped at a specific time during the interval. Your use case seems to be kind of the opposite: You want the scrapes to be at spaced out. You could implement that with something like `scrape_offset` but then you have to configure both instances of the HA pair differently.

Also, if your job has mult

[2021-05-18 17:08] yeya24 commented on #5862
Closed by #8582

[2021-05-18 17:45] tjhop opened #8843 "Linode Service Discovery Support"
## Proposal
**Use case. Why is this important?**

At [Linode](https://www.linode.com/), we internally use a few custom adapters based around our configuration management system (SaltStack) to write out some basic scrape target configs for use with the file based service discovery. This has served us well for a few years, but we're starting to outgrow this internal system. We started reconsidering

[2021-05-18 17:48] beorn7 commented on #8840
Without going into too much detail of my thoughts, the gist is that I could imagine a few special use cases where it would make sense to micro-manage the scrape timing. However, the `scrape_align_interval` and `scrape_offset` seems to solve only part of the problem, but it is already quite complicated. That seems a bad trade-off. The common user will just be confused by the feature and has to igno

[2021-05-18 18:16] samsk commented on #8840
Maybe for clarification, my sources in this case are bunch of other federated prometheuses.
And yes, every instance must be configured slightly differently, but with automation tool like ansible its no problem

Yes, I know these options are not perfect, ideally the offset should accept multiple values or there could be smth. like a `interval_schedule` option taking cron-like expression (with secon

[2021-05-18 18:44] roidelapluie commented on #8843
Yes, this seems reasonnable, I would maintain it. Is there a free tier we can use to play around the API's?

[2021-05-18 21:00] austince commented on #7919
@roidelapluie somewhat related to the [generic http_sd proposal](https://docs.google.com/document/d/1tVeuzjpU4-TiYPNWJXKmcyIuZF6A2tUq270RbBT5zho/edit), though xDS provides the ability to only send updates when required which makes for a more efficient implementation.

[2021-05-18 21:48] sdhoward commented on #8256
please make the classic UI the default if this isn't going to be fixed soon

[2021-05-19 05:29] #5862 closed

[2021-05-19 16:29] ekpdt opened #8848 "Support named port resolution using /etc/services"
## Proposal

Support [hosts](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#host) with named services (e.g. `foo:namedservice`) in addition to the traditional port number `foo:8080` descriptor. Named ports should be resolved by consulting the OS (`/etc/services` / `netdb.h` on *nix, `%WINDIR%\system32\drivers\etc\services` on Windows).

**Use case. Why is this important?

[2021-05-20 00:05] HassanWahba commented on #6571
is there any reference to solve this issue? I didn't find it in the mailing list

[2021-05-20 01:31] LeviHarrison opened #8849 "Run CI jobs based on modified language"
## Proposal
**Use case. Why is this important?**

I've found myself working on UI changes, and although some do involve touching the backend, most end up being TS only. Each time I push a commit, the full suite of Go tests are run, and a bunch of builds on multiple platforms are generated, even though no Go code was actually touched. Take for example #8832, a purely TS-related PR. After pushing a

[2021-05-20 01:57] fcddk commented on #8825
df -hT |grep monitor:
/dev/monitor           ext4      930G  3.5G  879G   1% /monitor

[2021-05-20 01:58] fcddk commented on #8825
prometheus, version 2.22.0 (branch: non-git, revision: non-git)
  build user:       root@5jje19a
  build date:       20210503-03:12:53
  go version:       go1.15.1
  platform:         linux/amd64

[2021-05-20 03:54] GeorgeZhai opened #8852 "change go.mod to make current version (v2) a different module path"
## Proposal
Change the first line of go.mod to:
module github.com/prometheus/prometheus/v2

**Use case. Why is this important?**
it's [the recommended way ](https://blog.golang.org/v2-go-modules)of releasing V2 and beyond
We have multiple projects using both v1 and v2 Prometheus in our monorepo. sharing the same import path for the incompatible versions is causing the problem

[2021-05-20 04:33] delroth commented on #7672
I hit this today when building Prometheus, so as of 2.27.1 this is still randomly occurring.

[2021-05-20 10:18] omron93 opened #8854 "Out of memory failure, 100G RAM consumption increase in 20 minutes"
**What did you do?**

The prometheus was running for almost 2 weeks after the restart, we're running this setup for few months already.

We have two different prometheus instances with almost the same configuration (only the /federate targets differ as we have again a pair of prometheus instances in remote site).

Yesterday both nodes started to report rapidly increasing CPU and RAM usage. And wen

[2021-05-20 14:24] Yentel opened #8855 "Allow for query execution within range vector"
## Proposal
**Use case. Why is this important?**
When trying to query the amount of bandwidth that has gone over an interface over the past 30 days, one can simply run this query (quick draft, only calculating In, skipping Out):
`increase(ifHCOutOctets{instance="<ip>",ifDescr="<ifdescr>}[30d])`

This works fine, however, when we want to alert when the amount of bandwidth has gone over X TB in the

[2021-05-20 15:27] beorn7 commented on #8840
Yeah, that could be a solution. But we also need a way to deal with more than one target created by the scrape config. For example, if your scrape config results in 100 targets, you definitely don't want them to all get scraped at the same time. But perhaps you have a requirement to scrape at full seconds only or something.

However, you should note that it's one of the fundamental assumptions Pro

[2021-05-20 15:34] roidelapluie commented on #8840
Federation exposes timestamps, so scrapes do not have effects on the timestamps of the data

[2021-05-20 15:42] samsk commented on #8840
Well, I don't expect that all targets are scraped at the same time, I need the opposite. I want to achieve that they are really not scraped at the almost same time and ideally in configurable time range. And seeing that VictoriaMetrics already implements smth. similar, signalized that there is an audience for this.

"bussiness hours only" use case specially, is only side effect use case of impleme

[2021-05-20 16:01] samsk commented on #8840
Well, not really, if scraped prometheus and federating prometheus have different scrape_interval.
If satellite is scraping every 10s and 2 federated prometheuses every 20s (or maybe 19s), with good timing I can achieve that each federated prometheus sees different data.
This way, I'll have 2 prometheuses that backup each other, each of them can still do alerting (it works with bit of de-duplicatio

[2021-05-20 16:40] roidelapluie commented on #8840
I start to think that your use case is covered by thanos and cortex. They support the deduplication of samples and work with remote write.

[2021-05-20 18:46] beorn7 commented on #8852
This is a known issue with Go Modules. The semantic versioning of Prometheus versions the behavior of Prometheus as a server, not its code as a library. By changing the module path to v2, we would suggest that Prometheus obeys the contract of Go Modules as a library, but it doesn't, i.e. there are many breaking changes to expect even in a minor release.

We had a lot of discussions around this, wi

[2021-05-20 18:51] beorn7 commented on #8852
See also #8513 #8417 #7991 #7663 #6048 #5356 :disappointed:

[2021-05-20 19:09] roidelapluie commented on #8855
Yes there are changes that this is added in the future. We are looking for someone willing to put that in a design document, with all the options to achieve that and other things.

[2021-05-20 19:17] #8812 closed

[2021-05-20 20:53] GeorgeZhai commented on #8852
I see, thanks for the explanation.
Considering the popularity of prometheus being used both as server and library, the benefit is obvious to follow the Go Modules convention 😄
Really hope we can have this soon

[2021-05-20 22:13] roidelapluie commented on #8854
Thank you for the detailed report.

From what I can see, the isolation watermarks became stuck and caused the out of memory. I do not remember that we fixed something around it since 2.22.

[2021-05-20 22:17] roidelapluie commented on #8854
May 19 13:44:37 prometheus-proto1-u.XXX.net systemd-journald[61204]: Suppressed 4450 messages from prometheus.service

So, it could also be a bad query (e.g. selecting all the metrics). Prometheus prints the queries running during a crash at startup. Unfortunately, the startup logs are not present here.

[2021-05-20 22:23] roidelapluie commented on #8854
This select can be up to the time between scrapes. I can imagine that because you use 300s, there is some rounding in the dump.

[2021-05-21 01:09] alvinlin123 opened #8858 "Same query returns different result when run at different time"
### Setup
Assuming we have the following sample points ingested recently.
(2021-05-19T23:59:09Z,  77)
(2021-05-20T00:04:05Z,  117)
(2021-05-20T00:09:05Z,  161)

And I am making the query `query=oh-my-series&start=2021-05-20T00:00:00Z&end=2021-05-20T00:05:00Z&step=60` against querier directly to by pass cache (`Cache-Control: no-store` against query-frontend would reproduce the problem too).

### P

[2021-05-21 06:57] omron93 commented on #8854
Thanks @roidelapluie . I understand that some important details are probably missing and it won't be possible to say what went wrong from this report. So we'll update to latest prometheus version and hope that it won't happen again :-)
But if it does, could anyone please advice what are the "steps" to get detailed enough information from pre-failed prometheus?
When checking the existing prometheus

[2021-05-21 07:29] mnicky commented on #5514
For us this would be pretty useful as well :)

[2021-05-21 14:26] sorend opened #8860 "promtool: junit output"
## Proposal

We are using promtool for checking rule syntax as well as evaluating rule unit-tests. For this to integrate nicely in our tooling, we have created a wrapper to produce junit compatible output: https://github.com/sorend/promunit

Junit compatible output is supported by many tools, in our case we use Jenkins to collect it during CI phase.

Our proposal is to make promtool checks output

[2021-05-22 00:31] alvinlin123 commented on #8858
I was trying to reproduce the problem by writing new unit test, but I can't. I found out that there is `lookbackDelta` which defaults to 5 minutes, which renders my suspicion invalid.

[2021-05-22 00:31] #8858 closed

[2021-05-22 20:27] LeviHarrison commented on #8788
Can I open a PR for this?

[2021-05-23 13:35] LeviHarrison commented on #8797
@bwplotka I'd be interested to know more about your idea for this. #8832 will add support to the graph, but won't touch anywhere else.

[2021-05-23 17:05] LeviHarrison commented on #8453
The timeout still exceeds quite a bit, for example twice in a row on one of my PRs this morning, so maybe we should increase it further.

https://app.circleci.com/pipelines/github/prometheus/prometheus/12027/workflows/33edc58f-9775-4400-a136-c9844a26545e/jobs/53381
https://app.circleci.com/pipelines/github/prometheus/prometheus/12026/workflows/9f843f3e-597b-45af-8fe7-b5b6e2b0394f/jobs/53375

[2021-05-23 17:37] roidelapluie commented on #8453
Now that we have increased it, I think the problem might come from a bug. Golint should run way faster, it might be blocked forever for unknown reasons.

[2021-05-23 18:56] LeviHarrison commented on #8453
Hmm... I'll investigate.

[2021-05-23 22:40] hadjiski commented on #5514
Please reconsider (see above)

[2021-05-24 06:44] krasi-georgiev opened #8861 "GetRef returns 0 for existing series"
The following code always returns 0 in the first iteration even when the series exists.
When commenting out `labels.Label{Name: "domain", Value: "b"},` it returns the existing reference for the series as expected.

This is with the current commit on the main branch #03b354d4d9386e4b3bfbcd45da4bb58b182051a5

I am not sure if this is a bug of the implementation of using `GetRef` is incorrect.

cc @c

[2021-05-24 14:20] brettminnie opened #8862 "Medium Vulnerabilities on Prometheus and Promtool"
When running Trivy against our docker image of the latest prometheus, the following was flagged up in both Prometheus and Promtool

|LIBRARY|VULNERABILITY ID|SEVERITY|INSTALLED VERSION|FIXED VERSION|
|-------------|---------------------------|---------------|-----------------------------|-----------------------|
|github.com/containerd/containerd|CVE-2021-21334|MEDIUM|v1.4.3|v1.3.10, v1.4.4|
|k8s.i

[2021-05-24 17:28] ryan-dyer-sp opened #8863 "Ability to set request headers of amtool"
## Proposal
For the amtool to support passing in HTTP request headers via parameters.  We manage over a dozen AMs each fronted with a Cloudflare reverse proxy.  Currently we cant use the amtool to manage AM (create/delete silences) as we need to be able to pass in cloudflare specific headers for auth purposes.  The scenario would occur for anyone with a reverse proxy with auth in front of their AM

[2021-05-25 12:40] RobbanHoglund opened #8864 "Annotations is placed under labels"
**What did you do?**

I added a new alert-rule in prometheus:
cache_alerts.yml

[code]

**What did you expect to see?**

I expected to see this in prometheus alert view when "pending":

[code]

**What did you see instead? Under which circumstances?**

First alert is "stuck" in pending:
[code]

Second alert is also "stuck" in pending:
[code]

The alerts will be "stuck in pending" because the annota

[2021-05-25 12:54] roidelapluie commented on #8864
Can you please provides us with the content of https://<your-server>/api/v1/rules?type=alert ?

[2021-05-25 14:12] RobbanHoglund commented on #8864
Hello, we have a lot of sensitive data in the output but I took one sample.

[code]

In the same output we have this one that is working fine:
[code]

Hope that this is enough information for you.

[2021-05-25 15:50] roidelapluie commented on #8864
The input yaml is probably incorrect. In particular, is it possible that the line with `annotations:` is not indented properly?

[2021-05-25 16:37] MarcSolde opened #8865 "Add custom labels to automatically generated series."
## Proposal
Let's assume a situation where we have N prometheus scrapping differents endpoints (there is no overlap), and said prometheus send the data to a single influxDB database, including the automatically generated series, such as scrape_samples_scrapped or scrape_duration_seconds. As far as I know, there is no way to add custom labels on those metrics to identify which prometheus send which

[2021-05-25 19:29] beorn7 commented on #8865
If you set `external_labels` in the `global` section of the config file, it should cover your use case. See https://prometheus.io/docs/prometheus/latest/configuration/configuration/#configuration-file

[2021-05-26 04:34] Felix-YuJing commented on #6139
[code]
I got the same error and `Received SIGTERM`
prometheus version: `v2.19.2`

[2021-05-26 05:05] RobbanHoglund commented on #8864
You are completely right. The yaml was **not** correctly indented for this specific alert.
The funny thing is that we always run promtool validation (check config) before deploy of new prometheus config and this does **not** complain on the broken indentation.

[2021-05-26 06:57] MarcSolde commented on #8865
It does, thanks!

Since this is already implemented, I'm closing the issue.

[2021-05-26 06:57] #8865 closed

[2021-05-26 07:26] amnonh opened #8866 "promtool does not accept names with dots for backfill"
Using dot in a parameter name should be valid
**What did you do?**
I've used the following file (this is simplified version):
[code]
and uploaded it with
[code]
**What did you expect to see?**
it should have been loaded
**What did you see instead? Under which circumstances?**
getting min and max timestamp: next: expected text in HELP, got "INVALID"
**Environment**

* System information:

	insert o

[2021-05-26 07:59] roidelapluie commented on #8866
https://prometheus.io/docs/concepts/data_model/

Dots are not allowed in metric names: the metric name may contain ASCII letters and digits, as well as underscores and colons. It must match the regex `[a-zA-Z_:][a-zA-Z0-9_:]*`

[2021-05-26 07:59] #8866 closed

[2021-05-26 08:00] roidelapluie commented on #8866
Note: it is frequent to use `_` instead of `.`. It is also recommended to have the unit in the metric name (e.g. `disk_used_bytes`).

[2021-05-26 08:21] krasi-georgiev commented on #8861
cc @bwplotka

[2021-05-26 08:31] Harkishen-Singh commented on #8787
I think the reason we do not group exemplar and samples in a single Timeseries is that WAL for exemplar is different than the WAL for samples. If we store exemplar in the same sample's WAL, this will be easier to handle, given that both the WAL (exemplar and sample) have `ref` field.

Is there any reason why we didn't do that?

My guess is to keep WAL size reduced, but I don't think the increase w

[2021-05-26 08:43] Harkishen-Singh commented on #8809
I think the "best-effort" here would be to see if the last send data was not compressed i.e., it still lies in (tsdb) checkpoint and segments.

If the last send was from a segment and that segment still exists, resume from the next record using the offset (segment number + offset in that segment) in that segment (this needs to be stored in some file, as last successful sent).
otherwise, start from

[2021-05-26 09:48] roidelapluie commented on #8864
It happens that `annotation` is a valid label name, so the yaml was fine from a technical perspective. I will gather @dgl 's opinion about whether it is needed to add a warning to promtool when there is an empty 'annotation' label in the alert rules, but that seems pretty niche to me.

[2021-05-26 09:54] roidelapluie commented on #8862
It is *not fine* to open security vulnerabilities in public. When you click on "new issue" in this repository, it points you to a specific link that explains how to report security vulnerabilities: https://github.com/prometheus/prometheus/issues/new/choose

Please follow the rules and disclose responsibly to make open source more secure.

Additionally:
- Prometheus does not launch containers so we

[2021-05-26 09:56] roidelapluie commented on #8860
cc @dgl WDYT?

[2021-05-26 11:48] roidelapluie commented on #8854
It seems that a query was running and the server might have crashed while returning the result. This is a hard guess. You did provide a complete report, we just miss the lines which were removed by systemd. From the go routines, I would say that no query was running at that time, but we were still doing some API queries.

Did you see that once again? Are you using also using thanos sidecar by any

[2021-05-26 12:46] dgl commented on #8860
Yes, I think provided it isn't too heavy having xUnit XML output would make the most sense as many tools support that. I have been thinking about refactoring the output generation as the text output right now is a bit messy (and not tested), so could make sense to combine with a bit of a refactor.

[2021-05-26 12:58] dgl commented on #8864
I think this would fit nicely under #8613 -- either `annotations` or `labels` with an empty value would catch this error. (I've definitely done it before...)

[2021-05-26 14:19] ShiningRush opened #8867 "Kubernetes discovery can not specify the priority of node address type"
## Proposal

Now kubernetes discovery plugin convert target from `node.Status.Addresses` by fixed priority:
[code]

I think we can add a field to this SD's configuration such as `PreferredAddressTypes`(like `--kubelet-preferred-address-types`, it is the argument of kube-apiserver), so user can specify the priority of node address type.
(BTW:  the default value of `--kubelet-preferred-address-types

[2021-05-26 14:32] omron93 commented on #8854
No, haven't seen the failure again. OK, so making sure systemd suppress no messages and that should be enough, right?

Yes, we run thanos sidecar alongside this prometheus instance.

[2021-05-27 06:57] sinkingpoint opened #8868 "Incompatibility with old amtool's and Alertmanager 0.22.0"
**What did you do?**

[code]

**What did you expect to see?**

A silence with `instance=cats` as a matcher

**What did you see instead? Under which circumstances?**

A silence with `instance!=cats` as the matcher

**Environment**

Alertmanager 0.22.0
AMTool < 0.22.0

* System information:

	Darwin 20.4.0 x86_64 but irrelevant

* Prometheus version:

	N/A

* Alertmanager version:

	0.22.0

My analy

[2021-05-27 06:58] sinkingpoint commented on #8868
Derp. This belongs in Alertmanager

[2021-05-27 06:58] #8868 closed

[2021-05-27 07:06] WuJingLearn opened #8869 "remote_write"
How often do Prometheus write remotely.thanks

[2021-05-27 09:38] pstibrany opened #8870 "Prometheus remote writes too many metrics metadata at once."
## Proposal

We're seeing that Prometheus with lot of metrics is remote-writing messages with 117273 metrics metadata, producing 25 MiB big messages.

We would like to have more control over how metadata messages are generated (eg. using batching, configurable max size of message, or max number of metrics to include in single metadata message).

**Use case. Why is this important?**

Cortex is able

[2021-05-27 09:54] pstibrany commented on #8870
According to @gotjosh Prometheus already uses batching mechanism when remote-writing metadata. In our scenario however, there are many metrics with the same name, but different HELP string produced by different jobs. Such metrics would end up in the same batch.

[2021-05-27 11:34] bwplotka commented on #8861
From an interface standpoint, it's correct, it's up to the implementation to drop series any time, so getRef can get 0 when labels are not preserved.

But based on our implementation it indeed sounds weird, maybe it's some race? Still, it's not dangerous, callers should expect any of this.

[2021-05-27 11:44] gotjosh commented on #8870
Apologies @pstibrany, I must have misremembered that we changed the implementation during #6815. We actually decided to move away from batching it in favour of a direct collect and send to simplify the logic. So metadata collected is not effectively batched at the moment.

I think we have two avenues:

We can start following the lead of remote write with a `max_metadata_per_send` and split that pa

[2021-05-27 11:50] gotjosh commented on #8870
WDYT @roidelapluie ?

[2021-05-27 12:13] krasi-georgiev commented on #8861
ok I refactored the example a bit to make it more clear where I am confused.

Main thing I can't figure out is how would I avoid creating the same timeseries with a diff ref ID which is what is happening here?

I was expecting that `GetRef` would always give me the ID of given series when they exist.

[2021-05-27 12:22] krasi-georgiev commented on #8861
also I see few places in Prometheus itself where the append happens with 0 for the reference so this means that the same timeseries will be created under a new reference every time.

[2021-05-27 12:44] bboreham commented on #8861
I don’t think the implementation is compelled to add something new every time you pass zero to `Append`.
Merely if you pass non-zero it can skip hashing and looking up the labels.

(I didn’t check this in the code today. Speaking from memory.)

[2021-05-27 12:57] krasi-georgiev commented on #8861
@bboreham yes this is what I thought, but did you look at my example as this is exactly what happens when you pass 0 it creates a new reference every time and internally it indeed creates new timeseries for the exact same labels.

[2021-05-27 13:41] anandvamsi commented on #7196
The Bestway to display instances in multi account is by using crossAccount role.

[2021-05-27 20:23] roidelapluie commented on #8695
I mean the address we pass in the Prometheus flag --web.external-address

[2021-05-27 20:24] roidelapluie commented on #8606
cc @dgl you are better placed to comment on this

[2021-05-28 00:45] csmarchbanks commented on #8869
It makes more sense to ask questions like this on the [prometheus-users](https://groups.google.com/forum/#!forum/prometheus-users) mailing list rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2021-05-28 00:45] #8869 closed

[2021-05-28 04:33] precurse commented on #8799
I'm having an issue with the latest 6.9 version from ports, which may be related. I upgraded from OpenBSD 6.8 and Prometheus 2.13.1 to  OpenBSD 6.9 and Prometheus 2.24.1.

I recently noticed the following error starting to appear:

[code]
After a period of time, Prometheus will panic and die:

[code]

I first encountered this early yesterday after my upgrade to Prometheus 2.24.1 and suspected a bi

[2021-05-28 10:09] sksingh20 commented on #8772
@roidelapluie Can you help to understand how to use correctly if this is usage issue. This appears to me as development issue which some how did not handled data properly or Prometheus is Prometheus return negative utilization report.

[2021-05-28 15:31] roidelapluie opened #8872 "Timezone Support in promQL"
Prometheus has multiple calendar functions.

I propose the addition of an optional var arg "timezone", which would look like:

`day_of_week(time(), "Europe/Brussels")`.

This would then return the day of the week for that unix timestamp in the Europe/Brussels timezone.

For windows compatibility, we should have a new flag in Prometheus that loads a timezone zip file.

The embedded timezone in go c

[2021-05-28 15:32] roidelapluie commented on #8872
cc @fionera would you be interested by working on this?

[2021-05-28 15:35] roidelapluie commented on #8872
Let's also gather @juliusv input. The tricky point is that those calendar functions already have an optional parameter. Either we try to cast the first parameter as a string to see if it is a timezone, so we would allow time("Europe/Brussels"), or we force the first parameter (if even possible in promql parser?).

[2021-05-28 16:02] sksingh20 opened #8873 "max number of records returnable from prometheus"
**What did you do?**
Team, I have major issue on grafana dashboard which is increasing step size by itself resulting in substantial loss of data.
https://github.com/grafana/grafana/issues/34775

As per https://github.com/grafana/grafana/issues/34775 this is defect due to limitation of Prometheus where prometheus is making limit of 11K records.

Whereas I see no limitation of records in Prometheus

[2021-05-28 17:31] Gadiguibou opened #8874 "Web UI unusable, throws warnings like "JSON.parse: unexpected character at line 1 column 1 of the JSON data" despite working perfectly through API"
**What did you do?**

Prometheus is installed on one of our servers. I was tasked with finding the source of errors in the web interface that make it (the UI) unusable despite the API endpoints working perfectly (Alertmanager/Grafana use it with no problem whatsoever).

**What did you expect to see?**

Being able to execute queries, see graphs, alerts and runtime information on the web UI (e.g. lo

[2021-05-28 18:00] roidelapluie commented on #8874
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-05-28 18:00] #8874 closed

[2021-05-28 18:53] juliusv commented on #8872
I think @beorn7 has thought about this 100x more deeply in https://github.com/prometheus/prometheus/pull/8871#issuecomment-850584432 and his doc than I ever have or ever will do :) But generally timezones are "here be dragons" territory for me. From purely a language standpoint (assuming timezones were simple and that would work without problems), I would prefer a single offset function that can b

[2021-05-28 21:51] #8438 closed

[2021-05-28 22:36] #8872 closed

[2021-05-28 22:37] roidelapluie opened #8875 "Timezone support in Prometheus"
I have put a design document to introduce simple timezone handling in Prometheus:

https://docs.google.com/document/d/1xfw1Lb1GIRZB_-4iFVGkgwnpwuBemWfxYqFdBm7APsE/edit#

[2021-05-28 22:37] roidelapluie commented on #8875
cc @juliusv @beorn7 feel free to react.

[2021-05-29 15:44] beorn7 commented on #8872
I'm not sure if the friction caused by changing `--enable-feature` to `--enable-experimental-feature` is worth the benefit, if there is benefit at all. We got the inspiration from K8s, and that's how it is done over there: https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/
Note that features go through well defined stages, but they don't have separate flags for those.

[2021-05-29 16:14] roidelapluie commented on #8872
This is clearly a typo in my design doc

Le sam. 29 mai 2021 à 17:44, Björn Rabenstein ***@***.***> a
écrit :

[2021-05-29 16:28] bibo38 opened #8876 "Broken consoles CSS layout"
**What did you do?**

- Downloaded and unpacked prometheus-2.27.1.linux-amd64
- Downloaded and unpacked node_exporter-1.1.2.linux-amd64
- Started the node exporter `./node_exporter`
- Appended the following lines to the `prometheus.yml` (for the node exporter):
[code]
- Started Prometheus: `./prometheus`
- Navigated to http://localhost:9090/consoles/index.html.example in the browser

**What did yo

[2021-05-30 16:17] precurse commented on #8799
I've confirmed on a second OpenBSD 6.9 host running Prometheus 2.24.1 that it also has the same checksum issue.

[2021-05-30 16:39] precurse opened #8877 "Prometheus 2.24.1 on OpenBSD and database corruption"
Prometheus 2.24.1 on OpenBSD is failing to compact data into blocks, resulting in a `compact head: persist head block: 2 errors: populate block: add series: read symbols: invalid checksum; read symbols: invalid checksum` error message.

After enough time, Prometheus will crash entirely and panic due to the checksum errors.

I've tested this multiple times using an empty Prometheus data directory,

[2021-05-31 06:55] krasi-georgiev commented on #8861
Maybe this behaviour changed with the recent `Append` refactoring.

[2021-05-31 15:59] LeviHarrison commented on #8453
In theory `--allow-parallel-runners`  should speed things up, but I've found it actually makes it a lot slower. I tried out their Github Action though and after a slow initial run (~2.5 minutes), the subsequent runs were like 30 seconds (https://github.com/LeviHarrison/prometheus/runs/2712125682). You also helpful annotations that point out where the errors are (https://github.com/LeviHarrison/pro

[2021-05-31 17:32] cstyan commented on #8870
@gotjosh I agree with your take. Since we're still planning to put work into both transactional remote write and #7771 at some point, doing the simplest thing here for now seems best.

The only concern is introducing yet another config option that will likely go away in the near future. Might be a bit more work given that we compress the message, but if there's a nice way to limit each metadata me

[2021-06-01 15:08] roidelapluie commented on #8579
We will discuss this in a future dev summit.

[2021-06-01 15:10] roidelapluie commented on #8613
This sounds like a good idea.

[2021-06-01 15:12] roidelapluie commented on #8618
This seems really expansive in terms of metrics we are exposing. It sounds like events. This looks like something that can be extracted from the query log or the traces we have in PromQL.

[2021-06-01 15:13] roidelapluie commented on #8623
It seems like the yaml generated by the DB is not correct. However, we should still fix this in the UI if Prometheus can actually scrape it.

[2021-06-01 15:14] roidelapluie commented on #8625
We have provided answers to your questions, let's close this ticket.

You cab ask further questions on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are available to potentially respond to your questi

[2021-06-01 15:14] #8625 closed

[2021-06-01 15:18] roidelapluie commented on #8661
It looks like you lack memory, I would propose you to try out some of our flags: storage.tsdb.wal-segment-size, storage.tsdb.max-block-chunk-segment-size, which can reduce the memory allocation.

I invite you to ask follow-up questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather tha

[2021-06-01 15:18] #8661 closed

[2021-06-01 15:20] roidelapluie commented on #8670
Can you please try now that  #8318 is fixed ? (Prometheus v2.27.1)

[2021-06-01 15:21] roidelapluie commented on #8685
@juliusv ping, do you think it is worth the overhead?

[2021-06-01 15:23] roidelapluie commented on #8694
cc @cyriltovena I think loki uses this code. Is @Nexucis missing something, or do you need this too?

[2021-06-01 15:25] roidelapluie commented on #8702
@wangzhao765 Can you please try with a higher version and report back? Thank you!

[2021-06-01 15:26] roidelapluie commented on #8710
Considering that prometheus is a TSDB, we can not guarantee anything when time switches backwards. Therefore I will close this issue. Thank you!

[2021-06-01 15:26] #8710 closed

[2021-06-01 15:27] roidelapluie commented on #8718
It seems that the general consensus is that the current metrics names are correct. Should we close this issue @SuperQ ?

[2021-06-01 15:31] roidelapluie commented on #8763
It seems that the consensus and direction in the mailing list is to introduce %.

If someone wants to implement Tristan's suggestion, I would welcome it.

[2021-06-01 15:32] roidelapluie commented on #8768
@pballok-logmein are you willing to to implement the same logic we have in the scrape manager in the notifier? Thanks.

[2021-06-01 15:33] roidelapluie commented on #8771
This is being implemented in #8839

[2021-06-01 15:35] roidelapluie commented on #8776
I would like to know more about how you see this. There are many many services in cloud providers, and I don't think there is a single api we could implement. Overall, monitoring managed services is interesting but also sounds very niche to me.

[2021-06-01 15:38] roidelapluie commented on #8788
Sure, it would make the discussion progress. I am sure that this is the kind of things that need to be experimented to decide.

[2021-06-01 15:45] roidelapluie commented on #8799
Hello,

Let's gather feedback from @codesome @bwplotka  here. Thank you for your detailed investigation! I am not a TSDB expert but I was able to understand it.

[2021-06-01 15:48] roidelapluie commented on #8825
cc  @cstyan do you have an idea about what is going on here?

[2021-06-01 15:50] roidelapluie commented on #8831
okay. I think we could have a networks array where we take a list of networks. For each container, we add its target on that network. If not network is matched, we dismiss the target. Does it sound like a solution?

[2021-06-01 15:52] roidelapluie commented on #8835
Avoid filling up the disk on 2.21 can be done by setting a time duration.

The minimum that Prometheus guarantees means that we will you might have access to a little more data that what you have in your retention config, because the data is per blocks that can span over multiple days.

I am closing this issue as it is for a fixed bug.

[2021-06-01 15:52] #8835 closed

[2021-06-01 15:53] roidelapluie commented on #8840
Considering that you have agreed to push this further to the mailing list, I will close this issue.

[2021-06-01 15:53] #8840 closed

[2021-06-01 15:58] roidelapluie commented on #8848
Thank you for your interest in Prometheus. We use the upstream HTTP library, which does not support that.
I think such a feature adds a lot of complexity for little gains for the majority of our users. I do not know of any other software doing that extra step. Do you have examples of other software vendors doing this?

[2021-06-01 15:59] roidelapluie commented on #8849
We still want to run the full tests but we would be interested into splitting the go tests and the ui tests in circleci.

[2021-06-01 16:01] roidelapluie commented on #8854
I think you might have launched an expansive query via the Thanos sidecar, explaining the OOM.

[2021-06-01 16:56] Nexucis commented on #8694
on my side I ended up by created the yaml struct expected in a `[]byte` and then use `rulefmt.Parse`

Like that for example: https://github.com/perses/perses/blob/20b812ac88d7436d415a728be746f8efe8908d31/internal/api/impl/v1/prometheusrule/service.go#L30-L41

[2021-06-01 16:56] Nexucis commented on #8694
so if there is a more elegant solution, that would be so cool !

[2021-06-01 17:24] tpoindessous commented on #8776
You are 100% right :)
* It's niche
* it would be strange to call gce_sd for managed services

I see that http_sd will be (soon :) be included in prom, I really think that we will use that to code a http service which will return managed services informations.

If you want, we can close this issue.

Thanks !

[2021-06-01 18:06] cstyan commented on #8825
Not with the information given, no.

IIRC even if TSDB creates a new checkpoint while remote write is reading the current checkpoint, which results in deletion of the current checkpoint, remote write having the file pointer open means the file isn't actually deleted/cleaned up until remote write closes that pointer. So without more information, off the top of my head I don't have any ideas.

[2021-06-01 19:44] ekpdt commented on #8848
Thanks for considering this feature.

At the very least, the golang stdlib supports lookups based on /etc/services (though I note that the implementation parses the services file instead of using the posix call from netdb.h). https://golang.org/src/net/port_unix.go

/etc/services is the preferred way to do address resolution support by https://man7.org/linux/man-pages/man3/getaddrinfo.3.html . I d

[2021-06-01 20:18] brosev commented on #8835
@roidelapluie Weve updated the version to:

prometheus, version 2.27.1 (branch: HEAD, revision: db7f0bcec27bd8aeebad6b08ac849516efa9ae02)
  build user:       root@fd804fbd4f25
  build date:       20210518-14:17:54
  go version:       go1.16.4
  platform:         linux/amd64

And still cannot get the the retention size setting working. We've set the retention size to 7500GB and as soon as we start

[2021-06-01 20:22] roidelapluie commented on #8776
Okay, thank you!

[2021-06-01 20:22] #8776 closed

[2021-06-01 20:40] brosev opened #8884 "storage.tsdb.retention.size not working on 2.27"
**What did you do?**

We were running out of disk by using the retention.time setting. We had initially set this to 30 days but kept filling up our data directory. We stopped using retention.time and instead adjusted to retention.size. After reporting this bug to not be working on 2.21 we were advised to upgrade. We then upgraded to the latest version of 2.27 and again set the retention size setti

[2021-06-01 20:56] juliusv commented on #8685
No opinion either, really. Happy to let someone add configurability when they actually require it, I would say. Another option could be to add those options into the web UI, but then hide the increasingly large number of UI settings behind a settings menu, instead of having them all at the top.

[2021-06-02 07:14] SuperQ commented on #8718
I'm still not sure how "dimension" is not a unit.

https://www.dictionary.com/browse/unit

By this definition, `truncations` is a unit.

For the subject of "composite units", I'm fine with `truncations_failed` over `failed_turncations`. It would be good to mention this case in the docs.

[2021-06-02 07:24] #8827 closed

[2021-06-02 08:54] hdost opened #8885 "Federation returns duplicate timeseries when matchers"
**What did you do?**

Use `/federate?match[]={__name__%3D~"(probe_.*)"}&match[]={job%3D~"http-local"}`

**What did you expect to see?**

As mentioned in the [documentation](https://prometheus.io/docs/prometheus/latest/federation/#configuring-federation).

**What did you see instead? Under which circumstances?**

A "UNION ALL" to use SQL terminology.

Example:
[code]

**Environment**

* System info

[2021-06-02 12:10] roidelapluie commented on #8884
The WAL should even be included in the size now. Can you please provide us the following metrics

# HELP prometheus_tsdb_retention_limit_bytes Max number of bytes to be retained in the tsdb blocks, configured 0 means disabled
# TYPE prometheus_tsdb_retention_limit_bytes gauge
prometheus_tsdb_retention_limit_bytes 0
# HELP prometheus_tsdb_size_retentions_total The number of times that blocks were d

[2021-06-02 13:26] juliusv commented on #8718
When I talk about "dimension", I mean the first definition listed in https://www.dictionary.com/browse/dimension. A dimension in that sense is a degree of freedom (length, time, weight, ...) that can be measured separately from other dimensions, but it doesn't say anything about the unit of measurement yet. A unit of measurement can then be used to specify the precise magnitude of a value along a

[2021-06-02 14:03] roidelapluie commented on #7528
This is being implemented in #8839

[2021-06-02 14:04] roidelapluie commented on #2514
This is being implemented in #8839

[2021-06-02 14:05] roidelapluie commented on #7371
This is being implemented in #8839

[2021-06-02 14:26] Harkishen-Singh commented on #7530
@showuon are you still working on this?

[2021-06-02 14:46] codesome commented on #7530
Hold on before working on this. https://github.com/prometheus/prometheus/issues/7530#issuecomment-655393626 makes sense and need to re-think this. If checkpoint is corrupt, replaying WAL for partial series might not be useful/meaningful.

[2021-06-02 14:46] codesome commented on #7530
Hold on before working on this. https://github.com/prometheus/prometheus/issues/7530#issuecomment-655393626 makes sense and need to re-think this. If checkpoint is corrupt, replaying WAL for partial series might not be useful/meaningful.

[2021-06-02 15:19] brosev commented on #8884
@roidelapluie thanks for your response. Excuse my naivety but how/where can this be queried?

Thanks!

[2021-06-02 16:04] roidelapluie commented on #8884
In the /metrics endpoint of Prometheus, you can query it on the console of Prometheus if you scrape it.

[2021-06-02 16:17] brosev commented on #8884
Great thanks. Below are the requested metrics:

prometheus_tsdb_retention_limit_bytes 0
prometheus_tsdb_size_retentions_total 0
prometheus_tsdb_storage_blocks_bytes 7.487427882967e+12

Thanks for your help.

[2021-06-02 16:21] roidelapluie commented on #8884
It looks like the retention is not set? What value are you passing to
Prometheus?

Le mer. 2 juin 2021 à 18:18, brosev ***@***.***> a écrit :

[2021-06-02 20:15] sksingh20 opened #8887 "Remove limitation of 11,000 points per timeseries"
**What did you do?** This related to Gauge data type. This is issue generated out of with closure of issue reported to Grafana. Grafana Team stated that issue is due to Prometheus.
Grafana Issue link:
Remove automatically increasing step value in Grafana dashboard for Gauge on more than 12 Hrs duration
https://github.com/grafana/grafana/issues/35065

Grafana team asked to raise issue with Promethe

[2021-06-02 22:57] roidelapluie commented on #8887
That limit is there to protect Prometheus, and I do not really think it is realistic or useful to have more than this.

I do not think that a browser could generate a dashboard which is more than 11k metrics wide. Unless your browser has 11k pixels large (which I think is 3x 4k displays), you would be missing points anyway.

Am I missing something?

[2021-06-02 23:00] roidelapluie commented on #8887
Note that if you really want all the value, without functions, you can use: `my_metric[${__range_s}s]` as query in grafana and check the "instant" checkbox.

[2021-06-02 23:09] roidelapluie commented on #8885
Thank you. This is indeed a bug. I recommend you the following workaround for the time being:

`/federate?match[]={__name__%3D~"(probe_.*)"}&match[]={job%3D~"http-local",__name__!%3D~"(probe_.*)"}`

[2021-06-02 23:10] roidelapluie commented on #8884
So, you are note setting a retention size. What is this bug about?

[2021-06-02 23:11] roidelapluie commented on #8877
Thank you for your input. This seems a pretty important bug.

[2021-06-02 23:23] roidelapluie commented on #8877
It seems that we would need to call msync() after writing to the mmap area.

[2021-06-02 23:25] roidelapluie commented on #8799
It seems that we should call msync() on openbsd after writing to mmaped data.

[2021-06-02 23:50] showuon commented on #7530
Sorry. No, go ahead to take over it. Thanks.

[2021-06-03 03:42] brosev commented on #8884
Apologies, I should have been more clear. When we set retention size it did not work and it filled up our disk within a matter of hours. We could not leave it and had to revert back to using retention time.

[2021-06-03 05:50] sksingh20 commented on #8887
Please see how normal business use case look like. Which is also shown in default dashboard of Zabbix.

![image](https://user-images.githubusercontent.com/35199465/120593587-5ad76400-c45d-11eb-81bb-cbf7270747bf.png)

Business use case is to see status of server and application in duration to understand its status. Including month end loads, quarterly, half yearly and yearly statistics.

[2021-06-03 05:54] sksingh20 commented on #8887
Objective is show clear view of data. This will be expertise and efficiency of visualization tool on how tool deal with high volume of data. We need to present clear view of data and dropping data at Prometheus level makes question on usefulness of tool itself.

[2021-06-03 07:13] roidelapluie commented on #8887
As far as I see, zabbix returns less than 900 points i your examples. The 11000 samples limit is not your issue I guess, as it is 10 times more than what you have provided as an example.

[2021-06-03 07:35] sksingh20 commented on #8887
Yes. I have given this feedback to grafana team that they are evn not utilizing 11K records, which whold atlest able to draw graph for about 45Hours at 15 sec scrap value.

But when it comes to weekly, monthly views data itself is not there which is blocked at Prometheus level. I do not see a restriction to apply at Prometheus level as use case of data will depend on business requirement and admin

[2021-06-03 07:39] krasi-georgiev commented on #8861
ping  @codesome , @bwplotka

[2021-06-03 09:23] grobie commented on #8718
I agree with @juliusv, I would not consider every countable thing in the world to be a unit. Regardless I also strongly believe in the advantages of lexicographic sorting.

The current documentation does not provide much guidance or examples in naming. So instead of just closing this issue, let's improve it and add more examples from our discussion here?

[2021-06-03 09:36] SuperQ commented on #8887
Yes, there is a reason to limit API output. Unlimited API output leads to bad user experience. You are trying to do something that doesn't produce useful results. This is an [XY Problem](https://en.wikipedia.org/wiki/XY_problem).

You need to use PromQL to format the data in a way that is useful to display in Grafana. The Grafana team has provided extremely helpful functionality to make this work

[2021-06-03 09:40] SuperQ commented on #8887
For questions/help/support please use our [community](https://prometheus.io/community/) channels. There are more people available to potentially respond to your request and the whole community can benefit from the answers provided.

[2021-06-03 09:40] #8887 closed

[2021-06-03 11:47] xxj123go opened #8888 "How to config <headers> in prometheus"
**when I use prometheus <remote_write> with InfluxDB 2.0.6 ，I need to transfor token use headers in**
**prometheus configuration file，but after check config，return a  confusing information**

* System information:

	Linux 4.4.165-1.el6.elrepo.x86_64 x86_64

* Prometheus version:

	prometheus, version 2.27.1 (branch: HEAD, revision: db7f0bcec27bd8aeebad6b08ac849516efa9ae02)
  build user:       root

[2021-06-03 11:56] roidelapluie commented on #8888
[code]

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are available to potentially respond to your question, and the whole community can benefit from

[2021-06-03 11:56] #8888 closed

[2021-06-03 12:09] xxj123go commented on #8888
Perfect,thanks a lot.

[2021-06-03 14:57] Harkishen-Singh commented on #8518
How does this sound like a rough approach?

I am not very used to tsdb code (so please correct me) but based this is based on my understanding.

Right now at the start, we mmaps all the blocks (mmaps Index, Chunks) in the dir. We also mmap head_chunks which is good but is not related to the problem here. Focusing on the blocks on disk, Prometheus will continue to mmap blocks at the start (as it re

[2021-06-03 17:20] jfreeland commented on #7406
This is particularly challenging in GCP.  At least for TCP load balancers in GCP, Google will ONLY forward traffic to `eth0`, unlike in other clouds where you can forward traffic to any interface of your choosing.  Thus if you're using multiple network interfaces and a separate interface for management from data plane, you cannot use `eth0` for management.  Take for instance at least one public ex

[2021-06-03 17:59] grandich opened #8890 "Remote write on slower CPUs not catching up when high ingest rate"
**What did you do?**

Configured remote write on a server with ~211k samples/s, 3.2M series and 12GB free RAM.

**What did you expect to see?**

Remote write working OK

**What did you see instead? Under which circumstances?**

Remote write is incrementally lagging behind TSDB and requires doubling our current Prometheus memory footprint.

- Difference between `prometheus_remote_storage_highest_ti

[2021-06-03 19:01] ston1th commented on #8799
Yes thats what I thought too. But the thing is the writes do not happen to the mmaped byte slices but to file descriptors.

And as demonstrated in the PoC, calling msync() does not sync FD writes to the already open mmaped byte slices. Once they are open, they do not change.

I think the purpose of msync() is to sync writes that happen directly to the mmaped regions to the underlying FD / file on

[2021-06-03 19:17] sksingh20 commented on #8887
@SuperQ What you mean by "Unlimited API output leads to bad user experience"?
How that leads bad user experience?
Are you owning infrastructure deployed?
If there is limitation of the way Prometheus manage data?

This only gives view that prometheus is not ready for enterprise deployment and serious business cases.
You want to drive business and you are expecting business to change their thought a

[2021-06-03 19:49] grandich commented on #8890
Tried same configuration with better hardware, and it works. The issue should be transformed in something like:
- CPU speed is a considerable factor when tuning remote write, in such a way that less memory and network bandwidth are needed for the same workload.

[2021-06-03 20:23] sksingh20 commented on #8887
@SuperQ This is how graph is destroyed based on your suggestion of avg_over_time

![image](https://user-images.githubusercontent.com/35199465/120707103-8bf47a80-c4d7-11eb-94d9-b4f1b900fa72.png)
This ended with junk data

[2021-06-03 21:01] SuperQ commented on #8887
Prometheus is not your bottleneck. Your understanding of time-series data is the bottleneck.

Systems like Zabbix make naive decisions for you, which leads to incorrect data. Prometheus provides raw data calculations. You have to have a greater understanding of your data in order to use it correctly.

To use an analogy. Zabbix is a spreadsheet, Prometheus is an SQL database. You have to take more

[2021-06-03 21:50] hbo88 commented on #6139
Hello,
 the same issue here after upgrading prometheus to  v2.27.0 ,  Thanos (Sidecar): v0.20.2 ... with a memory spike and a restart,
is there any issue on these releases ?
thx

[2021-06-04 07:14] #8695 closed

[2021-06-04 07:57] hdost commented on #8885
Yup, I just wanted to make sure it was actually considered a bug 👍🏼

[2021-06-04 09:14] roidelapluie commented on #8885
It is! :)

[2021-06-04 14:33] tcolgate commented on #8763
I didn't get much of a consensus vibe, but such that anything has support beyond myself and @beorn7 , I think a `%2g` style suffix on the label argument was the final decision. With the use of `o` discussed here (not really on list though) for OpenMetrics,
 This would probably make a good first issue for someone (if there's a label for such things?), but if no one steps up, I'll have a go (I'm not

[2021-06-04 15:07] roidelapluie commented on #8763
I clarified in the mailing list that I agree, indeed.

[2021-06-04 15:18] DurveshKumarPal commented on #8808
[Uploading Transactional based remote-write _ Design doc.docx…]()

[2021-06-04 15:20] kristoflarcher commented on #4633
You can get  directly the metrics from  k8d prometheus :  you just have to modify prometheus credentials  -->it works like a charm
Then in you external  grafana : you define your k8s prometheus datasource using the new credential:
Procedure to follow :
https://access.redhat.com/solutions/4543031
All k8s metrics without efforts displayed in your external grafana ( export existing k8s grafana dashbo

[2021-06-04 20:38] lutzky opened #8892 "Using `time()` in unit tests leads to inconsistent results depending on `for`"
Using `time()` in an alert leads to surprising unit-test results. Although I have a [full writeup of my usecase][writeup], I've narrowed the problem down to a minimal failing test case here.

[writeup]: https://stackoverflow.com/questions/67835221/prometheus-unit-test-failing-when-adding-for-to-alert

**What did you do?**

Ran `promtool test rules` on a file with this `test.yml`:

[code]

The cont

[2021-06-04 21:18] dashpole opened #8893 "Target Metadata endpoint doesn't respect metric renaming."
**What did you do?**

Rename a metric using `metric_relabel_configs`:

[code]

In the UI, I can query for cpu_usage_seconds_total (instead of container_cpu_usage_seconds_total) as expected.

**What did you expect to see?**

I would expect `api/v1/targets/metadata` to include:

{"target":{...},"metric":"**cpu_usage_seconds_total**","type":"counter","help":"Cumulative cpu time consumed in seconds.",

[2021-06-05 04:04] csmarchbanks commented on #8890
It is documented that remote write will take ~25% more memory than a Prometheus with remote write, but I do not see anything about CPU guidance on https://prometheus.io/docs/practices/remote_write/. I would say we should update that page to also give a guideline on additional CPU usage required, does that seem like a reasonable solution?

[2021-06-05 22:00] optiz0r opened #8894 "Consul namespace support"
## Proposal

Consul service discovery only appears to discover services from the default namespace in a multi-namespace consul enterprise. In order to discover services from a namespace, it is necessary to add the query parameter `?ns=namespace_name` or the header `X-Consul-Namespace: namespace_name` to the `/v1/catalog/services` and `/v1/catalog/service/service_name` API calls. Currently there do

[2021-06-06 11:19] roidelapluie commented on #8894
Thank you. That sounds valid to me. however we would handle the technical details about if we use the query parameter or the http header to the underlying consul API we use.

[2021-06-06 11:27] roidelapluie opened #8895 "Configurabe scrape interval / scrape timeout via relabeling"
As per dev summit:

[code]

It means that each target can have its own scrape interval.

My proposal is:

- Enable dynamic scrape interval / timeout via relabeling.
- Scrape interval should be shown in the UI, maybe as a tooltip in the last scrape column.

Note: I have already implemented scrape_interval and scrape_timeout labels in https://github.com/prometheus/common/commit/3a13497dea8f64585868e

[2021-06-06 16:56] LeviHarrison commented on #8895
I'm working on this.

[2021-06-06 22:46] roidelapluie commented on #8892
cc @dgl can you please have a look at this? Thanks.

[2021-06-07 07:16] cyriltovena commented on #8694
@roidelapluie Loki uses its own group rule loader. We have also validation done here https://github.com/grafana/cortex-tools/blob/main/pkg/rules/parser.go#L35 but I don't think we uses `rulefmt`.

[2021-06-07 12:32] bboreham commented on #8861
It does the expected thing if you swap `"source"` and `"domain"` so that the label names are in alphabetical order.
I understand this to be a requirement of the Prometheus internals, however I cannot immediately point you to a reference.

[2021-06-07 12:41] bboreham commented on #8861
It's on the definition of `Labels`: https://github.com/prometheus/prometheus/blob/03b354d4d9386e4b3bfbcd45da4bb58b182051a5/pkg/labels/labels.go#L42-L44

[2021-06-07 13:40] grandich commented on #8890
To clarify: we were using rather old on-prem hardware, but upfront we didn't suspect it was related to "processing speed", because CPU was not saturating (peaked ~50%) and network interfaces averaged 40 Mbps throughput, so we perceived it as a remote write inefficiency: not fully using resources, although requiring ~50% more memory. Then, when we upgraded to newer hardware (beefier cores), --but s

[2021-06-07 14:53] fhemberger commented on #8894
I'm currently looking into this.

Required code changes seem to be minimal, I just need to check that I'm getting the whole discovery right and everything works for enterprise and open source Consul versions.

[2021-06-07 15:04] optiz0r commented on #8894
If you need a tester for any code you write, I'm happy to try running from a git branch against namespaces and confirm if working.

[2021-06-07 15:30] fhemberger commented on #8894
Branch: https://github.com/fhemberger/prometheus/tree/feat/consul_sd_namespace
Commit: https://github.com/fhemberger/prometheus/commit/ddcdd7979cc595eca45f7dd94f6ae2bb44ec57db

prometheus.yml
[code]

Consul dev setup (open source version):

[code]

Trying to add the `namespace` parameter in `prometheus.yml` for the **open source** version will return the following error (as expected):

[code]

[2021-06-07 15:33] roidelapluie commented on #8894
Note: Opening a pull request makes CI create a full binary that testers can use and download.

[2021-06-07 15:36] fhemberger commented on #8894
@roidelapluie Thanks, draft PR is #8900

[2021-06-07 15:46] roidelapluie commented on #8894
Artefacts will be here: https://app.circleci.com/pipelines/github/prometheus/prometheus/12132/workflows/b9c16e16-3850-481a-b348-5f0ea6b9d68b/jobs/53880/artifacts

[2021-06-07 16:02] fhemberger commented on #8894
Just tested with the Consul Enterprise trial:

- Created a namespace "namespace-test"
- Registered Prometheus in this namespace as service
- Added `namespace: namespace-test` to `prometheus.yml`

Works for me. 🎉

![Bildschirmfoto 2021-06-07 um 17 58 48](https://user-images.githubusercontent.com/153481/121052005-3dd2c600-c7ba-11eb-889c-5ce4f265eb9f.png)

[2021-06-07 16:53] fhemberger commented on #8831
Ok, I'm not sure I understand you correctly. Given the following container setup (and assuming all containers have Prometheus metric endpoints), how can we make sure the "api" container doesn't end up twice in the target list?

- container: frontend
  networks: `frontend`

- container: api
  networks: `frontend`, `backend`

- container: database
  networks: `backend`

[2021-06-07 18:34] bwplotka commented on #8861
Nice finding!

Ordering is a must - hash is totally different depending on the order. So is there something we should change @krasi-georgiev or does it solve your problem?

[2021-06-07 19:47] optiz0r commented on #8894
Tested the CI binary here against both enterprise namespaced cluster, and an open-source cluter, and LGTM. That's an impressively quick turnaround, thanks!

[2021-06-07 21:07] avanichy25 opened #8901 "Issue with running prometheus image with non-root user other than nobody"
**What did you do?**
 I tried to create a docker file and added new user but i am getting error with prometheus

[code]

**What did you expect to see?**
Prometheus working with non-root user other than nobody when customizing the dockerfile.

**What did you see instead? Under which circumstances?**
Prometheus with customized image not working with user added in the dockerfile.

**Environment**

*

[2021-06-07 21:41] roidelapluie commented on #8901
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-06-07 21:41] #8901 closed

[2021-06-08 06:52] Harkishen-Singh commented on #7530
Definitely! @codesome please let me know once you have had thought about the approach in the comment by Brian.

[2021-06-08 07:58] brancz commented on #8813
I get the appeal of this, though I do wonder whether this is a step too far in regards to integrating. There are various projects out there allowing this, and the difficulty I have is that if we add Kubernetes integration then people will want consul/etcd/...

I'm not saying this is not a good idea, but I'm not sure the maintenance burden given the potential scope is justified.

[2021-06-08 08:31] krasi-georgiev commented on #8861
@bboreham no labels are swapped, the code is using exactly the same labels for all appends.
I added append with 2 labels and 3 labels just to showcase that with 2 labels append returns existing ref and with 3 labels it always creates a new ref.

here is the same code but only with append for 3 labels.

[code]

output
[code]

[2021-06-08 08:32] carroarmato0 commented on #8813
@brancz would perhaps some kind of HTTP endpoint be possible from which to fetch dynamic configuration from via polling be an option? (not sure if it's already possible today).
In kube everything is an API object, so theoretically speaking, if Prometheus could be given a URL to an HTTP endpoint containing the configuration, and having a configurable polling, might work?  That would it should be mo

[2021-06-08 08:45] krasi-georgiev commented on #8861
yep here is the updated code that works

[code]

output
[code]

[2021-06-08 08:51] arnisoph opened #8902 "Kubernetes ingress discovery sets invalid scheme when using wildcard certs"
#4329 introduced better ingress scheme detection but doesn't work if the TLS cert is a wildcard cert.

host lookup fails in
 https://github.com/prometheus/prometheus/blob/7bc11dcb06640ce22b4e15eb52b2c065f97cf79a/discovery/kubernetes/ingress.go#L204 .

Example Ingress Resource

[code]

![image](https://user-images.githubusercontent.com/1507504/121154665-6ce34900-c847-11eb-8730-ec149a3719d8.png)

[2021-06-08 08:57] roidelapluie opened #8903 "Starting screen progressbar should start at 0"
The startup progressbar should not start at zero, but should start at the first segment present in the server. Otherwise, on production servers with hundreds of checkpoints, the progressbar will be full from the start.

In this example, 31/36 should be at the start of the progressbar.

![start](https://user-images.githubusercontent.com/291750/121155429-14f91200-c848-11eb-9d06-8377cfc02e61.png)

[c

[2021-06-08 09:17] carroarmato0 commented on #8813
The ideal scenario would be that a change in configuration would be near instant. That will not always be possible, but the biggest pain right now is that you are at the mercy of however the kubelet has been configured to sync the contents of the configmap with the mounted volume in the pods.

The specific use-case here which I'm busy with,  users can configure alert rules in a GUI, the GUI app tr

[2021-06-08 09:17] BegoniaGit opened #8904 "caller=stdlib.go:89 component=web caller="http: superfluous response.WriteHeader call from github.com...."
**What did you do?**
Using Thanos-Query to connect Prometheus in a SideCar mode, but finding that Prometheus will cause Prometheus to make the following error logs. And at the moment query data is very slow.
I found several things:
1. Only some Prometheus will have a very slow phenomenon every 2 hours.；
2. Error logs almost simultaneously fixed several Prometheus instances；
[code]
This figure show

[2021-06-08 11:59] juliusv commented on #7672
I just got this as well. I'm going to change the priority of this from P3 to at least P2, because broken tests cause grief for PR authors + reviewers.

[2021-06-08 12:04] roidelapluie commented on #7672
We could ignore this in CI for now (add an exception) while keeping this issue open.

[2021-06-08 15:15] roidelapluie commented on #8904
Thank you. This is a duplicate of #6139 .

[2021-06-08 15:15] #8904 closed

[2021-06-09 02:39] BegoniaGit commented on #6139
When I encounter the same error log, the first query will slow:
![image](https://user-images.githubusercontent.com/34222824/121283866-72f02d00-c90e-11eb-975b-05381251c2c0.png)

And I saw that there is an increase in this period:

![image](https://user-images.githubusercontent.com/34222824/121284051-c793a800-c90e-11eb-8fab-a2ce35da1e1d.png)

[2021-06-09 04:00] renchili opened #8905 "delta([1d]) unexpected result when target switched from server1 to server2"
**What did you do?**
delta(job:node_filesystem_usage_percent_cmdb:by_mountpoint{cmdb_service_name="xxxxxxxxx",instance="xxxxx:9100"}[1d]) * 100
![image](https://user-images.githubusercontent.com/33677006/121290578-74732280-c919-11eb-8e27-b65a5a7936c4.png)

**What did you expect to see?**
during this changing period, there should not have any value
**What did you see instead? Under which circumstan

[2021-06-09 07:57] roidelapluie commented on #8905
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-06-09 07:57] #8905 closed

[2021-06-09 08:00] renchili commented on #8905
@roidelapluie  i think you should think more about the issue, this is not a question about the usage
From what I understand delta is a-b
but when a or b is N/A  what is your behavior need me to list the code here?

[2021-06-09 08:01] renchili commented on #8905
i am 100% sure this is an issue not, the user does not know how to use Prometheus.

[2021-06-09 08:06] renchili commented on #8905
vs := ms.VectorSelector.(*parser.VectorSelector) in https://github.com/prometheus/prometheus/blob/39d79c3cfb86c47d6bc06a9e9317af582f1833bb/promql/functions.go#L61
	this will get a range of value but when the start or end time limit is different than the dataset oldest or newest point
	it will use the :

![image](https://user-images.githubusercontent.com/33677006/121317154-9a5dee80-c93c-11eb-9673-8

[2021-06-09 08:07] roidelapluie commented on #8905
This is a usage question. When you run `delta(metric[1d])`, prometheus will take the first and last point in 1d. Even if they are at 7h30 and 7h31, you would get result up to one day later.

The query you are looking for is `metric - metric offset 1d`.

[2021-06-09 08:16] renchili commented on #8905
well for all means thanks your help but cannot agree with this so called delta

[2021-06-09 08:25] roidelapluie commented on #8905
I agree with you that this result is not what users can expect, however it is not related to delta. Instead, it is an underlying design behaviour of the PromQL language. I will create another issue to discuss this.

[2021-06-09 08:29] roidelapluie opened #8906 "Should PromQL return answers when datapoints are far away from the boundaries?"
This is a followup on #8905 to see if there is a need to change something in PromQL.

The issue is that when you run delta(foo[1d]), even you have only samples covering 30s, we would return an answer. This can be quite confusing.

The options would be:

- Make a minimal relative coverage required (e.g. datapoints should cover 75% of the range)?
- Make a minimal absolute coverage required?
- ....

[2021-06-09 08:33] roidelapluie commented on #8905
https://github.com/prometheus/prometheus/issues/8906

[2021-06-09 08:45] brancz commented on #8902
Great catch, looks like we can't just put the hosts in a map, but need to add them to a list and then use matching functionality like the x509 pattern matching: https://golang.org/src/crypto/x509/verify.go (see the `matchHostnames` function)

Do you want to give it a shot at contributing this?

[2021-06-09 09:33] zannxD commented on #7090
I'm getting the same error:

opening storage failed: block dir: \"/prometheus/01F6J0P4KBBWVJD2M8B1PE7C5E\": open /prometheus/01F6J0P4KBBWVJD2M8B1PE7C5E/meta.json: no such file or directory

is there a way to fix this?

[2021-06-09 09:56] #8867 closed

[2021-06-09 10:28] rose-tmp opened #8907 "Import a package that does not exist"
The client package imported by the code on [line 25](https://github.com/prometheus/prometheus/blob/main/documentation/examples/remote_storage/remote_storage_adapter/influxdb/client.go#L25) no longer exists in influxdb of version [v2.0.7](https://github.com/influxdata/influxdb/releases/tag/v2.0.7) (the latest version). It still exists in its last [v1.9.1](https://github.com/influxdata/influxdb/rele

[2021-06-09 13:15] LeviHarrison commented on #8903
After some testing, I'm pretty confident that the min value on the bootstrap progress bar doesn't actually do anything (unless you set it to 0).

[2021-06-09 13:35] Irrational-NX commented on #8272
The documentation mentions a "__meta_dockerswarm_task_label_<labelname>" meta label for swarm SD, which I can't seem to in the Targets and SD menus in prometheus.

Is there no link between this meta label and the containers labels?

[2021-06-09 14:48] reinaldocomputer commented on #8256
Hello guys,
May I help with something in this issue?
I'd like to contribute somehow lol.
Tks

[2021-06-09 15:48] dashpole commented on #8893
It turns out my case is a bit simplistic.  Thanks to @brian-brazil for explaining (correct me if I missed anything important here).

With metric relabel configs you can have name collisions where the original metrics that are merged have different metadata, and thus there isn't a good way to represent that in the metadata cache.  We could instead choose to assume all metrics missing metadata are g

[2021-06-09 15:48] #8893 closed

[2021-06-09 16:25] #8903 closed

[2021-06-09 19:11] brittandeyoung opened #8910 "Prometheus does not send Authorization header to alert manager"
**What did you do?**
I implemented basic authenticaiton within the IIS Site to reverse proxy to Alertmanager. I then added Basic Auth configuration as specified in the documentation to the section:

[code]

**What did you expect to see?**

I expected to see the authorization header be built and sent to Alert Manager when sending an alert.

**What did you see instead? Under which circumstances?**

[2021-06-09 19:38] cstyan commented on #8787
@Harkishen-Singh IIRC one of the main reasons was that modification of an existing WAL record type, such as Samples records, would have broken forwards/backwards compatibility between versions without some kind of converter tool.

Assume any improvements made as part of resolving this issue can't make changes to the WAL format.

[2021-06-09 20:17] cstyan commented on #8809
I'm actually working on this at the moment, based on Nicole's original branch.

The main thing is that if the checkpoint file is not present, or if the segment mentioned in the checkpoint file no longer exists, we start from `time.Now()` as we do currently.

[2021-06-09 20:55] dpkirchner commented on #4827
I'm trying to use the `prometheus.io/port` annotation which, by my read of the config provided by the prometheus helm chart, should be assigning the entire "host:port" value to `__address__`. However, it doesn't look like the host part is actually used while scraping. I haven't confirmed that `__address__` is even relevant beyond (possibly) labeling.

[2021-06-09 21:18] dpkirchner opened #8912 "make docker doesn't complete on macOS Big Sur"
**What did you do?**

Cloned the repo, ran `brew install yarn`, ran `make docker` . FWIW, I am on commit d44b4c5f1da2b7e84ad86c73cfde05ca030595c1.

**What did you expect to see?**

A fully-built docker image ready for deployment.

And additionally, I expected to see the React UI built inside a docker container so I could be certain I am building using the same environment as everyone else. I don't

[2021-06-09 21:37] dpkirchner commented on #8912
Renamed because you'll get a different error if you install gnu-tar (which has the transform flag):

[code]

[2021-06-09 21:56] asuffield commented on #4966
I spent about 15 minutes today discovering this behaviour - I can confirm that it is surprising and undesirable, and seems to provide nothing more than a source of low-entropy random numbers. The built-in graph UI will happily render future nonsense alongside real results without any indication of what it's doing. Option 3 seems like the most natural result to me, any chance we can arrange for tha

[2021-06-10 04:23] zakiharis commented on #6139
I got the same error just now

prometheus:v2.27.1
thanos:v0.20.2

[code]

Metricbeat showed high CPU usage on thanos-querier

![image](https://user-images.githubusercontent.com/1005824/121464537-9a1a2d80-c9e6-11eb-92cd-72c9ab191724.png)

[2021-06-10 06:51] arnisoph commented on #8902
I'd love to. It's just that I won't be able to take time for that. I've applied a workaround on our side and might start a PR someday in future.

[2021-06-10 10:16] Evesy opened #8914 "Add Ingress Class to Ingress SD Config Meta Labels"
## Proposal
The annotation `kubernetes.io/ingress.class` was adopted by many ingress controllers to assign ingresses to the desired controller. Using the Ingress prometheus discovery this can be used to filter scrapes to certain ingress classes using the annotation meta labels such as `__meta_kubernetes_ingress_annotation_kubernetes_io_ingress_class` which is very useful.

In our case we use it to

[2021-06-10 11:10] brancz commented on #8914
This makes a lot of sense. Would you like to contribute this addition?

[2021-06-10 11:51] Harkishen-Singh commented on #8885
Sorry, I didn't understand the bug here. Is it the **repetition** of series or the `out of order` samples log? (My guess is the first part).

[2021-06-10 11:55] roidelapluie commented on #8885
/federate should not return duplicate series

[2021-06-10 12:01] Harkishen-Singh commented on #8885
I can solve this as I don't think anyone else is working on it.

[2021-06-10 13:21] Evesy commented on #8914
I'm making an attempt alongside raising this issue but Go is new to me so I'm not sure how far I'll get 😅

[2021-06-10 13:28] roidelapluie commented on #8914
That sounds awesome! We have weekly contributor hours where we can unblock you if needed: https://prometheus.io/community

[2021-06-10 16:02] stevekuznetsov opened #8915 "promtool: backfill: very slow when operating across long durations"
I am generating data across the entire retention period to backfill a testing setup for Prometheus. I use 100 unique metric label sets, 125 samples per metric, randomly distributed across the entire retention period. Actually generating and encoding this data into the OpenMetrics format takes on the order of microseconds. Running `promtool tsdb create-blocks-from openmetrics` takes 30s-1m. This se

[2021-06-10 16:03] stevekuznetsov commented on #8915
I've tried aligning the generated timestamps on the data to scrape boundaries, FWIW - this did not make any difference. Generating all of the data within one block (the most recent one) made the backfill very quick.

[2021-06-10 16:06] roidelapluie commented on #8915
Yes, we need a flag to set the block duration. There is already an issue
for this.

Le jeu. 10 juin 2021 à 18:03, Steve Kuznetsov ***@***.***> a
écrit :

[2021-06-10 16:55] stevekuznetsov commented on #8915
Sounds like that's https://github.com/prometheus/prometheus/issues/8388 - I'll take a stab at this :)

[2021-06-10 17:00] stevekuznetsov commented on #8388
@roidelapluie @brian-brazil howdy! I'd love to work on this, but I lack the subject matter expertise to understand this fully. Some questions I'd love some input on:

- is it a hard requirement that block durations are a multiple of two hours?
- if so, would it be more appropriate to expose `--block-duration-multiplier` or something and apply that to the base 2h size?
- what is the result of the c

[2021-06-10 17:07] roidelapluie commented on #8388
I have done this for the graphite exporter: https://github.com/prometheus/graphite_exporter/pull/145

[2021-06-10 17:22] stevekuznetsov commented on #8388
@roidelapluie thanks for the link - unfortunately I think it really does not answer most of my questions, especially those on the last line of my last comment. I see you validate the input duration like:

[code]

I have a couple questions:

1. why are you using floating point arithmetic here when the inputs are integer numbers of nanoseconds (`time.Duration`)?
2. am I understanding this correctly

[2021-06-10 17:24] stevekuznetsov commented on #8388
Mostly though I think from a user perspective where I am not a Prometheus/TSDB expert, I'm not really sure that I want to tell the tool anything about the block duration. I mostly want to make my backfill fast :)

So, to that end - how would I choose a duration? Why would I ever choose a duration that's shorter than the smallest duration that fully covers my input dataset? What are the drawbacks t

[2021-06-10 17:46] brian-brazil commented on #8388
No, but things will almost certainly go wrong unless you know exactly what you're doing.

Maybe, however a non-trivial number of users have ignored instruction to not mess around with block sizes and compaction settings (e.g. the majority of Thanos users) so this may also cause problems with them. And you still need to worry about alignment.

After compaction it can cause one block covering all of

[2021-06-10 18:40] brian-brazil commented on #8388
No, Thanos users of Prometheus have different block sizes on disk than a Prometheus with default settings would have. The alignment is generally the same for these, but they'd only ever want 2h blocks.

At the simplest, time-based retention won't work as as long as one part of the potentially years-long block is in range it has to be kept. Conversely with size-based retention, data will be deleted

[2021-06-10 19:19] csmarchbanks commented on #8870
I agree, max_samples_per_send in the metadata_config seems like a great short term solution. The entire `metadata_config` block is marked as it may change or go away anytime so adding another field there seems OK to me.

[2021-06-10 21:26] porty commented on #8548
It seems that all the hidden alert details nodes (i.e. the `<pre><code>...</code></pre>` of the YAML rule definitions) are all rendered in React and in the DOM, but are hidden via CSS - I'd say all this hidden DOM content is using a bunch of the CPU.

A solution could be to not use CSS-based hiding, but to conditionally render the content in React.

https://github.com/prometheus/prometheus/blob/d4

[2021-06-10 22:12] stevekuznetsov commented on #8388
@brian-brazil thanks for all the clarifications! One last question: is it possible after connecting to a TSDB instance to figure out a) what the default block size it has been configured to use and b) how to align the blocks? I can't see any alignment happening in the backfill command right now, is that because the current code doesn't actually talk to the TSDB directly, instead simply writing dat

[2021-06-10 22:16] roidelapluie commented on #8388
1) It is not an information stored, but I would assume 2h. I don't think we should support something different in this tool.

2) The blocks are already aligned in the current code:
https://github.com/prometheus/prometheus/blob/d44b4c5f1da2b7e84ad86c73cfde05ca030595c1/cmd/promtool/backfill.go#L70

[2021-06-10 22:17] roidelapluie commented on #8388
It should not be required to restart Prometheus with the more recent version, we should see the data within 1 minute.

[2021-06-10 22:30] #8894 closed

[2021-06-10 23:12] brian-brazil commented on #8388
More particularly we don't know what values might have been used previously, but 2h is reasonable to presume.

[2021-06-10 23:21] stevekuznetsov commented on #8388
Thanks all for the pointers and explanations, I appreciate you taking your time to help me understand. I've tried to expose the option to change the duration (along with a discussion of when this might be appropriate and what the drawbacks might be) in #8919 .

[2021-06-11 00:22] Diniboy1123 opened #8920 "[FR] Dynamically registered scrapers via REST API"
## Proposal
**Use case. Why is this important?**
It has probably been asked before, though I couldn't find the thread. However I would find an opportunity such as adding scraper tasks via the already existing admin REST API extremely useful. For example I have a software that launches a ton of subprocesses and each would expose a metrics endpoint for Prometheus to scrape. Right now without a middl

[2021-06-11 10:03] LavanyaVaddavalli opened #8922 "Generate huge prometheus data (100GB) to take a snapshot"
I'm trying to test how much time it takes to get a snapshot if I have huge Prometheus data (100 GB). The problem is how do I generate such huge data that will be considered for snapshot?

[ for taking a snapshot, I'm using the admin api: "POST /api/v1/admin/tsdb/snapshot" ]
[I downloaded using docker image, version 2.15.1]

[2021-06-11 10:22] bwplotka commented on #6934
Hello, we discussed this issue on [Storage Working Group](https://docs.google.com/document/d/1HWL-NIfog3_pFxUny0kAHeoxd0grnqhCBcHVPZN4y3Y/edit#).

There is no strong reason why memory should spike that much, so this should be something we can optimize (stream more, reuse buffers etc)

For now, help wanted, looks like no one is working on it. I or someone from Red Hat will try to get on it unless s

[2021-06-11 10:31] roidelapluie commented on #8922
Hello,

Snapshots are supposedly instant -at least on linux- as they use hard links. I recommend you to post your question on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are available to potentially

[2021-06-11 10:38] juliusv commented on #8256
@reinaldocomputer Yes please!

[2021-06-11 10:45] peter-turner-hcl commented on #8256
Yeah sorry never quite worked out how to get the colours randomly selected but avoiding pale colours...

[2021-06-11 10:47] harrismirza commented on #8256
@peter-turner-hcl Did the lightness trick not work?

[2021-06-11 10:50] juliusv commented on #8256
https://stackoverflow.com/a/20129594 has some good ideas. Working in the HSL model instead of RGB it's easier to keep a given maximum Lightness, but just randomize the Hue over the number of series we got. Of course the challenge could be that we still want the colors to look somewhat "cool", so that's down to experimentation and taste in the end :)

[2021-06-11 10:50] peter-turner-hcl commented on #8256
I'll need to revisit this - let me try tomorrow and will at least commit something that should be better which can be reworked further if needed

[2021-06-11 11:12] juliusv commented on #8910
Hi,

The issue here is a YAML one: in your list of Alertmanagers, you have one Alertmanager entry which contains only the auth information (but not Alertmanager targets), and you have a second entry which contains no auth information, but has an Alertmanager target. You probably want:

[code]

I'm closing the issue as this is most likely the issue here, but please reopen it if there's a problem be

[2021-06-11 11:12] #8910 closed

[2021-06-11 11:35] roidelapluie commented on #8907
Yes, if the example keeps working. Are you willing to contribute this? Thanks!

[2021-06-11 12:31] brittandeyoung commented on #8910
This 100% solved my problem! Thank you @juliusv for your solution.

[2021-06-11 12:41] brancz commented on #8902
Great! Looking forward to it!

[2021-06-11 13:30] juliusv opened #8923 "React UI: Make the new expression editor the default"
In https://github.com/prometheus/prometheus/pull/8634, we introduced a new shiny PromQL editor to the React UI which has better autocompletion, syntax highlighting, and inline linting. So far it's still disabled by default:

![new-editor-default](https://user-images.githubusercontent.com/538008/121693636-9d3a1a00-cac9-11eb-974f-467f1ba3a606.png)

Since we haven't received any noticeable complaints

[2021-06-11 13:45] roidelapluie opened #8924 "Consul should use prometheus/common HTTPClient"
With https://github.com/prometheus/common/pull/308, consul should be able to use the full common's http client.

It means that it can get the ability to read its token and basic auth password from a file.

Currently we only use the TLS part.

Notes:
- We must stay compatible with the current config (when unmarshalling, turn provided username and password into http client basicauth).
- We should ch

[2021-06-11 13:46] roidelapluie commented on #8924
if username and basic_auth.username are set, we should error.

[2021-06-11 13:46] roidelapluie commented on #8924
cc @LeviHarrison

[2021-06-11 13:50] roidelapluie commented on #6140
This is being worked on as part of #8924

[2021-06-11 14:40] roidelapluie commented on #8924
For the record, Levi is working on this.

[2021-06-11 18:27] LeviHarrison commented on #8920
The new generic HTTP SD (#8839) may help with this. It allows you to provide Prometheus with an endpoint containing any targets you want to be scraped, and you can dynamically update the list.

[2021-06-11 22:07] #8924 closed

[2021-06-12 00:00] Diniboy1123 commented on #8920
Looks great, yes. Thank you so much for this change to the contributors.

May I know when will this be pushed as a release?

[2021-06-12 00:00] #8920 closed

[2021-06-12 00:11] LeviHarrison commented on #8920
v2.28.0 seems to be aimed for Wednesday of next week (6/16), although I can't guarantee it will happen exactly then.

https://github.com/prometheus/prometheus/blob/main/RELEASE.md

[2021-06-12 00:55] BegoniaGit commented on #6139
试着拆分 prometheus 实例 ，或调大 cpu 解决问题了

[2021-06-12 00:57] BegoniaGit commented on #6139
试着拆分 prometheus 实例 ，或调大 cpu 解决问题了

[2021-06-12 02:40] ide-rea commented on #8906
I think **delta[1d]** should return 0, if datapoints after extrapolating not equal to the boundaries. delta function is properly used for gauge metric, As the gauge metric can up and down, the very limited datapoints can't reflect the delta trend in the whole boundaries and  also cause some misunderstanding about the datapoints. This only my thoughts Thanks!

[2021-06-12 19:57] clux opened #8930 "exemplar text parsing fails"
**What did you do?**
- Modified the rust prometheus client library to export exemplars on histograms - https://github.com/tikv/rust-prometheus/pull/395
- Made sure it conforms to the  [openmetric spec on exemplars](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#exemplars)
- Modified a rust program to use it, and add exemplars to its `/metrics` text output -

[2021-06-12 20:04] clux commented on #8930
Tried the newer version of `promtool` with `curl 0.0.0.0:8080/metrics | promtool check metrics` and getting:

[code]

which is coming from this line:

[code]

[2021-06-12 20:10] clux commented on #8930
same error also from example lines in the [openmetrics exemplar spec](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#exemplars-1):

[code]

[2021-06-13 20:34] roidelapluie commented on #8930
I think you try to add examplars to Prometheus Text Format.

Are you setting the correct content-type for OpenMetrics?

[2021-06-13 21:36] clux commented on #8930
...Ah. No. Sorry. :-(

I tried a bit now after setting `application/openmetrics-text; version=1.0.0; charset=utf-8`, plus some other minor changes like (`# EOF/n` ending), and it's now accepted by prometheus \o/

Is the the Prometheus Text Format not meant to support exemplars? Or is that reserved for OpenMetrics?
Would be great if the OpenMetrics format was parseable by `promtool` if this is the

[2021-06-13 23:28] roidelapluie commented on #8930
We are not evolving the text format anymore, we want to promote OpenMetrics. If you plan for adding full openmetrics support for Rust, do not hesitate to reach for help. There are a few differences between both formats, and the library ideally would handle both (via negotiation in the headers).

[2021-06-13 23:29] #8930 closed

[2021-06-13 23:33] roidelapluie opened #8932 "Promtool should support openmetrics"
Promtool should support openmetrics, next to the text format.

Maybe via --format=openmetrics

[2021-06-14 02:42] ide-rea commented on #8932
Hi, i'm not sure does this mean check openmetrics format like check prom text format?

[2021-06-14 06:15] sthaha commented on #7326
@bwplotka @brian-brazil , assuming the issue still exists, I would love to take a crack at this if  @aryan9600 isn't keen on progressing with #8009

[2021-06-14 09:37] roidelapluie commented on #8932
This issue is to add support for `promtool check metrics --format=openmetrics`

[2021-06-14 09:41] bboreham commented on #5925
Came here to say it was quite hard for me to figure out how exactly the request changed from the first version to the streaming version.
Now I read through all the code, I see it is explained at https://prometheus.io/blog/2019/10/10/remote-read-meets-streaming/#usage, but I was looking for some statement about the URL endpoint or http accept-encoding. Maybe adding "the URL is unchanged" to that se

[2021-06-14 12:12] beorn7 commented on #8906
The current behavior is deliberate, and it's actually very important if you aggregate the result of delta/increase/rate across many instances that come and go. A lot of thought was given to exactly the case where the data only covers a small fraction of the range.

Maybe there is need for another handling, but that needed a different syntax. Or we have to rethink the whole concept. This is what ma

[2021-06-14 12:36] Khez opened #8935 "Promtool should validate service discovery files"
## Proposal
Offer a way to validate [`json` and `yml` files loaded by `file_sd_configs`](https://github.com/prometheus/prometheus/blob/main/discovery/file/file.go#L391), either by:
- updating `promtool check config`
- adding a dedicated command `promtool check file_sd_configs`

A dedicated command would be better suited because [changing the targets list dynamically](https://prometheus.io/docs/gui

[2021-06-14 14:29] LeviHarrison commented on #8935
Something like this could also be extended to the new HTTP SD, and both could also be made available as a standalone command for those developing SD mechanisms.

[2021-06-14 15:03] ide-rea commented on #8932
Thanks, i would like to try  if not anybody is working on this.

[2021-06-14 17:13] shinebayar-g commented on #8221
Just noticed same issue on fresh [kube-prometheus-stack](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack) Helm chart deployment. It was one of the `kube-apiserver.rules` Unfortunately I couldn't grab the full rule details, it was gone after refresh.

[2021-06-14 18:58] bwplotka commented on #7326
Totally, go for it. It's still available, but benchmarks might be necessary to assess results

[2021-06-14 21:27] #8389 closed

[2021-06-15 03:13] rocdove opened #8938 "rate function tailing bug"
**What did you do?**

Some devices take a long time to collect SNMP. Here, a relatively long timeout time 'scrape_timeout: 3m' is configured.When 'rate' was used to calculate 'ifHCInOctets', serious tailings were found.

![image](https://user-images.githubusercontent.com/8022710/121986085-839a1a80-cdc8-11eb-84e5-5ee81f03bb46.png)
View current data:
![image](https://user-images.githubusercontent.co

[2021-06-15 03:48] rocdove commented on #8938
https://github.com/prometheus/prometheus/blob/ba76bceb6b09eaa4fa1f9744ac164d684e348886/promql/functions.go#L121

When the last data point has reached the collection period, but has not been collected and put into storage, the time extension here is less than `ms.Range.Seconds()`. It is more appropriate to use `extrapolateToInterval` to calculate Rate.

[2021-06-15 07:45] bogdandrutu opened #8939 "No version v1.0.0 for linodego, getting error when trying to build"
github.com/linode/linodego@v1.0.0: reading github.com/linode/linodego/go.mod at revision v1.0.0: unknown revision v1.0.0

https://github.com/linode/linodego/tags

[2021-06-15 09:06] ide-rea commented on #8932
Hi, i'm a little confused about the check rule. Do we parse the text wire openmetrics format into  prometheus MetricFamily, and then encoded the metrics into bytes stream, at last use promlint package to do the check?  need you help :) @roidelapluie

[2021-06-15 09:15] roidelapluie commented on #8932
This issue would require a openmetrics text parser in go, which does not exist at the moment. We only have a textformat parser in go.

[2021-06-15 09:16] roidelapluie commented on #8932
Here is the textparser in go: https://github.com/prometheus/common/blob/main/expfmt/text_parse.go
We should have one openmetrics parser in go for this issue. It should be developed next to the text parser, in the prometheus/common repository.

[2021-06-15 09:26] ide-rea commented on #8932
Thanks, i'm understanding the issue better!

[2021-06-15 11:25] #8922 closed

[2021-06-15 11:41] roidelapluie commented on #8938
Hello,

This is the expected behaviour. We are willing to rethink this from first principle, but as it stands, it is currently not a bug.

Feel free to comment on #8906 which is tracking this.

[2021-06-15 11:41] #8938 closed

[2021-06-15 13:28] roidelapluie commented on #8939
Thanks, I have open https://github.com/prometheus/prometheus/pull/8941

[2021-06-15 13:39] roidelapluie commented on #8877
https://groups.google.com/u/1/g/prometheus-developers/c/fFEnTout9Qw

[2021-06-15 13:39] roidelapluie commented on #8799
https://groups.google.com/u/1/g/prometheus-developers/c/fFEnTout9Qw

[2021-06-15 14:06] #8939 closed

[2021-06-15 14:08] roidelapluie commented on #8939
You can pull main again. I have also raised an issue upstream.

[2021-06-15 14:51] kustav123 opened #8942 "Issue while running as service"
--web.listen-address="x.x.x.x:9090" is not working while running as linux service . without "" is working fine please update help menu or fix it .
![image](https://user-images.githubusercontent.com/47721564/122074955-4f017f80-ce17-11eb-849e-da75491389a5.png)

[2021-06-15 14:55] roidelapluie commented on #8942
hello,

--web.listen-address="x.x.x.x:9090" works in a shell environment. Unfortunately, when running out of a shell, you need to know the underlying platform. When it is systemd, I think that it would keep the `""` verbatim. There isn't much we can do as we do not provide systemd service files.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.g

[2021-06-15 15:08] roidelapluie commented on #8848
Thank you for you request. We have looked at this during our bug scrub and it seems that we should not deviate from what the upstream golang http library is doing. We have decided to close this issue. This particular use case seems pretty niche.

As an alternative, you could maybe generate relabeling_configs to map those names to port numbers.

Note that Prometheus not reject it, we pass it as is

[2021-06-15 15:08] #8848 closed

[2021-06-15 15:08] roidelapluie commented on #8843
Closed by #8846

[2021-06-15 15:08] #8843 closed

[2021-06-15 15:12] roidelapluie commented on #8831
We could implement/explore with an alternative mode, like we do for kubernetes, where one target has the addresses over all the networks.

I have tagged this issue as P3.

[2021-06-15 15:17] roidelapluie commented on #8854
Do you see any logs in thanos that would show the queries that were launched at that time? It seems a pretty intensive query was running at that time and we did not have enough memory to rend the response back.

[2021-06-15 15:19] roidelapluie commented on #8864
I have added this to https://github.com/prometheus/prometheus/issues/8613.

[2021-06-15 15:19] #8864 closed

[2021-06-15 15:20] roidelapluie commented on #8870
Let's indeed have this as short-term solution, marked experimental.

[2021-06-15 15:22] roidelapluie commented on #8873
Thanks for your interest in Prometheus and Grafana. This was extensively discussed in the linked grafana issue. I am going to close this on the Prometheus side.

[2021-06-15 15:22] #8873 closed

[2021-06-15 15:26] roidelapluie commented on #8884
Can you please provide those metrics from the time where it was configured with the retention?

I also note that Prometheus only cares about its TSDB, if you had other files on the filesystem, Prometheus would not count them in its limit.

[2021-06-15 15:37] roidelapluie commented on #8915
Closing as duplicate of #8388. Another pull request #8197 has been merged related to this as well.

[2021-06-15 15:37] #8915 closed

[2021-06-15 15:48] roidelapluie commented on #8935
I would not go HTTP calls during check config, however checking the format of file_sd seems a good idea.

cc @dgl

[2021-06-15 16:07] LeviHarrison commented on #8912
If you have gnu-tar installed, this process will work:

[code]

cc @roidelapluie we should probably update the README with this

[2021-06-15 16:10] dgl commented on #8892
It looks like part of this is answered on https://stackoverflow.com/questions/67835221/prometheus-unit-test-failing-when-adding-for-to-alert

I don't see a failure at 10s, if I add a `for: 1s` though.

[2021-06-15 16:12] LeviHarrison commented on #8935
I can work on this.

[2021-06-15 16:13] #8892 closed

[2021-06-15 16:26] dpkirchner commented on #8912
Interesting, even with gnu-tar I was seeing an error, but no longer. Thanks, looks like this is resolved.

[2021-06-15 16:26] #8912 closed

[2021-06-15 16:45] lutzky commented on #8892
Thank you for your response.

With the StackOverflow answer, the issue was apparently of data staleness - this shouldn't occur with a 1s evaluation interval, should it?

Also, could you clarify why "using the `> bool` operator in an alert will make the alert fire [...] regardless of the value"?

Thank you for the tip, I'll give it a whirl.

[2021-06-15 17:06] bck01215 opened #8943 "Absent should have a check by label"
This is useful to monitor how many of one type of label exist per another type of label.
This would be similar to the count/sum by.

Currently absent will only return if the exact labels do not match.

[code]
[This is an example on stack overflow of how this has to be done currently](https://stackoverflow.com/questions/53191746/prometheus-absent-function)

[2021-06-15 22:26] jfreeland commented on #7406
can we have an option to pass in the index of interface we want to grab the ip for? e.g. https://github.com/prometheus/prometheus/blob/main/discovery/gce/gce.go#L174

[2021-06-16 00:54] m1keil commented on #6541
My biggest issue with these is not even the performance side but the simple fact that it pollutes the metric namespace and makes it harder for folks in our team to find the metric they actually need. This also impacts front-end tools like Grafana and its metric browser since suddenly it can bring you over the 10k limitation easily.

I do realize that this is not a Prometheus issue per se but OM an

[2021-06-16 02:27] meghdivya commented on #7406
@jfreeland Although name is more intuitive but being able to configure index seems the easiest way..
Just need error handling for the index and support for all cloud offerings.

[2021-06-16 05:46] SuperQ commented on #7406
Better than passing an index or name, we can include alll interfaces as metadata.

[code]

Then you can dynamically select which IP to use based on other metadata, rather than need to hard-code which interface to use in different discovery configs.

[2021-06-16 06:56] prashantnitt07 opened #8947 "Kafka metrics has drop out NAN and inf"
hi ,

Kafka metrics has drop out due to  NAN and inf in buckets metrics in prometheus .

we can be discard user remote_write and using    metric_relabel_configs.

apiserver_admission_controller_admission_duration_seconds_bucket{instance="1",job="kubernetes-apiservers",le="+Inf",name="DefaultTolerationSeconds",operation="CREATE",rejected="false",type="admit"}

apiservers",le="NAN",name="DefaultTole

[2021-06-16 06:58] prashantnitt07 commented on #8947
can use and discard value nan or inf from buckets  using write_relabel_configs:

[2021-06-16 07:37] #8947 closed

[2021-06-16 07:38] roidelapluie commented on #8943
Can you please be more explicit? It seems that you have found the solution to your problem already.

[2021-06-16 07:44] omron93 commented on #8854
@roidelapluie Unfortunately after a month the logs are gone. Sorry, originally I haven't realised thanos logs might be useful as well. So I'm afraid I can't provide more evidence/logs for this issue, I guess this can be closed.

[2021-06-16 07:48] roidelapluie commented on #8854
Okay. Here is what I think so far:

Based on the go routines, no queries were running in Prometheus when the go routine dump was taken.

In the graphes, we see that the watermarks were pretty high on both servers.

I think we did a successful query that took a long time, and we went out of memory just after the query finished, probably when handing the data to thanos.

The fact that 2 servers were

[2021-06-16 07:48] #8854 closed

[2021-06-16 10:06] juliusv commented on #6541
Agreed. I don't think we should let this leak into the Prometheus world, where it will annoy and confuse everyone, while roughly nobody will actually use it or know what it's even there for.

[2021-06-16 10:35] slashpai commented on #8907
Can I work on this? Any starting point would be helpful :)

[2021-06-16 10:47] roidelapluie commented on #6541
I also think we should drop them, with a config option to optionally include them for power users.

[2021-06-16 11:39] roidelapluie commented on #6541
Added to dev sumit backlog.

[2021-06-16 13:40] bck01215 commented on #8943
The problem with the proposed solution is that it only works if the metric did exist x amount of time ago.

The issue in our scenario is we need a service install on most of our servers. Intuitively this should work:
[code]

but it has to be used as:
[code]

Meaning,  there isn't a good method to check if a metric is absent for any host in a group of hosts. The workaround only works if the metric

[2021-06-16 13:55] roidelapluie commented on #8943
The definition of absence is that the metric was present previously.

`group by (instance,job) (windows_service_state{name="service_name"} offset 1h unless windows_service_state)` is the canonical way to solve this issue. `absent()` by its definition only looks if there is anything  that matches its matcher.

[2021-06-16 14:06] roidelapluie commented on #8943
Oh, I see now.

You are looking for:

[code]

[2021-06-16 18:26] bck01215 commented on #8943
This will work for my case. Feel free to close if you don't think  absent should have this functionality built-in

[2021-06-16 19:45] micah commented on #7384
Today I spent a good amount of time trying to find logs associated with a scrape failure. It didn't even occur to me that there were no logs.

Having some logs here would certainly have sped up debugging of my problem.

I don't have enough knowledge to propose an architecture solution, but I wonder about the assertion that there are scrape failures all the time, so we don't want to log them. This

[2021-06-16 20:55] juliusv commented on #7384
@micah Just curious, was your case also a case of rare / intermittent failures? Because for frequent / permanent failures, you can usually see the error message on `/targets` for the latest scrape. But yeah, you can currently log it already (see https://github.com/prometheus/prometheus/blob/b1c179be856043113eb51895f79f8a1d740c4a84/scrape/scrape.go#L1235), but for that you would need to turn on deb

[2021-06-16 22:16] xhci commented on #8877
@roidelapluie Prometheus seems to be working for me other than the "compaction error" log messages that are being thrown around. Granted, I have a pretty simple use-case of weather data collection.

[2021-06-17 02:24] krasi-georgiev opened #8949 "runtime error on calling `query.Statement()` after calling `query.Exec`"
here is an example code how to replicate

[code]

logs
[code]

[2021-06-17 05:48] sksingh20 commented on #8772
@roidelapluie can you hep to address this issue. This is making complete graph in question. Please also confirm If this is limitation of product due to its approximation behaviour.

[2021-06-17 06:55] brokencode64 opened #8951 "Cadvisor metrics missing multiple labels"
**What did you do?**
After (partial) upgrade to kubernetes 1.16.8 Cadvisor metrics are missing proper lables and are not useful. Specifically `container_cpu_usage_seconds_total` is missing multiple labels including `pod`. Curling the metrics from localhost confirms the metrics are being exported with proper labels.

**What did you expect to see?**
Cadvisor metrics should be collected with proper l

[2021-06-17 07:26] bwplotka commented on #8951
Thanks for reporting!

Sounds like the issue is rather related to https://github.com/google/cadvisor, do you mind reporting this issue there?

Prometheus can't do anything if some metric source does not provide some label anymore (unless you can add that label by relabelling from another source).

Closing for now, unless you think it's Prometheus issue still 🤗

[2021-06-17 07:26] #8951 closed

[2021-06-17 08:33] brokencode64 commented on #8951
Understood, I've reported to kubernetes. Thanks!

[2021-06-17 08:42] xuanyuanaosheng commented on #8810
@roidelapluie  Is this function realized?   Ican see the doc in https://github.com/prometheus/prometheus/blob/main/docs/configuration/configuration.md

[2021-06-17 08:47] roidelapluie commented on #8810
A release candidate will be out today or tomorrow with this.

If you want to implement it, please check: https://prometheus.io/docs/instrumenting/http_sd/

[2021-06-17 08:47] roidelapluie commented on #8810
You can test with the :main docker image.

[2021-06-17 08:51] xuanyuanaosheng commented on #8810
@roidelapluie  OK， I will do some test.

[2021-06-17 11:24] roidelapluie commented on #8949
This seems like a documentation issue, we should document the behaviour. I don't think this can be triggered within Prometheus.

[2021-06-17 12:55] LeviHarrison commented on #8831
Currently, for each container we retrieve we loop through each of its networks and furthermore each of its ports, adding a target for each network+port combination.

https://github.com/prometheus/prometheus/blob/9e88c3bb4dd7b01456639df06df07053d5626445/discovery/moby/docker.go#L186-L205

I think we could just provide a configuration setting to `break` after the first network iteration, allowing ta

[2021-06-17 13:54] JBaptisme33 opened #8955 "POD Exessive RAM (Dirty) usage"
**What did you do?**

Notice huge difference between K8S POD Ram usage and Go Proffiling tool .
We have many Prometheus. We've notice two of them have huge and stabilized RAM consumation after some days of running.
After restart POD consume ~4GB.
After some days POD consume ~8 to 11GB. (never less to 8GB if POD not restarted)

GO proff tool give us a less than 3GB usage. This usage is typically th

[2021-06-17 14:08] roidelapluie commented on #8831
If we break, we should order them. We should also have one label for each other network address.

[2021-06-17 14:17] LeviHarrison commented on #8831
Using what method?

So when we break and only add a target for the first network, we should add extra labels to that target with the other network addresses (like `__meta_docker_network_other_frontend=127.0.0.1`)

[2021-06-17 14:24] drax68 opened #8957 "Add ability to configure scraping port for eureka discovery targets"
## Proposal
**Sometimes metrics endpoint on target services registered in eureka are exposed on a specific non-business port, let's say using "adminPort" metadata property.**
Looking into eureka discovery plugin code, I can see that only Port, SecurePort properties are utilized from service eureka metadata.
It would be great to have that property configurable so end users can choose any numeric pr

[2021-06-17 16:34] lutzky commented on #8892
Ahh, here's an important note: An alert with `expr: 0` will always fire (!), and because, for example, `1 > bool 2` returns `0`, it will also always fire if set as `expr`. Changing the alert to have `expr: time() > vector(5)` (...or `expr: vector(time) > 5`, in fact) makes the whole thing work correctly, as the result of the false evaluation is an empty vector, which does not trigger an alert. Thi

[2021-06-17 22:10] LeviHarrison commented on #8806
The only way I see to fix this is by changing the timeout. It's just a case of a test that has to be written in a way it might possibly fail under latency, yet only under extremely high load. I'm not sure it's even worth addressing if it will only happen in a small percentage of scenarios.

https://github.com/prometheus/prometheus/blob/60918b8415d928363ea4bc766d450e707035abe0/discovery/kubernetes/

[2021-06-18 09:53] omron93 commented on #8854
@roidelapluie Just a thought about the hypothesis. The query timeout is 2m (both in prometheus and in thanos) ... how a massive query could cause OOM and not being killed after 2m instead? (the memory consumption was increasing more than for 2m :-) )

[2021-06-18 10:04] roidelapluie commented on #8854
Because the query timeout is in the engine, not in the TSDB. We do not interrupt the TSDB Select.

[2021-06-18 14:27] siebenmann opened #8966 "PromQL makes it unnecessarily inefficient to work with time series timestamps even in straightforward cases"
## Proposal
Right now, the fact that PromQL does not expose first class access to time series timestamps means that anything you do with timestamps requires using functions and thus subqueries, which makes them quite inefficient despite the fact that the data is directly present in the TSDB, directly loaded by Prometheus, and so on.

Suppose that you have a long retention time and a metric that tr

[2021-06-18 14:32] roidelapluie commented on #8966
Thanks!

I think this is something we should think about.

I note that this seems related to https://github.com/prometheus/prometheus/issues/5003, even if this issue is wider and more generic.

[2021-06-18 15:55] LeviHarrison opened #8968 "Promtool: Check service discovery command"
## Proposal

Add a `check sd` command, which takes `--config.file`, the Prometheus configuration file, `--job`, the service discovery job, and `--wait-time`, the time we allow to discover the targets.

[code]

Discovery would then be performed as normal, relabeling would then be run, and the output would be printed.

(credit to @roidelapluie for the command syntax and the idea to use the existing

[2021-06-18 16:11] LeviHarrison commented on #7167
Following the lead of `check metrics`, I think it makes sense to pass in any file contents over stdin:

[code]

For single expressions (besides just `echo "expr" | ...`) we could support:

[code]

But I'm not sure if it's necessary

[2021-06-19 08:44] darshanime commented on #8772
It's recommended to have the range selector interval to be > 4*scrape interval. Can you try that?

[2021-06-19 18:14] LeviHarrison commented on #8550
This can be closed

[2021-06-19 19:04] juliusv commented on #8550
Thanks!

[2021-06-19 19:04] #8550 closed

[2021-06-20 06:54] fzyzcjy commented on #3756
Any updates (after 3 years)? Thanks!

[2021-06-20 15:04] LeviHarrison commented on #1237
I'm working on this

[2021-06-20 16:21] juliusv commented on #8771
Can this issue be closed now?

[2021-06-20 20:45] stevekuznetsov commented on #8388
FWIW with the fix from #8919 and a block duration that spans my entire dataset, a 1min import now takes 500ms.

[2021-06-20 21:40] roidelapluie commented on #8771
Yes 🥳

[2021-06-20 21:40] #8771 closed

[2021-06-20 22:49] roidelapluie commented on #8955
Can you please send us screenshots of the following grafana dashboard, when you see this: https://grafana.com/grafana/dashboards/12054

Thanks!

[2021-06-20 22:50] roidelapluie commented on #8957
Thanks for your report. It looks as if this is actually a question about usage and not development, as this should be possible via relabeling.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https:

[2021-06-20 22:50] #8957 closed

[2021-06-20 22:52] roidelapluie commented on #8943
I am happy that we have a solution for you :) Further reading: https://www.robustperception.io/absent-alerting-for-scraped-metrics

[2021-06-20 22:52] #8943 closed

[2021-06-20 23:46] roidelapluie opened #8971 "HTTP SD: allow charset in content type"
Currently the HTTP SD only allows application/json, exactly.

Since content type can also contain the charset : application/json;charset=utf8,
we could support it as well.

Note: only utf-8 is allowed.

Questions:

Which kind of spaces are allowed? Do we need regexes? Which other options could be set? Is there a way to decode that header in the std lib?

[2021-06-21 07:34] roidelapluie commented on #8971
According to RFC, the following are equivalent:

     text/html;charset=utf-8
     text/html;charset=UTF-8
     Text/HTML;Charset="utf-8"
     text/html; charset="utf-8"

I guess that will be a lot of fun to parse.

[2021-06-21 07:39] roidelapluie commented on #8966
Another use case is to get the last successful time for a certain metric (regardless of the presence). e.g. last probe_success == 1; which would be max_over_time_last_timestamp(probe_success[1h])

[2021-06-21 13:09] JBaptisme33 commented on #8955
![Screenshot 2021-06-21 at 15-07-01 Prometheus Benchmark - 2 17 x - Grafana](https://user-images.githubusercontent.com/59478661/122767105-961dc380-d2a2-11eb-8d45-ef36f56ebf05.png)
![Uploading Screenshot 2021-06-21 at 15-06-42 Prometheus Benchmark - 2 17 x - Grafana.png…]()

Hello @roidelapluie. If you need another(s) missing metric(s)s, tell me !

[2021-06-21 13:15] bwplotka commented on #8797
So looks like the first AC `Graph page can render exemplars on top of time series line, like Grafana does.` was done and I don't remember what I meant by instant query view exemplars, so let's close it 🙃

[2021-06-21 18:20] LeviHarrison commented on #8971
So we'll need to support:

[code]

and so on.

Is any random combination of capital and lowercase letters allowed?

[2021-06-21 20:37] sksingh20 commented on #8772
Already tries with 1m, 2m where scrap interval is 15sec... but same issue

[2021-06-21 22:13] roidelapluie commented on #8971
why jsonl;? typo?

Yes it is case insensitive as I understand it. just call .ToLower i guess.

[2021-06-21 22:15] LeviHarrison commented on #8971
Whoops typo. I can work on this.

Maybe just a regex idk

[2021-06-22 07:39] roidelapluie commented on #8971
`^(?i:application/json(;\s*charset=("utf-8"|utf-8))?)$` would do it.

[2021-06-22 09:03] t00350320 opened #8979 "consul.go watchTimeout may cause gateway timeout"
we have a request to consul cluster by gateway,but the gateway always give a timeout alert when there is no update for consul informations,  because the lastindex not changed in global systerm.
costs: 30163ms
context:
getConnectionMs=138,writeDoneMs=138,getResponseMs=30163,url=/v1/catalog/service/xx/10.175.*.*?dc=tshouse&index=68643534&stale=&wait=30000ms
errorinfo:
SocketTimeoutException:connect#

[2021-06-22 09:47] RichiH commented on #8579
Loose cross-ref to https://github.com/prometheus/node_exporter/pull/2059 which addresses a related need.

[2021-06-22 12:48] liangyuanpeng commented on #8535
This is definitely meaningful! I am investigating using Prometheus as IoT DB, but since Promeeus does not support push old data, SoI am using Victoriametrics for prometheu remote write. When Prometheus supports this function, I will use Prometheus and Thanos.

[2021-06-22 14:06] roidelapluie commented on #8979
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-06-22 14:06] #8979 closed

[2021-06-22 14:25] boeserwolf commented on #8661
@vonProteus Did you resolve the issue? I ran into the exactly same problem on RPi 4 with my dockerized Prometheus setup. 🙁

[2021-06-22 14:32] vonProteus commented on #8661
not yet my current idea is to change host os to ubuntu server with aarch64
on normal raspberry pi os is 32bit

[2021-06-22 17:12] progvp commented on #8221
Same issue on the latest `kube-prometheus-stack` helm chart. Here's the log entries:
[code]

Error has gone after around 5 minutes

[2021-06-22 23:22] harishkashyap569 commented on #1583
Hi All,

I’ve a istio DNS(https://somedomain) and create an istio Virtual Service to route the traffic to prometheus service under path (grafana-monitoring/prometheus). So, for this to be working I have added the external DNS as https://somedomain/grafana-monitoring/prometheus and tried routePrefix with /. I was able to route the request to prometheus but prometheus inturn redirecting the request

[2021-06-22 23:24] roidelapluie commented on #1583
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-06-23 03:13] stevekuznetsov opened #8982 "backport: weird data suffix after backporting"
I'm using the `promtool tsdb create-blocks-from openmetrics` command and generating data for this using Go and the model libraries. I generate series with 125 data points, aligned on the minute. I'm noticing when I backfill, start Prometheus and query for the data, there are always four extra data points appended to those that I've generated in code. Any ideas what might be causing this?

![Screen

[2021-06-23 07:02] roidelapluie commented on #8982
We do not insert "staleness markers" after the inserted data. There is no extra data, this is just due to the "lookback delta".

Learn more here: https://www.robustperception.io/staleness-and-promql

[2021-06-23 07:02] #8982 closed

[2021-06-23 10:11] fhemberger commented on #8831
I think Docker, Docker Swarm and Kubernetes SD should ideally behave the same way, as it boils down to "software running containers attached to (multiple) networks". Not saying, that the current Kubernetes implementation is the way to go, but if we come to a decision, it should apply to all three SD methods.

[2021-06-23 10:16] roidelapluie commented on #8831
Kubernetes implementation is the way to go, but should be behind a flag if possible.

[2021-06-23 10:50] valyala commented on #8966
VictoriaMetrics provides the following functions via [MetricsQL](https://docs.victoriametrics.com/MetricsQL.html):

* `tmax_over_time(m[d])` - returns the timestamp for the maximum value of `m` over the duration `d`.
* `tmin_over_time(m[d])` - returns the timestamp for the minimum value of `m` over the duration `d`.
* `tfirst_over_time(m[d])` - returns the timestamp for the first sample of `m` ove

[2021-06-23 11:05] roidelapluie commented on #8966
Thanks for bringing this up. I am not a fan of the single letter. We see a lot of confusion already with "i" rate (i for instant). There could be multiple values for the timestamp, which is why my proposal was _last_timestamp.

Note that the PromQL execution model does not play nicely with first_over_time, so we do not provide it. It is better to use offset.

[2021-06-23 11:10] valyala commented on #8966
I'm not a fan of single-letter shortcuts in general case. But in this particular case the `tmax_over_time()` looks easier to write and read than `max_over_time_last_timestamp()`.

[2021-06-23 13:48] siebenmann commented on #8966
'The timestamp of the first time series point over a time range' is useful information in general that can't be obtained through use of `offset` unless the time series is always present. The naive implementation appears to me to be loading the time series range vector as for all of the `*_over_time()` functions and then returning the first point's timestamp (or value, if you wanted to add that fun

[2021-06-24 07:28] boeserwolf commented on #8661
@vonProteus Thanks! Ok, too bad Raspbian 64bit isn't there yet. Maybe I'll try out InfluxDB in the meanwhile...

[2021-06-24 13:59] #8801 closed

[2021-06-24 14:49] PhilipGough commented on #8728
What is the process for moving something out of experimental? Is it essentially just a docs update?

[2021-06-24 22:39] #8870 closed

[2021-06-25 03:44] kk-kwok opened #8992 "Prometheus takes up a lot of hard disk space and is not released"
What did you do?

Prometheus takes up a lot of hard disk space and is not released,  `docker exec -ti prometheus /bin/sh`
Execute df -h and du -sh to view the results of prometheus storage size are inconsistent
[code]

tsdb metrics:
[code]

What did you expect to see?
Execute df -h and du -sh to check the prometheus storage size and the results should be consistent

**Environment**

* System infor

[2021-06-25 04:28] kk-kwok commented on #8992
[code]

[2021-06-25 05:47] tcjin opened #8993 "If i use Prometheus remote write integration in a high-availability (HA) configuration, how can i make sure my Prometheus servers not send multiple copies of the same metrics"
If i use Prometheus remote write integration in a high-availability (HA) configuration, how can i make sure my Prometheus servers not send multiple copies of the same metrics

[2021-06-25 08:09] roidelapluie commented on #8992
Did you use any kind of backfilling?

[2021-06-25 09:18] kk-kwok commented on #8992
no, not used

[2021-06-25 09:19] kk-kwok commented on #8992
/prometheus/storage $ pwd
/prometheus/storage
/prometheus/storage $ du -sh
44.1G	.
/prometheus/storage $ df -h | grep storage
/dev/vdb1               300.0G    195.3G    104.7G  65% /prometheus/storage
/prometheus/storage $

[2021-06-25 10:46] darshanime commented on #8993
tracked here - https://github.com/prometheus/prometheus/issues/8885

[2021-06-25 11:17] roidelapluie commented on #8992
It seems like you have overlapping blocks. This should not happen. By any change, did you copy over blocks from somewhere else?

You could start prometheus with  --storage.tsdb.allow-overlapping-blocks if this is expected.

[2021-06-25 11:18] roidelapluie commented on #8993
Hello, it is different from #8885.

It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), mor

[2021-06-25 11:18] #8993 closed

[2021-06-27 11:46] anuraagbarde commented on #7783
Can I work on this?

[2021-06-27 11:47] anuraagbarde commented on #5532
Can I work on this? New contributor here :)

[2021-06-27 13:31] anuraagbarde commented on #8548
Hey there, I am new over here and I am eager to contribute, I read through the issue,
What I understand is that there is a single fetch request of a huge JSON, and then the rendering of that on the dom kills the browser, the idea of virtualised list is great, I was wondering If I can implement it (basically do conditional rendering as a function of scroll distance). Also for searching, instead of

[2021-06-27 16:31] arcivanov opened #9001 ""Heisenberg" data gaps disappearing at different time ranges with the same step"
This is done via Grafana over the same data series. The same query, with same step over different time ranges produces either gaps or no gaps. The smaller range makes the gap disappear.

Graphs and queries are attached.

![gaps](https://user-images.githubusercontent.com/5355666/123552096-999dc880-d742-11eb-9548-5d68d603c566.png)

![no_gaps](https://user-images.githubusercontent.com/5355666/1235521

[2021-06-27 22:25] LeviHarrison commented on #8511
I think this could run on PR merge using `go run`, and compare its output to the published file to determine if a PR should be opened, as `repo_sync` does.

[2021-06-28 06:18] #8992 closed

[2021-06-28 06:24] tcjin opened #9002 "Multiple Prometheus monitor the same targets, and each node's Prometheus will call the remote write, resulting in data duplication"
Multiple Prometheus monitor the same targets, and each node's Prometheus will call the remote write, resulting in data duplication

[2021-06-28 06:45] roidelapluie commented on #9002
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-06-28 06:45] #9002 closed

[2021-06-28 06:46] roidelapluie commented on #9001
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-06-28 06:46] #9001 closed

[2021-06-28 06:46] #8971 closed

[2021-06-28 07:25] tcjin opened #9003 "If the AlertManager nodes communicate with each other using Gossip protocol, it is possible to derepeat the alerts. Why are the Prometheus nodes independent of each other, and cannot realize the existence of other nodes, and can not make the master node to become the master node when the master node fails? And that creates a lot of redundancy, right? Have you considered doing this feature? We can have a poll"
If the AlertManager nodes communicate with each other using Gossip protocol, it is possible to derepeat the alerts. Why are the Prometheus nodes independent of each other, and cannot realize the existence of other nodes, and can not make the master node to become the master node when the master node fails? And that creates a lot of redundancy, right? Have you considered doing this feature? We can

[2021-06-28 09:00] Nexucis commented on #8548
Hey :),

The fuzzy search is a bit more sofisticate than just a simple search of finding the first occurrence of a sub-string.

The fussy search is finding the different occurrence of the sub-string but the different character can be separated by others characters too.

For example, you have the pattern to search:  `bac` and the string `baac`.

A fuzzy algorithm will match the string `baac` becaus

[2021-06-28 09:40] roidelapluie commented on #9003
Hello,

This is the core architecture of Prometheus. Before being a metrics collection system, Prometheus is a monitoring solution. As such, by design, we do not have any mesh or ring or cluster principles. You would be free to work with other tools (e.g. pacemaker/corosync) to do that work, but I would not endorse it.

It makes more sense to ask questions like this on the [prometheus-users mailin

[2021-06-28 09:40] #9003 closed

[2021-06-28 10:13] #8885 closed

[2021-06-28 10:15] bwplotka commented on #8949
Correct, do you mind extending comment on `Statement` method? 🤗  Unless it's easy to fix.

[2021-06-28 10:37] anuraagbarde commented on #8548
Thanks for the detailed explanation. I will go through the implementation for sure.

But what are your comments on the _do conditional rendering as a function of scroll distance_ approach? Pagination can get easily irritable for large lists. On the scroll distance, we can set a front buffer for rendering new dom elements and maybe remove the ones above (which are very far), or maybe do a combinati

[2021-06-28 10:42] gouthamve commented on #8914
Can this be closed given #8916?

[2021-06-28 10:45] goelankitt commented on #8728
Can I pick this up as a first contribution?

[2021-06-28 11:11] roidelapluie commented on #8728
Yes. It is a doc update, which also touches code. We also need to review the docs since I think now WAL size is properly computed.

[2021-06-28 11:11] Evesy commented on #8914
Closed via #8916

[2021-06-28 11:11] #8914 closed

[2021-06-28 12:50] juliusv commented on #8548
Hi there!

So first of all, I think it's important to differentiate rendering speed issues on multiple different levels:

* The level of **rule groups**: relevant when there are many rule groups, but I think it's the least likely to have many elements on this layer, so maybe we don't have to do anything for that.
* The level of **rules**: relevant for when there are many alerting rules configured.

[2021-06-28 12:53] juliusv commented on #8548
And @lorenzo-biava I know it's been a while since you filed the issue, but could you let us know on which level you had a lot of elements? Probably also on the level of actually firing/pending alert elements? Or did you have a humongous number of rules / rule groups?

And btw. thanks to everyone for chiming in and sorry for the radio silence :) @anuraagbarde also totally happy about contributions

[2021-06-28 13:15] lorenzo-biava commented on #8548
If I'm counting them correctly, that would be:
- Rule Groups: 1309
- Rules: 14626
- Firing alerts: 1770 instances (53 rules)

PS: Please don't judge me, it's a big dev environment (which could also use some clean up) 😂

[2021-06-28 13:31] juliusv commented on #8548
@lorenzo-biava Thanks for that detail, and no worries, I can imagine how that can happen, especially when generating final rule files from a bunch of different sources :)

So to cover that specific case, my fix on the level of firing alerts will not help much and we'll likely still want windowing or a similarly effective fix on the level of rule groups + rules. @anuraagbarde It would be great if y

[2021-06-28 13:37] anuraagbarde commented on #8548
Thanks for the mention, I am beginning to understand the complexity of the situation now and am looking into it and will try something out.

[2021-06-28 21:25] LeviHarrison commented on #8278
From the discussions here it's my understanding that we shouldn't change our model of head block. I propose that instead of our current practice of compacting into a persistent block and then removing head chunks (at least that's my understanding of it), we should start by moving the head chunks into a sort of `staging` directory and treat them as kind of part of the persistent blocks, that is we

[2021-06-29 04:06] dgl commented on #8606
Something like this approach could work for _metric_ relabels. Maybe that would be an interesting thing to prototype first...

However I think the real value is something that could test service discovery relabelling configs, as those are usually more complex. The tricky bit is it wouldn't necessarily be possible to infer the job as proposed, as that could be changed by relabelling.

In fact your

[2021-06-29 07:36] roidelapluie commented on #8797
"instant query view exemplars" => examplars in the console tab ?

[2021-06-29 09:23] #8388 closed

[2021-06-29 09:29] tcjin opened #9011 "The PromeValues machine configuration has not been touched, and it suddenly failed to start today"
![image](https://user-images.githubusercontent.com/83052513/123773605-5c326a00-d8ff-11eb-942f-40f39ea27f4b.png)
![image](https://user-images.githubusercontent.com/83052513/123773840-82580a00-d8ff-11eb-8c31-7ab31ab28ef6.png)

[2021-06-29 09:33] dbluxo opened #9012 "Lot of debug log lines after upgrading v2.27.1 to v2.28.0"
**What did you do?**

I have updated Prometheus from v2.27.1 to v2.28.0.

**What did you expect to see?**

Same log behavior as under v2.27.1

**What did you see instead? Under which circumstances?**

Debug logs are written although no debug log level is enabled:

[code]

**Environment**

* System information:

`Linux 4.18.0-240.22.1.el8_3.x86_64 x86_64`

* Prometheus version:

[code]

* Prometheu

[2021-06-29 11:13] LeviHarrison commented on #8797
Yeah that's what I was thinking, but how would that work? I don't believe we even have an instant exemplar query API. Also there's the question of how to display them.

[2021-06-29 11:45] Khez commented on #8935
@roidelapluie @LeviHarrison can I help with the PR in any way ?

[2021-06-29 11:48] LeviHarrison commented on #8935
If you could test it out that'd be great! It's always good to get feedback.

[2021-06-29 14:06] Harkishen-Singh commented on #8890
I don't think there is something that needs to be done here, other than the docs that Chris mentioned?

[2021-06-29 15:13] roidelapluie commented on #8955
@codesome what is your opinion here?

I see that you probably have a long retention, so I am wondering if the reduction in carnality is spread alongside all the blocks already? Overall the graphes do not show anything special.

Can you tell us if you use the released Prometheus or build your own prometheus ? Thanks!

[2021-06-29 15:17] roidelapluie commented on #8966
Ping @juliusv @beorn7  , I am interested to know your opinions here.

[2021-06-29 15:18] roidelapluie commented on #8968
cc @dgl

[2021-06-29 15:20] roidelapluie commented on #9011
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-06-29 15:20] #9011 closed

[2021-06-29 15:23] roidelapluie commented on #9012
Thanks for you report. It might be related to our switch to go-log/kit. We should update the dependencies. Short term we could also have a replace in our go.mod.

[2021-06-29 15:32] #8935 closed

[2021-06-29 16:05] goelankitt commented on #5861
Can I pick up this issue?

[2021-06-29 16:14] roidelapluie commented on #5861
Yes, I'll assign it to you.

[2021-06-29 16:29] LeviHarrison commented on #9012
I can work on this.

[2021-06-29 19:54] arcivanov commented on #9001
@roidelapluie How's it a "question" or about "usage"?? I'm reporting data inconsistencies in queries over the same period of data with the same step, which is clearly a bug. Please reopen.

[2021-06-29 19:56] arcivanov commented on #9001
The identical queries with identical steps respond with MISSING DATA depending on start/stop dates.

[2021-06-29 20:14] roidelapluie commented on #9001
If I look at the value:

            [
              1624747800,
              "0.009732573432704955"
            ],

            [
              1624747800,
              "0.011268470206515543"
            ],

You are more than probably not querying the same prometheus data. It makes me think that your datasource is not Prometheus, but thanos.

[2021-06-29 20:15] arcivanov commented on #9001
Specific gaps are:

[code]

[2021-06-29 20:19] arcivanov commented on #9001
@roidelapluie We are, you can compare the queries. But furthermore there are actual gaps and this behavior is ALWAYS reproducible.

Once you find the gap at certain start/stop it never goes away at that time range. Once the gap disappears in a narrower window it also disappears for good.

[2021-06-29 20:23] arcivanov commented on #9001
We do use Prometheus with Thanos side-cars but the DSes are actually query frontends.

[2021-06-29 20:32] roidelapluie commented on #9001
Thank you.

I invite you to reach out to the thanos community: https://thanos.io/tip/contributing/community.md/
The query frontend is outsite of the Prometheus server scope.

[2021-06-29 21:51] arcivanov commented on #9001
Thanks, now it's clear.

[2021-06-29 23:30] #8728 closed

[2021-06-29 23:37] roidelapluie commented on #9012
@juliusv this will require a v2.28.1

[2021-06-30 00:56] LeviHarrison commented on #9012
Waiting on merge and new release of `klog-gokit`

[2021-06-30 01:06] dgl commented on #8968
@roidelapluie in your original proposal for this (https://github.com/prometheus/prometheus/pull/8950#discussion_r654402270) you kind of imply machine readable? The current PR from @darshanime has a human readable output, which I think is actually useful... but maybe we should add a `--yaml` flag or such?

[2021-06-30 03:38] loafoe opened #9017 "http_sd_config does not accept "application/json; charset=UTF-8" content type"
**What did you do?**
Wrote a custom `http_sd_config` service discovery sidecar

**What did you expect to see?**
Succesfull call to url

**What did you see instead? Under which circumstances?**
[code]

This is a valid `Content-Type` response but it is apparently not accepted by the `http_sd_config` handler.
**Environment**
Custom sidecar process using Echo v4 framework

* System information:

Linux

[2021-06-30 03:49] loafoe commented on #9017
Already fixed: #8981

[2021-06-30 03:49] #9017 closed

[2021-06-30 08:40] #1237 closed

[2021-06-30 08:52] juliusv commented on #8966
I don't have strong opinions on this, I guess I'd be fine with adding these functions but would also prefer clearer names for them. When looking at the `tmax_over_time()` vs. `tlast_over_time()` I had to read their descriptions to understand the difference between them.

It would be even nicer to have composable / orthogonal query constructs for telling the function what aspect of the sample to lo

[2021-06-30 11:20] tksm opened #9019 "HTTP SD does not remove disappeared target groups"
**What did you do?**
I removed some target groups from my [HTTP SD](https://prometheus.io/docs/prometheus/latest/http_sd/) endpoint.

For example, the endpoint returns three target groups (`mylabel` :`v1`, `v2`, `v3`) at the first scraping.

[code]

Then the endpoint returns only one target group (`v1`) at the second scraping.

[code]

**What did you expect to see?**

HTTP SD removes disappeared t

[2021-06-30 14:54] JBaptisme33 commented on #8955
Hello,

Retention is pretty little (6 days). Carnality seem had effect if I look RSS mem usage
![image](https://user-images.githubusercontent.com/59478661/123981517-a6305400-d9c2-11eb-86b3-43013f8e9584.png)

Unfortunately, we cannot MAP RSS usage and container memory usage
![image](https://user-images.githubusercontent.com/59478661/123981753-c7914000-d9c2-11eb-87a2-1398a19f0a48.png)

But We keep n

[2021-06-30 15:00] roidelapluie commented on #8955
It is strange that you have 80 blocks for 6 days. I would expect way less.

[2021-06-30 15:09] roidelapluie commented on #8955
Could you run promtool tsdb list?

[2021-06-30 15:28] JBaptisme33 commented on #8955
Hi @roidelapluie
Thanks for support !
Below output of requested command
[code]

[2021-06-30 15:39] roidelapluie commented on #8955
Your Prometheus is not compacting the blocks. Are you using thanos?

[2021-06-30 15:41] JBaptisme33 commented on #8955
Indeed We use Thanos as sidecar to keep metrics > 6 days

[2021-06-30 17:34] siebenmann commented on #8966
One general idea would be to expand what can be used to generate a range vector from a simple metric to some degree of filters and transformations on this. You can already do this with subqueries, but they're too general. The obvious syntax would be something like:
[code]
I think this works out okay in the execution model (provided that you restrict it to a single metric); rather than load the ran

[2021-06-30 19:02] jonathantullett opened #9023 "Hetzner discovery doesn't discover labels with empty values."
**What did you do?**
Hetzner supports servers having labels with keys, but optional values.  I added a label which contains a key and empty value. This works as expected on the Hetzner site.

**What did you expect to see?**

Within 'Discovered Labels' on the service-discovery tab, I expected to see a label for this key.

**What did you see instead? Under which circumstances?**

No label for the ke

[2021-06-30 20:25] yeya24 opened #9024 "Promtool: support rule evaluation command"
## Proposal
**Use case. Why is this important?**

As a Prometheus user/SRE, I want to add some new alerting rules. But right now, there is not a good way to test these new rules against a running Prometheus. Compare to `promtool test rules` command, the rule evaluation command can specify the server address and evaluates the rules against that server. This is more like an E2E test rather than a un

[2021-06-30 21:33] dgl commented on #9024
It's an interesting idea and something I've thought about too, but really this direction leads to re-implementing Prometheus itself in promtool (rules that depend on each other need to be written to an underlying TSDB... how do you view the results? do you want a graph UI? etc...)

A way you can do this right now is write a minimal Prometheus config that points at another Prometheus through remote

[2021-06-30 21:43] #8607 closed

[2021-06-30 22:40] LeviHarrison commented on #9023
Yeah this does seem like a use case we should support

https://docs.hetzner.cloud/#labels

[2021-06-30 23:31] yeya24 commented on #9024
We can do it in a simple way and I think it is okay to not handle recording rules and these dependencies. Instant query for rules expr would be good enough.

[2021-06-30 23:44] roidelapluie commented on #9024
... which we already support in promtool

[2021-06-30 23:44] roidelapluie commented on #9024
and in the prometheus UI

[2021-06-30 23:47] roidelapluie commented on #9024
This seems like

https://github.com/prometheus/prometheus/pull/4277
https://github.com/prometheus/prometheus/issues/1220
https://github.com/prometheus/prometheus/issues/1154

WDYT?

[2021-06-30 23:47] roidelapluie commented on #9023
cc @LKaemmerling what do you think here?

[2021-06-30 23:59] yeya24 commented on #9024
@roidelapluie Thanks, I see. Yeah, there is some overlapping here

[2021-07-01 02:19] sushilkumarsah commented on #6934
We also used to face this issue of OOMKilled to to very high memory usage by prometheus during WAL replay, but this issue got fixed once we upgraded to 2.28.0
After upgrading to 2.28.0 we have not faced this issue of OOMKilled till now. We upgraded to 2.28.0 the day it was released.
We run prometheus in kubernetes pods with 28 GB memory assigned to it.

[2021-07-01 05:49] jonathantullett commented on #9023
My particular use case for labels-without-values is to use them as filters for determining metrics endpoints. If a server has a label of 'docker', the docker metrics endpoint is used, if it's got 'cadvisor' then I use 8080, etc.

Unfortunately, specifying a dummy value ('1' or 'true') doesn't play well with the Hetzner hcloud plugin for ansible, which will then create a server group of 'docker_1'

[2021-07-01 06:08] LKaemmerling commented on #9023
Good idea! I will prepare a MR :)

[2021-07-01 06:13] roidelapluie commented on #9023
How would you fix it? Easiest could be to have a parameter "empty label
value" (string) that we put as value for empty labels (default would be
empty string)

Le jeu. 1 juil. 2021 à 08:08, Lukas Kämmerling ***@***.***> a
écrit :

[2021-07-01 06:31] LKaemmerling commented on #9023
Actually i just tested it and for me, it works perfectly.  I published a testcase: https://github.com/prometheus/prometheus/pull/9028

[2021-07-01 06:33] ktpktr0 commented on #8185
I also encountered this problem, adding 65534 users to the docker group through the host, which could not be solved.

[2021-07-01 06:49] roidelapluie commented on #9023
In Prometheus, empty labels are the same as no label. If a SD sends an empty label, we will ignore it.

[2021-07-01 06:51] LKaemmerling commented on #9023
@roidelapluie But then I'm a bit unsure how we should fix it. We could set a default non-empty value, but this feels hacky. From the SD perspective everything is "right" I think.

[2021-07-01 06:53] roidelapluie commented on #9023
The other solution is to add meta labels: __meta_hcloud_empty_label_key: present

[2021-07-01 07:13] LKaemmerling commented on #9023
@roidelapluie yeah but this feels a bit hacky. Why does Prometheus ignore them? Is there a specific reason?

[2021-07-01 07:24] roidelapluie commented on #9023
It's a decision in our data model:
https://prometheus.io/docs/concepts/data_model/

A label with an empty label value is considered equivalent to a label that does not exist.

[2021-07-01 07:49] roidelapluie commented on #9023
We could also have a comma separated label __meta_hcloud_empty_labels

[2021-07-01 08:19] roidelapluie commented on #9023
Update:

here is what we should do:

__meta_hcloud_labelpresent_<labelname>: true

This is what we do in kubernetes.

[2021-07-01 09:46] ktpktr0 opened #9029 "The configuration file will not change after reload"
I use docker swarm to run the latest Prometheus, and I've added -- web. Enable life.
[code]

When I modify the Prometheus configuration file, I execute curl - xpost http://127.0.0.01 : 9090 / - / reload, the log is as follows
[code]
But I went into the container and found that the content of Prometheus. YML had not changed

[2021-07-01 19:29] LeviHarrison commented on #9029
So you modified `/data/conf/prometheus/prometheus.yml` on your host system, reloaded the configuration, and `/etc/prometheus/prometheus.yml` in your container hadn't been changed, correct?

If so, I don't think this is a Prometheus issue. I'm pretty sure all reload does is read the configuration file again, the modification of it is up to you. I suspect that something is wrong with Docker Compose.

[2021-07-01 23:14] roidelapluie commented on #9019
Fixed by #9020, released in 2.28.1

[2021-07-01 23:14] #9019 closed

[2021-07-01 23:15] roidelapluie commented on #9012
Fixed by #9021 released in 2.28.1

[2021-07-01 23:15] #9012 closed

[2021-07-01 23:15] roidelapluie commented on #9029
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-07-01 23:15] #9029 closed

[2021-07-01 23:16] roidelapluie commented on #9029
As @LeviHarrison points out, it is probably a docker question more than a prometheus question.

[2021-07-02 02:27] tksm commented on #9019
@roidelapluie @servak Thanks for the quick fix and release!
I confirmed that this issue is fixed in Prometheus v2.28.1.

[2021-07-02 06:25] dbluxo commented on #9012
Thanks!

[2021-07-02 06:57] huangyong1991 opened #9037 "why Prometheus continues to send alert data even after the alarm has been restored"
When receiving the alarm data sent by Prometheus, I returned the status of 200 in the program. When the alarm was lifted, there was no alarm in the alarm page, but Prometheus was still sending the previous alarm message。
please help

[2021-07-02 08:08] bbker opened #9038 "delete persisted head block after failed db xxxx remove"
## Thank you for your help
###  I don't know why this problem occurs. After an interval of 4 hours, 2 hours of data will be lost.
### I am using the default configuration.
prometheus  Version 2.18.1
Windows Server 2016
### image:
![image](https://user-images.githubusercontent.com/11703570/124239904-c25ffc80-db4c-11eb-804c-26a0cef3ca74.png)

### log: It's all that kind of information
level=error ts

[2021-07-02 09:40] ktpktr0 opened #9039 "Can multiple directories be configured with the storage.tsdb.path option"
I use docker swarm to create Prometheus service. I create multiple copies for it on the same node, but a directory can only be mounted by one. Therefore, can multiple data directories be configured

[2021-07-02 09:40] claytonpeters opened #9040 "PromQL: Labels of name "start" and "end" no longer allowed in grouping opts"
**What did you do?**

Following an upgrade from 2.10.0 to 2.27.1, the alerting ruleset failed to load due to a supposed error in one of the rules which contained a reference to the label `end`. I have since re-created the issue within Prometheus itself with a smaller test case. The issue appears to stem from the introduction of the "@ modifier" in 2.25. If the label name `start` or `end` is refere

[2021-07-02 10:34] claytonpeters commented on #9040
Having looked at the parser code, it looks like the `start` and `end` keywords were added in to the map at https://github.com/prometheus/prometheus/blob/main/promql/parser/lex.go#L95 but the instructions in the comment above to add the entries to `maybe_label` (https://github.com/prometheus/prometheus/blob/main/promql/parser/generated_parser.y#L677) were not done.

I _think_ it's an easy fix to ju

[2021-07-02 12:05] roidelapluie commented on #9039
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-07-02 12:05] #9039 closed

[2021-07-02 12:21] roidelapluie commented on #9040
Awesome! Are you willing to open a pull request for this? Thanks!

[2021-07-02 12:32] claytonpeters commented on #9040
Sure, I'll give it a test today and put in a PR either today or Monday,

[2021-07-02 13:01] LeviHarrison commented on #8606
I have been naive about the difference between these two in the past; I wrote that proposal quite a while ago and I assume that I had combined them in my mind. I definitely think that we should cover both methods.

It took me a little bit to wrap my head around this, but my understanding is this is the distinction between target relabeling and metric relabeling. To that end, I think we should cons

[2021-07-02 23:51] #9023 closed

[2021-07-02 23:52] roidelapluie commented on #9023
This patch will be part of Prometheus 2.29, can be tested with the :main docker image meanwhile.

[2021-07-04 08:39] jonathantullett commented on #9023
Looks good from my side:
![image](https://user-images.githubusercontent.com/6867061/124378876-bc346200-dcab-11eb-99e3-12531d6769aa.png)

Thanks so much for adding this!

[2021-07-04 18:34] LeviHarrison commented on #8551
Pretty sure #8926 does both the token and password for Consul.

[2021-07-04 20:16] LeviHarrison commented on #8402
I think it'd be nice to be able to configure a list of remote write targets (as we do with Alertmanager) along with a health-check endpoint and load balance through round robin (or whatever other method through a generic interface). Although we could use a library for all of this, in my opinion, it would be reasonable to implement it ourselves, which would have the added benefit of allowing for mo

[2021-07-04 22:48] roidelapluie commented on #9038
Hello,

Could you please update your prometheus to the latest release and try to reproduce this issue? It is likely that the root cause is The process cannot access the file because it is being used by another process., but you should not lose data, compaction should just fail.

[2021-07-04 22:48] roidelapluie commented on #9037
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-07-04 22:48] #9037 closed

[2021-07-05 08:18] roidelapluie commented on #8551
Yes

[2021-07-05 10:12] roidelapluie commented on #8402
I think this is a niche use case where we should not invent new protocols etc. I am happy with the current retries process we have, and I would not add more complexity in the Prometheus implementation. if there are bugs in the retry process, we should however fix them.

[2021-07-05 11:34] tejaswiniVadlamudi commented on #3756
Instead of using a new exporter that aggregates all metrics and increases footprint on the cluster, it is better to use a Prometheus Operator as it offers servicemonitor CRD. If we plan to use Prometheus instead of Operator, then a scrape configuration can be adjusted as mentioned by @brian-brazil to use port2, path2, scheme2 annotations and also create corresponding Prometheus Job Configuration.

[2021-07-05 13:05] LeviHarrison commented on #8551
If @mem isn't working on this anymore I can pick it up.

[2021-07-05 13:35] LeviHarrison commented on #8402
I don't think that this necessarily requires any new or changed protocols. Health checks are as simple as an endpoint that returns `200`, which I probably in almost all remote write solutions (we don't have to standardize them). Taking account of targets load is a separate feature that could be used both in client side load balancing and other ways of sending data, and is mostly irrelevant to our

[2021-07-05 14:53] roidelapluie commented on #8606
Service discovery relabelling configs can be tested with #8970.

This would be to test metric relabeling.

[2021-07-05 15:03] LeviHarrison commented on #8606
Right, forgot that it had that. I think the service discovery capability in this still is needed given the nature of the `check sd` command, which outputs the result of relabeling but doesn't test it. Sure, you can go by sight, but this provides an automated and rigid system. In my opinion, both these features can live together.

[2021-07-05 15:55] jbgachot opened #9052 "Kubernetes scraping does not use kubeconfig auth for endpoints discovered"
**What did you do?**
I used the "new" kubernetes discovery with a kubeconfig file to access cadvisor endpoints

**What did you expect to see?**
Prometheus discover all the nodes endpoints correctly and access to them.

**What did you see instead? Under which circumstances?**

Prometheus indeed discover the nodes correctly. But can't access the cadvisor endpoint receiving a `403 Forbidden` because

[2021-07-05 16:00] sushilkumarsah commented on #6934
Now we have started seeing this OOMKilled again after 10 days of upgrading to 2.28.0
I would say 2.28.0 is better compared to 2.26.0 as we were seeing OOMKilled every 3-4 hours in version 2.26.0

I would still request the developers to look into how to reduce memory usage during WAL replay and WAL compaction.

[2021-07-05 16:08] roidelapluie commented on #9052
Indeed. We can not use kubeconfig file for scraping as that does not give us full control over the http client. We need full control in the scraping client to properly work with timeouts, http2, tls etc. A job can also mix multiple service discoveries (multiple k8s or even k8s+other) so we can not use any configuration from the service discovery.

You would need to use another authentication mecha