[2021-07-05 16:14] jbgachot commented on #9052
So, we can't use the token retrieval process from the kubeconfig to establish the http auth ?

[2021-07-05 16:18] roidelapluie commented on #9052
I fear you would have to use a kind of sidecar proxy at the moment. I will gather more feedback around this issue to our kube maintainers.

[2021-07-05 17:29] beorn7 commented on #8966
Yeah, I think this goes quite deep. In the depth of its soul, PromQL would like to forget that the timeseries consists of samples with timestamps. But we already break that barrier, most prominently by `timestamp`, but also `count_over_time` is acknowledging that there is a finite number of samples in the range. And something like `avg_over_time` is even, IMHO, broken because if the scrape interva

[2021-07-06 02:38] morvencao opened #9057 "Fail to send alerts to alertmanager due to EOF"
**What did you do?**

We configured multiple(1000+) prometheus instance to send alerts to one alertmanager, at the beginning, everything is fine, after a few minutes, we found some prometheus failed to send alerts due to the error:
[code]

**What did you expect to see?**

All prometheus instances send alerts to Alertmanager successfully.

**What did you see instead? Under which circumstances?**

W

[2021-07-06 05:46] roidelapluie commented on #9057
Prometheus should not use that many connections. I suggest you to update
prometheus and alertmanager to the latest release to benefit for all the
bugfixes, including the go bugfixes. Please also check the number of file
descriptors (limit) of each process.

Le mar. 6 juil. 2021 à 04:39, Morven Cao ***@***.***> a
écrit :

[2021-07-06 16:06] bboreham commented on #5871
Is there anything left to do here?

[2021-07-06 16:28] bboreham opened #9059 "Coalesce write-lock and read-lock into one in tsdb"
`Head.appender()` calls `iso.newAppendID()` immediately followed by `iso.lowWatermark()`:
https://github.com/prometheus/prometheus/blob/62598878dd080d0488457e2238fb6e5a847a8247/tsdb/head.go#L1234-L1236

The first takes a write-lock on `appendMtx`; the second takes a read-lock on the same.
We can save some time by re-arranging the code such that the work of `lowWatermark()` is done while holding th

[2021-07-06 17:02] kustav123 opened #9060 "Scrape Interval not working for push gateway"
My pushgateway is getting new value every 15m so I have set the interval as 15m. As expected there should be 1 value in every 15m but as I can see it's stretching 5m for every single value. Please find the screenshot.

![image](https://user-images.githubusercontent.com/47721564/124639489-d9368400-dea9-11eb-9405-d3241bfae5a7.png)
![image](https://user-images.githubusercontent.com/47721564/124639619

[2021-07-06 17:25] roidelapluie commented on #9060
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-07-06 17:25] #9060 closed

[2021-07-06 17:27] erictg commented on #7286
I forked the jaeger chart, added `enableServiceLinks: false` to everything that was applicable and it still won't work. Is there a way to override all of this service discovery stuff and just tell Prometheus to not initialize tracing?

[2021-07-06 17:32] erictg commented on #7286
Changing the name of the jaeger deployment from "jaeger" to something else seems to fix this, however this is still an issue that should be fixed

[2021-07-06 17:35] Stono commented on #7286
You need to put that value on the Prometheus deployment, not the jaeger one.

It tells kubernetes to not create environmental service links on that pod
for other services.

On Tue, 6 Jul 2021 at 18:32, Eric Solender ***@***.***> wrote:

--
*Karl Stoney*
https://karlstoney.com

[2021-07-06 17:49] beorn7 commented on #8966
I realize the filtering case (like `t>` and `t<`) is not as convincing as I hoped. "Obviously", for those cases, you can just label-match a `timestamp(foo)` call with the result of the filtering expression, e.g. `timestamp(foo) and (foo > 42)`. But that's in a way just a lucky coincidence. `foo > 42` comes back with enough labels to do the label-match. The same doesn't work over time (cf. `count_o

[2021-07-06 21:38] ggregoire opened #9062 "Allow scrape basic_auth password as a bcryp hash like in the web.yml"
## Proposal

It seems like `basic_auth.password` in the `prometheus.yml` accepts only passwords in clear.

Could it be possible to allow a bcrypt hash like in the `web.yml`?

web.yml:

[code]

prometheus.yml:

[code]

[2021-07-06 21:57] roidelapluie commented on #9062
Hello,

Thanks for taking the time to open this request. Unfortunately, this is technically not possible.

A hash can be used to *verify* a password, it can not be used to *use it* or *decrypt it*.
Therefore it can be used to verify that a given password matches, but not to provide a password.

Hashing is a one-way operation.

[2021-07-06 21:57] #9062 closed

[2021-07-06 22:02] roidelapluie commented on #9062
Note: If for some reason you do not want the password in your prometheus.yml, you can write it in its own file and use `password_file`. But it would still be cleartext.

[2021-07-07 06:44] morvencao commented on #9057
thanks @roidelapluie for the quick reply.
I tried to upgrade to latest version, it didn't fix the issue.
I checked the source code, and the root cause should that the http connection is not closed proactively after each alert send request is done.

see: https://github.com/prometheus/prometheus/blob/62598878dd080d0488457e2238fb6e5a847a8247/notifier/notifier.go#L580-L590

actually `resp.Body.Close()

[2021-07-07 08:33] morvencao commented on #9057
I did more experiments, if I change the http connection settings as follows, the issue is also gone.
[code]

[2021-07-07 08:45] roidelapluie commented on #9057
This would effectively disable keepalive, which is not desired.

Did you look at the actual bottleneck? It could be a bottleneck on the network or on the alertmanager, how many file descriptors are open and how many are allowed?

[2021-07-07 09:05] morvencao commented on #9057
@roidelapluie
We have a gateway in front of the Alertmanager, and the gateway is implemented HAProxy, which has client-connection timeout less than the `IdleConnTimeout` of the prometheus. I checked the prometheus code, the `IdleConnTimeout` of the prometheus is 5 minutes and it can be customized for sending alerts.
If I understanding it correctly, this will results in broken http connections that

[2021-07-07 09:16] morvencao commented on #9057
The `maxConnection` for the gateway is 20000, equal to the value of `MaxIdleConns` for single prometheus instance. But we have 1k+ prometheus instances sending alert via the same gateway, the connections will not be sufficient in gateway.

But if we can customize the maxIdleConnection at the prometheus side, we can make it to a more reasonable value to make sure each prometheus instance can have a

[2021-07-07 09:29] roidelapluie commented on #9057
Do you have evidence that Prometheus is actually using those? This should be a connection pool and Prometheus should use one or two connections. However, it could be a misconfiguration of HAProxy. HAProxy client-connection timeout probably has nothing to do with this situation.

note: you could also disable the keepalive in haproxy: `option httpclose`

[2021-07-07 10:05] MaiSao opened #9063 "Getting very high CPU usage results"
What did you do?
I setup node-exporter and docker container individually on each node and used prometheus as my database and grafana to graph the data. This worked fine, so I can launch all the containers using services in my swarm. For some reason my CPU usage is 600% and higher.
What did you expect to see?
I expect to see around 30% cpu usage like i saw earlier when i installed node-exporter and

[2021-07-07 10:36] LeviHarrison commented on #9063
This is probably an issue for the node-exporter repository, I don't think it relates to the Prometheus server

https://github.com/prometheus/node_exporter

[2021-07-07 11:14] morvencao commented on #9057
@roidelapluie thanks, we currently don't have `option httpclose`, in HAProxy settings, but we have `option http-pretend-keepalive`.
Anyway, let me give it a try.

[2021-07-07 11:30] roidelapluie commented on #9063
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-07-07 11:31] roidelapluie commented on #9063
Moving to the node exporter repo.

[2021-07-07 13:06] Paxhape opened #9064 "Scraping actuator on springboot up returns - remote error: tls: handshake failure"
**What did you do?**
I have added scrape config for servers. FW are opened.

**What did you expect to see?**
Targets scraped without - remote error: tls: handshake failure.

**What did you see instead? Under which circumstances?**
![image](https://user-images.githubusercontent.com/26277682/124762742-86a1aa00-df33-11eb-8269-aff83782eda9.png)

**Environment**
Tested on prometheus 2.26.0,2.28.0,2.28.

[2021-07-07 13:28] #9059 closed

[2021-07-07 22:18] beorn7 commented on #8966
Weird idea (i.e. this is probably not wise to do in practice, but perhaps it could be an inspiration towards a proper solution): Introduce a new function `flatten(v range-vector, l="ts" string)`. It flattens the range vector `v` into an instant vector with the  timestamps in a new label named `l`.

That enables what @siebenmann asked for: `count without (ts)(flatten(foo) > 42)`

`max(flatten(foo)

[2021-07-07 22:19] beorn7 commented on #8966
Sorry for the noise. Misclicked…

[2021-07-08 01:45] toymachiner62 opened #9066 "Invalid ClientAuth: RequireAnyClientCert"
**What did you do?**
Added a `web-config.yml` with these contents:

[code]

**What did you expect to see?**

Prometheus server start

**What did you see instead? Under which circumstances?**

The error
[code]

**Environment**
Docker

* Prometheus version:

2.28.1

* Logs:
[code]
[code]

[2021-07-08 01:47] toymachiner62 commented on #9066
The documentation https://prometheus.io/docs/prometheus/latest/configuration/https/ says

[code]
and when I go to https://golang.org/pkg/crypto/tls/#ClientAuthType `RequireAnyClientCert` is one of the options.

[2021-07-08 10:44] skpenpen commented on #8694
`
go.mod
github.com/prometheus/prometheus v1.8.2-0.20200724121523-657ba532e42f

rule.go
import "github.com/prometheus/prometheus/pkg/rulefmt"

**some for
                                        var a rulefmt.RuleNode

					err = yaml.Unmarshal(ajson, &a)
					if err != nil {
						log.Errorln(rule.Rule, ":", err)
					}

					errs := a.Validate()
					if errs != nil || len(errs) > 0 {
						for _,

[2021-07-08 10:46] skpenpen commented on #8618
Interrested for keep track of rules duration evalution and alert on it

[2021-07-08 10:53] skpenpen opened #9067 "Group rule evalution stops on first rule failure"
**What did you do?**

A rule failed because of timeout

**What did you expect to see?**

Failure of this rule but not the others on same group

**What did you see instead? Under which circumstances?**

All other rules did not eval

**Environment**

* System information:

	Linux 3.10.0-1127.18.2.el7.x86_64 x86_64

* Prometheus version:

	2.26.0

* Logs:
[code]

**Code**

https://github.com/promethe

[2021-07-08 10:58] skpenpen commented on #9067
Sorry missread the code, delete this issue

[2021-07-08 10:58] #9067 closed

[2021-07-08 10:58] skpenpen commented on #9067
missread the code

[2021-07-08 13:00] brancz commented on #9052
If there is no token, what exactly is it that the kubeconfig does to authenticate (maybe it's something we can do with the myriad of other functionalities we already support)?

[2021-07-08 13:17] LeviHarrison commented on #9066
I can confirm this issue, although I have no idea why it happens. All the other types work fine except this particular one, and it's been around for a decade so I don't think it's versioning.

[2021-07-08 15:54] tillig opened #9068 "Istio mTLS fails after Prometheus 2.20.1"
**What did you do?**

Using Istio 1.6.14 I am mounting the Istio sidecar manually _without proxying any traffic_ so I can access the Istio mTLS certificates. I have a scrape configuration set up to use those certificates to scrape endpoints that have Istio sidecars.

Under Prometheus v2.20.1 this works perfectly. Under Prometheus v2.21.0 and above it fails with "connection reset by peer."

You can

[2021-07-08 20:38] LeviHarrison commented on #9068
As you've found, the v2.21.0 changelog only contains two changes that could affect this, the move to Go 1.15 (and as a result the depreciation of `CommonName`), and disabling HTTP/2, which remains to this day. Through your testing, I think we can rule out the `CommonName` issue, which leaves the ladder.

I wonder what would happen if you removed `config_util.WithHTTP2Disabled()` from these lines a

[2021-07-08 20:44] tillig commented on #9068
It's a great question, but I don't have a Go environment set up at the moment. I'll have to set something up and give it a try, though I'm not sure how quickly that'll happen. I'll do my best.

[2021-07-08 20:49] LeviHarrison commented on #9068
Ah no worries - if you asked me about something .NET I would be in the same boat. I would offer to build the image for you but security.

[2021-07-08 21:21] mem commented on #8551
Sorry about the radio silence, I'm picking this up again. Thanks for the reminder!

[2021-07-09 01:38] ktpktr0 commented on #9029
It may have something to do with permissions. When I use the directory to mount directly, I can update the configuration file normally.

[2021-07-09 07:32] jbgachot commented on #9052
In my case, the kube config file states an AWS cli command that retrieve a temporary token. [Documentation link](https://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html#create-kubeconfig-manually).
Actual command : `aws --region eu-west-1 eks get-token --cluster-name example-cluster-eu-west-1`
Response
[code]

[2021-07-09 08:22] roidelapluie commented on #9068
HTTP2 was removed because of multiple bugs causing harm to our users. I see that at least one of them is still open: https://github.com/golang/go/issues/32388 .

[2021-07-09 08:27] roidelapluie commented on #9066
Because: https://github.com/prometheus/exporter-toolkit/blob/e283c808ff59be37bfa81cdab57c67e8993d365a/web/tls_config.go#L154

We should add the method but make it clear in the documentation that only RequireAndVerifyClientCert provides security.

[2021-07-09 08:51] roidelapluie commented on #9064
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-07-09 08:51] #9064 closed

[2021-07-09 12:05] LeviHarrison commented on #9068
Yes, but possibly in this case not having it is also causing inconvenience. Maybe we should consider adding an optional flag as an experimental feature.

[2021-07-09 12:12] toymachiner62 commented on #9066
In my case i'm trying to only allow traffic over TLS but am fine with self signed certs.

[2021-07-09 12:23] roidelapluie commented on #9068
Yeah I will revive https://github.com/prometheus/common/pull/286

[2021-07-09 13:03] johns007n commented on #6408
@hyserver Did above issue resolved?

If yes then can you share here how to fix

[2021-07-09 14:57] tillig commented on #9068
Working on building tag `v2.28.0` in Go 1.16.5 on Mac. I have the `gnu-tar` package installed as noted in the README and I'm following the Docker build instructions.

The `promu crossbuild -p linux/amd64` command fails after downloading all the dependencies.

[code]

I'll see if I can continue troubleshooting the build, but that's where I am as far as trying to get a custom version up and running

[2021-07-09 17:38] tillig commented on #9068
Seems to be something about building `linux/amd64` on Mac. I've got Intel hardware, not Apple silicon, but still. Looking in the `.promu.yml` only `linux` is listed as a target so I tried `promu crossbuild -p linux` and got a little further, but when it hit a point where it tried to specifically execute against `linux/amd64` _inside the build_ it hit the same failure.

[code]

I guess I'll see if

[2021-07-09 17:42] LeviHarrison commented on #9068
So sorry about this, I've hit similar build issues before on Mac. I can get a Linux binary built through the project's CI system, and then hopefully it will be a simpler process to just add it to a docker image.

[2021-07-09 19:41] tillig commented on #9068
OK, it took a bit but I was able to build a custom Prometheus container using a Linux VM.

I built based on the current `main`. I updated `scrape/scrape.go` as instructed:

[code]

I then deployed my custom container and I **still get `connection reset by peer`**.

I backed it out and pushed official container v2.20.1 in just in case and, sure enough, _it started working again_.

Maybe those two l

[2021-07-09 20:04] LeviHarrison commented on #9068
As long as there error message is still coming from the same line (`scrape.go:1236`), I think sadly HTTP/2 was not the issue. Sorry to put you through all this trouble.

Besides that, I don't really see anything else that could have affected it on the changelog, except maybe the move to Go 1.15. If it's not too much trouble, maybe try building with Go 1.14?

In `.promu.yml` change the Go version f

[2021-07-09 20:08] LeviHarrison commented on #9068
Actually maybe not, building with `promu -p linux/amd64` seems to return some React errors.

[2021-07-09 20:16] tillig commented on #9068
Yup, the error is exactly the same line - `scrape.go:1236`. For grins I tried putting that `GODEBUG` thing for the common name back in, just in case it was a double whammy and no luck - still `connection reset by peer`. 🤔  I have to admit protocol troubleshooting is not my strong suit. I'm hoping I don't need to dive into [some sort of `tcpdump` thing](https://downey.io/blog/kubernetes-ephemeral-d

[2021-07-09 20:20] LeviHarrison commented on #9068
That would be great, thanks!

[code]
I did just write up this Dockerfile for building on Go 1.14 that _does_ work, so that might be worth a shot.

[2021-07-09 21:39] tillig commented on #9068
I created [a repo over here](https://github.com/tillig/prometheus-repro) with some scripts and config to set up a barebones cluster with just Istio and Prometheus to demonstrate the issue. The only thing I didn't provide was a test app that you can configure to scrape; if I need to make something I can, but I figured you likely have something. Let me know if something doesn't work; I set up a whol

[2021-07-09 21:44] LeviHarrison commented on #9068
Thank you so much, that looks great!

[2021-07-09 22:00] tillig commented on #9068
I'm changing my mind and now **I think HTTP/2 enabling does fix it.**

In making that repro, I created a whole new cluster with just Istio and Prometheus. Deploy v2.20.1 - scrapes fine. v2.28.1 - fails. Deploy my main-with-http2 container that I'd built in my VM... _it works_.

Current hypothesis is that the `imagePullPolicy` was getting me - like a cached version of the container was being used i

[2021-07-09 22:10] LeviHarrison commented on #9068
That's a relief, glad it's working for you now. For the time being, I guess you could use that custom container, it should be stable enough... maybe? You may want to make the same change on the `2.28.1` release tag just to be safe, although I don't think anything big has been merged since.

@roidelapluie and I have been talking about ways to re-enable HTTP/2 and hopefully it will be out in the nex

[2021-07-09 22:23] LeviHarrison commented on #9068
Weird, I set up Istio with the scripts you provided and a demo app, and scraping is working perfectly.

![image](https://user-images.githubusercontent.com/54278938/125141314-ac20e600-e0e2-11eb-92fb-3a607a7eec36.png)

[2021-07-09 22:25] tillig commented on #9068
Your app is in the `default` namespace, not the `test-app` namespace. It's being scraped as a non-Istio microservice because the sidecar isn't injected. If you deploy to the `test-app` namespace you will see a ton more labels and it'll be scraped by a different job.

[2021-07-09 22:28] LeviHarrison commented on #9068
Ahhhhhhhhh 🤦🏻‍♂️ I had changed the namespace in every single config except the one that worked.

[code]

[2021-07-09 22:44] LeviHarrison commented on #9068
I can confirm that enabling HTTP/2 does resolve the problem. Thanks for the easy setup!

[2021-07-09 22:45] tillig commented on #9068
Anytime! I'm glad I could help figure it out... and that it wasn't just me! 😆  Thanks for taking the time to look into it, I really do appreciate it.

[2021-07-09 22:48] LeviHarrison commented on #9068
It was fun! I didn't known anything about Istio until now.

[2021-07-10 21:33] codeWithUtkarsh commented on #8907
I see that this issue is still open. I am an active contributor to the open-source community. Please acknowledge me so that I can start working on this.

[2021-07-12 04:39] Harkishen-Singh commented on #8855
@roidelapluie what if we update the `[ ]` in PromQL to something like `[ start_time => end_time ]`. The `.*_time` here can be `unix seconds` or `RFC3339` and we fetch the data for the corresponding vector selector for that time range only.

[2021-07-12 10:38] bwplotka commented on #8518
Some details:
* mmap is not causing OOM
BUT
* There are baseline heap allocations every block due to struct fields (1/32 posting index, 1/32 symbols)
* There is a limit to how much stuff you mmap (or number of mmap files)

Also do you mind checking if we can use exact same implementation of Thanos (and this is what Cortex is using).

[2021-07-12 11:37] Soprano74 opened #9074 "Enable the use of proxy_url per target"
## Proposal

make the proxy_url option available in a file_sd_config file.
If you have a need for proxy_url, you can currently only define this per job as such:

[code]

but if you generate these files on a per host basis, they now all share the same proxy_url.
if we can put the proxy_url in the target file as such:

[code]

then that would solve this and we can generate the 'generated-*.yml' file

[2021-07-12 12:41] LeviHarrison commented on #9074
This sounds like a job for relabeling, related to #4827

[2021-07-12 13:00] codesome commented on #8221
From the error message and the log times of when Head GC and the error occured, I conclude that it is the Head GC vs open queries interactions. Similar to blocks, we need a query tracker for Head and delay truncation of Head (with a timeout) if there are open queriers spanning the truncation time.

[2021-07-12 14:40] codesome commented on #8221
I have reproduced this in https://github.com/prometheus/prometheus/pull/9077

[2021-07-12 15:35] colega commented on #8535
# Proof of Concept

I tried doing a dirty proof-of-concept implementation for this, and this is what I got: https://github.com/prometheus/prometheus/compare/main...colega:poc-out-of-order-series

<details>
<summary>⭐ <b>Click here to read the long PoC implementation details</b>⭐</summary>

# PoC implementation details

## OOO Head

I've created another accessor to the Head, apart from the existing

[2021-07-12 17:40] codesome commented on #8535
@colega thank you for working on this! Your approach is definitely promising and worth exploring. I will take a look at open question in coming days.

@gouthamve you had mentioned that you are interested in tackling this. This above approach is worth considering.

[2021-07-12 22:11] roidelapluie commented on #9066
RequireAndVerifyClientCert works with self signed certs; you just need to add the cert as CA

[2021-07-12 22:41] roidelapluie commented on #9074
In general, for reliability, Prometheus should talk directly to the targets. For some cases, we enable the use of a proxy. Having one different proxy per target seems off to me. I would suggest the use of reverse proxies if you really need that many proxies.

[2021-07-12 22:43] #9066 closed

[2021-07-12 22:43] LeviHarrison commented on #9066
Still needs an upgrade and docs fix, I can handle that

[2021-07-13 03:32] yeya24 commented on #1381
As this project was not selected in GSoC this year, do we have any other updates or progress on this?

[2021-07-13 06:31] Soprano74 commented on #9074
Well, I would not need one proxy per target exclusively, but we do have an enterprise environment with different customer platforms, and a lot of the machines are only reachable using a bastion host. I would like to generate the target files, this is relatively easily done using Puppet as I do already, but the limitation is that when a host needs a proxy_url, I can only place that in prometheus.ym

[2021-07-13 06:36] jamessewell commented on #8884
Jumping into this one - I'm seeing this behavior as well

[code]

[code]

[code]

[code]

[2021-07-13 07:11] Harkishen-Singh commented on #8018
Should this issue be closed?

[2021-07-13 07:35] roidelapluie commented on #8884
This feature is bugged in 2.19.1. please upgrade.

[2021-07-13 10:24] t00350320 opened #9078 "Compaction fails when total symbol size exceeds 2^32 bytes"
**What did you do?**
compact blocks from 7 2day files  to larger one by thanos.   duration=300

**What did you expect to see?**
7*2day blocks can be compacted successfully.

**What did you see instead? Under which circumstances?**
normal compact process halt, and throw this error " 2 errors: populate block: add series: read symbols: invalid checksum; read symbols: invalid checksum"

**Environment*

[2021-07-13 10:44] liubo-it commented on #9078
good

[2021-07-13 12:30] codesome opened #9079 "Head GC can make in-flight queriers to return incorrect results"
This is due to https://github.com/prometheus/prometheus/issues/5877 and found out when trying to work on https://github.com/prometheus/prometheus/pull/9077

If head compaction and gc happens between getting querier on DB (via `DB.Querier()`) and actually querying the samples (via `querier.Select()`), the query result will be missing the samples that were just compacted from Head. This is because t

[2021-07-13 13:36] bboreham commented on #8808
The main thing I would change is to lower max-shards from 1,000 - maybe 100.  Even that is too big for most installations.

[2021-07-13 13:46] bboreham opened #9082 "remote-write: don't stall on garbageCollectSeries()"
I observed periodic peaks in send lag (`prometheus_remote_storage_highest_timestamp_in_seconds - prometheus_remote_storage_queue_highest_sent_timestamp_seconds`:

![image](https://user-images.githubusercontent.com/8125524/123937391-048f0f80-d98e-11eb-9ce0-c2804ab194bb.png)

The timing coincides with creating a checkpoint.

After studing many goroutine dumps, I formed the opinion that `Watcher.read

[2021-07-14 02:10] LeviHarrison commented on #9078
What OS are you using? I know we've had problems with OpenBSD.

https://github.com/prometheus/prometheus/issues/8877

[2021-07-14 06:40] johnnymorano commented on #7669
We experience the same problem with 2.28. The gaps appear randomly (in all exporters) and tend to happen between 3 minutes and up to one hour (no scrapping at all). The debug log however shows however that the QueueManager is still running and scraping, just no metrics are being stored.

[2021-07-14 10:01] taaafka2 opened #9088 "Add the standard Prometheus http client configuration stuff to azure SD"
## Proposal

To add the standard Prometheus http client configuration to azure SD.

Usually there's a separate proxy config for the service discovery section inside the job section but azure_sd_config doesn't provide such an option.

**Why is this important?**

In a corporate environment where there is no direct internet access we need to be able to configure a proxy for the service discovery requ

[2021-07-14 12:55] t00350320 commented on #9078
Centos

------------------ Original ------------------
From: Levi Harrison ***@***.***&gt;
Date: Wed,Jul 14,2021 10:11 AM
To: prometheus/prometheus ***@***.***&gt;
Cc: Jupiter ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [prometheus/prometheus] when compact blocks, err "errors: populate block: add series: read symbols: invalid checksum; read symbols: invalid checksum" (#9078)

What OS are

[2021-07-14 13:10] mhellmeier-ISST commented on #2253
I am also looking for an option to configure and change the maximum resolution limit.

Let me just comment some of your points, @brian-brazil :

One example: You want to make an experiment with a long execution time and a short resolution. At the end, all collected data points should be exported. There are still cases where it isn't possible to time and export every X days. Even if it's possible,

[2021-07-14 16:14] LeviHarrison commented on #9088
This is already planned in https://github.com/prometheus/prometheus/issues/8551, which incorporates the standard HTTP client in order to enable reading secrets from files.

[2021-07-14 22:36] roidelapluie commented on #2253
This is a very advanced move that is in almost every case a mistake and the default limit of 11000 on query_range should not be configurable.

Advanced users can use `[]` selectors in the query endpoint (not query_range) if they want to extract more data. You can do: `metric[1w]` (to get raw data) or `rate(foo[5m])[1w:1h]` (to get eval every 1h for 1 week) using the instant query endpoint. This is

[2021-07-14 23:43] cstyan commented on #8808
The defaults have been changed: https://github.com/prometheus/prometheus/blob/main/config/config.go#L155-L172

[2021-07-14 23:47] cstyan commented on #9082
`Perhaps it should yield the lock every 100 series, something like that?`

This sounds like it's worth trying, if we can prove doing so still results in all the correct data being sent over remote write (see my comment on your PR regarding series reference IDs)

[2021-07-15 02:05] clyang82 opened #9090 "[Feature] alertmanager received alerts can be configured"
## Proposal
**Use case. Why is this important?**

Follow this [document](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#alertmanager_config), I can be able to specify the alertmanager the prometheus server sends alerts to. But I cannot configure some filters or matchers that just send the desired alerts. for example: I have 2 alertmanagers configured to receive the alert

[2021-07-15 02:25] t00350320 commented on #9078
now,i change to a 16C-64G envirnment, when above invalid error occurs, the %MEM only reach 40%. So we can see this issue may has no relation with MEM size.

if i compact the front 6 blocks, it works well
if i compact the back 6 blocks, it works well too.
When this error info occurs in compact 7 blocks, the process only pass 40s;  but when front or back 6 block compacted successfully, it passed hal

[2021-07-15 08:14] t00350320 commented on #9078
error code area:
github.com/prometheus/prometheus/tsdb/encoding/encoding.go
func NewDecbufAt(bs ByteSlice, off int, castagnoliTable *crc32.Table) Decbuf {
...
        if castagnoliTable != nil {
                if exp := binary.BigEndian.Uint32(b[len(b)-4:]); dec.Crc32(castagnoliTable) != exp {
                        fmt.Println("exp,dec.Crc32",exp,dec.Crc32(castagnoliTable))

[2021-07-15 09:36] codesome commented on #7530
In Prometheus Storage Working Group call we wen't over these 3 options of how we want to handle this

1. Drop everything from Head since there will be partial series. This means if you have any corruption in checkpoint, you lose all data that was there in the Head.
2. Repair the checkpoint and continue with the remaining WAL replay. This means you will lose partial number of series (for the series

[2021-07-15 10:15] Harkishen-Singh commented on #7530
That is good. Will go with the fix once bartek  confirms.

[2021-07-15 11:14] razvan commented on #7384
I'm trying to get Prometheus to scrape k8s pods. Nothing is happening. There is zero feedback from Prometheus. I don't even know if it's even attempting to scrape anything. I have tried almost every solution posted on StackOverflow.

Even if it's all my fault, Prometheus should at least say something.

[2021-07-15 11:41] Soprano74 commented on #9074
Do you mean I can do this using relabellng? Or do I need to submit a request to enable this through relabellng?

[2021-07-15 11:58] LeviHarrison commented on #9074
No, it isn't enabled through relabeling yet, but another HTTP client field is planned to be added and after that code has been written it shouldn't be too hard to also add this one. Whether we actually decide to add it is up to @roidelapluie.

[2021-07-15 13:12] RichiH commented on #8862
While we are not affected, us triggering this check means we're generating toil for our users

[2021-07-15 13:13] t00350320 commented on #9078
Hi，i have added more infos,pls help to review that. Our tsdb take lots service datas,&nbsp;
a monitor metric’s label&nbsp;may change as time flows, it also may be dropped at some chunk.So may this affect the final compact. i also find the tsdb code try to add series from chunks according a global index symbol

------------------ Original ------------------
From: Levi Harrison ***@***.***&gt;
Date:

[2021-07-15 13:23] rfratto commented on #9082
From what I can tell, there's no reason to reprocess the labels at all if `StoreSeries` is being called from reading a checkpoint, and is the only reason the lock needs to be held.

Maybe there could be a third method, `UpdateSeriesSegment`, that is called only when reading checkpoints and doesn't need to grab the lock?

[2021-07-15 14:25] omron93 opened #9092 "Recording rules missing some time series"
**What did you do?**

We have network devices and from those devices we scrape every 5 min data via snmp exporter. We have recording rules to compute 5min increase .
We have two prometheus nodes, configured the same (with ansible) - so running the scrapes and rules evaluation on each of those.

**What did you expect to see?**

Recording rules producing correct time series. And we can rely that pro

[2021-07-15 14:29] RichiH commented on #8862
@roidelapluie  https://github.com/prometheus/prometheus/pull/9093

[2021-07-15 14:44] bschaeffer commented on #8852
If you have a repo using go modules, what is the suggested way of building a write adapter if you can't add the module as a dependency. Unless we vendor the library, we cannot do as suggested in [example documentation](https://github.com/prometheus/prometheus/blob/main/documentation/examples/remote_storage/example_write_adapter/server.go#L23). Maybe the protos could be moved to `prometheus/common`

[2021-07-15 15:20] bboreham commented on #9082
I think at the moment `seriesMtx` is also protecting `seriesSegmentIndexes`, but I don't see an obstacle to adding another lock, then `SeriesReset()` could take both.

[2021-07-15 15:23] rfratto commented on #9082
Hmm, I'm not 100% sure about that, it looks like it's only referenced from StoreSeries and SeriesReset which can't be called concurrently. Might be better to have a second mutex for it regardless, though.

[2021-07-15 16:37] bboreham commented on #9082
At this point I'm tempted to say that `seriesSegmentIndexes` should move out of `QueueManager` up to `Watcher`.
It seems an uneasy relationship that `StoreSeries()` and `SeriesReset()` rely on being called in a particular way to maintain it.

[2021-07-16 01:16] LeviHarrison commented on #9078
Maybe related to https://github.com/thanos-io/thanos/issues/1728?

Also, what Thanos version are you using? I can't find `pkg/compact/tsdb.go` anywhere.

[2021-07-16 01:40] t00350320 commented on #9078
prometheus version: 1.8.2
thanos version : 0.16.0 , #1728 has no conclusion now.
ah,compact/tsdb.go is my test tool according thanos/pkg/compact/compact.go . our current version may has much different with master.
very confused and  sad -_-

[2021-07-16 02:08] clyang82 commented on #9090
we can use `drop` action of https://prometheus.io/docs/prometheus/latest/configuration/configuration/#alert_relabel_configs to filter out alerts.

[2021-07-16 02:39] LeviHarrison commented on #9078
Given the RC for `0.22.0` was just released, and it's been almost a year since `0.16.0` came out, you might want to try upgrading, although I know that might be difficult with your custom version. Thanos doesn't actually use version `1.8.2` of Prometheus (if it did there would be no `/tsdb` directory), so by upgrading you'd get both new Thanos and TSDB changes.

https://github.com/thanos-io/thanos

[2021-07-16 03:30] cstyan commented on #9082
This is what I was going to suggest.

[2021-07-16 05:09] cstyan commented on #8402
I still not sure what the use case is that we're wanting to support.

[2021-07-16 06:14] ragsarang commented on #2459
I was facing this issue due to max connections reached. I increased the max_connections parameter in database and then released some connections.
It was able to scrape again.

[2021-07-16 08:54] t00350320 commented on #9078
en, i try to use the latest prometheus version, then make my compact tool, the error also occurs.
BTW, i think it has no business with thanos, because it also use the prometheus's compact interface.
the very simple tool  like:
        ctx, _ := context.WithCancel(context.Background())
        levels, err := compactions.levels(4)
        compDownSample, err := tsdb.NewLeveledCompactor(ctx, nil, log

[2021-07-16 09:38] lianyiwork opened #9095 "Params has encoded"
Hello everyone!
I found this answer from [stackoverflow:](https://stackoverflow.com/questions/40172415/question-mark-in-prometheus-metrics-path-gets-encoded)
scrape_configs:
  - job_name: 'somename'
    params:
      prefix: ['finatra']
      url: ['http://:9090/admin/metrics.json']

When i do that,i also get params encoded:
url=http%3A%2F%2F%3A9090%2Fadmin%2Fmetrics.json

Is there any idea?

[2021-07-16 10:21] Azulinho opened #9096 "Too many open files in AWS Fargate"
**What did you do?**

I run prometheus in EKS/Fargate, and on reload it fails with a 'too many open files' crash.

**What did you expect to see?**

I expect prometheus to work with a nfiles hard limit of 65535

**What did you see instead? Under which circumstances?**

it crashes at startup/reload with a too many open files message.

**Environment**

k8s deployment used:

[code]

ulimits on the pod

[2021-07-16 12:49] JBaptisme33 commented on #8955
Do you have some ideas ?

[2021-07-16 20:02] csmarchbanks commented on #8402
The problem that I would like to have a solution for is that new pods added to a service receiving remote write requests will not receive any requests right now as the connections to the old pods will be reused forever. This makes it very annoying to horizontally scale a remote write receiver. In some low request rate scenarios where only a single connection is needed all requests will end up goin

[2021-07-16 23:29] roidelapluie commented on #9095
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-07-16 23:29] #9095 closed

[2021-07-16 23:30] roidelapluie commented on #9092
Thanks for your report. You should increase the loopback delta: `--query.lookback-delta=5m` and put it e.g. to 15m.

It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in

[2021-07-16 23:30] #9092 closed

[2021-07-17 00:03] kfp commented on #6188
Consider making these consumable via environment variables in addition to command args. Command args are more buried in k8s land where env variables are first class. I won't have to keep track of which args were already supplied in the entrypoint of the image, I can just set my ENV var and move on.

[2021-07-17 14:56] saibaldey commented on #5976
I have also faced the same issue. Finally I figured out the standard deployment file for the prometheus server is not meant for persistent volumes & should work out of the box if the storage volume is configured as "emptyDir".

The prometheus-server process in the prometheus container is started with user "nobody" (UID 65534) & as its a non-standard user, so can work perfectly when the storage_vol

[2021-07-18 13:39] t00350320 commented on #9078
Hi,LeviHarrison
  i think i have dug out the  reason of my "invalid checksum":
index->symbol len is 4byte, but our service datas, reach to 4388357229, and it's cut down to 4byte. So the crc32 errors in the end.
prometheus/tsdb/index/index.go  func() finishSymbols
w.buf1.PutBE32int(int(w.f.pos - w.toc.Symbols - 4))
btw, thank you very much for your help and proposal.

[2021-07-18 16:44] Spiroman opened #9099 "Unable to query some metrics"
**What did you do?**
Queried a metric we have like so `autoPostFlow{error!~".+"}` and got over 500 results
**What did you expect to see?**
I expected to get **nothing**, this metric (autoPostFlow) always has an error label filled
**What did you see instead? Under which circumstances?**
I got over 500 entries which is unusual since I'm matching all metrics in which the error label is empty

<img wi

[2021-07-18 21:34] LeviHarrison commented on #9096
This error happens when trying to open the `head_chunks` directory to go through all the previous chunks (files) to establish the number of the new chunk:

https://github.com/prometheus/prometheus/blob/39d79c3cfb86c47d6bc06a9e9317af582f1833bb/tsdb/chunks/chunks.go#L552

I'm not really sure how you could solve this besides just raising the limit, I don't think there's much we can do. The current WA

[2021-07-18 21:42] LeviHarrison commented on #9096
In a Dev Summit, there was consensus to pursue allowing users in more constrained environments to disable things like head chunks, but there hasn't been any movement on that yet.

[2021-07-19 02:31] t00350320 commented on #9078
So, Can tsdb make some optimization ？@fabxc   @bwplotka @roidelapluie  please help to review. Thanks a lot.

[2021-07-19 08:32] gabor opened #9100 "documentation improvement: document start/stop being inclusive"
when looking at the http api documentation for range queries https://prometheus.io/docs/prometheus/latest/querying/api/#range-queries the documentation does not say if the `start` and `end` timestamps are included in the range or not. my understanding is that they are included (meaning `start <= x <= end`), it would be nice to mention this in the documentation.

[2021-07-19 09:38] bboreham commented on #8808
And it was me that changed them 🤦‍♂️
Current `MaxShards: 200` is still too high, but not quite as bad.

[2021-07-19 11:03] codesome commented on #9099
Do those errors contain newlines? `!=".+"` seems to be working fine. Note that `.` does not match newline in regex.

That said, it is not a good idea to have such descriptive errors as label values since they seems to have a lot of dynamic values (and is too big of a value).

[2021-07-19 13:17] codesome commented on #9078
@t00350320 thanks for your investigation, seems like you found the issue.

Can you please elaborate on this?

[2021-07-19 14:28] t00350320 commented on #9078
hi
root cause is :according to tsdb&nbsp;index file format, symbol_table part, first 4byte shows the length of total symbol strings of all the blocks being compacted. It works well at most time.
But our prometheus systerm has more than 10 million symbols. So the symbol_table part becomes really big. It’s larger than 4byte. In&nbsp;function finishsymbol()&nbsp;,&nbsp;the original symbolstr len is c

[2021-07-19 14:37] t00350320 commented on #9078
So can tsdb reserve 8byte for symbollen zone. We know fabulous amounts of IOT services will access to prometheus systerm.

------------------ Original ------------------
From: Jupiter ***@***.***&gt;
Date: Mon,Jul 19,2021 10:28 PM
To: reply+AJ4LJWC4PURI7GRR6VTLFVV7AFOF5EVBNHHDQNYUJQ ***@***.***&gt;
Subject: Re: [prometheus/prometheus] when compact blocks, err "errors: populate block: add series: r

[2021-07-19 14:49] Spiroman commented on #9099
At least two types of the repeating error (~450 time series) do not contain the newline character.

`!~".+"` Shouldn't this return nothing, since all of the time series have a non empty error label?
Also, regardless of the regex matching, shouldn't searching for a result element directly at least return said element?
Would it help you if I pasted some of those errors?

Thanks for pointing out the

[2021-07-19 15:11] codesome commented on #9078
I have few more questions for you:
1. What is the architecture of your system? 32 bit or 64 bit? (since you said IOT)
2. What is the number of series in that block?

You mentioned 10M symbols, and the 4 bytes in the [symbol table](https://github.com/prometheus/prometheus/blob/main/tsdb/docs/format/index.md#symbol-table) is the number of symbols which can easily hold the number 10M, and we are actu

[2021-07-19 15:37] codesome commented on #9099
@Spiroman what does `count(autoPostFlow{error=~".*\n(.|\n)*"}))` give you?

[2021-07-19 16:33] davem-pearson commented on #8557
I had the same error and noticed I was nearly out of disk space. Clearing out old images fixed the issue.

[2021-07-19 16:41] codesome commented on #9078
Ah I totally missed that `len` part in the symbol table. Making it 8 bytes is a big breaking change. While it might be possible to do it with versioning, we have to analyse how it might affect entire ecosystem (like if it will make running on 32 bit IoT systems impossible). And if we are going to bump up the version, we might as well spend some time in seeing what other things we could possibly im

[2021-07-19 17:40] bboreham opened #9101 "Problems with BenchmarkLoadWAL"
I looked very closely at what it was doing, and made a list of questionable behaviours.
I expect a benchmark to be somewhat similar to what the real Prometheus application will do.

I am preparing a PR to improve the benchmark, but the list was getting so long I thought I should write them down before I forget.

### 1. `BenchmarkLoadWAL` does not simulate existing mmapped chunks.
This was noted at

[2021-07-19 17:49] bboreham commented on #9101
Also the code runs for a very short time - under 1 second on my not-very-fast machine.
I think a longer running time, even 10 seconds, would help improve the comparison against real-world WAL loads which can run to minutes.

[2021-07-20 01:39] t00350320 commented on #9078
yes, modify the index format length is not esay. I'll add an errlog and pull request later, when the actual length over 4byte.

[2021-07-20 06:20] morvencao commented on #9057
@roidelapluie
We tried to add `option httpclose` in HAProxy, but adding that configuration will prevent connection reuse, it will results poor performance when we have much more traffic going through the HAProxy.

At the same time, I found in the prometheus code, if there are multiple alertmanagers configured, the alert will be dropped if it is sent successfully to at least one Alertmanager. I'm n

[2021-07-20 07:35] Spiroman commented on #9099
@codesome no data
![Screen Shot 2021-07-20 at 10 34 24](https://user-images.githubusercontent.com/6946401/126280656-4ea75680-8613-4b26-9768-228520bcf8da.png)

[2021-07-20 08:47] #5877 closed

[2021-07-20 08:48] codesome commented on #8221
Closed by https://github.com/prometheus/prometheus/pull/9081/

[2021-07-20 08:48] codesome commented on #9079
Closed by https://github.com/prometheus/prometheus/pull/9081/

[2021-07-20 08:48] #9079 closed

[2021-07-20 08:48] #8221 closed

[2021-07-20 09:15] roidelapluie commented on #7530
I do not think we should go with option 2. partial data is impossible to work with.

[2021-07-20 10:09] codesome commented on #7530
Then that sounds like option 1. Also, checkpoint corruptions should be rare, it will only happy if disk is faulty and not on Prometheus crashes.

[2021-07-20 10:11] codesome commented on #7530
To not block this any further, let's go with the simpler option 1, and we can revisit this later if that is causing any problems.

[2021-07-20 10:16] jolusch commented on #7063
We are still seeing this issue. Alertmanager pods get rescheduled on a new node and Prometheus keeps sending alerts to the old pod IPs.
`level=error ts=2021-07-20T04:39:24.484Z caller=notifier.go:527 component=notifier alertmanager=http://100.96.176.58:9093/api/v1/alerts count=4 msg="Error sending alert" err="Post \"http://100.96.176.58:9093/api/v1/alerts\": dial tcp 100.96.176.58:9093: connect: c

[2021-07-20 11:16] Harkishen-Singh commented on #7530
Then I will go with option 1. Thank you!

If someone has any other concerns, please comment here.

[2021-07-20 12:58] bboreham commented on #9101
1, 3 and 4 will be fixed by #8645; 2 is less of a problem when running tests with 1 fixed.

[2021-07-20 13:55] guillemj opened #9105 "Add support for multiple listening addresses"
## Proposal

**Use case. Why is this important?**

On systems with multiple interfaces, one might only want to listen on only a subset of addresses, for example for loopback and intranet facing addresses.

Listening on everything and then restricting based on firewall rules is not satisfactory as that is prone to accidentally opening the services (possibly unprotected) to external and hostile netw

[2021-07-21 10:37] currybullen opened #9107 "Potentially wasted space when storing chunk files on Btrfs"
**What did you do?**

Ran Prometheus in a container using Podman and a Btrfs volume for storage.

`$ podman run --name prometheus_test --net host -v prometheus_test:/prometheus:Z -v /home/$USER/config.yml:/prometheus/prometheus.yml prometheus`

**What did you expect to see?**

A lower disk usage than 256M for every chunk file.

**What did you see instead? Under which circumstances?**

A disk usage

[2021-07-21 15:44] geerlingguy commented on #6188
Just chiming in on this as well—making a templated config file for various scenarios is easy. Templating out command line flags in docker-compose, K8s, or `docker run` commands is annoying. Really wish I could pass startup options via the prometheus config file.

I know this is closed, but one can always hope!

[2021-07-21 16:31] jshook commented on #6188
This doesn't seem like a complicated request. It seems that several users are asking for it and with good reasons. Can this be opened again @krasi-georgiev ?

[2021-07-21 18:39] timofey-barmin opened #9108 "Memory leak in samples deletion procedure"
Edits by @codesome:
Actions to be taken
1. [low hanging fruit] Call Delete() on Head only if delete time ranges overlap with it ([code reference](https://github.com/prometheus/prometheus/blob/24165adadc889131dbd0143b5c16cd3a079e46cd/tsdb/db.go#L1662-L1664))
2. [low hanging fruit] Head GC to also GC tombstones ([code reference](https://github.com/prometheus/prometheus/blob/24165adadc889131dbd0143b5

[2021-07-21 22:25] justinTM commented on #5097
over two years :/ any status update on the development for this? so much more has been built in less time; this one's a no-brainer.

@beorn7 @brancz @bwplotka @codesome @csmarchbanks @cstyan @dgl

[2021-07-22 03:22] gupf0719 commented on #8670
[code]
prometheus:v2.27.0 has the same error

[2021-07-22 03:29] gupf0719 commented on #8670
@roidelapluie [BUGFIX] TSDB: Avoid panic when mmaped memory is referenced after the file is closed. #8723

[2021-07-22 09:37] roidelapluie commented on #8670
Unfortunately you do not say much about the release you are using, or the operating system. Can we get full logs and could you use an official build?

Thanks

[2021-07-22 10:12] RichardoC commented on #5097
This feature would be very helpful. Here's a workaround I've been using

Example source metric

`kube_deployment_status_condition{app="kube-state-metrics", condition="Available",  kubernetes_namespace="important", status="false"}
`

What I expected to work
`label_join(kube_deployment_status_condition{kubernetes_namespace="important"}, "conditionstatus", "-", "condition", "status" ) conditionstatus

[2021-07-22 10:12] RichardoC commented on #5097
This feature would be very helpful. Here's a workaround I've been using

Example source metric

`kube_deployment_status_condition{app="kube-state-metrics", condition="Available",  kubernetes_namespace="important", status="false"}
`

What I expected to work
`label_join(kube_deployment_status_condition{kubernetes_namespace="important"}, "conditionstatus", "-", "condition", "status" ) conditionstatus

[2021-07-22 12:59] bboreham commented on #9082
Given a separate method to read segments and call `UpdateSeriesSegment`, do you think it should still increment `prometheus_wal_watcher_records_read_total` ? The current behaviour strikes me as a little confusing.

[2021-07-22 13:59] bboreham commented on #9082
I think they can - `garbageCollectSeries()` is set off on its own goroutine, calling both, while `Watcher.watch()` carries on calling `StoreSeries()` on a ticker.

I implemented `UpdateSeriesSegment` with a separate lock - see #9109.

[2021-07-22 18:36] tommy24b opened #9110 "Prometheus kuberentes-pods Get “https:// xx.xx.xx:443 /metrics”: dial tcp xx.xx.xx:443: connect: connection refused"
I have configured Prometheus on one of the kubernetes cluster node using this https://devopscube.com/install-configure-prometheus-linux/ after that I added following prometheus.yml file. I can list nodes and apiservers but for pods, all the pods shows down and error Get "https:// xx.xx.xx:443 /metrics": dial tcp xx.xx.xx:443: connect: connection refused and for some pods the status is unknown. whe

[2021-07-23 07:46] #7919 closed

[2021-07-23 12:39] PhilipGough commented on #8902
@arnisoph I can take this one if you are not working on it?

[2021-07-23 17:52] roidelapluie commented on #8551
I do not think that we should

I stand by this. Certificates are files almost everywhere, it is not natural to load them inline.

[2021-07-24 14:52] HelloKunal commented on #2392
Hello, @roidelapluie
Can I still work on this?
I have got some basic skeleton at https://stoic-kare-8f0c7d.netlify.app/

[2021-07-24 16:00] arnisoph commented on #8902
Feel free, not started yet! :)

[2021-07-24 22:58] roidelapluie commented on #9110
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-07-24 22:58] #9110 closed

[2021-07-25 15:33] darshanime commented on #8779
@cstyan what do you think about this?

[code]

Unchanged:
[code]

[2021-07-25 16:36] darshanime commented on #8499
@deesejohn I've raised a quick PR for this. Let me know if you were already working on this, happy to close fwiw 🙂

[2021-07-26 12:53] codesome commented on #6188
We recently added a runtime reloadable config for the storage (exemplars), and I am thinking about having more runtime reloadable options for the storage. Time/Size retention feels like the natural next thing to support in the config file, but having same config at 2 places is not something we try to do, so something to think about here.

[2021-07-26 13:34] codesome commented on #9108
Before even looking at the leak, I can say that calling delete for all series every minute is going to be very expensive. Since it touches all series, every delete call will lead to a compaction of the block (which is a total re-write of the data block). This is going to reduce the life of your disk pretty significantly.

[2021-07-26 16:07] roidelapluie commented on #9040
hello, do you think you would still have time for this? it would be nice to have this in this week's release.

[2021-07-26 17:11] AdamSLevy commented on #9108
It would be interesting to test if the memory goes back down if you pause calling delete for some time. That would be a good indication that it's not a leak but simply compounding effects of re-compaction due to the regular delete_series calls

[2021-07-26 17:12] claytonpeters commented on #9040
Hi, yep - fix is written - I'll get a PR raised tomorrow.

[2021-07-26 17:26] timofey-barmin commented on #9108
@codesome
We can do it less frequently then, I think.

@AdamSLevy
I'll try that, but I have to say that your words about it not being a leak don't sound convincing :)

[2021-07-26 18:38] skgsergio opened #9113 "Out-of-order samples when relabeling metrics that contains timestamps."
**What did you do?**
Create an scrape job that scrapes `cavisor` and drops the `id` label using metric relabeling.

(This is the minimal working example for reproducing the issue, I've found it scraping `cadvisor` pods in a k8s cluster using prometheus' Kubernetes SD for discovery.)

**What did you expect to see?**
The metrics are scraped with the label `id` dropped.

**What did you see instead? U

[2021-07-26 19:27] justinmchase commented on #7412
I just got this error and I'm running version `2.23.0`, not sure if its a regression or just not completely fixed?

[2021-07-26 19:38] justinmchase commented on #7412
[code]

[code]

No idea how that's possible...

[2021-07-26 22:56] cstyan commented on #8779
A few notes:
- `entity` should be something like `type` to keep in line with other metric labels for things like WAL record types
- `prometheus_remote_storage_bytes_total ` can't be split into two metrics, exemplar and samples data are grouped together in the same write requests before being snappy encoded, after which we calculate the bytes for that metric
- `prometheus_remote_storage_enqueue_ret

[2021-07-27 04:52] codesome opened #9115 "Move some of storage config from command line to config file"
## Proposal

https://github.com/prometheus/prometheus/pull/8974 introduced a `storage` section in the config file and also added mechanism to reload the config in TSDB without needing a restart. I think we can (and should) move some of the CLI flags to the config file so that it can be reloaded without having to restart Prometheus (hence the WAL replay).

The config file would take precedence over

[2021-07-27 06:42] lod opened #9116 "docker_sd: host network mode not supported"
### Issue

docker_sd extracts the __address__ from docker's API NetworkSettings.Network.*.IPAddress

This is not set for clients that use the host network mode.

The __address__ ends up being ':80'

For host mode the ip address should be substituted with localhost
(support for connecting to a remote host docker socket should also be considered)

Additionally, port specification is not supported in

[2021-07-27 06:43] skgsergio commented on #9113
Ok after a further investigation is completely my fault. Removing the `id` label for cadvisor results in samples in the same scrape with the exact same set of labels with different values and timestamp, and was what was happening. I tried removing other labels that don't result in this and it works correctly.

[2021-07-27 06:43] #9113 closed

[2021-07-27 07:41] roidelapluie commented on #9115
Hello,

:+1:

--storage.tsdb.wal-compression is pretty much an internal stuff and users should generally not be aware of that, I would not put it in the config file.

[2021-07-27 07:45] codesome commented on #9115
Then I guess we should hide it from `-h` output

[2021-07-27 07:54] roidelapluie commented on #9115
You still need it if you want to keep you WAL backwards compatible with pretty old Prometheus releases, but that's it I think. There was a bug that we fixed recently about very large records: #8790, but that's the only case we have ever needed to disable it, and it is no longer needed since the fix.

Overall yes I think in next releases we could hide the flag.

[2021-07-27 07:55] codesome commented on #9115
Opened https://github.com/prometheus/prometheus/pull/9117 which should take care of hiding it

[2021-07-27 07:57] roidelapluie commented on #9090
it seems that you have found the solution. Indeed, you should use alert_relabel_configs `drop` for this use case, or `keep`.

[2021-07-27 07:57] #9090 closed

[2021-07-27 08:27] SuperQ commented on #9115
@roidelapluie The TSDB will read both compressed and un-compressed WAL files. The flag is only useful if you wanted to disable compression and roll back to <= 2.19.0.

[2021-07-27 08:31] roidelapluie commented on #9115
Yes that is what I tried to explain, apparently badly :)

[2021-07-27 09:58] claytonpeters commented on #9040
@roidelapluie I've raised PR #9119 now - let me know if you need anything from me :-)

[2021-07-27 12:26] wiardvanrij opened #9122 "Change the definition of ready or create a new endpoint with a different definition"
At the moment we use a readiness probe on `http-get http://:web/-/ready` which makes sense. This is actually from the Prometheus Operator but I assume this is the de facto standard to use it.

Now regarding 0 downtime deployments, we face an issue. Even though using a stateful set with 2 replica's, we experience hiccups/downtime. This is caused by two factors:
- The LB/svc but also other component

[2021-07-27 12:35] roidelapluie commented on #9122
Hello, thanks for your pull request.

I think this complexity would belong to kubernetes and not in Prometheus, as in the issue linked. I do not think we need additional endpoints in Prometheus for this. An alternative would be to have a custom readinessprobe that does a curl /-/ready && sleep 30s

[2021-07-27 12:44] wiardvanrij commented on #9122
For the best outcome, it would consist of effort in Kubernetes and in Prometheus. I see features in Prometheus complementary to other techniques. Like the health/ready endpoints.

I mean, that could work. However I strongly feel that this is not a robust solution. More a workaround.

The point is that there is only one place which knows the exact state. That is Prometheus. It does however also nee

[2021-07-27 12:57] roidelapluie commented on #9122
The data is queryable when /-/ready is OK.

Data ready is a big word and it is out of scope here: what if Prometheus can not scrape targets? What if you have a scrape interval of 5m? This would add a 20 min delay on startup.

I think that `minReadySeconds` of 5m should fix your specific needs.

[2021-07-27 15:11] roidelapluie commented on #9038
Any update on this? Please also confirm that the filesystem is NTFS.

[2021-07-27 15:32] roidelapluie commented on #9068
To go to the bottom of this, @LeviHarrison could you provide some tcpdumps with and without HTTP2 in prometheus? Thanks!

[2021-07-27 15:36] roidelapluie commented on #9074
We have looked at this during the bug scrub and it looks like this is more a configuration management issue. We have decided not to add this in Prometheus, instead you should create one scrape job for each proxy you wish to use. Note that you could use `keep` and/or `drop` actions in relabeling to keep using a single SD.
Thanks for your report. It looks as if this is actually a question about usag

[2021-07-27 15:36] #9074 closed

[2021-07-27 15:37] roidelapluie commented on #9078
@codesome  now that https://github.com/prometheus/prometheus/pull/9104/files is fixed, can we close this?

[2021-07-27 15:40] roidelapluie commented on #9088
We could add a proxy section inside the azure SD if it is not convenient to change the HTTP client.

[2021-07-27 15:46] roidelapluie commented on #9096
In general, fargate seems to be resource constrained, and you would need to raise the file limit. 1024 files is not much considering that that each scrape will also generate connections which will also retain files.

It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.googl

[2021-07-27 15:46] #9096 closed

[2021-07-27 15:50] roidelapluie commented on #9099
Can you please try `autoPostFlow{error=~"^(?s:.+)$"}`?

I have already noticed that the UI does not render newlines in labels but there is no real good solution for this.

[2021-07-27 15:52] roidelapluie commented on #9100
Thanks for your report.

cc @RichiH WDYT?

[2021-07-27 15:59] roidelapluie commented on #9105
thank you for your pull request. This seems very niche, managing the lifecycle of multiple listeners is out of scope for Prometheus, and I think that

could be also said about multiple web.listen-address because you could set it and open a new network socket without noticing that it was already set.

We could **maybe** revisit this if it is easily supported by the go std libraries directly (withou

[2021-07-27 16:03] roidelapluie commented on #9107
I am unfamiliar with how BTRFS deals with preallocations, but you could set `--storage.tsdb.max-block-chunk-segment-size` to a lower value to waste less disk space, if that is an issue for you. I will let this issue open and kidly ask @carroarmato0 (who I think also uses BTRFS) if he has a clue.

[2021-07-27 16:08] roidelapluie commented on #9116
I think this is an improvement we could do but instead of hardcoding to localhost, I suggest we have this host value as a parameter, default to localhost.

[2021-07-27 16:13] beorn7 commented on #8551
Note: The discussion is now also happening in https://github.com/prometheus/common/pull/318 , which is @mem's implementation of what's suggested here for TLS.

My thoughts: I totally get @mem's argument about consistency both ways, but I have to admit, when I emphasized consistency in the discussion on the mailing list, I was only thinking about fields with inline secrets so far, i.e. that we shou

[2021-07-27 19:37] Azulinho commented on #9096
@roidelapluie nfiles limits on fargate are set to 65535
https://github.com/aws/containers-roadmap/issues/1013#issuecomment-789132834

which is still not enough to run prometheus on fargate, this value is considerably high and it wouldn't be wise to allow a process to consume this amount of open files.

@roidelapluie would you reconsider re-opening this ticket?

[2021-07-27 20:21] #9082 closed

[2021-07-27 20:28] cstyan commented on #9115
Honestly I'd forgotten that `--storage.remote.flush-deadline=<duration> ` was even a CLI flag and not a config file option. TBH it feels to me like that should be a per queue configuration option with the same default as the current CLI flag. @csmarchbanks any thoughts?

For the rest of the `storage.remote` options @bwplotka or someone else with more remote read context should chime in.

[2021-07-27 20:58] geerlingguy commented on #6188
@codesome - it's common in many systems to have config overrides/precedence (e.g. env var + config file), so IMO as long as it's documented in both cases (e.g. mention that this value can also be set in environment, or in env var docs, also be set in config file), it wouldn't add any confusion.

IMO, but I'm a bit one-sided in my opinion because this would allow my project to more easily customize

[2021-07-27 21:34] currybullen commented on #9107
Was not aware of that option, it completely solves my issue. Thank you!

[2021-07-27 22:38] LeviHarrison commented on #9116
I'm working on this

[2021-07-27 23:11] roidelapluie commented on #9096
Can you please tell us what is the value of Prometheus /metrics endpoint? I think that you might hit the soft limit of 1024.

process_max_fds
process_open_fds

[2021-07-27 23:13] timofey-barmin commented on #9108
@AdamSLevy
I stopped the script with deletions yesterday. Memory didn't go back as you see, but it's not growing anymore. So it still looks like a memory leak. I'm pretty sure if unpause the script it will start leaking again (will do that).

<img width="822" alt="Screen Shot 2021-07-27 at 3 50 09 PM" src="https://user-images.githubusercontent.com/3727395/127238515-97e97e85-ee9b-45dc-ba15-4c7e8adf

[2021-07-28 02:32] morvencao commented on #9057
thanks @roidelapluie for your suggestion.
We figured out the issue is actually caused by the connection closed by the proxy end, but the fix is not that easy, because the change to the proxy may impact may services. We wonder if it possible to add retry logic for alert sending.

[2021-07-28 07:27] codesome commented on #9078
#9104 only adds a log for this and does not fix the underlying issue. I think we should keep it open until we eventually fix this.

[2021-07-28 07:37] codesome commented on #6188
See https://github.com/prometheus/prometheus/issues/9115

[2021-07-28 07:49] Harkishen-Singh commented on #9107
I think we can close this.

[2021-07-28 08:01] codesome commented on #9108
@timofey-barmin thanks for checking it out. Would it be possible to share the heap and alloc profiles of the Prometheus server where delete script is running (maybe restart the Prometheus server and start script again to not OOM)? They are available at
`<prometheus-url>/debug/pprof/heap` and `<prometheus-url>/debug/pprof/allocs`

[2021-07-28 08:45] Azulinho commented on #9096
I wish I could, but I can't get it to start, the log I posted was during the prometheus startup.
I am fairly sure it is hitting the soft limits, which with that in mind I am going to see if I can modify the startup script to raise the soft limits  to its hard limits before doing its thing

[2021-07-28 09:30] omron93 commented on #9092
@roidelapluie Could this be reopened? As this was discussed in prometheus-users mailing list (https://groups.google.com/g/prometheus-users/c/kx5vgUz4pNw) and doesn't seem to be a simple misconfiguration.

Also could you please advise how to debug this issue, as it makes the rules evaluation quite unreliable for us.

[2021-07-28 12:40] beorn7 commented on #9107
Given that `--storage.tsdb.max-block-chunk-segment-size` is a hidden flag, we should perhaps document this trick somewhere.

[2021-07-28 12:52] beorn7 commented on #6188
Dear folks, there are plenty of community channels documented here: https://prometheus.io/community/
A closed GitHub issue is really not the right place for a discussion of something that might _seem_ to be easy but actually is not.

Throughout the Prometheus project (which is more than just this repo), we try to follow the general idea of providing one and only one way of configuring one thing. A

[2021-07-28 12:52] RichiH commented on #9100
Makes sense, see PR. Thanks @gabor !

[2021-07-28 15:19] timofey-barmin commented on #9108
@codesome
sure, here they are:
[memory_issue.zip](https://github.com/prometheus/prometheus/files/6894212/memory_issue.zip)

[2021-07-28 15:24] jshook commented on #6188
@beorn7 There is little one can say that is helpful in light of your response. But I'll try.

This is not going to help the many users who need to have simpler integration points for Prometheus. It *will* stop many of us from asking for simple things. While I understand the value of ensconcing certain design decisions, I do not understand why a user should have to go on a journey among the myriad

[2021-07-28 15:41] geerlingguy commented on #6188
@beorn7 - I get it. I really do; I've been part of the Drupal, Ansible, and Kubernetes communities, and all three (like Prometheus and countless other popular OSS community-based projects) have the same issue with GitHub PRs and Issues becoming a huge unmaintainable tangle.

And all have different solutions (attrition, aggressive closing/pruning, etc.).

But I would like to point out the community

[2021-07-28 15:46] #9100 closed

[2021-07-28 15:54] juliusv commented on #6188
Yeah, I definitely see valid points from both the user and the maintainer side.

It's a feature request, but it ends up being more over-arching than the initial title suggests, and requires a more holistic configuration handling discussion. So I guess it could make sense to either open another issue with a wider scope, or use the developers mailing list to have that discussion there instead. Some

[2021-07-28 17:49] aiyengar2 opened #9130 "Paths to CSS and JS for /classic/config path result in 404s"
**What did you do?**

Deployed Prometheus behind a proxy. Opened up the Networking tab on DevTools. Went to `/classic/config`.

**What did you expect to see?**

No errors / 404s.

**What did you see instead? Under which circumstances?**

Observed that the network calls to get the CSS and JS for that page result in 404s.

![Screen Shot 2021-07-28 at 10 41 02 AM](https://user-images.githubuserconten

[2021-07-28 20:21] Spiroman commented on #9099
@roidelapluie No data
<img width="1274" alt="Screen Shot 2021-07-28 at 13 20 00" src="https://user-images.githubusercontent.com/6946401/127390223-d0dbc0bc-0e85-4f45-aa0c-cb246145729b.png">

[2021-07-28 23:11] roidelapluie commented on #9099
Could you send us an example http result with the examples? That could show us which chars cause issues.

[2021-07-29 01:22] mem commented on #8551
OK, I can understand that the case for inline CA certificates is weak.

For client keys on the other hand the use case is a large blackbox_exporter configuration where the secrets are stored in a central location and the BBE configuration is generated, not written by hand, so it's actually simpler to manage a single configuration file instead of a configuration file plus a number of different cert

[2021-07-29 07:41] nicolastakashi commented on #9115
Hi peeps!
@codesome I would try to implement this one, can I?

[2021-07-29 08:22] brancz commented on #9052
oh wow I was entirely unaware of this functionality of kubeconfig ... it doesn't make the mechanism less bespoke though, my suggestion would be to have a sidecar that just writes the token to an empty-dir volume that is shared with Prometheus and Prometheus will detect the file change

[2021-07-29 10:38] #8255 closed

[2021-07-29 12:01] codesome commented on #9115
@nicolastakashi yes, please go ahead! Thanks.

Since remote flags are not decided yet, can you only do 3 `--storage.tsdb.xx` flags for now for now?

[2021-07-29 12:57] LeviHarrison opened #9135 "React UI: Millisecond durations cause x-axis to be set to ~26 years"
**What did you do?**

I set a range of 1ms.

**What did you expect to see?**

Metrics over a range of 1ms.

**What did you see instead? Under which circumstances?**

Metrics over a range of ~26 years:

https://prometheus.demo.do.prometheus.io/graph?g0.expr=prometheus_http_requests_total&g0.tab=0&g0.stacked=0&g0.range_input=1ms

**Environment**

* Prometheus version:

	In this example, `2.27.0`, bu

[2021-07-29 12:58] LeviHarrison commented on #9135
In IRC we discussed a few solutions to this newfound ability to "hack" time...

cc @juliusv

[2021-07-29 15:45] nicolastakashi commented on #9115
@codesome sure right!

Just to clarify, these flags should be placed on the global config file or should I create a new one?

[2021-07-29 15:47] codesome commented on #9115
@nicolastakashi Global config file. You will already find a place for `storage`, these flags should be as `storage -> tsdb -> xx` in the yaml.

[2021-07-29 15:49] nicolastakashi commented on #9115
Nice!
Thank you for the explanation, I'll take a look on that and as soon as possible open a MR

[2021-07-30 04:58] codesome commented on #9108
@timofey-barmin thanks! I will take a look at them next week :)

[2021-07-30 05:22] codesome commented on #9108
Took a quick look and one thing stands out immediately
[code]

Without much investigation into code further, I am guessing it's just way too many tombstones because for each delete call, 1 tombstones is created _per series_. So if you have 1000 series, every delete call will add 16000 bytes with at least 8000 bytes fixed overhead. Your test script was delete every 10s, so for 2hrs tombstones will

[2021-07-30 06:18] menih commented on #9108
Just in case there are other options - the goals for performing the pruning
on older stats is to reduce both disk space and especially resident memory.
Is there other ways to achieve the same without going through deletion and
tombstones?

On Thu, Jul 29, 2021 at 10:22 PM Ganesh Vernekar ***@***.***>
wrote:

[2021-07-30 06:20] menih commented on #9108
And is there a way, short of process restart, to manually solicit tombstone
GC?

On Thu, Jul 29, 2021 at 11:18 PM Meni Hillel ***@***.***> wrote:

[2021-07-30 06:30] codesome commented on #9108
There is no other way yet other than deleting or using smaller retention. And deletion won't necessarily reduce the memory upfront, rather take more memory for tombstones but that should be within limit once we do GC on Head tombstones.

There is an API endpoint to clean the tombstones (hence delete the actual data too), but that does not delete the data from Head but only persistent blocks. But I

[2021-07-30 07:58] #8499 closed

[2021-07-30 08:31] hdost commented on #2392
@HelloKunal This looks good :) is this based off a branch, you can always submit the PR even a draft if you want some fast feedback.

[2021-07-30 08:52] roidelapluie commented on #2392
Hello, thanks for your work.

unfortunately that is a lot of details and I do not think this is how we should proceed. There are a *lot* of subtle things in openapi and I do not believe that crafting openapi "out of the blue" can give a fully correct result.

The objective here is to have openapi generating go code somehow, and then use that generated code to implement the actual API.

I am not sa

[2021-07-30 08:53] roidelapluie commented on #2392
My point here is that the openapi specs should point to a v2 API and then we should generate code from that, which would then be used in an api v2 package.

[2021-07-30 09:26] Hangzhi commented on #2392
We also work on similar project on Thanos side thanos-io/thanos#4102. Happy to work together if you have any progress.

[2021-07-30 19:06] timofey-barmin commented on #9108
@codesome
Thanks a lot for this info. Just to be clear: primary goal for us is to reduce disk space consumption with fixed history length. Memory becomes an issue at this point only when it starts leaking.

So, if I understand correctly, if I try removing a sample that is in the head block, the tombstone will be in memory forever (until restart). If I try to remove the sample that is in persistent

[2021-07-31 06:32] Spiroman commented on #9099
@roidelapluie Sorry, but I'm not sure I understand what you want me to send you.
Could you be more specific?

[2021-08-01 04:17] andy-maier opened #9139 "Support string typed metrics"
## Proposal
**Use case. Why is this important?**

The are cases where the interpretation of other metric values depends on mode-like properties. For example, on the Z system machines, logical partitions can dedicate or share the processors. That is represented as a string enum typed resource property "processor-mode" with values "shared" or "dedicated". That mode is important to know if you want t

[2021-08-02 07:59] codesome commented on #9108
You found another issue! I just checked the code and looks like we are not skipping the Head block if the delete call does not overlap with it (while we take care of it properly for persistent blocks). So looks like tombstones will grow in memory for any delete call. I have updated the issue description with possible fixes to do.

If we fix the above (i.e. not touching Head if it does not overlap)

[2021-08-02 10:22] roidelapluie commented on #9099
The HTTP requests/responses (like tyou get with F12  - developers tools in the browser)

[2021-08-02 13:00] gebn opened #9142 ""Unable to determine availability zone ID" warnings"
As the contributor of the new `__meta_ec2_availability_zone_id` label, I think there are two actions here:

 - Highlight somewhere in the release notes that EC2 SD now requires `ec2:DescribeAvailabilityZones` to avoid warnings.
 - Modify the refresh logic to only describe AZ IDs once per refresh. As it stands, a call will be made for every target, which could be a *lot* of requests. I'll raise a P

[2021-08-02 17:03] codesome commented on #9108
@darshanime thanks! Please see the issue description for the 3 different action items. You can ignore the 3rd one for now.

[2021-08-02 17:26] howardjohn opened #9144 "Proposal: add generic (EDS) based XDS SD mechanism"
## Proposal
**Use case. Why is this important?** [Envoy](https://envoyproxy.io/) is CNCF graduated project, and has more or less become a de-facto standard proxy implementation for service meshes and cloud-native Ingresses.

Aside from acting as a proxy implementation, Envoy also contains a vendor-neutral [XDS API](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol#xds-rest-and-grpc

[2021-08-02 17:37] austince commented on #9144
Thanks for the ping @howardjohn + the interest!

I think adding support for `ClusterLoadAssignment` sounds like a good idea – do you have a specific proposal for mapping those to Prometheus targets? The current xDS SD implementation is only vendor-specific in terms of the API. It is built to be extended to new APIs easily.

For gRPC, we had a similar conversation (perhaps see [this ML thread](http

[2021-08-02 17:50] austince commented on #9144
We looked quite a bit for a standard API that fully expressed something like a Prometheus Target, but did not find anything w/in Envoy or elsewhere. Would be happy to have more support to define a standard there. Here are some threads in OpenTelemetry around that:
* https://github.com/open-telemetry/opentelemetry-proto/issues/263
* https://github.com/open-telemetry/opentelemetry-specification/issu

[2021-08-02 17:54] howardjohn commented on #9144
I would envision the mapping to be like this:
[code]

The thread suggest `metadata` is not intended to be used for this purpose, but I am not sure I agree - it seems well suited? I think the docs are just a bit misleading (`The endpoint metadata specifies values that may be used by the load balancer to select endpoints in a cluster for a given request. The filter name should be specified as envoy.

[2021-08-02 18:10] austince commented on #9144
@howardjohn Yeah :/ the xDS API / envoy-proxy line is not the most straightforward. It seems like using metadata for this would work, though would be tougher to implement/validate as it relies on arbitrary keys in metadata being present.
Do you envision this being pulled from the main xDS API? How does one distinguish a request for  `ClusterLoadAssignment` the load balancer spec vs. `ClusterLoadAs

[2021-08-02 18:15] howardjohn commented on #9144
Its _possible_ a control plane would not care, and just always set all the labels. For scalability reasons, that seems like it would always work - certainly for us that would cause scalability concerns to add all the prom labels for every client.

The XDS requests contain metadata about the client in the `node` - there is arbitrary `struct` config as well as user agent, etc. So somewhere in there

[2021-08-02 18:17] roidelapluie commented on #9144
Hello,

This is indeed kuma-sd, within a package that can do XDS REST-JSON polling. Adding different types should be possible within the same go package -- if it supports the REST-JSON polling.

We went for HTTP polling for now because we are thinking about what we will do with our protobuf stacks, and I did not want a service discovery to interfere with this until we have a proper solution for th

[2021-08-02 19:09] csmarchbanks commented on #9115
I agree with Callum about flush-deadline, that should be in the config file for sure. The read ones seem reasonable to put in the config file to me, but I would also appreciate someone who uses remote read more than me to chime in.

[2021-08-02 23:54] LeviHarrison commented on #9088
There actually does seem to be a way to introduce a custom HTTP client that isn't too complicated:

https://github.com/terraform-providers/terraform-provider-azurerm/pull/2133/files

[2021-08-03 02:13] LeviHarrison commented on #9088
Given that #9145 doesn't seem to be adding the client, I can deal with it here.

[2021-08-03 08:48] fisdev6 opened #9149 "scrape_duration_seconds and scrape_samples_scraped are empty for some nodes"
Hello,

We have prometheus setup to scrape data from various wildfly instances,
For some of them, the up command give 0 ( node down ) information.

But some metrics are being extracted from those nodes !

When we look at the scrape_duration for those we also have values, and the scrape_sample_scraped is also giving 0

Is this something known ?

You can find attached, screenshots of the different c

[2021-08-03 08:49] SuperQ commented on #8310
`process_resident_memory_bytes` is not the correct metric to look at for these versions. This is due to the way Go marks memory free for the OS to use.

https://tip.golang.org/doc/go1.16#runtime

Upgrading to Prometheus >= 2.26.0 will change this behavior to make RSS more closely follow the real (`go_memstats_alloc_bytes`) memory usage of the process.

[2021-08-03 08:50] #8310 closed

[2021-08-03 10:51] #8876 closed

[2021-08-03 16:08] mandarjog commented on #9144
I think we may also need to tweak the api for simplicity.
EDS does not allow wildcard resource request. If not, the controlplane can choose to still implement a wildcard eds and specifically deltaEds.

[2021-08-03 18:45] alvinlin123 opened #9152 "Have a configuration=to limit the query response JSON size to prevent OOMKilled"
## Proposal
**Use case. Why is this important?**

The default `max_samples` is 50 million which, is about 800MB for the "domain model" where each sample point is about 16 bytes. But, if those 50 million sample points are translated into JSON; then, by my calculation, it would require 46GB to hold the serialized JSON in memory. So typically the host will go OOM while performing serialization. This

[2021-08-03 23:14] #9116 closed

[2021-08-03 23:18] roidelapluie commented on #9152
Thanks, we are streaming json in the API: https://github.com/prometheus/prometheus/pull/3536

[2021-08-04 00:47] LeviHarrison commented on #9149
The scrape duration is always reported, whether the target is up or not. I believe the reason why you're seeing some downed targets have a non-zero `scrape_samples_scraped` is that the target might have been up at some point, and is now down, while others may have always been down, and therefore have never had any samples scraped.

[2021-08-04 06:40] fisdev6 commented on #9149
Thanks for your reply,

When looking at the dashboard we have built using grafana, we do have metrics being fetched from those host wich have a 0 in the scrape_sample_scraped

[2021-08-04 06:58] roidelapluie commented on #9149
Can you please provide us relevant parts of your configuration, and a screenshot of the nodes in the targets page? Your Prometheus version would be useful too.

[2021-08-04 08:00] roidelapluie commented on #9142
Closed by #9143

[2021-08-04 08:00] #9142 closed

[2021-08-04 08:21] tonglsh opened #9153 "when i use the rfc3339 for a range-query,i losing some data."
What did you do?

when i use the rfc3339 for a range-query,i losing some data.

HttpRequest :
[code]
HttpResponse :
[code]
the firse date value in values is '1628038425.781' (（UTC/GMT+08:00）2021-08-04 08:53:45 )

the firse date value in values is ' 1628062575.781' (（UTC/GMT+08:00）2021-08-04 15:36:15 )

i lose the data from '2021-08-03 15:36:00 ' to '2021-08-04 08:53:44'

Another HttpRequet which u

[2021-08-04 08:29] tonglsh commented on #9153
i guess i have know why ,close it.

[2021-08-04 08:48] tonglsh commented on #9153
![image](https://user-images.githubusercontent.com/57531513/128151529-9fac45fb-57ca-4fbc-93c7-12f3ce71634b.png)
the losing data

[2021-08-04 09:01] roidelapluie commented on #9153
Thanks.

2021-08-03T15:36:00.781Z is 1628004960.781, not 1627976160.
2021-08-04T15:36:00.781Z is 1628091360.781, not 1628062560.

The Z means "Zulu time", which is UTC. it seems you are expecting it to be UTC+8.

[2021-08-04 10:00] tonglsh commented on #9153
got it, thanks.

[2021-08-04 10:00] #9153 closed

[2021-08-04 12:05] roidelapluie commented on #9139
Thanks for this. I have been speaking with other people and it sounds like it would open the door for event based monitoring, if you expose strings with timestamps, which prometheus is not. If it is an enum, you could also map the state to particular integers.

For a more in-deep decision, I will link this issue in our next developers summit talks (where anyone can participate) to have broader dis

[2021-08-04 15:03] roidelapluie commented on #9142
Can you please test the rc.1?

[2021-08-04 15:57] austince opened #9155 "`kuma_sd` does not report all targets"
**What did you do?**

Use the new `kuma_sd` to discover scrape targets.

**What did you expect to see?**

5 targets.

**What did you see instead? Under which circumstances?**

Only 1 target, which changes when the discovery reports new targets.

It looks like they are just being overwritten, likely because of the "Source" of all the groups is `"kuma"`, which is used as a key for targets in the man

[2021-08-04 16:08] roidelapluie commented on #9155
You will also need to send empty targetgroups for disappearing groups.

[2021-08-04 16:27] austince commented on #9155
Sounds good, I'll keep a cache of target group source names and diff on update.

[2021-08-04 20:20] sathyendrasaran opened #9156 "Calculating standardized cpu metrics requested by pods for an hour"
I am trying to find the  cpu requested by kubernetes pods rolled up to an hour
lets say we have an average cluster cpu allocatable as 10 cpu cores
pod 1 requests 5 cpu for 20 mins
pod 2 requests 5 cpu for 30 mins
pod 3 requests 5 cpu for  1 hr

now i have to find for an hour
how much cpu is occupied by pod 1 for that hour and likewise for pod 2 and 3
since pod 3 is occupies 5 cpu thoroughout that

[2021-08-04 21:27] gebn commented on #9142
@roidelapluie LGTM

[2021-08-05 05:33] codesome commented on #9156
Hi @sathyendrasaran, we use GitHub issues for development discussions. Please use our community channels for such questions which you can find here https://prometheus.io/community/

[2021-08-05 05:33] #9156 closed

[2021-08-05 07:43] roidelapluie commented on #9155
How do we get notified about deleted resources?

[2021-08-05 10:47] RichiH commented on #9139
I am aware that the below are not direct replies, but they still might be useful:
* OpenMetrics talks a bit about how to do ENUMs in Prometheus: https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#stateset
* Grafana Loki can store arbitrary strings and blobs, which can be queried with a language based on PromQL; and turn those queries into metrics

[2021-08-05 12:03] austince commented on #9155
The xDS server sends the entire "state of the world" with every response, so missing resources indicate their deletion. When they are deleted, the xDS server also invalidates the cache and its version, so subsequent requests will be sent the full update.

[2021-08-05 23:29] #9155 closed

[2021-08-06 07:33] kerossin commented on #6934
For us it started happening only just recently for some reason. We didn't really change anything, neither rules, nor targets. We were running 2.27.

Upgraded to 2.28, was ok for a day or two, then it gets OOM killed and now it can't start properly.

Any possible ways to reduce memory usage?

[2021-08-06 13:26] jsravn commented on #6934
@argvk what was the memory usage when it was OOMKilled? The profile here only shows a 240MB heap, so I'm not sure how useful this is.

[2021-08-06 16:45] amrit-35 opened #9166 "Option to disable security on Prometheus health endpoints, /-/healthy and /-/ready"
## Proposal
I am using Prometheus in kubernates, and recently enabled basic Auth with version 2.28. But it turn out Prometheus also enables security on health endpoints. Their is no way to safely provide credentials for liveness and readiness probe. Following works not really the safest option. I think we should have a option to disable security on these endpoints.

[code]

[2021-08-07 11:57] git-kundan commented on #9166
This could be a generic functionality to disable authentication on certain endpoints. Will need an additional option in  [web-config.yml](https://github.com/prometheus/exporter-toolkit/blob/master/web/web-config.yml) and corresponding [check in users.go](https://github.com/prometheus/exporter-toolkit/blob/7cd0e9032b5574fa5a5a4d324f7a64a69f290667/web/users.go#L61).

Should this issue be moved to th

[2021-08-07 13:33] bboreham opened #9169 "Deadlock in loadWAL()"
After #7438,  `loadWAL()` can hang when trying to process a duplicate series record.

Evidence:
[code]

This loop is waiting for input to be consumed:
https://github.com/prometheus/prometheus/blob/ee7e0071d10e795cb78a8e50764e45cbcaf8c29a/tsdb/head_wal.go#L232

while the consumer, `processWALSamples()`, is waiting to send a buffer for re-use:
https://github.com/prometheus/prometheus/blob/ee7e0071d1

[2021-08-07 15:47] thirdcountry opened #9172 "prometheus federation hava a bug"
montior link :
promtheus（central node）<- prometheus（federation node）-> job: node_exporter -> consul_sd_configs ->  some_node 172.1.1.1:9100

when some_node  port 9100 is down, central node consider federation node is down，and then whole federation node  is not available...

![FZVTXFDH)47 XMRMY3RZDPE](https://user-images.githubusercontent.com/49510674/128605818-2256fd11-0705-4593-9cb2-09dfe11f3ac7.

[2021-08-07 18:42] git-kundan commented on #9172
In a simple test set-up that I did, the central node always reported federated node as 'up' as long as it was running. This is because following params matches always succeed on a running federated Prometheus server.
[code]
I notice 'context deadline exceeded' error message in the screenshot. This could be due to the prom query failing for something specific in your environment. Please provide the

[2021-08-08 07:59] CloudWise-Lukemiao opened #9173 "who can give me advise。"
![image](https://user-images.githubusercontent.com/76942485/128625101-6017481e-ab34-427a-8b57-febf6725c269.png)
I am developing a third-party open source database, which is responsible for remote writing and reading of Prometheus. At present, the two files in the pictures I use are temporarily downloaded and copied to my project. My question is how to reference these two files in MVN, or is there

[2021-08-08 14:35] ArKam opened #9174 "Prometheus official prom/prometheus:latest container doesn't correctly substitute env variables."
## Description of the issue
When using a docker-compose that use both env_file and command directive to set and use inside container's variable, the container isn't able to correctly substitute variable.

## Context information (for bug reports)

**Output of `docker-compose version`**
[code]

**Output of `docker version`**
[code]

**Output of `docker-compose config`**
(Make sure to add the relevan

[2021-08-08 14:38] ArKam commented on #9105
I think that although could help anyone and still be in the Prometheus perimeter on --web.listen commands is to at least get a --web.listen.interface command in order to isolate your prometheus server listening while not having to know in advance about nic CIDR.

[2021-08-08 17:33] LeviHarrison commented on #9174
I think I found the problem. As you pointed out in the issue, using the following command prints the address as expected:

[code]

There is a difference between this and how Prometheus is started in the Docker file, it doesn't use a `bash` session.

https://github.com/prometheus/prometheus/blob/ee7e0071d10e795cb78a8e50764e45cbcaf8c29a/Dockerfile#L25

I'm pretty sure that environment variables are

[2021-08-08 19:44] navneet1075 commented on #6934
Encountered this with our setup today after 2 weeks with limits as 35GB of memory .

I have been monitoring our instance consistently since 2 weeks and the max wal size I observed was 10G. when prometheus is rescheduled due to some node disk pressure and gc trigger by kubelet , the wal replay kicks in and now it keeps on getting OOM .

we are using prometheus to do metering based on the metrics so

[2021-08-08 21:50] LeviHarrison opened #9175 "React UI: Pre-relabel labels extend offscreen and can't be seen"
**What did you do?**

I hovered over one of my targets with a particularly long list of labels.

**What did you expect to see?**

All the labels, or the ability to scroll down to see the rest of them.

**What did you see instead? Under which circumstances?**

The box of labels had extended offscreen. Conveniently, a scroll bar appeared, but as I scrolled down my pointer left the hover area, and th

[2021-08-09 08:20] jsravn commented on #6934
@navneet1075 I think if you can get a pprof heap dump during the WAL replay it would be super useful.

[2021-08-09 08:25] ArKam commented on #9174
Hi @LeviHarrison, thanks for the quick answer!

I unfortunately can't do that as they're dynamically created, our docker-compose is generic, but all environment variables injected into containers are a result of a jinja template.

What's really weird although is that when we use a --env-file docker-compose command in order to inject the env file from CLI it is correctly processed by the Prometheus

[2021-08-09 08:48] argvk commented on #6934
Ouch sorry about that @jsravn; I don't have that information due to our retention settings. I'll try to get a pprof the next time  prometheus OOMs.

[2021-08-09 08:53] jialanli opened #9176 "Prometheus reports an error EOF when sending alert to alertmanager"
**Related background：**
prometheus version :  2.28.1
alertmanager version:  0.22.2   (They are the latest version)

I used docker to build an alertmanager cluster (started the alertmanager cluster consisting of two instances), and started two prometheus services at the same time. At the beginning, the environment was normal and the alert emails were also received. It didn't take long for me to sta

[2021-08-09 09:29] jialanli commented on #9057
hi:
I also had a similar error, but it happened in the process of prometheus notifying alertmanager, please move: https://github.com/prometheus/prometheus/issues/9176
Do you have a solution to the error, what should I do, thank you very much

[2021-08-09 09:30] jialanli commented on #9057
hi:
I also had a similar error, but it happened in the process of prometheus notifying alertmanager, please move: https://github.com/prometheus/prometheus/issues/9176
It is urgent, do you have a solution to the error, what should I do, thank you very much

[2021-08-09 09:31] jialanli commented on #9057
hi:
I have a similar error, please move: https://github.com/prometheus/prometheus/issues/9176
It's urgent, do you have a solution to the error, what should I do, thank you very much

[2021-08-09 09:36] jialanli commented on #9057
I have the same problem. Is the configuration file or startup command incorrect? Please go to https://github.com/prometheus/prometheus/issues/9176 to view the detailed information. I have built a set of prometheus and alertmanager environments without involving the introduction of any code layer. At the beginning, both prometheus and alertmanager are running normally, and the alarm is also normal.

[2021-08-09 09:39] roidelapluie commented on #9176
Would you be able to teel us how many file descriptors are used by both processes?

[2021-08-09 09:46] navneet1075 commented on #6934
@jsravn thanks James . i did not do it for last time . for keeping system up i had to delete the entire wal and then restart the pods .  i will do the pprof analysis next time it goes into this state . i will also try running some load to bring this state sooner .

[2021-08-09 09:52] jialanli commented on #9176
node_exporter, prometheus, alertmanager occupy a total of 51 file descriptors

[2021-08-09 10:07] jialanli commented on #9176
![image](https://user-images.githubusercontent.com/76472970/128690556-37d90927-ec2d-4f5a-803e-488d1a77bf3e.png)
node_exporter, prometheus, alertmanager occupy a total of 63 file descriptors

[2021-08-09 10:21] morvencao commented on #9176
You don't have proxy between prometheus and alertmanager, right?
Have you tried to make the `evaluation_interval` to be larger value, for example `60s`?

[2021-08-09 10:25] jialanli commented on #9176
<img width="580" alt="企业微信截图_16285044752474" src="https://user-images.githubusercontent.com/76472970/128692600-2a261bb6-b2a0-4f3c-af5e-563d0b58815c.png">
The upper limit of the file descriptor is much larger than the current 63

[2021-08-09 10:26] morvencao commented on #9057
In my case, I have proxy between prometheus and alertmanager. I made some changes to the proxy settings to timeout of closing idle connection, it mitigated the issue but not resolve this, still looking for a better solution.

[2021-08-09 10:30] jialanli commented on #9176
I don't set proxy between prometheus and alertmanager； The same error remains after changing evaluation_interval to 60s

[2021-08-09 10:31] jialanli commented on #9176
I don't set proxy between prometheus and alertmanager，all operations are in https://github.com/prometheus/prometheus/issues/9176； The same error remains after changing evaluation_interval to 60s

[2021-08-09 10:38] jialanli commented on #9057
Can you leave the WeChat id contact information, we seem to be closer，  happy

[2021-08-09 12:56] roidelapluie commented on #7588
hello @JensErat

Could you test Prometheus 2.29 with a non-empty PROMETHEUS_COMMON_ENABLE_HTTP2 environment variable?

e.g. `PROMETHEUS_COMMON_ENABLE_HTTP2=1`

We have implemented the change but it is hidden for now.

[2021-08-09 12:57] roidelapluie commented on #8143
hello @gburek-fastly

Could you test Prometheus 2.29 with a non-empty PROMETHEUS_COMMON_ENABLE_HTTP2 environment variable?

e.g. `PROMETHEUS_COMMON_ENABLE_HTTP2=1`

We have implemented a fix for this but HTTP2 support is hidden for now.

[2021-08-09 13:11] roidelapluie commented on #9105
Hello,

That solution would raise a lot of other questions and practical issues. Should we listen to all the addresses of that NIC? What if the address of the NIC change? Should we switch listen addresses on reload? How to deal with in progress connections, or
 ongoing connection pool, like remote read? Should we listen to the link local IPv6 addresses of that NIC?

[2021-08-09 13:28] LeviHarrison commented on #9068
Here are two with and without HTTP/2. Hopefully, they have all the information needed, if not please let me know.

[tcpdumps.zip](https://github.com/prometheus/prometheus/files/6954824/tcpdumps.zip)

[2021-08-09 13:41] bboreham opened #9178 "Remote-write should clear backlog much faster than 100 seconds"
## Proposal
Remote-write should try to make up time faster, by putting more weight on the backlog of un-sent samples.

Here, we first compute a coefficient of 0.1 divided by the sharding tick, which is 10 seconds, or 1/100, then apply this to the number of pending samples:
https://github.com/prometheus/prometheus/blob/e8663a4eacd310f403ebf5ce492494652dd69379/storage/remote/queue_manager.go#L830-L8

[2021-08-09 13:48] navneet1075 opened #9179 "prometheus readiness probe keeps on failing"
**What did you do?**
i did deployment of prometheus 2.27.1 .

**What did you expect to see?**
prometheus server up and running .

**What did you see instead? Under which circumstances?**

prometheus  container keep on restaring with readiness probe failures .

[code]

[code]

the readiness is configured like this
    Readiness:  http-get http://:web/-/ready delay=100s timeout=3s period=5s #success

[2021-08-09 15:14] LeviHarrison commented on #9179
The `/-/ready` endpoint returns a `503` when the TSDB hasn't finished starting, in which the loading of the WAL is usually what takes the longest. If the instance is ingesting lots of samples, this can take a while. It's possible that there's an actual issue with Prometheus, but I suspect that it's just normal latency.

If you could please provide logs from the container that would help us determi

[2021-08-09 15:37] navneet1075 commented on #9179
@LeviHarrison thanks. unfortunately I lost the data as this was happening for a extended period and I had to clear pvcs's to get the system up and running as we are using metrics for our metering calculation.  Ideally , the container should not restart in this process.  it does not make sense to do a readiness check immediately  when we know for a fact that starting TSDB will take longer time .  I

[2021-08-09 15:41] roidelapluie commented on #9179
Can you provide the logs from the container? Thanks.

[2021-08-09 17:48] navneet1075 commented on #6934
@jsravn we had this issue earlier again and allthough i could not do pprof in time ,i did get some snapshot from dynatrace for memory spikes for prometheus during WAL replay .see the spike .

<img width="379" alt="Screenshot 2021-08-09 at 19 47 05" src="https://user-images.githubusercontent.com/6396611/128750575-e2a53a81-b344-4225-84a3-f1aedf932609.png">

thats shooting from around  3.54GB.

<img

[2021-08-09 18:14] navneet1075 commented on #6934
i was also wondering how come in normal situations as well the usage is around 20GB memory . for example when i do

du -ch * on the prometheus data directory on a instance i see the usage as   :

[code]

but if i see the memory usage of prometheus at the same time its around  20 GB .
<img width="1641" alt="Screenshot 2021-08-09 at 20 11 52" src="https://user-images.githubusercontent.com/6396611/12

[2021-08-09 18:17] cstyan commented on #9178
Open to any way you or @csmarchbanks think is a reasonable improvement, the sharding calculation has always been a bit over my head.

Maybe either the integral calculation or the overall sharding calculation should weight the delay value more heavily, more like an exponential increase with delay rather than just linear?

[code]
Include delay somewhere in here :point_up:  or here :point_down: ?
[co

[2021-08-09 20:17] LeviHarrison commented on #9174
Yeah, I saw that and I'm not really sure what's going on there. But, I think the conclusion still stands, If you want to have environment variables inlined at runtime you have to use some sort of shell in the entrypoint.

[2021-08-09 21:20] #8788 closed

[2021-08-09 23:14] csmarchbanks commented on #9178
Changing the integral gain will change the 100s deadline proportionally, and is one way we could approach this. It does also mean that we could end up resharding more often, potentially in an oscillating manner. If we add to much gain we could get something that looks like k=1.6 in https://en.wikipedia.org/wiki/PID_controller#/media/File:PID_varyingP.jpg. Happy to see some experiments run for this

[2021-08-10 00:53] LeviHarrison opened #9181 "React UI: Update Flot license headers"
Now that Grafana's Flot fork is licensed under MIT (https://github.com/grafana/grafana/pull/36442), we should update the license headers in the vendored code to reflect that.

Currently, the header is the following:

[code]

In https://github.com/prometheus/prometheus/pull/8977, multiple solutions were discussed, which at the time were to improve the Apache header because the MIT relicensing hadn'

[2021-08-10 02:48] jialanli commented on #9176
<img width="1241" alt="企业微信截图_16285631355736" src="https://user-images.githubusercontent.com/76472970/128800639-a91167c6-e060-4533-ae62-edd792370898.png">
<img width="1254" alt="企业微信截图_16285630423186" src="https://user-images.githubusercontent.com/76472970/128800638-df85b18f-14fa-43d8-873e-13e6860f1b37.png">

I modified the notifier.go code and re-compiled and run it with the new code. The change

[2021-08-10 06:21] hs02041102 opened #9182 "remote write filesystem data disorder"
**What did you do?**
we use remote write and nodeexporter to forward data to other system。but we find that filesystem  is error.
the value and mountain of one host is others.
![BEF7DC17-7C9E-4b17-A8C9-AC41ED481607](https://user-images.githubusercontent.com/88703291/128817630-06e1f017-de67-4a5f-a66c-128b3ba2c005.png)
![23B5C07C-A3F2-4944-8B3E-09CC54449D67](https://user-images.githubusercontent.com/

[2021-08-10 08:02] #9169 closed

[2021-08-10 08:04] ArKam commented on #9174
Yep, I actually solved that by conditionally call for --env-file for now but in the end I think I'll end up doing my own container.
I wanted to use the official tiny container as it's pretty much a real container as envisioned by docker and as standard and small as it can be, but meh, I guess that we can't get everything at the same time :D

Thanks a lot for the help!

[2021-08-10 08:04] #9174 closed

[2021-08-10 08:25] codesome commented on #9173
Hi @CloudWise-Lukemiao, we use GitHub issues to tracks bugs/features of Prometheus project. Please use our community channels for such questions https://prometheus.io/community. (PS: your question is more about proto handling in MVN, so Prometheus community might not be the best place for this question)

[2021-08-10 08:25] #9173 closed

[2021-08-10 08:35] codesome commented on #9182
We use GitHub issues to track Prometheus development. Please use our community channels for usage questions which you can find here https://prometheus.io/community/.

[2021-08-10 08:35] #9182 closed

[2021-08-10 08:49] hakanqq66 commented on #5976
level=info ts=2021-08-10T08:38:15.183Z caller=main.go:389 msg="No time or size retention was set so using the default time retention" duration=15d
level=info ts=2021-08-10T08:38:15.183Z caller=main.go:443 msg="Starting Prometheus" version="(version=2.28.1, branch=HEAD, revision=b0944590a1c9a6b35dc5a696869f75f422b107a1)"
level=info ts=2021-08-10T08:38:15.183Z caller=main.go:448 build_context="(go=g

[2021-08-10 09:23] #8638 closed

[2021-08-10 12:35] navneet1075 commented on #9179
@roidelapluie I see the container is restarting again and again today as well.

[code]

before starting I keep on seeing readiness probe failed with 503 errors . now I can understand that when there is start then the pod oscillates for some time and starts properly when the WAL is loaded . but this keeps on happening after again after 25 minutes which I don't understand .

prometheus-prometheus-op

[2021-08-10 12:44] roidelapluie commented on #9179
level=info ts=2021-08-10T12:29:15.231Z caller=main.go:775 msg="Server is ready to receive web requests."

After this log line, prometheus should never serve a 503.

[2021-08-10 12:47] navneet1075 commented on #9179
Yes indeed . but again after some time it happens and the container restarts  . as you can see at 26m and 35m

[2021-08-10 13:00] LeviHarrison commented on #9179
So there must be something that's causing the instance to restart because there's literally no logic go back to the `503`. It's impossible.

Do you have logs around the time the endpoint supposedly starts to return `503` again?

[2021-08-10 13:15] navneet1075 commented on #9179
[code]

[2021-08-10 14:02] navneet1075 commented on #9179
I will wait for it to happen again and then see the logs and attach here

[2021-08-10 14:50] #8849 closed

[2021-08-10 17:10] LeviHarrison commented on #9175
We also might want to consider changing how we display labels.

[2021-08-10 17:25] roidelapluie commented on #9152
Hello,

We could try to use a jsoniter EncoderStream or Encoder in a pull request to take a better decision, and maybe then try to have some benchmarks. Are you willing to open such a pull request?

Thanks!

Also pinging @pracucci for the cortex side.

[2021-08-10 17:26] roidelapluie commented on #9166
Thank you, I think we could maybe have an excludeEndpoint configuration option in the web.yml, but I feel like we should discuss this more broadly on the [developers mailing list](https://groups.google.com/forum/#!forum/prometheus-developers), because e.g. the pushgateway might want to go one step further and even have per-path authentication.

[2021-08-10 17:26] roidelapluie commented on #9172
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-08-10 17:26] #9172 closed

[2021-08-10 17:26] roidelapluie commented on #9175
cc @juliusv what's your take here?

[2021-08-10 19:33] juliusv commented on #9175
@LeviHarrison You are talking about the tooltip that shows the pre-relabeling target labels, right? Are the "normal" target labels in the table displayed fine otherwise (I couldn't see a problem with those)?

[2021-08-10 19:34] LeviHarrison commented on #9175
Yes. Sorry, I should have clarified that.

[2021-08-10 19:35] juliusv commented on #9175
Yeah, we could have little exander button in that table cell to show the pre-relabel labels? That would also help in general for folks who want to copy-and-paste something from them.

[2021-08-10 19:38] LeviHarrison commented on #9175
That would be awesome.

[2021-08-10 19:50] juliusv commented on #9175
The only thing I don't like about that is the space that kind of button would use: if we put it on the same line, the text "show pre-relabeling labels" would use a lot of horizontal space, whereas if the button was under or over the normal target labels, it would make most target rows (where all labels fit on one line) twice as tall or so. Maybe we could put it on the same line as the labels, but

[2021-08-10 20:00] LeviHarrison commented on #9175
Maybe something like this:

![image](https://user-images.githubusercontent.com/54278938/128926861-1c8e7700-f185-4dd8-841a-197eaece6c58.png)

[2021-08-10 20:05] juliusv commented on #9175
That would suggest that some of the normal target labels are hidden and need to be expanded... whatever icon (or other means) we use should make it clear that the action shows a different set of labels, not just completing the existing ones.

[2021-08-11 00:12] roidelapluie commented on #9040
Closed as fixed in #9119

[2021-08-11 00:12] #9040 closed

[2021-08-11 00:13] roidelapluie commented on #9175
Let's find a solution that does not make #6881 worse.

[2021-08-11 01:33] tomasgareau opened #9187 "Docker Swarm SD does not add container labels as __meta_dockerswarm_task_label_<labelname>"
**What did you do?**
Based loosely on the [dockerswarm SD documentation](https://prometheus.io/docs/guides/dockerswarm/#monitoring-containers), I tried to set up service discovery with a small tweak: using _task labels_ rather than _service labels_.

Example docker-stack.yml:
[code]

And the associated `prometheus.yml` -- this is directly copied from [Prometheus documentation](https://prometheus.i

[2021-08-11 07:57] gowrisankar22 commented on #8862
@RichiH @roidelapluie any idea when #9093 will be merged. At the moment branch has conflicts.

[2021-08-11 08:44] roidelapluie commented on #9187
It seems that we do not use that field, indeed. When I coded the SD, I just "dumped" the docker API into Service Discovery. I think we should have extra meta labels for container labels.

[2021-08-11 11:05] sebastianbrosch opened #9190 "Docker container with Prometheus 2.29.0 not running on a Raspberry Pi"
**What did you do?**

I tried to upgrade Prometheus from version 2.28.1 to version 2.29.0 on a Docker stack on a Raspberry Pi. I also tried to run Prometheus with Docker directly (no stack, no docker-compose) using [this command (just changed IP and port)](https://github.com/prometheus/prometheus#docker-images):

running:
[code]
not running (Status: Exited (2) - after a few seconds):
[code]

**Wha

[2021-08-11 11:33] roidelapluie commented on #9190
Sounds like:

https://github.com/golang/go/issues/36606
https://pkg.go.dev/sync/atomic#pkg-note-BUG

[2021-08-11 11:33] roidelapluie commented on #9190
cc @codesome

[2021-08-11 11:56] roidelapluie commented on #9190
I have open https://github.com/prometheus/prometheus/pull/9192 to fix this issue and we will release a bugfix shortly.

[2021-08-11 12:23] slashpai opened #9194 "Prometheus query return metrics result for the future time"
**What did you do?**

Search any metric from prometheus UI (Classic UI as well as New UI),  click the **Evaluation time** field, change the time to future time (Time now+5 minutes)

or through curl using http api it by providing a future timestamp upto 5 minutes from current time

**What did you expect to see?**

Query shouldn't return any result for future timestamp

**What did you see instead? U

[2021-08-11 12:49] LeviHarrison commented on #9194
Weird, I can confirm.

[2021-08-11 12:53] LeviHarrison commented on #9194
After asking in IRC, it seems that this is [expected behavior](https://prometheus.io/docs/prometheus/latest/querying/basics/#staleness) (thanks @brian-brazil).

[2021-08-11 13:04] slashpai commented on #9194
Thank you for the quick response @LeviHarrison :) https://prometheus.io/docs/prometheus/latest/querying/basics/#staleness doesn't clearly says about future time

[2021-08-11 13:10] LeviHarrison commented on #9194
I think this explains the behavior. `go_goroutines`'s last sample was collected now, and as we move the evaluation time forward it will still show up until we go beyond the 5-minute mark.

[2021-08-11 15:02] clux opened #9195 "Promtool could support reading PrometheusRule input"
**Use case. Why is this important?**

Currently, to use `promtool` on a gitops style repo, people have to extract the `.spec` from `PrometheusRule` files to create temporary files to then check.

It's not super hard to work around, but requires something like [`yq`](https://github.com/kislyuk/yq), and temporary file usage:

[code]

Would you be open to a PR that speculatively reads the file as yam

[2021-08-11 15:09] LeviHarrison commented on #9179
Yes, a query is causing using up too much memory, causing the pod to crash due to OOM.

I think it might be:

[code]

which we saw in the startup logs.

[2021-08-11 15:40] #9194 closed

[2021-08-11 15:44] roidelapluie commented on #9195
Also, I would expect that in a "gitops" repo, you use a templating system that enables you to deduplicate the rules yaml from the pure kube "enveloppe".

[2021-08-11 15:44] roidelapluie commented on #9190
Closed in #9192

[2021-08-11 15:44] #9190 closed

[2021-08-11 15:50] roidelapluie commented on #8862
https://github.com/prometheus/prometheus/pull/9127 has been merged. For the k8s dependecies, I do not think the claim is correct.

[2021-08-11 15:50] #8862 closed

[2021-08-11 16:08] tomasgareau commented on #9187
I'm not 100% familiar with the Swarm API & I've found it difficult to find information on how exactly "task labels" are intended to be used, so take this comment with a grain of salt.

The clearest reference I can find to "task labels" in docker/swarmkit is a comment in a test that seems to suggest that task labels are "reserved for the system": https://github.com/docker/swarmkit/blob/17d8d4e4d8bd

[2021-08-11 17:01] clux commented on #9195
Yeah, there are workarounds here, they just all require some fiddling everywhere (sometimes all you have is the pure kube yaml, sometimes you want to test your generated output before merging prs).

Anyway, not essential, and I guess this is more in `prometheus-operator`'s purview anyway. Closing.

[2021-08-11 17:01] #9195 closed

[2021-08-12 02:21] LeviHarrison commented on #419
To be clear, we're going with the approach of inferring the unit based on `_milliseconds`, `_seconds`, `_minutes`, and so on in the metric name, right?

[2021-08-12 02:22] LeviHarrison commented on #376
Is this still valid?

[2021-08-12 03:37] darshanime commented on #419
cmiiw, this should be addressed by https://github.com/prometheus/prometheus/pull/9138?

[2021-08-12 08:43] tksm opened #9199 "Kubernetes SD fails to discover Ingress in Kubernetes v1.22"
As of Prometheus v2.29.1, [Kubernetes SD uses the `networking.k8s.io/v1beta1` Ingress API](https://github.com/prometheus/prometheus/blob/v2.29.1/discovery/kubernetes/kubernetes.go#L495) that is deprecated in Kubernetes v1.19. The `networking.k8s.io/v1beta1` Ingress API was [removed in Kubernetes v1.22](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#removal-of-seve

[2021-08-12 12:08] roidelapluie commented on #9152
Well, I think we could continue to use jsoniter up to when we write the result.

The decision and benchmark refers to our Pull request template: Performance improvements would need a benchmark test to prove it.

I think we might be in a situation a bit more error-prone, so we would need to see if there is a real benefit to this approach. Benchmarks would help.

[2021-08-12 12:54] LeviHarrison commented on #419
I don't think it handles the comparisons, i.e. `time() - last_success_time > 13h`.

[2021-08-12 13:12] roidelapluie commented on #419
No. the unit will always be seconds.

[2021-08-12 13:30] roidelapluie commented on #419
Scalars should always be seconds, we should not try to guess a unit.

[2021-08-12 13:32] roidelapluie commented on #419
The name would not work in many situations, might be wrong, missing, or hidden (_ms instead of _millisecond), and you would need advanced logic to deal with subqueries.

[2021-08-12 15:50] LeviHarrison commented on #9199
We could use https://pkg.go.dev/k8s.io/client-go@v0.22.0/discovery#ServerSupportsVersion to check if the server supports `networking.k8s.io/v1`, and if not use the beta.

[2021-08-12 16:36] juliusv commented on #376
I guess something along those lines could still make sense, but maybe as part of a more general better metrics exploration interface story than just something geared around targets.

[2021-08-12 22:42] tksm commented on #9199
In the case of Endpoint and EndpointSlice, CoreDNS's Kubernetes plugin determines which endpoint object type to watch (Endpoint or EndpointSlice) based on the Kubernetes version and the supportability.

- https://github.com/coredns/coredns/blob/v1.8.4/plugin/kubernetes/kubernetes.go#L260-L269
- https://github.com/coredns/coredns/blob/v1.8.4/plugin/kubernetes/kubernetes.go#L304

[2021-08-13 01:40] keiransteele commented on #5738
For anyone coming here from Google, role_arn does work, see this article for setting up cross account discovery https://jarodw.com/posts/prometheus-ec2-sd-multiple-aws-accounts/

You need a role in the target account with AmazonEC2ReadOnlyAccess or similar and a trust relationship with the account your Prometheus instance is in. On the Prometheus instance role, you need a policy that allows it to

[2021-08-13 06:02] jackwener commented on #9130
/help

[2021-08-13 06:02] jackwener commented on #9130
/assign

[2021-08-13 06:39] jackwener commented on #8907
Maybe I can try to fix it.

[2021-08-13 06:53] sebastianbrosch commented on #9190
@roidelapluie I tested the Docker command and upgrade on Docker stack. Both are running now with v2.29.1. Thank you!

[2021-08-13 07:41] princeliang commented on #6139
[WebmasterChecklist.pdf](https://github.com/prometheus/prometheus/files/6980686/WebmasterChecklist.pdf)
prometheus really down

[2021-08-13 09:59] juliusv commented on #9130
@aiyengar2 Thanks for reporting this, you're totally right, and it's broken also without a proxy! Fix PR: https://github.com/prometheus/prometheus/pull/9202

[2021-08-13 16:10] #9130 closed

[2021-08-13 19:42] dlisin commented on #9052
I also spent a lot of time today, trying to understand why kubeconfig_file discovery does not.
It would be really great if prometheus can automatically retrieve tls & auth information from provided kubeconfig

[2021-08-15 08:19] candlerb opened #9204 "React UI: insufficient significant digits in Y axis labels over small range"
**What did you do?**

In the PromQL React UI, gave a PromQL expression where the Y values are over a small range, then view as a graph.

To replicate: e.g. `foo < 0.10 > 0.096` or `foo < 0.11 > 0.096`

**What did you expect to see?**

Each Y-axis label should be distinct, with sufficient significant digits to distinguish them.  e.g.

* 0.096
* 0.097
* 0.098
* 0.099
* 0.100
* 0.101

**What did you

[2021-08-16 07:11] zhucanhong opened #9206 "Does prometheus support okta OAuth2 this authentication login method"
Does prometheus support   okta OAuth2   this authentication login method ?

[2021-08-16 09:06] bboreham commented on #9206
Please go back to the "New issue" page and follow the link at "If you need help or support, please request help [here](https://prometheus.io/community/)."

[2021-08-16 09:31] bboreham opened #9207 "Stop remote-write flapping between two shard counts"
I took this screen grab to illustrate: shards is flapping from 2 to 3 and back again, as the lag between queued data and sent data grows and falls.  Round-trip latency is broadly flat over the period.

![image](https://user-images.githubusercontent.com/8125524/129541393-fd6f0899-d937-43d4-a722-a68334bd2445.png)

I see that when desired-shards moves from 2.01 to 1.99 this triggers an instant shard-

[2021-08-16 13:11] paulfantom commented on #9199
AFAIK kubernetes client library should still have `networking.k8s.io/v1beta1` definition till 0.25 (k8s 1.25) so implementing logic from coredns example makes sense for the next year or so. After that time API should be dropped from the client library and prometheus will need to drop support for Ingresses pre k8s 1.19 to keep the client library up-to-date.

[2021-08-16 17:18] bboreham opened #9210 "Allow duplicate samples matching last 4"
When using remote-write, it may happen that a write request is received, but the sender does not receive the acknowledgement and re-sends it.

Currently Prometheus checks if a sample duplicates the last one received, and silently discards the duplicate (returns nil) in that case:
https://github.com/prometheus/prometheus/blob/bb05485c79084fecd3602eceafca3d554ab88987/tsdb/head_append.go#L296-L301

H

[2021-08-16 17:32] beorn7 commented on #8551
I guess if there is an actual need to inline keys (or even certs), then we can just offer it. My impression was that @roidelapluie was opposed to offering the feature merely for consistency reasons without anyone having ever asked for it.

[2021-08-16 17:52] roidelapluie commented on #8551
Yes I am opposed to it. Secrets are multi line and just the standard is to keep them away in separated files. Multi line in YAML is something I really want to avoid.

[2021-08-16 18:03] beorn7 commented on #8551
Then let's just separate things and really just enable reading secrets from files as part of this issue.

Inlining secrets that can only be read from files right now is then a separate topic to discuss later.

[2021-08-17 06:35] princeliang commented on #6139
[日志1.tar.gz](https://github.com/prometheus/prometheus/files/6997509/1.tar.gz)
[日志2.tar.gz](https://github.com/prometheus/prometheus/files/6997581/2.tar.gz)

[code]
问题描述

[2021-08-17 06:51] princeliang commented on #6139
[日志1.tar.gz](https://github.com/prometheus/prometheus/files/6997666/1.tar.gz)
[日志2.tar.gz](https://github.com/prometheus/prometheus/files/6997667/2.tar.gz)
[code]

[2021-08-17 07:15] codesome commented on #9210
I think I am not clear what we are trying to achieve. Duplicate sample means the value changes while timestamp is same, and Prometheus remote writing won't cause that, it will be the same value. It will mostly have out of order samples from what you just described.

[2021-08-17 07:36] renchili commented on #6139
please use ascii en as formal language in global project thanks

1 how to split prometheus while when we need do promQL with agv or a / b.
2 increasing cpu by how i already running on a 64core silver brand prometheus which is very expensive. needs higher clock frequency or more cores? or needs more slots? your answer is too fuzzy and too wide. not help to this topic

[2021-08-17 07:38] renchili commented on #6139
Thanks a lot for your reply, this issue seems is due to golang language nature behaviour needs to improve from side operation system level, provide more i/o time to prometheus service when load is too high.

This means something hit the bottle neck of golang programming but not yet be corrected

[2021-08-17 08:28] yangxinyi8 opened #9211 "(prometheus web)when delete monitoring object ,Status-Targets always exist"
**What did you do?**
I  delete all monitoring object and execut hot reload.but prometheus web Status-Targets always exist
**What did you expect to see?**
prometheus web Targets are deleted.
**What did you see instead? Under which circumstances?**

**Environment**
prometheus V2.19.0
* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --ve

[2021-08-17 08:32] bboreham commented on #9210
I mean to return nil if the timestamp and value are an exact match of one of the last four received.

[2021-08-17 12:01] codesome commented on #9210
So basically do not send "out of order" if it is within the last 4 samples. I have seen out of order messages regularly with remote write because of the issue that you mentioned, so this check for last 4 samples should be acceptable iff it is a exact match.

[2021-08-17 15:08] bboreham commented on #9210
Yeah, me too; I'm trying to figure out how they come about.

I still struggle to believe this particular cause is common.  Maybe I got the math wrong?

[2021-08-17 15:12] adonaiarruda commented on #7303
Any update? I am facing the same issues here.

[2021-08-17 15:21] jtorkkel opened #9214 "Remote write duplicate/out of order drops also valid timeseries and does not report error details"
**Current behavior:**

Multiple Prometheus instances are collecting metrics on DMZ  and sending them trough remote write to single Prometheus acting as remote write receiver in private network. Remote write is used to metrics collection to avoid scraping from private network.

Sometimes there might be incorrect scraping configuration, for example missing unique labels from the collector Prometheus

[2021-08-17 16:09] chenlujjj opened #9215 "Provide metric of (useless) alert rule count"
## Proposal
**Use case. Why is this important?**
1. We want to monitor the total count of alert rules and ,
2. monitor the count of stale or useless alert rules and then delete them to reduce the computation activity of prometheus. In our use case, the alert rules which have been always evaluated as “nodata” are considered as useless.

[2021-08-18 02:03] akamensky commented on #8884
It looks like it is not working even in latest version.

We are using `remote_write`, but Prometheus just HAS to write locally. We ran out of disk space first on `/data` partition that got filled with WAL in 2.29.1, then on `/var` that got filled by prometheus spamming logs.

*fresh after cleanup of all the disk space here is what I see*

[code]

[code]

[code]

*and it keeps growing*

[2021-08-18 03:38] akamensky opened #9217 "Local storage limits are not working when using remote_write as primary persistent store"
**What did you do?**
Running Prometheus 2.29.1 (same happens in 2.25.0) with InfluxDB as primary persistent store. CLI arguments (see below) limit local storage to 250 MB or 30 minutes.

**What did you expect to see?**
Local storage grows to **maximum** of 250 MB.

**What did you see instead? Under which circumstances?**
Prometheus used all disk space in designated partition (say /data), then it u

[2021-08-18 09:24] Dentrax opened #9218 "consider clarify "Out of order sample from remote write" error (remote-write-receiver feature enabled)"
**What did you do?**

We just enabled the [remote-write-receiver](https://prometheus.io/docs/prometheus/latest/feature_flags/#remote-write-receiver) feature flag. And set a `remoteWrite` URL (with some additional target_label(s)) in order to write to `/api/v1/write` endpoint from _another_ prometheus:

[code]

[code]

**What did you expect to see?**

.

**What did you see instead? Under which circ

[2021-08-18 16:08] 1093358332 opened #9220 "Alarm refresh"
**What did you do?**
I use Prometheus. Due to resource problems, some indicators always reach the alarm threshold

**What did you expect to see?**
I hope that some alarms will continue to be reported without interruption

**What did you see instead? Under which circumstances?**
After a period of time, some of the alarms were interrupted, and the alarm was re-alerted a few minutes later. In this pr

[2021-08-18 16:52] BegoniaGit opened #9221 "When I remove the job, the data still lasts for about 5 minutes"
prometheus version:  2.21.0

After I removed the job from `prometheus.yml`, and verified that the job was removed on the prometheus Web UI, the dashboard data still lasted about 5 minutes.

I wonder if this is a bug or a special design and if it has anything to do with the TSDB.
thanks.

![image](https://user-images.githubusercontent.com/34222824/129940095-58d7db86-d5e2-4c2e-b8e6-b67f0dccbde5.png)

[2021-08-19 00:49] LeviHarrison commented on #9221
I believe that is expected behavior.

From https://prometheus.io/docs/prometheus/latest/querying/basics/#staleness:

This is being tracked in #4966.

[2021-08-19 06:40] roidelapluie commented on #9221
This should not happen if you just query a metric, unless the metric was exposed with a timestamp. Can you please provide us more details? (Scrape config, does the metric expose a timestamp, which query did you run?)

[2021-08-19 08:11] roidelapluie commented on #9220
Thanks for your report. It looks as if this is actually a question about usage and not development.

It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are

[2021-08-20 05:15] codesome commented on #9214
Hi @jtorkkel

You seem to have answered your own question. For Prometheus, only the label-values on the series matter to identify a series. So if multiple sources are emitting the same labels, you need to add unique labels for each source Prometheus as you mentioned. There is nothing the Prometheus accepting remote-write can do here.

This is something that can be done as enhancement though

[2021-08-20 07:56] codesome commented on #8884
@akamensky the size retention only deletes persistent blocks since it is not feasible performance wise to do it with WAL/Checkpoint. The minimum space require is the space taken by `/wal` + `/chunks_head` (this will peak once every 2 hrs and the peak should be within a small range if the series remain same).

[2021-08-20 08:11] codesome commented on #9217
https://github.com/prometheus/prometheus/issues/8884#issuecomment-902508495

The the retention duration cannot be less than the min block duration, which is 2h, because the in-memory part (the Head block) works in batches to flush the data to disk (and hence skip the block because of being beyond the retention)

[2021-08-20 09:19] akamensky commented on #9217
Then what is the point of even having size limiting options if they cannot limit the size. Systems where remote storage is used may have very limited disk capacity. Systems with very high number of metrics (ours is the case of this) will consume disk space very quickly, 2 hours can be gigabytes of data.

I would even go one step further and question why does it need to write locally at all if remo

[2021-08-20 10:44] gouthamve opened #9225 "Limits on the number of alerts generated by a rule"
We have a customer with a faulty rule that generated 30K alerts from a single rule. Now this makes the `/api/v1/rules` API nearly impossible to use with 15MB+ of data. We have scrape time limits on the samples we scrape, but I think we should also have limits on the number of samples each rule evaluation generates.

[2021-08-20 10:51] bboreham commented on #9225
Ref https://github.com/cortexproject/cortex/issues/1396

[2021-08-20 13:00] codesome opened #9228 "Include exemplars in snapshot"
Else if snapshots are enabled, you might lose all the exemplars on a restart. This should be fixed before the next release.

[2021-08-20 15:06] LeviHarrison commented on #9225
This would just be a separate query engine `MaxSamples` limit for alerting rules, right?

[2021-08-20 15:12] gouthamve commented on #9225
`MaxSamples` is on the input data and I am thinking of a new limit for the output of the alerting rules.

[2021-08-20 15:32] LeviHarrison commented on #9225
Yes, I suppose enforcing a limit on `active` alerts (which I believe is the correct output slice) makes more sense. Would we log a warning and send the alerts up to the limit, or error and send none at all? It seems unexpected to completely ignore all alerts if there are too many, but I don't think log line is noticeable enough. Maybe a new alert state, something like `exceeded`?

[2021-08-20 15:38] gouthamve commented on #9225
I think we should send the alerts up to the limit. But also, this would mean a "failed evaluation" and the error would show up in the UI and alert would be triggered by the mixin.

[2021-08-20 15:50] LeviHarrison commented on #9225
Should we set the `state` to `HealthBad` or leave it at `HealthGood`? I'm inclined to say `HealthBad` because something is not right.

In order to trigger an alert in the mixin we have expose a new metric, like `rule_evaluation_alerts_exceeded_total`.

[2021-08-20 15:54] gouthamve commented on #9225
We will set it to Bad. I think we can get away with incrementing `prometheus_rule_evaluation_failures_total`

[2021-08-20 16:05] LeviHarrison commented on #9225
Sounds good! I can work on this.

[2021-08-20 17:54] cstyan commented on #9218
I honestly don't know how the helm chart deploys prometheus. If it's deploying an HA pair and you aren't adding external labels to differentiate between each of those prometheus instances then out of order errors would be expected in the remote write receiving prometheus since all the series from the two sending prometheus instance would have the exact same label sets.

[2021-08-20 17:59] cstyan commented on #9217
The short answer is that because this isn't an intended use case of Prometheus.

https://github.com/prometheus/prometheus/pull/8785 implements a WAL only (no persistent blocks storage) agent intended for remote write only deployments, but in the mean time you could also try the [Grafana Agent](https://grafana.com/docs/grafana-cloud/agent/) which the Prometheus agent work is based on.

[2021-08-20 18:00] cstyan commented on #9214
This is the expected behaviour, since Prometheus' remote write receiver treats the whole remote write batch as if it was scrape data.

[2021-08-20 18:17] cstyan commented on #9207
The only problem could be when users have set queue configs that will result in them only ever needing a small amount of shards, and where sharding up or down by one shard changes throughput a lot.

[2021-08-20 18:46] jtorkkel commented on #9214
Thanks,

Fully understand that dropping full packet is by design.

However detecting errors is very painful at the moment and would be great if improved.

Now errors can be seen only from logs which cannot be easily checked without admin access, metrics would allow creation of alert and UI would allow quick check if sending/receiving works as expected.

These could be improved
- error logging firs

[2021-08-20 19:30] cstyan commented on #9214
There are metrics for the appending of the samples to the tsdb head: https://github.com/prometheus/prometheus/blob/main/tsdb/head_append.go#L257-L263

I think improved logging would require changing the error definition + tsdb code. Not sure how we'd want to expose or track this, our convention is usually to return the last seen error not the first one.

These systems handle receiving of remote wr

[2021-08-20 19:33] bboreham commented on #9207
Going _up_ by one would be allowed.

[2021-08-22 10:13] BegoniaGit commented on #9221
thank you very much, the `https://prometheus.io/docs/prometheus/latest/querying/basics/#staleness:` is very useful.

[2021-08-22 10:13] #9221 closed

[2021-08-22 10:14] BegoniaGit commented on #9221
thank you for your reply,my problem has resolved.

[2021-08-22 14:51] leonerd opened #9233 "Trig Functions"
It would be useful to have some trig functions (at least, `sin`, `cos` and `atan2`), as these are essential when working with data that arrives in polar (r, theta) form.

When presented with raw data in (r, theta) form (i.e. expressed in terms of magnitude and direction), one of the first things you nearly always want to do is convert it to cartesian form, so things like longterm averages are actu

[2021-08-22 14:57] leonerd opened #9234 "Historic n-points over time query"
(I admit that is a terrible title for this issue; I'm open to suggestions for a better one)

The prometheus `max_over_time()` query gives one number for the maximum of a vector over its entire history range. E.g.

The hottest temperature seen over the past 7 days was:

[code]

You can optionally provide an "interval" in the notation, asking it to only calculate that value at the given interval:

[

[2021-08-22 15:01] leonerd opened #9235 "integrate_since() function"
I would like a query function that can integrate a rate over time, in order to give a value that counts the total amount of "things" that rate has been counting, since a given time.

Raw counters are subject to resets, and do not start at zero for a given query period, but if they did then graphing them would be sufficient. Since they don't, the solution is to record the rate of a counter, and the

[2021-08-22 15:08] leonerd commented on #9234
By way of perhaps better explanation here is a screenshot of what I can get out currently:
![temperature](https://user-images.githubusercontent.com/350941/130359994-19647435-5016-4425-b719-91471c7f9ad5.png)

It has evaluated the value just once per 24h (1d) period of time, and drawn a flat yellow line between them all. Instead, I would like to see something like the following badly-drawn mockup:
!

[2021-08-22 15:15] leonerd commented on #9235
Here's a screenshot showing how a graph would look when using this function:
![rain-4days](https://user-images.githubusercontent.com/350941/130360254-42eca2c9-1924-49f3-9fc0-e758215449b8.png)

This graph was generated by just plotting the raw counter value on the righthand axis to generate the light blue line. This particular time range only works because there happened not to be any counter reset

[2021-08-22 15:33] darshanime commented on #9235
can you use something like this?
[code]

[2021-08-22 15:44] leonerd commented on #9235
@darshanime

I don't believe so. That would report, at every time in the query range, the total increase over the preceding (in your case) 10hours before that moment. That would yield a graph that doesn't begin at zero on the lefthand edge.

The correct query should yield zero for the first moment, the increase over the preceding 1 minute at the next minute, the increase over the preceding 2 minut

[2021-08-22 16:07] leonerd commented on #9235
I'm aware of the history in https://github.com/prometheus/prometheus/issues/1335 which covered much of the same ground, except the key difference here is the explicit "since timestamp" parameter, which solves the outstanding design problems with the earlier discussion.

[2021-08-22 16:40] SuperQ commented on #9234
I think this should be possible with subquery syntax.

[2021-08-22 18:14] leonerd commented on #9234
An initial attempt at subquerying doesn't appear to work. E.g. I've added

[code]

and the numbers I get out don't vary at all across a single 24h period. I believe this comes from this part of https://prometheus.io/blog/2019/01/28/subquery-support/:

where my "start" times are being quantized to a per-day basis.

[2021-08-22 22:01] roidelapluie commented on #9233
yes, this is something we would accept a pull request for.

[2021-08-23 02:17] LeviHarrison commented on #9233
I'm working on this.

[2021-08-23 08:52] roidelapluie commented on #9235
I understand the need, but it is way more general and complex.

Basically we would need to think about a general way to calculate e g. Network bandwidth since beginning of the month, error budget burned since the beginning of the quarter etc..

I will add more links to previous discussions in the future.

[2021-08-23 09:00] #9220 closed

[2021-08-23 11:54] LeviHarrison commented on #9233
It might be useful to also add functions to convert degrees to radians and vice versa. Or just add a π constant and let users do the operation in a few more steps.

[2021-08-23 11:59] leonerd commented on #9233
@LeviHarrison Yes I was thinking exactly that - either a pi constant or some conversion functions. I have no firm feeling for which is best - either would be fine with me.

Let me know if you need a hand with testing it out, or docs-writing, or some of those other bits.

[2021-08-23 12:56] bboreham commented on #9235
Could you subtract the value at the start using [the `@` modifier](https://prometheus.io/docs/prometheus/latest/querying/basics/#modifier)?

[2021-08-23 13:17] colega commented on #9235
@bboreham I think that it would require subtracting a different value for different points.

A solution for this problem can be making out the values that are outside of the evaluation range, i.e.:
[code]

Where `123456` is the `start()` of the query range. The drawback is that querier needs to calculate that as we can't use `start()` in a binary expression like `timestamp(...) < start()`.

[2021-08-23 13:25] codesome commented on #9235
Could we also not do something like `rate(my_counter[<the-duration>]) * <duration-in-seconds>`? And with work ongoing for the duration literal, we might soon be able to do `end() - anystarttime` for the duration.

[2021-08-23 13:46] nandakumar-sre opened #9238 "Prometheus UI throws warning intermittently"
I am running Prometheus (version 2.29.1) in Docker image in Kubernetes environment.
[code]

The Prometheus UI occasionally shows warning of kind "Warning: Unexpected response status when fetching server time: Failed to fetch". Uploading the image below for reference. This errors doesn't show up always but only a few times. I tried turning ON the debug option on log.level for Prometheus pod but no

[2021-08-23 15:04] LeviHarrison commented on #9238
I don't really think it could be an issue with UI, failing to fetch indicates a problem with establishing a connection to the server.

Could you please provide logs from the Network tab in Devtools?

[2021-08-23 15:07] LeviHarrison commented on #9234
#9114 adds support for aligning subqueries to the evaluation time, ignoring the performance optimization. Maybe that helps?

[2021-08-23 15:18] nandakumar-sre commented on #9238
@LeviHarrison Attached the network logs from Chrome Dev tools for reference.
[prometheus UI error network logs.zip](https://github.com/prometheus/prometheus/files/7033035/prometheus.UI.error.network.logs.zip)

[2021-08-23 15:19] LeviHarrison commented on #9228
I think we'd have to find another way to store exemplars on disk, given that we can't put them on a WAL because they'd be invalidated by the `minValidTime` from the blocks.

[2021-08-23 15:30] LeviHarrison commented on #9238
The server time request seems to return what I think is no status code (indicated as `Finished`). I'm not sure what this means, but my guess is still something with the network.

There might be an error message in the Devtools console, could you please check there?

[2021-08-23 16:19] nandakumar-sre commented on #9238
@LeviHarrison : I see an error stating ` net::ERR_NETWORK_CHANGED ` . I am trying to figure out more about this.
Any thoughts on the possible causes of this issue?
![image](https://user-images.githubusercontent.com/84132955/130482091-cf40959d-e438-47db-83eb-fb17f54e5bd5.png)

[2021-08-23 16:59] LeviHarrison commented on #9238
I believe that `ERR_NETWORK_CHANGED` is an issue with your browser or computer, not Prometheus. There seem to be many different causes so I can't pinpoint one for you.

[2021-08-23 17:01] beorn7 commented on #9234
Indeed, I think this is another use case that #9114 addresses.

[2021-08-23 17:09] beorn7 commented on #9235
That's the same as `increase(my_counter[<the-duration>])`, isn't it?

And generally, yes, I think this is pretty much what we discussed earlier, which would also allow burn-down graphs for your error budget during the billing period etc. I think we should support that in a straight-forward way, and `@` and arithmetic on durations is a step into that direction. Ultimately, we might want to consider

[2021-08-23 17:16] beorn7 commented on #9225
Shouldn't we do this for rules in general (not just alerting rules, but also recording rules)?

A recording rule producing an exploding amount of output series is a problem, too.

[2021-08-23 17:19] LeviHarrison commented on #9225
Sure

[2021-08-23 19:42] sdhoward commented on #8256
You guys should really prioritize this. Now there's a dark mode, and dark-colored lines don't show up, as well as light-colored lines not showing up in light mode.

@peter-turner-hcl you keep saying you're going to work on this tomorrow which I think is deterring others from investing time on it.

[2021-08-23 20:05] mattxwang commented on #9233
Also would love to see this! I'm curious, @LeviHarrison, any plans on adding `arcsin`/`arccos` (with the intention of transforming cyclical data to linear data)? More than happy to help out however possible!

[2021-08-23 20:11] LeviHarrison commented on #9233
As long as there's a use case, which you've provided, I don't see why not.

My current list is `sin`, `cos`, `tan`, `atan2`, `deg`, `rad`, and now `asin` and `acos`.

Thanks for your suggestion!

[2021-08-23 20:26] mattxwang commented on #9233
Great, thank you so much! Let me know if there's anything I can do to help, and excited to see this come together!

[2021-08-23 22:58] roidelapluie commented on #9233
I'd like all the trig functions should be documented in a short list like this: https://prometheus.io/docs/prometheus/latest/querying/functions/#aggregation_over_time

We could provide a pi() => scalar function.

[2021-08-23 23:12] LeviHarrison commented on #9233
I still think `deg` and `rad` might be a nice idea to simplify things, but I guess we could rely on only `pi`.

[2021-08-23 23:20] roidelapluie commented on #9235
I have tested multiple approaches in the past to solve this with plain PromQL. One of big issues is that we do extrapolate the values if we do not cover the full range (with @colega  proposal).

[2021-08-24 00:30] LeviHarrison commented on #9233
I just opened #9239, if anyone would like to test it out that would be great!

[2021-08-24 04:31] TaylorMutch opened #9240 "Support GCP Identity Aware Proxy in remote write configuration"
## Proposal
**Use case. Why is this important?**

For folks who run their own Prometheus remote write endpoints which are backed by GCP's HTTP(S) load balancers, being able to authenticate to a public endpoint using [Identity Aware Proxy with programmatic authentication](https://cloud.google.com/iap/docs/authentication-howto#authenticating_from_a_service_account) would be very convenient and easy

[2021-08-24 05:51] codesome commented on #9228
@LeviHarrison we already put them in the WAL. And invalidating them beyond the `minValidTime` is the desired behaviour right now I believe because it is only planned to be a in-memory store right now hence should follow the Head's valid time range.

[2021-08-24 08:12] roidelapluie commented on #9240
Hello,

I am puzzled by this. I am not using this service at all, but it seems like this could be done by plain oauth2?

[2021-08-24 08:50] roidelapluie commented on #9228
Is that really our priority? I'd rather work on having proper on-disk retention for examplars rather than using snapshots for this purpose.

[2021-08-24 09:18] SuperQ commented on #9238
It would be useful if the React UI would surface the underlying error here.

[2021-08-24 09:29] roidelapluie commented on #9225
HealthBad since we would not Commit() to tsdb, but Rollback instead, similar to scrape, where we set up = 0 even if the scrape-over-network part works.

[2021-08-24 11:15] roidelapluie commented on #9214
I would recommend setting unique external_labels to the prometheus server writers.

[2021-08-24 11:29] codesome commented on #9228
Update: We discussed this in the Prometheus storage working group call and we want to add exemplars in snapshots since we already write them in WAL and restore on restart.

[2021-08-24 11:35] LeviHarrison commented on #9228
My point was when snapshotting we convert the head chunk to a block, and in the head chunk, there is almost certainly a sample with a higher timestamp than the most recent exemplar, or at least most of them. When the samples become a block, the blocks `maxValidTime` becomes the timestamp of that most recent sample as does the `minValidTime` when loading the WAL, and therefore would invalidate most

[2021-08-24 11:39] codesome commented on #9228
We don't create a block, a snapshot is [an entirely new format on disk](https://github.com/prometheus/prometheus/blob/main/tsdb/docs/format/memory_snapshot.md). I guess that is the root of confusion here.

[2021-08-24 11:41] LeviHarrison commented on #9228
Ahhhhhh that makes more sense. Thanks!

[2021-08-24 13:26] roidelapluie commented on #7384
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) or our [forums](https://discuss.prometheus.io) rather than in a GitHub issue. In our [community channels](https://prometheus.io/community), more people are available to potentially respond to your question, and the whole community can benefit from the answ

[2021-08-24 13:30] roidelapluie commented on #1381
There is no progress.

[2021-08-24 13:35] codesome commented on #9228
The main challenge in this snapshot record is maintaining the order of exemplars in the circular buffer since that will decide which exemplars will be deleted first on overflow. If we keep exemplars of a series together after a replay, we will delete 1 series at a time, which will not be the desired behaviour.

The exemplar storage does not store the series reference that we have in TSDB, rather s

[2021-08-24 14:29] LeviHarrison commented on #9238
@juliusv WDYT? I'm not totally sure we should be surfacing these errors.

[2021-08-24 14:40] juliusv commented on #9238
To my knowledge we already surface the full error that JavaScript / the browser makes available to us. When the connection fails, "Failed to fetch" is usually the only error message we get from the browser about the request, unfortunately.

Given that we cannot show more information in this case and given that the underlying problem with the connections seems to be not related to Prometheus itself

[2021-08-24 14:40] #9238 closed

[2021-08-24 14:42] juliusv commented on #8256
@peter-turner-hcl Any update from your side? In case you won't be getting to this soon, that is fine, just let us know so that maybe someone else will feel motivated to pick it up :)

[2021-08-24 14:57] navneet1075 commented on #9179
@LeviHarrison i observed a bit closer that during restarts always some queries fail and i think you are right . for example again this happened :
[code]

now when i look at the blogpost by @brian-brazil :
 https://www.robustperception.io/what-queries-were-running-when-prometheus-died

then i get to know that indeed this can happen . apologies for assuming that a query cant bring  pod down,  earlie

[2021-08-24 15:11] roidelapluie commented on #9176
10596 seems the user id, not the process ID, so 63 is not the number of files of the processes. Can you provide the accurate number? I think your issue is more related to docker-proxy or docker, because you do not seem to have the same scale as #9057.

[2021-08-24 15:14] roidelapluie commented on #9179
Yes, the flags should still be applicable.

[2021-08-24 15:17] roidelapluie commented on #9181
We would need @boyskila's approval to re-license their changes under MIT.

[2021-08-24 15:19] roidelapluie commented on #9187
Yes, we should fix this, and not provide tasks labels for the time being.

[2021-08-24 15:24] roidelapluie commented on #9204
cc @juliusv

[2021-08-24 15:27] roidelapluie commented on #9206
This was answered in the mailing lisT: https://groups.google.com/g/prometheus-users/c/GSBOovRpCRg/m/a2hmoDcCAwAJ

[2021-08-24 15:27] #9206 closed

[2021-08-24 15:28] roidelapluie commented on #9210
I have removed help wanted and low hanging fruit as it turns out it might not be that straighforward.

[2021-08-24 15:29] roidelapluie commented on #9211
The configuration was probably not reloaded or not reloaded properly. Could you provide us more details about your setup alongside with the logs that prove that prometheus did the reload?

[2021-08-24 15:31] roidelapluie commented on #9215
You can use `max_over_time(prometheus_rule_group_last_evaluation_samples[7d])`.

[2021-08-24 15:31] #9215 closed

[2021-08-24 15:33] roidelapluie commented on #9217
I would close this issue as we have documented this in #9245. WDYT @cstyan

[2021-08-24 15:35] roidelapluie commented on #9218
Could you provide us more info about your setup? is it HA? do you have different external labels?

[2021-08-24 15:38] roidelapluie commented on #9225
I think we should fail completely and not store alerts if we break the limit. The default would still be no limit so we would not break our users.

[2021-08-24 15:40] roidelapluie commented on #9228
I agree with 3 too.

[2021-08-24 15:41] roidelapluie commented on #9233
marking not-as-easy-as it looks because of atan2

[2021-08-24 15:57] roidelapluie commented on #9234
I agree with @beorn7 , this will be addressed by #9114

[2021-08-24 15:58] #9199 closed

[2021-08-24 15:58] cstyan commented on #9217
Agreed, though I think there's probably still enough confusion on this topic that maybe a docs page with examples or a prometheus blog post would be worth our time.

[2021-08-24 15:59] roidelapluie commented on #9240
By looking at the documentation, we should cover this already. I am not willing to add vendor specific ways to retrieve or read client ID/secret.

[2021-08-24 17:14] TaylorMutch commented on #9240
Perhaps I have misunderstanding of how to configure the oauth client for this use case - happy to use existing functionality, but I just haven't been able to find a working example for remote write on my own that uses GCP's identity aware proxy feature.

[2021-08-24 18:01] TaylorMutch commented on #9240
The issue I am hitting with this is being able to do something similar to what was implemented for the AWS [sigv4 signing](https://github.com/prometheus/prometheus/blob/main/storage/remote/sigv4.go#L58) in the remote client, which is vendor specific, so it seemed somewhat appropriate to be able to support GCP's method for authenticating GCP service accounts.

Happy to follow best guidance for how

[2021-08-24 20:45] LeviHarrison commented on #9088
@roidelapluie WDYT?

[2021-08-25 00:10] LeviHarrison commented on #9233
I've opened #9248 to explore the possibility of an `atan2` binary operator.

[2021-08-25 00:29] LeviHarrison opened #9249 "Codemirror PromQL: Imprecise error message for undefined functions"
**What did you do?**

I entered an undefined PromQL function in the editor, for example, `hello()`.

**What did you expect to see?**

The `function not defined` error message when hovering over the expression, which I believe is specified here:

https://github.com/prometheus/prometheus/blob/54dfee02b29180bd5353b1ba843ef600f802366c/web/ui/module/codemirror-promql/src/lang-promql/parser/parser.ts#L2

[2021-08-25 02:06] yangxinyi8 commented on #9211
The configuration already reloaded ,we used 'curl -X POST http://IP/-/reload'';The problem I described only exists when the last monitored object is deleted.

[2021-08-25 02:06] yangxinyi8 commented on #9211
When I delete the last monitored object, the log of prometheus is as follows.

level=info ts=2021-08-25T01:59:54.855Z caller=main.go:799 msg="Loading configuration file" filename=/etc/prometheus/prometheus.yml
level=debug ts=2021-08-25T01:59:54.861Z caller=file.go:284 component="discovery manager scrape" discovery=file msg="Stopping file discovery..." paths=[/etc/prometheus/redfish.yml]
level=debu

[2021-08-25 08:00] FStefanni opened #9250 "metric disappear after few time"
Hi,

I am having a strange behavior, which looks like a bug.

I am using Prometheus v2.29.1.

This is part of my Prometheus config:
[code]

The strange behaviour is the following.

1. After about 30 min from start, in the `Targets` tab of Prometheus, I finally see all services as successfully "up" (so far so good)
2. If the I go to the `Graph` tab, and I execute the simple metric query "up", the I

[2021-08-25 08:08] roidelapluie commented on #9250
It is caused by slower srape_interval. After 5m, Prometheus considers a metric 'stale', and does not return it anymore. Please use a lower scrape interval, like 1m.

[2021-08-25 08:15] FStefanni opened #9251 "Proposal for changing the time of the first scrape"
Hi,

this is a proposal for a small but useful change.
I am using Prometheus v2.29.1.

This is the current situation:
* If I se a `scrape_interval` of 30m
    * In the `Targets` tab I will se if the connection succeeds only after 30m
    * In the `Graph` tab I will be not able to see the metrics for 30m

I am suggesting to slightly change this behavior, by immediately trying to perform a first scr

[2021-08-25 08:23] FStefanni commented on #9250
Hi,

this is  again strange and unexpected, since a metric with a slow scrape is not a stale metric (again, I suggest to change this).

Please consider that scraping creates network traffic, and depending on the deployment, it could create costs, or stress the network infrastructure. So it is not good to force to scrape on a max of 5m, if it is not required for the needs of the users (which could

[2021-08-25 09:08] ilixiaocui commented on #7120
we also occur same problem at 2.27.1

{
  "status": "success",
  "data": {
    "version": "2.27.1",
    "revision": "db7f0bcec27bd8aeebad6b08ac849516efa9ae02",
    "branch": "HEAD",
    "buildUser": "root@fd804fbd4f25",
    "buildDate": "20210518-14:17:54",
    "goVersion": "go1.16.4"
  }
}

![image](https://user-images.githubusercontent.com/15689619/130762563-666deca3-b3d8-4719-9e19-a1e35b99c972.

[2021-08-25 09:35] beorn7 opened #9252 "TSDB: Ever growing txRing in 2.27.1"
we also occur same problem at 2.27.1

{
  "status": "success",
  "data": {
    "version": "2.27.1",
    "revision": "db7f0bcec27bd8aeebad6b08ac849516efa9ae02",
    "branch": "HEAD",
    "buildUser": "root@fd804fbd4f25",
    "buildDate": "20210518-14:17:54",
    "goVersion": "go1.16.4"
  }
}

![image](https://user-images.githubusercontent.com/15689619/130762563-666deca3-b3d8-4719-9e19-a1e35b99c972.

[2021-08-25 09:37] beorn7 commented on #7120
While this might look the same, it's certainly a different problem, because the one this issue about has been fixed.

I have created #9252 to further investigate the new problem. @ilixiaocui could you follow up there? Thank you.

[2021-08-25 09:38] ilixiaocui opened #9253 "Memory Leak in v2.27.1: tsdb.txRing consumes much heap memory"
**What did you do?**
We ran into the same problem as: https://github.com/prometheus/prometheus/issues/7120

**What did you expect to see?**
The memory usage is as stable as other Prometheus instances

**What did you see instead? Under which circumstances?**
The available memory of the node which hosts the Prometheus 2.27.1 instance gets decreasing like below:
![image](https://user-images.githubuse

[2021-08-25 09:39] beorn7 commented on #9252
@ilixiaocui could you graph the low watermark and see if it is changing at all or if it got stuck for good? If the latter, is there anything that happened at that moment with your Prometheus? (Like a long running or failed query or anything interesting logged.)

If you restart your Prometheus, does the problem promptly recur, or does it take a while?

[2021-08-25 09:51] roidelapluie commented on #9252
Closed as duplicate of #9253

[2021-08-25 09:51] #9252 closed

[2021-08-25 09:51] roidelapluie commented on #9253
@ilixiaocui could you graph the low watermark and see if it is changing at all or if it got stuck for good? If the latter, is there anything that happened at that moment with your Prometheus? (Like a long running or failed query or anything interesting logged.)

If you restart your Prometheus, does the problem promptly recur, or does it take a while?

_Originally posted by @beorn7 in https://githu

[2021-08-25 09:53] roidelapluie commented on #9251
Hello,

Prometheus performs scrapes at pre-determined periods. We will not change that because our Query Engine, PromQL, relies on this. It is important to have evenly spaced scrapes across restarts.

Also, Prometheus does not support 30-minutes scrape interval.

[2021-08-25 09:59] ilixiaocui commented on #9252
1. It is changing.
2. In order to keep the scene，I have not rebooting. No query operation was performed when the memory suddenly increased .
![image](https://user-images.githubusercontent.com/15689619/130770182-579d584d-88e5-4b9a-a888-9bdec0783ff9.png)

[2021-08-25 09:59] roidelapluie commented on #9250
This is configurable with `--query.lookback-delta=5m`.

Unfortunately, you will stumble upon many inconveniences with such low scrape intervals, such as #9251, with such low scrape intervals. You could look for alternatives, but it is hard to help you without knowing the details. I'd recommend you to use our [community channels](https://prometheus.io/community) to see which Prometheus-y solution w

[2021-08-25 10:00] ilixiaocui commented on #9253
1. It is changing.
2. In order to keep the scene，I have not rebooting. No query operation was performed when the memory suddenly increased

![image](https://user-images.githubusercontent.com/15689619/130770737-8c135ab8-c632-4ff5-ae1d-c41127351b67.png)

[2021-08-25 10:21] chenlujjj commented on #9215
Thank you !

[2021-08-25 11:16] LeviHarrison commented on #9225
I agree with failing completely now. If a user received some alerts, they might falsely believe they're getting the full picture.

[2021-08-25 11:34] ilixiaocui commented on #9253
log:

[code]

[2021-08-25 12:41] FStefanni commented on #9251
Hi,

Sorry, maybe I was not clear (or I am not fully understanding your answer).

I am proposing to just run the first scrape immediately, and then at each equally spaced period.
For an example, if we set a scrape interval of 30m, and we are at 5:00, then
* Current behavior:
   * First scrape at 5:30
   * Then each half, i.e. at 6:00, 6:30 etc.
* Proposed behavior:
   * First scrape immediately, a

[2021-08-25 13:07] roidelapluie commented on #9251
We should not wait.

If prometheus starts at 4:59, we would scrape at 5:00.

[2021-08-25 13:08] roidelapluie commented on #9251
To be more clear:

If prometheus scrapes at 5:00, 5:30, 6:00..
and you restart Prometheus at 5:01 **or** 5:15 **or** 5:20, next scrape will be a 5:30.

[2021-08-25 13:28] FStefanni commented on #9251
Hi,

ok understood, now it is clear, thank you.
So I believe there is no an easy way to implement the proposed change, since it would required quite a refactor of the underlying engine.

Regards.

[2021-08-25 14:48] #9251 closed

[2021-08-26 14:20] Lovnx opened #9258 "pull other Prometheus Server"
from architecture, I noticed that:
![image](https://user-images.githubusercontent.com/26428832/130979687-3a1a403b-5a76-4e5d-a5ec-25a2565fe1ec.png)

When will it be used?

[2021-08-26 14:27] #9258 closed, assigned to nobody

[2021-08-27 01:22] whh32 opened #9261 "Reduce CPU consumption at low cardinality"
## Proposal
**Use case. Why is this important?**

When we have a large number of low cardinality queries, such as idc and machine survival, uncompressed postinglist will consume a large amount of computing resources in crc32. Should we consider compressing postinglist like lucene or caching frequently used term?
*“Nice to have” is not a good use case. :)*

[2021-08-27 17:45] bboreham opened #9265 "Allow TSDB isolation to be disabled on append"
## Proposal
We re-use Prometheus TSDB in Cortex, where I observe sometimes that many ingester goroutines are blocked on `isolation.newAppendID` and `isolation.closeAppend`.  In Cortex, samples are sent over remote write so isolation does not achieve much: parts of the scrape will be sharded to different sends, then sharded again to different ingesters. We do not have distributed transactions over

[2021-08-28 05:49] Rohit2387 opened #9266 "Api documentation about how to inegrate any C project with Prometheus"
Hi,

Is there any documentation present for inegration c programs with promethus,  both sample code and C documentation will be helpful for writing and integrating C Programs.

Br
Rohit

[2021-08-28 14:07] LeviHarrison commented on #9266
The Prometheus-recognized (but unofficial) C client library is https://github.com/digitalocean/prometheus-client-c, and an example can be found [here](https://github.com/digitalocean/prometheus-client-c/tree/master/example).

[2021-08-28 15:32] Rohit2387 commented on #9266
Hi,

Actually if i undestood the promethus first need to integrate with C program through and then C promethus library expose URL that can be acess by promethus server to collect diffent metrix.

Now for example i Have a c server program that get request and then ack the response with sucess
int main()
{
 socket();
bind();
listen();
while(1)
{
accept();
read();
write("sucess");// now here suppose

[2021-08-28 15:58] roidelapluie commented on #9265
The plan is to make remote write transactional (sending commits together to remote write): https://docs.google.com/document/d/1UgSNnQYB1TJKVHkrUybEZPDsDl6MYCSiABm71v73Uvs/edit

I would really avoid doing this in cortex as you would need to re-introduce it later.

[2021-08-28 15:58] roidelapluie commented on #9265
cc @beorn7

[2021-08-28 21:23] #9250 closed

[2021-08-29 08:32] valyala opened #9269 "Missing documentation for `role: endpointslice` in kubernetes_sd_config"
The https://github.com/prometheus/prometheus/pull/6838 added `role: endpointslice` for `kubernetes_sd_config` in [Prometheus v2.21.0](https://github.com/prometheus/prometheus/blob/main/CHANGELOG.md#2210--2020-09-11) a year ago. It would be great if this new role would be documented at https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config similar to other Pr

[2021-08-29 09:29] bboreham commented on #9265
We would need to introduce distributed transaction tracking in Cortex too.

While this is a valid pursuit, I still think it’s ok to have the option to turn it (both) off.

[2021-08-29 09:48] darshanime commented on #9265
I can work on this (happy to throw away pr if it's decided to not have the flag...)

[2021-08-29 12:04] darshanime commented on #9152
In your example query `count({__name__=~".*"})`, the byte slice is already very small since the response size is small.

I think this is an potential optimization in promQL evaluation (i believe https://github.com/prometheus/prometheus/pull/9071 should help).

[2021-08-30 04:53] #7887 closed

[2021-08-30 06:09] ilixiaocui commented on #9253
here is profile(I add .txt to the file, otherwise it cannot be uploaded):
[profile.txt](https://github.com/prometheus/prometheus/files/7074549/profile.txt)

[2021-08-30 06:09] ilixiaocui commented on #9253
here is profile(I add .txt to the file, otherwise it cannot be uploaded):
[profile.txt](https://github.com/prometheus/prometheus/files/7074557/profile.txt)

[2021-08-30 07:18] Rohit2387 commented on #9266
hi @LeviHarrison any comments?
If I want to integrate it ,my module should be divided into 3 part
   Application code which is the service that i want to monitor
   library that expose interface(API/Callback) towards application and Rest interface for accessing metrix
   UI for preomethus.

Basically how to start this 2 steps:
App.c
     set_url_for_promethus_acess();
     call_api_to_set_no_of_re

[2021-08-30 08:52] roidelapluie commented on #9265
Yeah, I am just raising my concern. @codesome and @bwplotka are TSDB maintainers, and @beorn7 has implemented the isolation. I will let them decide.

[2021-08-30 11:20] beorn7 commented on #9265
I have no concerns with offering it as an option on the TSDB level.

[2021-08-30 13:11] bboreham commented on #9253
That looks like a CPU profile; please upload the heap profile you were showing extracts from in this issue.

[2021-08-30 14:04] #9228 closed

[2021-08-30 14:09] TamasNeumer commented on #9068
@tillig

Thanks for investigating this issue. I'm currently also on the topic of enabling mTLS for our monitoring stack (kube-prometheus).

I was wondering if you focus only on achieving mTLS while scraping with Prometheus, or did you also manage to get mTLS between Prometheus and AlertManager as well?

[2021-08-30 14:24] tillig commented on #9068
I haven't got mTLS with anything working at the moment. This would be a question for the Prometheus team. Also, I'm not using Alertmanager so when I do get things working I still won't have the answer.

[2021-08-30 19:34] Th0masL opened #9279 "Some Environment Variables are not detected correctly"
**What did you do?**
I have an Environment Variable file that contains multiple Environment Variable, and I want use those Environment Variables inside Prometheus config.

The problem is that Prometheus is detecting some of the Environment Variaibles, but is not detecting the `Targets` Arrays from the Environment variable.

**What did you expect to see?**

The `Targets` Environment Variable to be

[2021-08-30 21:16] beorn7 commented on #9279
Note that currently, environment variable expansion is only supported for `external_labels` (and only if activated by a feature flag, see https://prometheus.io/docs/prometheus/latest/feature_flags/#expand-environment-variables-in-external-labels ).

It's by design that variables are not exported elsewhere (although there is an ongoing discussion if env variable expansion should be used more, which

[2021-08-30 22:35] Th0masL commented on #9279
Thanks for your response ! 🙂

I'm indeed already using the feature flag `--enable-feature=expand-external-labels`, as explained in the docs.

Since you said that it is by design that the Variables are not exported elsewhere in the configuration, would you be aware of any another method that would allow me to inject dynamic `Targets` without having to hard-code them in the configuration file ?

I'm

[2021-08-31 00:01] roidelapluie commented on #9279
I'd recommend using https://prometheus.io/docs/guides/file-sd/

No reloads are needed then, Prometheus will re-read the files automatically.

[2021-08-31 06:09] codesome commented on #8884
@PritomAhmed it is not counted since it will soon become a non-temporary and size retention will kick off at that time.

I can see how all of this is not intuitive, we need to improve docs (which I will get to in near future). Size retention is not a strict limit in Prometheus, rather a soft hint on when to start deleting data. Honouring the size retention when writing a new block with `.tmp-for-c

[2021-08-31 07:58] DmitriyStoyanov commented on #6934
Very interesting fix proposed in https://github.com/rancher/rancher/issues/33732#issuecomment-906252617
[code]

I guess some of us can add this part as optional workaround in such cases, when WAL not needed when facing with this issue. Just to add ability to start prometheus itself.

[2021-08-31 08:09] bboreham opened #9281 "tsdb: cannot Resize exemplars from 0 to non-0 value"
**What did you do?**
Initialized TSDB with maxExemplars=0, then changed it to 100000

**What did you expect to see?**
No crash

**What did you see instead? Under which circumstances?**

[code]

This line does `% len(oldBuffer)` which will crash if the old buffer is of size zero.
https://github.com/prometheus/prometheus/blob/6a31b28ca95c1da441c516709dc07f975bde1ba4/tsdb/exemplar.go#L287

I believe

[2021-08-31 14:15] Rohit2387 commented on #9266
Hi,

above mention git repo can be used as official c library for promethus.

Br
Rohit

[2021-08-31 14:32] jsravn commented on #6934
That will cause data loss every time you restart prometheus. But can't say I haven't considered doing it myself (I suggested this in an earlier comment). This is a constant problem for us across any large (>10gb runtime memory) prometheus instances.

[2021-08-31 15:07] akloss-cibo commented on #6934
Truth.  But the _other_ thing that causes data loss is having prometheus not scraping metrics, so it's kinda a rock-vs-hard-place situation.  I've had some luck using the vertical pod autoscaler to manage prometheus's resources, although I mostly just cover my eyes when I look at the size of the pod (21 GiB).

[2021-08-31 15:37] #8895 closed

[2021-08-31 16:39] Nexucis commented on #9249
Yeah I think the line you are pointing is not reachable actually. You are going to this part of the code if the word `hello` is already identified as a function.

So if `hello` is not associated to a function, then the resulting tree won't have the node corresponding to the `function`.

To summarize, codemirror-promql is not able to tell you it's an incorrect function because it is not able to lin

[2021-08-31 16:47] Nexucis commented on #9249
the condition https://github.com/prometheus/prometheus/blob/54dfee02b29180bd5353b1ba843ef600f802366c/web/ui/module/codemirror-promql/src/lang-promql/parser/parser.ts#L257-L259

is present more for sanity check and also because if it's not present then typescript is yelling that `funcID` can be undefined.

[2021-08-31 18:42] LeviHarrison commented on #9249
OK makes sense. Thanks!

[2021-08-31 18:42] #9249 closed

[2021-09-01 02:58] ilixiaocui commented on #9253
[heap1.txt](https://github.com/prometheus/prometheus/files/7087905/heap1.txt)
[heap2.txt](https://github.com/prometheus/prometheus/files/7087906/heap2.txt)

[2021-09-01 09:08] roidelapluie commented on #9269
thanks!
cc @brancz

[2021-09-01 11:24] roidelapluie commented on #8143
hello @gburek-fastly
your help would be appreciated here :)

[2021-09-01 11:35] codesome commented on #9265
No concerns as well with this. Cortex (or any distributed remote store) will require more complex isolation mechanism on top of TSDB anyway, so it may or may not need isolation at TSDB level.

[2021-09-01 12:13] codesome commented on #9281
cc @cstyan

[2021-09-01 14:41] prymitive opened #9285 "Add a scrape_job label to scrape_samples_* metrics"
## Proposal
**Use case. Why is this important?**

**Context**: Cardinality is a big issue for large deployments and it often requires setting scrape limits to avoid accidental exporting of a huge number of samples per target via `sample_limit` parameter. This works well but it's pretty binary - target exposes less than limit and everything works OR target is exposing more than the limit allows and

[2021-09-01 14:50] roidelapluie commented on #9285
I do not see a way to do this without a breaking change I expect users to already have a scrape_job config. It would also not benefit most of the users who have a single limit or always job=scrape_job.

However, what would you think about something similar to #9247 but for sample_limit, as an alternative (behind the same feature flag)?

[2021-09-01 14:56] prymitive commented on #9285
Yes, it could be a breaking change for some users, but I'm not sure what's the promise/policy of label stability for internal metrics, maybe a note in the changelog is enough?

I'm happy with a new metric and a feature flag, I don't really mind how this is surfaced and it would solve my problem.
I was exporting `sample_limit` myself but it sounds like that could also be exporter under a feature fl

[2021-09-01 19:09] william-tran commented on #7063
I think we've hit this too with v2.26.1, configuring alertmanager with k8s pods service discovery: `level=error ts=*** caller=notifier.go:527 component=notifier alertmanager=http://****:9093/api/v2/alerts count=9 msg="Error sending alert" err="Post \"http://***:9093/api/v2/alerts\": context deadline exceeded"`

[2021-09-02 07:38] candlerb opened #9287 "Proposal: metrics_port in scrape config"
## Proposal

Add an optional `metrics_port` [scrape config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config) setting, which defaults to 0 (unset).

At scrape time, if the target `__address__` doesn't end with colon-port, then:
* If label `__metrics_port__` is set, use `__metrics_port__` as the port number
* Else if job-level `metrics_port` is set, use `metri

[2021-09-02 07:47] roidelapluie commented on #9287
This is incorrect, when SD's have this, it is to append to the targets for scraping.

[2021-09-02 08:38] candlerb commented on #9287
Many thanks for the correction.  The SD documentation does indeed say this is the port for metric scraping (with the exception of Triton which says "The port to use for discovery _and_ metric scraping")

I couldn't find it stated explicitly in the documentation, but it turns out that the service discovery mechanisms all set an `__address__` in addition to `__meta_xxx`; I wrongly thought you had to

[2021-09-02 09:18] roidelapluie commented on #9287
That is not correct. Some SD's only use that when they can not determine which port to use (e.g. docker).

[2021-09-02 09:19] roidelapluie commented on #9287
I think that this proposal over-complicates things.

[2021-09-02 10:56] roidelapluie commented on #9287
An alternative would be to introduce shortcut actions in relabeling.

[2021-09-02 11:14] candlerb commented on #9287
Are you referring to the backwards-compatibility approach I've suggested, or the ability to specify a target address without port in general?

It seems odd to me that I can specify `scheme` and `metrics_path` at job level, but not `metrics_port`.  If it had been that way from day one, so that `__address__` was permitted to carry the address only, then the usual case of scraping the same exporter o

[2021-09-02 11:18] roidelapluie commented on #9287
One of the main use cases of Prometheus is with kubernetes, where there are may pods on the same IP.

In general, it is common to have the address and port in the same parameter, like we do for our --web.listen-address.

I do not think we should start adding preferences and order here.

[2021-09-02 11:34] Lingx9 opened #9288 ""promtool tsdb create-blocks-from rules" backfilled data is duplicated"
**Overview**
 I use promtool to backfill the data of the rules.  After the backfill was completed, it was found that the data was duplicated, and every 2 hours was regarded as an independent metric. (Although their labels are exactly the same)
1. my recording rule
[code]
2. Duplicate data,
command: `./promtool query range http://127.0.0.1:9099 'saas_rx_bandwidth{neId="320"}'  --start=1630342949 --

[2021-09-02 15:38] beorn7 commented on #9288
Maybe this has to do with staleness markers? Do we perhaps insert them at the end of a block? (This is a very wild guess…)

[2021-09-02 15:45] JessicaGreben commented on #9288
@beorn7 staleness marker support is not merged into this rule backfilling yet (ref: #8976 ).

Currently I'm going to check the ordering of the labels, maybe I need to sort them before writing to tsdb. But in talking to @brian-brazil and @roidelapluie it seems that the labels should be ordered and the above query range output should not be possible so maybe there is a bug there. That is where I'm g

[2021-09-02 15:48] roidelapluie opened #9291 "rules backfill: timestamp not printed correctly"
How to reproduce?

Launch Promtool with the following command:

`../promtool tsdb create-blocks-from rules  --start="$(date +%s -d '1 day ago')" rules.yml `

What I see:

`level=info backfiller="new rule importer from start" 01Sep2115:45UTC=" to end" 02Sep2112:45UTC=(MISSING)`

What I expected:

*01Sep2115:45UTC** is better formated. The (MISSING) is probably also a bug.

tested with Prometheus 2.

[2021-09-02 15:50] roidelapluie opened #9292 "rules backfill: return 1 if unsuccessful"
**What did you do?**

Run promtool without Prometheus

[code]

**What did you expect to see?**

Return 1

**What did you see instead? Under which circumstances?**

Return 0

**Environment**

* Prometheus version: 2.29.1

[2021-09-02 18:08] #9281 closed

[2021-09-02 18:12] cstyan commented on #9266
The client libraries provide functionality for exposing metrics over HTTP and generating those metrics in your applications code. Prometheus itself just needs to know about the endpoint your application is exposing metrics on, and scrapes them over HTTP.

Levi's comment seems to provide all the necessary links at the moment. If you still have additional questions please try one of the community lo

[2021-09-02 18:12] #9266 closed

[2021-09-02 18:49] bboreham commented on #9253
Thanks.

`heap1.txt` shows 73.15GB used by `txRing.add()` in 2,396,902 objects; that is exactly 32,768 bytes each.
Since each element is a `uint64` at 8 bytes, that gives 4,096 entries in the ring.

Other object counts are consistent with there being ~2.4 million series active.

I can't see the bug, though.

[2021-09-02 22:58] roidelapluie commented on #9285
Do you want to give a go to adding a scape_sample_limit: metric? #9247 is in.

[2021-09-03 02:43] Lingx9 commented on #9288
![image](https://user-images.githubusercontent.com/89964135/131942512-22be1fdb-d025-45c0-ab44-b0e77b783c49.png)

[2021-09-03 02:45] Lingx9 commented on #9288
My execution command: `./promtool  tsdb create-blocks-from rules --start=1630339200 --end=1630411200  test.yaml   --url http://127.0.0.1:9099 --output-dir="test_data/"`

In another environment, I only ran the backfill command once. There was no data duplication problem.
But the data is still regarded as a different series

![image](https://user-images.githubusercontent.com/89964135/131942843-e5a02

[2021-09-03 02:47] Lingx9 commented on #9288
Is there any confirmation that this is a problem and not caused by my incorrect use?

[2021-09-03 05:53] lisushka opened #9293 "Public IPs of Azure virtual machines in scale sets are not exposed by the `__meta_azure_machine_public_ip` label in `azure_sd_config`"
**What did you do?**

We have Azure virtual machines that are part of a virtual machine scale set.  We attempted to scrape metrics from them using the following `azure_sd_configs` block:
[code]

**What did you expect to see?**

We expected that the public IP addresses of the virtual machines would be visible in Prometheus under the `__meta_azure_machine_public_ip` label.

**What did you see instea

[2021-09-03 08:39] jonas-voi commented on #3697
Would be great if the EBNF bits in the parser logic (linked by slrtbtfs above) could be extracted to a EBNF document to make it easier to read and comprehend. As-is the y-file is a mixture of bnf-like elements and code, intertwined. With enough mental effort and time, someone may eventually deduce the syntax rules from the parser file, but if users could be spared that effort it would improve the

[2021-09-03 09:47] prymitive commented on #9285
Yes, I'll try to work on this today, if not next week. Thanks

[2021-09-03 10:40] johnfzc commented on #9288
Yes, this is a problem, it's not caused by your incorrect usage. If you zoom in closely you'll see there's overlap between the time periods thought it may be difficult to see with your flat line.

[2021-09-03 11:19] prymitive commented on #9285
From a quick reading of scrape code I see that if I wanted to have a metric with `scrape_job` label it won't be straightforward to add it the same way as `scrape_timeout_seconds`.
It's all reported in: scrapeLoop->report():
https://github.com/prometheus/prometheus/blob/31f41087583497f70cc7b9f4adcee5d1d92d4003/scrape/scrape.go#L1615
which calls scrapeLoop->addReportSample():
https://github.com/prom

[2021-09-03 11:37] roidelapluie commented on #9285
it is not needed to add scrape_job. Your issue is to have the sample limit per target. You can add a sample limit metric with the targets' labels.

[2021-09-03 11:59] prymitive commented on #9285
Well, maybe it's indeed enough, let's start with that.

One of the problems is that scrape config allows so much flexibility thanks to relabelling that it's sometimes difficult to figure out which scrape config was involved.
For example one can add N scrape configs that rewrite job label to the same value, once you query for scrape_timeout_seconds all you'll get is `job` and `instance` labels, sin

[2021-09-03 13:39] prymitive commented on #9285
Raised #9295

[2021-09-03 15:52] dark-shade opened #9297 "Checksum for prometheus-2.29.2.darwin-amd64.tar does not match the checksum provided in the sha256sum file"
**What did you do?**
Got the checksum for prometheus-2.29.2.darwin-amd64.tar, it does not match the checksum provided in the sha256sum file. Verified for other tars, they matched. Please see the attached screenshot.

**What did you expect to see?**
Checksum should have matched. Not sure if someone forgot to update it for darwin-amd64 in the sha256sum file or if there is some other underlying issue

[2021-09-03 21:20] gburek-fastly commented on #8143
@roidelapluie hello - I was able to test 2.29.2 with the env var `PROMETHEUS_COMMON_ENABLE_HTTP2="1"` set.

I applied the iptables rule at 21:00 and removed it at 21:16. During this period only the specific host ip from the iptables rule showed timeouts on `scrape_duration_seconds` and `up==0`. No other targets or ips that also used TLS for scrapes changed `scrape_duration_seconds` or failed scrap

[2021-09-03 21:35] roidelapluie commented on #8143
Thanks a lot!

[2021-09-03 21:42] roidelapluie commented on #9297
Where did you get your release? It works as expected for me:

[code]

[2021-09-03 21:43] roidelapluie commented on #9297
ooh your issue is that you have already run *gunzip*. You are comparing the checksum of the *.tar* with the *.tar.gz*.

[2021-09-03 21:43] #9297 closed

[2021-09-04 12:17] #9285 closed

[2021-09-04 12:48] Creatone commented on #8063
I guess that fixing this was abandoned, so that's why I made PR.

[2021-09-05 15:34] bboreham commented on #6934
Note #9160 reduced memory usage during WAL replay; it should be in the next Prometheus release 1.30.

[2021-09-05 15:49] bboreham commented on #9253
I notice from your profile that it seems to be calling `scrapeLoop.append()` way more than the Prometheus where I work.
What scrape frequency are you using?

[2021-09-05 17:07] TaylorMutch commented on #9240
So looked back at this again, and I was able to get this working in a different way. AFAIK It is not possible to do normal OAuth flow for service accounts due to how GCP's Identity Aware Proxy works with service accounts (which don't provide a client secret, but instead a PEM file) and requiring some custom claims. I'm not an expert on OAuth but there wasn't an obvious way for me to configure this

[2021-09-05 17:07] #9240 closed

[2021-09-06 06:03] ilixiaocui commented on #9253
we use promethues to monitor a block storage system. We statistic every IO.

we use [bvar](https://github.com/apache/incubator-brpc/blob/master/docs/en/bvar.md) to do statistic.

here is our metric:
https://github.com/opencurve/curve/blob/master/src/client/client_metric.h
https://github.com/opencurve/curve/blob/master/src/chunkserver/chunkserver_metrics.h
Eevry io we will count:
`void IOMetric::On

[2021-09-06 06:39] bboreham commented on #9253
Perhaps I confused things: what I wanted is defined by `scrape_interval` in your [config file](https://prometheus.io/docs/prometheus/latest/configuration/configuration).

[2021-09-06 15:32] TomL-dev opened #9302 "Missing MetricMetaData in Golang Package"
**What did you do?**

I'm trying to convert Prometheus RemoteWrite requests to OpenTelemetry format. In the protoformat from the WriteRequest: https://github.com/prometheus/prometheus/blob/main/prompb/remote.proto
i see there is a MetricMetaData field. however if i check the golang package: https://pkg.go.dev/github.com/prometheus/prometheus/prompb#WriteRequest
i don't see the MetricMetaData in th

[2021-09-06 16:48] LeviHarrison commented on #9302
The pkg.go.dev documentation is unfortunately far out of date because we last tagged a Go module release in 2018.

Here's a version generated today: https://gowalker.org/github.com/prometheus/prometheus/prompb#WriteRequest

[2021-09-07 02:54] mokitoo opened #9305 "Domain name and IP do not match"
**What did you do?**
I configure the domain name in the configuration file of Prometheus as a monitoring item. Then replace the IP pointed to the domain name with a new one in the DNS server, but Prometheus still obtains the data of the old IP after a long time . How can I get the data of the new IP in Prometheus immediately?

I tried the following commands to clean up the old data, but none of th

[2021-09-07 14:45] LeviHarrison commented on #9302
If you `go get github.com/prometheus/prometheus@v1.8.2-0.20210720123808-b1ed4a0a663d` (see https://github.com/thanos-io/thanos/blob/1205a222cb1e1be4862ef39b4c3a9c538056cf83/go.mod#L63) it should be up to date.

[2021-09-07 16:00] #9292 closed

[2021-09-07 16:01] #9291 closed

[2021-09-07 19:42] JessicaGreben commented on #9288
Did a little investigation and came up with a few things.  The overlap in data might be from staleness. There will be an extra 5 mins of data if the series terminates because the stale marker support isn't added to this backfill feature yet.

Additionally there is another issue I discovered where the max time of the first blocks is greater than the min time of the next block by 1, which it should

[2021-09-07 19:45] rakyll opened #9310 "Discovery for ECS"
In an earlier evaluation, ECS discovery was rejected due to API rate limiting issues described at the [discovery](https://github.com/prometheus/prometheus/blob/60918b8415d928363ea4bc766d450e707035abe0/discovery/README.md) section.  As of today, there are ECS users that are publishing Prometheus metrics and using CloudWatch Agent's Prometheus scraping capabilities. They configure the agent with tas

[2021-09-07 23:12] roidelapluie commented on #9310
Thank you for this proposal.

Overall the proposal is interesting and I recognize the need to have this additional AWS integration. I have a few comments/questions, just by reading your proposal. I am currently not familiar with ECS, so I have a few questions.

Is there any additional metadata? The fact that you use tags to filter the targets means that we can probably expose the tags as additiona

[2021-09-07 23:25] rakyll commented on #9310
The proposal didn't have too much detail but additional metadata could be the EC2 instance metadata that runs the containers. It requires an additional request to get details of an EC2 instance for every ECS task container and instance metadata can be useful to identify the internal and external IP addresses of the task. These IPs don't change until the task is killed, so we can cache them in memo

[2021-09-07 23:29] rakyll commented on #9310
I updated the configuration in the original proposal. I also turned the port into an int array because a task contains multiple containers that may publish multiple metric handlers.

[2021-09-07 23:36] roidelapluie commented on #9310
We know some users use one prometheus with multiple AWS accounts. Is it planned to have the current EC2's auth parameters?

[code]

Given than metrics_path is no longer per port, it would be easier to just keep them at the scrape_configs level and not repeat it at the service discovery level.

[2021-09-08 00:30] rakyll commented on #9310
Updated the config to add the auth and removed the metrics_path. Not sure if I got the notation correctly, I'm not very familiar with it.

[2021-09-08 08:30] roidelapluie commented on #9310
`prometheus_scrape: "true"` should probably be `string: string`, otherwise LGTM.

[2021-09-08 08:47] bboreham commented on #9253
Thanks for that.  2.4 million series scraped every 3 seconds gives 1.25 microseconds per series; I wonder if Prometheus just can't keep up at times, so the append transactions pile up.

Could you plot `prometheus_tsdb_head_active_appenders` over time, especially in the periods when you see rapid growth in memory?

[2021-09-08 09:14] babujii opened #9313 "Prometheus two replica pod(k8s) with duplication metrics data."
Prometheus two replica pod with duplication metrics data.
          Currently we have two prometheus pod on K8S cluster and collecting metrics to VM servers.
it is working fine. We are thing now two pod going and collecting metrics to VM or only one prometheus pod collecting metrics . We want know.  If two prometheus pod(replica 2) run on the cluster. Will it happen data duplication metrics? can a

[2021-09-08 15:19] roidelapluie commented on #9218
kind ping

[2021-09-08 17:00] secat opened #9317 "Add exemplars support on the remote write receiver endpoint"
## Proposal
The Prometheus remote write receiver endpoint currently does not append exemplars. This issue proposes to add exemplars support on the remote write receiver.

According to @csmarchbanks, it should be fairly easy to add a loop for exemplars like the one done for samples here: https://github.com/prometheus/prometheus/blob/0111aa987e600c861dff34e4d24e891ed63d0535/storage/remote/write_hand

[2021-09-08 21:24] yeya24 commented on #9317
I'd like to work on this issue if no one is working on it.

[2021-09-09 09:07] BrutalBirdie commented on #9115
We just hit this issue as well.
https://forum.cloudron.io/topic/5633/add-option-for-users-to-add-starting-parameters?_=1631174530839

Seeing this merged would be awesome.

Blocking this PR as well should be changes to the doc https://github.com/prometheus/docs right?

If I can be of assistance let me know.

[2021-09-09 12:24] codesome commented on #9317
@yeya24 #9319 was opened shortly after. Feel free to pick some other issue :) thanks

[2021-09-09 15:52] krya-kryak opened #9321 "Service discovery provider should not be reinitialized on /-/reload if its config is unchanged"
**What did you do?**
* Run prometheus with k8s_sd enabled. k8s_sd is set to supply many thousands of targets (100k+).
* Change some unrelated to k8s_sd configuration option and call `/-/reload` every once in a while

**What did you expect to see?**
Everything should just work. k8s_sd should not be impacted in any way

**What did you see instead? Under which circumstances?**
k8s_sd is completely re