[2021-11-28 14:23] wilfriedroset commented on #9807
@csmarchbanks I've been testing your branch for ~24h on half of my prometheus HA pairs.
I can confirm that context switches are a lot better.
We can see on the screenshot below that we have 3 lines representing:
* blue line, `sum(irate(node_context_switches_total[10m]))`
* green line, ` sum(irate(node_context_switches_total{instance=~"prometheus-(3|5|11|14|17|4|6|12|13|18)"}[10m]))` running promet

[2021-11-28 21:45] cugu opened #9884 "Possible copyright violation in unquote function"
The prometheus [`unquote` function](https://github.com/prometheus/prometheus/blob/46c52607611992aeee631a1e19f053d886ca34d4/util/strutil/quote.go#L24) looks like it is largely inspired by the (former) [`unquote` function in Go's strconv package](https://github.com/golang/go/blob/015423a15bcfae148d5121bcf4ba5b50d0847cd0/src/strconv/quote.go#L362).

Neither the file itself nor the [NOTICE](https://gi

[2021-11-29 02:23] chris-fengtian-guo commented on #9872
1) the 2000::24 is compressed ipv6 address of 2000::24:9290  and 9290 is port of ipmi-exporter
the prometheus can scrape data from 2000::24:9290 success but just the generated url is invalid because lack of []
2) Thanks for LeviHarrison
I should report the issue more early, I found this bug more than 1 weeds before and make a drift patch to make it help

[2021-11-29 02:25] chris-fengtian-guo commented on #9872
this issue is fixed by
https://github.com/prometheus/prometheus/issues/9760

[2021-11-29 02:25] #9872 closed

[2021-11-29 06:46] fpetkovski commented on #9403
@roidelapluie this seems to be related to the fact that net/http uses the request's `Host` field to set the Host header[1].

I am trying to get familiar with the Prometheus codebase and I have time this week to look into this one if that's okay.

[1]

[2021-11-29 08:09] roidelapluie commented on #9879
cc @codesome

[2021-11-29 08:27] shixinghong opened #9885 "An error occurred Error: Failed to construct'URL': Invalid URL but the status is up"
![image](https://user-images.githubusercontent.com/56341144/143832092-681cf384-8cb0-4fcf-b708-d32ce09cdea5.png)

![image](https://user-images.githubusercontent.com/56341144/143832190-bd8d0865-8ec2-4302-a6c4-c21206cd843b.png)

As shown in the figure above, I deliberately modified the configuration to: 9000,
Is this state the most reasonable for down?
If the status is up, the target was wrong.

Is t

[2021-11-29 08:50] weixing-dev commented on #9885
typo: port 9090

[2021-11-29 09:50] Lingx9 opened #9887 "Record rules: Part of the data is lost after changed the `expr` of the record"
I modified the'expr' field of the record rule and found that part of the data was missing, as if it had not been calculated.
tried to restart Promethues, but it didn't solve

1. record rules
[code]
2. After changed expr,  the data of deviceId="GHB31001" is gone
![截屏2021-11-29 16 57 25](https://user-images.githubusercontent.com/89964135/143838275-01bef037-68a0-4cfb-b08d-41db1a49f570.jpg)

3. I re-a

[2021-11-29 12:59] wilfriedroset commented on #9807
Test was successful all over the place and I witness the expected behavior (less context switching)
<img width="1362" alt="patched-prometheus-2" src="https://user-images.githubusercontent.com/12611310/143872374-589d62bb-e080-47e7-95fb-b8ab2521a203.png">
<img width="1362" alt="patched-prometheus-3" src="https://user-images.githubusercontent.com/12611310/143872392-8935b55a-2796-4d97-9b1b-d3f1467c070

[2021-11-29 13:25] roidelapluie commented on #9807
@wilfriedroset Prometheus will never question DNS again once the requests are open, HAProxy would work best. We do not have client side load balancing.

[2021-11-29 15:01] rfratto commented on #9848
I'm pretty confident that's true. We've also noticed that the WAL replay for loading in series can take _forever,_ partially because of how many samples might exist in checkpoints. I think there's a few changes we can do here:

1. Don't store samples in checkpoints, since they're never read by remote_write
2. During replay, initialize in-memory series with a lastTs of `math.MinInt64` to indicate t

[2021-11-29 15:19] csmarchbanks commented on #9807
@wilfriedroset Thanks for testing out the PR! Glad to see that context switches are significantly lower as I hoped. Does it make a difference on general load on the Prometheus instances as well?

For client side load balancing https://github.com/prometheus/prometheus/issues/8402 exists, but I don't think there is agreement much less work being done yet. Your HAProxy solution is probably the way to

[2021-11-29 15:33] #9760 closed

[2021-11-29 15:49] rsbala commented on #9849
More updates. Upgraded to Prometheus v2.31.1. No improvements in Memory usage.

Go profiling using command `go tool pprof -symbolize=remote -inuse_space "http://<prom-server>/debug/pprof/heap"` showed 38G which is only ~40% of the 90G shown in `kubectl top pods`. Major consumption is for `textParse (*PromParser) metrics`: 20G. I guess this is the memory used for the time series ?

I tried to reduc

[2021-11-29 19:51] wilfriedroset commented on #9807
I did not witness any difference on the load or on the overall performance.
I'm comfortable with a load balancing server side.

[2021-11-29 22:01] Nexucis commented on #9849
I'm not really an expert around this particular topic unfortunately :/.

From my point of view, I fear you will have to split the targets across more Prometheus.

Perhaps @roidelapluie would you have more ideas ?

[2021-11-29 22:06] Nexucis commented on #9849
Another way around would be to see how much targets you are dropping in the discovery. I think it impacts more the CPU side and not really the memory, but can another way to optimize.

One day in my company we had an issue with the k8s discovery where we actually asked to Prometheus to get all the pods from the API regardless the different namespace, and then we asked to Prometheus to filter them

[2021-11-29 22:45] mtfoley commented on #9885
May be related to #9760 and #9872 , and a PR was merged today that may fix this issue, #9853

[2021-11-30 04:02] #9874 closed

[2021-11-30 10:33] metalmatze commented on #5865
Hey, I just wanted to give an update on what I've been hacking on the side:
During the storage working group, we came up with the idea of creating a promtool subcommand that can analyze a block or a directory with blocks and report how many chunks would actually benefit from another chunk compression (double delta or run-length encoding).
For now, the goal is to figure out how much of a difference

[2021-11-30 11:44] beorn7 commented on #5865
Is there a design doc started already? Perhaps there was a misunderstanding when I said that this issue has evolved into the beginnings of a design doc (and should eventually be converted into a real design doc).

[2021-11-30 15:44] #9610 closed

[2021-11-30 18:10] fornellas commented on #2537
There's something odd with Prometheus... pure Go as per above comment seems to work fine. From [go documentation](https://pkg.go.dev/net), it should be using `cgo` resolver:

So, it should be working for `.local` targets.

I even tried running my Prometehus with `GODEBUG=netdns=cgo`, but scraping still fails:

[code]

The error tells me Prometheus is talking to the DNS server from my `resolv.conf`

[2021-11-30 18:32] metalmatze commented on #5865
There was a small proposal started once in https://github.com/prometheus/prometheus/issues/5865#issuecomment-511427879 which we can improve upon, but that's it as far as I can see.

[2021-11-30 18:37] beorn7 opened #9910 "promql: `histogram_quantile` implicitly sums together metrics with the same labelset"
**What did you do?**

I ran the following query with multiple histograms with a name matching the regexp:

[code]

**What did you expect to see?**

I expected to see the following error:

_Error executing query: vector cannot contain metrics with the same labelset_

This error happens if I run queries like the following:

[code]

**What did you see instead? Under which circumstances?**

A result i

[2021-12-01 00:36] mrnetops opened #9911 "Further generalizing http_sd configuration for truly generic discovery"
Looking at the projects that are jumping into http_sd, I'm seeing some divergence in how folks are using it that seems to be handled in rewrite rules, when I think we can converge for truly generic service discovery

# fastly-exporter
* service ids for targets
* needing to reuse the http_sd_configs -> url because all of the services discovered are coming back to the same endpoint
[code]
# promethe

[2021-12-01 08:21] #8305 closed

[2021-12-01 11:50] chenlujjj commented on #7192
Any update on this issue ?

[2021-12-01 17:52] zzehring opened #9920 "[Promtool] when checking for referenced files, `promtool check config` prints warnings for some checked files, fails check on others"
## Proposal
**Use case. Why is this important?**

While working on #9909, I noticed that `promtool check config` has different results/behaviors when filepaths referenced in the config don't exist. The behavior differs depending on the section.

For example, when evaluating rules files, a missing file will return an error that will fail the check:

https://github.com/prometheus/prometheus/blob/ec0

[2021-12-01 20:39] candlerb commented on #3806
This is great, although as far as I can see it doesn't explicitly specify the new algorithm - it refers to an existing `xrate` implementation, and the "How" section says what internal changes are needed to implement it, but not the user-level view of what the functions do.

If I understand correctly, the proposal is that functions like (x)rate and (x)increase take all the data points within the ti

[2021-12-02 09:33] discostur opened #9923 "Crash: unexpected fault address"
**What did you do?**
Upgraded prometheus via helm chart from v2.26.0 to 2.31.1 and everything was fine. Changed the config file today and did a re-deploy and prometheus keeps crashing all the time.

* Logs:
[code]

Also tried to downgrade to an older version but the error doesn't change. Tried v2.29.x and 2.26.x ...

Regards,
Kilian

[2021-12-02 09:40] discostur commented on #9923
Ok error seems to be related to our pvc which was full ... increased the storage size and prometheus is running again ;)

I'm not shure but i think in earlier versions there was a specifig error message if storage was full / no more space available.

From my side you can close the ticket, not shure if you need it anymore.

Regards,
Kilian

[2021-12-02 13:48] jan--f commented on #9107
Please correct if I misunderstand, but preallocation itself works the same on btrfs as on any other file system. The space for files is allocated, but not yet written to. This improves performance as writer can write large chunks without doing regular system calls.

On file systems other then btrfs the same setup would produce the same "wasted space". The difference in btrfs in its default copy-on

[2021-12-02 15:28] rsbala commented on #9849
Thanks for the suggestions. We have already listed the interested namespaces in `kubernetes_sd_configs`. In "/service_discovery" I see 3000/10000 active targets. I guess the dropped 7000 are targets (containers, ports) generated from containers other than istio-proxy and dropped via `relabel_configs`.

`go_memstats_heap_inuse_bytes` (actual memory used) = 45G.
`go_memstats_heap_idle_bytes - go_mem

[2021-12-02 15:56] csmarchbanks commented on #9807
I have merged #9830, though it will not be in a release until v2.33.0. The rest of this issue seems to be covered by #8402/using a proxy to achieve client side load balancing so I am going to close it. Let me know if you think there is remaining work not covered.

[2021-12-02 15:56] #9807 closed

[2021-12-02 19:29] fatpat opened #9928 "Agent: /status web page complains about alertmanagers"
**What did you do?**
Install prometheus 2.32.0rc0 and go to the /status page

**What did you expect to see?**
Runtime and Build informations

**What did you see instead? Under which circumstances?**
at the bottom there is an error (red) saying `Error: Error fetching Alertmanagers: Unprocessable Entity`
![image](https://user-images.githubusercontent.com/822436/144489736-858bdfa7-68b5-4911-b237-67ea

[2021-12-02 21:34] sed-i opened #9929 "document how derivatives are calculated"
It would be handy if the docs specified how derivatives are calculated under different scenarios, for example:

- forward differences / central differences / etc.
- first order / second order / etc.
- first resample the data and then differentiate, or first differentiate and then resample?

For example, maybe to calculate the derivative at the left-most point (boundary) you take a second-order for

[2021-12-03 00:31] #5222 closed

[2021-12-03 00:58] glightfoot commented on #5222
Thanks for getting this done @zzehring !!!

[2021-12-03 01:21] wangfan0524 opened #9930 "Charset will be lost in the content type of the response header of the HTTP request"
When querying the Prometheus data through the HTTP request, the content type in the response header finally loses the charset. Why？

![image](https://user-images.githubusercontent.com/37073064/144528541-b9391310-53be-4f40-86aa-b34b95dc1c2b.png)

[2021-12-03 03:46] fatpat commented on #9875
fixed with #9664, closing

[2021-12-03 03:46] #9875 closed

[2021-12-03 03:46] fatpat commented on #9867
fixed with 2.32.0-rc0

[2021-12-03 03:46] #9867 closed

[2021-12-03 04:07] wanrui opened #9931 "snapshot will lead memory leaks?"
**What did you do?**
run cmd
[code]
12h, memory increased very fast!

may this cmd load all blocks in to the memory ,then i kill the cmd backend. but memory still stay high.

**What did you expect to see?**
when i kill the cmd , the memory usage will go low level!

**What did you see instead? Under which circumstances?**
 memory still stay high.

**Environment**

![image](https://user-images.githu

[2021-12-03 05:39] wanrui commented on #9931
[code]

[2021-12-03 05:42] wanrui commented on #9931
![profile004](https://user-images.githubusercontent.com/12728608/144551570-22a3b7d9-9de1-4a35-b475-7e9b03d83dc3.png)

[2021-12-03 09:25] moio commented on #2537
@fornellas see https://github.com/prometheus/prometheus/pull/2538. The pure Go resolver is forced at build time, so `GODEBUG=netdns=cgo` does not have effect.

[2021-12-03 09:55] free commented on #3806
Thanks for the suggestion, makes a lot of sense. I've added a couple of paragraphs to the _How_ section of the document, describing the algorithm rather than the implementation changes. It's basically what you wrote above, with the addition of adjusting the increase to the time range. E.g. if the requested time range is `5m` but the matching samples only cover `4m`, then the `F-B` in your example

[2021-12-03 11:16] candlerb commented on #3806
Should it say `xrate` instead of `xrange` here?

I have a few other comments to make.

Firstly, xincrease() is defined to do some scaling "If the samples approximately cover the full requested time range":

This means that xincrease won't necessarily be an integer, and this is something that people have complained about in the past.

It could just subtract the values instead.  Prometheus defines t

[2021-12-03 12:00] candlerb commented on #3806
Just to address that specifically: for cases where the thing being measured is generally treated as a rate (like the byte counter on an interface -> bytes per second), that's reasonable. However in practice I find I rarely am interested in "absolute increase" in such things, e.g. "how many bytes went through this interface in the last 5 minutes"?

But Prometheus is also used more granular counters

[2021-12-03 12:29] free commented on #3806
Oops, fixed.

If you go back through this very long thread (and [its predecessor](https://github.com/prometheus/prometheus/issues/3746)) you'll find that I was of the same opinion, but there was a lot of push-back on the grounds that "`increase()` is syntactic sugar for `rate()`". I don't quite agree with that argument, at least not the way it's stated: yes, it is currently, but we're talking abou

[2021-12-03 12:41] free commented on #3806
Agreed. That was what I was (and still am) using it for. And my argument for no adjustment. But on the one hand I can see the opposite argument.

And on the other hand, and more importantly, seeing the amount of opposition to what I naively assumed would readily be accepted as a clear improvement over the status quo, I'd rather not rock the boat any further. )o:

I'll be happy if my proposal is ac

[2021-12-03 13:17] baryluk opened #9932 "Template functions request: strip domain, strip port"
## Proposal
**Use case. Why is this important?**

Alerts should be concise, especially their summaries, yet many labels accessible during alert annotation construction will be long.

Example is `instance` or `target`, which usually will be a FQDN, often with port.

In our monitor system we also have a label `host` that is FQDN (it is used also for silencing). Often it is not derived from `instance

[2021-12-03 13:29] candlerb commented on #3806
Not for increase() if it were to return only the absolute increase (without reference to time).  But yes for rate, if you were going to modify the rate algorithm to take that into account.  However I'm not sure that's worthwhile.  We'll probably find somebody somewhere uses counters that don't reset to zero :-(

[2021-12-03 16:11] JessicaGreben commented on #9932
Sounds good to implement `stripPort` and if there is an error return the original string, it should use https://pkg.go.dev/net#SplitHostPort.   If there is support in the go standard library (not inventing regex ourselves) for doing the desired logic in `shortHostName` then that sounds like a good idea too.

[2021-12-03 16:22] JessicaGreben commented on #9931
@wanrui At first sight this shouldn't happen, but not sure of the cause. Maybe you could try to upgrade prometheus version, but that most likely wouldn't change anything since there isn't any relevant changes in the change logs.  Or you could try again but pass in the `skip_head` flag ([docs](https://prometheus.io/docs/prometheus/latest/querying/api/#snapshot)). Also the `fs_type=XFS_SUPER_MAGIC`

[2021-12-03 16:36] JessicaGreben commented on #9850
@SuperQ / @juliusv  We looked at this issue during the bug scrub meeting and we don't think this should be part of the language, but we want to get more input from you.

[2021-12-03 16:40] JessicaGreben commented on #9884
Looked at this in the bug scrub meeting, this claim seems valid. @juliusv are you able to fix it as you are the author?

[2021-12-03 16:43] JessicaGreben commented on #9885
This issue should be fixed with #9853, but @shixinghong we recommend you to change your config from `:9090` to `localhost:9090`.

[2021-12-03 16:43] #9885 closed

[2021-12-03 16:44] JessicaGreben commented on #9887
We have not tried to reproduce this, but it sounds like a bug.

[2021-12-03 17:04] JessicaGreben commented on #9920
The places in the `promtool check config` that are warning instead of erroring are the sd config file checks.

After looking into this more, the current behavior is the desired behavior.  Currently, if rule files are provided to Prometheus, they are only registered during Prometheus startup/reloads. In contrast to service discovery files, which are read at runtime. We expect the rule files to be p

[2021-12-03 17:04] #9920 closed

[2021-12-03 17:07] mtfoley commented on #9929
I had some experience with some of these calcs in a recent PR, I can take a crack at this one in a new PR.

I believe the TL;DR is that a least-squares linear regression is performed and the slope of the resulting trend line is used in the output. There are caveats to account for time series values (i.e. large x values) and to deal with float64 numeric types in summation.

cc: @beorn7

[2021-12-04 02:36] wanrui commented on #9931
After two snapshot operations, even if I end the snapshot process, it seems that Prometheus is still executing the snapshot action after restarting, because I see that the snapshot content is still generating. On December 2, 2021, I took two snapshots. Due to inexperience, I did not use the nohup method for the first time, and the execution was still not completed after 5 hours. Therefore, I ended

[2021-12-04 14:10] uesyn commented on #9932
This sounds like a good idea!
I would like to work on this issue if it's not assigned to anyone yet.
Can I grab this?

[2021-12-04 17:01] roidelapluie commented on #9932
Yes

Le sam. 4 déc. 2021, 15:10, uesyn ***@***.***> a écrit :

[2021-12-05 06:30] saran-kumaar commented on #2459
Is there is a way to monitor whenever the state goes to DOWN state.

[2021-12-05 08:03] juliusv commented on #9884
Thanks for pointing this out, totally true that the appropriate notices are missing here, sorry about that!

Here's a PR to address it: https://github.com/prometheus/prometheus/pull/9942

[2021-12-05 08:15] juliusv commented on #9850
It's an interesting feature request which I never saw requested before, but which doesn't seem too unreasonable either. Such a modifier to aggregators would easily fit into the language model (you'd probably want to be able to specify the concatenation separator as an optional parameter, similar to relabeling rules), but personally I'd want to see more interest from other people before considering

[2021-12-05 14:30] MalulDekel opened #9944 "Memory leak on 2.31.1?"
**What did you do?**

I installed kube-promethues-stack with thanos side car enabled and disabled compaction.

**What did you expect to see?**

I expected for seamless installation process.

**What did you see instead? Under which circumstances?**
I watched prometheus memory consumption get higher and higher from day to day.

**Environment**
kubernetets

* System information:

	kubernetes version

[2021-12-06 04:14] wanrui commented on #9944
config？

[2021-12-06 06:55] Lingx9 commented on #9887
@JessicaGreben  Is there any way to temporarily fix this problem?

[2021-12-06 09:59] MalulDekel commented on #9944
@wanrui

'''

global:
  evaluation_interval: 30s
  scrape_interval: 30s
  external_labels:
    prometheus: monitoring/kube-prometheus-stack-prometheus
    prometheus_replica: prometheus-kube-prometheus-stack-prometheus-0
rule_files:
- /etc/prometheus/rules/prometheus-kube-prometheus-stack-prometheus-rulefiles-0/*.yaml
scrape_configs:
- job_name: serviceMonitor/monitoring/kube-prometheus-stack-aler

[2021-12-06 10:18] codesome commented on #9923
Glad to know you found the issue. Crash message depends on what part of Prometheus ran into the space issue first. The "no more space available" comes from TSDB when it's writing, but this seems to be from remote write which only reads and might have hit a corruption because of disk space issues. Closing this since there is nothing actionable.

[2021-12-06 10:30] codesome commented on #9931
That looks weird. And I am guessing you have the head block included in your snapshot looking at the profile. I wonder if Prometheus just does not shut itself down when snapshot is in process hence it is on-going in the background.

Unfortunately I don't have enough bandwidth at the moment to investigate this at the moment, can get to it later (read few weeks).

[2021-12-06 10:46] codesome commented on #9944
Could you please also share the surrounding logs and memory profiles?

[2021-12-06 19:55] bzed commented on #7192
Indeed, a documentation (or even better: some easy to include code) of the remote read API would be very appreciated.
For example there are issues like https://github.com/go-graphite/graphite-clickhouse/issues/99 which are basically struggling with verifying if the implementation after the upgrade works as expected. And so far I was neither able to find a documentation of what is expected from the

[2021-12-06 21:46] roidelapluie commented on #9887
Does collectd expose metrics with timestamps?

Could you try:

[code]

of change 2m by 5m?

[2021-12-06 21:49] roidelapluie commented on #9930
it seems that we could always return UTF-8, but I do not know how breaking that change would be.

@juliusv what is your opinion?

[2021-12-07 08:41] #9884 closed

[2021-12-07 08:53] juliusv commented on #9930
So we just always set `Content-type: application/json` without charset here: https://github.com/prometheus/prometheus/blob/46529bf8511470141a19cd774e3d14562758483f/web/api/v1/api.go#L1495

And according to [RFC4627](https://www.ietf.org/rfc/rfc4627.txt), JSON defaults to UTF-8: "JSON text SHALL be encoded in Unicode. The default encoding is UTF-8.". And https://security.stackexchange.com/questions

[2021-12-07 09:23] sedflix opened #9958 "go install promtool not working"
**What did you do?**
[code]

**What did you expect to see?**

Successful installation of promtool.

**What did you see instead? Under which circumstances?**
[code]

**Environment**

[code]

* System information:

[code]

[2021-12-07 09:31] wenyurush commented on #8862
In a recent scan some of the following issues were found that are not the same kind of situation.

opt/prometheus/prometheus (gobinary)
====================================
Total: 1 (UNKNOWN: 0, LOW: 0, MEDIUM: 0, HIGH: 1, CRITICAL: 0)

+----------------------------------+------------------+----------+-------------------+-----------------+---------------------------------------+
|             LIBR

[2021-12-07 12:22] MalulDekel commented on #9944
@codesome

How can I provide the memory profile?

[2021-12-07 14:30] codesome commented on #9944
@MalulDekel `<prometheus-url>/debug/pprof/heap` and `<prometheus-url>/debug/pprof/allocs` for heap and alloc profiles respectively. It should get downloaded automatically if you open this URL directly (and not clicking `...?debug=1` URLs on the `/debug/pprof` UI)

[2021-12-07 15:44] metroshica commented on #9958
Also seeing this issue with environment `go version go1.17.3 darwin/amd64` and system information `Darwin 20.6.0 x86_64`

[2021-12-07 15:50] darkl0rd opened #9966 "Prometheus continuously re-discovers all existing targets."
**What did you do?**

Setup Prometheus with Docker Swarm Service Discovery using both Swarm basic filters and the workaround/solution provided by Brian Brazil in issue https://github.com/prometheus/prometheus/issues/8073 to ensure that the targets aren't constantly re-discovered

[code]

**What did you expect to see?**

Services not being continuously rediscovered.

**What did you see instead? Und

[2021-12-07 15:56] MalulDekel opened #9967 "sharding"
I don't think its a feature request but I feel like there is missing documentation around sharding.

Can we do something about it?

[2021-12-07 16:03] roidelapluie commented on #9966
Service are discovered on the basis of the "refresh_interval", which you seem to use the default value of 30s.

[2021-12-07 16:05] roidelapluie commented on #9958
Could you try GO111MODULE=on go install github.com/prometheus/prometheus/cmd/promtool@main ?

[2021-12-07 16:22] MalulDekel commented on #9944
What is the file ending this file needs?
I can't upload them in here as is

[2021-12-07 16:22] MalulDekel commented on #9944
What is the file ending this file needs?
I can't upload them in here as is

[2021-12-07 16:48] codesome commented on #9944
You can use `.gz` if github allows it.

[2021-12-07 16:54] roidelapluie commented on #9944
You can also share it on https://share.polarsignals.com/ and provide us the link.

[2021-12-07 17:22] MalulDekel commented on #9944
[allocs.gz](https://github.com/prometheus/prometheus/files/7670365/allocs.gz)
[heap.gz](https://github.com/prometheus/prometheus/files/7670368/heap.gz)

[2021-12-08 08:00] uesyn commented on #9932
Triming whitespaces is generic function, so I think `stripPort` should just do stripPort and simple port number check.
Therefore, I propose `trimSpace` in addition to `stripPort`.
I will implment it with https://pkg.go.dev/strings#TrimSpace.
So If you would like to trim whitespaces from host, you can do below:

[code]

Do you think about it?

[2021-12-08 09:18] AlbMor opened #9972 "Prometheus + (addition) operator not working"
**What did you do?**
[code]

**What did you expect to see?**
The result vector with the sum of the values

**What did you see instead? Under which circumstances?**
[code]
**Environment**

* System information:
OS: Windows 10 2004
Docker Desktop: 3.5.2

* Prometheus version:
Prometheus: Docker image 2.30.1

* Prometheus configuration file:
[code]

[2021-12-08 09:24] roidelapluie commented on #9972
mmh.. it works for me: https://prometheus.demo.do.prometheus.io/graph?g0.expr=prometheus_http_requests_total%7B%7D%20%2B%20prometheus_http_requests_total%7B%7D%0A&g0.tab=1&g0.stacked=0&g0.range_input=1h
could you double check your input?

[2021-12-08 10:05] AlbMor commented on #9972
Hi @roidelapluie

Running on Microsoft Edge (Microsoft Edge 44.19041.423.0, Microsoft EdgeHTML 18.19041) gives

[code]

Running on Chrome (Version 96.0.4664.93 (Official Build) (64-bit)) is working

Both Chrome and Edge running on the same PC with Windows 10 2004

I have also tested in others two  PCs with Windows 10 20H2 and Windows 10 1909 and running with Edge with Chromium-based version and al

[2021-12-08 10:26] roidelapluie commented on #9972
@juliusv @Nexucis as our UI experts, do you know if the new promql editor is compatible with old edge? Can you comment on this issue?

[2021-12-08 11:51] kmrgirish commented on #9958
[code]

[2021-12-08 13:07] Nexucis commented on #9972
Looking at what @AlbMor reported, it doesn't look like it's related to the editor itself, I think it's more related to react.
I will try to reproduce it first. That shouldn't be too hard thanks to the input gave here :).

Let's see then if there is a quick fix to do.
In case it's really related to the editor, probably then we will have to report the issue to codemirror and we won't be able to do m

[2021-12-08 13:09] codesome commented on #9725
Folks, after multiple days of debugging and pulling my hair out, I have finally found the issue, and I am blown. I have also tried the fix and it's working. This was all done in a live Prometheus, so I will try to reproduce it locally now that I finally know what is happening and describe the root cause in the PR that I open for the fix.

[2021-12-08 13:31] fpetkovski opened #9979 "SelectHints should contain function parameters in addition to the function name"
## Proposal
**Use case. Why is this important?**

We would like to optimize the retrieval of SeriesSets by pre-computing the result for certain aggregations.
This is currently possible to do for aggregations like `max` and `min`, but not for `topk` and `bottomk` because the latter two aggregations have an additional parameter which is not provided in the SelectHints: https://github.com/prometheus/

[2021-12-08 16:07] juliusv commented on #9972
It could of course be that CodeMirror (our editor component) doesn't work properly on the old Edge, and that it thus produces some weird non-expected characters when reading its content. Seems like part of the query gets sent correctly to the backend (thus the error message includes a metric name), but that some unexpected character was sent to the backend.

@AlbMor It could be interesting to see

[2021-12-08 19:04] baryluk commented on #9932
I think this is better and less magic.

[2021-12-08 20:41] AlbMor commented on #9972
@juliusv

Of course. I would like to know what is the dev tool so I can help. Please let me know

[2021-12-08 20:45] juliusv commented on #9972
I mean this: https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/network/

But not sure if that exists or what that looks like in the non-Chromium-based Edge. But basically the part of your browser that lets you inspect the network requests that are actually happening.

[2021-12-08 20:54] AlbMor commented on #9972
@juliusv

I realize now that I have updated Microsoft Edge on the failing PC and therefore I cannot test it :-(. Sorry

But I have reported the Edge version before that is  (Microsoft Edge 44.19041.423.0, Microsoft EdgeHTML 18.19041)

I can eventually spin up a Virtual Machine to test it but it will take a bit

[2021-12-09 03:04] testn commented on #9944
@MalulDekel  It does not look like an archive

[2021-12-09 05:45] Windrow14 commented on #8032
Excuse me.

With Prometheus 2.31.1 (on ubuntu 20.04), I have a problem that "resolved" message is always sent one minute later than "endsAt" time.

I didn't have such problem on 2.29.1 (on ubuntu 18.04).

Is this caused by the timestamp tolerance (2ms by default, which my setup does not meet)?

---

Thu Dec  9 13:17:54 CST 2021
   34  7117 ACCEPT     tcp  --  *      *       192.168.0.130        0.

[2021-12-09 08:14] RayYe586 opened #9982 "pending commit data lock process may be error"
https://github.com/prometheus/prometheus/blob/c965a7555b7ffcee1a127d782abd5bb478a16750/tsdb/head_append.go#L452

	for i, s := range a.samples {
		series = a.sampleSeries[i]
		series.Lock()
		ok, chunkCreated := series.append(s.T, s.V, a.appendID, a.head.chunkDiskMapper)
		series.cleanupAppendIDsBelow(a.cleanupAppendIDsBelow)
		series.pendingCommit = false   <=== **pendingCommint should be set afte

[2021-12-09 12:15] tomas-stary opened #9990 "The sample limit does not work properly"
**What did you do?**
I have a problem with the sample limit. I will give an example to simplify the problem. For easy replication of the problem, I will show everything on the localhost.

1) Run node_exporter on localhost. Metrics are available at http://localhost: 9100/metrics
2) I'm launching Prometheus with a very simple config in docker. I run it via the script below:
[code]
3) I will find out

[2021-12-09 13:08] valyala commented on #9607
@dginhoux , if you forward data from Prometheus agent to VictoriaMetrics, then alerting rules can be evaluated at VictoriaMetrics side with [vmalert](https://docs.victoriametrics.com/vmalert.html).

[2021-12-09 14:16] peterbourgon commented on #9822
@alileza

Prometheus may scrape its targets on discrete intervals, but metrics are actually continuous, so the concept of unique values of a gauge isn't really sensical. When you "push" a value of 336, you're not sending a single event, you're setting the gauge to a value, and it will retain that value indefinitely.

[2021-12-09 14:21] fatpat commented on #9928
fixed in 2.32.0-rc.1

thanks you

[2021-12-09 14:21] #9928 closed

[2021-12-09 17:37] peterbourgon commented on #9990
Does the node_exporter yield a consistent number of samples? Or is `scrape_samples_scraped` monotonically increasing, as the cardinality of the various node_exporter metrics changes over time?

[2021-12-09 17:44] peterbourgon commented on #9932
[code]

?

[2021-12-09 23:39] roidelapluie commented on #9990
Thank you. This indeed sounds like a bug in our code.

[2021-12-09 23:54] roidelapluie commented on #9990
The issue is that we cross the sample limit when writing the staleness markers only.

We could fix it for Prometheus by increasing or ignoring the limit before writing the report. It might be tricky.

[2021-12-09 23:57] roidelapluie commented on #9979
As per previous dev summit, I'd prefer to have a design doc about how we would shard promql queries in the future, instead of changing the protocol right away. I do not know when/who would work on that design doc.

If we do not foresee this in a relativaly close future, we could add this.

[2021-12-09 23:58] roidelapluie commented on #9958
This is a warning, I expect.

[2021-12-10 03:15] taotao365s opened #9992 "store other field value in metric"
## Proposal
**Use case. Why is this important?**

some time we want to record some key point info, such as `user_id` or `trace_id` , and store it to prometheus store,
but it is not equal `tags`

*“Nice to have” is not a good use case. :)*

[2021-12-10 08:34] tomas-stary commented on #9990
I think Prometheus exposes this metric for every target. The metric is mentioned [here](https://prometheus.io/docs/concepts/jobs_instances/#automatically-generated-labels-and-time-series).

I have fewer metrics on my computer today than yesterday, so yes it changes according to node_exporter. However, this is not important. I used node_exporter only as an example, which is easy to simulate.

[2021-12-10 08:42] tomas-stary commented on #9990
Hi thank you very much for the answer. I believe this can be quite challenging. Therefore, I would like to ask you for a repair. This is important to me because if the target is not down in Prometheus and the metrics don't work in the charts at the same time, I have to find out for customers why the metrics don't work for them.

[2021-12-10 08:51] kmrgirish commented on #9958
@roidelapluie but not able to install `promtool` with above command. Return code by the `go install` is `1`.

[2021-12-10 09:59] helloxz opened #9993 "image: prom/prometheus:v2.3.1 Cannot use -- storage --storage.tsdb.retention.time"
Hello, I'm using docker compose to deploy Prometheus. I want to use --storage.tsdb.retention.time=7d, but a problem was encountered:
unknown long flag '--storage.tsdb.retention.time'

My docker-compose.yaml content is as follows:

[code]

You can't start using the above template, but I modified the image to `prom/prometheus:latest` There is no such problem

[2021-12-10 11:23] Nexucis commented on #9972
mmm I can't reproduce it either my edge version is too up to date ...

I'm wondering how much it is complicated to upgrade edge. Probably it's not a so hard requirement to say : "please upgrade edge" ?

[2021-12-10 12:10] roidelapluie commented on #9993
Prometheus 2.3.1 did not have that feature, it is a too old version. Did you mean 2.31.1?

[2021-12-10 12:10] #9993 closed

[2021-12-10 13:03] juliusv commented on #9972
Yeah, I'd just wait and see if anyone ever reports it again, and then maybe we can reproduce something.

[2021-12-10 21:06] sed-i opened #9999 "maximum resolution of 11,000 is not applied to interpolated timeseries"
**What did you do?**
I queried for an interpolated time series
[code]

**What did you expect to see?**
I expected the "exceeded maximum resolution of 11,000 points per timeseries" error message.

**What did you see instead? Under which circumstances?**
More than 11k points were returned:
[code]

**Environment**

* System information:

[code]

* Prometheus version:

[code]

* Alertmanager version:

[2021-12-10 21:52] precurse commented on #8799
Thank you so much for deep diving and trying to fix this. I use Prometheus on OpenBSD extensively :)

[2021-12-11 06:15] chenlujjj opened #10000 "feature request for promtool: find out which metric weighs most when encountering "sample limit exceeds""
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*

Sometimes we encounter the scraping failure problem caused by  "sample limit exceeds", and we want to know which metric makes up the biggest part of sample amout. I have written a go script for this: https://github.com/chenlujjj/samplelimit.
Maybe this feature can be added to promtool ?

[2021-12-11 07:11] akshits96 opened #10001 "Log4j vulnerability"
There was a new critical vulnerability reported in the open source community yesterday(10 December 2021) related to Apache Log4j2. This library is widely used in Java projects/applications and a public exploit has been released which escalates the criticality of the issue.
If this project impacted?

[2021-12-11 12:01] BrandonDalton commented on #7783
Hi am I able to work on this?

[2021-12-12 10:35] codesome commented on #10001
No

[2021-12-12 10:35] #10001 closed

[2021-12-12 20:55] EthanH-Li commented on #10001
@codesome does prometheus leverage any versions of log4j at all, including log4j 1.x?

[2021-12-13 11:18] johncming opened #10003 "May be a bug in discovery ApplyConfig（v2.31)"
Cache the **last** (job+provider) targets
https://github.com/prometheus/prometheus/blob/6f3e664ae712850b020d95c5c8b8a6ff841803bd/discovery/manager.go#L205-L213

While here assigning targets to **all possible** (job+provider)s
https://github.com/prometheus/prometheus/blob/6f3e664ae712850b020d95c5c8b8a6ff841803bd/discovery/manager.go#L215-L224

If it is not a bug, please close the issue.

[2021-12-13 11:31] #10003 closed

[2021-12-13 13:17] ivange94 commented on #9115
@codesome what's the update on this? Is someone still working on this if not I'll like to pick this one.

[2021-12-13 21:02] LeviHarrison commented on #10001
Thanks for your concern.

Prometheus is written in Go and therefore doesn't use any Java libraries. Neither is the Java client library.

[2021-12-13 22:29] roidelapluie commented on #8032
On 08 Dec 21:45, Windrow14 wrote:

This is probably not related. I suggest you to ask for help in our community
channels: https://prometheus.io/community

[2021-12-14 05:15] ejianlv opened #10010 "labelmap is not working well for node label start with number"
1, In K8s environment, if we define a node label "**5gc-abc-se/vnf=xyz**", it is a valid node label according to https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

2, due to we have pm job relabel_configs as below:
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

3, the node label will be convert to "5gc_abc_se_vnf"

[2021-12-14 08:05] JoostvdB94 commented on #9944
I'm also running 2.31.1
We tried increasing the RAM memory for the pod and that gave the pod some time to load all the WAL files. But even after loading all WAL files it was killed by the kubernetes OOMKiller.

We then tried to clear the entire data folder and this did show a decrease in memory usage, but eventually it ran out of memory again.

Logs do not show any errors.

[2021-12-14 12:41] #9782 closed

[2021-12-14 13:59] beorn7 commented on #9929
Note that `rate` and friends are working very differently from `deriv`. I'm not sure which one the OP is referring to.

For the former, see https://promlabs.com/blog/2021/01/29/how-exactly-does-promql-calculate-rates as an excellent starter.

For `deriv`, we are indeed doing a least-squares linear regression (IIRC), but it should be noted that I would prefer to replace our DIY implementation by a

[2021-12-14 15:05] bboreham opened #10015 "Prometheus startup should discard data beyond the retention time"
**What did you do?**

Came across a Prometheus that has been crashlooping for a month because its disk is full.

**What did you expect to see?**

At startup, delete WAL and storage blocks that are beyond retention time, before starting to write any new data.

**What did you see instead?**

The data is from well before the retention time (1635876000 =  02 Nov 2021) so can all be deleted, but it tri

[2021-12-14 17:51] mccricardo opened #10019 "relabel_config regex with underscore not working"
**What did you do?**
Example config:

[code]

**What did you expect to see?**
Drop labels **container**  and **connection_security_policy**.

**What did you see instead? Under which circumstances?**
Only label **container** was dropped. Happens with every action.

**Environment**

* System information:
Kubernetes. Image: quay.io/prometheus/prometheus.

* Prometheus version:
[code]

[2021-12-15 08:57] ddevault opened #10020 "eslint fails during build of 2.32.0"
* System information: Alpine Linux edge

[code]

[2021-12-15 09:29] roidelapluie commented on #10019
Can we please see your prometheus configuration?

I think the reason might be that `container` comes from service discovery, therefore it should be dropped with `relabel_configs`. `connection_security_policy`, could come from the scraped metrics, and should be dropped with `metric_relabel_configs`.

[2021-12-15 09:43] mccricardo commented on #10019
Thank you for the reply @roidelapluie. Let me check on that and I'll get back to you.

[2021-12-15 10:00] mccricardo commented on #10019
Spot on @roidelapluie. Thank you so much. I'll be closing the issue.

[2021-12-15 10:00] #10019 closed

[2021-12-15 11:09] jiachengxu opened #10021 "Kubernetes service discovery: support discovering node meta labels when using endpoints as role"
**Use case**
Currently, the node meta labels can only be discovered when you have `node` as role in [`kubernetes_sd_config`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config). It would be helpful if those labels can also be discovered when using `endpoints` as role.
The use case can be for node exporter, which is used for providing node-level metrics,

[2021-12-15 11:53] bboreham opened #10022 "Feature request: add a "features supported" API"
Arising from https://github.com/grafana/grafana/issues/33487, where we try to figure out whether the backend supports label-values requests with matchers.

Since there are several implementations of the Prometheus API, looking at the Prometheus version in `/status/buildinfo` is suboptimal, also some features like Exemplars are enabled by flag.

Proposal: have a `/status/features` endpoint that ret

[2021-12-15 12:51] bboreham commented on #9999
The error you are pointing at is for `query_range`, while you are calling `query`.  This is why it is not applied.

I agree a similar limit should apply to vector results from instant queries.

The effect of the test in `query_range` is to bail out before starting work, but this may be difficult to achieve for the sort of case you have illustrated: a subquery can be inside an aggregation which mak

[2021-12-15 13:27] EnicZhang opened #10024 "Log error"
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	insert output of `alertmanager --version` here (if relevant to the issue)

* Prometheus configuration file:
[code]

[2021-12-15 17:05] esmet opened #10027 "Panic in v2.32.0 using /api/v1/query_range within (*concreteSeriesIterator).Seek"
**What did you do?**

Accessed the `/api/v1/query_range` endpoint:
[code]

**What did you expect to see?**

A query result

**What did you see instead? Under which circumstances?**

HTTP 422 Unprocessable Entity

Panic:
[code]

Log line and full stack:
[code]

**Environment**

* Prometheus version:

	v2.32.0

This issue does not appear using version v2.31.2

Looking at the code, it may be the case

[2021-12-15 17:44] LeviHarrison commented on #10024
Could you please add some more details about this error? It's hard to figure out what's going on just based on the title of the issue.

[2021-12-15 17:48] LeviHarrison commented on #10027
Thanks for your report.

I'm pretty sure this is related to #9878, which changed the `Seek` function.

cc @beorn7

[2021-12-15 17:56] LeviHarrison commented on #9612
Now that #9943, #9941, #9941, #9851, and #9649 are merged, I think we're good.

[2021-12-15 17:57] #9612 closed

[2021-12-16 00:22] siris commented on #9944
I can also confirm that Prometheus v2.31.1 is OOMing running in Kubernetes v1.19.13.

I can reproduce the scenario every time by running a specific Grafana Dashboard query against my Prometheus v2.31.1 instance.
The result is identical to @MalulDekel  and @JoostvdB94, Prometheus instantly OOMs and is killed by the Kubernetes OOMKiller controller and logs nothing before OOM.

Note, I have never run

[2021-12-16 01:08] uesyn commented on #9932
@JessicaGreben

Would you review this PR?
https://github.com/prometheus/prometheus/pull/10002

[2021-12-16 02:25] EnicZhang commented on #10024
https://github.com/prometheus/prometheus/blob/main/documentation/examples/remote_storage/remote_storage_adapter/main.go
At line 217 of this file ,"Read Error " should be changed to "Write Error".

[2021-12-16 02:32] LeviHarrison commented on #10024
"Read Error" is correct. The first step in the handler code for the `/write` endpoint which you're referring to is to read the body of the write request. Therefore, if there is an error, it's an error _reading_ the body.

[2021-12-16 02:46] gf-zhangdd commented on #10024
Indeed, thanks @LeviHarrison

[2021-12-16 02:49] EnicZhang commented on #10024
Indeed, thanks. @LeviHarrison

[2021-12-16 02:49] LeviHarrison commented on #10024
No problem.

[2021-12-16 02:49] #10024 closed

[2021-12-16 08:14] brancz commented on #10021
I believe this is a duplicate of https://github.com/prometheus/prometheus/issues/9510, would you agree @jiachengxu?

[2021-12-16 08:23] perlun opened #10028 "Prometheus stops being able to scrape after system reboot/systemd-timesyncd time synchronization"
**What did you do?**
Rebooted Prometheus/Grafana server after doing `apt-get dist-upgrade`.

**What did you expect to see?**
Prometheus service working as before.

**What did you see instead? Under which circumstances?**
Prometheus server starting to report "out of bounds" for all endpoints being scraped.

![image](https://user-images.githubusercontent.com/630613/146333368-db927be9-2d2b-48de-b570-

[2021-12-16 08:24] perlun commented on #10028
For the record, restarting the `prometheus` service makes it work correctly again. Still, I consider this a quite critical issue since it doesn't seem to self-heal.

[2021-12-16 08:33] perlun commented on #10028
I _suspect_ that Prometheus has a hard time recovering because of the bad (future) timestamps in the TSDB. In the best of worlds, it'll get back on its feet once the system clock passes the "Current Max time" displayed here (about 7,5h from now):

![image](https://user-images.githubusercontent.com/630613/146336190-e45e7a4e-b47f-4d4b-b4aa-f468c0bac709.png)

[2021-12-16 09:54] beorn7 commented on #10027
Thanks for the detailed report and your hypothesis. I'll look into it today.

[2021-12-16 10:08] jiachengxu commented on #10021
@brancz Oh, thanks for pointing this out. Yeah, I agree this is a duplicate one.
/close

[2021-12-16 10:08] #10021 closed

[2021-12-16 10:42] JokerQueue opened #10029 "Feature request: Federation support exemplars."
## Proposal
I am using federation to scrape selected time series from another Prometheus server, but when the series is updated with exemplars, I can't get the exemplars by the federation.

[2021-12-16 23:17] LeviHarrison commented on #10000
I think this is a cool idea, maybe under the name of `check weight` or something.

cc @JessicaGreben @dgl

[2021-12-16 23:23] LeviHarrison commented on #10000
Actually, this fits better under the `debug metrics` command, possibly part of the output it writes.

[2021-12-17 02:56] chenlujjj commented on #10000
I will check the code related to `debug metrics` command, and may implement this feature this weekend.

[2021-12-17 03:29] LeviHarrison commented on #10000
Great! Thanks.

[2021-12-17 07:37] charlesxsh opened #10033 "nil deference in TestWriteStorageLifecycle"
**What did you do?**
Trigger test TestWriteStorageLifecycle
**What did you expect to see?**
PASS
**What did you see instead? Under which circumstances?**

[code]

The reason is because
[code]

so when the code executed to ApplyConfig's
[code]

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertma

[2021-12-17 08:26] charlesxsh opened #10034 "nil deference in TestUpdateRemoteReadConfigs"
**What did you do?**
trigger Test TestUpdateRemoteReadConfigs
**What did you expect to see?**
PASS
**What did you see instead? Under which circumstances?**

[code]

Similar issue with #10033, missing URL in
[code]

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	insert outpu

[2021-12-17 08:38] charlesxsh opened #10039 "Panic in TestChunkDiskMapper_WriteChunk_Chunk_IterateChunks"
**What did you do?**
Trigger TestChunkDiskMapper_WriteChunk_Chunk_IterateChunks
**What did you expect to see?**
PASS
**What did you see instead? Under which circumstances?**
panic as follows:

[code]
**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	insert output of `alertmana

[2021-12-17 09:44] skupjoe commented on #8543
VictoriaMetrics' vmagent does this perfectly:
https://github.com/VictoriaMetrics/VictoriaMetrics/blob/master/docs/vmagent.md#loading-scrape-configs-from-multiple-files

Can this please be supported in the native prometheus client as well?

[2021-12-17 10:01] RichiH commented on #10022
In the context of yesterday's Prometheus dev summit, we talked about if Grafana could ping back some basic information like Prometheus version and enabled feature flags; this could help inform Prometheus-team about what features are in use.

[2021-12-17 10:19] bboreham commented on #10022
"Prometheus version" is less helpful in a world where multiple backends try to serve the Prometheus API (Cortex, Chronosphere, etc).
If you came up with a "Prometheus API version" that would be a bit better, but right now I prefer my design of a bag of feature names that is not constrained to change in one set of steps.

[2021-12-17 10:54] bwplotka opened #10040 "Streaming Result for Query/QueryRange HTTP API"
In Thanos we are moving forward with query sharding, parallelization and pushdown ideas 💪🏽 Recently, we pushed a change that is capable of safely pushdown certain aggregations to Prometheus (https://github.com/thanos-io/thanos/pull/4917).

What we do in sidecar now, for certain "safe" functions like `min, max, group, min_over_time, and max_over_time` instead of fetching all series through remote r

[2021-12-17 11:08] bwplotka opened #10041 "Propagate more hints through PromQL Select"
I would love to propose pushing more hints to storage.

#### Proposal

Let's take an example query: `avg(sum(rate(abc{}[5m])) by (pod)) by (cluster)`

Currently such query will ask storage using `Querier` interface `Select` method (`Select(sortSeries bool, hints *SelectHints, matchers ...*labels.Matcher) SeriesSet`)  with `__name__ = abc` matcher and following select hints:

[code]

I would love t

[2021-12-17 11:35] skupjoe commented on #7192
I spent days troubleshooting why remote read was not working (in this case, M3DB -> Promethesu), and it turned out to be because I was using `external_labels` in my global config.  As described in the OP, this just flat-out breaks remote read from working (but Prometheus will still accept remote writes no problem).

I wish this was documented better- it would have saved me a lot of time.

Also not

[2021-12-17 12:00] RichiH commented on #10022
Fair, I did mean "the version of the thing", not "the version on Prometheus binaries only". Would you be interested in creating a design doc of what Prometheus endpoints should offer in such an API?

[2021-12-17 12:31] brian-brazil commented on #10041
That avg hint is not safe to send, as it's impossible to do things with it correctly in the general case. Thus far the only hints sent have been for things where it is possible to do correct things with it, so that sum hint is fine for example as sum is associative. min/max are also safe.

[2021-12-17 12:39] brian-brazil commented on #10040
That's not the case. This is true for range vector functions internally, however basically everything else is step by step including the functions you list.
So there's not much to be streamed, and you'd have to rewrite a large chunk of PromQL to make it happen - plus ensure that failure semantics are dealt with correctly, and somehow ensure that resource usage isn't adversely affected given you're

[2021-12-17 12:57] juliusv commented on #10040
Yeah, making the PromQL computation itself streamable on a per-series basis sounds hard, but the final JSON result could of course be streamed quite easily. Maybe that's still worth it for large payloads in some use cases?

[2021-12-17 13:37] brian-brazil commented on #10040
Once we have all the result samples, streaming from there makes sense. I think I ended up not doing it when making the json iterator changes as it ended up worse performance wise, but that could have changed.

[2021-12-17 14:00] steveazz opened #10043 "Out of sequence chunks no longer considered a CorruptionErr and never deleted from disk"
**What did you do?**

*Note:* This came from investigate a incident we had in production in https://gitlab.com/gitlab-com/gl-infra/production/-/issues/5998, we still don't know the root cause and are investigating in https://gitlab.com/gitlab-com/gl-infra/infrastructure/-/issues/14821 and when doing so we found the following:

1. Start seeing the following errors inside of Prometheus logs: `msg: D

[2021-12-17 14:03] steveazz commented on #10043
I think the potential fix for this is https://github.com/steveazz/prometheus/commit/a6c3a836114d1289de285959793c82f579ee35b2 however, first I want to discuss **if** in https://github.com/prometheus/prometheus/pull/7229/files#diff-d9f058bd14a07ebec78d70aaa8d6e8e705bc09086e338b74b12666e7ac121605L542-R573 it was the intention to stop considering it a `CorruptionErr` and it's me misunderstanding the c

[2021-12-17 14:06] steveazz commented on #10043
@codesome @bwplotka apologies for pinging you directly I appreciate that you folks are busy, but since this change happened in https://github.com/prometheus/prometheus/pull/7229 I'm curious about your opinion here and see if this is a bug or not.

Thank you so much for that hard work you put in Prometheus and Thanos 💪

[2021-12-17 14:18] moadz commented on #10041
@brian-brazil Average can be associative if you return the sum/count, correct?

[2021-12-17 14:48] brian-brazil commented on #10041
I should correct myself here, this is not safe as different remote read endpoints could return overlapping data so you could end up over-counting.

No as a) you can only return one value and b) the above reason.

Min/max remain safe I believe.

[2021-12-17 16:02] desjardd1 opened #10044 "Log4j vulnerability *NEW*"
Log4j was recently updated to use 2.15 in the log4j client.
This version is still impacted and its considered a critical vulnerability now.

Are simpleclient_log4j and simpleclient_log4j2 going to be updated to include version 2.16 here ASAP as security scanners from our the security team are flagging these and they need to know when they will be updated even if they are considered "Not in use".

[2021-12-17 16:03] roidelapluie commented on #9930
Thanks Julius.  Based on your detailed input, I will close this issue.

[2021-12-17 16:03] #9930 closed

[2021-12-17 16:04] roidelapluie commented on #9944
@codesome can you please look at this when you are back? Thanks!

[2021-12-17 16:07] roidelapluie commented on #9967
Hello,

I will move this to the documentation repository. It would be a nice addition to our guides.

[2021-12-17 16:08] roidelapluie commented on #9972
Thanks everyone. I will close this issue, I agree it is fine to expect a recent browser version, and no one has been able to reproduce it.

[2021-12-17 16:08] #9972 closed

[2021-12-17 16:15] roidelapluie commented on #9982
Thanks for this. I will let @codesome comment on this.

[2021-12-17 16:17] roidelapluie commented on #9999
I think we could avoid running subqueries that large, by looking at subquery step and duration. We don't need to do anything fancier than that, and it is better to stop working before hitting the TSDB.

[2021-12-17 16:22] roidelapluie commented on #10010
Unfortunately, we can not do this, it could break people:
- That could collision with existing labels
- That could be fixed in another way by subsequent relabeling rules.
 - Last but not least, we can not decide for users how to sanitize labels. There could be other things than this making invalid labels, and sanitizing can depend on the language and other things.

I such, I propose you two workar

[2021-12-17 16:22] #10010 closed

[2021-12-17 16:23] roidelapluie commented on #10041
Is this a duplicate of #9979 ?

[2021-12-17 16:24] roidelapluie commented on #10028
You are correct. Unfortunately, when time is off, a time serie database can not really work properly... I am not sure what we can do about this.

[2021-12-17 16:39] bboreham commented on #9999
I was going on the comment which says "For safety, limit the number of _returned_ points per timeseries."
It does not say the objective is to avoid doing large queries.

[2021-12-17 17:14] brian-brazil commented on #9999
Historically this limit was to avoid running with a step of 1s since 1970
with query_range, which I did once by accident.

Samples per timeseries internally is different, and may break quite a few
users as this hardcoded value was chosen to be enough for realistic query
range use cases, not all range vectors or sub queries.

Improving the memory sample limits may be a better approach, for example

[2021-12-17 21:59] bwplotka commented on #10040
Thanks for the input. Looks like we could descope it to just an API and check if it helps with anything (it helps for Thanos sidecar case for sure).

On separate note then...

@brian-brazil you made me curious now! So do you think there is room to make PromQL computing as much series by series internally, even if it's not currently? 🤔

[2021-12-17 22:02] bwplotka commented on #10041
Thanks for feedback!

#9979 is connected, but not the same. #9978 is about extending hints with more parameters from different functions like `top`. Issue #10041 is about passing a slice of hints to have info about all nested aggr/func in play.

[2021-12-17 23:22] brian-brazil commented on #10040
It's already doing as much as it can as clearly makes sense. Beyond that
would require a big redesign, and it's unclear that it'd result in any
performance gains. Keeping maximum memory down is tricky.

On Fri 17 Dec 2021, 21:59 Bartlomiej Plotka, ***@***.***>
wrote:

[2021-12-18 00:33] testn commented on #9944
@siris Can you try to find  the first version that caused the problem?

[2021-12-18 01:11] #10027 closed

[2021-12-18 12:48] JessicaGreben commented on #10000
@chenlujjj sounds like a good idea to me. thanks!

[2021-12-18 13:46] JessicaGreben commented on #10000
@LeviHarrison why call it `weight`? I would call it `check cardinality`.Thoughts?

[2021-12-18 21:48] LeviHarrison commented on #10000
I think having it as a subcommand of `check metrics` is good.

My issue is with calling it "cardinality". I see cardinality as the number of unique variants of a given metric there are (as partitioned by labels). But, this command doesn't take just one metric into consideration, it evaluates all the metrics from a target. Therefore, I think it's more appropriate to call it "weight", as it ranks a

[2021-12-20 06:51] codesome commented on #9115
@ivange94 There is #9158 open by @nicolastakashi which seems to have gone stale. I have pinged the author on that PR and will wait for any response for a week. If there is no response for a week (or if the author says they are not working on it anymore), you can consider it to be open for you to pick.

[2021-12-20 10:12] codesome commented on #10015
Can I know what was the retention time here? Since TSDB does not use wall clock, it takes the time relative to the last block. And in this case the first block is under 15d of the last block, so I guess retention is 15d.

We could however consider the Head block as well, but a buggy sample with timestamp too far in future can cause issues (it can cause now too btw, but we get _some_ time to delete

[2021-12-20 10:13] codesome commented on #10015
So IIUC, the problem is with new data being only in the Head block.

[2021-12-20 10:41] bboreham commented on #10015
Retention time is 15d.

There is no new data; it’s trying to read the WAL. (I guess that’s newer than the blocks, if that’s what you meant).

To clarify: my objection is that it _would_ have some new data, if it would only delete some older data and start scraping. But it doesn’t; it had been crash-looping for a month.

Maybe there could be an additional option to delete data older than wall-clock

[2021-12-20 10:52] codesome commented on #9879
@alanprot was there any forced compaction called on TSDB? (like /shutdown or /flush calls on the Cortex ingesters?) This race sample should have resulted in "out of bounds" error ideally (i.e. overlaps the compaction).

But I think some other concurrent append can move the out of bound time while allowing this race sample to be appended. The right fix for this would be to re-check the out of bound

[2021-12-20 11:30] codesome commented on #10015
If WAL has new data, then that makes it easier to handle from TSDB. For option to delete beyond some wall-clock time:

Since this is only during startup, and ideally would like to discard data even from WAL, we could extend the `tsdb.Open()` to accept the min time for the DB and delete blocks before that and ignore samples from WAL before that (truncating WAL on startup is not a good idea since it

[2021-12-20 11:45] codesome commented on #10039
@charlesxsh what Prometheus version/commit are you testing this on?

[2021-12-20 11:54] codesome commented on #10043
Legit bug, we should be cleaning up the head chunk files. These out of sequence chunks are something mysterious (i.e. I haven't investigated the cause for it, though there were some other reason that could cause it which no longer errors and is fixed, but still something can cause it).

We cannot (or should't) delete it via the corruption error mechanism because we that is not technically a corrup

[2021-12-20 11:58] codesome commented on #10043
Okay, I take back my words about `We cannot (or should't) delete it via the corruption error mechanism`. Yes you are right, it was a bug introduced in #7229 and your suggested fix makes sense; that is the easiest way to delete all the m-map chunk files :)

[2021-12-20 11:58] codesome commented on #10043
We will need unit tests to avoid this bug from slipping in again.

[2021-12-20 12:05] codesome commented on #9982
@RayYe586 could you please describe what kind of error it can cause?

[2021-12-20 12:09] bboreham commented on #10015
Your point about not looking at wall-clock made me think: if what you describe were added and non-optional maybe there should be an option to say "I want to run read-only with no scraping and no deletion of old data, just to look at the 15 days of data I have on disk from two months ago".

[2021-12-20 13:20] steveazz commented on #10043
Thanks @codesome I agree that a test needs to be added to prevent this front happening again.

I’d like to take this on if possible, but might be a bit slow because of holiday season!

[2021-12-20 20:54] juliusv commented on #10000
@chenlujjj Off-topic, but someone should say it: congrats on creating Prometheus issue 10000! :partying_face:

[2021-12-20 21:40] wiardvanrij commented on #9122
Wow sorry for the super late response here. Totally missed this one :)

Prometheus is ready and technically you can run queries but there won't be any data for the period Prometheus was not online.
When running in HA, that's exactly the moment the only Prometheus that _has_ that data, will go offline due to the rolling update (since there is now a Prom online).

I agree on all parts, just with a d

[2021-12-20 21:51] charlesxsh opened #10058 "Possible goroutine leaks at TestScrapeLoopRun"
**What did you do?**
Using our tool to trigger TestScrapeLoopRun

**What did you expect to see?**

**What did you see instead? Under which circumstances?**
func TestScrapeLoopRun(t *testing.T) {
   var (
       signal = make(chan struct{}, 1)
       errc   = make(chan error) // line 1
   ………….
   go func() {
       sl.run(errc) // line 2
       signal <- struct{}{}
   }()
   select {
   case err :

[2021-12-20 22:02] siris commented on #9944
@testn absolutely. I did some testing and here are the results:
Prom versions able to reproduce this memory leak.  All test queries ran are on a 7 day time range:
* `v2.32.1`
* `v2.30.3`
* `v2.29.2`
* `v2.28.1`
* `v2.27.1`
* `v2.26.1`
* `v2.25.2`
* `v2.24.1`
* `v2.23.0`
* `v2.22.2`
* `v2.21.0`

Last know version not able to reproduce this memory leak:
* I couldn't find one. I went back to 11 lates

[2021-12-21 09:27] codesome commented on #7672
I think https://github.com/prometheus/prometheus/pull/10056 closes this issue. We can re-open if we face it again.

[2021-12-21 09:27] #7672 closed

[2021-12-21 10:29] roidelapluie commented on #10058
We have tests for go routine leaks. What are we missing, why aren't those tests failing?

[2021-12-21 10:49] codesome commented on #9944
@MalulDekel: The profiles you provided seems to be html Google login page :) Can you make sure the `/debug/pprof/heap` and `/debug/pprof/allocs` route is authenticated before getting the profile?

@siris:
Your profiles are looking normal and as expected. `loadMmappedChunks` is taking some heap because when you query it loads some chunks from the disk into the memory to read the samples.
What do yo

[2021-12-21 12:38] bdonfouet opened #10068 "can't enable admin api on docker deployment"
**What did you do?**
i've added the ​"--web.enable-admin-api" api in my docker-compose file
[code]
**What did you expect to see?**
Admin API to be enabled
**What did you see instead? Under which circumstances?**
after reload of prometheus, the admin api is not enabled, and the parameter seem to have been ignore.
here the output of docker inspect on the prometheus container after apllying change:
[

[2021-12-21 13:17] roidelapluie commented on #10068
This seems like a docker compose question, in which I unfortunately am not an expert. Are you using down and up? i don't think restart would work here.

[2021-12-21 13:56] David-N-Perkins commented on #9540
I'm new to Prometheus and thought this might be a good place to get started. I found the `config.NewRoundTripperFromConfig` method that creates custom roundtrippers for different auth approaches, but uyuni SD uses an RPC client with the auth token included as the first argument in every call. I'm not very familiar with RPC, but I didn't see a way to put this in the roundtripper, because the token

[2021-12-22 02:29] testn commented on #9944
@siris How big are your wal files? Did you also see the same behavior if you start from scratch (i.e. no existing data files)?

[2021-12-22 02:51] RayYe586 commented on #9982
@codesome If data commit is in progress,gc may delete these data.I find the error by code analysis.

[2021-12-22 19:17] bboreham opened #10073 "Optimisation: do instant query count() without fetching samples"
Currently `count()` is implemented as an aggregation, which is called within `rangeEval()` here: https://github.com/prometheus/prometheus/blob/d677aa4b29a8a0cf9f61af04bbf5bfdce893cf23/promql/engine.go#L1191-L1197

`aggregation()` takes as input `[]Sample`, so the storage layer must fetch samples.

In the case it has been called from an instant query, the start and end of the range are equal, but n

[2021-12-22 22:02] Nexucis commented on #6881
Just giving an update on this issue : I finished a first implementation of the "smart" search bar and it has decent performance when searching through 10k targets.
Just need to publish the package now. In case someone is interested, the code is here: https://github.com/Nexucis/kvsearch

So after the holidays, I will focus on how we can have a lazy loading of the targets (like with an infinite scro

[2021-12-23 02:38] mtfoley commented on #9929
based on the `rate()` having a pretty substantial docs section compared to others, i guessed that the OP was talking about a need in the docs about the `deriv()` function. I don't see it as exhibiting especially different behavior at "boundaries" of the range vector. I linked a PR and cc'd you @sed-i.

[2021-12-23 06:26] roidelapluie commented on #10073
I am not sure that this optimization is worth it. We have the risk of introducing bugs for a very niche usecase. The complexity seems too high to me.

[2021-12-23 11:23] bboreham commented on #10073
I disagree this is "very niche"; my guess is every Prometheus admin runs such queries. I edited the description to add that info.

As a data point, on a v2.31.1 server with 2 million series `count({__name__=~".+"})` took 24 seconds; profile says extracting the samples took 8.5 seconds of that.

[2021-12-23 16:25] camo-f opened #10081 "Docker Swarm service discovery missing 'ancestor' filter"
Hello,

[Prometheus documentation](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#dockerswarm_sd_config) states that Swarm targets can be filtered with [Docker Engine API](https://docs.docker.com/engine/api/v1.40/#tag/Task)

[code]

I tried to filter by ancestor (i.e. image), based on the referenced Docker documentation
[code]

Promtool returns an empty result, despite t

[2021-12-23 19:33] Nexucis commented on #10020
Hello @ddevault ,

So far on our side the build is running fine, otherwise we won't be able to build Prometheus on the different platform.

A couple months ago we moved to `npm` (from `yarn`) as a dependency manager. I would suggest to do the same, perhaps it will help to solve your issue.

[2021-12-23 19:37] ddevault commented on #10020
It's already close to my bandwidth limit trying to keep up packaging this software, as it's primarily designed for the Docker generation and does not pay much heed to the needs of Linux distributions. Would you be prepared to write up some documentation for building and installing Prometheus outside of a Docker container, so I don't have to keep guessing?

[2021-12-23 19:43] Nexucis commented on #10020
From the README at the root of the repo:

https://github.com/prometheus/prometheus#building-from-source

And you can have more information around the frontend specifically here: https://github.com/prometheus/prometheus/tree/main/web/ui

But the section `building from source` should be enough for your needs. You don't have to guess, I think you just have to read the documentation :).
Or if you thin

[2021-12-24 01:54] LeviHarrison commented on #10081
The specific filters aren't implemented by Prometheus itself, we only have the functionality to pass them to the API. That means the issue either falls on your configuration or the Docker engine. I'd recommend checking what API version you have (via `docker version`), the `ancestor` filter seems to have been added in `v1.23`.

[2021-12-24 02:27] LeviHarrison opened #10082 "Define writing style"
The [Go Code Review Comments](https://github.com/golang/go/wiki/CodeReviewComments) are cited in CONTRIBUTING.MD as a reference for code style, and they define two rules for writing:

1. [Comments should be capitalized and end with a period](https://github.com/golang/go/wiki/CodeReviewComments#comment-sentences).
2. [Error strings should not be capitalized and end in a period](https://github.com/g

[2021-12-24 08:17] ddevault commented on #10020
Sorry, I was in a bit of a bad mood last night and I should have been more polite.

These instructions are helpful, but not exactly what I'm looking for. I am not a user of a Linux distro - I am a representative of one. We package Prometheus so that users can install it on our distro by running `apk install prometheus` in one go. We need a process which essentially produces a binary tarball from s

[2021-12-24 08:45] ddevault commented on #10020
Alright, I'm using this build process now and it seems to work adequately:

[code]

I will send a patch for the lezer-generator issue. Thanks for your help!

[2021-12-24 08:45] #10020 closed

[2021-12-25 11:02] Tailzip opened #10083 "Add support for Digest authentication for scrape targets"
## Proposal

Add support for [`Digest` authentification](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization#digest) (in addition to already existing `Basic` authentication) for scrape targets.

[2021-12-26 08:46] malvinpatrick opened #10084 "Prometheus with Influx v2"
There's any integration for prometheus storage read ? I've read in update release, the "write" replace by telegraf service. How about the "read" ? Can I use InfluxDB 2 like 1.8

`remote_write:
  - url: "http://localhost:8086/api/v1/prom/write?db=prometheus&u=username&p=password" -> replace using telegraf service

remote_read:
  - url: "http://localhost:8086/api/v1/prom/read?db=prometheus&u=usernam

[2021-12-26 14:07] dginhoux commented on #10081
Hi,

Like you, i've lot of problems when using filters.
A single filter on name attributes, or desired-state, or label doesn't work.

I'm not alone : https://samizdat.dev/prometheus-scrap-all-docker-swarm-tasks/

[2021-12-26 16:16] AkashSivakumar commented on #7406
I don't want to peer the vpc. So I restricted the metrics to be available only to the prometheus instance by using security group with this ansible script https://github.com/AkashSivakumar/ansible-add-rule-to-all-security-group-aws.

And edited the prometheus.yml to scrape using public ip instead of private ip.

`  - job_name: 'test-ec2-sd'
     relabel_configs:
      - source_labels: [__meta_ec2_

[2021-12-26 21:12] LeviHarrison commented on #10081
Could you please provide the configuration that you're using?

And also, do all filters not work, or just this one? The issue implies that only the `ancestor` filter doesn't work, but if all don't maybe it's a problem with Prometheus.

[2021-12-26 23:39] dginhoux commented on #10081
Hi,
I've hardly worked on my configuration.

I use the filters like explained on the documentation and as finded on google :
[code]

After one hour of tries and tries..., i look at this page and the light has arrived !
https://prometheus.io/docs/guides/dockerswarm/

The principe is simple....  no filter used at query level.
Every services are pulled from the socket and prometheus simple exclude/in

[2021-12-28 06:35] huhan110 opened #10090 "dynamic config load and support multi config source ,eg mysql"
## Proposal
**Use case. Why is this important?**

*“Nice to have” is not a good use case. :)*
Hope to support dynamic configuration loading and multi-configuration data source support, for example, configuration changes can be realized by adding and deleting configurations through mysql

[2021-12-28 09:21] codesome commented on #9982
That's true, if we have samples incoming for the gc range, then gc can delete it. The way we take care of it is to not append any samples that gc would delete eventually. It is taken care by [this](https://github.com/prometheus/prometheus/blob/e226d1f95c8abeb7138e065bde13d9f70971288a/tsdb/head_append.go#L138-L142).

The `CompactHead()`, if being used as a library, is required to be used only after

[2021-12-28 10:17] SuperQ opened #10091 "Sync repo settings with GitHub app"
## Proposal

We can sync GitHub repo settings with `.github/settings.yml` using a [GitHub App](https://github.com/apps/settings).

This will allow us to keep some settings in sync between all projects, like "Automatically delete head branches".

Proposed first pass on settings:
[code]

Other things like branch protection can be added later if we want.

[2021-12-28 10:17] SuperQ commented on #10091
CC @RichiH

[2021-12-28 10:31] codesome commented on #10082
I remember these to be accepted conventions in Prometheus:

Error strings: All lower case letter unless mentioning some variable and acronym of upper case letter.

Log messages: Starts with capital letter unless mentioning some variable of lower case. I don't think it needs to end with a period.

Comments: Correct, as you pointed out, starts with capital letter unless mentioning some variable of l

[2021-12-28 11:56] roidelapluie commented on #10091
I am against this for Prometheus-community. For Prometheus, we would need to review our members listing.

[2021-12-28 17:03] LeviHarrison commented on #10091
It does say that this would escalate all the members to admins.

[2021-12-29 11:42] wizard2318 opened #10094 "Persistent data problem of Prometheus"
**What did you do?**
The persistent data of Prometheus only lasts for one day. Prometheus Prometheus The configuration of yaml file is retention: 7d, which is still useless

**What did you expect to see?**
You can see the data of Prometheus for 7 days

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	centos 7.6

* Prometheus version:

	v2.20.0

* A

[2021-12-29 13:19] maxpain commented on #9218
The same problem

[2021-12-29 14:32] LeviHarrison commented on #9432
Fixed in https://github.com/prometheus/prometheus/pull/9483.

[2021-12-29 14:32] #9432 closed

[2021-12-29 14:42] LeviHarrison commented on #9321
Implemented in https://github.com/prometheus/prometheus/pull/9349

[2021-12-29 14:42] #9321 closed

[2021-12-29 14:45] LeviHarrison commented on #9317
Implemented in #9319

[2021-12-29 14:45] #9317 closed

[2021-12-30 04:59] charlesxsh commented on #10039
@codesome e0f1506254688cec85276cc939aeb536a4e029d1

[2021-12-30 07:15] detailyang commented on #5926
@bwplotka any update? read STREAMED_XOR_CHUNKS response is important to reduce memory overhead and query latency:)

[2021-12-30 08:40] asaf1602 opened #10095 "prometheus: fatal error: runtime: out of memory"
**What did you do?**
We installed prometheus v2.25.0 on VM with 4 cores/16GB memory
The process failed with OOM few time. For restart it we must delete all data under the data dir (--storage.tsdb.path)
The total size in data dir is ~4GB

**What did you expect to see?**
Prometheus will run
**What did you see instead? Under which circumstances?**
The memory "Memory in Off-Heap" is grow all the time

[2021-12-31 08:45] like-inspur opened #10096 "how to add self-defined label for target which not use static_configs"
**What did you do?**
I want to monitor multi etcd cluster on kuberntes, and want to add self-define label as cluster flag for alert use
one etcd cluster running as static pod on mater node for kubernetes use, prometheus use node role kubernetes_sd_configs
another etcd cluster running as common pod on slave node for service use, prometheus use pod role kubernetes_sd_configs

**What did you expect t

[2021-12-31 08:49] jeyrce commented on #10096
@like-inspur Try releable_config  may help you

[2021-12-31 08:51] jeyrce commented on #10094
@wizard2318 Have you check the datetime on your system?

[2022-01-01 06:44] like-inspur commented on #10096
I have tried and found only use kubernetes defined label like node_name, namespace, can't use self defined label

[2022-01-02 11:31] MalulDekel commented on #9944
@codesome how do you know if query can make overload on the memory? Is there a way to check top 10 overload queries that I am doing on Grafana?

[2022-01-02 22:46] #7699 closed

[2022-01-03 09:49] GiedriusS opened #10101 "Add ability to specify some results as precomputed in PromQL expression's AST"
Hello,

On Thanos side, we've been working on trying to fix one of the oldest tickets, [query pushdown](https://github.com/thanos-io/thanos/issues/305). Currently how Thanos works is that we always send data i.e. metrics data that matches given matchers via Select(), to a central location before executing the query. This can get quite inefficient. _A lot_ of resources can be saved by executing par

[2022-01-03 10:19] brian-brazil commented on #10101
It doesn't, as leaf nodes don't have access to enough data to correctly evaluate a function like rate() as they don't know what data other leaves may also have for the same time series. It's basically only correct to do this sort of thing for min/max.

[2022-01-03 15:59] suyashtava commented on #8256
Hi Team, If it is still pending, may I have a look into it. Think it's a good start for Open Source contributing.

@peter-turner-hcl incase u have had some work already done, can u pls share a Draft PR, on which I can work further to get things rolling quickly, as we are also facing the same issue of color coding in dark mode especially.

[2022-01-03 16:04] suyashtava commented on #4543
Just checking, if this Issue is open to pick?

Or if it is the expected +inf behavior, we are good to close this issue as well.

[2022-01-03 16:05] juliusv commented on #8256
@suyashtava It's still pending and it seems people haven't been responding anymore here, so taking a look would be appreciated!

[2022-01-03 16:08] suyashtava commented on #8256
Thanks @juliusv for allowing me to pick this up. Any lead already taken if known by anyone, pls do share, it will be helpful.

[2022-01-03 19:11] Nexucis commented on #9175
@LeviHarrison could you post a screen shot showing your issue ? I'm currently working around the target page, maybe there is a quick fix to do for this one.

[2022-01-03 19:31] LeviHarrison commented on #9175
Sorry, I think I didn't take a screenshot for this issue originally because it was kind of tricky to do so. It was on an instance running in a k8s cluster, and the k8s discovery mechanism attaches a lot of labels to targets leading to this issue. I might be able to spin up one later and get a screenshot, but I don't have one running right now.

[2022-01-03 20:05] wbh1 commented on #6139
I'm seeing this error also with Prometheus (v2.32.0) and Thanos (v0.22.0). It always coincides with a large dropoff in traffic from my Prometheus server (presumably scrapes stop happening? There's gaps in my graphs from this server during those times), and its HA pair fails to scrape it, as well.

Thanos Sidecar has heartbeat timeouts during this period to `http://localhost:9090/api/v1/status/conf

[2022-01-03 22:26] alanprot commented on #9879
Hi, thanks for looking into this.

We may have restarted the ingesters but we never called the force compaction ( /shutdown or /flush).

[2022-01-04 11:56] Nexucis commented on #6881
PR #10103 will fix this issue.

[2022-01-04 13:23] hanjm opened #10107 "Add `limit` parameters to /api/v1/querying_exemplars"
## Proposal
**Use case. Why is this important?**
The exemplars api may response very large cause grafana dashboard stuck. could it add a limit parameters to it?
https://prometheus.io/docs/prometheus/latest/querying/api/#querying-exemplars

*“Nice to have” is not a good use case. :)*

[2022-01-04 15:25] camo-f commented on #10081
Hi @LeviHarrison

Sorry, I should have been more precise. I'm using Docker 20.10, and some filters are perfectly working, like `name` or `desired-state`. That's why I suggested the issue may not be with Prometheus, but rather with the documentation referencing the wrong API (https://docs.docker.com/engine/api/v1.40/#operation/ContainerList vs https://docs.docker.com/engine/api/v1.40/#tag/Task). In

[2022-01-04 16:23] suyashtava commented on #8256
Spent some cycles on it, and saw we are using Rickshaw color palette directly([here](https://github.com/suyashtava/prometheus/blob/dfa5cb7462b7b93b53eebec6197da594c6f78aa2/web/ui/static/js/graph/index.js#L627))
Since we are not defining any pallet it is using colorwheel([here](https://github.com/shutterstock/rickshaw/blob/10ed07db7fa03a3667a276d55514c999e8c9ab72/src/js/Rickshaw.Color.Palette.js#L1

[2022-01-04 16:28] juliusv commented on #8256
@suyashtava Oh that's good that you comment because we only used Rickshaw in the old UI, which is going away at some point, while the new React UI is the default now and it uses Flot instead of Rickshaw. The current relevant code for generating colors for the graph is here: https://github.com/prometheus/prometheus/blob/dfa5cb7462b7b93b53eebec6197da594c6f78aa2/web/ui/react-app/src/pages/graph/Graph

[2022-01-05 07:40] Zhang-Aoqi opened #10113 "PromQL"
I want to count the increments of requests for the last 7 days. How should I count them

[2022-01-05 07:49] cchxn258886 opened #10114 "how to use k8s'configfile to get cluster‘s metrics?"
my prometheus‘s config：

  - job_name: "luna-k8s"
    kubernetes_sd_configs:
    - role: node
      kubeconfig_file: configRealPath
    scheme: https

from prometheus web target page . i can see this error:

In my understanding, k8s config contains CA configuration。so. what can i do?

[2022-01-05 08:55] shixinghong opened #10115 "The collected data is lost"
![2c8135e6990bdfc154e0b18e8a226ab](https://user-images.githubusercontent.com/56341144/148188246-312915d9-831c-461c-8446-72fe4710fea3.png)

As shown in FIG,There is only less than one day's data in prometheus.
Then I checked the data directory of prometheus(Look at the picture below)
The directory size of chunks is 21M,But the index file has reached 1.9G!
So what is the reason for this situation?

[2022-01-05 10:56] codesome commented on #10094
@wizard2318 the retention can only be set via command line flags at the moment and cannot be done by the yaml config. Are you missing that flag? `--storage.tsdb.retention.time=7d`. And do you have size retention enabled by any chance?

[2022-01-05 11:09] beorn7 commented on #4543
It's the expected behavior, but the idea is to document the behavior in case nonsensical parameter values are picked.

The documentation change probably has to happen here: https://prometheus.io/docs/prometheus/latest/querying/operators/#aggregation-operators

- φ<0: -Inf
- φ>1: +Inf
- φ is NaN: NaN ← and this actually doesn't work, results in `index out of range [-9223372036854775808]`

[2022-01-05 11:20] beorn7 opened #10117 "PromQL: Define and document behavior of `quantile` and `histogram_quantile` with φ=NaN"
**What did you do?**

`quantile(NaN, some_metric)`

`histogram_quantile(NaN, som_histogram_bucket)`

**What did you expect to see?**

Good question. I think it would be most reasonable to let those queries return `NaN`. Those queries are “obviously” nonsensical. But they are valid PromQL, and it would be good if they had a defined and documented behavior.

**What did you see instead? Under which c

[2022-01-05 11:21] beorn7 commented on #4543
I filed #10117 for the latter.

[2022-01-05 11:29] beorn7 commented on #10082
That's kind of ambiguous. I would write: "Error strings should not be capitalized and not end in a period."

[2022-01-05 11:49] beorn7 commented on #10082
About the other points:

I think whenever a text string is supposed to be "proper English" to be consumed by humans in "I'm reading proper English" mode, then it should follow the usual English punctuation and capitalization rules. Following from that:

- Log messages: Capitalized as @codesome said. I would end with a period whenever you end something like a sentence, but not if you end with a quo

[2022-01-05 13:11] edeandrea opened #10118 "kubernetes_sd_config namespace configuration for "current namespace""
## Proposal
The current [kubernetes_sd_config](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#kubernetes_sd_config) allows someone to configure a set of namespaces to watch and monitor. If omitted, all namespaces are used.

Several times now I've run into an issue where I only wanted to monitor things in the current namespace where prometheus is deployed. The problem wit

[2022-01-05 13:32] roidelapluie commented on #10118
This has been implemented recently but not released yet.

[2022-01-05 13:47] edeandrea commented on #10118
Thank you! Do you happen to know the issue/PR # for that?

[2022-01-05 14:58] suyashtava commented on #8256
We can make a good assumption that if around 50 colors are coming diff, then it can be considered as good algo, bcoz after that similarity starts arising, bcoz we need sufficiently bright colors for Dark UI.

[2022-01-05 15:00] wgchaoer opened #10120 "new PromConsole.Graph time zone"
how to set time zone in PromConsole.Graph,When the environment is not UTC/GMT time。

[2022-01-05 15:01] suyashtava commented on #8256
Was validating some of the approaches.....
Looks like these random gen colors are good to go(we are not generating very Pale or very bright color hence No Black and White)
<img width="875" alt="Screenshot 2022-01-05 at 8 24 42 PM" src="https://user-images.githubusercontent.com/47897931/148239131-15f3e4f9-8463-4954-8999-ce2fe2c16212.png">
<img width="853" alt="Screenshot 2022-01-05 at 8 31 20 PM" s

[2022-01-05 15:02] suyashtava commented on #8256
If we increase brightness further, some of the colors start getting more and more similar

[2022-01-05 15:16] codesome commented on #10015
TSDB already runs the retention logic before on startup, before replaying the WAL. The Problem here is with the time retention logic, which is w.r.t. the last persistent block and not the Head block, hence has to replay the WAL.

There is no easy way to know the time range of the Head block until full WAL replay at the moment. Time retention w.r.t. head block would be acceptable on startup (but no

[2022-01-05 15:31] beorn7 opened #10122 "config: Need escaping to avoid environment variable expansion in external labels"
If I set the feature flag `--enable-feature=expand-external-labels`, I get the nice and sweet expansion of environment variables in configured `external_labels`.

Should I require a literal `$` in one of my label values, I can simply not set the feature flag.

But what if I want the expansion in some label values but require a literal `$` in others?

Also, we would like to promote the feature to s

[2022-01-05 22:21] zrc210 opened #10125 "Add proxy support for AWS EC2 Service Discovery"
## Proposal
**Use case. Why is this important?**

The AWS EC2 Service Discovery Configuration does not allow users to specify an http(s) proxy for the underlying AWS EC2 API calls. In environments where VPC egress is controlled, either VPC-Endpoints have to be used to allow egress to AWS Services, or, an explicit proxy (like squid or envoy) can be configured to allow egress to the AWS API's.

Simi

[2022-01-06 02:54] PangQingcheng commented on #9166
yes, I think it's necessary

[2022-01-06 03:35] alisakotliarova commented on #8256
Would it be a good idea to add some sort of visual emphasis on a line that is being hovered over?  (Not in this ticket/PR).  For example, the line becomes thicker and gains a small shadow (perhaps a glow if using dark mode).  That way if a color is not visible enough, its line could still be made clear and distinct by hovering over it. This also would help when there are lines of a similar color.

[2022-01-06 09:21] juliusv commented on #8256
@suyashtava Yeah I agree, beyond 50 colors or so, we shouldn't care too much anymore about being able to tell them apart, so maybe we only need to get the first 50 "right". Btw. one implicit "requirement" that wasn't stated here yet is that the resulting color scheme should still look somewhat aesthetically pleasing when used in a graph. So it would be good to see different color schemes applied t

[2022-01-06 09:58] wgchaoer commented on #10120
//Add xAxis timeFixture in line 537 (/classic/static/js/prom_console.js)
var xAxis = new Rickshaw.Graph.Axis.Time({
    graph: graph,
    timeFixture: new Rickshaw.Fixtures.Time.Local()
});
//but,another time is not changed
![image](https://user-images.githubusercontent.com/96378503/148364826-771e1de6-b9d9-4235-a7fd-eaf4f3669600.png)

[2022-01-06 11:31] suyashtava commented on #8256
@juliusv Yup, this was the first thought which had striked my mind to basically reuse Rickshaw approach in New UI, but dropped it as now we have dark mode aswell

[2022-01-06 11:32] fpetkovski commented on #10118
This is the PR implementing the feature: https://github.com/prometheus/prometheus/pull/9881

[2022-01-06 11:48] edeandrea commented on #10118
Thanks!

[2022-01-06 12:25] juliusv commented on #8256
@suyashtava Though it seems to me that the Rickshaw colors also work pretty well on a dark background. To try it quickly, I just went to https://demo.promlabs.com/classic/graph?g0.range_input=1h&g0.expr=histogram_quantile(0.9%2C%20rate(demo_api_request_duration_seconds_bucket%5B5m%5D))&g0.tab=0 and added a CSS property of `background-color: #222` to the `rickshaw_graph` div element:

![rickshaw-co

[2022-01-06 12:28] fpetkovski commented on #10122
The `\$` sequence definitely looks more familiar and consistent with other tools, but using it in go would require replacing the `\$` sequence with a reserved environment variable (e.g. `PROMETHEUS_DOLLAR`), and setting the value of that environment variable value to `$`. The os.Expand function would then work as desired.

A cleaner approach might be to use `$$` to escape the `$` character, and ex

[2022-01-06 12:28] #10118 closed

[2022-01-06 13:25] bluepuma77 opened #10130 "In UI enable display of target metrics using Prometheus server as proxy"
## Proposal
In Prometheus UI enable display of target metrics using Prometheus server as proxy

## Problem
The Prometheus UI presents a nice list of targets. The first column is always the metrics URL to be able to inspect them.

The issue is that the server network is usually very restricted or everything is working within a k8s or Swarm network and your browser is not part of it. So you normally

[2022-01-06 17:46] alisakotliarova opened #10133 "Add visual emphasis to hovered-over lines in graphs"
This idea stems from the open (as of Jan 6 2022) issue about [some colors not being visible in the React UI](https://github.com/prometheus/prometheus/issues/8256) when it comes to graphs.

When a line in the graph is hovered over, there would be added emphasis such as

- making the line thicker
- adding a shadow or glow to the line that is a stark contrast to the background

### Why is this import

[2022-01-06 18:04] alisakotliarova opened #10134 "Update Getting Started Guide with new UI"
I noticed a discrepancy in the UI when following along with the Getting Started Guide.  I found that this was not an issue when using the "Classic UI" so I imagine these instructions just need to be updated to correspond to the new UI.  I am new to Prometheus so I am not sure if there may be other discrepancies as well.

**What did you do?**

Follow along the [Getting Started tutorial](https://pro

[2022-01-06 23:21] haf opened #10137 "No (sane) way to debug parse errors"
It should be possible to make forward progress debugging scrape errors. Right now, for this particular error, logs say nothing, visual inspection says nothing and it's fully unclear where the error comes from. If the parser would at least keep track of which line the error comes from an print that too, it would be very helpful indeed.

----

**What did you do?**

[I used `prometheus_client`](https

[2022-01-07 00:35] vrathore18 commented on #5738
I am facing the same issue

[2022-01-07 06:18] suyashtava commented on #8256
@juliusv I see even Rickshaw color looks good, but I remember seeing the repetition of color in Classic UI. After first 16 I guess.

Even the pic u shared u can see 3 pink of same RGB Value
<img width="195" alt="Screenshot 2022-01-07 at 11 43 57 AM" src="https://user-images.githubusercontent.com/47897931/148500457-dd18fe41-6458-4578-8668-4936a47705c0.png">

But since no one has reported it yet, we

[2022-01-07 06:21] suyashtava commented on #8256
Also 1 more thing, in classic we were using colorwheel schema, with hsl interpolation,  So it start giving repititive colors after 16.

So we can use some other bigger color scheme like munich or some other defined [here](https://github.com/shutterstock/rickshaw/blob/10ed07db7fa03a3667a276d55514c999e8c9ab72/src/js/Rickshaw.Fixtures.Color.js)

[2022-01-07 06:55] steveazz commented on #10043
I'm now actively working on this again, I'm working on a test case where it can generate an out-of-sequence chunk so we can validate the chunk is deleted on disk.

I'm struggling a little bit writing the test, but will reach out for help if I face a brick wall!

[2022-01-07 09:00] juliusv commented on #8256
@suyashtava Yeah, that repetition is not great, thanks for pointing it out. We could still let ourselves be inspired by that set of colors as a starting set, but perhaps improve on it.

Rickshaw wasn't ideal in other ways: It's SVG-based (vs. Flot's canvas approach) and thus slower, and I think even less maintained than Flot. But I also think that it's not worth switching graphing libraries again

[2022-01-07 09:14] suyashtava commented on #8256
Yup, makes sense, Also I read the algo on why Rickshaw was repeating those colors, I think I have a fix for it as well.(Simple Algo modification). Will try it this weekend, with flot only.

[2022-01-07 09:14] juliusv commented on #8256
@suyashtava Great!

[2022-01-07 12:15] prymitive commented on #10073
Running count() is something I do a lot when auditing metrics usage, especially with big instances shared by many teams.
It is expensive, especially counting by `__name__` so I mostly rely on `job` label and scrape metrics provided by Prometheus, but would love if `count({__name__=~".+"})` was cheaper as it would help a lot.

[2022-01-07 15:09] LeviHarrison commented on #10125
We ended up adding the entire standard HTTP client to the Azure Discovery in https://github.com/prometheus/prometheus/pull/9267, and I think that's probably what we'll want to do here as well. This should work: https://aws.github.io/aws-sdk-go-v2/docs/configuring-sdk/custom-http/#overriding-during-configuration-loading.

[2022-01-07 15:26] LeviHarrison commented on #10134
Thanks for your report. That text should be changed to "Table". I think that's all that needs to be updated thought.

https://github.com/prometheus/prometheus/blob/931acc3ee8f0f4e0eac68b4a2c4d880df7d82944/docs/getting_started.md#L84

[2022-01-07 15:54] alisakotliarova commented on #8256
@suyashtava will do, [here is the issue I made for it](https://github.com/prometheus/prometheus/issues/10133).

If anyone has any pointers on where this sort of code would go or how to do this I would greatly appreciate it, I've been looking through the source code a bit and it's still not totally clear to me.  "Inspecting" the graph I see the lines are basically fused into the graph in a `canvas`

[2022-01-07 16:40] juliusv commented on #8256
@alisakotliarova Great, thanks! Will reply to that on that issue.

[2022-01-07 16:47] 123vivekr commented on #10117
I'd like to take this up if its free

[2022-01-07 16:59] juliusv commented on #10133
Regarding https://github.com/prometheus/prometheus/issues/8256#issuecomment-1007518397: Correct, Flot (https://github.com/flot/flot, the charting library we use) uses `<canvas>` to draw things, so we basically have to go through Flot's plugin and event handling system to change things in there. You could register an event handler for the `plothover` event on a series like we do for the `plotclick`

[2022-01-07 21:23] alisakotliarova commented on #10133
@juliusv Thank you so much!  This helped me a lot.
So far I've successfully been able to add the event handler in the way you described which calls this function I added to prometheus/web/ui/react-app/src/pages/graph/GraphHelpers.ts.

Currently this is able to make the line that is being hovered over bolder than the others.

[code]
The code design & organization is not ideal but it runs smoothly.

[2022-01-07 21:58] #10000 closed

[2022-01-07 22:15] alisakotliarova commented on #10133
I've come to a crossroads with this issue and I'm not sure what to do.  The lines in the graphs are all part of a single HTML `canvas` element.  It is [possible to add a shadow to a line drawn](https://www.w3resource.com/html5-canvas/html5-canvas-shadow.php) in a `canvas` element, but I would have to add the shadow _after_ the line has been started to be drawn and _prior_ to the finalization of th

[2022-01-07 22:46] LeviHarrison commented on #10122
Although `$$` is suitable, as you pointed out `\$` is what would be expected and for a function as simple as `os.Expand` I think it could be worth incorporating a modified copy into our codebase to support it, like this: https://go.dev/play/p/LPNSoyThK4P. All I needed to do was add `&& (j == 0 || s[j-1] != '\\')` on line 17 and there's escaping with `\` now.

Doesn't seem like it will be added eit

[2022-01-07 22:55] LeviHarrison commented on #10117
Looks like no one else is working on it so you're free to go ahead!

[2022-01-07 23:30] LeviHarrison commented on #10120
@juliusv would know better, but I don't think there is a way to set in PromConsole.Graph.

[2022-01-08 09:04] juliusv commented on #10120
So that JS library (https://github.com/prometheus/prometheus/blob/05dba96ebfff955a2cce32e47240e405116d780b/web/ui/static/js/prom_console.js) is only used for console templates, which I've never worked with... as far as I know, it doesn't currently allow any timezone control, but it's served as part of the console template examples from the user-specified path provided via `--web.console.libraries`

[2022-01-08 15:49] juliusv commented on #10133
@alisakotliarova Oh that's great that you already got the line width working! One thing to test is whether it still feels roughly as fast with that change as without, for a graph that shows ~100 series or so. We want to be careful about introducing anything that slows things down too much, but hopefully it'll be fine.

As for the extra emphasis, I agree that's more tricky. If we have to actually d

[2022-01-08 18:52] roidelapluie commented on #10122
I disagree that `\$`is what would be expected. $$ is a common form of escaping as well, and is easier to type.

[2022-01-08 19:37] KetchupBomb opened #10141 "Docker SD missing service: and container: networking modes"
**What did you do?**
Using Docker Compose, I have two containers, summarized here:

[code]

My goal is to have a Pod-like ability to hit the `mysql` container on both ports 3306 (MySQL traffic), and 9104 (exporter traffic).

**What did you expect to see?**
That `exporter__mysql` would show up as discoverable within Prometheus's Service Discovery, which I could then further filter labels and select

[2022-01-08 23:28] LeviHarrison commented on #10082
I agree with all of these.

[code]

I think we should handle test error strings like we do log messages: "end with a period whenever you end something like a sentence, but not if you end with a quoted error message or filename or something" (also capitalized). Most of them will have a period, but a few won't.

[2022-01-08 23:30] LeviHarrison commented on #10082
Side note: maybe it's time to have a script like @bwplotka describes in his [excellent blog post](https://www.bwplotka.dev/2020/how-to-became-oss-maintainer):

[2022-01-09 05:20] 123vivekr commented on #10117
Hi, I'd like to clarify my assumptions before starting work.

The proposed changes:
- `quantile(NaN, some_metric)` and `histogram_quantile(NaN, som_histogram_bucket)` should return `NaN`
- document the above behaviour for `quantile` [here](https://prometheus.io/docs/prometheus/latest/querying/operators/#aggregation-operators) and `historgram_quantile` [here](https://prometheus.io/docs/prometheus/l

[2022-01-09 12:33] beorn7 commented on #10122
Hmmm…

[code]

Given that environment variable expansion is in "shell territory", I think we should follow shell conventions. `$$` in bash expands to the PID. `\$` expands to a literal `$`. Even if we don't support expansion of `$$` to the PID, I would not give it a completely different meaning.

[2022-01-09 14:37] chenlujjj commented on #10082
@LeviHarrison  Some tools like https://github.com/tetafro/godot may help on this, and it has been integrated into golangci-lint, which is used by this project's CI.

[2022-01-09 16:14] roidelapluie commented on #10122
Escaping is very complex and if we really want it, we would need to make `\\` escape as `\`. I would be in favour of not escaping anything or just allowing $$ because it avoids the complex `\\` issues and possibly others. I disagree that this is a shell territory, and in e g.  Makefiles, $ is escaped by $$.

[2022-01-09 16:25] LeviHarrison commented on #10122
I will point out that the Docker Compose config, which is probably the closest to our config, does use `$$` for escaping: https://docs.docker.com/compose/compose-file/compose-file-v2/#variable-substitution.

[2022-01-09 16:30] fpetkovski commented on #10122
It also looks like the playground example does not really escape properly. The modified function returns `\$hi`, but I expected it to return `$hi`. So if the intent is to use `\$`, there will be a bit more work to be done.

[2022-01-09 16:33] LeviHarrison commented on #10122
Yeah, that was a quick pass so it's not fully correct.

[2022-01-09 20:19] beorn7 commented on #10122
I wouldn't really use Makefiles as a role model. They have a bunch of quite unique syntactical features, mostly due to ancient history. But I take the point for Docker Compose. Also, requiring only one escaping rule has its merits, too. So yeah, I would be fine with the `$$` solution, too.

Again, it's a pity that the Go library function missed to settle this point.

[2022-01-09 20:21] LeviHarrison commented on #10122
`$$` sounds good to me as well.

[2022-01-10 08:06] #10114 closed

[2022-01-10 14:31] ivange94 commented on #9932
@roidelapluie I see the PR linked to this issue is already merged. Is there something that still needs to be done here and is anyone working on it?

[2022-01-10 14:53] #5219 closed

[2022-01-10 14:53] #6881 closed

[2022-01-10 17:38] beorn7 commented on #10117
Yes, I think that's the right course of action.

[2022-01-10 23:34] alisakotliarova commented on #10133
@juliusv Thank you!  I have a couple of updates/responses to your comment.

I noticed that there is actually a mechanism that emphasizes lines already.  It's triggered when you hover over a series from the list that appears below the graph.  It appears that this emphasis makes the line corresponding to the series be the topmost line and it dims the other lines in the graphs.  As it is, this is cer

[2022-01-11 06:18] asaf1602 commented on #10095
GM,
any idea? someone?

[2022-01-11 06:52] Rahuly360 opened #10151 "Prometheus Agent Stops Scraping all its Targets after sometime without any error logs."
Prometheus with --enable-feature=agent Stops Scraping all its Targets after sometime and when we check in terminal logs there is no such logs related scraping stop.
Is anyone has any idea about this ???
Image : prometheus:v2.32.0
Stop Targets
<img width="445" alt="image" src="https://user-images.githubusercontent.com/87700693/148894045-4e70b62e-7ed5-4b71-9f71-303bff725748.png">

[2022-01-11 12:07] codesome commented on #10043
@steveazz you will find existing tests [here](https://github.com/prometheus/prometheus/blob/main/tsdb/chunks/head_chunks_test.go) where it's creating files and adding chunks manually.

[2022-01-11 12:44] codesome commented on #10151
cc @rfratto

[2022-01-11 13:16] roidelapluie commented on #10151
Can you tell us if all your targets are affected? Is your browser and Prometheus Agent at the correct/same time?

[2022-01-11 14:06] rfratto commented on #10151
We ran into a similar issue with Grafana Agent, where the root cause was a deadlock in the series tracker. That bug should've been fixed by the time we moved the code, but maybe I missed something. A goroutine dump would be really useful here.

[2022-01-11 14:11] Rahuly360 commented on #10151
Is anyone here who is using Prometheus Agent currently with the successful scraping targets ???

[2022-01-11 15:14] mwasilew2 commented on #10043
One other idea I had was to increase verbosity around this error a little bit. So in addition to fixing the logic that deletes the broken chunk (gets Prometheus out of the crashloop), the log message could contain more debug information. It currently contains a series ref which is a number. Example error message:

[code]

and here's the error in the code: https://github.com/prometheus/prometheus/b

[2022-01-11 16:05] David-N-Perkins commented on #9910
@beorn7 I've got a [PR](https://github.com/prometheus/prometheus/pull/10140) up for this. Can you take a look at it?

[2022-01-11 20:23] #9178 closed

[2022-01-12 05:18] siyyang-ms opened #10155 "Is it possible to add http client configure to disable HTTP2 in Remote_Write Configure?"
## Proposal
**Use case. Why is this important?**
*“Nice to have” is not a good use case. :)*

 Currently, if the remote write receives Stream Error HTTP1.1_Required, it would retry with HTTP2, and it would never work.

[2022-01-12 06:48] testn commented on #10155
Can you try setting the following environment variable to see if it works?

`GODEBUG=http2client=0`

[2022-01-12 06:51] siyyang-ms commented on #10155
It does not work whether I only set GODEBUG=http2client=0 or GODEBUG=http2client=0;http2server=0.

I can see the runtime info GODEBUG from PromethuesURL/status to verify that those environment variables are set successfully.

[2022-01-12 07:39] testn commented on #10155
Can you try to turn on the debugging?

`GODEBUG=http2debug=2 `

[2022-01-12 08:44] juliusv commented on #10133
Right! Forgot about that :)

My next goal is to try to track down this behavior (in the code) so I can add line-boldening to it and see if I can trigger it when the line is being hovered over as well.

That behavior is at https://github.com/prometheus/prometheus/blob/2f4289a3bfaca725a14f41e30f1c91de92936242/web/ui/react-app/src/pages/graph/Graph.tsx#L187-L197 and https://github.com/prometheus/prom

[2022-01-12 09:23] siyyang-ms commented on #10155
Hi, I have added GODEBUG as follows
<html>
<body>

GODEBUG | http2client=0;http2debug=2
-- | --

</body>
</html>

But the promethues still keeps retry with **http2**!

2022/01/12 09:20:13 **http2**: Transport encoding header ":authority" = "my remote write endpoint"
2022/01/12 09:20:13 http2: Transport encoding header ":method" = "POST"
2022/01/12 09:20:13 http2: Transport encoding header ":path"

[2022-01-12 15:34] marcelo-giraldi opened #10158 "Allow remote read without external labels"
## Proposal
**Use case. Why is this important?**
In our current setup, we have a unique Prometheus instance, no external_labels configured, and remote storage (InfluxDB) that already has months of data.

[code]

Now we need to set an external_label. However, when we do that, we can't retrieve data from remote_read (https://github.com/prometheus/prometheus/issues/7992).

It should have an option to

[2022-01-12 23:10] alisakotliarova commented on #10133
@juliusv Thank you for the help!  I ran it with that and it's working just fine on my end.

Let me know if there's a better place to ask about this but how can I make branch off of main?  I tried making one called `alisakotliarova/bolden-graph-lines` so I could create a PR and I'm getting a permissions denied error.  Based on the [Contributing doc](https://github.com/prometheus/prometheus/blob/mai

[2022-01-12 23:56] roidelapluie commented on #10158
This sounds good to me.

[2022-01-13 00:03] Howie59 commented on #10158
i want to try this in my spare time

[2022-01-13 03:19] ejianlv commented on #10010
Got it and thanks a lot.

[2022-01-13 08:05] juliusv commented on #10133
Great!

If you're getting a permissions error, I guess you tried creating one in the main `prometheus/prometheus` repo directly on GitHub? That repo is only writeable by Prometheus team members, so the usual contribution flow (if you're not yet on team) is to [fork the repo](https://docs.github.com/en/get-started/quickstart/fork-a-repo) first into your own GitHub account and then create the branch

[2022-01-13 11:19] compilenix opened #10160 "Error sending alert: http2: unsupported scheme"
**What did you do?**
I've updated prometheus and alertmanager.

**What did you expect to see?**
alerts being sent to alertmanager.

**What did you see instead? Under which circumstances?**
no alerts are sent to alertmanager and and error logged by prometheus.

**Environment**
docker + docker-compose in an Ubuntu 20.04.3 LTS VM running on VMware vSphere ESXi.

There is a nginx installed on the Ubun

[2022-01-13 17:50] pintohutch opened #10164 "Missing metadata for some metrics"
**What did you do?**
Deployed an [example application](https://github.com/yuriatgoogle/stack-doctor/blob/master/oss-o11y/python/frontend/frontend.py) emitting Prometheus metrics in a Kubernetes cluster alongside a Prometheus deployment.

**What did you expect to see?**
All metrics with properly formatted `HELP` and `TYPE` strings have their metadata available in the Prometheus UI and API.

**What

[2022-01-14 00:26] alisakotliarova commented on #10133
@juliusv Thank you!  I've submitted a PR with a question about unit testing.

[2022-01-14 11:52] Zelayan commented on #10028
I have the same problem

[2022-01-14 11:55] Zelayan commented on #10028
![截屏2022-01-14 下午7 55 10](https://user-images.githubusercontent.com/50814087/149511656-025ff7ee-1c7d-4c8a-bc0e-a52406fc8501.png)

[2022-01-14 13:47] rfratto commented on #10151
For reference, this was the Grafana Agent issue we fixed that seemed similar to this: grafana/agent#185. Those changes seem to have been brought over in the initial move, so either something else is wrong or moving the code re-introduced a deadlock somewhere else.

[2022-01-14 13:55] rfratto commented on #10151
I suspect something may be wrong with [stripeSeries.Set](https://github.com/prometheus/prometheus/blob/a5d57c926903677e0e16c29bce46de69dfca153f/tsdb/agent/series.go#L177-L192) being run in parallel to [stripeSeries.gc](https://github.com/grafana/agent/blob/e1df94f5751b8b27b475adaca5e653739f455407/pkg/metrics/wal/series.go#L132).

The equivalent [Grafana Agent code](https://github.com/grafana/agent

[2022-01-14 14:03] rfratto commented on #10151
OK, it's definitely likely this is the problem, and I can follow how it would cause a deadlock. I'll open a PR.

[2022-01-14 17:02] beorn7 opened #10167 "Tracking issue for promotion/demotion of experimental features"
_The idea of this issue is to assign it to the upcoming release shepherd and use it to hand over state from one release shepherd to the next, updating this original post (rather than adding comments). If you know a better way of doing this, feel free to implement it and port the information here over to the better way._

### `--scrape.adjust-timestamps` and `--scrape.timestamp-tolerance`

__State:

[2022-01-14 18:13] jayesh-srivastava commented on #10082
Hi @LeviHarrison, if this issue needs to be worked upon, can I try to do it?

[2022-01-14 22:45] LeviHarrison commented on #10167
We could do it as a project with different columns for "To be vetted," "Blocked," "Deprecated," but this is probably fine.

[2022-01-14 22:47] roidelapluie commented on #10029
This feature is indeed not supported yet. Federation does not use OpenMetrics at the moment at all.

[2022-01-14 22:52] roidelapluie commented on #10090
This is so far out of scope for Prometheus. Prometheus, as a monitoring solution, is started with files. However, you can define targets in many ways with service discovery, including generic SD like HTTP_SD.

I will move this to a github discussion, if other people want to comment.

[2022-01-14 22:54] #10134 closed

[2022-01-14 22:55] roidelapluie commented on #10095
Can we have the full Prometheus startup logs? Thanks!

[2022-01-14 22:58] roidelapluie commented on #10095
From the logs it looks like something is happening during compation. Could you try to upgrade to the latest release and see if the problem still occurs?

[2022-01-14 22:59] roidelapluie commented on #10107
Could you be more explicit? What would the limit do? Render the last examplars, a random subset, the first ones?

cc @cstyan

[2022-01-14 23:02] roidelapluie commented on #10130
This would turn Prometheus into a reverse proxy, which does not seem desirable. I think we could add an button in the "labels" that would go to the graph page with the labels pre-selected but it would not really represent a scrape as extra metrics could be added by recording rules or metrics could be changed by metric_relabel_configs.

Therefore I do not think this issue is really actionnable for

[2022-01-14 23:05] roidelapluie commented on #10137
This would be tricky as metrics can change between scrape. Note that you can curl and use `promtool check metrics` for this purpose.

[2022-01-14 23:07] roidelapluie commented on #10141
Is there any chance that you could dump the http requests between Docker and Prometheus?

[2022-01-14 23:09] haf commented on #10137
No, promtool doesn’t show any errors.

[2022-01-14 23:11] roidelapluie commented on #10160
Could you try with Prometheus running with the environment variable `PROMETHEUS_COMMON_DISABLE_HTTP2=x` ? That would help a lot.

[2022-01-14 23:13] roidelapluie commented on #10164
If a metric name ends with _created, it is very possible that we ignore it or remove the prefix. _created is a special suffix in OpenMetrics and is threated in a different way. Could you use another name and see if it improves the situation?

[2022-01-14 23:17] roidelapluie commented on #10167
This seems too soon to me, we should wait a couple of releases before removing the feature flag.

[2022-01-15 00:09] cstyan commented on #10107
We also don't have any kind of query result limit parameter for the regular query APIs.

[2022-01-15 02:08] yuriatgoogle commented on #10164
I'm the "author" of the sample app.  The metric name is `frontend_request_count_otel` - I'm not sure where the `_created` suffix is coming from....

[2022-01-15 02:53] charlesxsh commented on #10058
In normal situation, test will be fine. The test will have goroutine leak if line 5 got triggered.

[2022-01-15 22:33] LeviHarrison commented on #10082
@chenlujjj great idea. Although https://github.com/tetafro/godot only seems to handle comments, that accounts for the majority of issues anyway, and we can always expand our checks later.

[2022-01-16 03:16] LeviHarrison commented on #10082
@jayesh-srivastava thanks for your offer. I think I'd rather handle the documentation part myself because I have some specific ideas on how I'd like it to be written, but you're free to work on adding the comment check to our golangci-lint configuration.

[2022-01-16 06:09] asaf1602 commented on #10095
Hi,

I cant upgrade the version (production ...)
But, at 123-Jan we disable the THP (Transparent Huge Pages) and from this time we didnt see any out of memory issue. As u can see in the Graph, memory used behaved as expected.
Do u know about any limitation related to THC?

Asaf

[Promtheus-Memory_Metric-go_memstats_heap_alloc_bytes_Jan12ToNow](https://user-images.githubusercontent.com/47528794/149

[2022-01-16 11:08] chlunde opened #10171 "Link to pre-filtered alert-overview"
## Proposal

To allow good a good UX for developers and integration between different webapps, we would like to link to a pre-filtered alert view.

### Use case
A concrete use case is to have one application link to a the alert list pre-filtered with the name of a specific microservice. This will show the developer what kind of alerts are currently defined for their service.

I think this should s

[2022-01-16 16:36] LeviHarrison commented on #10155
Setting the environment variable `PROMETHEUS_COMMON_DISABLE_HTTP2=1` disables HTTP2 from our side. Maybe that will help.

[2022-01-16 18:15] LeviHarrison commented on #10137
We could start off by making the message "Parsing failed" instead of "Append failed," as parsing is a completely separate step from the append, and it might not be completely obvious that this is a parsing error to some. As for line numbers, maybe displaying the name of the last parsed metric/help string/type string would be better, as the line numbers may change but I don't think the local order

[2022-01-16 23:24] roidelapluie commented on #10155
This might be a bug in our HTTP client, do you have a way to reproduce it?

[2022-01-16 23:58] KetchupBomb commented on #10141
@roidelapluie, I can try. Do you have thoughts on this? I'm thinking to just make either a `nc` or `socat` socket, change Prometheus to point at that TCP endpoint, dump the data to a file, and then filter the data in Wireshark or something. Is there anything more straight forward? I was looking at just `strace`'ing the `prometheus` process, but I saw a bunch of byte-like data and I'm not sure how

[2022-01-16 23:59] roidelapluie commented on #10141
You could enable the http listener and use Wireshark

[2022-01-17 01:45] siyyang-ms commented on #10155
It does not solve my case. When I set this environment variable, the error changes to "local error: tls: no renegotiation"

[2022-01-17 01:46] siyyang-ms commented on #10155
@roidelapluie You might try set GODEBUG and verify the log whether the remote write http client is using http2 or http1.
<html>
<body>

GODEBUG | http2client=0;http2debug=2
-- | --

</body>
</html>

[2022-01-17 01:49] testn commented on #10155
What do you use for the server side? If you cannot resolve it, fronting the server side with nginx or haproxy might help

[2022-01-17 01:55] siyyang-ms commented on #10155
Yes. I solved this problem by adding an nginx proxy. The server side is IIS server.

[2022-01-17 07:57] asaf1602 commented on #10095
Hi,

Prometheus failed again :(
Attached the prometheus messages from /var/log/messages

Any suggestion will be helpful
10x,
Asaf
[Prometues.log](https://github.com/prometheus/prometheus/files/7880040/Prometues.log)

[2022-01-17 08:56] Nexucis commented on #10171
Yeah I think it's ok do it (@juliusv yell you have something against it ;) )

For consistency, we should be able to pre-filtered the Target and Service Discovery page that have the same search bar.

[2022-01-17 09:23] juliusv commented on #10171
@Nexucis I think generally it's a good idea. Just take into account that we already sync the URL parameters + page content on the /graph page in both directions, so it's probably a good idea to use a similar approach on the other pages and / or generalize the existing code for that in Prometheus.

[2022-01-17 09:45] Nexucis commented on #10171
totally agree @juliusv, the behavior should be exactly the same than in the graph page !

[2022-01-17 09:45] compilenix commented on #10160
Thanks, that resolved the issue for me.
The error message does not appear anymore and alerts are delivered to altermanager again.

[2022-01-17 10:11] suyashtava commented on #8256
Hi Team, sorry for the long pause, got occupied with some stuff. Gave a couple of hours today.

Attaching PR: [here](https://github.com/prometheus/prometheus/pull/10172/files)

One can visualize the colors here: https://3000-prometheus-prometheus-x6mx3n9eoox.ws-us27.gitpod.io/graph?g0.expr=prometheus_http_response_size_bytes_bucket&g0.tab=0&g0.stacked=0&g0.show_exemplars=0&g0.range_input=1h

Looks

[2022-01-17 10:12] suyashtava commented on #8256
900+ diff colors , I dont think, we need more. :)

[2022-01-17 10:12] roidelapluie commented on #10160
This is more a workaround that a solution. Is there any reverse proxies between Prometheus and alertmanager?

[2022-01-17 13:45] roidelapluie opened #10175 "Prometheus 2.33.0-rc.0 does not start or starts very very slowly"
**What did you do?**

I updated Prometheus from 2.31 to 2.33.0-rc.0.

**What did you expect to see?**

Prometheus starting successfully.

**What did you see instead? Under which circumstances?**

Prometheus does not seem to replay the wal. Or it is extremely slow to do so.

**Environment**

* System information:

	Linux amd64

* Prometheus version:

	prometheus --version
        prometheus, versio

[2022-01-17 13:47] roidelapluie commented on #10175
Note:

It eventually started, but loading the checkpoint was very slow:

[code]

[2022-01-17 13:49] #10175 closed

[2022-01-17 14:23] compilenix commented on #10160
No reverse proxy. From Prometheus to Alertmanager it's a direct call. From one docker container to the other.

Doesn't the use of HTTP/2 imply / require TLS in this case?

[2022-01-17 14:31] roidelapluie commented on #10160
proxy_url: "https://alertmanager.domain.tld"

You are using TLS with the proxy.

[2022-01-17 14:51] haf commented on #7384
Ping, see message above

[2022-01-17 15:13] bboreham commented on #9637
This proposal relates to filtering targets after they have been received from the Kubernetes API-server.
I think it would be even better if we filtered the 'watch' call into the API-server so it would restrict the pods it tells us about.

[2022-01-17 15:15] rfratto commented on #9637
I used Kubernetes as an example, but people have used Grafana Agent's host filtering for SD's beyond Kubernetes (i.e., Consul). A generic way to filter targets based on environment would still be useful IMO.

[2022-01-17 15:43] #10122 closed

[2022-01-17 17:48] LeviHarrison commented on #10167
My impression of this flag was that it was more of a minor protection for a mechanism we didn't consider was too prone to failure, and given that we've only seen one bug (https://github.com/prometheus/prometheus/issues/9654) a day after the release, I think we should consider promoting this to stable sooner rather than later. Of course, I don't know how extensively it's been tested.

[2022-01-17 18:07] bboreham commented on #10107
There is a hard-coded limit of 11,000 points for range queries.

[2022-01-17 20:06] xkilian opened #10176 "promtool check config - Syntax Error - Matching against LABEL containing colon caracter."
**What did you do?**

check config
fails with the following error:
... yaml: line 7: mapping values are not allowed in this context

**What did you expect to see?**
Rule validated.

**What did you see instead? Under which circumstances?**

Compile the following a recording rule that matches a string in a label.

The string contains text TEXT: value.

**Environment**

* System information:

	Ubuntu

[2022-01-17 20:37] xkilian commented on #10176
Answering myself:

Enclosing the full expression statement in single-ticks will make this a string from a point of view of the yaml validity checker and things work. I use this in loki expressions, should have thought of it. Cheers!
`
groups:

  - name: recording_rules_stroboscope

    rules:
      - record: stroboscope::etat_sipproxy
        expr: '(sipProxy{state=~".*PRI: Up.*" == bool 1)  witho

[2022-01-17 20:37] #10176 closed

[2022-01-18 03:18] pzeepablo commented on #5976
where exactly do we run this?

[2022-01-18 08:42] haf commented on #10137
How do I get this working ASAP?

[2022-01-18 10:26] asaf1602 commented on #10095
Hi
19x for your response
I didn't find the tsdb in my installation.

I found it in https://github.com/prometheus-junkyard/tsdb
But when I download the zip file and open it, I didn't found 'tsdb'.
Can you help to find it?

Asaf

From: Julien Pivotto ***@***.***>
Sent: Tuesday, January 18, 2022 11:14 AM
To: prometheus/prometheus ***@***.***>
Cc: Asaf Eilat ***@***.***>; Manual ***@***.***>
Subject:

[2022-01-18 10:38] roidelapluie commented on #10095
I mean, the "tsdb status" page in the Prometheus UI.

[2022-01-18 11:20] ebarped commented on #9867
Im having this issue (same logs both on prom-agent and prometheus) with the same setup (prom-agent sending via remote-write to a prometheus) in prometheus version:
[code]

Config:
[code]

[2022-01-18 12:51] asaf1602 commented on #10095
Hi,

See attached.

![P8S_TSDB_1-Screenshot-2022-01-18](https://user-images.githubusercontent.com/47528794/149940576-a2176e48-975f-407b-8630-69d7d8e3abec.gif)
![P8S_TSDB_2-Screenshot-2022-01-18](https://user-images.githubusercontent.com/47528794/149940578-3e7d7627-51ee-4072-aed6-2c212c6dcb88.gif)

[2022-01-18 12:57] ramba07 opened #10177 "The linter 'golint' is deprecated (since v1.41.0) due to: The repository of the linter has been archived by the owner."
**What did you do?**
I'm trying to build an image from the git repo source code of v2.31.0 branch.

**What did you expect to see?**
The image has to be built successfully.

**What did you see instead? Under which circumstances?**
'golint' error while running the Makefile.

**Environment**
CentOS

* System information:
Linux 3.10.0-1127.18.2.el7.x86_64 x86_64

* Prometheus version:
Not installed.

[2022-01-18 13:06] asaf1602 commented on #10095
![Go-Dashboad-Last1H](https://user-images.githubusercontent.com/47528794/149942877-1127ff1d-88c7-458b-9ced-03411789ae6b.gif)

[2022-01-18 13:12] roidelapluie commented on #10095
Thank you. It seems that your memory issue is due to your usage of Prometheus. From what I see, you have unbound cardinality in your queryid and short_query labels, therefore you seem to be tracking events rather than metrics.

I don't think there is more we can do in this issue, but here is a presentation about cardinality and Prometheus that could help you: https://promcon.io/2019-munich/talks/c

[2022-01-18 13:22] SuperQ commented on #10095
I'd recommend looking at [this queries.yaml](https://gitlab.com/gitlab-cookbooks/gitlab-exporters/-/blob/b33a2d7090b668205e94616df7c793a472d0d88e/templates/postgres_exporter/queries.yaml.erb#L282-328) to reduce your `pg_stat_statements` cardinality.

[2022-01-18 13:28] roidelapluie commented on #10107
This is a limit of steps.

[2022-01-18 13:44] euskadi31 commented on #9310
Hello, We have the same need, I'm thinking of going to https://github.com/teralytics/prometheus-ecs-discovery for the moment, but I would have liked native support, do you have more information on the progress of this feature?

Thank You

[2022-01-18 13:44] LeviHarrison commented on #10177
`golint` was replaced for that reason in https://github.com/prometheus/prometheus/pull/9571. Linting isn't required to build a Docker image, so you can just follow the [Docker instructions](https://github.com/prometheus/prometheus#building-the-docker-image), which shouldn't fail.

[2022-01-18 14:07] LeviHarrison commented on #10137
I don't think we've decided on a solution yet, but if you'd like you can implement whatever you want on your own branch. The error originates here:

https://github.com/prometheus/prometheus/blob/4855a0c067e25df969debbe880448164116f625e/model/textparse/promparse.go#L362

[2022-01-18 15:10] rhowe-trp commented on #10151
I have also witnessed this behaviour although I don't have a goroutine dump.  If I see it happen again I'll try and grab one.

[2022-01-18 19:41] alvinlin123 opened #10180 "Invite on https://www.cncf.io/calendar/ needs syncing"
This is not a code bug, but a bug in CNCF calendar invite for the weekly contributor hour meeting.

In https://www.cncf.io/calendar/ the time is always 9am PST, where in the [meeting Google doc](https://docs.google.com/document/d/1bPIsOssTswA244z5SDlws5Qwzc27hQQ2IukNmkIjmPk) the time alternates between different times. Would it be possible to sync the time on the two documents? This is a bit probl

[2022-01-18 20:13] LeviHarrison commented on #10180
Sorry about that. I feel like a saw something about this in IRC the other day (maybe @RichiH was involved?). But for now, I believe the [Public Prometheus Calendar](https://calendar.google.com/calendar/u/0/embed?src=prometheus.io_bdf9qgm081nrd0fe32g3olsld0%40group.calendar.google.com) is our source of truth.

(Also moving this over to `docs` as it is more a general Prometheus org issue.)

[2022-01-18 22:10] aughr opened #10181 "Proposal: report sample and series statistics to help analyze and monitor query complexity"
Hey Prometheus community, @alanprot and I work on Amazon Managed Service for Prometheus. We're trying to improve our own and customer visibility into how expensive queries are to execute.

Prometheus already returns timing statistics about the query execution when the `stats=true` parameter is provided. When running many queries in parallel, especially in a multi-tenant environment on Cortex or Th

[2022-01-19 07:47] ebarped commented on #9218
I have the same problem sending metrics from prometheus-agent to a prometheus instance.
This issue happens when the prom-agent restarts and reloads the wal stored in the data directory.
If i clear the data directory and restart the prom-agent, everything goes well again

I put more details in https://github.com/prometheus/prometheus/issues/9867

[2022-01-19 11:00] compilenix commented on #10160
I've removed proxy_url and the PROMETHEUS_COMMON_DISABLE_HTTP2 env variable. Everything is still working as expected. Thanks :)

[2022-01-19 12:28] suyashtava commented on #8256
Please use the update PR: https://github.com/prometheus/prometheus/pull/10179

Also contains ref. of discussion.

[2022-01-19 13:10] juliusv commented on #8256
Thanks again! Merged :)

I'll close this issue then.

[2022-01-19 13:10] #8256 closed

[2022-01-19 13:12] suyashtava commented on #8256
Thanks @juliusv
Thank you will be happy to contribute more, incase u find something on which I can work, pls tag me there aswell. :)

[2022-01-19 13:22] juliusv commented on #8548
The latest changes by @Nexucis (https://github.com/prometheus/prometheus/pull/10142) should hopefully finish to solve this issue, so will close for now.

[2022-01-19 13:23] juliusv commented on #8256
@suyashtava Sounds good! Generally here's a list of issues concerning the React UI, in case anything catches your interest: https://github.com/prometheus/prometheus/labels/component%2Freact-ui

[2022-01-19 13:45] beorn7 commented on #10167
WRT using a GH project: Good idea. We can see how convoluted things get here.

WRT deprecation timing (in this case remote-write-receiver): Given that feature flags are inherently volatile, I don't think we need to wait for longer than one minor release. IMHO it just increases the management overhead for us, while it won't really significantly reduce the number of users hit by surprise. Perhaps ot

[2022-01-19 14:28] aughr commented on #10181
It looks like there are some past efforts in this space as well:

https://github.com/prometheus/prometheus/issues/6668
https://github.com/prometheus/prometheus/pull/6890

[2022-01-19 22:04] sergiodj opened #10185 "TestTemplateExpansion is failing on non-amd64 architectures"
**What did you do?**

I'm building prometheus on an Ubuntu GNU/Linux distro (Focal).  I'm actually building a snap for prometheus, but that shouldn't matter for the problem at hand.

**What did you expect to see?**

As usual, I expected to see successful builds for all architectures that we're supporting (amd64, arm64, s390x and ppc64le).

**What did you see instead? Under which circumstances?**

[2022-01-19 23:05] sergiodj commented on #10185
I think this is related to https://github.com/golang/go/issues/43047.

It seems to me that you have two ways forward here: either adjust the test and accept either negative or positive results, or get rid of the test given that it is relying on undefined behaviour.

Thanks.

[2022-01-20 12:24] bboreham commented on #10181
I'm always a fan of having more data. The step-level stats look a bit too much on the face of it, but as you say it would be optional.

Related: working with a different back-end as I do (Cortex), I also want to bring stats out which would not be known to Prometheus - e.g. how much data came from Cortex' cache.  So I would like the mechanism to be extensible and not tied to one struct as it is tod

[2022-01-20 13:56] aughr commented on #10181
@bboreham Yeah, agreed, extensibility seems important here. I'm planning on writing up a Cortex-side issue for this work as well (since of course we use Cortex too) and will have further thoughts there.

[2022-01-20 19:14] juliusv commented on #8548
Whoops, I thought I had merged that PR already (it's almost done), reopening.

[2022-01-20 22:09] altokarev commented on #9253
same on `v2.32.1`

![Screen Shot 2022-01-21 at 01 08 44](https://user-images.githubusercontent.com/28726429/150430143-c6f95d6e-0c4a-4e99-96d3-727b6214007e.png)

[2022-01-21 02:48] ejianlv commented on #10010
My proposal:

from:

[code]

change to:

[code]

BRs/Jian

[2022-01-21 13:51] rhowe-trp commented on #10151
OK, I think we have an example of this

prom 2.32.1 build 41f1a8125e664985dd30674e5bdf6b683eff5d32

The goroutine dump is at https://gist.github.com/rhowe-trp/c84591d0d14872dfd9679c5e2f065bac

[2022-01-21 20:14] sergiodj commented on #10185
Thanks for the reply, @LeviHarrison.  Yeah, your suggestion makes sense to me.  I'd be OK with having these specific tests split into an amd64-specific file.

[2022-01-22 09:39] #8548 closed

[2022-01-22 15:38] saswatamcode commented on #9627
Hello 👋, I wanted to move forward with this issue, regarding matcher support in Prometheus Rules API. A major use case for this is multi-tenant setups, where the only way to achieve tenancy seems to be modifying the API response, which is what [prom-label-proxy does](https://github.com/prometheus-community/prom-label-proxy/blob/1eac0933d51263ca7856fb8e4528f03039afa44f/injectproxy/rules.go#L166). M

[2022-01-23 01:19] LeviHarrison commented on #10185
Although actually, I wonder if the output itself is unexpected and should be fixed. It seems that the conversions were introduced in #9680.

[2022-01-23 03:11] LeviHarrison commented on #10185
If anything, it looks to me that the amd64 output could be wrong (converting a massive positive number of seconds into a negative duration), not the other architectures, so I opened #10196 to fix this.

[2022-01-24 11:12] Nexucis commented on #10091
It looks like you can also define the permission level per member like that: https://github.com/coredashio/community/blob/main/.github/settings.yml

[2022-01-24 12:34] roidelapluie commented on #10160
This still requires investigation from my side, reopening.

[2022-01-24 15:21] roidelapluie commented on #10091
Anyone with push access to the file can change parameters that only admins can normally change.

[2022-01-24 16:12] Nexucis commented on #10091
that would be a huge security breach if it's possible to increase your right just by changing the file without having an admin access.

[2022-01-24 17:33] jodihum commented on #5738
I am having problems with service discovery if I use version 2.26 or above.  If I go back to 2.25.2 it is fine.  I believe it is related to role_arn, since the only services I am having problems discovering are the ones with role_arn in the ec2_sd_configs.  Does anyone know what would be causing this or how I can fix it?

[2022-01-24 23:11] roidelapluie commented on #9627
it is fine to filter on active alerts, but filtering on definitions would require an alternative approach (filter by name, group ...)

[2022-01-24 23:15] #10185 closed

[2022-01-24 23:17] roidelapluie commented on #10164
In this case, this is exposing using the OpenMetrics format. In OpenMetrics, histograms get an extra metric which indicates the creation timestamp. We do not store metadata for _created metrics, which are metrics coming from a metricfamily. This is an enhancement, I will clarify the issue title.

[2022-01-25 00:06] JsBergbau opened #10199 "Compaction fails, high write load every 3 minutes"
**What did you do?**
I'm just running prometheus without changing anything. Since 23.1. there is high write load caused by prometheus.
![grafik](https://user-images.githubusercontent.com/37013344/150884811-601ae981-4f70-48f5-b0fa-37f0ae14b4b5.png)

**What did you expect to see?**
Low write workload as before 23.1.

**What did you see instead? Under which circumstances?**
High write workload. Log i

[2022-01-25 00:50] nfi-opsguru opened #10200 "sigv4 remote write does not deduplicate slashes"
**What did you do?**

Configured Remote Write to Amazon Managed Prometheus using sigv4 creds presented by EKS.

**What did you expect to see?**

Remote writes to go through.

**What did you see instead? Under which circumstances?**

Remote write failed 100% of the time with a sigv4 signature failure. I noticed that the URL had two slashes in it (due to templating). Once I fixed this, it worked.

A

[2022-01-25 00:57] nfi-opsguru commented on #10200
The [docs](https://docs.aws.amazon.com/sdk-for-go/api/aws/signer/v4/#pkg-overview) seem to suggest some amount of escaping is up to the caller, but prometheus probably wouldn't be able to determine how much escaping to do generally :/ So I guess it is kind of up to the user? Maybe just a warning in the docs would suffice?

[2022-01-25 01:10] compilenix commented on #10160
OK, let me know if i can help with anything :)

[2022-01-25 01:49] JsBergbau commented on #10199
I've managed to get rid of the error messages an the high write workload.
Last 1 hour
![grafik](https://user-images.githubusercontent.com/37013344/150894683-97e468d9-b050-42e4-99e2-8831bf707372.png)

I did this by stopping prometheus, copying the data folder to a amd64 machine and running also with `--storage.tsdb.retention.time=365d`. After waiting a few minutes prometheus printed
[code]
After th

[2022-01-25 07:06] jrauschenbusch opened #10201 "Azure SD: Add a Prometheus User Agent on HTTP requests"
It would be really good to be able to distinguish HTTP calls made from Prometheus server to the Azure ARM API.

Reason: ARM API requests are rate-limited and it's nearly impossible to distinguish calls made from Prometheus or from other components (except the version of azure-sdk-for-go present in the user agent header).

Current userAgent:
[code]

Suggested userAgent:
[code]

[2022-01-25 08:21] fpetkovski commented on #9512
We are running into the same issue due to short-lived certificates. Is there anything we can help with to move the open PR forward?

[2022-01-25 10:08] #9644 closed

[2022-01-25 10:28] metalmatze opened #10202 "Backfilling recording rules via API"
## Use case. Why is this important?

For the Service Level Objective project [Pyrra](https://github.com/pyrra-dev/pyrra) we are adding [support for availability recording rules](https://github.com/pyrra-dev/pyrra/pull/56) that pre-aggregate the number of failed and total requests over the objective's window (often like 4w).

Now, if the Prometheus server is running for more than 4w and there's ple

[2022-01-25 11:04] MCPDanilovich opened #10204 "Prometheus in agent mode stops send samples via remote_write unexpected."
**What did you do?**
I have configured our prometheus, that used for k8s monitroing, in agent mode.

**What did you expect to see?**
Prometheus have to send samples to remote storage.

**What did you see instead? Under which circumstances?**
Prometheus stops sending unexpected.
I see in logs:
component=remote level=debug remote_name=ff6a4c url=https://<remote endpoint> msg=QueueManager.calculateDe

[2022-01-25 11:22] roidelapluie commented on #10204
Could you please provide us a goroutine dump?

[2022-01-25 11:31] MCPDanilovich commented on #10204
Should i create dump, when problem exists ? Because i restart prometheus, and after that remote_write starts working.

[2022-01-25 11:51] roidelapluie commented on #10204
Yes, a dump when it it stuck would be useful and help us find out the cause.

Le mar. 25 janv. 2022, 12:31, Aleh Danilovich ***@***.***> a
écrit :

[2022-01-25 13:05] dgrisonnet opened #10206 "PromQL: additions and subtractions between some vectors and an empty vector result in empty vector"
**What did you do?**

I encountered a corner case in a PromQL expression used in an alert where some vector - an empty vector resulted in an empty vector. This may be intended, but it seemed odd as it would make it impossible to do additions and subtractions on optional vectors.

**What did you expect to see?**

I expected additions and subtractions between a vector and an empty vector to return t

[2022-01-25 13:50] roidelapluie commented on #10206
If your report is correct, this is a huge bug.

[2022-01-25 13:54] roidelapluie commented on #10206
I can not reproduce this. Can we know more about your setup? Are you using experimental features? Official builds?

[2022-01-25 13:56] beorn7 commented on #10206
I don't think it's a bug. It's fundamental semantics of vector matching in PromQL. Changing it would be a huge change, it would be breaking, and it would arguably do more harm than good.

In your case, the behavior might appear annoying, but I guess that's mostly because you are `sum`'ing everything up so you end up with no labels and you actually don't really want label matching.

You can "protec

[2022-01-25 13:56] roidelapluie commented on #10206
After reading your issue twice, this is the expected behaviour. You can read more about our vector matching here: https://prometheus.io/docs/prometheus/latest/querying/operators/#vector-matching

[2022-01-25 13:56] #10206 closed

[2022-01-25 13:59] beorn7 commented on #10204
/cc @rfratto

[2022-01-25 16:25] roidelapluie commented on #10201
Thanks for your request. Are you able to try out #10209 ?

[2022-01-25 20:25] alanprot commented on #10181
Hi,

I just pushed a draft PR with the samples processed changes.

[2022-01-26 06:16] praveensams16 opened #10211 "Memory spikes killing Prometheus"
**What did you do?**

    Prometheus restart due to wal folder size increase

**What did you expect to see?**
   Prometheus shoudl clear the wal folder over a period of time and getting crash

**What did you see instead? Under which circumstances?**

     when WAL folder reaches > 4gb , container will restart or crash

**Environment**

   Production

* System information:

	insert output of `uname

[2022-01-26 12:23] bwplotka commented on #9627
Why not a simple approach for Rules API to filter on non rendered labels? (Let's keep the Alerts API from the discussion for now).

Commented on the [PR](https://github.com/prometheus/prometheus/pull/10194#pullrequestreview-863455107)

[2022-01-26 13:57] Shini31 opened #10213 "Unexpected EOF with Istio mTLS and HTTP2"
**What did you do?**
I want to monitor some apps (with servicemonitor) hosted in namespaces with Istio mTLS (sidecar injection). I have added Istio TLS certificates into the Prometheus pods with a secret t(there are hosted in a namespace without sidecar injection).

**What did you expect to see?**
All the targets with Istio mTLS will be OK

**What did you see instead? Under which circumstances?**

[2022-01-26 17:29] rfratto opened #10214 "Proposal: Dynamic targets for http_sd_configs"
## Proposal
I would like the ability to chain targets from `kubernetes_sd_configs` into `http_sd_configs`. This will enable discovering targets from environments where both the targets and the systems which expose targets change.

### Background
I'm currently working on support for [integrations](https://grafana.com/docs/agent/latest/configuration/integrations/) into Grafana Agent Operator. This w

[2022-01-26 17:31] rfratto commented on #10214
If there's not a lot of confidence in the idea (and there's no obviously better solution to my problem), I'd be more than happy to iterate on this downstream in Grafana Agent first.

[2022-01-26 19:51] roidelapluie commented on #10214
I am clearly tending to reject this, the failure modes are quite unclear and it is becoming really complex for the users. The whole point of http_sd is to abstract that kind of business logic, I think a local grafana agent could do the aggregation and serve them over to prometheus if that is needed.

Chaining SD's might be useful in other cases, e.g. with dns_sd, but overall the complexity we push

[2022-01-26 23:08] rfratto commented on #10214
Would some combination of dns_sd and http_sd be more acceptable? i.e., optionally allow a DNS lookup of the host portion of the http_sd URL and query every resulting IP.

Then I'd be able to use a headless Kubernetes Service and a single http_sd_config.

[2022-01-26 23:14] roidelapluie commented on #10214
I do not want to have that complexity either. Combining service discoveries is really hard to reason about, and to display in the UI. The kind of use case you describe should be resolved by the HTTP SD target itself. Note that the Prometheus operator uses CRD's, which could be adopted by your grafana agent operator as well: https://prometheus-operator.dev/docs/operator/design/

[2022-01-26 23:17] roidelapluie commented on #10214
Let's not make up usecases :)
HTTP_SD is a last resort, ideally you would use standard service discovery like consul or kubernetes directly.

[2022-01-26 23:17] rfratto commented on #10214
I'm not :)

Thanks for the feedback. We'll explore creating a downstream SD for this.

[2022-01-26 23:17] #10214 closed

[2022-01-27 08:06] jodihum commented on #5738
So it turns out our problem was that we needed to have https_proxy set, not just http_proxy as previously

[2022-01-27 10:24] codesome opened #10216 "Missing documentation for some rule template variables"
The [documentation page for template reference](https://prometheus.io/docs/prometheus/latest/configuration/template_reference/) has some function missing that we provide:

- `strvalue`
- ~`stripPort`~ (ignore this, documented but yet to be released)
- `pathPrefix`

They can be found here https://github.com/prometheus/prometheus/blob/fe06f16c116a109330cce0bcb61c2c6728ab7227/template/template.go#L14

[2022-01-27 10:54] roidelapluie commented on #10216
stripPort is documented but not yet released.

[2022-01-27 10:59] jrauschenbusch commented on #10201
Hi @roidelapluie,

thanks for your efforts. I'll try to test.

[2022-01-27 13:59] roidelapluie commented on #10216
This function was added in 2014, I don't have the context. I don't think we should document it.

[2022-01-27 14:05] codesome commented on #10216
`pathPrefix` was also added 7 years ago, maybe don't need to document that as well. I think we can close this issue then, the only remaining function has been documented (hence, `pathPrefix` and `strvalue` will also be left out from compliance).

[2022-01-27 14:25] brian-brazil commented on #10216
It's for string values, this is how the templates handle them. It'll only come up if the expression is a string literal, so it's probably safe to remove in the next major version. At the time I added it I was very new to Prometheus and was covering all my bases.

This one is so console templates can know about any reverse proxy setup, so it has real uses.

[2022-01-27 14:33] codesome commented on #10216
Then we need to document pathPrefix

[2022-01-27 23:37] #9430 closed

[2022-01-28 04:47] littlepangdi opened #10217 "Discovery.Manager not closing `syncCh` after sending stopped"
**What did you do?**

`Loki` project quoting packages of `prometheus/discovery` for service discovery,and finds that after `discovery.Manager` exit, there is one unnormal go routine left due to an unclosed channel in Manager struct.

**What did you expect to see?**
After discussing with contributors in loki project(see more in[loki-pr-5238](https://github.com/grafana/loki/pull/5238)),

We think it

[2022-01-28 08:50] GiedriusS commented on #3806
Given that there are no more comments/suggestions on https://docs.google.com/document/d/1y2Mp041_2v0blnKnZk7keCnJZICeK2YWUQuXH_m4DVc/edit does that mean that a pull request which implements these functions under a feature flag would be accepted (https://github.com/free/prometheus/issues/16)? If yes then I can take a jab at porting the changes.

[2022-01-28 08:58] GiedriusS commented on #10181
cc @moadz as you were working on a similar thing in Thanos

[2022-01-28 09:56] jrauschenbusch commented on #10201
@roidelapluie LGTM

User Agent is recorded as `Prometheus/2.33.0-rc.1` by using your branch

[2022-01-28 09:59] codesome commented on #10199
@JsBergbau what was the Prometheus version before you upgraded? If it was 2.18.x or older, then it is most likely the m-mapping feature that you pointed out. It is a limitation of 32 bit system where Prometheus cant do much. (maybe implement custom memory management for file reading and not use mmap?)

[2022-01-28 10:09] JsBergbau commented on #10199
I began with
[code]
so an older version was never running.

[2022-01-28 10:12] codesome commented on #10211
@praveensams16 the WAL files are automatically cleaned up every 2 hours and corrupt files are repaired or removed on startup. What is the exact issue that you are facing? Can you share the logs around the crash?

[2022-01-28 10:14] codesome commented on #10211
PS: Manually deleting the WAL files is not a good idea, you might face data loss on any restart.

[2022-01-28 10:29] codesome commented on #10199
What was the version where things were running fine?

You said this in the issues description. With that I understood you meant v2.23.1 (but there is no such version). But now I guess you meant 23rd Jan.

Since you mentioned issue began with 2.32.0-rc.1, you must be running an older version before that, right?

[2022-01-28 10:36] JsBergbau commented on #10199
Sorry for the misunderstanding. Yes I meant 23rd Jan.

No, there was no older version running. I got ware of that problem because I get a daily report of `fstrim -v /` and since it was two days in a row more than 10 times higher than usual, I began to search what is causing this. And then I found out that prometheus is writing so much data. Prometheus was untouched for several days maybe even weak

[2022-01-28 12:36] #10201 closed

[2022-01-28 13:24] simonpasquier commented on #9990
I believe that this issue got fixed by https://github.com/prometheus/prometheus/pull/9996. Feel free to reopen if I'm mistaken.

[2022-01-28 13:24] #9990 closed

[2022-01-28 13:45] beorn7 commented on #3806
The design doc was discussed at the dev-summit on 2021-11-18. The general consensus was that the design doc still needs work. The [meeting notes](https://docs.google.com/document/d/11LC3wJcVk00l8w5P3oLQ-m3Y37iom6INAMEu2ZAGIIE/edit?pli=1#heading=h.xwbekevs3tsq) report the following: "CONSENSUS: We like the intention and will try to find a mentor within Prometheus team to help the design document ta

[2022-01-28 13:59] GiedriusS commented on #3806
Thank you, I will add this to the design doc so that it wouldn't get lost.

[2022-01-28 14:00] roidelapluie commented on #3806
The design doc was greatly improved on the 19th of November and I am happy with the current state, it explains a lot better what will be done and why.

[2022-01-28 15:54] brancz opened #10221 "Move remote_storage_adapter example out of repo"
## Proposal
**Use case. Why is this important?**

Move remote_storage_adapter example out of repo into a separate repo. This has on several occasions made importing Prometheus unnecessarily difficult because this example imports enormous dependencies such as influxdb. There's really no good reason for this to be in the Prometheus repository, it can be in another repository and be linked to from th

[2022-01-28 18:00] David-N-Perkins commented on #10216
I took a look at this and noticed the documentation for [console templates](https://prometheus.io/docs/prometheus/latest/configuration/template_reference/#console-templates) already states "The URL path is available in `.Path`" and `$path`. So, I wanted to make sure the `pathPrefix` function is still actually needed.

[2022-01-28 18:14] brian-brazil commented on #10216
`pathPrefix` is used by the example consoles templates included with Prometheus, so probably needs to be kept around as users likely copy&pasted it into their own consoles.

[2022-01-29 09:51] JsBergbau commented on #10199
@codesome

So you mean with 2.32 this shouldn't be the m-mapping problem and thus databases with 10 GB and above are possible on 32-bit systems?

[2022-01-29 19:05] roidelapluie commented on #10221
I am surprised by this claim. What's blocking this? We already have repos with multiple go.mods, like common.

[2022-01-29 21:11] LeviHarrison commented on #10081
Ah, I should have read more carefully, apologies. I believe you're right. There should be links to the `ServiceList`, `TaskList`, and `NodeList` API documentation, as those are what the Swarm SD uses. Interestingly enough, those links used to be there, but were replaced with a link to the `ContainerList` documentation in #8629 (https://github.com/prometheus/prometheus/commit/b253056163b705a13a4e2f

[2022-01-29 23:01] roidelapluie opened #10225 "Align OpenTelemetry Options with upstream"
We should align our tracing options with upstream:

- Endpoint for HTTP must contain the protocol (http/https), therefore being a full URL.
- Insecure must only affect GRPC, and default to false.
- We must support HTTP/GRPC headers.
- We must support "compression".
- We must support configurable Timeout.
- We must support specifying the protocol for HTTP (protobuf/json).

https://opentelemetry.io/

[2022-01-30 16:19] brancz commented on #10221
I should have elaborated. Generally, it can work to have nested modules, but with this exact situation, it cannot. The problem is that in this case, the nested module tries to access the "upper" one. The error is:

[code]

[2022-01-30 20:31] mayurOciSA opened #10226 "Native Service Discovery for Oracle Cloud Infrastructure"
Hello Prometheus Community,
I am with OCI(Oracle Cloud Infrastructure).

Use Case: I am reaching out to you on behalf of joint OCI and Prometheus customers. These joint customers are asking for support for native Service Discovery(SD) in Prometheus for their OCI resources(similar to the ones listed [here](https://github.com/prometheus/prometheus/tree/main/discovery)). Since Prometheus is widely us

[2022-01-30 21:47] xperimental commented on #10081
Thanks for the highlight. It looks like I moved around the documentation too much and added the wrong links to both sections (Docker Swarm referencing Docker Engine and vice-versa).

I'll give this another read and then create a PR fixing the documentation. Am I understanding the discussion correctly, that the feature works properly only the documentation is affected or is it also broken?

[2022-01-30 21:47] roidelapluie commented on #8852
After looking deeper, I do think that we should eventually make the move to v2, to keep things tagged. It would help casual downstream users, by clearly specifying which version of Prometheus they build against.

Overall, we would need to clearly document that we do not follow semver on our interfaces, and that breaking changes to the code happen between minor releases of Prometheus.

[2022-01-30 22:18] LeviHarrison commented on #10081
Thanks for the quick response and the explanation, I really appreciate it. Prometheus is working properly, just the documentation is inaccurate.

[2022-01-31 10:05] mstoetzer opened #10228 "Provide opencontainers labels in Dockerfile"
It could be a nice addition to provide official opencontainers labels in the Dockerfile of prometheus:

[code]

One example why this is useful is dependabot or renovatebot. When these tools update the dockerimage version, they can extract the release notes from the `source` label and provide it in the pullrequest. [See the renovate docs](https://github.com/renovatebot/renovate/blob/4b6270b981612f1

[2022-01-31 10:34] moadz commented on #10181
Hey @aughr, I've written a proposal for introducing a partitioned histogram metric that represents this exactly:
https://github.com/thanos-io/thanos/pull/4932
https://github.com/thanos-io/thanos/issues/4895

Where my proposal differs is the need to record these stats as a metric for the purpose of measuring and enforcing response time SLO's on the `/query_range` and `/query` endpoints.  One key th

[2022-01-31 10:56] roidelapluie commented on #10221
We could keep it in this repo if we rename or move the packages at the same time we add the go.mod

[2022-01-31 12:14] roidelapluie commented on #10226
Can we get more details about OCI, mainly:
- Which services would be implemented?
- Is there any rate limits that users might hit?

[2022-01-31 12:31] brancz commented on #10221
It depends on two main sub-packages from prometheus/prometheus, the first one, `prompb` wouldn't be a problem, as it's quite self contained, but the second one `storage/remote` transitively depends on practically everything in the Prometheus repository, I don't believe this is possible without drastically changing the layout and refactoring a lot of the repository.

[2022-01-31 12:42] roidelapluie commented on #10221
https://github.com/prometheus/prometheus/commit/bb4fd13d3da6be9570424308fc91e05d7af81ae9

[2022-01-31 12:47] brancz commented on #10221
Wow nice!!! I apologize, I think I straight out do not understand go mods. Do you want to create a PR? :)

[2022-01-31 13:05] roidelapluie commented on #10221
Yes, but it will involved a few extra work to see what to do with CI etc.

[2022-01-31 13:39] brancz commented on #10221
I feel a bit out of my depth since everything I've done here so far was entirely wrong, if you tell what I can do to help, then I'm happy to do that, but if it's faster for you to just do, then I totally understand and will just stand on the sidelines cheering for you :D

[2022-01-31 21:09] alanprot commented on #9879
Hi @codesome I think i see what you mean but this still can happen right?

From the timeline:

1. SeriesA had samples from 22:00 to 23:50
1. At 1:30 u  compact a new block (with data up to 00:00)
1. We receive a new sample (t1, v1) for SeriesA and the push go routineA is on [this](https://github.com/prometheus/prometheus/blob/e63b85be4fd7a6425dc697adc8244065028dfae2/tsdb/head_append.go#L243) line

[2022-01-31 21:32] alanprot commented on #9879
So any samples that are appended but not committed should be discarded if `truncateMemory` is called? This seems a more drastic change as on my change we are only discarding if `truncateMemory` AND the series got gc'ed.

[2022-02-01 03:02] praveensams16 commented on #10211
Hi @codesome

Please find the logs below

`ts=2022-02-01T01:17:34.902Z caller=main.go:444 level=info msg="Starting Prometheus" version="(version=2.31.0, branch=HEAD, revision=d4c83da6d252d4edfdbd639fb817ebdb8e9ab2e4)"
ts=2022-02-01T01:17:34.902Z caller=main.go:449 level=info build_context="(go=go1.17.2, user=root@395d507f537a, date=20211102-10:28:54)"
ts=2022-02-01T01:17:34.902Z caller=main.go:450

[2022-02-01 09:28] importhuman commented on #9187
Hello! I'd like to start contributing to the Prometheus community, can I take up this issue?

[2022-02-01 13:23] beorn7 commented on #8852
I'm not sure if moving to `module github.com/prometheus/prometheus/v2` in `go.mod` would reduce the sum of pain. It would definitely shift it to somewhere else, but that alone isn't worth the overhead of changing.

### Status quo

To `go get` prometheus/prometheus as a dependency, you have to pick a specific commit hash, as [described earlier](https://github.com/prometheus/prometheus/issues/7663#i

[2022-02-01 13:39] roidelapluie commented on #8852
I think that the "breakages" we make are often low-risk for consumers (it won't compile). Some parts of Prometheus are *intended* to be a library nowadays, so I would really like to do the change for v2, which makes it at the end easier for downstream users to know which version of Prometheus they are building against.

[2022-02-01 13:58] beorn7 commented on #8852
Yeah, that's the best case, but it's still pretty bad for a user expecting Go Modules semantics.

And it gets really bad if prometheus/prometheus is an indirect dependency. You use module foo (which depends on Prometheus v2.34) and module bar (which depends on Prometheus v2.35). You might end up in a situation where you cannot compile your code unless you change the code of your dependencies. (The

[2022-02-01 14:06] roidelapluie commented on #8852
I think separate tagging would have pretty bad side effects on downstream users that are following tags, it seems like it would cost them unnecessary efforts to adapt their patterns, probably an order of magnitude more annoying than moving to v2/.

[2022-02-01 14:13] beorn7 commented on #8852
It appears we are both just restating what we said before. We only disagree in the impact of the various annoyances.

We could go with changing to `module github.com/prometheus/prometheus/v2`, and if it wreaks havoc as I expect, we should be ready to invoke plan B and add my idea.

Or we declare it all not worth the risk and stay with the status quo.

We should also take into account that the `v2`

[2022-02-01 14:28] #9910 closed

[2022-02-01 14:43] #7783 closed

[2022-02-01 14:49] aughr commented on #10181
Interesting, thank you for pointing me to that, @moadz! Beyond the per-query / metric distinction, I think our goals for sample stats differ, but they can both co-exist. For our own operations at AWS, we might be interested in the true reach sample count. For our customers, though, we want to provide a consistent sample count for a given query whether an ingester in Cortex is down, compaction has

[2022-02-02 11:14] bboreham commented on #8852
I would love to have something constructive to say.  I've tried to solve this kind of problem a few times over the past 30 years and I do not know of any nice solutions where "force all users to upgrade now" is not an option.

+10

[2022-02-02 13:17] tpaschalis opened #10245 "Proposal: Clean up leftover checkpoint tmp directories during startup"
## Proposal
Hey team! 👋  I'm here to ask whether you think it's a good idea to make Prometheus clean up leftover checkpoint.*.tmp directories during startup.

We're currently [defering their cleanup](https://github.com/prometheus/prometheus/blob/cda025b5b50328ccd129c141e09dd77b3b1b034e/tsdb/wal/checkpoint.go#L140-L144) in cases where Checkpoint() may exit early due to an error, but this block won'

[2022-02-02 13:54] #10221 closed

[2022-02-02 14:03] roidelapluie commented on #10213
Could you provide a pcap file, when you have the EOF error ?

[2022-02-02 17:43] csmarchbanks commented on #8890
I wonder if this was related to the large amount of context switches that could be happening before https://github.com/prometheus/prometheus/pull/9830. That would explain the inefficiencies seen where we were not using all available resources. If so this will have been fixed in 2.33.

[2022-02-02 18:23] cstyan commented on #9377
Sorry, just saw this issue. I think doing something to reduce the churn and adding of really old exemplars is a good idea but I don't know about "not older than the one you would replace". Sounds relatively sane at the moment though, not going to block this if you want to proceed @bboreham

[2022-02-03 05:23] davidyuanfs commented on #7912
Any update on this proposal? Our team has run into the same issue many times and recovering from a long outages is extremely hard since burning these old records is time consuming and impact real-time data. It always require manually restart, but operational effort is expensive and risky when maintaining in a large scale system.

I may agree with @vsliouniaev points that adding retries will not ac

[2022-02-03 07:27] bgdnlp commented on #9214
I'm seeing the same errors in logs, except we are on 2.32.1 on FreeBSD, we have five Prometheis sending data to one writer, and I don't know where to start looking. A hint of what is being dropped, if anything, would be really helpful. I even used the correct plural, see? :)

Prometheus version:
[code]

The writers are NOT running in agent mode.

I tried deleting everything in the data directory o

[2022-02-03 09:46] jrauschenbusch opened #10253 "Proposal: Add resource groups filter to azure service discovery"
## Proposal

Since ARM API requests are rate-limited in Azure, it would be good to be able to reduce the load posed by Prometheus Azure Service Discovery. Especially when running multiple AKS clusters on a single subscription, running Prometheus servers on each, this problem is multiplied. So an additional reduction by resource group would be really good.

Use case: Non-AKS related VMSS residing i

[2022-02-03 10:36] roidelapluie commented on #10253
Thanks for your input. Yes, this would be a great feature.

[2022-02-03 12:40] importhuman commented on #9187
@roidelapluie Hi! Can I take up this issue?

[2022-02-03 12:55] roidelapluie commented on #9187
Yes, of course.

[2022-02-03 15:40] tomas-stary commented on #9990
The repair was really fast. Thank you very much.

[2022-02-03 15:42] LeviHarrison commented on #10216
Fixed in #10222

[2022-02-03 16:50] jmcarp commented on #7912
For what it's worth, the opentelemetry [remote write exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/prometheusremotewriteexporter) includes a `[max_elapsed_time](https://github.com/open-telemetry/opentelemetry-collector/blob/main/exporter/exporterhelper/README.md)` setting that I think would be useful here: if a batch has failed to send for $max_elap

[2022-02-03 17:09] mohan-nagandlla opened #10255 "metrics drop based on label"
Hi Team,
I just want to drop the metrics from federation instnace
by enabling the relabel concept but its not success

the sample metrics is
[code]

I don't want to see these metrics which is having more than one-time exported_exported_.* I need the metrics which contain only exported_instance label.

I have tries this

[code]

[2022-02-03 17:45] AndrewNiven1 opened #10256 "/prometheus/chunks_head filling up entire disk"
**What did you do?**

Ran Prometheus v2.32.0 on an Azure Kubernetes cluster, Kubernetes version 1.21.2. Limits of 500m CPU and 3Gi memory were set. A 50GiB persistent volume claim was allocated to Prometheus.

A scale test was run in which the number of metrics scraped by the Prometheus approached 500k.

**What did you expect to see?**

The Prometheus would either:
- handle all metrics as normal
-

[2022-02-03 18:07] jutley opened #10257 "Old Kubernetes SD endpoints are still "discovered" and scraped despite no longer existing"
**What did you see instead? Under which circumstances?**

We have an alert that can fire when a target cannot be scraped. This began firing, and upon inspection, the target did not actually exist. The target was for a Kubernetes pod that was replaced. It no longer appeared in the Kubernetes apiserver, and its IP address was not in the relevant Services corresponding Endpoints resources.

We run re

[2022-02-03 18:10] cstyan commented on #9214
`At this point anything would help. Metric name and/or instance printed with the error message on either side, would go a long way towards finding out where the issue is.` Unfortunately the error contents are set by the receiving side. Without code modifications to either Prometheus or the thing your sending to I don't have any debugging suggestions off the top of my head. You could try comparing

[2022-02-03 18:20] cstyan commented on #7912
The issue here isn't a batch being retried endlessly. If samples are too old for the receiver to accept they should return a non-recoverable error. The issue is the backlog of samples that need to be read from the WAL and buffered in remote write to be sent. It takes a long time to get through that backlog with the added roundtrip per batch. If remote write simply rejects samples that are too old,

[2022-02-03 20:23] davidyuanfs commented on #7912
@callumj exactly! Dropping can be an optional to enable and nice to have metrics about dropping records for system to monitor and alert.

[2022-02-03 22:59] LeviHarrison commented on #10081
Documentation was fixed #10252

[2022-02-03 22:59] #10081 closed

[2022-02-04 05:27] davidyuanfs commented on #7912
@callumj how about we just add a config in `queue_config` e.g: `[ max_samples_age: <duration> | default = 0s ]`, 0s seconds means no discarding. And for each sample consuming into shard we check and decide based on the sample age before buffering? In the meanwhile we count and emit discard records metric. Would this be a simple and reasonable solution?

If you guys think this is the approach to pu

[2022-02-04 06:51] bgdnlp commented on #9214
I found the issue yesterday. We did have external_labels already, and we were scraping different pieces of the network (one sender in each VPC), which is why it was so confusing. I posted to the mailing list because I'm not sure GitHub is the right place and it seems like a different issue than this one, but I don't see my message there. I'll try again.

Anyway, the issue was that we had the same

[2022-02-04 10:47] rajatvig commented on #9807
Did this make it to 2.33.0? Not seeing in the changelog

[2022-02-04 11:58] bboreham commented on #9807
Yes, #9830 was part of 2.33.0.  You can see it in the code here, for instance: https://github.com/prometheus/prometheus/blame/v2.33.0/storage/remote/queue_manager.go#L912

@beorn7 I think you did the release; should it be in the CHANGELOG?

[2022-02-04 12:22] callumj commented on #7912
@davidyuanfs I think you are tagging the wrong person?

[2022-02-04 14:15] Shini31 commented on #10213
Here is the pcap file: http://ovh.to/8vRA7c

Don't hesitate to tell me if I should add filters.

PS: Please tell me when you got the file back so I can delete it.

[2022-02-04 14:24] grandich commented on #8890
I couldn't retrieve context switch metrics of the problematic setup, but I can document here the leap of CPU hardware that solved remote write not catching up.

Didn't catch up:
[code]

Worked OK:
[code]

[2022-02-04 15:07] csmarchbanks commented on #7912
I am still happy with a solution as described with a max_samples_age. I think there is some disagreement around configuring `max_samples_age` vs a number of retries, but I don't see why we can't have both if someone needs retry based dropping of data.

Note that we should check sample age at a minimum when pulling out of the buffer (in case a sample has sat in the buffer for a long time), and shou

[2022-02-04 15:24] roidelapluie commented on #10213
I have the file. thanks.

[2022-02-04 15:53] PrestonTaylor commented on #5097
I have queries that are hundreds of lines with my filters pre-label_replace in dozens of places, putting a gigantic regex a dozen times in my query makes absolutely no sense. Yes, what I want is throwing away work that's been done already by filtering out after the fact but I'd rather my CPU do the work than me. Assuming one applies the same values to good code as they do queries this makes the qu

[2022-02-04 16:13] LeviHarrison commented on #10255
I think what you want are `metric_relabel_configs`, which drop individual metrics, not (target) `relabel_configs`, which drop targets.

[2022-02-04 16:18] matej-g commented on #10225
@roidelapluie Happy to continue this

[2022-02-04 16:57] roidelapluie commented on #10225
Awesome!

[2022-02-04 17:15] enthooz opened #10258 ""expected text in HELP, got \"INVALID\"" error raised when `UNIT` line w/o value lacks trailing space"
**What did you do?**

- Surface metrics in OpenMetrics format.
- Ensure at least one `UNIT` line does not have a value and no trailing space after `# UNIT`.

Example:

[code]

**What did you expect to see?**

Either:

1. (ideally) Prometheus successfully scrapes the metrics; or
2. (alternatively) Prometheus provides a more helpful error message (e.g. specify that error occurred on a `UNIT` line, n

[2022-02-04 17:17] beorn7 commented on #9807
Ooh yeah, that slipped… Probably because the original commits were so old that I didn't look back far enough.

Feel free to send me a PR against CHANGELOG.md.

[2022-02-04 17:24] enthooz opened #10259 "floating point timestamps rejected"
**What did you do?**

- Use `promtool check metrics` to lint metrics that have one or more floating point timestamps.

Example:

[code]

**What did you expect to see?**

- Successful linting, i.e. no error message and 0 exit code.
- [OpenMetrics spec](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#numbers) indicates that floating point numbers "[...] MAY be

[2022-02-04 23:16] mayurOciSA commented on #10226
Hi @roidelapluie

1. We are starting with Compute Service...discovering compute nodes on OCI. These nodes will have Prometheus NodeExporter running on them. Other services might come in the future.

2. we have a rate limit of 1 TPS/api/Region/CustomerAccount for most of the OCI SDK APIs which are for fetching metadata info(for nodes, vcn etc). In order to avoid hitting limits, we can leverage retr

[2022-02-05 23:47] JsBergbau commented on #10199
Similiar problem occured today. Transfered the data directory to 64 bit OS, let compaction run, transfered it back and it works now again.

Interesting point is that prometheus crashed a few times. For example at 4:00
[code]

But high write load began at about 12:00.

I've attached the full log. Hope that helps you. If you need further logs, especially when problem occured first, all logs are stil

[2022-02-06 17:43] brancz commented on #10257
What is the Kubernetes version involved here?

cc @simonpasquier @fpetkovski @PhilipGough

[2022-02-06 23:27] ofiry-tm commented on #5976
worked for me: https://github.com/aws/eks-charts/issues/21#issuecomment-607031756

[2022-02-07 00:18] JsBergbau opened #10261 "About every 2 hours Prometheus crashes with tsdb.handleChunkWriteError"
**What did you do?**
Just running prometheus via `prometheus --storage.tsdb.retention.time=365d` also tried with `prometheus --storage.tsdb.retention.time=365d --storage.tsdb.max-block-chunk-segment-size=128MB` but size of files doesn't get reduced.

**What did you expect to see?**
Running prometheus without crashes

**What did you see instead? Under which circumstances?**
Prometheus crashes regul

[2022-02-07 01:24] rthamrin commented on #2459
mine is a network problem, I installed my node on VirtualBox.  I deactivated the NAT,  I used NAT to supply my internet inside my master, I turn it off and I change to a bridge connection. and everything works smoothly. I hope it will never happen again.

[2022-02-07 01:50] davidyuanfs commented on #7912
@csmarchbanks Good point about the "check sample age at a minimum", like we should set a 1min at a minimum to avoid overhead time in the buffer.
And also sounds good to time out the batch request if samples in the request have became too old before sending.

And yes, for the retries, from our point of view, I think dropping data should not couple with retries policy. Dropping old data should be ap

[2022-02-07 01:52] davidyuanfs commented on #7912
@callumj sorry for a wrong mention.

[2022-02-07 10:24] codesome commented on #10181
Without any opinion on the json payload format, having this stat makes sense.

Although, I am not sure about the `Range Query with 10 steps: SeriesProcessed 50, SamplesProcessed=50` in the issue description. Intuitively feels like `SeriesProcessed` should be number of unique series touched overall during the range query. And not a sum of series touched across steps. Because the range query is inte

[2022-02-07 14:53] dudicoco opened #10262 "inconsistency between "up" metric and targets page"
The `up` metric is constantly reporting `0` for a couple of targets (pods in our cluster), however, when checking the same targets within the UI's `targets` page, they appear as `up` with no issues.

This only happens with two out of hundreds of targets.

* Prometheus version:

	`2.32.1`

[2022-02-07 16:35] jutley commented on #10257
[code]

[2022-02-07 16:49] bboreham commented on #9253
Can you clarify what you think is the same?  What links your symptoms to those discussed in this issue?
54GB for 8.8M series is relatively much less than anyone else has reported here.

[2022-02-08 00:38] LeviHarrison commented on #10258
Thanks for your report. I think there's some weirdness going on here with blank `UNIT` and maybe `HELP` comments lacking trailing spaces. The same error can be seen in the test failure message of [this PR](https://github.com/prometheus/prometheus/pull/9978), which removed trailing spaces in the parser tests.

The OpenMetrics spec doesn't say anything about trailing spaces, so it seems that this is

[2022-02-08 00:42] cstyan commented on #7912
Chris was saying that we should check if the sample is too old when moving it from the buffer to the next batch of samples to send. That would guarantee we never attempt to send samples that are too old. As an optimization we could _also_ check the sample age before putting the samples we read from the WAL into the buffer in the first place.

[2022-02-08 01:30] brian-brazil commented on #10258
OpenMetrics specifies this, this is invalid. If the unit is empty, that line must not be emitted.

See https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#abnf

[2022-02-08 01:33] LeviHarrison commented on #10258
Thanks for the pointer @brian-brazil. I've looked into it, and I think there are a few issues here:

* Although the case for metadata handles `HELP`, `TYPE`, and `UNIT`, the error messages are hardcoded to assume that they're dealing with a `HELP` comment: https://github.com/prometheus/prometheus/blob/277bf93952b56227cb750a8129197efa489eddde/model/textparse/openmetricsparse.go#L243-L259
* `got \"I

[2022-02-08 01:36] brian-brazil commented on #10258
That should be treated as an empty help, which is valid and equivalent to not having hte help line. That code looks right at first glance.

[2022-02-08 01:38] LeviHarrison commented on #10258
Oh, ok, so the trailing space behavior is expected?

[2022-02-08 01:43] brian-brazil commented on #10258
Yes, there's always the space required after the metric name for consistency.

[2022-02-08 01:45] LeviHarrison commented on #10258
Sounds good, thanks for clarifying.

[2022-02-08 04:44] chavalikesavanand opened #10263 "promtool to report at least warning when scrape interval is greater than 4 minutes"
## Proposal
**Use case:**
There are some product related metrics that are collected by running some scripts. As the scripts puts heavy load on system, they are run only once per day during night time. These metrics are exported via a custom exporter which is scrapped from Prometheus once in 23 hours.
**Issue:**
Because of 5minute staleness, any metric that is reported with more than 4 minute scrap

[2022-02-08 09:03] xenofree opened #10264 "Remote write stop sending samples"
**What did you see ? Under which circumstances?**

Prometheus stop sending samples to remote write.
I see in log that desired shards exploded

ts=2022-02-07T21:25:56.883Z caller=dedupe.go:112 component=remote level=info remote_name=29a4b7 url=http://x.x.x.x:yyy/insert/0/prometheus/api/v1/write msg="Remote storage resharding" from=1 to=2

ts=2022-02-07T21:26:06.883Z caller=dedupe.go:112 component=r

[2022-02-08 09:18] roidelapluie commented on #10264
Are you using Prometheus Agent?

[2022-02-08 09:23] xenofree commented on #10264
No

services:
  prometheus:
    image: prom/prometheus:v2.33.1
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/etc/prometheus/tsdb'
      - '--storage.tsdb.retention.size=35GB'
      - '--web.enable-lifecycle'
      - '--log.level=debug'

[2022-02-08 09:28] roidelapluie commented on #10264
Thank you. It would be helpful to get a goroutine dump. you  can fetch it at http://prometheus:9090/debug/pprof/goroutine?debug=2

[2022-02-08 09:53] praveen5kgit opened #10266 "Prometheus WAL files are not deleted and its size is 261GB now"
Prometheus WAL files are not deleted since the Prometheus setup was done. I am using Prometheus version 2.26.0 and I have gone through the same issue in forums. It has been mentioned that it was fixed in version 2.11 but for me, the WAL files are not deleting even though I use version 2.26.0. In the prometheus.yml file, I have not set --storage.tsdb.retention.time and --storage.tsdb.wal-compressio

[2022-02-08 10:05] praveen5kgit commented on #10266
<!--

Prometheus WAL files are not deleted since the Prometheus setup was done. I am using Prometheus version 2.26.0 and I have gone through the same issue in forums. It has been mentioned that it was fixed in version 2.11 but for me, the WAL files are not deleting even though I use version 2.26.0. In the prometheus.yml file, I have not set --storage.tsdb.retention.time and --storage.tsdb.wal-comp

[2022-02-08 10:14] roidelapluie commented on #10266
Can you provide us the starting logs of prometheus? If possible with --log.level=debug.

[2022-02-08 13:11] praveen5kgit commented on #10266
[startup_logs.txt](https://github.com/prometheus/prometheus/files/8024025/startup_logs.txt)

I have attached starting logsof prometheus. WAL files are available with the date from July 2021 which starts from 00001476. I have attached screenshot of checkpoint as well here.
![checkpoint](https://user-images.githubusercontent.com/20203371/152993690-16501cdf-d73f-49a2-9fe6-c05daa511694.JPG)

Please ch

[2022-02-08 13:37] xenofree commented on #10264
I have the problem again.

i dumped you the goroutine

[goroutine_dump_prometheus_remote_write_lag.txt](https://github.com/prometheus/prometheus/files/8024164/goroutine_dump_prometheus_remote_write_lag.txt)

[2022-02-08 14:09] praveen5kgit commented on #10266
[latest_logs.txt](https://github.com/prometheus/prometheus/files/8024439/latest_logs.txt)

I have attached latest logs of prometheus here.

[2022-02-08 17:00] beorn7 commented on #10263
Or even 2m, because that's generally the max recommended scrape interval (so you can deal with a missed scrape without running into the lookback delta).

[2022-02-08 17:13] beorn7 commented on #10259
Yeah, AFAIK `promtool check metrics` expects the classic Prometheus text format and doesn't do OpenMetrics at all.

[2022-02-08 17:23] dgiagio opened #10271 "Azure SD with Public IP Address: panic: runtime error: invalid memory address or nil pointer dereference"
## Version
Docker image `prom/prometheus`, tags `latest` and `main`, both have the same problem.

## Problem
We're receiving a panic from Azure SD plugin whenever it tries to enumerate our VMs. The problem is caused by an incorrect nil check as seen below:

https://github.com/prometheus/prometheus/blob/579331446a04503b2b1515767e7ceaceab2c6342/discovery/azure/azure.go#L374-L376

## Fix
The current

[2022-02-08 23:36] LeviHarrison commented on #10271
Thanks for your report. This was theoretically fixed in https://github.com/prometheus/prometheus/pull/5587, and https://github.com/prometheus/prometheus/pull/5587#discussion_r286171167 explains why `ip.PublicIPAddress.PublicIPAddressPropertiesFormat` is used instead. I don't think that check works though, as can be seen in this example (and the bug you found): https://go.dev/play/p/qDzVx0mnoXL.

[2022-02-09 05:18] praveen5kgit commented on #10266
@roidelapluie Did you get a chance to look at the logs?

[2022-02-09 06:57] roidelapluie commented on #10264
Are you remote writing with HTTPS?

[2022-02-09 07:05] xenofree commented on #10264
No, i'm writting with http

[code]

[2022-02-09 07:54] hagen1778 commented on #10264
Hi @xenofree! I think, limiting the number of [max shards](https://prometheus.io/docs/practices/remote_write/#max_shards) is a sensible thing to do in this case. It would keep the number of opened connections to the remote storage predictable.

[2022-02-09 07:57] MCPDanilovich commented on #10204
[goRoutine.txt](https://github.com/prometheus/prometheus/files/8030603/goRoutine.txt)

I;ve collected goroutine.

[2022-02-09 08:51] xenofree commented on #10264
@hagen1778 Thanks for the tip. Is there a best practice for calculating max shards ? Like maybe 1 shard per cpu ?

[2022-02-09 09:01] hagen1778 commented on #10264
@xenofree yes, that is a good estimation.
From the URL format you use, I assume the remote storage is VictoriaMetrics. If it is, please follow [these instructions](https://docs.victoriametrics.com/Single-server-VictoriaMetrics.html#prometheus-setup) for remote write configuration.
My apologies if the assumption is not correct.

[2022-02-09 09:30] matej-g commented on #10225
Just few additions:
- Although the protocol for options specifies, that the HTTP endpoint must be a full URL, the URL actually is [built](https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/otlp/otlptrace/otlptracehttp/client.go#L205) by the OTEL exporter based on the provided options. Meaning currently, the OTEL exporter expects the endpoint to not include schema, but the `http

[2022-02-09 09:57] roidelapluie commented on #10264
cc @cstyan @csmarchbanks @bwplotka   could you have a look at this issue to help finding what could cause this? Thanks!

[2022-02-09 11:07] fpetkovski commented on #10257
I am not completely convinced this is strictly caused by kubernetes discovery. Target groups for the endpoints role are always generated from scratch, and if Prometheus is getting stale reads from the informer, it wouldn't see the new pods at all. It is also strange that there's only one stale pod in the target group while new deletions are properly picked up.

Could the problem be somewhere in th

[2022-02-09 12:37] praveen5kgit commented on #10266
@codesome Can you please help me on this issue? This issue is occurring in production. So wanted to fix it sooner.

[2022-02-09 12:48] fsperling commented on #10264
We had the same problem twice since we upgraded to v2.33.1.
We have a remote write to a VictoriaMetricsDB in AWS.
Once it happened when we upgraded the EKS cluster VictoriaMetrics lives on which caused a short unavailability of VictoriaMetrics.

[2022-02-09 13:06] codesome commented on #9879
Let's replace 1:30 with 1:00, which is the actual thing that will happen.

So I am assuming `t1` is before 00:00, hence the issue happens.

In that case yes, we need to consider such samples as out of bound immediately after `truncateMemory`, because at that point a block has been cut, and if we allow this sample to go in, it can overlap with a block on disk.

We already do something like that for

[2022-02-09 13:11] codesome commented on #10211
Indicates that you need more memory provisioned to the Prometheus and has nothing to do with the WAL. WAL reaching 2GB during spike might just be the side effect of some background task that runs periodically that is taking a little more memory.

How bad is the spike? Do you have any dashboard to show the spike?

[2022-02-09 13:21] codesome commented on #10245
Yes. Cleaning them up on startup makes sense, there wont be any problems.

[2022-02-09 13:37] #10256 closed

[2022-02-09 13:53] codesome commented on #10266
Log has `WAL truncation in Compact: create checkpoint: create segment reader: open segment:00002392 in dir:/data/prometheus/wal: open /data/prometheus/wal/00002392: too many open files`

**too many open files**

You might have some lower limit set at some level. A quick search gives me https://www.baeldung.com/linux/error-too-many-open-files/. Can you try increase the limit to some high value and

[2022-02-09 13:55] fsperling commented on #10264
@bboreham you changed a lot in the remote_write functionality since 2.31.x
Could you please have a look too.

[2022-02-09 13:59] AndrewNiven1 commented on #10256
Hi Ganesh, thanks for your response.

I'm not sure I agree that the issue here was an under-provisioned disk. In normal operation, the size of the /prometheus/chunks_head directory is on the order of 100-200MiB. In the case that we observed, the size of /prometheus/chunks_head had grown to 48GiB. This is clearly abnormal and indicates that something had gone wrong (i.e. the routine responsible for

[2022-02-09 14:11] praveen5kgit commented on #10266
@codesome Yes, i saw this error and I have increased ulimit from 1024 to 65536  for root user as we are running prometheus with root user. But after this change when I tried to restart prometheus it was taking more than 7 hours to load all the wal segments and it was not starting. Usually it will take 2 hours to load all the wal segments which are present under /data/prometheus/wal and start prome

[2022-02-09 14:18] codesome commented on #10266
Since you have piled up so much of WAL, it is going to take a ton of time yes. You can delete some % of older files to speed this up, and if you are lucky, there will be no data loss, but expect some data loss nevertheless.

I would not recommend reducing back the ulimit because it all started with the lower ulimit from the looks of it.

[2022-02-09 14:19] bboreham commented on #10264
The symptoms are consistent with your backend stopping.

You need to know the rate you want to send samples, the typical round-trip time to the backend, and number of samples per send (which you can configure).

Suppose you have 1 million series being scraped every 15 seconds, that is 67K samples/sec.
Suppose your RTT is 100ms, then you can do 10 sends per second.  If you send 500 samples per send

[2022-02-09 14:19] #10266 closed, assigned to nobody

[2022-02-09 14:24] codesome commented on #10256
If compaction fails because of not enough disk space, then chunks_head is not going to be cleared up, because that is a data loss. Hence chunks_head would keep on taking more space until disk is full. This is just a speculation. It is however weird that big % was chunks_head and not the WAL, so there _might_ be some actual issue.

It would have been interesting to know more details around it. But

[2022-02-09 17:06] praveensams16 commented on #10211
Hi Venkat ,

    The node limitations are 16 gb , but you can see spike go beyond 19GB

[image: image.png]

On Wed, Feb 9, 2022 at 5:11 PM Ganesh Vernekar ***@***.***>
wrote:

--
Thanks--
Praveen Sam

[2022-02-09 17:07] praveensams16 commented on #10211
<img width="1354" alt="image" src="https://user-images.githubusercontent.com/14541543/153252423-5485a36d-5f1c-46b3-8a59-8a3434ad649d.png">

Please find the spike in the snap

[2022-02-09 17:09] LeviHarrison commented on #10259
There's an issue to add OpenMetrics support, https://github.com/prometheus/prometheus/issues/8932, but it's waiting on a new parser to be merged.

[2022-02-09 17:23] #10255 closed

[2022-02-09 18:16] rfratto commented on #10204
Thanks for the goroutine dump. This is still definitely deadlocking on a similar situation. I'll look into this and try to fix.

[2022-02-09 18:20] rfratto commented on #10204
Silly question: can you confirm that goroutine dump is actually from v2.33? The call stacks from the goroutine don't line up with the bug fixes from v2.33 and only match up with the old, unfixed code.

ie:

[code]

`/app/tsdb/agent/series.go:142` isn't a Lock as of v2.33.

[2022-02-09 21:14] MCPDanilovich commented on #10204
It was 2.32.1 version. Is it true, that this issue fixed in 2.33 ?

[2022-02-10 01:49] alanprot commented on #9879
Yes... correct.

I would love to create a PR but i still a little confused. Seems that when we call `truncateMemory` we don't update the `headAppender#minValidTime` right? So this would not have any effect.

Seems that in this case we would need to check the `headAppender#head.minValidTime`?

Doing this change I still get the error:

[code]

[2022-02-10 01:57] steve-exley commented on #10264
Thanks for all the useful info.

We have seen these symptoms repeatedly. Version 2.33.1

the logs show repeated "Skipping resharding, last successful send was beyond threshold", messages.  Once we get this, remote_write seems to stop indefinitely.

This is where they start:

[code]
I've included the debug dump as previous posts.
[prometheus.log](https://github.com/prometheus/prometheus/files/80374

[2022-02-10 08:24] fpetkovski commented on #10257
@jutley if you still have the faulty Kubernetes endpoint, you can try checking if there are any `notReadyAddresses` in the `subsets` field. These IPs will not be shown in the regular `kubectl get endpoints` output, you will need to add a `-o yaml`, but Prometheus will pick up them up as well and try to scrape them.

[2022-02-10 11:22] codesome opened #10277 "Discard snapshot replay data if m-map chunks replay fails"
If m-map replay fails for any reason, example corruption, then part of the m-map chunks or the entire chunks will be lost. In that case we need to replay that data from WAL since it is not present in the chunk snapshot.

Currently, if we face m-map replay error, we continue the WAL replay from the point that chunk snapshots tells and won't recover the data from missed m-map chunks. We should actua

[2022-02-10 13:11] jan--f commented on #10257
We're tracking similar symptoms as well in multiple cases (https://bugzilla.redhat.com/show_bug.cgi?id=1943860).
I agree with @fpetkovski, the k8s SD and Informer side looks unsuspicious.
The cases we have seen seem to coincide with either heavy load on the apiserver (i.e. request throttling is in effect) or temporary outage/churn of in the apiserver (due to say a node shutting down). Sometimes bo