[2018-04-30 12:43] brian-brazil commented on #3983
Yip. Whatever we release next will have the fix.

[2018-04-30 12:43] #3983 closed

[2018-04-30 12:57] beorn7 opened #4124 "K8s SD: Targets are not updated"
## Bug Report
**What did you do?**

Scaled new K8s pods up, scaled old ones down.

**What did you expect to see?**

Old pods disappear from targets, new ones show up.

**What did you see instead? Under which circumstances?**

Prometheus doesn't see the new pods, tries to scrape the old ones.

**Environment**

* System information:

	Linux 4.4.10+soundcloud x86_64

* Prometheus version:

	most rece

[2018-04-30 13:00] beorn7 commented on #4124
This issue is seen in production at SoundCloud. I'm still working on reproducing it with a minimal setup.

In particular, this issue can __not__ be reproduced with the following setup (cf. https://github.com/prometheus/prometheus/pull/4117#issuecomment-384909820 ):

@krasi-georgiev wrote: "using the configs below seems to work as expected with minikube.
When scaling up and down the deployment pods

[2018-04-30 13:09] beorn7 commented on #4124
Here is the job config that creates the problem:

[code]

[2018-04-30 13:17] SuperQ opened #4125 "Add linters to golangci lint."
## Proposal

Enable additional linters in `golangci-lint`
[code]

[2018-04-30 13:30] beorn7 commented on #4124
My general thoughts:

- The config per se seems sane, as it works on 1.8/2.0.
- The problem seems to be a missed update, as a SIGHUP gets it unstuck.
- Perhaps it makes a difference if the Prometheus server is in-cluster or not (assuming that @krasi-georgiev 's test config uses an in-cluster Prometheus).
- Another possible explanation for difficulties to reproduce: Perhaps this is a racey thing (n

[2018-04-30 13:39] krasi-georgiev commented on #4124
my Prometheus is running on the  local machine(bare metal) and the k8s minikube runs in a VM so it is the same as your setup.
Now trying with your config and will try scaling up and down continuously.

[2018-04-30 16:09] krasi-georgiev commented on #4124
here is the minimal deployment that works with this config, but still works as expected on my setup so will keep digging.

[code]

[2018-04-30 16:17] brian-brazil commented on #4125
Do we know what level of false positives we can expect?

[2018-04-30 16:40] SuperQ commented on #4125
Good question, Maybe @mjtrangoni has some more experience with that.

[2018-04-30 17:46] mjtrangoni commented on #4125
@brian-brazil you are right, there are going to be **many** false positives.
IMHO, the best and simplest way I found was using [gometalinter](https://github.com/alecthomas/gometalinter) plus a JSON configuration file, like [this](https://github.com/mjtrangoni/flexlm_exporter/blob/master/.gometalinter.json). This configuration file should be also project-specific.
Another interesting thing I found

[2018-04-30 18:06] shuz commented on #4108
We are seeing the same issue and the same error log in our cluster.
[code]

[2018-04-30 18:09] juliusv commented on #4103
Fixed in https://github.com/prometheus/prometheus/pull/4126, thanks @infoverload!

[2018-04-30 18:09] #4103 closed

[2018-04-30 18:13] juliusv commented on #4125
Yeah, careful with linting, at least https://github.com/golang/lint's README.md says "In short, this tool is not, and will never be, trustworthy enough for its suggestions to be enforced automatically, for example as part of a build process.", and we've known that for a while :)

We can still have targets for it of course, just not have them be part of CI checks.

[2018-04-30 19:30] krasi-georgiev commented on #4108
Can you give some info and steps how to replicate?
without a minimal config and steps to replicate it would be difficult to find the culprit.

[2018-05-01 13:15] karlhungus opened #4128 "tsdb Panic when reading chunk"
## Bug Report
**What did you do?**
Ran prometheus

**What did you expect to see?**
It run

**What did you see instead? Under which circumstances?**

Exception on startup: panic: runtime error: index out of range (looks similar to: https://github.com/prometheus/tsdb/issues/251)

**Environment**

* System information:
[code]

* Prometheus version:
[code]

* Logs:
[code]

[2018-05-01 13:17] karlhungus commented on #4128
Apologies if this is in the wrong repo. Any advice on recovering from this error without removing all tsdb files would be appreciated.

[2018-05-01 14:05] iamdeadman opened #4129 "Prometheus Error loading config couldn't load configuration (--config.file=/etc/config/prometheus.yml): parsing YAML"
Hi,

I am trying to deploy a prometheus monitoring stack in a kubernetes sandbox on Google compute vm.

I have got kubernetes, helm, tiller up & running & I followed this blog post to install the prometheus server - [tutorial](https://blog.lwolf.org/post/going-open-source-in-monitoring-part-i-deploying-prometheus-and-grafana-to-kubernetes/)

So, as it suggested I made changes to my cpu, memory lim

[2018-05-01 14:15] brian-brazil commented on #4129
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-01 14:15] #4129 closed

[2018-05-01 14:35] krasi-georgiev commented on #4128
had  quick look and it seems some corruption in the chunk so it fails to read the encoding.

Is this easy to reproduce?

[2018-05-01 14:42] karlhungus commented on #4128
No it happened in a 1Tb tsdb (which I eventually deleted), and it really could be a result of any failure (disk or whatever). So I don't think it's a problem things get corrupt, I think the problem is that tsdb can't work around it (or I can't tell it to work around it), I'd much prefer to lose a bit of data then have to start fresh with everything.

I'm cool with closing this if this is too broad

[2018-05-01 15:04] krasi-georgiev commented on #4128
In most cases I have seen only one block is causing an issue so if you delete the entire directory you loose that date range,but Prometheus should still read the remaining.
By looking at the logs and checking the `meta.json` file in each folder you should be able to tell which is the offending directory.

@gouthamve suggested that we should probably add this as a cleanup command to the [tsdb tool]

[2018-05-01 15:18] krasi-georgiev commented on #3375
now that we are on the 2.2.1 this looks obsolete.
Please feel free to reopen of you still experience this.

[2018-05-01 15:18] #3375 closed

[2018-05-02 02:45] jeeyoungk commented on #1227
What would it take to implement this? I'm willing to jump through the hoops to make this happen. this makes a lot of `x_over_time()` functions useless when you have a lot of counters, as you want almost always want to apply `rate()` first.

[2018-05-02 03:58] qsbao commented on #4094
@brian-brazil We got the same problem, I can show you the raw data.

![image](https://user-images.githubusercontent.com/12093621/39504456-5aad0e54-4dfe-11e8-950c-def46c7beb17.png)

[code]

![image](https://user-images.githubusercontent.com/12093621/39504618-56cae9b8-4dff-11e8-948c-10aab918ffeb.png)

[code]

**Environment**

* System information:

	Linux 2.6.32-642.el6.x86_64 x86_64

* Prometheus v

[2018-05-02 04:03] brian-brazil commented on #1227
See https://www.robustperception.io/composing-range-vector-functions-in-promql/

Most of the over_time functions make no sense with counters.

[2018-05-02 04:11] brian-brazil commented on #4094
That's not the raw data, and that looks like a counter going backwards. Check with resets()

[2018-05-02 05:10] qsbao commented on #4094
Yes, you are right. There is a counter resets. Thank you!

[2018-05-02 06:04] qsbao commented on #4094
Hi Brian, resets() shows there are counter resets happens. But:
1. Why can not `increase()` hold this situation? [Doc](https://prometheus.io/docs/prometheus/latest/querying/functions/#increase) of `increase()` said:

       Breaks in monotonicity (such as counter resets due to target restarts) are automatically adjusted for.

2. Why the counter resets occurred periodically (every 2 hours)?
We have

[2018-05-02 08:28] Coffee-Bene commented on #3897
Hello,May I know the time when this bug will be repaired？

Our products are all on Amazon Machines,if this bug can't  repair on next release,I have to add more than 100 machine's monitor Manually

Thanks

[2018-05-02 08:29] Coffee-Bene commented on #3897
@brian-brazil
Hello,May I know the time when this bug will be repaired？

Our products are all on Amazon Machines,if this bug can't repair on next release,I have to add more than 100 machine's monitor Manually

Thanks

[2018-05-02 09:59] brian-brazil commented on #4094
A break in monotonicity is presumed to be a reset back to zero due to a process restarting, which if that's not the case you get what you're seeing. There's something broken with your counter that you need to fix.

[2018-05-02 17:20] krasi-georgiev opened #4133 "Rules manager Panic caused by closing a channel more than once."
caused when sending a SIGHUP. and  SIGTERM right after that.
I looked briefly and seems like an easy one to solve.

[code]

[2018-05-02 22:15] beorn7 opened #4134 "/service-discovery returns excessive amount of HTML for large K8s clusters"
The handy `/service-discovery` endpoint also show all dropped labels. However, SD often retrieve essentially all the meta data and then drop most of it for each job. In the case of K8s, imagine a decently sized cluster of 10k pods, each with 10 labels or annotations, each needs ~1kiB to display in HTML with its operation. A Prometheus server with 10 configured job would display all 100k labels/ann

[2018-05-03 06:15] brian-brazil commented on #4134
Limiting it to say 1k dropped targets per scrape config sounds reasonable to me. This is similar to #2119

We already have the HTTP API for getting this information, so for such large users we can probably point them there rather than adding a UI component.

[2018-05-03 08:14] brian-brazil commented on #4134
I'd prefer not add the complication of pagination to the APIs, nor search functions.

[2018-05-03 11:35] Bplotka commented on #3756
Yea, we use port naming as an indicator what port should be scraped for pod, but it is limited:
- port name has limit of 15 chars
- you need to have same `scheme` and `__metric_path__` for all containers within pod

It's fine for us for now, but can cause some troubles if you don't have any way to change __metric_path__ on which metrics are exposed for both containers within pod.

Started some dis

[2018-05-03 11:37] Bplotka commented on #3756
There is another, more verbose solution (I explained in google group's topic):

`prometheus.io/0/{port, scrape, scheme, path}` and add additional scrape config for each potential sidecar. So if you have 3 containers that you want to scrape you can put in the pod appropriate annotations:
`prometheus.io/0/{port, scrape, scheme, path}`, `prometheus.io/1/{port, scrape, scheme, path}`  and `prometheus.

[2018-05-03 18:34] chyeh commented on #1551
Hello, I'm new here! I would like to know if anyone is working on this issue. Any update?

[2018-05-03 20:14] woolite64 opened #4137 "Expose GCE labels during service discovery"
## Proposal
Expose GCE [instance labels](https://cloud.google.com/compute/docs/labeling-resources) as \__meta_gce_label\_<name> so that values can be passed to Target Labels.

It's currently possible to filter by GCE labels using Prometheus, but the values aren't available once the host is found. Tags and metadata are exposed ([here](https://github.com/prometheus/prometheus/blob/c207920500d1d55c21

[2018-05-03 20:25] acheaito commented on #3496
@nani2say The problem, for me, was the presence of the `http_proxy` environment variable. To get around the issue, I set `no_proxy=**0.0.0.0**,127.0.0.1,localhost`

[2018-05-03 20:25] juliusv commented on #1551
@chyeh Hi and welcome! I don't think anyone is currently working on this, but it would still be something that's nice to have.

[2018-05-03 21:13] chyeh commented on #1551
@juliusv tks for your reply. After reading through this thread, I feel this issue needs some further discussion. My question is what exactly is debug information that should be exposed? Before implementation, I might need to confirm the spec of the API with you.

[2018-05-04 00:06] shashank0033 opened #4138 "Prometheus is not able to talk"
I tried it but from the prometheus (kubernetes POD)I am getting below error

time="2018-05-03T17:38:31Z" level=warning msg="Error sending 100 samples to remote storage: server returned HTTP status 400 Bad Request: {"error":"proto: wrong wireType = 2 for field StartTimestampMs"}" source="queue_manager.go:500" time="2018-05-03T17:38:31Z" level=warning msg="Error sending 100 samples to remote storage

[2018-05-04 01:33] ahrtr opened #4139 "Can't add labels for alert rules at group level"
We defined lots of alert rules, which can be classified as a couple of groups.  We need to send alerts of each group to a different target (pagerDuty service).  So the plan is to add a different label for each group, i.e., group1, group2, group3, etc.

But currently we have to add the label to each alert rule. It would be better if we can set the label to the group instead of each alert rule. What

[2018-05-04 05:12] brian-brazil commented on #4138
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-04 05:12] #4138 closed

[2018-05-04 05:13] brian-brazil commented on #4139
You need to add it to each alert specifically, we generally try to avoid having more than one way to do things and this would also interact poorly with recording rules. You can always use the templating features of your configuration management system if you find that this is too noisy.

[2018-05-04 05:13] #4139 closed

[2018-05-04 05:36] var23rav commented on #2939
try `docker run --rm -it -u $(id -u root):$(id -g root) -p 9091:9090 -v $(pwd)/prom:/prometheus prom_image_name:var23`
Notice the use of **-u** switch `-u $(id -u root):$(id -g root)` forcing to use the **root** user in docker.
_I got it working in this way._ Seems like the volume owner is root.
Since there is no namespace mapping in docker, the folder created in _host machine_(**prom**) will be o

[2018-05-04 07:20] rollcat opened #4140 "Proposal: pushing metrics directly to Prometheus"
I think push vs pull has been mentioned a long time ago, on numerous occasions, and in numerous sources already, but after briefly reviewing open (and closed) issues I haven't found anything of a decisive "yes" / "no" / "maybe" / "send a patch".

From what I gathered, pushgateway, due to its design, is only ever recommended for [certain, specialized use cases](https://prometheus.io/docs/practices/

[2018-05-04 09:13] krasi-georgiev commented on #4140
https://groups.google.com/forum/#!forum/prometheus-developers
Proposals are best discussed in the google group as more people are subscribed there and will be a better place for such discussion.

it might be worth doing some search as I suspect this topic has already been discussed.
Don't forget to describe your use case and why it  can't be solved with the pull model or via the push gateway.

[2018-05-04 09:13] #4140 closed

[2018-05-04 12:00] brian-brazil commented on #4140
This has been discussed extensively, and this is an explicit non-goal of the project.

[2018-05-04 13:35] krasi-georgiev commented on #4133
the report was from @beorn7 and I already opened a PR(link above) with a suggested fix , but that is without managing to replicate it.
It would help if you can manage to replicate it and check if the PR fixes the issue.

[2018-05-04 13:43] daveworth commented on #4133
👍 Sorry I missed that PR @krasi-georgiev - I will attempt to replicate and post results.

[2018-05-04 13:46] krasi-georgiev commented on #4133
thanks

[2018-05-04 16:52] sr commented on #4128
@krasi-georgiev In the future, how can we collect more useful debugging data to help diagnose corruption issues? Unfortunately our tsdb contains private information and we are not able to share it, unless there's some way we can anonymize labels.

[2018-05-04 17:16] nani2say commented on #3496
@acheaito - Thanks for letting me know. Did you replace http_proxy with no_proxy ?
I am asking because I don't want to loose the benefit of http_proxy in my environment. may be a stupid question but I would appreciate your response.
Thanks!

[2018-05-04 17:33] acheaito commented on #3496
@nani2say - no_proxy works together with http_proxy. It's a mechanism for specifying hosts that the system should not use the proxy for. Connections to all other hosts still goes through the proxy.

[2018-05-04 17:49] nani2say commented on #3496
@acheaito that makes sense. Thank you!

[2018-05-04 17:52] krasi-georgiev commented on #4128
that is a good idea , I will think what and how we can expose something useful .

btw I already opened the PR for the scan and delete corrupted data and just waiting for some input from the other maintainers before I start.

https://github.com/prometheus/tsdb/pull/320

[2018-05-04 22:42] brian-brazil commented on #4137
It sounds like you'll need to update the vendoring. We use govendor for this,

[2018-05-04 22:44] strowi commented on #3487
Hi,

seems i am experiencing the same issue with 2.2.1 writing on nfs

[2018-05-05 08:01] #4076 closed

[2018-05-05 08:59] io7m opened #4141 "Feature request: IRC alertmanager integration"
## Proposal

It would be good if Prometheus could send alert messages to IRC.  It already supports sending messages to other chat protocols (some of which are proprietary), and IRC being a widely implemented, widely used open standard constitutes quite an omission!

[2018-05-05 13:43] SuperQ commented on #4141
IRC requires a persistent connection, which is not possible in an alertmanager cluster, as each one would require an independent connection.

Googling for "alertmanager irc bot" returns several bots that implement webhook receivers.

https://github.com/multimfi/bot
https://github.com/metalmatze/alertmanager-bot

In addition, I believe Matrix (Riot?) implement enough Slack API to pass messages to I

[2018-05-05 13:43] #4141 closed

[2018-05-05 14:04] io7m commented on #4141
Sorry, I was actually asked to report this one by `bhenc` on the IRC channel. Clearly I got the wrong repos.

[2018-05-05 14:09] SuperQ commented on #4141
No worries, I think it would be good to have some links to various webhook implementations somewhere.  We could put this in our docs repo under the alertmanager docs, similar to how we list exporters.

[2018-05-05 15:35] brian-brazil commented on #4141
They're already on https://prometheus.io/docs/operating/integrations/#alertmanager-webhook-receiver

The AM repo would have the disadvantage that it'd only get updated on release.

[2018-05-05 16:26] krasi-georgiev commented on #3487
I can't remember was what the issue, but remember nfs is misbehaving on all versions.

[2018-05-05 17:02] toanpt3 opened #4142 "lose data (last 15 days)"
Hi everybody.

I'm having a data loss situation. Specifically, one day after the previous 15 days data will be deleted. For example, today, 05/05/2018, the date 20/04/2018 will be deleted.
I do not think this is a bug or feature.
please advice ?
1. Cannot get lost data
2. The configuration is not lost data (last 15 days)

- **System information**:
 CentOS Linux release 7.3.1611 (Core)  x86_64 x86_

[2018-05-06 08:04] krasi-georgiev commented on #4142
by default Prometheus deletes any data older than 15days

https://prometheus.io/docs/prometheus/latest/storage/#operational-aspects

[2018-05-06 08:04] #4142 closed

[2018-05-06 11:51] juliusv commented on #1551
Here's an initial list of details that would be useful for debugging:

- Information that can be gained via Prometheus's query API:
  - All current values of metrics about Prometheus itself (only works if Prom is scraping itself, otherwise we have to scrape its `/metrics`)
  - Derived expressions on those metrics like `rate(prometheus_tsdb_head_samples_appended_total[1m])`. Also requires Prom to s

[2018-05-06 19:00] dbendelman commented on #2357
B"H

We solved this by creating an entrypoint script that preprocesses environment variables before calling the binary. Example showing how to set `--log.level`:

[code]

Here are the [Prometheus](https://hub.docker.com/r/hiveco/prometheus/) and [Alertmanager](https://hub.docker.com/r/hiveco/alertmanager/) images, with sources linked there. Multiple tags are available depending on the version you

[2018-05-06 19:11] dbendelman commented on #3385
@dsvensson @PatrickOsborne this might be of interest: https://github.com/prometheus/prometheus/issues/2357#issuecomment-386904313

[2018-05-07 07:39] xuya227939 opened #4145 "./prometheus: cannot execute binary file ???"
## Proposal
**Use case. Why is this important?**

*Nice to have' is not a good use case :)*

## Bug Report
**What did you do?**

**What did you expect to see?**

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

	insert output of `uname -srm` here

* Prometheus version:

	insert output of `prometheus --version` here

* Alertmanager version:

	insert

[2018-05-07 07:39] #4145 closed

[2018-05-07 07:40] xuya227939 opened #4146 "./prometheus: cannot execute binary file . ???"

[2018-05-07 07:43] brian-brazil commented on #4146
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-07 07:43] #4146 closed

[2018-05-07 09:11] bege13mot commented on #3987
Hi everyone,

I'm new in Go and Prometheus community. Hope my pull request will be helpful.

[2018-05-07 10:39] gouthamve commented on #4128
One thing that surprised me is how the checksums failed to catch this. I think something more than a simple corruption is going on here. And if it is indeed a corruption, I would like the querier to catch it, error rather than panic.

Re-opening to track, will be closed when fixed.

[2018-05-07 12:26] #4098 closed

[2018-05-07 13:32] semyonslepov commented on #4115
Got the real data-loss issue with more sane configuration and it again correlates with the GC execution.

Configuration:

[code]

`up` metric from one of the federated targets:

![up_2018-05-07](https://user-images.githubusercontent.com/27204211/39704387-74624b00-520b-11e8-9276-1c9c2cc67e4a.png)

`scrape_samples_scraped` from the same target:

![scraped_total_2018-05-07](https://user-images.github

[2018-05-07 13:41] brian-brazil commented on #4115
That's a failed scrape, which is not data loss. See also https://www.robustperception.io/federation-what-is-it-good-for/

[2018-05-07 16:02] krasi-georgiev commented on #4115
@brian-brazil how did you figure it is a missed scrape?

[2018-05-07 16:07] brian-brazil commented on #4115
up is 0.

[2018-05-07 16:30] krasi-georgiev commented on #4115
thanks I didn't notice the screenshot untill now.

@semyonslepov this looks different than the original issue with the ingestion logs.
`..."Error on ingesting samples that are too old or are too far into the future" num_dropped=40776`

@semyonslepov did you check if the target exposes the correct timestamps?

[2018-05-07 23:46] khardsonhurley commented on #3219
I am having the same issue with `--log.format` on version 2.0.0 and was wondering if this issue has been addressed?

[2018-05-08 00:13] woolite64 commented on #4137
Opened a PR for this. First time using Go, any feedback is appreciated.

I was able to compile, run tests, and confirm that labels were working on my end.

[2018-05-08 01:52] like-inspur opened #4151 "container can't telnet self port 9090"
I use docker run to create a container with prometheus 2.2.1 image. When I enter into container , I found that I can't telnet self port 9090, there is no output of telnet command like this:
/prometheus $ ip addr
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue qlen 1
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred

[2018-05-08 02:47] annan211 opened #4152 "a issue about prometheus metrics timestamp and for great response ! thank u very much !"
#Hi , everybody ，I have a big problem about Prometheus when I send some metrics data to pushgateway
With simpleclient_pushgateway java API 0.3.0

The problem is I can not send metrics data with  timestamp , but I need it so much .

I have coverd   DropwizardExports  class with  PromDropwizardExports and override fromCounter / fromGauge / fromHistogram  / fromTimers and
Add timestamp to Sample

Ex

[2018-05-08 03:17] piaoyu commented on #3685
Looks like also happened in  2.2.1 ,  I use kubernets 1.9.0
<img width="1212" alt="dingtalk20180508111326" src="https://user-images.githubusercontent.com/2255909/39736141-6de1a1f8-52b1-11e8-988d-9220c3c95ac3.png">

[2018-05-08 03:25] RKdev commented on #1583
I've been having the same issue. Web UI comes up via `kubectl proxy`, but the `Graph` button does nothing.
Not sure if this is a clue or not, but when I check Command Line Flags in the ui `--web.external-url` is empty
![external_url_missing](https://user-images.githubusercontent.com/3794297/39736435-8e5d5b00-5245-11e8-83ad-90e214f2b692.PNG)

[2018-05-08 04:49] FUSAKLA commented on #4152
I think pushing with timestamp is rejected since pushgateway version `0.4.0` ([see changelog](https://github.com/prometheus/pushgateway/blob/master/CHANGELOG.md))

More info can be found here in this issue https://github.com/prometheus/pushgateway/issues/109

[2018-05-08 07:01] strowi commented on #3487
Yes, here too. Moved to 'emptyDir' and everything seems to be working fine for now. If needed i can provide more info..

[2018-05-08 07:25] #4152 closed

[2018-05-08 08:12] krasi-georgiev commented on #3219
this was removed when the Prometheus started using the go kit logger.
I had a quick look and it seems that go kit also support the json format.

@khardsonhurley what is your use case why do you need a different log format?

[2018-05-08 08:48] #2580 closed

[2018-05-08 11:41] bege13mot commented on #3696
Hi @tomwilkie,

I would like to help with this issue, but also a little lost myself as a gouthamve. Could you please clarify some details regarding the implementation?

TestSampleDelivery use `TestStorageClient` but `ApplyConfig` using `StorageClient` created as `NewClient(i, &ClientConfig ...`. So I could create new test method similar `ApplyConfig` that will support `TestStorageClient` or change

[2018-05-08 12:14] piaoyu commented on #3685
(pprof) top 10
Showing nodes accounting for 7839.14MB, 76.47% of 10251.73MB total
Dropped 374 nodes (cum <= 51.26MB)
Showing top 10 nodes out of 92
      flat  flat%   sum%        cum   cum%
 2461.23MB 24.01% 24.01%  2537.24MB 24.75%  github.com/prometheus/prometheus/vendor/github.com/ugorji/go/codec.(*jsonDecDriver).DecodeString /root/gopath/src/github.com/prometheus/prometheus/vendor/github.com/

[2018-05-08 12:52] krasi-georgiev commented on #3685
looks like you are hitting the k8s client leak which has been fixed about a week ago.  You can either build from the 2.2 branch or wait for the next release

[2018-05-08 19:25] krasi-georgiev commented on #4115
I am still a bit curious why this happens.
looking at the code `ErrOutOfBounds` is returned when you try to ingest metrics outside  the current time window of the  in-memory buffer (or the `head`) .
https://github.com/prometheus/prometheus/blob/5b27996cb3adeedb5fe10a5c4ce08fe9aaa218b3/vendor/github.com/prometheus/tsdb/head.go#L481-L483

I just tried the federation  and it returns the mos recent in

[2018-05-08 23:11] khardsonhurley commented on #3219
Nevermind, we just removed it and the startout format works just fine for our use case. Thanks!

[2018-05-09 00:46] brilliantmichael commented on #3516
Setting `NO_PROXY=...,0.0.0.0:9090,...` resolves this. Prometheus is probably scraping your prometheus metrics endpoint and going through your proxy to do it.

[2018-05-09 01:44] calebtote commented on #535
@brian-brazil -- new to Prometheus, bit confused by this statement. Are you implying there's a way to backfill already, or that there's not and this request isn't going to resolve that?

The scenario I have is wanting to use Prometheus to monitor data from `now->forward`, but also would like a way to backfill the data prior to `now` so I don't lose my historical records.

[2018-05-09 06:25] krasi-georgiev commented on #3219
ok , thanks , closing for now , but feel free to reopen if there is a good use case.

[2018-05-09 07:38] brian-brazil commented on #535
There is currently not, and this request is about that feature.

[2018-05-09 08:37] piaoyu commented on #3685
@krasi-georgiev  thanks.   is it this  pr  https://github.com/prometheus/prometheus/pull/4117 ?

[2018-05-09 09:18] krasi-georgiev commented on #3685
yep , that is the one.

[2018-05-09 12:45] semyonslepov commented on #4115
I would imagine that it's an issue for the first configuration with per-1h scrape. However, it still happens for per-30s scrapes. Moreover, in this case, it doesn't happen randomly, it happens at the same time as GC comes.

[2018-05-09 12:57] krasi-georgiev commented on #4115
I think dropping at gc is normal as this is when the code verifies that the metrics have the correct timestamp sequence and drops the once that are not within the head time range.
Still curious as of why these would be marked as OutOfBounds if the federated Prometheus returns correct timestamps.
I might be wrong , but don't see any problem how often you scrape the federated instance as long as it

[2018-05-09 13:33] krasi-georgiev commented on #4108
@matejkloska how often does it happen and do you remember any details what triggered it?

[2018-05-09 16:47] gouthamve commented on #4108
The panic you see @matejkloska is coming from a different place and has been fixed. Need to update the vendored TSDB.

Coming to the out of order compaction, I'll take a deeper look now.

[2018-05-09 17:55] gouthamve commented on #4108
Also, are any of you doing deletes on the servers?

[2018-05-09 17:59] colonha commented on #4108
What kind of delete?

Since my server crashed and I don't want to start with a empty DB. I delete the corrupted series in order to have back and running my Prometheus setup. Not sure if this kind of delete you are talking about. Please let me know if you required detailed information.

[2018-05-09 18:09] shuz commented on #4108
Yes, we had an incident that it keeps compacting the same set of blocks, and we deleted that folder as a work around.

It only happened to us 2-3 times in past 2 months. And usually we end up either find the bad block and delete it, or if it's not production data we just start clean. But we also don't know what's the repro steps to trigger it.

[2018-05-09 18:25] matejkloska commented on #4108
@krasi-georgiev I see this error every time I try to remove series mentioned in compaction error.

@gouthamve please, how can I update vendored tsdb in prometheus which is deployed in k8s?

[2018-05-09 21:05] gouthamve commented on #4108
@colonha I meant the Delete series API: `POST /api/v1/admin/tsdb/delete_series`

One of the reasons I am asking is because the error "should" never happen at all. We are sorting the series before adding them, so just trying to figure out why this is happening is a little weird.

[2018-05-10 06:05] piaoyu commented on #3685
@krasi-georgiev  I checkout the release-2.2  and build it .  But  it looks like also appear.
[code]

![pro](https://user-images.githubusercontent.com/2255909/39854657-32c77920-545b-11e8-84c2-614bf5408952.png)

[2018-05-10 08:18] krasi-georgiev commented on #3685
comparing both it looks like it is using half RAM 4gb vs 2gb on this one.

Are you running some expensive query?  The rest of the memory usage looks like some json coding encoding. If you run  some expensive query you might lower the total memory usage by using a recording rule.

[2018-05-10 11:45] piaoyu commented on #3685
[code]

[2018-05-10 12:00] gouthamve commented on #4108
@shuz @matejkloska @colonha

After spending several hours scratching my head, I still have no idea why this is happening, and am not able to reproduce it. I would really appreciate it if you provide the data directory when you hit the error again so that I can reproduce it locally and see why this is happening.

I would only need the `wal` directory zipped (share over email to: gouthamve@gmail.com

[2018-05-10 12:04] krasi-georgiev commented on #3685
so still high memory usage in the k8s client somewhere.
@piaoyu in relation to the  k8s lines the  memory usage grows constantly or goes up and down?
What changes have you done last before this started happening?
Upgrade Prometheus,  increased POD numbers etc?

It might help to look at your config and also if you mention the scale of your deployment and total PODs being discovered.

@beorn7 how mu

[2018-05-10 14:54] TimSimmons commented on #3219
Sorry, maybe I'm missing something obvious. Is there a way to log with JSON now? I don't see a flag or a configuration option for changing the logging format.

[2018-05-10 15:08] strowi commented on #4108
Maybe this is related to #3487?

[2018-05-10 17:04] krasi-georgiev commented on #3219
no there isn't , go kit seems to support json formatting so in theory shouldn't be a big problem to add the flag given there are enough use cases that need this.

@TimSimmons what is your use case?

[2018-05-10 17:07] TimSimmons commented on #3219
I'd like to have structured logging in JSON so that the messages can be optimally indexed in Elasticsearch in our centralized logging setup.

[2018-05-10 17:45] krasi-georgiev commented on #3219
yep that sound like a good use case :)
do you have time to open a PR ?

[2018-05-10 18:12] rathohit311356 commented on #2390
How can we keep data file persistent ?
When we start Prometheus data gets deleted and new service start pulling data from scratch,
How can I configure to have my data persistent, I know about storage local path flag but no clue how to make my Prometheus data file persistent, please help advising

[2018-05-10 18:27] krasi-georgiev commented on #2390
@rathohit311356 sound like you have a lot of reading to do :rabbit:  ,
I would advise starting from the docs.
https://prometheus.io/docs/introduction/overview/

[2018-05-11 03:03] games130 opened #4154 "fatal error: concurrent map read and map write (when using delete series)"
**What did you do?**
I run cronjob to delete metric data every 5min
`curl -XPOST -g 'http://localhost:9090/api/v1/admin/tsdb/delete_series?match[]=heplify_caller&end=xxx'`
xxx is current time minus 1 hour.

I am doing this because all my other data is stored for 6months but this particular metric, i only need latest 1 hour. So I will delete anything older than 1 hour.

**What did you expect to see

[2018-05-11 07:03] brian-brazil commented on #4154
As an aside, using delete this often is really not recommended.

[2018-05-11 07:06] games130 commented on #4154
Any guideline on the timing as not to incur this error? every 30min?

[2018-05-11 09:45] beorn7 commented on #3685
Built from what's currently in the release-2.2 and also master, I see "normal" memory behavior, i.e. the usual up and down from expanding WAL and compaction. There is no upwards trend anymore, while the previous state was infinite growth with OOMs every few days (but only if using K8s SD).

[2018-05-11 09:51] gouthamve commented on #4154
This is a bug, and should be fixed. If you are running into this with a cron of 5mins, you'll likely run into this for 30mins too.

[2018-05-11 10:46] roidelapluie opened #4155 "Prometheus does not reload certificates on config reload"
## Proposal

When rolling out now SSL private keys or keychain, a SIGHUP in not enough to make Prometheus rename the new ones.

## Bug Report
**What did you do?**

Change private key or key chain and SIGHUP prometheus

**What did you expect to see?**

Prometheus updates private key/keychain

**What did you see instead? Under which circumstances?**

Prometheus uses the old keys/keychain

* Promethe

[2018-05-11 10:55] brian-brazil commented on #4155
Would you mind checking this on master? The code has changed recently.

[2018-05-11 11:10] free commented on #2655
Here's a simpler alternative: for each counter remember when it was last reset. Past that timestamp you can use subtraction, without needing to iterate over intermediary samples. It doesn't even have to be very precise: a (reliable) pessimistic approximation would give most of the benefits.

However, given the current TSDB implementation, it is unlikely to provide a performance improvement unless

[2018-05-11 11:25] brian-brazil commented on #2655
With OpenMetrics we'll actually gain that information, though how to integrate it sanely with PromQL is unclear and the data may not be 100% reliable due to races. With #3966 we should only be decoding each chunk once.

[2018-05-11 11:56] AlekSi opened #4156 "No new Docker builds for master branch"
Currently, both Docker Hub and quay.io show that latest `master` image is 14 days old. Latest commit to that branch was 2 days ago.

https://hub.docker.com/r/prom/prometheus/tags/
https://quay.io/repository/prometheus/prometheus?tag=master&tab=tags

Reason for that: https://circleci.com/gh/prometheus/prometheus/6085
Seems to be a side-effect of #4132.

/cc @simonpasquier @SuperQ

[2018-05-11 12:09] SuperQ commented on #4156
The docker hub master build is failing with this:

[code]

[2018-05-11 12:50] free commented on #2655
I couldn't find anything regarding that in the OpenMetrics repository, but I'm guessing it has to do with the scrape target providing this information. What I was referring to was for Prometheus (TSDB?) to maintain an in-memory threshold (doesn't even need to be persisted). The equivalent of a cache, if you want.

You can always go back and do the expensive calculation regardless of whether the co

[2018-05-11 13:45] #4156 closed

[2018-05-11 14:00] krasi-georgiev commented on #3685
@piaoyu does your Prometheus instance gets OOM killed as well?

[2018-05-11 14:29] adamdecaf opened #4158 "rules html doesn't always generate parsable configs"
## Bug Report
**What did you do?**

Recording rules can have `:` on either the front of end of their name. Without quotes in yaml this leads to a parsing error.

Example:
<img width="998" alt="screen shot 2018-05-11 at 8 43 25 am" src="https://user-images.githubusercontent.com/120951/39929147-ef4d690a-54fc-11e8-8f90-b41d4d403974.png">

[code]

Running `promtool` (or prometheus) over the following

[2018-05-11 14:30] adamdecaf commented on #4158
A fix for this could be to wrap everything in quotes, or just those with a leading (or trailing) `:`.

[2018-05-11 14:43] brian-brazil commented on #4158
This smells like a bug in the yaml library we use.

[2018-05-11 15:34] SuperQ commented on #4156
Confirmed, the `promtool` fix worked, we now have updated docker images published on both `hub.docker.com` and `quay.io`.

[2018-05-11 16:47] sevagh opened #4159 "Prometheus poller not handling remote storage failures elegantly"
## Bug Report
**What did you do?**

I tried to insert Prometheus metrics into Elasticsearch using a remote storage adapter:

[code]

Unfortunately the adapter is buggy, and when it crashes, Prometheus is outputting these errors:

[code]

At this point, I try to disable the remote storage config and send a HUP to Prometheus to reload the config without the `remote_` configs. However, it stays stuck

[2018-05-11 20:04] krasi-georgiev commented on #4156
broke it - fix it :smile:

[2018-05-11 21:09] sevagh commented on #4159
Currently investigating if it's related to https://github.com/prometheus/prometheus/pull/3941 (`[BUGFIX] Correctly stop timer in remote-write path`) by upgrading to Prometheus 2.2.1

[2018-05-12 09:29] #4137 closed

[2018-05-12 11:12] piaoyu commented on #3685
@krasi-georgiev  Yes.   I put one of prometheus out of  expensive query.  but it  also gets OOM killed

[2018-05-13 18:14] ktosiek opened #4160 "Timezone-aware time functions"
## Proposal
I'd like to be able to silence/disable alerts based on local time. Some of the services I monitor have daily maintenance periods expressed in `Europe/Warsaw` time. Without timezone-aware functions I have to either use a wider silenced period, or change the rules twice a year.

The proposal is to add an optional timezone argument to date/time functions (`days_in_month`, `day_of_week`, `

[2018-05-13 21:04] brian-brazil commented on #4160
I see how this might be useful for you. When adding these functions in #1545 we decided to avoid any timezone support in order to keep things simple and offer only UTC, which is now what we do throughout Prometheus as unfortunately timezones are rather complex and ever changing.

One thing you could do is take into account the month/day in your alerts, as within most countries the DST switchover d

[2018-05-14 03:11] games130 commented on #4154
ahh... ic ic. okay i will wait for the bug fix. Thank You

[2018-05-14 04:52] codwu commented on #4154
this can be fixed by adding some lines to prometheus/tsdb/querier.go, like
[code]

[2018-05-14 06:49] ktosiek commented on #4160
Timezones are ever changing, but fortunately go can use the system timezone database. This way the tricky parts are offloaded to the OS (distribution of timezone information), the runtime (actually using that information), or the user (choosing the timezone for specific rules/queries).

For now I'll try modelling the one timezone I need as a recording rule.

[2018-05-14 07:20] gcalvojp opened #4161 "Compilation error (Remote storage adapter)"
## Bug Report

**What did you do?**
I tried to compile **Remote storage adapter** example following [these instructions](https://github.com/prometheus/prometheus/tree/master/documentation/examples/remote_storage/remote_storage_adapter).

**What did you expect to see?**
I expected the source code to compile.

**What did you see instead? Under which circumstances?**
I get a compilation error every t

[2018-05-14 07:51] krasi-georgiev commented on #3685
I am not 100% sure ,but I think it OOM is normal when you have such an expensive query and run so frequently  that it doesn't fit in the memory so maybe your problem is there and not in the k8s SD.

Have you tried using a recording rule?

[2018-05-14 07:53] krasi-georgiev commented on #4154
@codwu thanks! , can you open a PR and I will review it.

[2018-05-14 08:07] krasi-georgiev commented on #4161
I just tried master and all builds  fine so it seems you have some issues with your local env.

this doesn't look like a normal path
`_/home/USER/remote_storage_adapter`
should  be something like
`$GOPATH/src/github.com/prometheus/prometheus/documentation/examples/remote_storage/remote_storage_adapter`

closing now , but feel free to reopen if you are sure this is not a local env issue.

[2018-05-14 08:07] #4161 closed

[2018-05-14 09:12] djbingham commented on #2357
What about using [Docker secrets](https://docs.docker.com/engine/swarm/secrets/#build-support-for-docker-secrets-into-your-images)? My understanding is the expected way of controlling secret values in containers is to add a Docker secret, which generates a file inside your container, then within the container read that file into environment variables at runtime.

[2018-05-14 09:14] piaoyu commented on #3685
@krasi-georgiev  Yes .  We  Use
[code]
I will put one of prometheus out of all recording rule to test

[2018-05-14 09:15] brian-brazil commented on #2357
@djbingham That is still putting secrets in environment variables.

[2018-05-14 09:18] djbingham commented on #2357
@brian-brazil Yes it is, but I'm led to believe (from the official documentation for Docker) that this is the expected way to handle such things. If that is actually a bad idea, please could you elaborate on why?

[2018-05-14 09:25] brian-brazil commented on #2357
See http://movingfast.io/articles/environment-variables-considered-harmful/ and https://diogomonica.com/2017/03/27/why-you-shouldnt-use-env-variables-for-secret-data/ for the reasoning. Environment variables were never designed with secrets in mind, nor are they traditionally a place to put secrets.

[2018-05-14 09:39] piaoyu commented on #3685
@beorn7 yes, none via the API, and no recording rules configured  is use to one of prometheus.

[2018-05-14 09:53] krasi-georgiev commented on #3685
@piaoyu sorry I didn't quite understand what you mean?

[2018-05-14 11:02] djbingham commented on #2357
Good explanations, thanks.

[2018-05-14 12:34] juliusv commented on #4158
Probably that is because the YAML field value itself doesn't start with a colon, but with an HTML tag, only the browser then shows it as starting with a colon, since it interprets the HTML. Maybe we need to add some quoting ourselves around the actual text in the HTML.

[2018-05-14 12:35] juliusv commented on #4158
Relevant code piece: https://github.com/prometheus/prometheus/blob/b3ff5f6b0ee4cef9923d3ec534abfa862486a579/rules/recording.go#L112-L132

[2018-05-14 12:38] brian-brazil commented on #4158
Ah, we're doing our own escaping rather than relying on Go templates.  We should probably switch this to Go templates, as they have protections for this sort of thing.

[2018-05-14 12:40] juliusv commented on #4158
The problem here is not an HTML escaping issue though, but a YAML field escaping issue. Basically we want to make the YAML field value a link, so we have to interpret it as HTML, but the YAML library doesn't know this.

[2018-05-14 12:44] brian-brazil commented on #4158
In either case, I propose we not pass in a blob to template.HTML and hope it gets it right and instead use template.HTML in the way it was designed.

[2018-05-14 13:55] juliusv commented on #4158
The problem is that we have three nesting layers: HTML in YAML in HTML. If we don't handle the inner HTML layer ourselves, then we also need to handle the YAML layer in the Go template. So probably best keep handling the inner HTML ourselves.

[2018-05-14 13:58] brian-brazil commented on #4158
I propose that we get rid of two of the layers, and do this all up in `web`. Layering things in this fashion is fragile.

[2018-05-14 14:04] juliusv commented on #4158
It's still going to be layered in this way with the same issues no matter where we handle it though? Unless we get rid of the HTML linking within the YAML completely, which I don't think is the plan.

[2018-05-14 14:13] brian-brazil commented on #4158
No, we can render it entirely inside one template rather than spreading the logic around.

[2018-05-14 16:17] juliusv commented on #4158
Heh ok, had that possibility in my mind as well of course, but I thought we wouldn't want to go down that road because that seems too dirty (e.g. when we're going to add rule options or other fields, those need to be added to the custom marshaling there too). Well, let's see who actually sends a fix, I still like the idea of manually escaping the YAML field value more :)

[2018-05-14 16:38] brian-brazil commented on #4158
I'd rather risk missing some fields when we make a change than introducing an XSS.

[2018-05-15 02:56] piaoyu commented on #3685
@krasi-georgiev   I  mean  that  I will put the prometheus out of all recording rule  and query to test.
but it also gets OOM killed.

[2018-05-15 07:00] krasi-georgiev commented on #4115
@semyonslepov  is it behaving as expected after you changed the configs?

[2018-05-15 07:34] brian-brazil commented on #3685
If you believe you have a memory leak, please file a new bug as it's getting a bit difficult to track all the threads in this closed bug.

[2018-05-15 10:04] nazarewk opened #4163 "--web.external-url breaks healthcheck to localhost"
I am pretty sure this is exactly the same as https://github.com/prometheus/alertmanager/issues/1382

[2018-05-15 10:07] semyonslepov commented on #4115
@krasi-georgiev I didn't change configuration, there are two different configurations on two different hosts, I just wanted to emphasize that they both have the same issue

[2018-05-15 14:00] piaoyu opened #4164 "Prometheus Release 2.2.0 Memory Leak ?"
## Proposal
**Use case. Why is this important?**

*Nice to have' is not a good use case :)*

## Bug Report
**What did you do?**
Not thing

**What did you expect to see?**
using memory and releasing it

**What did you see instead? Under which circumstances?**
using memory and not releasing it

**Environment**

* System information:
[code]

* Prometheus version:
[code]

* Alertmanager version:
[code

[2018-05-15 14:04] piaoyu commented on #4164
[code]

[2018-05-15 14:06] piaoyu commented on #4164
![prom](https://user-images.githubusercontent.com/2255909/40061700-217b7344-588c-11e8-879d-13e39263e95b.png)

[2018-05-15 14:07] piaoyu commented on #4164
[goroutine-stacks.txt](https://github.com/prometheus/prometheus/files/2005291/goroutine-stacks.txt)

[2018-05-15 14:09] piaoyu commented on #3685
@brian-brazil  OK .  I submit a issue https://github.com/prometheus/prometheus/issues/4164

[2018-05-15 14:28] brancz commented on #4164
I think I’ve seen a memory profile like that before, can you just to try remove the scrape configs with “role: node” and see if it disappears? (I’ve seen leaks somehow related to node objects being deserialized, never found the reason for it though)

[2018-05-15 16:56] piaoyu commented on #4164
@brancz just remove the role: node? (--config.file=/etc/config/prometheus.yml): parsing YAML file /etc/config/prometheus.yml: role missing (one of: pod, service, endpoints, node) .
I remove the kubernetes-service-endpoints  target which  has  about 150 node-exporter  and it's fine.
Is it the to many retrieval.(*scrapePool)   to cause OOM ?

[2018-05-15 18:26] sevagh commented on #4159
I tested 2.2.1 with the same behavior - if the adapter goes bad, Prometheus goes downhill also.

[2018-05-16 03:05] cofyc commented on #4164
@krasi-georgiev I've never encountered memory leak.
@piaoyu Could you increase your prometheus memory limit to see if it grows unboundedly?

[2018-05-16 07:40] brian-brazil commented on #3591
You need a working Go environment to compile Go, in particular the correct directory layout.

[2018-05-16 07:40] #3591 closed

[2018-05-16 08:43] ahrtr opened #4165 "federation failed with error message "write: broken pipe""
The prometheus version is v2.0.0. Previously it was working well. But I saw lots of the following errors today. I could still see the errors after rebooting the local prometheus instance.

[code]

[2018-05-16 08:55] brian-brazil commented on #4165
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-16 08:55] #4165 closed

[2018-05-16 12:07] caarlos0 opened #4166 "digitalocean service discovery"
## Proposal
**Use case. Why is this important?**

I want to use prometheus on DigitalOcean. My previous experience was on aws, using ec2_sd and all that.

I noticed, though, that there isn't a digitalocean_sd or something like that for digitalocean.

I could in theory use SD from files, etcd or whatever... but I think it would be useful for more people.

Is that from the interest of you guys? If i

[2018-05-16 12:12] brian-brazil commented on #4166
Per https://github.com/prometheus/prometheus/tree/master/discovery#service-discovery we are not currently accepting new SD mechanisms, so would recommend that you use file_sd.

[2018-05-16 12:17] krasi-georgiev commented on #4166
maybe we should update this to say

[2018-05-16 12:30] krasi-georgiev commented on #4166
@caarlos0 there is a PR with a very good example how to implement a custom SD that generates a json in the file_sd format.
https://github.com/prometheus/prometheus/pull/3720

[2018-05-16 12:36] krasi-georgiev commented on #4166
btw a while ago I started a [discussion](https://groups.google.com/forum/#!searchin/prometheus-developers/file$20sd%7Csort:date/prometheus-developers/JcE5nSbCe4k/Z0ChZaR7AgAJ) about `file_sd` vs `http_sd` so if  `file_sd` doesn't solve your use case you might give some feedback in the discussion.

[2018-05-16 12:37] brian-brazil commented on #4166
Part of the reason the moratorium is all the previous sd creators who said the same thing, and did not follow through.

[2018-05-16 12:41] caarlos0 commented on #4166
hm, OK, I can understand that. As much as I want to say I'll not be one of those, you have no reason to believe me, so it doesn't matter heh

Anyway, thanks for the replies, will try to make an external thing that generates the file in the right format, so other people may still use it anyway :)

Oh, and thanks for this great tool! Prometheus is awesome! 🤘

Cheers!

[2018-05-16 15:51] mysteryegg commented on #4108
Running docker image prom/prometheus:v2.2.1 in a pod in OpenShift Origin 3.7 and with /prometheus mounted to a local hostPath (backing storage provided to the hypervisor by a SAN, so NFS is not involved), I encountered OOM errors due to Prometheus exceeding the 3Gi of RAM it had been allocated.

After resolving the OOM condition (not sure if RAM consumption is tied to the same issue), I saw this i

[2018-05-16 16:25] sevagh commented on #2729
I think this is intended behavior. When doing some basic testing, I put a log statement in my remote storage adapter on the `/read` endpoint, and every query/graph was hitting remote storage. I believe the remote storage is always used when it's defined.

[2018-05-16 22:14] krasi-georgiev commented on #4108
if you still have the data I would like to take a look kgeorgie@redhat.com

[2018-05-17 02:03] zhouyuanchao opened #4168 "compact error leading to disk entire in a hour in 2.2.1"
https://github.com/prometheus/prometheus/issues/3714
this issue shows this bug is fix in 2.2.1, but when I use 2.2.1, disk was entire in a hour.

level=error ts=2018-05-16T06:11:11.282000739Z caller=db.go:281 component=tsdb msg="compaction failed" err="compact [/opt/huawei/prometheus/data/01CDFJQJA3BKVWCJD0YKZ0XABV /opt/huawei/prometheus/data/01CDHGH6P0AQY2KK36B93WM54W /opt/huawei/prometheus/data/

[2018-05-17 07:55] krasi-georgiev commented on #4168
`mmap: cannot allocate memory`  you need more memory :)

[2018-05-17 07:56] #4168 closed

[2018-05-17 07:59] zhouyuanchao commented on #4168
I still have 30G free memory

[2018-05-17 08:05] krasi-georgiev commented on #4168
this error comes from the OS , maybe some limit on what Prometheus can use, but in any way this doesn't look like a bug.

[2018-05-17 08:10] krasi-georgiev commented on #4168
if you run a search all issues with `cannot allocate memory` you will see that every report was due to insufficient  system memory.

[2018-05-17 08:13] zhouyuanchao commented on #4168
The meta.json in all dir is same, why write to disk repeatly?

![image](https://user-images.githubusercontent.com/38806828/40164635-afda6436-59ec-11e8-851b-0c7dfb20b8f5.png)
![image](https://user-images.githubusercontent.com/38806828/40164713-de075274-59ec-11e8-9ed5-8761985fd8e5.png)
![image](https://user-images.githubusercontent.com/38806828/40164723-e3deacb0-59ec-11e8-8181-285b3ac808c2.png)

[2018-05-17 08:20] FreGalle opened #4169 "Active alerts don't take into account templated labels"
## Bug Report
**What did you do?**

I'm using the following alert, note the dynamic `severity` label:

[code]

**What did you expect to see?**

I would expect to see the severity label change as soon as this alert's value reaches 90. It doesn't, which I think can be attributed to the way in which [active alerts are checked and updated](https://github.com/prometheus/prometheus/blob/986674a7902108ac

[2018-05-17 08:41] like-inspur opened #4170 "connect alertmanager connection refused"
I run prometheus and alertmanager in docker swarm environment with latest image. In prometheus.yml I config alerting targets, but there is no target under prometheus web. The output of prometheus log is like this:
level=info ts=2018-05-17T07:13:59.669899464Z caller=main.go:220 msg="Starting Prometheus" version="(version=2.2.1, branch=HEAD, revision=bc6058c81272a8d938c05e75607371284236aadc)"
level=

[2018-05-17 08:43] simonpasquier commented on #4170
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-17 08:44] brian-brazil commented on #4169
Irrelevant of whether this is a bug, this is a very fragile alert. Alert
labels should be constant relative to an alert, and if the value is
hovering around the cutover point you may never get a notification. This
should be written as two alerts.

On Thu, 17 May 2018, 10:21 Frederik, <notifications@github.com> wrote:

[2018-05-17 09:41] krasi-georgiev commented on #4168
find the culprit for the insufficient memory(not enough phisical memory or some memory restrictions)  and open a new issue if you still find that there is a problem.

[2018-05-17 10:07] piaoyu commented on #4164
@cofyc   Looks like it also memory  grows  always .
![image](https://user-images.githubusercontent.com/2255909/40171185-17e5b476-59fd-11e8-8b9e-9363e0b3a52e.png)

[2018-05-17 10:17] piaoyu commented on #4164
[goroutine.txt](https://github.com/prometheus/prometheus/files/2012745/goroutine.txt)

[2018-05-17 11:31] FreGalle commented on #4169
Ok, would it make sense to include this information in the documentation on alerting rules in addition to saying they can be templated. The latter seems to imply no guidelines.

That being said, I thought this was a clean way to keep the alert definitions concise without any duplication.

[2018-05-17 11:47] brian-brazil commented on #4169
There is no safe way to write this alert without duplication. This is a bug in any case, we're using the pre-expansion labels in the hash.

[2018-05-17 11:53] brancz commented on #4164
Can you confirm, that when you do `kubectl get pod <your-prometheus-pod> -oyaml`, that it actually says that your container has been OOMKilled?

In my case the graph of the container usage looks similar but I think we're just seeing mmap memory being freed.

Concretely I've been running a setup where the `container_memory_usage_bytes` looks similar to yours. My Prometheus container has a memory li

[2018-05-17 14:02] adamdecaf commented on #4048
Were you having problems with `token=` being added to the header value? I am running from the master branch (changes going into 2.2.x / 2.3.x).

I'm able to use HTTP basic auth with the following config:

[code]

[2018-05-17 15:06] mciura commented on #4048
@adamdecaf Sure, now Prometheus implements `basic_auth`. When I had the problems, Prometheus was still at version 1.7.2 without support for `basic_auth`.  What I am saying is: please consider putting this snippet at the end of `fetchApps()` to make the life of the users easier:
[code]

[2018-05-17 15:29] mysteryegg commented on #4108
Is it possible that an out-of-order series could be introduced by an orchestrator running a second replica of Prometheus writing to a common location?

[2018-05-17 15:40] brian-brazil commented on #4108
The file locking on the tsdb should catch that.

[2018-05-17 15:51] krasi-georgiev commented on #4108
@mysteryegg Actually this might be a very good suggestion I had a quick look and it seems that  the lock check will ignore the lock file when the PID from the file doesn't match a running process which might be the case when running inside 2 different containers.

[2018-05-17 15:57] brian-brazil commented on #4108
Well that's a bug. We should be able to rely on just normal file locking rather than inventing our own thing.

[2018-05-17 16:09] krasi-georgiev commented on #4108
we are using "github.com/nightlyone/lockfile" , but lets see if this is the real culprit.

[2018-05-17 16:28] adamdecaf commented on #4048
@mciura Sure thing, I created https://github.com/prometheus/prometheus/pull/4171 for that.

[2018-05-17 17:37] xginn8 opened #4172 "RFE: PromQL primitives for sampling"
## Proposal
When collecting data from large populations, it is often useful to sample from the population rather than aggregating into a single metric. This operation is more resource-friendly, as well as often more descriptive of the actual population distribution (as the data can be full-fidelity without much performance impact).

Popular TSDBs provide a similar function:
InfluxDB: https://docs.

[2018-05-17 17:46] brian-brazil commented on #4172
I don't see how this would work sanely semantically, nor how it would be a real performance improvement as we'd still need to pull in all the data.

[2018-05-17 21:15] juliusv opened #4173 "Regression: `basic_auth` should not require a `username`"
After https://github.com/prometheus/prometheus/pull/4077, `basic_auth` in HTTP configs now requires setting a username, otherwise you get an error:

[code]

Using basic auth without a username has been standard practice, for example in the suggested `remote_write` configs for Cortex. So this is a breaking change and needs to be fixed.

[2018-05-17 21:44] juliusv commented on #2729
@AndreaGiardini

For queries that don't touch data older than the start time of the local TSDB, remote reads should only occur when the `read_recent: true` flag is set in a [`remote_read`](https://prometheus.io/docs/prometheus/latest/configuration/configuration/#remote_read) config.

Relevant code: https://github.com/prometheus/prometheus/blob/406233e937e00b0847b13316274be908a65c211a/storage/remot

[2018-05-17 21:45] juliusv commented on #2729
(at least now, not sure if it was already true when your comment was written :))

[2018-05-18 08:32] wernight commented on #3677
Until K8s PVC allow setting the default UID/GID that has permission on a new disk, this is an issue.

You're right, it shouldn't run as root. However it could start as root just for chown and then run as another user. This is pretty safe, especially nowadays.

[2018-05-18 09:08] simonpasquier commented on #4108
See also https://github.com/prometheus/tsdb/issues/178 and https://github.com/prometheus/prometheus/issues/2689.

+1

[2018-05-18 10:17] piaoyu commented on #4164
@brancz
![image](https://user-images.githubusercontent.com/2255909/40229676-8917c128-5ac7-11e8-97ce-66e3f6aba052.png)
container_memory_usage_bytes  not the  real memory but container_memory_rss does

[2018-05-18 14:18] xginn8 commented on #4172
I think there are two things to consider here:

1) is the sampling utility useful and novel?
To me this issue is unequivocally yes, since sampling full fidelity data is in many cases more useful than looking at either aggregated metrics, or `topk()/bottomk()` in understanding the population distribution. If there's already something in place, even better! The point here is that even without a perf

[2018-05-18 15:44] adamdecaf commented on #4173
Whoops, https://github.com/prometheus/common/pull/135 fixes that.

[2018-05-18 16:04] krasi-georgiev commented on #4108
@mysteryegg I have checked the WAL you sent me and it replicates the error `unknown series references in WAL samples`

What I found so far confirms your suggestion that more than one Prometheus instance has written to the WAL files at the same time.

the twist here is there is a incorrect matching with the series hashes and the samples references.

I will try to replicate it by running more than o

[2018-05-18 19:12] caarlos0 commented on #4166
In case anyone else needs this -> https://github.com/TOTVS/prometheus-digitalocean-sd

[2018-05-18 22:39] juliusv commented on #4173
@adamdecaf Awesome, thanks :)

[2018-05-19 07:39] Vishal-Gaur commented on #2175
hiii,
i had setup prometheus outside kubernetes cluster but having error
<unable to use specified CA cert /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory>

[2018-05-20 17:31] alexander-yu commented on #3219
If nobody's working on this, I'd like to take this up! Should I open a corresponding issue in prometheus/common for this (I assume promlog would need to be modified)?

[2018-05-21 08:32] t3hmrman commented on #2939
Just wanted to add for anyone that might run into this, if you're using Prometheus ephemerally you can use `emptyDir` (mounting it to `/prometheus` inside the container) to get through this.

[2018-05-21 08:47] krasi-georgiev commented on #3219
@alexander-yu yep go ahead. Thanks. I will review when ready.

[2018-05-21 11:44] diarmuidie opened #4176 "Not Deleting Old Data After TSDB Retention Passed"
## Bug Report
**What did you do?**
Start Prometheus with 15d retention period:
<img width="720" alt="prometheus_time_series_collection_and_processing_server" src="https://user-images.githubusercontent.com/707037/40300601-a09ee76a-5ce1-11e8-8c72-949cf25f570d.png">

**What did you expect to see?**
15 days of metrics stored, per the `--storage.tsdb.retention=15d` flag.

**What did you see instead? Un

[2018-05-21 13:28] adamdecaf commented on #4173
https://github.com/prometheus/prometheus/pull/4174 Should fix it in promtheus itself.

[2018-05-21 18:30] dhbarman opened #4177 "Errors observed in logs"
## Bug Report
**What did you do?**
We see these messages in our prometheus logs.

**What did you expect to see?**
No error or warnings in the log messages.

**What did you see instead? Under which circumstances?**

**Environment**

* System information:

  Linux 4.1.12-124.14.3.el7uek.x86_64 x86_64

* Prometheus version:

prometheus, version 2.2.1 (branch: HEAD, revision: bc6058c81272a8d938c05e756

[2018-05-22 09:34] diarmuidie commented on #4176
@krasi-georgiev I think that `unknown series references in WAL samples` could be as a result of the disk filling up and me having to manually delete some files to get Prometheus to restart so I could look for logs etc.

I'm afraid I can't share the data with you because it's from our companies system and potentially sensitive. If there is something I look for in the data that might help in debuggi

[2018-05-22 09:43] krasi-georgiev commented on #4176
this is the `func` that reads the meta info for each block and decides which ones should to be deleted based on the retention settings. Adding some debugging there should give you a clue.
https://github.com/prometheus/prometheus/blob/b5f94667f7c6693053f60bbd0841673965f209a4/vendor/github.com/prometheus/tsdb/db.go#L434-L465

or if you can share the `meta.json` files for each block I can also have a

[2018-05-22 10:05] diarmuidie commented on #4176
Here is one of the meta files:
[code]
Both timestamp are for March 27, 2018 (> 15d). I'll have a look about putting in some debugging in the function to see what's going on.

[2018-05-22 11:12] krasi-georgiev commented on #4108
Although the logs look similar I think we have few different issues here

- @VR6Pete your issue seems to be caused by OOM-ing  Prometheus which doesn't allow a complete compaction resulting in lots of `.tmp` files. As per @SuperQ suggestion some fine tuning of your configs or increasing the RAM should resolve the issue.

 - @matejkloska according to @gouthamve this should be fixed in the latest ts

[2018-05-22 11:27] krasi-georgiev commented on #4176
maybe doesn't count holidays and weekends :smile:

Joke aside  ping me on IRC of you need any help adding some debugging info.

[2018-05-22 11:45] krasi-georgiev commented on #4177
the `unsupported value type` was easy to replicate and @simonpasquier  fixed in the referenced PR, but how did you cause the `reflect: slice index out of range` as I am unable to reproduce that one.

[2018-05-22 11:55] sachinkarale opened #4180 "prometheus not able to fetch data matric from kubernetes cluster"
I have deployed Prometheus on my kubernetes cluster and expose Prometheus service from the outside using Nodeport. I have access the consul of Prometheus but after the checked status target portion is blank Prometheus not able to fetch k8 cluster data from the node. I think I have missed something plz help.
For deployment, I have used below git repo.
https://github.com/bibinwilson/kubernetes-prome

[2018-05-22 11:55] #4180 closed

[2018-05-22 12:01] jsjuber opened #4181 "Prometheus not able to fetch kubernetes node matrics"
I have deployed Prometheus on my kubernetes cluster and expose Prometheus service from the outside using Nodeport. I have access the consul of Prometheus but after the checked status target portion is blank Prometheus not able to fetch k8 cluster data from the node. I think I have missed something plz help.
For deployment, I have used below git repo.
https://github.com/bibinwilson/kubernetes-prome

[2018-05-22 13:02] krasi-georgiev commented on #4181
This is a good question , but for the users group :+1:
https://groups.google.com/forum/#!forum/prometheus-users
The developers here are busy solving nasty bugs :beetle:

I would recommend looking through the official docs and examples as well as searching in the google groups as there is a good chance that you will find the answer immediately.
https://prometheus.io/docs/introduction/overview/

[2018-05-22 13:06] #4181 closed

[2018-05-22 14:20] anthraxn8b commented on #4163
This is interesting. In my case prometheus (2.2.1) healthcheck seems to work fine on localhost even if an external-url is set.

[2018-05-23 05:56] nazarewk commented on #4163
I'm using `stable/prometheus` with as little changes as possible (so yeah, vanilla containers)

[2018-05-23 10:33] juliusv opened #4184 "Determine whether remote/local data overlap should be smaller with `read_recent: false`"
On current master, remote read seems to read all points (even recent and without `read_recent: true`) from local+remote storage and also doesn't merge/dedupe them properly. I simply followed https://www.robustperception.io/using-the-cratedb-prometheus-adapter/ and when I execute `prometheus_tsdb_head_samples_appended_total[1m]` as an instant query in Prometheus, I'm getting the following samples (

[2018-05-23 10:41] brian-brazil commented on #4184
We always need to query both, as there could be some data in the remote that's not in the local. However the merge logic is meant to have the local data win.

[2018-05-23 10:48] juliusv commented on #4184
@brian-brazil If that is so, then this snippet in our docs is incorrect or misleading:

[code]

[2018-05-23 10:49] juliusv commented on #4184
A `git bisect` determined that this got broken in 97a5fc8 as part of https://github.com/prometheus/prometheus/pull/3941

/cc @tomwilkie

[2018-05-23 10:49] brian-brazil commented on #4184
I was presuming that read_recent was true.

[2018-05-23 10:50] juliusv commented on #4184
@brian-brazil I did mention it was not true :) But yeah, with it being left to default `false`.

[2018-05-23 11:26] juliusv commented on #4184
The git bisect gave the wrong result because the problem was masked by broken remote write in v2.2.0.

But @tomwilkie fixed one half of the problem (the deduping) in https://github.com/prometheus/prometheus/pull/4185

Now the `read_recent` behavior still needs to be fixed.

[2018-05-23 11:39] brian-brazil commented on #4184
Read_recent is never going to be perfect, due to various races we need to request some data for which we have blocks covering the same time range.

[2018-05-23 11:42] tomwilkie commented on #4184
read_recent explained by start time margin being 2 * min block duration, which is default 2h

[2018-05-23 11:44] juliusv commented on #4184
So the remaining question: should it really be such a long (4h) overlap or a bit lower? Otherwise this can be closed.

[2018-05-23 12:51] Chevron94 commented on #3707
@tomwilkie, @krasi-georgiev
Why we need lock in this function in queue_manager.go? During config reloading it can stack us for a long time:
`func (s *shards) stop() {
	for _, shard := range s.queues {
		close(shard)
	}
	s.wg.Wait()
}`
if we remove it, reloading would work a little faster. Also if we change remote storage url during retries it could helps us do not loose samples and sends it faster

[2018-05-23 12:58] tomwilkie commented on #3707
The guarantee we offer upstream remote write endpoints is in-order sample delivery; with the wait group, and old shard can be continue flushing after a new shard starts, delivering samples out of order.

[2018-05-23 13:23] Chevron94 commented on #3707
What if we made "force" stopping shards:
in case of resharding we all do as is (stop old shards then start new), in case of reloading configuration: made force (without wait)? In this case we could save in-order sample delivery.
[code]

[2018-05-23 13:55] tomwilkie commented on #3707
If you skip the wait, samples will be sent out of order.  If you want to force the shards to stop, you need https://github.com/prometheus/prometheus/pull/3773

[2018-05-23 14:27] Chevron94 commented on #3707
Thanks, will look at it.

[2018-05-23 18:21] dhbarman commented on #4177
@krasi-georgiev I did not do anything different to cause the ```reflect: slice index out of range```.  I am still seeing the errors on different servers but prometheus is still running though:

[code]

[code]

[2018-05-24 04:58] shuz commented on #4108
It feels like we hit the same issue, because when it happens, we got some wrong query results.
For example, we are querying metric a, and we got response from prometheus with a totally unrelated metric name.
However we are running Prometheus as statefulset in k8s, and uses PVC for Prometheus. I don't feel two Prometheus are writing to the same data folder. When the issue happens, Prometheus is usu

[2018-05-24 08:45] LionKiss opened #4189 "scheme: http，it is invalid"
**In the original**
  - job_name: 'kubernetes-apiservers'
    scheme: https
    kubernetes_sd_configs:
    - role: endpoints
    **scheme: http**
    tls_config:
      ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
    relabel_configs:
    - source_labels: [__meta_kubernetes_namespace, __meta_kubernetes_servi

[2018-05-24 08:58] brian-brazil commented on #4189
You shared a password in your report, I have edited it out however I strongly recommend rotating this password.

These are invalid configuration file, it should be rejected by Prometheus. It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue, and include the exact configuration f

[2018-05-24 08:58] #4189 closed

[2018-05-24 09:15] LionKiss commented on #4189
Okay,thank you

[2018-05-24 09:22] prasenforu opened #4190 "ETCD not showing metric & version"
I am using  Openshift Origin (3.9) on CentOS7 with following infrastructure.
OS : CentOS Linux release 7.5.1804 (Core)

1 MASTER (10.09.1.204)
3 ETCD (10.90.1.205,10.90.1.206,10.90.1.207)
2 Infra
3 Nodes

Installation done using ansible.

Openshift & ETCD Cluster running fine

![image](https://user-images.githubusercontent.com/19322497/40338351-3d1fc6a8-5d92-11e8-9d4b-e1343ecd2fbe.png)

Want to ge

[2018-05-24 09:54] prasenforu commented on #4190
little typo ..wrong port mention in config

[2018-05-24 09:54] #4190 closed

[2018-05-24 10:33] krasi-georgiev commented on #4177
@simonpasquier do you have any ideas? I looked briefly but can't see what is causing this second issue.

[2018-05-24 10:48] krasi-georgiev commented on #4176
any luck with the debugging?

[2018-05-24 10:50] ghost opened #4191 "K8s SD: Namespace discovery should use namespace from serviceaccount folder"
## Proposal
Currently the ca-cert and token for Kubernetes API is read from mounted container serviceaccount in folder: /var/run/secrets/kubernetes.io/serviceaccount
Unfortunately the namespace /var/run/secrets/kubernetes.io/serviceaccount/namespace is not used. Therefore all queries run in cluster context, not in the namepsace. If the service account is restricted to the namespace an error will o

[2018-05-24 10:51] mtanda opened #4192 "Pass LookbackDelta as query hint to remote read"
## Proposal
Related to https://github.com/prometheus/prometheus/pull/4122 .

I'm implementing read adapter.
The read adapter response size could be big, so I reduce size by calculating expected step, and response each datapoints correspond to the step.

Prometheus only accept datapoints in `refTime - lookbackDelta`.
https://github.com/prometheus/prometheus/blob/v2.2.1/promql/engine.go#L796

refTim

[2018-05-24 11:14] simonpasquier commented on #4177
It looks like a bug in a third-party package causing a panic which then caught by the HTTP handler. @dhbarman you're not able to relate the error message to a specific URL?

[2018-05-24 11:21] brian-brazil commented on #4192
It's fine to add this, however you don't need to.

For instant vector evaluation all you need to do is return the first sample at or before each interval. Watch out for 'offset' though.

[2018-05-24 11:48] szhem opened #4193 "Service Discovery for ZK-based Spring Cloud Services"
## Proposal

**Use case. Why is this important?**

Currently Prometheus has only two options to discover services from Zookeeper
- nerve_sd_config
- serverset_sd_config

We propose to implement one more popular option to discover services
- curator_sd_config

which will allow to discover services registered by means of [Apache Curator Service Discovery extension](https://curator.apache.org/curator

[2018-05-24 11:56] brian-brazil commented on #4193
Thank you for your interest, I'm afraid that we're not accepting any new service discovery mechanisms currently. I suggest integrating via file_sd.

[2018-05-24 12:04] szhem commented on #4193
Hi @brian-brazil,

So new sd mechanisms will not be accepted even as pull requests?

[2018-05-24 12:06] brian-brazil commented on #4193
No, they won't be accepted currently. The maintenance burden of SD mechanisms is too high to take on any more I'm afraid.

[2018-05-24 12:08] szhem commented on #4193
Ok, thanks, then I'm closing this issue.

[2018-05-24 12:08] #4193 closed

[2018-05-24 17:25] beorn7 commented on #4124
Just to update current state: This only seems to happen with large K8s clusters. Initial full load works (i.e. after starting Prometheus or after SIGHUP, all is good), but later changes are (partially?) lost.

We couldn't recreate this in a smaller setup. It would be interesting to know if other users of large clusters (~10k pods or more) see similar problems.

I will be off work for the summer, s

[2018-05-24 17:27] beorn7 commented on #4124
This is a total blocker for anything involving K8s SD for us. I mark it "only" as P1 assuming that only large-scale K8s users are affected (although those might be the most important users ;-).

On the other hand, as long as nobody else sees the same, this might be some weird cornercase we have accidentally created at SoundCloud.

FTR: Prometheus 2.0.0 works just fine in this regard.

[2018-05-24 18:21] dhbarman commented on #4177
@simonpasquier Which third party package might be causing this panic ? I am not able to relate to a specific URL ? Is it possible to log that url in the log ?

[2018-05-24 19:55] krasi-georgiev commented on #4177
it happens here
https://github.com/prometheus/prometheus/blob/18e6fa7c8aafbe45ed0a9981fdd32affe819bbb4/vendor/github.com/go-kit/kit/log/stdlib.go#L89-L91

[2018-05-24 19:56] krasi-georgiev commented on #4177
what I find strange is why the panic shows random ports

panic serving 127.0.0.1:58206....

[2018-05-24 21:06] xginn8 opened #4194 "Prometheus not recovering gracefully after disk fill event"
## Bug Report
The partition containing Prometheus data (as set by `--storage.tsdb.path`) filled, and subsequent writes failed with "no space left on partition". This condition persists until the process is restarted, but the /-/healthy endpoint and HTTP API stay up and reporting "Prometheus is Healthy."

**What did you expect to see?**
After freeing space on the partition, Prometheus should contin

[2018-05-25 00:09] sbrudenell commented on #2364
I had a slightly different solution to this, thought it might be helpful for anyone looking here.

![image](https://user-images.githubusercontent.com/1624108/40519443-665170d8-5f74-11e8-993f-ba98e9f31f12.png)
![image](https://user-images.githubusercontent.com/1624108/40519549-e559254c-5f74-11e8-919e-66912fd5e031.png)

I have a graph of power demand, so I really want to be able to see spikes when z

[2018-05-25 06:35] dhbarman commented on #4177
Is it possible to improve the logging when err != nil so that more information can be captured ?
Tried to find out which queries could be causing such errors, although such errors are not seeing all the time. One such example query is:
http://<host>:8080/prometheus/api/v1/query?query=ifInErrors[300s]

[2018-05-25 09:02] simonpasquier commented on #4177
I did a bit of research and found https://github.com/go-kit/kit/issues/233. Basically the go-kit log package mangles the log message and stack trace when something panics in an HTTP handler.

I've hacked a change that catches the panic, logs the error + stack trace and then retriggers the error. @dhbarman can you build it and try it in your environment? It has at https://github.com/simonpasquier/p

[2018-05-25 09:36] simonpasquier commented on #4124
@beorn7 is there anything interesting if you look at the kubernetes_sd metrics? Do the `prometheus_sd_kubernetes_events_total` counters increase when the service discovery is "stuck"?

[2018-05-25 10:54] mtanda commented on #4192
Now I understand more detail.
My read adapter inject staleNan to datapoint, so I confuse the behavior related to staleness.
Don't need to pass LookbackDelta, it seems to work without it.
So I close this issue.

Thanks for your help!

[2018-05-25 10:54] #4192 closed

[2018-05-25 12:22] beorn7 commented on #4124
@simonpasquier hmm, I sometimes see the missing targets appearing, and then I see "add" events. but only after the pods have been up for quite a while.

Interestingly, we removed some jobs from the server yesterday, and now even the job that was most problematic in terms of SD seems fine. But I'll wait a bit longer before making a call. It just adds to the idea that the SD starts to become flaky f

[2018-05-25 15:24] grantstephens commented on #4164
I've also just found this bug: works fine without the k8 discovery, but as soon as I add that it, it OOM.

[2018-05-25 15:50] grantstephens commented on #4164
I recently upgraded from 2.1 to 2.2.1 and am getting the same thing. I tried removing the k8 cluster from the config but the same thing ends up happening. It uses up all the memory, then starts going into swap before OOM.

[2018-05-25 17:57] brian-brazil opened #4196 "Create canned issue responses"
There's a few common-ish classes of issues that it'd be nice to have canned responses for, and are general enough to do so:

- This is a support question best asked on -users
- Your idea is good, but doesn't make sense within Prometheus
- We're not accepting new SD mechanisms currently

[2018-05-25 18:12] caniszczyk commented on #4196
I have some thoughts here, we can try to use a bot to help:

https://probot.github.io/apps/welcome/
https://probot.github.io/apps/support/

All ears on other ideas.

[2018-05-25 18:52] krasi-georgiev commented on #4196
@caniszczyk  +1 for the support bot.

The vscodebot also has an interesting feature to suggest possible duplicates.
https://github.com/Microsoft/vscode/issues/50466

[2018-05-25 22:02] abhi11 opened #4197 "prometheus 2.2.1 Getting Error in query_range"
I get error when I run the following.
[code]

I am running this on a linux machine.
I get the following error. I have also used the rfc3339 format but that shows the same error.
[code]

[2018-05-26 06:02] hoffie commented on #4197
This seems to be the error message which is printed when no start or end parameters are seen by Prometheus at all. Can you confirm that curl sends the proper request by adding `-v`?

When running your example verbatim in bash, the shell will interpret the `&` signs and will fork the call.
When escaping the URL, your example works for me in bash:
[code]

[2018-05-26 06:08] hoffie commented on #4194
Possibly relevant open issues/PRs:
- #3283 (Recovery after disk is full)
- #3807 #3816 (Improving health check in disk full situations)

[2018-05-27 10:53] krasi-georgiev commented on #4197
This is a  question for the users group :+1:
https://groups.google.com/forum/#!forum/prometheus-users
The developers here are busy solving bugs :beetle:

I would recommend looking through the official docs and examples as well as searching in the google groups as there is a good chance that you will find the answer immediately.
https://prometheus.io/docs/introduction/overview/

[2018-05-27 10:53] #4197 closed

[2018-05-28 02:35] piaoyu commented on #4164
@krasi-georgiev  I check the logs it really gets OOM killed.

[2018-05-28 05:26] grantstephens commented on #4164
I've also experienced the same problem and it has stopped when I removed the k8 cluster from the config.

[2018-05-28 06:20] cofyc commented on #4164
I'm looking into this, and trying to reproduce this issue in my cluster.

[code]

@piaoyu From output of `prometheus --version`, you are using a custom build, could you try to use `quay.io/prometheus/prometheus:v2.2.1` instead? If it still get OOM killed, let me know.

[2018-05-28 06:27] cofyc commented on #4164
@grantstephens Could you provide output of `prometheus --version`?

[2018-05-28 06:33] ramato-procon commented on #4191
I don't know how most users monitor their application in Kubernetes cluster, but we have a large cluster with hundreds of projects. Each project is responsible to collect their own metrics with an own prometheus pod (it can be aggregated to a central prometheus server).
And of course each project has access to their namespace only.
I assume this is the basic approach in large clusters.

Currently

[2018-05-28 08:03] RichiH commented on #3068
Given our recent discussions in OpenMetrics about ENUM and STATESET, it is probably possible to find some middle ground in this use case.

I would love to get a somewhat wider discussion regarding this going, but maybe it's best to add something like this to the dev summit.

[2018-05-28 08:16] brian-brazil commented on #3068
OpenMetrics doesn't change anything, this is still event logging with unbounded cardinality. This can't be represented as an enum.

[2018-05-28 08:33] robertofabrizi opened #4198 "[v2.2.0-rc.0] Prometheus reporting 171% available disk space"
## Bug Report
**What did you do?**
Deployed Prometheus, logged into Grafana, and noticed that the available disk space exceeds 100%

![prombug](https://user-images.githubusercontent.com/6720929/40605404-91c99fd8-6262-11e8-98ac-932fbf25dad4.PNG)

**What did you expect to see?**
A value lower or at most equal to 100%

**What did you see instead? Under which circumstances?**
171%, every time

**Envir

[2018-05-28 08:36] RichiH commented on #3068
You are thinking of the maximally flexible case, whereas I was, and still
am, thinking of having a limited set of information which can be encoded.

For example, no one would require this system to carry dynamic URLs or
return text. Storing HTTP return codes might make sense, but is still
relatively large in space. Library integrations signalling state and
Prometheus using this and other informati

[2018-05-28 08:44] brian-brazil commented on #3068
You are asking it to return dynamic text and URLs, as that's what the error from a failed scrape looks like.

I see what you are trying to do, but metrics are fundamentally not suitable for this use case. The only thing it is sane for us to expose as part of every single scrape that happens is `up`, anything beyond that is debug information which belongs elsewhere such as the Prometheus UI or logs

[2018-05-28 08:45] brian-brazil commented on #4198
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-28 08:45] #4198 closed

[2018-05-28 10:11] grantstephens commented on #4164
[code]
Let me know if you need any more information.

[2018-05-28 10:27] beijiaxu opened #4199 "http api query failed using '+'"
## Proposal
**Use case. Why is this important?**
need memory_uage metric (node_memory_MemTotal - (node_memory_MemFree + node_memory_Cached + node_memory_Buffers))

## Bug Report
**What did you do?**
use graph query and query http api
**What did you expect to see?**
metric value
**What did you see instead? Under which circumstances?**
graph query success but http api failed
{
  "status": "error",

[2018-05-28 10:28] brian-brazil commented on #4199
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-28 10:28] #4199 closed

[2018-05-28 10:58] albertvaka opened #4200 "clean_tombstones not releasing the extra disk space used after it fails"
## Bug Report

Apparently `clean_tombstones` allocates additional space during the cleanup, and I guess it doesn't actually reduce the total space used until it finishes. The problem comes when the cleaning fails.

I did a first call to `/api/v2/admin/tsdb/clean_tombstones` because the disk was filling up, and since it took some extra space it failed with the following error:
[code]

The extra spa

[2018-05-28 11:01] brian-brazil commented on #4200
@gouthamve

[2018-05-28 11:43] redbaron commented on #4124
Can it be related to broken watch calls in kube client? https://github.com/kubernetes/kubernetes/pull/50102

[2018-05-28 13:43] krasi-georgiev commented on #4200
@albertvaka I will try to replicate and find the culprit.

[2018-05-28 19:18] #4173 closed

[2018-05-28 21:01] RichiH commented on #4196
Didn't have time to look at the bots yet, but unless they do more than just c&p a snippet, we should avoid those. We have a blurb in the issue & PR templates and if people ignore that one, they will ignore a bot as well.

The initial response should come from a human; a (dumb) bot will never be friendly, or welcoming.

[2018-05-28 22:40] juliusv commented on #4159
/cc @tomwilkie

[2018-05-29 06:00] vishksaj commented on #4159
same issue happens with my prom instance.
Error sending samples to remote storage\" count=100 err=\"context deadline exceeded\
Prometheus version : 2.1.0
BuildUser : root@6e784304d3ff
BuildDate : 20180119-12:01:23
GoVersion : go1.9.2
Writing to data to influx via adapter.

[2018-05-29 07:31] tomwilkie commented on #4159
Will be fixed by #4187

[2018-05-29 08:52] discordianfish commented on #4196
:+1: :100: I'm really frustrated by Kubernetes' feja bot auto-closing issues and stuff. Nothing says "our time is worth more than yours" than such bot.
A bot is fine but it should only do stuff it was explicitly asked by a human, so might make sense for triaging/tagging etc.

[2018-05-29 10:55] krasi-georgiev commented on #4133
@daveworth you can have a go if you want as I couldn't replicate it and a better PR would be finding what caused closing this channel twice rather than preventing for double closing the same channel.

[2018-05-29 12:49] theonlydoo commented on #3446
I do with

[code]
this systemd.unit service file

[2018-05-29 14:00] #4159 closed

[2018-05-29 15:26] poblahblahblah commented on #2648
It looks like the queue configuration was addressed in https://sourcegraph.com/github.com/prometheus/prometheus/-/commit/454b6611458d01398678baca372a57973df4215f and then documented in https://github.com/prometheus/prometheus/pull/4126

[2018-05-29 19:34] albertvaka commented on #4200
Thanks! However, I think we should make sure that everything is cleaned up after an error, so this doesn't happen again (seems it can be a pretty common case).

[2018-05-29 19:43] krasi-georgiev commented on #4200
yes I am looking into this right now.

[2018-05-29 21:30] rbokade11 opened #4203 "Prometheus docker swarm container monitoring error <msg="append failed" err="no token found",>"
## Proposal
**Use case. Why is this important?**
For business

## Bug Report
**What did you do?**
installed  prometheus , node_exporter , cadvisor and trying to monitor my containers

**What did you expect to see?**
Container is up and running in cluster , expecting Prometheus to report valid status of container

**What did you see instead? Under which circumstances?**
I see Prometheus target show

[2018-05-29 22:59] codesome commented on #4200
From what I understand, during `CleanTombstones` all the existing blocks are replicated with tombstones removed, and at the end old blocks are deleted during `reload`.

The deletion of old blocks happens here https://github.com/prometheus/tsdb/blob/master/db.go#L865,
but the storage error is caused here https://github.com/prometheus/tsdb/blob/master/db.go#L852, and we return without cleaning the n

[2018-05-30 06:19] brian-brazil commented on #4203
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-30 06:19] #4203 closed

[2018-05-30 06:48] krasi-georgiev commented on #4200
yep I think you are right I am just checking the code in few different places to make sure it doesn't have any side effects.

[2018-05-30 07:09] Mesmer88 opened #4204 "Netdata Instance naming"
I'm trying to integrate multiple Netdata servers with Prometheus and then Grafana.
Problem is that Prometheus sees Netdata targets as IP:port  This makes it quite dificult to use variables in Grafana to select the server: trying to use hostname and not IP.

Is there any way to change how Prometheus defines the instance?
Noticed there was a similar issue for Kubernetes.

[2018-05-30 07:11] brian-brazil commented on #4204
It makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-05-30 07:11] #4204 closed

[2018-05-30 13:13] yanc0 commented on #3191
Our Prometheus had a lot of restarts too. We added 500MB to the resourceRequest and the resourceLimit. Values were previously 1024MB each. There is no more restarts now but I think it can be nice to log this behaviour on stdout or stderr telling that Prometheus have to Kill itself because of the lack of memory.

`version=2.2.1, branch=HEAD, revision=bc6058c81272a8d938c05e75607371284236aadc`

[2018-05-30 13:30] krasi-georgiev commented on #3191
AFAIC Prometheus is killed by the OS so can't show any logs. Otherwise any other porblems are reported by a log or go routine trace.

[2018-05-30 13:35] y2sarakawa opened #4205 "web: remote read: runtime error: invalid memory address or nil pointer dereference"
#### What happened

Prometheus show this error message.

[code]

#### Error location

https://github.com/prometheus/prometheus/blob/2952387ed1fcbb9d66d73eedba5a56838bf7cb51/storage/remote/codec.go#L96

The parameter p may be passed nil. Therefore, it panic may occur.

I could not judge whether caller's problem or this function's problem.

#### Environment

* Prometheus version
  * Dockerhub prom/p

[2018-05-30 17:18] dhbarman commented on #4177
@simonpasquier You may build the binary. Last time I tried to build prometheus from source, I ran into many dependency issues.

[2018-05-30 18:45] krasi-georgiev commented on #3191
so far I have not seen any report of silent restarts so I would advise to keep digging the k8s logs and if you are 100% this is a bug please open a new issue and how to reproduce.

[2018-05-30 19:43] krasi-georgiev commented on #4200
the code suggest that on error the compaction should clean after itself. so this partial write shouldn't really happen.

any chance to send all  folders that include any timestamps in the meta.json between 1525068000000 , 1525262400000 so I can check these?
kgeorgie at redhat.com

[2018-05-30 19:52] albertvaka commented on #4200
We ended up deleting the data altogether, so I can't check your scan tool nor provide the corrupt files, sorry :(

[2018-05-30 19:55] codesome commented on #4200
@krasi-georgiev
I think the problem is not something related to this.

Consider that currently there are `B1,B2,B3` directories in the database. During `CleanTombstones`, it was a success for `B1` and `B2`, and let `B4` and `B5` were the new directories created. But it failed to compact `B3`, and as you said, the new block related to `B3` was cleaned, but `B4` and `B5` still exist, and are not rem

[2018-05-30 21:54] krasi-georgiev commented on #4200
@albertvaka no worries after a short chat on IRC with  @codesome he found the issue and a PR will follow soon.

[2018-05-31 07:55] simonpasquier commented on #4177
@dhbarman here you go: https://github.com/simonpasquier/prometheus/releases/tag/v2.2.1-4177

[2018-05-31 11:45] discordianfish commented on #4134
On Kubernetes you often drop most targets and the use case for visting the page is usually that you drop something you didn't want to drop, so cutting off after 1k dropped targets doesn't help in this usecase at all.

I think it needs pagination or we should drop this feature altogether and rather provide a text endpoint to get this.

[2018-05-31 11:48] brian-brazil commented on #4134
There's always the HTTP API to get the full answer. I don't think we should remove a feature just because it doesn't work 100% for large users.

[2018-05-31 11:51] brian-brazil commented on #4134
I'd also like to avoid pagination, as that's a can of worms both implementation and performance wise. I think the goal here should be to avoid killing browsers, and we can link then to the HTTP API which I believe is along the lines of what @beorn7 was suggesting.

[2018-05-31 12:48] krasi-georgiev commented on #4134
1k + search box  - sounds the most usage friendly solution to me, but can try with just showing the first 1k and if there are user request can revisit.

[2018-05-31 13:20] beorn7 commented on #4124
Update (sorry for still being very high level here, no time to do a proper analysis):
As reported above, about a week ago, we removed a bunch of jobs from our large Prometheus server encountering the K8s SD problems regularly. Ever since we did that, no further problems happened. (The most problematic K8s job is still on the server.) This confirms the vague idea that it is some kind of overload th

[2018-05-31 13:26] beorn7 commented on #4134
I also got the impression it's quite a drain for the Prometheus server to shovel out Gigabytes of data to an increasingly unresponsive browser.

Limiting it would be a quick fix we should do anyway, ideally in 2.2.2 (still waiting for a sanely usable Prom2, I'm afraid if we release 2.3.0 instead of 2.2.2, we might hit yet another bunch of interesting bugs with interesting now features). Once the b

[2018-05-31 21:28] shuz commented on #4108
@krasi-georgiev Thank you, we reviewed the prometheus metrics and did find another prometheus 2.0.0 is running for a short period of time and then disappeared. And finally tracked down an issue in our k8s cluster that lead to some unexpected pods get run on our cluster.
Thank you for the big hint or we can never track down the issue!

[2018-05-31 22:00] krasi-georgiev commented on #4108
@shuz  glad we could resolve it :+1:

[2018-05-31 22:09] krasi-georgiev commented on #4108
added in the wiki  FAQ section
https://github.com/prometheus/prometheus/wiki/FAQ#error-logs-for-out-of-order-series

[2018-06-01 08:50] anthraxn8b commented on #4163
@nazarewk, could you please try to set `--web.external-url=https://yourDomain/yourPathPrefix --web.route-prefix=/` to enforce the rout prefix not to be inherited by the web external url?
Also alter your healthcheck to point to `wget --quiet --spider http://localhost:9090/graph` to avoid being redirected to `yourPathPrefix` (this happens to serve the external url correctly - as far as it looks like

[2018-06-01 13:34] MarkTKnapp commented on #968
Because this issue is still open I assume there exists some interest in limiting data retention in another way. I've looked into a few ways that data retention could be limited by the amount of data that exists rather than how old the data is like aecolley suggested. Data could be hard capped at a  "storage.local.maxbytes" (or possibly limit to a percentage of the drive?), but a few alternatives w

[2018-06-01 13:43] RichiH commented on #968
KISS would imply we try to limit the amount of options. I would personally be happy to have

* data retention time
* max storage size
* optionally max storage percentage, though this introduces operational interdependencies

If more than one of those options is set, it would make sense to connect them with OR as that's the most likely user intent.

@MarkTKnapp would you be willing to create a mini

[2018-06-01 13:51] krasi-georgiev commented on #968
@MarkTKnapp that sound like a good feature to have and it seems it has a fair use cases so definitely start a discussion in the [dev mailing list](https://groups.google.com/forum/#!forum/prometheus-developers). It has a wider audience  so we can get more opinions about the use cases and possible complications.

[2018-06-01 15:05] Fitzoh commented on #1724
Also came here looking for a way to set the `X-CF-APP-INSTANCE` header.

@juliusv any chance of reconsidering this one?

Cloud foundry has increased in popularity significantly since the issue was initially closed, and that particular use case has brought multiple people to this thread.

[2018-06-01 15:12] brian-brazil commented on #1724
If you're on Cloud Foundry you should look at something along the lines of  https://github.com/promregator/promregator

[2018-06-03 12:44] chyeh commented on #1551
@juliusv sorry for the late reply. After a month I'm finally available to switching back to this issue. I've pushed some commits in my own [branch](https://github.com/chyeh/prometheus/commits/PROM-1551) and I want to make sure if that's what we need in this issue. In summary, I added two commands:
* `promtool debug metrics <prometheus url>`: It prints the text from the page`/metrics` and saves as

[2018-06-03 14:48] juliusv commented on #1551
@chyeh Hey, that looks pretty good already, without reviewing everything in detail yet! While I like the multi-command approach from a cleanliness persepctive, I wonder if it should just be one big command though that pulls *all* the debug information together. The main goal is for users to run only one easy step that gives us all the necessary info so that we can help them, so the simpler the bet

[2018-06-03 17:43] juliusv commented on #1551
@chyeh Great!

Maybe `promtool debug all` or something like that would be more explicit. But once it's implemented it should be easy to change the exact command invocation, and `promtool` isn't covered under our major version stability guarantees, so we can still figure it out.

[2018-06-04 11:17] simonpasquier commented on #4164
@djsly it would helpful if you could share:
- The exact Prometheus version.
- System logs about the OOM events.
- Prometheus logs.
- graphs of the following metrics
  -  `container_memory_usage_bytes` for the Prometheus pod(s).
  - `prometheus_tsdb_head_series`
  - `rate(prometheus_tsdb_head_series_created_total[1m])`

[2018-06-04 16:23] tomwilkie commented on #4205
@y2sarakawa can you post the full stack trace please?  Its looks like `Select` can be called with nil first param in a few cases, just trying to figure out if thats valid of not.

[2018-06-05 01:26] codwu opened #4214 "scraping should not be effected when reloading Prometheus without change any config"
## Bug Report
**What did you do?**

reload Prometheus without change any config
[code]

**What did you expect to see?**
there is no effect on target scraping

**What did you see instead? Under which circumstances?**
scrape interval become longer than I configured
![default](https://user-images.githubusercontent.com/12193868/40949508-f62e969c-68a0-11e8-9139-1346579bd3f2.PNG)

**Environment**

* Sys

[2018-06-05 01:38] codwu commented on #4214
scrape interval become correct after this scraping

[2018-06-05 01:50] dhbarman commented on #4177
[code]

[2018-06-05 04:07] jojohappy opened #4215 "Scrape delay when using remote write to influxdb with huge samples appended"
## Proposal
**Use case. Why is this important?**

## Bug Report
**What did you do?**
I want to export data to the influxdb for long-term storage, so I use the remote_write in prometheus.

**What did you expect to see?**
![image](https://user-images.githubusercontent.com/2532941/40954451-44b4a408-68b7-11e8-87d4-a0a42926756d.png)
![image](https://user-images.githubusercontent.com/2532941/40954468-51

[2018-06-05 04:28] rossigee commented on #2126
I'm now having this issue too. I can confirm using curl that my hosting provider isn't liking the port number being appended to the Host header. Unfortunately, it's unlikely that they will 'fix' this at their end, so I really need to fix Prometheus somehow not to send the port in the first place.

[2018-06-05 07:31] simonpasquier commented on #4177
Interesting, this smells like a data race. I'm going to compile a prometheus binary with race detection enabled. It would be super cool if you could give it a try!

[2018-06-05 07:44] games130 commented on #4154
When testing the bug fix,
1st time the prometheus stop scrapping the data show error "context deadline exceeded" - prometheus still running
2nd time prometheus stop running all together (docker ps show no prometheus container running). from the log i notice the error "context deadline exceeded" also.

During the first time when prometheus show error "context deadline exceeded", i did a curl and wa

[2018-06-05 07:46] kirek007 opened #4216 "Documentations for AlertManager should be versioned on web."
**Use case. Why is this important?**
Documentation for AlertManager is based on master branch not on last stable release. It's confusing. There're a lot for functionalities that are in docs but can not be used with latest release and there isn't warning about which version this documentation belongs.
## Bug Report
**What did you do?**
Url: https://prometheus.io/docs/alerting/configuration/
**What

[2018-06-05 08:15] codwu commented on #4154
It seems that the error "context deadline exceeded" is cause by sending alert to AlertManager, not related to this issue.

[2018-06-05 08:56] simonpasquier commented on #4177
@dhbarman can you try again with this new [binary](https://github.com/simonpasquier/prometheus/releases/download/v2.2.1-4177/prometheus-race-detection)? Thanks for the testing!

[2018-06-05 09:12] simonpasquier commented on #2126
@rossigee the `Host` header is set in the `net.http` library when building the HTTP request. Fixing it in Prometheus is possible in theory but this would add extra code to deal with systems that don't comply with the standards in the first place.
Is there anything forbidding you from removing the port in the configuration of the targets?

[2018-06-05 09:19] brian-brazil commented on #2126
Have you looked at scraping the target directly? It's generally best to have as little infrastructure between Prometheus and your target.

[2018-06-05 09:46] bmv126 opened #4218 "How to expose ingress path of K8s as a target in prometheus"
## Bug Report
**What did you do?**
I have a K8s cluster (1.9 version) on which, I have a service running. I have enabled the jmx and have used the jmx exported to get the metrics in prometheus format.
For the user to access, I have created an ingress path for the jmx metrics, below is the k8s ingress resourse:

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: jmx-ingress
  annotation

[2018-06-05 10:20] rossigee commented on #2126
@simonpasquier - yep, i understand you'd need to add extra code to override net.http behaviour to work around broken proxies which is not ideal - i tried removing the port specifiers from the targets as specified in the prometheus.yml, but net.http seems to add them back again at request time.

@brian-brazil - the target is hosted by a third party and is behind their broken proxy - i can't put my

[2018-06-05 10:28] brian-brazil commented on #2126
If we make our code more complicated to deal with this, it's not unlikely that there is other code out there broken in the opposite way. Have you considered using a forward proxy to tweak the request?

[2018-06-05 10:29] krasi-georgiev commented on #4154
the only unusual log here is
[code]

One other thing to be careful about is running more than one replica. If you mount the data folder from the host and run more than one replica at any given time this will cause 2 or more Prometheus instances to write to the same data folder which leads to many problems.

Are there no other logs related to the crash?
could it be OOM killed for using too much mem

[2018-06-05 10:41] rossigee commented on #2126
@brian-brazil - Forward proxy considered, but it's an https endpoint, so it seems i'd have to do a bunch of request rewriting for the proxy to know where to forward the request to. And, as you say 'It's generally best to have as little infrastructure between Prometheus and your target.'

I guess it's more an issue with 'net.http' than it is with Prometheus specifically. Why does it insist on sendi

[2018-06-05 10:42] brian-brazil commented on #2126
That sounds like something to bring up with Go.

[2018-06-05 10:42] krasi-georgiev commented on #4218
This doesn't look like a bug so would need to ask in the users group :+1:
https://groups.google.com/forum/#!forum/prometheus-users
The github issues are focused on bug reports :beetle:

I would recommend looking through the official docs and examples as well as searching in the google groups as there is a good chance that you will find the answer immediately.
https://prometheus.io/docs/introductio

[2018-06-05 10:42] #4218 closed

[2018-06-05 10:46] y2sarakawa commented on #4205
It seems that the panic is recovered in Go 's "net/http" package.

In order to get the stack trace I modified "stdlib.go"

* Environment
[code]

* log
[code]

* Remote read
[code]

[2018-06-05 10:51] tomwilkie commented on #4205
Thanks @y2sarakawa! looks like the panic is serving `/series`.

[2018-06-05 11:27] juliusv opened #4219 "Document internal pieces of the Prometheus server and how they fit together"
The Prometheus server is a big beast with many subcomponents, which can be hard for new contributors to get into. I would like to see documentation that zooms in to the Prometheus piece of https://prometheus.io/assets/architecture.svg and explains for developers how all the different pieces fit together:

- config
- SD
- scraping
- TSDB
- rules
- alert notifications
- etc.

This should include a d

[2018-06-05 11:35] juliusv commented on #4216
Hi @kirek007, thanks for report! Indeed, that's badly needed. We have an open issue to extract the Alertmanager documentation from the docs repository and move it into the Alertmanager repository, so it can be properly versioned (like the docs for the Prometheus server): https://github.com/prometheus/docs/issues/857

The implementation started at https://github.com/prometheus/alertmanager/pull/106

[2018-06-05 11:35] #4216 closed

[2018-06-05 11:55] codwu commented on #4214
this is probably where the bug is
https://github.com/prometheus/prometheus/blob/bc6058c81272a8d938c05e75607371284236aadc/scrape/manager.go#L87-L94
`reflect.DeepEqual` returned false but it should be true

[2018-06-05 12:39] simonpasquier commented on #4205
FYI I've submitted #4221 to get the stack traces in the logs.

[2018-06-05 12:43] krasi-georgiev commented on #4219
:+1:
Is this going to dive in actual code or just  more detailed view about each piece in the architecture?

I am asking as I have noticed that any code references and components get outdated very quickly.

[2018-06-05 12:51] juliusv commented on #4219
@krasi-georgiev I was thinking it might link to actual code and maybe mention some of the used types or interfaces where appropriate, but it shouldn't go into too much detail itself. Still, it might get outdated, so links should go to a particular Prometheus revision and the doc should state that the explanations are based on that, so that people can also see how updated or outdated the doc is.

[2018-06-05 13:30] krasi-georgiev commented on #4115
I am running out of ideas on this one.
@semyonslepov do you have any new info on the issue?

[2018-06-05 13:47] krasi-georgiev commented on #4214
are you 100% there were no config changes?

[2018-06-05 13:58] krasi-georgiev commented on #4219
yep that should work!
ping me when you have the google doc so I can follow and nag you with questions :stuck_out_tongue_winking_eye:
Maybe I can also help with some parts.

Here is a deep dive in the TSDB , started by @gouthamve and than I also started adding different bits to it.
https://docs.google.com/document/d/1t5eSLlH36oK1Ex3PWwuc4R58kx4PC7Ago90TRR_7nmo/edit#heading=h.9fse7yo9k0j6

[2018-06-05 14:41] juliusv commented on #4219
@krasi-georgiev Thanks! Oh yeah, if you could help flesh out / finalize / website-ize the TSDB documentation, that would be great. That probably makes sense as a separate item with a lot of detail, that this main overview can then link to.

[2018-06-05 15:22] RichiH commented on #4219
Sounds sane; if you need to point at docs that would be good to have, I think we should simply create placeholders for that to flesh out later. If that means the official docs are interspersed with a few TODO for a short time, I think that's OK. We should have a link in there to point out how people can help, but else...

[2018-06-05 15:57] cstyan commented on #3658
I think we can close this since #3720 is merged

[2018-06-05 16:06] #3658 closed

[2018-06-05 18:11] jacksontj opened #4224 "storage.Querier doesn't handle offsets efficiently"
## Bug Report
I have an implementation of the storage.Querier interface for my storage, with promql on top. In this setup if a user sends a query for a metric at a single point with an offset of 4w the querier created by promql spans 4w. This makes it difficult (to say the least) to create an efficient querier implementation. presumably similar issues exist inside prom itself (since it would poten

[2018-06-05 18:12] jacksontj commented on #4224
We are also seeing symptoms from #3450 which may be related (since alerting rules somewhat regularly include offsets as well).

[2018-06-05 18:16] brian-brazil commented on #4224
Passing the information as a hint sounds fine to me. There's no performance impact to Prometheus with the current implementation.

[2018-06-05 18:18] muralikanagala opened #4225 "Metric Relabeling and Values"
Hello Everyone,

I am using Prometheus to monitor a RabbitMQ cluster and currently working on relabeling on some dynamic queues. I am grouping a bunch of queues into one generic queue label.

My question here is what happens to the values of those metrics that are getting relabeled?
Are there any options like average/sum for the values in the metrics while relabeling them?

Thank you!

[2018-06-05 18:20] amitsingla commented on #4108
@krasi-georgiev I have prometheus-federation running which gathers metrics from 5 different prometheus-servers running on different clusters. As, i am only persisting data on the prometheus-federation. All metrics data is written in one persistent volume`/data/tsdb`. As i understand below issues appears if you are writing muilple prometheus-server metrics data to one single location.  So, what is

[2018-06-05 18:31] krasi-georgiev commented on #4108
@amitsingla this issue got a bit mixed up and covers report for few different issues as per my comment above.
https://github.com/prometheus/prometheus/issues/4108#issuecomment-390953187

in your case it doesn't matter that the prometheus server gathers data from different servers. As long as only a single server writes the collected data to the disk folder than it will all work as planed.

now in

[2018-06-05 18:43] krasi-georgiev commented on #4225
The github issues are focused on bug reports :beetle: and this looks like more like a support request :+1:

I would recommend looking through the official docs and examples as well as searching in the google groups or asking in the irc channel and I am sure there will be someone to help you out.

irc: #prometheus
group: https://groups.google.com/forum/#!forum/prometheus-users
docs: https://prometh

[2018-06-05 18:43] #4225 closed

[2018-06-05 18:53] dhbarman commented on #4177
[code]

[2018-06-05 19:33] krasi-georgiev commented on #4177
looks like we are getting somewhere.
@dhbarman did you manage to come up with an easy way to replicate this so we don't have to ask you for a test on every change.

the race looks like somewhere in the promql package.
The promql had a big refactoring so maybe worth testing latest master so see if it will replicate again.

[2018-06-05 20:44] allangood opened #4227 "Timezone function"
## Proposal
A function to return the current timezone offset value (-3, -4, +6, so on) on the Prometheus server.

I'm trying to implement something similar as posted here: https://www.robustperception.io/combining-alert-conditions/

The main idea is to be notified about non critical (warning) alerts only during work hours. Same way many others monitoring/alert systems do (Nagios, Zabbix, etc).

Us

[2018-06-05 21:38] dhbarman commented on #4177
@krasi-georgiev Do not have an easy way to replicate the issue. I deploy the binary on test servers and wait for the issue to get recreated. Sometimes it happens immediately, sometimes it takes more time. Let me know if you have a new binary with the latest master.

[2018-06-05 21:43] allangood commented on #4227
Seems to be duplicated #4160

[2018-06-05 21:43] #4227 closed

[2018-06-05 23:52] krasi-georgiev commented on #4177
[prometheus.zip](https://github.com/prometheus/prometheus/files/2074343/prometheus.zip)

[2018-06-06 00:54] codwu commented on #4214
I am pretty sure nobody changes the config.

[2018-06-06 04:08] shunliz opened #4228 "Add REST API for SD."
## Proposal
**Use case. Why is this important?**
As a third-party system, i need register/deregister my endpoint to prometheus by REST API and be scraped. I don't like existing SDs as they are not flexible.

Not sure if it's a good idea, any suggestion?

*Nice to have' is not a good use case :)*

[2018-06-06 06:08] jojohappy commented on #4228
You can look this document
https://github.com/prometheus/prometheus/tree/master/documentation/examples/custom-sd

It use `file_sd` for SD

[2018-06-06 07:57] simonpasquier commented on #4177
Although one stack trace is incomplete, it seems that the race is between the query handler and the rule evaluator.
@dhbarman can you share your rules and Prometheus configurations?

[2018-06-06 09:42] krasi-georgiev commented on #4177
hm I compiled it with `GORACE=history_size=7 go build --race`
not sure if this works only for test and run or this affects the size `const size = 64 << 10`

[2018-06-06 09:49] krasi-georgiev commented on #4228
one big disadvantage in your proposal is that all your targets need to know the ip of the Prometheus server which might work in a small setup,but a big disadvantage at scale.

Can you share more details about your setup?

[2018-06-06 09:57] krasi-georgiev commented on #4214
that is unexpected
can you paste the output if you add.
this will output all fields with their types so I can see why does it detect to be different.

please remove any sensitive information before pasting.

[code]

[2018-06-06 12:07] frittentheke commented on #2119
This is still very much an issue with Prometheus >= 2.2.1. Even on a beefy machine with a current browser the UI fetches such large results when doing a character by character typeahead it sometimes even crashes.

Maybe a quick and dirty solution (before applying a limit on the number of results via the API) is to only start the type-ahead after like 3 or 5 characters or to allow disabling it all-

[2018-06-06 12:09] semyonslepov commented on #4115
@krasi-georgiev no news, scrapes still fail leaving gaps afterwards (it happens together with `out of bounds` error or without it, `out of bounds` errors can happen separately from time to time but it doesn't lead to such a big gap - OutOfBound counters change is too low at these moments).

[2018-06-06 12:15] krasi-georgiev commented on #4200
the fix is now merged and will be included in the next release

[2018-06-06 12:15] #4200 closed

[2018-06-06 14:45] codwu commented on #4214
the output is below
[code]

[2018-06-06 15:21] dannyk81 opened #4229 "Gaps in recording rules series, but data is available when querying the rule expression"
## Bug Report
**What did you do?**

Defined a Recording Rule:
[code]

**What did you expect to see?**

Expected to see continuous graphs from the recording rule, in the same way as I see when querying the underlying expression directly.

**What did you see instead? Under which circumstances?**

Instead I see mostly gaps with no data on some series of the recording rule (I did find that all the gap

[2018-06-06 15:34] brian-brazil commented on #4229
Can you share the raw time series data backing this and the full Prometheus configuration and rule group please?
What happens when you run the actual query, rather than the modified version?

[2018-06-06 15:55] dannyk81 commented on #4229
Hi @brian-brazil! thanks for the quick response.

In the issue post, I'm showing the graph of the recording rule and the actual expression I use in that recording rule.

As you can see there, the recording rule is mostly gaps however the actual expression shows a nice and continuous graph with no gaps.

That's a good point about the [2m] rate interval, indeed we will increase it to get things more

[2018-06-06 16:07] krasi-georgiev commented on #4164
for everyone in this issue I just realised that if you are testing the binary from the release page this doesn't include the refactoring so make sure you build a new one from master or the 2.2 branch.

https://github.com/prometheus/prometheus/tree/release-2.2

I can build the binary for anyone willing to test it.

[2018-06-06 16:13] krasi-georgiev commented on #4214
nice , thanks , I already see the difference in  `StaticConfigs:[0]`.

@simonpasquier , @pgier do you want to take this one? Otherwise I can have a look tomorrow.

[2018-06-06 16:14] dannyk81 commented on #4229
I've been hitting the Execute in the Graph UI for a few hours now (using the record expression as the query) and I always see a nice graph with no gaps, while the recording rule is mostly gaps.

And this issue is limited to a specific set of labels in the record generated time-series, specifically on series with this label `kubernetes_io_hostname="kubw-44"`, all the rest look perfect and are ident

[2018-06-06 16:19] brian-brazil commented on #4229
It might be a slow host, but a 2m rate on 1m interval is going to have issues like this.

[2018-06-06 17:51] dannyk81 commented on #4229
The rule seem to evaluate quite quickly, I see `127.8ms` in the Rules UI, and we don't seem to have any issues with any other rule (cpu usage is fairly low, no memory pressure, queries execute quite fast, etc..)

Anyway, I'm going to modify the recording rules and set the interval to `[4m]`

Will update with the results.

[2018-06-06 18:41] dannyk81 commented on #4229
After modifying the rate interval to `[4m]`, the recording rule graph is correct.

Thanks for the analysis and support!

What struck me as strange is that I got consistent results from the record expression, but not from the record itself, but I guess we were hitting some corner case due to rate interval being too short.

Thanks again and cheers! 🍻

[2018-06-06 18:41] #4229 closed

[2018-06-06 19:57] bechtoldt commented on #2119
This is blocking us. Is there any other method to get a list of (all) available metrics?

[2018-06-06 19:59] brian-brazil commented on #2119
This is the only method to get all the metrics, and will remain so. As far as we're aware this only affects browsers when using this UI, not other uses.

[2018-06-06 22:58] jacksontj commented on #4057
I have this same issue for [promxy](https://github.com/jacksontj/promxy. I could also live with a flag in the `SelectParams` but that also seems a bit hacky. To me it seems like having a second interface that you could optionally implement (something like `MetadataQuerier`) which would be called for just metadata queries would be clean.

[2018-06-07 05:11] jurgenweber opened #4231 "Alert will not trigger"
## Bug Report
**What did you do?**
Added an alert.
**What did you expect to see?**
When the alert condition is met..... it alert.
**What did you see instead? Under which circumstances?**
No alert.
**Environment**

Using the helm chart:
https://github.com/kubernetes/charts/tree/master/stable/prometheus

* System information:

    repository: prom/prometheus

* Prometheus version:

    tag: v2.2.1

[2018-06-07 05:14] jurgenweber commented on #4047
in the end I just deleted the 'wal' director, prom would finally start and life would go on.. thankfully not too much data was lost.

[2018-06-07 08:05] zstyblik commented on #4170
I have a bit different setup, but the same issue. However, connection seems to be just fine when tested from Prometheus container.

Running prom/prometheus:v2.1.0 and prom/alertmanager:v0.14.0.

[2018-06-07 09:08] shunliz commented on #4228
Thanks jojohappy, brian-brazil. Using the custom-sd is way to solve my problem, but I have many vms or docker created dynamically, and each time a vm or docker created, need to restart prometheus. I'm not sure if it will lose some metrics and if there is any problems that restart prometheus frequently.

Thanks krasi-georgiev. I just have a hybrid cloud controller which will need to monitor the vms

[2018-06-07 09:38] jojohappy commented on #4228
Prometheus has provide api to reload configuration, It will not need to restart Prometheus and impact on scrape process.

[2018-06-07 10:33] RichiH commented on #4196
https://github.com/prometheus/docs/pull/1051

[2018-06-07 11:26] krasi-georgiev commented on #4231
The github issues are focused on bug reports :beetle: and this looks more  like a support request :+1:

I would recommend looking through the official docs and examples as well as searching in the google groups or asking in the irc channel and I am sure there will be someone to help you out.

irc: #prometheus
group: https://groups.google.com/forum/#!forum/prometheus-users
docs: https://prometheus.

[2018-06-07 11:29] krasi-georgiev commented on #4164
@piaoyu did you read my comment above?
`quay.io/prometheus/prometheus:v2.2.1` is before the refactoring which is suppose to fix the problem

[2018-06-07 11:33] krasi-georgiev commented on #4164
v2.3.0 is out so try that.

`quay.io/prometheus/prometheus:v2.3.0`

[2018-06-07 11:47] brian-brazil commented on #2119
Pretty hard, that requires either state on the backend or pagination - both have performance/complexity implications. In practice if you have more than 100k metrics it's not practical to scroll through them anyway, even 1k is a lot for a human to deal with.

[2018-06-07 12:47] sta-szek commented on #4124
Hi, I have similar issue, when I create / delete pods, prometheus still keeps old ones.
It takes about 40s for pod to be fully ready.

I have:

[2018-06-07 12:49] krasi-georgiev commented on #4047
had a quick look at the code and the WAL's size depends on the block ranges based on the  `storage.tsdb.max-block-duration` and `storage.tsdb.min-block-duration`

You can try playing with these and see if you find something that works better in your case, but I think the defaults are battle tested which makes me think that your environment can't handle the amount of metrics you are trying to proce

[2018-06-07 12:55] krasi-georgiev commented on #4124
@sta-szek is it the same as @beorn7 reported that reducing the total number of pods fixes the problem?

At the moment without a way to reproduce this the only real clue is this bug
kubernetes/kubernetes#50102

[2018-06-07 12:59] avonwyss opened #4235 "rule_files does not seem to detect file changes"
## Proposal
**Use case. Why is this important?**
Changes to rule files specified in `rule_files` should ideally take effect automatically, without the need to trigger a configuration reload manually. This would allow external tools/scripts to generate of modify these files without requiring direct interaction with Prometheus.

I would expect it to behave the same as `scrape_configs.*.file_sd_confi

[2018-06-07 13:01] sta-szek commented on #4124
Unfortunately I cannot reduce number of pods, but this:
[code]
solves the issue.

A little strange workaround.
Do you think I can add some container to invoke this every 2m? Will it bring any side effect?

[2018-06-07 13:03] brian-brazil commented on #4235
You need to reload Prometheus's configuration for changes to rules to take effect, just as for prometheus.yml changes.

[2018-06-07 13:15] avonwyss commented on #4235
I'm aware of that, which is why I have made a proposal to add file change detection.

[2018-06-07 13:45] brian-brazil commented on #4235
Yes, that'd also prevent users from doing a multi-file atomic change as the first file changed would trigger a reload before the rest were done.

[2018-06-07 15:01] pgier commented on #4214
@krasi-georgiev yeah, I can take a look if you are not already working on it

[2018-06-07 16:29] brian-brazil commented on #4235
It is a problem, say I want to replace file a.rules with b.rules. That's not possible atomically with your suggestion.

That makes it into a race condition, which isn't much better. In addition you'd be breaking all the users who depend on the current documented behaviour.

[2018-06-07 16:56] pgier commented on #4214
This appears to be the culprit.  The array index of the target is set on the source field after the config has been loaded.
https://github.com/prometheus/prometheus/blob/bc6058c81272a8d938c05e75607371284236aadc/discovery/manager.go#L294-L298

[2018-06-07 16:57] bonan commented on #4128
I'm seeing the same issue in both 2.2.1 and 2.3.0:

[code]

[code]

After updating to 2.3.0 (and running with debug log):
[code]

[code]

[2018-06-07 17:35] aead opened #4238 "Remote read endpoint should limit the size of the HTTP Post data it reads"
## Bug Report
**What did you do?**
I'm able to kill a prometheus server. I've read the Prometheus [security model](https://prometheus.io/docs/operating/security/) and I can violate:

So I reached out on [twitter](https://twitter.com/_aead_/status/1004404417267986433) to ask how to report a security issue for Prometheus but got no response.

I did not disclose details since I don't know how the dis

[2018-06-07 17:39] krasi-georgiev commented on #4214
Thanks @pgier. Do you want to open a PR and I will test it. Should add a test to catch this.

[2018-06-07 18:00] brian-brazil commented on #4238
Thanks for reporting. If it's causing the server to segfault or get overloaded you can share it here, if it's something more severe or you'd prefer not to you can email it to me at the address on my github profile.

[2018-06-07 18:28] brian-brazil commented on #4196
I don't think we can close this jet yet, there's still outstanding comments from multiple people on that PR with no consensus.

[2018-06-07 18:55] aead commented on #4238
A (very simple) proof-of-concept:
[code]

[2018-06-07 19:18] brian-brazil commented on #4238
This looks to be possible or equivalent in a few places, Go for example will use 32MB for POST data and then start spilling to disk. For this particular one a hardcoded limit should be fine.

[2018-06-07 20:01] krasi-georgiev commented on #4170
@zstyblik thanks for the update.

Closing now but feel free to continue the discussion in the mailing list or IRC.

[user mailing list](https://groups.google.com/forum/#!forum/prometheus-users)
[IRC channel](https://webchat.freenode.org/?channels=prometheus), #prometheus on irc.freenode.net.

[2018-06-07 20:01] #4170 closed

[2018-06-07 20:10] krasi-georgiev commented on #4124
reloading touches many parts of the code so I expect that it should have some side effects. You can try as a temporary workaround, but we want to find the real culprit.

Can you think of any way to help us replicate this?

[2018-06-07 20:14] krasi-georgiev commented on #4128
@bonan thanks for the report.
What are the steps to reproduce this?

[2018-06-07 20:21] krasi-georgiev commented on #4196
I am 50/50 for auto closing. Yes it is a bit rude , but also serves as a reminder to everyone in the issue to revisit.

The auto closing can be after 90 days and some friendly message

[2018-06-07 21:52] avonwyss commented on #4235
@krasi-georgiev Of course I can create some mechanism to trigger the reload externally, but I try to keep the tools and systems as decoupled as possible. Since file monitoring actually exists in other places of the configuration it did not seem to be such a far-fetched idea.

[2018-06-07 22:29] dhbarman commented on #4177
[code]

[2018-06-07 22:48] krasi-georgiev commented on #4235
To me it seems logical that the same tool that  generates the config should be responsible for actually enabling the new config.

And @brian-brazil's argument about the race condition is a rather big blocker against changing the current behaviour.

[2018-06-07 23:02] jurgenweber commented on #4231
no, its a bug report. This just plain doesn't work and I see nothing else.

[2018-06-08 00:00] krasi-georgiev commented on #4231
@jurgenweber can you show some logs that might be related to the issue.
Also a screenshots of the alerts tab might give more info and also include the minimal Prometheus config at which we can replicate the issue.

You are probably familiar with  the alerting works but here is the doc page just in case.
https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/

@simonpasquier is a

[2018-06-08 00:16] jurgenweber commented on #4231
Hi

I tried debug logs, which are very noisy. I left it running for a while and tried to search on the name of the alert without result but I did not when searching for hte metric I sometimes see:

[code]

Screen shot; http://take.ms/qbHEs, config is provided in the original post. Its a simple alert. Please note other alerts look fine, its not like its the first alert I have ever made. This one ju

[2018-06-08 01:04] rafaelmagu commented on #1583
I'm not unsure if it's entirely related, but if I don't provide `--web.external-url` when starting Prometheus, it appears to ignore `--web.route-prefix`.

[2018-06-08 01:13] krasi-georgiev commented on #4231
I meant the job config , I just wanted to see the scrape frequency as according to the docs this might have influence.

the screenshot shows different alert config than the original post, but I assume you tried with many different variations?

[2018-06-08 01:19] jurgenweber commented on #4231
ah, right.

[code]

yeah, many different variants... the screen shot is 'what we want' and then I tried to make it simpler, removing the ! (aws_ebs_burst_balance_maximum{volume_id!="vol-0c3627f137e583133"} < 80 for 5m vs aws_ebs_burst_balance_maximum < 90 for 1m), increasing the value to ensure there was always something that _should_ be triggering it, etc. You will note there is the warning and c

[2018-06-08 01:27] rafaelmagu commented on #1583
To better illustrate my comment, I have HAproxy on a bastion, with path-based routing for different backend services. For Prometheus, any request starting with `/prometheus` gets sent to the Prometheus backend, without rewrites.

The source for `/prometheus/graph` is rendered without the route prefix:

![image](https://user-images.githubusercontent.com/197444/41133961-0b2edc30-6b1e-11e8-96d3-f217c

[2018-06-08 01:30] rafaelmagu commented on #1583
With `--web.external-url=.../prometheus` and `--web.route-prefix=/prometheus`, the page renders correctly without rewrites from HAproxy.

[2018-06-08 02:45] shunliz commented on #4228
Thansk all for the comments and replys.
I think i can close this question.

[2018-06-08 02:45] #4228 closed

[2018-06-08 02:52] ximply opened #4240 "Read endpoint for grafana5 throws invalid memory address or nil pointer dereference"
Prometheus 2.3 (and 2.2.1 is ok) use as a read endpoint for grafana5 will throw a error like this:

level=error ts=2018-06-08T02:39:50.80339667Z caller=stdlib.go:89 component=web caller="http: panic serving 192.168.10.176:31525" msg="runtime error: invalid memory address or nil pointer dereference"

192.168.10.176 is the grafana server

[2018-06-08 06:44] brian-brazil commented on #4231
You didn't mention that you were running a bleeding edge cloudwatch exporter binary, which includes as yet unreleased code. This is not a problem with Prometheus, you need to add an `offset 10m` to your alert.

[2018-06-08 06:46] brian-brazil commented on #4240
Can you clarify what you mean by "read endpoint"? Which URL is Grafana hitting?

[2018-06-08 07:19] #4238 closed

[2018-06-08 07:50] dominikschulz opened #4241 "2.3.0 breaks our reverse proxy setup"
## Bug Report

**What did you do?**

We upgraded our Prometheus instances from 2.2.1 to 2.3.0.

**What did you expect to see?**

The Webinterface should still be working as before.

**What did you see instead? Under which circumstances?**

All static assets failed to load due to a wrong path prefix.

**Environment**

We run several Prometheus instances behind an nginx reverse proxy that handles au

[2018-06-08 08:03] brian-brazil commented on #4241
Hmm, #4025 is incorrect and should be reverted. The route prefix is internal to the proxy<->Prometheus, and shouldn't affect how html is rendered.

[2018-06-08 08:04] brian-brazil commented on #4004
#4025 was not the right fix for this. Can you indicate what the external URL was in this case?

[2018-06-08 08:10] simonpasquier commented on #4124
@sta-szek "203 pods across 16 nodes" is a scale that the k8s SD should handle. Can you share your Prometheus configuration file? Which version do you run?

It would be helpful also if you could share the same metrics as in https://github.com/prometheus/prometheus/issues/4124#issuecomment-393527676:
* number of jobs, `sum(count(up) by (job))`
* number of targets, `count(up)`
* samples/sec, `sum(rat

[2018-06-08 08:16] ximply commented on #4240
Sorroy, **read enpoint** is **remote read endpoint**.

The setting of grafana datasource for prometheus:
the **_HTTP URL_** is **http://192.168.10.248:8080**
the **_HTTP Access_** is **proxy**

[2018-06-08 08:18] ximply commented on #4240
Here are the settings:
![default](https://user-images.githubusercontent.com/3693445/41146891-72938696-6b37-11e8-86b1-eb8e1d562206.png)

[2018-06-08 08:18] brian-brazil commented on #4240
Grafana doesn't use the remote read endpoint. Can you capture the HTTP request in question?

[2018-06-08 08:32] simonpasquier commented on #4128
@krasi-georgiev see https://github.com/prometheus/tsdb/pull/344. As I said in the PR, I'm not sure how the issue can be triggered except if the chunk is corrupted?

[2018-06-08 08:39] deveshmehta commented on #1583
Thanks Rafael for the details.

I tried your suggestion given above but the issue still persist and it lost some more bit.
![image](https://user-images.githubusercontent.com/9815653/41147973-a6af2238-6aff-11e8-95ed-2732b1f2aef4.png)

I am running the Prometheus behind the NGINX proxy server. The issue is when I access the Prometheus directly over private IP it works as expected -   http://<Private

[2018-06-08 09:15] yunlzheng commented on #4008
same issue

[2018-06-08 09:42] ximply commented on #4240
But I use Prometheus 2.2.1, it is ok.

[2018-06-08 09:58] brian-brazil commented on #4231
Yes.

[2018-06-08 09:59] simonpasquier commented on #4177
Thanks @dhbarman. Given the stack traces, I suspect that too many queries may be running at the same time. Can you post the following metrics?
* `prometheus_engine_queries`
* `prometheus_engine_queries_concurrent_max`
* `sum(rate(prometheus_engine_query_duration_seconds_sum[5m]))`
* `sum(rate(prometheus_engine_query_duration_seconds_count[5m]))`

Regarding your configuration, I notice that you par

[2018-06-08 10:02] brian-brazil commented on #4177
No matter how many queries are running at once, we shouldn't be having races.

[2018-06-08 10:05] krasi-georgiev commented on #4177
was just in the middle of writing this :stuck_out_tongue_winking_eye:

@simonpasquier let me know if you find out how to replicate and I will be interested to look into this as well.

[2018-06-08 10:08] brian-brazil commented on #4177
Ah, I know what this is. This was incorrect management of the matrixes that are reused across queries. I noticed this, and removed that code as part of #3966. This is fixed in 2.3.0.

[2018-06-08 10:17] simonpasquier commented on #4177
Sure, I was just wondering why it happens with @dhbarman's setup and hasn't been reported by other users.

[2018-06-08 10:33] krasi-georgiev commented on #4177
hm :thinking:  , the last binary I attached should already included the promql refactoring PR.

attached a new binary just in case for another test.

[prometheus.zip](https://github.com/prometheus/prometheus/files/2083996/prometheus.zip)

[2018-06-08 10:35] krasi-georgiev commented on #4177
@dhbarman not sure if it will help with the `failed to restore the stack` error , but can you try running it with `GORACE=history_size=7 ./prometheus`

[2018-06-08 10:45] brian-brazil commented on #4177
@krasi-georgiev It can't have, the stack trace mentions functions that were removed in my PR.

[2018-06-08 13:47] MoSunDay opened #4243 "Asked remote read write"
I wonder why some remote storage only provides a write operation, not a read, so how can the data written to the database be used?

From other if using remote read and wirte InfluxDB, every time a large number of queries memory is required for a double, because InfluxDB need memory cache results, and then give P8S results to vomit, P8S also need to save data memory, and then execute PromQL.

This

[2018-06-08 14:04] amej opened #4244 "Tilde character in file path in a shell must expand to the absolute path of the home directory"
## Proposal
** Tilde symbol in a file path needs to expand to absolute  path of home directory of the user as per the *nix **

## Bug Report
**What did you do?**
As per instructions given in https://prometheus.io/docs/introduction/first_steps/;  start prometheus by executing
` ./prometheus --config.file=~asathe/prometheus-2.3.0.linux-amd64/prometheus.yml `

**What did you expect to see?**
In the

[2018-06-08 14:15] brian-brazil commented on #4244
Tilde expansion is the responsibility of your shell on Unix. Which shell are you using?

If your shell doesn't support it, `$HOME` always works.

[2018-06-08 14:50] krasi-georgiev commented on #4243
I think you will get a better answer for that in the devs Malling list

[2018-06-08 15:12] amej commented on #4244
[code]

It is not mentioned in the documents, but the './prometheus --configfile= ..' needs to be executed as root user.  In my scenario; I extracted  prometheus into normal user's directory  '~asathe/prometheus'.
I switched non-login/login-shell to root to execute prometheus binary.  But; after switching the variable $HOME would store the home directory of root user.  Hence; the only option is to

[2018-06-08 18:34] krasi-georgiev commented on #4244
on a second thought  @amej do you have any immediate use for that? unless it is trivial change and someone really needs this maybe not worth adding any extra code for this.

[2018-06-08 22:30] pgier commented on #4214
Created https://github.com/prometheus/prometheus/pull/4245 with a fix.  There are some tests already around config reloading, but I'll see if I can make a test for this specific case next week.

[2018-06-08 23:38] abh commented on #4004
It seems like the original problem here would have been fixed by using external-url instead of route-prefix.

[2018-06-09 07:47] veksh opened #4246 "2.3.0 returns wrong content-type for built-in javascript libraries"
## Bug Report

I've installed 2.3.0 in a VM with port 9090 forwarded to localhost, and
web interface does not work as expected: no javascript libraries are loaded (2.2.1 is OK).
On closer inspection, error console has 14 errors like

[code]

so most probably `Content-Type` header for built-in javascript libraries is wrong.

Command-line is

[code]

**Environment**

* System information:

	Linux 3.

[2018-06-09 11:57] krasi-georgiev commented on #4214
thanks , ping when ready for review.

[2018-06-09 14:45] chyeh commented on #1551
@juliusv I just submitted a PR #4247. Forget about `metrics_path` I mentioned above. That was because I wasn't familiar with the configuration file.

[2018-06-09 17:07] krasi-georgiev commented on #4246
that is probably because of this commit
https://github.com/prometheus/prometheus/commit/c207920500d1d55c21d7b7dbb27ba213394ce369

[2018-06-10 04:03] y2sarakawa commented on #4240
Grafana 5 accesses the Prometheus /series endpoint when referring to variables.

If more than one entry is in remote_read, nil is passed to "p * storage.SelectParams" in ToQuery () of storage/remote/codec.go.

After merging #4122, nil pointer dereference will occur to refer to "p" when creating ReadHints in ToQuery ().
https://github.com/prometheus/prometheus/blob/v2.3.0/storage/remote/codec.go#L9

[2018-06-10 06:38] jurgenweber commented on #4231
well, I am not to know that it is some 'bleeding edge' thing. It doesn't have a sign on it, I just it all in my travels.

I will add an offset, thanks for your help.

[2018-06-10 06:38] #4231 closed

[2018-06-10 12:39] roidelapluie commented on #4235
PSA: We need that atomic change thing. To us changing that would cause troubles.

[2018-06-10 23:03] avonwyss commented on #4235
Since this proposal has apparently significant problem potential I'm closing it.
I have now added the `--web.enable-lifecycle` flag and trigger the reload externally via web request.

[2018-06-10 23:03] #4235 closed

[2018-06-11 02:12] MoSunDay commented on #4243
@krasi-georgiev thanks

[2018-06-11 02:12] #4243 closed

[2018-06-11 08:07] anandsinghkunwar opened #4249 "Prometheus not scraping metrics `adding stale sample failed`"
## Bug Report
**What did you do?**
I have setup prometheus v2.2.1 using the prometheus operator on my kubernetes cluster. I have deployed node-exporter, kube-state-metrics for cluster monitoring. I haven't been able to ingest samples on and off for hours. I have a 30s evaluation interval. I feel it is somehow related to #2894, but that seems to be fixed. I have 2 instances of prometheus as HA and

[2018-06-11 08:17] msglueck commented on #3032
Howdy,
I know this issue has been closed, but there is no sense creating a new one. I have (had) the same issue on Prometheus 2.2.1 For me it was a Confluence custom exporter that showed the same issue. Configured with https scheme (with or without a access token as param). Prometheus showed "no token found", but clicking on the scrape url showd perfectly fine metrics (even validated those with pr

[2018-06-11 08:31] semyonslepov commented on #4115
@krasi-georgiev I will try to increase scrape timeouts and look how it works, probably it's all about too heavy federation target

[2018-06-11 08:33] brian-brazil commented on #4249
Is the time on your machine correct? If it's turning on and off for an hour at a time, I'm smelling something weird happening on your machine with timezones.

[2018-06-11 08:40] sta-szek commented on #4124
`sum(count(up) by (job))`: 166
`count(up)`: 166
`sum(rate(scrape_samples_scraped[2m]))`: 11.135617427976747
`rate(prometheus_sd_kubernetes_events[2m])`: no data
(I'm not sure about this metrics as I am not familiar with prometheus)

Prometheus info
[code]

What I can say more is that we perform deployments using helm tool (2.8.2).
Our k8s provider is AWS.

BTW reloading works for us, for now. No s

[2018-06-11 09:09] simonpasquier commented on #4124
@sta-szek thanks for the info! I made a typo and meant `rate(prometheus_sd_kubernetes_events_total[2m])`.

You may want to try with the latest version of Prometheus (v2.3.0) because it includes an update of the k8s client that could help with your issue (although it didn't work for Björn).

[2018-06-11 09:30] anandsinghkunwar commented on #4249
I checked, time seems correct on all my nodes of the cluster. However the timezone of the cluster is EDT and of my pods is UTC. Can that be an issue? I have been using it for a while, and it was working fine, not sure why only one of the two promethei suddenly started exhibiting this.

[2018-06-11 09:33] brian-brazil commented on #4249
No, Prometheus itself ignores timezones completely. If only one of them has the issue it's likely something up with that machine.

[2018-06-11 09:37] anandsinghkunwar commented on #4249
I verified the time in all the machines, they don't seem to be wrong.

[2018-06-11 09:44] brian-brazil commented on #4249
Can you share your full configuration?

[2018-06-11 10:30] anandsinghkunwar commented on #4249
It's quite large. Also attaching a graph indicative of how prometheus was responding. The straight lines indicate when it was up. [Link Here](https://imgur.com/NCSHnvK)
[code]

[2018-06-11 10:42] brian-brazil commented on #4249
What does `up` look like? Is this only for one instance? Can you share a graph of `node_time_seconds` for this instance?

As an aside, the pushgateway should have honor_labels: true but nothing else should.

[2018-06-11 10:58] anandsinghkunwar commented on #4249
It is `up` constantly. Couldn't find `node_time_seconds`, however there is a `node_time`, sharing that [here](https://imgur.com/saKCFeS)

[2018-06-11 11:03] brian-brazil commented on #4249
That doesn't make sense, stale markers won't be produced if up=1 all the time. Are you sure it's always 1?

[2018-06-11 11:23] anandsinghkunwar commented on #4249
You mean up from one instance(the prometheus that is scraping) to another(the prometheus that is not working), right? [Graph here](https://imgur.com/a/Gqg7bEP)

[2018-06-11 11:38] brian-brazil commented on #4249
I mean the up of the node exporter mentioned in the log.

[2018-06-11 11:54] anandsinghkunwar commented on #4249
I don't just have my node_exporter metrics going on and off, it is the prometheus itself which is either scraping all targets or none. The second prometheus is able to scrape off the node_exporter, therefore that is indeed `up`. Interestingly, there is high load on the particular node which has my prometheus which is going on and off. FYI there are 20 cores on that node. Graph [here](https://imgur

[2018-06-11 11:58] krasi-georgiev commented on #4244
don't think we have an immediate need for this so will revisit if needed.

feel free to reopen if you have a good use case that requires this.

[2018-06-11 11:58] #4244 closed

[2018-06-11 12:03] brian-brazil commented on #4249
As this point I'm suspecting a dodgy CPU in the Prometheus machine that's messing up timestamps. Does this still happen if the Prometheus is moved to another machine?

[2018-06-11 12:24] anandsinghkunwar commented on #4249
I believe the problem will stop, but we will still not be able to pin point the issue. Why can't prometheus just wait in the queue like the other processes in case the CPU is the bottleneck (I think it isn't as we have enough cores)?

[2018-06-11 12:38] brian-brazil commented on #4249
The information you have provided does not support that conclusion. The gaps would have to be much larger for that to make sense.

[2018-06-11 13:12] sta-szek commented on #4124
Thanks
`rate(prometheus_sd_kubernetes_events_total[2m])`:
[code]

I create issue for update and let you know if that helped us or not.

[2018-06-11 16:10] liquidgecka opened #4252 "Prometheus does not respect scheme config for the alertmanger."
Using the following config:

[code]

I see the following logs:

[code]

Note that https is not respected when generating the alertmanager URL. This is on prometheus 2.3.0 (as well as 2.2.1) running on Ubuntu 16.04 LTS `Linux 4.4.0-1031-aws x86_64`

[2018-06-11 16:17] krasi-georgiev commented on #4252
Thanks for your report. It looks as if this is actually a question about usage and not development.

no crash, no panic = support question :wink:

To make support question, and all replies, easier to find, I suggest you move this to our [user mailing list](https://groups.google.com/forum/#!forum/prometheus-users).

If you haven't looked already you might find your answer in the [official docs and

[2018-06-11 16:48] liquidgecka commented on #4252
Deoh! Your absolutely right! I looked at that like 5 times before finally seeing the white space difference.. =/

[2018-06-11 16:48] #4252 closed

[2018-06-11 17:01] krasi-georgiev commented on #4252
no problem.

[2018-06-12 00:36] pgier commented on #4214
I added a test, although its kind of very specific to this case.  Feel free to review.

[2018-06-12 07:32] brian-brazil commented on #4177
The initial report here is fixed. Please open a new issue for anything else so that we can keep things organised.

[2018-06-12 08:02] Wing924 opened #4253 "prometheus 2.3.0 become OOM when consul is unavailable"
## Bug Report
**What did you do?**
I use consul SD in prometheus.
I upgraded consul servers but failed to failover and cause consul cluster died for a few minutes.

**What did you expect to see?**
Prometheus running as usual.

**What did you see instead? Under which circumstances?**
Prometheus become out of memory.

**Environment**

* System information:

	Linux 3.10.0-693.2.2.el7.x86_64 x86_64

*

[2018-06-12 08:07] brian-brazil commented on #4253
Does the same happen without the Consul scrape config being listed? The consul log messages could be circumstantial.

@iksaif

[2018-06-12 08:15] tcolgate opened #4254 "2.3.0 significatnt memory usage increase."
## Bug Report
**What did you do?**
Upgraded to 2.3.0

**What did you expect to see?**
General improvements.

**What did you see instead? Under which circumstances?**
Memory usage, possibly driven by queries, has considerably increased. Upgrade at 09:27, the memory usage drops on the graph after then are from container restarts due to OOM.

container_memory_usage_bytes

![image](https://user-images

[2018-06-12 08:20] brian-brazil commented on #4254
Can you share your configuration, a snapshot of the benchmark dashboard, and if you've made any other changes?

[2018-06-12 08:22] tcolgate commented on #4254
@brian-brazil where do I find the "benchmark dashboard", and the config for this is rather large are there any specific areas of interest?

[2018-06-12 08:33] iksaif commented on #4253
looking

[2018-06-12 08:43] tcolgate commented on #4254
Found the dashboard

[2018-06-12 08:46] brian-brazil commented on #4254
The entire config please, we don't know what might be relevant.

[2018-06-12 08:55] iksaif commented on #4253
so, I can't reproduce it. Looks like the stacktrace is pointing at `/federate`. You you try to isolate the issue ? (with and without federation, consul, netdata)

[2018-06-12 10:20] tcolgate commented on #4254
Obfuscated by hand, hopefully didn't introduce any additional problems.
We also have a large'ish number of recording rules, due to the heritage of the tooling, these are all in individual rules groups, 1 per group. Not sure if that will have any bearing on things.
[config.yaml.txt](https://github.com/prometheus/prometheus/files/2093587/config.yaml.txt)

[2018-06-12 10:22] piaoyu commented on #4164
@krasi-georgiev  OK .  I will try quay.io/prometheus/prometheus:v2.3.0

[2018-06-12 10:34] brian-brazil commented on #4254
Summary of config: 15s interval, using 13 gce_sd_configs and I think 36 kuberentes_sd_configs.

[2018-06-12 10:36] brian-brazil commented on #4254
How often is the config file being reloaded? Can you try running it without the rules to eliminate those?

[2018-06-12 10:43] tcolgate commented on #4254
sounds about right.
We have a sidecar that discovers kube clusters within a gce project, we run a prom per project (this config also has some additional scrapes for non-kubernetes GKE instances. This is one of the larger instances but has been running fine on 2.2.1.
The kube scrapes can probably be simplified at this point to just the pod discovery, but I don't think the number of scrapes is the p

[2018-06-12 10:49] tcolgate commented on #4254
config reload only occurs on recording rule publishing, (in the order of  < 1 / day).
Unfortunately it will be a while before I can spin up another 2.3 just to test.

Here's a before/after (the blue annotation shows when I reverted to 2.2.1)
https://snapshot.raintank.io/dashboard/snapshot/p9PmKT5K5D57RicIZOZQzdrAsez7vOF8

[2018-06-12 11:04] brian-brazil commented on #4254
My primary suspicions would be on kuberentes_sd, as that changed a good bit. Query memory should only have gone down - which your graphs show.

[2018-06-12 11:18] krasi-georgiev commented on #4177
@brian-brazil the PR to fix the original issue hasn't been merged yet.
https://github.com/prometheus/prometheus/pull/4178

@dhbarman thanks for testing it again. Seems all races are fixed.
Regarding the last error it seems that the target you are scraping doesn't output the correct format. If you are convinced that this is another bug please open a new issue with details how to replicate. Thanks.

[2018-06-12 11:23] fabxc commented on #4246
@krasi-georgiev any further info how that commit causes this?

[2018-06-12 11:37] brian-brazil commented on #4177
Oh sorry, confused this with a different bug.

[2018-06-12 11:38] brian-brazil commented on #4177
Wait now actually I didn't. There are 3 distinct issues now in this bug, this is confusing.

[2018-06-12 11:38] brian-brazil commented on #4246
It's likely the nosniff.

[2018-06-12 11:38] fabxc commented on #4241
That PR is not the final code in 2.3 – there was another change (https://github.com/prometheus/prometheus/commit/cd2820e165483609fbe0af99455bf909e6a8cd30) that supposedly fixed a bug #4025 introduced. Did that fix just a single case? Should both be reverted?

[2018-06-12 11:40] fabxc commented on #4246
Okay, what was the motivation for adding those security headers? Were we exposed to any security risk?

[2018-06-12 11:42] brian-brazil commented on #4246
General security hardening was the motivation.

[2018-06-12 11:43] krasi-georgiev commented on #4177
yeah we thought it is all part of the same bug, but it seems it is all good now.

[2018-06-12 11:48] fabxc commented on #4246
Yes, but what are the risks those headers are fixing? I personally haven't seen them before and don't know what they do and how they are causing this issue. I'm all for hardening, but would be good to understand what we are hardening against and how.

[2018-06-12 11:50] tcolgate commented on #4254
@fabxc I've up'd the memory request to 26GB, which I think is enough now that at least it doesn't get OOM'd (it's pretty much on a dedicated node now).
During the high memory usage spikes, I see scrap interval percentiles climb and sample ingestion drop significantly.
I got the attached capture during one of these spikes (or at least on the way to one)
[heap_inuse_break.svg.gz](https://github.com/

[2018-06-12 11:52] brian-brazil commented on #4191
I agree with @brancz here. This is something to be handled via configuration management.

[2018-06-12 11:52] tcolgate commented on #4254
internal prom perf dashboard capture during that profile: https://snapshot.raintank.io/dashboard/snapshot/si3JoG47UshfAlbwdLg6GgCiXvFep4JQ
benchmark dashboard:
https://snapshot.raintank.io/dashboard/snapshot/tHqUYJjmoeAamZ5GtHTBrEFbL4Zu6tTS

[2018-06-12 11:54] brian-brazil commented on #4177
Okay, now both of those are fixed.

@dhbarman Can you file the HELP log as a new bug please?

[2018-06-12 11:54] #4177 closed

[2018-06-12 11:55] fabxc commented on #4254
Thanks for the quick response. That appears to be a 30s CPU profile, which looks fairly normal.
Are you sure you used a URL ending in `/heap` and not `/profile`?

[2018-06-12 12:00] dominikschulz commented on #4241
The commit you mentioned doesn't fix #4025 for our setup.
For ours to work we'd really need `pathPrefix` to return `opts.ExternalURL.Path` and not `opts.RoutePrefix` (or `/`).

[2018-06-12 12:05] brian-brazil commented on #4241
#4031 needs to be evaluated separately.

[2018-06-12 12:07] tcolgate commented on #4254
Doh
@fabxc I think I got this just as the scrape latency was increasing:
[heap_inuse_break.svg.gz](https://github.com/prometheus/prometheus/files/2093910/heap_inuse_break.svg.gz)

[2018-06-12 12:17] sw-samuraj opened #4255 "transport: http2Client.notifyError got notified that the client transport was broken unexpected EOF"
## Bug Report
**What did you do?**
Following [Getting started](https://prometheus.io/docs/prometheus/latest/getting_started/) documentation, I start _Prometheus_ via `./prometheus --config.file=prometheus.yml` command. The `prometheus.yml` config file is the default one in the distribution, without any modification.

**What did you expect to see?**
An initial log sequence with "ready to serve" mes

[2018-06-12 12:18] fabxc commented on #4254
This profile does not show any service discovery at all, i.e. usage is probably very minor. The graph your first posted also indicates that usage didn't increase continuously but rather spikes a lot. The baseline seems to be a bit lower than before actually.

Can you get another profile with the `-alloc_space` flag added? Would be good if the server has been seeing those spikes already for a while

[2018-06-12 12:19] fabxc commented on #4205
This made it into 2.3 unfortunately, see #4240. Is there any solution for this yet? Would be great to add bug labels in the future so it doesn't slip through as easily.

[2018-06-12 12:21] tcolgate commented on #4254
This is a alloc_space one from during the climbing memory
[allocs3.svg.gz](https://github.com/prometheus/prometheus/files/2093954/allocs3.svg.gz)

[2018-06-12 12:28] brian-brazil commented on #3771
Prometheus 2.3.0 includes a significant rewrite of PromQL which gives good performance improvements. There are unlikely to be many significant performance improvements beyond that. If you have ideas to optimise specific queries that seem slow, please let us know.

[2018-06-12 12:28] #3771 closed

[2018-06-12 12:30] brian-brazil commented on #4255
This is likely the rpc gateway. Do you have proxy environment variables set?

[2018-06-12 12:35] pachico opened #4257 "Make web interface not indexable by search engines"
## Proposal
**Make Prometheus' web interface not indexable by search engines.**

It might be a silly request but I trust it would be a good addition to append a `<meta name=”robots” content=”noindex,nofollow”>` in the head section.

I know it's up users to ensure proper security policies but a quick search in Google helps to understand this is not always happening.

Thanks for your great work.

[2018-06-12 12:35] brancz commented on #4191
As a side note, the Prometheus Operator does exactly what you're asking for here by default.

[2018-06-12 12:38] brian-brazil commented on #4254
Do you have a normal heap_inuse and one during a spike?

[2018-06-12 12:41] tcolgate commented on #4254
@brian-brazil I think the previous one was at the start of one. Timing is tricky as things become unresponsive. I've had to revert now as I've tested these on a prod instance (thanks to the kind patience of some devs).

[2018-06-12 12:50] simonpasquier commented on #4134
This issue should be closed now?

[2018-06-12 12:57] #4134 closed

[2018-06-12 12:58] krasi-georgiev commented on #4134
yep

[2018-06-12 13:17] fabxc commented on #4254
The allocs profile only shows allocations, recording rule evaluations, and serving Prometheus's own `/metrics` endpoint. The rest is below the threshold for being displayed.

My best guess for now is thus PromQL. The CPU profile doesn't show much GC work, which indicates that generally the allocation improvements in 2.3 are working. But possibly the changed evaluation model pins to much memory for

[2018-06-12 13:32] brian-brazil commented on #4254
Could you also spin up a test server without the recording rules?

[2018-06-12 13:34] tcolgate commented on #4254
@brian-brazil that's going to take me a while. I can try and find the time tomorrow

[2018-06-12 13:41] brian-brazil commented on #4254
I can only imaging that happening with very high churn in the underlying data, which the graphs don't show.

[2018-06-12 14:30] krasi-georgiev commented on #4254
@tcolgate did you do any other changes apart from just upgrading the prom version?

[2018-06-12 15:35] sw-samuraj commented on #4255
Yes, I had following proxy set up:
[code]
The error disappears after adding `0.0.0.0` to the `no_proxy` variable:
[code]
Thanx for providing a clue.

[2018-06-12 15:35] #4255 closed

[2018-06-12 19:54] jacksontj opened #4261 "Prometheus `/query` endpoint sometimes returns values that aren't matches to the promql query"
## Bug Report
**What did you do?**
I send a query like so `http://localhost:9090/api/v1/query?query=http_request_duration_microseconds%5b301s%5d&time=1528830551.230` and sometimes I get results for different metrics (in the example below I see results for `http_request_duration_microseconds_count`.

**What did you expect to see?**
I expect all results in the `/query` response to be valid results t

[2018-06-12 20:18] brian-brazil commented on #4261
PromQL changed a good bit, and there was a race with reusing the matrices in the old PromQL code that could explain this. Worth investigating if there's a TSDB level issue though now masked by the new PromQL code.

[2018-06-12 20:19] brian-brazil commented on #4261
@gouthamve @fabxc This needs investigation.

[2018-06-12 20:35] roidelapluie commented on #4155
I can not reproduce this

[2018-06-12 20:36] roidelapluie commented on #4155
(even in 2.0.0 and 2.2.1). I dont know what happened

[2018-06-12 20:47] brian-brazil commented on #4155
Thanks for the followup.

[2018-06-12 21:03] jacksontj commented on #4261
@brian-brazil for that promql race condition, do you know the commit that fixes that race condition? If so I can test that single commit. I'm still trying to get a bisect to work, but git doesn't like bisecting between the 2 release branches because the merge build is broken too.

[2018-06-12 21:06] jacksontj commented on #4261
I re-ran my repro steps with a prometheus build made with `-race` and it does print out a fairly large stack of things -- so presumably that is related :)

[2018-06-12 21:33] jacksontj commented on #4261
I was able to complete the bisect and the issue is fixed with https://github.com/prometheus/prometheus/commit/dd6781add2390eb2f2251e108f2ef835eba44b05 (the large promql re-do). Any ideas on which commit in that 2k change it would be? This issue seems problematic enough to necessitate a backport, but that seems like a *large* commit to backport.

[2018-06-12 21:39] brian-brazil commented on #4261
Even within the ~60 original commits of that, that fix was spread throughout it. I'm still concerned that this issue is actually down in the TSDB, as the race was across queries generally rather within a time range.

[2018-06-12 21:46] brian-brazil commented on #4261
The issue incidentally was reusing the matrix across queries, it was put back in the pool when execution completed rather than when the result was sent back to the user. Breaking the pooling in engine.go will fix that particular race enough to see if this was entirely that or also a TSDB issue.

[2018-06-12 21:47] jacksontj commented on #4261
@brian-brazil seeing that it is fixed on master with the promql optimization commit makes me think it is that pooling bug in promql rather than an issue in TSDB. The symptom was data from another query, but if promql was handing the matrix to another query its data would have been mutated and then potentially read (looking like data leaks from TSDB, but inreality just a data race condition).

[2018-06-12 21:50] brian-brazil commented on #4261
That doesn't explain your observation that the mixed data has to be from the same time range. The race I eliminated (by completely changing how that code worked) would apply across all queries.

[2018-06-12 21:52] jacksontj commented on #4261
I don't know that they *must* be within the same timerange-- thats just what I'm observing. However it does require it to be a matrix selector (doing `foo` instead of `foo[300s]` doesn't repro the issue).

[2018-06-12 21:55] jacksontj commented on #4261
And to double check, I confirmed that I can reproduce the issue with non-overlapping queries as long as they are matrix selectors.

[2018-06-12 21:56] brian-brazil commented on #4261
That's sounding more like the the issue I fixed then. Anything tied to ranges of time would indicate a block-level issue in the TSDB.

[2018-06-12 21:57] jacksontj commented on #4261
Would it be possible to get a fix for this issue backported to 2.2?

[2018-06-12 22:01] brian-brazil commented on #4261
We're working on stabilising 2.3, and this issue is seemingly already fixed there.

[2018-06-13 00:43] Wing924 commented on #4253
@iksaif
Yes, I use `/federate`.

I did a test:

### Environment 1
* prometheus cluster
  * server[01-04]: disable consul SD (comment out `- job_name: 'prometheus_exporter'` block)
  * server[05-08]: keep same config as I posted before.
* consul cluser
  * version: `1.1.0`

### Environment 2
* prometheus cluster
  * server[01-04]: disable consul SD (comment out `- job_name: 'prometheus_exporter'` b

[2018-06-13 00:54] Wing924 commented on #4253
I don't know if this change on consul make prometheus OOM
https://www.consul.io/docs/upgrading.html#upgrade-from-version-1-0-6-to-higher

[2018-06-13 04:01] rajatjindal commented on #4254
@tcolgate , the graphs that you shared are very interesting. we are also using Prometheus and running into performance issues when we enabling remote storage. (it might be a completely different issue)

is there a place where we can import these dashboards from? will be interesting to see these metrics

[2018-06-13 06:31] brian-brazil commented on #4261
There's no plans to backport anything to 2.2. We generally don't backport.

[2018-06-13 06:52] iksaif opened #4262 "remote_write: send on closed channel"
## Bug Report

Running Prometheus 2.3.0 with graphite-remote-adapter and stopping it:
[code]

**Environment**

[code]

[2018-06-13 07:40] iksaif commented on #4253
We used 1.1.0 and I wasn't able to reproduce this issue.

Could you try to get a heap profile with `go tool pprof http://localhost:9090/debug/pprof/heap` ?

[2018-06-13 08:05] dimitar-petrov opened #4264 "histogram_quantile returns NaN if 2 or more buckets are zeroes"
## Bug Report
**What did you do?**
Here is the data that I am working with:
```rate(callback_latency_seconds_bucket{app='foo'}[5m])```

Element | Value
-- | --
{app="foo",host="host",instance="host:8111",job="job",le="+Inf",type="trade"} | 0
{app="foo",host="host",instance="host:8111",job="job",le="0.1",type="trade"} | 0
{app="foo",host="host",instance="host:8111",job="job",le="0.2",type="trade"}

[2018-06-13 09:06] tcolgate commented on #4254
@rajatjindal The Prometheus Benchmark dashboard is available on grafana.net (make sure you get the 2.0 version), and the other dashboard is our internal prom dashboard, better dashboards exist on grafana.net (our is adapted from one of the earlier v1 prometheus perf dashboards)

[2018-06-13 09:41] Wing924 commented on #4253
@iksaif This is heap pprof output.
[pprof.prometheus.alloc_objects.alloc_space.inuse_objects.inuse_space.001.pb.gz](https://github.com/prometheus/prometheus/files/2097564/pprof.prometheus.alloc_objects.alloc_space.inuse_objects.inuse_space.001.pb.gz)

![prometheus](https://user-images.githubusercontent.com/8895721/41343288-20e7dc10-6f39-11e8-9739-cdf81f13f5ca.png)

[2018-06-13 09:55] krasi-georgiev commented on #4253
@Wing924 this doesn't show  high RAM usage. Can you take the profile when at the time it replicates the problem or before it is OOM killed.

[2018-06-13 09:56] dimitar-petrov commented on #4264
[code]

[2018-06-13 09:57] Wing924 commented on #4253
@krasi-georgiev Sorry, I upload the new pprof here.
![prometheus](https://user-images.githubusercontent.com/8895721/41344262-982d0546-6f3b-11e8-8e7b-ea35cc93eab4.png)

[2018-06-13 10:03] brian-brazil commented on #4264
That's incorrectly implemented, Prometheus histograms are meant to be cumulative. In addition the format specifies that buckets should be ordered so +Inf should be last and +Inf should match _count.

Which client library is this from?

[2018-06-13 10:04] dimitar-petrov commented on #4264
https://github.com/claws/aioprometheus

[2018-06-13 10:06] brian-brazil commented on #4264
I'd suggest filing a bug with them, and also consider using the official client at https://github.com/prometheus/client_python.

[2018-06-13 10:07] free commented on #4254
From the `-alloc_space` profile, it looks to me like more than half the memory allocations during scraping (16 of 29 GB, in `scrape.mutateSampleLabels`) and about a quarter of those during rule evaluation (14 of 55 GB, 10 GB in `promql.dropMetricName` and 4 GB in `promql.(*evaluator).aggregation`) are `labels.Builder` instances.

#4248 tries to optimize away the latter 4 GB (and I've seen it use 1

[2018-06-13 10:10] dimitar-petrov commented on #4264
Thanks Brian,

I will open a bug over there.
Cannot use the official client since it is synchronous.

[2018-06-13 10:10] Wing924 commented on #4253
This happened after I upgrading consul servers cluster from 1.0.1 to 1.1.0.
Yesterday I did the upgrading consul servers cluster on staging, it happened.
Today I did the same thing on production, it also happened.

[2018-06-13 10:17] free commented on #4254
Oh, and on a related note, while testing my humongous aggregated rate `query_range` requests, I'm seeing significantly more memory usage the first time I run said requests after long pauses (hours or days) than on subsequent runs. I.e. starting from a steady state `go_memstats_heap_inuse_bytes` of about 500 MB, the first spike goes to 2.3 GB, subsequent ones to only 1.1 GB.

I haven't managed to p

[2018-06-13 10:32] Wing924 commented on #4253
@krasi-georgiev Half of my prometheus are 2.2.1 and others are 2.3.0. Both of them happened.

I can't try the test again because this accident will stop all monitoring system.
I'll setup a test env to do it. But it will take some time.

[2018-06-13 10:38] krasi-georgiev commented on #4253
@Wing924 thanks much appreciated. Ping me with the results and I will try to replicate with the minimal config as well.

[2018-06-13 11:02] brian-brazil commented on #4264
The official client should still work fine for async use cases, though there may be extra utilities you'd like on top of it.

This issue is elsewhere, so closing.

[2018-06-13 11:02] #4264 closed

[2018-06-13 11:09] brian-brazil commented on #4253
Yes, that looks like it. There's a massive federation request being processed here. Can you share the configuration of the Prometheus sending it?

[2018-06-13 11:15] free commented on #4254
Just so you set your expectations right, you'll only see gains on `range_query` requests (i.e. dashboards and graphs) and not so much on recorded rules.

What it does is it tries to not materialize the resulting label set of an aggregation for as long as possible, but that's only really useful when you repeatedly aggregate samples of the same series. (It should also help when aggregating away most

[2018-06-13 11:42] free commented on #4254
True, sorry for jumping to conclusions. Why does it allocate almost 8 GB worth of `label.Builder` objects, though? There seem to be only ~1M time series, 8 KB per timeseries seems a lot.

[2018-06-13 11:50] brian-brazil commented on #4253
So that's going to pull in basically an entire Prometheus worth of data via federation. I'm a bit confused as to why the sampleRing is so big though.

[2018-06-13 11:52] brian-brazil commented on #4254
You'd see that every time a target flapped, we drop everything on a failed scrape as part of staleness. Target churn would also affect that.

[2018-06-13 11:52] tcolgate commented on #4254
@brian-brazil yes, in rules, I've mailed you our existing rules (please treat them as confidential). I tried passing them to Fabian, but I'm not convinced riot.im was doing anything I asked it to do.

[2018-06-13 12:06] brian-brazil commented on #4254
There's some predict_linears on 18h, for filesystem metrics in alerts - doubt that's it. Every rule and alert has its own rule group, so there's high potential for concurrency here.

[2018-06-13 12:15] tcolgate commented on #4254
@brian-brazil we use a system for devs to keep recording rules in their own repo, the current code converts existing stuff from prom1 format to prom2 and using a group per rule was the laziest/easiest option. We're moving that to a new setup that will make doing a group per-app easier, I figure that will improve locality of reference for data where groups can be run linearly). Might reduce some of

[2018-06-13 12:17] tcolgate commented on #4254
@brian-brazil also, if it is relevant, some of the metrics there are high cardinality (the tracking_id and schema labels have cardinalities in the high 100s), and contariner churn is /relatively/ high (probably a few thousand containers a day.

[2018-06-13 12:32] brian-brazil commented on #4254
That's possible, but not a new thing in 2.3. It's a possible improvement but very unlikely to be what's going on here.

We already fixed that memory leak :)

[2018-06-13 12:34] brian-brazil commented on #4254
I think at this stage we should start bisecting your config to see where the issue is.

[2018-06-13 13:16] free commented on #4254
It is highly unlikely to be the root cause, but if this cascade failure scenario is real, then it's possible it may make things worse e.g. by needlessly inflating the heap, causing Prometheus to get killed. And without it, things might otherwise stabilize after whatever causes the initial spike in heap and/or CPU usage blows over.

I was thinking of something along the lines of `sync.Pool`, but in

[2018-06-13 13:19] brian-brazil commented on #4254
It'd increase CPU usage due to GC, it wouldn't blow out the heap.

[2018-06-13 13:31] t3h2mas commented on #3639
Thirded, should a ticket be open for asking for the `password_file` feature?

[2018-06-13 13:33] brian-brazil commented on #3639
This was added in 2.3.0.

[2018-06-13 14:07] brian-brazil commented on #4261
I've dug into this a bit, and the only races I saw on 2.2 were due to the issue I already fixed. So there doesn't look to be an underlying tsdb bug here. Thanks for the good reproduction case, this one has been making us scratch our heads for a while.

[2018-06-13 14:07] #4261 closed

[2018-06-13 14:12] brian-brazil commented on #2747
#4183 added this.

[2018-06-13 14:12] #2747 closed

[2018-06-13 14:16] brian-brazil commented on #3068
There's no information that wasn't considered originally, so closing again.

[2018-06-13 14:16] #3068 closed

[2018-06-13 14:19] brian-brazil commented on #3577
Is this still happening?

[2018-06-13 14:20] brian-brazil commented on #4163
This looks like a misunderstanding of how --web.external-url works so it makes more sense to ask questions like this on the [prometheus-users mailing list](https://groups.google.com/forum/#!forum/prometheus-users) rather than in a GitHub issue. On the mailing list, more people are available to potentially respond to your question, and the whole community can benefit from the answers provided.

[2018-06-13 14:20] #4163 closed

[2018-06-13 14:23] brian-brazil commented on #4110
Did you ever get the heap profiles when the compaction was happening?

[2018-06-13 14:28] brian-brazil commented on #4194
Thanks @hoffie, those look to already cover this.

[2018-06-13 14:28] #4194 closed

[2018-06-13 14:30] brian-brazil commented on #4215
Could you explain what the graphs you're sharing are, and in particular what metrics back them?

[2018-06-13 14:31] jacksontj commented on #4261
Is there an ETA for 2.3? Until that is released I think this bug should remain open, as there isn't a supported release that is not impacted by this bug.

[2018-06-13 14:31] brian-brazil commented on #4240
Looks like a dupe of #4205 alright.

[2018-06-13 14:31] #4240 closed

[2018-06-13 14:35] krasi-georgiev commented on #4261
@jacksontj seems you missed the news :smile:  2.3 is already out.
https://github.com/prometheus/prometheus/releases

few reports for other unrelated issues, but these should also be fixed in the next 2-3 weeks.

[2018-06-13 14:36] brian-brazil commented on #4047
It's still not clear what went on here, but with it occurring anymore it's hard to debug. If it pops up again please let us know.

Changing the block durations is not recommended, those flags only exist for internal loadtesting.

[2018-06-13 14:36] #4047 closed

[2018-06-13 14:39] brian-brazil commented on #3604
Can you share a snapshot of the benchmark dashboard for this Prometheus? https://snapshot.raintank.io/dashboard/snapshot/p9PmKT5K5D57RicIZOZQzdrAsez7vOF8?orgId=2

[2018-06-13 14:49] brian-brazil commented on #4261
As a matter of general policy, we close bugs when they are fixed in code.

[2018-06-13 14:52] pborzenkov commented on #3604
Sure. Here is the snapshot:

https://snapshot.raintank.io/dashboard/snapshot/SSf8lrDSf9olUTlJWncACKnso8Ja17nO?orgId=2

JFYI, since the bug was filed we've started to federate a lot more data (more Prometheus instances and more metrics from each one of them) and started to hit scrape timeouts on some targets. So I've split federation from each Prometheus into several jobs (one per job='' label) and

[2018-06-13 14:53] jacksontj commented on #4261
@krasi-georgiev I did, thanks for pointing that out! :)

[2018-06-13 15:10] brian-brazil commented on #3604
This is an abuse of federation, however given you've ~no churn the time federation takes should be constant as you're looking at the latest chunk of every series.

[2018-06-13 15:35] #4214 closed

[2018-06-13 16:49] civik commented on #3060
@brian-brazil Is there any best practice replacement for `drop_common_labels()`? like @flyingmutant referenced above there really isn't a great way for consumers of metrics to drop common garbage labels at query time.  This is especially impactful for visualizations such as Grafana tables that rely totally on the query results to define the table structure.  d_c_l() was a hack but it was a very us

[2018-06-13 17:10] brian-brazil commented on #3060
The intended way to handle garbage labels is to remove them in either the target, service discovery, or relabelling that is introducing them.

[2018-06-13 18:30] anthraxn8b commented on #4163
@brian-brazil, you are right, but this means you have to create another account on another platform - and if you believe in an issue this would be the right place ;-)

[2018-06-13 19:37] lucperkins commented on #4216
@juliusv FYI I have this on my radar 👍

[2018-06-13 19:42] juliusv commented on #4219
@lucperkins My plan so far was to write this one myself, or do you think it's better if someone new to the project does it? Of course it'd be great to get a review in any case.

[2018-06-13 19:46] lucperkins commented on #4219
@juliusv @RichiH I've got this on my TODO list.

@krasi-georgiev One possibility might be something like this ["Code Organization"](https://apache.github.io/incubator-heron/docs/contributors/codebase/) doc that I put together for the Apache Heron documentation. Basically a high-level intro to the repo that points out important subdirectories and places in the code. Since it's mostly Go, links to t

[2018-06-13 19:47] civik commented on #3060
Yes, that is the 'intended' way.  The problem is that the labels might very much be needed, but is not relevant to query output and thus become 'garbage' or maybe a better term 'redundant.'

Take this fictional metric: `restarts_pod_total` with labels `cluster` `datacenter` `app` `namespace` and `pod`

Now I want to make a table visualization of this metric with a query like `restarts_pod_total{na

[2018-06-13 20:03] juliusv commented on #4219
@lucperkins Oh ok! So currently I have a work item open with the CNCF for me to do this and with much more detail planned than in https://apache.github.io/incubator-heron/docs/contributors/codebase/. It would dive into more detail about how each component works, how it connects to other components, and what assumptions there are (which might be difficult to derive from just reading code). Do you f

[2018-06-13 20:03] lucperkins commented on #4219
@juliusv I'm happy to leave that up to you, of course. One possibility could be that you give me a rough "braindump"-style Google doc and I can spin that into a more full-fledged doc plus the "drilldown" diagram that you mention.

[2018-06-13 20:07] juliusv commented on #4219
@lucperkins Sounds good to me, let's collaborate on it! I hope to start working on this by next week, maybe even before. What do you usually use for diagrams? We have been using https://www.draw.io/ so far, which maybe isn't as shiny as some desktop tools, but has the advantage that everyone can update diagrams no matter what their Desktop OS is, and without needing to install expensive software.

[2018-06-13 20:14] brian-brazil commented on #3060
That sounds like a feature request for Grafana.

[2018-06-13 20:27] civik commented on #3060
They'll tell me to make Prometheus fix it.  Anyway, this is just been something my users have been telling me so I thought I would push the feedback up.  Thanks!

[2018-06-13 20:46] juliusv commented on #3060
@civik One problem with `drop_common_labels()` was that depending on the day and phase of the moon, labels could sometimes be common, sometimes not. For example, you might have some other labels than `namespace` and `datacenter` on that `restarts_pod_total` metric that sometimes just take one label value (e.g. because no other pod exists yet, or something like that), and then those labels would al

[2018-06-14 00:31] lucperkins commented on #4219
@krasi-georgiev Agreed re: linking directly to code. GoDoc links are more sustainable, as the names for important structs/interfaces/constants/etc seem to be largely unchanging in the Prometheus code.

[2018-06-14 03:56] Misterhex opened #4269 "2.3.0 # Optional namespace discovery, only picking up the last namespace in yaml array."
## Bug Report
Upgraded from 2.2.1 to 2.3.0

**What did you expect to see?**
Optional namespace discovery still continue to pick up all namespaces provided.

**What did you see instead? Under which circumstances?**
Optional namespace discovery only seems to pick up the last namespace in namespace arrays.

[code]

**Environment**
Prometheus v2.3.0

[2018-06-14 06:37] brian-brazil commented on #4269
To be clear, you're saying that you're not getting any endpoints from the "monitoring" namespace?

[2018-06-14 06:43] Misterhex commented on #4269
@brian-brazil yes. no endpoints from monitoring, same configuration work for 2.2.1 but did not work in 2.3.1.

[2018-06-14 07:10] iksaif opened #4270 "Remote storage should not be used by federation"
Capturing IRC discussion:
[code]

[2018-06-14 07:39] brancz commented on #4269
@Misterhex could you share the whole config as well as the logs of the instance?

[2018-06-14 07:55] juliusv commented on #4219
Good idea, will keep that in mind for the public interfaces. Sometimes you can't avoid linking to code (a specific revision then) when it's about unexported internals that are important for devs.

@lucperkins It'd be great to get your help to get the TSDB doc that @krasi-georgiev linked into shape!

[2018-06-14 08:29] lucperkins commented on #4219
@juliusv @krasi-georgiev Let’s get it done 👍🏻

[2018-06-14 08:33] simonpasquier commented on #4269
I did a quick test and I happen to reproduce the issue :-/
I'll look into it...

[2018-06-14 08:36] krasi-georgiev commented on #4219
please ping me next week for the TSDB

[2018-06-14 08:59] tcolgate commented on #4254
I've set up an instance with a replica of the instance data, and the same polling configuration/rules.
The test instance is, rather predictably in these things, not seeing the spikes or crashing. The only up side of this that I can suggest is that this means it is /probably/ query related rather than recording rules.

[2018-06-14 09:33] tcolgate commented on #4254
Okay, so I am seeing RSS spikes. They seem start and build during compactions (just after the head chunks swap I think). During this time, scrapes slow too, cpu also spikes. I'll leave it running for a couple of hours and post the dashboards and inuse heap dump again.

[2018-06-14 09:47] simonpasquier commented on #4269
I've got a fix, just need to write some tests.

[2018-06-14 10:11] jojohappy commented on #4215
The first graph `Scrape delay (counts with 1m scrape interval)` represent the gap between two scrape process using expression `prometheus_target_interval_length_seconds{instance="$instance",quantile="0.99"} - $scrape_interval`, in my case the scrape_interval is `15s`

The second graph `Samples Appended per second` represent the speed rate of head sample append to tsdb using express `sum(rate(prome

[2018-06-14 10:27] jojohappy commented on #4215
I have submit a [PR](https://github.com/prometheus/prometheus/pull/4242) to improve this problem, but I also should do more and more testing to validate it.

[2018-06-14 11:17] tcolgate commented on #4254
What causes the head chunk GCs?

https://snapshot.raintank.io/dashboard/snapshot/UbLVei97syosvmaS19Gmzt7KSDbgLH7V

The first batch of head chunk GCs caused a large RSS spike, but it didn't occur on the next one.
Note, there are no active queries against this instance,  The steady state memory usage is considerably lower than what we saw during running 2.3.0 with our normal active query load.
This

[2018-06-14 11:29] brian-brazil commented on #4254
That's it performing compactions, see #4110. As it's RSS, that's likely the new mmaped blocks.

The GC didn't cause any noticeable memory increase.

[2018-06-14 11:37] flyingmutant commented on #3060
@juliusv can you please tell how to handle the (extremely common) situation @civik described?

[2018-06-14 11:38] y2sarakawa commented on #4205
Before #4185 (including v2.2.1), Prometheus does not dedupe properly. As a result, Grafana 5 draws Intermittent graph using irate().
After #4122 (including v2.3.0), Prometheus /series end points with remote reads (such as variables of Grafana 5 dashboards) do not respond correctly. As a result, Grafana's dashboards can not properly use query variables.
Finally, Users of Grafana 5 can not get a dec

[2018-06-14 11:57] tcolgate commented on #4254
Okay, looking at the current production 2.2.1, I am seeing RSS spikes on compaction (some of which are causing very occasional OOMs). So the production run issues with 2.3.0 seem more likely related to the query load then.

[2018-06-14 12:18] brian-brazil commented on #4110
In addition, could I get all the go memory metrics during the compaction spike?

[2018-06-14 12:20] kfdm commented on #3060
I believe you should generally use the "Legend Format" on Grafana
http://docs.grafana.org/features/datasources/prometheus/#query-editor
to show only the labels that you are interested in seeing

[2018-06-14 12:38] brian-brazil commented on #4254
Time to break out tcpdump and see what queries are hitting the main Prometheus then.

[2018-06-14 13:00] tcolgate commented on #4254
This instance is scrape by our long term storage
`GET /federate?match%5B%5D=%7Bjob%3D%22prometheus%22%7D&match%5B%5D=%7B__name__%3D~%22job%3A.%2B%22%7D&match%5B%5D=%7B__name__%3D~%22kpi%3A.%2B%22%7D&match%5B%5D=%7B__name__%3D~%22sli%3A.%2B%22%7D HTTP/1.0`
I tried a single call to that and that seems to have blown our the server.

[2018-06-14 13:00] free commented on #4254
@tcolgate: I am really eager to see you get to the bottom of this, but seeing how query load might be the root cause of your problems, just thought I would suggest [trickster](/Comcast/trickster) as a possible workaround (even after this issue is sorted out).

I'm not actually using it as my Prometheus instance gets relatively few queries, but it looks like it may be a good way of protecting Prome

[2018-06-14 13:06] henridf commented on #4219
@juliusv if you need more cycles i'd be happy to contribute, whether it's reading/editing, or writing portions relative to the pieces i'm more familiar with (which would currently be remote storage and `promql/`).

(It sounds like you already have a couple cooks, so totally ok if you'd rather not spoil the broth!)

[2018-06-14 13:09] brian-brazil commented on #4254
How many time series is that matching?

[2018-06-14 13:10] tcolgate commented on #4254
@brian-brazil  my first attempt to run our federation query against the 2.3.0 instance (which had been up for a good 4 hours), OOM'd the process. Subsequent federation calls after the restart seem to be fine. The number of TS returned from federate seems pretty stable at the moment. (4234 -> 4237 series)

[2018-06-14 13:12] tcolgate commented on #4254
Top 10 by `__name__` ```
    221 job:container_cpu_seconds_per_spec_cpus:ratio_rate1m
    221 job:container_cpu_seconds:rate1m
    223 job:container_memory_usage_bytes_per_spec_memory_limit_bytes:ratio
    223 job:container_memory_usage_bytes:sum
    223 job:container_spec_cpus:sum
    223 job:container_spec_memory_limit_bytes:sum
    223 job:container_start_time_seconds:max
    224 job:container_

[2018-06-14 13:14] tcolgate commented on #4254
@free I'll considering, I briefly looked at thanos too, to mitigate the need for a separate long term storage, but I think trickster + thanos + prom might be a little more complicated than I'm prepared to have to explain to anyone else.

[2018-06-14 13:37] brian-brazil commented on #4254
4k is not large in this context. There's something weird there with the sampleRing.

This seems like a performance issue on our end, no need to make drastic changes to your architecture.

[2018-06-14 13:41] tcolgate commented on #4254
@brian-brazil actually, rereading that heap dump, that's 6GB allocated by http.ServeHTTP, given that there are no other queries, other than the single (hanging) federate call, does that imply it has read 6GB of series data for  /federate

[2018-06-14 13:51] jojohappy commented on #4262
I predict that the `Remote storage` is stopped before `scrapeManager`. It is only closed the queue in the `QueueManager`, but it does not prevent new sample appended into `QueueManager`.

So should Prometheus make sure that `scrapeManager` must be stopped before all components?

[2018-06-14 13:53] brian-brazil commented on #4254
My best guess right now is that the TSDB is returning duplicate data points some times when it's being iterated over. This will require some deeper debugging.

[2018-06-14 13:54] brian-brazil commented on #4262
Yes, scrapes and rules should be shutdown before storage.

[2018-06-14 14:30] tcolgate commented on #4254
I've managed to trigger it again, got a allocs svg, but I don't think that is terriby useful (seems to be since the process started?)
[heap_allocs.svg.gz](https://github.com/prometheus/prometheus/files/2102715/heap_allocs.svg.gz)

There seems to be some kind of time/event element to this, but it doesn't obviously align with some other event having occurred. Basically, if I leave the thing alone fo

[2018-06-14 14:40] brian-brazil commented on #4254
This is smelling like a TSDB issue and it doesn't align with blocks, so it's probably chunks.

[2018-06-14 15:35] juliusv commented on #3060
Yep.

[2018-06-14 16:08] civik commented on #3060
@juliusv I'm not implying that `drop_common_labels()` is the right solution. Maybe this moves to more of a feature request.  It would be nice to have some mechanism to tailor the label output at query time, so as not to require this functionality in anything that consumes Prom data.

@kfdm Nope that only controls the legend naming.  The problem is that every Grafana panel is basically its own 'sub

[2018-06-14 16:16] civik commented on #3060
Super simple solution would be to allow the `without` keyword with any query and not just aggregations.

[2018-06-14 17:36] juliusv commented on #3060
I see, yeah, for Grafana tables the legend format doesn't help.

`sum without(all, the, common, labels) (x)` should actually work for every case if you know what labels are common. The `sum()` then doesn't actually do anything because every summing group has only one element and is left unchanged, but the common labels are dropped. Example: [http://demo.robustperception.io:9090/graph?g0.range_inpu

[2018-06-15 01:45] lae commented on #3972
Hi guys,

Maybe I'm missing something here, but wouldn't setting `display: inline-block;` for the `.label` class fix the wrapping issue? A quick test for me seems to show that's the case for me, but perhaps it's used elsewhere in a way this would cause an unintended side effect?

[2018-06-15 06:37] codwu commented on #4262
@jojohappy  As the log shows, this issue is caused by ruleManager. It did not stop rule evaluation after remote storage is stopped.

[2018-06-15 07:16] Stono commented on #3321
+1 to this, can we get it reopened?

[2018-06-15 07:33] jojohappy commented on #4262
@codwu Yes, It is. As @brian-brazil said, both `scrapeManager` and `ruleManager` should be stopped before storage. I will try to fix this bug.

[2018-06-15 10:50] brian-brazil commented on #4254
I've looked through the code changes on the federation codepath between 2.3.0 and 2.2.1, there's a few changes on the path but none of them seem plausible.

[2018-06-15 10:56] tcolgate commented on #4254
I've not been able to trigger a crash this morning as yet. I'll give it a try every 10 mins or so and see if I can get a trace during the crash, :crossed_fingers:

[2018-06-15 10:59] brian-brazil commented on #4254
I'm currently suspecting it's #4185. If you can reproduce again, try rolling that one back.

[2018-06-15 11:31] brian-brazil commented on #4254
Also if you could try the federate call without the {job="prometheus"}, to see if it's overlapping selectors that's the issue.